[2022-10-25 16:13] digital88 opened #4006 "Can't remove registered agent"
Agent version: 2.196.2
Platform: win-x64
OS: Microsoft Windows

When I try to remove existing agent by executing command "config.cmd remove" it crashes. Can you please tell me manual steps I need to do to completly remove agent, I want to reinstall this agent with different settings. This agent was registered by different user, maybe this is the cause of error.

Here is complete crash log:

[2022-

[2022-10-26 08:21] sergey-koryshev commented on #3974
@palladia you can use these packages: https://github.com/microsoft/azure-pipelines-agent/releases/tag/v3.212.0

[2022-10-26 09:17] digital88 commented on #4006
Ok, fixed it.

Step 1. Delete .proxyconfig
Step 2. In cmd do:
set VSTS_HTTP_PROXY=http://proxy-address:8080
set VSTS_HTTP_PROXY_USERNAME=username
set VSTS_HTTP_PROXY_PASSWORD=secret_password

Then run "config.cmd remove"

[2022-10-26 09:17] #4006 closed

[2022-10-26 15:47] pgunerud opened #4008 "Secure Variables are Showing in output"
## Agent Version and Platform
Version of your agent? 2.211.1 x64

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
Azure DevOps Server 2020 Update 1.1

If on-premises, which release? 2015.0, 2017.1, 2019 RC2, etc.
2020 Update 1.1

## What's not working?
I ran a pipeline that contains secure variables and set system.debug=true when looking at the inputs of a task the s

[2022-10-26 17:45] MrOwen commented on #2877
For all who come across this issue, here was my workaround:

* `$pipelineTags` is an array of strings representing the tags you wish to add. Populate this variable however you see fit.
* Ensure that your pipeline is granted API access and that the access token is passed into the script: https://learn.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#systemacces

[2022-10-26 19:58] ZimCanIT commented on #1677
Solved?

[2022-10-26 20:12] Bene-Graham commented on #3991
Extract File task still fails with ENOBUFS error. The workaround of executing bash to extract the file worked.

[2022-10-27 09:10] kirill-ivlev commented on #3914
@GeorgeFoxRazor we didn't receive your response, I will close this item as inactive, please re-open it if the issue is still actual for you.

[2022-10-27 09:10] #3914 closed

[2022-10-27 09:25] LiliaSabitova commented on #3993
Closing the issue because there is no answer.
Please re-open it in case of questions related to this topic.

[2022-10-27 09:25] #3993 closed

[2022-10-27 09:29] LiliaSabitova commented on #3930
Hi @ closing this one as inactive - feel free to ask any other questions or let us know if it's still relevant for you.

[2022-10-27 09:29] #3930 closed

[2022-10-27 10:22] amasolini commented on #3993
Hi @LiliaSabitova , sorry for the late response, I haven't seen the notifications before.

Just to answer your question and for the record, I have never been able to make the agent work on that specific machine, but I did tried installing it under an Ubuntu 20.04, facing similar issues. I'm going to switch to Ubuntu again and i'll reopen the issue (changing the details).

[2022-10-27 11:03] LiliaSabitova commented on #3935
Spoke with VMSS team and got the answer that ARM64 architecture is not supported with elastic pools.
If you want to use ARM64 you will have to use self-hosted pools.
[Article about VMSS agents.](https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops#supported-operating-systems)

[2022-10-27 11:03] #3935 closed

[2022-10-27 11:20] KonstantinTyukalov commented on #1207
Hey everyone!
We are introducing new agent knob: `AGENT_IN_SECRET_LENGTH` which will let you not to mask short secrets.
You can specify values from `0` (all secrets will be masked as usual) to `4` (secrets shorten than 4 symbols will be ignored)
Also, negative values will mean masking all the secrets as usual.

example:
[code]

also it's available as environment variable.

This feature will be ava

[2022-10-27 11:59] BriceLag commented on #3935
I keep hope because of that annoncement:
https://azure.microsoft.com/fr-fr/updates/generally-available-arm64-support-in-aks/
So, the VMSS should support soon ARM64 :-)

[2022-10-27 12:59] geekzter commented on #3931
@cyberluke This [REST API](https://learn.microsoft.com/en-us/rest/api/azure/devops/pipelines/preview/preview?view=azure-devops-rest-7.1) performs a dry run. See also [runs](https://learn.microsoft.com/en-us/rest/api/azure/devops/pipelines/runs/run-pipeline?view=azure-devops-rest-7.1).

I'd like to close this issue as it is not agent related.

[2022-10-27 13:16] cyberluke commented on #3931
It is related to running Azure Agent on X86.

[2022-10-27 14:06] ida-greuelr commented on #3935
Alright, good to know. Thanks for the answer :)

[2022-10-27 20:00] vincentcastagna opened #4009 "Xamarin.Build.Download - Error : Cannot create a file when that file already exists."
## Agent Version and Platform

Using **"windows-2022"** as vmImage for the pool.

The exact issue on some agents is :

`[error]C:\Users\VssAdministrator\.nuget\packages\xamarin.build.download\0.11.0\buildTransitive\Xamarin.Build.Download.targets(52,3): Error : Cannot create a file when that file already exists.`

Version of your agent? 2.211.1

[code]

OS of the machine running the agent? Windows

[2022-10-28 13:40] DmitriiBobreshev commented on #4008
Hi @pgunerud thank's for the report! An agent using [SecretMasker](https://learn.microsoft.com/en-us/dotnet/api/microsoft.teamfoundation.distributedtask.expressions.evaluationcontext.secretmasker?view=azure-devops-dotnet) from ms, you can see [code here](https://github.com/microsoft/azure-pipelines-agent/blob/master/src/Agent.Sdk/Util/LoggedSecretMasker.cs), I tried to reproduce your error (as I c

[2022-10-28 15:41] DenisRumyantsev commented on #1207
@StingyJack I have tested that timestamps remain and are not affected by secret masking:

![image](https://user-images.githubusercontent.com/61472718/198677117-bd14f730-d0b8-49e7-852d-0c9058b7595b.png)

Also, please notice that the name of the variable is `AGENT_MIN_SECRET_LENGTH` , not `AGENT_IN_SECRET_LENGTH`

[2022-10-28 16:10] StingyJack commented on #1207
Yes and I notice the log is now totally useless as well.

That makes more sense but its not what @KonstantinTyukalov said it was called.

Which is not as important as that you are still missing the point. We dont want you to avoid masking secrets.  This solution makes the problem worse as it allows me to expose secrets directly instead of just inferring them indirectly.

We want you to avoid maski

[2022-10-28 18:15] BillyONeal commented on #3541
I have not seen this happen near as much recently but unless the product code is actually launching things at a lower priority I don't think this is truly fixed, as one of our workarounds right now is just using a much bigger machine than would otherwise be necessary.

[2022-10-28 21:37] kirill-ivlev commented on #4009
@vincentcastagna thank you for reporting that!
Could you please confirm that the same pipelines fail on one agent but work fine on another, depending on the selected agent?
Is it possible to share a minimal pipeline defenition that has this issue?

[2022-10-31 06:45] yeseo1018 opened #4012 "SSL issue deploying Self-hosted Windows agents"
## Agent Version and Platform
Version of your agent? 2.211.1

OS of the machine running the agent? Windows Server 2019 Standard

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/{organization}

## What's not working?
I'm trying to create an agent using
`./config --unattended --url https://dev.azure.com/{org name} --auth pat --t

[2022-10-31 09:28] BenH-Puregym commented on #3994
@vmapetr that's really great to know that it's a problem with ADO rather than us.
I'd love to provide the content you're asking for but it's one of those annoying issues that sometimes happen multiple times a day and then might not happen for 1-2 weeks.
Isn't that folder going to display the same as what I sent above or what you see in the pipeline output?

[2022-10-31 10:30] lukemaslany-next commented on #2877
@MrOwen I ended up with a similar workaround.  I constructed the JSON payload for my API call directly, rather than using the ConvertTo-Json.  Your solution does looks cleaner though, so I think I'll adopt that moving forwards.  :)

Interestingly the API documentation ([Tags - Add Build Tag](https://learn.microsoft.com/en-us/rest/api/azure/devops/build/tags/add-build-tag?view=azure-devops-rest-6.0

[2022-10-31 11:45] kirill-ivlev commented on #4012
Hi @yeseo1018!
Thank you for reporting this problem, based on the logs provided by you, seems that the problem is related to SSL protocol, could you please make sure that you enabled it on the destination machine?
You can check this article: https://learn.microsoft.com/en-us/troubleshoot/azure/active-directory/enable-support-tls-environment?tabs=azure-monitor%22%20%5Cl%20%22registry-strings

[2022-10-31 12:26] kirill-ivlev commented on #3948
@emi662002 Could you please confirm that this problem exists on the latest agent releases? 2.211.1 as an example?

[2022-10-31 13:40] ismayilov-ismayil commented on #3956
Hi @dstretch, thanks for your report.
We have updated the MinGit in Azure Windows agent
[https://github.com/microsoft/azure-pipelines-agent/pull/4000](url)

[2022-10-31 14:37] sergey-koryshev commented on #3889
I couldn't reproduce the issue on Macbook M1 (Monterey 12.6).

@dmccolloughOneGas, could you please attach logs of agent from folder `_diag` when agent update fails if you still experiences the issue?

[2022-10-31 14:52] Roman-Shchukin commented on #3998
HI @CraigCraig-jpeg do you have any updates?

[2022-10-31 15:01] MarsWangyang opened #4014 "Questions of getting a fresh new VM for each job in the pipeline (Microsoft-hosted agent)"
## Agent Version and Platform
```2.211.1```

OS of the machine running the agent?
```Windows 2022```

## Azure DevOps Type and Version
dev.azure.com

If on-premises, which release? 2015.0, 2017.1, 2019 RC2, etc.
```https://dev.azure.com/marswang0522/```

## What's not working?
1. **Agent machine question**: I looked for the doc and found out that it describe a feature of Microsoft-hosted agents is

[2022-10-31 15:33] VladimirKhvostov opened #4015 "v3.212.0 throws NullReferenceException"
## Agent Version and Platform
Version of your agent? v3.212.0

## Repro
See discussion at https://developercommunity.visualstudio.com/t/Secure-file-download-throwing-Object-ref/10183848?sort=newest&scope=follow&viewtype=all which have an easy repro steps.

The issue was introduced in the https://github.com/microsoft/azure-pipelines-agent/pull/3973/

Thanks,
--Vladimir

[2022-10-31 18:34] kirill-ivlev commented on #4015
@VladimirKhvostov Thank you for reporting it, we will have a look

[2022-11-01 08:06] kirill-ivlev commented on #4014
@MarsWangyang thank you for reaching us!

1. Yes this is just the hostname of the provided virtual machine.
2. For the job sequences and order you can check in [this article ](https://learn.microsoft.com/en-us/azure/devops/pipelines/process/runs?view=azure-devops#process-the-pipeline)

[2022-11-01 08:13] MarsWangyang commented on #4014
@kirill-ivlev Thank you for such a quick reply.
I just check the IP address of two different Agent Jobs and I think it should be different VMs between two Agent Jobs even if they used the same image, just using the same hostname? or it actually use VMSS to scale out/in so the name would be identical but  IP addresses of both Agent Jobs are different.

[2022-11-01 10:36] lkt82 commented on #3994
Hi we am seeing this behavior on AKS/KEDA setup as well.

For us it's easily provoked by querying 20+ pipelines runs

[2022-11-01 12:15] sergey-koryshev commented on #3887
The feature has been implemented via PR https://github.com/microsoft/azure-pipelines-agent/pull/3907

[2022-11-01 12:15] #3887 closed

[2022-11-01 14:43] amanica commented on #1749
I wanted to do the below, but can't and I don't see an alternative :'(

        - template: my-template.yml
          condition: always()

[2022-11-01 15:23] sergey-koryshev commented on #3999
@vivuu1989 could you please provide  link to documentation you followed?

[2022-11-01 15:26] vivuu1989 commented on #3999
Here is the document.

https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#linux

On Tue, 1 Nov, 2022, 6:23 pm Sergey Koryshev, ***@***.***>
wrote:

[2022-11-01 20:55] dstretch commented on #3956
This is great news, thank you!

[2022-11-01 23:33] yeseo1018 commented on #4012
I have enabled tls1.2 on the machine and also checked with AzureDevOpsTls12Analysis.ps1 script

following is the result

[code]

[2022-11-02 00:08] shzshi opened #4017 "self hosted agent error on the AKS cluster 1.22.15"
## Having issue with software on Hosted Agent?
I have self hosted agent using ubuntu 18.04 docker image and it worked fined on the AKS (1.19.x) , but last week I upgraded the my aks cluster to 1.22.15 my ADO agents are failing with error below

The SSL connection could not be established, see inner exception.

## Have you tried troubleshooting?
I tried to troubleshoot by creating a new docker agen

[2022-11-02 09:31] LiliaSabitova commented on #4015
PR: https://github.com/microsoft/azure-pipelines-agent/pull/4018

[2022-11-02 10:11] emi662002 commented on #3948
I get the same error with v2.210.1 I guess my script is not updating to the latest (beta ? )

agent v2.210.1             |_|          (commit fae6a0b)

Building sources from a TFVC repository requires accepting the Team Explorer Everywhere End User License Agreement. This step is not required for building sources from Git repositories.
A copy of the Team Explorer Everywhere license agreement can b

[2022-11-02 12:13] kirill-ivlev commented on #4017
Hi @shzshi thank you for reporting that.
Could you please share exception details (agent log, could be found in _diag folder), and specify agent version.

[2022-11-02 12:14] kirill-ivlev commented on #4012
@yeseo1018 thank you for details, we will have a look on this issue

[2022-11-03 03:33] artagame commented on #838
I don't think they will ever have this feature :(

[2022-11-03 10:46] KarenTazayan commented on #2931
Hi everyone,

Any news about this topic?

I really need it to run official **docker:dind** images as build agents in Azure Pipelines. Especially when .NET 6 is officially supported on Alpine.

[2022-11-03 10:52] KarenTazayan commented on #1319
Hi everyone,

Any news about this topic?

I really need it to run official **docker:dind** images as build agents in Azure Pipelines. Especially when .NET 6 is officially supported on Alpine.

[2022-11-03 14:27] DmitriiBobreshev commented on #4014
Hi @MarsWangyang. As you rightly pointed out, two jobs are independent in one pipeline with an ms-hosted agent, so every job has its own new VM (but they use [the same image](https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml)), they could have the same hostname as well, but not necessary.

We can't say what is under the hood(VMSS or another scale ba

[2022-11-03 15:15] MarsWangyang commented on #4014
Hi @DmitriiBobreshev
Thank you for the explanation.

[2022-11-03 15:15] #4014 closed

[2022-11-03 16:19] dmccolloughOneGas commented on #3889
@sergey-koryshev I just updated the agents on our Mac build server. Must have been something I was doing wrong the first time. It updated today without an issue.

Please close the ticket.

Thanks for the help.

[2022-11-03 16:19] #3889 closed

[2022-11-04 02:27] yeseo1018 commented on #4012
@sergey-koryshev I have tried the following command result was
[code]

[2022-11-04 08:50] sergey-koryshev commented on #3974
@palladia can you please confirm that the package works correctly on your RHEL 9 environment?

[2022-11-04 09:31] sergey-koryshev commented on #4012
@yeseo1018, could you please run follow command in Powershell and post output here:

[code]

[2022-11-04 11:22] LiliaSabitova commented on #4015
Merged to master and dotnet6-agent branches

[2022-11-04 11:22] #4015 closed

[2022-11-04 23:44] BrunoBlanes commented on #3974
@sergey-koryshev can confirm it does solve the problem for me on CentOS Stream 9.

[2022-11-06 07:03] wertzui commented on #3124
Up

[2022-11-06 17:41] mkArtak commented on #3919
One of my self hosted agents wasn't starting. Checked the logs and have a similar issue. The agent was running fine up until this point. Checked the PAT and it's not expired. So not sure what can be the cause.

[2022-11-06 17:45] mkArtak commented on #3919
Turns out this was due to clock mismatch between the AZDO servers and the agent VM time. The clock has changed today but the VM didn't update the time yet. So fixing the clock resulted in the agent to start up successfully again.

[2022-11-07 00:21] yeseo1018 commented on #4012
@sergey-koryshev, following is the output

[code]

[2022-11-07 08:50] AdFizaine opened #4035 "Agent (v2.211.1) fails to connect to Azure DevOps"
## Agent Version and Platform
Agent version : v2.211.1
System : Debian 9
Node version : v16.18.0
Dotnet version : v3.1.424

## Azure DevOps Type and Version
dev.azure.com (cloud)

## What's not working?
After having run the shell "bin/installdependancies.sh", and having tried to configure without root, the connexion to Azure failed.

The PAT defined in the configuration is correct and has the corr

[2022-11-07 08:51] DmitriiBobreshev commented on #4008
Hi @pgunerud  do you have any updates?

[2022-11-07 10:51] DmitriiBobreshev commented on #4035
Hi @AdFizaine, thank's for reporting, as I see on the first screen you didn't finish the config, after credentials should begin the pool configuration(see screen)
![image](https://user-images.githubusercontent.com/106314398/200288833-a97523dc-02ab-41fb-a3aa-3014e5acf6db.png)
Did you somehow send sigterm signal?

Also, the agent could not be configured under root rights, except in cases when you se

[2022-11-07 11:24] actionthomas opened #4036 "Agent 2.213.0 won't start (Azure Devops Server / Self Hosted agents on Windows)"
After an upgrade to 2.213.0 on my Azure Devops Server 2020.1.1 installation, all my agents refuse to start anymore.
No file is created in their _diag folders.
Here is the error message I get in the Windows Application event log:
`
Description: A .NET Core application failed.
Application: Agent.Listener.exe
Path: E:\agent\bin\Agent.Listener.exe
Message: Error:
  An assembly specified in the applica

[2022-11-07 12:40] AdFizaine commented on #4035
Hi @DmitriiBobreshev , I canceled the configuration because I was stuck after having entered my PAT.

Here you have my files and folders :
![image](https://user-images.githubusercontent.com/117632077/200311461-c3e2db48-aa53-4a23-9e1d-689ca29577f6.png)

The file ".agent" is missing in my case.

[2022-11-07 13:09] DmitriiBobreshev commented on #4036
Hi @actionthomas! Thank you for reporting, we will check the issue and fix it

[2022-11-07 13:28] DmitriiBobreshev commented on #4035
@AdFizaine the file ".agent" contains information about server name, pool and creating [after](https://github.dev/microsoft/azure-pipelines-agent/blob/releases/2.211.1/src/Agent.Listener/Configuration/ConfigurationManager.cs#L456) ".credential" file. in your case probably something happened between these steps, could you please reconfigure the agent and attach the log file from the _diag folder if

[2022-11-07 13:43] AdFizaine commented on #4035
Here is my last log file :
[Agent_20221107-133740-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/9952102/Agent_20221107-133740-utc.log)

[2022-11-07 14:38] Roman-Shchukin commented on #3998
Hi @CraigCraig-jpeg , close this issue. Feel free to ask any other questions or let us know if it's still relevant for you.

[2022-11-07 14:38] #3998 closed

[2022-11-07 15:03] DmitriiBobreshev commented on #4035
Thank you for providing the log file. As I can see the process exited without any logs or smth. It possibly could be an error with directory access or smth.
To be sure that this is the problem with the agent, could you please make a clean install from a non-root user?
Here is the one-line script to install the agent and run the config, if you don't mind, could you please run it and configure the a

[2022-11-07 15:21] AdFizaine commented on #4035
I tried to make a clean install with a non-root user.

Here is my folders with rights :
![image](https://user-images.githubusercontent.com/117632077/200346792-98df94eb-7702-4d94-a976-463e2a5d3e8d.png)

And here is my log file :
[Agent_20221107-151538-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/9953000/Agent_20221107-151538-utc.log)

[2022-11-07 16:48] DmitriiBobreshev commented on #4035
@AdFizaine, thank you for the fast response. Checked you steps on Debian 9 VM, everything sems fine, but in your case seems like first connection to server runs well, but after that second connection won't happen. Are you using some NAT/firewall? Maybe in this case something block the connection.

Also, you mentioned that under the root user, could you please explain it in more detailed how you pa

[2022-11-08 15:49] AdFizaine commented on #4035
I successfully configured the agent (v2.211.1) with a root user, and run it.

But when I start my pipelines below, the job do nothing.

Here is my pipeline :
[pipelinetest.txt](https://github.com/microsoft/azure-pipelines-agent/files/9962857/pipelinetest.txt)

Here is my CLI :
![image](https://user-images.githubusercontent.com/117632077/200610278-855db4fb-4889-4ecc-9b30-8dc06226a846.png)

And here

[2022-11-08 16:03] dbzowkakpmguk commented on #3968
any update on that ?

[2022-11-08 16:43] DmitriiBobreshev commented on #4035
@AdFizaine, the problem is the same as with configuring the agent, looks like dotnet 3.1 hanging with your set up for some reason, we're trying to find the reason, but could you try [pre-release version](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v3.212.0) to make sure that the updating dotnet to 6 version will resolve the problem?

[2022-11-08 19:11] vivuu1989 commented on #3999
@sergey-koryshev , Yes, you are right, I was referring some wrong package and that caused the issue. But After that I could successfully create the deployment with the package 2.170.1 vsts agent but faced below issue.

We were able to successfully add the deployment to Azuredevops Agent pool and could execute the pipeline on them by following the [Microsoft docs][1]. But Its throwing strange error

[2022-11-08 23:25] QuinnDamerell commented on #3834
How is this still an open issue? When is this going to get resolved?

[2022-11-09 08:46] sergey-koryshev commented on #4012
Hi @yeseo1018, thank you for your answer, please try to enable best practices in application [IISCrypto](https://www.nartac.com/Products/IISCrypto)

- download and open it on affected machine
- click on button `Best Practices` at the bottom of window
- make sure to check `Reboot`
- and click button `Apply`

Once your computer is rebooted please try to run `config` script again.

[2022-11-09 09:11] DmitriiBobreshev commented on #4036
Hi @actionthomas we just released [agent 2.213.1](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.213.1) where the problem is solved, could you please check that everything is fine now?

[2022-11-09 09:15] DmitriiBobreshev commented on #4035
You're welcome, So in total it's the problem with .net 3.1, we continue investigating this. Thanks for participating! I'm closing the issue now. Please feel free to reopen it/create new tickets if you'll have some questions.

[2022-11-09 09:15] #4035 closed

[2022-11-09 10:26] actionthomas commented on #4036
Hi @DmitriiBobreshev
Version 2.213.1 works in my environment, problem solved!

[2022-11-09 10:32] DmitriiBobreshev commented on #4036
@actionthomas, thank's for participating! In this case, I'm closing the issue now, please feel free to reopen/create a new issue if you'll have some questions

[2022-11-09 10:32] #4036 closed

[2022-11-09 12:38] sanderdam commented on #3922
Just out of curiosity...
The AgentService project targets .Net Framework 4.5.
Are there plans for also migrating this to .Net6?

[2022-11-09 20:07] palladia commented on #3974
Sorry for the late response.  V3.212.0 does work with RHEL 9.  Thanks.

[2022-11-10 00:16] yeseo1018 commented on #4012
@sergey-koryshev I have tried that earlier by myself and it did not work.
Did once again with other version and still no luck.

[2022-11-10 08:17] sergey-koryshev commented on #3974
@BrunoBlanes, @palladia okay, thank you for confirmation. I'm closing the issue as mitigated. Feel free to reopen it or create a new one.

[2022-11-10 08:17] #3974 closed

[2022-11-10 11:35] asos-bryanharveysmith opened #4049 "Unable to deploy Linux hosted agents"
Starting from Saturday 5 November we have been unable to provision DevOps self-hosted agents to Azure.

The error shown for the resource group deployment is:
VM has reported a failure when processing extension 'Microsoft.Azure.DevOps.Pipelines.Agent'. Error message: \\\"The status reported by the extension Microsoft.VisualStudio.Services.TeamServicesAgentLinux-1.22.0.0(Sequence number 1972), was i

[2022-11-10 12:03] DmitriiBobreshev commented on #4049
Hi @asos-bryanharveysmith, thank you for reporting, could you please share some more info about the issue?
Like some logs from agent/agent version/agent log/file or string that could not be parsed?

We had some troubles with[ 2.213.0](https://github.com/microsoft/azure-pipelines-agent/issues/4036), so, in case your agent version is 2.213.0, please use version 2.213.1.

[2022-11-10 12:51] asos-bryanharveysmith commented on #4049
Hi, thanks for replying.

We're using Azure VM Scale Scale sets.

I have now managed to successfully deploy it. I spotted that not all of the instances in the VMSS were using the latest version of the model. I manually deleted those instances and then re-ran our deployment pipeline. This then completed successfully and I can see that we are using version 2.213.1 of the extension.

[2022-11-10 13:05] DmitriiBobreshev commented on #4049
@asos-bryanharveysmith, as I understood correctly now everything is fine? By any chance did you notice what versions were on the problem instances? Thanks

[2022-11-10 14:46] daniel-anova opened #4050 "Agent doesn't wait until docker is ready before accepting container jobs"
## Agent Version and Platform
Version of your agent? 2.213.1

ubuntu 20.04 image built of [runner-images commit f6632ff5](https://github.com/actions/runner-images/commit/f6632ff53b24db9705c5b15bf90dbf05cc3fe295)

## Azure DevOps Type and Version
dev.azure.com/anovateam/

## What's not working?

As [reported here](https://developercommunity.visualstudio.com/t/Agent-in-VMSS-gets-assigned-job-before-

[2022-11-10 16:15] arp-mbender opened #4051 ""Authentication failed because the connection could not be reused" when trying to use "integrated" authentication"
## Agent Version and Platform
2.181.2 running on Windows

## Azure DevOps Type and Version
Azure DevOps Server 2020 Update 1.1

## What's not working?
Attempting to register agent with authentication "negotiate" fails with the error:
`Authentication failed because the connection could not be reused.`

### Context:
I'm setting up some Docker-based pipeline agents for our internal DevOps server. Cur

[2022-11-11 14:00] igaw opened #4054 "build agent doesn't show up when installed via the Extension API."
## Agent Version and Platform
v2.213.1

OS of the machine running the agent?

Debian-11

## Azure DevOps Type and Version
https://dev.azure.com/linux-nvme

## What's not working?
Build agent doesn't show up when installing it via the Extension.

When registering the agent by hand:

[code]

the agent is correctly registered and everything seems to work. Though, when I try to install the agent via t

[2022-11-11 14:28] igaw commented on #4054
I must have been blind, I just saw that the log contains:

  `[2022-11-11 13:39:20Z WARN VisualStudioServices] Authentication failed with status code 401.`

But I have not idea why the PAT token works when registering by hand.

[2022-11-11 15:01] igaw commented on #4054
Comparing the dot config file left behind from the Extension (*.orig) against the `config.sh` step by hand, shows this:

[code]

[code]

[code]

The `.credentials_rsaparams` file is missing in the Extension install step.

[2022-11-11 17:01] igaw commented on #4054
BTW, the PAT token is with all rights and from my account as admin and I am using it for both ways to register the agent. So I think we can ignore this part.

Some more experiments and starring at the logs and  the main difference I could see is how the `poolID` is gathered. In the good case we end up with the `poolID = 24`:

[code]

and in the bad case it is `poolID = 14`:

[code]

[2022-11-11 17:05] igaw commented on #4054
This would boil down to the fact that the `Configure` JSON input differs here:

good case:

[code]

bad case:

[code]

[2022-11-11 17:30] igaw commented on #4054
I've destroyed my pool and created it again. I noticed that the warning which I ignored so far:

![image](https://user-images.githubusercontent.com/1050803/201396170-64484780-82a0-42b9-a799-60fb398f21bf.png)

So it looks like I might have an old pool in my system from my previous experiments which will be found using the `ProjectName` approach. Because the new pool got the id 25.

[2022-11-11 17:42] igaw commented on #4054
The agent is still able to register to pool 14 even after I delete all pools I could find in the UI. So the question is how do I delete this hidden pool?

[2022-11-11 18:17] igaw commented on #4054
Deleted the origination, created a new one but still get the warning and the agent gets not registered (some authentication error) Though this time the pool id is 13. So something has changed.

[2022-11-11 22:32] danysp21 opened #4055 "Error trying to run ./svc.sh install (systemd-escape: command not found)"
### ****Agent Version and Platform**
**Version of your agent?****

`vsts-agent-rhel.6-x64-2.163.1`

**OS of the machine running the agent?**
`Red hat 6`

### **Azure DevOps Type and Version**
`dev.azure.com`

### **What's not working?**

[code]

An attempt was made to execute the command to generate the service but these errors appeared, apparently this file is not compatible with the version of R

[2022-11-12 18:25] lonevvolf commented on #3560
This is not stale

[2022-11-12 19:04] PaulVrugt commented on #1506
Not stale, just lack of response from Microsoft

[2022-11-12 19:04] PaulVrugt commented on #3629
Not stale, just lack of response from Microsoft

[2022-11-14 10:03] yirmio commented on #3560
We are facing the same issue in all our new VMSS pools.
Sometimes almost 40% of the new agents are failing on this error.
Is there any plan to fix this issue?

[2022-11-15 09:08] KonstantinTyukalov commented on #4051
Hi @arp-mbender, thank you for the information provided, let us investigate it

[2022-11-15 09:16] arp-mbender commented on #4051
Just to add a bit more context - the agents are currently set to perform only one job and then docker containers get re-created in order to keep the test environment clean. However this requires the agents to re-register each time they're restarted, which in turn means they need a valid PAT on each re-run. Since this is all in-house I'd much rather use the integrated security (or, if possible, hav

[2022-11-15 14:12] mwmccallum opened #4058 "Windows Docker Agent not Removed on Container stop"
the start.ps1 documented has a finally clause that should run upon exit from the run.cmd. However, the windows agent is never removed from the Pool. Linux agent version in docker removes itself from Pool just fine upon exit.

[code]

It doesn't appear that this finally section runs at all. The Linux version has a small timer delay, maybe there needs to be some type of delay for remove task to run.

[2022-11-16 08:19] echalone commented on #1506
we need a bot for this ^^

[2022-11-16 15:03] brunomartinspro opened #4060 "Bug in Azure DevOps Deployment Groups Target UI - Script still generates with svc.sh but that file is not present in the release"
## What's not working?
When creating a deployment group with a target for a linux machine the generated script does not match the current state of the released packages.

What is the correct way of running the agent in a linux machine?

Deployment Group Target:
![TargetUI](https://user-images.githubusercontent.com/7645736/202217474-0590a68b-80e8-4364-95d4-37e14a61a2d9.png)

Script Execution Error:

[2022-11-16 16:18] brunomartinspro commented on #4060
Found the answer at https://github.com/microsoft/azure-pipelines-agent/issues/3218#issuecomment-768548584

[2022-11-16 16:18] #4060 closed

[2022-11-16 19:51] MisinformedDNA commented on #3835
In my case, the services hadn't started or had stopped on the VM.

[2022-11-16 20:23] danysp21 commented on #4055
Hi how are things,

Apparently `systemd` is not compatible with the version of the operating system that I have rhel6.

I think that in this version they use the `upstart`

[2022-11-16 21:43] ismayilov-ismayil commented on #3579
Hi @strtdusty, sorry for late response. I am trying to reproduce your issue. Meanwhile do you have a chance to check same pipeline with Microsoft hosted agent

[2022-11-17 03:01] strtdusty commented on #3579
Unfortunately, we need private vnet access so it cannot be a hosted agent.

[2022-11-17 11:07] LiliaSabitova commented on #3931
Hi @cyberluke,
As the repository is open source, it's possible to compile and run Agent on any of the systems.
But we have the [list of supported systems](https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops&tabs=browser#install), [Windows ](https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops#check-prerequisites) and [Lin

[2022-11-17 11:07] #3931 closed

[2022-11-17 12:30] #4009 closed

[2022-11-17 15:22] ismayilov-ismayil commented on #3579
@strtdusty could you share your pipeline yaml file?
Please, remove passwords, tokens and any confidential data from files

[2022-11-17 17:12] egg-r commented on #3887
@sergey-koryshev , I see that the feature has been implemented in the mentioned PR/Issue.  However, It's not working for me when disabling Tags in UX.  I see the below debug message, and then the args where --tags is added when --no-tags is what's desired.

##[debug]Unexpected checkout option 'fetchTags'

Using latest ADO agent

[2022-11-17 22:21] edgariscoding opened #4062 "ng build Command Line task fails on 2.213.1 but succeeded on 2.211.1"
## Agent Version and Platform
Agent version: 2.213.1
Platform: Ubuntu 22.04.1
Image: ubuntu-22.04 (20221027.1)

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/CiraConnect

## What's not working?
`ng build` failing in command line task
The task runs for like 40 minutes before being killed by the agent. It used to take about 6

[2022-11-18 06:39] mouninevis222 opened #4063 "Azure-Pipelines-deployment group windows agent issue"
## Agent Version and Platform
Version of your agent?
2.192.0
OS of the machine running the agent?
Windows
what is your organization name?
https://{organization}.visualstudio.com
## What's not working?
Please include error messages and screenshots.
2022-11-17T11:19:34.6519176Z Creating artifacts directory: C:\azagent\A1\_work\r1\a
2022-11-17T11:19:34.6607205Z Failed to create Release artifact direc

[2022-11-18 12:58] vmapetr commented on #4063
Hi @mouninevis222, thanks for reporting!
Could you please provide more detailed information about your issue like demo project or repro steps?
Do you use hosted or self-hosted agent?

[2022-11-18 14:40] vmapetr commented on #4062
Hi @edgariscoding, thanks for reporting! We are working on more prioritized issues at the moment but will get back to this one soon.

[2022-11-18 15:47] BenH-Puregym commented on #3994
Hi @vmapetr, have you had much luck in finding the cause? We're still getting the error multiple times a day every so often.

[2022-11-18 17:27] KonstantinTyukalov commented on #4055
This seems to be the problem reported earlier - https://github.com/microsoft/azure-pipelines-agent/issues/2117
Let us check what we can do here

[2022-11-18 22:08] #4062 closed

[2022-11-19 05:26] danysp21 commented on #4055
Thanks for the answer, when I carry out all the steps indicated in the link, at the end when I want to start the service `service az4 start` the following appears:
`Process terminated. Couldn't find a valid ICU package installed on the system. Set the configuration flag System.Globalization.Invariant to true if you want to run with no globalization support.
   at System.Environment.FailFast(System

[2022-11-19 06:49] danysp21 commented on #4055
I solved the problem by adding the following line in the `Agent.Listener.runtimeconfig.json` file:
[code]
 now the `service az4 start` command works but even so I see that it continues to be executed by the user and if I close the connection the process crashes.
Is there something else I should do?

This is how it stays in the message

[code]

[2022-11-19 11:27] akoeplinger commented on #3276
@anatolybolshakov I see there was a PR that referenced this issue, is that enough to implement this or are we still missing something?

[2022-11-20 02:33] paul-ri opened #4065 "Feature request: Allow setting working directory for container jobs to allow DooD (docker outside of docker) correct path mapping on host"
## Agent Version and Platform
* Agent version: `2.213.2`
* OS of the machine running the agent: Linux:ubuntu-latest

## Azure DevOps Type and Version
* dev.azure.com: https://dev.azure.com/NHSGGC/MDU

## What's not working?

A feature request & maybe a bug:

1. I'd like to set the working directory of my container jobs to something else than the currently unchangeable `/__w/1/s` folder. Ideally ma

[2022-11-20 10:02] #3656 closed

[2022-11-21 07:26] ismayilov-ismayil commented on #3353
Hi @sphanley, thank you for your contribution.
After my tests it seems that we will not have significant change with different options on http.version parameter. Due to git client uses smart protocol, the performance is closer to HTTP/2
Regarding your second suggestion to implement feature flag for checkout command parameters - if there is not any tag the checkout speed will same, if there is, it

[2022-11-21 07:26] #3353 closed

[2022-11-21 08:08] KonstantinTyukalov commented on #4054
Hi @igaw, thanks for the reporting! We'll look into the issue once we've dealt with the higher priority tickets

[2022-11-21 09:20] DmitriiBobreshev commented on #4008
Hi @pgunerud, I'm closing the task due to inactive, please feel free to reopen it in any case of the problem.

[2022-11-21 09:20] #4008 closed

[2022-11-21 09:59] igaw commented on #4054
FWIW, I did some more experiments and recreated my complete setup but now I fighting with a new problem. The Extension is not able register anymore. This step worked flawlessly before. Maybe I did something wrong in the recreation bits. I'll try again.

[2022-11-21 10:05] vmapetr commented on #4065
Hi @paul-ri, thanks for your request!
We've added this issue to our backlog. We'll take a look at it once we have enough capacity.

[2022-11-21 13:14] #3705 closed

[2022-11-22 07:28] sergey-koryshev commented on #3999
@vivuu1989, sorry for late answer. Do you still experience the issue?

Issue with `PublishBuildArtifacts` occurs due to the fact that the task was run on wrong version of `Node` by some reasons. It requires `10` or `16` version but logs says it was picked up `Node` of version `6`. To further investigation we need to see full logs of agent and example of YAML of affected pipeline. Can you please at

[2022-11-22 08:11] sergey-koryshev commented on #4012
@yeseo1018 sorry for late answer, do you still experience the issue? If yes, you can follow next steps:
- check you firewall settings; try to disable it and see if the issue persists
- try to flush DNS by command `ipconfig /flushdns` and restart the PC
- check `Event Viewer` to see if some issues appears during agent configuration script

To understand the root of the issue I thinks we need to ana

[2022-11-22 08:41] coveritytest commented on #2043
Sigh, this approach does not work anymore:

`/tmp/docker: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.32' not found (required by /tmp/docker)`
`/tmp/docker: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.34' not found (required by /tmp/docker)`

[2022-11-22 08:53] kamronbatman commented on #2043
I went from testing 12 flavors/versions of linux and windows, to just windows because of this exact reason.
It doesn't work at all and it doesn't seem like Microsoft has anyone that can fix this.

[2022-11-22 08:55] coveritytest commented on #2043
It did work here until today, I guess something has changed in ubuntu-latest.

[2022-11-22 08:57] kamronbatman commented on #2043
Yeah, the same thing that killed Fedora and Debian support a few months ago. I suppose I could roll/maintain my own sudo-installed docker images and host them on docker hub, but that is a shitload of work to just build/test my open source project.

If anyone knows of ready-to-run images that are regularly maintained, that would be amazing.

[2022-11-22 10:15] xkszltl commented on #2043
Debian 11 and Ubuntu 20.04 are on libc6_2.31, and 2.35 for Ubuntu 22.04, so I guess latest has been moved to 22.04?

[2022-11-22 10:31] coveritytest commented on #2043
@xkszltl Thanks, you're right. debian:bullseye indeed works with ubuntu-20.04.

[2022-11-23 10:58] arp-mbender commented on #4051
@KonstantinTyukalov I don't think this is a "question". It's a clear bug as I can reproduce this outside of docker.

[2022-11-23 15:05] Kaloszer commented on #3968
Az version is 7.5.0 - that's a bit outdated - even the current wiki does not allow you to view such an old version. Would you mind updating the whole package?
![image](https://user-images.githubusercontent.com/62133917/203579726-e4ff6b30-9a30-4250-8179-352edff06c2c.png)
![image](https://user-images.githubusercontent.com/62133917/203579815-4ae9bebc-0847-47be-b996-17ca0faa2cb8.png)

[2022-11-23 17:28] Manbearpiet commented on #3834
https://github.com/microsoft/azure-pipelines-agent/releases/tag/v3.212.0

There is a .NET 6 based pre-release agent.

[2022-11-23 17:53] QuinnDamerell commented on #3834
@Manbearpiet thanks! When that is ready for prime time, will the existing dotnet core 3.1 agents get updated automatically? Or will we need to manually update them?

[2022-11-23 20:44] Manbearpiet commented on #3834
It depends, please read the second link carefully. Hope this fixed it for you

[2022-11-24 08:29] sergey-koryshev commented on #3948
@sam-crisp, @emi662002 could you please try to use pre-release of .NET 6 version of agent and see if it resolves the issue? https://github.com/microsoft/azure-pipelines-agent/releases/tag/v3.212.0

We saw alike issue which was related to the fact that `.NET 3.1` hangs on some environments by some reason. Did you tried to configure agent on fresh installed `Ubuntu 20.04`?

[2022-11-24 08:38] dbzowkakpmguk commented on #3968
@Kaloszer if I only know how :)

[2022-11-24 12:08] sergey-koryshev commented on #4017
@shzshi to investigate the issue further we need to look at logs of agent, because we need to see inner exception. You can ask an owner of your AKS cluster to do it if you don't have an access to it.

[2022-11-25 09:00] emi662002 commented on #3948
this is what I get installed right now
ubuntu 20.04
agent v2.213.2             |_|          (commit 4f90e68)

btw, im using this https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#create-and-build-the-dockerfile-1

i will try to change the script to download the pre-release...

[2022-11-25 09:00] emi662002 commented on #3948
this is what I get installed right now
ubuntu 20.04
agent v2.213.2 |_| (commit https://github.com/microsoft/azure-pipelines-agent/commit/4f90e68aaafa0393021e8330f2d0bc7c0697be0b)

btw, im using this https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#create-and-build-the-dockerfile-1

i will try to change the script to download the pre-release...

[2022-11-25 10:06] emi662002 commented on #3948
I can confirm, this works with the given pre-release.
When can we expect this release to be available as latest?

[2022-11-25 10:59] Harish334363 commented on #3938
We are also facing the same issue after we update the agent to 2.198. Previously it was good. But we need this version for DotNet6. Please someone help me with the quick fix for this issue. We struggling alot.

Thanks

[2022-11-25 15:16] daniel-anova commented on #4050
We've seen had to move our VMSS agents to another region (northcentralus) and now occasionally encountering the `2022-11-25T15:04:15.3090540Z ##[error]File not found: 'docker'` error even with the previous workaround.

[2022-11-25 15:25] LiliaSabitova commented on #3997
Adding @khkbc to the issue.
You can subscribe on the right pane to get the notifications.

[2022-11-25 16:15] ceilingfish commented on #3579
Reproduced with the following pipeline:

[code]

hangs indefinitely. However the following executes just fine:

[code]

[2022-11-25 16:27] tinylabspace commented on #3579
I'm still following this thread because I still have users that end up in this situation. The user experience would improve if the YAML validation simply failed when a user tries to save a pipeline that uses a reserved word for a stage name.

If that can't be done because users might be using an external editor to edit the pipeline it might be better if the pipeline run failed immediately. Possibl

[2022-11-25 22:35] StingyJack commented on #1207
@DenisRumyantsev @KonstantinTyukalov @anatolybolshakov @alexander-smolyakov  - I pointed out that your proposed solution creates an even larger problem than was being reported, and you have nothing to say in the last month?

I really hope that you are not still considering this AGENT_SECRET_MIN_LENGTH as viable, because nobody asked for you for a knob that let us expose any secrets. We asked you t

[2022-11-26 11:02] #3841 closed

[2022-11-26 12:03] #2598 closed

[2022-11-26 20:45] johnwc commented on #3991
The correct workaround is to change `- task: ArchiveFiles@2` to `- task: ArchiveFiles@2.206.0` in your pipeline, forcing the pipeline agent to use the previous version. Though, I do not think this is needed as of today, as I believe they rolled out a fix for this already.

[2022-11-26 20:45] #3991 closed

[2022-11-27 19:56] ismayilov-ismayil commented on #3579
Hi @ceilingfish and @tinylabspace,  thanks for your feedback.
I will check and revert back soon.

[2022-11-28 12:35] ivanduplenskikh commented on #3885
Hi, @arvindgorur.
Thanks for your report.
It's happened due to features of [Environment.GetCommandLineArgs Method](https://learn.microsoft.com/en-us/dotnet/api/system.environment.getcommandlineargs?view=net-7.0#remarks), especially:
`Command line arguments are delimited by spaces. You can use double quotation marks (") to include spaces within an argument. The single quotation mark ('), however, d

[2022-11-29 02:48] vmapetr commented on #3968
Hi @dbzowkakpmguk - sorry for the delayed response,
The AZ modules are populated during the VM image generation - https://github.com/actions/runner-images/blob/5dd62e7a08dcaede9085450c86c4643f482f9803/images/win/toolsets/toolset-2022.json#L88, and this repo is related to the AzDO tasks and their execution, so could you please create an issue for https://github.com/actions/runner-images repo?

[2022-11-29 08:28] MirKml commented on #3851
I will try again next week (I hope)

[2022-11-29 09:09] dbzowkakpmguk commented on #3968
https://github.com/actions/runner-images/issues/6650

[2022-11-29 09:09] #3968 closed

[2022-11-29 17:16] Harish334363 commented on #3938
Thanks @murcek
Working for me. Am so happy now

[2022-11-29 17:35] Meandron opened #4070 "Multiple checkouts on self-hosted agents results in error"
## Agent Version and Platform
2.213.2

OS of the machine running the agent?
Ubuntu

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/PDPQ-DMP

## What's not working?
We plan to migrate from Microsoft-hosted agents to self-hosted agents.
With MSFT agents, we checked out the git repository (-> in our DMP Project) by using:

[code

[2022-11-30 13:28] sergey-koryshev commented on #3948
@emi662002 we are currently testing agent based on `.NET 6` but unfortunately I can't say you when it will happen. You can check [roadmap](https://learn.microsoft.com/en-us/azure/devops/release-notes/features-timeline) and related [blog post](https://devblogs.microsoft.com/devops/upgrade-of-net-agent-for-azure-pipelines/) to get more information.

Let me to close the issue as mitigated, feel free

[2022-11-30 13:28] #3948 closed

[2022-11-30 14:15] darrellnorton commented on #3001
I just ran into this issue as well and the instructions above are not complete.

To remove a deployment agent using a PAT:
Name:  whatever you want
Organization:  select "All accessible organizations" from the dropdown
Expiration:  whatever you want (recommend a short expiration due to the permission grant, or revoke the PAT after you use it)
Scopes:  select the "Full access" radio button

I tried

[2022-11-30 15:18] lvasco commented on #3452
Hi @alex-peck i have the same problem in the download of universal package but i use proxy and agent in with version 2.213.2

[2022-11-30 17:27] max-zaytsev commented on #4070
Hi @Meandron Thanks for reporting this.
We are currently working on higher priority issues. But we'll get back to that soon.