[2017-03-29 10:24] bryanmacfarlane commented on #885
Not really an agent issue - more of our hosted image, but we'll take it :)

Thanks for reporting.

[2017-03-29 10:54] bryanmacfarlane commented on #884
The agent doesn't have anything to do with dotnet.  It's a task runner.

If you're using hosted, you need to pick the hosted 2017 queue, not hosted.  If you're running a private agent, ensure it has the full 2017 tool set installed.

Finally, the in the VSBuild or MSbuild task in your def, pick VS 2017 in the dropdown to use.

[2017-03-29 10:54] #884 closed

[2017-03-29 11:40] hsommer opened #886 "Add a recursive checkout tab for submodules"
We would like to be able to unset the recursive checkout for submodules implemented in version 2.114.0 of the agent.
Please follow the discussion on this topic here:
https://github.com/Microsoft/vsts-agent/pull/690#issuecomment-290057905

[2017-03-29 11:41] bryanmacfarlane commented on #886
Ting, let's add

[2017-03-30 00:04] duckwaffle commented on #884
@bryanmacfarlane if you had read the title of my submission, you would see that that I am using the hosted queue, and not using a private agent. You would also see that the issue I am experiencing is ONLY on the 2017 queue, not the older queue. Clearly there is something up with the way the 2017 agent is configured, unless I'm completely missing something?

[2017-03-30 02:31] bryanmacfarlane commented on #884
There's 3 things:
- the agent ( this repo ) which is a task runner.  No knowledge of tools, image etc
- tasks: the things that run the tools
- the image: the vm with everything installed like vs etc ( the hosted 2017 image )

I'm simply pointing out it's not an issue with the agent application ( thus repo ).

You should create the issue in the vsts-tasks repo.

[2017-03-30 03:38] nigurr opened #888 "Build agent is crashing randomly"
Using the latest agent. Can't repro but when it gets crashed occasionally, the stack goes like this.

[code]

[2017-03-30 03:43] nigurr commented on #882
Wouldn't it be good to provide lib function in `vsts-task-lib` to write message by escaping it. I am not sure what's the `query string escape` in this context, is it [QueryString](https://nodejs.org/api/querystring.html) Api?

[2017-03-30 03:46] nigurr commented on #883
@k3flo are you running build agent and test agent on same machine? This is currently not-supported scenario.

If you are using different test agent machine, please can you let us know the Test Agent version and Attach the Event Viewer logs?

[2017-03-30 03:51] TingluoHuang commented on #888
@nigurr do you have any chance take a process dump? what OS is this agent running on? what kind of cpu x64 or x86?

[2017-03-30 04:05] nigurr commented on #888
I don't have process dump. I will collect it later (missed it).
Windows 10 x64

[2017-03-30 04:11] acesiddhu commented on #888
@TingluoHuang this looks similar to what I have reported in past. root stack might be different but the top of the frame is same. Is there a known issue in net core for this

System.Diagnostics.StackTrace.GetStackFramesInternal(StackFrameHelper sfh, Int32 iSkip, Boolean fNeedFileInfo, Exc
eption e)
   at System.Diagnostics.StackFrameHelper.InitializeSourceInfo(Int32 iSkip, Boolean fNeedFileInfo, E

[2017-03-30 12:22] PBoraMSFT commented on #871
@robinhultman - being able to run tests when Test platform is obtained through the Test Agent is on the backlog.

[2017-03-30 14:15] TingluoHuang commented on #888
@nigurr @acesiddhu
have you guys try the latest version agent?
we used to have this to workaround a bug in the agent code.
[code]
In the latest version agent, we fix the real bug and delete that workaround.
I would like to see whether you can still repro with latest agent before i open an issue in coreclr.

[2017-03-30 19:29] TingluoHuang commented on #688
We published a doc about this.
https://www.visualstudio.com/en-us/docs/build/troubleshooting#git

[2017-03-30 19:31] TingluoHuang commented on #454
2.114.0 agent is build on netcore 1.1 which contains the fix.

[2017-03-30 19:31] #454 closed

[2017-03-30 19:48] ericsciple commented on #121
This was for tracking and the junction point work was done. The lack of retries doesn't seem to be hindering us so so closing for now.

[2017-03-30 19:48] #121 closed

[2017-03-30 20:02] TingluoHuang commented on #792
Base on the feedback we got from Customer Support, you should got unblocked by updating libcurl on the box. please reopen if your problem didn't goes away.

[2017-03-30 20:02] #792 closed

[2017-03-30 20:03] TingluoHuang commented on #787
please reopen if update libcurl doesn't help.

[2017-03-30 20:03] #787 closed

[2017-03-30 20:04] TingluoHuang commented on #765
Please reopen if you still hit this problem.

[2017-03-30 20:04] #765 closed

[2017-03-30 20:06] TingluoHuang commented on #753
Please reopen if you still hit this problem.

[2017-03-30 20:06] #753 closed

[2017-03-30 22:11] TingluoHuang commented on #698
Close as the original problem has be solved.

[2017-03-30 22:11] #698 closed

[2017-03-31 02:43] IkeStarnes opened #890 "Leaf path not found: 'D:\Agent2\Agent\Worker\Microsoft.TeamFoundation.DistributedTask.MSBuild.Logger.dll'"
## **Agent version and platform**
2.114.0

<br>
Windows Server 2012

<br>
## **VSTS type and version**
On perm TFS 2015

## **What's not working?**

Build always fails.

## **Agent and Worker's diag log**

Task         : Visual Studio Build
Description  : Build with MSBuild and set the Visual Studio version property
Version      : 1.0.26
Author       : Microsoft Corporation
Help         : [More In

[2017-03-31 03:49] acesiddhu commented on #888
@TingluoHuang I was using 2.112.0 version. I will give latest version a try now

[2017-03-31 12:47] k3flo opened #891 "vstest.executionengine.exe has stopped working"
Dear Microsoft Team,

after you sugessted not executing the integration tests on the build server (https://github.com/Microsoft/vsts-agent/issues/883)  I set up a new VM where our application, the tests agent and the tests binaries gets deployed. The deployment works fine but when the tests gets executed the test runner is always crashing after some time (it is mostly running about 70 minutes).
Th

[2017-03-31 12:49] k3flo commented on #883
@nigurr yes were running the build and test agent on the same machine. We moved the test agent to another machine but now we are facing another error with the testrunner (https://github.com/Microsoft/vsts-agent/issues/891). The test runner crashes every run after some time.

[2017-03-31 12:50] #883 closed

[2017-03-31 13:39] TingluoHuang commented on #890
@IkeStarnes
base on https://github.com/Microsoft/vsts-agent#supported-usage
Windows should always use the agent coming with TFS.

[2017-03-31 13:39] #890 closed

[2017-03-31 14:39] ericsciple commented on #890
Ting's analysis still applies in this case, but minor correction to his statement: Windows should always use the agent coming with TFS, *against TFS 2015*

[2017-03-31 19:17] #725 closed

[2017-03-31 19:18] TingluoHuang commented on #891
@nigurr Where should be point the customer to? doesn't seems to be a build agent issue.

[2017-04-02 22:40] ericsciple commented on #844
@mfergusonPM9 the agent doesn't add VS140COMNTOOLS as an env var.

[2017-04-02 22:43] ericsciple commented on #810
@jessehouwing I copied the PublishExtension folder out of the zip using Windows Explorer and there is no x86 folder under the the Linux 7zip node modules folder. I'm on win 10

Is the zip malformed?

[2017-04-02 22:47] ericsciple commented on #810
![image](https://cloud.githubusercontent.com/assets/12102068/24591647/be8cbae8-17d4-11e7-9627-f3bbdf48e12f.png)

[2017-04-03 01:19] #844 closed

[2017-04-03 01:21] mfergusonPM9 commented on #844
@ericsciple Thanks -- Correct, as I stated above, it was included previously as part of the VS install. Starting with VS 2017, this variable is no longer added to the machine environment. This change poses a bit of a challenge for migrating scripts while still being agnostic to the VS installation location, but I think the work-around provided by @TingluoHuang will work well. Thank you!

[2017-04-03 01:58] TingluoHuang commented on #843
@madhurig @thechrisjohnson
Is the Java installed on VS2017 Hosted Image? do we have plan to fix it?

[2017-04-03 02:20] ericsciple commented on #844
Oh, sorry, you are right. I misread.

Also VS publishes powershell cmdlets now too. The COM API the agent queries is the V1 COM API and sometimes it doesn't pickup an installation that had some errors but is largely usable (launches). The V3 COM API would be better to call. We need to switch the agent to use the V3 API (or vswhere, or the new official cmdlets) but haven't yet.

[2017-04-03 02:56] ericsciple commented on #844
If the agent carried vswhere.exe, it would probably be for internal usage only (by agent). Typically the agent doesn't carry external binaries for consumption by tasks or end user scripts, because then it's stuck carrying the binary forever lest it break compat. It also makes it hard to switch version that it carries (if the interface of the external binary changes, then also breaks compat for tas

[2017-04-03 03:32] mfergusonPM9 commented on #844
That makes sense, but the product is called Visual Studio .. Agent. :) It feels a bit obtuse that a user would need an external binary or work-around to detect the installation path for Visual Studio. With that said, it's not like the issue is insurmountable... but it also doesn't really lend itself well to automation for the product it is trying to target. My $0.02.

[2017-04-03 03:39] ericsciple commented on #844
Hah, good point. I'll fwd on to appropriate folks. I think making capabilities accessible to tasks/scripts is the clean path forward (future work, I don't have a timeframe).

[2017-04-03 04:01] nigurr commented on #891
Please point to vsts-task repo for these issues.

@k3flo can you please file here https://github.com/microsoft/vsts-tasks/issues

[2017-04-03 06:19] ericsciple commented on #780
PR https://github.com/Microsoft/vsts-agent/pull/894

[2017-04-03 06:21] k3flo commented on #891
@nigurr thank you, I created an issue in the other repo.
https://github.com/Microsoft/vsts-tasks/issues/3926

[2017-04-03 06:21] #891 closed

[2017-04-03 06:41] jessehouwing commented on #810
The ia32 and x64 were missing when running on a Unix agent.

On Apr 3, 2017 00:47, "ericsciple" <notifications@github.com> wrote:

[image: image]
<https://cloud.githubusercontent.com/assets/12102068/24591647/be8cbae8-17d4-11e7-9627-f3bbdf48e12f.png>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/Microsoft/vsts-agent/issues/

[2017-04-03 06:54] ericsciple commented on #810
Sorry I'm confused. Is there supposed to be an x86 folder? That's the path you specified above, and I don't see one present when I unzip with Windows Explorer.

[2017-04-03 06:57] jessehouwing commented on #810
None of the executable folders were extracted. I passed along the log from
a colleague MVP and mixed in some of my windows-ness it seems.

On the windows agent the executable folders were extracted. On Linux they
were not.

On Apr 3, 2017 08:54, "ericsciple" <notifications@github.com> wrote:

[2017-04-03 07:02] ericsciple commented on #810
The agent was updated recently to net core 1.1 (in the 2.114 or 2.115 agent), so that may be fixed now. I haven't searched the net core repo for an issue, so not sure.

[2017-04-03 07:35] jessehouwing commented on #810
I've since worked around it, cause the marketplace doesn't eat zip files
created on Linux by 7z.if they now get extracted as they should, then
that's nice for future tasks.

On Apr 3, 2017 9:02 AM, "ericsciple" <notifications@github.com> wrote:

[2017-04-03 07:39] ericsciple commented on #810
How was the zip created when the Linux agent was unzipping it incorrectly?

[2017-04-03 07:43] jessehouwing commented on #810
Tfx-cli

On Apr 3, 2017 9:39 AM, "ericsciple" <notifications@github.com> wrote:

How was the zip created when the Linux agent was unzipping it incorrectly?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/Microsoft/vsts-agent/issues/810#issuecomment-291069873>,
or mute the thread
<https://github.com/notifications/unsubscribe-

[2017-04-03 14:58] TingluoHuang commented on #886
#887

[2017-04-03 14:58] #886 closed

[2017-04-03 21:12] JamesNK opened #898 "Multiple agents on the same machine using tf.exe can lead to getting sources failure"
A build is intermittently getting this error when fetching source from TFS:

[code]

Copied from https://github.com/Microsoft/vsts-tasks/issues/3853

[2017-04-03 23:24] GaTechThomas opened #899 "ASCII bell character in test causes vsts-agent to fail to publish results."
## **Agent version and platform**
Agent version: 2.112.0
Agent machine OS: Windows Server 2012 R2
## **VSTS type and version**
VisualStudio.com
## **What's not working?**
Switching from vstest v1 to v2 fails to publish test results with warning

"Failed to publish test results: '', hexadecimal value 0x07, is an invalid character."

The special character is "\a", which is an ASCII bell/alert chara

[2017-04-04 00:40] TingluoHuang commented on #899
@nigurr

[2017-04-04 00:52] #833 closed

[2017-04-04 03:37] nigurr commented on #899
Please close the issue here - ref https://github.com/Microsoft/vsts-tasks/issues/3932

[2017-04-04 03:49] #899 closed

[2017-04-04 17:13] erendrake commented on #880
This is working for us now that 2.115 as been deployed. I think we can close this?

[2017-04-04 17:16] TingluoHuang commented on #880
@erendrake Cool, glad you unblock.

[2017-04-04 17:16] #880 closed

[2017-04-04 17:32] TingluoHuang commented on #695
try use curl hit you TFS AT directly from your Redhat box.
curl -v http://<yourtfs>:8080/tfs/_apis/distributedtask/pools --ntlm -u domain\\user1:<password>
make sure CURL works on that box, since the dotnet core just use libcurl on Non-Windows platform. you may want to try update libcurl and curl to latest version.

[2017-04-04 17:35] TingluoHuang commented on #700
@russelldyas try out the latest released agent since we consume dotnet core 1.1, they may improve their reliability, the error is coming from KERNELBASE.dll which the agent doesn't carry.

[2017-04-04 17:35] #700 closed

[2017-04-04 20:50] ericsciple commented on #898
If you can catch it while system.debug is set, the logs will have more details.

[2017-04-05 04:51] RangerDjanger opened #901 "Unconfig remove service registration should be best effort"
## **Have you try trouble shooting doc?**
Yes

## **VSTS type and version**
On-Prem TFS
<br>
TFS 2017.1
<br>
## **What's not working?**
Attempting to reconfigure an agent after the public TFS URL has changed. Is there a way to change the TFS URL with the agent once configured? Where is it stored?

Tried to run config remove but it cannot find the TFS endpoint and fails.

config.cmd remve
Removing

[2017-04-05 13:30] ericsciple commented on #901
What do you mean you have to manually remove the Windows Service? The Windows service is uninstalled before the attempt to remove the TFS server registration (in console output above `Removing Service` appears to have successfully happened and then failed removing from server).

We do plan to make unconfig best effort if fromving TFS server registration fails. What you can do for now is delete the

[2017-04-05 22:18] CodeCasterNL opened #902 "Installing Visual Studio Test Agent 2017 removes MSBuild capability"
## **Agent version and platform**
Agent 2.112.0 on Windows Home Server 2011 (don't ask).

## **VSTS type and version**
TFS 2017 Express Update 1 on-premise. Also installed the following products:

* Visual Studio Community 2017
* Visual Studio Build Tools 2017
* Visual Studio Test Agent 2017

In that particular order. All three having version number 15.0.26228.12.

## **What's not working?**
Build

[2017-04-05 22:24] ericsciple commented on #902
A workaround is to use the MSBuild task and specify the path to msbuild

[2017-04-05 22:30] ericsciple commented on #902
Currently the agent doesn't distinguish between multiple side-by-side installs of VS 2017. Fwd'ing along to appropriate folks so they can consider the scenario and plan according. This is feature level work, not bug fix. Closing the issue here since we don't track the backlog here.

Let me know if I've missed something, but that sounds like the root of the problem (doesn't support side-by-side VS

[2017-04-05 22:30] #902 closed

[2017-04-06 05:19] RangerDjanger commented on #901
Hi Eric,

The windows service in my case wasnt actually being removed from services. I had to manually remove it.  I did realise that I could have just edited the .agent file and changed the URL.

Proposed functionality sounds great.  Thanks!

[2017-04-06 05:35] RangerDjanger opened #903 "Ship VSTS-Agent with TFS Installer"
As of TFS 2017, the vsts-agent is no longer packaged with the TFS installer, and to install the agent, internet access is required. This has now caused some major issues with more secure customers that do not permit internet access.

1) What was the reason behind removing the vsts-agent from being packaged into TFS installer and updates - consdering that the download URL is fixed to a specific age

[2017-04-06 05:44] RangerDjanger opened #904 "Agent install failure: VS30063: You are not authorized to access https://tfs"
## **Have you try trouble shooting doc?**
Yes

## **Agent version and platform**
Agent Version: 2.105.7
Windows Server 2012 R2
<br>
## **VSTS type and version**
TFS 2017.1
<br>
## **What's not working?**
Recently upgraded TFS from TFS 2017 RTM to TFS 2017.1.   Build agents were previously working.  After upgrade agents were no longer running.

This has been tested in both our TFS Test environment

[2017-04-06 07:27] nanddobanjo commented on #461
I'm still having an issue relating this http://stackoverflow.com/questions/43236497/references-not-included-in-vsts

[2017-04-06 14:02] TingluoHuang commented on #903
@RangerDjanger
One reason that I know is package size.
today we have 5 agent packages for each platform.
[code]
if we put all of them into the TFS installer, means the size of the installer will increase almost 300MB.
I believe the current installer is only 600MB, so i don't think we are allowed to do it.

@bryanmacfarlane @chrisrpatterson for correction.

[2017-04-06 14:05] TingluoHuang commented on #904
@RangerDjanger have you check your TFS AT's event log, is there any error around the same time you configure the agent? Can you try to collect Fiddler trace from the agent machine?

[2017-04-06 14:09] bryanmacfarlane commented on #903
Internet access is not required from the server or build machine.

You download the agent and put it on a thumb drive from another internet accessible machine.  Just like you did to acquire tfs itself.  Even though the tfs machine didn't have internet access you downloaded it from some machine, correct?

Go to github agent repo, releases tab and download from an internet enabled machine.  Put it o

[2017-04-06 14:11] #903 closed

[2017-04-06 14:28] bryanmacfarlane commented on #461
Have you tried the vs2017 queue on your definition?  Are you using vs2017?

[2017-04-06 14:39] nanddobanjo commented on #461
Yes I'm using VS2017 hosted agent

[2017-04-06 14:59] chrisrpatterson commented on #461
I don't believe we ahve the SQL Lite extension installed on those VMs and currently you can't install them yourself due to not being an admin.  We are working on a image update for next week that will include them.

[2017-04-06 15:06] bryanmacfarlane commented on #461
@nanddobanjo - We'll leave this issue open till you confirm you're good.

[2017-04-06 15:15] nanddobanjo commented on #461
Hi, maybe I had to open another issue, but it was related to this. I'm able to include the extensions I want using the solution posted in [here](http://stackoverflow.com/questions/37070617/could-not-find-sdk-sqlite-uwp-2015-when-building-uwp-application-using-hosted-tf). I have a local folder in my repo with the extensions I need (SQLCipher and PDFTron). The Host Agent does not complain about not

[2017-04-06 15:17] bryanmacfarlane commented on #461
We can solve some popular extensions like SQLLite but can't install all.  We have another feature to run hosted as admin so you could automate pulling any needed at beginning of build ...

[2017-04-06 15:23] nanddobanjo commented on #461
Yes I agree. I'm including my own SDKs in a local folder. I'm using currently this tweak in the csproj: ` <PropertyGroup>
    <SDKReferenceDirectoryRoot>..\SDKs\Microsoft SDKs;$(SDKReferenceDirectoryRoot)</SDKReferenceDirectoryRoot>
  </PropertyGroup>`

That makes the MSBuild agent to override the default location of the SDKs and go find first my PDFTron and SQLCipher libraries. Otherwise it yield

[2017-04-06 17:19] ericsciple commented on #901
OK I peeked through the code a little and it does not appear that removing the service is best effort. Do you have the agent diag log (under _diag folder) from when you tried unconfigure. If so please zip and send it to ersciple and I can take a look through it. Also do you remember which service name you manually removed? I'm curious whether it was actually the same agent.

[2017-04-06 17:21] ericsciple commented on #898
@JamesNK Does this only happen when using the hosted build agent? And do you have more than one hosted build agent?

[2017-04-06 17:28] #818 closed

[2017-04-07 10:31] peterg-ra opened #908 "Agent can't connect behind the corporate proxy (libcurl version is too old on Redhat)"
## **Have you try trouble shooting doc?**
Yes, nothing works

## **Agent version and platform**
2.111.1
2.115.0
<br>
OS of the machine running the agent?
RedHat Enterprise Linux 7.3
<br>
## **VSTS type and version**
VisualStudio.com
<br>

If VisualStudio.com, what is your account name?
Prefer not to share.
<br>
## **What's not working?**

We are trying to make the TFS agent work behind a corporate

[2017-04-07 13:16] bootrider commented on #898
I first installed the agent1, it shows this error, I had to manual perform a "get-latest version" operation in the workspace created by the agent, then I change the workspace to Server (a lot of projects and a lot of files).
then I run the following script in the build server:

[code]

now is working perfectly

[2017-04-07 14:22] ericsciple commented on #898
@bootrider it sounds like you are hitting a different issue (probably the [Get sources not downloading some files](https://www.visualstudio.com/en-us/docs/build/troubleshooting#team-foundation-version-control-tfvc) authz problem. If the doesn't resolve please open a separate issue.

[2017-04-07 14:40] elibarzilay opened #909 "artifact.upload sets FileShare.None"
(Agent version 2.105.3, running on Linux.)

I have some code that uploads a single file twice, once using `##vso[task.uploadsummary]` and another with `##vso[artifact.upload ...]`.  Once every few builds, this fails with

    ##[error]The process cannot access the file '...' because it is being used by another process.

My guess was that this is a result of locking the file for reading while the (

[2017-04-07 15:00] bootrider opened #910 "Get sources task does not work in a second Agent"
## **Have you try trouble shooting doc?**
yes I have.
## **Agent version and platform**
Version of your agent? 2.112.0/2.115.
OS:Windows
## **VSTS type and version**
TFS 2017 Update 1
## **What's not working?**
I installed the agent in a Windows Server 2012, Agent1 (Version 2.112) . After some troubles trying to get the sources and change manually the workspace from local to server, the builds in

[2017-04-07 15:03] ericsciple commented on #909
It looks like [this line](https://github.com/Microsoft/vsts-agent/blob/f30a79e1291c7430feadd9d5a8757fac6c9da401/src/Agent.Worker/Build/FileContainerServer.cs#L187) is the problem. Artifact.upload does `File.Open(string, FileMode.Open, FileAccess.Read)` which internally sets `FileShare.None`.

Task.uploadsummary is OK. It does `File.OpenRead` which internally calls `return new FileStream(path, File

[2017-04-07 15:04] ericsciple commented on #910
the agent currently doesnt support server workspaces

[2017-04-07 15:08] ericsciple commented on #910
Also, I'm trying to infer from the logs... did you map both agents to use the same _work folder. That is not supported. At one point we discussed during config the agent should write a file indicating that it owns the work folder (to prevent two agents from sharing). If we haven't implemented that yet, then it sounds like now is the time.

[2017-04-07 15:41] bootrider commented on #910
Each agent has it own work folder, the agent 2.112 is pointing to c:\_LIN2\ and the agent 2.115 is pointing to c:\_LIN4

[2017-04-07 16:00] ericsciple commented on #910
Oh ok gotcha, Sorry, I was confused.

Currently the agent doesn't support server workspaces and deletes the workspace if it's not local (for predictability). We attempted to switch the agent to use server workspaces for the performance gains, but it presented too many problems for downstream tasks (issue with readonly bit). What we need in the definition UI is an option for the customer to opt-in

[2017-04-07 16:01] ericsciple commented on #910
https://visualstudio.uservoice.com/forums/330519-team-services/

[2017-04-07 16:05] ericsciple commented on #910
@vijayma

[2017-04-07 16:05] bootrider commented on #910
Even though I try to use the local workspace, but it does not work.

[2017-04-07 16:07] bootrider commented on #910
Right now I am performing a "get latest version" action manually, and then I will try to queue a build and see what happened.

[2017-04-07 16:12] bootrider commented on #910
If I use a 1.x agent (I was using them with TFS 2015) with TFS 2017 update 1, the agent will try to get the workspace every time I queued a build (Imagine a 9Gb workspace)....so I am ....lost

[2017-04-07 16:15] ericsciple commented on #910
Ok I see now the error is:
[code]

Even though previous calls to query the workspace succeed.

Can you try using the 2x agent, don't change workspace from local to server, and just try mapping a really simple workspace that you know the build identity has access to retrieve (see [notes here](https://www.visualstudio.com/en-us/docs/build/troubleshooting#team-foundation-version-control-tfvc))?

If t

[2017-04-07 16:19] bootrider commented on #910
In the build machine I already have an Agent working(2.112), and the workspace of that agent is working with Server workspace(I changed manually), but it is not deleted.

[2017-04-07 16:54] bootrider commented on #910
I just disable any task and change the repository to a small folder, I got 2 successful builds. I am inferring that the issue is regarding the size of the workspace. because I setup the repository to the required folders, and again it fail

[2017-04-07 17:21] ericsciple commented on #910
Can you check the AT server event log for any error? I'll loop in Version Control folks to help troubleshoot.

[2017-04-07 18:13] bootrider commented on #910
I do not have enough permissions to check that log

[2017-04-07 20:06] #780 closed

[2017-04-07 21:17] bootrider commented on #910
Ok, I try this:
1. Queued a build (It fails, but creates the workspace)
2. Manually perform the same "tf vc get " command that the failed build try to perform (took about 1.3 hours)
3. Change the workspace to Server
4. Queue a new Build

[2017-04-09 09:39] JackyChiou opened #912 "./svc.sh install is always failed."
## **Have you try trouble shooting doc?**
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting
Yes. no useful information.

## **Agent version and platform**
Version of your agent? vsts-agent-osx.10.11-x64-2.115.0
<br>
OS of the machine running the agent? OSX
<br>
## **VSTS type and version**
VisualStudio.com
<br>
If On-Prem TFS, which release, 2015 RTM/QU1/Q

[2017-04-09 13:58] TingluoHuang commented on #912
@JackyChiou  what's your OSX version?

[2017-04-09 14:02] TingluoHuang commented on #912
@JackyChiou https://github.com/Microsoft/vsts-agent/issues/147
Try create the 'Library/LaunchAgents' folder yourself before run `./svc.sh install`

[2017-04-10 01:55] JackyChiou commented on #912
After created the folder, it's working. Thx

從我的 iPhone 傳送

Ting <notifications@github.com<mailto:notifications@github.com>> 於 2017年4月9日 下午10:02 寫道：

@JackyChiou<https://github.com/JackyChiou> #147<https://github.com/Microsoft/vsts-agent/issues/147>
Try create the 'Library/LaunchAgents' folder yourself before run ./svc.sh install

—
You are receiving this because you were mentioned.
Reply to this

[2017-04-10 01:56] #912 closed

[2017-04-10 01:57] JackyChiou commented on #912
JackyMacMini:~ devops$ cd library
JackyMacMini:library devops$ mkdir LaunchAgents
JackyMacMini:library devops$ ls
Compositions		LaunchAgents		VisualStudio

JackyMacMini:library devops$ cd ~/
JackyMacMini:~ devops$ cd vstsagent
JackyMacMini:vstsagent devops$ ./svc.sh install
Creating launch agent in /Users/devops/Library/LaunchAgents/vsts.agent.anisv.JackyMacMini.plist
Creating /Users/devops/Librar

[2017-04-10 07:22] andhie commented on #878
Sorry for the late reply.
Below is the diag when `export VSTS_AGENT_HTTPTRACE=true` with VSTS 2.115.0
Why is the RequestUri is in http? i used `--url https://tfs.company.com/tfs`

[code]

[2017-04-10 12:31] TingluoHuang commented on #878
@andhie
What's your server's public url configured at AT?
during config, you typed https, but after we add the agent to the pool, server tells us its url in on http://...
[code]

[2017-04-10 13:54] ericsciple commented on #912
@TingluoHuang should we create the folder if it doesnt exist?

[2017-04-10 14:07] TingluoHuang commented on #912
@JackyChiou quick thing to check, is there any part of the path is in localized language?
`/Users/devops/Library/LaunchAgents`
like. Users->用戶, Library->庫

[2017-04-10 15:33] ChristianSauer opened #915 "Bad Interaction between vsts-agent and aspnetcore-builds"
## **Agent version and platform**
Linux agents, on premise: TFS 2015

## **What's not working?**
We use the tfs agents to build aspnetcore apps. Unfortunately, the docker Containers of the build are running as ROOT (see here: https://hub.docker.com/r/microsoft/aspnetcore-build/~/dockerfile/).
Therefore, all files are created as root, but the Agent itself cannot as root.
When the Agent tries to rem

[2017-04-10 16:09] TingluoHuang commented on #915
@ChristianSauer  when you launch the docker image, can you run it as your instead of Root? you can add yourself to container by `docker exec useradd -m -u <UID>`

[2017-04-11 00:50] JackyChiou commented on #912
The path is No localized language. Plz refer the log I pasted. Thx

從我的 iPhone 傳送

Ting <notifications@github.com<mailto:notifications@github.com>> 於 2017年4月10日 下午10:08 寫道：

@JackyChiou<https://github.com/JackyChiou> quick thing to check, is there any part of the path is in localized language?
/Users/devops/Library/LaunchAgents
like. Users->用戶, Library->庫

—
You are receiving this because you were

[2017-04-11 02:23] RangerDjanger commented on #904
@TingluoHuang  the event log contains no data.  The fiddler trace does not pick up anything interesting about the requests from what I can tell.

I switched on Verbose logging and this did not provide any additional information to the stack trace listed above.

[2017-04-11 02:46] RangerDjanger commented on #904
@TingluoHuang I've narrowed down the issue to somewhere in this code.

// Testing agent connection, detect any protential connection issue, like local clock skew that cause OAuth token expired.
            _term.WriteLine(StringUtil.Loc("TestAgentConnection"));
            var credMgr = HostContext.GetService<ICredentialManager>();
            VssCredentials credential = credMgr.LoadCredentials();

[2017-04-11 02:55] RangerDjanger commented on #904
@TingluoHuang

On further investigation using Fiddler, I can now see the requests that are failing with 401.

_URL /_apis/connectionData?connectioOPtoins=1&lastChangeId=-1&lastChangeId64=-1_

Server is responding with 401 - Unauthorized: Access is denied to due invalid credentials.

Creds I'm using to run agent install are mine (TFS server admin, TPC admin).  Using Integrated. Have also tried usin

[2017-04-11 03:04] TingluoHuang commented on #904
@RangerDjanger
when you config we use your credential to acquire an OAuth token, the during agent running, we just use the OAuth token. can you send me the Fiddler trace to tihuang at microsoft.com ?

[2017-04-11 03:52] RangerDjanger commented on #904
Just solved this. I identified that IIS did not have Anonymous Authentication enabled.

[2017-04-11 03:52] #904 closed

[2017-04-11 08:41] ChristianSauer commented on #915
@TingluoHuang Yes, I could try that. But I would have liked to use the same mechanisms visual Studio uses (which generates the files). Also, currently the solution contains an "dockerproj", which causes a nonzero exitcode on Linux (fix is underway from MS, but not there yet). "up" can ignore that, but a docker run can not.

[2017-04-11 10:26] Dan-Co commented on #908
An update on this..

This definitely seems Red Hat related only.
We can confirm that both Windows and Ubuntu agents work fine behind the proxy firewall.

The version of libcurl is a lot lower on RHEL but is the latest available in the core repo, so we are not wantin gto upgrade this manually as there are no official sources.

Hopefully someone can assist here?

[2017-04-11 13:59] TingluoHuang commented on #908
@Dan-Co you can try setup a test Redhat box with Latest libcurl that build from source code just for testing?

[2017-04-11 15:42] bthomsons opened #917 "Get Sources always misses out a specific folder"
## **Agent version and platform**
Version of your agent? 2.112.0
<br>
OS of the machine running the agent? Windows 2016
<br>
## **VSTS type and version**
On-Prem TFS
<br>
If On-Prem TFS, which release,15.112.26307.0
<br>
## **What's not working?**

I have just set up TFS 2017 with a backup of our TFVC repository but when the build agent runs a build, at the get sources task, it **never** gets the

[2017-04-11 15:57] Dan-Co commented on #908
Hi @TingluoHuang - yes I can confirm that an updated libcurl does indeed work (I didnt create from source though at this time).

However official RHEL version is 7.29, and we can definitely still use curl form the command line behind the same proxy - so something in the way the VSTS agent uses curl is at fault?

VSTS agent officially supports RHEL so we are hoping that we can get a fix for this th

[2017-04-11 16:22] TingluoHuang commented on #908
@Dan-Co the agent is built on dotnet core, looks like dotnet core require newer version libcurl.
https://github.com/dotnet/corefx/issues/14614

[2017-04-12 01:10] MattGal opened #918 "DirectoryInfo.Delete() called with no args, throws IOException due to files present when trying to delete."
If you simply write some code that does the following, where somePath is a folder containing subfolders and files:

[code]
You will get the exact same exception listed below.  We're seeing this regularly in the "Get sources" step of our VSTS agent builds.  Upon inspecting the build agents, we do not find handles or processes still holding anything open on the workspaces used.  This is challenging

[2017-04-12 02:13] ericsciple commented on #918
can you try updating your agent. i fixed a bug in deletefiles related to symlinks iirc and i'm pretty sure it was after m109

you can update the pool from the admin pool page by right clicking the pool and updating all agents in the pool

[2017-04-12 02:24] ericsciple commented on #917
@bthomsons based on your description i'm led to believe you haven't tried the things i [mentioned here](https://github.com/Microsoft/vsts-tasks/issues/3992). can you confirm?

[2017-04-12 02:27] ericsciple commented on #910
@bootrider ok it sounds like you have found a workaround. it would be great if you can work with your administrator to check the AT event log.

closing the issue here. please reopen if you can find out more info to help us troubleshoot.

[2017-04-12 02:27] #910 closed

[2017-04-12 02:29] ericsciple commented on #888
@nigurr @acesiddhu assuming this is fixed. please reopen if it repros again with latest

[2017-04-12 02:29] #888 closed

[2017-04-12 02:32] ericsciple commented on #908
@TingluoHuang is this something we should attempt to detect (is it feasible and practical)? if not, should we add to troubleshooting?

[2017-04-12 02:33] ericsciple commented on #843
pinging offline for an update

[2017-04-12 02:49] ericsciple commented on #869
This is an issue with either the vsts-tasks repo or hosted image, not the agent (this repo). Closing the issue here.

[2017-04-12 02:49] #869 closed

[2017-04-12 02:50] ericsciple commented on #885
pinging offline to check the status of this

[2017-04-12 03:07] seven1986 opened #919 "Microsoft.VisualStudio.Services.WebApi.VssServiceResponseException: Redirect"
## **Agent version and platform**
vsts-agent-win7-x64-2.112.0
vsts-agent-win7-x64-2.114.0
vsts-agent-win7-x64-2.115.0
<br>
OS of the machine running the agent?
Windows 10 (Version:14393)
<br>
## **VSTS type and version**
On-Prem TFS
<br>
If On-Prem TFS, which release, 2015 RTM/QU1/QU2?
Microsoft Visual Studio Team Foundation Server
version:15.112.26307.0
<br>
## **What's not working?**
![image](ht

[2017-04-12 03:16] TingluoHuang commented on #919
@seven1986 can you try config against http:// instead of https://

[2017-04-12 06:45] seven1986 commented on #919
@TingluoHuang
http instead of https, than output:
[code]

this means I need to config IIS to  sopport http connection, am I right?

[2017-04-12 08:07] bthomsons commented on #917
hi @ericsciple when I run the tf vc get command on the server using the same credentials as the agent runs under, it gets the files. I also removed all specific permissions on that folder. It was the first thing I tried.

[2017-04-12 10:27] bthomsons commented on #917
One thing I didn't mention in my original question was that this was a migration from TFS 2013. I don't know if that would have had anything to do with it?

[2017-04-12 13:15] ericsciple commented on #918
Also 109 is pretty old at this point. Even if it's not the bug I'm remembering, there may have been other fixes.

[2017-04-12 13:18] ericsciple commented on #917
The agent doesn't communicate back to TFS as your service account. It uses the TFS-built-in build identity. Check permission for `Project Collection Build Service` or `Project Build Service` depending on the authz scope setting on your definition.

[2017-04-12 14:01] TingluoHuang commented on #919
@seven1986 it dependency on how is your TFS server configured. is the Tfs server configured with Https?
what url do you use when you connect through browser?

[2017-04-12 14:45] bthomsons commented on #917
I managed to solve this by clearing explicit permissions and turning inheritance back on. It's odd because I had set the exact same permissions explicitly e.g.

![image](https://cloud.githubusercontent.com/assets/20319781/24963592/ede41e84-1f96-11e7-9b58-35c3d6e20878.png)

'Project Build Service' didn't exist

[2017-04-12 15:06] thechrisjohnson commented on #885
Image is being released this week that disables this.

[2017-04-12 15:06] #885 closed

[2017-04-12 15:16] ericsciple commented on #917
Closing since this is resolved now

[2017-04-12 15:16] #917 closed

[2017-04-12 16:13] kevinbowman commented on #720
I get this issue with TFS 2015.  I think we had some sort of unplanned reboot over the weekend due to patching, and since that point most of our agents had this issue. It did not resolve itself over a period of days, and I have to remove and reconfigure each broken agent.  How do we flush down the sessions for agents.  For example, I have one agent that is running as a service, and will not start

[2017-04-12 16:44] MattGal commented on #918
@ericsciple that's a fairly large undertaking for us but I can broach it with my team.  However, even looking at the head of master yesterday the problem I call out (specifically that if ANY files exist in the directory you're calling DirectoryInfo.Delete() on the exact exception we're noting happens) would still happen if any contents existed in such a directory.  How can you be certain that this

[2017-04-12 18:20] #909 closed

[2017-04-12 18:36] elibarzilay commented on #909
@TingluoHuang -- thanks!  Is there any way to know which version this will be included in?  (So I can remove my ugly workaround?)

[2017-04-12 18:38] TingluoHuang commented on #909
@elibarzilay next release will have it. will goes out next week.

[2017-04-12 19:00] ericsciple commented on #918
It's only a right click from the web UI. Or do you have many pools, or very many agents that reverting to 109 in the event something goes wrong would be a big undertaking? Even with the change you are proposing, it will require an agent update anyway to get the change. So why not try latest version first?

I'm hesitant to blindly set recursive=true when I don't understand what is going on, no one

[2017-04-12 21:27] MattGal commented on #918
Understood, trying this now.  As I understand it, we have lots of builds we need to not break and basically the main resistance is the lack of an ability to roll back if a new agent version brings a new problem.  Since there's clearly a fix in Enumerate() I have good hope of this solving the problem.

[2017-04-13 04:11] andhie commented on #878
I'm not well versed in Azure or server configuration.
What is "AT"?
Do you have a guide or hint on where to look?

[2017-04-13 14:17] TingluoHuang commented on #878
@andhie on the machine you install TFS.
![image](https://cloud.githubusercontent.com/assets/1750815/25008667/629ddc06-2032-11e7-93af-20b3b1ef8051.png)

[2017-04-13 14:32] andhie commented on #878
I'm guessing the Public URL part is suppose to be the `https://tfs.company.com/tfs` in my case? as in the same value i pass in via `--url` when configuring agent

[2017-04-13 14:34] TingluoHuang commented on #878
i guess so, or you should have a bindings to https:// instead of http://

[2017-04-13 17:35] elibarzilay commented on #909
@TingluoHuang -- great -- thanks!

[2017-04-13 19:42] TingluoHuang commented on #908
https://github.com/dotnet/corefx/issues/18328
https://bugzilla.redhat.com/show_bug.cgi?id=1442220

[2017-04-14 15:24] TingluoHuang commented on #800
HttpPost:
[code]

[2017-04-14 15:24] #800 closed

[2017-04-14 15:26] TingluoHuang commented on #695
close as non-active issue, reopen if needed.

[2017-04-14 15:26] #695 closed

[2017-04-14 15:55] ericsciple commented on #898
@JamesNK I just [merged a fix](https://github.com/Microsoft/vsts-agent/commit/f492dce313cfd5420ee01216abb731a34421cb98) for a TFVC issue that affects folks using the multiple hosted build agent in parallel. I suspect this may be related to the error you are experiencing.

It would be great if you can confirm whether the bug you are seeing only manifests when using multiple hosted agents in paralle

[2017-04-14 15:57] ericsciple opened #923 "TFVC parallel hosted agent issue"
Due to non-unique machine names

[2017-04-14 15:57] #923 closed

[2017-04-14 15:58] ericsciple commented on #923
PR https://github.com/Microsoft/vsts-agent/pull/922

[2017-04-14 16:27] sahithreddyk commented on #695
Sorry for the delay, we had issues with CURL, then we have updated to latest version and issue was resolved few days back.
Thank you for the Suport

Ragards,
Sam

[2017-04-14 16:31] MattGal opened #924 "Warning for agent with lower than recommended Git Version should be optional"
## **Agent version and platform**
Version of your agent? 2.109.0
<br>
OS of the machine running the agent? Various.
<br>
## **VSTS type and version**
VisualStudio.com or On-Prem TFS? VisualStudio.com
<br>
If VisualStudio.com, what is your account name? http://devdiv.visualstudio.com
<br>
## **What's not working?**
This line:
https://github.com/Microsoft/vsts-agent/blob/700eb4cfe9767382f3262c18396e

[2017-04-14 18:17] TingluoHuang commented on #924
git 2.9 is required when clone git repository from on-prem tfs server. also there are lots of perf fix in recent git updates, would you like to take this chance to upgrade git on your build machine?

[2017-04-14 19:26] JamesNK commented on #898
Hi

In our case we are running two agents on the same Azure VM (with different Agent and working directories so they don't conflict with each other).

Is it the same bug?

[2017-04-14 19:40] ericsciple commented on #898
@JamesNK thanks for confirmation. Nope this sounds like a different bug.

I haven't heard of anyone else running into this issue. So my guess is that it has something to do with multiple agents on the same machine (running TFVC builds). I'll talk with folks from the version control team next week to see if they have heard of this issue.

Assuming the issue is related to multiple agents on the same

[2017-04-14 20:19] bootrider commented on #898
Unfortunately my issue is related to server workspaces​ ( at least i think that) so far i have installed 3 agents in the same machine. Every agent has it's own workspace folder and do not overlap each other

[2017-04-14 20:22] MattGal commented on #924
We don't use on-premises TFS servers, so yes I understand that doing what this warning says is one way to make it go away.  What's a reason to not allow the customer to suppress this?

[2017-04-14 21:14] TingluoHuang commented on #924
it's just a recommendation and something we want to bring your attention.

[2017-04-14 23:53] ericsciple commented on #843
@SnoopyCoder you can add a user capability to enable routing to the agent

[2017-04-14 23:53] ericsciple commented on #843
@SnoopyCoder you can add a user capability to enable routing to the agent

[2017-04-14 23:54] ericsciple commented on #843
@rmarinho as a workaround you can use powershell to check the registry values on the hosted agent

[2017-04-14 23:56] ericsciple commented on #843
The hosted vs 2017 was updated and should have rolled out everywhere now.

I'm somewhat lost on the current state of the issue. Is this resolved? Or is there any remaining problem (e.g. incorrect capabilities)?

[2017-04-17 18:48] shawnro commented on #924
We don't want the recommendation and it shouldn't be forced on us - it creates noise as we can't differentiate warnings of this nature with product warnings that need to be fixed.  Please provide your customers a way to disable these or make them INFO or something else so we can filter them out.

[2017-04-17 20:55] TingluoHuang commented on #924
We will change it to be a warning in next agent release.

[2017-04-18 10:45] henryju commented on #843
AFAIK the "java" capability is still missing. When trying yo use the SonarQube extension on Hosted VS2017 it fails with:

[2017-04-18 11:34] kishanhickman opened #925 "Cannot override default environment variables for build, working, artifact and source folders"
## **Have you try trouble shooting doc?**
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

Yes

## **Agent version and platform**
Version of your agent? 2.115.0
<br>
Windows Server 2012 R2 Standard
<br>
## **VSTS type and version**
VisualStudio.com
<br>
If VisualStudio.com, what is your account name? http://abelandcole.visualstudio.com
<br>
## **What's n

[2017-04-18 13:13] TingluoHuang commented on #843
@thechrisjohnson @madhurig

[2017-04-18 13:42] ericsciple commented on #843
@henryju thanks for the update (as a workaround you can add as a user capability)

[2017-04-18 14:28] henryju commented on #843
@ericsciple thanks for the workaround, that work fine. We'll document that to our users, but it would be great to have the capability added out of the box.

[2017-04-18 14:40] TingluoHuang commented on #925
@kishanhickman overwrite pre-defined variable are not supported. build agent base on your build definition id and url of the repository you try to sync create a corresponded work folder, and keep tracking them in order to reuse. Also, if you let 2 definition point to same work folder and they try to sync different repository, you will get a weird error. i will update the doc to mention that you ca

[2017-04-18 14:40] #925 closed

[2017-04-18 15:08] kishanhickman commented on #925
Hi Ting

Thanks for your response, the documentation suggests you can override these variables.  If I cant, then can I create my own variables and have the agent point to those for the working directory, etc?  Or am I stuck with using the default paths your agent has defined?

[2017-04-18 15:37] TingluoHuang commented on #925
@kishanhickman what's your scenario? why you want to overwrite them? you can disable sync source and control source sync yourself.

[2017-04-18 15:42] ericsciple commented on #843
Agreed. @thechrisjohnson is working on updating the capabilities on the VS2017 agent. Also I believe we have some work in progress that will keep the capabilities up to date and accurate in the future (right now it's a static list).

[2017-04-18 16:06] kishanhickman commented on #925
It's more for my infrastructures team to debug any potential issues, they would prefer to have their own folder structure on a different drive.  But I feel that we may be able to accept this as a limitation of VSTS for now.

[2017-04-18 18:37] thechrisjohnson commented on #843
A fix for this was pushed on Friday, we're just waiting on our deployment to go out to all Scale Units.

[2017-04-18 18:37] #843 closed

[2017-04-18 20:17] brienRosenquist commented on #519
I'm still getting this error...why is this closed?

[2017-04-18 20:22] TingluoHuang commented on #519
@brienRosenquist the original issue is for the bad error message you get when you hit 401.
please open a new issue to describe your problem.

[2017-04-18 21:58] craigjar opened #927 "JAVA_TOOL_OPTIONS breaks TeeCommandManager<WorkspacesAsync:Line 255> Workspace Already Exists Error"
## **Agent version and platform**
Version of your agent? 2.115.0
<br>
OS of the machine running the agent? Linux...
<br>
## **VSTS type and version**
VisualStudio.com or On-Prem TFS? On-Prem
<br>
If On-Prem TFS, which release, 2015 RTM/QU1/QU2? 14.102.25423.0
<br>
## **What's not working?**
When using TFVC on a Linux build agent, consecutive builds fail with "An error occurred: The workspace ws_X_

[2017-04-19 09:50] GrimSmiler opened #928 "Build Agent 2.105.7 becomes idle and does not respond"
## **Agent version and platform**
2.105.7
<br>
Server 2012 R2 x64
<br>
## **VSTS type and version**
On-Prem TFS
<br>
TFS 2017	- RTW - 15.105.25910.0
<br>
## **What's not working?**
Sometimes after the agent gets a cancellation of a build, he crashes and becomes idle.
New builds will not get started and will show a message  "Waiting for the build agent", while the build agent will show "Idle"

Only

[2017-04-19 10:46] bryanmacfarlane commented on #928
Have you tried a newer agent?  You can download 115

[2017-04-19 12:45] GrimSmiler commented on #928
Good point. Will try it out right now. I'll notify You about the outcome.

Thanks for the hint!

[2017-04-19 13:29] nigurr opened #929 "Build agent is misinterpreting the commands with Special characters"
Tested: Latest agent

If i am writing command to agent with special chars, the agent is not handling them well

[code]
The retrieved value is: b Kthe advanced£rs **A**cd8d487331553a317
The expected value is: b Kthe advanced£rs **À**cd8d487331553a317

This seems to be critical issue as the project names can contain these special chars and when we set these variables internally and retrieve next tim

[2017-04-19 14:18] TingluoHuang commented on #928
this is a known issue, fix was checked in around version 2.109.x.
reopen the issue if latest agent doesn't solve it.

[2017-04-19 14:18] #928 closed

[2017-04-19 14:24] ericsciple commented on #927
@craigjar Thanks I'll try and repro. It sounds like we should search for the first `<?xml` and trim whatever comes before.

I'm not sure who publishes that container. If they left any contact info, it might be good to let them know.

[2017-04-19 14:26] ericsciple commented on #929
my guess is it's the process reading the env var. i'm pretty sure the agent accurately interprets stdout (logging command)

[2017-04-19 14:54] nigurr commented on #929
@ericsciple I dumped the process variables from process explorer. Its the same. The value is set incorrectly. Either we are storing it incorrectly or we are setting incorrectly. Wish I have time to debug :(

[2017-04-19 20:32] craigjar commented on #927
@ericsciple, thanks.  I am using the "microsoft/vsts-agent:ubuntu-16.04-tfs-2017-docker-1.13.1-standard" docker image.  See: https://hub.docker.com/r/microsoft/vsts-agent/

[2017-04-19 21:36] ericsciple commented on #927
thanks, i think i know who publishes that now. i'll follow up with them.

[2017-04-20 10:01] tigerlei010 opened #930 "when config linux agent, username and password will be ignored?"
TFS Version 15.105.25910.0 (on perm)
agent is a ubuntu server (version 14.04), i use vsts-agent-ubuntu.14.04-x64-2.116.0

I run ./config.sh to config the agent, when asked to input user name and password, I input some radom string, to my surprise, configuration successed ! the agent will appear in the pool's agents list in the tfs web interface. when I run ./config.sh remove the agent ,input radom

[2017-04-20 10:15] tigerlei010 opened #931 "As a pool's Administrator,when run the agent in linux, Failed with "needs Listen permissions for ...""
TFS:
agent: ubuntu 14.04 x64
agent-version: x64-2.116.0

I create a pool which name is ucc-pool, so my domain account is also the administrator of this pool,and when I config the pool, I use this domain account as user name.

After config successed ,then I run ./run.sh to startup the agent , but, it failed.

~/vs_tfs$  ./run.sh
Scanning for tool capabilities.
Connecting to the server.
Failed to cr

[2017-04-20 13:12] tigerlei010 commented on #931
when exec ./run.sh , the log ：

[2017-04-20 13:00:28Z INFO AgentCapabilitiesProvider] Adding 'Agent.OS': 'linux'
[2017-04-20 13:00:28Z INFO AgentCapabilitiesProvider] Adding 'Agent.Version': '2.116.0'
[2017-04-20 13:00:28Z INFO AgentCapabilitiesProvider] Adding 'Agent.ComputerName': 'SZX1000284972'
[2017-04-20 13:00:28Z INFO ConfigurationStore] HasCredentials()
[2017-04-20 13:00:28Z INFO Configura

[2017-04-20 13:40] TingluoHuang commented on #931
@tigerlei010 what's your TFS version? 2015 or 2017

[2017-04-20 15:38] davibe commented on #470
In order to avoid linking openssl to system paths (which could cause problems) this is what we ended up doing

	brew update
        brew install openssl
	ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib .
	ln -s /usr/local/opt/openssl/lib/libssl.1.0.0.dylib .
	export DYLD_LIBRARY_PATH=`pwd`

then `./configure.sh`, `./run.sh` whatever.

[2017-04-20 15:57] ericsciple commented on #930
@tigerlei010 is your machine domain joined or something? Or are your current logged in user credentials mirrored on the target machine? This issue is very strange. I haven't heard any similar reports before.

[2017-04-20 16:58] MarkIannucci commented on #688
@TingluoHuang , we ran into this problem with our domain's root certificate.  Our fix was slightly different than the one you suggest in the documentation.  We modified the ca-bundle.crt file in the `<agent install directory>\externals\git\mingw64\ssl\certs` folder.

[2017-04-20 17:44] TingluoHuang commented on #688
@MarkIannucci I won't recommend that approach. the agent will self-update to pull down new `externals` folder every time, once your agent update you will loss your fix.

[2017-04-20 18:37] MarkIannucci commented on #688
@TingluoHuang , Thanks for the response.  It sounds like the approach that you're recommending in the documentation would be safe version to version.  Is that true?

[2017-04-20 18:39] TingluoHuang commented on #688
@MarkIannucci yes, since you set the global/system level git config, not matter which version/copy of the git been used, those setting should take affect.

[2017-04-21 00:44] tigerlei010 commented on #931
@TingluoHuang , TFS 2017, Microsoft Visual Studio Team Foundation Server
Version 15.105.25910.0

[2017-04-21 00:58] TingluoHuang commented on #931
@tigerlei010 can you share the log for config?

[2017-04-21 01:22] tigerlei010 commented on #931
@TingluoHuang config log :
[2017-04-21 01:11:35Z INFO AgentProcess] Agent is built for Linux - ubuntu.14.04-x64.
[2017-04-21 01:11:35Z INFO AgentProcess] RuntimeInformation: Linux 3.19.0-37-generic #42~14.04.1-Ubuntu SMP Mon Nov 23 15:13:51 UTC 2015.
[2017-04-21 01:11:35Z INFO AgentProcess] Version: 2.116.0
[2017-04-21 01:11:35Z INFO AgentProcess] Commit: 518d205815ee4884d212cf637a975bda1cf89cfc
[

[2017-04-21 01:25] tigerlei010 commented on #931
the log for ./run.sh
[2017-04-21 01:12:28Z INFO AgentProcess] Agent is built for Linux - ubuntu.14.04-x64.
[2017-04-21 01:12:28Z INFO AgentProcess] RuntimeInformation: Linux 3.19.0-37-generic #42~14.04.1-Ubuntu SMP Mon Nov 23 15:13:51 UTC 2015.
[2017-04-21 01:12:29Z INFO AgentProcess] Version: 2.116.0
[2017-04-21 01:12:29Z INFO AgentProcess] Commit: 518d205815ee4884d212cf637a975bda1cf89cfc
[2017-0

[2017-04-21 02:21] TingluoHuang commented on #931
@tigerlei010 can you follow [this doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting#http-trace-logs) collection http trace and send to me? tihuang@microsoft.com

[2017-04-21 02:29] ericsciple commented on #930
Something very strange is going on and it sounds like something at a lower level is caching your creds when you connect to the URL. Closing the issue here since this sounds like why you are hitting issue https://github.com/Microsoft/vsts-agent/issues/931.

[2017-04-21 02:29] #930 closed

[2017-04-21 02:31] ericsciple commented on #931
@tigerlei010 do you have a proxy? based on https://github.com/Microsoft/vsts-agent/issues/930 it sounds like something is adding your creds (possibly that you originally typed? or are you domain joined?)

[2017-04-21 03:18] tigerlei010 commented on #930
@ericsciple . I also think this is unbelievable, this TFS server is providing service to our organization , team members all use their domain account to access it, up to now , all tfs agents are running in Windows OS,  all  system are functioning normally. Yesterday I want to setup a linux agent to build a linux project, and many strange problems occured

after use rm -fr to delete the agent folde

[2017-04-21 03:20] tigerlei010 commented on #930
process:
tigerlei@SZX1000284972:~/vs_tfs$ ./config.sh --url http://rnd-winnet-tfs.huawei.com --auth Negotiate --pool ucc-pool --agent leiubuntu --work _work --username falsename --password 11223344

Building sources from a TFVC repository requires accepting the Team Explorer Everywhere End User License Agreement. This step is not required for building sources from Git repositories.

A copy of the

[2017-04-21 03:21] tigerlei010 commented on #930
logs for exec ./run.sh

[2017-04-21 02:54:14Z INFO AgentProcess] Agent is built for Linux - ubuntu.14.04-x64.
[2017-04-21 02:54:14Z INFO AgentProcess] RuntimeInformation: Linux 3.19.0-37-generic #42~14.04.1-Ubuntu SMP Mon Nov 23 15:13:51 UTC 2015.
[2017-04-21 02:54:14Z INFO AgentProcess] Version: 2.116.0
[2017-04-21 02:54:14Z INFO AgentProcess] Commit: 518d205815ee4884d212cf637a975bda1cf89cfc
[201

[2017-04-21 03:22] tigerlei010 commented on #930
@ericsciple  logs when exec ./config.sh remove ( I use falsename2 when asked to input username):
you can see that remove successful.

[2017-04-21 02:56:33Z INFO AgentProcess] Agent is built for Linux - ubuntu.14.04-x64.
[2017-04-21 02:56:33Z INFO AgentProcess] RuntimeInformation: Linux 3.19.0-37-generic #42~14.04.1-Ubuntu SMP Mon Nov 23 15:13:51 UTC 2015.
[2017-04-21 02:56:33Z INFO AgentProcess] V

[2017-04-21 03:30] ericsciple commented on #929
That character may not be in your code page. This works for me:
PS script 1:
`'##vso[task.setvariable variable=testSpecial]this char ç should work'`

PS script 2:
`$env:testSpecial`

That char is a good test given my setup. The character is supported but the encoded value doesn't align for the common encodings on my box (console host code page 437, system default 1252, and utf8).

Closing since I

[2017-04-21 03:30] #929 closed

[2017-04-21 03:33] ericsciple commented on #918
assuming that worked

[2017-04-21 03:33] #918 closed

[2017-04-21 03:34] ericsciple commented on #838
@TingluoHuang i'm not sure there is anything to do at this point. also this isnt an agent issue, the server sets. should we close the issue here?

[2017-04-21 03:36] tigerlei010 commented on #931
@ericsciple . Yes, I have configured the env variables http_proxy and https_proxy.  the tfs server  joined the domain. and I can use my domain account to access the tfs server from web browser. I can create project collection, create project ,create agent pool ,and use git command line to pull/push source code from/to the git repo in the tfs server :-).  I alse can  use my domain account to setup

[2017-04-21 03:42] ericsciple commented on #931
The config problem and the running the agent problem are one in the same. When you run the agent, it should be using the generated token (built-in TFS identity, not your account) to listen to the build queue. Instead, it sounds like something is hijacking the auth header of the web requests and always playing your identity instead. It might be your proxy.

[2017-04-21 03:52] TingluoHuang commented on #931
@tigerlei010 or a load balancer. try send us your http trace while you config the build agent.

[2017-04-21 03:53] tigerlei010 commented on #931
@ericsciple ,I will disable my proxy settings and have a try .

[2017-04-21 04:06] tigerlei010 commented on #931
@TingluoHuang  @ericsciple . After unset http_proxy and https_proxy , the linux agent works well, I can config and run it . thank you very much.  proxy is a big trouble for us .

[2017-04-21 04:19] TingluoHuang commented on #931
@tigerlei010 i am curious what kind of proxy you are using?

[2017-04-21 04:19] #931 closed

[2017-04-21 04:25] TingluoHuang commented on #915
@ChristianSauer  do you know what mechanism VS is using?

[2017-04-21 04:33] TingluoHuang commented on #915
@ChristianSauer i think you should have the same permission problem when you run the docker command without the agent, just from a regular command prompt.

[2017-04-21 05:51] nigurr commented on #929
@ericsciple Sorry my powershell has the charset and simple Console output prints it accurately. This is being caused to one of our customers and internally our RBs are failing when we have special chars in the project name. (not all special chars are causing this). This is legitimate issue rather than powershell encoding

[2017-04-21 06:03] tigerlei010 commented on #931
@TingluoHuang , I install cntlm in a windows system , the the linux running the tfs agent use the cntlm as its proxy.

[2017-04-21 14:08] TingluoHuang commented on #931
cool, that explains, since cntlm will add NTLM header to any coming request.

[2017-04-21 17:58] TingluoHuang commented on #924
#926

[2017-04-21 17:58] #924 closed

[2017-04-21 19:50] ericsciple commented on #898
@JamesNK I'm trying to think of some workarounds...

Assuming you run the agents as a Windows service (and not interactively from command prompt), one thing that could mitigate is running the agents as different service accounts. My best guess right now is that some race condition is stomping on some local file.

If you don't have complex mappings, another thing you could try is specify the file n

[2017-04-23 04:05] ericsciple commented on #927
the fix is in master. it will go out with the 2.117.0 agent which will start rolling out to scale units ~ may 8 and finish rolling out over the course of a week or two.

[2017-04-23 04:05] #927 closed

[2017-04-23 13:23] jwyoung9 opened #935 "Latest source not being pulled from external git repository"
## **Agent version and platform**
2.115.0 on OSX
## **VSTS type and version**
VisualStudio.com
## **What's not working?**
When running subsequent builds on our OSX build agent, the latest source is not being retrieved from our external git repository.  Here are the relevant commands being exectuted:

[code]
<br>
Note the messages regarding the branch being behind the source repo.  The agent never

[2017-04-23 23:37] agc93 opened #936 "Environment variable to detect VSTS/TFS type"
## **Agent version and platform**
2.115.0 Windows

## **VSTS type and version**
Both

## **What's not working?**
The agent environment includes the `TF_BUILD` environment variable to detect running under either VSTS or TFS, and `AGENT_NAME` is always set to "Hosted Agent" for Hosted Agents.

However, there is no variable that I can see that allows to tell between VSTS and TFS regardless of agent t

[2017-04-24 00:52] TingluoHuang commented on #936
@agc93 what's your scenario? i don't think there is any reliable way to determine VSTS/TFS type, a hack way i can think might be account url match *.visualstudio.com.

[2017-04-24 00:55] TingluoHuang commented on #935
@jwyoung9 what step do you have in your build? the agent git checkout should always ends up in detached head.

[2017-04-24 01:46] craigjar commented on #927
Thank you @ericsciple, I built the latest master branch code and deployed to my environment and can confirm the fix works.

Really impressed with the fast turnaround time on this one.

[2017-04-24 02:23] agc93 commented on #936
@TingluoHuang [we](https://github.com/cake-build/cake) have users who want to be able to differentiate build behaviour based on platform and our [current logic](https://github.com/cake-build/cake/blob/develop/src/Cake.Common/Build/TFBuild/TFBuildProvider.cs#L45) for identifying TFS mistakenly picks up VSTS builds running on self-hosted agents.

[2017-04-24 03:27] TingluoHuang commented on #936
@agc93 ok, as i said server Url might be the only way you want to try. you can use ENV: SYSTEM_TEAMFOUNDATIONCOLLECTIONURI get the url, then match with *.visualstudio.com.
The build agent doesn't care whether you config against TFS or VSTS.

[2017-04-24 04:24] jwyoung9 commented on #935
This is the standard "get sources" task set to pull from a remote repo.  The only advanced option checked is to checkout submodules.

[2017-04-24 04:39] TingluoHuang commented on #935
@jwyoung9 what other tasks do you have in your definition? are you hitting this problem with any branch or just this branch feature/automated_build?

[2017-04-24 05:59] agc93 commented on #936
@TingluoHuang that seems very messy/hacky, but I'll look into it. Thanks.

[2017-04-24 08:29] imsh opened #937 "Exit code 100 returned from process "vc scorch" warning When Setting Clean = True on Windows"
## **Agent version and platform**
2.105.7, Windows
<br>
## **VSTS type and version**
On-Prem 15.105.25910.0
<br>
## **What's not working?**
Setting Clean = True gives TFS warning, similar to already fixed #422
<br>

2017-04-24T07:02:00.6063417Z ##[command]tf vc scorch D:\B\A2\_work\6\s /recursive /diff /unmapped /loginType:OAuth /login:.,******** /noprompt
2017-04-24T07:02:03.2938672Z No appropria

[2017-04-24 17:26] TingluoHuang commented on #935
@jwyoung9 how did you queue the build? can you share your VSTS account name and definition name with us? so we can check backend. in the meantime, you can try queue against refs/heads/feature/automated_build.

[2017-04-24 19:56] ericsciple commented on #937
@imsh Scorch doesn't work well when there is no root mapping. What you can do is add a minimal root mapping:

`Map` `$/ROOT/*` `$(build.sourcesDirectory)\`

That will create a minimal (single-level) root mapping folder.

[2017-04-24 22:12] ericsciple commented on #927
@craigjar awesome, thanks for confirming the fix!

[2017-04-25 05:14] jwyoung9 commented on #935
Using "refs/heads/feature/automated_build" works.

[2017-04-25 06:25] imsh commented on #937
@ericsciple Your suggestion worked fine, and it is also quite safe unless somebody decides to put huge files directly into root folder, so this issue can be closed.

Thanks!

[2017-04-25 06:25] #937 closed

[2017-04-25 08:49] cornillemichiel commented on #666
Sorry for necroing this, but I believe we are facing similar issues here at our company. http://stackoverflow.com/questions/43604961/vsts-build-agent-issues-in-step-publish-artifact-drop Our build agent server is not on azure, but on an internal server on-prem, so moving it to a different data center is not possible for us.

[2017-04-25 09:31] NielsWillems opened #938 "CurlException when publishing artifacts (only reported by customer in Belgium using telenet)"
## **Agent version and platform**
Version of your agent?  2.115.0 which runs as a service.
<br>
OS of the machine running the agent? OSX Sierra
<br>
## **VSTS type and version**
VSTS online
<br>
## **What's not working?**
Copy Publish Artifact build step throws exceptions when uploading. Recently updated to this version and it worked in the beginning but after a while it failed on this step every

[2017-04-25 10:15] cornillemichiel commented on #938
I'm having a similar issues since yesterday with the publish artifact drop step, ... http://stackoverflow.com/questions/43604961/vsts-build-agent-issues-in-step-publish-artifact-drop
maybe there are server issues?

[2017-04-25 12:01] bryanmacfarlane commented on #938
There was a live site issue yesterday.

I responded to the SO post.  Also, if you send account names I can check service side / LSIs.  If you don't want to post account info here then email me.  My email alias is bryanmac and that is at microsoft

[2017-04-25 13:51] TingluoHuang commented on #935
@jwyoung9 ok, i will check server code, since the server should always send branch name with refs/heads prefix.

[2017-04-25 15:17] cornillemichiel commented on #938
@bryanmacfarlane I can confirm that the issue still exists for us. I sent you an e-mail with a vsts link and log of an example failing publish step.

[2017-04-25 18:58] TingluoHuang commented on #935
@lukekim can you share a sample of worker diag log when you hit the error?

[2017-04-26 08:07] michha commented on #898
We are facing the same error in our on-premise environment. 4 Agents (v2.112.0) are running on the same machine. We have some scheduled builds and two of them are set to run at the same time (6 am). Altough they build the same TFS project, each agent has a different working directory. About twice a week, one of these builds (its not the same build every time) fails with the messages below.
`2017-0

[2017-04-26 13:09] cornillemichiel commented on #938
@NielsWillems  are you on telenet ( Belgium)?

[2017-04-26 13:40] NielsWillems commented on #938
@cornillemichiel  Yep

[2017-04-26 15:06] ericsciple commented on #898
@michha thanks, that gives more evidence this likely a TFVC issue due to multiple agents on the same machine. a quick workaround would be to stagger the times.

[2017-04-26 15:13] cornillemichiel commented on #938
A little update: we are currently investigating why it won't work for us on telenet, but it does when using a @NielsWillems  belgacom fallback line, ill keep you updated.

[2017-04-26 15:23] TingluoHuang commented on #938
@cornillemichiel can you try upload something to Azure blob storage directly use VS or web portal?

[2017-04-26 15:28] TingluoHuang commented on #935
@jwyoung9 we have identified the issue we have on server and have made a fix. should deploy to service soon, i will keep you update.

[2017-04-26 15:36] cornillemichiel commented on #938
@TingluoHuang I uploaded an 85mb file using the azure portal to one of our blob storage containers and experienced no issues whatsoever.

[2017-04-26 15:39] TingluoHuang commented on #938
@cornillemichiel have you try upload that file multiple times? since when failure happened in upload build artifacts you also getting error randomly everytime.

[2017-04-26 15:42] NielsWillems commented on #938
Cheers @cornillemichiel !

[2017-04-26 17:51] TingluoHuang commented on #726
https://www.visualstudio.com/en-us/docs/build/actions/agents/v2-windows#how-do-i-configure-the-agent-to-bypass-a-web-proxy-and-connect-to-team-services

[2017-04-26 17:51] #726 closed

[2017-04-27 07:21] cornillemichiel commented on #938
@TingluoHuang  Multiple uploads from azure portal to blob storage containers, tried different block sizes (100mb and 4mb) multiple files, tried uploading same file twice, tried uploading larger files, smaller files, ... no errors at all ...

[2017-04-27 10:03] NielsWillems commented on #938
@cornillemichiel  When using our Belgacom backup line it also worked.

[2017-04-28 02:04] seven1986 commented on #919
it ok,the reason is iis config

[2017-04-28 02:04] #919 closed

[2017-04-28 02:46] chinkitp opened #940 "unable to connect to git repository behind an authenticated proxy"
VSTS Agent: vsts-agent-win7-x64-2.115.0

[code]

[code]

troubleshooting below line successfully connects to the git repository

[code]

[2017-04-28 02:55] TingluoHuang commented on #940
@chinkitp
.proxy file should only has `http://myproxy:8080`
before run the agent set those env for proxy credential.

[2017-04-28 03:58] chinkitp commented on #940
I have now reconfigured proxy credential as below: Still the same error.

![image](https://cloud.githubusercontent.com/assets/6348875/25513706/8038a27e-2c16-11e7-8429-36d83fca4034.png)

[2017-04-28 04:02] TingluoHuang commented on #940
@chinkitp not definition variable, environment variable on your build machine.

[2017-04-28 04:03] TingluoHuang commented on #940
@chinkitp https://www.visualstudio.com/en-us/docs/build/actions/agents/v2-osx#how-do-i-run-the-agent-behind-a-web-proxy

export VSTS_HTTP_PROXY_USERNAME=proxyuser
export VSTS_HTTP_PROXY_PASSWORD=proxypassword

[2017-04-28 04:08] chinkitp commented on #940
@TingluoHuang  do i need to reinstall the agent?
![image](https://cloud.githubusercontent.com/assets/6348875/25513917/eee60c7e-2c17-11e7-81b0-452341aae737.png)

[2017-04-28 04:10] TingluoHuang commented on #940
@chinkitp just restart the agent service or re-run run.cmd, you don't have to reconfig.

[2017-04-28 04:23] chinkitp commented on #940
@TingluoHuang  thanks for your help. Really appreciate your prompt responses.

[2017-04-28 04:23] #940 closed

[2017-04-28 14:45] JohannBlais commented on #688
@TingluoHuang I used the commands you mentioned in the documentation. The --system updated the .gitconfig in the externals\git\mingw64\etc folder. I am concerned that this config file will be overwritten if the agent updates. And the --global updated the .gitconfig in my user profile, so I fear I also have to run the command for the service account the agent is using.
In the end, there would be no

[2017-04-28 14:52] TingluoHuang commented on #688
@JohannBlais I think you are right, i forget the system level config also in the git we packaged. i think `--global` might still be an reasonable way, since there are different ways to create user level .gitconfig, you can even just create the file yourself in notepad and put in the right user folder. :)

[2017-04-28 15:24] JohannBlais commented on #688
@TingluoHuang thank you for your reply. I think I will add a step to the build agent provisioning procedure to create the .gitconfig and deploy it to the service account home folder (along with the root CA certificate). I could even put that in the config.cmd and create a customized agent package.

[2017-04-29 07:04] ChristianSauer commented on #915
@TingluoHuang Yes, we would have the same problems if we used the regular command prompt. In my opinion, the problem is not that any of the behaviour is wrong per so, but that the interaction is problematic.
Docker builds are a primary feature of visual studio 2017, so it should work rather painless, which it is not.
There are multiple possible solutions (a root agent, using as non root user by de

[2017-04-30 13:07] bryanmacfarlane commented on #814
Not an agent issue.  Service endpoints are a service side feature.  Service endpoints come to the agent fully realized.  You have to follow up with the release management team since they work on the service endpoints service side.  I would reactive the item you referenced and followed up with Gopi (the PM for RM that responded).

[2017-04-30 13:07] #814 closed

[2017-04-30 15:30] Hirayuki opened #943 "Cannot start container"
I have a docker cluster behind a VPN. And also I have a TFS on visualstudio.com, I have downloaded TFS agent container, and want to connect to our TFS but it cannot connect with an alarm of:

    Determining matching VSTS agent...
    Downloading and installing VSTS agent...
    curl: (35) gnutls_handshake() failed: Error in the pull function.

    gzip: stdin: unexpected end of file
    tar: Chil

[2017-05-01 03:03] TingluoHuang commented on #943
@Hirayuki base on the error, it doesn't looks like an agent issue, it's more like an image issue.

[2017-05-01 03:05] TingluoHuang commented on #938
@NielsWillems @cornillemichiel are you guys still hitting the problem, i can't find anything useful from my side, does your local ISP give you and suggestion on the issue?

[2017-05-01 06:32] Hirayuki commented on #943
@TingluoHuang what exactly you would advise ? Image is not changed by me, it is default image from docker hub, which works on my local, but does not work on remote

[2017-05-01 19:29] TingluoHuang commented on #943
@Hirayuki i mean share your network config with the image owner, which is (Microsoft/vsts-agent-docker).
let them figure our how to make the image works on your environment.
I will cloes the issue for now, since the error looks like to be fail to download the agent package.

[2017-05-01 19:29] #943 closed

[2017-05-01 20:21] ppejovic opened #944 ""The server returned an invalid or unrecognized response" when connecting to an on-prem TFS application tier behind a load balancer (HAProxy)"
## **Agent version and platform**
2.112.0 +
<br>
Windows
<br>
## **VSTS type and version**
On-Prem TFS
<br>
2017 Update 1
<br>
## **What's not working?**
We have 2 TFS Application Tier servers sitting behind HAProxy in a round-robin configuration. Testing of all  other functionality/integrations through the proxy has not thrown up any issues so far. When pointing a VSTS Agent to the application ti

[2017-05-01 20:46] TingluoHuang commented on #944
@ppejovic the session id is stored in DB, so different ATs shouldn't affect it.
Do you config the build agent talk thought the proxy using `.proxy` file? can you get a Fiddler trace see what returned from your server cause agent think the response is invalid?

[2017-05-01 23:42] bryanmacfarlane commented on #867
Correct, that's the reason the ignore variable exists.

[2017-05-01 23:42] #867 closed

[2017-05-01 23:49] bryanmacfarlane commented on #936
This still doesn't answer why a build process should care about whether the source if tfs or vsts.

I don't understand this:

Agents configured in a queue that a definition picks up a build.  Regardless of whether TFS or VSTS, the agent that's configured in the queue will pick up a build.

The task or build script shouldn't care whether the server is on-prem or VSTS - it's an url enpoint.

Reactiv

[2017-05-01 23:49] #936 closed

[2017-05-02 01:23] TingluoHuang commented on #847
@mechanic22 are you still hitting this issue? do you have anything between your agent and TFS, like proxy or load balance?

[2017-05-02 07:40] michha commented on #898
@ericsciple will this be fixed in the next v2 Agent version?

[2017-05-02 17:23] ppejovic commented on #944
Thanks for the follow-up @TingluoHuang. Here's the fiddler trace, it doesn't give away much. The response consistently comes back 45s after the following request is made:

`GET /tfs/_apis/distributedtask/pools/2/messages?sessionId=9306bb0f-1401-4570-98af-740b3d61dc58 HTTP/1.1`

I am beginning to wonder if this is a timeout at the HAProxy level. I am investigating this line also.

[code]

[2017-05-02 17:56] TingluoHuang commented on #944
@ppejovic  `GET /tfs/_apis/distributedtask/pools/2/messages?sessionId=9306bb0f-1401-4570-98af-740b3d61dc58 HTTP/1.1` is a long pull request, it should finish every 50s.
i think your direction should be right since it got terminated every 45s.

[2017-05-02 18:21] Tarig0 commented on #904
Is this actually the expected fix for this?

[2017-05-02 18:42] ppejovic commented on #944
Yes, this is tied to our HAProxy config:

[code]

I am thinking of configuring a 1 minute for the relevant timeout(s). Are you aware of any other long-polling requests hitting the TFS Application Tier that could expect a response longer than this?

[2017-05-02 18:42] #944 closed

[2017-05-02 18:52] TingluoHuang commented on #944
i don't there is any other long poll from build agent side, but more sure other what other software does. :)
glad you figure it out.

[2017-05-02 18:54] TingluoHuang commented on #904
@Tarig0 yes, Anonymous Authentication is required for TFS2017, which should be turned on by default when you install it or upgrade to it.

[2017-05-02 22:16] bryanmacfarlane commented on #904
@Tarig0 - auth is still applied.  The auth module behind IISs front door does OAuth JWT auth.  When you configure an agent, we authenticate 'you' via integrated / ntlm to register the agent on-prem (PAT in VSTS).  That gives back a signed JWT token to listen to the queue.  Then, per build, we generate an OAuth jwt token per build which expires when that build completes.  So, to (1) enable untruste

[2017-05-02 22:19] Tarig0 commented on #904
Ok, think I have a different issue with authentication, my builds stop
before the console log reports to tfs. I'll see about getting the log files.

On Tue, May 2, 2017, 6:16 PM Bryan MacFarlane <notifications@github.com>
wrote:

[2017-05-02 22:21] bryanmacfarlane commented on #904
You can send me _diag logs from the agent.  my email is bryanmac and that's at microsoft.

[2017-05-03 01:06] jrmcdona opened #945 "_work folder instructions"
Hi Folks,

I am not understand what to put in the _work folder.  I am trying to build using my machine is the build server.

I have the files on my machine here:

Enter work folder (press enter for _work) > **/Users/jordanmc/Documents/src/Responder/Microsoft.Responder/platforms/Responder.xcworkspace**

You can see I have enter that as my work folder.  I have also tried leaving it as the default "_

[2017-05-03 02:39] TingluoHuang commented on #945
https://www.visualstudio.com/en-us/docs/build/get-started/ci-cd-part-1
https://www.visualstudio.com/en-us/docs/build/apps/mobile/xcode-ios
https://www.visualstudio.com/en-us/docs/build/concepts/agents/agents
https://www.visualstudio.com/en-us/docs/build/actions/agents/v2-osx

The _work folder is the directory where the agent use it to store the repository fetch/pull from you VSTS/TFS source contro

[2017-05-03 02:42] bryanmacfarlane commented on #945
For xcode task issues, you should create an issue in the vsts-tasks repo.  The agent knows nothing about xcode.  It runs tasks.

[2017-05-03 02:42] #945 closed

[2017-05-03 02:46] ericsciple opened #946 "Prereq and getting started docs are stale"
For example, Ubuntu docs point to 2.103 agent, misleading our customers to download old version. Not hypothetical.

We need to link over to the vscom docs, or indirectly via fwlink or akalink.

[2017-05-03 13:51] cornillemichiel commented on #938
@TingluoHuang  Is there any alternative publish artifact method we can use while we wait for an answer of our ISP? Maybe one that uses a different protocol?

[2017-05-03 14:27] jeaster1 commented on #183
I would like to reopen this.  I have FIPS installed on a server machine set by a Group Policy which I don't have access to shut off.  Because MD5 is a bad cipher to use, it fails FIPS and then I can't install VSTS on the server (agent) that I'm using.

[2017-05-03 14:28] ericsciple commented on #183
@jeaster1 which agent version are you using?

[2017-05-03 14:31] ericsciple commented on #183
also are you on VSTS or TFS? If TFS, which version.

[2017-05-03 14:39] jeaster1 commented on #183
Just thought about this, I apologize.  Since we are using TFS 2015 (on prem), I was using the shipped version that comes with 2015 (and of course it wouldn't have your updates).  I'm wondering now if anyone has tested VSTS Agent with 2015 on prem and whether or not it works?  I'm working on downloading it now and hopefully have that tested within 1-2 hours.

[2017-05-03 14:49] TingluoHuang commented on #183
@jeaster1 the latest version agent has drop the support for TFS2015, but you can try old release, like https://github.com/Microsoft/vsts-agent/releases/tag/v2.112.0

[2017-05-03 15:20] ericsciple commented on #183
@jeaster1 the v2 agent is not supported with TFS 2015. although technically 112 will connect is was never meant to work. you should not use it.

[2017-05-03 15:32] ericsciple commented on #946
https://github.com/Microsoft/vsts-agent/pull/947

[2017-05-03 16:14] agc93 commented on #936
Sorry for the delay @bryanmacfarlane : lost this one in my notifications.

Concrete scenario is a bit difficult as we're just providing [a tool](https://github.com/cake-build/cake) our users can manage their builds with. One of our users was controlling build behaviour based on build system (i.e. VSTS or TFS), but since hosted agents can be attached to either, we were looking for a better heuristi

[2017-05-04 03:46] TingluoHuang commented on #938
@cornillemichiel i don't think we have any other option, maybe just copy to Azure blob storage.
you might want to try this task:
https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/AzureFileCopy

[2017-05-04 10:12] cornillemichiel commented on #938
We found a temp. solution in using an internal file share for publishing. But this is of course not something we want in the future.

[2017-05-05 18:44] pkavajin opened #955 "Unable to match any source repository endpoints with any of the supported source providers."
## **Have you try trouble shooting doc?**
Yup.

## **Agent version and platform**
Version of your agent? **2.116.1**
OS of the machine running the agent? **OSX**

## **VSTS type and version**
On-Prem TFS15 Version 14.0.23128.0

## **What's not working?**
Seems like the agent fails finding the right source provider (should be TfsGitSourceProvider), saying "Unable to match any source repository endp

[2017-05-05 18:48] ericsciple commented on #955
i think you registered the agent against the collection URL during config. you need to register against the server URL.

[2017-05-05 19:05] pkavajin commented on #955
Hm, redid the configuration, same effect:

[code]

Dunno if /tfs is default configuration, didnt setup that server, but the agent just took the /tfs url, just the blank server url failed to connect.

[2017-05-05 19:09] ericsciple commented on #955
have you tried downloading the released agent? it sounds like you built yourself, which you should be able to do but i also havent heard of anyone else running into this issue.

[2017-05-05 19:18] pkavajin commented on #955
Happens with recent release aswell, just checked out the source and built it for seeing whats wrong :(

[code]

[2017-05-05 19:24] ericsciple commented on #955
which TFS version are you on? 2015? or 2017?

[2017-05-05 19:24] ericsciple commented on #955
and which update

[2017-05-05 19:26] ericsciple commented on #955
in team foundation server administraton console, the root node in the tree on the left should display something like this:
![image](https://cloud.githubusercontent.com/assets/12102068/25760970/1e502780-31a7-11e7-9092-e9ee5d212833.png)

[2017-05-05 19:26] pkavajin commented on #955
2015, About screen says 14.0.23128.0, according to msdn that should be RTM

[2017-05-05 19:28] ericsciple commented on #955
with your code change and with registering against the TFS URL (not the collection URL), does that fix both problems (endpoint chosen correctly and tasks download)?

[2017-05-05 19:30] pkavajin commented on #955
Not both, just choses correct endpoint, checking whats wrong with task download now.

[2017-05-05 19:41] ericsciple commented on #955
it sounds like an older release might work better until we get the TFS 2015 compat issues worked out again - it used to work :)

i would try the agent release that lines up with [TFS 2017 RTM](https://github.com/Microsoft/vsts-agent/releases/tag/v2.105.7)

[2017-05-05 19:48] pkavajin commented on #955
Ahh nice, that works

Thank you! :-)

[2017-05-05 19:52] ericsciple commented on #955
thanks for confirmation

[2017-05-07 13:57] erwinkramer opened #956 "KERNELBASE.dll exception with missing method exception VssEnvironment.EnumerateVssPaths()"
## **Have you try trouble shooting doc?**
Yes.

## **Agent version and platform**
- v2.114.0
- v2.115.0
- v2.116.1

Platform:
- Windows Server 2016
- VS2015 Professional (Update 3)

## **VSTS type and version**
VisualStudio.com
## **What's not working?**
`tf.exe` in the `vstsom ` folder from the installed local agent.
<br>

See following when i try to run tf.exe manually:

![image](https://cloud.g

[2017-05-07 14:46] erwinkramer commented on #956
I now realize that there is no official support for Windows Server 2016... I guess that's what's up?

[2017-05-07 15:49] ericsciple commented on #956
@erwinkramer no i think it should work. i can setup a server 2016 machine tomorrow and try.

do you have .net 4.6 installed? i think that was related last time we hit a missing-method-exception.

how are you running tf.exe? is this during the get-sources step? or are you running it from one of your scripts?

[2017-05-07 15:52] ericsciple commented on #956
does it work when the agent runs the get sources step against at TF Version Control repository? iirc, the agent validates that .NET 4.6.

but in the screenshot you pasted, it looks like you are not running the agent at all.

[2017-05-07 15:54] #946 closed

[2017-05-07 15:56] ericsciple commented on #946
i deleted the files since they are not linked anywhere.

i had opened this issue because a customers got confused by the docs and had installed a 2.103 agent (i found out while helping troubleshoot). they pointed to the docs, so i think they must have browsed them directly.

[2017-05-07 15:56] erwinkramer commented on #956
@ericsciple

Yes.

That's correct, i tried it manually to see if it created the same missing method exception, and it did. I originally got the message in my build definition output on the Get Sources step. See attached logfile.
[logs_10.zip](https://github.com/Microsoft/vsts-agent/files/981702/logs_10.zip)

[2017-05-07 16:06] ericsciple commented on #956
oh ok, gotcha

[2017-05-08 12:57] Joon commented on #483
I could really use Windows NanoServer support too.

I have a requirement to run a VM as a release agent in every one of my Azure subscriptions, and using NanoServer is preferable because of the ease of management and small footprint of the NanoServer OS.

[2017-05-08 18:20] ericsciple commented on #956
I'm unable to repro. Look under the reg key `HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full`

What is the decimal value for `Release`? Mine is `394802` which [corresponds to 4.6.2](https://msdn.microsoft.com/en-us/library/hh925568(v=vs.110).aspx) ...which is a bit stange. Since it's not Win 10 I would have expected to see `394806`. I ran `winver.exe` and it reports Windows S

[2017-05-08 18:47] bryanmacfarlane opened #960 "Accept config agent inputs as envvars (in addition to interactive and argv)."
Title pretty much captures it.

[2017-05-08 19:10] erwinkramer commented on #956
@ericsciple ,i have the same `394802`.

[2017-05-08 19:12] erwinkramer commented on #956
My OS Build is `14393.1066`

[2017-05-08 19:32] erwinkramer commented on #956
I uninstalled `KB4015217 ` so now my OS Build is `14393.447`, still no luck. Unfortuanly i can't uninstall the KB to go back to `14393.0`. Could you update to my OS Build to rule out security updates?

[2017-05-08 19:35] ericsciple commented on #956
Yes I'll update my VM. In the meantime I'm going to loop in someone from the version control team to see if they have heard of this issue. I was hoping to get a repro.

[2017-05-08 19:39] erwinkramer commented on #956
@ericsciple , thanks for the support.

Just to be clear, this machine has BizTalk 2016 enterprise, MS SQL Server 2016 enterprise and VS2015 installed as well.

[2017-05-08 22:04] ericsciple commented on #956
Even on Windows 14393.1066 I still can't repro. I've sent a mail to the appropriate Version Control folks and log a bug internally for them to investigate (bug 992928).

[2017-05-09 03:04] ericsciple commented on #960
PRs: https://github.com/Microsoft/vsts-agent/pull/961 and https://github.com/Microsoft/vsts-agent/pull/962

[2017-05-09 03:04] #960 closed

[2017-05-09 04:49] TingluoHuang commented on #877
@Dejulia489 any luck?

[2017-05-09 10:21] dachibox commented on #461
Hi, I'm interested on this issue. Some good news?

Now I'm trying on a VS2015 with SQLite.UWP.2015 extension
[code]

[2017-05-09 18:59] whoisj commented on #956
@erwinkramer thanks for bringing this to our attention.

Give me some time to sync with @ericsciple and get a similar VM setup so I can attempt to reproduce the issue.

One question: does your Server 2016 have VS2015 and/or VS2017 installed on it? If so, into which path(s)? and which build(s)?

Thanks!

[2017-05-09 19:47] ericsciple commented on #956
@erwinkramer also can you dump the externals\\vstsom dir and send me the output. Something like:
[code]

I want to diff against a fresh download and rule out a corrupted layout,

[2017-05-09 20:04] erwinkramer commented on #956
@ericsciple  [externals.txt](https://github.com/Microsoft/vsts-agent/files/987855/externals.txt)

@whoisj  Only VS2015. See:
![image](https://cloud.githubusercontent.com/assets/4255748/25869990/ba4913d2-3502-11e7-8e1b-fc12e1718a0d.png)
Path: `C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE`

Other VS stuff:
![image](https://cloud.githubusercontent.com/assets/4255748/25870185/7d0fd8

[2017-05-09 20:26] ericsciple commented on #956
i diff'd my file against yours and the layout is exactly the same

[2017-05-10 01:24] chrisrpatterson commented on #915
@ChristianSauer VS is different because it is running on windows with a directory mapped into the Linux VM as a particular user.  In that case all of the files are owned by the user that is used to map the share form windows.  You are working on Linux so the user id 0 is the same both in and out of the container.

[2017-05-10 03:03] whoisj commented on #956
I'm completely out of ideas. Without a local repro this is going to very difficult to resolve.

Tomorrow, I'll perform a codewalk and see if there's any hints as to why `VssEnvironment.EnumeratePaths` could result in a `MissingMethodException` while still successfully loading the strong name signed DLL.

[2017-05-10 03:08] whoisj commented on #956
... Of course, as soon as I claim to be out of ideas publicly, I have an idea. 🐑

@erwinkramer can you, from a Developer Command Prompt, run the following command?

`gacutil /l | findstr /I Microsoft.VisualStudio.*`

... and share the output. I'm wondering if the GAC isn't out enemy here. Perhaps there's a GAC version of the assembly that's being loaded that's actually older than the version shipp

[2017-05-10 13:53] gislikonrad opened #963 "config.sh breaks in Terraform"
I've been writing a terraform script to provision and register a private linux build agent for visualstudio.com.

The repo is located on [github](https://github.com/SOLIDSoftworks/terraform-azure-vsts-private-build-agent). Most of the terraform script runs without a hitch. It's when it gets to the null_resource in virtual_machine.tf that I hit a snag.

When the null_resource runs provision.sh on t

[2017-05-10 14:15] TingluoHuang commented on #963
@gislikonrad you can also check the agent _diag log see whether agent got configured or not. i would think you might need reach to Terraform, since we didn't receive any report about the ./config.sh script.

[2017-05-10 14:15] #963 closed

[2017-05-10 14:18] TingluoHuang commented on #956
@erwinkramer as @whoisj  mentioned, check the GAC, another way to check it is when tf.exe crash, attach VS Debugger, check where is Microsoft.VisualStudio.Service.Common.dll loading from. you can see it under `VS->Debug->Windows->Modules`

[2017-05-10 15:54] deprouwn commented on #938
@NielsWillems @cornillemichiel @TingluoHuang do you still have this issue? We also have the same problem with Telenet and don't have a Belgacom-backup line :(

[2017-05-10 16:06] cornillemichiel commented on #938
Yes. We are trying to get our support request escalated ...

[2017-05-10 20:04] erwinkramer commented on #956
@whoisj  [output.txt](https://github.com/Microsoft/vsts-agent/files/991082/output.txt)

[2017-05-10 20:10] TingluoHuang commented on #956
it's in the GAC. :D
[code]

[2017-05-10 20:16] erwinkramer commented on #956
@TingluoHuang : Oh well so all i have to do is unGAC it? How did it end up there anyway? Output from all that i could get when attaching the debugger below. I guess this hints to GAC'd stuff too.

`'TF.exe' (CLR v4.0.30319: TF.exe): Loaded 'C:\Windows\Microsoft.Net\assembly\GAC_32\mscorlib\v4.0_4.0.0.0__b77a5c561934e089\mscorlib.dll'. Symbols loaded.
'TF.exe' (CLR v4.0.30319: TF.exe): Loaded 'C:\U

[2017-05-10 20:20] erwinkramer commented on #956
Removing `Microsoft.VisualStudio.Services.Common `from the GAC did the trick. Pfew, thanks a lot for your assistance guys.

Still curious what installer put that file in the GAC. It cerainly wasn't me. This machine is brand new and i did nothing with the GAC yet.

[2017-05-10 20:26] TingluoHuang commented on #956
@erwinkramer  can you find the dll under `C:\Windows\Microsoft.Net\assembly\GAC_MSIL`, check file properties->details->fileversion?

[2017-05-10 21:13] erwinkramer commented on #956
@TingluoHuang  fileversion `15.98.25225.0`

[2017-05-10 21:18] erwinkramer commented on #956
More info: ![image](https://cloud.githubusercontent.com/assets/4255748/25921755/ed8d2baa-35d6-11e7-8afd-68e1dfb4c3d8.png)

[2017-05-10 21:41] TingluoHuang commented on #956
@erwinkramer can you share a full list of installed software on your box?

[2017-05-10 21:51] TingluoHuang commented on #956
@erwinkramer is that dll has ditail signatures? we never ship that version of assembly into TFS product. :(
do you have ReleaseManagement installed on your box?

[2017-05-10 21:55] ericsciple commented on #956
*digital signature

[2017-05-11 06:54] erwinkramer commented on #956
![image](https://cloud.githubusercontent.com/assets/4255748/25936040/31a6f484-3626-11e7-9c69-b7c7f091d359.png)
![image](https://cloud.githubusercontent.com/assets/4255748/25936256/2798af90-3627-11e7-80d8-dced0973daf9.png)

![image](https://cloud.githubusercontent.com/assets/4255748/25936293/5e1bd1b4-3627-11e7-990c-14740341ff21.png)

[2017-05-11 06:55] deprouwn commented on #938
Hi @cornillemichiel, you escalated that to Telenet-support or to Microsoft?

[2017-05-11 10:35] jtemperv commented on #938
@deprouwn as I'm a colleague of @cornillemichiel , I can answer on that question: we are currently trying to escalate this at Telenet support. All additional logs and information are very welcome in order to support our case.

We also have the problem in VSTS Release when we're trying to deploy our website with an Azure App Service Deploy step. The strange thing is that our "Test" environment depl

[2017-05-11 11:12] deprouwn commented on #938
Hi @jtemperv
For us it's something different, to publish build artificats. See the error in the attachment.
We'll try with a 3g-router to be sure if the Telenet-connection is the issue.

grtz,
Nico

![pasted image at 2017_05_10 05_21 pm](https://cloud.githubusercontent.com/assets/28602963/25946427/5b5cfbf0-364b-11e7-83d9-e4d48ba0e02e.png)

[2017-05-11 11:45] jtemperv commented on #938
@deprouwn we have issues with both:
- publishing artifacts
- deploying site

and even:
- restoring bacpac files to Azure SQL

[2017-05-11 14:28] TingluoHuang commented on #956
@erwinkramer are you using a physical PC or VM? can you easily re-setup the machine, install all software you had one by one, then check GAC after every software installed?

[2017-05-11 14:42] TingluoHuang commented on #956
@erwinkramer have you or anyone manually put those dll into GAC?

[2017-05-11 14:46] deprouwn commented on #938
Hi @jtemperv,
with a 3g router we have no problem at all, so Telenet is definitely the issue. Do you have a Telenet-casenr for this we can refer to? Our case is 02102128.
If we do a tracert on the ip, we have a different route (for ip 191.233.96.220)
thx,
Nico.

[2017-05-11 14:49] erwinkramer commented on #956
@TingluoHuang  It was a brand new VM, nothing done with the GAC. I could re-setup the machine, however i didn't save any snapshots and i don't have much time atm. I do however suspect `BizTalk Server 2016 Feature Pack 1 ` because it adds some VSTS integration features and it's the main reason i'm setting this VM up.

I can check on another machine if i install the feature pack, if it gac's stuff.

[2017-05-11 14:55] erigusaab opened #966 "Recursive submodules not supported"
## **Agent version and platform**
2.116.1
<br>
Linux (Ubuntu 16.04)
<br>
## **VSTS type and version**
On-Prem TFS
<br>
2015
<br>
## **What's not working?**
Trying to set up TFS builds for git repositories with submodules in more than one level (i.e. main/sub/sub). Build fails because even with "checkout submodules" enabled only the first level of submodules are fetched.

The command:
git -c http(.

[2017-05-11 15:02] TingluoHuang commented on #956
@erwinkramer Great, thanks for the inportant information, i will try install BizTalk myself. :D

[2017-05-11 15:05] erwinkramer commented on #956
@TingluoHuang Have fun ;)

[2017-05-11 15:16] TingluoHuang commented on #966
@erigusaab we added the support to checkout nested submodule in TFS2017 Update2, which will be released later this year.

[2017-05-11 15:16] #966 closed

[2017-05-11 16:17] TingluoHuang commented on #956
@erwinkramer I confirmed BizTalk feature pack 1 is the evil. :D
it will put those dll into GAC. uninstall will remove them from GAC.
I will follow up with their product team to solve this problem.

[2017-05-11 16:17] #956 closed

[2017-05-12 01:51] TingluoHuang commented on #898
agent with fix should be deployed everywhere.

[2017-05-12 01:55] TingluoHuang commented on #935
fix was merged, will deploy in a week.

[2017-05-12 01:55] #935 closed

[2017-05-12 01:56] TingluoHuang commented on #878
let us know if you need more help, close the issue for now.

[2017-05-12 01:56] #878 closed

[2017-05-12 01:59] TingluoHuang commented on #898
this haven't been fixed, thought a different issue. :(

[2017-05-12 02:00] TingluoHuang commented on #847
close for now. let us know if you still hitting this issue.

[2017-05-12 02:00] #847 closed

[2017-05-12 02:17] TingluoHuang commented on #876
@fishbits is pool 3 exist?
can you check in browser?
`http(s)://yourtfs:8080/tfs/_admin/_AgentPool?poolId=3&_a=agents`

[2017-05-12 06:01] erwinkramer commented on #956
@TingluoHuang Great! Glad we identified the program.

@ericsciple Shouldn't the .NET versioning info on [How to: Determine Which .NET Framework Versions Are Installed](https://msdn.microsoft.com/en-us/library/hh925568(v=vs.110).aspx) still be addressed because it corresponds with Win 10 like you mentioned?

[2017-05-12 07:53] SynetonOps commented on #938
Hello,

We've encountered same problems. Also Telenet customer and also **no fail** on backup VDSl line from Belgacom. (other ISP). So we did some tests.

1) Networksniff with wireshark: it seems there is some loss of TCP packets (see attachment)
2) Install  Buildagent on other Windows device with lower version of buildagent > same problem
3) Install Buildagent on MAC OSX > same problem , BUT, eve

[2017-05-12 08:19] jtemperv commented on #938
Hey,

I've asked our IT department for the case number. I'll post it here as soon as I get a reply from them.

Meanwhile, if anyone is interested in our tracert, here it is:

[code]

[2017-05-12 09:12] SynetonOps commented on #938
Update:
Test5: Build from other location but still Telenet ISP, no problem there. Tracert follows different hops then our Company's location. So it appears not to impact all Telenet customers and depends on the route taken.

More info when I have some.

[2017-05-12 09:23] kasubram opened #968 "latest agent from master can't start"
## **Agent version and platform**
master branch
<br>
Both windows and linux
<br>
## **VSTS type and version**
VisualStudio.com or On-Prem TFS?
<br>
## **What's not working?**
The .agent file looks like this, notice the empty notification* parameters
{
  "agentId": 2,
  "agentName": "KALYAN-DEV",
  "notificationPipeName": "",
  "notificationSocketAddress": "",
  "poolId": 1,
  "serverUrl": "http://

[2017-05-12 09:52] deprouwn commented on #938
Thx a lot for the info, we'll give it a try with our backup soho Telenet line instead of the corporate-line.

[2017-05-12 13:05] jtemperv commented on #938
I received the Telenet case number from our IT department: 02102899

[2017-05-12 13:18] TingluoHuang commented on #968
@kasubram pull master try again. this has been fixed. #967

[2017-05-12 13:18] #968 closed

[2017-05-12 13:47] joaomoreno commented on #622
@stepro This is awesome. I will give this a try for our VS Code Linux builds.

[2017-05-12 14:40] ericsciple commented on #956
@erwinkramer true. i'll see if i can find an appropriate internal distribution list to email regarding the issue.

[2017-05-12 15:16] joaomoreno opened #969 "Fix macOS OpenSSL instructions"
Due to #470, the official docs recommend to replace OpenSSL in a system-wide fashion:

https://github.com/Microsoft/vsts-agent/blob/master/docs/start/envosx.md

Almost a year ago @joshka reported that this is dangerous and it will _leave your system in an inconsistent state_. @davibe also tried to address this by using the `DYLD_LIBRARY_PATH` variable.

It turns out that this recommendation is a r

[2017-05-14 18:57] dfederm opened #970 "Cannot choose VS2017 version"
## **Agent version and platform**
Version of your agent? 2.115.0
OS of the machine running the agent? Windows

## **VSTS type and version**
VisualStudio.com or On-Prem TFS? VSO
If VisualStudio.com, what is your account name? http://dfederm.visualstudio.com

## **What's not working?**
I have Visual Studio 2017 and Visual Studio 2017 Preview installed side by side. I'm unable to specify which o the

[2017-05-15 13:00] joaomoreno commented on #622
@stepro This is working beautifully for us. We now base [our Dockerfile](https://github.com/Microsoft/vscode/blob/master/build/tfs/linux/Dockerfile) in yours and run the agents with the help of a few bash scripts.

[2017-05-15 13:04] NullVoxPopuli opened #971 "How do I Get Sources with a branch name instead of via sha?"
## **Agent version and platform**
https://github.com/NullVoxPopuli/vsts-agent-with-aws-ecr/blob/master/Dockerfile

[code]

## **VSTS type and version**
VisualStudio.com
https://developertown.visualstudio.com

## **What's not working?**
I'd like to be able to specify `Get Sources` to checkout code via branch name such that
`export CURRENT_BRANCH=$(git symbolic-ref HEAD | sed 's!refs\/heads\/!!')`
s

[2017-05-15 15:37] ericsciple commented on #970
@dfederm the agent just chooses latest.

The agent uses the location for capability registration only.

What is the actual problem? That the capability is registered in an undesired fashion? Or that the task uses the undesired version?

A few potential mitigations/solutions depending on your actual problem:
1) Remove offending version from the machine
2) Add an additional "user" capability for rou

[2017-05-15 15:37] #970 closed

[2017-05-15 15:37] ericsciple commented on #970
Let me know if that doesn't solve and we can reopen.

[2017-05-15 16:08] dfederm commented on #970
@ericsciple the problem is that there's no way for me to choose which version I'd like to use. I do see in the build task I can choose the VS version, but within a VS version I have no way to choose 2017 vs the Preview. Since I'm using my dev machine as an agent (I don't imagine this is uncommon for small projects), I'd like to have the Preview installed to play around with it, but I don't want it

[2017-05-15 17:21] bbowman opened #972 "Allow "cross platform" multi-configuration builds"
The scenario my team has is as follows:

Our project is C++ and needs to build across several different platforms, including iOS. For some of these platforms (mainly iOS), this requires a certain agent to be used to ensure a matching tool chain is available.

It is a pain to have separate build definitions for each platform that we need and either try to chain them together or have them all report

[2017-05-15 17:31] mackayj commented on #688
I tried running the --global a dozen times, it looks like it updates it in c:\windows\system32\ folder. Did not work at all. I did a --system and I think that one finally worked.

[2017-05-15 17:35] TingluoHuang commented on #688
@mackayj --global should update .gitconfg under C:\users\foo\. who is the running as user?

[2017-05-15 19:04] AlphaCluster commented on #778
I am actually seeing something similar happen. When we try to add an agent with basic auth on we get that error. We got Windows Auth, Anonymous and Basic Auth normally enabled but the only way we get the PAT to work is by disabling Basic Auth just for the configuration. After we do the configuration it works fine with Basic Auth turned back on.

[2017-05-15 20:17] stepro commented on #622
Cool, glad it worked out for you!

[2017-05-16 04:23] TingluoHuang commented on #971
@NullVoxPopuli is this a agent issue or docker image issue?

[2017-05-16 04:27] TingluoHuang commented on #969
@joaomoreno with netcore 2.0, the agent will use Apple crypto libraries instead of OpenSSL. I will close this issue once we adopt netcore 2.0.

[2017-05-16 05:18] mackayj commented on #688
@TingluoHuang I was doing run-as command prompt using our service account credentials so it would effect that account

[2017-05-16 09:01] NullVoxPopuli commented on #971
I think an agent issue

On Tue, May 16, 2017, 12:23 AM Ting <notifications@github.com> wrote:

[2017-05-16 09:18] jtemperv commented on #938
Hi,

Telenet installed a patch and asked us to test this again, but we're still facing the same issue, larger zip files cannot upload. Can you guys please try it again and post your findings?

[2017-05-16 13:08] onovotny opened #973 "Yaml Feature: Caching tasks w/o credentials"
Reviewing the spec for YAML deserialization here: https://github.com/Microsoft/vsts-agent/blob/a7a1fe8189b20dd5be138e5c65391207260d30eb/docs/preview/yamldeserialization.md#task-version-resolution-and-caching

The spec says that tasks need to be either pre-cached or a TFS/VSTS URL can be provided with credentials for the tasks to be downloaded. I would suggest that tasks available generally on the

[2017-05-16 14:22] TingluoHuang commented on #688
[code]

Can you check your environment variable?
%USERPROFILE% and %APPDATA% for the service account?
is your service account NetworkService/LocalSystem?

[2017-05-16 14:28] TingluoHuang commented on #971
@NullVoxPopuli it's the VSTS service tell agent to checkout which commit, even you feed in a branch name.
Since VSTS need calculate changes between builds, VSTS will query you git repository to get the commit hash for the ref you want to build. the agent just follow what server tells it to do.

[2017-05-16 14:34] NullVoxPopuli commented on #971
ah ok, so this is a VSOnline behavior?

[2017-05-16 14:39] TingluoHuang commented on #971
@NullVoxPopuli yes.
in the job message agent get.
[code]
these info in provide by server.

[2017-05-16 14:41] NullVoxPopuli commented on #971
ok cool. Well, because I have a reasonable work around, I'll close this issue.
Thanks for explaining!

[2017-05-16 14:41] #971 closed

[2017-05-17 07:45] SynetonOps commented on #938
We have received same mail, but first impression is not conclusive, sometimes it works, sometimes it doesn't.
It seems there is improvement but not entirely fixed. Before we answer Telenet we will perform extra tests.
More info when i have some!

[2017-05-17 09:27] IanKemp commented on #902
@CodeCasterNL I bet if you look at HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\VisualStudio\SxS\VS7\15.0 you'll find the value is set to the TestAgent install directory. Edit that to point to the BuildTools directory and you should be golden.

@ericsciple I feel like this issue is caused by the fact that Test Agent is completely standalone - why can't it be included as a component of the Bui

[2017-05-17 12:39] ericsciple commented on #902
@vijayma @chrisrpatterson regarding the VS install details provided by @IanKemp in the post immediately above. Any convenient option being overlooked? Or is this feedback for VS folks?

[2017-05-18 00:58] jabbera opened #975 "Need environment variable that includes a list of all artifact names for release"
## **Have you try trouble shooting doc?**
This variable does not exist per documentation. https://www.visualstudio.com/en-us/docs/build/concepts/definitions/release/variables

## **What's not working?**
I'm writing a task that will git tag all artifacts at the end of a release. The only way I've been able to determine all the artifact names is iterating over the environment variables and regexing.

[2017-05-18 01:14] ericsciple commented on #975
i feel like we should not add this, since it will bloat the process env block more. we have an issue already. we need to figure out how to move away from over-using the env block.

note, there is also a function in the task lib to get all variables, so you dont have to infer from env vars directly.

[2017-05-18 02:02] jabbera commented on #975
Thanks for the hint! I totally understand.

[2017-05-18 02:02] #975 closed

[2017-05-18 02:10] jabbera opened #976 "Release Artifact Variables: No team project name variable exists."
## **What's not working?**
I'm writing a task that will git tag all artifacts at the end of a release. Since releases can now reference builds from other team projects, I need the team project name to properly resolve the friendly name of the Repository. Without this I have no way to access builds, repos, or pretty much anything about artifacts that live in other team projects. If there is an obvi

[2017-05-18 02:22] jabbera commented on #976
I can back into this from the buildid. It's ugly, but works.

[2017-05-18 02:36] ericsciple commented on #976
@jabbera don't you need to back into it from the build ID anyway? a team project can contain many repos. furthermore a build can target an external repo (not saying you must support this scenario, but something to be aware of).

[2017-05-18 02:36] ajbeaven commented on #145
So is there any way to use a secret variable for a task's environment variable?

Could you please expand on what you mean by "map secret variables into inputs"? This is what I get when I true to use a secret variable in a build task:

![image](https://cloud.githubusercontent.com/assets/657201/26184080/cba4c290-3bd6-11e7-9a9f-17bf03af4cb1.png)

![image](https://cloud.githubusercontent.com/assets/65

[2017-05-18 02:40] ericsciple commented on #145
It should work. Does CSC_KEY_PASSWORD have a value? Or does it contain a special leading character? E.g. `&` or `"` or something?

[2017-05-18 02:53] jabbera commented on #976
@ericsciple actually I don't so far except for this one data point. commit id (Release.Artifacts.{Artifact alias}.SourceVersion) and repo name (Release.Artifacts.{Artifact alias}.RepositoryName) are both available already. The repository name is undocumented though. I know about the external git repo which I'm going to pass on. Without the team project name (or the repo ID) I can't support a relea

[2017-05-18 02:56] ajbeaven commented on #145
Urgh, ain't that the way. I re-added my variable just to be sure and after doing that, it started working.

I think I must have inadvertently toggled the "lock" icon at some stage, made some changes to one of the other variables and saved the page. It looks like this clears the value for the variable but you don't know as it appears as •••••••••••. I'd suggest that you shouldn't be able to toggle

[2017-05-18 09:56] SynetonOps commented on #938
Yesterday and today , we've managed to release to Azure without any problems.
It seems that Telenet took care of the problem.
Hop it stays that way :)

[2017-05-18 15:07] jtemperv commented on #938
@SynetonOps Sadly enough, the problem occurred again today, so it's not completely solved. Sometimes it takes ages to publish the artifacts, e.g. 14 mins. Do you see the same behavior in publishing?

[2017-05-18 17:49] chrisrpatterson commented on #973
Hi Oren,
I think the big difference in concept here is VSTS is not a build engine it is an orchestrator. There are a lot of good build engines that you can download and bootstrap to actually build your code.  The goal of something like VSTS or eve Jenkins for that matter is to orchestrate the build, test and then deployment of your code.  In addition it needs to provide for machine management and

[2017-05-18 17:55] onovotny commented on #973
@chrisrpatterson I think what I'm saying is that I want to run the full orchestration locally...and that includes build, test, run coverage, etc.

I hate the fact I need to check in my AppVeyor.yml file 20 times in a row as I'm troubleshooting getting the build right. I really wish I could run it all locally to ensure it does what I want.

[2017-05-18 17:58] chrisrpatterson commented on #973
In our spec it does allow you to run it locally.  However, the problem is the orchestration might include parallel phases and jobs that run on different agents.  For example lets say I had a Xamarin app and I wanted to have a single definition that built across UWP, Android and iOS. The orchestration can accomplish this from the service utilizing agents and agent pools but it is not something you

[2017-05-18 19:41] bryanmacfarlane commented on #973
Yeah - so run locally is parallelism of 1.

Also note that tasks come from your account/server.  They are installed into the server via extensions from the market place.  And then referenced in the definition (be it web or yaml) by locking to major version channel of all versions that have been installed in your back end.  Alternatively for yaml we will support checking in the task (since one key

[2017-05-18 19:45] onovotny commented on #973
I'm still not sure why this can't all be done without credentials? I.e., reference a particular version of a task from the market place if it's a "public/free" task?

[2017-05-18 20:08] bryanmacfarlane commented on #973
When they are installed into your account, they are installed into an append only list of immutable versions in build.  You can bind to any major version channel of task versions that you have previously installed, gotten updates for.  Extensions are a delivery mechanism for build tasks.  Also, the version of an extension has no bearing on tasks - a version of an extension can carry multiple tasks

[2017-05-18 20:44] ericsciple commented on #976
@GitHubSriramB ?

[2017-05-19 00:34] mjwoodsphx opened #979 "How can the version of Node.js be updated in the build agent? I have a module that requires 6.X or higher and 5.x ships with the agent."
I have a custom build task with a node module that requires 6.x or higher of node, however the agent ships with a 5.x version.  I attempted to install node 7.x on the agent, including the path to point to 7.x but the agent still uses 5.x.  Any suggestions?

[2017-05-19 01:36] TingluoHuang commented on #979
agent will start use node 6.10.3 from next version release. i will target next week to  2.117.0 agent.

[2017-05-19 01:47] GitHubSriramB commented on #976
@jabbera - Thanks for the feedback. It makes sense to add project ID & repository ID to the list of artifact variables. We will do this & also update documentation & also include repository name in the documentation.

[2017-05-19 01:56] bryanmacfarlane commented on #979
Note that means your task will have to demand a minimum agent version of 2.117.0.  That means if your task is used, it will trigger an update of any 2.x agent.

[2017-05-19 02:01] bryanmacfarlane commented on #979
https://github.com/Microsoft/vsts-agent/commit/28831e3e90861c5aec2adeddae2a5bab48e9dd01

[2017-05-19 03:02] mjwoodsphx commented on #979
Will the new agent be compatible with  either TFS 2017 or 2017 update 1?

[2017-05-19 03:08] TingluoHuang commented on #979
yes, it should.

[2017-05-21 18:02] warbands opened #983 "Building vsts from Master causes Windows Service functionality to fail"
## **Have you try trouble shooting doc?**
Yes
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## **Agent version and platform**
Version of your agent? 2.102.0/2.100.1...
Latest from Master Branch ( 5/21/2017 )
<br>
OS of the machine running the agent? OSX/Windows/Linux...
Windows 10 ( Latest update )
<br>
## **VSTS type and version**
VSTS online
VisualS

[2017-05-21 19:35] TingluoHuang commented on #983
@warbands you need disable strong name validation. we strongname sign the agentservice.exe when we release it.
[doc for disable strong name validation](https://msdn.microsoft.com/en-us/library/cc713694(v=vs.110).aspx)

[2017-05-21 19:35] #983 closed

[2017-05-21 20:50] warbands commented on #983
Ok I will take a look at it when I am back in the box, thanks!

-Rock
Sent from my iPhone 6

[2017-05-22 14:51] discorev opened #984 "MSBuild 15.0 not found when using Build Tools for Visual Studios 2017"
## **Agent version and platform**
Version of your agent? 2.116.1
<br>
OS of the machine running the agent? Windows Server 2012 R2

## **VSTS type and version**
VisualStudio.com

## **What's not working?**
MSBuild 15.0 from Build Tools for Visual Studio 2017 is not found by the build agent.

As a full version of the IDE should not be needed for a headless build machine, VS2017 build tools was insta

[2017-05-22 17:40] warbands commented on #983
I tried as you suggested, disabling strong name validation, but I couldn't get it to work.

I tried the registry edit as well as trying to modify the App.config under src/Agent.Service/Windows/App.config, both set to true and false, and nothing modified the behavior.

I am including what my App.config looks like:

[code]

The reason I am even looking at using the src from Master is that the curren

[2017-05-22 17:44] TingluoHuang commented on #983
@warbands try the latest released agent. 2.117.0 that version should has the proper fix.
we release agent every 3 weeks, so the released agent might not have latest changes in Master.

[2017-05-22 17:54] warbands commented on #983
That worked great! Thanks Ting!
I wanted to let you know that the link from within VSTS still points to:
https://github.com/Microsoft/vsts-agent/releases/download/v2.116.1/vsts-agent-win7-x64-2.116.1.zip

This should get updated as soon as possible. Thanks again!!

[2017-05-22 18:01] TingluoHuang commented on #983
yeah, we will start release the newer version agent to VSTS soon.

[2017-05-23 04:16] ericsciple commented on #984
does vswhere find it if you add `-products *`?

[2017-05-23 06:29] discorev commented on #984
Yes, that's the first command I ran in the powershell snippet above (copied output into this reply as well)

[code]

[2017-05-23 09:52] Thilas commented on #984
I got the exact same issue: I installed a new agent and deployed Visual Studio Build Tools 2017 but it is not found.

FYI, I have an other agent but in version 2.115.0 (therefore without vswhere) with Visual Studio Build Tools 2017, and it is correctly detected.

[2017-05-23 11:34] axelheer commented on #898
Will this get fixed with TFS 2017 Update 2?

[2017-05-23 12:18] StarWars999123 commented on #789
Hi @chrisrpatterson,

I know, its not connected to the machine group request that @NikolayKash mentioned here, but we would also need a deployment to 32bit-Windows 7 for test purposes. The client-system has limited ressources and so it is a 32bit OS.
Why was it not possible to compile a 32bit agent? Can you give us some more insights into the problems you experienced thereby?

[2017-05-23 13:24] v2kiran opened #987 "Update azure node modules for vsts agent"
Hi
the ability to deploy a resource to multiple resourcegroups(https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-cross-resource-group-deployment) was added recently to the azure resource manager but it requires that the powershell azure module be updated to the latest version. This I already did but since the azure resource group deployment task depends on node modules

[2017-05-23 14:10] ericsciple commented on #987
this sounds like an issue for the [tasks repo](https://github.com/microsoft/vsts-tasks)

[2017-05-23 14:10] #987 closed

[2017-05-24 02:42] JunQianZ commented on #110
same error on my customer's machine.  it is
 MacOS sierra; 10.12.1.
brew --version: homebrew 1.2.1
openssl version: openSSL 0.9.8zh .

then I tried brew update. brew install openssl as suggested. just below error comes:

uodateing homebrew...
updated fromulae
chakra
Error: your xcode (7.2) is too outdated. please update to Xcode 8.3.2 (or delete it).

my god, it takes so newly version Xcode 8.3.2?

[2017-05-24 02:47] TingluoHuang commented on #110
@JUNQIANZ
check this issue https://github.com/Microsoft/vsts-agent/issues/969

[2017-05-24 10:53] bryanmacfarlane commented on #972
We are developing multiple phases in build right now.  Note that it's not an agent issue.

You will also lose visibility of tracking history and results by platform.  The ability to show status by platform:  https://github.com/Microsoft/vsts-tasks/blob/master/README.md since status is hung off of a definition.  While some say that's a pain, it's actually nice to know it's failing on linux but pass

[2017-05-24 10:53] #972 closed

[2017-05-24 16:46] JunQianZ commented on #110
thanks.  I solved it. some tricky.
 I just uninstall the xcode 7.2. then rerun brew update. brew install openssl. it succeeds.
then, restore xcode;

[2017-05-24 20:19] MattGal opened #990 "Feature: Allow auditing of automatic agent update, and possibly warn / prevent users from queueing builds that cause this behavior"
Figuring out both when and why my VSTS agents self-updated today basically involves going to the _diag log folder and finding the logs of this happening.   If our build history doesn't go back far enough to see it, I have no possible way to figure out when or which build definition caused the automated upgrade.

This is a regular problem for the .NET Engineering build team and we'd very much like

[2017-05-26 11:37] DerKnerd opened #995 "Build not starting"
Our VSTS agent fails on every build try, the log is at the bottom. Can you help me? The TFS has three URLs that map all to the same server, might that be a problem?

## **Agent version and platform**
Version of your agent? 2.116.1
<br>
OS of the machine running the agent? Windows
<br>
## **VSTS type and version**
On-Prem TFS?
<br>
If On-Prem TFS, which release, 15.105.25910.0
## **What's not worki

[2017-05-26 14:10] TingluoHuang commented on #995
@DerKnerd i think so, since you are getting 301 redirect. can you configure the agent against the 'real' TFS url?

[2017-05-26 14:20] jabbera commented on #976
I went to implement this myself and was disheartened to find that the variables come from the server:-/

[2017-05-26 15:30] DerKnerd commented on #995
@TingluoHuang that helped thank you. Now I am getting a different error, should I make a new issue or add it here?

[2017-05-26 15:35] TingluoHuang commented on #995
@DerKnerd add here.

[2017-05-26 15:37] DerKnerd commented on #995
This is the new error I am getting:

[code]

[2017-05-26 15:37] TingluoHuang commented on #995
@DerKnerd what's your build log said? the one you pasted is agent diag log.

[2017-05-26 16:07] DerKnerd commented on #995
[code]

[2017-05-26 16:11] TingluoHuang commented on #995
looks like the `git submocule update` command failed with permission error.

[2017-05-26 16:11] TingluoHuang commented on #995
or it can't find the submodule repo.

[2017-05-26 16:13] DerKnerd commented on #995
It works without any issue when I try it with the account that runs the build agent. What users do I have to give rights?

[2017-05-26 16:16] TingluoHuang commented on #995
![image](https://cloud.githubusercontent.com/assets/1750815/26503041/323cf8ce-420d-11e7-8779-9ab12e8b256b.png)

[2017-05-26 16:17] TingluoHuang commented on #995
the build is always running as service account, not you.

[2017-05-26 16:20] DerKnerd commented on #995
Ok, that helped, I needed to add the Build Users in the security tab. After adding them it worked. Thank you.

[2017-05-26 16:22] TingluoHuang commented on #995
cool, i will close this issue.

[2017-05-26 16:22] #995 closed

[2017-05-26 18:11] ericsciple commented on #990
@MattGal send an email to bigbldt. closing the issue here since we dont track our backlog here.

[2017-05-26 18:11] #990 closed

[2017-05-26 18:17] ericsciple commented on #984
tracking the issue here: https://github.com/Microsoft/vsts-tasks/issues/4403

...and workaround is listed there too

[2017-05-26 18:17] #984 closed

[2017-05-26 19:20] ADammy74 commented on #956
@TingluoHuang Do you have any news to this error. I am also setting up BizTalk Feature Pack 1 ALM and I am hanging at the same Point. It would be great to get a solution for this. Thanks in advance!

[2017-05-28 21:57] artisticcheese opened #996 "Connection with PAT only, still requires Windows authentication?"
## **Agent version and platform**
Version: 2.112.0
Windows 2016<br>
## **On-Prem TFS Express 2017**
On-Prem TFS Express 2017
<br>
## **What's not working?**
I'm trying to automate agent installation using DSC. I assumed if I pass PAT during registration it will be able to registry without requirement to have secondary authentication available, but I'm gGetting access denied when registering agent

[2017-05-28 23:22] artisticcheese commented on #996
PAT was wrong

[2017-05-28 23:22] #996 closed

[2017-06-01 20:03] artisticcheese opened #1001 "Agent can not be configured if run under System account"
## **Agent version and platform**
Version of your agent? 2.112.0
<br>
OS of the machine running the agent? Windows 2016
<br>
## **VSTS type and version**
On-Prem TFS
<br>
2017
<br>
## **What's not working?**
Installing agent under System account does not work.
Image below showing that executing exact same command line under System account (top window) fails to authenticate while running exact same

[2017-06-01 20:13] TingluoHuang commented on #1001
@artisticcheese check your PAT make sure it's valid, we noticed when the PAT wrong, the client fallback to NTLM which is wrong. but that may explains the behavior you saw.

[2017-06-01 20:14] artisticcheese commented on #1001
@TingluoHuang  There is no reason to check since I cut and paste PAT in both CMD windows. I did not type it. I'm 100% sure they are correct.

[2017-06-01 20:15] TingluoHuang commented on #1001
@artisticcheese are you able to get fiddler trace for both see what auth header been set?

[2017-06-01 20:17] TingluoHuang commented on #1001
@artisticcheese here is the doc for capture http trace.
https://www.visualstudio.com/en-us/docs/build/troubleshooting#http-trace-logs

if you try agent > 2.114.0 the agent has built in function to trace http traffic.

[2017-06-01 20:17] TingluoHuang commented on #1001
@artisticcheese I am whether you PAT has right permission

[2017-06-01 20:18] TingluoHuang commented on #1001
I mean*

[2017-06-01 20:19] artisticcheese commented on #1001
PAT is `EXACTLY` the same in both cases as you can see. The only difference under which account it's being run. Please check screenshot, CMD on top is being executed as SYSTEM account and CMD below is being executed as "Administrator" account. It's not an issue of permission of PAT, configuration of VSTS server or mistyped something. I'm trying to capture HTTPS logs.

[2017-06-01 20:46] artisticcheese commented on #1001
I have HTTPS trace. It's attached. You can see PAT is in fact passed in CMD execution.

![image](https://cloud.githubusercontent.com/assets/13176884/26700010/6f5f412a-46e1-11e7-8a96-562180c709a0.png)

[a.zip](https://github.com/Microsoft/vsts-agent/files/1045991/a.zip)

[2017-06-01 20:56] TingluoHuang commented on #1001
@artisticcheese
in the Fiddler trace.
first request used PAT got 401.
Authorization: Basic VnN0c0FnZW50OjRzaWd4em1wNm9sb2NhcHZvb3Jmc2szeHhrdm1wZjIyNmFzbmpidnljeGtvb2xhcjI3YXE=
second request fallback to use NTLM still got 401.
Authorization: NTLM TlRMTVNTUAABAAAAB4IIogAAAAAAAAAAAAAAAAAAAAAKADk4AAAADw==

I guess if you try the same test on the user account, the user account will succeed on the NTLM

[2017-06-01 21:31] artisticcheese commented on #1001
Where I can find TFS AT log?

[2017-06-01 21:34] artisticcheese commented on #1001
Here is entry I see in Debug Log in Event Viewer

[code]

[2017-06-01 21:54] TingluoHuang commented on #1001
@artisticcheese i am not sure what's that error means. you might need create case with Customer support.
does the time this Exception shows in the event view exactly same as when you config the agent?

[2017-06-01 22:11] artisticcheese commented on #1001
Yes, it's showing up when I try to join

[2017-06-01 22:13] TingluoHuang commented on #1001
@artisticcheese are you hitting this in your production environment or test environment?

[2017-06-01 22:14] TingluoHuang commented on #1001
@artisticcheese can you share your TFS version? 2017 RTM or any QU?

[2017-06-01 22:14] artisticcheese commented on #1001
Test Environment and I can see that issue with Permissions for PAT. If I enabled all permissions then it works but if I choose only "Agent Pool (read/manage)" then it refuses to connect. It's 2017 RTM Express.

[2017-06-01 22:21] TingluoHuang commented on #1001
how did you setup your TFS instance? did you restore any backup database or fresh deploy?
I will send email to our IdentityTeam, let them help take a look.

[2017-06-01 22:22] TingluoHuang commented on #1001
@artisticcheese can you also show me your IIS setting for this TFS app?
like this:
![image](https://cloud.githubusercontent.com/assets/1750815/26703375/4c1e3ba6-46f7-11e7-98a7-5ca9d1f54a6c.png)

[2017-06-01 22:29] artisticcheese commented on #1001
It was PAT mistype after after all. I just got confused why it worked under user account but not system but it was because of fallback bug you mentioned.

[2017-06-01 22:29] #1001 closed

[2017-06-02 00:52] artisticcheese opened #1003 "Docker agent does not run under System Account"
## **Agent version and platform**
Version of your agent? 2.112.o
<br>
Windows 2016
<br>
## **VSTS type and version**
On-prem TFS 2017 RTM
<br>

<br>
## **What's not working?**

Running docker client does not work if it runs under System account as service

[code]

Build logs

[code]

Diag logs

[code]

[2017-06-02 00:58] bryanmacfarlane commented on #1003
log an issue here for the docker task:  https://github.com/Microsoft/vsts-tasks/issues

[2017-06-02 00:58] #1003 closed

[2017-06-02 01:00] bryanmacfarlane commented on #979
2.117.1 agent is available for this - it's rolling through the hosted pools now finishing up tomorrow.  you can download if needed.  it has node 6 LTS

[2017-06-02 01:00] #979 closed

[2017-06-02 01:01] TingluoHuang commented on #1001
@artisticcheese  you mean type the pat wrong? you said you copy paste it? how can that be wrong?

[2017-06-02 01:01] #973 closed

[2017-06-02 01:02] artisticcheese commented on #1001
it was wrong but still worked because it fall back to NTLM authentication behind the scene since account which I'm logged on to my agent and VSTS server using the same username and password.

[2017-06-02 02:06] artisticcheese commented on #1003
Issue was due to the fact that VSTSagent when setup as "runasservice" by default launched as "network service" and hence failure. I think this needs to be changed since out of the box docker task will not run in such situation.

[2017-06-02 03:02] TingluoHuang commented on #1003
@artisticcheese you just need to run the service as NT AUTHORITY\LocalSystem(or NT AUTHORITY\SYSTEM i forgot which is the right name.),

[2017-06-02 03:03] artisticcheese commented on #1003
Yes, I fixed the issue. Problem is that by default it runs as "Network Service" and that means that out of the box docker task will fail on VSTS agent.

[2017-06-02 03:07] TingluoHuang commented on #1003
Sure, but i do think "Network Service" is a good default for configure a build agent, since it has the minimum required permission for most of usage. I guess a better experience should be the docker task error out and give a more actionable error message when agent is not running elevated.

[2017-06-02 03:43] bryanmacfarlane commented on #1003
I commented on the docker task issue.  we should doc and/or detect.

[2017-06-02 13:19] Elyseum commented on #871
In case you want to hotfix this yourself, add a file called _Add-VisualStudioTestCapabilities.ps1_ with code (check for your path)

`
[CmdletBinding()]
param()

if (Test-Path "C:\Program Files (x86)\Microsoft Visual Studio\2017\TestAgent\Common7\IDE\CommonExtensions\Microsoft\TestWindow") {
    Write-Capability -Name 'VSTest' -Value "C:\Program Files (x86)\Microsoft Visual Studio\2017\TestAgent\Co

[2017-06-02 14:28] ericsciple commented on #871
i would recommend add the user capability (in the admin UI) since the bin folder will be replaced when the updates.

[2017-06-02 18:43] TingluoHuang commented on #938
do you guys still having problem with upload artifact? if not, i will close the issue.

[2017-06-03 09:04] jtemperv commented on #938
@TingluoHuang as this is clearly an ISP issue, you can close this case I think. There's nothing you can do on your end. Thanks for the support. 👍

[2017-06-03 14:33] #938 closed

[2017-06-03 14:39] bryanmacfarlane commented on #898
@ericsciple @TingluoHuang Is there a QU2 bug logged for TFSVC?  This is an issue in tf.exe and I want to make sure it gets some traction.  (tfsvc issues aren't open but at least we can ref progress)

[2017-06-03 17:13] bryanmacfarlane commented on #741
@agc93 @GitHubSriramB - It's unclear what's left to be done with this issue

[2017-06-04 23:26] GitHubSriramB commented on #741
@agc93 - Pl. refer to comment above on how to resolve this issue. If you have any further queries, pl. let us know. I am closing this as of now.

[2017-06-04 23:26] #741 closed

[2017-06-05 03:14] ericsciple commented on #898
@bryanmacfarlane 987895

[2017-06-05 15:00] tkorc commented on #904
Hi, same issue for us. Anyway our solution was that there was no local accounts on the new machine (we're using a local account instead of access token for this task for a certain reason) when we did the upgrade from TFS 2015 to TFS 2017.

Take this as a kick-off in case the same thing happened to you ;-)

Cheers.

[2017-06-06 03:21] ericsciple commented on #805
ability to map arbitrary env vars for any task would solve this too (needed for other reasons and more clean approach)

[2017-06-06 05:43] Elyseum commented on #871
I tried that, but my Deployment Groups agent appears offline in the Agent Queues screen. I've added the capability there, but it didn't show up when I tried to release it.

[2017-06-06 17:17] ericsciple commented on #871
@RoopeshNair @kmkumaran for deployment group issue - i'll send an email to them offline as well

[2017-06-06 17:19] ericsciple commented on #871
@Elyseum sorry i realize now your issue sounds like a separate issue, you may want to open a separate issue

[2017-06-06 17:21] ericsciple commented on #871
@cltshivash for the VSTest capability issue

[2017-06-06 17:40] ericsciple commented on #866
@cltshivash

[2017-06-06 17:41] ericsciple commented on #810
@trevorsg

[2017-06-10 22:31] mgj commented on #110
I think im seeing this issue on High Sierra 10.13 :

1. brew install openssl
2. install dotnet core sdk
3. install xcode + xcode-select install
3. Run ./config, and observe the CurlHandler error

5. ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib /usr/local/lib/
6. ln -s /usr/local/opt/openssl/lib/libssl.1.0.0.dylib /usr/local/lib/
7. ./config.sh

expected output:
build agent is now properl

[2017-06-11 01:39] TingluoHuang commented on #110
@mgj can you try run `./bin/Agent.Listener configure` directly? also, is there any app crash log you can find in OSX ~/Library/Log/...? and can you open a new issue for the problem you hit?

[2017-06-11 12:40] mgj opened #1007 "Support (beta) High Sierra 10.13 - Segmentation Fault"
## **Agent version and platform**
Agent: 2.117.1
MacOS High Sierra 10.13

## **VSTS type and version**
VisualStudio.com

## **What's not working?**
Steps taken:
1. brew install openssl
2. install dotnet core sdk
3. install xcode + xcode-select install
3. Run ./config.sh and observe the CurlHandler error mentioned in #110
5. ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib /usr/local/lib/
6.

[2017-06-11 12:41] mgj commented on #110
@TingluoHuang thanks for your response. I can run `./bin/Agent.Listener configure` but it fails in the same manner with a segmentation fault after entering my access token.

I have opened #1007 which contains the log you asked for as well as the Agent diag log

[2017-06-11 12:54] bryanmacfarlane commented on #110
Thanks for opening the other issue.  The segmentation fault is not related to this issue.

[2017-06-11 12:56] mgj commented on #110
Ok. Please let me know if there is any more info you need from me

[2017-06-12 10:36] D3xt3rSM commented on #683
Hello,

did you find the issue ?
I have the same problem now since 2.117.1
Did an update of the agent. Agent failed to start/report back to VSTS.
Tried removing and readding the agent and getting stuck at the same step after entering the PAT.

Tried an older kit and that connects and generated the agent OK.

[2017-06-12 14:19] TingluoHuang commented on #683
@D3xt3rSM can you share your agent diag log, VSTS account name, http trace with me?
[Instruction to get http trace](https://www.visualstudio.com/en-us/docs/build/troubleshooting#http-trace-logs)
Also, which agent version works for your?

[2017-06-12 15:12] D3xt3rSM commented on #683
Hello, I had handy a v2.107. That works ok under same circumstances.

[2017-06-12 17:52] TingluoHuang commented on #956
BizTalk Feature feature pack 1 CU1 should release soon and has the fix.

[2017-06-12 21:44] TingluoHuang commented on #683
@D3xt3rSM can you share your agent diag log, VSTS account name, http trace with me?

[2017-06-13 02:02] girishgouda opened #1010 "Private build agent is not able to recognize the VS2017"
When i use a private build agent to queue the build , i get the following error

No agent could be found with the following capabilities: msbuild, visualstudio, vstest

I have installed vs2017 on the build agent and its not able to recognize the capabilities . when i see the capabilities section of build agent. I do not see the msbuild visualstudio and vstest.

I am using the latest build agent vs

[2017-06-13 02:04] TingluoHuang commented on #1010
@girishgouda can you share your agent diag log with us? the log is under `_diag` folder in agent root directory.

[2017-06-13 02:14] girishgouda commented on #1010
Hi
Here is the log file
[logfile.docx](https://github.com/Microsoft/vsts-agent/files/1070100/logfile.docx

More information on the issue

Earlier i was getting where the build agent was not able to reconize vs2017(15) and instead using 14 to build. Because of this some, we were not able to build the solution. I uninstalled vs2017 and vs2015 and installed vs2017 and now i see this error because it

[2017-06-13 02:31] TingluoHuang commented on #1010
@girishgouda how did you installed VS2017? using the offical installer? which set of components did you select to install?
can you run the following command and share the result?
1. `E:\BootCampAgent\bin\powershell\CapabilityHelpers\..\..\..\externals\vswhere\vswhere.exe -version '[15.0,15.1)' -latest -format json`
2. `E:\BootCampAgent\bin\powershell\CapabilityHelpers\..\..\..\externals\vswhere\vs

[2017-06-13 02:39] girishgouda commented on #1010
Yes using the offical installer. I had installed ASP.NET and web development  and azure development
I do not see Vswhere.exe in the path
![capabilityhelper](https://user-images.githubusercontent.com/9015874/27063472-a198f2a8-500f-11e7-9cb2-18257a5ca205.png)

[2017-06-13 03:02] TingluoHuang commented on #1010
@girishgouda sorry, it's a relative path. `E:\BootCampAgent\bin\powershell\CapabilityHelpers\..\..\..\externals\vswhere\vswhere.exe` should be `E:\BootCampAgent\externals\vswhere\vswhere.exe`

[2017-06-13 03:08] girishgouda commented on #1010
Here the results
![comands](https://user-images.githubusercontent.com/9015874/27064164-a3357d76-5013-11e7-9f55-aac97f27ca03.png)

[2017-06-13 03:10] girishgouda commented on #1010
i corrected the other command with the quote and heres the result. Both of them are returining empty or null
![commandnew](https://user-images.githubusercontent.com/9015874/27064216-e071246a-5013-11e7-859e-410179e37245.png)

[2017-06-13 03:11] TingluoHuang commented on #1010
@girishgouda what about `.\vswhere.exe -all`

[2017-06-13 03:15] girishgouda commented on #1010
![all](https://user-images.githubusercontent.com/9015874/27064353-908d0e90-5014-11e7-9a1d-ae58201a778d.png)

Im my localdat folder i see this

![localdatapath](https://user-images.githubusercontent.com/9015874/27064363-994c3948-5014-11e7-8b02-77ba6bb73272.png)

[2017-06-13 03:22] girishgouda commented on #1010
Earlier i had also installed the latest preview version of VS2017. So there were two version side be side . vs2017 and vs2017 preview and then i unistalled vs2017 and installed it back.Does it help

[2017-06-13 03:27] TingluoHuang commented on #1010
@girishgouda thanks for the information.
@ericsciple FYI,
i think the problem is VS changed their version format that we didn't participate.
can you check whether the following path exist `c:\program file (x86)\microsoft visual studio\2017\enterprise\MSBuild\15.0\Bin\msbuild.exe`
if so, to unblock you make the following change into `"E:\BootCampAgent\bin\powershell\CapabilityHelpers\VisualStudioFu

[2017-06-13 03:34] girishgouda commented on #1010
After chaging i still see the error
No agent could be found with the following capabilities: msbuild, visualstudio, vstest
Do we need to remove and configure the agent

[2017-06-13 03:36] TingluoHuang commented on #1010
@girishgouda did you stop and restart your agent after change the ps1 script, if you already restart the agent but still see the error, send me diag log again.

[2017-06-13 03:37] girishgouda commented on #1010
how do we stop and start the agent,. I ahvent done that

[2017-06-13 03:39] TingluoHuang commented on #1010
@girishgouda how did you run your agent interactive or service? if interactive, just Ctrl-C the command prompt and re-run ./run.cmd, if service, go to task manager, restart the windows service for your agent.

[2017-06-13 04:55] girishgouda commented on #1010
now i am able to the star the build but the build is failing for
##[warning]Visual Studio version '15.0' not found.

[2017-06-13 04:59] TingluoHuang commented on #1010
@girishgouda yeah, you also need hack the task script to unblock yourself. search all `MSBuildHelpers/PathFunctions.ps1` under your agent's `_work/_tasks` folder.
make similar change to line 189:
[code]

[2017-06-13 05:15] girishgouda commented on #1010
No builing failing for test

2017-06-13T05:10:28.2348153Z !**\obj\**
2017-06-13T05:10:28.2348153Z Test assembly filter : **\release\*unittest*.dll,!**\obj\**
2017-06-13T05:10:28.2368181Z VisualStudio version selected for test execution : latest
2017-06-13T05:10:28.2418161Z [command]powershell -NonInteractive -ExecutionPolicy Unrestricted -file E:\BootCampAgent\_work\_tasks\VSTest_ef087383-ee5e-42c

[2017-06-13 05:21] girishgouda commented on #1010
I changed the version of test task from latest to vs2017 then i am getting this error

Visual Studio 2017 is not found. Try again with a version that exists on your build agent machine.

[2017-06-13 10:01] ericsciple commented on #1010
a workaround would be specify the location to vstest

[2017-06-13 10:32] ericsciple commented on #1010
fyi - PRs https://github.com/Microsoft/vsts-agent/pull/1014 and https://github.com/Microsoft/vsts-tasks/pull/4525

[2017-06-13 10:37] ericsciple commented on #1010
@nigurr fyi - although it looks like you already merged a fix to master last week https://github.com/Microsoft/vsts-tasks/pull/4488

[2017-06-13 19:32] ericsciple commented on #898
@JamesNK @michha @axelheer please send ersciple a build log if you have a failed build (at microsoft com). I'm working with the VC team and we have an app to run the commands in a loop but so far not getting a repro. We tried create/get/delete/resolvePath in a loop in two separate processes for an hour.

What I'm wondering is what combination of tf commands are running during your builds. For inst

[2017-06-14 08:27] usmanshaheen commented on #956
I managed to resolve it by:
1. have a separate build server.
2. install BTS FP1
3. create a copy of BizTalk Server 2016\Developers Tools
4. uninstall BTS FP1
5. replace Developers Tools folder with the copy created at step 3
6. copy missing assembly Microsoft.BizTalk.ALM.JsonSchema from BTS server and GAC it on build server
7. got a successful build
8. create a new queue for Release and host its b

[2017-06-14 10:40] bryanmacfarlane commented on #956
Also note that we worked with the biz talk team to fix this for their next update.

[2017-06-14 10:43] bryanmacfarlane commented on #976
@GitHubSriramB - system artifacts directory is also not specified by the release plugin in the agent

[2017-06-14 11:45] GitHubSriramB commented on #976
@jabbera - We have added ProjectId & Repository Id to list of artifact variables.

@bryanmacfarlane - We do set system.artifactsdirectory in release plugin:
https://github.com/Microsoft/vsts-agent/blob/master/src/Agent.Worker/Release/ReleaseJobExtension.cs#L352

[2017-06-14 11:46] GitHubSriramB commented on #976
Closing this issue given the issues identified have been fixed.

[2017-06-14 11:46] #976 closed

[2017-06-14 14:43] issafram commented on #147
Being a non Mac user, can someone tell me the proper way to create the LaunchAgents folder?  The error message seems to state that its a System Directory, so is MKDIR good enough or is there an official way to do this?

[2017-06-19 07:03] michha commented on #898
I will try to reproduce it during the next days (we worked around this issue by spreading our build start times) and I will report here again, when the e-mail is sent.

[2017-06-19 14:02] ericsciple commented on #898
@michha sorry i thought i updated this issue. we found the bug. right now i'm waiting until it makes it into a stable branch so i can bundle a new copy of tf and all dependencies. probably a couple weeks before it goes out with an agent release.

[2017-06-19 21:34] TingluoHuang commented on #1007
@mgj can you try the following instructions see whether you can unblock?
•	Locate System.Net.Http.dll (presumably /agentroot/bin/System.Net.Http.dll)
•	Save a backup copy of entire /bin folder
•	Download https://ci.dot.net/job/dotnet_corefx/job/release_1.1.0/job/osx_release/lastSuccessfulBuild/artifact/bin/build.tar.gz
•	tar -xzvf build.tar.gz bin/Unix.AnyCPU.Release/System.Net.Http/System.Net.Htt

[2017-06-20 07:27] michha commented on #898
Thank you for the update. When the new agent is available I will deploy it to our environment and confirm if this bug is fixed.

[2017-06-20 07:40] mgj commented on #1007
@TingluoHuang success!

I replaced `agentroot/bin/System.Net.Http.dll` with the new one you linked
I left `/usr/local/share/dotnet/shared/Microsoft.NETCore.App/1.1.2/System.Net.Http.dll` alone

I can now configure the agent and run it. I have not yet tried to run an actual job

[2017-06-20 14:18] TingluoHuang commented on #1007
@mgj cool, could you please let us know if you are able to run an actual job? thanks.

[2017-06-21 08:12] mgj commented on #1007
I have now successfully built a Xamarin.Android and Xamarin.iOS project (that i used to build on Sierra) on a build agent running High Sierra

[2017-06-21 08:37] rs38 opened #1029 "strange proxy error: SP324097: Your network proxy requires authentication"
talking from onprem Agent to onprem TFS does not work for a particular Service account.

`powershell wget -uri onprem-tfs:8080/TFS -userdefaultcredentials` works fine

I have no further Idea to narrow down...any idea?

Version of Agent: from TFS 2015 Update 3
VSOWorker v14.102.25423.0
<br>
Windows Server 2012 R2
<br>
 On-Prem TFSelease 2015 U3
<br>
Agent is registered correctly and is listed as "g

[2017-06-21 14:34] TingluoHuang commented on #1029
@rs38 the 1.x version build agent never fully supported proxy and has been deprecated. Try the 2.x agent from this repository and follow doc to config it work through proxy. [Doc is here](https://www.visualstudio.com/en-us/docs/build/actions/agents/v2-windows#qa)

[2017-06-21 18:59] rs38 commented on #1029
I already tried the 2.x agent, but it does not work with TFS 2015 on prem, so I have no choice.

[2017-06-21 19:01] TingluoHuang commented on #1029
@rs38 which version you tried, we blocked it recently, but i think you can try old version.
ex: https://github.com/Microsoft/vsts-agent/releases/tag/v2.112.0

[2017-06-21 19:07] rs38 commented on #1029
I tried the latest non-prerelease release (v2.117.1). thank you for the hint, I will try it soon.
The main issue is the unknown or unexpected  behaviour to *bypass* the corporate proxy based on IE group policies or user (-> service account) dependend settings.

[2017-06-21 19:18] TingluoHuang commented on #1029
@rs38 why you need bypass the proxy?

[2017-06-21 21:46] sirjoekcb opened #1030 "Timeout during artifact download on slow connection"
## **Agent version and platform**
Version of your agent? 2.119.1
<br>
OS of the machine running the agent? RHEL 7.3
<br>
## **VSTS type and version**
On-Prem TFS 14.102.25423.0
<br>

## **What's not working?**
I am trying to deploy a build using the release management functionality, however there is a slow network connection to the agent. This appears to cause the artifact download to fail and res

[2017-06-21 21:51] TingluoHuang commented on #1030
@sirjoekcb i will make a fix to make sure those variable got work in Release. current they works in upload build artifacts.

[2017-06-21 22:26] TingluoHuang commented on #1030
@GitHubSriramB can you take look this? customer get timeout during artifact download.

[2017-06-22 05:53] rs38 commented on #1029
in order to have a work around for the error "ProxyAuthenticationRequiredException: SP324097: Your network proxy requires authentication"

[2017-06-22 08:12] rs38 commented on #1029
the auth issues with the proxy now indeed are gone with v2.112.0 :+1:
But now I get different errors I did not witness before. same as here:
#890

[2017-06-22 09:12] GitHubSriramB commented on #1030
@sirjoekcb - will take up fixing this & let you know once it is fixed.

[2017-06-22 15:36] TingluoHuang commented on #1029
@rs38 do you plan to upgrade your TFS server to 2017? i don't have good suggestion now. :(

[2017-06-22 16:16] rs38 commented on #1029
the decision is not up to me. thanks for your help

[2017-06-23 19:58] TingluoHuang commented on #1029
I will close the issue as the proxy problem has been solved by using 2.x agent.

[2017-06-23 19:58] #1029 closed

[2017-06-23 20:07] TingluoHuang commented on #838
We can't change the existing variable for compat reason, we can add a BUILD_SOURCEBRANCHFULLNAME if really needed. I will close the issue as Eric suggested.

[2017-06-23 20:07] #838 closed

[2017-06-23 20:07] #804 closed

[2017-06-23 21:52] ChristophLindemann commented on #838
@TingluoHuang & @ericsciple
The `BUILD_SOURCEBRANCHFULLNAME` solution would be really appreciated.

For example, we use the branch name to publish intermediate API doc releases to folders named the same as the branch. Now if two people or teams use a branch name that is equal in the last segment, the builds would override each other's output.

We also use it to drop artifacts in a common drop loca

[2017-06-27 13:34] JacobHenner opened #1037 "VSTS agent can no longer access Jenkins artifacts"
## **Have you try trouble shooting doc?**
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## **Agent version and platform**
Version of your agent? 2.119.1
<br>
OS of the machine running the agent? Windows 2012 R2
<br>
## **VSTS type and version**
VisualStudio.com
If VisualStudio.com, what is your account name? http://msusa-poc.visualstudio.com
<br>
## *

[2017-06-27 13:45] TingluoHuang commented on #1037
@GitHubSriramB @kasubram  can you guys take a look at this?

[2017-06-27 13:54] JacobHenner commented on #1037
@TingluoHuang Would you like me to submit a report through the VSTS feedback feature too, or will this suffice?

[2017-06-27 14:00] TingluoHuang commented on #1037
@JacobHenner  i think here should be fine for any agent related issue. :)

[2017-06-27 16:49] MarkHerhold opened #1038 "RHEL Dependencies Clarification"
## **What's not working?**

According to the [RHEL docs](https://github.com/Microsoft/vsts-agent/blob/master/docs/start/envredhat.md), RHEL installs need the `icu` dependency via yum. I don't see this getting installed on my machines and wonder if it's an issue.

I don't believe this is an issue, but would like to hear from the experts. 😄 Please advise.

[code]

## **Agent version and platform**
A

[2017-06-28 08:04] gdavocap opened #1043 "Agent does not detect the Xamarin.Android capability"
## **Agent capabilities**

Capability name	Capability value
Agent.OS	Windows_NT
Agent.OSVersion	10.0.14393
Agent.Version	2.119.1
ALLUSERSPROFILE	C:\ProgramData
AndroidSDK	C:\Program Files (x86)\Android\android-sdk
AndroidSDK_19	C:\Program Files (x86)\Android\android-sdk\platforms\android-19
AndroidSDK_21	C:\Program Files (x86)\Android\android-sdk\platforms\android-21
AndroidSDK_22	C:\Program Files

[2017-06-28 11:13] tarunaroraonline opened #1044 "VSTS Agent Extension in ARM template"
I am trying to install the VSTS Agent as an extension through an ARM template. Unfortunately I can't find the list of parameters that it needs. There is documentation for most of the custom extensions for Compute, except VSTS https://docs.microsoft.com/en-us/azure/virtual-machines/windows/extensions-configuration-samples?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json

Here is the block that'

[2017-06-28 13:22] JacobHenner opened #1045 "dev.sh error downloading dotnetsdk 1.0.1"
When attempting to use dev.sh,
[code]

[2017-06-28 15:23] aqmdla2002-2 opened #1046 "Configure tags during vsts-agent setup"
Nowadays, we install vsts-agent and after that, we configure tags in vsts portal.
See the possibility to configure machine tags during vsts-agent setup.

[2017-06-28 15:24] ericsciple commented on #1043
@madhurig

[2017-06-28 15:28] TingluoHuang commented on #1046
@chshrikh I think this is a Deployment group question?
@aqmdla2002-2  can you provide more information about the question you have?
ex, how did you config the agent? what commands you run? can you share the diag log from _diag folder under agent root directory?

[2017-06-28 15:32] TingluoHuang commented on #1045
@JacobHenner what's your os? the error is because it can't detect your OS from ` . /etc/os-release`

[2017-06-28 15:41] JacobHenner commented on #1045
@TingluoHuang This particular attempt was from Arch. Can the script be changed to handle unsupported distros gracefully?

[2017-06-28 15:45] TingluoHuang commented on #1045
@JacobHenner the script is coming from https://github.com/dotnet/cli/blob/master/scripts/obtain/dotnet-install.sh
you can open an issue in there repository to report your problem.

[2017-06-28 15:49] TingluoHuang commented on #1045
@JacobHenner since you are on ArchLinux, i am not sure whether dotnet core 1.1 support that platform.
I think when we start adopt netcore 2.0 your platform should be supported.

[2017-06-28 18:57] jabbera commented on #976
@GitHubSriramB This is working great for build artifacts (TfsGit), but the repositoryid has not been included in "Git" artifacts that are direct links to vsts git repos. Can this be added? I'm actually stuck for this feature because there is no build to go back to. If I don't hear back in a couple of days I'll open a new issue since I can't re-open this one.

Thanks!
Mike

[2017-06-28 18:58] aqmdla2002-2 commented on #1046
We want to us Deployment group to make continuous delivery in one project.

We install the agent following the info in "Register machine". For example, for Ubuntu 16.04:

mkdir vstsagent;cd vstsagent;curl -fkSL -o vstsagent.tar.gz https://github.com/Microsoft/vsts-agent/releases/download/v2.119.1/vsts-agent-ubuntu.16.04-x64-2.119.1.tar.gz;tar -zxvf vstsagent.tar.gz;./config.sh --deploymentgroup --

[2017-06-28 19:14] tarunaroraonline commented on #1044
I have made some progress and cobbled together the following...

[code]

It however fails with the following error message...

[code]

[2017-06-28 19:35] kasubram commented on #1037
The correct commits which cause this issue is [this](https://github.com/Microsoft/vsts-agent/commit/7b06e5e9956c570a796842d596a898438ce29e5a) and [this](https://github.com/Microsoft/vsts-agent/commit/33fe635951440c1ee51678365a155d00c9905471)

We made a change in the first commit, where if there is no artifact found in the build we will add a warning in the release summary but not fail the release

[2017-06-28 20:19] JacobHenner commented on #1037
@kasubram I assume the response is a 200, since the artifact is successfully downloaded and displayed within VSTS.

[2017-06-29 03:49] chshrikh commented on #1046
@aqmdla2002-2 this is possible.  You need to specify additional command line options =>
  "--adddeploymentgrouptags --deploymentgrouptags 'SAMPLE-TAG1,SAMPLE-TAG2'"

 Your command may look like this then -

mkdir vstsagent;cd vstsagent;curl -fkSL -o vstsagent.tar.gz https://github.com/Microsoft/vsts-agent/releases/download/v2.119.1/vsts-agent-ubuntu.16.04-x64-2.119.1.tar.gz;tar -zxvf vstsagent.tar

[2017-06-29 06:44] aqmdla2002-2 commented on #1046
A lot of thanks for your asssistance. This is what we need.
One last comment, I think these parameters should be documented in the help output. For example (Ubuntu 16.04):
``logiadmin@lgmadhbepswt26v:/opt/vstsagent/bin$ sudo ./Agent.Listener --help
Visual Studio Team Services Agent
Copyright (c) Microsoft Corporation

Run the agent using the convenience cmd or shell script wrappers.

Print agent v

[2017-06-29 06:44] #1046 closed

[2017-06-29 06:57] chshrikh commented on #1046
@aqmdla2002-2 now this is documented. May be with next deployment it will be available.

[2017-06-29 07:54] MichelZ opened #1048 "Unquoted path vulnerability"
## **Agent version and platform**
Version of your agent? TFS2017U1, Windows
## **VSTS type and version**
TFS2017U1
## **What's not working?**
Security Scanner (Tenable Nessus) Plugin 63155 complains about untrusted path.
https://www.tenable.com/plugins/index.php?view=single&id=63155

Please consider adding quotes to the windows service executable path here:
https://github.com/Microsoft/vsts-agent/

[2017-06-29 10:21] madhurig commented on #1043
@gdavocap: To unblock yourself, can you try adding these capabilities to the "User Capabilities" section:
Xamarin.Android
AndroidSDK
MSBuild

That should allow your build to run on the agent.

Thanks,
Madhuri

[2017-06-29 12:51] tarunaroraonline opened #1049 "Demand and Capabilities"
Is there any plan to support a check for capability does not exist? I have two types of agents, one that are using domain account and other using local service account. I have created a demand to identify domain by adding that capability to the relevant agents. I don't want to create another demand on the other agents now, I just want to add a check in my build to verify that the build gets on an

[2017-06-29 12:57] GitHubSriramB commented on #976
@jabbera - RepositoryId for Git artifact is available as DefinitionId artifact variable. Would this work?

[2017-06-29 12:58] jmsvl commented on #898
Hello,

I 'm also on a project with several agents on the same build server and with the previous version (116, 117) and this new version (119) I's still getting the messages below every once in a while.

2017-06-29T12:44:20.3873620Z ##[command]tf vc scorch D:\b\a4\_work\8\s /recursive /diff /unmapped /loginType:OAuth /login:.,******** /noprompt
2017-06-29T12:44:22.6494345Z No appropriate mapping

[2017-06-29 13:01] GitHubSriramB commented on #1037
@JacobHenner - is the credentials to connect to Jenkins server still valid? Wondering 403 is due to the credentials being invalid.

[2017-06-29 13:18] magol commented on #778
Did you solve this? I have the same problem

[2017-06-29 13:44] zaero33 commented on #778
Sorry, I gave up.

I've switched to Windows Server machine. The agents were registered correctly there.

[2017-06-29 14:07] JacobHenner commented on #1037
Yes. When I revert to 2.115, the same credentials work fine.

Regards,

Jacob Henner

This message was sent on the go.

On Jun 29, 2017 09:01, "Sriram B" <notifications@github.com> wrote:

[2017-06-29 14:18] TingluoHuang commented on #1049
@tarunaroraonline i don't think you can do that today, you have to tag those agents a different capability for routing.
i will defer @bryanmacfarlane @chrisrpatterson for your feature request.

[2017-06-29 14:23] TingluoHuang commented on #1048
@MichelZ cool, thanks for report this, do you want to create a PR to fix this?

[2017-06-29 14:26] TingluoHuang commented on #1044
@chshrikh for deployment group question.

[2017-06-29 14:51] ericsciple commented on #1049
@bryanmacfarlane @chrisrpatterson to consider. closing the issue here since this is outside the scope of this repo (the agent itself). this is a limitation on the server side. user voice is a better place for this feature request: https://visualstudio.uservoice.com/forums/330519-team-services

[2017-06-29 14:51] #1049 closed

[2017-06-29 15:24] bishal-pdMSFT commented on #1044
@tarunaroraonline can you please pull details error from Azure portal. Go to VM -> extensions -> Team Services Agent -> click on "view detailed status"

The parameters look fine.

[2017-06-29 15:25] bishal-pdMSFT commented on #1044
@tarunaroraonline also please provide us your VSTS account name.

[2017-06-29 15:25] bishal-pdMSFT commented on #1044
@chshrikh, please assign this issue to me and Tejas

[2017-06-29 15:56] Scudroe opened #1050 "VSTS agent does not respect connection url at config time and uses TFS public url instead"
## **Agent version and platform**
2.111.1 or 2.119.1

##**OS:**
2012 (not R2)

## **VSTS type and version**
On-Prem TFS 2017.1 (Update 1 RC2)

## **What's not working?**

I have DMZ web server for deployment agent. This machine connects to on-prem TFS on 443 / SSL
Internal users use http on 8080 (this is the public url)

Times out on 'Testing Agent connection' [It is trying to hit 8080 which is no

[2017-06-29 20:57] tarunaroraonline commented on #1044
Thank for offering to help. Looking at the logs, the error message is clear. The extension fails to download the Team services agent. The question is, where is the agent being downloaded from? I am behind a proxy in the Azure IaaS Vm...

[2017-06-29 20:57] tarunaroraonline commented on #1044
@bishal-pdMSFT The VSTS account name is centrica-emt

[2017-06-30 05:15] bishal-pdMSFT commented on #1044
@tarunaroraonline Agent gets downloaded from our agent's github repo.
However, currently TeamAgent VM extension does not explicitly use proxy settings which is resulting in this error.

[2017-06-30 09:07] tarunaroraonline commented on #1044
@bishal-pdMSFT The trouble is GitHub uses s3.amazon.com to store the artifacts, which isn't white listed in many enterprises since you have to open access to all of s3 since there isn't a specific pattern in the URL that will allow you to open up subset of access. It would be great if you could server up the extension from an Azure blob store instead?

What are the plans for enabling proxy support

[2017-06-30 10:15] RoopeshNair commented on #1044
Hi Tarun( @tarunaroraonline ),

I have added this to our backlog. No time-lines yet :)

[2017-06-30 10:29] tarunaroraonline commented on #1044
@RoopeshNair Is there a work around you could propose in the interim?

[2017-06-30 13:56] TingluoHuang commented on #1050
#1052

[2017-07-02 02:06] calebcartwright opened #1053 "Question: Will tasks written in Powershell ever be supported on Mac/Linux?"
Apologies if this has already been asked and answered, but I was unable to find any other issues on this topic.

I know that today tasks have to be written in Node.js in order to be leveraged on all platforms. However, I hear that Powershell itself is now cross-platform, so are there any plans/considerations to support the ability to run tasks written in powershell on Mac/Linux?

(This is probably

[2017-07-02 18:17] bryanmacfarlane commented on #1053
task lib repo has more details.  https://github.com/Microsoft/vsts-task-lib

Right now it's node (xplat) and powershell (windows).  We are looking @ xplat powershell but we actually have more requests for writing in net core (C#).  That's probably where we will go next.

[2017-07-02 18:18] #1053 closed

[2017-07-03 09:26] RoopeshNair commented on #1044
Can they white-list or bypass proxy for https://github.com/Microsoft/vsts-agent/releases/download/*  and visualstudio account url?

[2017-07-03 16:10] tarunaroraonline commented on #1044
Roopesh we've already white listed *.github.com* unfortunately github redirects to s3.amazon for all artifacts which is what's causing the real problem.

[2017-07-04 04:02] bryanmacfarlane commented on #1044
we have a backlog item to server up from azure blob instead of relying on GH releases (which uses s3 internally)

[2017-07-04 14:33] bartdkmediahuis commented on #1043
@madhurig : We are having the same issue with a freshly installed VSTS-agent.
I did add the user capabilities you mentioned in the above post.
Is there any way to run a tool to see which capabilities we are missing to run certain builds (in this exampl Xamarin Android ?)

[2017-07-05 04:19] madhurig commented on #1043
The build definition editor in the web shows all the demands from the tasks used in the definition. You can check that and add any missing capabilities to the "user capabilities". I see multiple cases of "msbuild" which might be causing an issue with your builds not running even after adding the capabilities manually.

<img width="520" alt="screen shot 2017-07-05 at 9 45 47 am" src="https://user-i

[2017-07-05 04:38] samindustry opened #1054 "RHEL7 agent config"
## **Have you try trouble shooting doc?**
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting
Yes

## **Agent version and platform**
Version of your agent? 2.102.0/2.100.1...
vsts-agent-rhel.7.2-x64-2.112.0.tar.gz
<br>
OS of the machine running the agent? OSX/Windows/Linux...
Red Hat Enterprise Linux Server release 7.3 (Maipo)
<br>
## **VSTS type and version

[2017-07-05 04:47] TingluoHuang commented on #1054
@samindustry thanks for your detail log and all you have been tried.
Can you try use curl access the same endpoint agent trying to access?

Are you able to try latest version agent? since we add more trace in the newer version agent for debug, basically the agent can trace out http request and response.

Here is the doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting#http-trace-logs

[2017-07-05 04:52] samindustry commented on #1054
@TingluoHuang thanks for the prompt response.

I have tested curl and didn't see any issues there, please see OP.  Please advise if I should try a different URL.

Where can I get latest agent as the doco says to download from my TFS install.  I did enable httptrace but maybe my agent is too old.

[code]

[2017-07-05 04:54] TingluoHuang commented on #1054
@samindustry you can always get it from github.
https://github.com/Microsoft/vsts-agent/releases/tag/v2.117.2

[2017-07-05 05:00] TingluoHuang commented on #1054
@samindustry do you have any proxy between you agent and AT?

[2017-07-05 05:11] samindustry commented on #1054
@TingluoHuang yes, proxy is set (export VSTS_HTTP_PROXY=).  With updated agent (2.117.2) I am getting past that error now!

Now I am getting auth error on default agent pool:

[code]

Diag:

[code]

[2017-07-05 05:25] samindustry commented on #1054
@TingluoHuang thanks for your help, Alternate auth worked:

[code]

[2017-07-05 05:29] samindustry commented on #1054
![image](https://user-images.githubusercontent.com/29909043/27850262-c605d744-6196-11e7-9002-057fb4a80c54.png)
:+1:

[2017-07-05 13:33] TingluoHuang commented on #1054
@samindustry glad you unblock, but i am still interested to know why Negotiate not work.
Few thing i want to confirm:
1. You said you do have proxy between the agent and TFS AT, but the agent diag logs shows that the agent didn't pick up the proxy config you have. `[2017-07-05 05:00:05Z INFO VstsAgentWebProxy] No proxy setting found.` how did you set up proxy for agent?
2. When you use Negotiate (

[2017-07-05 14:59] bartdkmediahuis commented on #1043
Good point. The thing is that this view is readonly.
I can remove manually created Demands, but in this case msbuild and MSBuild were not added manually, so they can not be removed either.

Is there any option to check why a certain agent is not capable to run a given build definition ?

Note : This build definition does run on another (older) agent.

[2017-07-05 15:21] ericsciple commented on #898
Work is in progress to get a new agent that carries the updated tf.exe and dependency DLLs (pr https://github.com/Microsoft/vsts-agent/pull/1056)

[2017-07-05 15:29] jmsvl commented on #898
Thanks for the update

[2017-07-05 20:34] jachakrohit07 opened #1058 "Run agent in Service mode"
Can you please specify in detail how I can run the build agent on the TFS server in the "Service mode" as the build agent stops working sometimes just before the release to the production?

[2017-07-05 20:37] TingluoHuang commented on #1058
@jachakrohit07 here is the doc for agent config https://www.visualstudio.com/en-us/docs/build/actions/agents/v2-windows#download-and-configure-the-agent

can you share detail error you get?

[2017-07-05 20:43] jachakrohit07 commented on #1058
To run the agent interactively I type " C:\Agent\Agent\VsoAgent.exe" in the command prompt on my TFS server. But to use it in the "Service" mode, what are the commands for it?

[2017-07-05 21:02] TingluoHuang commented on #1058
@jachakrohit07 you need config the agent as windows service, please follow doc to configure the agent
https://www.visualstudio.com/en-us/docs/build/actions/agents/v1-windows#download-and-configure-the-agent

also, looks like you are using 1.x agent, please consider switch to use 2.x agent, since 1.x has been deprecated.

[2017-07-05 22:41] samindustry commented on #1054
@TingluoHuang
1. Yes sorry, I had the .proxy file in the old agent, so when I downloaded updated agent it didn't have this .proxy file.  But I do also have the following set: VSTS_HTTP_PROXY=proxy:8080
2. Yes I would expect to see that also, as is shown in the CURL.

[2017-07-06 04:09] TingluoHuang commented on #1010
both agent fix and task fix should been rolls out to all accounts, i am going to close the issue.

[2017-07-06 04:09] #1010 closed

[2017-07-07 08:57] alanmcgovern opened #1061 "NUnit FixtureSetup failures do not count as failures"
Some of our test fixtures use a method annotated with [TestFixtureSetup] to perform some once-off initialisation/validation. If that setup method throws an exception, nunit will correctly mark the entire fixture as failed and not run any tests. I've attached a copy of a test run which fails in this way.

An example of a failing suite can be seen here. It is an `xml` file but i had to rename it to

[2017-07-07 09:01] alanmcgovern commented on #1061
As recommended by @SadagopanRajaram we're going to work around this by ensuring our process exit code indicates failure. That way we will know when we have to manually review the result xml.

I may also try to rewrite the test so that we catch the exception from the fixture-level setup and manually re-throw it inside the per-test [Setup] method. That should give us good visibility into each indivi

[2017-07-07 09:11] kasubram commented on #1037
I can't reproduce this, other alternative I can think of is instead of calling job API
`http://{SERVER}/job/{JobName}/{JobID}`
probably we should call the artifact api to see if it exists.
`http://{SERVER}/job/{JobName}/{JobID}/artifact`

[2017-07-07 12:48] JacobHenner commented on #1037
@kasubram I've determined the cause of the issue.

From https://www.visualstudio.com/en-us/docs/build/actions/agents/v2-windows#how-do-i-configure-the-agent-to-work-through-a-web-proxy-and-connect-to-team-services:

However, in change e31a02c63215501daf573e87329b69f44f2933a4, JenkinsArtifact.cs was modified to use the proxy specified for VSTS’s connection to visualstudio.com. Unfortunately, intern

[2017-07-07 12:56] JacobHenner opened #1064 "Allow processes which use HTTP connections selectively bypass HTTP proxy."
From https://www.visualstudio.com/en-us/docs/build/actions/agents/v2-windows#how-do-i-configure-the-agent-to-work-through-a-web-proxy-and-connect-to-team-services:

However, it's not always clear what is considered a task/tool, versus functionality of the agent itself (e.g. connections to Jenkins, SVN).

Would it be possible to:
1. Clarify the documentation linked above to demonstrate which featur

[2017-07-07 14:15] TingluoHuang commented on #1058
Thanks for the explanation.
Today our [vsts-agent](https://github.com/microsoft/vsts-agent) produces 5 self-contained packages for different platforms. `win7-x64, ubuntu16-x64, ubuntu14-x64, osx10.11-x64, redhat7.2-x64`

We consider adopt netcore 2.0 since it will support on more OS and i can just build Linux-x64 for all linux flavors.

I guess if we still want to support customers to use vsts-age

[2017-07-07 19:05] TingluoHuang commented on #1064
@JacobHenner I implemented a proxy bypass list in the agent, do you want to try it out? I can give you instruction if you want to try.
 #1065

[2017-07-07 20:04] JacobHenner commented on #1064
@TingluoHuang Yes, that'd be helpful. Thank you.

[2017-07-07 20:29] TingluoHuang commented on #1064
@JacobHenner here is how you can try out:
1. git clone the repo.
2. checkout branch `users/tihuang/proxybypass`
3. run `$(reporoot)/src/dev.cmd/sh layout`
4. `$(reporoot)/_layout` will contains the full agent layout you can try.
5. when you add `.proxy` file, you can also add `.proxybypass` file, which contains lines of uri regex that you want to bypass the proxy.

`.proxybypass` sample:
[code]

[2017-07-08 01:51] bryanmacfarlane commented on #1061
@alanmcgovern - doesn't seem like an agent issue (agent is generic and just runs tasks).  Is it a task or test factoring issue?

[2017-07-08 21:44] whytoe opened #1067 "Linux/Windows - Provide direct links to download the agent from non-GUI machines"
Please provide direct links for Linux/Windows Agents on the Readme/Documentation. Specifically on the Download/Configure Agent Section

https://www.visualstudio.com/en-us/docs/build/actions/agents/v2-linux.
https://github.com/Microsoft/vsts-agent/blob/master/README.md
https://www.visualstudio.com/en-us/docs/build/actions/agents/v2-windows

Use Cases:
Operating Systems without a Graphical User Inte

[2017-07-09 20:25] StingyJack commented on #404
I have a 2015 on prem TFS server - can I update the build agent I have with this one, or not? I should be able to know from quickly looking at the chart and not diving through pages of docs.

MS should really reconsider giving priority support to competing products (Maven over PowershellGet Repo, Git over Tfvc, OsX/*nix over windows). Some of us don't want to deal with Java/Ec;lipse, easy to be da

[2017-07-09 21:35] bryanmacfarlane commented on #404
@StingyJack - The front page makes it clear you cannot.

The policy is equal footing for all platforms.  The 2.x agent actually works works on TFS2015.3 - the issue isn't the agent.  The issue is the all the tasks had powershell implementations for windows support which relied on coupling with the 1.x agent (loaded .net desktop binaries in proc and this is a cross platform net core).

So you can c

[2017-07-09 21:42] bryanmacfarlane commented on #1067
Instead of having it in the docs (which can tend to go stale), we built it right into the product.

There's a copy to clip board url right in the product which gives the right url.

<img width="378" alt="copyurl2" src="https://user-images.githubusercontent.com/919564/27997788-942b3ec8-64cd-11e7-9cc4-c2abcd046c2d.png">

I don't understand the point about no GUI - the documentation is web based so i

[2017-07-09 21:44] bryanmacfarlane commented on #1067
That product also advertises the CLI way to get that agent for each platform:

<img width="563" alt="screen shot 2017-07-09 at 5 43 28 pm" src="https://user-images.githubusercontent.com/919564/27997814-2c993282-64ce-11e7-9904-708f353e0eb3.png">

[2017-07-09 21:45] whytoe commented on #1067
Yes when using a CLI you need the actual path.
When Copying to clipboard it brings you to a Microsoft Download Forwarder not the actual github download location.

After I have the file, there is no problem installing it.

[2017-07-09 21:47] whytoe commented on #1067
This is what is copied to the clipboard https://go.microsoft.com/fwlink/?linkid=851127

[2017-07-09 21:53] bryanmacfarlane commented on #1067
Yes, and that 302s correctly to the actual download.  Most cli download tools should follow redirects. It allows us to (1) patch the version on prem release uses and (2) change where we get binaries (it's github and there's plans to change that but keep release metadata @ github)

You can also use the convenience url: https://github.com/Microsoft/vsts-agent/releases/latest

It goes to latest (119.

[2017-07-09 21:56] bryanmacfarlane commented on #1037
@TingluoHuang - Remember to create feature for 120 and docs

[2017-07-09 22:06] whytoe commented on #1067
The filename is saved as https://go.microsoft.com/fwlink/?linkid=851127 instead of vsts-agent-ubuntu.14.04-x64-2.119.1.tar.gz. Don't you think that is a bit confusing for people?

wget https://go.microsoft.com/fwlink/?linkid=851127
--2017-07-09 18:01:39--  https://go.microsoft.com/fwlink/?linkid=851127
Connecting to XXX.XXX.XXX.XXX... connected.
Proxy request sent, awaiting response... 302 Moved T

[2017-07-09 22:57] bryanmacfarlane commented on #1067
No, it's not confusing at all.  That's the way http works.  It's pretty clear from the output exactly what's going on - it shows it's getting redirected.

This is actually a requirement.  The opposite would be a problem.  If folks write automation / scripts to download the agent, then their scripts have an url baked into it.  If we release a critical update, security update, or move storage then t

[2017-07-09 22:57] #1067 closed

[2017-07-09 22:57] #1058 closed

[2017-07-09 22:58] bryanmacfarlane commented on #1061
If it's a task issue log in vsts-tasks repo.

[2017-07-09 22:58] #1061 closed

[2017-07-10 02:07] whytoe commented on #1067
I do not agree, The actual way to effectly distribute packages to Linux systems is via Package Management.

DotNot Core is doing this appropriately
https://www.microsoft.com/net/core#linuxubuntu

[2017-07-10 06:48] GitHubSriramB commented on #1037
@bryanmacfarlane, @TingluoHuang - Given this is not related to the Jenkins API we are calling, we don't need the fix suggested by @kasubram

Assigning this issue to you to take it forward.

[2017-07-10 09:18] alanmcgovern commented on #1061
If you're telling me this is a task issue, then it is a task issue and i'll file it against that repository. I don't have the knowledge to answer your question :p

[2017-07-10 10:11] vikingsunil commented on #708
In my case, the deletion of $(Agent.BuildDirectory) is failing as the folder seems to be in use. The error message is ##[error]Error: Failed rmRF: rm: could not remove directory (code EBUSY):
Did anyone else face this problem? Is there a ready made solution for this?

[2017-07-10 15:12] JacobHenner commented on #1064
Due to restrictions within the corporate network, I'm unable to compile
this to test. Could you possibly upload the binary package somewhere? Thanks

On Jul 7, 2017 16:29, "Ting" <notifications@github.com> wrote:

@JacobHenner <https://github.com/jacobhenner> here is how you can try out:

   1. git clone the repo.
   2. checkout branch users/tihuang/proxybypass
   3. run $(reporoot)/src/dev.cmd/sh

[2017-07-10 19:28] TingluoHuang commented on #1064
[binary.zip](https://github.com/Microsoft/vsts-agent/files/1136784/binary.zip)
1. stop your agent
2. replace your agent's binaries under /bin folder with the .zip
3. add .proxy and .proxybypass file.
4. restart agent.

[2017-07-10 19:29] TingluoHuang commented on #1064
@JacobHenner the binary is built for 2.119.1 version agent.

[2017-07-10 19:58] TingluoHuang commented on #708
@vikingsunil do you have file opened within $(agent.builddirectory) when you try to delete the folder?

[2017-07-10 22:28] fishbits commented on #876
Trying to put pieces back together after two months since I encountered this issue.  I believe I simply had my TFS URL entered incorrectly -- was basing it on how the older, so-named 'VSO' agents had you enter the URL.

In any case, this is no longer giving me issues, and, in fact I can just as easily create/connect agents that support VSTS, as well, with a copy of the same agent setup files/binar

[2017-07-10 22:28] #876 closed

[2017-07-11 16:04] JacobHenner commented on #1064
It appears to have worked. Thank you. Do you have an ETA for when it'll be
incorporated into a release?

On Jul 10, 2017 15:29, "Ting" <notifications@github.com> wrote:

[2017-07-11 16:16] TingluoHuang commented on #1064
Within this week i will create a github release.

[2017-07-12 16:06] NickMRamirez commented on #483
This is caused by Nano server having a different version of powershell.exe that does not support all of the flags as on other OS versions. For example, running `powershell -?` on Windows 10 returns many flags, including -Sta, but on Nano it only returns this:

[code]

So, it looks like the [-Sta](https://msdn.microsoft.com/en-us/powershell/scripting/core-powershell/console/powershell.exe-command-l

[2017-07-12 16:12] NickMRamirez commented on #483
This may be a way to check if the OS is nano: http://www.dexterposh.com/2016/05/powershell-check-script-running-on-nano.html

[2017-07-12 17:45] gandarez opened #1073 "Agent haven't found MSBUILD 15"
## **Agent version and platform**
Agent 2.112.0
Windows Server 2016
On-Prem TFS 2017.1

## **What's not working?**
After installed Visual Studio Build Tools 20017 (MSBUILD 15) the Agent haven't found it.

![image](https://user-images.githubusercontent.com/782854/28131416-2e374298-6710-11e7-8ef1-30d5d823de4e.png)
![image](https://user-images.githubusercontent.com/782854/28131371-0f07f0ca-6710-11e7-

[2017-07-12 17:56] gandarez commented on #1073
After looking at registry I realized there's only MSBuild 4.0 registered, so my question is why Visual Studio Build Tools 2017 didn't write correctly there?

HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\MSBuild\4.0

[2017-07-12 18:33] TingluoHuang commented on #1073
@gandarez Can you run `"{your agent root}\externals\vswhere\vswhere.exe" -all` and paste the result? VS is playing hidden and seek with us. :D

[2017-07-12 19:39] ericsciple commented on #1073
The task was updated in tfs 2017 u2 with a fix. The workaround is to specify the location to msbuild or I can send you an updated task zip that you can upload to your server.

[2017-07-12 19:39] #1073 closed

[2017-07-12 19:41] ericsciple commented on #1073
fyi VS 2017 doesnt write the registry keys since it supports side by side installs within the same major version. It has a different interface for finding the location of VS (COM API), or a tool like vswhere.exe which is a wrapper over the COM API.

[2017-07-12 20:02] gandarez commented on #1073
@TingluoHuang there's no vswhere folder under the path you metioned

![image](https://user-images.githubusercontent.com/782854/28137464-c5e98c28-6723-11e7-9818-e4b57a8c7285.png)

[2017-07-12 20:02] gandarez commented on #1073
@ericsciple please send to my email address;

[2017-07-12 20:12] GunterGlad commented on #783
Any update on this?

[2017-07-12 22:31] TingluoHuang commented on #783
I have agent side work sort of ready in my branch.
https://github.com/Microsoft/vsts-agent/tree/users/tihuang/gitrepack
I would like @bryanmacfarlane or @chrisrpatterson to decide when are we going to finish the server side work.

[2017-07-13 12:13] gandarez opened #1076 "Agent does not find VS Test Agent 2017"
## **Agent version and platform**
Agent 2.117.2
Windows Server 2016
On-Prem TFS 2017.1

## **What's not working?**
Related issue #1073

It successfully found MSBUILD 15 but didn't find VS Test Agent 2017. The strange thing is that the version 2.112.0 found it.
Is there a trick to get it working? Or should I input the capability manually?

**v2.112.0**
![image](https://user-images.githubusercontent

[2017-07-13 13:02] gandarez commented on #1076
Also tried the latest version 2.119.1 and the same "problem" happens

[2017-07-13 18:39] gandarez commented on #1076
I manually input as user capability and it has worked.

[2017-07-13 19:29] ericsciple commented on #1076
@gandarez do you have multiple installations of VS 2017?

[2017-07-13 19:36] gandarez commented on #1076
@ericsciple No, just one and actually it's just build tools.

[2017-07-14 03:18] nigurr commented on #1076
@gandarez I do see only VS 2017 is installed. Can you please run this in your machine and paste the output https://github.com/Microsoft/vswhere/releases/download/1.0.71/vswhere.exe

[2017-07-14 09:32] jessehouwing opened #1078 "Proxy Support"
Based on discussions int he internal ALM Champs channels:

It would be lovely if the SDK and the Agent would work together to expose web proxy information that is important for that agent. This allows task developers to correctly pass that information to the tools they execute or set the required environment variables.

My idea would be that it'd be possible to configure a Service Endpoint with th

[2017-07-14 12:43] gandarez commented on #1076
@nigurr all installations related to Visual Studio 2017 shows up as Visual Studio 2017 only.

![image](https://user-images.githubusercontent.com/782854/28212669-e679ceca-6878-11e7-9448-72b563309df8.png)

[code]

[2017-07-14 12:48] bryanmacfarlane commented on #1078
The agent already supports proxy config.  See documentation.

[2017-07-14 12:48] #1078 closed

[2017-07-14 16:12] rlrhuisman commented on #1078
Proxy support for the agent is only for the agent itself. This is about the custom tasks that are build for the agent. E.g. if a custom task needs to query vsts rest services, it needs the same proxy settings to reach the vsts environment as the agent itself executs.

[2017-07-14 17:51] bryanmacfarlane commented on #1078
Yes, and that's why there's a PR in the task lib - so tasks have access to proxy config - done once

[2017-07-17 04:25] nigurr commented on #1076
@gandarez Currently we are not supporting Test agent as vstest capability.
To unblock, you need to add vstest capability manually. We already have backlog item to fix this.

[2017-07-17 04:25] #1076 closed

[2017-07-17 19:19] gandarez commented on #1076
@nigurr Strangely in another try it included automatically "vstest" capability. I was using version 112.

[2017-07-19 22:00] ppejovic opened #1087 "Builds of shelvesets that include files at paths not in the repository mappings causes build to fail"
## **Have you try trouble shooting doc?**
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting
**Yes**

## **Agent version and platform**
Version of your agent? **2.112.0**
<br>
OS of the machine running the agent? **Windows Server 2012 R2 Standard**
<br>
## **VSTS type and version**
VisualStudio.com or On-Prem TFS? **On-Prem**
<br>
If On-Prem TFS, which rele

[2017-07-20 07:58] jsacapdev opened #1088 "Windows Container .\config.cmd remove fails - Resource not available for anonymous access. Client authentication required."
## **Agent version and platform**

Agent:
vsts-agent-win7-x64-2.117.1

OS:
Windows Container - microsoft/windowsservercore:latest (with .NET Framework Installed)

## **VSTS type and version**

Visual Studio Team Services:

https://jsadev.visualstudio.com/

## **What's not working?**

I am succesfully able to register the build agent in the container OK when I run the docker container.

However, wh

[2017-07-20 13:27] TingluoHuang commented on #1088
@jsacapdev your PAT is wrong.
`[2017-07-20 07:47:55Z INFO PersonalAccessToken] token retrieved: 50 chars`

a valid token should has 52 chars
`[2017-07-08 20:49:47Z INFO PersonalAccessToken] token retrieved: 52 chars`

[2017-07-20 13:54] tarunaroraonline opened #1089 "Unattened VSTS Agent install - Force use of config"
I am trying to use the unattended install of VSTS Agent, is there any way to associate a web proxy when calling the .\config.cmd with the parameters or just before it to ensure that the configuration goes via the specific web proxy?

For context, i am calling this through a custom script extension in an ARM template, unfortunately the machine is provisioined and domain jointed but since this step

[2017-07-20 15:10] jsacapdev commented on #1088
Thanks for the guidance. It was down to a weird copy and paste in the container, where the string (PAT) gets corrupted on the paste. Manually (painfully) typing in the PAT de-registers the agent cleanly.

[2017-07-20 15:10] #1088 closed

[2017-07-20 15:32] TingluoHuang commented on #1089
@tarunaroraonline https://github.com/Microsoft/vsts-agent/blob/9869a1f9d81115bebcc480d4c228c505be0df8a3/docs/design/proxy.md#configuration

As long as you follow the doc create a `.proxy` file before you call ./config.cmd in your script, the config will follow the proxy.

[2017-07-20 20:49] ppejovic commented on #1087
I think this could be solved by passing the sources directory as the `itemspec` to the unshelve command with the /recursive switch, e.g.:

`tf vc unshelve "Hello Shelveset;XXXXX\x.xxxxxxx" D:\B\1\2\s\* /recursive`

[2017-07-20 21:34] ericsciple commented on #1087
@ppejovic thanks. i wonder if it's the right thing to always do, or whether it should be a setting on the definition

[2017-07-20 21:35] ericsciple commented on #1087
I'll discuss with @vijayma to figure out how he wants the user experience

[2017-07-20 21:46] ppejovic commented on #1087
Thanks @ericsciple. I'd just like to point you to a [uservoice](https://visualstudio.uservoice.com/forums/330519-team-services/suggestions/10034220-build-vnext-ignore-no-appropriate-mapping-for-sh) for the same issue. Cheers.

[2017-07-20 22:43] compulim commented on #622
A dockerized vsts-agent on Windows is also handy too.

[2017-07-20 23:56] ppejovic commented on #398
@ericsciple

`tf vc scorch` will allow a wildcard in the `itemspec` so you can pass `c:\a\1\s\*` to the command. I have tested this with a workspace without a root mapping.

This issue is causing us significant problems for builds that have many mappings (100+) without a root mapping. The **Get Sources** step time increases by 300-400% when upgrading from the v1.105.6 agent to the v2.112.0 agent b

[2017-07-21 00:19] #1089 closed

[2017-07-21 00:21] bryanmacfarlane commented on #1050
+1 - use what is given in config.

[2017-07-21 00:22] #1045 closed

[2017-07-21 02:18] ericsciple commented on #398
lets discuss on a separate issue, i dont want to clutter this issue with discussion since this issue is intended as an enhancements checklist.

[2017-07-21 15:09] randellhodges opened #1090 "vswhere hangs"
## **Have you try trouble shooting doc?**
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## **Agent version and platform**
Version of your agent? v2.117.2, v2.119.1
<br>
OS of the machine running the agent? Windows 2008 R2 with SP and windows updates
<br>
## **VSTS type and version**
On-Prem TFS
<br>
If On-Prem TFS, which release, 2015 RTM/QU1/QU2? 201

[2017-07-21 15:24] ericsciple commented on #1090
can you send ersciple the agent diag log from the attempt to configure the 2.119.1 agent when it is getting stuck? (at microsoft com)

note, vs 15.* is 2017. and 14.* is 2015. the agent only uses vswhere when searching for vs 2017, not 2015.

[2017-07-21 15:29] ericsciple commented on #1090
The agent currently bundles vswhere 1.0.62. The command line the agent runs is printed in the logs. Does that hang on your machine when you run it directly? If so, then can you try the [latest vswhere release](https://github.com/Microsoft/vswhere/releases)?

[2017-07-21 15:34] randellhodges commented on #1090
I attempted to duplicate the hang with 2.119.1 during configuration/install but either I was really unlucky the first 10 times I tried, or one of the windows updates I installed might have fixed that issue.

I never had it hang just running it directly. Of course, I only seen it hang 3 times out of 22 or so. I could try running it in a loop and see if I can get it to hang.

Just to clarify:

With

[2017-07-21 15:55] randellhodges commented on #1090
So, as I mentioned, I was able to get 2.119.1 installed after I installed windows updates. However, after about 16 builds, it hung during a build. Same line as before.

I will try replacing vswhere with the latest and see what happens.

[2017-07-21 16:17] randellhodges commented on #1090
Nope, I still get random hangs with 2.0.2. I made it 5 builds into 22 before I got the hang.

[2017-07-21 16:22] randellhodges commented on #1090
If I just run this in a cmd shell, it eventually will hang. I guess maybe this should be opened over on the vswhere github.

`for /L %n in (1,1,100) do "D:\TfsAgent1\_work\_tasks\VSBuild_71a9a2d3-a98a-4caa-96ab-affca411ecda\1.118.0\ps_modules\MSBuildHelpers\vswhere.exe" -version [15.0,15.1) -latest -format json`

[2017-07-21 16:32] tarunaroraonline commented on #1089
Yup adding.proxy and zipping the file fixed the issue.

[2017-07-21 17:30] ericsciple commented on #1090
yes if you have a repro with the vsts agent out of the picture, that is definitely an issue for the vswhere repo

[2017-07-21 17:40] andreujuanc opened #1091 "Project name with spaces causes install script to fail."
## **Agent version and platform**
**Latest**
**Linux**
<br>
## **VSTS type and version**
VisualStudio.com
<br>
## **What's not working?**
Project not found, need to type it by hand.
<br>

It's simple:

--work _work --projectname My Project

that line is executed as "My"

So then it's not found, thankfully, and so it asks for projects name, then type My Project and works without any issue.

Should