[2017-07-21 18:18] vijayma commented on #1087
@ppejovic, I understand that it is not ideal to go to the root of the repo in workspace mappings, especially for large repos. But, with the fine grain control you now have in specifying workspace mappings, you can include $/A/B, $/C, and cloak $/C/D. We rely quite a bit on the workspace mappings being as accurate as possible for computing source versions, commits to be included, etc, and I am tryi

[2017-07-21 19:03] ppejovic commented on #1087
Thanks @vijayma. In a variety of the current open issues with workspace mappings, e.g. this one and those for builds with no root repository mapping, I think providing a wildcarded sources directory `itemspec` (e.g. `D:\B\1\2\s\*`) and `/recursive` to the various `tf vc` commands ensures the command is only operating with the paths defined in the workspace mappings. This doesn't really affect how

[2017-07-21 19:24] ppejovic opened #1093 "Workspace is re-cloned every build for definitions with no root repository mapping"
This relates to issues #438 and #398.

When a build has no root repository mapping, the current behavior results in an exception being thrown by `tf vc scorch` which in turn leads to the workspace being re-cloned on every build. Given the remap of workspace mappings through `tf vc workfold /map` is not performant, this leads to a significant increase in build time for builds with many mappings. Fo

[2017-07-21 20:38] ppejovic commented on #1087
On further testing, whilst the suggest change works for the `unshelve` scenario it does not result in the desired behavior for all `tf vc` commands, e.g `scorch`. See comment [here](https://github.com/Microsoft/vsts-agent/pull/1092#issuecomment-317105743).

[2017-07-21 21:50] ericsciple commented on #1093
If i remember correctly, I think this is intentional because scorch won't delete files that fall outside of the mapping. For example, if the mapping is:
[code]

Then I think scorch `C:\a\1\s\* /r` won't remove `C:\a\1\s\baz`

[2017-07-22 13:57] vijayma commented on #1087
@ppejovic Focusing on the unshelve scenario... if there are files outside of the workspace mapping that have changed, we would not show those commits in the build. The "SourceVersion" information of the build would be incorrect as well. Someone reviewing the build for a list of commits would not get accurate information. Thoughts?

[2017-07-24 20:13] JacobHenner commented on #1064
Do you have an updated timeline for release? We would like to start using
this feature in production.

Thank you.

On Jul 11, 2017 12:16, "Ting" <notifications@github.com> wrote:

Within this week i will create a github release.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/Microsoft/vsts-agent/issues/1064#issuecomment-314

[2017-07-25 11:02] hir0pr0tagonist opened #1094 "Temporary keychain cannot be added"
## **Agent version and platform**
Version of your agent? 2.119.1
<br>
OS of the machine running the agent? OSX Sierra 10.12.5
<br>
## **VSTS type and version**
VisualStudio.com
<br>

## **What's not working?**
After a new setup of OSX, and a fresh installation of the agent, an iOS build fails with the error message "Failed to add the temporary keychain to the keychains search path."
The preceding

[2017-07-25 23:18] sirjoekcb commented on #1030
@GitHubSriramB Any chance of an ETA for this fix?

[2017-07-26 13:50] riezebosch commented on #313
I managed to get things working and have written down my findings on this blog: https://medium.com/@MRiezebosch/vsts-agent-tfs-on-premise-with-an-unofficial-certificate-for-testing-purposes-only-465541913760

[2017-07-26 15:00] hir0pr0tagonist commented on #1091
--work _work --projectname "My Project" ?

[2017-07-26 15:13] judavi commented on #770
I don't know if this could be useful for someone but I had a similar issue at the moment of running the agent, I solved it adding the certificates of our TFS server.

[2017-07-26 16:49] andreujuanc commented on #1091
I know, but that's the script that's being generated in visualstudio.com
Obviously I can manually change it, but why not just include those quotes by default?

:)

[2017-07-26 17:00] ericsciple commented on #1091
Makes sense. I'll fwd this along to the appropriate team. It's not an issue with the agent (this repo) so i'm planning to close the issue here after I fwd.

[2017-07-26 17:04] #1091 closed

[2017-07-26 18:11] andreujuanc commented on #1091
@ericsciple I see! Thanks.

[2017-07-26 21:39] yarmand opened #1097 "grunt concurrent make the job crash"
## Agent version and platform
Version of your agent? 2.119.1

OS of the machine running the agent? Linux...

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name? http://yammer.visualstudio.com

## What's not working?
Script job dies when using grunt_concurrent resulting into a failing build.
I run the agent inside a docker container, I tried to run the grunt c

[2017-07-26 22:59] bryanmacfarlane commented on #1097
This is not the agent.  The agent just runs the task which runs grunt.  That error is coming from grunt-webpack.  The agent knows nothing about grunt

[2017-07-26 22:59] #1097 closed

[2017-07-26 22:59] bryanmacfarlane commented on #1094
This is not an issue with the agent.  It's generic.  Perhaps you want to create an issue in the vsts-tasks repo

[2017-07-26 22:59] #1094 closed

[2017-07-27 03:54] chshrikh commented on #1091
@andreujuanc this has been fixed, with next deployment you will see the project name will have quotes by default. Thanks

[2017-07-27 08:01] hir0pr0tagonist commented on #1094
How is this generic when the same command, executed ostensibly under the same user account (!), produces two different results ? In other words, it references two different keychains.
I can see how the command sequence is handled in the VSTS task - but clearly its execution is the responsibility of the agent, and this is where the problems lie.  It has something to do with the context in which the

[2017-07-27 08:20] michha commented on #898
After installing TFS 2017 Update 2 and updating the agent from version 2.112.0 to 2.117.2 the problem persists.

@ericsciple: could we have a a minimum TFS agent version or TFS Update number where this fix will be available

[2017-07-27 11:46] andreujuanc commented on #1091
<3

[2017-07-27 13:19] Mardoxx commented on #708
A way for the agent to clear the work directory automatically would be very welcomed....

[2017-07-27 15:53] ericsciple commented on #898
@michha The fix is in master if you want to build master and try it. One more small change (not a fix, command line interface change) is needed before we release the next agent. The fix will be in the 2.120.0 agent which will be released early next week.

[2017-07-28 09:58] michha commented on #898
Thanks, I will wait for the 120 release.

P.S.: make more use of https://github.com/Microsoft/vsts-agent/milestones to spend less time answering those little questions ;)

[2017-07-28 11:51] bryanmacfarlane opened #1099 "Support and Document Client Certificates"

[2017-07-28 12:07] bryanmacfarlane opened #1100 "Update timeline command not escaped"
Brackets in update timeline detail fails

2017-07-18T18:32:50.6667974Z ##[error]Unable to process command '##vso[task.logdetail id=bdaf4a21-fc6d-4214-9764-bfb00afccdf6;parentid=;name=Pactual.MarketData.Portal\[4] - Presentation\Pactual.MarketData.Portal.Controller\MainHostController.cs;type=Build;starttime=2017rums/en-US/0a84df04-e8bf-4180-a0b5-3a610f95eaaa/build-fails-errorunable-to-process-comma

[2017-07-28 12:09] bryanmacfarlane commented on #1100
This also might be an issue in the task but if the task encodes, I want to ensure the agent command decodes

[2017-07-28 13:00] Alluca82 opened #1101 "Agent calling wrong URL"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting
Yes

## Agent version and platform
Version of your agents: 2.117.2 and 2.119.1 + (1.105.7)

OS of the machine running the agent?
Windows Server 2012 R2

## VSTS type and version
On-Prem TFS2017 Update 2

## What's not working?
When starting a build the agent - this scre

[2017-07-28 13:04] bryanmacfarlane commented on #1101
If you open the TFS admin console, what is the notification url and server url set to?  What url is the agent configured with (in .agent)

[2017-07-28 13:24] Alluca82 commented on #1101
Where do I find these setting... I got these on the "Application Tier"
![image](https://user-images.githubusercontent.com/15999640/28719057-d8290aa8-73a8-11e7-8625-3f94fba7e59a.png)

url in agent: http://MachineName:8080/tfs/

[2017-07-28 13:47] bryanmacfarlane commented on #1101
What's the value of public URL?

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Claus Jensen <notifications@github.com>
Sent: Friday, July 28, 2017 9:24:48 AM
To: Microsoft/vsts-agent
Cc: Bryan MacFarlane; Comment
Subject: Re: [Microsoft/vsts-agent] Agent calling wrong URL (#1101)

Where do I find these setting... I got these on the "Application Tier"
[image]<ht

[2017-07-28 15:22] ericsciple commented on #1093
I would prefer to see a fix in TF.exe rather than introduce a reliability problem in the agent (sometimes cleans files under build.sourcesDirectory, sometimes doesn't).

What's the major problem(s) for your scenario? Is recreating the workspace taking a long time because adding each individual mapping takes a long time? Or does getting the files take a long time? Or both?

Would a workaround be: a

[2017-07-28 20:37] yarmand commented on #1097
@bryanmacfarlane can you explain me why this is working in the same container if I launch the grunt task manually, but do not work when the grunt task is launched by the agent ?
The only changing part between these 2 attempts is the agent nesting the grunt process.

[2017-07-28 21:56] yarmand commented on #1097
Nevermind. IT was a memory capacity issue with my container. running the agent just throw it over the fence. Increasing memory on the container fixed the issue.

[2017-07-28 22:01] bryanmacfarlane commented on #1097
Cool.  I was going to suggest something environmental (OS, capacity etc...).  Glad you found it.  For example, we saw issues in npm that worked on dev machines but not on azure build machines.  Ended up being I/O constraints highlighting a race in npm.

The other differences are security context - account agent runs as, profiles etc...

The agent simply execs the process and we show it in the log.

[2017-07-31 05:48] Alluca82 commented on #1101
Public URL: http://tfs.skdev.sdc.dk/tfs

[2017-07-31 07:35] pekkah opened #1102 "Multiple build agents on same machine (did work with build agent 1.x)"
## Agent version and platform
Windows Server 2012 R2, agent version: '2.119.1

## VSTS type and version
VisualStudio.com

## What's not working?
Cannot configure multiple build agents on same machine

## Description
When running config.cmd I'm getting a "Cannot configure the agent because it is already configured. To reconfigure the
agent, run 'config.cmd remove' or './config.sh remove' first." er

[2017-07-31 08:15] kirkone commented on #1102
Hi,

you can run multiple agents on the same mashine but you have to use a sepereate folder for each agent. Also the work folder must be seperate for each agent.

Greetings, KirK

[2017-07-31 08:28] kirkone opened #1103 "How to close agent after work is done?"
Hello,

I am fiddling around with build agents in docker and my target is to get a fresh agent every time.
Running the agent in Docker for Windows works as expected but the agent keeps running after a build i finished.

My question is: **Can I force the agent to shutdown after his first job is finished**?

Thanks for your help.
KirK

[2017-07-31 08:43] pekkah commented on #1102
After reboot I could configure second agent. No idea what changed.

[2017-07-31 08:43] #1102 closed

[2017-07-31 13:15] TingluoHuang commented on #1103
https://hub.docker.com/r/microsoft/vsts-agent/

[2017-07-31 13:26] kirkone commented on #1103
@TingluoHuang thanks for the answer, but I do not understand.

I use this image already but this agent also keeps running after finishing his work. Maybe I got something wrong.

What I want to achieve is the same behavior like the hostet agents in VSTS. I start an agent, The agent waits for a job. After the job is done the agent should close. So my Docker environment can provide a new agent.

than

[2017-07-31 14:21] TingluoHuang commented on #1103
@kirkone what's docker command you run? if you just `docker run`, the agent should got unconfigure after every build.

[2017-07-31 14:34] CInk-Ibrahim commented on #789
We also need this feature as we have many x86 machines we need to deploy.  Is it possible to use it by compiling ourselves ? We would like to use it even if it is not supported.

[2017-07-31 18:05] kirkone commented on #1103
I run the container with
[code]
and the agent keeps waiting for new jobs after finishing the first one.

[2017-07-31 18:10] TingluoHuang commented on #1103
@kirkone sorry, i was misunderstand your question, since VSTS machine management service provide similar feature for our hosted build. I don't think the agent has ability to stop after every job at this point.
What's the reason you want a fresh agent for every build? are you not only care about the working folder of each build?

[2017-07-31 18:22] kirkone commented on #1103
the reason behind this is that people tend to break our agents by installing custom programs at build time. For example the install a new version of npm global and than other projects will fail on our "shared agents".
I thought it would be a good idea to start with a fresh copy every time.
Maybe it is a better idea to solve the root cause of our problems by convince the people not to do such thing

[2017-07-31 18:25] TingluoHuang commented on #1103
@kirkone we have the concept of running each job inside a docker container. i think that should give you most of the isolation you want.
We have a doc here: https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/runtaskindocker.md

[2017-07-31 18:49] kirkone commented on #1103
looks promising, I will have a look.
Thank you

[2017-07-31 18:49] #1103 closed

[2017-07-31 19:42] jabbera commented on #691
Sorry to bring this back up be we need https://github.com/Microsoft/vsts-agent/issues/898 deployed to all of our build agents (about 70). Is there a way to "teach" TFS 2017 update 2 about it so we don't have to manually deploy it?

[2017-07-31 19:59] ericsciple commented on #1093
Another workaround would be to set the clean option to false on the build definition, and then add your own step to call tf.exe scorch. If you check Allow scripts access to OAuth token, then you can use the environment variable $SYSTEM_ACCESS_TOKEN and specify the same authentication settings like the agent when you call tf.exe (agent adds tf.exe to your PATH).

[2017-08-01 00:45] ppejovic commented on #1093
It's recreating the workspace that is the bottleneck. Each call to `tf vc workfold /map` can take upwards of 2 seconds. For our production build servers it can be up to 12 seconds, which I assume is correlated to the number of workspaces that exist for a server and the build agent identity. The majority of the time of the `map` invocation is actually time spent processing the request on the applic

[2017-08-01 00:57] ppejovic commented on #1087
@vijayma If I understand your points correctly, my opinion would be that the scope of the included changesets should be defined by the workspace mappings not the contents of the shelveset. For a regular  non-shelveset build, files modified outside of the workspace mappings are irrelevant. Can the same be argued for a shelveset. In our environment I can't think of any cases where these outlier file

[2017-08-01 07:18] rikkitherockett commented on #898
+1 We are having the exact same issue - more of it recently. Is there a solution around these errors? We keep having random build failures, it's frustrating for the team. Thanks.

[2017-08-01 10:10] japj commented on #1087
Just checking since I am looking into migrating to vNext build agent in the very near future.

We currently have a gated XAML build definition for a project that contains both a "Source" and "Documentation" folders. Only the "Source" folder is actually mapped since the doc files are not used in our build.

However, people actually checkin changes to both sources and documentation with a single com

[2017-08-01 12:40] ericsciple commented on #1064
@JacobHenner https://github.com/Microsoft/vsts-agent/releases/tag/v2.120.0

[2017-08-01 12:42] ericsciple commented on #898
https://github.com/Microsoft/vsts-agent/releases/tag/v2.120.0

[2017-08-01 12:45] ericsciple commented on #1087
That's correct. A current workaround is map both folders on the CI machine.

[2017-08-01 15:24] jachakrohit07 commented on #1058
I have urgent question regarding changeset report generation in tfs as I
want to link changeset id to tasks in the report. Please help  I tried
following query but final result gives no rows.

SELECT DISTINCT --df.[FileName]
    --,df.FilePath
    dwi.System_title AS 'Title'
    ,dcs.ChangesetID AS 'ChangeSetID'
    ,dwi.System_id AS 'WorkItemID'
    ,dwi.System_WorkItemType
    ,dwi.System_State

[2017-08-01 15:26] pflangos commented on #898
Currently, release 2.120.0 shows as a Pre-release, when will it be considered as a full release i.e. ready for use in production environments?

[2017-08-01 16:51] ericsciple commented on #898
It's being used in production environments now. It just rolled to the first ring. It will continue rolling out to all of the rings over the next several days.

[2017-08-02 09:11] nigurr opened #1108 "KeyNotFoundException while adding PrependingPath to arguments"
Version: 2.120.0
Error:
[code]

Seems like this commit broke this https://github.com/Microsoft/vsts-agent/commit/d8d8e02a239ae6d4ac80b565acd5c833acff578e
Can we please check this asap?

[2017-08-02 15:32] ericsciple commented on #898
...investigating a bug in the 2.120.0 agent. Wait for 2.120.1.

[2017-08-02 20:40] ericsciple commented on #1108
will be in 121.1

[2017-08-02 20:47] ericsciple commented on #1108
oops i mean, 2.120.1

[2017-08-03 16:27] MarkHerhold opened #1115 "Problem downloading artifacts"
## The Problem

I am unable to download published artifacts (or I don't know where they are going). After the artifacts are pulled, running `tree` shows that no files were downloaded to the agent despite the step passing. I have verified that the artifact exists and contains files.

I think I am just doing something stupid, but I am not sure what it could be. Also, please let me know if I should b

[2017-08-03 16:31] bryanmacfarlane commented on #1115
RM has first class support for specifying which artifacts to download.

The task you are referring to is in early preview and it only works in build (multiple build phases are in the works).

Use the RM first class artifact feature in RM

[2017-08-03 16:41] MarkHerhold commented on #1115
@bryanmacfarlane Sorry, what does RM stand for? I'm new to VSTS (if it wasn't obvious enough 😆 )

[2017-08-03 16:49] bryanmacfarlane commented on #1115
:) Let me know if you're still having trouble finding the first class artifact support in release management.  I can forward over to someone if needed.

[2017-08-03 18:17] MarkHerhold commented on #1115
@bryanmacfarlane Thanks for clarifying and for your help! The key I was missing here was to use `$(System.DefaultWorkingDirectory)` as per [the docs here](https://www.visualstudio.com/en-us/docs/build/concepts/definitions/release/artifacts#download).

[2017-08-03 18:17] #1115 closed

[2017-08-04 15:38] stephenmichaelf opened #1117 "Write L0 test log files to Test folder"
The log files for L0 tests are currently being written to:

%HOMEPATH%\.nuget\packages\microsoft.testplatform.testhost\15.0.0\lib\netstandard1.5

We want to redirect this to the vsts-agent\src\Test\TestResults\logs folder.

[2017-08-04 22:54] AlphaCluster opened #1120 "Linux agent failing to auto update"
## Have you try trouble shooting doc?
Yes
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
2.117.2 and 2.119.1
Version of your agent? 2.102.0/2.100.1...

OS of the machine running the agent? OSX/Windows/Linux...
Linux

## VSTS type and version
VisualStudio.com or On-Prem TFS? On Prem

If On-Prem TFS, which release, 2015 RTM/

[2017-08-08 07:31] kardinal3000 opened #1122 "Pass all variables include secret variables to the PowerShell script argument"
Hello guys,
I am using On-Prem TFS 2017 U2, version of agent 2.117
I have some challenges maybe you give me advice to how can it be solved
I have release definition which has more than 50 variables. The count of variables always change. In my release pipe I use task "run PowerShell on remote machine".

How can I pass all variables include secret variables to the my PowerShell script argument as an

[2017-08-08 11:12] nero2001 opened #1124 "Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'LegacyVSTSPowerShellHost'"
## Context
- Agent: v2.120.0
- OS: Windows Server 2008 R2 Standard
- VSTS type and version: VisualStudio.com (mediahub.visualstudio.com)

## What's not working?
We have a task to delete files from source control. The task log shows this:

2017-08-08T09:33:06.4057398Z ##[section]Starting: Delete files from source control
2017-08-08T09:33:06.4057398Z =================================================

[2017-08-08 12:58] sisterray commented on #1043
@madhurig What values should we add for these capabilities

[2017-08-08 13:24] TingluoHuang commented on #1124
@nero2001 try out the 2.120.1 agent, there is a signing problem in 2.120.0 agent that causing this problem.

[2017-08-08 13:49] sesispla opened #1125 "Error in .NET Core Task: The file type was not recognized"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting
Yes

## Agent version and platform
Version of your agent?
Requested VsoAgent version 2.119.1 is not available. Using VsoAgent version instead.

OS of the machine running the agent?
Linux

## VSTS type and version
VisualStudio.com or On-Prem TFS?
VisualStudio.com

## Wha

[2017-08-08 14:03] bryanmacfarlane commented on #1124
@nero2001 - also note that agent was never released because of this issue.

Se https://github.com/Microsoft/vsts-agent/releases

[2017-08-08 14:07] ericsciple commented on #1125
Are you saying there is an issue with the software installed on the hosted image? Otherwise this sounds like a either a bug in the task, or a misconfiguration in your build process.

If it's a task issue, open an issue on the [vsts-tasks repo](https://github.com/microsoft/vsts-tasks). Although it looks like the task is simply calling `/usr/bin/dotnet restore /opt/vsts/work/1/s/Project1.sln --confi

[2017-08-08 14:10] ericsciple commented on #1124
this is fixed in 2.120.1. the dll didnt get signed in 2.120.0 and the process was fixed in 2.120.1.

[2017-08-08 14:10] #1124 closed

[2017-08-08 14:12] ericsciple commented on #1120
Did you upgrade the collection in-place? Or did you stand-up a new server, and move the collection to the new server?

[2017-08-08 15:03] AlphaCluster commented on #1120
It was a in place upgrade.

[2017-08-08 15:37] bryanmacfarlane commented on #1120
Did you upgrade from 100 and 102?

2.117.2 and 2.119.1 Version of your agent? 2.102.0/2.100.1...

I believe that was early preview versions of the 2.x agent that had auto update issues.  If I remember right it was around 2.104 - 106 range where it settled out.

The solution is to download and extract a new zip.  You can do it SxS on the same machine.

[2017-08-08 16:23] nero2001 commented on #1124
Hi guys,

Yes, it seems ok now! But i didn't see any issue/bug reported with this problem..

@bryanmacfarlane what do you mean? the release 2.120.0 was released, AFAIK..

Thanks a lot!

[2017-08-08 16:47] ericsciple commented on #1120
Definitely try downloading a fresh agent and extract to a different folder.

It looks like LocationHttpClient is not able to connect. If you `export VSTS_AGENT_HTTPTRACE=true` before running the agent, the agent will dump the HTTP traffic (headers only) to the diag log. You might want to confirm the URL it is hitting is what you expect. Also, do you use a proxy?

[2017-08-08 17:05] bryanmacfarlane commented on #1125
Agreed.  This should move to the task repo.

[2017-08-08 17:05] #1125 closed

[2017-08-08 19:44] felipeoriani opened #1127 "config.cmd throws "dotnet has stopped working""
We have a VSTS Agent running on our environment to make a continuous integration. It was working fine on the last months.

Today, Windows Server 2012 R2 performed a `blue screen` and now it is not working anymore. The Service is running on the windows `services` list as usual but on the `VSTS` online it shows that the agent is `offline`. So, we decide to try to reconfigure the agent and when we tr

[2017-08-08 19:47] TingluoHuang commented on #1127
@felipeoriani can you take a process dump and share with me?

[2017-08-08 19:57] felipeoriani commented on #1127
Yes @TingluoHuang, I take a process dump and the file is 25MB. I will try to upload here.
[AgentService-Process-Dump.zip](https://github.com/Microsoft/vsts-agent/files/1209365/AgentService-Process-Dump.zip)

[2017-08-08 20:07] TingluoHuang commented on #1127
@felipeoriani take a dump for `agent.listener.exe` not the agentservice.exe. :)

[2017-08-08 20:15] AlphaCluster commented on #1120
Both agents were tested after doing a clean install of the agents. I have had anything auto-update. I believe we were at 2.112.0 something before that.

[2017-08-08 20:15] felipeoriani commented on #1127
@TingluoHuang the problem is that the agent.listener.exe is not starting. If I look at the EventViewer, it logs a message the following messages:

First, it tries to start:

[![enter image description here][1]][1]

And then:

[![enter image description here][2]][2]

And then:

[![enter image description here][3]][3]

And finally, it does not work:

[![enter image description here][4]][4]

If I try

[2017-08-08 20:26] TingluoHuang commented on #1127
@felipeoriani `c0000005` means memory access deny which is a OS level failure. To get the dump you can call `run.cmd` under agent root and take dump when it crash.

[2017-08-08 20:35] felipeoriani commented on #1127
@TingluoHuang when I run the run.cmd from the PowerShell, I got the same error on the first post. "dotnet has stopped working". Now I run it and look at the Task Manager and a new process called "dotnet" starts. I dump it and it generates a file called Agent.Listener.DMP. I have zipped it and attach here.

I hope it is fine to see in more details. 👍

[Agent.Listener.DMP.zip](https://github.com/Mic

[2017-08-08 20:47] TingluoHuang commented on #1127
@felipeoriani have you try reboot? :)

[2017-08-08 20:51] felipeoriani commented on #1127
Yes, I have tried to reboot, I also run the [.Net Framework Setup Verification Tool ](https://blogs.msdn.microsoft.com/astebner/2008/10/13/net-framework-setup-verification-tool-users-guide/) and all versions are ok. Visual Studio 2015 Community (as a requirement for the agent) is on the machine and it is running fine as well.

In the VSTS online the Agent is offline. The Service is running but doe

[2017-08-08 20:56] TingluoHuang commented on #1127
@felipeoriani what's your `blue screen` about?

[2017-08-08 21:12] felipeoriani commented on #1127
@TingluoHuang I look at the EventViewer and I think I have some useful information. Look logs bellow:

Information: Windows Report Error
[code]

Information: VstsAgentService
[code]

Information: VstsAgentService
[code]

Information: Windows Report Error
[code]

Information: Windows Report Error
[code]

[2017-08-08 21:17] TingluoHuang commented on #1127
@felipeoriani i think something messed up with you both, since Powershell also crashed with `C000005`.

[2017-08-08 21:19] bryanmacfarlane commented on #1127
Yeah, this is starting to look like an OS / Machine issue if it's blue screening and powershell are crashing.

[2017-08-08 22:47] felipeoriani commented on #1127
That's sad. Maybe do I have to reinstall windows on this environment? Or does it still have something I can do?

[2017-08-09 00:01] GitHubSriramB commented on #1030
@sirjoekcb - haven't been able to get to this till now. will try fixing it in a week or so.

[2017-08-09 14:41] TingluoHuang commented on #1127
@felipeoriani maybe check what changed in your OS, like windows updates or hardware changes, and undo them?

[2017-08-09 14:43] felipeoriani commented on #1127
@TingluoHuang no, the updates were disabled and the hardware didn't change. :(

[2017-08-09 14:43] bryanmacfarlane commented on #1127
@felipeoriani - after that, you might need to follow up with usually OS support channels.

[2017-08-10 01:33] TingluoHuang commented on #1037
@JacobHenner I guess i can close this since 2.120.1 has been released. let me know if you need more help.

[2017-08-10 01:33] #1037 closed

[2017-08-10 01:33] TingluoHuang commented on #1064
@JacobHenner I guess i can close this since 2.120.1 has been released. let me know if you need more help.

[2017-08-10 01:33] #1064 closed

[2017-08-10 01:34] TingluoHuang commented on #1050
@Scudroe please try out the latest released agent with the fix.

[2017-08-10 01:34] TingluoHuang commented on #1050
https://github.com/Microsoft/vsts-agent/releases/tag/v2.120.1

[2017-08-10 01:36] #1108 closed

[2017-08-10 01:36] #1117 closed

[2017-08-10 01:41] TingluoHuang commented on #1120
@AlphaCluster are you still hitting this issue?
the error looks like a messed up auth config in your TFS AT, since worker can't connect back use the per job JWT token. Can you get check your TFS's AT event log, see whether you can find any error or warning?
if you have trouble finding those trace, we can setup a meeting and i can help you dig in more.

[2017-08-10 08:14] Scudroe commented on #1050
Ah OK. I had looked at the pre-release. Will check now.
Thanks btw (your timing is perfect as we need to move with this now).

[2017-08-10 08:36] Scudroe commented on #1050
OK so this doesn't work.
It still tries to hit 8080 which is the public url and not open from the boxes in the DMZ:

[2017-08-10 08:26:30Z ERR  VisualStudioServices] POST request to http://**myfqdn**:8080/tfs/_apis/oauth2/token failed. System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.Http.WinHttpException: The operation timed out

If I temporarily

[2017-08-10 08:36] Scudroe commented on #1050
Closed in error. Hit wrong button.

[2017-08-10 08:39] Scudroe commented on #1050
And (btw):
1. 8080 is never going to be open to the boxes in the DMZ.
2. We will move to https corp-wide at some point and the public url will be https then. I'm not holding my breath though and would really, really, like to actually be able to use this stuff - it's a key part of our whole great big move to CI / CD and this is now a critical blocker (we've done everything else).

[2017-08-10 12:50] JacobHenner commented on #1064
2.120.1 is still marked as pre-release on the GitHub releases page, and
when selecting "upgrade all agents" in VSTS 2.119 is still used. When will
2.120 be considered stable and released?

On Aug 9, 2017 21:33, "Ting" <notifications@github.com> wrote:

@JacobHenner <https://github.com/jacobhenner> I guess i can close this
since 2.120.1 has been released. let me know if you need more help.

—
You a

[2017-08-10 12:53] bryanmacfarlane commented on #1064
We are rolling through our early hosted build scale units and watching for issues.  When we complete that (next day or two), we will mark released.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Jacob Henner <notifications@github.com>
Sent: Thursday, August 10, 2017 8:50:08 AM
To: Microsoft/vsts-agent
Cc: Subscribed
Subject: Re: [Microsoft/vsts-agent] Allow pr

[2017-08-10 14:06] TingluoHuang commented on #1050
@Scudroe can you share your agent diag log?

[2017-08-10 14:09] ericsciple commented on #1050
you can send to ersciple if you are concerned about pasting it here (at microsoft com) and i will loop in ting

[2017-08-10 14:12] Scudroe commented on #1050
[Agent_20170810-082534-utc.txt](https://github.com/Microsoft/vsts-agent/files/1215181/Agent_20170810-082534-utc.txt)

[2017-08-10 14:13] Scudroe commented on #1050
We're pulling in the move to https now (because of this) but I am sure this must be an issue for others.

[2017-08-10 14:35] TingluoHuang commented on #1050
[Agent.Listener.zip](https://github.com/Microsoft/vsts-agent/files/1215256/Agent.Listener.zip)
@Scudroe can you try replace the agent.listener.dll with the zipped one i attached?

[2017-08-10 14:35] TingluoHuang commented on #1050
agent.listener.dll is under agentroot\bin

[2017-08-10 15:02] nero2001 commented on #898
Hi everyone,

I still have occasional errors in getting sources, while using agent 2.120.1..

"
Exit code 100 returned from process: file name 'tf', arguments 'vc workspace /new /location:local /permission:Public ws_4_69 /collection:https://mediahub.visualstudio.com/ /loginType:OAuth /login:.,******** /noprompt'.
"

Thanks

[2017-08-10 15:28] ericsciple commented on #898
@nero2001 the output (stdout/stderr) from `tf workspace /new ...` should be in the log. Did it output anything?

[2017-08-10 15:41] nero2001 commented on #898
Hi @ericsciple, is this what you want?

2017-08-10T10:46:07.7176994Z ##[section]Starting: Get Sources
2017-08-10T10:46:08.0141146Z Prepending Path environment variable with directory containing 'tf.exe'.
2017-08-10T10:46:08.0141146Z Setting environment variable TFVC_BUILDAGENT_POLICYPATH
2017-08-10T10:46:08.0141146Z Querying workspace information.
2017-08-10T10:51:49.5936306Z ##[command]tf vc scor

[2017-08-10 16:36] ericsciple commented on #898
Did the computer name change? `tf workspace /delete` was successful, so server registration should be gone. It additionally should remove the workspace metadata on your local computer.

[2017-08-10 17:02] stephenmichaelf commented on #1030
It looks like the issue is in FetchEngine.cs:

[code]

The only place I see that we set the GetFileAsyncTimeout is in ContainerFetchEngineDefaultOptions.cs where we set it to 5 minutes.

[2017-08-11 03:35] #1048 closed

[2017-08-11 03:37] TingluoHuang commented on #1090
I am going to close this issue since https://github.com/Microsoft/vswhere/issues/87 has been closed

[2017-08-11 03:37] #1090 closed

[2017-08-11 08:19] nero2001 commented on #898
No, it did not change.. And the error only occurs sometimes..

Em 10/08/2017 17:37, "ericsciple" <notifications@github.com> escreveu:

[2017-08-11 08:35] Scudroe commented on #1050
On running .\config.cmd with the new .dll I get the following:
An error occurred: Field not found: 'Commands.LocalRun'.

[2017-08-11 14:16] TingluoHuang commented on #1050
[Microsoft.VisualStudio.Services.Agent.zip](https://github.com/Microsoft/vsts-agent/files/1218118/Microsoft.VisualStudio.Services.Agent.zip)
Sorry, you have to patch another binary, i guess.

[2017-08-11 15:54] AlphaCluster commented on #1120
I was able to get the failing job to stop after reinstalling and not using the redirect binding. Don't know if that was directly related. Now I still see WARN logs about 401's but I think those might just be stale OAuth sessions being refreshed? Would that be the case? These ones don't seem to be causing issues.

[2017-08-11 17:41] brandonh-msft commented on #455
still happening on fresh installs. the `sudo yum` command results in `sudo: yum: command not found`

[2017-08-11 17:44] brandonh-msft commented on #797
This still happens today.

[2017-08-11 17:46] TingluoHuang commented on #455
@brandonh-msft  `yum` is a redhat version of `apt-get`

[2017-08-11 17:47] TingluoHuang commented on #797
@brandonh-msft the agent is built for ubuntu 16.04

[2017-08-11 19:10] brandonh-msft commented on #797
same error occurs on 16.04. I'm using the Docker on Ubuntu Server image from Azure which is 16.04.

[2017-08-11 20:18] bryanmacfarlane commented on #797
This looks like the net core OS dependencies are not on your docker image.

https://github.com/dotnet/core/blob/master/Documentation/prereqs.md

Core CLR is failing to initialize.  Not an agent issue.

[2017-08-11 21:30] ericsciple commented on #898
@nero2001 thanks I just discussed with a coworker. We think we know where to look for the specific issue you hit (sounds like another race condition since you are running multiple agents on the same box). You are running multiple agents on the same machine, correct?

[2017-08-13 13:41] nero2001 commented on #898
Yes indeed.

Em 11/08/2017 22:30, "ericsciple" <notifications@github.com> escreveu:

[2017-08-14 06:28] Tasteful opened #1134 "Git-LFS can't authenticate with TFS during checkout"
## Agent version and platform
Version of your agent? 2.112.0

OS of the machine running the agent? Windows 2012r2

Git LFS: git-lfs/2.1.0

## VSTS type and version
VisualStudio.com or On-Prem TFS? On-Prem TFS 15.112.26301.0 (Tfs2017.Update1)

## What's not working?
Have created a build for tfs-git-repository where we using git-lfs for large files. On the repository tab we checked the `Checkout fil

[2017-08-14 14:44] madhurig commented on #1043
@sisterray : the values are not used by the tasks, so you can add any value as a placeholder.

Thanks,
Madhuri

[2017-08-14 15:29] danielstocker opened #1136 "cmake 3.8.x and 3.9.x not recognised by vsts agent"
## Agent version and platform
**Version of your agent?** 2.120.1
**OS of the machine running the agent?** Windows

## VSTS type and version
**VisualStudio.com or On-Prem TFS?** both VSTS and TFS 2017 U1
**account names** tested on three different accounts, they show the same behaviour

## What's not working?
After installing newer versions of cmake (Windows installer) and writing its location to t

[2017-08-14 17:52] ericsciple commented on #898
@nero2001 did you update all agents your machine to 2.120.1?

[2017-08-14 18:34] stephenmichaelf commented on #754
@plneto Are you still getting this issue?

I ran some tests and it seems to be accurate to the millisecond:

![image](https://user-images.githubusercontent.com/450490/29285745-88c6c164-80fd-11e7-9bc1-0ab11d048ee8.png)

I do see that yours says NUnit Test Runner, not sure how you had things setup. Mine is using NUnit3 and the VSTest Task.

[2017-08-14 19:14] greadtm commented on #898
Does 2.120.2 address all known issues with running multiple agents on a single server?

[2017-08-14 20:36] Tasteful opened #1140 "default tfs 2017.2 agent (2.112.0) is not finding VS buildtool 2017 (15.3.0)"
## Agent version and platform
Version of your agent? 2.112.0

OS of the machine running the agent? Windows Server 2012r2

## VSTS type and version
VisualStudio.com or On-Prem TFS? On-Prem TFS 2017.2

## What's not working?
Default VSTS-Agent (that is shipped with TFS 2017.2) is not finding the msbuild 15.3 that is shipped with VS Build Tool 2017 (15.3).

With the new 15.3 release today the VS Buil

[2017-08-14 21:01] ericsciple commented on #1140
can you try the latest agent https://github.com/Microsoft/vsts-agent/releases

[2017-08-14 21:04] ericsciple commented on #1140
Nevermind it looks like the issue you hit is with the task (vsts-tasks repo, not this repo). The task has been fixed in master and released with later updates.

[2017-08-14 21:04] #1140 closed

[2017-08-15 02:36] ericsciple commented on #1134
i think this might be the same lfs issue that was fixed in a [later agent release](https://github.com/Microsoft/vsts-agent/releases) (lfs settings removed from system git config bundle with the agent)

[2017-08-15 04:17] ericsciple commented on #898
@greadtm v2.120.1 carries a new version of git. I still have an outstanding question whether all agents on the machine were updated to 2.1201. or not (if not then that could explain the issue).

[2017-08-15 06:05] Tasteful commented on #1134
@ericsciple I tested with the latest agent and the smudge filter is now added localy but still it is not possible to fetch the lfs content.

New build log
[code]

The TFS server diagnostic log is showing
![image](https://user-images.githubusercontent.com/357589/29303831-ed2aa00c-818f-11e7-82d1-11c27619722d.png)

[2017-08-15 06:33] LockTar opened #1141 "Is VSTS Agent Extension Azure VM compatible with TFS on premise?"
I want to use the VSTS Agent Extension in Azure. I created an ARM template for this but gives a strange error. The only issue related to this is #1044. I can't find any documentation about it.

I get the detailed message:
_Enable failed for plugin (name: Microsoft.VisualStudio.Services.TeamServicesAgent, version 1.12.0.0) with exception Command C:\Packages\Plugins\Microsoft.VisualStudio.Services.T

[2017-08-15 08:39] mbp opened #1142 "Missing capabilities after upgrading to Visual Studio 2017 15.3"
Agent version 2.116.1
Windows Server 2016
VSTS type: VisualStudio.com

## What's not working?
After upgrading to Visual Studio 2017 15.3 on build server and re-starting agent, build fails with:

    No agent could be found with the following capabilities: DotNetFramework, msbuild, visualstudio, vstest

It would appear the visualstudio and vstest capabilities are gone missing, I had to add them man

[2017-08-15 14:48] TingluoHuang commented on #1136
@danielstocker I check the code, the windows agent should never auto populate CMake capability. We don't have code to do that yet. :) I think that is a bug, since we do detect CMake on Linux/OSX.

[2017-08-15 14:59] danielstocker commented on #1136
Hi @TingluoHuang and thanks for your response. For some reason I was absolutely certain that I had got cmake on Windows before. Must be confusing it with something else. Thanks so much for checking. :)

[2017-08-15 15:05] TingluoHuang commented on #1136
@danielstocker I will add the check in next agent release.

[2017-08-15 15:17] TingluoHuang commented on #1134
@Tasteful are you able to catch Fiddler trace from git-lfs? also, do you have any git credential manager installed? can you try use this LFS version see whether you can repro? https://github.com/git-lfs/git-lfs/releases/tag/v2.0.2

[2017-08-15 16:14] Tasteful commented on #1134
I have now tried with the 2.0.2 version of git-lfs with the same issue.

## Relevant part from fiddler log
Request
Credentials is base64 encoded credentials of "OAuth:bearer token", replaced below with *******
[code]

Response
[code]

Regarding to the log it looks like TFS server is denying authenticating a bearer token when username is OAuth.

TFS installation is upgraded multiple times if that m

[2017-08-15 16:33] Tasteful commented on #1134
When I disabled the "Basic" authentication on TFS server the above request was succeeding but the next one was failing due to missing credentials.

The same with both the 2.0.2 and 2.2.1 version of git-lfs

Request
[code]

Response
[code]

[2017-08-15 16:42] Tasteful commented on #1134
on build server it is disabled.

[2017-08-15 19:20] TingluoHuang commented on #1142
@mbp update to latest agent version should fix the problem for you. the latest VS release change it's versioning convention. before, it's always 15.0.1, 15.0.2, 15.0.3, 15.0.x. However, from 15.3, it change to use the minor version .15.3, 15.4, 15.5...

[2017-08-15 21:54] mayeager22 opened #1144 "How can I update historical build artifacts (artifactlocation, downloadUrl) following a server move?"
My build artifacts are being moved from one fileshare \\ULYSSES\DevOps to a new fileshare \\archives\DevOps.

While I was able to update the build definition to make subsequent builds go to this new location, my already completed builds are still holding on to the old drop location.

Is there a way I can update these through Rest API?

## Agent version and platform
Version of your agent? 1.104.0

[2017-08-16 00:12] damienpontifex commented on #1007
This also solved my issue, thanks. Any timeframe for a fix in an official release?

[2017-08-16 04:09] TingluoHuang commented on #1144
@mayeager22 I don't think we have that REST Api at this point. You can use https://visualstudio.uservoice.com/forums/330519-team-services to provide feedback for the service. I am going to close this issue, since it's not scope to a 2.x vsts-agent issue.

[2017-08-16 04:09] #1144 closed

[2017-08-16 04:36] votthao opened #1145 "VSTS build failed with Git fetch failed with exit code: 128"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
2.120.1

OS of the machine running the agent? Windows 10

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name? https://ezcm.visualstudio.com

## What's not working?
VSTS build failed with Git fetch fai

[2017-08-16 04:54] nschonni commented on #1145
Are you working behind a proxy? I've seen the 128 with proxy issues before, and there were some proxy changes in the last release

[2017-08-16 05:11] votthao commented on #1145
No, we use direct line to internet. We setup an on-premis TFS 2017 to try with 2 projects. One uses source control type TFS, works successfully. But the other one uses GIT has the same issue.

[2017-08-16 06:30] votthao commented on #1145
I think the root cause is the built-in Git in VSTS Agent. The version of Git is 2.12.0.windows.1 is included in 2.120.1. I download the latest version of Git (2.14.1.windows.1) and overwrite to agent\externals\git. Then it works.

[2017-08-16 06:30] #1145 closed

[2017-08-16 07:04] mbp commented on #1142
Thanks, that did the trick.

I did not think there was a newer version, since the Releases page here on GitHub says 2.120.2 is a pre-release.

[2017-08-16 07:04] #1142 closed

[2017-08-16 08:42] chris31389 opened #1146 "Building .Net Standard 2.0 Application with Hosted VS2017 Agent"
Hi,

When will .net standard 2.0 sdk be installed to the Hosted Agents?

Thanks,
Chris

[2017-08-16 08:54] flightlevel commented on #1146
I've selected v2.0 and its still using the 1.0.4 SDK ???

![Image](https://i.snag.gy/WaXUKn.jpg)

[code]

[2017-08-16 09:02] chris31389 commented on #1146
@flightlevel Does the agent your using have .netstandard sdk 2.0 installed?

[2017-08-16 09:02] nero2001 commented on #898
Yes i did.

Em 14/08/2017 18:52, "ericsciple" <notifications@github.com> escreveu:

[2017-08-16 09:11] flightlevel commented on #1146
Is there a way to check? I'm using VSTS with the 2017 hosted build agent

[2017-08-16 09:47] chris31389 commented on #1146
@flightlevel I think the hosted build agent doesn't have it installed (or they haven't updated the docs yet) https://www.visualstudio.com/en-us/docs/build/concepts/agents/hosted

[2017-08-16 10:23] bryanmacfarlane commented on #1146
The image is in process of creating/rolling out.

If you look under tasks, tools, there is a .net tool installer task we just released.  That will pull it JIT during your build.

We're also working on a feature in the UI (not docs) to show "what's on this image"

[2017-08-16 10:46] chris31389 commented on #1146
Hi @bryanmacfarlane, thanks for your reply.  I've added it to my build process.  It looks like it ran with 2.0.0 but it also looks like it used the 1.0.4 package too.  See below for the snippets of the logs.

[code]

[code]

[code]

[2017-08-16 10:52] bryanmacfarlane commented on #1146
@chris31389 - it should prepend the path.  Can you add an issue in the tasks repo (vsts-tasks).  I'll make sure the right folks dig into it.

[2017-08-16 10:59] chris31389 commented on #1146
@bryanmacfarlane I'm guessing its not looking for the dotnet exe, its looking for the Nuget.targets file?  Does that get installed with the runtime task?

[2017-08-16 11:30] plneto commented on #754
@stephenmichaelf Yes, I'm still having this issue. I'm using https://github.com/nunit/nunit.xamarin to generate the test results.

Does the format from my test results file look different to yours?

[2017-08-16 14:16] TingluoHuang commented on #1145
@votthao what's error you get in your build log?

[2017-08-16 15:57] Tasteful commented on #1134
@TingluoHuang @ericsciple do you have any other suggestions?

[2017-08-16 16:04] TingluoHuang commented on #1134
@Tasteful I probably know where the bug is, we need prepare an agent fix for it, in the meanwhile you can use your workaround.
In short:
IIS won't let request with basic header pass through, when put credential into url, git will use basic auth.
The -c http.extraheader config setting is recently added to git-lfs.

[2017-08-16 16:10] Tasteful commented on #1134
@TingluoHuang you can ping me when it exists a new agent to test this with and I can verify that it's working. Thanks for the current help.

[2017-08-16 16:20] TingluoHuang commented on #1146
@chris31389 what's your netstandard/netcoreapp version in your `.csproj`. 2.0 SDK only going to pick 2.0 stuff if you csproj target netcore 2.0 or netstandard 2.0.

[2017-08-17 01:39] votthao commented on #1145
@TingluoHuang Here is a part of build log:
2017-08-16T06:21:54.7770212Z ##[command]git -c http.extraheader="AUTHORIZATION: bearer ********" fetch --tags --prune --progress --no-recurse-submodules origin
2017-08-16T06:21:54.8925391Z ##[error]Git fetch failed with exit code: 128
2017-08-16T06:21:54.8970390Z ##[debug]System.InvalidOperationException: Git fetch failed with exit code: 128
   at Microso

[2017-08-17 03:42] TingluoHuang commented on #1136
@danielstocker the next version agent will detect cmake as long as it's in your %PATH%

[2017-08-17 03:42] #1136 closed

[2017-08-17 10:08] chris31389 commented on #1146
@TingluoHuang I've just checked all my csproj's.  All standard libs contain:

[code]

and all standard apps contain
[code]

[2017-08-17 13:56] greadtm commented on #898
Is this issue still being investigated?

[2017-08-17 15:30] #1120 closed

[2017-08-17 15:55] ericsciple commented on #898
@garimasi

[2017-08-17 15:58] GarimaSi commented on #898
The tf workspaces issue for multiple agents is being looked into. We will get back here once we know more and/or if we have any follow up questions. Thanks for your patience!

[2017-08-18 14:12] DanielTheCoder commented on #1134
Hi, any news on this issue.
Seems like we have the same problem.

[2017-08-20 03:35] TingluoHuang commented on #1134
I will prepare a fix ASAP.

[2017-08-21 01:46] sandorfr commented on #774
@bryanmacfarlane Now .net core is a bit more mature, have you or your team made any progress on thoughts about this?

[2017-08-21 02:21] jabbera commented on #774
I don't see why you can't tree the core runtime as powershell or node. My tasks need powershell 5. I can't self contain that, so it's just a prereq. I've coded them to fail if it's not installed.

[2017-08-21 02:46] bryanmacfarlane commented on #774
It's all about the OS dependencies.  net core has a bunch of OS dependencies the user needs to install (unlike node).  We're also working on running tasks in a docker container so that factors in.  In the case where OS dependencies are not there, you won't even get a runtime check - it will blow up.   With node, we map node into the container and run the task.

Net core 2.0 has self contained linu

[2017-08-21 15:10] Mctalian commented on #797
`dotnet --version` was working fine for me (Core 2.0.0)

I loosely followed this guidance and was able to get it to configure and run on Ubuntu 16.04- I had to alter the URLs and filenames, but I was able to figure it out pretty quickly from the below link.
https://kvaes.wordpress.com/2016/12/10/issue-with-vsts-agent-on-ubuntu-failed-to-initialize-coreclr-hresult-0x80131500/

[2017-08-21 18:48] MikeYeager opened #1153 "Doesn't create a working build with VS 15.3.1"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting
yes I have

## Agent version and platform
Version of your agent? 2.102.0/2.100.1...
2.120.1

OS of the machine running the agent? OSX/Windows/Linux...
Win 8.1 Enterprise

## VSTS type and version
VisualStudio.com or On-Prem TFS?
On-prem TFS

If On-Prem TFS, which releas

[2017-08-21 19:08] TingluoHuang commented on #1153
@MikeYeager I thinks this is a known task issue for VS 15.3. There was a breaking versioning changes in VS since 15.3 which break the logic in the task we have to find VS. I guess the latest 2017 QU should has the fix, @ericsciple can confirm.

VS used to version there stuff 15.0.1/15.0.2/15.0.3/etc.
from 15.3, VS start version 15.3.0/15.3.1/15.3.2/etc.

[2017-08-21 19:34] ericsciple commented on #1153
Yep the workaround is use the msbuild task and specify the location (radio option).

[The fix](https://github.com/Microsoft/vsts-tasks/commit/7affcc0f508635ee299a094844a6143315cff0dd) is in TFS 2017 U2. Another workaround would be to apply the fix to the tasks in the agent cache (`_work/_tasks/...`).

[2017-08-21 19:34] #1153 closed

[2017-08-21 20:25] cool-abhi opened #1154 "issue downloading package microsoft/sp-build-web"~1.1.0 (SASS 4.5.3)"
Summary : I am getting error. Can not download win32-x64 package. We are able to download all other packages from git. So its not proxy issue. Also user has admin rights on machine.
I am using package ": @microsoft/sp-build-web"~1.1.0 which intern is calling sass v4.5.3. I have node version of 4.6.1 (can not upgrade to 5 or above)
node v6.10.0

-- already deleted node_module
-- user has admin righ

[2017-08-21 21:10] brandonh-msft commented on #797
@bryanmacfarlane of course it's not an agent issue; the agent ends up running. However the *additional work required* is something we might want to cite in our documentation.

[2017-08-21 21:14] bryanmacfarlane commented on #797
@brandonh-msft - that's because net core is not the dependency.  We build a self contained net core app.  It's about the OS dependencies (the dependency of our dependency).

We are addressing with moving our agent to core clr 2.0 self contained app

[2017-08-21 21:16] bryanmacfarlane commented on #797
I'm going to re-open to ensure our ubuntu 16 docs are up to snuff.  @TingluoHuang can go over.

[2017-08-21 22:03] TingluoHuang commented on #1154
@cool-abhi can you run the same command on the build machine successfully as the same runas user?

[2017-08-22 00:11] marcwmiller opened #1155 "Hosted VS2017 update to 2.0 breaking build"
A previously working build (for several months) started failing after Monday, August 21, 2017 3:00 PM (EDT).

The CLI command dotnet restore was exiting with:

##[error]Process completed with exit code 1.

This was caused by:

...error NU1602: Twilio 5.6.2 does not provide an inclusive lower bound for dependency...

I enabled verbosity diag, and discovered that it is now using the 2.0 sdk files:

[2017-08-22 00:23] bryanmacfarlane commented on #1155
@marcwmiller - the hosted vs2017 pool contains an image with the latest released tools from vs 2017 so net core 1.0.4 was updated to 2.0 today.

If you want to lock to a specific version, you have a couple of options:
1. Use the .net tool installer task and specify the version you want to use (in the tools category) or
2. Use a private agent where you can control the tools installed.

Hope that he

[2017-08-22 10:24] bryanmacfarlane commented on #1155
Does it work if you use the nuget tool installer task up front and select 4.1?

[2017-08-22 10:29] bryanmacfarlane commented on #1155
Can you open an issue on the vsts-tasks repo?  The agent in this repo has no concept of net core etc...  It's just an app.

[2017-08-22 12:27] michelmoorlag commented on #866
My macOS Build Agent is also missing the vstest capability. Any instructions how to add this capability?

[2017-08-22 15:37] dpurge commented on #1134
Hi,
We are having the same problem:
- TFS version 15.117.26714.0
- basic auth disabled in IIS
- "Checkout files from LFS" enabled
- OAuth token is set in remote.origin.lfsurl, remote.origin.lfspushurl, http.extraheade
- git lfs smudge failes
- if I enter credentials to the credential store manually, builds are temporarily OK, until they wre dropped (which happens almost every day - did not yet fin

[2017-08-23 12:56] NirajJoshi01 opened #1158 "Error while configuring Build Agent behind corporate proxy"
## Agent version and platform
Agent:  2.120.2
OS : Windows

## VSTS type and version
VisualStudio.com

account name: https://gfsaet.visualstudio.com

## What's not working?
I am trying to configure VSTS build agent on a machine which is on Corporate Network.
I have already added ".proxy" file to use proxy while connecting. Which is also confirmed by Log file. Tried to configure by stopping firewal

[2017-08-23 14:29] TingluoHuang commented on #1158
@NirajJoshi01 the error looks like a Proxy or Firewall issue. Can you config your browser go through the proxy and access VSTS?

[2017-08-23 15:18] NickMRamirez opened #1159 "Multiple agents on same machine - error due to same Windows service name"
The Registration script for the VSTS agent that is shown on when adding a new machine to a Deployment Group doesn't account for adding multiple agents to the same machine. It contains the following line:

[code]

Where `$env:COMPUTERNAME` is used to name the VSTS Windows service. However, adding additional agents results in an error because they all try to register a Windows service with the same

[2017-08-23 15:24] TingluoHuang commented on #1159
@NickMRamirez I think you might want to take the generate script as an sample for configure agent and you can modify it yourself. I don't think take folder name is a good idea, since you might have all different weird characters in your folder name, ex: space, localized char, etc. I am pretty sure server has restriction on agent name.

[2017-08-23 15:25] TingluoHuang commented on #1159
@chshrikh for thoughts

[2017-08-23 18:58] TingluoHuang commented on #1043
https://github.com/Microsoft/vsts-agent/pull/1135

[2017-08-23 18:58] TingluoHuang commented on #1043
the next agent release will carry the fix.

[2017-08-23 18:59] TingluoHuang commented on #1101
#1133

[2017-08-24 02:04] MikeFoden commented on #1146
@chris31389 they have said they have now updated the hosted agent with .NET Core 2.0 support - https://twitter.com/VSTS/status/900134247205191680

[2017-08-24 04:28] NirajJoshi01 commented on #1158
@TingluoHuang Yes I can access VSTS from browser with same proxy I am using here..

[2017-08-24 05:39] TingluoHuang commented on #1158
@NirajJoshi01 follow https://www.visualstudio.com/en-us/docs/build/troubleshooting#http-trace-logs enable http trace for the agent.
`set VSTS_AGENT_HTTPTRACE=true`
then rerun the agent and send log directly to tihuang@microsoft.com since the log will contains secrets.

[2017-08-24 05:40] TingluoHuang commented on #1158
@NirajJoshi01 also, what kind of PROXY do you have in your environment?

[2017-08-24 08:33] NirajJoshi01 commented on #1158
@TingluoHuang I have enabled http trace for the agent and sent you Log on your mail ID.
We use proxy without any authentication.

[2017-08-24 15:19] TingluoHuang commented on #1158
@NirajJoshi01
[code]

I guess the 405 is causing the problem as you said in email. is `Server: Apache/2.0.63` your proxy server?

Can you access https://gfsaet.visualstudio.com/_apis/connectionData?connectOptions=1&lastChangeId=-1&lastChangeId64=-1 from browser?

[2017-08-24 15:23] TingluoHuang commented on #1158
@NirajJoshi01 also, is your proxy an http proxy or https proxy?
VSTS is on https, so make sure your get your proxy port right in your agent config.

[2017-08-24 18:21] #722 closed

[2017-08-24 19:15] TingluoHuang commented on #1100
#1157

[2017-08-24 20:11] TingluoHuang commented on #1134
#1151

[2017-08-24 21:04] bryanmacfarlane commented on #1155
@marcwmiller - I see you didn't open a case there.  Is your issue resolved?

[2017-08-24 21:19] marcwmiller commented on #1155
@bryanmacfarlane - sorry, I got pulled into another issue. I implemented the work around you suggested to use the .NET Core tool installer task. That resolved the issue. I will need to upgrade the local dev environment with VS 2017 v15.3 and dotnet 2.0 sdk to see if I can repro issue I encountered. Thank you for the follow up.

[2017-08-24 21:28] bryanmacfarlane commented on #1155
OK.  You mean you used it to pin yourself back to 1.1?  If so, would be good to know what broke with 2.0. :)

[2017-08-24 21:38] marcwmiller commented on #1155
Yes - I used it to install .NET Core sdk version 1.0.4, prior to running command dotnet restore.

Without that task in the build process, the command running dotnet restore was exiting with:

##[error]Process completed with exit code 1.

I *think* this was caused by a 3rd party nuget package:

2017-08-21T21:21:44.2532054Z d:\a\3\s\src\iOnboard.Service.Twilio\iOnboard.Service.Twilio.csproj : error

[2017-08-25 13:58] HerrHoller opened #1163 "TF.exe in a docker container: "The type initializer for 'System.Windows.Application' threw an exception.""
[Diag.txt](https://github.com/Microsoft/vsts-agent/files/1252033/Diag.txt)
[GetSources.txt](https://github.com/Microsoft/vsts-agent/files/1252032/GetSources.txt)

## Agent version and platform
2.120.2 - Windows

## VSTS type and version
On-Prem TFS 2017 (15.112.26307.0)

## What's not working?
tf.exe exits when executing the command (stated below)
cloning git repos works without any problem.

[cod

[2017-08-25 14:04] TingluoHuang commented on #1163
@HerrHoller have you ever modified any file under `externals\vstsom`? can you share your `tf.exe.config` file with me?

[2017-08-25 14:08] HerrHoller commented on #1163
Wow. I didn´t expect an answer until next week :)
Nothing is modified. Maybe i should mention that i am running the agent inside a docker container.

[tf.exe.config.txt](https://github.com/Microsoft/vsts-agent/files/1252049/tf.exe.config.txt)

[2017-08-25 14:31] TingluoHuang commented on #1163
@HerrHoller which docker image you are suing?

[2017-08-25 14:32] TingluoHuang commented on #1163
can you try run a .net 45 console app inside your container?

[2017-08-25 15:01] HerrHoller commented on #1163
@TingluoHuang  its self built and i can run .net 45 apps inside:

`FROM microsoft/windowsservercore:latest

ENV VSTS_AGENT_URL https://github.com/Microsoft/vsts-agent/releases/download/v2.120.2/vsts-agent-win7-x64-2.120.2.zip

# Environment variables
ENV vsts_url "http://tfs:8080/tfs"
ENV vsts_agentname DOCKER_TFS_WIN
ENV vsts_agentpool BirdIsland

ADD *.ps1 /agent/
WORKDIR "C:\agent"

RUN Invoke-

[2017-08-25 15:09] #723 closed

[2017-08-25 15:16] TingluoHuang commented on #1163
@HerrHoller can you try run the agent out side the container? see whether it can get pass the tf.exe problem?

[2017-08-25 15:35] TingluoHuang commented on #1050
#1133

[2017-08-25 17:50] HerrHoller commented on #1163
@TingluoHuang I installed the same agent version on a Windows Server 2016 and it works.
I have also added RUN choco install dotnet4.5.2 in my dockerfile to ensure that .net is installed but the error still occurs

[2017-08-25 19:22] TingluoHuang commented on #1163
@HerrHoller try install dotnet 4.6.x

[2017-08-25 19:35] TingluoHuang commented on #1163
@HerrHoller what dotnet version you have on your Server2016 that tf.exe works?

[2017-08-25 19:44] TingluoHuang commented on #1163
@HerrHoller I check the code, looks like the latest version `tf.exe` requires .net 4.6

[2017-08-25 19:52] NickMRamirez commented on #1159
In this case, $destFolder is controlled by script, so there's little chance that it will contain weird characters. It will always be "A1", "A2", etc. Here's the script as it is now (with one additional line to make $destFolder available to other parts of the script). But, as it stands now, the script errs if you try to use it more than once (for different VSTS projects) because the $env:COMPUTERNA

[2017-08-25 19:52] marcwmiller commented on #1155
I updated the .csproj files, which have the 3rd party nuget package (Twilio) that generates the NU1602 warning, to explicitly suppress that warning and removed the .NET Core tool installer task from the build process. That resolved the issue. So again, I think moving from 1.0.4 -> 2.0.0 the restore is using the flag to treat warning as errors. I don't really think this is a bug.

[2017-08-26 19:26] sonvirgo opened #1164 "Fail to authenticate private agent VSTS"
VSTS
Windows 10 1703, VS Community 2017

PS C:\agent> .\config.cmd

Enter server URL > https://soncode.visualstudio.com
Enter authentication type (press enter for PAT) >
Enter personal access token > **********
Connecting to server ...
TF400813: Resource not available for anonymous access
Failed to connect.  Try again or ctrl-c to quit

## Agent and Worker's diag log
Logs are located at the `_diag

[2017-08-26 22:22] TingluoHuang commented on #1164
@sonvirgo you typed wrong `PAT`, a valid `PAT` should contains **52 chars**
[2017-08-27 01:23:34Z INFO Terminal] WRITE: Enter personal access token >
[2017-08-27 01:23:34Z INFO Terminal] READ SECRET
[2017-08-27 01:23:40Z INFO Terminal] Read value: '*****'
[2017-08-27 01:23:40Z INFO PersonalAccessToken] GetVssCredentials
[2017-08-27 01:23:40Z INFO PersonalAccessToken] token retrieved: **10 chars**

[2017-08-27 04:35] sonvirgo commented on #1164
@TingluoHuang Ok I input PAT token instead of its name. However the config said my clock was out of sync?
Enter server URL > https://soncode.visualstudio.com
Enter authentication type (press enter for PAT) >
Enter personal access token > ****************************************************
Connecting to server ...

Enter agent pool (press enter for default) > Remote
Enter agent name (press enter f

[2017-08-27 04:54] TingluoHuang commented on #1164
@sonvirgo is your clock out of sync? the oauth token used by agent needs your local clock not too skew.

[2017-08-27 05:07] sonvirgo commented on #1164
@TingluoHuang Ok I sync the clock then agent built succeeded but not propagate to VSTS
Pls take a look at the picture below
[http://i.imgur.com/Bf1vY4b.png](url)

[2017-08-27 05:08] TingluoHuang commented on #1164
@sonvirgo can you try F5 the web page?

[2017-08-27 05:11] sonvirgo commented on #1164
@TingluoHuang  Thanks! .The agent work great. My mistake pls close the issue.

[2017-08-27 05:16] TingluoHuang commented on #1164
cool, glad you unblock.

[2017-08-27 05:16] #1164 closed

[2017-08-28 00:55] jrmcdona opened #1165 "Access to the path '\\?\C:\buildagent\_work\1\a' is denied."
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
Version of your agent? 2.102.0/2.100.1...

OS of the machine running the agent? OSX

## VSTS type and version
VisualStudio.com
https://microsoft.visualstudio.com/Xbox.Ambassadors/Xbox.Ambassadors%20Team/_build/index?buildId=5955976&_a=summ

[2017-08-28 02:47] TingluoHuang commented on #1165
@jrmcdona the error means you don't have permission to access those directory. did you login as the same user before? is there anything change in OS level? Can you find the agent log indicate why it stop?

[2017-08-28 05:55] NirajJoshi01 commented on #1158
@TingluoHuang I believe it is an http proxy.

[2017-08-28 09:01] LarsOleKMD opened #1167 "After upgrading VS2017 to Version 15.3.1, it has disappeared from the Capabilities list of the agent"
## Agent version and platform
Agent.Version 2.112.0
win 2012 R2
On-Prem TFS  2017 UP 1

## What's not working?

After upgrading VS2017 to Version 15.3.1, it has disappeared from the Capabilities list of the agent
The previous of VS2017 is worked

Build says No agent could be found with the following capabilities: msbuild, visualstudio

[2017-08-28 09:50] NirajJoshi01 commented on #1158
@TingluoHuang Is it mandatory to Proxy server and Port or Is it okay to use Proxy PAC file?

[2017-08-28 09:50] bryanmacfarlane commented on #1167
Download latest agent.  Fixed in later version.  Latest fine to use with on prem

[2017-08-28 09:50] #1167 closed

[2017-08-28 11:33] jrmcdona commented on #1165
@TingluoHuang  I didn't change anything on the VM.   I logged into it to restart the Agent because I saw the server rebooted.  I am not sure exactly why the server rebooted at this point in time.

The only thing that changed on my build definition was I changed the setting to "Clean" with the clean options to clear source and output becasue my build was deploying same code over and over.

I guess

[2017-08-28 14:24] greadtm commented on #898
I wanted to follow up and see if there is any progress on this fix? We are interested in getting this fix to our development user base.

[2017-08-28 15:24] dpurge commented on #1134
I've taken https://github.com/Microsoft/vsts-agent/releases/download/v2.120.2/vsts-agent-win7-x64-2.120.2.zip and replaced Agent.Worker.dll with https://github.com/Microsoft/vsts-agent/files/1249845/Agent.Worker.zip and this combination seems to resolve LFS authorization issue issue.

[2017-08-28 17:37] TingluoHuang commented on #1165
@jrmcdona you can just try delete the entire `C:\buildagent_work` directory.

[2017-08-28 18:19] jrmcdona commented on #1165
@TingluoHuang seems to be working!   Thanks for that

[2017-08-28 20:55] simmdan opened #1169 "How can I checkout the same git revision on a second build?"
We have a system that allows us to have a VSTS build spawn one or more "child build(s)" which run in parallel to the parent build and then consolidate the results of the children so that we get an overall pass or failure on the main build. We do this with a utility that calls out to the VSTS REST API to create the child builds and then later to monitor their status. This part works fine and has be

[2017-08-28 22:02] TingluoHuang commented on #1169
@simmdan try run a `set` in a PR to print out all ENVs. i believe there is  `"build.sourceBranch": "refs/pull/767778/merge",`

[2017-08-28 22:15] simmdan commented on #1169
Yes, that's what I'm looking for.  Thanks for the help.

[2017-08-28 22:15] #1169 closed

[2017-08-29 03:17] #1165 closed

[2017-08-29 03:17] TingluoHuang commented on #1163
@HerrHoller are you able to make it work?

[2017-08-29 03:19] TingluoHuang commented on #1158
@NirajJoshi01 does your proxy allow https traffic? normally proxy server will need both server url and port, ex: `http://127.0.0.1:8888`

[2017-08-29 06:22] NirajJoshi01 commented on #1158
@TingluoHuang Thanks a Lot for helping out.

I was trying to configure Build Agent with Proxy Auto Config (PAC) file. Once I found proxy server and port from PAC file. Build agent was configured and started running smoothly.

[2017-08-29 06:22] #1158 closed

[2017-08-29 09:31] jmsvl commented on #898
Hi, we're also waiting for follow up on this matter. Thanks

[2017-08-29 11:07] PeterVeenendaal opened #1170 "Cancel a buildjob from a powershell task does not work anymore"
## Have you try trouble shooting doc? ->Yes
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform -> 2.120.2
Version of your agent? 2.102.0/2.100.1...

OS of the machine running the agent? OSX/Windows/Linux... -> Windows 2008R2 and Windows 2012R2

## VSTS type and version -> On-Prem TFs
VisualStudio.com or On-Prem TFS?

If On-Pre

[2017-08-29 12:35] HerrHoller commented on #1163
@TingluoHuang I have know .net 4.7 inside the container but it still does not work:

`[2017-08-29 12:31:24Z INFO ProcessInvoker] Starting process:
[2017-08-29 12:31:24Z INFO ProcessInvoker]   File name: 'tf'
[2017-08-29 12:31:24Z INFO ProcessInvoker]   Arguments: 'vc workspaces /format:xml /collection:http://tfs:8080/tfs/IM-Dev/ /loginType:OAuth /login:.,******** /noprompt'
[2017-08-29 12:31:24Z I

[2017-08-29 12:39] syedhassanabbas commented on #898
last Saturday I upgraded to TFS 2017 Update 2 with new agents on build server and Dev teams reported exact same issue which is random issue. I will wait for this fix as this is a major productivity impediment for our development teams.

[2017-08-29 14:00] TingluoHuang commented on #1163
@HerrHoller Can you share your dockerfile? i will try build the container and run tf.exe

[2017-08-29 15:09] GarimaSi commented on #898
@greadtm, @jmsvl, @syedhassanabbas
My apologies if you have already answered the questions below, but this thread has gotten a little convoluted for us to keep track.

Can you please reply with the following:
1. Have you updated all your agents to 2.120.1?
2. What version of VS is installed on the agents?
3. Are all agents at the same version, with the same VS version?
4. Build step details: How m

[2017-08-29 16:16] chrisrpatterson commented on #1163
TF is a bit more complicated than a simple console application and at this point we have not tested inside containers so I am not surprised it does not work.

[2017-08-29 16:18] chrisrpatterson commented on #1159
@NickMRamirez multiple agents are not supported on a single machine when using deployment groups.  Each machine should only be a member of a single deployment group.

[2017-08-29 16:21] chrisrpatterson commented on #1141
@LockTar  that extension is for Deployment Groups and TFS 2017 Update 1 does not support that feature.

[2017-08-29 16:28] jmsvl commented on #898
Reply inline

   1. Have you updated all your agents to 2.120.1?  [jmsvl] All agents
   updated to 2.120.2
   2. What version of VS is installed on the agents?  [jmsvl] VS 2010, 2012
   and 2015
   3. Are all agents at the same version, with the same VS version?
    [jmsvl] All agents on the server are the same version with multiple VS
   versions
   4. Build step details: How many agents are you

[2017-08-29 16:40] Cristie commented on #1159
@NickMRamirez Learn more, https://www.visualstudio.com/en-us/docs/build/concepts/definitions/release/deployment-groups/#deploy-agents-to-a-deployment-group

[2017-08-29 16:49] GarimaSi commented on #898
@jmsvl Can you try reattaching the logs please. It looks like they didn't get through the first time.

[2017-08-29 16:55] Cristie commented on #1141
@LockTar Learn more, https://www.visualstudio.com/en-us/docs/build/concepts/definitions/release/deployment-groups/#deploy-agents-to-a-deployment-group

[2017-08-29 16:59] Cristie commented on #898
Deployment Groups are not available in Team Foundation. Learn more, https://www.visualstudio.com/en-us/docs/build/concepts/definitions/release/deployment-groups/#deploy-agents-to-a-deployment-group

[2017-08-29 16:59] jmsvl commented on #898
I sent via email reply and it didn't work. Via site now.

[logs_57650.zip](https://github.com/Microsoft/vsts-agent/files/1261056/logs_57650.zip)
[logs_57664.zip](https://github.com/Microsoft/vsts-agent/files/1261057/logs_57664.zip)

[2017-08-29 17:21] GarimaSi commented on #898
@Cristie Wrong thread?

[2017-08-29 18:03] Cristie commented on #898
@GarimaSi  No that link is valid

[2017-08-29 18:34] GarimaSi commented on #898
@Cristie I know the link is valid. I was just wondering if it is on the wrong thread. If it isn't, can you please expand on how it pertains to the issue being discussed here.

[2017-08-29 19:05] ericsciple commented on #898
those are separate issues. let's keep this thread focused.

[2017-08-29 19:18] LockTar commented on #1141
Any suggestion in which version of TFS this is supported? As I said, we are about to update to Update 2. Or will it be supported in Update x? Thanks

[2017-08-29 20:12] nschonni commented on #1141
@LockTar it's at the top of the page @Cristie included

[2017-08-29 20:29] #1141 closed

[2017-08-29 21:29] Cristie commented on #898
@ericsciple I strongly disagree. A build failing to deploy on a Team Foundation server is a server side issue wherein Deployment Groups are not available (i.e. supported) by the server.

[2017-08-30 02:18] bryanmacfarlane commented on #898
@Cristie - this issue is only tracking the error mentioned at the beginning of this issue

From a build, get sources with multiple agents can cause:

 Unable to determine the workspace. You may be able to correct this by running 'tf workspaces /collection:TeamProjectCollectionUrl'.
2017-03-23T23:49:31.8872843Z ##[error]Exit code 100 returned from process

[2017-08-30 05:58] HerrHoller commented on #1163
Hi,

[Desktop.zip](https://github.com/Microsoft/vsts-agent/files/1262532/Desktop.zip)
@TingluoHuang I have merged together all three dockerfiles we use.

[2017-08-30 11:59] syedhassanabbas commented on #898
@GarimaSi

Sorry for the late response. Below are the answer for your questions for the issue "/loginType:OAuth /login:.,******** /noprompt'" while building. We have also noticed we are not able to deploy as windows copy file task is unable to find the network path, (it says path dose not exist). while running the same release with old agent it works ok. FYI, we have enable the old agents (shipped

[2017-08-30 12:51] russelldyas opened #1172 "Azure App Service Deploy Task Question - Multiple Sites"
Hello

I am sure I am missing something obvious.

Is there an easy way to deploy to multiple resources groups or sites with out having to create 100 tasks?

Our current setup...

A number of resources groups each have a separate portal in them.  Need to create release process that deploys a new build to all the resource groups.  I could create a separate task for each site however that becomes unm

[2017-08-30 13:13] syedhassanabbas commented on #898
FYI the version i see in file names of old agents is vsts-agent-win7-x64-2.111.1. and the version of new agents (that have this issue) is vsts-agent-win7-x64-2.117.2.

[2017-08-30 13:29] rodrigomocca opened #1173 "Can't connect. Execution stays in Conneting to server..."
I'm trying to configure a new Deployment agent.
I'm behind a proxy, but I've copied the .proxy file to the agent root folder.
The script execution stays in Connecting to server....
What can I do?

[2017-08-30 13:59] greadtm commented on #898
We have 2.120.2 but have yet to deploy it our production environment, We are still on agent 2.105. We held off on pushing the newest agent out as user nero2001 claimed they were still experiencing the issue with the newest agent. GarimaSi then responded the issue was still being researched. I have yet to see a definitive answer on whether this specific bug was resolved:

From a build, get sources

[2017-08-30 15:46] 8bitreid opened #1174 "failed to register machine to Deployment Group windows server 2008"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting
Failed to load the dll from [C:\vstsagent\A1\bin\coreclr.dll], Hresult: 0x8007007f
Failed to bind to CoreCLR at 'C:\vstsagent\A1\bin\coreclr.dll'
## Agent version and platform
Version of your agent? 2.102.2

OS of the machine running the agent? OSX/Windows/Linux...
Wind

[2017-08-30 16:01] TingluoHuang commented on #1174
@8bitreid make sure you are on 2008 R2 SP1

[2017-08-30 16:01] TingluoHuang commented on #1174
https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0-supported-os.md

[2017-08-30 16:02] TingluoHuang commented on #1173
@rodrigomocca can you share your agent diag log?

[2017-08-30 16:55] 8bitreid commented on #1174
@TingluoHuang I am on Server 2008 R2 SP2
![2017-08-30 12_54_16-systeminfo](https://user-images.githubusercontent.com/9111792/29884768-79a5806c-8d82-11e7-8651-0cdfce8e1dba.png)

[2017-08-30 17:23] nschonni commented on #1174
Service pack 2, means you're on R1, not R2

[2017-08-30 17:33] 8bitreid commented on #1174
Not supported OS.

[2017-08-30 17:33] #1174 closed

[2017-08-30 19:11] GarimaSi commented on #898
@syedhassanabbas, @greadtm Thanks for letting us know the state the agents are in. The old agents (prior to 2.120.1) have a bug that causes this problem in some cases which is why we need you to upgrade to a newer agent. When I said we are still researching and investigating the issue, we meant we are trying to root cause a different bug that may be causing similar symptoms. My apologies for the c

[2017-08-30 20:49] NickMRamirez commented on #1159
@chrisrpatterson In my case, I am installing multiple agents per machine, but each of these agents is in a different team project. So if you were to look at just one of the projects, it would only show one agent. It's the downside to that you can't share agents between team projects.

But in any case, my solution would allow it to support multiple agents. I've been using my custom script successfu

[2017-08-30 22:04] mmathias01 commented on #1159
Confirmed that not being able to have a single agent be part of multiple projects / teams is a huge issue. Also having to install the same agent to be both a build and deployment target is less than ideal. IMO the best way to do this would be to have agent's register themselves to the VSTS instance and be usable in either context and across teams / projects within that instance.

[2017-08-30 22:38] Cristie commented on #1159
Have we reached a decision on whether or not Deployment Groups will be in TFS 2017 Update?

[2017-08-31 11:25] PeterVeenendaal commented on #1170
We fixed the problem.
We add the following text:

Write-Host "##vso[task.setvariable variable=agent.jobstatus;]canceled"
Write-Host "##vso[task.complete result=Canceled;]DONE"

And it works again

[2017-08-31 11:25] #1170 closed

[2017-08-31 20:44] greadtm commented on #1167
We are upgrading from TFS 2017 Update 1 to Update 2 next week. Is this fix included in agent version 2.1220.0? Is it safe for us to upgrade to 2.122.0 TFS on premise?

[2017-08-31 21:02] bryanmacfarlane commented on #1167
Yes, it's safe to use latest 2.x with TFS on premises >= 2017

[2017-08-31 21:02] bryanmacfarlane commented on #1167
And yes, it has the fix.  VS changed it's version reporting format so the later agent version reacted.

[2017-09-01 03:50] GitHubSriramB commented on #1030
@stephenmichaelf - we will take the PR you shared forward and come up with appropriate fix to increase the timeout for downloading a file. Will update once we have fixed this.

[2017-09-01 03:50] #1030 closed

[2017-09-01 09:04] LarsOleKMD commented on #1167
Yes the agent can see VS2017 again, and build.
But there is a problem with building "code UI test" project, if I open project in VS2017 on the buld server can i build the manual, some references is lose when the agent run it

[2017-09-02 22:28] StingyJack opened #1186 "Support V2 agent for windows with TFS2015"
![image](https://user-images.githubusercontent.com/15381181/29999133-1a63abac-900b-11e7-85ce-6d97c425709d.png)

[2017-09-03 02:42] bryanmacfarlane commented on #1186
What issue are you having where you need the 2.x agent with 2015?

[2017-09-03 07:12] InteXX commented on #871
@ericsciple — How to add this capability manually? Also: is this an expected fix that might have a target date for release?

[2017-09-03 07:37] ericsciple commented on #871
https://www.visualstudio.com/en-us/docs/build/concepts/agents/agents#capabilities

[2017-09-03 07:40] InteXX commented on #871
@ericsciple — I saw that earlier, thank you, but it doesn't appear to provide guidance on how to manually add a capability. Unless I'm missing it somehow?

[2017-09-03 08:01] ericsciple commented on #871
You can either set an env var and restart the agent, or from the admin web UI, select an agent, select the Capabilities tab (right-most pane), and you should see an `Add capability` button near the top in the right-most pane.

[2017-09-03 08:07] InteXX commented on #871
@ericsciple — What should be the value for the variable?

[2017-09-03 08:12] InteXX commented on #871
@ericsciple — I think I found it. Is this it? `C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\CommonExtensions\Microsoft\TestWindow`

[2017-09-03 08:26] ericsciple commented on #871
It doesn't matter, build/release job routing only checks existence of the variable. The task will attempt to find the tool (does not consider capability value).

[2017-09-03 08:27] ericsciple commented on #871
...just make sure the value is not empty

[2017-09-03 08:29] InteXX commented on #871
@ericsciple — So I'll change it to "Eric's Bar & Grill" instead. That ought to do it.

Any chance of getting this in the System Capabilities?

[2017-09-03 08:32] ericsciple commented on #871
Ha, yes anything should work.

I'll defer to @nigurr @RanjanarMS to answer the System Capabilities question.

[2017-09-03 08:33] InteXX commented on #871
@ericsciple — OK, thanks.

[2017-09-03 08:35] InteXX commented on #871
![image](https://user-images.githubusercontent.com/10966749/30001634-c1186490-903f-11e7-8903-6383dadeb1a2.png)

[2017-09-04 07:04] nigurr commented on #871
@InteXX
Can you please give this info?

1. Visual Studio versions installed in the machine
2. Is `VisualStudio` capability added manually or automatically added?

[2017-09-04 07:15] InteXX commented on #871
@nigurr:

1. VS 2017 Build Tools (only, no IDE)
2. Automatically

Also, if it helps, I'm finding that `vstest.console.exe` is not present on my system; apparently it's required as seems to be indicated [here](https://social.msdn.microsoft.com/Forums/en-US/19ca4c82-6dc6-47cc-a740-18c01b7d826e/new-build-server-unable-to-determine-the-location-of-vstestconsoleexe?forum=tfsbuild).

[2017-09-04 12:12] kosmossync commented on #688
Please reopen this bug.

The git version used is so old that it didn't support
`
[http]
	sslBackend = schannel
`
This feature is introduced in this git commit:
https://github.com/git-for-windows/git/commit/d81216ee4dd46ae59a388044d1266d6fa9030c19

If Microsoft SChannel is used as a backend all certificates from windows certificate store are used.

In my opinion the agent on windows should use SCha

[2017-09-05 15:06] TingluoHuang commented on #1186
@StingyJack also the limitation is not actually on the agent side, it's the windows tasks we shipped in TFS2015. Those tasks are not good authored and taking hard dependency on the 1.x agent.

[2017-09-05 15:28] StingyJack commented on #1186
I couldn't run VS 2017 or MSBuild 15 compilations on our TFS 2015 server without a bunch of research and hacking, compounded what is probably the most buggy VS ever. I did get it to work  eventually but not without a missed deadline.

All that research and hacking is nothing compared to having to both learn and setup a non-microsoft windows operating system just to build programs written in a micr

[2017-09-05 15:37] ericsciple commented on #1186
I think the only thing related to the agent for this scenario is the routing capability, which can be added as a [user capability](https://www.visualstudio.com/en-us/docs/build/concepts/agents/agents#capabilities).

For the task workaround, the MSBuild tasks provides an advanced input to choose the path to MSBuild (older task doesn't know about future VS versions).

[2017-09-05 15:40] bryanmacfarlane commented on #1186
Just so you're aware of the core issue - TFS2015 (and it's tasks) shipped way before VS2017 existed.   So, it didn't have knowledge of how to find it (and it changed).  It's not about won't fixing a bug - there was feature work that went into TFS2017 to work well (automatically find it) with VS2017.  As Eric pointed out, there's a manual setting for the msbuild to use.

[2017-09-05 15:41] bryanmacfarlane commented on #1172
Please create an issue in the vsts-tasks repo

[2017-09-05 15:41] #1172 closed

[2017-09-05 19:05] izefler opened #1190 "Packages failed nuget restore VS 2017 in VSTS projects .net standard"
Hello,

I need help!

I am using an on-premises build server, Windows with VS 2017 installed, I have other applications with the same features and works perfectly.

However for a specific application the error occurs!

In the task nuget restore it can not restore all the packages, the following error occurs:

Committing restore...
Generating MSBuild file d:\a\15\s\src\dev\mobile\shared\MRV.Obras.M

[2017-09-05 19:14] ericsciple commented on #1190
It looks like you are having an issue with one of the tasks, not the agent. The NuGet Restore task is from this repo: https://github.com/Microsoft/vsts-tasks

Please open an issue in the vsts-tasks repo instead.

[2017-09-05 19:14] #1190 closed

[2017-09-05 19:18] izefler commented on #1190
Thanks!!

[2017-09-05 19:23] TingluoHuang commented on #1163
@HerrHoller
I tried to use the same base docker image as you had `microsoft/dotnet-framwork:latest`, and download the same version of `tf.exe` the agent has, but i am able to run the `tf.exe`

Here is what i tried:
`docker create microsoft/dotnet-framework:latest ping 127.0.0.1 -n 20000`
`docker start <HASH>`
`docker exec -it <HASH> cmd`
`which powershell`

// download tf.zip
`powershell Invoke-We

[2017-09-05 20:14] TingluoHuang commented on #1146
I am going to close the issue since it's not an agent's problem, it's about the Hosted Image setup.

[2017-09-05 20:14] #1146 closed

[2017-09-05 21:07] TingluoHuang commented on #1155
I am going to close the issue as it's not an agent bug and you got unblocked. :)

[2017-09-05 21:07] #1155 closed

[2017-09-05 21:49] TingluoHuang commented on #688
@kosmossync we don't get legal approval for shipping latest version git with the agent yet. We can switch once we get approval.

[2017-09-05 22:10] Naninani commented on #797
Here is a [fix](https://austin.cady.io/install-microsoft-powershell-on-ubuntu-17-10-artful/)
Installing the libicu55 version on ubuntu 17.10 and the agent is working fine.

[2017-09-05 22:35] bryanmacfarlane commented on #797
Note that your "fix" is for 17.10 and this issue is about confirming our docs for the supported LTS 16.10 version is correct.

[2017-09-05 23:22] Naninani commented on #797
@bryanmacfarlane the fix is applicable for 16.10 as well as 17.04.

[2017-09-06 02:27] lorenz31 opened #1193 "Could both build and release definition use the same agent or each must use different agent?"
This is my first time working with CI/CD using VSTS so please bare with me.

I'm currently creating a release definition for our project and I'm stuck with this problem, **could both build and release definition use the same agent** if yes, then how? If no, what are other options to do this?

[2017-09-06 06:36] Tasteful commented on #1134
@TingluoHuang I have now tested with the v2.122.0 pre-release and that is also working.

[2017-09-06 06:36] #1134 closed

[2017-09-06 07:26] karpis opened #1194 "Build tag 'XYZ' was not added successfully"
Using

`Write-Host ##vso[build.addbuildtag]TEST05`

from PowerShell within a build.

The tag is properly added to the build, but the error message

is dispalyed in logs and the build fails because of that.

The command is _successful_ if build tag 'TEST05' _does not exist_ for the team project.
The command is _successful_ if build tag 'TEST05' _exists_ for the team project.
The command **_fails_**

[2017-09-06 07:43] ericsciple commented on #1193
Agents are in pools, and queues map to pools. https://www.visualstudio.com/en-us/docs/build/concepts/agents/pools-queues

[2017-09-06 07:44] ericsciple commented on #1193
...sorry, i mean to say "yes" both build and release definitions can use the same agent. As long as you have permission, you can choose the same queue either a build definition or a release definition.

[2017-09-06 08:43] zlogo opened #1195 "config. sh results in "Value cannot be null. Parameter name: identifier" on MAC"
## Agent version and platform
2.122.0

OS of the machine running the agent?
OSX

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name?
http://swissre-dwp.visualstudio.com

## What's not working?
When running config.sh on Mac receiving a Value cannot be null.  Parameter name: identifier error from the server.

## Agent and Worker's diag log
...
[2017-09-06 08:35

[2017-09-06 09:28] syedhassanabbas commented on #898
@GarimaSi I have installed 2.120.2 version of agents and it looks like the workspace error is not coming anymore but we still have issues with publish artefacts task. Error below. Not sure If this is the right thread to discuss this new issue though.

System.IO.DirectoryNotFoundException:   Could not find a part of the path 'G:\agent3\_work\20\a\_PublishedWebsites'.
--
System.Management.Automation

[2017-09-06 09:36] ericsciple commented on #898
@syedhassanabbas please open a separate issue

[2017-09-06 09:48] russelldyas commented on #1172
Apologies thought I had..  I must of had a senior moment

[2017-09-06 10:21] ericsciple commented on #898
2.120.2 fixes a couple of the code paths that can cause the race condition. One more code path was identified today and the version control team is aware and will provide a fix.

[2017-09-06 10:35] syedhassanabbas commented on #898
Thanks Eric, I will keep an eye on this thread.

[2017-09-06 13:12] stephenmichaelf commented on #1194
@karpis Yes you are right, this shouldn't throw. I am working on the fix now. Thanks for letting us know!

[2017-09-06 14:18] truongnht commented on #927
hi @craigjar, @ericsciple, I am also using vsts-agent-docker. Do you know if the fix has been in the latest image, since I still have this issue with ubuntu-16.04-tfs-2017-standard and ubuntu-16.04-docker-17.06.0-ce-standard.

[2017-09-06 14:22] #1122 closed

[2017-09-06 14:48] stephenmichaelf commented on #1195
@zlogo Could you set the following environment variable on the Agent server(stop the agent, set, then start the agent):

set VSTS_AGENT_HTTPTRACE=true

Then run the build again and send the logs to:

stfrance at microsoft.com
tihuang at microsoft.com

NOTE: Please do NOT post these logs publicly as they may have sensitive information.

[2017-09-06 14:58] zlogo commented on #1195
@stephenmichaelf I have sent the logs, thanks.

[2017-09-06 15:10] stephenmichaelf commented on #1195
@zlogo Thanks we are looking into this now.

[2017-09-06 15:51] chrisrpatterson commented on #1159
@Cristie  they will not be in 2017

[2017-09-06 15:53] chrisrpatterson commented on #1159
@mmathias01 a build agent can be used by many team projects as pools are shared across them and that same agent can be used to execute remote deployments.  The deployment group feature is about using an agent based deployment model to machines.  I don't think you would want to run a build on a machine that is serving your website to your customers.

[2017-09-06 15:54] chrisrpatterson commented on #1159
@NickMRamirez sharing deployment groups across team projects is coming in a future update.

[2017-09-06 16:00] TingluoHuang commented on #1101
@Alluca82 this should be fixed with latest agent release, please give a try.

[2017-09-06 16:01] TingluoHuang commented on #1050
@Scudroe this should be fixed with latest agent release 2.122.0, please give a try.

[2017-09-06 16:03] TingluoHuang commented on #1043
@gdavocap @sisterray @bartdkmediahuis please give a try to 2.122.0 agent which contains the fix.

[2017-09-06 17:35] StingyJack commented on #1186
Wasn't  that also true for the other checkbox column that _is_ checked?

No idea what that is. but I'll go look now. I just wanted basic ability to compile a solution with c#6 and 7 features that had started to be used by the team but the build agents were rejecting checkins.

[2017-09-06 19:19] stephenmichaelf commented on #1194
@karpis A fix has been merged to master and will be in the next release of the Agent. Please reopen this issue if you run into errors again.

[2017-09-06 23:38] peakyy commented on #1195
Hi @zlogo,

I'm sorry about the issue you are facing. Recently, you migrated your account from being MSA backed to AAD backed. In this process unfortunately Personal Access Tokens (PATs) become invalidated. The 500 "internal service error" you saw should have been a 403 "unauthorized", and we are working to fix that now.
**Workaround:** Login to your account and create a new PAT via the UI. Using

[2017-09-07 03:29] lorenz31 commented on #1193
@ericsciple Thanks for the response. I've already got it working :)

[2017-09-07 04:05] #1193 closed

[2017-09-07 08:35] Alluca82 commented on #1101
@TingluoHuang Thanks version v2.120.2 worked ;)

[2017-09-07 08:35] #1101 closed

[2017-09-07 09:01] zlogo commented on #1195
Hi @peakyy,

Thanks for the swift response. I followed the steps and now everything works just fine.

[2017-09-07 10:13] IvanAlekseev commented on #1190
This one might be related https://github.com/Microsoft/vsts-tasks/issues/5065

[2017-09-07 12:02] StingyJack commented on #1186
Also stuff like this gets silently broken. Tests pass that are found, but more than half of the tests we had have disappeared from the results. I can open a "problem" through visual studio, but it will either get perma-triaged or closed-without-reading by FN, or someone else will reply back later and either assert its not a bug or i must major version upgrade (sometimes 2)... for a programs < 3 ye

[2017-09-07 12:22] bryanmacfarlane commented on #1186
Log an issue in the vsts-tasks repo for your test task issue.

[2017-09-07 12:24] bryanmacfarlane commented on #1186
No.  VSTS, TFS2017 shipped along with or after VS2017 versions.  Linux/OSX not relevant.

[2017-09-07 14:17] TingluoHuang commented on #1195
@peakyy thanks for your input.
@zlogo i will close issue as now.

[2017-09-07 14:17] #1195 closed

[2017-09-07 14:49] #1194 closed

[2017-09-07 14:52] TingluoHuang commented on #1099
#1143
#1192

[2017-09-07 20:39] mmathias01 commented on #1159
@chrisrpatterson No I would not. However production machines are not the only thing I use deployment groups for. I also use deployment groups on my dev / stage servers. I also use these servers for performing builds. For these machines being able to use them as a build machine, as well as assign them to a deployment group would be idea.

The way I would see it working in a perfect world (for me) i

[2017-09-07 22:37] j0tt opened #1201 "Linux agent depends on libicu52 but isn't listed as a prerequisite"
## Agent version and platform
Ubuntu 16 LTS / 2.100.2

## OS of the machine running the agent?
Ubuntu 16 LTS (But running in Linux Subsystem for Windows)

## VSTS type and version
VisualStudio.com

## What's not working?
After installing prerequisites and downloading/extracting the agent, running `./config.sh` fails with
`Failed to initialize CoreCLR, HRESULT: 0x80131500`

## Workaround
`wget http

[2017-09-08 01:30] bryanmacfarlane commented on #1201
We build the agent for ubuntu 14 and ubuntu 16.  The 16 build does not need libicu52.  But we had a bug where we were only offering the ubuntu 14 agent in the download (should be fixed now).  If you try and run an agent built for 14 on a 16 box, you will see this.  Please confirm.

https://github.com/Microsoft/vsts-agent/blob/master/docs/start/envubuntu.md

[2017-09-11 12:23] syedhassanabbas commented on #898
Hi Eric,

Any idea when can we expect this fix?

[2017-09-11 12:45] NenoLoje opened #1203 "InternalServerError when trying to configure new build agent for TFS 2017.2"
## What's not working?
When running `config.cmd`, it fails with:

On the Agent Pools page in TFS, the new build agent does get created, but the configuration fails before offering to create the windows service entry.

## From the agent logs:

[code]

## Agent versions tried:
I tried the following versions:
- v2.122.1 (Latest Prerelease)
- v2.120.2 (Latest release)
- v2.117.2 (TFS2017 QU2)

## OS o

[2017-09-11 12:50] HerrHoller commented on #1163
I´ve reduced my dockerfile to a minimum. Running tf.exe itself doesn´t throw an error

`PS C:\agent\externals\vstsom> .\TF.exe
Microsoft (R) TF - Team Foundation Version Control Tool, Version 15.121.26803.0
Copyright (c) Microsoft Corporation.  All rights reserved.

Type tf vc help for a list of supported Version Control commands.
Type tf git help for a list of supported Git commands.
Type tf sett

[2017-09-11 13:08] stephenmichaelf commented on #1203
@NenoLoje Could you email the diag logs to:

stfrance at microsoft.com
tihuang at microsoft.com

Diag logs can contain sensitive information so we recommend not posting them publicly.

Thanks! Then we can check into this issue.

[2017-09-11 15:51] mwijnands opened #1204 "Agent uses very old version of NuGet"
https://github.com/Microsoft/vsts-agent/blob/b8f6864f8faad7f56dbca38c2bb84cba4ffa93c8/src/Misc/externals.sh#L147

Why is the build agent using v3.3 of NuGet.exe? When using the NuGet Packager step with TFS 2017 it uses the NuGet.exe from the externals folder. (it used 3.5 before, but after agent 2.117.2 it uses 3.3 again..)

[2017-09-11 15:54] manisko commented on #956
I am stuck with this, we are migrating from BizTalk 2013 to 2016 I need to set up build & releases. Help how to fix this!

[2017-09-11 15:56] TingluoHuang commented on #1204
@mwijnands which agent version you are using has nuget 3.5? the 2.x agent package nuget 3.3 since version 2.104.

[2017-09-11 16:01] TingluoHuang commented on #956
@manisko what version of biztalk you installed, have you try 2016 CU3? have you check your GAC on that box as the issue mentioned above?

[2017-09-11 16:38] bryanmacfarlane commented on #1204
in later versions of the task, the agent (and what it carries) is irrelevant.  vsts and tfs 2018 comes with a tool installer task for nuget where you specify what version you want.

[2017-09-11 17:19] manisko commented on #956
I have in my build server BizTalk 2016 FP1, haven't tried CU3 - can I install CU3 with FP1 ?

[2017-09-11 17:38] TingluoHuang commented on #956
@manisko i got confirmed from BizTalk team, the following release should contains the fix.
https://www.microsoft.com/en-us/download/details.aspx?id=55100

[2017-09-11 17:39] TingluoHuang commented on #956
@manisko i think you can. :)

[2017-09-11 17:47] manisko commented on #956
Juest sec ago installed CU1/CU2 (BTS2016-KB4014788-ENU.exe) and it works for me!

[2017-09-11 18:21] TingluoHuang commented on #956
@manisko cool, glad you unblocked.

[2017-09-11 19:16] ericsciple commented on #898
I'm hoping to have a build ready tomorrow available for download. I'm planning to start rolling the agent out through the rings tomorrow will continue to roll over the next week or so.

[2017-09-11 21:03] mwijnands commented on #1204
@TingluoHuang it's possible that we replaced it with nuget 3.5 ourselfs now that I think of it... After updating to TFS 2017 Update 2 we ended up with the following folders, where 2.117.2 contains nuget 3.3 and 2.112.2 contains nuget 3.5.

![image](https://user-images.githubusercontent.com/1771830/30296485-a81f993e-9744-11e7-864d-2f050c650693.png)

It would help if you can choose which NuGet versi

[2017-09-12 03:26] InteXX commented on #871
@nigurr — I've installed the 2017.2 update, but I'm still not getting a `VSTest` System Capability with a newly created agent.

I also still don't have a file `vstest.console.exe` on my server. I don't know whether this is relevant.

[2017-09-12 04:28] nigurr commented on #871
@InteXX you need to install VS IDE. VS build tools doesn't contain the "test platform". In order to run the tests, you require to install full IDE.

[2017-09-12 04:28] #871 closed

[2017-09-12 17:26] InteXX commented on #871
@nigurr — I'd rather not if I don't have to. In fact, I've been under the impression that removing the IDE requirement was a high priority for TFS2017. Would you comment on @ericsciple's earlier advice, that I should be able to run a Test step with a Custom Capability?

[2017-09-12 17:41] InteXX commented on #871
@nigurr — If I add a Custom Capability `VSTest` and copy this from my dev machine:

`C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\CommonExtensions\Microsoft\TestWindow\*.*`

...to this on my server:

`C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\Common7\IDE\CommonExtensions\Microsoft\TestWindow`

Will it work? Will I be able to run a Test Step with

[2017-09-12 17:42] InteXX commented on #871
@nigurr — Would you consider reopening the ticket...  there's still relevant discussion to be made on the issue.

[2017-09-12 17:44] InteXX commented on #871
@PBoraMSFT — _"...being able to run tests when Test platform is obtained through the Test Agent is on the backlog."_ Is there any status update on this? Will be able to know when it's released?

[2017-09-12 21:14] NenoLoje commented on #1203
Here's a solution/workaround to fix the issue:

- We discovered that on the TFS Application Tier (**not** the build machine!) the windows service `CNG isolation service` was not running.
- Starting it (manually) fixed the issue and we could configure new build agents successfully.
- To make sure the issue does not accor again, we changed the **startup type** of the `CNG isolation service` to **Aut

[2017-09-12 21:14] #1203 closed

[2017-09-13 04:30] nigurr commented on #871
@InteXX we understand your concern and will be addressing it soon **(it's on our backlog)**. Currently to run the VsTest task, the task has dependency on Visual Studio IDE.
We recommend to install VS IDE to run the tests.

[2017-09-13 04:33] InteXX commented on #871
@nigurr — That's that then :-) Thanks, Nitin.

[2017-09-13 08:47] PBoraMSFT commented on #871
@Intexx - we are picking up this work now. It is expected to be available on VSTS in a few sprints. We have decided to go with a 'tools installer' which can be used to get the test platform instead of needing the IDE. If you have the IDE, great. If you don't, the tools installer will get the test platform on the agent for you.

[2017-09-13 16:01] StingyJack commented on #1186
So should I generally use the relevant github project (if present) for reporting issues, or continue to use the VS in-app feedback. I'd prefer the former.

That other column is `OSX/Unix`, which got an updated build agent to work for TFS 2015 but windows did not. If that column isnt correct, thats fine, but that is specifically the gap I'm talking about.

[2017-09-13 17:05] bryanmacfarlane commented on #1186
It's not a gap because that slot is filled by the 1.x agent that shipped with TFS2015.    The reason it's supported for nix is we deprecated the node agent.  Also there's no issue in the agent that prevents it with working with 2015 - it's all the 2015 tasks that shipped with tfs 2015 which have the issues (some of peaked into internals of the 1.x agent and broke coupling).  So, there's nothing to

[2017-09-13 17:05] #1186 closed

[2017-09-13 22:35] InteXX commented on #871
@PBoraMSFT — Thanks for the update. It'll be a bit longer for those of us on TFS. So... IDE installation it is. Appreciate all that you do.

[2017-09-14 02:17] heavenwing opened #1206 "After upgrade to 2.120.2, get OutOfMemoryError as compiling Xamarin Android project"
## Have you try trouble shooting doc?
YES

## Agent version and platform
2.120.2 on Windows
Agent.OS	Windows_NT
Agent.OSVersion	6.3.9600
VS 15.3.4

## VSTS type and version
VisualStudio.com
baicyx.visualstudio.com

## What's not working?
Get a error below as compiled Xamarin Android:
`
2017-09-14T01:31:34.8764472Z ##[error]COMPILETODALVIK(0,0): Error :
2017-09-14T01:31:34.8764472Z COMPILETODALVIK

[2017-09-14 02:25] ericsciple commented on #1206
Is the agent memory consumption different? Each task is run in a separate process and the agent reads the output streams and exit code.

[2017-09-14 05:59] GitHubSriramB opened #1207 "Endpoint auth. parameter that is not confidential getting masked in agent logs"
2.122.0

Windows

VSTS

Attaching details about the custom endpoint type & logs that has this issue.

![endpoint](https://user-images.githubusercontent.com/13654692/30414135-b674ae00-993f-11e7-9b36-7a82b92b336e.png)
![agent-logs](https://user-images.githubusercontent.com/13654692/30414137-ba85e52c-993f-11e7-9c44-8ddd66c42d63.png)

Endpoint details logged in agent:

[code]

Endpoint contribution ty

[2017-09-14 09:55] bryanmacfarlane commented on #1207
Are you sure this is an agent issue (and not lib/service)?

[2017-09-14 09:56] bryanmacfarlane commented on #1206
This isn't the agent.  It has no concept of xamarin.  It's just running the process.  Create an issue in the vsts-tasks repo

[2017-09-14 09:56] #1206 closed

[2017-09-14 09:57] bryanmacfarlane commented on #1201
Per comments above, not an issue.  Reactivate if you have more info

[2017-09-14 09:57] #1201 closed

[2017-09-14 11:05] GitHubSriramB commented on #1207
@bryanmacfarlane - I was referring to this piece of code in agent that needs a fix:
https://github.com/Microsoft/vsts-agent/blob/327cde0be616c9809168b160f9431702b7b46e1c/src/Agent.Worker/Worker.cs#L144

[2017-09-14 15:08] TingluoHuang commented on #1163
@HerrHoller i am able to repro this as well, i will fix the product team of tf.exe and see how they can fix this.

[2017-09-14 15:12] TingluoHuang commented on #1204
@mwijnands we need got confirm from Nuget team to see whether we can bump it in the agent. Historically, Nuget is not good at compatibility, so we just use the safest version that we been told by Nuget team.

[2017-09-14 19:18] j0tt commented on #1201
Sorry :( I forgot to try and repro. I need to do it on a clean machine, and when I do I'll let you know.

[2017-09-14 20:24] johncollinson2001 opened #1208 "SSDT 15.3 on hosted VS2017 agent"
Hi,

I have a hosted build on visualstudio.com for a solution that includes SSIS projects (.dtproj).

The build was working fine using the VS2015 hosted agent, but following the latest release of SSDT (and its support for SSIS projects in VS2017) I have migrated my solution to Visual Studio 2017, and modified my build definition to run on the VS2017 hosted agent.

The build is failing with the fol

[2017-09-18 09:11] DalpheSDC opened #1209 "GIT git-shell Security Vulnerability"
## Have you try trouble shooting doc?
Descript ion:
A vulnerability has been reported in GIT, which can be exploited by malicious users to bypass certain security restrictions.
1) An error in the git-shell when handling the "--help" option for certain commands can be exploited to execute an otherwise restricted interactive pager and
subsequently e.g. execute arbitrary commands or disclose arbitrar

[2017-09-18 09:50] cocowalla commented on #147
@simmdan I've got the same issue with the `Could not find domain for` message - did you ever figure out how to get the Agent to start?

[2017-09-18 10:24] bryanmacfarlane commented on #1209
This is already fixed.  Download the latest agent from the release hub here.

[2017-09-18 10:24] #1209 closed

[2017-09-18 12:49] #1173 closed

[2017-09-18 12:49] stephenmichaelf commented on #1173
@rodrigomocca Please reopen if you are still facing this issue.

[2017-09-18 12:51] #1154 closed

[2017-09-18 12:51] stephenmichaelf commented on #1154
@cool-abhi Please reopen the issue if you are still stuck.

[2017-09-18 15:11] jdshkolnik commented on #1204
I'm hitting an issue which might be related. When I use the deprecated NuGet Packager task, it uses externals\nuget.exe which contains 4.3 and works fine. When I use the new NuGet task, it uses an older version that appears under the _tool folder even if I first delete it.

[2017-09-18 15:17] TingluoHuang commented on #1204
@jdshkolnik log an issue at https://github.com/microsoft/vsts-tasks, the new NuGet task should work, if not, it's a bug for that task.

[2017-09-18 17:21] simmdan commented on #147
@cocowalla.  Sorry, honestly I gave up trying to run as a service quite some time ago.  I don't have many mac machines and the ones I do have are used for nothing but build agents, and they are rarely rebooted.  When they do get rebooted I just log into them and manually start the agent under `screen` so that I can detach from the console and leave the agent running.  Someday I'll try to get them

[2017-09-19 09:08] tomkuijsten opened #1213 "Agent can't download new version of a task"
## Agent version and platform
Agent version: 2.117.2
OS: Win 2012 R2 (x64)

## VSTS type and version
TFS 2017 update 2

## What's not working?
When a new version of a task is available, the agent has problems downloading the new task to the `_work\_tasks` folder. This time it was the task 'VSTest' version '2.0.55'. If I copy the task from another agent which already has this version and put it in

[2017-09-19 10:36] DalpheSDC commented on #1209
Hi Bryan
In the release vsts-agent-win7-x64-2.123.0 the git version are still
2.12.2.3
As mention in the about vulnerability letter the Git version 2.12.x and prior to 2.12.3 do still have this vulnerability.

regards

Peter

[2017-09-19 12:43] stephenmichaelf commented on #1213
@tomkuijsten From the stack trace it looks like the job is timing out while trying to upload the web console lines.

The Agent will pull the latest version of the task for you automatically. There is one constraint: this happens within the major version you have selected. So if you select 1.* we will not pull 2.* versions, you have to first update in the UI:

![image](https://user-images.githubuse

[2017-09-19 13:55] tomkuijsten commented on #1213
I followed the official template for an issue which contains the version I'm running ;)

Besides VSTest (I was using the 2.* version) the "Publish Symbols" was having the same problem.

The output you see is already with "system.debug = true".

I was using fiddler to try and track the problem, a couple of answers to my own questions (might help others):
 - The agents will be triggered to start a b

[2017-09-19 15:35] TingluoHuang commented on #1213
@tomkuijsten can you share a full agent diag log and build log with us?
tihuang at microsoft.com

[2017-09-19 22:41] metaphysico commented on #898
On version 123 I am still having the issue, but I can add some details and a workaround that may be helpful to find this problem and get people back up and running again.

So here is the scenario as I have pinned down.
1. Remove all agents
2. Remove all workspaces with tf workspaces /remove:*
3. Run a build, get the error
4. Run Developer command Prompt
5. Navigate to folder inside of workspace
7.

[2017-09-20 06:38] tomkuijsten commented on #1213
@TingluoHuang just send you the full logs

[2017-09-20 07:00] DalpheSDC opened #1216 "Deploy TestAgent on ... issue"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
vsts-agent-win7-x64-2.123.0

OS of the machine running the agent? OSX/Windows/Linux...
Windows server 2012 r2

## VSTS type and version
On-Prem TFS?

If On-Prem TFS, which release, 2017 Update 1
we are facing this issue when trying to depl

[2017-09-20 13:54] TingluoHuang commented on #1213
This is exception that cause the job to failed.
[code]
The task download is failed when download VSTest Task, the only thing i can think of is do you have any firewall/proxy/antivirus  between your build agent and TFS server? the VSTest task contains binary assets which might some firewall/proxy/antivirus to block it.

[2017-09-20 13:57] TingluoHuang commented on #1216
@DalpheSDC I think this an issue about `DeployVisualStudioTestAgent` task, not the agent.
I suggest you report the problem at https://github.com/microsoft/vsts-tasks

[2017-09-20 14:13] tomkuijsten commented on #1213
Good point about the antivirus, will ask our security officer. The weird thing however, when I put fiddler in the middle (using a ,proxy file in the agent root), it downloads the task without any problem.

[2017-09-20 14:30] TingluoHuang commented on #1213
@tomkuijsten before agent version 2.119.x, the agent will follow IE proxy setting if you don't have a `.proxy` file, I guess you have a IE proxy setting on that box.
from agent 2.119.x, we change the agent only follow what you put in the `.proxy` file, if you don't have `.proxy`, no proxy will be used.

[2017-09-21 01:27] GitHubSriramB commented on #1207
Fix for this issue is blocked due to a service-side bug in Build. Waiting for the service-side bug to be fixed before we can take up this fix.

@ericsciple - pl. assign this back to us once the service-side bug is fixed.

[2017-09-21 01:47] ericsciple commented on #1209
@DalpheSDC refer to the release notes for Git for Windows [2.14.1.windows.1](https://github.com/git-for-windows/git/releases/tag/v2.14.1.windows.1) and [2.12.2.windows.3](https://github.com/git-for-windows/git/releases/tag/v2.12.2.windows.3)

[2017-09-22 11:32] kollster opened #1217 "AzurePS capability not supported on Windows Server Core 2016"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
Version of your agent? 2.102.0/2.100.1...

OS of the machine running the agent? OSX/Windows/Linux...

## VSTS type and version
VisualStudio.com or On-Prem TFS?

If On-Prem TFS, which release, 2015 RTM/QU1/QU2?

If VisualStudio.com, what is

[2017-09-22 21:34] j0tt commented on #1201
Okay, new machine (luckily I just got a new work computer):

Installed Ubuntu Subsystem for Windows
`~$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.2 LTS
Release:        16.04
Codename:       xenial`

ran:
`~$ sudo apt-get install -y libunwind8 libcurl3`
`~$ git --version`
`git version 2.14.1`
`~$ mkdir vstsagent && cd vstsagent`
`~/vstsagent$ t

[2017-09-22 21:37] j0tt commented on #1201
Oh boy PEBKAC

The default agent download is 14.04-x64. Clicking the different agent versions on the left side doesn't change the page look at all, maybe the download button should be more specific? "download for Ubunto 14.04-x64"?

Anywayyyyyyy entirely my fault, nothing to see here.

[2017-09-22 21:46] bryanmacfarlane commented on #1201
Good point.  Default should be 16.  Sorted 14 first.

Also note that we had a bug that sprint where 16 didn't show up so it may not have been your fault :)

[2017-09-22 21:47] bryanmacfarlane commented on #1201
Also - very soon, we will just a "linux" agent.

[2017-09-23 16:31] PT2911 opened #1220 "VSTS Agent configuration - Exception after entering PAT token while creating new RSA key"
## Have you try trouble shooting doc?
NA

## Agent version and platform
Version of your agent?
2.122.1

OS of the machine running the agent? OSX/Windows/Linux...
Windows Server 2012 Datacenter

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name?
https://pratiktayde.visualstudio.com

## What's not working?
While trying to configure agent for my VSTS account, g

[2017-09-24 02:28] TingluoHuang commented on #1220
@PT2911 check whether the CNG Key Isolation Windows Service is running on your box.
![image](https://user-images.githubusercontent.com/1750815/30778887-82d43a90-a0ae-11e7-9402-1cfe7a514671.png)

[2017-09-25 04:55] TingluoHuang commented on #1217
@kollster have you install Azure PowerShell on your machine?
https://docs.microsoft.com/en-us/powershell/azure/install-azurerm-ps?view=azurermps-4.3.1

[2017-09-25 11:46] PT2911 commented on #1220
Hi TingluoHuang,
CNG Key Isolation Windows Service was stopped on my box,
After starting the sevice, I was able to Configure the agent.

Thanks & regards,
Pratik

[2017-09-25 11:46] #1220 closed

[2017-09-26 09:36] alexandre-tobia commented on #1007
Thanks, solved my issue ;)

[2017-09-27 11:24] nicolasesprit opened #1222 "config.sh Segmentation fault: 11 ./bin/Agent.Listener configure "$@""
## Agent version and platform
Version of your agent? 2.123 for Mac

OS of the machine running the agent? MacOS HighSierra, v10.13 on MacMini (Late 2014)

## VSTS type and version
https://blu-cloud.visualstudio.com

## What's not working?
Cannot config new agent :

## Agent and Worker's diag log
[2017-09-27 11:05:58Z INFO AgentProcess] Agent is built for OSX - osx.10.11-x64.
[2017-09-27 11:05:58Z I

[2017-09-27 13:31] nicolasesprit commented on #1222
Sorry, this is the same problem for issue [1007](https://github.com/Microsoft/vsts-agent/issues/1007).

[2017-09-27 13:31] #1222 closed

[2017-09-27 13:41] joaomoreno commented on #622
Guys, it seems that you have [removed](https://hub.docker.com/r/microsoft/vsts-agent/) the `ubuntu-14.04-standard` based images. We heavily depend on this for our VSCode build agents. Any chance you can keep publishing them?

[2017-09-27 14:04] joaomoreno commented on #622
Nevermind, I can pull it now, seems to have been an auth problem.

[2017-09-27 15:48] stepro commented on #622
Interesting. I specifically removed those tags so there's no guarantee they will continue to work. Any chance you can upgrade to Ubuntu-16.04? We removed these because there were simply too many combinations of images and it would take an extremely long time to build them all each time any update was made to the repo.

[2017-09-27 15:48] stepro commented on #622
I'm happy to assist in helping you to upgrade if that would be useful.

[2017-09-27 18:53] joaomoreno commented on #622
We still depend on it... last time we tried to move to 16.04, users who had 14.04 installed as their OS couldn't run Code anymore. That might have something to do with the libraries Code is linked against at build time of its native modules, but I'm not an expert...

[2017-09-28 10:04] jmsvl commented on #898
Any idea when will the 123 version be released? Thank you

[2017-09-28 13:11] TingluoHuang commented on #898
@jmsvl it should already shows in your VSTS account's download agent pages.
https://github.com/Microsoft/vsts-agent/releases/tag/v2.123.0

[2017-09-28 14:39] jmsvl commented on #898
Thanks. Already updated and I will be on the lookout for the usual "get sources" error.

[2017-09-28 17:11] cilerler commented on #1159
@chrisrpatterson any info about when it will be deployed?

I need to deploy 2 sites on 1 machine and hit the same wall 😞  If this is something will be there soon I won't try to figure out a workaround.

Thanks in advance...

[2017-09-29 11:57] chrisrpatterson commented on #1007
We are in the process of moving to .NET Core 2.0 which is officially supported on 10.13.  We hope to have a  build out in the next couple of weeks.

[2017-10-02 06:27] HerrHoller commented on #1163
@TingluoHuang any update on this?

[2017-10-02 09:56] cycloguy opened #1223 "The artifact directory does not exist in VSTS releases"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
Version of your agent? 2.102.0

OS of the machine running the agent?Windows 10

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name? http://ezcm.visualstudio.com

## What's not working?
Please include

[2017-10-02 14:14] TingluoHuang commented on #1223
@cycloguy how did you provide download url?
it's an UNC share, the url should looks like `\\build_ezcm_01` instead of `\build_ezcm_01`

[2017-10-02 15:32] TingluoHuang commented on #1163
@HerrHoller I reported the problem with production team, they are looking.
I did some search online and find this issue, which might indicate this problem is a bug in server core container.
https://github.com/Microsoft/dotnet-framework-docker/issues/23
Can you try the workaround mentioned in the issue?

[2017-10-02 21:37] dagrooms52 opened #1225 "Detected Package Downgrade"
## Operating System
OSX

## What's not working?
Nuget Restore on this repo

## Commands
`cd Microsoft.VisualStudio.Services.Agent/`
`dotnet restore`

## Output
[code]

[2017-10-02 21:39] dagrooms52 commented on #1225
Ultimately this is just in the way of my exploration into doing a custom build of the VSTS agent for ARM CPU devices, specifically a Raspberry Pi 3. Is it possible to run the agent on a Raspberry Pi 3?

[2017-10-02 21:58] TingluoHuang commented on #1225
I think you might need netcore 2.0 in order to make ARM works. We are in the process of moving agent from netcore 1.1 to netcore 2.0 right now.
but even we finish the move, you still need some extra work to make it actually working for ARM.

check the following branch for some hint.
https://github.com/Microsoft/vsts-agent/tree/users/edgedevs/v2arm

[2017-10-03 02:21] cycloguy commented on #1223
@TingluoHuang In my log file it shows `\\build_ezcm_01` but in the post `\build_ezcm_01`
This is how I configured:
The task is Copy file.
Source folder is $(Build.ArtifactStagingDirectory)
Content: **
Destination: d:\build\

[2017-10-03 02:27] TingluoHuang commented on #1223
@cycloguy the log you attached is from a Release job, right? what's the relation between that release job and your CopyFile task? Can you share some screenshot of what's your release's artifact setting looks like and the build definition that produce the artifact?

[2017-10-03 02:39] cycloguy commented on #1223
@TingluoHuang right, the log from the Release job. Here are build and release screenshots:
![build1](https://user-images.githubusercontent.com/5820670/31107702-89c3cc72-a81e-11e7-8303-18ff04b8cbc6.PNG)
![release](https://user-images.githubusercontent.com/5820670/31107703-89c9ad7c-a81e-11e7-8d54-e497bd221a24.PNG)

[2017-10-03 03:41] TingluoHuang commented on #1223
@cycloguy can you briefly explains what are you trying to accomplish?

[2017-10-03 04:39] cycloguy commented on #1223
After the build run, I simply want to copy artifacts to other place. I may add some more tasks after copying files.
Does the issue relate to permission of user in VSTS Agent service? I have tried to use a new created user, local system account or Network service but no luck.

[2017-10-03 04:46] TingluoHuang commented on #1223
@cycloguy  the build and release are 2 different system. you need to tell the Release definition which build artifact it needs to consume, you can't just rely on local folder, since the build and release job may route to different agents.
 why don't you add another publish build artifiact task to your build definition and publish the stuff into an UNC share?

[2017-10-03 04:47] TingluoHuang commented on #1223
![image](https://user-images.githubusercontent.com/1750815/31110345-612af5d2-a7d4-11e7-9411-b9e94ba00772.png)

[2017-10-03 23:58] IAMtheIAM commented on #304
I'm still having this same issue when trying to install an npm package from a custom URL

[code]

I think that's breaking the submodule

[2017-10-04 09:17] cycloguy commented on #1223
@TingluoHuang : Thanks for your advise but I'm doing a very simple case by using only one agent and build and release on the same machine. I'll try to work-around. Thanks

[2017-10-04 10:50] HerrHoller commented on #1163
@TingluoHuang using the latest windowsservercore image (10.0.14393.1715) fixed the problem.

[2017-10-04 10:50] #1163 closed

[2017-10-04 15:40] pakdev opened #1227 "YAML roadmap"
Is the motivation behind the "localRun" option to allow dev machines to execute the same tasks as the build machines (in addition to serializing build definitions)? That would be ideal.

If so, when can we expect a public preview? Am I able to test this today if I manually create a YAML config? I assume a build definition to YAML exporter is in the works? Thanks!

[2017-10-04 16:13] IAMtheIAM opened #1228 "'submodule' appears to be a git command, but we were not able to execute it. Maybe git-submodule is broken?"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
Version of your agent? 2.102.0/2.100.1...

2.123.0

OS of the machine running the agent? OSX/Windows/Linux...
Windows 10x64
## VSTS type and version
VisualStudio.com or On-Prem TFS?
visualstudio.com

If VisualStudio.com, what is your accou

[2017-10-04 19:38] ChadEQ commented on #789
We would also like this feature supported.  We have old components we build with that aren't supported on 64 bit.  I haven't thoroughly tested, but have successfully built on a 32 bit box using the agent after adding an x86 target (to all of the projects).  All test pass as well.

[2017-10-04 20:04] TingluoHuang commented on #789
you can always try to compile yourself.

[2017-10-04 20:08] TingluoHuang commented on #1228
@IAMtheIAM can you provide more detail of why the bundled git.exe doesn't work?
what error you get in `get source` step?

[2017-10-04 21:14] IAMtheIAM commented on #1228
The solution was to change URL format from:

"materialize-css": "github:tomscholz/materialize#remove-roboto"

to:
"materialize-css": "git+https://github.com/tomscholz/materialize.git#remove-roboto"

For some reason, the agent couldn't resolve using the `github:` shorthand syntax. Is that a bug with VSTS or someone else?

[2017-10-05 08:15] schwaizi commented on #1208
Hi, i have similar issue with Agent queue Hosted 2017.

Myy script is using Devenev to build .ispac file from SSIS project (.dtproj)

and the result is:

It works fine on my on-premise build agent with SSDT for VS2017 installed.

[2017-10-05 14:37] TingluoHuang commented on #1228
@IAMtheIAM i am still confused, can you help me understand the following question?
1. what error did you get when the agent use the bundled version of `git`? can you share a log for that?
2. after replace the `git`, what error you get when you use `github:tomscholz/materialize#remove-roboto`, can you share a log?
3. the build log you shared has `npm ERR!`, do you have idea of where that coming fro

[2017-10-05 16:51] ppejovic opened #1229 "Errors from invoking TF.exe are only logged as output"
Errors from invoking tf.exe used to be logged at error level in the v1.105.6 agent:

![image](https://user-images.githubusercontent.com/585084/31238897-2d068e14-a9b0-11e7-802e-ce111d585ef9.png)

Using the `tf unshelve` example above, this would lead to the _"No appropriate mapping..."_ errors appearing on in the _Issues_ section of the build summary. It's clear from these issues why the _Get sourc

[2017-10-05 18:16] ChadEQ commented on #789
Yes, but we would prefer it to be supported.

[2017-10-05 19:37] AresDev commented on #1007
Same problem also on MacOS Sierra, replacing System.Net.Http.dll as @TingluoHuang suggested worked! Thanks!

[2017-10-06 17:36] IAMtheIAM commented on #1228
@TingluoHuang Very strange but I just reverted back to using bundled git version and using `github:tomscholz/materialize#remove-roboto` and now it works. So I cannot reproduce. Maybe it was something else. For now I will continue using bundled version of git, and if the error is reproduced I will reopen issue. Thanks for the fast response.

[2017-10-06 17:36] #1228 closed

[2017-10-06 18:44] scottwojan opened #1231 "VSTS Hosted Agent User Account Denied Access to LocalDb"
## Have you try trouble shooting doc?
Yes

## Agent version and platform
2.123.0

Windows Hosted VS2017

## VSTS type and version
VSTS p202.visualstudio.com

## What's not working?
The agent user is not able to login to localdb\ mssqllocaldb or a database explicitly created and lists the owner as the agent's login.

## Agent and Worker's log
### Create the LocalDb Step Results
[code]

### Test Run

[2017-10-07 01:41] TingluoHuang commented on #1229
@ppejovic the 1.x agent is not actually invoke tf.exe, it is using TFS Client OM, so you can get a C# exception UnshelveException. the 2.x agent is directly call into tf.exe and only reply on return code to decide whether the operation is succeed or not.

[2017-10-07 01:47] TingluoHuang commented on #1231
@scottwojan can you use `SqlLocalDB` create a new db and run dotnet test successfully on your local dev box?

[2017-10-07 01:55] scottwojan commented on #1231
Yes, it runs completely fine locally

[2017-10-09 00:53] Jakkob opened #1232 "Agent not properly checking out PR for Bitbucket PR-triggered build"
I'm really enjoying the new native Bitbucket integration in VSTS, except for one issue.

Builds that are triggered by a Bitbucket PR do indeed trigger correctly, they just don't appear to checkout the right commit/branch/ref.

The following appears to be part of the issue:
https://github.com/Microsoft/vsts-agent/blob/4b6dfc4a520b555af88908a7622e3247808fbe5a/src/Agent.Worker/Build/GitSourceProvider

[2017-10-09 22:34] IAMtheIAM opened #1234 "What is the point of the 'externals' folder if we have to install software anyway?"
This may be a noob question but I am new to setting up an on-premise agent. Since we have to install the software using either their native executables or by manually adding to the path, what is the point of having the prebundled software in `externals` like `node` and `node-5.10.0`? Because, the agent won't be able to see that software unless its manually added to the path.

I tried adding new so

[2017-10-09 22:43] ericsciple commented on #1234
The externals folder is an internal implementation detail of the agent. You should not add files there. They will be deleted when the agent updates.

[2017-10-09 23:15] IAMtheIAM commented on #1234
OK, but where is the documentation on that? For example, there is contained `node` and `node-5.10.1`. How and when do I choose to use the correct version of node? Secondly, if I am installed node and setting the path, why does the agent require another copy of `node.exe` within externals? Same with git. What is the reason for having a second copy of git?

[2017-10-10 14:05] jmsvl commented on #898
Now, with all agents updated on our 2 build servers, the number of errors is almost zero. But now and again there is still one error 100 on "'vc workfold /map". Is anyone getting this also?

[2017-10-10 17:25] jeremymeng opened #1235 "VSSDK workload recently removed from the Hosted VS2017 agent?"
## Agent version and platform

Latest Hosted VS2017

Windows

## VSTS type and version
VisualStudio.com

## What's not working?

Starting from Oct. 6 Friday, our Visual Studio extension project stopped producing VSIX.  I tried a sample VSIX project and it failed to build with the following error
[code]

[2017-10-10 21:01] clizzotte opened #1236 ".."
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
Version of your agent? 2.102.0/2.100.1...

OS of the machine running the agent? OSX/Windows/Linux...

## VSTS type and version
VisualStudio.com or On-Prem TFS?

If On-Prem TFS, which release, 2015 RTM/QU1/QU2?

If VisualStudio.com, what is

[2017-10-10 21:44] jeremymeng commented on #1235
@TingluoHuang Where's the issue tracked?

I tried adding Microsoft.VisualStudio.Sdk.BuildTasks.14.0 nupkg to my project but it gave a build error:

[code]

[2017-10-10 21:59] TingluoHuang commented on #1235
@jeremymeng have you try add all 3 packages prefix with `Microsoft.VisualStudio.Sdk`

[2017-10-10 22:09] jeremymeng commented on #1235
@TingluoHuang I didn't think the other two packages matter from their descriptions so I didn't add them.

After I add the other two packages, still getting an error

![image](https://user-images.githubusercontent.com/7583839/31413158-d63ac89a-adcc-11e7-9f50-b1f40e2950c2.png)

[2017-10-10 22:28] jeremymeng commented on #1235
My project is a little customized though, not like the ones created from the extension templates.

[2017-10-10 23:33] kellydoesmath opened #1237 "Agent.ComputerName mismatch causes a new download of source on every build"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

yes

## Agent version and platform
Version of your agent? 2.102.0/2.100.1...

2.123.0

OS of the machine running the agent? OSX/Windows/Linux...

RHEL 7.4

## VSTS type and version
VisualStudio.com or On-Prem TFS?

On-Prem

If On-Prem TFS, which release, 2015 RTM/QU1/Q

[2017-10-11 00:18] Schapp0 commented on #483
Was there any workaround or update installing vstsagent on a Windows Nano Server as I'm having the same issues running config.cmd with '-Sta' is not recognized as the name of a cmdlet error.

[2017-10-11 00:30] jabbera commented on #483
That flag should not even be necessary. Powershell 3.0 starts in a single threaded apartment by default and that is the minimum required for the agent.

https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/_shared/qa-windows-agent-powershell-version

https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/_shared/qa-windows-agent-powershell-version

[2017-10-11 01:22] #1236 closed

[2017-10-11 04:23] gregjhogan opened #1238 "Add support for passing replace parameter"
I need to be able to pass the [replace](https://github.com/Microsoft/vsts-agent/blob/master/src/Microsoft.VisualStudio.Services.Agent/Constants.cs#L126) argument into the [VM extension](https://docs.microsoft.com/en-us/vsts/build-release/concepts/definitions/release/deployment-groups/howto-provision-deployment-group-agents#deploytask)

I have a release that always recreates a VM and adds it to a d

[2017-10-11 06:13] kosmossync commented on #688
@TingluoHuang
Any chances that the new Version will be used in TFS 2018 RTM with change to Schannel as default?

[2017-10-11 06:18] bryanmacfarlane commented on #688
reopening for consideration

[2017-10-11 06:24] bryanmacfarlane commented on #1235
Not an agent (this app) bug.  That's a hosted image update and follow on issue with pulling via nuget.

If you email me at bryanmac and that's at microsoft dot com, I'll put you in contact with VSSSDK folks.

[2017-10-11 06:24] #1235 closed

[2017-10-11 06:28] bryanmacfarlane commented on #1227
Yes to both questions.  It is coming in preview very soon (we're dogfooding internally).

[2017-10-11 06:28] #1227 closed

[2017-10-11 06:30] #1225 closed

[2017-10-11 06:31] #1216 closed

[2017-10-11 06:31] #1204 closed

[2017-10-11 06:31] #1223 closed

[2017-10-11 06:32] #1213 closed

[2017-10-11 12:02] ericsciple commented on #1234
The agent internally uses node and bundles the version it uses.

On Windows the agent carries a copy of git (actually mingit or portable, i forgot). It simply reduces the setup cost. Download the agent and core dependencies are included in the download (accounts for internet disconnected scenarios).

[2017-10-11 12:04] ericsciple commented on #1234
If you need to use a specific version of node in your custom scripts then you will need to download node - note there is a Node Tool build/release task that will download a specific version of Node and add it to your PATH for the duration of the job.

[2017-10-11 12:40] mingalsuo commented on #1201
@bryanmacfarlane, can you give any updates on 'very soon'? I'm part of a project where we utilize vsts-agent and found that vsts-agent does not run on current Debian Stable. Oldstable works still.

I assume that "just a linux agent" is the same as "moving our agent to core clr 2.0 self contained app" as you mentioned in another issue and both will become true very soon.

Thanks,
mingalsuo

[2017-10-11 14:12] Zaniarr opened #1240 "Unable to Auto Update Agent from behind a proxy"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting
**yes**

## Agent version and platform
**- Agent.Version | 2.119.1**

Agent is running on Windows 7

## VSTS type and version
VisualStudio.com (vsts)

## What's not working?
I have an on-premise agent connected to VSTS. However, when I try and update the agent (by click

[2017-10-11 14:23] bryanmacfarlane commented on #1201
It's coded and we're testing.  We're hoping it rolls out in this sprint.  Should be week(s) away.  We can provided a private if you want.

[2017-10-11 14:30] mingalsuo commented on #1201
@bryanmacfarlane, private beta? Sure :)

[2017-10-11 14:40] bryanmacfarlane commented on #1201
send me a mail.  bryanmac and that's at microsoft dot com

[2017-10-11 19:28] TingluoHuang commented on #1240
@Zaniarr the 401 is by designed, we refresh the oauth token that agent used every hour.
Can you paste the rest of the log? that seems to be the key part.

[2017-10-11 19:29] TingluoHuang commented on #1238
@chshrikh for deployment group question.

[2017-10-11 19:31] TingluoHuang commented on #1237
@GarimaSi for TFVC problem

[2017-10-11 19:33] TingluoHuang commented on #1231
@scottwojan i am not familiar with that tool, does it require admin privilege to run?
the build runs on hosted agent is not running as admin.

[2017-10-11 19:53] scottwojan commented on #1231
@TingluoHuang
These lines above show that SqlLocalDB is being run successfully by the agent:
`2017-10-06T01:16:27.2107798Z MSSQLLocalDB
2017-10-06T01:16:36.5965808Z LocalDB instance "TestingLocalDB" created with version 13.1.4001.0.
2017-10-06T01:16:36.5965808Z
2017-10-06T01:16:36.5975820Z LocalDB instance "TestingLocalDB" started.
`
And this shows that the database was created and the owner IS th

[2017-10-12 03:35] kpanwar commented on #1043
@TingluoHuang - This issue is still not resolved and I am using 2.123.0

[2017-10-12 03:57] chshrikh commented on #1238
@sachinma can you check this

[2017-10-12 07:55] tomkuijsten commented on #1213
@TingluoHuang thanks, guess that was the problem after all

[2017-10-12 08:26] Zaniarr commented on #1240
Logs attached.
[Agent_20171011-124540-utc.log](https://github.com/Microsoft/vsts-agent/files/1378613/Agent_20171011-124540-utc.log)

[2017-10-12 13:19] yacaovsnc commented on #1043
@kpanwar Can you please post your agent's capabilities?  What version of Xamarin/Visual Studio do you have installed?

[2017-10-12 14:24] TingluoHuang commented on #1240
@Zaniarr
base on the stack, looks like it hit http timeout during package download.
do you have internet access to the github agent releases page from the build machine?
the agent try to download the package from `https://github.com/Microsoft/vsts-agent/releases/download/v2.123.0/vsts-agent-win7-x64-2.123.0.zip`
[code]

[2017-10-12 15:20] alexrainman opened #1243 "Build Xamarin.Android Project fails, namespaces not found, error CS0246"
## Agent version and platform
Version of your agent? vsts-agent-osx.10.11-x64-2.123.0

OS of the machine running the agent? OSX

## VSTS type and version
VisualStudio.com or On-Prem TFS? VSTS

If VisualStudio.com, what is your account name? https://slbmobsrc.visualstudio.com

## What's not working?

Namespaces cannot be found. Example: The type or namespace name 'HttpClient' could not be found (ar

[2017-10-12 16:07] phatcher opened #1244 "Hosted agent missing Anaconda2"
## Agent version and platform
Working 2.119.1
Failing  2.123.0

## VSTS type and version
VSTS Hosted 2017

## What's not working?
We are compiling a python program into an executable, first step of this is to copy Anaconda2 to a directory without spaces, however it doesn't seem to be installed anymore or has been moved...

Don't know when the change occurred because this repository is not changed

[2017-10-12 16:23] TingluoHuang commented on #1243
@alexrainman has this build definition ever work before? doesn't seems like an agent problem to me.
Do you missing nuget restore step?

[2017-10-12 16:51] stephenmichaelf commented on #1244
@phatcher I see that the last successful run was 6/23. We have had many changes to the image for the hosted 2017 build pool that remove things that are installed. I have reached out to someone to see if Anaconda2 is one of those things. I am guessing it's not due to the difference in agent version (doesn't correlate to what's installed on hosted build agents).

[2017-10-12 17:02] phatcher commented on #1244
@stephenmichaelf Yes it was a little while ago, software was stable but someone found a bug so the CI build triggered.

We had to change to the VS 2017 Host to get the python tools in the first place, so I'd be a bit surprised if you removed them

If it's gone what's the alternatives apart from flipping to a local agent?

[2017-10-12 17:06] kpanwar commented on #1043
@yacaovsnc @TingluoHuang
I have VS 2015 Update 3 and VS2017 (15.4.0)
Xamarin - 4.7.10.22
Xamarin.AndroidSDK - 8.0.0.33

Capability name | Capability value
-- | --
Agent.ComputerName | MSIDBUILD02
Agent.Name | MSIDBUILD02-Agent1
Agent.OS | Windows_NT
Agent.OSVersion | 10.0.14393
Agent.Version | 2.123.0
ALLUSERSPROFILE | C:\ProgramData
APPDATA | C:\Windows\ServiceProfiles\NetworkService\AppData\Roam

[2017-10-12 17:40] stephenmichaelf commented on #1244
@phatcher You can take a look [here](https://github.com/adventworks/hosted-pool-images/blob/2017.10.01/vs2017-on-windows-2016/image.md) to see what's installed on the build machines. We do have Python 2.7.13 and 3.6.2 on the machines but not Anaconda 2.

As of today you can't do anything that needs to run as Admin(this obviously limits what can be installed), we are in progress on adding that feat

[2017-10-12 18:25] phatcher commented on #1244
@stephenmichaelf Thanks for the link to the build machines, I'd missed that looking at the [build agent](https://docs.microsoft.com/en-us/vsts/build-release/concepts/agents/hosted) page.

Basically I need to run pip to install some packages, then pyinstaller to compile the python - are these part of the standard python install or Anaconda?  Sorry for the dumb questions but I'm generally a C# guy a

[2017-10-12 19:29] alexrainman commented on #1243
The build never worked. Nuget restore is there. I think there's a problem with Mono.

Take a look at this:

[code]

[2017-10-12 19:31] alexrainman commented on #1243
Why is looking for NuGet packages assemblies in Mono folder?

[2017-10-12 19:40] stephenmichaelf commented on #1244
@phatcher No problem!

If you use the Task named "Command Line" then you can do what you want. It's hard for me to say if it will fully work but you can try the following:

1. PowerShell Script Task

Add a file to your source code with the following content:

[code]

Then point to it with this PowerShell Script Task.

2. Install pip

[code]

3. Run any pip install commands you need

[code]

4. Use

[2017-10-12 20:04] alexrainman commented on #1243
You were right, I just changed the Path to solution, packages.config, or project.json to the project.sln and it started to work. Thanks.

[2017-10-12 20:04] #1243 closed

[2017-10-12 20:30] TingluoHuang commented on #1043
@kpanwar can you share your agent diag log?

[2017-10-12 21:12] kpanwar commented on #1043
How do I collect that?

Sent from Outlook
________________________________
From: Ting <notifications@github.com>
Sent: Thursday, October 12, 2017 1:30:45 PM
To: Microsoft/vsts-agent
Cc: Kanishk Panwar; Mention
Subject: Re: [Microsoft/vsts-agent] Agent does not detect the Xamarin.Android capability (#1043)

@kpanwar<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fkpanw

[2017-10-12 21:13] TingluoHuang commented on #1043
@kpanwar there is a `_diag` folder under your agent root directory.

[2017-10-12 21:24] kpanwar commented on #1043
@TingluoHuang - file contains a lot of information that should not go out. I will mail it internally

[2017-10-12 21:25] TingluoHuang commented on #1043
@kpanwar sure, tihuang @ microsoft . com

[2017-10-13 18:52] bootrider opened #1245 "Agent does not connect with TFS"
## Agent version and platform
Version of your agent? 2.123.0

OS of the machine running the agent? Windows

## VSTS type and version
On-Prem TFS 2017 Update 2 RTM
Microsoft Visual Studio Team Foundation Server
Version 15.117.26714.0

## What's not working?
Trying to install the agent, when configuration is required, the agent dies testing the agent connection with response that "the audience of th

[2017-10-13 19:31] TingluoHuang commented on #1245
@bootrider can you try https://github.com/Microsoft/vsts-agent/releases/tag/v2.122.1 as well, and send both agent diag log (2.120.2, 2.122.1, 2.123.0) to me? tihuang AT Microsoft.com

[2017-10-15 02:53] aaron-bozit commented on #1007
Performed the same task as @TingluoHuang suggested on MacOS X High Sierra 10.13 with agent "vsts-agent-osx.10.11-x64-2.123.0" and in my case, I was removing a Agent.

Thanks for the help.

[2017-10-16 05:47] RoopeshNair commented on #1238
We will add to our backlog. For now, as a workaround, can you delete the target from the deployment group first as part of your workflow using REST APIs.

[2017-10-16 06:29] Brosten opened #1246 "Satelite assemblies from libraries not copied for build with xbuild"
## Agent version and platform
2.123.0 OSX

## VSTS type and version
On-Prem TFS (2017-QU1)

## What's not working?
Satelite assemblies from libraries not copied for build with xbuild
More described here:
https://bugzilla.xamarin.com/show_bug.cgi?id=44726

But since there are no actions for one year from the xamarin-bug, I thought this might be a better Place to ask about progress around this?

[2017-10-16 12:10] stephenmichaelf commented on #1244
Going to close this, please reopen if you have further questions :)

[2017-10-16 12:10] #1244 closed

[2017-10-16 15:15] hoppyluke opened #1247 "Cannot find Microsoft.VisualStudio.QualityTools.WebTestFramework on Hosted VS2017 agent"
## Agent version and platform

VSTS using Hosted VS2017 Agent (agent version 2.123.0).

## What's not working?

We have a solution that includes web performance and load test projects. This was previously building successfully on the Hosted VS2017 agent, but since 7 October has been failing.

This timing makes me think something has changed as part of the hosted agent software updates in the sprin

[2017-10-16 16:18] saranad commented on #1208
Currently, SSDT version - Version: 14.0.16121.0 is installed on the VS2017 pools. https://github.com/adventworks/hosted-pool-images/blob/master/vs2017-on-windows-2016/image.md

Are you still facing issues?

[2017-10-16 16:20] saranad commented on #1247
We had to remove a VS workload because we were hitting size issues on the image. We are trying to add it back. The new image with that workload will be released by the end of next week. Unfortunately, till that time you may have to use private agent.

[2017-10-16 16:27] TingluoHuang commented on #1245
@bootrider I think I figured out what's going wrong.
here is the assembly with the fix, would you like to try it out?
If you want, you can just unzip the following file and replace the files under `<AgentRoot>/bin` folder.
[Agent.Listener.zip](https://github.com/Microsoft/vsts-agent/files/1388258/Agent.Listener.zip)

[2017-10-16 18:33] TingluoHuang commented on #1245
#1248

[2017-10-17 03:22] TingluoHuang commented on #1245
@bootrider even i can guess where might cause the problem, but i still can't repro the issue. would you might help me capture a Fiddler trace for the agent when you hit the error with 2.123.0 agent?

[2017-10-17 04:24] bryanmacfarlane commented on #1247
Closing since not an issue with the agent application (this repo).

[2017-10-17 04:24] #1247 closed

[2017-10-17 04:26] bryanmacfarlane commented on #1246
This is the CI agent repo which has no concept of xamarin (it's a CI agent app).  Xamarin is the best place to log that bug.

[2017-10-17 04:26] #1246 closed

[2017-10-17 04:28] #1238 closed

[2017-10-17 04:30] #1234 closed

[2017-10-17 04:30] bryanmacfarlane commented on #1208
Not an issue with the agent application (this repo)

[2017-10-17 04:30] #1208 closed

[2017-10-18 07:34] John0King opened #1251 "Find Git throw UnauthorizedAccessException"
## version
v2.123.0 on win 7

## description
I run the agent on another windows user, and certainly the `path` environment variable will contains another user folder path which the agent user do not have a permission to access.
and https://github.com/Microsoft/vsts-agent/blob/99556f7099cfd1e9aa02cb26395f1491fc09f5bc/src/Microsoft.VisualStudio.Services.Agent/Util/WhichUtil.cs#L55

it's not inside a

[2017-10-18 08:54] AndersSahlin commented on #871
@PBoraMSFT any estimate on when the tools installer will be available?

[2017-10-18 14:15] TingluoHuang commented on #1251
@John0King Why you put a location that the current user doesn't have access into `%PATH%`? I can add the `try catch`, but it's just weird that `%PATH%` contains something the user doesn't have access.

[2017-10-18 14:15] ericsciple commented on #1251
Can you help me understand the scenario? Why would multiple user's PATH settings get crossed? Each user has their own PATH configuration. Does the machine-specific PATH setting contain directories that are not accessible to all users?

[2017-10-18 14:38] TingluoHuang commented on #1240
@Zaniarr anyupdates, also has that agent ever self-updated?

[2017-10-18 15:06] Zaniarr commented on #1240
Hey, im waiting on the networking team to respond. I've asked them to set up a trace and to investigate why it's timing out. The main guy is on holiday until next week. Will keep you posted

[2017-10-18 16:50] John0King commented on #1251
@TingluoHuang @ericsciple I'm not very sure, but on my computer ,the `path` variable contains 2 users's home path, I test it with powershell's  `$env:path`

[2017-10-18 19:23] bootrider commented on #1245
@TingluoHuang  after unzip the agent listener an place the files in the bin folder of the Agent 2.123, it works without problem

[2017-10-18 19:56] TingluoHuang commented on #1245
@bootrider thanks for your log. The fix will be included in next version agent release.

[2017-10-18 19:59] TingluoHuang commented on #1251
@John0King what's the variable's name for both user's home path?
you should only have one `HOMEPATH=\Users\xxxx`.

[2017-10-18 20:09] #1245 closed

[2017-10-19 01:41] John0King commented on #1251
@TingluoHuang

it's the `path`  environment variable contains  their  home path.

I use `Environment.GetEnvironmentVariable("path", EnvironmentVariableTarget.Machine)` in  VS's C# interactive  , and I found  those two path :

- `C:\Users\<AdminUser>\.dnx\bin`
- `C:\Users\<AdminUser>`

--------------------------
this probably my fault, I  manipulated the path variable a few month ago, and may cause

[2017-10-23 10:39] Stefan75 opened #1259 "Powershell error during determine capabilities with activated Device-Guard"
Hello,

I try to use the windows version of the agent on our test-machines.
These test-machines are installed with an active Device-Guard (e.g. Application White-Listing AWL, App-Blocker).
I have signed the agent and also the included powershell scripts with our corporate key so that execution is allowed.
(e.g. bin\powershell\Add-PowerShellCapabilities.ps1)
But there is an error during evaluation

[2017-10-23 16:13] vszakats opened #1260 "https://java.visualstudio.com/ certificate had expired"
This may not be the best place to report this — though maybe someone reading this can relay the issue to the responsible internal team:

<https://java.visualstudio.com/> site's TLS certificate expired a few days ago:
![screen shot 2017-10-23](https://user-images.githubusercontent.com/1446897/31900127-c73d8c00-b81d-11e7-9c4d-473f8af84200.png)

[2017-10-23 16:14] TingluoHuang commented on #1260
@madhurig FYI,

[2017-10-23 16:58] madhurig commented on #1260
@vszakats: Thanks for reporting it, we had some outage in our system causing the renewal to not go through. It has been fixed now.

Thanks,
Madhuri

[2017-10-23 20:34] vszakats commented on #1260
@madhurig: I can see it now fixed on the live page — Thanks a lot for your quick response and fix.

[2017-10-23 20:34] #1260 closed

[2017-10-24 03:57] John0King commented on #1251
@TingluoHuang  should I close this issure or you are going to fix the potential `UnauthorizedAccessException` ?

[2017-10-24 10:37] moorichardmoo opened #1261 "Agent not talking to proxy server despite proxy being configured"
Agent version: 2.123.0
Server: Windows Server 2016
Connecting to VSTS
Account: https://bjss-goalgroup.visualstudio.com

Hello

I have a server behind a proxy which is able to talk to permitted sites on the internet with no problem, using internet explorer, powershell etc. However, when I try to register the VSTS build agent, it doesn't even seem to route the request to the proxy. I have been monit

[2017-10-24 10:50] patnolan opened #1262 "Info results returned from git showing as error in build step"
Hi,

My build definition has a step which executes a powershell script (snippet below). The script pushes the code into GitHub. It's all working perfectly, however the output produced by calls to git are being displayed in the log as errors (see attached screenshot). This also means the build failed even though everything worked as expected.

I found the same questions being asked [here](https://s

[2017-10-24 11:04] PBoraMSFT commented on #871
@AndersSahlin - we are working on it this sprint (126) and the first preview of the tools installer task should be available when Sprint 126 deployment on VSTS rolls out.
Will be announced in the release notes at https://docs.microsoft.com/en-us/vsts/release-notes/

[2017-10-24 11:34] bryanmacfarlane commented on #1262
You need to redirect stderr to stdout for calls that you know result in non error case stderr output (git writes progress, status to stderr).

Does this help?

https://stackoverflow.com/questions/8925323/redirection-of-standard-and-error-output-appending-to-the-same-log-file

[2017-10-24 14:21] TingluoHuang commented on #1261
@moorichardmoo `[Environment]::SetEnvironmentVariable("VSTS_HTTP_PROXY", 'internal-sec-elb-937750220.us-east-1.elb.amazonaws.com:3128', 'Machine')` should be `http://internal-sec-elb-937750220.us-east-1.elb.amazonaws.com:3128`

[2017-10-24 15:54] moorichardmoo commented on #1261
Thanks for your reply @TingluoHuang, well spotted.

I changed the variable as you said:
[code]
but unfortunately I get the same problem:
`C:\agent>config.cmd --url "https://bjss-goalgroup.visualstudio.com" --auth pat --token [REDACTED] --unattended  --pool Default --agent Octopus --replace --runAsService
`
gives me:
[2017-10-24 15:33:10Z INFO AgentProcess] Agent is built for Windows - win7-x64.
[2

[2017-10-24 16:17] TingluoHuang commented on #1261
@moorichardmoo you don't needs to do:
[code]
Change the .proxy file, make sure the url there is right.
the agent will prefer .proxy file over VSTS_Http_PROXY env variable.

[2017-10-24 16:25] moorichardmoo commented on #1261
That was it. Thanks so much for your help, @TingluoHuang

[2017-10-24 16:31] TingluoHuang commented on #1261
@moorichardmoo cool, glad you unblock.

[2017-10-24 16:31] #1261 closed

[2017-10-25 01:33] jamesmbristow commented on #759
Thank you slautebach and jaredfholgate! I had just updated from TFS2010 to TFS2017, and was experiencing this problem. I ran the stored proc, then tfsservicecontrol quiesce/unquiesce  to restart the application tier. Now my agents are talking to the system. I did not need to reinstall the agents.

[2017-10-25 20:17] bergmeister commented on #1043
Still not fixed. We do not even have the ability to remove the demand.

[2017-10-25 20:19] TingluoHuang commented on #1043
#1254
the fix has been merged. please try the latest release agent https://github.com/Microsoft/vsts-agent/releases/tag/v2.124.0

[2017-10-25 20:22] bergmeister commented on #1043
Thanks for the quick response. Just to let you know: The download link in VSTS (in the 'Agent Pools' menu) still points to 2.123 (this is what I had downloaded before my  previous comment).

[2017-10-25 20:25] TingluoHuang commented on #1043
@bergmeister we are in the process of releasing the newer version to VSTS. It normally takes about a week for safe deployment reason. you can pick it from the github release if it's really urgent to you.

[2017-10-25 20:36] bergmeister commented on #1043
@TingluoHuang : I just installed the 2.124 agent and it is the same problem that I cannot queue it because it has not got the `AndroidSDK` capability.

[2017-10-25 20:40] TingluoHuang commented on #1043
@bergmeister i think you are hitting a different issue.
`Xamarin.Android` and `AndroidSDK` are 2 different capabilities.

@madhurig @yacaovsnc
please check this issue.

[2017-10-25 20:41] TingluoHuang commented on #1043
@bergmeister you can also check the code see what might goes wrong. :)
https://github.com/Microsoft/vsts-agent/blob/master/src/Misc/layoutbin/powershell/Add-AndroidSdkCapabilities.ps1

[2017-10-25 20:57] bergmeister commented on #1043
@TingluoHuang Yes, you are right. The new agent version fixed the Xamarin.Android capability but the fact that I do not have the `AndroidSDK` capability is a different issue. I noticed that the SDK got installed at `C:\Program Files (x86)\Android\android-sdk` (using the Android SDK manager in VS 15.4.1). It used to be in `C:\Users\**username**\AppData\Local\Android\android-sdk` usually. I suspect

[2017-10-25 21:03] yacaovsnc commented on #1043
@bergmeister Do you see this reg value? Computer\HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Android SDK Tools

The script @TingluoHuang referenced says:
1. Look for the environment variable first, if it exists, use it;
2. If it doesn't, look under registry hives, and it looks at three places
3. Then it lists all the sub versions of SDK under the path.

I don't have ANDROID_HOME set, and I see the cap

[2017-10-25 21:10] yacaovsnc commented on #1043
@bergmeister

You have the ability to declare[ user capabilities](https://docs.microsoft.com/en-us/vsts/build-release/concepts/agents/agents#capabilities) on the agent.  You may unblock yourself by adding this AndroidSDK as a user capability.

[2017-10-25 21:11] bergmeister commented on #1043
@yacaovsnc No, the registry entry `Computer\HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Android SDK Tools` does not exist at all. It does not see the user/system variables (I manually executed those powershell lines)

[2017-10-26 07:52] ksolberg commented on #1159
As a workaround for now ... isn't it possible to modify the agent registration script slightly by renaming $env:SystemDrive\'vstsagent' to something unique each time, and give a unique name to the agent when the installer asks for it? Will give you a hit on storage obviously, as externals etc. will reside in each vstsagent folder...

[2017-10-26 11:54] RoopeshNair commented on #1159
@cilerler  - Sharing of deployment group targets is work in progress. Tentatively it will be available early next year (2018).

As a workaround, you can install additional agents on the machine by providing unique agent names in your registration script.

[2017-10-26 18:00] GaTechThomas opened #1266 "PromptManager.ReadValue isn't displaying output in Powershell ISE"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting
Yes.

## Agent version and platform
Version of your agent? 2.102.0/2.100.1...
2.123.0

OS of the machine running the agent? OSX/Windows/Linux...
Windows

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name?
N/A

## What's not workin

[2017-10-27 14:21] sibbl opened #1267 "Azure extension fails to install because zip cannot be deleted"
We're using a RM template to set up a Windows VM including the VSTS agent extension. However, the whole step fails because the zip cannot be deleted after successful setup of the extension. So the agent is starting properly and the VM is showing up in the deployment group.

The error message is as follows:

[code]

Our guess is that the setup is faster than Defender checking the content of the ZIP

[2017-10-27 14:31] TingluoHuang commented on #1267
@chshrikh is this a deployment group extension?
@sibbl the easiest solution would be add a Try-Catch or don't delete the download zip.

[2017-10-27 14:38] sibbl commented on #1267
@TingluoHuang yes, that would be a great idea but nothing a user of the extension can do ;) Here's a link to the description of which extension exactly we're using: https://gallery.azure.com/artifact/20161101/microsoft.vsts-agent-windows-arm.1.0.0/Artifacts/MainTemplate.json

[2017-10-27 15:17] chshrikh commented on #1267
@sachinma to help sibble

[2017-10-27 15:57] marceloavf commented on #858
Basically most of the others CI use `[ci skip]` or `[skip ci]` (e.g. [Travis](https://docs.travis-ci.com/user/customizing-the-build#Skipping-a-build), [CircleCI](https://circleci.com/docs/1.0/skip-a-build/), [Concourse](https://github.com/concourse/git-resource#behavior))

Some dependencies use `[ci skip]` as a pattern to skip automatically versioning from their CI, why not make VSTS also accept i

[2017-10-27 23:31] dansiegel commented on #1007
@chrisrpatterson any update on getting an update out?

[2017-10-30 05:54] bishal-pdMSFT commented on #1267
The VM extension does not delete agent zip package after configuration. It only deletes the package when new package is downloaded next time.

@sibbl can you please provide full logs from 'C:\\WindowsAzure\\Logs\\Plugins\\Microsoft.VisualStudio.Services.TeamServicesAgent\\1.12.0.0'. on the VM. You will need to get the logs for correct timestamp when this error happened. Or repro the issue again an

[2017-10-30 07:18] mohjache opened #1269 "Mac OSX Build Agent Configuration Issue with Certificates."
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
Version of your agent? 1.105.6
OS of the machine running the agent? OSX 10.13 (High Sierra).

## VSTS type and version
On-Prem TFS 2017

## What's not working?
Currently trying to setup a build agent on this box. Running into an issue arou

[2017-10-30 10:39] marceloavf opened #1270 "Use [ci skip] rather than ***NO_CI***"
Most of the others CI use `[ci skip]` or `[skip ci]` (e.g. [Travis](https://docs.travis-ci.com/user/customizing-the-build#Skipping-a-build), [CircleCI](https://circleci.com/docs/1.0/skip-a-build/), [Concourse](https://github.com/concourse/git-resource#behavior), [Codeship](https://documentation.codeship.com/general/projects/skipping-builds/), [Bitrise](http://devcenter.bitrise.io/tips-and-tricks/s

[2017-10-30 11:38] stephenmichaelf commented on #1269
@mohjache Could you first try updating to the newest version of the agent? What steps did you follow to setup the certs?

[2017-10-30 11:50] mohjache commented on #1269
I'll definitely give that a try.  I exported the .cer file from chrome on my windows machine and then put it in my keychain. I believe for the mac at least, curl looks into the user and system level keychains for the necessary certificates. Apologies i won't be able to follow up till tomorrow when I get back to work. Thank you for the reply.

[2017-10-30 13:10] stephenmichaelf commented on #1259
@Stefan75 could you try replacing Add-Capabilities.ps1 with the attached file and let me know if it works? (Unzip and write over Add-Capabilities.ps1 in the powershell folder.

[Add-Capabilities.zip](https://github.com/Microsoft/vsts-agent/files/1427282/Add-Capabilities.zip)

[2017-10-30 13:32] stephenmichaelf commented on #1231
@scottwojan What is the authentication mechanism being used?

[2017-10-30 13:33] stephenmichaelf commented on #1229
Closing this, please reopen if you have issues.

[2017-10-30 13:33] #1229 closed

[2017-10-30 14:17] scottwojan commented on #1231
Integrated Auth

[2017-10-30 14:34] johncollinson2001 commented on #1208
Hi,

Apologies for the delayed response.

Thanks @saranad - I can see from the list of software installed that 14.0.16121.0 is installed, this post is all about when 15.3.0 is likely to be installed.

Thanks @bryanmacfarlane, however where should I raise this issue? SSDT 15.3 provides support for SSIS projects in Visual Studio 2017, however VSTS builds fail due to the outdated version of SSDT in t

[2017-10-30 16:53] balfa666 opened #1273 "Exit code 100 returned from process"
## Agent version and platform
Version of your agent? 2.123.0
OS of the machine running the agent? Windows Server 2012 R2

## VSTS type and version
On-Prem TFS 2017.u2
Multiple agents on same machine, using same acount

[Worker_20171030-163757-utc.log](https://github.com/Microsoft/vsts-agent/files/1428020/Worker_20171030-163757-utc.log)

## What's not working?
Build keep failing with workspace prob

[2017-10-30 18:01] TingluoHuang commented on #1273
@balfa666 what's the build error you get on your build log?

[2017-10-30 18:03] balfa666 commented on #1273
[2017-10-30 16:38:02Z ERR  StepsRunner] Caught exception from step: Microsoft.VisualStudio.Services.Agent.ProcessExitCodeException: Exit code 100 returned from process: file name 'tf', arguments 'vc workspace /new /location:local /permission:Public ws_29_393 /collection:https://alm.investpsp.ca/tfs/IDS/ /loginType:OAuth /login:.,******** /noprompt'.
   at Microsoft.VisualStudio.Services.Agent.Proc

[2017-10-30 18:13] TingluoHuang commented on #1273
@balfa666 that's the worker diag log, what error you see on your build WebUI for that build (http://tfs:8080/tfs)?

[2017-10-30 18:18] balfa666 commented on #1273
Exit code 100 returned from process: file name 'tf', arguments 'vc workspace /new /location:local /permission:Public ws_7_397 /collection:https://alm.investpsp.ca/tfs/IDS/ /loginType:OAuth /login:.,******** /noprompt'.

[2017-10-30 18:34] TingluoHuang commented on #1273
@balfa666 can you share the full build log from UI? there must be some output before that. :)

[2017-10-30 18:39] balfa666 commented on #1273
There isn't much before, as it fails on get source.

2017-10-30T16:37:59.0666925Z ##[section]Starting: Build
2017-10-30T16:37:59.0666925Z Current agent version: '2.123.0'
2017-10-30T16:37:59.4885115Z ##[section]Starting: Initialize Job
2017-10-30T16:37:59.4885115Z Prepare build directory.
2017-10-30T16:37:59.5510331Z Set build variables.
2017-10-30T16:37:59.5667213Z Download all required tasks.
20

[2017-10-30 18:41] TingluoHuang commented on #1273
`2017-10-30T16:38:02.2229034Z The path D:\b\2\29\s\BuildProcessTemplates\nuget.config is already mapped in workspace ws_29_393;Build\0c53621a-540e-4881-8040-62548469c477 [https://alm.investpsp.ca/tfs/ESD].`
that's the error cause TF.exe to failed.

[2017-10-30 18:42] balfa666 commented on #1273
I cannot find the source of the error. It seems to point to variable Build.Clean being present, but i'm not sure about it

[2017-10-30 18:45] TingluoHuang commented on #1273
are you share single working directory for multiple agent on the same box?

[2017-10-30 18:46] TingluoHuang commented on #1273
@scottboehmer for TFVC question

[2017-10-30 18:48] balfa666 commented on #1273
They are all configured to have different working directory on same server, but I do have another server with exactly the same setup.

Server 1
agent 1-8
working directory: D:\b\1-8

Server 2
Agent 1-8
working directory: D:\b\1-8

[2017-10-30 20:38] ravero commented on #1007
Well, we're getting to High Sierra 10.13.1. When this update will arrive? This workaround freaks me out.

[2017-10-30 22:38] aplex commented on #1007
Unfortunately, workaround with replacing `System.Net.Http` didn't help me to set up the new build agent on OS X 10.13 , and the config.sh crashed after authentication:

[code]

Tried the build agent version 2.117.2  and the latest 2.124.0

Any additional workarounds?

[2017-10-31 02:07] TingluoHuang commented on #1269
@mohjache 2.117.0 agent is still using the Openssl cert store. we are in the process of releasing 2.125.0 which is netcore 2.0 and it should use the native OSX cert store.

[2017-10-31 02:17] TingluoHuang commented on #1270
@marceloavf `***NO_CI***` has been there for at least 6+ years from what i can remember.
@chrisrpatterson see how we want to take this feedback.

[2017-10-31 13:30] AresDev commented on #1007
@aplex did you install openssl pre-requisites? 

https://github.com/Microsoft/vsts-agent/blob/master/docs/start/envosx.md

[2017-10-31 15:07] scottboehmer commented on #1273
Is this failing every build or only occasionally? If it is only failing occasionally, is there any pattern to when it fails?

[2017-10-31 15:14] balfa666 commented on #1273
Without any checkin (same Source version), it will execute with success or fail randomly. We have multiple collections and they fail on all of them.

[2017-10-31 15:24] scottboehmer commented on #1273
One thing that you could try as a mitigation is reconfiguring the agents that are failing to use a new working directory.

Another approach would be to log in to the machine hosting the agents and use 'tf workspaces' to try to identify any conflicting workspace names and delete those conflicting workspaces.

[2017-10-31 15:45] balfa666 commented on #1273
2 weeks ago we had to reinstall all of the agents.
We installed the latest version 2.123.0 and used PAT instead of Integrated.

Here is the temporary work around that works for about a day before we have to redo:
- Delete all workspaces related to servers and user with TFS sidekick
- Stop agents
- Delete cache on all servers (TFS and visual studio)
- Delete working directories of all agents
- Star

[2017-10-31 15:55] scottboehmer commented on #1273
Did this problem exist before that reinstall or only after? Which agent version were you using before the reinstall?

[2017-10-31 15:57] balfa666 commented on #1273
It started about a week after the reinstall. We where using the TFS 2015 agents, so version 1.xx

[2017-10-31 23:14] aplex commented on #1007
Ok, the workaround worked after installing openssl

[2017-11-01 10:39] sibbl commented on #1267
@bishal-pdMSFT we can reproduce it during the setup of a new VM.

Please [find the logs in this vsts-agent-logs.zip](https://github.com/Microsoft/vsts-agent/files/1433811/vsts-agent-logs.zip). It seems that the `enable.cmd` does not wait for the `install.cmd` to complete and both run at the same time?

[2017-11-01 11:56] stephenmichaelf commented on #1262
@patnolan Any luck with this?

[2017-11-01 12:01] stephenmichaelf commented on #879
Please reopen if you continue to have this issue.

[2017-11-01 12:01] #879 closed

[2017-11-01 12:05] stephenmichaelf commented on #783
@TingluoHuang Has this been resolved?

[2017-11-01 12:09] stephenmichaelf commented on #683
@ErtugrulKra @D3xt3rSM Please reopen if you are still having this issue.

[2017-11-01 12:09] #683 closed

[2017-11-01 12:09] ElvenSpellmaker commented on #879
As far as I know the issue is still there, but we haven't encountered it in a while as we stripped the double slashes in puppet as a workaround

[2017-11-01 20:06] patnolan commented on #1262
Hi @bryanmacfarlane thanks for checking in.

After a lot of mucking around and trying heaps of different options, the only option that seemed to work was using the following syntax to pipe to file

git commit --message "Build $Env:BUILDVERSION" *>> $Env:BUILD_SOURCESDIRECTORY\CommitToGit_output.txt

[2017-11-01 20:07] #1262 closed

[2017-11-01 23:37] chcosta opened #1275 "Yaml pipeline parser reverses template step order"
The yaml pipeline parser in the preview functionality reverses the order of steps deserialized from a template.

https://github.com/Microsoft/vsts-agent/blob/master/src/Agent.Listener/DistributedTask.Pipelines/Yaml/PipelineParser.cs#L440

[code]

I can't imagine this is intentional.  I'd expect this code is intended to be something more like...

[code]

I haven't done any validation, but at a curs

[2017-11-02 14:11] balfa666 commented on #1273
I actually found the problem. We did a migration from XAML builds to Build 2.0. In the migration, some of the TFS variables where not converted to new format. Some of our builds execute custom scripts and since the variable was empty, it defaulted to root directory.
In the scripts, the "remove-item -recurse" deleted all the files including the SourceRootMapping folder.

[2017-11-02 14:49] #1273 closed

[2017-11-02 20:32] TingluoHuang commented on #1275
@chcosta all yaml code in agent repository is out of date and not been used, we moved the code to our internal repository, the bug has been fixed there. i will close the issue here.

[2017-11-02 20:32] #1275 closed

[2017-11-02 20:56] TingluoHuang commented on #1266
@GaTechThomas looks like a limitation for PowerShell ISE.
https://blogs.msdn.microsoft.com/powershell/2009/02/04/console-application-non-support-in-the-ise/

I will update the DOC to say do not use PowerShell ISE to configure agent. :)

[2017-11-05 12:29] alxdean opened #1279 "Linux ubuntu symlink Loop on Publish Artefact"
Hey folks,
I've been trying to get the agent to run on my Ubuntu 17.10 machine but have had little luck.
I get it installed and configured, even accepting jobs.
getting the repo is fine
But when it comes to publishing the artefact it dies on me.

## Agent version and platform
vsts-agent-ubuntu.16.04-x64-2.123.0

OS of the machine running the agent?
Ubuntu 17.10

## VSTS type and version
https://wh

[2017-11-05 17:31] kwacks commented on #1007
This workaround works for me too

[2017-11-06 07:25] dalle commented on #937
If anyone else stumbles on this, the wildcard in the workspace mapping represent a [non-recursive folder mapping](https://docs.microsoft.com/en-us/vsts/tfvc/optimize-your-workspace).

[2017-11-06 10:23] marceloavf commented on #1270
What I suggest is to give some options to the user:
- Specify what kind of commit should not trigger a build.
- And/Or ignore those `***NO_CI***`, `[ci skip]` in specific branch for an user that want a pull request to trigger a build after merge.

[2017-11-06 12:49] stephenmichaelf commented on #1231
Can you try using a username/pw and see if it works?

[2017-11-06 14:41] tinoji opened #1281 "Unable to get sources from Github Enterprise with proxy"
## Have you try trouble shooting doc?
Yes

## Agent version and platform
2.123.0

OS of the machine running the agent
Windows

## VSTS type and version
VisualStudio.com

## What's not working?
I want to get source from Github Enterprise via an authenticated proxy.
First, I tried to set environment variables `VSTS_HTTP_PROXY`, `VSTS_HTTP_PROXY_USERNAME` and `VSTS_HTTP_PROXY_PASSWORD` in the build d

[2017-11-06 14:58] TingluoHuang commented on #1281
@tinoji i noticed you are using hosted build agent, do you really need a proxy to connect to your Github Enterprise repository? the hosted agent is an Azure VM that already on public internet.
[code]
Can you fetch your git repository from any machine in public network (like: Azure VM)?

[2017-11-06 16:06] TingluoHuang commented on #1279
@alxdean how did you configure the agent service run as normal account instead of root?
the `./svc.sh` should has the check to make sure you run `./svc.sh install` as `sudo`.
what error you get when you try uninstall the service from `Systemd`?

I not sure about what's going on for the symlink loop, might be a bug in NetCore 1.x itself.

We are in the process of releasing a newer version agent tha

[2017-11-06 16:09] TingluoHuang commented on #1279
@alxdean we only support the 2.123.0 agent on Ubuntu 14.04 and Ubuntu 16.04 (officially supported by NetCore 1.x).
the next version we are going to release should works fine on Ubuntu 17.x (officially supported by Netcore 2.x)

[2017-11-06 17:19] TingluoHuang commented on #1266
https://github.com/Microsoft/vsts-agent/blob/master/docs/start/envwin.md

Close the issue after i update the doc.

[2017-11-06 17:19] #1266 closed

[2017-11-06 18:33] TingluoHuang commented on #669
Code completed. #1274
Updating doc

[2017-11-06 18:33] #669 closed

[2017-11-06 19:32] TingluoHuang commented on #1269
@mohjache please try out the latest agent release. https://github.com/Microsoft/vsts-agent/releases/tag/v2.125.0

[2017-11-06 19:33] #1100 closed

[2017-11-06 19:34] TingluoHuang commented on #1007
please try out the latest release which is NetCore 2.0
https://github.com/Microsoft/vsts-agent/releases/tag/v2.125.0

[2017-11-06 19:35] TingluoHuang commented on #969
We released the agent using netcore 2.0, Openssl is no longer required for netcore 2.0.
https://github.com/Microsoft/vsts-agent/releases/tag/v2.125.0

[2017-11-06 19:35] #969 closed

[2017-11-06 19:36] TingluoHuang commented on #1038
@MarkHerhold
Please try out the latest agent release
https://github.com/Microsoft/vsts-agent/releases/tag/v2.125.0

the latest agent contains a script which should install all required dependencies for you.

[2017-11-06 19:39] TingluoHuang commented on #455
Please try out the latest agent release https://github.com/Microsoft/vsts-agent/releases/tag/v2.125.0
The latest version contains a script to help you install all missing dependencies.

[2017-11-06 19:39] #455 closed

[2017-11-06 19:43] TingluoHuang commented on #783
Agent version 2.124.0 will run git-repack on all your local git repositories as part of Agent Pool Maintenance Job.

Make sure to increase your maintenance job timeout in case of you have lots of massive local repositories, since git-repack may take a long time to finish.

[2017-11-06 19:43] #783 closed

[2017-11-06 19:45] TingluoHuang commented on #797
please try out latest agent release https://github.com/Microsoft/vsts-agent/releases/tag/v2.125.0
the latest version will detect any dependencies missing and contains a script that will install all required dependencies for you

[2017-11-06 19:45] #797 closed

[2017-11-06 19:46] #1050 closed

[2017-11-06 19:46] #1099 closed

[2017-11-06 19:47] TingluoHuang commented on #1279
@alxdean latest agent: https://github.com/Microsoft/vsts-agent/releases/tag/v2.125.0

[2017-11-06 22:37] alxdean commented on #1279
Hi,
when I install using sudo, it still runs under the current user. not root.
only when I switch using sudo su does it actually run under root

when i run svc.sh uninstall, all it does it stop the service. never
actually uninstalls anything. no error message. just a friendly message
that the service is stopped. which it was anyway already. so not sure what
it actually does.

Thanks for sending th

[2017-11-07 01:32] tinoji commented on #1281
@TingluoHuang
I did it and noticed that `@` in proxy user name was not escaped! I can fetch the repo by modified git config!! thx:)
But I can't do that with environmental variables of the build definition. Is it the only way to create git-config prejobexecution? It would be not easy for general users...

[2017-11-07 04:34] TingluoHuang commented on #1281
@tinoji for VSTS hosted build, we normally assume any resource you consumed in your build is in public internet.
can you share more detail about your github enterprise configuration? why need to use proxy access it? does the git repo not public accessible from internet?

[2017-11-07 04:36] TingluoHuang commented on #1270
@marceloavf i would suggest submit your feedback at here: https://visualstudio.uservoice.com/forums/330519-team-services
since the feature you request is for server side.

[2017-11-07 05:23] tinoji commented on #1281
Yes. Our on-premises github enterprise is restricted within the company network. We always have to use proxy to access it from the other networks.
In such a case, do you recommend using TFS instead?

[2017-11-07 12:27] keenjus opened #1284 "Can't register deployment group agent with manually created PAT token"
## Agent version and platform
2.124.0 on Windows Server 2016

## VSTS type and version
VisualStudio.com

## What's not working?

[Official docs say](https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/v2-windows)

But the **Deployment group (read, manage)** option does not exist although **Agent Pools (read, manage)** does.

So when I create a PAT token with the scope **Agent Pools

[2017-11-07 14:40] TingluoHuang commented on #1284
@chshrikh

[2017-11-07 16:00] Miles-Davies-HORIBA commented on #688
I have the issue still and am unable to get the suggested solutions working unless sslBackend is set to schannel. I think this then uses the certificate store rather than the certs file.

[2017-11-07 17:34] sharedito commented on #787
What is the command to update libcurl?

[2017-11-07 17:37] sharedito commented on #787
Just updated libcurl using this: http://www.brocade.com/content/html/en/sdn-controller/3.0.0/software-installation/GUID-BF7C280A-A9C6-4C13-A253-7A425FE5CD3F.html

But still, I'm getting the same error

[2017-11-07 18:02] sheldonhull opened #1286 "LegacyVSTSPowerShellHost.exe hanging at end of custom task execution"
## Agent version and platform
Version of your agent? 2.1.24.0, also tried on earlier 2.117.2
OS of the machine running the agent? Windows

## VSTS type and version
On-Prem TFS Update 2

## What's not working?
LegacyVSTSPowerShellHost.exe is hanging at the end of a custom task. I've added explicit commands when the script execution was finished to return, as well as trying exit. Both of the output

[2017-11-07 18:09] sharedito commented on #787
I got it working updating the .Net Core version, using the instructions provided at the .Net Core site: https://www.microsoft.com/net/learn/get-started/linuxubuntu

[2017-11-07 18:19] sheldonhull commented on #1286
I know it's probably not meant to load directly, but I did try executing
`$Executable = "C:\agent_agent\externals\vstshost\LegacyVSTSPowerShellHost.exe" ` and found that it couldn't load `Microsoft.VisualStudio.Services.WebApi.JsonUtility`. I did a search on my system and couldn't find this dll, so not sure if related, but that is one dll I couldn't find. Doing a complete system search as well to

[2017-11-07 21:12] lavahot commented on #147
Anybody find a way to fix the `Could not find domain for` issue? Running as a service is essentially broken on mac.

[2017-11-07 21:52] spongessuck commented on #1284
I just set one up by clicking on the 'Registration Script' link on the right side of the toolbar when you open a deployment group and clicked the 'use PAT in registration script' checkbox and that seemed to work, although the token itself wasn't configured with any permissions when I looked in my security settings.

Docs should be updated if things have changed, though.

[2017-11-07 21:54] keenjus commented on #1284
@spongessuck If you add a random scope or select "All scopes" does it stop working?

[2017-11-08 03:58] chshrikh commented on #1284
This has been fixed and will be available in next deployment ( 2-3 days ). With this fix, you will be able to see the PAT scope option. Deployment group (read, manage) will be available in your security page for generating the PAT. Meanwhile you can get unblocked by using the automatically generated PAT in the configuration script form Deployment Group Page; Select the deployment group -> click on

[2017-11-08 07:10] EdwinVW opened #1287 "AutoLogon mode not working when installed using Azure Extension or DevTestLabs artifact"
## Agent version and platform
2.124.0 (on Windows 10 Pro x64)
VSTS

## What's not working?
I install the agent using an Azure Extension or DevTestLabs Artifact while deploying a VM. But then the AutoLogon mode does not work. This means that when the machine is started, the agent is not automatically started. I use the same user-account to run the agent as to logon to the machine. When I run the sa

[2017-11-08 14:44] TingluoHuang commented on #1281
still depends i think, if most resource you build needs is in your private network then TFS might make more sense, like: your use some UNC share for build drops or like you are using github enterprise behind proxy.

@madhurig for more idea or suggestion.

[2017-11-08 14:46] TingluoHuang commented on #1267
Thanks @chandlerkent

@chshrikh @bishal-pdMSFT
please check the log.

[2017-11-08 14:48] TingluoHuang commented on #787
@sharedito Please try out the latest released agent https://github.com/Microsoft/vsts-agent/releases/tag/v2.125.1
the latest version is netcore 2.0 and made up a script can help customer install dependencies more easily.

[2017-11-08 14:50] TingluoHuang commented on #147
@lavahot can you share a full log of what you are seeing?

[2017-11-08 15:01] TingluoHuang commented on #1287
@dpksinghal @nigurr for auto-logon question.

[2017-11-08 15:18] sharedito commented on #787
Thanks!! It works!!

[2017-11-08 16:25] madhurig commented on #1281
@tinoji: For your case, it makes sense to use an on-premises agent that is behind the firewall and not use "Hosted" agent. The agent can be installed and configured on Windows, Linux or macOS. Please check our documentation on how to configure the on-premises agent with VSTS: https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/v2-windows

Thanks,
Madhuri

[2017-11-08 17:32] lavahot commented on #147
[code]
Running 10.12.5 and connected via SSH. I've done a little bit of research and it seems like there's some sort of permissions issue with running launchctl (which is what svc.sh is doing) over SSH if the plist is owned by a non-root user or something. Not really sure how to solve it. builder owns all of the agent files at `/usr/local/bin/agents` (inclusive) and `~/Library/LaunchAgents/vsts.ag

[2017-11-08 23:30] gravufo opened #1288 "TFS2017.2 Scheduled Maintenance doesn't work on Releases"
## Agent version and platform
2.117.2

OS of the machine running the agent? OSX/Windows/Linux...
Windows

## VSTS type and version
TFS 2017 Update 2

## What's not working?
Scheduled maintenance doesn't work for release folders, only works for build folders. My guess based on the logs is that it's simply not implemented, but I think it's just as important as cleaning the build folders.

## Agent a

[2017-11-09 01:23] tinoji commented on #1281
@TingluoHuang @madhurig
It seems a better way to use the on-premises agent 👍  But the method I described above serves my needs for now. I'll consider it. Thanks a lot! You can close this issue!
Later, I'll leave my custom build task for someone's help.

[2017-11-09 03:23] #1281 closed

[2017-11-09 03:24] TingluoHuang commented on #1288
@GitHubSriramB

[2017-11-09 04:10] tarunaroraonline commented on #1044
When is this likes to be available?

[2017-11-09 04:12] bryanmacfarlane commented on #1044
It's the story after next in our agent backlog.  I would guess early in the new year

[2017-11-09 04:15] bryanmacfarlane commented on #1288
@gravufo - which release resources is causing problems and needing cleanup / maintenance?

GC is about cleaning up orphaned enlistements and pruning enlistments used by build mapping folders (which RM doesn't use).  So I think it's expected.

[2017-11-09 04:19] #1270 closed

[2017-11-09 10:35] sibbl opened #1290 "Custom conditions cannot be edited inside task groups"
We're heavily using custom conditions and task groups. However, the task groups editor does not support editing custom conditions of tasks - seems like it was not part of #711 .

Reproduce steps:
1. Create 2 tasks in a build definition
2. Add "false" as the custom condition to the 2nd task
3. Combine these 2 tasks into a task group
4. Try to change the custom condition of the 2nd "false" to "true"

[2017-11-09 11:03] tiagorosendo opened #1291 "Custom condition reference Agentless Phase"
Which add of #711 we can use custom conditions to run a task, in my scenario i need apply a custom condition based on my previous agentless phase, have any way to make this?

For example: i will deploy my app in K8s cluster, after deploy i have a manual intervention task, if this intervention is reject i need to rollback my deploy, if is resumed i need ignore rollback task and go to next env...

[2017-11-09 12:43] dalemyers commented on #1007
Just tried out 2.125.0 and once it attempts to connect to the server I get:

My version of curl is the system one in High Sierra which is:

[code]

[2017-11-09 14:46] TingluoHuang commented on #1288
since Release doesn't re-use artifact folder, it will leave all downloaded artifacts on disk and never delete them, @GitHubSriramB correct me if i am wrong.
I think we can just delete all of them as part of Release Maintenance Plugin.

[2017-11-09 15:02] TingluoHuang commented on #1007
@dalemyers please try the later patched version. https://github.com/Microsoft/vsts-agent/releases/tag/v2.125.1

[2017-11-09 15:49] gravufo commented on #1288
Just as @TingluoHuang said, releases are just like builds folder-wise. They create folders on the build machine which never get deleted and can become as big as a build folder (depending on the size of the artifacts and so on). It makes no sense to delete one (builds), but not the other (releases).

Also, on a side note, we realized that when the builds get cleaned, it doesn't delete empty folders

[2017-11-09 17:06] bryanmacfarlane commented on #1288
The numbers used aren't per build.  They are stable from build to build unless the url of the repo used by a definition changes.

It's covered here:
https://github.com/Microsoft/vsts-agent/blob/master/docs/jobdirectories.md

There's an int per definition / repo url combo used.  We hash that combo and create a lookup mapping to an int.  To hit int max you would need billions of definition / repo co

[2017-11-09 17:20] gravufo commented on #1288
I'm not sure we are talking about the same thing. The issue with the incrementing number is the _work/<#> folder. It's even said directly in the page you linked:

That in itself is fine, but when builds get cleaned as part of GC, the numbers should be able to be reused instead of continuing to increment forever.

Our highest number right now is not that high (~200), but I'm thinking large scale an

[2017-11-09 17:49] bryanmacfarlane commented on #1288
Yes, we're talking about the same thing.  As I stated above

Which is the same as:

Each repository is an incrementing int in context of a build definition so it's new a build def/repo combo that introduces a new int.  Do multiple builds in a row and keep building that repo, it will keep reusing the int id and not burn it - even if GC kicks in.  It will only become orphaned if the url changes and

[2017-11-09 18:31] gravufo commented on #1288
No problem, I was just suggesting :P It works just fine as it is.

Thanks for considering!

[2017-11-09 19:33] yadirhb commented on #1134
Hi there, I'm experiencing same issues with vsts-agent v2.124.0 on Mac OS Sierra, something with git credentials, supposedly this was fixed in previouos versions:

2017-11-09T17:48:23.6222040Z ##[section]Starting: Get Sources
2017-11-09T17:48:23.7195190Z Syncing repository: SonicAuth-iOS (TfsGit)
2017-11-09T17:48:23.7782090Z ##[command]git version
2017-11-09T17:48:23.8914690Z git version 2.15.0
20

[2017-11-09 19:38] TingluoHuang commented on #1134
@yadirhb what's your TFS version?
make sure the checkbox is checked on your definition editor.
![image](https://user-images.githubusercontent.com/1750815/32625894-9da8bd24-c55b-11e7-8453-9fc3161f1321.png)

[2017-11-09 19:42] yadirhb commented on #1134
That was very simple, I've two days trying, reading, searching...

Thanks a lot!!!

[2017-11-09 19:46] TingluoHuang commented on #1134
@yadirhb did you find this doc during your searching?
https://docs.microsoft.com/en-us/vsts/build-release/concepts/definitions/build/repository

I am wonder whether our doc is not clear enough or it's just hard to be find. :)

[2017-11-09 23:08] sheldonhull commented on #1286
Still running into this after tasks finished. Wondering if there is some conflict with dbatools dlls being loaded that this isn't handling the continue on script completion due to some open reference to the module library.

[2017-11-10 05:58] GitHubSriramB commented on #1288
@gravufo / @TingluoHuang  - RM currently does not cleanup downloaded artifacts as part of the maintenance job. However with every deployment, RM will clear the artifacts folder & download artifacts again (if SkipArtifactsDownload for the deployment is not set).

Given we have at most only artifacts corresponding to one deployment, do you see a need to clean up the downloaded artifacts as part of m

[2017-11-10 19:04] gravufo commented on #1288
Yes. What you're saying is that it cleans **during the next** release. In the meantime, all that space is taken up and is wasted. Especially if another release for that definition is not queued within several days or weeks. When you have lots of different release definitions and when your artifacts are huge, this can be problematic.

I don't see how the build folder differs from the release folder

[2017-11-10 19:55] eakoning commented on #528
If what you're trying to do is re-register the agent with a new visualstudio.com account (because the old one is no longer operational), you can delete the `.agent`, `.credentials` and `.credentials_rsaparams` files in the root of the folder. After that run `./config.cmd` again and reconfigure as if it were a fresh install.

I think the same applies to when the _visualstudio.com_ account has been

[2017-11-10 19:55] bryanmacfarlane commented on #1288
No, builds are not GCed on the next build.  The behavior in build is incremental and it stays around (which is what you want).  Even if you select "clean" on source control options, that only leads to a git clean fdx or tf scorch - the enlistment still stays around.  In order to blow away the enlistment between builds you have to go out of your way and set a special variable.

We implemented GC fo

[2017-11-10 20:07] iamthegD commented on #1288
Hi,

The problem : Artifact stays on the build machine taking valuable disk space (50-100gig). We run release every week or so, so they don't get cleaned.

Solution : Option to clean the root release folder after the release is complete.

Sincerely, a TFS user.

[2017-11-10 20:29] bryanmacfarlane commented on #1288
@iamthegD - create another issue with that suggestion and we can consider.  Thanks

[2017-11-10 20:30] gravufo commented on #1288
**Fact**: Your GC cleans "working" directories which haven't been used in X days. This implies build **and** release directories, but it currently doesn't work for release directories. ![Proof](http://puu.sh/yja0H/b4a78c31a8.png)

**Use case of your maintenance feature**: Our build machines become full after running a ton of different build definitions which end up staying on the build machine and

[2017-11-10 21:02] bryanmacfarlane commented on #1288
Do you want the clean artifacts after release feature or the delete after x days?  The former seems to fit your scenario better.  The latter is less predictable (release can span phases with manual interventions that can span many days).

[2017-11-10 21:05] gravufo commented on #1288
Indeed, I think it is the former we seek and were expecting with the maintenance feature. Basically, if the release is complete/failed/abandoned and hasn't been redeployed for X days, do you need to keep everything on the agent machine?

Let me know if it fits inside the scope of the maintenance.

Thanks again

[2017-11-11 00:04] bryanmacfarlane commented on #1288
Reactivating and letting RM decide.  There's enough info in this thread.  Thanks all.

[2017-11-13 02:12] tinoji commented on #1281
This is a build task to set git proxy :)
https://github.com/tinoji/vsts-task-gitProxy

[2017-11-13 08:24] michael-baker opened #1294 "Agent installer does not support group managed service accounts (gMSA)"
## Agent version and platform
2.117.2 (from https://go.microsoft.com/fwlink/?linkid=851123) on Windows.

## OS of the machine running the agent?
Windows Server 2016

## VSTS type and version
On-Prem TFS - TFS 2017 Update 2

## What's not working?
I am attempting to use a gMSA (group managed service account) for my build agent but the unattended install progress does allow me to install the agent a

[2017-11-13 11:40] bryanmacfarlane commented on #1291
Not an agent issue.  Create an issue here:  https://developercommunity.visualstudio.com

[2017-11-13 11:40] #1291 closed

[2017-11-13 11:45] bryanmacfarlane commented on #1286
Custom tasks should be written using the task lib:  https://github.com/Microsoft/vsts-task-lib

This executable was only left for existing old versions of in the box tasks released with 2015.  Custom tasks should switch to the new task lib which is out of proc and much more robust.