[2020-11-16 21:31] mjroghelia commented on #3159
@pd8 To answer your earlier question, the agent version is available in the Agent.Version variable.

[2020-11-16 21:34] pd8 commented on #3159
Thanks, I couldn't see that variable in the docs here https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#agent-variables-devops-services, so didn't realise it existed!

[2020-11-17 00:49] anatolybolshakov commented on #3093
@michaelschufi it seems that process created in [line](https://github.com/microsoft/azure-pipelines-agent/blob/master/src/Agent.Listener/Configuration/RSAFileKeyManager.cs#L37) is being killed for some reason and it leads to chmod zombie state... Could you please try to run 'dmesg | less' command on your machine right after agent is stuck- to verify that no processes has been killed? (you will see

[2020-11-17 13:11] ChristianStadelmann opened #3168 "Agent runs out of disk space because gc.auto is set to 0"
## Steps to reproduce:
1. have a large git repo
2. have a build definition defined using this large git repo
3. in the build definition ADS frontend under _Get Sources_ have _Clean Options_ set to _Sources and output directory_ but don't have _Shallow fetch_ enabled.

## What happens:
After some time, the repository grows to be quite large. The .git folder contains tens of thousands of files in it

[2020-11-17 13:12] ChristianStadelmann commented on #3158
#3168 may be one reason for the issues you are seeing.

[2020-11-17 13:13] ChristianStadelmann commented on #1506
An example for missing disk cleanup is described in #3168.

[2020-11-17 14:29] mauricio-obenaus commented on #3138
That would be nice... Jenkins does this and is awesome, works flawlessly.

I did that with some level of success with azure, but now really happy with it, I'm using it for test only.

What I did:
- first passing the --once parameter to the agent, so it exits and the Kubernetes scheduler restart it, so, one agent, one job.
- used an Ubuntu docker in docker, works ok, but need checking the MTU param

[2020-11-17 14:57] GurliGebis commented on #3159
I ended up using the AGENT_VERSION environment variable, transform it using powershell, replacing '.' with '-', and then use that as part of the key.
That way, every time a new version of the agent is released, the cache is busted, since pre-release versions are used for hosted agents, I won't be trusting compatibility from version to version.

[2020-11-17 15:06] ppejovic commented on #3168
@ChristianStadelmann Do you have [maintenance jobs](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/pools-queues?view=azure-devops&tabs=yaml%2Cbrowser#what-is-a-maintenance-job) enabled on your agent pool? These perform a `git repack -f` and `prune` on a defined schedule.

[2020-11-17 16:00] PaulVrugt commented on #3158
@ChristianStadelmann well yes that might explain a few things

[2020-11-17 16:07] jeffpatton1971 commented on #2985
I'm seeing this as well with a new repository within our github org. I've gone through the security settings of the repo and they line up with other repos' that work just fine. To be honest it appears to actually checkout the repo, but something crashes at the end, so I'm unclear what the actual issue is.

[code]

[2020-11-17 16:26] mjroghelia commented on #2954
@anatolybolshakov This would be a good one to prioritize. The script needs to work correctly on 20.04, but more generally we need to flesh out our ability to verify changes to it and rethink the general approach of the script.

[2020-11-17 18:47] jeffpatton1971 commented on #2985
As I look at this more I am noticing that it only appears to happen with multiple github repositories. If I just add one github repo to the artifacts it is happy, doesn't matter which one (so no issue with the repo itself or its' configuration) as soon as I add the second is when things go sideways.

[2020-11-17 18:57] jeffpatton1971 commented on #2985
I've created a new release with one github artifact and it worked, then add a second github artifact and it failed, these are on self-hosted pools. Running this against the microsoft hosted pools I don't hit this issue, which makes me wonder what the difference between the self-hosted and the microsoft-hosted pools are. As we need to run our own build servers, i wonder if there is potentially some

[2020-11-17 18:59] jeffpatton1971 commented on #2985
Initially what I thought was that the artifacts were being downloaded but now as I take a closer look at those logs, it appears taht only the first artifact gets downloaded and the second fails with the NotFound message.

[2020-11-17 23:26] asears commented on #3082
Can this auto-uppercasing behavior be toggled off, which would not break backwards compatibility and deal with original issue?
If not, then perhaps library should auto-upper-case too or warn on this issue.

[2020-11-18 06:49] PaulVrugt commented on #3168
@ppejovic maintenance jobs don't help in a virtual machine scale set agent. We configured the scale set to re-provision agents each night, but we're getting disk space errors during the day. Even though we have about 35Gb free disk space on the agent. So a maintenance job would run too late.

[2020-11-18 11:17] michaelschufi commented on #3093
Hi @anatolybolshakov

Unfortunately, I cannot provide you currently with the kernel logs. But `ps -aux` is showing me the following when stuck on the first "Connecting to server".
[code]

[2020-11-18 12:21] ChristianStadelmann commented on #3168
@ppejovic wrote:

This helps quite a lot. Thank you!

The issues linked above and some experience in my organization show that there is an issue if you need cleanup more than once per 24 hours or in other special setups.

[2020-11-18 12:23] ChristianStadelmann commented on #3168
For me, the maintenance jobs serve solve the problems described above. For my use case, this issue can be closed. It may not fit everyone's use case.

[2020-11-18 20:04] Steven-Harris commented on #3157
I would love this as well. The current process is a time sinkhole.

Here is the prior discussion for documentation purposes  #1764

[2020-11-18 23:40] cm5778 opened #3169 "TFS 2015 agent on Mac OSX Catalina 10.15 (.Net 5)"
I am trying to configure agent for TFS 2015 on Mac OSX Catalina 10.15.7
while using latest VSTS agent version 2.177.1 or pre-release I am getting "VS30063 : You are not authorized to access http://tfs:8080"
For older agent version 2.112.0 facing "System.DllNotFoundException": Unable to load DLL 'System.Security.Cryptography.Native': The specified module could not be found.

I have tried different

[2020-11-19 12:27] Vic152 commented on #2441
Is this being fixed?

[2020-11-19 14:25] Stahhl commented on #3167
These are the settings i use when generating the token.

![bild](https://user-images.githubusercontent.com/51987854/99678617-4dd3c400-2a7b-11eb-9b18-e1b3539a8728.png)

[2020-11-19 15:00] mjroghelia commented on #3167
@Stahhl This error is telling you that you cannot use a PAT with http. You must use https.

[2020-11-19 15:00] #3167 closed

[2020-11-19 17:16] sebaminguez commented on #3042
quick workaround
the agent stop working if node 7.x is removed but it can be replaced by node 10.x

My workaround
rm -rf /opt/azureAgent/externals/node
ln -s /opt/azureAgent/externals/node10 /opt/azureAgent/externals/node

still under testing but working so far

[2020-11-20 07:56] Vic152 commented on #858
This does not work.

[2020-11-20 16:14] anatolybolshakov commented on #3093
@michaelschufi it seems that parent process for pid 14725 has been killed for some reason - looks like there are some external factors which lead to this, can't determine it currently...

[2020-11-20 20:18] chrismcclure commented on #2704
@alexanderwieland  What a life saver. Great answer!

[2020-11-20 20:38] HeinekenBilly opened #3171 "Build Agent for IBM zOS"
Is it possible to have a build agent which can be hosted on IBM zOS mainframe operating systems, if not is there a way to send orchestration instruction over SSH ?

[2020-11-21 11:06] #2974 closed

[2020-11-23 14:38] DonKarlssonSan opened #3172 "Error building WinForms application on hosted agent version 2.177.1"
## Agent Version and Platform
v2.177.1
Image: Windows
Azure hosted agent
[code]
## Azure DevOps Type and Version
https://dev.azure.com/kommuninvest

## What's not working?
Since the release of v2.177.1, our WinForms application does not build in Azure DevOps.
The solution builds fine on two developer machines
When trying the exact same source code that was used in the last successful build, it als

[2020-11-24 17:43] anatolybolshakov commented on #3093
@michaelschufi is there any chance to check this - to exclude it as one of external factors which could lead to dropping parent process of chmod?

[2020-11-25 16:51] BillyBlaze commented on #3159
@pd8 I have a question for you since you have the same setup as I have.

Do you also see the same behavior in your pipeline that if the cache was successfully restored, it ignores the condition and then starts installing dependencies again?

e.g.
![image](https://user-images.githubusercontent.com/445608/100257937-c4bf0000-2f46-11eb-9181-e2a4f1bc4765.png)

[2020-11-25 17:28] michaelschufi commented on #3093
@anatolybolshakov Hmm, I am not sure what I should check. I could maybe send you a process list or similar.

There are of course some basic services on the system running. But we did not experience similar problems with other software so far, and we let our hoster and their partner investigate the issue. They determined it was a problem with the Azure agent itself. Their feedback was mentioned in

[2020-11-26 08:26] pd8 commented on #3159
@BillyBlaze
No, we were having so many problems with caching that we actually completely disabled it until it returned to stability.

I havent checked again on any recent agent versions (if there have been any updates released)

[2020-11-26 08:37] edwin-hendriks commented on #3042
It seems like an easy fix, but it should be done by Microsoft (instead of us operators tinkering about to solve it). So, please Microsoft, could you solve this? Because our security department is breathing down our necks.

[2020-11-26 09:13] easkay-castlight commented on #3042
@sebaminguez I'm glad it's working for you. We considered something similar but have not yet given it a try.

@edwin-hendriks we've been in touch with the product team via MS support, who are working on the problem but they've advised that it is far from an easy task. We may well be looking at more than a few months for the issue to be finally resolved.

[2020-11-27 12:53] xlz-jgoutin opened #3176 "Location.GetConnectionData : The HTTP request timed out (With agent 2.177.0)"
## Agent Version and Platform
Version of your agent? 2.177.1

OS of the machine running the agent? Ubuntu 18.04, CentOS8

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? Accelize

## What's not working?

The command :
[code]
Returns the error:
[code]

We use an Ansible role to provision the agent on differents OS and cloud (Azure or AWS). This work

[2020-11-29 11:28] anatolybolshakov commented on #3093
@michaelschufi sure, here's my email - v-anbols@microsoft.com
Could you please share full agent logs for the case when it stuck - for us to investigate it further?

[2020-11-30 14:29] fniko commented on #2860
We are solving this issue adding the following on the top of every ps1 script which is doing any git operation
`$env:GIT_REDIRECT_STDERR = '2>&1'`

[2020-11-30 21:47] anatolybolshakov opened #3178 "AzDO agent download for Windows includes NuGet.exe that is now incompatible with nuget.org"
Related issue on Developer Community - https://developercommunity.visualstudio.com/content/problem/1084457/azdo-agent-download-for-windows-includes-nugetexe.html

[2020-12-01 13:57] anatolybolshakov commented on #2954
Created [PR](https://github.com/microsoft/azure-pipelines-agent/pull/3179)

[2020-12-01 15:42] mjroghelia commented on #3171
We have no plans to support that platform. You can use bash tasks to call ssh to remotely execute commands, but there no particular support for SSH in tasks generally.

[2020-12-01 15:42] #3171 closed

[2020-12-02 09:26] tompazourek opened #3180 "Ambiguous refname happens since v2.177.1, checkout creates refs named as commit IDs"
We recently updated build agents from v2.174.1 to v2.177.1 and started experiencing these issues (some of our own Git-based steps crashing):

[code]

It seems to be caused by the recent PR #3127, more specifically these lines: https://github.com/microsoft/azure-pipelines-agent/pull/3127/files#diff-70b59b31500cd4671193074b2e8c1fdaa2889faa3afa6b432e367fb3734aa2f1R851-R860 (@jeschu1, @mjroghelia)

Ba

[2020-12-02 14:09] #2762 closed

[2020-12-02 22:42] thozook commented on #3086
@vivaladan My team encountered this same issue and started to dig through the code to see if this had been added and not documented.

Looks like the ability to add tags to VM resources in Environments is an undocumented feature. If you look at [Constants.cs](https://github.com/microsoft/azure-pipelines-agent/blob/master/src/Microsoft.VisualStudio.Services.Agent/Constants.cs) under "public static c

[2020-12-03 15:09] #3178 closed

[2020-12-04 10:04] anatolybolshakov commented on #2824
Hi @petrus0x13 could you please share your agent logs?

[2020-12-04 15:01] mjroghelia commented on #3004
This behavior was changed in September. The agent now creates a workspace ID that is generated from the repositories used.

[2020-12-04 15:01] #3004 closed

[2020-12-06 13:07] #2916 closed

[2020-12-06 14:37] anatolybolshakov commented on #3110
Hi @mchenx could you please try to specify System.Globalization.Invariant for Agent.Worker.runtimeconfig.json and Agent.PluginHost.runtimeconfig.json also?

[2020-12-06 20:09] anatolybolshakov commented on #3098
Hi @Alex-Bowman-Aw @Talha-B do you use hosted agent? If so - could you please share also what image do you use?

[2020-12-06 22:05] anatolybolshakov commented on #3085
Hi @perpetualKid it seems that "Version" environment variable is used by Nuget tool, but this seems to be not documented well - since it's not related to agent, I would recommend to create ticket on https://github.com/NuGet/NuGet.Client - to get right eyes on this issue.

[2020-12-06 22:05] anatolybolshakov commented on #3085
Closing this also since it's not related to agent itself.

[2020-12-06 22:05] #3085 closed

[2020-12-07 07:24] mchenx commented on #3110
I don't know coz I've already upgraded the agent to 2.175.2 two months ago and the issue gone away. so I don't have such an environment to reproduce this and do experience now..

[2020-12-07 10:12] IanMoroney commented on #1307
For everyone struggling with this issue in YAML, I have a solution.

I am using a pipeline which uses a template, so i can standardise the deployment process, and pass parameters into the template. One of those parameters i desired to pass in is the service connection.

I tried all sorts of $() syntax, and ran into the same issue you did. A former colleague of mine provided the solution. I'll be b

[2020-12-07 12:33] anatolybolshakov commented on #3110
Ok, thanks - I'm closing it at the moment due to lack of repro steps - please feel free to reopen it if you will face with this issue again.

[2020-12-07 12:33] #3110 closed

[2020-12-07 14:02] anatolybolshakov commented on #3049
Hi @GaTechThomas unfortunately as I see there's no way currently to retrieve agent logs without access to _diag folder on the agent - is there any way you could retrieve these logs from machine and share it?

[2020-12-07 14:12] anatolybolshakov commented on #3042
Hi everyone, we are working on this migration currently, but it could take some time to verify that it's working fine since there's a large impact - we will let you know once it's completed. Thank you for you patience!

[2020-12-07 14:52] anatolybolshakov commented on #3029
Thanks for heads up on this! Looks like there's some lack of documentation, so we are going to update it.
@phaneendrakotha is this issue still actual for you?

[2020-12-07 15:44] mjroghelia commented on #3007
An updated agent (2.179.0) is in the process of rolling out.

[2020-12-07 15:44] #3007 closed

[2020-12-07 15:58] mjroghelia commented on #2993
@anatolybolshakov Could you please get someone to pull look into this and determine whether the upstream Node fix has backported to the version of Node 10 that is currently rolling out with agent 2.179.0?

[2020-12-07 16:09] mjroghelia commented on #3180
@tompazourek You can disable the fetch by commit behavior as a workaround by setting an environment variable for the agent (`VSTS_DISABLEFETCHBYCOMMIT`) to "true", or in the specific pipeline or job by setting the `VSTS.DisableFetchByCommit` build variable to "true".

[2020-12-07 19:36] anatolybolshakov commented on #2989
Hi @saltniklas @andersonsilvaeng could you please try to increase http timeout and retry count using VSTS_HTTP_RETRY and VSTS_HTTP_TIMEOUT agent knobs? ([here's ](https://github.com/microsoft/azure-pipelines-agent/blob/master/src/Agent.Sdk/Knob/AgentKnobs.cs#L120) you can find default values for these knobs)
If there are some issues with network - it could help to workaround it and make agent more

[2020-12-08 02:54] phaneendrakotha commented on #3029
yes this issue still persists but i could check the firewall rule for the two sites mentioned above if there are allowed or not.

[2020-12-08 02:57] phaneendrakotha commented on #3029
On the microsoft link you shared in the post have IPV4 range as below.
IPv4 ranges

13.107.6.0/24
13.107.9.0/24
13.107.42.0/24
13.107.43.0/24
on Azure DevOps the IPs are dynamic and not really got the point about the IP address mentioned above how they can be derived with in the organization. Could you please help me to understand what this IP address are about?

[2020-12-08 03:09] #2997 closed

[2020-12-08 07:48] tompazourek commented on #3180
@mjroghelia Thanks, I'll have to try that. I cannot find any documentation for that variable. Is this documented anywhere?

Where should I set this a variable if I use the YAML-based pipelines? Recently, I found out that lot of the [built-in variables are read-only](https://github.com/microsoft/azure-pipelines-yaml/blob/master/design/readonly-variables.md) and cannot be set anymore. So I'm wonderi

[2020-12-08 08:15] #3149 closed

[2020-12-08 12:29] anatolybolshakov commented on #3093
It seems that there could be some issue on net core side - created [ticket.](url)

[2020-12-08 14:11] xlz-jgoutin commented on #3176
Hello, is there some extra information I can give or debug option I can use to help in this issue resolution?

[2020-12-08 15:21] anatolybolshakov commented on #3176
Hi @xlz-jgoutin, is 'https://dev.azure.com/Accelize/' reachable from agent machine? If you experience some network issues - you can also use [agent knobs](https://github.com/microsoft/azure-pipelines-agent/blob/master/src/Agent.Sdk/Knob/AgentKnobs.cs#L117) - just by increasing value for them by setting VSTS_HTTP_RETRY and VSTS_HTTP_TIMEOUT environment variables - to increase HTTP timeout and retry

[2020-12-08 15:47] anatolybolshakov commented on #2971
Hi @PaulGauthier @nmdange2 you can set agent name during agent configuration by setting --agent option for 'config' script ([here's ](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops#pool-and-agent-names)some more info about config script options) - so there should be services with different names.

[2020-12-08 16:08] xlz-jgoutin commented on #3176
Hello,

I did the following test on an Ubuntu 18.04 instance:

[code]
=> Success (with a very short response delay)

Trying to configure the agent
[code]
=> Error `The HTTP request timed out after 00:01:40.` (Sam full log as previously)

Retrying with curl after the config command.
[code]
=> Success.

Test with full URL from logs:
[code]
=> Success

I also run the same test from my full CI process

[2020-12-08 20:26] mjroghelia commented on #3180
@tompazourek To define it for a single YAML pipeline, you can set the variable at the top level of the YAML:

[code]

That would apply to all the jobs in that pipeline, but that pipeline only. You can likewise define the variable on a single job by putting that "variables" section within a particular "job:" section.

[2020-12-08 21:07] #2988 closed

[2020-12-08 22:29] WardenGnaw opened #3184 "[Question] Azure Pipeline Agent support for Apple M1"
Is there going to be a published release for the Azure Pipeline Agent on the Apple M1 (published as [osx-arm64](https://github.com/dotnet/runtime/blob/66a1f9754a89c86a3893dcf82285018c72f8be16/src/libraries/pkg/Microsoft.NETCore.Platforms/runtime.json#L1657)) or is it expected to use the osx-x64 package on the machines running as emulated.

This would require the project to be updated to use .NET 6

[2020-12-09 02:59] DFranklet commented on #2565
Oh it's such a fiddly business isn't it? Microsoft really doesn't want us to use on prem resources.
Contrary to the above, what worked for me under server URL was https://servername/tfs

My deployment target is in AWS and Azure DevOps on prem, so that's got its own hurdles. [servername] can't be an IP address and needs a cert which matches. You may not like opening up your DevOps to the internet,

[2020-12-09 11:45] hansmbakker opened #3185 "[Question] Unclear what "Perform an unzip for tasks for each step." does"
## Agent Version and Platform
Version of your agent? 2.177.1
OS of the machine running the agent? win-x64

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

## What's not working?
When running `config.cmd` it asks `Perform an unzip for tasks for each step.` but there is no documentation on what that means.

What are the implications, pros, cons?

I found these two relevan

[2020-12-09 11:56] PaulGauthier commented on #2971
@anatolybolshakov I'm not sure it worked or was available at the time I asked the question, but what I do now add the VM resource from the environment. I take the script provided and change the --agent parm as you mentioned by adding something on the end that identifies the project to which it is associated. I've done that many times now and it works fine.

I'd like to see environments be shared l

[2020-12-10 14:12] anatolybolshakov commented on #2971
@PaulGauthier could you please create a separate ticket for this enhancement?

[2020-12-10 14:15] anatolybolshakov commented on #3176
@xlz-jgoutin could you please try to increase http timeout/retry count also using agent knobs?

[2020-12-10 14:48] anatolybolshakov commented on #2990
Hi @anmolah is this issue still actual for you?

[2020-12-10 15:11] anatolybolshakov commented on #3169
Hi @cm5778 could you please check that you use actual PAT for your agent?

[2020-12-10 15:59] xlz-jgoutin commented on #3176
I rerun the full tests sequences with increased values:
VSTS_HTTP_RETRY: 10
VSTS_HTTP_TIMEOUT: 300

I still get the same error on the same set of OS (But after 50 minutes of a single "./config.sh" run).

Note that when using something like curl, the response to the URL is instant. This does not seem to be a network issue.

[2020-12-10 16:26] brandondev1 commented on #2261
Constantly seeing this issue when deploying D365 F&O builds.  This happens much more often than it doesn't happen.  The deployment actually succeeds, but the pipeline fails due to this issue.  We are using the free MS-hosted agent.

[2020-12-10 16:59] anatolybolshakov commented on #3054
Hi @aservera do you use on-prem or cloud solution?

[2020-12-10 17:24] anatolybolshakov commented on #3091
@jabberwik you can overwrite globally defined variable on stage on job level, but it seems to be impossible at the moment to overwrite it using env.
Does ovewriting it at stage on job level work for you?

[2020-12-10 18:57] xlz-jgoutin commented on #3176
Instead of using the latest release, I tried to run my tests (Ubuntu 18.04 only) against pinned versions:

- 2.164.8 (Because #3093, #3049: Pass
- 2.165.0: Pass
- 2.170.0: Pass
- 2.175.0: Pass
- 2.175.1: Pass
- 2.175.2: Pass
- 2.177.0: **Fail**
- 2.177.1: **Fail**
- 2.179.0: **Fail**

So, the conclusion is that the issue is only with the agent version >= 2.177.0

[2020-12-10 20:46] jaygeek commented on #3185
[code]

**We are all waiting at this prompt until you tell us what happens next.**

[2020-12-10 23:50] slacasse22 commented on #3185
I went for the default for the moment but I'm curious too!

[2020-12-11 09:28] duncanp-sonar commented on #2046
Has this issue been fixed? Thanks.

[2020-12-11 10:22] xlz-jgoutin commented on #3176
I seen "Switch to new HTTP handler by default (#3117)" in the 2.177.0 changelog.

So i tried to run 2.177.1 agent with AZP_AGENT_USE_LEGACY_HTTP=true, and it completes successfully.

The cause of this issue is related to the new HTTP handler.

[2020-12-11 15:03] ihnorton opened #3188 "Node version changed for container job?"
We have a [container job](https://github.com/TileDB-Inc/TileDB/blob/dev/azure-pipelines.yml#L71-L79) running inside a CentOS5 container (manylinux1) which was working correctly until Tuesday (8 December), and now [fails](https://dev.azure.com/TileDB-Inc/CI/_build/results?buildId=7938&view=logs&j=e29b7258-d60a-5387-7d85-9314f2aa9fb0) with this error when starting the first task:
[code]

I have trie

[2020-12-11 15:18] ihnorton commented on #3188
Note that the launch script in the snippet above _seems_ to be passing what I believe is supposed to be the "old" (Node 6?) version `/__a/externals/node/bin/node`, but the errors above indicate the actual binary that the entry script is running under is `/__a/externals/node10/bin/node`. This leads me to think the default changed. If there is a way to tell the pipeline to run this container job wit

[2020-12-11 18:48] lbergeron01 commented on #3156
We are having the same issue with ubuntu20 image since Python3 became default in October.

There's been no update on this issue since 28 days, but I see in announcement that image being rolled since Nov. 30th, so I guess there is a fix that exist somewhere, but not available to the public?
https://github.com/actions/virtual-environments/issues/1816

[2020-12-11 20:21] littleninja commented on #2490
https://github.com/npm/cli/issues/417

Some of the comments like [this one](https://github.com/npm/cli/issues/417#issuecomment-627988275) mention disabling anti-virus on the working directory. Similar description from Microsoft docs on when to use [anti-virus exclusion](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/troubleshooting?view=azure-devops#anti-virus-exclusion),

[2020-12-11 21:52] ihnorton commented on #3188
This error appears to have been present in actions container runners for a while now: https://github.com/microsoft/azure-pipelines-agent/issues/3188

[2020-12-12 05:08] #3005 closed

[2020-12-12 06:25] bishal-pdMSFT commented on #3156
Adding @tejasd1990

[2020-12-12 13:03] onkobu commented on #1307
Thanks for chiming in but this is only a 40% solution. I'll give this a try later but need a bit of clarification:

1. You tried this with task templates? (There may be differences with job- and task-templates.)
1. the first two Set: and Define: belong into the template?
1. the second two are part of the pipeline using the (task-) template?

Following your suggestion I'd have to manage 3 variables

[2020-12-14 00:04] avivanoff commented on #3185
Same here.

[2020-12-14 04:23] tejasd1990 commented on #3156
ack. will investigate and update

[2020-12-14 12:00] anatolybolshakov commented on #3185
Hi everyone, this is an option for additional security restrictions.
The main idea is that a malicious script could impact the contents of the unzipped task. By unzipping it each time, some customers believe they’re in a more secure state.
Since this is not a wide used option - we are planning to make it as command-line only flag instead of prompting this during agent configuration and update rela

[2020-12-14 12:09] spersov opened #3189 "[Request] Add the tfx-cli to the build agents"
It would be good to have the tfx-cli installed automatically onto the agents.

[2020-12-14 14:14] anatolybolshakov commented on #2954
Hi everyone, we have rolled out the fix for this issue, so I'm closing it at the moment - please let us know if you still have any questions.

[2020-12-14 14:14] #2954 closed

[2020-12-14 15:23] runemoennike commented on #1764
Can we please reopen this?

[2020-12-14 15:43] jhgoodwin commented on #1764
The contributors are too busy working on the github actions which seems to have this. My advice would be to use that, or else to move away from using tasks and instead use local make-style builds, only using the actions to invoke them.

It's absurd that incremental, local testing is so foreign to Microsoft, but it is what it is.

[2020-12-14 15:44] runemoennike commented on #1764
The speed at which we are supposed to rewrite our projects to suit the latest flavour is ridiculous.

[2020-12-14 15:55] mjroghelia commented on #3188
@alexander-smolyakov @ihnorton CentOS 5 is not a supported platform. CentOS 6 is the oldest version Pipelines has ever supported officially. You will need to update your build to use a CentOS 6 based container. Another option would be to fork the bash task from before it was updated to Node 10 and install it in your account as a custom task.

[2020-12-14 16:10] #3000 closed

[2020-12-14 17:24] IanMoroney commented on #1307
1. This is currently operational with a task template.
2. First two belong in the template
3. Second two are part of the pipeline.

Think of it as a variable per stage, if you have different subscriptions for each stage.
Different variables for different stages are pretty commonplace, but through further interpolation could also be made simpler.

Below is a full example:

Pipeline:

    trigger: n

[2020-12-14 17:35] alexander-smolyakov commented on #3188
@ihnorton, I found a related [ticket](https://github.com/Z3Prover/z3/issues/4784) for this issue, it seems you can use a `quay.io/pypa/manylinux2010_x86_64:latest` image to work around this issue. I tested it and on this image, the current version of the bash task works as expected in the container.

In addition to this if you would like to fork the bash task you need to use any version before 3.1

[2020-12-14 18:50] ihnorton commented on #3188
Hmm, ok. Thanks for the explanation.

[2020-12-14 18:50] #3188 closed

[2020-12-15 00:06] matthewhembree opened #3190 "Linux dependency installer fails for lttng-ust dependency."
## Agent Version and Platform
Version of your agent? 2.179.0

OS of the machine running the agent? CentOS 8

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server? n/a

If on-premises, which release? n/a

If dev.azure.com, what is your organization name? n/a

## What's not working?

Agent fails to pull the repo file at https://packages.ef

[2020-12-15 00:41] CaptainStealthy commented on #2869
I'm seeing the same errors with version `2.172.2` of the agent, on a self-hosted Ubuntu build agent.

@klamann Did you ever find a resolution for this?

[2020-12-15 13:25] mtenrero commented on #3185
@anatolybolshakov  There's a problem with unnatended installations, this new param, doesn't allow the agent to be installed silently. It always asks for a answer, Is there any new param in order to force via CLI?

[2020-12-15 15:09] #2745 closed

[2020-12-15 19:16] SteveDinn commented on #1664
I'm getting this error even after setting the workingDirectory to a sensible value. Here's my YAML:
[code]
And here's the result.
[code]

[2020-12-15 20:42] steved0x opened #3191 "Should the min git version on the git page be 2.29 instead of 2.9? Isn't 2.29.x the newest version"
On this page:
https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/git.md

It lists 2.9 as the min git version in several places, but it looks like [2.29.x](https://git-scm.com/downloads) is the current latest version? A customer asked me and as I was researching it led me to here.

Thank you,

Steve

[2020-12-15 21:00] steved0x commented on #3191
Or is 2.9 a much older version of Git and that is the min git version? With 2.29 being much newer than 2.9?

[2020-12-15 21:00] steved0x commented on #3191
Answered, sorry for the distraction

[2020-12-15 21:00] #3191 closed

[2020-12-15 23:43] mikeperry-kr commented on #2043
I'm using the [user namespace feature of Docker](https://docs.docker.com/engine/security/userns-remap) in order to run the azure-pipelines-agent as a non-root user. As I understand it, enabling this at the daemon level should help to avoid many of the file permissions issues mentioned in the following comment:

https://github.com/microsoft/azure-pipelines-agent/blob/3906428f2f61a869247e070ac1972cc

[2020-12-16 10:17] anatolybolshakov commented on #3176
@xlz-jgoutin thanks for investigation here, as per [release notes](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.177.0) for 2.177.0 - new HTTP handler is used by default, so to use legacy http - you just need to set AZP_AGENT_USE_LEGACY_HTTP=true.
I'm closing it at the moment since it's resolved, please let us know if you have any questions.

[2020-12-16 10:17] #3176 closed

[2020-12-16 14:09] Pegolon commented on #2457
This is even a bigger issue with macOS 11.1 Big Sur. Could you please code sign all the DLLs for the Mac agent properly so we do not need to jump through hoops and disable some security settings? Thanks in advance!

[2020-12-16 17:32] #2567 closed

[2020-12-16 19:36] TroySchmidt commented on #3093
I am running rhel and having something related where the permissions is denied on the .credentials_rsaparams is denied, but none of the . folders exist.

[2020-12-16 21:53] FrancoisHub commented on #2799
Hi,
I am using agent version 2.179.0 on Windows and the issue still happens.
When I check out a single repository and specify a path in the following way:
[code]
The result is that:
- There is no 's' folder
- The repository is checkout under the folder _work\2\AutomaticDeploymentTestScripts

[2020-12-17 07:32] PaulaPaltinisanu opened #3192 "Unable to configure a self-hosted agent"
Hello,

I am currently attempting to configure a self-hosted agent in Azure DevOps on a Windows 10 (x64) machine.
After I enter the PAT, an **SSL error** is prompted and I can no longer continue the process for setting-up my agent.
![48746-image](https://user-images.githubusercontent.com/76150523/102457007-bac28580-404a-11eb-959d-c419d9083e7f.png)

I have attempted to run the config.cmd script wit

[2020-12-17 11:15] anatolybolshakov commented on #3185
@mtenrero yes, you can use --AlwaysExtractTask command-line parameter to set it up

[2020-12-17 12:07] alexander-smolyakov commented on #3192
Hi @PaulaPaltinisanu, could you please check if your software meets the pipeline agent [prerequisites](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops#check-prerequisites)?

[2020-12-17 12:29] PaulaPaltinisanu commented on #3192
Hello @alexander-smolyakov,
 I have reviewed my current setup and I can confirm it meets all the requirements.
I had agents configured on this machine in the past, but starting a certain version for agents, I started receiving the SSL error.

Thank you!

[2020-12-17 14:24] mjroghelia opened #3193 "Update AttemptRemoveCredFromConfig message to include the correct git config key"
The `GitSourceProvider`s issue a warning using the "AttemptRemoveCredFromConfig" localization string if they are unable to remove a given git config key. The warning is hard coded to say "http.extraheader" instead of the actual config key being removed. The string should be updated to interpolate the config key.

https://github.com/microsoft/azure-pipelines-agent/blob/master/src/Agent.Worker/Build

[2020-12-17 18:42] chandlerkent commented on #3156
I am also running into the same error, but using CentOS 8. This works fine in our environment using CentOS 7.

Error message:
[code]

If I try to run with python2 using `alternatives --set python python2` (after `yum install python2`), I get a different error:

[code]

I have also opened a case using our Azure support account:

120121724004184

If it is helpful, here's the ARM template for the ext

[2020-12-18 08:33] keamas commented on #2018
Hi, I also have this issue it is still not working
I tired this combinations:

Using hosted Ubuntu Agent 20.04

echo '##vso[task.setvariable variable=latestVariable;]$oldVariable'
echo '##vso[task.setvariable variable=latestVariable;]'$oldVariable
echo "##vso[task.setvariable variable=latestVariable]$oldVariable"
echo "##vso[task.setvariable variable=latestVariable;]$oldVariable"
echo ##vso[task.s

[2020-12-18 11:57] LucaBlackDragon commented on #2993
@mjroghelia I don't think so:
- the [NodeJs issue with the expired CA root certificate](https://github.com/nodejs/node/issues/33681) has been closed by [this commit](https://github.com/nodejs/node/pull/33682) which references NSS **3.53**
- agent 2.179.0 ships with NodeJs 10.23 (if I'm not mistaken)
- the [last commit](https://github.com/nodejs/node/commit/6e329a8dac3aae3c5c13e1ab22a45874edf3642b)

[2020-12-18 18:28] anatolybolshakov commented on #2971
@PaulGauthier let me close this ticket since current issue is resolved - please feel free to create a ticket with a feature request for suggestion above.

[2020-12-18 18:28] #2971 closed

[2020-12-18 18:55] snnn commented on #3156
As a workaround, you may add the following two lines to

[code]
the bottom of "/images/linux/scripts/base/repos.sh"

(This is an unofficial suggestion, I'm not part of the team)

[2020-12-18 19:10] zottinor opened #3194 "Setup self host at linux service"
## Agent Version and Platform
Version of your agent? 2.179.0

OS of the machine running the agent? Linux RHET 7

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

If dev.azure.com, what is your organization name? https://dev.azure.com/BRZOTTINOR/

## What's not working?
I can run interactive agent using ./run.sh
But it doesn't work when i setup ./svc.sh install and try to

[2020-12-21 09:53] anatolybolshakov commented on #3194
Hi @zottinor could you please try to increase http timeout and retry count using VSTS_HTTP_RETRY and VSTS_HTTP_TIMEOUT agent knobs? (here's you can find default values for these knobs)

[2020-12-21 09:54] anatolybolshakov commented on #3049
Hi @GaTechThomas do you have any updates about it? Is it possible to get logs so we could investigate it?

[2020-12-21 09:55] anatolybolshakov commented on #3098
@Alex-Bowman-Aw @Talha-B do you have any updates?

[2020-12-21 09:56] anatolybolshakov commented on #2989
Hi @saltniklas @andersonsilvaeng do you have any updates about this one?

[2020-12-21 09:57] anatolybolshakov commented on #3093
@TroySchmidt could you please share your agent logs also?

[2020-12-21 09:58] anatolybolshakov commented on #3091
@jabberwik do you have any updates?

[2020-12-21 09:58] anatolybolshakov commented on #3169
Hi @cm5778 do you have any updates?

[2020-12-21 13:58] anatolybolshakov commented on #2993
Hi @LucaBlackDragon yes, you're right - it doesn't seem to be backported to v10.23.0 (according to the [discussion](https://github.com/nodejs/node/pull/33682#issuecomment-637046602) also)
@wallyhall do you still face with this issue?
cc @mjroghelia

[2020-12-21 18:09] zottinor commented on #1481
No. for me this variable export AGENT_ALLOW_RUNASROOT="1" only work fine when running ./run.sh export and for ./svc.sh is necessary to setup to export AGENT_ALLOW_RUNASROOT=1

[2020-12-21 19:11] rossbeehler commented on #2967
Note that the documentation of azure-pipelines-task-lib is indirectly claiming that node14 is supported: https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/docs/nodeEnvironment.md

[2020-12-21 19:31] rossbeehler opened #3195 "Custom tasks and node versions"
I'm trying to run a custom task on node 12 or newer.  The azure-pipelines-task-lib repo claims that node14 is supported: https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/docs/nodeEnvironment.md.  However, in my usage of the self-hosted agent in docker (as explained in https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops), only node versions

[2020-12-21 19:52] zottinor commented on #3194
Thank you @anatolybolshakov.

I found the issue and it was missing environment variable AGENT_ALLOW_RUNASROOT=1 at .env file
After add variable at .env file and redeploy, everything working fine on interactive mode using ./run.sh as well ./svc.sh

[2020-12-21 19:52] #3194 closed

[2020-12-21 21:48] anatolybolshakov commented on #1764
Hi everyone, please feel free to create an issue in https://github.com/Microsoft/azure-pipelines-yaml to get right eyes on it. This repo is mostly for pipeline tasks, so it could be more forward way to track progress regarding this feature.

[2020-12-21 22:10] jabberwik commented on #3091
Imagine several steps in a row that need the same environment variable, and then one of them needs a different value. I can work around it with different variable names; it just makes the pipeline more verbose. It seems like unexpected behavior because the "closest" definition does not win.

[2020-12-22 02:21] davisnw opened #3196 "Exit code 100 returned from process for tc vc scorch when multiple paths mapped in TFVC"
## Agent Version and Platform
Version of your agent? `2.179.0`

OS of the machine running the agent? `Windows`

## Azure DevOps Type and Version
dev.azure.com (formerly `visualstudio.com`), with `self-hosted agent`.

If dev.azure.com, what is your organization name? `https://{organization}.visualstudio.com`

## What's not working?
Consider the following "Get sources" configuration:

- Source: **TF

[2020-12-22 06:55] japj opened #3197 "Adjust AZP_AGENT_DOWNLOAD_TIMEOUT to maximum agent zip download size"
## Agent Version and Platform
Version of your agent? 2.153.1

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
Azure DevOps Server 2020

## What's not working?
Upgrade agents to 2.175.2 fails due to download timeouts

It seems that when AZP_AGENT_DOWNLOAD_TIMEOUT was introduced in https://github.com/microsoft/azure-pipelines-agent/pull/2183 , the default timeout was s

[2020-12-22 09:17] anatolybolshakov commented on #3195
Hi @rossbeehler we have reverted Node 14 handler (see https://github.com/microsoft/azure-pipelines-agent/pull/3151) - since we faced with with issues on several platforms during this migration. We are planning to complete it, but only after we migrate all pipeline tasks to Node 10 execution handler - so at the time there's no Node 14 execution handler on agent.
Thanks for heads up about task-lib d

[2020-12-22 09:40] anatolybolshakov commented on #3091
@jabberwik looks like it's more related to how yaml is being proceed - since this repo is for pipeline tasks, could you please create a ticket on https://developercommunity.visualstudio.com/ to get right eyes on it?

[2020-12-22 11:07] anatolybolshakov commented on #3196
Hi @davisnw thanks for reporting this - it seems to be similar to https://github.com/microsoft/azure-pipelines-agent/issues/422 - we are planning to recheck current root mapping.
As a workaround - could you please try one suggested [here](https://github.com/microsoft/azure-pipelines-agent/issues/422#issuecomment-233986495)?

[2020-12-22 14:56] Talha-B commented on #3098
Sorry Anatoly, it's been a few months since I faced the issue. I cannot remember the resolution we came to. It might have been to make use of self-hosted agents instead of hosted.

[2020-12-22 16:00] rossbeehler commented on #3195
Hi @anatolybolshakov, thanks for the quick reply.

How about the usage of NodeTool@0?  Is there any reason why that version of node isn't used for task execution?  The docs aren't very clear about when the specified node version is and isn't used.

[2020-12-22 18:52] helmerm commented on #1307
I am not sure if this is only caused by permissions.

My service connection has no restrictions and I can see a run show up in the usage history of the service connection. However, the task (in my case [Pulumi Task](https://github.com/pulumi/pulumi-az-pipelines-task)) seems to not get the necessary variables from the template expression (azureSubscription: '${{ parameters.azureSubscription }}').

[2020-12-22 22:34] davisnw commented on #3196
@anatolybolshakov - changing the "Clean options" to "All build directories" avoids the "Exit code 100" and results in the following log

[code]

So it looks like that option skips "scorch" and simply recreates the workspace in its entirety.  So I think the tradeoff is that if the checkout is large, recreating the workspace means spending more time downloading from source control vs actually scorch

[2020-12-22 22:41] davisnw commented on #3196
Hmm, strike that on the tradeoffs - I see now that both of the options did a `tf vc workspace /delete` and remap.

So now I'm a bit confused - without the "scorch" option could setting "Clean options" to "All build directories" leave around files that are *not* mapped in source control? I think perhaps I don't understand the impacts of `tf vs workspace /delete` followed by `tf workfold`

[2020-12-22 23:56] GaTechThomas commented on #3049
I'll see what I can do. Will likely be after the new year.

[2020-12-23 08:57] karambawow opened #3198 "issue with added ability to suppress the error form unshelve command during getSource #3064"
added ability to suppress the error form unshelve command during getSource #3064

with this change the get sources Tasks does not break the Build if the Configured Branch in the Builddefinition and in the shelveset does not match!

this is a security issue because the Build will checkin this shelvset without checking out and testing

[2020-12-23 09:26] karambawow opened #3199 "Publish test results fail with ##[warning]Failed to publish test results: Cannot access a disposed object. Object name: 'TestManagementHttpClient'."
old Agent Version 2.153
new Agent Version 2.175
OS: Windows Server 2019
Azure DevOps Server Version Dev17.M153.5

we have following scenario
execution of multiple Mstest on the Build Agent
and after every Mstest Call we run

##vso[results.publish type=VsTest;mergeResults=false;publishRunAttachments=true;resultFiles=foo.trx;]

so the Agent handles the upload of the trx file to the DevOps Server wit

[2020-12-23 11:06] anatolybolshakov commented on #3195
@rossbeehler there are two different node versions shipped with agent which are used for task execution at the moment (please see [docs](https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/node6.md) here). This is by design, one of the reason as I see - we can't guarantee that pipeline tasks will work as expected on any node version selected by NodeTool task.

[2020-12-23 15:35] anatolybolshakov commented on #3098
@Talha-B @Alex-Bowman-Aw  ok thanks - let me close this at the moment since there's not enough info currently - please let us know if it's still actual for you to reopen it

[2020-12-23 15:35] #3098 closed

[2020-12-23 15:36] anatolybolshakov commented on #3054
@aservera I'm closing this at the moment due to inactivity - please let me know if it still actual for you.

[2020-12-23 15:36] #3054 closed

[2020-12-23 20:50] ed-graham commented on #1569
Now 23rd December 2020 and the problem of output colours and formatting in release-pipeline logs (as so eloquently explained by @Marcus-James-Adams) is still at large.  Don't suppose the product team fancies giving us all a late Christmas present?  In the meantime, I'll continue to use the `-no-color` work-around suggested by @santiago-ld .

[2020-12-24 08:27] anatolybolshakov commented on #3169
@cm5778 I'm closing it at the moment due to inactivity, please feel free to reopen it if it's still actual for you.

[2020-12-24 08:27] #3169 closed

[2020-12-24 08:29] anatolybolshakov commented on #3091
@jabberwik let me close this since this issue doesn't seem to be related to agent itself - please feel free to ping if you have any questions.

[2020-12-24 08:29] #3091 closed

[2020-12-24 14:59] anatolybolshakov commented on #3195
@rossbeehler let me close this at the moment - please feel free to ask any questions also about this.

[2020-12-24 14:59] #3195 closed

[2020-12-27 08:43] anatolybolshakov commented on #3027
Hi @SKO85 starting from [2.177.0](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.177.0) libcurl is no longer needed by default - could you please try it with the last agent version?

[2020-12-27 09:00] anatolybolshakov commented on #2989
@saltniklas @andersonsilvaeng I'm closing this at the moment due to inactivity, please feel free to reopen or ask any further questions.

[2020-12-27 09:00] #2989 closed

[2020-12-27 09:05] anatolybolshakov commented on #2990
@anmolah we can't reproduce this issue with the same pre conditions (admin permissions, pool's owner), I'm closing this at the moment due to inactivity - please feel free to reopen it or ask any questions.

[2020-12-27 09:05] #2990 closed

[2020-12-27 10:18] anatolybolshakov commented on #3023
Hi @dferretti you can use UseNode pipeline task to install node - could you please check if it works for you?

[2020-12-27 11:33] anatolybolshakov commented on #2872
@nithyusha23 @jlabaj @matthoulb you can specify path that the tar either in Path environment variable or by specifying 'VSTS_TAR_EXECUTABLE' environment variable also - could you please try second approach?

[2020-12-27 12:15] anatolybolshakov commented on #2490
Hi @memao @Rahkola @kdvtrifork @rosshamish @littleninja is this issue still actual for you? This error usually happens when some process locks file. Do you use npm pipelines task or cmd to run npm install?

[2020-12-27 12:57] anatolybolshakov commented on #2378
@Sukumarnayak is this issue still actual for you?
@jd-mtb could you please share logs also?

[2020-12-27 13:07] anatolybolshakov commented on #2570
@4F2E4A2E @Tragetaschen do you still see this issue?

[2020-12-27 18:58] Tragetaschen commented on #2570
I don’t have access to the pipeline anymore

[2020-12-28 13:38] jd-mtb commented on #2378
@anatolybolshakov Thanks for reminding me on this issue and while the issue persists how I mention it I was actually using it incorrectly and others might be as well. **_I discovered the issue is that I was supposed to be using the includes runsvc.sh script instead._** If you just use run.sh it doesn't start the node server in a way that keeps it open for a long time. I was tipped off by a comment

[2020-12-28 14:16] anatolybolshakov commented on #2378
@jd-mtb ok thanks! Yes, you can use this to run agent as systemd (here are some [steps](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops#run-as-a-systemd-service) describing it)

[2020-12-28 14:44] jd-mtb commented on #2378
@anatolybolshakov on rhel6 the service install command just tells you it isn't supported or something like that. I forget exactly, but point is it doesn't work. https://github.com/dotnet/core/blob/master/Documentation/build-and-install-rhel6-prerequisites.md

That said, we did get it working, our init file looks like this... disclaimer: I'm new to rhel6 init files, inherited most of this as is, pr

[2020-12-28 15:34] EdPerminas opened #3201 "pool variable is read until first space when setting up agent (windows, latest version)"
## Agent Version and Platform
Version of your agent? 2.165.0/2.166.3/2.179.0

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/bentleycs

## What's not working?

While adding a new agent I've noticed that configuration execution reads pool variable only until first space.

If agent

[2020-12-30 19:46] juli0mendes commented on #1359
When I start the service on Windows 10, it returns an error (error 1068)

[2020-12-30 23:55] StefanLundmark commented on #2990
I'm running into this as well.

![image](https://user-images.githubusercontent.com/2816866/103387146-8054f000-4b02-11eb-85c8-a765cea027e1.png)

* I'm the owner of the pool. Under the "Security" tab it says I'm an Administrator (Assigned).
* I'm also in the "Project Administrators" role (Inherited)
* I'm also the owner of the organization and project, if that helps.

[2020-12-30 23:59] StefanLundmark commented on #2990
Okay. I went trough Organization Settings instead of Project Settings. These two interfaces look very similar but one of the differences is that the Settings tab exists in the former but not in the latter.

[2021-01-04 08:03] ankur198 commented on #2872
Setting 'VSTS_TAR_EXECUTABLE' does work

[2021-01-04 08:49] PaulaPaltinisanu commented on #3192
Hello @alexander-smolyakov,

It turned out this issue was proxy-related; running the **config.cmd** using this command (_.\config.cmd --proxyurl PROXY:PORT_) has proved to solve my issue.

I will close this issue; thank you!

[2021-01-04 08:49] #3192 closed

[2021-01-04 19:56] joaomoreno opened #3202 "Failed to create agent pool with Azure Scale Set"
The [Azure virtual machine scale set agents](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops) guide appears broken.

I've followed the steps twice and I keep getting the same error:

![image](https://user-images.githubusercontent.com/22350/103573792-b1774c80-4e83-11eb-8a0e-704f408ae6dc.png)

DevOps appears successful at scaling up the VM instances.

[2021-01-04 20:13] joaomoreno commented on #3202
Found the issue: I was creating the scale set using the `Canonical:0001-com-ubuntu-server-focal:20_04-lts:latest` image. Using `UbuntuLTS` made it work.

I suggest documenting this better and making the tool output a better error message.

[2021-01-05 05:34] indivara commented on #3041
For anyone still experiencing this issue, updating the build agent fixes the problem.
Apparently older agents include a version of Git that does not support LFS natively.

Installing Git or Git LFS externally is unnecessary since it is included in the agent,

Updating should be possible from the DevOps agents list without physical access to the self-hosted machine (although the remote update faile

[2021-01-05 13:14] xlz-jgoutin commented on #3176
Is there a chance that `AZP_AGENT_USE_LEGACY_HTTP=true` become deprecated in a near future, or can it be used as a reliable future proof workaround?

Suggestion: the agent may try to fallback itself to the legacy HTTP handler if failing the new HTTP handler.

[2021-01-05 16:32] vtbassmatt commented on #2877
I can't repro this.

My pipeline:
<img width="480" alt="image" src="https://user-images.githubusercontent.com/714283/103672001-ac7cd080-4f49-11eb-8e8d-ef2d3b6b49c1.png">

Results:
<img width="513" alt="image" src="https://user-images.githubusercontent.com/714283/103672043-b8689280-4f49-11eb-9f2c-8263ffcf4a96.png">

[2021-01-05 22:00] ShadowXVII commented on #2877
Hmm. I know both generate PowerShell scripts but we're using a script file vs. inline script.

Or, maybe this is fixed in a recent version. Will need to do some testing.

[2021-01-06 14:43] tapika commented on #1764
Raised a ticket on issue in here:

https://developercommunity.visualstudio.com/idea/1302759/yaml-how-to-test-yaml-locally-before-commit.html

[2021-01-06 15:48] EdPerminas commented on #3201
This is not a bug. I needed to use " " symbols in the input command.

[2021-01-06 15:48] #3201 closed

[2021-01-06 18:45] anatolybolshakov commented on #2872
@ankur198 ok thanks! Looks like there's missed path to the tar in Path environment variable - let me close this at the moment since it doesn't seem to be an issue. Please feel free to ask any further questions.

[2021-01-06 18:45] #2872 closed

[2021-01-07 09:30] ojpbay opened #3203 "Pipeline hangs on publish of angular solution after upgrade to .net5.0"
Have recently updated by solution to .net5.0 and since then both YAML and classic pipelines fail at the dotnetcore publish task. They get stuck at the following point and the task then times out after 60 mins.

Task YAML
    - task: DotNetCoreCLI@2
      displayName: Publish
      inputs:
        command: publish
        publishWebProjects: True
        arguments: '--configuration $(BuildConfigura

[2021-01-07 15:18] GaryRogers commented on #3078
You'll need to preserve the AZP_TOKEN_FILE in that case. Looks like it's removed lower in the script.

[2021-01-07 15:51] GaryRogers commented on #3078
Also, a PAT with Agent Group and Deployment Group permissions doesn't appear to have rights to remove an agent. I get these errors when trying:

[code]

[2021-01-07 16:19] litan1106 commented on #3202
Same issue on my end when I was using custom image based on Canonical:0001-com-ubuntu-server-focal:20_04-lts:latest

[2021-01-07 20:58] onkobu commented on #1307
It's actually exactly this, a variable per stage. I'll give this a try. Nevertheless it is a humble fix. Typo can only happen in one place – the variable definition. Still not perfect by deriving it from ${Environment.Name} but looks manageable. THX.

[2021-01-08 11:53] khauser commented on #3202
@joaomoreno: Could you write the complete offer you are using?

[2021-01-08 12:50] joaomoreno commented on #3202
Hm not sure what the full name is. Just using `UbuntuLTS` made it work.

[2021-01-08 12:56] tero-dev commented on #3042
Any updates? With the whole SolarWinds thing I think security in CI/CD is more important than ever now.

[2021-01-08 15:22] litan1106 commented on #3202
@khauser I was building custom Ubuntu LTS image via this offer.

![image](https://user-images.githubusercontent.com/1310539/104031775-0962cb80-5182-11eb-8db2-7ef10223d69c.png)

I encountered this error with Azure DevOps Scale Set Agent.

`
The handler for VM extension type 'Microsoft.VisualStudio.Services.TeamServicesAgentLinux' has reported terminal failure for VM extension 'Microsoft.Azure.DevOp

[2021-01-08 21:27] brandongodby78 commented on #3156
@tejasd1990 Any update on this? Following up on our Azure support case 120121724004184, and they keep pointing us to get updates here. I am a colleague of the poster above @chandlerkent

[2021-01-08 22:30] OranguTech commented on #3109
Point of technical clarification that most everyone already knows: While this is probably a good enhancement, note that (AFAIK) tar doesn't have any compression capabilities itself. Depending on environment/version, having it pipe through gzip would be the "standard" method. IDK what is required to have it use a high-speed/lower compression flag.

[2021-01-08 22:32] #3203 closed

[2021-01-08 22:34] ojpbay commented on #3203
Issue was caused by package issue & was repeatable locally hence not related to pipelines.

[2021-01-09 18:00] #3020 closed

[2021-01-10 19:04] karambawow commented on #3198
HI, any news on this Topic because we stay on a Big Company on Version 2.153.1 and cant upgrade

[2021-01-10 19:05] karambawow commented on #3199
HI, any news on this Topic because we stay on a Big Company on Version 2.153.1 and cant upgrade

[2021-01-11 04:42] polavishnu4444 commented on #1633
Is there a way where I would want to reference a file path from the current yml location into the template from other repository?

[2021-01-11 16:31] anatolybolshakov commented on #3027
@SKO85 is this issue still actual for you?

[2021-01-11 16:31] anatolybolshakov commented on #3023
Hi @dferretti is this issue still actual for you?

[2021-01-11 16:32] anatolybolshakov commented on #2490
Hi @memao @Rahkola @kdvtrifork @rosshamish @littleninja is this issue still actual for you?

[2021-01-11 16:33] anatolybolshakov commented on #2570
@Tragetaschen ok thanks!
@4F2E4A2E do you still face with this issue?

[2021-01-11 16:50] anthony-gregg commented on #2046
I just wanted to add that this is not just Zulu that this occurs with but Open JDK as well.

[2021-01-11 16:50] 4F2E4A2E commented on #2570
As stated, the problem is solved. Thank you.

[2021-01-11 16:51] kdvtrifork commented on #2490
Hi @anatolybolshakov !

We have rewritten most of our testing code, since then we didn't experience it anymore.

[2021-01-11 17:25] dferretti commented on #3023
Hey @anatolybolshakov sorry I missed your first message! I am not currently working on that project anymore so I can't immediately try out the UseNode solution you mentioned. I imagine that would work fine though.

The windows agent bundling the linux version of node would be a nice-to-have so you don't have to include that step, but UseNode is a good alternative 👍

[2021-01-11 17:52] littleninja commented on #2490
It failed as recently as Jan 4. We're using the NPM task:

[code]

[2021-01-11 21:11] litan1106 commented on #3202
@khauser it could be related to the devops agent with python 3 issue. https://github.com/microsoft/azure-pipelines-agent/issues/3156

[2021-01-11 22:16] biasync commented on #3027
Still an issue but with Rasp 3B
Version: vsts-agent-linux-arm-2.179.0
OS: Raspbian GNU/Linux 10 (buster)

Output:
~/myagent $ ./config.sh
./bin/System.Net.Http.Native.so: /lib/arm-linux-gnueabihf/libcurl.so.4: version `CURL_OPENSSL_3' not found (required by ./bin/System.Net.Http.Native.so)
Warning: on some platforms, libcurl3 is required.

[2021-01-12 10:18] shaik447 opened #3206 "Azure DevOps Agent - Release Pipeline- Job Cancellation Error"
I have a local **Azure DevOps Server 2020** installation with a release pipeline deploying to a deployment group having two windows servers 2012 R2. I have installed and configured **Azure DevOps Agent 2.170.1** on both servers. The release pipeline worked fine after the agent configuration but now when i create a release the job does not start on the agent servers. I see the following error.

![i

[2021-01-12 12:20] khauser commented on #3202
@litan1106 Yeah, you're right. We will try with:

[code]

[2021-01-12 13:20] anatolybolshakov commented on #3206
Hi @shaik447 does this issue happen constantly for you?

[2021-01-12 13:28] anatolybolshakov commented on #3206
@shaik447 could you try to increase channel communication timeout between agent listener and worker processes by setting VSTS_AGENT_CHANNEL_TIMEOUT environment variable? You can set it to max value (300)- to check that it's not some intermittent issue

[2021-01-12 16:01] litan1106 commented on #3202
@khauser yes, but it's not the best when Python 2.7 already end of life.

I hope the Microsoft team updates the Azure Pipeline agent to support python 3. (it's not the best solution to use python 2.7 because it's end of life...)

![image](https://user-images.githubusercontent.com/1310539/104339083-0af70100-54ac-11eb-833b-139e42f06f8f.png)

[2021-01-12 21:43] EdwinMeijne commented on #838
Well, this is still an issues as far as I can see. This baffles me.

[2021-01-13 09:51] anatolybolshakov commented on #3049
Hi @GaTechThomas do you have any updates?

[2021-01-13 14:48] #3206 closed

[2021-01-13 14:51] shaik447 commented on #3206
Thank you @anatolybolshakov . Setting the environment variable in the release pipeline solved the issue. Could you please elaborate about this variable and how i can set globally to all the pipelines. Thank you.

[2021-01-13 21:51] SKO85 commented on #3027
@anatolybolshakov : I will be setting up my new kubernetes cluster with the RPI-4 model and will try to verify this this weekend. Thx for your reply. I will keep you posted.

[2021-01-13 22:53] GaTechThomas commented on #3049
Everything is now working as expected. We have enough in flux that I don't know whether it was something that changed on our side or not.

[2021-01-13 22:53] #3049 closed

[2021-01-14 16:31] anatolybolshakov commented on #3027
@biasync did you try to run bin/installdependencies.sh - to install necessary dependencies?

[2021-01-15 00:12] msibrichins commented on #2944
Any progress on this issue?

[2021-01-15 08:38] bartwitkowski opened #3210 "Every pipeline run creates new workspace directory"
## Agent Version and Platform
2.173.0

## OS of the machine running the agent?
Ubuntu 18.04

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
We have a problem with filling up the disk space.
Among others, we have a pipeline that runs Terraform code. It has 2 stages: Terraform PLAN, and Terraform APPLY.
The problem is, that each run of the pipeline creates a new workspace dir

[2021-01-15 09:44] anatolybolshakov commented on #2570
Ok thanks!
@Tragetaschen let us investigate if there's any possible bottleneck which could lead to this slow down.

[2021-01-15 10:22] anatolybolshakov commented on #2944
Hi everyone, we are working currently on more prioritized issues, but going to pick it up soon.

[2021-01-15 10:55] anatolybolshakov commented on #3023
Thanks! Let me leave it as a possible enhancement - to check if we could ship linux node version with agent and use it generally in linux containers.

[2021-01-15 10:59] anatolybolshakov commented on #2490
@littleninja could you share error details also?

[2021-01-15 12:26] ErtugrulKra commented on #683
It was solved for me after agent update. thanks

[2021-01-15 15:36] littleninja commented on #2490
I've collected what I can find. Since we usually rerun the failed job, it's a bit more difficult to find details. That's on me, sorry for not collecting and including errors in my first comment. The following are ENOENT, not EPERM.

2021-01-07
[code]

Another 2021-01-07
[code]

[2021-01-15 16:11] anatolybolshakov commented on #3206
@shaik447 you can define it for agent environment - I'm not sure that there's another way to set it globally for all pipelines at the moment.

[2021-01-15 21:14] smann004 commented on #2267
@WYarde Thank you for digging so deep on this issue. I am experiencing what I believe to be the same issue. Did you ever discover a way to allow your pipeline to use Git and check the ssl cert. properly?

[2021-01-15 22:24] naushad0502 commented on #2018
This does not work, I have also the same issue. This is happening in Bash@3 task in yaml pipeline.

[2021-01-17 08:38] thomasdgx opened #3211 "Get Sources (TFVC) Unshelve unmapped folders"
## Agent Version and Platform
Behaviour got changed with v2.174.0 (running on Windows)

## What's not working?

A gated checkin unshelves the pending changes during "Get Sources". With #3064 the default behaviour got changed. But there is need to support both flavours as there are quite some related issues asking for that behaviour. There are scenarios when the "Get Sources" should **not** fail fo

[2021-01-17 08:53] thomasdgx opened #3212 "Get Sources (TFVC) should support WorkspaceOptions.SetFileTimeToCheckin setting"
## Agent Version and Platform
Any

## What's not working?
TFVC workspaces support to preserve the timestamps of files. Here the workspace timestamp is set to the time which is within source control. This option has to be set before calling SyncSources.

### Internally the tf vc workspace tool is called which supports the setting already.

See the **/filetime** option:
[code]

### Need for both fla

[2021-01-18 09:18] tejasd1990 commented on #3156
Hi all, we are working on a fix for this, and will soom rollout. We will update on the rollout progress.

[2021-01-18 13:17] WYarde commented on #2267
@smann004 I mentioned a workaround in my initial post which worked for me at the time. Since then, my setup has changed. I now have a proxy in the middle which takes care of the client certificate authentication so I no longer run into the above issue.

Good luck!

[2021-01-18 15:14] litan1106 commented on #3156
@tejasd1990 thanks. We will love the Python3 fix.

[2021-01-18 18:45] tejasd1990 opened #3215 "installdependencies.sh does not work on ubuntu 20.10"
## Having issue with YAML?
No

## Having issue with Tasks?
No

## Having issue with software on Hosted Agent?
No

## Having generic issue with Azure-Pipelines/VSTS/TFS?
No

## Have you tried troubleshooting?
NA

## Agent Version and Platform
Version of your agent? Latest

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-pr

[2021-01-19 02:35] b-jam commented on #3156
You also need to add python2 to images/linux/scripts/installers/python.sh

Although, this workaround is frustrating as I am specifically using ubuntu20 because it has python3 (among other things)

[2021-01-19 05:46] maqsood81 commented on #2931
Here is the docker file i have same issue -

[Dockerfile.txt](https://github.com/microsoft/azure-pipelines-agent/files/5833876/Dockerfile.txt)

[2021-01-19 06:52] MarRich1 commented on #3198
Any new here?
We are blocked because of that

[2021-01-19 06:53] MarRich1 commented on #3199
Any new here?
We are blocked because of that

[2021-01-19 15:31] anatolybolshakov commented on #2490
@littleninja ok thanks - these error seem to happen for many reasons, one of them could be related to [issue](https://github.com/npm/cli/issues/529)
This error usually happens when package.json is missing - I reproduced this exact error by simply removing it, but can't reproduce if it exists...
Let me close this at the moment since it doesn't seem to be related to Npm task - please feel free to as

[2021-01-19 15:31] #2490 closed

[2021-01-19 16:12] anatolybolshakov commented on #2356
Hi everyone, this seems to be a known issue with NuGet - please see [this link](https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu3028#revocation-check-mode-481) for more details.
As @ArtourK mentioned - one of possible solution could be to set environment variable NUGET_CERT_REVOCATION_MODE = "offline" - it is not recommended under normal circumstances, but could help to reso

[2021-01-19 16:12] #2356 closed

[2021-01-19 16:34] anatolybolshakov commented on #3119
Hi @michellehodges looks like images are not attached - could you please attach them?
Could you also share agent logs?

[2021-01-20 08:05] echalone opened #3217 "Variable Build.BuildNumber should not be readonly"
Since readonly pipeline variables were introduced, Build.BuildNumber is one of them. However, that buildnumber is something we want to change during build because there's no official way to change it from the default generated one when starting a build. So what we do is, we change the Build.BuildNumber variable during build to the desired number. This works perfectly fine with old agents without r

[2021-01-20 08:56] anatolybolshakov commented on #3217
Hi @echalone could you describe your case in more details - why do you need to change it? As I see Build.BuildNumber is intended to be readonly value.

[2021-01-20 10:02] anatolybolshakov commented on #3198
Hi @karambawow @MarRich1 let me take a look at this issue

[2021-01-20 10:48] echalone commented on #3217
We have one pipeline for our all our builds (we can't make a new pipeline for every new version because of space constraints, we got a ~30 GB repository that would need to be checked out for every pipeline, not possible) and are building all our versions 1 and 2 and 3 etc. of our software with this build. Here's the issue:
If you enter for example 3.5.1.$(rev:r) for the build number in the options

[2021-01-20 10:55] pimjansen opened #3218 "File svc.sh not found"
## Agent Version and Platform
Version of your agent? https://vstsagentpackage.azureedge.net/agent/2.177.1/vsts-agent-linux-x64-2.177.1.tar.gz

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server? dev.azure.com

If dev.azure.com, what is your organization name?
https://dev.azure.com/SenetDeAppl

[2021-01-20 15:57] thomasdgx opened #3219 "PublishTestResults sporadically fails to publish all results"
## Agent Version and Platform
Version of your agent? v2.160 and later

## What's not working?
Our setup uses customized test execution. In order to publish test results we simply invoke the extension command: ""##vso[results.publish" like here:
[code]

Sporadically you see exceptions like (note I patched the agent code to dump the callstack - this output had been produced with v2.179):

[code]

Al

[2021-01-20 18:44] DeeDeeG commented on #3109
I think the bottleneck is mostly compression/decompression time.

---

Thoughts on optimizing compression/decompression time:

_(That can be optimized, too. Check out [Fedora's recent look at compression performance](https://fedoraproject.org/wiki/Changes/Switch_RPMs_to_zstd_compression) as a case study. Zstd is really fast and space-efficient. Some benchmarks from other sources: [[1](https://gith

[2021-01-20 18:59] DeeDeeG commented on #3109
@OranguTech is right that `tar` is usually used with any of a large variety of compression algorithms, popularly `gzip` or `xz`.

To compress with xz algorithm: `tar cJf out.tar.xz [path_to_compress]` (`J` shortflag is for xz)
To compress with gzip algorithm: `tar czf out.tar.gzip [path_to_compress]` (`z` shortflag is for gzip)

[2021-01-20 19:34] aminya commented on #3109
As I add the link to the original post, it just [uses Tar](https://github.com/microsoft/azure-pipelines-agent/blob/c0e90fadee6568832ee67b8e6745793527e8c0bb/src/Agent.Plugins/PipelineCache/TarUtils.cs#L19) which just **wastes** time and has no compression.

[2021-01-20 20:43] DeeDeeG commented on #3109
But what about these statistics printed during the cache restore?

[code]

The physical size downloaded is smaller than the actual content... About 1.5/5 (calculator says this is a bit under a third) of the original size.

Yes tar _can_ make archives that aren't compressed. But it can makes compressed ones, and almost nobody uses tar without compression... Just because the word tar is involved, th

[2021-01-20 20:45] DeeDeeG commented on #3109
Also it's not believable that the download takes minutes, but decompression takes zero seconds. The "download progress lines" are printed during the decompression task.

So I think the output for the cache task is misleading. It makes it look like the download is slow, but you're really seeing how long downloading and decompressing takes, combined.

[2021-01-21 02:31] casvel opened #3220 "Android build fails with NDK version error"
## Agent Version and Platform
Version of your agent? 2.181.0

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name?
https://onedrive.visualstudio.com

## What's not working?
Build started failing with error:

We were using the same NDK version for a little while and build was working fine until today. Was the

[2021-01-21 08:05] alexander-smolyakov commented on #3220
Hi @casvel, this issue related to the recent update of Windows images.
Closing as duplicate of https://github.com/actions/virtual-environments/issues/2481

[2021-01-21 08:05] #3220 closed

[2021-01-21 16:07] anatolybolshakov commented on #3172
Hi @DonKarlssonSan could you please share your full logs? From the first glance there seems to be an issue with project configuration (some assembly reference is missing).
You can send it to my email - v-anbols@microsoft.com
It would be also very helpful to have some minimal sample solution to reproduce this issue.

[2021-01-21 16:15] anatolybolshakov commented on #3161
Hi @jeffpatton1971 it seems to be related to the AzDevOps API, but not the agent itself - could you please create ticket on https://developercommunity.visualstudio.com/spaces/21/index.html to get right eyes on it?

[2021-01-21 19:41] yuanb commented on #3185
So, should I answer Y or N? I am still confused what it does, and what's the implication on chonices.

Thanks

[2021-01-22 10:39] anatolybolshakov commented on #3185
@yuanb Since enabling this options increases pipeline execution time, and it's necessary mostly for specific cases - I would suggest to leave default value - i.e. N

[2021-01-22 14:26] ganose commented on #838
4 years down the line and this still hasn't been implemented.

Is there any update on this or do we have to use a workaround?

[2021-01-22 14:37] perlman commented on #838
I gave up on using Azure DevOps for CI on pull requests.

[2021-01-22 17:44] s4ke commented on #2803
I ran into the issue as well. I was able to fix it by using this:

[code]

[2021-01-22 17:49] s4ke commented on #2803
It could be that the container is crashing immediately

[2021-01-23 13:40] KrylixZA commented on #2261
I have recently moved the self-hosted build agents that I manage for my organization from running as Windows Services directly on the machine into Docker containers running on a Windows base image [mcr.microsoft.com/dotnet/framework/runtime:4.8](https://hub.docker.com/_/microsoft-dotnet-framework-runtime/).

The Dockerfile is relatively straight forward:
1. Install VS 2019 Build Tools
2. Install V

[2021-01-25 05:21] KrylixZA commented on #3155
Bumping this thread as I am experiencing a similar issue. I recently moved my agent pool from running 3 instances of Azure Pipelines Agent installed directly on to a Windows Server 2019 VM to running the agents as Docker containers in an effort to try solve an issue with global tools influencing other jobs running on the same VM (more details are logged here - https://community.sonarsource.com/t/m

[2021-01-25 07:59] BonScottCH commented on #1322
Hi Iam having the same issue with version 2.181.0. Ist there a place where i can download 2.123.0 ? or is there a bugfix planned at some point?
We are running TFS 2018 on site.

[2021-01-25 10:58] gabrielmccoll commented on #1294
Not stale.

[2021-01-25 11:17] MaxB504 commented on #3041
I am also experiencing this issue intermittently.  Please see details for git-lfs failing agent and successful agent.  I have checked Agent version and both are 2.181.0. I have checked box "Checkout files from LFS" in Pipeline. Both logs are from the same pipeline, but different agents.

It seems some hosted agents have git-lfs and some do not, but I believe all should have git-lfs

**Failing agen

[2021-01-25 11:19] tastyeggs commented on #1294
Not stale

[2021-01-25 22:20] #3053 closed

[2021-01-26 16:41] MaxB504 commented on #3041
@indivara should I open a new issue, as this one refers to release v2.171.1 and I see the same error on 2.181

[2021-01-27 09:11] NenoLoje opened #3224 "Pipeline status banners not working for azure-pipelines-agent"
In the README.md, all **Azure Pipelines** badges show "unkown":

![grafik](https://user-images.githubusercontent.com/13981145/105968779-cc566e80-6087-11eb-87d7-ea8a2826cc35.png)

[2021-01-27 13:00] anatolybolshakov commented on #3027
Hi @SKO85 @biasync do you have any updates?

[2021-01-27 14:34] DaniilShmelev commented on #3224
Good catch, thanks for spotting this. Fixed it in [this PR](https://github.com/microsoft/azure-pipelines-agent/pull/3226)

[2021-01-27 14:34] #3224 closed

[2021-01-27 20:14] alexander-smolyakov commented on #3218
Hi @pimjansen,
The `svc.sh` script will be generated only after the **successful** agent configuration.

As  I can see from logs agent configuration failed with an authentication error:
[code]
Could you please verify that you use a valid PAT for agent configuration?

Also, let me attach some useful links from Microsoft docs:
- https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux

[2021-01-27 22:27] pimjansen commented on #3218
Well the thing is that the auth is ok during installation it seems since the agent is registered. Another thing about the PAT is that the comment to run all this is generated by Azure Devops itself, it is not a manual actions.

If i look further i see another error with a permission denied on /proc. This seems more like an error in the script to me?

[2021-01-28 02:49] anhdle14 commented on #3138
@kgorskowski You can actually do somethings with [pool.demands](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/demands?view=azure-devops&tabs=yaml#manually-entered-demands).

This solution works great with K8S and Docker. But the same thing can be achieved by a queue, serverless, and VMs. I only implemented the prior not the later.

There are 2 types of agent (both are azure-pipel

[2021-01-28 08:23] anatolybolshakov commented on #3155
Hi @dvmorris @KrylixZA could you please share your pipeline logs also which are relevant to the agent logs?

[2021-01-28 08:42] simonsabin opened #3228 "Agent shouldn't store PSModulePath as a capability"
## Agent Version and Platform
Version of your agent? '2.181.0'

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com/sabinio

## What's not working?
During capability scanning the agent was picking up that the psmodulepath was set to C:\Program Files\Microsoft Monitoring Agent\Agent\powershell. Because this was set the default powershell behaviour of adding

[2021-01-29 05:41] KrylixZA commented on #3155
Hey @anatolybolshakov. If it happens again, I will capture the agent logs. I fiddled with my Dockerfile a little and it appeared that I was missing some optional features in the Visual Studio Build Tools which meant the build just sat trying to initialize. After rebuilding and adding the features, the builds have been reliable. So it may be linked to agent capabilities but I can't be sure.

[2021-01-29 12:41] dvmorris commented on #3155
What specifically did you add to the dockerfile?

On Thu, Jan 28, 2021, 11:41 PM Simon Headley <notifications@github.com>
wrote:

[2021-01-29 13:36] KrylixZA commented on #3155
Scratch that - happened again. Interestingly, no logs were generated at all by the run.

Here are the logs:

[2021-01-29 12:55:05Z INFO VisualStudioServices] AAD Correlation ID for this token request: Unknown
[2021-01-29 12:55:55Z INFO MessageListener] No message retrieved from session '15b76cb4-533c-4174-b46d-70b684e05739' within last 30 minutes.
[2021-01-29 13:11:22Z INFO RSAEncryptedFileKeyMana

[2021-01-29 18:28] anatolybolshakov commented on #3161
Let me close this at the moment since it's not related to the agent itself.

[2021-01-29 18:28] #3161 closed

[2021-01-29 21:56] SKO85 commented on #3027
@anatolybolshakov , yes. Sorry for the late answer. I was not able to test with Raspbian OS, but teststed with Ubuntu 20.04 64bit ARM64 version for Raspberry Pi 4. The package as downloaded from the DevOps site worked without issues for me.

[2021-01-31 00:40] hangar18rip commented on #3217
Hello,
Here is a log command to do that :
https://docs.microsoft.com/en-us/azure/devops/pipelines/scripts/logging-commands?view=azure-devops&tabs=bash#updatebuildnumber-override-the-automatically-generated-build-number
Run it from an inline script and you're done ;)

Have tried it once or twice a few years ago

[2021-01-31 16:21] anatolybolshakov commented on #3155
@KrylixZA could you please share pipeline logs also? It could be helpful to determine timestamp when the job should have been started.

[2021-01-31 16:22] KrylixZA commented on #3155
@anatolybolshakov there were no pipeline log files created for the failed run. That's all I have, sorry.

[2021-02-01 10:45] MaxB504 commented on #3041
On further investigation I established that re-runnning older build attempts that did work, still worked, and taking the YAML from those builds and running in the most recent pipeline environ didn't work.
I have established that the declaration of a variable in the pipeline, (not within the YAML, but using the pipelines variable form), which I naively called 'path' was somehow stopping the use of

[2021-02-01 11:01] anatolybolshakov commented on #2750
Hi @ThKaufmann-PG could you please set VSTSAGENT_TRACE pipeline variable as 'true' and gather agent logs again?

[2021-02-01 11:37] anatolybolshakov commented on #3218
Hi @pimjansen did you start to see this issue with 2.177.1 agent version? Did you try it with last agent version also?
Is it intermittent or constantly reproducible?
Looks like something wrong happens during agent configuration, and svc.sh file is not generated...
Could you please try to run it with 'VSTSAGENT_TRACE' variable set as 'true' - to get more verbosed logs?

[2021-02-01 11:46] anatolybolshakov commented on #3119
Hi @michellehodges could you please agent logs?

[2021-02-01 11:49] anatolybolshakov commented on #3172
Hi @DonKarlssonSan is this issue still actual for you?

[2021-02-01 11:59] anatolybolshakov commented on #3155
@KrylixZA Do you know the timestamp of hung job? When it should have started, but haven't?

[2021-02-01 13:05] gabrielmccoll commented on #1294
What the deuce.  People commented not stale. Bad bot.

[2021-02-01 14:57] KrylixZA commented on #3155
Relative to the logs I added above, it is between these two logged outputs:

[2021-01-29 13:11:53Z INFO JobDispatcher] Job request message sending for job 3bf2df57-857a-5250-2f8f-945c718af65b been cancelled after waiting for 30 seconds, kill running worker.

More specifically, it is exactly at 13:11:23Z when the send job request message is made.

[2021-02-01 18:01] sandeepnegi1996 commented on #2565
my issue is solved by changing the option while creating the token set it to organizational level

[2021-02-01 21:12] anatolybolshakov commented on #2985
Hi @jeffpatton1971 I didn't manage to reproduce it with two artifacts from different github repos - could you please share your yaml file or provide some minimum reproducible sample?

[2021-02-02 02:20] AErmie opened #3233 "Azure DevOps - Self-Hosted Agents - Residual Artifacts Causing Subsequent Pipeline Execution Failures"
Here's an interesting and perplexing issue...

I’m using Azure DevOps Server (on-premises), in connection with using Self-Hosted Agents.

When executing a pipeline that creates several directories (ie. mkdir ABC), and also creates/stores files in these directories, on the very first time the pipeline is executed, everything works without issue.

However, on all subsequent pipeline execution attemp

[2021-02-02 11:36] whenmoon commented on #858
This does not work. Or at least in a way that would be useful to me. I want to be able to stop _any_ build pipelines, not just certain ones.

My scenario is that I commit to a branch when a pipeline runs - this pipeline is triggered by a branch policy when a PR is made to validate the build. But when pushing the commit the pipeline triggers itself and then fails because the previous run committed

[2021-02-02 17:53] mk-AVA commented on #3155
I ran into this issue this morning. We are running agent 2.181.0 on a windows 2016 server. I have pasted the agent logs below. The job was hung for about 45 minutes before the agent picked it up and ran it successfully. I think this might have happened once before  with agent version 2.179, but not recently enough that I would be able to locate the logs.

[Agent Logs-hung job.txt](https://github.c

[2021-02-03 08:24] hez2010 commented on #2048
Will this be supported in the future?
I think it's a quite useful feature, and gitlab runner already supported this.

[2021-02-03 09:14] anatolybolshakov commented on #3233
Hi @AErmie could you please share full agent logs containing this error?

[2021-02-03 11:38] anatolybolshakov commented on #3119
Closing this at the moment due to inactivity - please feel free to reopen or ping if it is still actual for you.

[2021-02-03 11:38] #3119 closed

[2021-02-03 18:06] fbrosseau opened #3235 "Wrong diagnostic for ##VSO DECODE_PERCENTS"
Hello

Following pipeline wrongfully gets tagged for the DECODE_PERCENTS breaking change, but it does not make any use of the ##VSO commands.

[code]

Actual output:

[code]

[2021-02-04 00:10] tbongiovani commented on #2931
I have same problen

my dockerfile

FROM docker:dind

RUN apk update

RUN apk upgrade

RUN apk add --no-cache bash

RUN apk --no-cache add curl

RUN apk --no-cache add wget

RUN apk --no-cache add jq

RUN apk --no-cache add git

RUN apk --no-cache add gnupg

RUN apk --no-cache add gdb

RUN apk --no-cache add icu-libs

RUN apk --no-cache add openssl

RUN apk --no-cache add jq

RUN apk --no-cache ad

[2021-02-04 07:29] PatrickGrub opened #3236 ""Add Resource" to environment script fails "SSL connection could not be established""
## Description

When I execute the script for adding a new Resource (virtual machine) to my environment the script fails:

![image](https://user-images.githubusercontent.com/36075173/106582635-81839d80-6544-11eb-8b66-a1d630af30de.png)

Log file

[code]

## Environment data

![image](https://user-images.githubusercontent.com/36075173/106585667-dc6ac400-6547-11eb-9aa6-65d0fd668cd5.png)

[2021-02-04 14:10] refex commented on #838
Still needing this.

[2021-02-04 16:12] EzzhevNikita commented on #3022
Hi @cawoodm, is this issue still actual for you?

[2021-02-04 17:51] cawoodm commented on #3022
Yes, sadly we are seeing this problem again and again. At the moment we see:

No connection could be made because the target machine actively refused it.

we are using a proxy but the proxy works fine and the agent is able to call home but not download artifacts reliably.

[2021-02-04 17:52] cawoodm commented on #3022
We updated to 2.177 which did not help.

[2021-02-04 18:24] fbrosseau commented on #3235
@max-zaytsev I believe this would be a bug.
@damccorm Thoughts? (Tagging because you appear to have been the primary committer for these changes)

[2021-02-04 23:22] exwindchiller opened #3238 "Install lttng-ust Causes CentOS 7 Ansible Hang due to Prompt"
https://github.com/microsoft/azure-pipelines-agent/blob/862c5c039f7b0711af46746512705e57bfee738e/src/Misc/layoutbin/installdependencies.sh#L198

When running from Ansible script, 'yum updateinfo' is prompting, which causes script to hang.

Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: d36uatko69830t.cloudfront.net
 * extras: d36uatko69830t.cloudfront.net
 * upda

[2021-02-05 05:58] EzzhevNikita commented on #3022
@cawoodm Since it is an actual issue, could you please share the actual logs from the pipeline with enabled debug mode. I didn't manage to reproduce it, so may be debug logs could give some more information about issue.

To enable debug logs you can just set _System.Debug_ environment variable with _true_ value in your pipeline, or you can do it from UI like it is described [here](https://docs.mic

[2021-02-05 07:58] cawoodm commented on #3022
The entire log is sensitive and it contains no errors. I have extracted the pertinent bits for you:

[code]

[2021-02-05 08:00] cawoodm commented on #3022
## Agent Logs
[code]

[2021-02-05 08:24] EzzhevNikita commented on #3022
Thank you for it, but could you please share also logs for DownloadPipelineArtifact task itself, which is produced by pipeline (you can find [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#view-and-download-logs) how to find this log).  If there are any sensitive data, you can remove/mask them.

[2021-02-05 09:57] cawoodm commented on #3022
## Download Pipeline Articat Log
[code]

[2021-02-05 14:54] damccorm commented on #3235
Hey @fbrosseau thanks for calling this out - I think this is actually sort of right that its spitting out errors, the task itself is setting variables with %25. With that said, we've gotten a lot of false positives from this change where %25 is actually a valid thing that people don't want unescaped. I put up https://github.com/microsoft/azure-pipelines-agent/pull/3241 which should fix the issue

[2021-02-05 15:36] fbrosseau commented on #3235
Thanks @damccorm for confirming.

BTW, will this open the door to being able to output multiline errors/warnings? That'd be really great and we would have multiple usecases for it.

[2021-02-05 18:33] damccorm commented on #3235
Hey @fbrosseau - this would not be related to that. Offhand I'm not sure how we format those, but we do already handle unescaping new line characters (which should be written as %0A) - again, I'm not sure how we format those in our output offhand though. If there's an issue with those, you should file a separate issue for that though, I'd prefer to keep this one focused on the %25 issue

[2021-02-05 19:44] kartsm commented on #2985
I am affected by this as well; we had a release pipeline that started breaking after we added a second GitHub artifact.  We were using self-hosted agents running version 2.177.1.

@jeffpatton1971 My teammate proposed this workaround, and it worked for us:
- store GitHub credentials (username and personal access token) in a variable group
- add that variable group to the release pipeline
- add a ta

[2021-02-06 17:06] kerwinc commented on #3070
Yup. Same issue here.

Still getting this warning even though I've switched to the newer tasks for both uploads and downloads. My builds are using windows-2019 and ubuntu 18.04 hosted agents.

[The docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/build-artifacts?view=azure-devops&tabs=yaml) are clear but the warnings are annoying.

[2021-02-07 05:24] hez2010 opened #3243 "Feature request: allow to set MTU manually"
If azure pipelines agent running on k8s, in docker in docker scenario we need to set MTU value, otherwise the container in docker will face networking issues:

https://github.com/microsoft/azure-pipelines-agent/blob/9fecae130bc731a28e53ef0d8d5c630ebbb7229e/src/Agent.Worker/Container/DockerCommandManager.cs#L232

MTU value can be specified by `com.docker.network.driver.mtu`, for example:

[code]

C

[2021-02-08 10:37] sennerholm commented on #3138
@anhdle14 It would be interesting to know more. I currently run something that is based on: https://github.com/anoff/autoscaling-ci-agents-on-aks
but that seems dead, and all other projects I have found to run some azure agents on k8s also. Something was on the azure devops roadmap before, but I don't know the status of it.

[2021-02-08 14:02] anhdle14 commented on #3138
@sennerholm Yes this is basically the gist of my solution as well. The best way to go forward is to write a complete K8S API controller and analyze the current number of jobs from either Azure API or manually. However, I think it is just better to use [Tekton.cd](https://tekton.dev) at this point.

My solution from above is simpler but easier to execute. I don't think I am the only one thing of it

[2021-02-08 14:42] sennerholm commented on #3138
@anhdle14 Thanks for the quick reply and your gist.

Currently the policy is azure devops, so I can't go the Tekton.Cd path.
The Anoff code is doing some analyzing of the number of jobs etc, but it's not maintained and needing some improvement to fit our needs. I
Anyone who knows about any living project for doing an analyzing of the Azure API and integrate it to K8s? I prefer to try to improve so

[2021-02-08 15:06] AErmie commented on #3233
Hey @anatolybolshakov, sorry for the delay (I missed your message). Here are the logs.
[logs_93296.zip](https://github.com/microsoft/azure-pipelines-agent/files/5944509/logs_93296.zip)

[2021-02-08 15:22] EzzhevNikita commented on #3022
Hi @cawoodm, I still didn't manage to reproduce this issue. I've tried a simple scenario with DownloadPipelineArtifactV1 task and Agent running behind the proxy and it looks like it works fine for me.
It seems to me that the problem could be related to your infrastructure configuration. Your firewall or network configuration may be blocking task requests.
Could you please ensure that the agent can

[2021-02-08 15:49] resried opened #3250 "Alternate Agent runsvc asks for node6"
## Agent Version and Platform
Version of your agent? pipelines-agent 2.180.1

OS of the machine running the agent? Linux

Variant: Pipelines-agent (no node6)

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server? dev.azure.com

If dev.azure.com, what is your organization name? swisslife

## What's not working?
On Linux Agent cannot be st

[2021-02-08 15:52] cawoodm commented on #3022
Hi @EzzhevNikita our Network teams says everything is open and nothing has changed - this was all working 2 weeks ago. We know the *agent* sees the internet but what we don't know is why the *task* can't download the artifact reliably. What we have seen in the past is that some tasks don't respect the .proxy file of the agent nor the HTTP_PROXY variable.

Looking at CPorts we see many connections

[2021-02-08 16:18] EzzhevNikita commented on #3022
@cawoodm By the way is it happens from time to time on particular agents or does the problem appear all the time for all pipeline runs on any agent?

[2021-02-08 16:27] cawoodm commented on #3022
OK, I've checked again and it seems our environment `HTTP_PROXY` and `HTTPS_PROXY` were not set correctly!

Could I recommend that the tasks somehow logs the real issue: internet connectivity AND maybe it would be nice if it used the defined proxy of the agent?

[2021-02-08 16:38] cawoodm commented on #3022
We now have the problem I have reported before that the download never ends:
![image](https://user-images.githubusercontent.com/498834/107251076-6200df00-6a34-11eb-9e77-0717bebf2ca9.png)

[2021-02-08 16:51] EzzhevNikita commented on #3022
I've checked your another ticket by this problem[ you wrote](https://github.com/microsoft/azure-pipelines-tasks/issues/13144#issuecomment-646584791) the problem is appearing only on one windows server. Is this problem still specific only to this server?

[2021-02-08 17:34] cawoodm commented on #3022
Same issue on 2 different servers I'm afraid.

[code]
This goes on for 30min before I end it:
[code]

[2021-02-08 18:10] cawoodm commented on #3022
I've tried to download the Artifact URL with PowerShell on the server but the result is a 203 html page:
![image](https://user-images.githubusercontent.com/498834/107262856-5bc52f80-6a41-11eb-8fad-f37bea62209e.png)

[2021-02-08 18:24] cawoodm commented on #3022
I've configured Fiddler on localhost:8888 and set HTTP_PROXY and HTTPS_PROXY to `http://localhost:8888`.

The initial log is:
[code]
But there are no `HTTP_*` variables listed.

The Task shows the same (download 100% forever) but we see no traffic in fiddler.

In the task we see the following:
![image](https://user-images.githubusercontent.com/498834/107264144-e9554f00-6a42-11eb-9609-1e186016a19b.

[2021-02-08 18:26] cawoodm commented on #3022
We can see the entire artifact has downloaded to `\_work\r1\a\Artifact\Artifact` but the task does not seem to understand this. My feeling is that a `Content-Length` header is incorrect.

[2021-02-08 18:37] cawoodm commented on #3022
Upgrading agent to 2.181.1 does not help. The 22MB artifact is downloaded but the task doesn't end...

[2021-02-08 18:39] cawoodm commented on #3022
Ultimately I am not conviced the task is respecting the HTTP_PROXY settings.

[2021-02-08 18:42] cawoodm commented on #3022
[code]

[2021-02-08 19:00] cawoodm commented on #3022
## Agent_...log

[code]

[2021-02-09 01:43] tolgabalci commented on #3185
My issue is the broken English/Explanation behind the prompt. Based on the discussion here the options seems to have a good purpose but it's difficult to understand what exactly is being asked in the prompt.

Why is the word "Enter" in front of the quest? I guess the user prompt mechanism always adds Enter to the beginning of the question.  But the question itself should take that in to considerat

[2021-02-09 06:33] EzzhevNikita commented on #3022
@cawoodm Could you please try to use DownloadPipelineArtifactV2 and check if the issue will appear with it?

[2021-02-09 06:36] alexander-smolyakov commented on #3218
@pagangil, is this issue still actual to you?

[2021-02-09 07:27] cawoodm commented on #3022
We are using Release Pipelines (not YAML) - I see no option to change the task version as it's implicit.

[2021-02-09 08:51] cawoodm commented on #3022
We could solve this much more easily if I could tell the task which proxy to use - If I could see the traffic in Fiddler we would know the issue.

[2021-02-09 08:58] cawoodm commented on #3022
I've created a new release pipeline from scratch - it always uses DownloadPipelineArtifact `Version      : 1.2.5`.

[2021-02-09 09:08] cawoodm commented on #3022
OK, we seem to have solved the issue by *downgrading* the agent to `1.165` as mentioned here #13144.

Can we report this bug somehow?

[2021-02-09 10:46] Jetski5822 opened #3252 "Publishing Artifacts throws Forbidden sporadically with latest version (2.181.1)"
## Agent Version and Platform
2.181.1, Windows Server 2016

## Azure DevOps Type and Version
dev.azure.com with on-premises agents

If dev.azure.com, what is your organization name? https://dev.azure.com/tesco-colleague

## What's not working?
After updating to the latest Azure Agent version, Publishing Artifacts seems to throw Forbidden exceptions regularly.

It starts to upload and then just fai

[2021-02-09 10:46] EzzhevNikita commented on #3022
@cawoodm We will investigate the issue with the failures of the agent with the version higher than 1.165. Do you want to close this one and create another bug for it, or I something misunderstood in your question?

[2021-02-09 10:53] Jetski5822 commented on #3252
I have a worker log file too... could I email it to someone instead of putting it here...?

[2021-02-09 11:08] cawoodm commented on #3022
I have created 2 tickets to this issue now - one was closed as stale but the issue unsolved. I can create another ticket if that helps - I really don't care but we need this fixed as we have seen other issues when we use old agent versions so this downgrade is only a workaround for now.

[2021-02-09 11:11] EzzhevNikita commented on #3022
Got it, then let's track an activity in this ticket

[2021-02-09 11:31] egor-bryzgalov commented on #3198
Hi @karambawow @MarRich1

Could you please provide us with some more details about your use case to allow us to investigate it further? Current behavior was chosen to resolve the issue described in ticket #1087.

[2021-02-09 12:15] EzzhevNikita commented on #3022
@cawoodm I did manage to receive this issue in my local environment, in my situation it was caused by a lot of concurrent request. Can I ask you to try to reduce the number of parallels request of this task by setting the AZURE_PIPELINES_DEDUP_PARALLELISM environment variable for example to 32 instead of default 192. Just wanted to check that it could be a problem on newer version of tasks for som

[2021-02-09 12:55] alexander-smolyakov commented on #3252
Hi @Jetski5822, sure, here's my email - v-alsmo@microsoft.com

[2021-02-09 13:38] viazovskyi commented on #3218
Looks like NullException happens here https://github.com/microsoft/azure-pipelines-agent/blob/fdf114ff56c21a02c37a86420e005c259f18929d/src/Agent.Listener/Configuration/ServiceControlManager.cs#L49

It occurs when agent is required for environment and calculated service name length is greater than 80. Evaluating settings.PoolName.Length raises null exception.

[2021-02-09 14:32] Jetski5822 commented on #3252
Note: Submitted Worker file.

[2021-02-09 15:45] EzzhevNikita commented on #3022
@cawoodm Could you please also share task log with enabled diagnostic in pipeline on agent that is affected by the issue. You need to to set _System.Debug_ to _true_ for it (There are some other information about [troubleshooting](github.com/microsoft/azure-pipelines-agent/blob/763575e4443b61e2957d60dca9a9e068d29ccd92/docs/troubleshooting.md) ). In this way task will contain verbose logs.

[2021-02-09 18:56] kerwinc commented on #3070
Looks like the PublishCodeCoverageResults@1 task is the culprit. So if you used the PublishCodeCoverageResults@1 task before the DownloadPipelineArtifact@2 and don't specify the artifactName when downloading artifacts, it attempts to download files from the published coverage results matching the globbing pattern.

Specifying the artifactName seems to work for me.

[code]

[2021-02-10 05:41] little-eyes opened #3255 "ImportError: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.29' not found"
## Agent Version and Platform
Version of your agent? 2.181.1

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com

If on-premises, which release? 2015.0, 2017.1, 2019 RC2, etc.

If dev.azure.com, what is your organization name? https://dev.azure.com/microsoft

## What's not working?
When using a python:3.8 docker container to run the job, I got the following

[2021-02-10 08:48] Jetski5822 commented on #3252
So; I have been monitoring this for a couple days now and this is what I've noticed.

publishbuildartifacts = Works fine, and every time
publishpipelineartifact = Fails sporadically with forbidden.

`
Starting: Publish Artifacts
==============================================================================
Task         : Publish build artifacts
Description  : Publish build artifacts to Azure Pipel

[2021-02-10 08:49] Jetski5822 commented on #3252
So; I have been monitoring this for a couple days now and this is what I've noticed.

publishbuildartifacts = Works fine, and every time
publishpipelineartifact = Fails sporadically with forbidden.

`
Starting: Publish Artifacts
==============================================================================
Task         : Publish build artifacts
Description  : Publish build artifacts to Azure Pipel

[2021-02-10 08:54] anatolybolshakov commented on #3238
@exwindchiller thanks for reporting this! We merged the fix, and will let you know once it will be rolled out.

[2021-02-10 12:12] cawoodm commented on #3022
I have posted all logs with system.debug true.

[2021-02-10 12:14] cawoodm commented on #3022
We looked at procmon during the issue and saw some attempts of the agent to directly connect with Azure:
![image](https://user-images.githubusercontent.com/498834/107508769-c7261300-6ba1-11eb-936d-4b90374cbd6c.png)

This should not work since we have no access to internet hosts like 52.174.224.26 without a proxy.

[2021-02-10 12:43] alexander-smolyakov commented on #3252
@Jetski5822, could you please tell us which version of the agent you used before the update?

[2021-02-10 14:01] Jetski5822 commented on #3252
@alexander-smolyakov Looks like we went

2.177.1 (2021-01-24) = Working
2.181.0 (2021-01-25) = Sporadically not working
2.181.1 (2021-02-08) = Sporadically not working (same as above)

[2021-02-10 14:34] alexander-smolyakov commented on #3255
Hey @little-eyes, it seems this problem related to virtual images.
Closing as duplicate of https://github.com/actions/virtual-environments/issues/2634

[2021-02-10 14:34] #3255 closed

[2021-02-10 18:02] hangy commented on #483
The bot doesn't seem to recognize the `no-stale` label?

[2021-02-10 20:11] anatolybolshakov commented on #2750
Hi @ThKaufmann-PG is this issue still actual for you?

[2021-02-10 20:22] anatolybolshakov commented on #3172
@DonKarlssonSan I suspect that this could be related with project configuration - I can't reproduce it with test win forms project and VSBuild task.
I'm closing this due to inactivity - please feel free to reopen or ask further questions if it's still actual for you.

[2021-02-10 20:22] #3172 closed

[2021-02-10 20:32] anatolybolshakov commented on #3100
Hi @Resserr I assume this would be some enhancement for Azure DevOps and external assemblies which agent is using - could you please create the ticket on [developer community](https://developercommunity.visualstudio.com/spaces/21/index.html) to get the right eyes on it?

[2021-02-10 20:33] anatolybolshakov commented on #3100
Let me close this once since it doesn't seem to be related to the agent itself - please feel free to ask any further questions!

[2021-02-10 20:44] anatolybolshakov commented on #3189
Hi @spersov could you please describe your case in more details - why do you need this change? Pipelines agent doesn't use tfx-cli itself.

[2021-02-10 23:35] richardgavel opened #3257 "Checkout: self inside a container"
## Agent Version and Platform
2.179.0

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/Ascendon

## What's not working?

We have a pipeline with a multi-repository checkout that uses a container. The checkout of the secondary repo works fine, but the checkout: self runs into the fo

[2021-02-10 23:38] onlyann commented on #1569
The output from `New-AzResourceGroupDeployment -Whatif` isn't color coded using the AzurePowershell task from the pipeline web console.
Is it related to this issue?

[2021-02-11 04:59] mjroghelia commented on #3252
cc @fadnavistanmay In case you have any insights on this one.

[2021-02-11 06:01] migrulos opened #3258 "Additional branch with commit-name while pre-checkout"
Hello. Yesterday we updated the agent from version 2.170.1 to version 2.181.1. And after that pre-checkout in jobs started to behave strangely.
If earlier, during checkout, branches and tags were created, now another branch is added, with the name in the form of a hash of the last commit.
This creates problems when mirroring in a Gitlab.

Logs from pre-checkout:
git -c http.extraheader="AUTHORIZAT

[2021-02-11 08:35] DalpheSDC opened #3259 "New Node.JS 10.23.0 vulnerability - security requirement"
Agent NodeJS tool have a vulnerability

Due to new vulnerability for Node.JS 10,23  we have a new requirement for a security update of Node.JS 10 to version 10.23.1. or never.

Node.js Multiple Vulnerabilities
CVE references: CVE-2020-8265 | CVE-2020-8287 | CVE-2020-1971
Solution:
Update to version 10.23.3.

## Have you tried troubleshooting?
[Troubleshooting doc](https://www.visualstudio.com/en-u

[2021-02-11 10:04] anatolybolshakov commented on #3100
@mjroghelia could it make sense to add new variable for it, what do you think? Would it be enhancement on Azure DevOps side?
Currently 'System.PullRequest.TargetBranch' variable is initialized only if build ran because of Git PR affected by a branch policy according to [docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml).

[2021-02-11 10:07] anatolybolshakov commented on #3217
Thanks @hangar18rip!
@echalone does this build command work for you?

[2021-02-11 10:38] anatolybolshakov commented on #3168
@PaulVrugt would it work work you if it would be possible to run maintenance job more than one time during the day?

[2021-02-11 10:51] PaulVrugt commented on #3168
@anatolybolshakov yes this would work for us I think. Right now we added manual clean tasks to the end of some of our pipelines to avoid the disk to fill up during the day, but being able to run maintenance during the day would be a much more elegant solution.

Of course, a fully automated monitoring that automatically triggers a maintenance job if disk space is low would be even better, but that

[2021-02-11 11:26] anatolybolshakov commented on #3071
Hi @vsevolodp which extract tool do you use? Currently agent is just downloading node package from https://nodejs.org/dist/ during set up.

[2021-02-11 11:28] anatolybolshakov commented on #3027
@SKO85 thanks!
@biasync do you still see this issue with Raspbian OS?

[2021-02-11 11:34] anatolybolshakov commented on #2378
I double-checked the logs of original issue - it seems that error happened during console output ([line](https://github.com/microsoft/azure-pipelines-agent/blob/bf4659b1cc686869234e2f9f3ce9d0b279132e48/src/Agent.Listener/JobDispatcher.cs#L407)), which has been removed in latest versions of agent - so I assume this one is not actual for last agent version.
Let me leave this open to investigate issu

[2021-02-11 11:59] echalone commented on #3217
I didn't have time yet to test it, thanks @hangar18rip for the tip at least, I'll try it out as soon as I find some time for that, might be a few weeks ^^

[2021-02-11 13:33] anatolybolshakov commented on #3041
Hi everyone, according to [docs](https://developer.lsst.io/v/DM-5456/tools/git_lfs.html#installing-git-lfs) git-lfs requires git v1.8.2 or higher to be installed.
The windows agent have in-the-box git, but for linux - it's required to be installed on system.
@pri-kise could you please try to update your agent version to the latest one?
@MaxB504 probably there were some changes for Path environment

[2021-02-11 13:39] anatolybolshakov commented on #3043
Hi @iambernics looks like this variable's value comes from Azure DevOps - could you please create ticket on https://developercommunity.visualstudio.com/spaces/21/index.html to get right eyes on it?

[2021-02-11 13:40] anatolybolshakov commented on #3043
Let me close this one since it doesn't seem to be related to the agent itself - feel free to ask any further questions!

[2021-02-11 13:40] #3043 closed

[2021-02-11 14:07] anatolybolshakov commented on #3058
Hi @k-eb would it make sense to just re-configure the agent without --gituseschannel option?
For global git config - have you tried to specify it for specific user which runs the agent as mentioned [here](https://github.com/microsoft/azure-pipelines-agent/issues/2576#issuecomment-550001950)?

[2021-02-11 14:18] EzzhevNikita commented on #3022
Hi @cawoodm, I've rechecked all of your logs and performed some additional checks on my side. So I can say that the agent that is correctly set upped to use proxy wouldn't try to perform such requests as in previous comment. Based on it I think that the reason of your issue is agent configuration.

Could you please try to setup new agent using the command from [this](https://docs.microsoft.com/en-

[2021-02-11 14:27] Jetski5822 commented on #3252
Just to give you an idea of the weird behaviour;

 Publish Pipeline Artifacts:

 Attempt1:

[code]

 Attemp2:

[code]

 Publish build artifacts:

[code]

 Ill update the agents to 2.181.2 and see if the error remains.

[2021-02-11 14:53] mjroghelia commented on #3258
@jeschu1 FYI, related to checkout changes.

[2021-02-11 14:56] #3259 closed

[2021-02-11 15:40] anatolybolshakov commented on #3100
Hey @Resserr this seems to be more related to Azure DevOps - could you please create ticket on https://developercommunity.visualstudio.com/spaces/21/index.html to get right eyes on it? Let me close this one since it doesn't seem to be related to the agent itself.

[2021-02-11 15:40] #3100 closed

[2021-02-11 15:59] anatolybolshakov commented on #3217
@echalone thanks! If you will have any further issues with it - could you please create ticket on https://developercommunity.visualstudio.com/spaces/21/index.html to get right eyes on it?

[2021-02-11 15:59] #3217 closed

[2021-02-11 16:07] Jetski5822 commented on #3252
Okay - I have finally found someone where I work on the network team, and its being blocked by the corporate proxy.

The error Forbidden is weird for this however.

Closing - Thanks team.

[2021-02-11 16:07] #3252 closed

[2021-02-11 16:14] anatolybolshakov commented on #3076
Hi everyone, since this issue is related to adding of new variable - could you please create ticket on https://developercommunity.visualstudio.com/spaces/21/index.html to get right eyes on it?

[2021-02-11 16:14] #3076 closed

[2021-02-11 16:26] anatolybolshakov commented on #3001
Hi @ActualReverend @zleight1 this sounds like a permissions issue on Azure DevOps Server side - could you please create the ticket on https://developercommunity.visualstudio.com/spaces/21/index.html to get right eyes on it?
Let me close this one since it doens't seem to be related to agent itself.

[2021-02-11 16:26] #3001 closed

[2021-02-11 16:27] anatolybolshakov commented on #3197
Hi @japj thanks for reporting this - we made a fix and will roll it out soon, will let you know once it's available.

[2021-02-11 16:43] max-zaytsev commented on #3250
Hi @resried, Could you please update the agent to a newer version and try again?

[2021-02-11 17:35] fadnavistanmay commented on #3252
Yes, in most of the cases, the proxy is the culprit!

[2021-02-11 20:37] arpanshah78 commented on #3212
@thomasdgx I support your proposal. I ran across the same issue today and want the same feature.

[2021-02-11 21:20] Chefkoch81 commented on #3250
I have the same issue and just tried it with v2.181.2, which is the newest available right now.

[2021-02-11 21:42] resried commented on #3250
@Chefkoch81
As a workaround you can edit manually bin/runsvc.sh and switch in there from node to node10.
Didn't help me, since the docker-Plugin is still using node6, but maybe it helps you.

[2021-02-11 22:03] Chefkoch81 commented on #3250
I did just that and it works. Thank you!

Since you are mentioning the docker plugin and the necessity for node6, thats a dealbreaker. Too bad, going to revert.

IT is all over me because of automated scans find node6 (which is EOL) and I need to remove it. EOL software is not allowed here in general.

[2021-02-12 00:26] AnshumanTripathy opened #3264 "Deployment Agent Group - Release Pipeline Bash Task"
## Having issue with BASH Task - Deployment Group Agent.

Simple jboss server start in bash command

**_sh -x /apps/NBUPT/jboss-eap-7.1/bin/standalone.sh -b servername &_**

Starts the server with the application deployed immediately kills the server as soon as the Bash Task is done.
If I pass a wait, it waits for the command to start the server then somewhere in the middle the task is completed a

[2021-02-12 08:17] sdobrodeev commented on #3190
Hi @matthewhembree this problem is still actual to you? It looks like a temporary network problem with the repository server.

[2021-02-12 11:06] MaxB504 commented on #3041
Hi @anatolybolshakov
I no longer have any issues on the AzDO hosted build agents.  git-lfs is functioning as expected

[2021-02-12 11:08] cawoodm commented on #3022
I will explain how we upgrade/downgrade in case this is causing the issue.
We delete `bin/` and `externals/` and replace it with the new/old version.
We do this because the automatic update never seemed to [work](https://github.com/microsoft/azure-pipelines-agent/issues/2567).

Are we supposed to delete our entire agent and re-configure for each update?

[2021-02-12 16:50] cforce commented on #2018
REOPEN! This still a bug

[2021-02-12 19:32] mjroghelia commented on #3250
@max-zaytsev For context, we have started publishing alternate packages of the agent that don't include Node 6. See [these notes](https://github.com/microsoft/azure-pipelines-agent/blob/v2.181.2/docs/node6.md). [This script](https://github.com/microsoft/azure-pipelines-agent/blob/master/src/Misc/layoutbin/runsvc.sh#L16) needs to be updated to use `node10` instead of `node` in the externals directo

[2021-02-12 21:27] matthewhembree commented on #3190
@sdobrodeev This is working now, but my concern shifted to being unable to deploy agents when that server is unavailable. Is there a way to mirror that dependency under Microsoft?

[2021-02-14 12:47] Jetski5822 commented on #3252
For anyone who (is) interested in the issue...

The proxy scans the files on the way out, and if it cant read or identify them it blocks them. When moving from Build to Pipeline artifacts, Pipelines uploads in a different manner to that of Build Artifacts. The proxy cant read it, and so block the stream.

The URL wasnt blocked; just the stream.

So - long story short, if you have this weird issue

[2021-02-15 07:34] EzzhevNikita commented on #3022
I'm not sure that it will require to reconfigure your agents for all updates.
Did you managed to reconfigure/ setup new one agent and check if issue with task is still exists?

[2021-02-15 10:01] cawoodm commented on #3022
We have removed the agent and done a fresh install of 2.181.2 - this has not helped. Here is the log with system.debug=true:

[code]
This just keeps going forever or until a timeout.

![image](https://user-images.githubusercontent.com/498834/107931909-370b1380-6f7d-11eb-8bcc-28e8d7f5aed1.png)

[2021-02-15 10:14] armanriazi commented on #1327
Yep, the red messages because the command-line path is out of folder agent, so it is the better "cd" to agent folder and then run "config.sh"

[2021-02-15 10:49] anatolybolshakov commented on #2750
@ledzep70 @ThKaufmann-PG  @gksanam I'm closing this due to inactivity at the moment - please let us know if it is still actual for you.

[2021-02-15 10:49] #2750 closed

[2021-02-15 13:46] RamkiUIPath commented on #1207
Is there any workaround for this?
In our pipelines, test results will be published to a URL and runId gets masked 🤦‍♂️

[2021-02-15 14:16] anatolybolshakov commented on #3104
Hi @fafinsch this sounds like a feature for Azure DevOps Server itself - could you please create ticket on https://developercommunity.visualstudio.com/spaces/21/index.html to get right eyes on it?
Let me close this one since it's not related to the agent.

[2021-02-15 14:16] #3104 closed

[2021-02-15 15:50] anatolybolshakov commented on #2018
@WolfieZero @douglasoliveirabh currently pipeline variables are working in one direction - you can specify variable values before build run, but these values won't be affected by pipeline run in UI.
If you want some change on this - could you please create ticket on https://developercommunity.visualstudio.com/spaces/21/index.html to get right eyes on it?
@xmenge @lis-maria @keamas @naushad0502 @cf

[2021-02-15 15:50] #2018 closed

[2021-02-15 17:17] k-eb commented on #3058
@anatolybolshakov , If I omit --gituseschannel, wouldn't the build agent write sslBackend=openssl instead?

Also, there used to be issues whether the build agent did not consider global Git settings. See above. Maybe that was resolved meanwhile?

[2021-02-16 11:30] anatolybolshakov commented on #2937
Hi @sgerace I can't reproduce the issue with example above with 2.179.0 agent version and latest - $(Agent.TempDirectory) is resolved for host path for this case.
For any usage inside of the container - it is resolved as mapped path.
Could you please share more details about case where it behaves wrong?

[2021-02-16 13:30] EzzhevNikita commented on #3022
@fadnavistanmay Do you have any insights on this one?

[2021-02-17 08:19] sdobrodeev commented on #3190
@matthewhembree Unfortunately, we can't provide mirror for CentOS and other internet resources due to maintenance concerns.

[2021-02-17 09:09] #3190 closed

[2021-02-17 09:12] anatolybolshakov commented on #3257
Hi @richardgavel could you please share your yaml file with some minimal repro steps?

[2021-02-17 11:26] EzzhevNikita commented on #2738
@ghost Is still an actual issue for you?

[2021-02-17 12:51] sdobrodeev commented on #3196
@davisnw, this looks like this issue is related to external assembly which agent is using - scorch command throws an error when root mapping is not defined. Could you please create ticket on https://developercommunity.visualstudio.com/spaces/21/index.html so we could triage it properly?

[2021-02-17 12:52] sdobrodeev commented on #3196
Closed the issue. Please feel free to ask any further questions.

[2021-02-17 12:52] #3196 closed

[2021-02-17 13:03] cawoodm commented on #3022
We can reproduce this issue even on Linx with the 2.177.1 agent.

[2021-02-17 13:05] EzzhevNikita commented on #3022
@cawoodm Can I also ask you to add _VSTS_AGENT_HTTPTRACE_ and _VSTSAGENT_TRACE_ variables with true value to the pipeline and share Agent, Worker and Task logs after that. This should show some more information regarding agent's requests. You can attach this logs as a files, since they are rather long.

[2021-02-17 13:16] cawoodm commented on #3022
This is weird: I ran it twice and it failed twice (Linux 2.177.1). Then I set the environment variables you said and it succeeded.
[tasklog_4 (5).log](https://github.com/microsoft/azure-pipelines-agent/files/5995867/tasklog_4.5.log)

[2021-02-17 13:17] cawoodm commented on #3022
[Agent_20210217-130807-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/5995875/Agent_20210217-130807-utc.log)
[Worker_20210217-130819-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/5995876/Worker_20210217-130819-utc.log)

[2021-02-17 13:19] EzzhevNikita commented on #3022
Could you please check if it will have the same behavior on Windows?

[2021-02-17 13:19] cawoodm commented on #3022
The above logs are the successful run (13:08 UTC) with the trace variables set.

The fail logs (13:03 UTC) without the variables:
[Worker_20210217-130359-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/5995881/Worker_20210217-130359-utc.log)
[Agent_20210217-130323-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/5995883/Agent_20210217-130323-utc.log)

[2021-02-17 13:23] cawoodm commented on #3022
Can we delete these logs? I don't want them public.

[2021-02-17 13:27] EzzhevNikita commented on #3022
Sure. Also if you don't want to share logs here you can just send all the future logs to my email - v-niezz@microsoft.com

[2021-02-17 13:27] cawoodm commented on #3022
Also on Windows 2.181.1 the agent now runs successfully when I set the variables you proposed.
[Agent_20210217-132234-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/5995944/Agent_20210217-132234-utc.log)
[Worker_20210217-132352-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/5995948/Worker_20210217-132352-utc.log)

[2021-02-17 13:32] EzzhevNikita commented on #3022
Hmm, that sound interesting, since this variables affecting only log level.

[2021-02-17 13:32] cawoodm commented on #3022
Could you delete your comment referencing my log above?

[2021-02-17 13:54] EzzhevNikita commented on #3022
Just for interest, could you please check which of those variables give such result (just try to add them separately to the pipeline)?

[2021-02-17 14:19] kohithms opened #3270 "New issue | DECODE_PERCENTS is not working on Azure devops agent Version 2.181.2"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

I am using the below

[2021-02-17 14:23] kohithms commented on #3270
[https://github.com/microsoft/azure-pipelines-agent/commit/6dd5c59e042b437f1d639aaaa84879cf82886385](url)

[https://github.com/microsoft/azure-pipelines-agent/issues](url)

[2021-02-17 14:49] damccorm commented on #3270
Hey @kohithms this change was applied in agent release 2.182.1, it looks like you're using version 2.181.2 in your example, so it shouldn't have the change yet

[2021-02-17 14:59] bvbellomo opened #3271 "Cannot connect mac to TFS without SSL: requires an interactive prompt"
I am trying to ./config.sh a v2.181.2 of the build agent from a Macbook running Big Sur to our TFS server that does not support SSL and is running 15.117.27024.0.

Logs shows:
Authentication failed with status code 401.
Windows issued token provider instance 48006333 requires an interactive prompt which is not allowed by the current settings

[2021-02-17 14:38:34Z INFO AgentProcess] Agent package

[2021-02-17 17:54] EzzhevNikita commented on #3022
@cawoodm Could you please write once again the results of your testing with VSTS_AGENT_HTTPTRACE and VSTSAGENT_TRACE variables (just for visibility), since you have deleted that while deleting logs.

[2021-02-17 18:07] #483 closed

[2021-02-17 21:52] anatolybolshakov commented on #3271
Hi @bvbellomo is your PAT token actual and not expired, is it 'Agent Pools (read, manage)' scoped?

[2021-02-17 22:40] fadnavistanmay commented on #3022
Just to double check, that the agent is configured correctly to use the proxy, - https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/proxy?view=azure-devops&tabs=windows AND you have included all the domains in the allow list - https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops

[2021-02-17 23:43] bvbellomo commented on #3271
I am trying to login in with Negotiate (the default authentication type) and entering my username and password directly.

Maybe I am misunderstanding PAT tokens, but I was under the impression that I could not use a PAT token unless I was connecting over SSL.  Can you confirm whether that is correct or wrong?

I do have an unexpired PAT token appropriate scoped that I created and tried to use earl

[2021-02-18 05:41] cawoodm commented on #3022
We have 2 scenarios - both failing to download artifacts:
 Windows - Proxy configured 2.181.1
 Linux - No proxy configured 2.177.1
The Linux option uses a transparent proxy - one you do not have to explicitly configure.

[2021-02-18 05:46] EzzhevNikita commented on #3022
And when you added this variables VSTS_AGENT_HTTPTRACE and VSTSAGENT_TRACE both of them stopped failing? Am I right?

[2021-02-18 06:02] cawoodm commented on #3022
Yes. Is there any way to get at the source code?
This log output worries me:
[code]
Howcome it knows it is finished but does not stop??

[2021-02-18 06:03] cawoodm commented on #3022
Wait, I have it failing now with the trace set.

[2021-02-18 09:51] cawoodm commented on #3022
Similar issue with same errors and similar stalling behaviour:
https://developercommunity.visualstudio.com/content/problem/1300640/pipeline-agent-stalls-in-artifact-download.html

[2021-02-18 11:36] anatolybolshakov commented on #3041
@MaxB504 ok thanks!
@pri-kise let me close this issue since it seems to be resolved - please let us know if it's still actual for you.

[2021-02-18 11:36] #3041 closed

[2021-02-18 12:48] EzzhevNikita commented on #3022
@cawoodm We've investigated the logs for the issue you reported and we think, this issue is mostly related not to the agent itself, but to the external dependency that is used for managing the process of pipeline artifacts downloading. Could you please create a ticket on https://developercommunity.visualstudio.com/spaces/21/index.html so it will reach the right team for future investigation?

[2021-02-18 12:48] EzzhevNikita commented on #3022
Closed the issue. Please feel free to ask any further questions.

[2021-02-18 12:48] #3022 closed

[2021-02-18 14:15] cawoodm commented on #3022
Perhaps you are right but when we use the old agent version 2.165.0 it works reliably.

[2021-02-18 15:57] TroySchmidt commented on #3041
Updating the build agent did not fix this issue for me on a self hosted build machine.  Installing the LFS manually did allow me to run it manually on the machine in the externals folder, but the build is still failing.

[2021-02-18 18:40] dpurge opened #3273 "MacOS on-prem agent - permissions to file system in build different than in terminal"
I am not sure whether its appropriate to log this as "issue", feel free to close it if this is an expected behaviour. I hope for some tips from you on how to solve it because I am out of ideas.

I have a build agent version 2.170.1 on MacOS BigSur version 11.1, configured as a service using instructions for MacOS setup.
The service runs under local mac account, connects to on-prem "TFS" using doma

[2021-02-18 19:49] cforce commented on #2018
##vso[task.setvariable variable=NEW_VARIABLE;]'$OLD_VARIABLE  works
but
##vso[task.setvariable variable=NEW_VARIABLE]'$OLD_VARIABLE not
This is a trap for any user. You shall make that less error prone supporting both.

[2021-02-18 20:57] vsevolodp commented on #3071
@anatolybolshakov Agent's archive already contains all node dependencies. They're not being downloaded during setup.

I've checked latest agent archive from Project Settings / Agent pools / <pool> / New agent which giving URL https://vstsagentpackage.azureedge.net/agent/2.182.1/vsts-agent-linux-x64-2.182.1.tar.gz

This archive definitely contains paths with slightly more than 200 chars

[code]

I

[2021-02-19 04:04] temelj commented on #3270
We have two different agent pools and the % encoding was fixed using the `DECODE_PERCENTS:true` successfully using 2.181.1.

We have updated one of our pools to 2.182.1 and now the build pipeline is encoding % incorrectly again.

It's around retrieving the SAS token for storage account, i'm observing %25253A in the response.

[2021-02-19 09:54] anatolybolshakov opened #3275 "Update 7zip version distributed with agent"
We need to update 7zip version distributed with agent.

[2021-02-19 11:30] anatolybolshakov commented on #3071
@vsevolodp yes sorry, to be more precise - it is being packaged with agent, but there is just an archive from https://nodejs.org/dist, which is external for agent.
Could you please create an issue on https://github.com/nodejs/node regarding this?

[2021-02-19 13:57] kohithms commented on #3270
Hi @damccorm,

Thanks for confirming that but even on agent version 2.181.1 we are able to see the value as

![image](https://user-images.githubusercontent.com/51953513/108513333-77092800-72e8-11eb-99e3-784c5ff97a28.png)

[2021-02-19 14:28] damccorm commented on #3270
Hey @kohithms I'm not able to reproduce this behavior. Here's an example pipeline - https://dev.azure.com/damccorm-repros/setVariable%20escaping/_build/results?buildId=1029&view=logs&j=011e1ec8-6569-5e69-4f06-baf193d1351e&t=486c0909-f67d-5748-80b3-bb1d531e7b43, driven off of this yaml file - https://dev.azure.com/damccorm-repros/_git/setVariable%20escaping?path=%2Fazure-pipelines.yml.

Would you m

[2021-02-19 17:49] directhex opened #3276 "Cannot bind IPv6 loopback address inside container"
vsts-agent creates its own network for container jobs, as per the comments:

https://github.com/microsoft/azure-pipelines-agent/blob/ed9d7ce56cfbf4447d7e77a7e3e52c07b58034d7/src/Agent.Worker/ContainerOperationProvider.cs#L104-L107

The code this equates to is in src/Agent.Worker/Container/DockerCommandManager.cs:

https://github.com/microsoft/azure-pipelines-agent/blob/ed9d7ce56cfbf4447d7e77a7e3e5

[2021-02-19 18:06] directhex opened #3277 "Cannot use mismatched architectures in containers"
Docker supports running several CPU containers whose architecture does not precisely match the host OS. For example, on an x64 laptop:

[code]

And an ARM64 server:

[code]

The values here can be passed with `--platform`

e.g.

[code]

vs

[code]

This is convenient, because it allows for a single pool of multi-arch-capable systems to execute docker images from more than one architecture (i.e. 64

[2021-02-19 21:54] vsevolodp commented on #3071
@anatolybolshakov Do you know what exact archive is used?
I've checked one and it does not have such long names
[code]

And almost no duplication
[code]

[2021-02-19 21:58] brandongodby78 commented on #3156
@tejasd1990 Did you release something here? our releases using this extension broke yesterday. Comparing them from the working versions we see version 1.21.0.1 is being deployed now vs 1.21.0.0.

Version 1.21.0.1 is causing our VMSS to fail deployments

[2021-02-20 10:49] bishal-pdMSFT commented on #3156
@brandongodby78 what is the failure you are seeing? Please share the OS details and the settings for the extension.

[2021-02-20 12:01] anatolybolshakov commented on #3071
@vsevolodp there is v6.17.1 node.js used on agent, which I assume causes this. We are also planning to remove this node version from agent in the near future and currently working on migration - so there will be only v10.23.3

[2021-02-20 12:31] anatolybolshakov commented on #3276
Hi @directhex would it work for you if there will be an ability to pass --ipv6 to this command on agent? (e.g. by setting up some pipeline/environment variable)?

[2021-02-20 16:16] egor-bryzgalov commented on #3199
Hi @karambawow @MarRich1

Thank you for opening the issue. Could you please provide us with an agent and pipeline logs in debug mode so we can investigate it further.
Is it appropriate for you to use the PublishTestResults task to upload these files? It allows uploading multiple files at once
in a convenient way.

[2021-02-20 23:09] directhex commented on #3276
@anatolybolshakov yeah, trusting the user (e.g. exposing a `network-options:` value which is passed to `docker network create` as well as `options:` passed to `docker create/run`) would put the onus on me, and i'm okay with that!

[2021-02-22 07:38] kohithms commented on #3270
Hello @damccorm ,

Thanks for sharing the sample pipeline. In the given pipeline agent is using 2.182.1 looks like the issue is addressed over there.
![image](https://user-images.githubusercontent.com/51953513/108676663-971a3080-750e-11eb-8561-6572ba169872.png)

But in version 2.181.1 it's still reproducible.

![image](https://user-images.githubusercontent.com/51953513/108676689-a00b0200-750e-11eb

[2021-02-22 07:54] melchiorAAB commented on #3063
Hello, any news/update on this issue? We have the same issue and googling it pointed to this page. Same issue that trying to install the DevOps Agent on a new VM crashes randomly (about 2 out of 10 times). Using the latest (v2.182.1) version of the Agent software.

[2021-02-22 10:53] cawoodm commented on #3022
https://developercommunity2.visualstudio.com/t/task-downloadpipelineartifact-fails/1345613

[2021-02-22 13:53] GurliGebis commented on #3159
Is there any plans on getting this corrected and merged back?

Having multiple directories being restored at the same time would be a time saver.

[2021-02-22 16:36] rafalgalaw opened #3278 ""Waiting for console output from agent" on self hosted windows docker agent in kubernetes TFS 2018"
**Agent Version and Platform**
Version of Agent: 2.122.1
Runtime Information: Microsoft Windows 10.0.17763

**OS of machine**
Windows Server Docker Image: python:3.9.1-windowsservercore-1809
Underlying VM: Windows Server 2019

**Azure DevOps Type and Version**
On Premise TFS 2018 Version 16.122.27102.1

**What's not working?**
We are currently using self hosted agents for our build pipelines, whic

[2021-02-22 16:41] #3219 closed

[2021-02-22 22:00] vsevolodp commented on #3071
I've checked v10.23.3 and it looks better than v6.17.1.

[code]
And a bit less duplication compared to v6.17.1
[code]

@anatolybolshakov can you please link this issue to a work item which tracks migration to v10.23.3

[2021-02-23 07:41] bishal-pdMSFT commented on #3156
@brandongodby78 please share the failure logs so that we can take a look?

[2021-02-23 13:32] akalali opened #3280 "Agent service does not set the agent to Online"
## Agent Version and Platform
Version of your agent? 2.182.1

OS of the machine running the agent? Ubuntu 20.04

## Azure DevOps Type and Version
If dev.azure.com, what is your organization name? https://dev.azure.com/akalali/

## What's not working?
I set up a self-hosted Agent on Ubuntu 20.04, running on our OpenStack cloud.
I configured the agent and connected it to my Azure DevOps account. I a

[2021-02-23 15:14] viazovskyi commented on #3218
@anatolybolshakov, @alexander-smolyakov are you or anyone else going to review the PR #3256?

[2021-02-23 16:03] #3218 closed

[2021-02-24 07:44] MalteFries commented on #3280
I can confirm, since 3 days we are unable to connect our agents at all.
We get a timeout for the connectionData request.
When I try it via browser, it asks for an organization  login prompt appears.
This didnt happen before.,

[2021-02-24 08:24] MalteFries opened #3281 "Unable to connect to https://dev.azure.com/***"
## Agent Version and Platform
2.181.1 &  2.182.1

## OS of the machine running the agent?
Microsoft Windows 10.0.17763

## Azure DevOps Type and Version
https://dev.azure.com/draeger

## What's not working?
Since 3 days we are unable to connect the agent.
This happens with both version I mentioned above.
I tried a clean install with the newest version (see log below) but both versions are stuck at

[2021-02-24 10:36] SlasherZet commented on #858
FYI I think this requires the [skip ci] to be on its own commit line in the commit message. It did not work for me when it was on the same line as the release version like this:
"Release version 0.1.5 [skip ci]"

But when I tried it with commit like this it worked fine and CI was skipped:
"Release version 0.1.5
[skip ci]"

[2021-02-24 13:47] anatolybolshakov commented on #3063
Hi @elangelo @melchiorAAB do you run agent configuration in parallel for several agents on the same machine?
Agent is trying to lock Service Database for SCManager, so it could probably be related to this.

[2021-02-24 14:06] karambawow commented on #3199
Hi @egor-bryzgalov
this topic can be closed we focus on PublishTestResults sporadically fails to publish all results #3219 from @thomasdgx

[2021-02-24 14:06] #3199 closed

[2021-02-24 14:17] karambawow commented on #3198
@egor-bryzgalov
we use this "Bug" as a feature to prevent a GC from checkin shelvesets without appropriate maping and testing  the changes
would it be possible to add a switch to turn on/off this behavior ?

[2021-02-24 14:41] egor-bryzgalov commented on #3198
@karambawow
Thank you for the response. I think that we can implement the switch.

[2021-02-24 15:25] melchiorAAB commented on #3063
Hi @anatolybolshakov thanks for the reply. I am running 1 Agent per VM so nothing in parallel.

[2021-02-24 15:29] anatolybolshakov commented on #3280
Hi @akalali @MalteFries I can't reproduce this issue - do you experience any network issues on agent machine?
Could you please try to increase value of http timeout agent knob ('VSTS_HTTP_TIMEOUT' environment variable) - to exclude network related issues? (default value is '100')
Could you please also check that your PAT is not expired?

[2021-02-24 15:36] ramakrpr commented on #3156
Hi ,

we also see the same issue now as we deploy the VM Extension

2021-02-23T12:13:16.2827677Z ##[error]ERROR --- An error has occurred: ERROR --- 12:13:16 PM - The deployment 'deploymentagent' failed with error(s). Showing 1 out of 1 error(s).
Status Message: The handler for VM extension type 'Microsoft.VisualStudio.Services.TeamServicesAgentLinux' has reported terminal failure for VM extension

[2021-02-24 15:44] anatolybolshakov commented on #3281
Hi @MalteFries what version of on-premise server do you use?

[2021-02-24 16:18] anatolybolshakov commented on #3189
Hi @spersov I'm closing this due to inactivity at the moment - basically agent doesn't use tfx-cli utility, so I'm not sure about the reasons why it should be packaged with an agent... Please feel free to reopen it or ask any further questions if you have some points.

[2021-02-24 16:18] #3189 closed

[2021-02-24 16:32] anatolybolshakov commented on #3027
@biasync I'm closing this ticket due to inactivity at the moment - please feel free to ask any further questions.

[2021-02-24 16:32] #3027 closed

[2021-02-24 16:57] anatolybolshakov commented on #3071
@vsevolodp sure, here's the related issue https://github.com/microsoft/azure-pipelines-agent/issues/3042

[2021-02-24 16:58] anatolybolshakov commented on #3042
@tero-dev currently most of the pipeline in-the-box tasks are migrated to Node 10, but there are several tasks which still use node 6.

[2021-02-24 17:00] jnovick commented on #3156
I am now running into this issue as well. My error message is the same as the one posted above. I am using RHEL7 I believe.

[2021-02-24 17:01] tero-dev commented on #3042
Thanks for the update.  Node 10 will be EOL on 2021-4-30 do you have a process ready for migrating before that date to a newer version?

[2021-02-24 17:04] brandongodby78 commented on #3156
@bishal-pdMSFT Sorry, for some reason I am not getting emails that I was tagged on a comment so my apologies. We are receiving the same error as @ramakrpr posted while trying to deploy a VMSS via ARM on CentOs 7.7.

We were able to get past this error by upgrading to CentOs 8.3 which is, of course, running Python3. This did however cause new unrelated issues, but I will mention them incase others

[2021-02-24 19:37] MarkIannucci opened #3283 "Hosted agents which use lfs and the maintenance job don't prune lfs objects routinely and eventually run out of disk space"
## Agent Version and Platform
2.166.4
OS of the machine running the agent? Windows 10 1803 Enterprise

## Azure DevOps Type and Version
https://dev.azure.com/DenverHealth-EpicCogito

## What's not working?
We use LFS to store our vendor's black box configuration data alongside the source for a legacy database which has at least 20k tables.  The black box configuration data is an evergrowing file t

[2021-02-25 03:45] tejasd1990 commented on #3156
@ramakrpr @jnovick @brandongodby78 , are you able to get past this error using higher os version images which contain python3? That would be centos8+ and rhel8+ What issues are you facing while using those?
We are working on a fix to handle hack-compat with python2, and will rollout it shortly. I will update on that once done.

[2021-02-25 04:39] jamesdoran opened #3284 "[Bug] Unable to process command setvariable with isoutput true"
## Have you tried troubleshooting?
I've followed the instructions for using `setvariable` [here for 2017.3](https://docs.microsoft.com/en-us/azure/devops/pipelines/scripts/logging-commands?view=tfs-2017&tabs=powershell#setvariable-initialize-or-modify-the-value-of-a-variable).

## Agent Version and Platform
Agent: `2.122.1`
Platform: `Windows Server 2012 R2`

## Azure DevOps Type and Version
On-pr

[2021-02-25 07:41] MalteFries commented on #3281
@anatolybolshakov we are not using on-premise server, our VMs are hosted on Azure

[2021-02-25 08:03] ramakrpr commented on #3156
Hi @tejasd1990 unfortunately we dont have RHEL8 as an approved image to be utilized in our tenant. This will take time. When do you expect the fix to be rolled out?

[2021-02-25 09:07] DaniilShmelev commented on #3236
Hi @PatrickGrub! What OS version are you using? Have you had any previous versions of the agent on your machine?

[2021-02-25 13:10] oneframemobile commented on #3021
We have a same problem. Any progress? Is the problem solved?

[2021-02-25 13:19] DomhnallP commented on #3013
This is affecting our pipelines too. any plans to fix?

[2021-02-25 13:40] croydondias opened #3285 "Add the LICENSE file to the release binaries"
We use Jfrog's Xray and Artifactory integration to automatically onboard new versions of the pipelines agent from Github.

Part of this integration include scanning for appropriate LICENSE files in the root of the archive, and blocking binaries when a license cannot be found. Both the *.zip and *.tar.gz archives currently don't include the LICENSE.

The fix would be to include the LICENSE file whe

[2021-02-25 13:43] croydondias opened #3286 "Provide md5 and sha512 checksums for release binaries"
As a way to improve security, the releases tab should document the md5 and sha512 checksum(s) for each archive, so that we can validate the integrity of the downloaded binary.

[2021-02-25 15:48] MalteFries commented on #3281
We have restarted our ADFS controller, now it's working again.
Thanks for your time.

[2021-02-25 15:48] #3281 closed

[2021-02-25 15:54] bishal-pdMSFT commented on #3156
@ramakrpr the fix would be at least 2-3 weeks away as unfortunately we are dealing with another urgent issue.
You could try installing python 3 on rhel 7 as a workaround.

[2021-02-25 18:10] kohithms commented on #3270
Hi @damccorm, have u gt a chance to view this?

[2021-02-25 19:57] brandongodby78 commented on #3156
@tejasd1990 @bishal-pdMSFT Yes, I do have a work around to deploy CentOs 8, however upgrading to CentOs 8 under duress is not something we would normally do. We would want to very slowly roll out a large upgrade like that.

Also, I do have ticket open (121021824006622) regarding an issue we are experiencing after upgrading to CentOs 8 and that is the custom data feature of arm templates is not wor

[2021-02-25 19:59] brandongodby78 commented on #3156
I will also say that installing Python 3 on CentOs 7 did not solve the problem, unless you create a symlink so that python > python3, but if you do that a lot of other things break. To many things on CentOs 7 don't work with Python 3 as the default python.

[2021-02-25 21:43] jnovick commented on #3156
I was able to just install python3 and have everything work fine. I did not need to create a symlink for python > python3. As a separate issue, I had to install git 2.x which was a hassle, but this problem was not too bad for me to workaround. I put a custom script extension on my VMSS to run `sudo yum -y install python3`. Unfortunately, RHEL8 is not yet approved for our use, but RHEL7 stops havin

[2021-02-26 04:48] tejasd1990 commented on #3156
@brandongodby78

this should not be required. The new extension version expects the interpreter with name `python3`, not `python`

[2021-02-26 08:39] DalpheSDC opened #3289 "Update of NodeJS to fixed vulnerability issues"
In relation to the februar update there are some issue needed to be fixed please see below link.
https://nodejs.org/en/blog/vulnerability/february-2021-security-releases/

## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML featur

[2021-02-26 08:57] maxgio92 commented on #838
Why this has been closed? The current value of `$(Build.SourceBranch)` is not different, but it's actually wrong.

[2021-02-26 09:07] maxgio92 opened #3291 "Build.SourceBranchName does not include full name, if name includes forward slash"
## What's not working?

### Current result

Build.SourceBranch | Build.SourceBranchName
-- | --
refs/heads/feature/mynewfeature | mynewfeature
refs/heads/bug/mybug | mybug

### Expected result
Build.SourceBranch | Build.SourceBranchName
-- | --
refs/heads/feature/mynewfeature | feature/mynewfeature
refs/heads/bug/mybug | bug/mybug

The issue is simple. The current value of `$(Build.SourceBranch)`

[2021-02-26 11:25] maxgio92 commented on #3291
In the meantime, if the need of the real name of branch it to do a `git checkout`, this should solve IMHO, basically by doing a checkout for the reference name with prefixes (e.g.: `refs/heads/<branch_name>`):
[code]

[2021-02-26 13:36] tomaustin700 commented on #2860
This still seems to be an issue, wasted a few hours today trying to figure out what was going on until I arrived here. Workaround by @fniko does work but this is less than ideal.

[2021-02-26 13:42] oneframemobile commented on #3271
We have a same problem. Any improvement?

[2021-02-26 14:07] directhex commented on #3277
I worked around this using the documentation in https://github.com/Microsoft/azure-pipelines-agent/blob/master/docs/design/non-glibc-containers.md but it would be great if this could be overridden in yaml, rather than needing a whole-ass new Dockerfile

[2021-02-26 17:47] cforce commented on #1749
Its still not solved how to work in that case with "succeeded()" as this is not supported for templates.
![image](https://user-images.githubusercontent.com/393286/109335957-05d6f100-7863-11eb-9d67-d3084224572f.png)

[2021-03-01 11:02] tjinjin95 opened #3293 "how to use self-host agent for azure pipeline"
Hi, I want create a self-host agent and use it in pipeline. however, I had some problems importing the image.
the procedures are list in follow.

1.  create a self-host agent according to the link : [https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops]
![image](https://user-images.githubusercontent.com/30750867/109487740-9873cc00-7abf-11eb-8a2d-f199438d52d3.

[2021-03-01 13:43] anatolybolshakov commented on #3021
Hi @oneframemobile what agent version do you use?

[2021-03-01 13:52] anatolybolshakov commented on #3013
Hi @kenotron since this seems to be new input for checkout task and requires some changes throughout Azure DevOps - could you please create ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?

[2021-03-01 14:52] egor-bryzgalov commented on #3293
Hi @tjinjin95
You should specify an agent pool name:
[code]
If you'd like to specify an exact agent in the pool you should do the following:
[code]
Is this information helpful for you?

[2021-03-01 15:06] #3289 closed

[2021-03-01 17:14] thomasdgx commented on #3211
Fixed with #3282

[2021-03-01 17:14] #3211 closed

[2021-03-01 17:35] brandongodby78 commented on #3156
@tejasd1990 We have confirmed that if you don't create the symlink that the agent works as expected, so we are able to remain on CentOs 7 for the short term. Thank you for the quick response. Also, yes the problem with CentOs 8 is with the ARM template, not the agent.

[2021-03-02 02:51] tjinjin95 commented on #3293
@egor-bryzgalov I still cannot specify the agent. The error log is as follows.
code:
![image](https://user-images.githubusercontent.com/30750867/109589333-25149d80-7b45-11eb-8ae3-716d1e4a5b06.png)

first test:
![image](https://user-images.githubusercontent.com/30750867/109589079-be8f7f80-7b44-11eb-8a59-2952afa47b63.png)
second test:
![image](https://user-images.githubusercontent.com/30750867/10958

[2021-03-02 03:07] tjinjin95 commented on #3293
Problem solved, could refer to the link: https://github.com/microsoft/azure-pipelines-agent/issues/2996

[2021-03-02 03:08] #3293 closed

[2021-03-02 05:15] Dipanshu-Asri commented on #2203
How can i push only using uname and passwd . I dont want to use PAT ? Let me know .

[2021-03-02 08:49] yene opened #3294 "checkout with fetchDepth: 1 does fetch tags"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Feature

**Enter Task Name**: checkout

## Environment
- Azure Pipelines

## Issue Description

When using
[code]
it does a `git fetch --tags ...` behind the scenes, which fetches more history than needed.

We expected it to speed up our build

[2021-03-02 13:40] anatolybolshakov commented on #2937
@sgerace @atlaskerr I'm closing this due to inactivity - please feel free to reopen it or ask any further questions if it's still actual for you.

[2021-03-02 13:40] #2937 closed

[2021-03-02 13:41] anatolybolshakov commented on #3257
Hi @richardgavel is this issue still actual for you?

[2021-03-02 14:50] richardgavel commented on #3257
We bypassed it by forcing that particular step of the YAML to run on the
host, but I just haven't gotten around to responding to this request.

On Tue, Mar 2, 2021 at 7:41 AM Anatoly Bolshakov <notifications@github.com>
wrote:

[2021-03-02 16:14] itsme112358 opened #3295 "Variable Build.Repository.LocalPath changed"
## Agent Version and Platform
2.181.0 (OK) vs. 2.182.1 (Not OK?) / Windows / self hosted

## Azure DevOps Type and Version
https://dev.azure.com/AareonRELionGmbH

## What's not working?
Behavior of Variable Build.Repository.LocalPath changed
We have two Repos:
1. Our "App"
Automatically checks out to `../_work/2/s/App`
2. Our Build Repo (all the Scripts and stuff to handle the build process
Automa

[2021-03-02 16:23] itsme112358 commented on #3295
If this is not by design: How do I "downdate" our agents without having to reregister them all?
Just stop the services, and overwrite the folder and all its content?

[2021-03-02 17:07] itsme112358 commented on #3295
I updated all our scripts so it works now, please document these changes in future. I reviewed the [release notes](https://github.com/microsoft/azure-pipelines-agent/releases/) and found #3249 but we're not setting the variable anywhere, only reading so it shouldn't affect our builds - am I wrong here?

[2021-03-02 17:16] BBI-JamesFairweather commented on #3295
Could it have been #3237 that caused this change for you?

[2021-03-02 22:35] mjroghelia commented on #3295
@EzzhevNikita @anatolybolshakov Please investigate this as a high priority. It sounds related to #3237. We don't want to break compatibility with any of the existing variables, so this would be a regression that should be hot fixed. Could it be related to the order in which the checkouts are performed?

[2021-03-03 00:46] itsme112358 commented on #3295
Sounds closer than 3249, yes.
This is our yaml file cropped by some lines so everything fits in the screenshot.
This is the order in which we check out:
![Screenshot_20210303-013830_Chrome](https://user-images.githubusercontent.com/16080908/109734765-dbb66380-7bc1-11eb-9820-0d46e0fa31a6.jpg)

[2021-03-03 07:17] mohag commented on #3291
Changing this behaviour will break our pipelines. We use Build.SourceBranchName for container image tags, which can't contain slashes. Introducing a different variable might make sense though. (See #3076)

(My guess is that the branch name was treated like a file path, where the last part is the name)

There is an [easy workaround](https://github.com/microsoft/azure-pipelines-agent/issues/838#issu

[2021-03-03 11:01] EzzhevNikita commented on #3295
@itsme112358 We found the root cause of the issue, and it is not expected behavior that the value of Build.Repository.LocalPath was changed. We are planning to provide a hotfix to resolve it.

[2021-03-03 11:26] anatolybolshakov commented on #3294
Hi @yene since this feature would require some change on Azure DevOps side also (new parameters for checkout task) - could you please create ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?

[2021-03-03 12:14] anatolybolshakov commented on #3291
Hi @maxgio92 this change could break other users - so creating separate variable for this purpose could be the more safe approach here.
Since adding of new variable is related to some changes in Azure DevOps side - could you please create ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?

[2021-03-03 13:11] adhodgson1 commented on #3156
Sorry but can I confirm that since the agent upgrade (we use VMSS agents so can't control the version) we don't need to install Python2 on our images anymore and can keep /usr/bin/python as Python3?

[2021-03-03 14:19] anatolybolshakov commented on #3271
@bvbellomo @oneframemobile could you please check what authentication type is being set up for tfs server? (/tfs in IIS settings). From logs I assume it is Windows Authentication, which could cause this issue.

[2021-03-03 14:45] anatolybolshakov commented on #3013
@kenotron let me close this one at the moment since it requires some DevOps side changes.

[2021-03-03 14:45] #3013 closed

[2021-03-03 16:01] MatthewSteeples commented on #3013
Tickets already exist:
https://developercommunity.visualstudio.com/t/Need-to-omit---tags-when-performing-sh/943621?space=21&q=shallow
https://developercommunity.visualstudio.com/t/Exclude-tags-for-shallow-clones-or-at-l/1266211?space=21&q=shallow

[2021-03-03 17:39] tejasd1990 commented on #3156
@adhodgson1 , the extension expects `/usr/bin/python3` to be present on the vm, which would be the case on Azure vms except the very old ones which don;t have python3 installed by default

[2021-03-03 18:35] ramakrpr commented on #3156
For me it works fine now with RHEL 7 and Python 3. I’ve used the custom scrip extension to deploy python 3 . Works now like a charm
Need to test with cantos 7 though

[2021-03-03 19:58] mjroghelia commented on #3295
@itsme112358 Thanks for the report. Be aware before upgrading that the forthcoming 2.183.1 agent release will restore the previous behavior.

[2021-03-04 02:04] kasajian commented on #1764
Dude, it's always been like this.  Xml builds, "new scriptable builds" now yaml builds.   You'd think the company that started with interpreted BASIC REPL would understand that developers want to get stuff working on their own computer first before putting on the server.   It honestly boggles the mind.   It's a cultural issue that I don't see changing unfortunately.

[2021-03-04 08:37] maxgio92 commented on #3291
Hi @anatolybolshakov, sure, thank you.

[2021-03-04 08:39] maxgio92 commented on #3291
Hi @mohag that workaround isn't correct IMHO as git references strings are not always so simple. Anyway thank you :)

[2021-03-04 09:03] maxgio92 commented on #3291
Sorry @anatolybolshakov but I didn't find how can I create a new one discussion/ticket there :( Could you help me?

[2021-03-04 12:33] oneframemobile commented on #3271
The authentication configuration of Azure DevOps on IIS is as follow.
By the way I am assuming this configuration is the default configuration of Azure DevOps.
What should we do ?

![image](https://user-images.githubusercontent.com/46996465/109963758-d2321600-7cfd-11eb-9249-539745ed1c25.png)

[2021-03-04 13:22] mo-saeed commented on #1829
Hi @vtbassmatt I am getting this error while I am using the steps here https://docs.microsoft.com/en-gb/azure/devops/pipelines/agents/docker?view=azure-devops
with Alpine

[code]
Any workaround to fix this ?

[2021-03-04 16:39] yesenin opened #3304 "ChromeDriver version isn't compatible with Chrome version"
## Having issue with YAML?
-

## Having issue with Tasks?
-

## Having issue with software on Hosted Agent?
-

## Having generic issue with Azure-Pipelines/VSTS/TFS?
-

## Have you tried troubleshooting?
-

## Agent Version and Platform
windows-2019, 2.183.1

## Azure DevOps Type and Version
https://lgre.visualstudio.com/

## What's not working?
Selenium auto tests cannot open Chrome

## Agent and

[2021-03-04 20:40] anatolybolshakov commented on #3304
Hi @yesenin this issue doesn't seem to be related to agent - for tools like Chrome and ChromeDriver installed on hosted images please feel free to create an issue on https://github.com/actions/virtual-environments
Let me close this one here since this repo is mostly for pipelines agent.

[2021-03-04 20:40] #3304 closed

[2021-03-04 20:51] anatolybolshakov commented on #3271
@oneframemobile I assume you can't use windows authentication with mac client - so it makes sense to enable basic authentication.
Since it's more related to DevOps authentication process - could you please create a ticket on https://developercommunity.visualstudio.com/search?space=21 for further guidance if enabling of this authentication type won't help?

[2021-03-04 20:56] bvbellomo commented on #3271
It seems there are 2 questions/issues if it is in fact the Authentication type causing the problem:
1) Does enabling 'Windows Authentication' prevent using TFS with a mac build agent, regardless of what else is enabled?
2) Does using TFS with a mac build agent require enabling specific authentication options, and if so, which ones?

These are completely different questions.

[2021-03-04 20:59] anatolybolshakov commented on #3168
@PaulVrugt got it, thanks! Since this sounds like some DevOps side feature - could you please create ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?

[2021-03-05 15:02] LiohAu opened #3305 "Parallel build phase based on dynamic multiplier"
Hello,

I don't really know if my question/issue is related to that repo, but I would like to use the parallel build phases based on a dynamic multiplier that would be set in the previous phase.
I tried with a multiplier set in the "Variables" tab, let's say "MyVar" = "test1, test2", obviously it worked and I had 2 parallel execution with "test1" and "test2".
Now if I add another pipeline phase be

[2021-03-05 17:15] anatolybolshakov commented on #3284
Hi @jamesdoran I can't reproduce it with last agent version - could you please try to use last agent version?

[2021-03-05 17:30] anatolybolshakov commented on #3291
@maxgio92 sure, you can report about the issue here https://developercommunity.visualstudio.com/report?space=21&entry=problem

[2021-03-05 17:51] emul8ed opened #3307 "Initialize Job: ##[error]One or more errors occurred. (One or more errors occurred. (Invalid File or Directory attributes value. (Parameter 'Attributes'))) (Invalid File or Directory attributes value. (Parameter 'Attributes'))"
## Having issue with YAML?
No

## Having issue with Tasks?
Maybe?

## Having issue with software on Hosted Agent?
No

## Having generic issue with Azure-Pipelines/VSTS/TFS?
No

## Have you tried troubleshooting?
No

## Agent Version and Platform
2.182.1/aarch64

OS of the machine running the agent? OSX/Windows/Linux/...
Ubuntu 18.04

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com

[2021-03-05 18:51] in-fke opened #3308 "config.sh remove fails with PAT and HTTP 401"
## Agent Version and Platform
Version of your agent? vsts-agent-linux-x64-2.182.1

## Azure DevOps Type and Version
on-premises Version Dev17.M153.5

## What's not working?
config.sh remove does fails due to authorization **though the same PAT was successfully used to register the agent**!?
For PAT I followed this:
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-

[2021-03-05 20:24] jamesdoran commented on #3284
Hi @anatolybolshakov, thanks for getting back to me. This is the version that shipped with 2017.3. When I attempted to use the conditional build steps added in this version of TFS, the build agent automatically updated to this version: 2.122.1

when you say “the last agent version” are you talking about a manual installation? If so, so I get the latest version from [here](https://github.com/micros

[2021-03-08 10:32] EugenMayer commented on #2043
To drop my few lines here, the problem with `sudo` and it's requirement under the hood goes beyond "bummer" since it is actually entirely useless due to https://stackoverflow.com/questions/59544762/how-run-a-azure-container-job-under-a-specific-user-in-the-container

For all of you that struggle to re-build all the usual images you consume from docker hub, I have build a template

https://github.c

[2021-03-08 10:36] itsme112358 commented on #3295
Thanks for the update! :)

[2021-03-08 14:36] maxgio92 commented on #3291
Thank you, I just opened a case

[2021-03-08 15:56] vtbassmatt commented on #1829
I'm no longer working on Azure Pipelines. You can try opening a support ticket via https://azure.microsoft.com/support/devops/

[2021-03-08 16:51] Xplouder opened #3310 "Docker Tasks in Kubernetes"
Hi there,

I can not run tasks that have involved docker tasks.
I'm running a self-hosted agent with Kubernetes in a pod with a mounted socket as mentioned [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#use-docker-within-a-docker-container).
However, the pipeline keeps failing. I'm missing something?
here is the pipeline log:
[code]

Kubernetes mount

[2021-03-08 19:25] emul8ed commented on #3307
Happened again. Here's the problem file:

[code]

[2021-03-08 23:49] 3wweiweiwu opened #3311 "Container Job Initialization Failed: starting container process caused: exec: "node": executable file not found in $PATH: unknown"
## Having issue with YAML?
No

## Having issue with Tasks?
No

## Having issue with software on Hosted Agent?
No

## Having generic issue with Azure-Pipelines/VSTS/TFS?
No

## Have you tried troubleshooting?
No

## Agent Version and Platform
Version of your agent? 2.183.1

OS of the machine running the agent? Windows 2019

## Azure DevOps Type and Version
https://{organization}.visualstudio.com

#

[2021-03-09 05:57] EzzhevNikita commented on #3295
@itsme112358 Agent 2.183.1 with reverting of the changes that caused the issue have been released. I'm currently closing this issue.

[2021-03-09 05:57] #3295 closed

[2021-03-09 08:08] EzzhevNikita commented on #2738
@ghost Is it still an issue for you?

[2021-03-09 10:31] anatolybolshakov commented on #3311
Hi @3wweiweiwu to be able to execute jobs by linux containerized agent (Windows-based Linux containers) you need to have Node.js pre-installed - please see https://docs.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=azure-devops#linux-based-containers.
Please feel free to ask any further questions.

[2021-03-09 10:50] anatolybolshakov commented on #3308
Hi @in-fke are you trying to connect self-hosted agent to on-premise TFS?
Could you please check that your PAT is not expired and has 'Agent Pools (read, manage)' scope, and what authorization types are enabled for IIS '/tfs' instance?

[2021-03-09 12:53] anatolybolshakov commented on #3155
@KrylixZA @dvmorris @mk-AVA could you please double-check that there is no agent child processes terminated by OOM killer?
You can try to specify oom_score_adj for agent root process and it's child processes like below - to exclude this cause:
1) Set up ‘PIPELINE_JOB_OOMSCOREADJ’ environment variable as ‘-1000’ – to set up default oom_score_adj value for agent child processes as -1000.
2) Call ‘su

[2021-03-09 13:08] anatolybolshakov commented on #3308
@in-fke just to double-check - could you please try to create PAT with full access and configure/remove agent using it?

[2021-03-09 13:29] anatolybolshakov commented on #3308
@in-fke you can select it as option during setting up of PAT scopes:

![image](https://user-images.githubusercontent.com/8779682/110477703-8b289400-80f4-11eb-8867-b1f0e96cb5d3.png)

[2021-03-09 13:49] in-fke commented on #3308
Thank you, I issued a full access PAT and that does not work either. Getting the same error.

[code]

[2021-03-09 14:53] 3wweiweiwu commented on #3311
Thank you for the note. Just curious, why the same container image works in the Azure self-hosted instance? I didn't change anything in the image.

[2021-03-09 16:24] mo-saeed opened #3312 "container job failed with ##[error]Unhandled: EACCES: permission denied, open '/__w/_temp/.taskkey'"
## Agent Version and Platform
2.183.1

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
Running a container job in the pipeline, the container initialization completed successfully but with the first task I get this error
[code]
Could you please advise what I might be doing wrong here ?

[2021-03-09 18:06] anatolybolshakov commented on #3307
Hi @emul8ed has this file been created by your pipeline? Have you seen similar issues on other aarch64 environments?

[2021-03-09 18:54] anatolybolshakov commented on #3063
@melchiorAAB do you configure the agents manually by running the script from deployments group ui on every vm or is there some automation you use?

[2021-03-09 20:46] anatolybolshakov commented on #3311
@3wweiweiwu did you run it on ubuntu hosted agent? Since this is actual for Windows-based Linux containers - I guess it could be related to this if it's true...

[2021-03-10 07:43] DaniilShmelev commented on #3236
Hi @PatrickGrub! Is this issue still present for you?

[2021-03-10 13:55] luigisaggese commented on #3184
Any news on this topic?

[2021-03-10 14:09] anatolybolshakov commented on #3257
@richardgavel ok, I still can't reproduce this issue with multi-checkout scenario... yaml file would be really helpful to determine exact repro steps.

[2021-03-10 14:49] anatolybolshakov commented on #3312
Hi @mo-saeed looks like agent doesn't have enough permissions to access '/__w/_temp' for some reason...
Would it be possible for you to share full agent logs with this error? You can send them to my email - v-anbols@microsoft.com

[2021-03-10 15:28] mo-saeed commented on #3312
@anatolybolshakov Thanks for your response. I know the issue, it's the user-map is not working correctly coz I am using docker rootless as the host which doesn't allow user map to the running docker container, so the volumes created in the container with root ownership while azure devops exec the container with rootless user `1000`.

Is there any way to enforce azure devops to exec with a differen

[2021-03-11 00:13] jamesdoran commented on #3284
Thanks @anatolybolshakov. This morning I performed a successful manual upgrade to `2.183.1`.

Unfortunately the issue is still apparent...

[code]

Any ideas on what I can check next please?

[2021-03-11 09:22] anatolybolshakov commented on #3063
@melchiorAAB could you please share your script to take a look? I can't reproduce it by running it manually

[2021-03-11 10:32] anatolybolshakov commented on #3280
@akalali @MalteFries ping - do you have any updates?

[2021-03-11 10:36] anatolybolshakov commented on #3294
@yene let me close this one here since it requires some changes on DevOps side also.

[2021-03-11 10:36] #3294 closed

[2021-03-11 11:47] sanathkatakam opened #3319 "Having issue with registering a OnPrem server as a target in Deployment Group?"
I have created a new deployment group on my Azure DevOps and then copied the PowerShell script with PAT and executed it on my OnPrem server. With out any errors it started connecting to the server but the problem is it is stuck at that point itself for a long time.

I have waited for almost 2 hrs however the PowerShell terminal still shows that connecting to server, below is the screenshot
![Micro

[2021-03-11 13:46] mo-saeed opened #3323 "How to change docker.sock path for container jobs"
## Agent Version and Platform
Version of your agent? Latest

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
Container job fails with this error
[code]
As I am using rootless setup, my docker.sock is under /run/user/****/docker.sock so how to change the default /var/run/docker.sock?

[2021-03-11 13:48] anatolybolshakov commented on #3319
Hi @sanathkatakam could you please share agent/worker logs? You can send them to my email: v-anbols@microsoft.com

[2021-03-11 13:57] anatolybolshakov commented on #3291
@maxgio92 ok thanks! Could you please leave a link to developer community ticket here to track it?
Let me close this one at the moment since there's nothing to on agent side currently. Please feel free to ask any further questions.

[2021-03-11 13:57] #3291 closed

[2021-03-11 13:58] anatolybolshakov commented on #3168
Let me close this one at the moment since there is nothing to do on agent side currently.

[2021-03-11 13:58] #3168 closed

[2021-03-11 14:15] mo-saeed commented on #3323
@anatolybolshakov maybe you have a fast answer for that?  would be good if this can be changed so i don't need to make bad workarounds here

[2021-03-11 14:18] anatolybolshakov commented on #3312
@mo-saeed sure, are you running agent as a service or interactively? For service you can run it with different user using 'sudo ./svc install <another_user>' command.

[2021-03-11 14:22] mo-saeed commented on #3312
the agent is running as a service, and the agent is installed already as a user called `azure-devops` the problem when the pipeline runs it tries to exec the job container with `azure-devops` user and this is the behavior i want to change. so I want the pipeline to exec to the job container with root user

[2021-03-11 14:36] mo-saeed commented on #3323
@anatolybolshakov so I tried to use `mapDockerSocket: false` which doesn't map the sockets any more but still this step `stat -c %g /var/run/docker.sock` is executed which is really strange

[2021-03-11 16:17] anatolybolshakov commented on #3184
Hi @WardenGnaw @luigisaggese currently we have no plans to officially support it in the near time.

[2021-03-11 17:08] ChristopherMank opened #3325 "Update Agent to Latest Git Version 2.30.2"
When could we expect to see the agent get bundled with the latest git version 2.30.2 that was just released on 3/9/21? Wanting to get the latest git vulnerabilities fixed in the agents. Thanks!

[2021-03-11 20:10] yene commented on #3294
https://developercommunity.visualstudio.com is where feature requests go to die

[2021-03-12 06:30] sanathkatakam commented on #3319
I just mailed you the logs @anatolybolshakov

[2021-03-12 06:40] EzzhevNikita commented on #2738
@ghost I'm closing this one since there no activity on this ticket for long time. Feel free to reopen it in case issue is still actual for you.

[2021-03-12 06:40] #2738 closed

[2021-03-12 08:17] tejasd1990 commented on #3156
Hi all,
we have rolled out the python2 backcompat. Let us know whether it is working for you, or any issue.

[2021-03-12 11:15] minhhungit opened #3327 "Azure Release pipeline choose Package or folder is getting error"
Getting error on azure Release pipeline

Task: **Azure App Service deploy**
Property: **Package or folder**

Error detail:

Could not load file or assembly 'BuildXL.Cache.ContentStore.Hashing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6212d9137135ce5d' or one of its dependencies. The system cannot find the file specified.

![image](https://user-images.githubusercontent.com/2279508/110932963

[2021-03-12 17:34] anatolybolshakov commented on #3327
Hi @minhhungit this issue seem to be related to DevOps side, not the agent - since this repo is mostly for agent, could you please create a ticket on https://developercommunity.visualstudio.com/report?space=21&entry=problem to get right eyes on it?

[2021-03-13 01:19] minhhungit commented on #3327
okay @anatolybolshakov I will

sorry for put the issue in wrong repo, I was not sure which was correct one

[2021-03-13 01:19] #3327 closed

[2021-03-15 07:19] EzzhevNikita commented on #3258
Hi @migrulos, as workaround fo this issue you can disable the fetch by commit feature. To do it you need to set an environment variable for the agent (VSTS_DISABLEFETCHBYCOMMIT) to "true". Also you can disable it directly from yml configuration by setting the VSTS.DisableFetchByCommit build variable to "true" in this way:
[code]

[2021-03-15 08:28] DaniilShmelev commented on #3236
Closing due to inactivity. Please feel free to reopen if you encounter this problem again.

[2021-03-15 08:28] #3236 closed

[2021-03-15 10:04] PatrickGrub commented on #3236
After removing the internal proxy it worked!

[2021-03-15 15:21] max-zaytsev commented on #3210
Hi @bartwitkowski,
I wasn't able to reproduce the issue. Could you please run your pipeline again with _Enable system diagnostics_ checkbox enabled and provide logs from `/home/user/agent/_diag` folder?

[2021-03-15 19:17] tarunngc opened #3328 "SSL cert issues with dotnet.myget.org"
Anyone esle experiencing SSL certificate issues:

![image](https://user-images.githubusercontent.com/39346004/111208636-02e53b80-8599-11eb-9158-10d3e680943d.png)

[2021-03-15 23:25] mjroghelia commented on #3328
References to this feed have already been removed from this repo: https://github.com/microsoft/azure-pipelines-agent/pull/3306

[2021-03-15 23:25] #3328 closed

[2021-03-16 06:17] alexander-smolyakov commented on #3278
@rafalgalaw, is this issue still actual to you?

[2021-03-16 07:22] #3250 closed

[2021-03-16 08:48] rafalgalaw commented on #3278
hi @alexander-smolyakov sorry for not responding. I updated the agents with the latest build, but still no success.I did some further investigation on this and traced the http requests from the agent. It seems there are some authentiction issues between the agent and tfs, eventhough registering the agent and executing builds are fine. I authenticated the agent via PAT.  Might this be a problem for

[2021-03-16 09:34] iambernics opened #3330 "Prefetch Tasks to new Agent"
Dear Community,

Is there any way to prefetch the latest version of the Tasks onto the blank Agents?

We are reverting the VMs when the jobs completed: the Job initialization time could be long due to the Agent must download the affected Tasks each time when a Job started.

Looks like the Agent add a randomly generated suffix to the Task name:
`_work\_tasks\AzureCLI_46e4be58-730b-4389-8a2f-ea10b3e

[2021-03-16 12:00] anatolybolshakov commented on #3238
Hi @exwindchiller we have rolled out related changes - I'm closing this at the moment, please let us know if you have any other issues.

[2021-03-16 12:00] #3238 closed

[2021-03-16 12:09] anatolybolshakov commented on #3197
Hi @japj we have rolled out the fix for this issue - please let us know if you have any other issues.

[2021-03-16 12:09] #3197 closed

[2021-03-16 14:56] #3311 closed

[2021-03-17 08:03] anatolybolshakov commented on #3093
Hi @michaelschufi do you have any updates regarding last testing?

[2021-03-17 08:56] anatolybolshakov commented on #3319
@sanathkatakam I tried to reproduce this issue also, but with no luck - from agent logs I see that agent is waiting for response to 'Enter deployment group tags for agent'.
Could you please try to disable 'Insert Mode' and 'QuickEdit Mode' for Powershell - to double-check that powershell output hasn't been paused by clicking within a console?
You can find it Powershell context menu -> Properties -

[2021-03-17 11:24] sanathkatakam commented on #3319
@anatolybolshakov I have tried disabling 'Insert Mode' and 'QuickEdit Mode' for Powershell. but no change it still says 'connecting to the server'. and From the logs it seems that agent is waiting for an input regarding ‘Enter replace? (Y/N)’ but I don't see it on the terminal
![MicrosoftTeams-image copy](https://user-images.githubusercontent.com/45826815/111458660-b7b95d00-873f-11eb-90fb-2d3b0a81

[2021-03-17 14:59] james-flynn-ie commented on #3325
There is a CVE for Git (https://nvd.nist.gov/vuln/detail/CVE-2021-21300) which is resolved in 2.30.2.

Can we get an urgent patch upgrade to resolve this vulnerability please, @anatolybolshakov ?

[2021-03-17 15:12] ChristopherMank commented on #3325
And actually Git 2.31.0 was just released. I'm assuming we'd go to the latest.

[2021-03-17 21:49] davidcorrigan714 opened #3335 "Worker process not getting job"
We're having issues with builds throwing the generic:

"##[error]We stopped hearing from agent ****. Verify the agent machine is running and has a healthy network connection. Anything that terminates an agent process, starves it for CPU, or blocks its network access can cause this error. For more information, see: https://go.microsoft.com/fwlink/?linkid=846610"

In some cases it's fairly obvious w

[2021-03-18 10:12] KrylixZA commented on #3155
Hi @anatolybolshakov

I see the original issue was logged against CentOS. I am experiencing similar behaviour when running on Windows Server as a host and in the container as well. That being said, I did re-run the containers with memory and CPU limits as well as no memory or CPU limits and experienced the same behaviour as before.

My agents are running against a base image of [mcr.microsoft.com/

[2021-03-18 11:04] akalali commented on #3280
Sorry for the late reply, been working on something else. I will come back to this hopefully in a few days.

[2021-03-18 14:01] vrealizebuildtools commented on #2378
getting same error. Extract from diag log:

[2021-03-18 13:00:13Z INFO RSAFileKeyManager] Loading RSA key parameters from file /home/github/vbt-actions-runner/.credentials_rsaparams
[2021-03-18 13:00:14Z INFO GitHubActionsService] AAD Correlation ID for this token request: Unknown
[2021-03-18 13:07:04Z INFO RSAFileKeyManager] Loading RSA key parameters from file /home/github/vbt-actions-runner/.cr

[2021-03-18 15:18] Beautyod commented on #1677
Either this issue wasned moved in the new repository or it's still unsolved after 2.5 years.

[2021-03-18 20:17] CIPop opened #3337 "_PREVIEW_VSTS_DOCKER_IMAGE: KeyVault step started failing after Mar 4th on Ubuntu 16 Hosted Agent"
## Have you tried troubleshooting?
Yes - no troubleshooting guide for the preview / Docker feature. Opening an issue following recommendation from https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/preview/runtaskindocker.md#request-for-feedback

## Agent Version and Platform
Hosted agent, Ubuntu 16.04.7
Current agent version: '2.183.1'

## Azure DevOps Type and Version
azure-iot-

[2021-03-19 10:23] anatolybolshakov commented on #3337
Hi @CIPop does this issue happen constantly for you?

[2021-03-19 14:09] vladislav-ryzhov commented on #3278
Hey @rafalgalaw!

We're working on your problem. Unfortunately, we need a little more information about your pipeline.
Could you please explain what is going on in your pipeline? Could you please send the pipeline logs (screenshot #1) and the worker logs (screenshots #2,#3)?
If there is some sensitive information and you don't want to share it publicly, you can send it to me by email v-vryzhov@mic

[2021-03-19 16:17] james-flynn-ie commented on #3325
Hi @EzzhevNikita , do you know when this update is likely to be released? It's a security vulnerability which we would urgently like to patch.

[2021-03-19 19:15] michaelschufi commented on #3093
Yep. Unfortunately, the `echo -1000 > /proc/$$/oom_score_adj` scenario doesn't seem to help.

[2021-03-19 19:47] stvpalumbo commented on #1569
March 19th 2021 - Colors are still not supported properly in the Release Pipeline log viewer. This makes our selenium step so painful to debug...

![image](https://user-images.githubusercontent.com/13643497/111834730-3bdf2200-88b1-11eb-9b14-6541d16053e2.png)

[2021-03-20 00:01] CIPop commented on #3337
@anatolybolshakov , yes failed every single run since it started on March 4th.
I've tried an Ubuntu 20.04 host but that failed as well.

On Mar 3rd (and since Dec when I've added this to our pipeline) the log shows the same agent:
[code]

unfortunately I can't see what docker command is executed.

I think the likely cause is the way I've designed the Docker container:

[code]

There are two issues

[2021-03-20 09:24] rafalgalaw commented on #3278
Hi @vladislav-ryzhov thank you very much for your quick response! I think this issue is resolved now, as I am now getting live console output back from the agents. I did assign more CPU resources to each individual agent and after deploying them again it suddenly worked. I did not now that this weirded behavior was caused by having apparently not enough cpu ressources. Thanks again for your help!

[2021-03-20 09:24] #3278 closed

[2021-03-21 22:04] jamesdoran commented on #3284
Just following this up to see if there's anything else I can provide to help diagnose this issue please?

[2021-03-22 05:36] EzzhevNikita commented on #3325
Hi @james-flynn-ie, this update will be released during the next sprint, after about 4 - 5 weeks

[2021-03-22 05:55] EzzhevNikita commented on #3258
@migrulos Did you manage to try the suggested workaround? Is it work for you?

[2021-03-22 10:30] james-flynn-ie commented on #3325
4-5 weeks for a security vulnerability fix seems a little long (the Git patch itself was released 10 days ago already). Do you guys have a process in place for security patches, @EzzhevNikita and @anatolybolshakov ?

[2021-03-22 13:48] pllim commented on #858
FWIW `[skip ci]` works on GitHub Actions.

[2021-03-22 13:57] max-zaytsev commented on #3308
Hi @in-fke, Have you tried to run this script using the PAT  created for "_All accessible organizations_"?
![image](https://user-images.githubusercontent.com/16704239/111993032-30952c00-8b27-11eb-9bbf-45fec2a6bb7a.png)

[2021-03-22 14:11] davidcorrigan714 commented on #3335
Raising the VSTS_AGENT_CHANNEL_TIMEOUT didn't help. Really seems like there's race condition in setting up that process and sending that first message.

[2021-03-22 16:37] davidcorrigan714 commented on #3335
Interestingly this is only occurring on Windows. We only have a handful of Mac agents but a good amount of Linux & Windows that are both very thoroughly utilized so it's a tad weird that it's Windows only.

[2021-03-22 18:15] jannikbuschke commented on #1307
Im also hitting this issue.

I only have a half solution now, by parameterising a template file (using a compile time expression in it) and passing the connection as a statically typed parameter.
Ideally I would like to reference the connection from a variable group, but this seems to be not possible.

[2021-03-22 18:17] jannikbuschke commented on #1307
@IanMoroney
In your example the value 'SubscriotionA' is still statically typed into the template file, and not a variable right?

[2021-03-22 19:40] IanMoroney commented on #1307
The value for "SubscriptionA" in my example is listed in my pipeline as a variable.
The pipeline is calling the template "deploy-webapp.yaml" as one of its steps, and passing the parameter into it.

[2021-03-22 20:32] luckerby opened #3342 "Clean option not honored in build pipeline"
I'm using a YAML pipeline to do a simple MSBuild step. The source git repository is hosted on Azure DevOps. The pool has one single self-hosted agent so far, as I'm performing various tests. The YAML file is below:

[code]

In the classic UI interface, the "clean" option for the step that gets the sources is set to `false`. This is seen below:

![image](https://user-images.githubusercontent.com/31

[2021-03-22 21:27] CIPop commented on #3337
I found a workaround and I believe this is still a bug (or at least a change in requirements for this preview feature):

The docker container must have `WORKDIR` configured such that UID 1001 (non-root) has permissions to read.

I've fixed the issue by ensuring the last command in `Dockerfile` is `WORKDIR /` (default for Docker although not for some base images).

[2021-03-22 23:24] mandalorianbob opened #3343 "Git-lfs installation failed with exit code: 1"
## Agent Version and Platform
Version of your agent? 2.183.1

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

If dev.azure.com, what is your organization name? microsoftcasualgames

## What's not working?
Prepending Path environment variable with directory containing 'git.exe'.
git version
git version 2.28.0.windows.1
git in

[2021-03-23 06:53] EzzhevNikita commented on #3325
@james-flynn-ie We have revised our plans to deploy the current version of the agent, and have included this fix in it, the agent with the new version of the git will be available sometime early next week.

[2021-03-23 10:38] anatolybolshakov commented on #3343
Hi @mandalorianbob do you use self-hosted agent or ms hosted one?

[2021-03-23 11:06] luckerby commented on #3342
Just to add to the original issue, removing the following lines in YAML file present above results in no change in the outcome, as `##[debug]clean=True` is still visible in the checkout step logs.

[code]

[2021-03-23 11:52] anatolybolshakov commented on #3063
Hi @melchiorAAB do you have any updates?

[2021-03-23 12:10] anatolybolshakov commented on #3155
@KrylixZA could you please re-run it and notify when it will happen again - so we could check the logs on our side also?

[2021-03-23 12:15] anatolybolshakov commented on #3257
Hi @richardgavel do you have any updates? Could you please share your yaml file so we could investigate it further?

[2021-03-23 13:08] anatolybolshakov commented on #3319
@sanathkatakam I still can't reproduce the issue... Looks like agent is waiting for input according to logs, but it doesn't show it in terminal.
Could you please try to run it via cmd?

[2021-03-23 16:25] james-flynn-ie commented on #3325
That's great news, thank you for bringing forward the release, @EzzhevNikita ! 👍

[2021-03-23 17:00] mandalorianbob commented on #3343
I guess technically it would be "self-hosted", but it's a 1ES Managed Image. So I don't really have access to it, as though it were MS Hosted. But I'm not using the hosted pools.

[2021-03-24 08:23] sanathkatakam commented on #3319
@anatolybolshakov We are connecting to our OnPrem environment using a Secure VPN. Only if we are logged into this VPN, then we are able to connect to the server.
Do you think this VPN might be the one, which is causing this problem?

[2021-03-24 08:39] in-fke commented on #3308
Yes, extending PAT to "All accessible organizations" - **this PAT now worked**
What do we conclude from this?

[2021-03-24 11:08] #2062 closed

[2021-03-24 17:26] drewwilliams1982 opened #3344 "GIT LFS Broken in latest hosted agent version"
I'm having an issue with software on a Hosted Agent. The link [Hosted Agent Image Repository](https://github.com/Microsoft/vsts-image-generation) does not work, so don't know where else to log this.

There appears to have been an update to GIT on the hosted windows 2019 image. Between 12:47GMT and 14:40GMT the versions have changed as follows and LFS fetches no longer work:

Old agent version: `2.

[2021-03-24 22:36] mjroghelia commented on #3344
@drewwilliams1982 This is a backward-incompatibility in the latest version of git. You can mitigate the issue by declaring the System.PreferGitFromPath pipeline variable with the value "true". This will make the agent use the slightly older version of git included in the hosted VM image (2.30.2), which is known to work with the version of LFS also included in the hosted image (2.13.2). Setting thi

[2021-03-24 22:38] mjroghelia commented on #3344
For more info on the underlying problem, see this post from the git-annex project, which encountered a similar situation with git 2.31.0 https://git-annex.branchable.com/forum/error__58___bogus_format_in_GIT__95__CONFIG__95__PARAMETERS/

[2021-03-24 23:36] gregpakes commented on #3344
Hi @mjroghelia

I work with @drewwilliams1982 .  Unfortunately, this did not resolve the issue.

[code]

[2021-03-24 23:36] gregpakes commented on #3344
Hi @mjroghelia

I work with @drewwilliams1982 .  Unfortunately, this did not resolve the issue.

[code]

[2021-03-25 09:16] drewwilliams1982 commented on #3344
Adding System.PreferGitFromPath=true appears to work.

Thanks

[2021-03-25 09:16] #3344 closed

[2021-03-25 12:42] DaniilShmelev commented on #3344
As @mjroghelia said, this issue is caused by an incompatibility in git versions. We're planning to release the new version of git on our Windows VM image soon.
You can use the provided workaround with `System.PreferGitFromPath` for now.

[2021-03-25 13:02] manikantaado opened #3346 "Issue with Access to get the artifact from the variable ($(System.ArtifactsDirectory)) when we are using Hosted Agent for New-PowerBIReport cmdlet in PowerShell Task"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2021-03-25 13:04] manikantaado commented on #3346
Here is the complete image of error details

![image](https://user-images.githubusercontent.com/71376235/112477125-a58f7e00-8d40-11eb-9d75-191c9de3cb79.png)

but if you see i can list out the information about files available in the same directory where as the cmdlet is saying that " it is not able to access the path"

[2021-03-25 13:05] manikantaado commented on #3346
Hi Team,

let me know if you need any additional info to fix the same and looking forward for a response from you.

[2021-03-25 13:29] echalone commented on #3217
Thanks again @hangar18rip for the tip, but it looks like I already use that ^^ You're right, this command will not throw that error. But the thing is, it will update the Build-Number, but only with the next buildstep, not immediately. My workaround at the moment is, that I'm manually setting the Build_BuildNumber environment variable and then I'm using this command to be on the correct side of doi

[2021-03-25 13:34] hangar18rip commented on #3217
I don't know what your are doing exactly but maybe you should have a dedicated task to define your custom build number and in the other ones use the good old build number env var. I would do it this way in my pipelines, some kind of separation of concern

[2021-03-25 14:17] echalone commented on #3217
Hey, thanks, I already use a dedicated task for that but I also want to check at the end of the step if the correct build number was set. So currently I'm just doing both, first setting the enviornment variable, then checking if it was set correctly by reading the environment variable (yeah, I'm one of those "let's make extra sure" guys xD) and then using the build.updatebuildnumber to set the bui

[2021-03-25 14:58] EdPerminas opened #3348 "Azure DevOps 'Path' capability"
Azure DevOps: Azure DevOps Services (Cloud Version)
Self-Hosted Windows agent.
Version: 2.183.1
OS: Windows 10

Under Agent Capabilities, there are no 'Path' variable.

Is it possible to include it automatically during the agent's system scan?

[2021-03-25 15:04] max-zaytsev commented on #3308
@in-fke I wasn't able to reproduce the issue with the same PAT.
You can see this error message if you try using an expired pat or a pat that does not have the required permissions. For example, if you try to remove the agent from a specific organization, but the token was created for another one.

Am I understand right that you are unblocked now?

[2021-03-25 15:38] in-fke commented on #3308
Yes I am unblocked, but the PAT was definitely not expired. I would have to look in to the "Organizations" aspect when issuing PATs.
But my observation was: I was able to REGISTER with the PAT, but not REMOVE with the same PAT, which seemed awkward.
I would have to try and reproduce this but I don't have much time for such things.

[2021-03-29 02:16] timotheecour commented on #2944
@anatolybolshakov can you please define "soon"?

@gaikovoi are you sure https://github.com/microsoft/azure-pipelines-agent/issues/2944#issuecomment-645612784 works? `Build.SourceVersionMessage` for a PR looks like:
[code]
as observed by other people, eg https://github.com/Microsoft/azure-pipelines-agent/issues/858#issuecomment-557869509

[2021-03-29 09:27] anatolybolshakov commented on #3307
Hi @emul8ed is this issue still actual for you?

[2021-03-29 09:31] anatolybolshakov commented on #3228
Hi @simonsabin thanks for contribution! Related changes have already been rolled out - I'm closing this at the moment, please let us know if you have any other issues.

[2021-03-29 09:31] #3228 closed

[2021-03-29 09:34] anatolybolshakov commented on #3111
Hi @scott-doyland-burrows is this issue still actual for you? Did steps from described in devcom ticket help you to resolve the issue?

[2021-03-29 09:37] anatolybolshakov commented on #3011
Hi @martys @anton-erofeev current capability scanning process relies on checking of predefined set of environment variables - so setting up of 'JAVA_HOME' environment variable should help to resolve this issue.
@martys does this help to resolve the issue you faced with?

[2021-03-29 09:50] scott-doyland-burrows commented on #3111
Hi,

The ticket linked above says to run "svc.sh" as the buildadmin user (ie non-root).
This will then put the correct ID (buildadmin) in the relevant systemd file.

The MS docs:
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops
say to run svc.sh as root.

The MS docs are correct - it is not possible to run svc.sh as "buildadmin" as the svc.sh script needs r

[2021-03-29 14:01] martys commented on #3011
I guess.
The question is more like - how come there is a manuall process involved in this in 2021.
As a user I would expect that after I unstall the JDK, all the rest would happen automatically, without me reading some manualls, and setting up some variables somewhere..
(as a programer I totally understand You, and it's not a big issue once You know what it is. Although it's just anoying to spend

[2021-03-29 20:27] max-zaytsev commented on #3210
Hi @bartwitkowski, is the issue still relevant for you?

[2021-03-30 08:14] anatolybolshakov commented on #3343
@mandalorianbob to use git lfs - it should be already installed on agent environment, or you need access to install it on this environment.

[2021-03-30 08:25] anatolybolshakov commented on #3319
@sanathkatakam I don't think it's related to VPN... At the moment it looks like some terminal issue

[2021-03-30 08:27] anatolybolshakov commented on #3257
Hi @richardgavel I'm closing it due to inactivity at the moment - please let us know if it's still actual for you.