[2021-03-30 08:27] #3257 closed

[2021-03-30 08:28] anatolybolshakov commented on #3063
Hi @melchiorAAB I'm closing it at the moment since it's still not reproducible for us and some more info required for further investigation - please let us know if it's still actual for you, and if you are able to provide it.

[2021-03-30 08:28] #3063 closed

[2021-03-30 08:29] anatolybolshakov commented on #3307
Hi @emul8ed I'm closing this due to inactivity at the moment, it's still not reproducible for us - please let us know if you still have this issue

[2021-03-30 12:40] vladislav-ryzhov commented on #2860
Hello @MIchaelMainer , @tomaustin700 !

Unfortunately, this issue doesn't apply to our area. But you can check your PowerShell task options and if failOnStderr input is set to true, you can change it to false and try. This input allows you to control the interpretation of the stderr output.
If you still have this issue after that change you can use workaround by @fniko and read more about it [here

[2021-03-30 12:41] vladislav-ryzhov commented on #2860
Let me close this one since this is external issue. Please feel free to ask any further questions.

[2021-03-30 12:41] #2860 closed

[2021-03-30 16:07] mandalorianbob commented on #3343
I agree that it should already be installed haha. Do you have any best practices for how to install git lfs to the agent then?  I can run a powershell script that'll download it from the website and install it I guess.

[2021-03-30 16:54] pajcarpentier commented on #2148
Hello,
i'm facing the same problem as i have to set my ARM_CLIENT_SECRET to a go@0 task to run terratest.
i tried the following without any success :

        - task: Go@0
          displayName: 'Run Go terratest for resource_group'
          inputs:
            command: test
            arguments: '$(TF_LOG) $(pathToTerraformRootModule)\resource_group'
          env:
            MY_MAPPED_SECRET:

[2021-03-30 18:46] henryqinshield commented on #3210
@max-zaytsev Hello! we are seeing this as well on our builds. Specifically it is happening on a single job where we pass in a dynamic parameter (this parameter changes with every run). Is this expected behavior?

[2021-03-30 20:06] mandalorianbob commented on #3343
If I wanted to manually set the path to point to git lfs, where would it be, relative to the agent folder? Just installed in program files or what?

[2021-03-30 20:21] gaikovoi commented on #2944
@timotheecour this is a condition to skip CI build triggered after completed PR. The condition will be evaluated as 'true' for PR build.

[2021-03-30 20:30] timotheecour commented on #2944
i see. In the meantime I came up with this: https://github.com/nim-lang/Nim/pull/17561, feedback welcome.

it's obviously not as good as a builtin `[skip CI]` for several reasons:
* slower since it requires a clone (depth >= 2 needed, see PR)
* more importantly, adds complexity/boilerplate in each pipeline

[2021-03-30 23:15] cleankode commented on #2148
@pajcarpentier
I finally did resolve it and documented it here: https://bitbucket.org/ZelalemW/how-to-access-secrets-in-ado/src/master/

[2021-03-31 10:22] sanathkatakam commented on #3319
@anatolybolshakov I have tried running it via cmd, but no luck

The cmd gets crashed and closes automatically, showing a pop up on right bottom of the screen saying that "Malware Detected"

[2021-03-31 11:39] max-zaytsev commented on #3210
Hi @henryqinshield, could you please provide us with logs? If there is some sensitive information and you don't want to share it publicly, you can send it to me by email v-mazayt@microsoft.com.

[2021-03-31 19:19] henryqinshield commented on #3210
@max-zaytsev I don't have any specific logs to the problem (as the agents have disappeared...however we have isolated the problem. It seems to lie in the dynamic parameter that we are passing in. As a function of our pipeline, we kick off a pipeline with templated yaml files. At times, we will need to pass in a git commit hash that is for the same repo but a different hash than "self". This causes

[2021-03-31 20:29] siddjain opened #3350 "Effect of renaming a project on Azure Pipelines Agent"
Hello,

we want to rename our Azure DevOps project:
https://docs.microsoft.com/en-us/azure/devops/organizations/projects/rename-project?view=azure-devops

does this action impact the azure pipeline agents? if so, what steps are needed to adapt to the new name? when we created the agent it was done using this command:

[code]

and now we want to change project name from `my-project` to something el

[2021-04-01 08:57] VMM-Mtech opened #3351 "Self-hosted agent with autologon not running as administrator on Windows Server 2012R2"
## Agent Version and Platform
2.184.2 (originally we used 2.181, the problem occurred there too)

OS of the machine running the agent? Windows Server 2012 R2 Standard, 64-bit

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
We have installed the agent software on our Windows Server with autologon option. The agent is running, and the autologon happens after reboots, but the

[2021-04-01 10:04] anatolybolshakov commented on #3319
@sanathkatakam this doesn't seem to be related to agent - do you have some antivirus enabled in your system? What is the origin of the popup?

[2021-04-01 10:04] anatolybolshakov commented on #3280
Hi @akalali do you have any updates?

[2021-04-01 13:48] DaniilShmelev commented on #3350
Hi @siddjain! The project name is only required during the initial agent configuration, after that, the project's GUID is used, so renaming the project won't affect the agent.
Closing this for now, feel free to reopen if you encounter any issues!

[2021-04-01 13:48] #3350 closed

[2021-04-01 15:11] hdGuild commented on #2148
Hello @cleankode
Thanks for the reply.

I just point out this night that secrets are just not revealed in Azure pipelines output.
The way I used was the good one and the secret is well used in my go script... but just not printed :=)

Thanks for your code.

[2021-04-01 16:13] sphanley opened #3352 "[Feature request] allow --fetch-tags and --prune to be enabled/disabled on Git Checkout task"
My organization has discovered that if we run the exact same commands as are executed by the Microsoft-provided checkout task (which is implemented within the agent runner rather than in the pipeline-tasks repo) but we omit the `--fetch-tags` and `--prune` flags, which are not needed in our case, the performance of our checkout is significantly improved. By combining this with the changes mentione

[2021-04-01 16:19] sphanley opened #3353 "[Feature request] don't restrict Git to HTTP/1.1 in Checkout task until after the checkout is complete"
My organization has discovered that if we run the exact same commands as are executed by the Microsoft-provided checkout task (which is implemented within the agent runner rather than in the pipeline-tasks repo) but we omit the line `git config http.version HTTP/1.1`, the performance of our checkout is dramatically faster. By combining this with the changes mentioned in #3352, we've seen an 80-90%

[2021-04-01 16:28] siddjain commented on #3350
Thanks for clarifying. That makes sense.

________________________________
From: DaniilShmelev ***@***.***>
Sent: Thursday, April 1, 2021 6:48 AM
To: microsoft/azure-pipelines-agent ***@***.***>
Cc: siddjain ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/azure-pipelines-agent] Effect of renaming a project on Azure Pipelines Agent (#3350)

Hi @siddjain<https://na01.safelinks.protection.

[2021-04-01 18:33] anatolybolshakov commented on #3348
Hi @EdPerminas it should be discovered during agent's system scan if it is defined there - could you please make sure that there is a 'Path' variable defined in agent's system?

[2021-04-01 21:08] cleankode commented on #2148
@hdGuild  yes, secrets won't be printed in readable format - which is a good thing preventing accidentally leaking them in log outputs.

[2021-04-02 01:49] mkamranaslam commented on #2872
Having the same issue, tried using the path variable and the VSTS_TAR_EXECUTABLE also. On Windows Server 2012 R2 and 2016

[2021-04-02 06:50] wangwen-ms opened #3354 "kill -SIGINT #PID failed when running .sh script in pipeline, is there any suggestion on how to send SIGINT to a background task in bash script for pipeline"

[2021-04-02 13:54] davidcorrigan714 commented on #3335
Seems like disabling defrag on Windows 7 fixed this for us - well that or hitting the Upgrade agents button in the Agent Pool settings though I'm leaning towards the former case sense we had an agent continue to fail until we realized it didn't get our update to disable defrag. No clue why the Windows defrag service would cause this though especially since we have all SSDs in the agents and Defrag

[2021-04-02 14:53] anatolybolshakov commented on #3354
Hi @wangwen-ms could you please share the error which you faced with?

[2021-04-02 17:07] mleziva opened #3356 "VMSS extension Microsoft.Azure.DevOps.Pipelines.Agent proxy"
## Agent Version and Platform
TeamServicesAgentLinux 1.21

OS of the machine running the agent? OSX/Windows/Linux/...
Ubuntu

## What's not working?
Attempting to use scale set agents behind a proxy. The Microsoft.Azure.DevOps.Pipelines.Agent fails with the following error:

`VM has reported a failure when processing extension 'Microsoft.Azure.DevOps.Pipelines.Agent'. Error message: "The Extension

[2021-04-02 19:23] anatolybolshakov commented on #3155
Hi @KrylixZA ping - any updates?

[2021-04-02 19:39] anatolybolshakov commented on #3330
Hi @iambernics
Agent downloads all necessary tasks from server before job execution - every task is located in _work\_tasks\<task_name><task_guid>\<task_version> folder (for example _work\_tasks\AzureCLI_46e4be58-730b-4389-8a2f-ea10b3e5e815\2.1.0). There are already built versions of the tasks - you can get the same task bundles by building them from source following steps [here](https://github.co

[2021-04-04 01:44] wangwen-ms commented on #3354
there is a bash script which i run successfully in the local , but when running on pipeline , it will failed on killing a background process , I think the question is  i kill the process with SIGINT,  do you have any experience about how to send SIGINT when running by pipeline.

[2021-04-05 04:00] kanderson-wellbeats commented on #2018
THIS WAS IT. Any other nonsense with/without semicolon and with single or double quotes is a red herring. Do what the documentation says and add a separate task after the check the value.

[2021-04-05 06:23] EzzhevNikita commented on #3325
@james-flynn-ie @ChristopherMank Agent v2.184.2 which contains git version 2.30.2 has been deployed

[2021-04-05 06:23] #3325 closed

[2021-04-05 10:26] EzzhevNikita commented on #3258
Since there no response for a long time I'm closing this item currently. Feel free to reopen it in case of any future questions

[2021-04-05 10:26] #3258 closed

[2021-04-05 10:52] anatolybolshakov commented on #3354
@wangwen-ms in general there should not be restrictions for this command - if user which is used to run agent has enough permissions to execute 'kill' command for specified PID, it should work.

[2021-04-05 12:05] anatolybolshakov commented on #3335
@davidcorrigan714 got it thanks - it looks like either this issue was resolved with last agent update, or there was some external issue with defragmentation - could defragmentation process being enabled lead to lack of cpu resources for agent process?

[2021-04-05 12:39] anatolybolshakov commented on #3198
Hi @karambawow @MarRich1 we rolled out the fix for this issue - closing this at the moment, please let us know if you have further questions.

[2021-04-05 12:39] #3198 closed

[2021-04-05 16:57] #3193 closed

[2021-04-06 05:15] wangwen-ms commented on #3354
yes, the problem is in non-interactive shell ,the signal: SIGINT will be ignored. so is there any tips to set pipeline in interactive shell or mode?

[2021-04-06 09:38] matskan commented on #3351
Hello. We checked your logs but could not find the reason of this issue. Could you please provide logs from agent when it runs after autologon configuration and reloading. For privacy you can send your logs directly to that email: v-imatskan@microsoft.com.

[2021-04-06 10:06] MirKml commented on #2944
It seems doesn't work even in own Azure Devops Git repositories, see screenshot. Merge commit message on HEAD with [skip ci] and all pipelines are triggered.
This was merge of docker files regarding some manual test, no ci trigger necessary but, all 12 pipelines triggered. :worried:
![image](https://user-images.githubusercontent.com/21239658/113694340-e6d44600-96cf-11eb-9706-22247e616c3c.png)

[2021-04-06 12:18] VMM-Mtech commented on #3351
@matskan I've sent you the log file via email. Thanks for your help so far!

[2021-04-06 15:09] #3283 closed

[2021-04-06 17:43] marionzr commented on #1757
Hi. I'm facing a similar problem. Could someone check what could be wrong?

Bellow is the condition inside the **Custom condition**

AND (succeeded, MyCondition)
MyCondition => OR (EQ(variable[x], 'true'), NOT(CONTAINS(variable[y], 'a_value')))

**and**(succeeded(), or(eq(variables['IgnorePullRequestTags'], 'true'), not(contains(variables['PullRequestTags.Value'], 'TestsSkipProfessionalApi'))))

E

[2021-04-07 05:58] sanathkatakam commented on #3319
Yes, there is an antivirus running on this server. The running antivirus is only the origin of the pop up.

[2021-04-07 10:54] max-zaytsev commented on #3308
@in-fke, this seems to be related to Azure DevOps authorization and not to the agent itself. Could you please create a ticket on https://developercommunity.visualstudio.com/search?space=22 for further investigation?

[2021-04-07 11:21] anatolybolshakov commented on #3319
@sanathkatakam did you try to disable it?

[2021-04-07 11:23] anatolybolshakov commented on #3155
@dvmorris @KrylixZA @mk-AVA I'm closing this at the moment due to inactivity - please let us know if it's still actual for you and provide more details - for us to investigate it further.

[2021-04-07 11:23] #3155 closed

[2021-04-07 13:41] anatolybolshakov commented on #3354
@wangwen-ms there is no ability to run interactive shell via Bash pipeline task.

[2021-04-07 13:42] anatolybolshakov commented on #3330
@iambernics I'm closing this at the moment since it seems to be resolved - but please feel free to ask any further questions/let us know if you still have any issues!

[2021-04-07 13:42] #3330 closed

[2021-04-08 01:14] wangwen-ms commented on #3354
ok, i will try other scripts to  accomplish  same function, thanks.

[2021-04-08 16:43] blesuer opened #3357 "Attempting to register a self-hosted agent fails due to lack of interactive prompt in PowerShell"
## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/{organization} or https://{organization}.visualstudio.com
ZeenyxSoftwareDevelopment

## What's not working?
Attempting to register a self-hosted agent using PowerShell. I got to the step where prompted for agent pool. I selected default and then go the error that I am not authori

[2021-04-09 08:33] andy-mishechkin commented on #3145
Hello, @cdunford
We are investigating this issue and I hope we can find decision.
And I also note that Azure DevOps agent installation to RHEL 6/7 is not such simple as it written in documentation and requires some additional components and environment modification (unfortunately, I  have no RHEL7 and I use CentOS7 for investigation). You can find here about details: https://github.com/dotnet/core

[2021-04-09 10:59] sdobrodeev commented on #3111
Hi @scott-doyland-burrows. I researched the problem. First, the `svc.sh` script tries to use the its second parameter as the username and if it is absent, as in your case, then the username is taken from the `$SUDO_USER` environment variable which is set by `sudo` command. It seems that this value is empty for you. Could you check this by calling the echo `$SUDO_USER` command? This can be if you d

[2021-04-09 12:23] scott-doyland-burrows commented on #3111
Hi,

Thanks - that is the issue, I ssh'd directly in as root using an ssh key (which I know isn't best practice...).

I guess the documentation could be updated to say the ```svc.sh``` script uses the ```$SUDO_USER``` environment variable and/or to say it will take a second parameter as in your example above.

[2021-04-09 13:06] andy-mishechkin commented on #3145
Hello, @cdunford, once again.
I've tested docker from official docker repository (https://docs.docker.com/engine/install/centos/), and I didn't see any errors, when I've tried to run test hello-world container (see the screenshot).
![image](https://user-images.githubusercontent.com/57713077/114184022-60c93100-9955-11eb-8c02-c4bbd6331444.png)
Also I see that official yum repository now contains doc

[2021-04-09 13:24] anatolybolshakov commented on #3354
@wangwen-ms let me close this one since it looks resolved - but please feel free to ask any further questions.

[2021-04-09 13:24] #3354 closed

[2021-04-09 15:07] jchauncey opened #3358 "configure scaleset agent pool with arm template"
I am wanting to create a scale set that utilizes our custom image and also has the necessary azsecpack extensions installed. It would be awesome if I could also preconfigure the scale set to create and join a pool. When I examine the configuration of the extension on an existing pool I see the following:

note this is a bicep file

[code]

Can I use the settings from the deployment group extension

[2021-04-09 19:53] #3357 closed

[2021-04-12 09:35] max-zaytsev commented on #3308
Feel free to reopen it if you have any questions.

[2021-04-12 09:35] #3308 closed

[2021-04-12 12:46] EzzhevNikita commented on #3235
An agent with the fix for this issue has been deployed. Now closing this item, feel free to reopen it if it still actual for you.

[2021-04-12 12:46] #3235 closed

[2021-04-12 14:37] andy-mishechkin commented on #3323
Hello, @mo-saeed
I've tested execution of `stat -c %g /var/run/docker.sock` on hosted `ubuntu-latest` agent. I've started the ubuntu container in background `sudo docker run --name ubuntu_bash --rm -i -t -d ubuntu bash` and tried to execute `stat -c %g /var/run/docker.sock` - all works fine (I've attached the screenshot bellow).
![image](https://user-images.githubusercontent.com/57713077/114411767

[2021-04-13 00:26] BlairMcc opened #3359 "Publish Pipeline Artifact - /_apis/dedup/chunks failed with TimeoutException: 'The HTTP request timed out after 00:00:50.'"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2021-04-13 02:26] and-rewsmith opened #3360 "Self Hosted Arm32 Agent: Fatal NullRefrenceException"
## Have you tried troubleshooting?
[Troubleshooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)
Yes

## Agent Version and Platform
Version of your agent? 2.144.0/2.144.1/...
2.185.0

OS of the machine running the agent? OSX/Windows/Linux/...
Raspbian Buster (arm32)

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Se

[2021-04-13 05:58] EzzhevNikita commented on #3359
Hi @BlairMcc, is this issue happens constantly? From the logs that you have provided seems to be an issue with accessing the blob storage. I assume it is mostly not an agent issue, but maybe temporary performance degradation in this service.
And also could you please attach the agent logs (files from _diag folder in agent directory). You can attach files either to this ticket or send them to my em

[2021-04-13 06:11] EzzhevNikita commented on #3360
Hi @and-rewsmith, am I understand correctly that you have a problem with several agent versions starting from 2.144.0 till 2.185.0? Does the problem appear constantly or periodically?
And also could you please share full agent logs (files from _diag folder) you can either attach them to this ticket or send them to my email v-niezz@microsoft.com

[2021-04-13 11:26] Arko109 opened #3361 "Unable to configure newer versions of agents"
## Agent Version and Platform
v.2.182.1/v2.184.2/v2.185.0

macOS

## Azure DevOps Type and Version
On-premises Azure DevOps Server

Version Dev17.M153.3

## What's not working?
We are unable to configure newer versions of agents (tested with the three mentioned above), they fail with "You are not authorized to access {server_url}" message. The old version we currently have (2.153.1) can be connect

[2021-04-13 11:33] ihendriks1 commented on #2944
Not sure if this is the correct place to add this but:

When I merge a pull request (say, to master), and that PR contains a commit which has `[skip ci]`, it doesn't trigger CI for that entire merge commit. The merge commit message does not contain the `skip ci` at all, so I don't understand why it behaves this way.

Anyone have any solution for this problem?

[2021-04-13 13:09] EzzhevNikita commented on #3361
That issue seems to be similar to this one https://github.com/microsoft/azure-pipelines-agent/issues/3271

[2021-04-13 13:20] Arko109 commented on #3361
It is indeed similar, however there's one important info that is added in mine, for us it works with a previous version but not with latest ones, so there must've been a breaking change somewhere in-between.

[2021-04-13 15:12] hommeabeil opened #3362 "User groups inside container jobs does not the match the host"
## Agent Version and Platform
Version of your agent? 2.181.1

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
In a container jobs, the user created inside the container does not have the same group ID (`gid`), has the agent running on the host.

Here is how a new user is created inside a container, the user ID is properly set with

[2021-04-13 17:17] anatolybolshakov commented on #3280
Hi @akalali I'm closing this due to inactivity at the moment - please let us know if you still have this issue.

[2021-04-13 17:21] anatolybolshakov commented on #3319
@sanathkatakam this issue seems to be related to antivirus blocking agent - please make sure that there is an exception for agent process.
Let me close this at the moment since it doesn't seem to be related to the agent itself - please let us know if you have any futher questions.

[2021-04-13 17:21] #3319 closed

[2021-04-13 17:22] anatolybolshakov commented on #3348
Hi @EdPerminas is this still actual for you?

[2021-04-13 20:44] and-rewsmith commented on #3360
I sent them via email. The only agent version I have tested is 2.185.0. This line is part of the template which I think caused the confusion:

[2021-04-13 23:31] BlairMcc commented on #3359
Hi @EzzhevNikita , it seems to have come right now so agreed on some temporary blip with blob storage

[2021-04-14 05:22] EzzhevNikita commented on #3359
So since the issue was resolved currently, I'm closing this item. Feel free to reopen it in case of any future questions.

[2021-04-14 05:22] #3359 closed

[2021-04-14 05:34] EzzhevNikita commented on #3360
Thank you for the quick response, we will check provided logs.
Regarding the agent's version, I assume you mean 2.184.2, but not 2.185.0 - at least the logs that you provided are for this version.

[2021-04-14 11:43] andy-mishechkin commented on #2985
Hello, @jeffpatton1971
Is it still actual issue ? If yes - may you provide your yaml file or some minimum reproducible sample?
If it's already been fixed - can we close this ticket ?

Thank you

[2021-04-14 20:51] and-rewsmith commented on #3360
@EzzhevNikita Yeah good catch. 2.184.2 is the agent version I am running.

[2021-04-14 20:53] and-rewsmith commented on #3360
@EzzhevNikita Sorry forgot to answer this question. The problem appears constantly. I have tried running the install script to install all dependencies, removing the agent, then recreating a new one. However I get the same issue.

[2021-04-15 02:03] lachlann562 commented on #3185
while AlwaysExtractTask sets it to Y, it doesn't seem like there is a similar switch to force it to no on the CLI, thats frustrating.

[2021-04-15 11:33] anatolybolshakov commented on #3029
@phaneendrakotha these IPv4 ranges should be in allow list - to make sure that dev.azure.com domain is available.

[2021-04-15 12:43] anatolybolshakov commented on #2046
Reopening this since it still seems to be actual
Zulu JDK adds path to the bin folder to the PATH environment variable - maybe we could just check if java is runnable during capability detection - as it is currently for linux/OSX in [line](https://github.com/microsoft/azure-pipelines-agent/blob/master/src/Microsoft.VisualStudio.Services.Agent/Capabilities/NixCapabilitiesProvider.cs#L55).

[2021-04-15 12:51] simonsabin opened #3367 "Agent should not include PATH as a capability"
## Whats not working
The agent at startup of the agent reads the environment variables and puts them as capabilities.
At runtime of a pipeline these stored values are uses to set the environment variables, irrespective of what is currently set for the user/machine.

This means that if you use the agent to install anything that sets an environment variable, PATH being the most common. Then the agen

[2021-04-15 13:47] FreshPrinceMayo commented on #2231
@RoopeshNair Hi any update on this ?

[2021-04-15 13:55] pierreyvesv commented on #3210
Hello,
I have the same issue, for now I do a workspace cleaning after each run:
[code]

[2021-04-15 14:12] EzzhevNikita commented on #3360
@and-rewsmith I set up an arm32 agent on my raspberry pi, looks like it works as expected for me, I don't see such issues. I also would like to check one moment on your side.
As I see the agent is failing on the step when it is loading task definition for CodeSignValidationInjected task.
Could you please check and confirm that task definition exists in this location _/home/pi/myagent/_work/_tasks/

[2021-04-15 16:24] anatolybolshakov commented on #3348
@EdPerminas I'm closing this due to inactivity at the moment - please let us know if you have any futher questions.

[2021-04-15 16:24] #3348 closed

[2021-04-15 16:50] and-rewsmith commented on #3360
@EzzhevNikita

The location is slightly different (_tasks rather than tasks):
[code]

That task is auto-injected by a policy we have in place, so I am not sure there is a way to disable it. Lmk if you know of a workaround for this.

[2021-04-15 17:29] anatolybolshakov commented on #3367
Hi @simonsabin
For the first - I would suggest to create a ticket on https://developercommunity.visualstudio.com/search?space=21 - since it would require some changes in whole process - how tasks are selected for execution according to demands (since capabilities will no longer be static during pipeline execution).
for the second one - I don't think that there is a cross-platform solution to retri

[2021-04-15 21:49] and-rewsmith commented on #3360
@EzzhevNikita It stopped happening today. Not sure what was wrong but it seems to be fixed.

[2021-04-15 22:29] simonsabin commented on #3367
my view is that storing PATH as a capability is a hack and I agree that updating capabilities will be problematic if not controlled, thus the reason for the point 2.

What we need is an extra method in say config.md that allows the capabilites to be updated. That way I can be in control of the process.

[2021-04-16 00:52] mjroghelia opened #3369 "Guard against LFS compatibility issues when MinGit is 2.31.x or later."
We have broken customers when upgrading MinGit to 2.31.0 twice, first on the hosted pools with 2.184.1, then on a private MS pool in 2.185.0. The problem stems from the agent calling Git 2.31, which calls Git LFS, which then invokes an older version of Git from the PATH. See https://github.com/microsoft/azure-pipelines-agent/issues/3344

We need to guard against this in the future. When using the

[2021-04-16 05:36] EzzhevNikita commented on #3360
@and-rewsmith  Oh, that's interesting. I'm glad that the issue was resolved.
Since it is not actual anymore I am closing this ticket. Feel free to reopen it in case of additional questions.

[2021-04-16 05:36] #3360 closed

[2021-04-16 12:09] heidemn-faro opened #3371 "Script enableagent.sh should create the "docker" group"
## Having issue with YAML?
no

## Having issue with Tasks?
no

## Having issue with software on Hosted Agent?
no

## Having generic issue with Azure-Pipelines/VSTS/TFS?
Please report it on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html)

## Have you tried troubleshooting?
N/A

## Agent Version and Platform
`vsts-agent-linux-x64-2.185.0.tar.gz`

OS of the mac

[2021-04-16 12:21] heidemn-faro commented on #3371
Note that just running the following in a pipeline job doesn't work, since a new login shell would be required.

[code]

I'm aware that other workarounds are possible, but I want to avoid them.
(E.g. `sudo chown "$( id -u )" /var/run/docker.sock` works in a pipeline, but might have side effects.)

[2021-04-18 19:38] blake-mealey opened #3373 "Where is the code which parses the current Azure Pipelines YAML syntax?"
This is not a bug report with the agent, so I have removed all the standard Q/A as they are irrelevant.

I am trying to understand the code which parses the YAML pipelines syntax in this repository and having some difficulty. I discovered the `Agent.Listener` project's `DistributedTask.Pipelines.Yaml.PipelineParser` but this appears to be parsing an old version of the YAML syntax (the one which se

[2021-04-19 02:06] mjroghelia commented on #3373
The YAML is parsed in the Azure DevOps service, not on the agent. The source for the parser is not publicly available.

[2021-04-19 02:06] #3373 closed

[2021-04-19 02:08] blake-mealey commented on #3373
Thanks for the info

[2021-04-19 12:34] vladislav-ryzhov commented on #3233
Hi @AErmie.
Unfortunately, we were unable to reproduce your issue. Could you please provide more details about this issue?
There is one command in your YML file "docker exec superLinter chown -R "$(id -u):$(id -g)" /tmp/lint --verbose"
It looks like these two lines from GitHub Super-Linter Code Scan logs(screenshot №1) are the result of this command. Could this be the cause of your problem? Could

[2021-04-19 12:50] vladislav-ryzhov commented on #3233
Hi @AErmie.
Unfortunately, we were unable to reproduce your issue. Could you tell us more clearly about your issue?
There is one command in your YML file "docker exec superLinter chown -R "$(id -u):$(id -g)" /tmp/lint --verbose"
It looks like these two lines from GitHub Super-Linter Code Scan logs(screenshot №1) are the result of this command. Could this be the cause of your problem? Could docker

[2021-04-19 17:08] #3335 closed

[2021-04-20 08:11] DalpheSDC opened #3376 "Due to new vulnerabilities for Node.JS 10, we have a new requirement for a security update of Node.JS 10 in TFS package to version 10.24.1."
Hi,

Due to new vulnerabilities for Node.JS 10,  we have a new requirement for a security update of Node.JS 10 in TFS package to version 10.24.1.

https://nodejs.org/en/blog/vulnerability/april-2021-security-releases/

Node.js Multiple Vulnerabilities
CVE references: CVE-2021-3450 | CVE-2021-3449 | CVE-2020-7774
Solution:
Update to version 10.24.1.

[2021-04-20 08:23] #3059 closed

[2021-04-20 08:27] RuslanRasulovAkv commented on #3059
Close as Tee was upgraded and it seems resolved this item. (no activity for 180 days).

[2021-04-20 10:47] akalali commented on #3280
Ok, so I tried it again. I did not change anything. I just tried to connect the agent to azure again after many weeks.
When I now type ` sudo ./svc.sh install` I receive the message
[code]
which is good - the service is still running - for nearly two months now.

Next I type `sudo ./svc.sh start` and I receive the message
[code]
The error log message are still a leftover from the beginning of Marc

[2021-04-20 21:16] pbtanna17 commented on #3280
We are also facing exactly the same issue.
Organization name is : https://dev.azure.com/itron
We started seeing this issue all of a sudden.
All the agents went offline. I could not stop the agents as well using `sudo ./svc.sh stop`.

Diagnostics also produced the same output as above.

I tried running three versions of agent:
2.163, 2.177 and 2.185

[2021-04-21 09:46] anatolybolshakov commented on #3280
@akalali I guess you need to make sure that network is reachable for user group which is used for service mode.
@pbtanna17 have you run ./run.sh --diagnostics command? Do you have any issues with the network?

[2021-04-21 09:58] xpp12345 opened #3379 "What ARM platforms / OSes are supported?"
Hi, can anyone tell me what **arm** OS and platforms are supported and give a list?

we tried  **vsts-agent-linux-arm64-2.184.2.tar.gz**  on **centos 1810 arm64** and installed all prerequisites as the guide.
finally we failed to start pipeagent as following error:
![NoDependency](https://user-images.githubusercontent.com/46448635/115535100-0754f080-a2cb-11eb-8278-a803d8650ee3.png)

Is it supporte

[2021-04-21 10:29] #3376 closed

[2021-04-21 13:36] petermicuch opened #3380 "Self-hosted linux agent ignores proxy settings during PublishTestResults step"
## Agent Version and Platform
2.185.1 (also tested with 2.181.0)

OS of the machine running the agent? Linux Ubuntu 18.04

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

If dev.azure.com, what is your organization name? https://dev.azure.com/iii40

## What's not working?
When running tests on selfhosted linux agent, tests are running fine, agent is online all the time,

[2021-04-22 06:23] VMM-Mtech commented on #3351
Hi,

any updates on this one @anatolybolshakov?

[2021-04-22 07:07] ajayt77 commented on #1207
Any luck fixing masking of the characters issue in logs? I have tried the following
1) Used the latest Ubuntu build agent
2) SET the variable SYSTEM_DONOTMASKMULTILINESECRETS=TRUE

Did not work. Please help

[2021-04-22 08:32] andy-mishechkin commented on #2985
Closed, because no any activity in last 3 days.
@jeffpatton1971, please feel free to reopen, if you'll have any updates

[2021-04-22 08:32] #2985 closed

[2021-04-22 09:29] dexterlea commented on #3379
Hi, @andy-mishechkin
Thanks for your detailed info. I've followed instruction listed on this link to install prerequites https://github.com/dotnet/core/blob/main/Documentation/build-and-install-rhel6-prerequisites.md#making-the-libraries-available-for-a-net-core-application.
I successfully installed `vsts-agent-linux-arm64-2.170.1.tar.gz` on below system.
![image-20210422150934984](https://user-im

[2021-04-22 12:59] andy-mishechkin commented on #3379
Hello, @dexterlea
I see, your agent version 2.170.1. Now is the last version 2.185.1 (https://github.com/microsoft/azure-pipelines-agent/releases)
Would you please update your agent first ?
I have no this issue in CentOS 7 with agent 2.184.2 - all works fine.
![image](https://user-images.githubusercontent.com/57713077/115718295-0768f500-a38c-11eb-892a-7eb48d5d3b1d.png)
Thank you

[2021-04-22 15:21] zioalex commented on #2931
Same problem with Alpine 3.13.
I tried to install all the dependency following the docs, included the .NET ones:

[code]

When I try to run `./config.sh --help` I get:
![image](https://user-images.githubusercontent.com/3593840/115740151-d5a55d80-a38e-11eb-800f-d8d844690a2e.png)

 Any update here?

[2021-04-22 15:38] zioalex commented on #1319
I think that today there is a full .NET support as documented here: https://docs.microsoft.com/en-us/dotnet/core/install/linux-alpine .
This is related to the #2931
Can we resume this one?

[2021-04-22 20:39] FEnander opened #3382 "Maintenance job fails to start "object or with var...""
## Have you tried troubleshooting?
Yes did not find anything to help me understand/troubleshoot this problem

## Agent Version and Platform
2.185.1

OS of the machine running the agent? Windows 10

## Azure DevOps Type and Version
dev.azure.com

https://icdev.visualstudio.com

## What's not working?
Three machines in the pool. Each machine has two agents. In total six agents running in the Default

[2021-04-22 20:40] FEnander commented on #3382
[MaintenanceSummary.txt](https://github.com/microsoft/azure-pipelines-agent/files/6361102/MaintenanceSummary.txt)

[2021-04-23 02:14] pbtanna17 commented on #3280
@anatolybolshakov : For us it was some issue with IPv6.
MS DNS is giving both IPv6 & IPV4 address. If we remove IPv6 address from our NIC, it starts to use IPV4 address.

We do not have IPV6 route to MS sites, hence it was failing.

[2021-04-23 03:09] dexterlea commented on #3379
Hi @andy-mishechkin
Below is my OS release info.
![image](https://user-images.githubusercontent.com/35717851/115812063-5ca41580-a423-11eb-955f-c74cafc95c83.png)
I've tried the newest agent release. However, `libcurl.so.4: no version information available` still exists.
![image](https://user-images.githubusercontent.com/35717851/115805660-f960b600-a417-11eb-8a9f-c9f5edea8c47.png)
I've followed inst

[2021-04-23 09:03] andy-mishechkin commented on #3382
Hello, @FEnander
Did you mean scheduled job, which defined in pipeline or somewhere else ? May you provide the yaml or other definition of this job ?
Also you can find agent logs in the `\youagent\_diag` directory - may you provide agent and worker log of any of your agents, which correspond of error time ?

Thank you!

[2021-04-23 09:16] anatolybolshakov commented on #3382
Hi @FEnander this is known issue related to DevOps side regression - which has already been fixed and is rolling out currently - please see developer community ticket for more info/status update - https://developercommunity.visualstudio.com/t/maintenance-job-fails:-Object-reference-/1400422
Let me close this one since it's already resolved and not related to the agent.

[2021-04-23 09:16] #3382 closed

[2021-04-23 09:27] andy-mishechkin commented on #3145
Closed, because no any activity in last 14 days.
@cdunford , please feel free to reopen, if you'll have any updates

[2021-04-23 09:27] #3145 closed

[2021-04-23 09:28] andy-mishechkin commented on #3323
Hello, @mo-saeed
Do you have any updates ?

[2021-04-23 11:44] andy-mishechkin commented on #3379
Hello, @dexterlea
Here is the similar situation (but related to Ubuntu): https://stackoverflow.com/questions/30017397/error-curl-usr-local-lib-libcurl-so-4-no-version-information-available-requ
May you try this approach for resolving the issue ?

Thank you!

[2021-04-23 12:26] sdobrodeev commented on #3111
We update the relevant documentation and close the issue. Please let me know if you have any objection.

[2021-04-23 12:26] #3111 closed

[2021-04-23 15:31] TristanTrvl opened #3383 "Build task taking 3 to 5 times more time to execute on agent than when localy ran"
Hello Team, Hope you're having a nice day.

We developed a task to execute unit tests for our application.
When running our task locally with with a basic shell script (run.sh) on a sample project, we got 4572 ms of execution time for our tests.
When the task is executed on the same project using a local agent (the same machine) it takes 13248 ms and  if we use the online agents provided by Micros

[2021-04-25 09:22] dexterlea commented on #3379
Hi @andy-mishechkin

Thanks for your advice, I've tried this link before. It didn't work for me.
I've successfully installed agent on centos 7.6 aarch64 platform (with a lot of undocumented prerequisites done) and it works fine for now.
However, I just don't know what undicovered impacts would be caused by this `libcurl.so.4: no version information available` issue.

Thanks anyway!

[2021-04-26 06:32] andy-mishechkin commented on #3379
Sounds good.
I think we can close this ticket. If you face with any issues with your Azure DevOps agent - please feel free to reopen.

[2021-04-26 06:32] #3379 closed

[2021-04-26 11:30] SymbioticKilla commented on #1319
@bryanmacfarlane Any plans? It would very nice to decrease the size of images and limit CVEs warnings.

[2021-04-26 22:35] AErmie commented on #3233
Hi @vladislav-ryzhov
The extra commands (namely: chown -R "$(id -u):$(id -g)") were required so that the temporary files and directories created by running the Super-Linter are run under 'root'. This causes issues with self-hosted agents, as the Agent account is not root, and therefore cannot delete/clean up any residual files/folders leftover from a previous pipeline run.

[2021-04-27 05:13] andy-mishechkin commented on #3323
Closed, because no any activity in 18 days.
@mo-saeed, please feel free to reopen, if you'll have any updates

[2021-04-27 13:09] singhalnidhi opened #3385 "vsts-agent-linux-x64-2.185.1"
We are using the latest agent provided by Microsoft i.e. vsts-agent-linux-x64-2.185.1, When we did the security scanning and vulnerability assessment of the image using Anchore tool, we saw a significant amount of vulnerabilities, please find below.

**Vulnerability Id | Severity | Package Type | Package | Fix Available**

- CVE-2019-17571 | Critical | java | log4j-1.2.14 | 2.08.02
- CVE-2020-7788

[2021-04-27 15:48] alxy commented on #838
In addition to @davidorbelian s excellent answer I just wanted to point out that the code can also be used in a compile-time expression, which works on any place of the pipeline: `${{ replace(variables['Build.SourceBranch'], 'refs/heads/', '') }}`

My use case was that I wanted to get that value in a pipeline (step) template, where I wasnt allowed to define an additional `variables` block.

[2021-04-28 03:19] Nathan187 commented on #2804
i'm sorry that i'm late to the party on this.  how would one mount the artifacts staging directory?  there's no clear way of doing this (if it's possible).  please help

version: '3'

services:
  something:
    image: myimg:latest
    volumes:
      - '$(Build.ArtifactStagingDirectory)':/apks-out

[2021-04-28 06:37] EzzhevNikita commented on #3337
@CIPop That issue is caused not by the changes in agent or in the key vault task. It is coming from the updated version images that the agent is using. Docker-moby client version was updated from v19.03.15 to 20.10.5 on the images that are used in hosted pools and after that this issue appeared for containers where WORKDIR is /root. Currently, we have created a [ticket](https://github.com/moby/mob

[2021-04-28 12:07] guilhem commented on #3124
For information, we update `Dockerfile` in documentation to get an argument `AGENT_VERSION`.
I also created a fork which build any new version of the agent:
https://github.com/guilhem/azure-pipelines-agent/commit/14204c4e1f1cd63977223bb961b342308028c8d1
docker registry:
https://github.com/users/guilhem/packages/container/package/azure-pipelines-agent

[2021-04-28 13:31] IlyaChistov commented on #3180
@tompazourek I am currently investigating this issue, and i cant seem to reproduce it. On default .net pipeline everything works as expected, and adding a GitVersion step doesn't change that. Could you please provide more detailed description of your pipeline so i could continue my investigation. Thanks!

[2021-04-28 13:47] tompazourek commented on #3180
@IlyaChistov Can you reproduce the that the pipeline creates a new ref, and that ref is in form of a commit ID?

In the pipeline log for git checkout, I see this command:

[code]

This command itself creates a ref that has the same format as a commit ID, and that is the problem. **Refs should not use the 40-character hexadecimal strings format as that format is reserved for commit IDs.**

It's amb

[2021-04-28 19:38] max-zaytsev commented on #3210
@pierreyvesv, @henryqinshield Closing the ticket since this is expected behavior.
If there are any changes in the repository identifier or repositoryUrl, a new sources directory will be created.

[2021-04-28 19:38] #3210 closed

[2021-04-29 11:57] dssagar93 commented on #2356
What a disappointment, Restore Packages took 3 mins, Build solution took <50 seconds. Extremely slow.

[2021-04-29 15:43] kildarr commented on #2721
this is still not working

[2021-04-30 08:53] cforce commented on #2803
This issue is still persistent with postgres:13 and its more a problem of readiness i would say, because docker container is started only right before the first tag? is executed and not yet ready. Why does azure devops not make sure that the host is registered in the network and listening on exposed port before continued.

[2021-04-30 11:52] soroshsabz commented on #2565
I think https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops-2020 must be updated and add all these details

[2021-04-30 16:20] vladislav-ryzhov commented on #3233
Hi  @AErmie .
We tried to run superLinter under the usual user by using this command: --user 1000:1000, but we got this issue
![image](https://user-images.githubusercontent.com/79705997/116721497-0a945e80-a9e6-11eb-9616-f990646314d4.png)
It looks like this plugin cannot work without "root" but git checkout fails then.
So, if you want to use agent under "root" you should configure your agent as a s

[2021-05-03 16:03] emul8ed commented on #3307
Yes, I still have this issue. I have to manually rm -f $(Build.SourcesDirectory)/* at the end of every build to work around it. Please reactivate.

[2021-05-03 16:06] emul8ed commented on #3307
No. We run the same pipeline steps on x86_64 agents without any issues.

No, I have only ever seen this with an aarch64 Azure DevOps agent.

[2021-05-03 20:42] sabareeshkkanan commented on #3184
Well apple is rapidly moving all their products to apple silicon , it will be great if we can bump up priority on this.

[2021-05-04 08:28] anatolybolshakov commented on #3280
@pbtanna17 ok got it - so it doesn't seem to be agent issue.
Let me close this currently then - please feel free to ask if you have any other questions.

[2021-05-04 08:28] #3280 closed

[2021-05-04 15:14] anatolybolshakov commented on #3029
@iverberk @phaneendrakotha I'm closing this at the moment since both domains '*.vssps.visualstudio.com' and '*.vsblob.visualstudio.net' already mentioned in documentation:
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops#for-organizations-using-the-devazurecom-domain
Please feel free to ask any further questions.

[2021-05-04 15:14] #3029 closed

[2021-05-04 16:11] anatolybolshakov commented on #3383
Hi @TristanTrvl do you run the agent as a service or in interactive mode?

[2021-05-05 12:00] EzzhevNikita commented on #3337
@CIPop Moby team confirmed that the breaking change that caused this issue is expected on their side. Currently, we are going to prepare PR for the agent with updates considering this case.

[2021-05-05 12:51] AmittaiShapira opened #3387 "Agent won't auto-update from Azure DevOps"
## Agent Version and Platform
Version of your agent? 2.171.1 to 2.186.0

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/PhilipsMA

## What's not working?
Due to regulations for our product we disabled updates for agents and kept them with version 2.171.1
However the latest Azure D

[2021-05-05 13:25] jpi-01 commented on #3387
[
[Agent_20210505-000237-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/6427385/Agent_20210505-000237-utc.log)
](url)

[2021-05-05 14:39] AmittaiShapira commented on #3387
See logs above from @jpi-01
Additional comment:
Downloading the latest agent revision through browser works on the agent machine with no issue.
We manually updated the agents as a workaround.

[2021-05-05 14:47] vladislav-ryzhov commented on #3233
@AErmie Let me close this one since this is external issue. Please feel free to ask any further questions.

[2021-05-05 14:47] #3233 closed

[2021-05-05 19:50] denis-shemenko opened #3421 "Misleading error message on task run"
### Issue Description
Was playing around custom release tasks (uploaded via `tfx`)
And all consequent releases were failing with the error message (see "Actual behavior")
According to that message I was trying to build task binaries in a different ways (like x64 only, then AnyCPU again) and was failing again after upload and release re-run.
But then I realized that the very first sentence in the w

[2021-05-05 20:03] ffigu002 commented on #2990
@StefanLundmark thanks for pointing that out! I spent hours troubleshooting the "Project Settings" view when I should've been looking at the "Organization Settings".

Agent Pools show up in both, I don't think the documentation states clearly which interface we should be looking at.

[2021-05-06 00:04] rsouthgate opened #3388 "Slow agent performance on 2.186.0"
## Agent Version and Platform
2.186.0

OS of the machine running the agent? OSX/Windows/Linux/...
Ubuntu

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name?
WWNZ

## What's not working?
Our MS hosted agents have recently moved from 2.185.1 to 2.186. Since this happened the pipeline task running tests has gone from 35mins to timing out at 90mins (our o

[2021-05-06 06:29] vladislav-ryzhov commented on #3388
Hi @rsouthgate
Could you please share the pipeline logs with this version of the agent and, if you can, with the previous version?

[2021-05-06 07:17] rsouthgate commented on #3388
Previous Run Log: Not Slow:
[not-slow.txt](https://github.com/microsoft/azure-pipelines-agent/files/6432511/not-slow.txt)
This Run: Slow:
[slow.txt](https://github.com/microsoft/azure-pipelines-agent/files/6432512/slow.txt)

Some info redacted but the logs are consistent. The actual test output does not stream so its captured all in one go at the end - notice the timestamps and from start to finis

[2021-05-06 09:44] DaniilShmelev commented on #3369
Agent already prepends PATH with mingit, but this doesn't solve the issue since system `git-lfs.exe` also prepends it with system git path.
Possible solution: the agent could download `git-lfs.exe` as an external tool along with mingit, this way the agent won't have to reference system git in any way.
@mjroghelia waiting for your response on this matter.

[2021-05-06 10:06] anatolybolshakov commented on #3367
@simonsabin you can also set up VSO_AGENT_IGNORE environment variables as 'PATH' - to ignore path variable during capability scanning.

[2021-05-06 10:10] simonsabin commented on #3367
Thats what I put in the docs change. https://github.com/MicrosoftDocs/azure-devops-docs/pull/10551
The question is whether there is value in the agent including PATH as a capability, because it isn't and can't be used with any of the tagging to select agents with certain elements with in the PATH

[2021-05-06 21:12] ColeSiegelTR opened #3390 "Dependencies missing after switching from managed ubuntu-latest to vmss UbuntuServer 18.04-LTS"
Hi,

I am trying to update my Azure DevOps pipeline which currently uses hosted agent `ubuntu-latest` to use a self-hosted virtual machine scale set agent pool. The scale set agent pool is installed with the default option in Azure Portal which is `UbuntuServer 18.04-LTS` from Azure Marketplace. I have followed the tutorial here https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/scale-

[2021-05-07 11:00] mo-saeed opened #3391 "[Question] How to make sure azure-devops self hosted agent run one build (not job) per time"
## Agent Version and Platform
Version of your agent? latest

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
I want to run only one build on the agent per time, I know the option of `--once` but this make it offline after first job in the build

[2021-05-07 11:57] anatolybolshakov commented on #3323
Hi @mo-saeed currently there is no specify custom path to docker.sock file - agent relies on /var/run/docker.sock file only - let me reopen it to take a look closer at how we could handle this.
mapDockerSocket controls mounting of this file into the container, but there is also another logic using /var/run/docker.sock file.
cc @andy-mishechkin

[2021-05-07 12:03] TristanTrvl commented on #3383
Hello @anatolybolshakov, sorry for the late reply, i have ran my test on an agent in interactive mode, but the first sight of this problem was on our agents in service mode.

[2021-05-07 16:53] anatolybolshakov commented on #2824
Hi @petrus0x13 @edenstrom @jstraub-sit is this issue still actual for you?

[2021-05-10 14:48] alex-peck commented on #3388
This should be resolved with 2.186.1

[2021-05-11 11:05] msrinivascharan opened #3395 "How to switch to a different user on same agent to run a particular task in AzureDevOps pipeline"
I have a pipeline with 6 tasks in one job, this job runs on agent01(self-hosted), there are two users, user1 and user2(more privileges) on agent01.

My requirement is, my pipeline job running on agent01 must use user1 for task 1,2,3 and use2 for task 4,5,6. How to achieve this ? please suggest.

[2021-05-11 11:48] anatolybolshakov commented on #3391
Hi @mo-saeed at one moment agent can run only one job per time - if you want some specific agents to run only one pipeline and not pick up jobs for others - you can use [demands](https://docs.microsoft.com/azure/devops/pipelines/process/demands?view=azure-devops&tabs=yaml) to specify agents you want to execute it.

[2021-05-11 17:56] anatolybolshakov commented on #3387
Hi @AmittaiShapira there seem to be timeout issue during agent automatic update - do you have any network issues?

[2021-05-11 18:02] anatolybolshakov commented on #3390
Hi @ColeSiegelTR you can find software installed on ms hosted images here - https://github.com/actions/virtual-environments/tree/main/images. To be able to use dotnet by agent - you need to have it installed on agent machine.
Please feel free to ask questions in https://github.com/actions/virtual-environments about ms hosted images and software provided

[2021-05-12 00:18] trietnguyen267 commented on #1307
This issue still persists, please reopen the issue.

[2021-05-12 03:12] IanMoroney commented on #1307
@trietnguyen267 Can you post an example of the code you're trying to use
and where it's failing?

You also may want to open a separate issue for better support.

[2021-05-12 07:33] gintuoklis opened #3398 "Error downloading artifacts"
Hey Guys,

We are expierencing similiar issue like it was reported by #1584 & #3029, but we have different error message:

**Error 12175 calling WINHTTP_CALLBACK_STATUS_REQUEST_ERROR, 'A security error occurred'.**

Infra guys claims they whilisted all urls from the documenation:
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops#im-running-a-firewall-and-m

[2021-05-12 17:29] msrinivascharan commented on #3395
Thank you @anatolybolshakov. I will try what you suggested,

[2021-05-13 09:02] anatolybolshakov commented on #3395
Let me close this one at the moment since it doesn't seem to be related to agent issues - please feel free to ask any further questions.

[2021-05-13 09:02] #3395 closed

[2021-05-13 09:21] anatolybolshakov commented on #3387
@AmittaiShapira I can't reproduce this issue during update from 2.171.1 to 2.186.1 - do you still see it reproducible?
Did you try to download the agent by following https://vstsagentpackage.azureedge.net/agent/2.186.0/vsts-agent-win-x64-2.186.0.zip from browser on agent machine? Does it work without issues?
Do you see this issue on other environments/networks?
Do you use any proxy?
And also - doe

[2021-05-13 12:06] Sushi21 opened #3399 "Can't install npm -g newman when using Windows Agent (linux is working fine)"
**Agent Version and Platform**
2021-05-12T15:59:31.2272650Z Agent name: 'Hosted Agent'
2021-05-12T15:59:31.2273053Z Agent machine name: 'WIN-3A29AEIR0NG'
2021-05-12T15:59:31.2273325Z Current agent version: '2.186.1'
2021-05-12T15:59:31.2373998Z ##[group]Operating System
2021-05-12T15:59:31.2374493Z Microsoft Windows Server 2016
2021-05-12T15:59:31.2374851Z 10.0.14393
2021-05-12T15:59:31.2375130Z D

[2021-05-13 13:12] AmittaiShapira commented on #3387
@Anatoly ***@***.***> see below:
Did you try to download the agent by following https://vstsagentpackage.azureedge.net/agent/2.186.0/vsts-agent-win-x64-2.186.0.zip<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fvstsagentpackage.azureedge.net%2Fagent%2F2.186.0%2Fvsts-agent-win-x64-2.186.0.zip&data=04%7C01%7C%7C8aa99c7036b04d2279fb08d915f085a7%7C1a407a2d76754d178692b3ac285306e4%7C

[2021-05-13 14:54] corppeon opened #3400 "First bash task in job intermittently failing with node ENOENT error"
We've been seeing an issue for the last week or so, intermittently getting an error, looks to be the first task in Linux jobs running on our dev.azure.com pipelines with our self-hosted Azure agents. Tried updating to latest agent version 2.186.1, but issue still present.
We're specifying tasks to run inside a Docker container.

events.js:160
      throw er; // Unhandled 'error' event
      ^

Err

[2021-05-13 16:38] anatolybolshakov commented on #3367
@simonsabin I'm closing this at the moment - please feel free to ask any further questions.

[2021-05-13 16:38] #3367 closed

[2021-05-13 18:06] simonsabin commented on #3367
Given  #3228 removed psmodulepath, I see path as being exactly the same.

[2021-05-14 15:35] Shahyads opened #3402 "Azure DevOps hosted build “java” demanded capability not present"
SonarQube scanner “Run Code Analysis” task demands "java" capability.
On one of our agent host machines, the java capability has gone, since we switched to OpenJDK.
It is working on another server with exactly the same conditions
I don't know how an agent detect java but all java related environment variables are still defined on the agent.
Details are [here](https://community.sonarsource.com/t/az

[2021-05-14 16:32] anatolybolshakov commented on #3402
Hi @Shahyads agent checks following registry keys during capability scanning for this capability:
"Software\JavaSoft\Java Runtime Environment\1.6"
"Software\JavaSoft\Java Runtime Environment\1.7"
"Software\JavaSoft\Java Runtime Environment\1.8"

As a temporary workaround - you can specify custom user capability to provide proper path.
There is a PR already in progress to solve this issue - https:/

[2021-05-14 16:34] anatolybolshakov commented on #3383
@TristanTrvl this could be for many reasons - would it be possible to provide some minimal repro sample, so we could investigate it?

[2021-05-14 16:58] anatolybolshakov commented on #3387
@AmittaiShapira could you please try to set 'VSTS_AGENT_HTTPTRACE', 'VSTSAGENT_TRACE' environment variables as 'true', configure the agent, let it update and share result logs?

[2021-05-14 17:15] Shahyads commented on #3402
Hi @anatolybolshakov,
thank you for your prompt support.
actually I think it could not be the root cause.
I have two servers non of them has registry key Software\JavaSoft\Java Runtime Environment
However it works on one of them. maybe there is another parallel mechanism for detecting java.

[2021-05-14 17:17] anatolybolshakov commented on #3387
Could you please also make sure that all domains mentioned in [docs](https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops) are reachable for agent?

[2021-05-15 00:54] CIPop commented on #3337
Thank you @EzzhevNikita for the updates!

[2021-05-15 00:54] CIPop commented on #3337
(sorry - clicked the button by mistake)

[2021-05-16 02:55] beugnen commented on #3185
Hi all,

I found the documentation which backs up what **anatolybolshakov** is saying:

_When the agent runs a job, it first downloads all the task bundles required by the job's steps. Normally, for performance, it unzips the tasks once per job even if the task is used in multiple steps. If you have concerns about untrusted code altering the unzipped contents, you can trade away a little bit of pe

[2021-05-16 20:40] bergmeister commented on #1506
Not stale but ignored as the top most upvoted issue for years!

[2021-05-17 11:59] gintuoklis commented on #3398
I don't know if customer IT changed anything on their firewall, or it's related to the fact that we updated Agent to the latest version, the error message has changed now:

**Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host..
2021-05-17T10:22:48.2071071Z  ---> System.Net.Sockets.SocketException (10054): An existing connection was forc

[2021-05-17 15:07] max-zaytsev commented on #3398
Hi @gintuoklis, has the task worked before in this pipeline for the same artifact?

[2021-05-17 15:23] gintuoklis commented on #3398
the same pipeline works in for other customers. It does not work for single customer, and we cannot find an issue

[2021-05-17 15:27] poke commented on #1294
I just hit this as well, using the interactive configuration. The configuration wizard is able to pick up the service account correctly, but then the validation for the password fails because passwords for managed service accounts are empty:

[code]

As far as I can tell, the validation happens here:

https://github.com/microsoft/azure-pipelines-agent/blob/66e6e9a9aa4503139f5dcf4a9894ce349b68e0ab/

[2021-05-17 16:27] max-zaytsev commented on #3398
@gintuoklis, It looks like an infra issue.
Is TLS 1.2 enabled on the customer agents?
Could you try running the task on MS hosted agent instead of self-hosted to check if it's working fine?

[2021-05-17 17:33] gintuoklis commented on #3398
Yes, we have TLS1.2 enabled.
We can download artifacts from some pipelines which contains single small file with extension .app. So infra (connection wise, seems to be ok)
But we cannot download artifacts from one pipeline, which produces big artifacts (200MB in total), and contains various files: exe, dll, xml, app.

Don't see any warning on anitvirus or event logs

We tried to download the artif

[2021-05-18 03:01] dexterlea opened #3406 "[Question] How can I replace Node.JS 10 with Node.JS 12 (or higher version) on Azure pipelines agent"
## Agent Version and Platform
Agent Version: **2.185.1**.

OS of the machine running the agent: **GNU/Linux (Kylin Linux Advanced Server V10 (Azalea))**.

Architecture of the machine running the agent: **mips64el**.

## Azure DevOps Type and Version
Type: **On-premises Azure DevOps Server**.

Release: **2020.1_rc2**.

## Situation
Since azure pipelines agent need external node10 to excute below ba

[2021-05-18 09:16] mo-saeed commented on #3391
Hi @anatolybolshakov so you can reproduce the same issue by running 4 builds in the exact same time and you have only 2 parallel jobs allowed.
you will see 2 jobs picked by the same agent in the same time.

[2021-05-18 11:36] miltoncamara opened #3407 "Authentication failed when connect Other Git (Azure DevOps Server) in Azure Pipelines with PAT"
I’m trying to create a connection with Azure Pipelines and my Private Git, as image bellow:

![image](https://user-images.githubusercontent.com/382444/118644164-e42b3d00-b7b3-11eb-97bd-e3a653974e79.png)

I created a new PAT with full access and put it inside the Password / Token field.

![image](https://user-images.githubusercontent.com/382444/118644182-eb524b00-b7b3-11eb-9bee-07051c6d9200.png)

W

[2021-05-18 12:41] anatolybolshakov commented on #3407
Hi @miltoncamara could you please share pipeline logs in debug mode and full error message?
Do you use self-hosted agent? If so - could you please share agent logs also?
You can also send the logs to my email - v-anbols@microsoft.com

[2021-05-18 15:01] gintuoklis commented on #3398
Figured out the difference between artifacts that works and that dont't. The ones that works are publishing as **build** artifacts, the ones that does not work are published as **pipeline** artifacts. Therefore, it's using different tooling to donwload those.

We also managed to setup fiddler and see these errors there:

`fiddler.network.https> HTTPS handshake to xojvsblobprodsu6weus11.blob.core.w

[2021-05-18 17:08] jpi-01 commented on #3387
Long story short
I have reconfigured one of the agent using the proxy url:

 With our corporate proxy, and I was able to auto update

[2021-05-19 08:26] anatolybolshakov commented on #3390
@ColeSiegelTR I'm closing this at the moment since it looks related to images - please let us know if you have any further questions.

[2021-05-19 08:26] #3390 closed

[2021-05-19 13:51] priyanka02629 commented on #2164
I tried this and my agents were able to logon automatically, but when I execute the pipeline it is failing with OpenQA.Selenium.WebDriverException: Unexpected error. System.Net.WebException: Unable to connect to the remote server ---> System.Net.Sockets.SocketException: No connection could be made because the target machine actively refused it 127.0.0.1:******

[2021-05-19 16:56] anatolybolshakov commented on #3400
Hi @corppeon this is a known issue happened because of breaking change introduced by docker - we already merged related [PR](https://github.com/microsoft/azure-pipelines-agent/pull/3392) and it will come with the next agent release.
Since this issue happens with containers which have a root working directory being set up - as a workaround you can try to use modified container with current working

[2021-05-19 17:02] anatolybolshakov commented on #3399
Hi @Sushi21 this looks expected - there is a Newman already being installed on hosted linux images - you are trying to install it globally, and npm just says that it has been already installed.
You can find tools installed on hosted images [here](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md#tools).
I'm closing this at the moment since it doesn't seem

[2021-05-19 17:02] #3399 closed

[2021-05-19 18:53] hanssens commented on #1480
Wauw, indeed. Changing from PublishBuildArtifacts to PublishPipelineArtifact significantly decreased my waiting time.

With a pre-zipped artifact of ±120Mb the difference on this single step alone is amazing:

PublishBuildArtifact: 7-15 min.
PublishPipelineArtifact: < 1-1.5 min.

Executed and roughly measured on several runs, on different days, on both hosted and private build server.

[2021-05-20 06:48] MalteFries opened #3412 "Running tests with multi agent blocks all agents until finished"
We currently have the case that we run several test cases in parallel on 12 agents, one run per agent takes on average 15 minutes. However, one of our test cases has a runtime of 90 minutes.
This results in all 11 agents wait until the 12th agent is done.
Since we are using Azure VMs and running them as self hosted agents, it means that we are paying money for 1 hour and 15 minutes where the Azure

[2021-05-20 13:22] StingyJack commented on #1207
[This is happening to at least one of our pipelines](https://developercommunity.visualstudio.com/t/numbers-in-pipeline-logs--are-randomly-b/1424076), but its everything from DateTime stamps to task version, etc.   There are no secrets defined in this particular pipeline.

From a powershell script task
Task versions, timestamps, paths replaced partially with *
[code]

[2021-05-20 14:32] schwarzzz opened #3414 "Restricting Access of Project Collection Build Service?"
I have an Azure DevOps organization with multiple projects.
I want the pipelines from some projects to have access to certain repositories of another projects. Hence, I have disabled the "Limit job authorization scope to current project for non-release pipelines" restriction for my organization and respective projects.

Now, those pipelines can access _all_ repositories in my organization. I don't

[2021-05-20 18:49] syedyakoobali opened #3415 "Self Hosted agent getting timedout"
Greetings
I am trying to deploy an APIM of Developer SKU with azure pipelines using self hosted agent. But same as the Azure hosted agent the pipeline for the self hosted agent gets timed out in 60 minutes and during timeout the APIM is in activation stage. Once the pipeline gets unsuccessful pipeline shows an error of exceeded 60 minutes and timeout. But the APIM is online in a minute after the p

[2021-05-20 22:31] beatcracker opened #3416 "Can't download pipeline artifact files use matching patterns starting with artifact name"
I'm raising this issue here since pipeline artifacts publish/download tasks are agent plugins.

## Agent Version and Platform

Agent `2.186.1` on `ubuntu-20.04`

## Azure DevOps Type and Version

dev.azure.com

## What's not working?

Pipeline artifact download task with file matching patterns patterns doesn't work as expected.  When downloading multiple artifacts, you can't filter files by artifa

[2021-05-20 23:48] pm141088 commented on #1538
@peckhamm - This thread has been really useful, I was wondering if you could kindly share the final script you put together to install the VSTS agents on your servers remotely. I've read through the comments a few times but it's not obvious to me how the issue was resolved in the end. Appreciate any help here. thanks!

[2021-05-21 06:05] #3415 closed

[2021-05-21 06:26] iambernics opened #3417 "Agent Self Update: Ignoring the ADO Requests"
Dear All,

**Background**

Our own developed Agent controller is reverting the VM of the Agents on each Job completed.
Once command line argument of the DevOps Agent triggering the revert process when make it offline itself.

The official built-in self update process of the Agent is taking offline the Agent for minutes, this is enough to trigger the revert process.

**Inquiry**

We would like to p

[2021-05-21 09:24] trytocatchme commented on #2116
I would say is very rare problem and occurs occasionally. I suggest to change the agent and run pipeline once again. I know that is not the best way to fix it but it works.

your pipline file
pool:
  name: agent1_AgentPools
  #name: agent2_AgentPools repleace to this one when problem occurs

Ofcourse it will work only when you have more than 2 agents.

[2021-05-21 09:58] anatolybolshakov commented on #3042
Hi everyone, agent version without node 6 is already available on agent [release page](https://github.com/microsoft/azure-pipelines-agent/releases) - you can found download links in 'Alternate Agent Downloads' section.
Let me close this issue since it does not look actual - please feel free to ask any further questions/let us know if you have other issues.

[2021-05-21 09:58] #3042 closed

[2021-05-21 10:07] alexander-smolyakov commented on #3414
Hi, @schwarzzz the management of permissions and access for projects is related Azure DevOps side - could you please create a ticket on https://developercommunity.visualstudio.com/search?space=21 to get the right eyes on it?

[2021-05-21 15:50] anatolybolshakov commented on #3416
Hi @beatcracker 'patterns' input for Download Pipeline Artifacts represents patterns for paths relevant to the published artifact folder - so if you specified 'test' folder as a targetPath for Publish Pipeline Artifacts task - 'test' folder content will be published, and you need to specify path mask relatively to root of this folder ('*.xyz' instead of 'test/*.xyz').
This is expected behavior - p

[2021-05-21 16:23] beatcracker commented on #3416
@anatolybolshakov Yes, current behavior make sense from the practical standpoint, but it doesn't match what documentation says, i.e., `For example, WebApp/** matches all files from the WebApp artifact.` Should I raise a docs issue to change this bit about patterns in conjunction with multiple artifacts?

[2021-05-21 16:26] anatolybolshakov commented on #3416
@beatcracker oh yes, I see - let us prepare documentation changes for this.

[2021-05-24 10:25] anatolybolshakov commented on #3406
Hi @dexterlea Node 12 is not currently supported yet - we have plans to migrate it to node 14, but currently it is not supported.

[2021-05-24 11:05] #3369 closed

[2021-05-24 12:04] ncook-hxgn opened #3418 "Add Support for Visual Studio Build Tools Installations"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug/Feature

**Enter Task Name**:
VSBuild
MSBuild

## Environment
- Server - Azure Pipelines
  - hexagonmi, PS-SharedComponents, MachiningEngine, any build number.

- Agent - Hosted or Private:
    - Self-Hosted Agent: Windows 2019 Standard Ret

[2021-05-24 14:17] ncook-hxgn commented on #3418
@anatolybolshakov thanks for moving this into the right backlog 👍

So far I've looked at forking the VSBuild or MSBuild tasks and adding support for minor versions but they seem to depend on a PS module that I can't find the source for yet: the `Invoke-VsTs` stuff looks like it's responsible for discovery of VS versions on azure agents. Is that correct?

[2021-05-24 15:07] ncook-hxgn commented on #3418
I've a bit more information on this.

The MSBuild Task allows the user to paste in a path to MSBuild, so the problem I have is only with the Visual Studio Build Task: If I could specify a path to VSDevCmd.bat for the VSBuild task a la MSBuild's path-to-msbuild.exe, then I think that would solve my debacle.

[2021-05-25 05:39] JoseFMP commented on #1569
Would be great to have the colors supported. Otherwise when you copy the text directly from the output you copy those wrong characters instead of the right colored one's. Even if you lose the colors, I want to copy the right chars!

[2021-05-25 10:37] anatolybolshakov commented on #3383
HI @TristanTrvl do you have any updates?

[2021-05-25 10:38] anatolybolshakov commented on #3387
Hi @AmittaiShapira do you have any updates?

[2021-05-25 10:41] alexander-smolyakov commented on #3414
@schwarzzz Let me close this one at the moment since this question is not related to the pipeline agent. Please feel free to ask any further questions.

[2021-05-25 10:41] #3414 closed

[2021-05-25 13:15] danielmhair commented on #1601
@TingluoHuang Thank you for posting your last solution! I can verify that by doing this fixes my issues with `git log`:

[code]

[2021-05-25 17:04] anatolybolshakov commented on #3421
Hi @denis-shemenko thanks for reporting of this issue - let us take a look if we could improve message here.

[2021-05-25 17:14] anatolybolshakov commented on #3011
Hi @anton-erofeev @martys we merged related [PR](https://github.com/microsoft/azure-pipelines-agent/pull/3381) with a fix - so it will be available with the next agent release.

[2021-05-25 17:35] martys commented on #3011
Thanks @anatolybolshakov
Happy to hear this was fixed.

[2021-05-26 08:49] dexterlea commented on #3406
Hi @anatolybolshakov thanks for your reply.

[2021-05-26 08:49] #3406 closed

[2021-05-26 09:51] max-zaytsev commented on #3398
Hi @gintuoklis,

Is there a reason you are using the first version of the Download pipeline artifact task (1.2.5)?
As I see the actual one is 2.178.0.

Also, Publish Build Artifacts task is [deprecated ](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-build-artifacts?view=azure-devops) and it's recommended to use Publish Pipeline Artifacts task instead.

Could you try

[2021-05-26 11:33] DaRosenberg opened #3422 "Multiple agents running dotnet build tasks simultaneously all block and timeout"
Please advise if this issue should be logged elsewhere.

We are running 5 self-hosted agents in a single (reasonably powerful) Linux VM.

Whenever two agents or more try to execute a `dotnet build` at the same time, *all* of them seem to deadlock and time out, with the following in the log:

[code]

As far as I can tell, all agents are isolated from one another, they all use `_work` and `_diag` di

[2021-05-26 12:05] anatolybolshakov commented on #3422
Hi @DaRosenberg could you please share pipeline logs in debug mode also? You can send them to my email: v-anbols@microsoft.com
Could you please send agent logs also to review?

[2021-05-26 12:53] ajaydell opened #3423 "Linux selfhosted agent unable to checkout tfvc code into agent"
Hi Team,

when i am using linux selfhosted agent unable to checkout tfvc code into agent. added error log below please help me to resolve the same. "system.debug true"

![image](https://user-images.githubusercontent.com/33676904/119662880-7d5ef100-be4f-11eb-83f0-ba6d337742bf.png)

2021-05-26T11:28:49.5755336Z ##[debug]Evaluating condition for step: 'Checkout POC@ to s'
2021-05-26T11:28:49.5814130Z

[2021-05-26 14:05] anatolybolshakov commented on #3423
Hi @ajaydell there is an error 'You must accept the End User License Agreement for this product. Run 'tf eula' to accept the End User License Agreement'. Have you tried to run this command on agent machine?

[2021-05-26 14:38] DaRosenberg commented on #3422
@anatolybolshakov Sent to your email as requested.

[2021-05-26 15:08] max-zaytsev commented on #3398
Thank you @gintuoklis!  We will update the documentation accordingly.

I'm closing this ticket since it looks resolved.

[2021-05-26 15:08] #3398 closed

[2021-05-26 15:33] ajaydell commented on #3423
when i am unable to execute tf eula accept command on agent machine
![image](https://user-images.githubusercontent.com/33676904/119688636-c752d180-be65-11eb-8e0d-2a3e9f2f0242.png)
Please help me to resolve the same.

[2021-05-28 15:39] anatolybolshakov commented on #3071
@vsevolodp at the moment you can also download agent without node 6 - please see 'Alternate Agent Downloads' on [release page](https://github.com/microsoft/azure-pipelines-agent/releases).
Let me close this at the moment since it looks resolved - let us know if you have any further questions.

[2021-05-28 15:39] #3071 closed

[2021-05-29 02:25] brianrandell opened #3428 "Can't build agent from this repo -- private Azure Artifacts feed in NuGet.config"
## What I'm Trying to Do
I'm attempting to build the agent from this repo on Windows 10 21H1 (19043.985). I have Visual Studio Enterprise 2019 16.10.0.

I'm following these [instruction](https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/contribute.md).

## What's not working?
After I clone the repo I attempt to run:
[code]

After a bit I get the following error:
[code]

Looking a

[2021-05-29 16:39] mjroghelia commented on #3428
@EzzhevNikita Is this a missed dependency from the transition to a single feed?

[2021-05-31 06:16] EzzhevNikita commented on #3428
@mjroghelia yeah it looks like.

@brianrandell I have added a missed dependency to our feed, could you please try to build the agent once again? Please let me know if you will still have a problem.

[2021-05-31 14:27] anatolybolshakov commented on #3118
Hi @alohaninja is this issue still actual for you? Does it happen intermittently or constantly? Have you tried it with the latest agent?

[2021-06-01 03:39] brianrandell commented on #3428
Hello @EzzhevNikita , thank you so much for fixing things. I can confirm after doing a fetch & pull of Master, that both Layout and Build work for me.

Thanks again!

[2021-06-01 03:39] #3428 closed

[2021-06-01 12:02] iambernics opened #3430 "Agent Installation: Disable the auto start during the Windows Service setup"
Dear All,

We are running the Agent as interactive process with --once argument (take offline when a Job completed).
However, we would like to also deploy the Windows Service mode as failsafe running method.

When the Windows Service has been created with "sc create" for the  "V1\bin\AgentService.exe", the new service running but there is nothing happens on the Agent side technically.
There is no

[2021-06-01 13:34] v0l commented on #3423
same issue here with on-site (TFS)
![image](https://user-images.githubusercontent.com/1172179/120332047-445acc80-c2e6-11eb-890d-a4533990a482.png)
`tee: 14.135.0.202010141426`

[2021-06-01 13:42] v0l commented on #3059
https://github.com/microsoft/azure-pipelines-agent/issues/3423#issuecomment-852128925

[2021-06-01 13:48] v0l commented on #3423
This was resolved (for me) by adding `AZP_AGENT_DOWNGRADE_DISABLED=true`, the agent was downgrading itself which caused the issue.

[2021-06-02 13:22] DenisRumyantsev commented on #3391
Hi, @mo-saeed! We didn't manage to reproduce described behavior. Is this a spontaneous issue or you got it constantly?

Could you please also share the following information so that we can continue our investigation:
- [Worker diagnostic logs](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#worker-diagnostic-logs)
- [Agent diagnostic logs](http

[2021-06-02 16:00] aelray commented on #3133
Still an issue

[2021-06-02 16:46] vany0114 commented on #858
Did you manage to sort that out? I'm running into exactly the same issue

[2021-06-03 07:33] lisamariet commented on #3180
I am also experiencing this same error when I in my pipeline have an Azure Inline Powershell script that looks up all changes from current build branch and compares to latest on master.

So first we calls Azure Devops API:
`##[debug]GET .../_apis/build/latest/DEFINITIONID?api-version=6.0-preview.1&branchName=master`
to find the latest SourceVersion. So the response.SourceVersion (ex: bb3e659a02a13

[2021-06-03 08:23] corppeon commented on #3400
We've just updated to v2.187.2, and we're still seeing the problem intermittently as before...

2021-06-02T16:50:00.2581853Z Task         : Bash
2021-06-02T16:50:00.2582161Z Description  : Run a Bash script on macOS, Linux, or Windows
2021-06-02T16:50:00.2582633Z Version      : 3.182.0
2021-06-02T16:50:00.2583789Z Author       : Microsoft Corporation
2021-06-02T16:50:00.2584158Z Help         : htt

[2021-06-03 10:07] anatolybolshakov commented on #3387
Hi everyone, let me close this one due to inactivity - this looks like an external issue with connectivity not related to agent at the moment.
@AmittaiShapira please let us know if it's still actual for you.

[2021-06-03 10:07] #3387 closed

[2021-06-03 11:55] anatolybolshakov commented on #3423
@v0l thanks!
@ajaydell do you use on-prem? If so - which agent version and on-prem do you use?

[2021-06-03 13:01] AmittaiShapira commented on #3387
Closing works for me

[2021-06-03 13:39] v0l commented on #3423
@anatolybolshakov Version Dev18.M170.8

[2021-06-03 15:13] anatolybolshakov commented on #3400
@corppeon could you please share docker image you use - to reproduce this?

[2021-06-03 16:13] anatolybolshakov commented on #3407
Hi @miltoncamara is this issue still actual for you?

[2021-06-03 17:51] anatolybolshakov commented on #3423
@v0l which agent version do you use? Have you tried to update to latest agent version with AZP_AGENT_DOWNGRADE_DISABLED variable being set to true?

[2021-06-03 18:34] v0l commented on #3423
@anatolybolshakov Sorry your question was the agent version, im using docker agent latest version

[2021-06-04 03:24] ajaydell commented on #3423
Thanks @anatolybolshakov  My issue got fixed now i am able checkout TFVC code when i am linux agent.

[2021-06-04 03:24] #3423 closed

[2021-06-04 07:30] cangetright commented on #1495
Please

[2021-06-04 10:20] ntziolis commented on #3131
This is not stale. Please let us know if this is something you are thinking abut enabling. This would especially be helpful in combination with the use of devcontainers and the ability to reuse the setup in a CI environment without having to recreate it in a different notation

[2021-06-04 17:13] spacesluggy74 opened #3433 "Seeing difference free disk space available on build agents running same agent images"
## Agent Version and Platform
Current agent version: '2.187.2'
Current image version: '20210525.0'

## OS of the machine running the agent?
Microsoft Windows Server 2019
10.0.17763
Datacenter

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)
https://dev.azure.com/ellucian/

## What's not working?
We are using hosted agents running on the windows-2019 image. When our pipel

[2021-06-04 17:23] anatolybolshakov commented on #3351
Hi @VMM-Mtech sorry for delay here - have you already checked that AutoAdminLogon registry key is 1 for you?
Do you see this issue with latest agent?

[2021-06-05 04:13] DOMZE commented on #3095
Hello @mjroghelia, is this being planned to be corrected?

[2021-06-05 15:17] kant2002 commented on #3033
It is still applicable

[2021-06-06 08:50] siprbaum commented on #3045
IMHO, that is still a valid feature request

[2021-06-07 05:40] EzzhevNikita commented on #3433
Hi @spacesluggy74, Microsoft Hosted agents according to [documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#my-pipeline-fails-with-the-error-no-space-left-on-device) guaranteed to have 10 GB of free disc space available for users (on some agents, this number could be bigger, but only 10 GB is guaranteed).

If you are seeing agents that

[2021-06-07 17:59] hanselip opened #3434 ""Connection reset" error when attempting to download JCenter binaries on Windows agent"
OS of the machine running the agent? Windows

Azure DevOps Type and Version: dev.azure.com

If dev.azure.com, what is your organization name? https://onedrive.visualstudio.com

## What's not working?
Without any changes in our builds or pipelines, we're seeing consistent "**Connection reset**" errors when our build attempts to fetch a binary from JCenter:

These resources are available and can be

[2021-06-07 18:42] anatolybolshakov commented on #3045
@MaximMalygin could you please take a look?

[2021-06-08 05:45] EzzhevNikita commented on #3434
Hi @hanselip, Could you please share full agent logs, they are located in _diag folder in the agent root.
And also, If I understand you correctly this functionality was working previously, so it will be great if you will be able to share the logs for those successful runs if possible or at least check which agent version was used in those successful runs.

[2021-06-08 11:46] anatolybolshakov commented on #3407
Hi @miltoncamara I'm closing this due to inactivity at the moment - there's not enough info to continue investigation.
Please feel free to ping if it's still actual for you.

[2021-06-08 11:46] #3407 closed

[2021-06-08 11:48] anatolybolshakov commented on #3093
Just as a quick update - looks like net core bump to 3.1.15 resolved the issue, created [PR](https://github.com/microsoft/azure-pipelines-agent/pull/3432) for this update.

[2021-06-08 12:14] anatolybolshakov commented on #3400
@corppeon could you please share full pipeline log containing this error? You can send this also to my email - v-anbols@microsoft.com

[2021-06-09 05:51] EzzhevNikita commented on #3434
@hanselip We have a similar issue that was reported in the internal ms channel. After investigation of your logs and logs for a similar issue, we didn't find any changes on Agent or Task's that could produce such behavior.
But during investigation, we found interesting thing regarding Bintray according to the message in their blog Bintray services seems to be deprecated from the 1 of May https://j

[2021-06-09 11:02] #3158 closed

[2021-06-09 11:02] #3157 closed

[2021-06-09 11:02] #3144 closed

[2021-06-09 11:02] #3130 closed

[2021-06-09 11:02] #3143 closed

[2021-06-09 11:02] #3128 closed

[2021-06-09 11:02] #3123 closed

[2021-06-09 13:29] #2758 closed

[2021-06-09 13:44] aok-foss commented on #2761
Not stale. The fix in the issue has been reverted; there's no evidence of it having been applied again.

[2021-06-09 15:18] avivanoff commented on #2814
@vtbassmatt, any updates?

[2021-06-09 15:55] vtbassmatt commented on #2814
I'm no longer working on Azure Pipelines.

[2021-06-09 18:41] oising commented on #2365
Not stale.

[2021-06-09 21:24] avivanoff commented on #2814
@jtpetty, any updates?

[2021-06-10 05:49] EzzhevNikita commented on #3434
Hi @hanselip that still seems to be an external issue, but we received several other issues for the same problem and the problem happens not only for JCenter binaries. Seems the internet connection issue caused by some infrastructure problems. As a workaround, could you please try to increase the timeout for the connection?

For Gradle it can be done by adding the following parameters to your buil

[2021-06-10 13:17] AltlerUk opened #3436 "Build Agent"
I have been using the on prem build agent fine for two month

All of a sudden I'm getting errors like ERR:self signed certificate in certificate chain

I have removed and reinstalled the build argent but keep getting a self signed certificate in certificate chain in chain

![image](https://user-images.githubusercontent.com/85309668/121531748-9ee6dd80-c9f6-11eb-94d1-0297125d3535.png)

[2021-06-10 13:38] EzzhevNikita commented on #3436
@AltlerUk Could you please share agent logs they are store in _diag folder in agent root. You can just attach the whole folder to the ticket or send it to my email v-niezz@microsoft.com

[2021-06-10 13:58] rudolfdobias opened #3437 "Self-hosted agents release stuck at "Initialize job""
## Agent Version and Platform
Currently 2.187.2 but had same behavior also in 2.164.6
Ubuntu 18.04.5 LTS
The system uses a proxy which is set at 4 places:
 - /etc/environment (HTTP_PROXY, HTTPS_PROXY, VSTS_HTTP_PROXY)
 - `.proxy` file at agent's root folder
 -  `--proxyurl` parameter of config.sh used at the time of installation
 - In Variables of the release pipeline

## Azure DevOps Type and Ver

[2021-06-10 15:00] AltlerUk commented on #3436
@EzzhevNikita  Thank you for your swift response! I have emailed you the requested log files

[2021-06-10 15:08] mjroghelia commented on #2761
The fix was reapplied after fixing the related issue with maintenance jobs. This should be resolved.

[2021-06-10 15:08] #2761 closed

[2021-06-10 15:31] jtpetty commented on #2814
I am no longer working on Azure Pipelines Agent. @mjroghelia thoughts?

[2021-06-10 17:33] anatolybolshakov commented on #3437
Hi @rudolfdobias does this issue happen intermittently for you or all the time?

[2021-06-10 17:38] anatolybolshakov commented on #3422
Hi @DaRosenberg this looks like external issue related to dotnet itself - I would suggest to create ticket on their repo - there seem to be some issue when several processes are trying to execute dotnet build at the same time.
I'm closing this at the moment - please feel free to ask any further questions.

[2021-06-10 17:38] #3422 closed

[2021-06-10 17:38] anatolybolshakov commented on #3118
Hi @alohaninja do you have any updates?

[2021-06-11 07:31] rudolfdobias commented on #3437
Hi @anatolybolshakov, it happens all the time, no successful run yet.

Another information I forgot to mention - the host OS runs in a lxc container, maybe IT has something to do with this issue...

[2021-06-11 15:58] JamieMagee commented on #2967
Given that Node.js 10 support ended on 30th April 2021, are there any plans to add Node.js 12 (maintenance LTS) or 14 (active LTS)?

[2021-06-11 21:02] #3097 closed

[2021-06-11 22:02] #3086 closed

[2021-06-12 00:03] #3082 closed

[2021-06-12 15:02] #3056 closed

[2021-06-12 16:03] #3034 closed

[2021-06-12 16:03] #3038 closed

[2021-06-12 16:03] #3028 closed

[2021-06-13 18:02] #2885 closed

[2021-06-13 18:02] #2866 closed

[2021-06-15 06:22] msrinivascharan opened #3440 "unable to run azure-devops shell script tasks on docker-linux agent"
I have a shell script (file.sh) with echo message. Created self hosted agent in a Linux container with the help of Microsoft documentation.

Created a pipeline job with "Bash" task to run the shell script (file.sh).

End up with no outcome, though build successful. no error, no outcome on console. PFB error screen. please suggest.

![image](https://user-images.githubusercontent.com/13816538/122002

[2021-06-15 10:07] DenisRumyantsev commented on #3440
Hi @msrinivascharan, could you please provide us [agent logs](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#agent-diagnostic-logs), [worker logs](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#worker-diagnostic-logs), and **the agent version** you use?

[2021-06-15 12:43] AnnaOpareva commented on #3436
Hello @AltlerUk . We didn't find any changes on the task or agent side, that could cause this issue. Could you try to configure the agent --sslskipcertvalidation flag during agent configuration (./config.sh --sslskipcertvalidation or ./config.sh --sslskipcertvalidation) and check how it works. If there no errors, then perhaps the problem is not with the task or agent, but with the certificates tha

[2021-06-15 18:04] anatolybolshakov commented on #3011
Hi @martys we rolled out related changes - I'm closing this at the moment - please let us know if you have any other issues.

[2021-06-15 18:04] #3011 closed

[2021-06-15 18:06] anatolybolshakov commented on #3185
Hi everyone! We rolled out related changes - so this option should not appear during agent configuration as rarely used - please let us know if you have any other questions.

[2021-06-15 18:06] #3185 closed

[2021-06-16 05:19] EzzhevNikita commented on #3402
@Shahyads Fix for this issue has been released and available in the latest agent version. I am closing this item currently. Feel free to reopen it in case it still actual for you.

[2021-06-16 05:19] #3402 closed

[2021-06-16 05:22] EzzhevNikita commented on #3337
@CIPop Fix for this issue has been released. It is available in the latest agent version. I am closing this item currently. Please let me know if the issue still actual for you.

[2021-06-16 05:22] #3337 closed

[2021-06-16 12:12] EzzhevNikita commented on #3433
Hey @spacesluggy74, could we close this item, or you still have questions?

[2021-06-16 12:29] spacesluggy74 commented on #3433
@EzzhevNikita you can close this item. I will post my questions in the other repo as you suggested.

[2021-06-16 12:30] #3433 closed

[2021-06-16 13:11] #2794 closed

[2021-06-16 13:11] #2793 closed

[2021-06-16 14:07] #2475 closed

[2021-06-16 14:07] #2499 closed

[2021-06-16 14:07] #2415 closed

[2021-06-16 15:10] DenisRumyantsev commented on #3440
Hi @msrinivascharan, could you also add `cat *.sh` line into your script?

[2021-06-16 15:24] DenisRumyantsev commented on #3391
Hi @mo-saeed, is this bug still actual to you?

[2021-06-16 15:34] mo-saeed commented on #3391
Hi @DenisRumyantsev, yes.. maybe we can have a call and I can share my screen to see that it's reproducible in my environment ?

I think it all happens when you start more than job exactly in same time (open 3 tabs in your browser with the same job) run 3 jobs in the same time. make sure all have the same agent pool.

maybe it happens with me coz I configure auto-provisioned agents, mainly when jo

[2021-06-16 18:40] anatolybolshakov commented on #3437
@rudolfdobias could you please try to run it with environment variable VSTSAGENT_TRACE=true and share agent logs - for us to understand where it exactly hangs?
You can also send them to my email: v-anbols@microsoft.com

[2021-06-17 09:52] anatolybolshakov commented on #3118
Hi @alohaninja I'm closing this at the moment due to inactivity - please let us know if it's still actual for you.

[2021-06-17 09:52] #3118 closed

[2021-06-17 10:13] anatolybolshakov commented on #3351
Hi @VMM-Mtech is this issue still actual for you?

[2021-06-17 10:33] VMM-Mtech commented on #3351
Hello.

The registry key has been checked, it's ok. The autologon works, the only problem is that agent is running with non-elevated privileges.

We haven't tried with the most recent agent version since the server is now in production mode. We created a workaround with task scheduler and are hoping that it will work. Luckily the server does not have maintenance reboots too often.

[2021-06-17 22:29] 50Wliu opened #3442 "Does System.PreferGitFromPath apply to all steps, or just checkout?"
## Agent Version and Platform
Windows 2.187.2

## Azure DevOps Type and Version
https://dev.azure.com/microsoft

## What's not working?
I'm trying to understand whether I can use System.PreferGitFromPath for my use case (prioritizing the Git version that ships with VFS for Git). I have a few questions:
1. Does the setting apply to all steps, or just checkout steps? I found it used in https://githu

[2021-06-18 07:26] iambernics commented on #3430
Dear All,

Do you have any update or idea about his case?

Regards,
Gabor

[2021-06-18 08:27] msrinivascharan commented on #3440
Hi @DenisRumyantsev .. Fixed this by making shell script executable (chmod +x file.sh) before commit and push it to git repo. thank you for your inputs.

[2021-06-18 08:27] #3440 closed

[2021-06-18 20:26] anatolybolshakov commented on #3310
Hi @Xplouder this error says that container has been stopped... Is it constantly reproducible for you?

[2021-06-18 20:31] anatolybolshakov commented on #3380
Hi @petermicuch this task does not support proxy at the moment - moving to azure-pipelines-tasks since it's related to the task itself.

[2021-06-18 21:05] Xplouder commented on #3310
Yes it was reproducible. At the moment i can not reproduce it because i no longer maintain the cluster where i had it running nor access to azure pipelines.

[2021-06-18 22:02] kcherewyk opened #3444 "Azure DevOps on prem build missing capabilities after Visual studio upgrade."
Hello,

We recently upgraded Visual studio from 16.8.4.0 to 16.10.2.0 on our self-hosted Windows build agent using Puppet to keep our agents' capabilities in sync. We have noticed that after upgrading the Visual Studio version that our agent is missing some of the capabilities that it previously had, specifically :
- SqlPackage
- VisualStudio
- VisualStudio_16.0
- VisualStudio_IDE
- VisualStudio_I

[2021-06-20 05:51] xxfast opened #3501 "AppCenterDistribute silently fails without distributing any releases"
*Type*: Bug

**Enter Task Name**: AppCenterDistribute@3

## Environment
- Server - Azure Pipelines (msi-cie/Gridstone/5620065)
- Agent - Private: `ubuntu-latest` '2.188.1'

## Issue Description
The `AppCenterDistribute` passes successfully but no releases are distributed on app center

### Task logs

[logs_5620065.zip](https://github.com/microsoft/azure-pipelines-tasks/files/6681788/logs_5620065.z

[2021-06-20 09:00] Ollie-Armitage commented on #3437
Hi, I'm having a similar issue to this but just with the initial configuration of the agent (./config.sh). I'm running debian 10 (did try 9 no difference), also from LXC container. I go through the configuration process:
1) Accept the Team Explorer license
2) Accept the Team Explorer URL
3) Enter the PAT,

and this is where it hangs indefinitely. Here's the log:

[Agent_20210620-085241-utc.log](ht

[2021-06-20 22:51] anatolybolshakov commented on #3437
Hi @Ollie-Armitage could you please check that issue is not related to OOM killer?
You can follow next steps to check it on your environment:
1) Set up ‘PIPELINE_JOB_OOMSCOREADJ’ environment variable as ‘-1000’ – to set up default oom_score_adj value for agent child processes as -1000.
2) Run ‘echo -1000 > /proc/$$/oom_score_adj’ – to set oom_score_adj for current shell as -1000.
3) Run agent inte

[2021-06-20 23:07] anatolybolshakov commented on #3351
@VMM-Mtech looks like agent is setting autologon registry keys properly, but issue still exists...
Could you please create ticket on https://developercommunity.visualstudio.com/home to get right eyes on it - since at the moment it looks like some OS related issue?

[2021-06-20 23:19] anatolybolshakov commented on #3312
Hi @mo-saeed sorry for the delay - have you tried  ./svc install <root_user>'?

[2021-06-22 13:10] HighWatersDev opened #3447 "Build Docker images on self-hosted agent running in AKS"
## Agent Version and Platform
Version of your agent? 2.187.2

OS of the machine running the agent? Linux Ubuntu 20.04

## Azure DevOps Type and Version
dev.azure.com

I'm attempting to run self-hosted agent on our AKS cluster running version 1.19.11. I followed [this](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#use-azure-kubernetes-service-cluster) to se

[2021-06-22 13:32] JanneRantala commented on #2455
@alex-peck Where is this option to disable automatic update in on-premise version of Azure DeveOps Server 2020 Update 1? We started facing this issue after update to that version, and our Docker build agents keep on updating themselves useless.

[2021-06-22 13:42] EzzhevNikita commented on #3434
@hanselip Could you please try to upgrade Gradle to the 6.7.1 version? Please let me know if it will help you to resolve the issue.

[2021-06-22 14:24] alex-peck commented on #2455
@JanneRantala Organization settings > Agent pools > (your pool) > Settings > "Allow agents in this pool to automatically update"

[2021-06-22 14:36] JanneRantala commented on #2455
@alex-peck Thanks! I was looking from project settings and couldn't find it.

[2021-06-23 14:33] Vinzz opened #3448 "Cannot configure negotiate auth with vsts agent 2.182.1"
## Agent Version and Platform
Version of your agent? 2.182.1

OS of the machine running the agent? OSX

## Azure DevOps Type and Version
Azure DevOps Server on prem

If on-premises, which release? 2020.1

## What's not working?
Starting with this agent's version (we tried also 2.187.1), it seems that negotiate authentication method does not work

error is the following:

[code]

PAT authent is OK

[2021-06-23 15:49] anatolybolshakov commented on #3448
Hi @Vinzz could you please share your agent logs containing this error? You can also send them to my email - v-anbols@microsoft.com

[2021-06-23 15:53] DaniilShmelev commented on #3444
Hey @kcherewyk! I wasn't able to reproduce the issue using agent 2.188.1 and Visual Studio 16.10.2.
Did you try reconfiguring the agent?
Also, could you please run `*path to agent 2.188.2*\externals\vswhere.exe -version 16 -format json` and share the output?

[2021-06-23 21:58] kcherewyk commented on #3444
No I haven't tried to reconfigure the agent yet but this is the JSON output that was generated.

  {
    "instanceId": "b7cb1478",
    "installDate": "2020-06-12T19:48:16Z",
    "installationName": "VisualStudio/16.10.2+31410.357",
    "installationPath": "C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Enterprise",
    "installationVersion": "16.10.31410.357",
    "productId": "Microsoft.

[2021-06-24 06:50] AnnaOpareva commented on #3436
Hi, @AltlerUk Is it still an actual issue for you?

[2021-06-24 09:13] Vinzz commented on #3448
I just sent you an email with the logs

Oddly, the error is 401, but it works flawlessly with the same credentials in 2.181.2

Thanks

[2021-06-24 12:18] AltlerUk commented on #3436
@AnnaOpareva  yes it is, we have have ran test on the system and can't identify and software or hardware issues. we have the agent working on 2 other systems with the same or similar configurations. I'll run a test build with diagnostics later today. Sorry for the delay been busy with a release

[2021-06-24 12:56] bwgit opened #3449 "Unable to install multiple environments on the same machine (with default agent names) when running as a service"
## Agent Version and Platform

2.188.2 Windows Server 2019 Standard

## Azure DevOps Type and Version
dev.azure.com

https://bolinda.visualstudio.com

## What's not working?
Unable to install multiple environments on the same machine when running as a service. By default the agent name is the machine name. When installing an environment as a service the service name is defined as:

`vstsagent.{0}.

[2021-06-24 15:48] anatolybolshakov commented on #3351
Hi @VMM-Mtech I'm closing this at the moment since it seems to be external issue not related to the agent itself.

[2021-06-24 15:48] #3351 closed

[2021-06-24 16:28] anatolybolshakov commented on #3448
@Vinzz thanks! Does the 2.182.1 work for you with the negotiation authentication method on the same machine?

[2021-06-24 17:55] Ollie-Armitage commented on #3437
Hi @anatolybolshakov, Sorry for the slow reply. I'd switched to just using a VM, but strangely setting up a new LXC container again it now works (I did do this multiple times before). I will note that on the day this was occurring there seemed to be an issue with PAT codes in general (it was taking around half an hour to generate each code on azure), so this might have been outside the scope of th

[2021-06-25 08:08] Vinzz commented on #3448
@anatolybolshakov it used to work since years with the negotiate method (agents are configured with Ansible, so a mistake in typing is out of the way, I just made it interactively to provide quick logs), and was OK up to **2.181.2**

Starting with _2.182.1_, negotiate seems impossible on Mac (it still works on Windows though)

[2021-06-25 11:59] mleziva commented on #3356
Hi, has there been any movement on this? We are still not seeing the scale set agent utilize the proxy correctly

[2021-06-25 16:46] 50Wliu commented on #3442
Okay, I've figured this out.

* The runtime source is controlled by variables, so if you set the `System.PreferGitFromPath` variable in your YAML to true, the pipeline will pick that up.
* It only applies to checkout steps; **however**, it will persist after the checkout steps as it's set for the whole pipeline run, not just the individual task.

I'm going to keep this open though so I can documen

[2021-06-26 15:02] #2993 closed

[2021-06-28 00:15] deadlydog commented on #3444
Hey guys, I work with @kcherewyk and the issue seemed to resolve itself after a couple days. We updated Visual Studio our other on-prem build agents and they did not encounter the problem, so it seems to have been a fluke or a temporary thing. I believe this issue can be closed. Thanks for looking :)

[2021-06-28 14:54] emanuelecappelloni opened #3451 "Can not "download artifact" upgrading the agent from version [2.174.3] to version [2.188.3]"
## Agent Version and Platform
Version of your agent? 2.188.3

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com (https://corteconti.visualstudio.com)

## What's not working?
When upgrading the agent from version [2.174.3] to version 2.188.3 we get the error System.IO.DirectoryNotFoundException: Directory not found: 'C: \agent\externals\git\mingw64\bin' du

[2021-06-28 15:01] EzzhevNikita commented on #3434
@hanselip I am closing this item since this issue is external to the Azure DevOps agent.

[2021-06-28 15:01] #3434 closed

[2021-06-28 22:09] mkosieradzki commented on #3451
Definitely not the only issue with this buggy new version 2.188.3:

[code]

If you want a better error message ;-) fix your error handling to include the inner exception.

[2021-06-29 10:20] AltlerUk commented on #3436
@AnnaOpareva  sorry for the delay here is the file

[2021-06-29 10:12:53Z INFO AgentProcess] Agent package win-x64.
[2021-06-29 10:12:53Z INFO AgentProcess] Running on Windows (X64).
[2021-06-29 10:12:53Z INFO AgentProcess] RuntimeInformation: Microsoft Windows 10.0.19043.
[2021-06-29 10:12:53Z INFO AgentProcess] Version: 2.187.2
[2021-06-29 10:12:53Z INFO AgentProcess] Commit: 0cfc45c4dcaeb1b1e3d

[2021-06-29 10:26] AltlerUk commented on #3436
2021-06-29T10:14:22.5294353Z ##[debug]Evaluating condition for step: 'NuGetToolInstaller'
2021-06-29T10:14:22.5296188Z ##[debug]Evaluating: SucceededNode()
2021-06-29T10:14:22.5296600Z ##[debug]Evaluating SucceededNode:
2021-06-29T10:14:22.5297456Z ##[debug]=> True
2021-06-29T10:14:22.5297981Z ##[debug]Result: True
2021-06-29T10:14:22.5298434Z ##[section]Starting: NuGetToolInstaller
2021-06-29T10:

[2021-06-29 12:31] DaniilShmelev commented on #3451
Hey @emanuelecappelloni! We're currently investigating this issue. It seems the problem is related to the fact that you use x86 build on x64 system. As a workaround, you can set `System.PreferGitFromPath` variable value to `true`

[2021-06-29 13:56] JaydeepUniverse commented on #3451
@DaniilShmelev  I have installed git on windows self-hosted agent, configured `System.PreferGitFromPath` to `true` in pipeline variable but the same issue still persists...

[2021-06-29 15:14] anatolybolshakov commented on #3271
Hi @bvbellomo sorry for the delay - we performed additional investigation around this - could you please try to set up AZP_AGENT_USE_LEGACY_HTTP environment variable as 'true' and try to connect the agent again?

[2021-06-29 15:17] vladislav-ryzhov commented on #3361
@Arko109 Hi!
Could you please set env variable **AZP_AGENT_USE_LEGACY_HTTP** to **true** and try to configure the Agent again?
Please find more information here

[2021-06-29 21:06] craigeaw commented on #3451
We're having the exact same issue on Windows Server 2019.

[2021-06-30 06:14] cmooring commented on #3451
We're facing the same issue after updating to 2.188.3 too.

[2021-06-30 07:00] dbhadri commented on #3451
### Agent Version and Platform
Agent Version - 2.188.3

Agent OS - Windows X64

### What's not working?

The agent can download the artifacts from the build job for a release - but it cannot download the code from the repository and fails with the following error.

Downloading artifacts failed: System.IO.DirectoryNotFoundException: Directory not found: 'C:\agent\externals\git\mingw64\bin'

We noti

[2021-06-30 13:51] EzzhevNikita commented on #3436
Hi @AltlerUk, based on the data that I see, the certificate chain on this VM contains a self-signed certificate. Do you use self-signed certificates in your network in any way? There is an instruction on how to use agents with self-signed certificates, please try to use it to set up your agent - https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/certificate?view=azure-devops-2020.

[2021-06-30 13:57] emanuelecappelloni commented on #3451
Hi @DaniilShmelev.  "System.PreferGitFromPath to true" work around seems to work for me.
Anyway  I wait a new version of the agent that solve the issue becouse i should change a lot of pipeline for fix.
Really thanks

[2021-06-30 14:01] AltlerUk commented on #3436
Thanks @edgarrs, but the host is not on a VM it's a standalone system. interestingly the agents on VM hosts are working fine.

I have checked the certificate store and their is no self signed cert's and they match the same as I have on other hosts running the Agent. This is why it has me puzzled it's complaining about a self signed cert. We don't use them as part of our security plan

[2021-06-30 14:24] craigeaw opened #3452 "SSL error when trying to download artifacts with agent version [2.188.3]"
## Agent Version and Platform
2.188.3

OS of the machine running the agent?
Windows Server 2019

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
With version 2.188.3, as soon as agents automatically upgraded we get an SSL error during artifact download.

## Agent and Worker's Diagnostic Logs
[code]

[2021-06-30 14:25] craigeaw commented on #3451
I submitted a new issue specific to the SSL error: #3452

[2021-06-30 17:02] anatolybolshakov commented on #3452
Hi @craigeaw could you please make sure that all domains specified in [docs](https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops&tabs=IP-V4) are allowed for your agent's environment - specifically for *.blob.core.windows.net?

[2021-06-30 17:13] anatolybolshakov commented on #3448
@Vinzz could you please try to set up AZP_AGENT_USE_LEGACY_HTTP environment variable as 'true' before agent configuration?

[2021-06-30 17:14] anatolybolshakov commented on #3312
Hi @mo-saeed do you have any updates?

[2021-06-30 17:15] anatolybolshakov commented on #3437
@Ollie-Armitage ok got it! Let me close this one since it's resolved - feel free to ask any further questions.

[2021-06-30 17:15] #3437 closed

[2021-06-30 17:54] craigeaw commented on #3452
I checked with our network security team, and none of the domains in the document are being blocked. Our configuration has not changed since before agent version 2.188.3 was released, so I think it's an issue with the agent code or configuration.

[2021-06-30 18:00] MiroJ commented on #2916
This issue is back. I was running the Deployment Group PS script on an Azure VM and it failed because the script suggested by DevOps does not contain `--unattended`. The agent log ends at the same line mentioned in the OP.

[2021-06-30 18:01] anatolybolshakov commented on #3452
Could you please try to set up DISABLE_BUILD_ARTIFACTS_TO_BLOB environment variable as 'true' before agent configuration? This will disable new blob storage functionality introduced by task update.

[2021-06-30 18:10] craigeaw commented on #3452
I set this as a variable on the release. It did not seem to make a difference. See my environment variable output below (some output has been removed by me).

[code]

[2021-06-30 23:54] seddikmahmah commented on #3451
Hi,
we are facing a similar issue with this new version.
The download artifact task fails. But the download Git works correctly.
Our self-hosted agents are installed in a **RedHat7** VMs and also in an AKS (**docker ubuntu18** image) with the same problem.
The only message shown on the release is a red error text, Forbidden.
On the Woker log files (VM and Docker image) we found the next error:
"Ac

[2021-07-01 01:38] cmooring commented on #3451
We were able to work around the issue by manually downloading the 64 bit version of the agent again, and re-installing it manually. I didn't do the install myself, our operations team did it, but from what I've been told, the config.bat (ie first time install script) has an option to replace.

So for now, we're good to go, but it'd be great to have this addressed in a future release.

[2021-07-01 04:50] francotiveron opened #3454 "Yaml local run doesnt work"
## Agent Version and Platform
Version of your agent? 2.188.3

OS of the machine running the agent? Windows10

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/renewtrak

## What's not working?
Yaml local run not working (as in https://github.com/microsoft/azure-pipelines-agent/blob/d504d4ef0e82d34439aa0eb494f218c2d9146a95/docs/

[2021-07-01 11:59] Pushpendu112 commented on #2839
I've been facing exactly similar issue with my pipeline. And the strange part is, it works for a old branch of code perfectly fine, but when I'm trying to point to latest branch of code, I get this error

C:\windows\system32\chcp.com 65001
Active code page: 65001
Info: .NET Core SDK/runtime 2.2 and 3.0 are now End of Life(EOL) and have been removed from all hosted agents. If you're using these SDK

[2021-07-01 13:05] AnnaOpareva commented on #3436
Hi, @AltlerUk Do you have this problem only with NugetToolInstallerV0 task or it is appearing in other situations also? If so then it will be better to create a ticket in Azure Pipelines Tasks repo here - https://github.com/microsoft/azure-pipelines-tasks to allow the appropriate team to take a look at this issue, they could have more context on it. Since currently, it doesn't look like the issue

[2021-07-01 13:11] AltlerUk commented on #3436
@AnnaOpareva  I think it's just because its the first task. I have the same issue with the deploy agent. I have identified the CURL request that is generating the error     https://vsblobproduks1.vsblob.visualstudio.com/{redacted}/_apis/dedup/nodes/{redacted}?keepUntil=2021-06-30T10%3A16%3A14Z

[2021-07-01 13:53] alexander-smolyakov commented on #3454
Hi @francotiveron, this feature is no longer supported by the pipeline agent. The related feature was [removed](https://github.com/microsoft/azure-pipelines-agent/commit/68a6a511639e03c313bc4bf38bfee684c285e424) from the pipeline agent according to this [issue](https://github.com/microsoft/azure-pipelines-agent/issues/2479).

[2021-07-01 13:53] #3454 closed

[2021-07-01 14:55] anatolybolshakov commented on #3452
@craigeaw could you please share what was the previous agent version which worked for you?

[2021-07-01 15:52] anatolybolshakov commented on #3452
@craigeaw could you please share whole agent logs for your case? You can send them to my email - v-anbols@microsoft.com

[2021-07-01 18:31] tarangpandya commented on #3451
Hello - We are also getting the errors while agent trying to download the artifacts. However, In our scenario my agent is behind firewall and we did whitlisted routes and IP addresses as it is described here - https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops#for-organizations-using-the-visualstudiocom-domain

Our CI/CD process was working fine before upgr

[2021-07-01 23:30] jhoff909 commented on #2231
Any updates on this?  Is there a backlog item to add this feature?

[2021-07-02 07:32] Devops1234567890 commented on #3452
We're also facing the exact same issue auto-upgraded to version 2.188.3

[2021-07-02 07:41] DaniilShmelev commented on #3451
@tarangpandya hi, would you mind creating a separate ticket for your issue?

[2021-07-02 07:52] DaniilShmelev commented on #3451
@emanuelecappelloni hi, we've fixed this issue in 2.188.4. It should be rolled out in the next few days.
For now you can download the agent here: https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.188.4

[2021-07-02 07:52] #3451 closed

[2021-07-02 08:15] DaniilShmelev commented on #3444
We couldn't reproduce the issue on our side, and it seems to be resolved for @kcherewyk, so I'm closing this for now.
Feel free to ping me if the issue is still present for you

[2021-07-02 08:15] #3444 closed

[2021-07-02 08:47] Vinzz commented on #3448
yes I'll try that right away

[2021-07-02 09:16] mkosieradzki commented on #3452
@anatolybolshakov How is `DISABLE_BUILD_ARTIFACTS_TO_BLOB` flag supposed to help? If the agent crashes much earlier on:
[code]

[code]

[2021-07-02 09:20] mkosieradzki commented on #3452
@anatolybolshakov - also all logs are aready sent as part of `2106290050001198` SR.

[2021-07-02 10:14] anatolybolshakov commented on #3452
@alex-peck could you please take a look? Do you know maybe if it's some known issue?

[2021-07-02 10:34] anatolybolshakov commented on #2231
Hi everyone, could you please create a ticket on https://developercommunity.visualstudio.com/search?space=21 for proper routing to clarify - since this feature is related more to the server-side?

[2021-07-02 12:13] jefjef commented on #3143
We are currently experiencing an issue that a build server has a tag that no longer exists on the repo.
Having to manually remote into the server to prune the tags is a not-optimal workaround.

[2021-07-02 14:00] Vinzz commented on #3448
Well, that's no better I'm affraid

I'll send you the logs

`$ cat .env
AZP_AGENT_DOWNGRADE_DISABLED=true
AZP_AGENT_USE_LEGACY_HTTP=true
LANG=C.UTF-8`

`Enter server URL > https://myserver/tfs
Enter authentication type (press enter for PAT) > Negotiate
Enter user name > myserviceaccount
Enter password > ********************
Error reported in diagnostic logs. Please examine the log for more details

[2021-07-02 14:46] anatolybolshakov commented on #3448
@Vinzz could you please double-check that agent is picking up variable? You can check it by reviewing agent capabilities in DevOps - there should be AZP_AGENT_USE_LEGACY_HTTP with 'true' value.

[2021-07-02 16:21] alex-peck commented on #3452
This is almost definitely due to a misconfigured firewall. You are failing to reach out to the location service.

[2021-07-02 16:26] craigeaw commented on #3452
Our firewall configuration has not changed since the previous working version. I confirmed with our network security team that there is no traffic being blocked by the firewall when these requests are being made by the agent. Did the firewall configuration requirements for the agent change on 6/28?

[2021-07-02 16:41] alex-peck commented on #3452
Are you using a proxy of any kind?

The change that happened was we moved from DownloadBuildArtifactsV0 (which was a JavaScript task) to DownloadBuildArtifactsV1 (which is a C# task included in the agent).

[2021-07-02 16:51] craigeaw commented on #3452
No proxy. We're trying something with the FW configuration. I'll get back to you with our findings.

[2021-07-02 17:03] craigeaw commented on #3452
@alex-peck You are correct that is was misconfigured FW. It was that coupled with me misinterpreting a deployment process. Ian IP was being blocked in the 13.107.42.0/24 range. We allowed it for one server, but failed to do so for another server in the deployment group. We'll be revisiting our configuration next week to ensure the entire range is covered. Thank you for your help!

[2021-07-02 17:21] alex-peck commented on #3452
Customer confirmed this was an issue with their firewall. Closing this for now. If anyone else experiennces a similar error, please validate that your firewall is correctly configured with the [allow-list here](https://docs.microsoft.com/en-us/azure/devops/organizations/security/allow-list-ip-url?view=azure-devops&tabs=IP-V4).

[2021-07-02 17:21] #3452 closed

[2021-07-05 12:44] anatolybolshakov commented on #3312
@mo-saeed I'm closing this due to inactivity at the moment - from quick look this issue usually happens when there are some permission issues. Please let us know if you still have any questions.

[2021-07-05 12:44] #3312 closed

[2021-07-05 12:48] anatolybolshakov commented on #3400
Hi @corppeon per offline discussion - do you have any updates about trying of 2.185.1 agent version?
To disable auto-upgrade - you also need to disable agent auto-upgrade for relevant agent pool – to avoid immediate auto-upgrade.

[2021-07-05 14:35] corppeon commented on #3400
Hi,

We think we’ve just fixed the issue - we are pulling multiple git repos, and we’re now explicitly setting the path settings for each checkout step. This seems to have fixed the reported intermittent ENOENT exception.

Many thanks for your help and following up.

From: Anatoly ***@***.***>
Sent: 05 July 2021 13:48
To: ***@***.***>
Cc: Andy ***@***.***>; ***@***.***>
Subject: Re: [microsoft/azu

[2021-07-05 18:03] anatolybolshakov commented on #3400
@corppeon got it thanks! I'm closing this since it's resolved, feel free to ask any other questions.

[2021-07-05 18:03] #3400 closed

[2021-07-06 17:36] Arko109 commented on #3361
@vladislav-ryzhov Hello, unfortunately we have updated to a newer version of Azure DevOps since I opened this issue, so we are no longer able to perform this test. We don't have the agent connection problem after the update.

[2021-07-07 06:35] #3361 closed

[2021-07-07 14:20] ChristianKippingKv-rlp commented on #3308
Hello,
I have exactly the same problem as @in-fke .

I am using version 2.188.4 of vsts-agent-linux-x64.

I am administrator of a agent pool called Sandbox in the organization Sandbox. I am not administrator of the hole Azure DevOps instance. I created two access tokens. One with full access (on this agent pool) one with modify rights for the agent pool.
With these two access tokens I am able crea

[2021-07-07 14:53] in-fke commented on #3308
Maybe we need to open an issue on the server side? Any suggestions from the maintainers?

[2021-07-08 00:54] AhmedBM opened #3457 "Self-hosted agent "Initialize job" failure - Invalid File or Directory attributes value"
## Agent Version and Platform
2.188.3 on both ARM and ARM64

Ubuntu 20.04

## Azure DevOps Type and Version
dev.azure.com

https://mscodehub.visualstudio.com

## What's not working?
Self-hosted agents failing to initialize job. What is interesting is that the first build on the agent works. Its subsequent builds that fail. The issue seems to be with the `/work/1` folder. If i delete the folder, th

[2021-07-08 05:20] ChristianKippingKv-rlp commented on #3308
Good morning,

after changing the url in the .agent file created by config.sh during configuration, to https://****url.en:443/tfs/Sandbox, I can now use the command
./config.sh remove --auth pat
to remove the node.
Can the discussion be reopened here?

My .agent file after the change:
/opt/azuredevops$ cat .agent
{
  "agentId": 13,
  "agentName": "Blabla",
  "poolId": 7,
  "poolName": "Sandbox",

[2021-07-08 09:27] anatolybolshakov commented on #3457
Hi @AhmedBM have you faced with this issue on previous agent version?

[2021-07-08 17:18] AhmedBM commented on #3457
I cannot say for sure. But i can gladly test other revisions.

[2021-07-08 17:57] tanvirstreame commented on #1481
this woreked

[2021-07-09 09:55] cawoodm commented on #3118
We just had this problem - agent downloading artifact incorrectly and solved it by updating the agent to the latest version `2.188.3`.

[2021-07-09 15:18] metaine commented on #3184
Can we use our own Apple Silicon machine as self-hosted agent?

[2021-07-09 15:34] anatolybolshakov commented on #3271
Hi @bvbellomo do you have any updates?

[2021-07-09 15:36] anatolybolshakov commented on #3448
@Vinzz do you have any updates?

[2021-07-09 15:52] bvbellomo commented on #3271
During the 4 months I was waiting for a reply, I was able to get SSL installed.

[2021-07-09 16:33] anatolybolshakov commented on #3271
@bvbellomo sorry for the delay - let me close this one since it's resolved for you - feel free to ask any further questions.

[2021-07-09 16:33] #3271 closed

[2021-07-09 20:14] ZachRothweiler commented on #3356
Bumping this one, seeing the same issue. This prevents us from using scaleset pools

[2021-07-11 19:43] DmytroSokhach commented on #1569
@TingluoHuang
could you please share how did you get this screenshot? https://github.com/microsoft/azure-pipelines-agent/issues/1569#issuecomment-447024091

[2021-07-11 19:52] Marcus-James-Adams commented on #1569
A year on and yet still no response

[2021-07-11 22:02] #2877 closed

[2021-07-12 10:44] leonfibal commented on #3448
Hi,

It seems that I have the same problem. I try to run agent as environment resource and it does not work. Logs;

[code]

[2021-07-12 12:34] tatyana-kostromskaya commented on #2711
@avivanoff Changes with new input option, that allow to clean up destination folder before artifacts download, were merged.
This change will be available next sprint.

I'll update the issue when changes are deployed.

[2021-07-12 14:35] yashali opened #3459 "Unable to configure a new agent : Failed to create CoreCLR, HRESULT: 0x80004005"
## Agent Version and Platform
Version of your agent? vsts-agent-linux-x64-2.188.4

OS of the machine running the agent? Ubuntu 20.04.2 LTS

## Azure DevOps Type and Version
dev.azure.com

If on-premises, which release? N/A

## What's not working?
We had some 12 agents running on one Az VM (Ubuntu 20.04.2 LTS) as processes (`./config.sh && screen ./run.sh`). All was well..

I had to run some comman

[2021-07-12 17:12] alexander-smolyakov commented on #3459
@yashali, could you please try disabling CoreCLR diagnostics by setting the environment variable `export COMPlus_EnableDiagnostics = 0`, and then try running `./config` from the agent directory?

[2021-07-12 17:52] yashali commented on #3459
:) thanks! It worked

[2021-07-12 17:52] #3459 closed

[2021-07-13 10:20] EzzhevNikita commented on #3436
@alex-peck Could you please take a look at this issue, it seems like the issue with SSL happens when the agent is trying to connect to the blob store. Maybe you have some thoughts on what could be the reason for this issue and how it could be resolved for the customer. One interesting thing that customer doesn't use SSL in their network. So it is not quite clear what could be the reason for it. Co

[2021-07-13 16:07] #3078 closed

[2021-07-14 00:53] robnick opened #3460 "Suggested improvement in CapabilityHelpers/CapabilityFunctions.ps1"
## Suggest improvement
azure-pipelines-agent/src/Misc/layoutbin/powershell/CapabilityHelpers/CapabilityFunctions.ps1

function Add-CapabilityFromRegistryWithLastVersionAvailable

This function will generate an exception if the index to iterate on is a null array. The exception itself is "Cannot index into a null array" with the following message logged "An error occured while trying to sort subkey

[2021-07-14 12:14] spr0ut commented on #3362
Just come across this issue while trying to diagnose why a container job runs fine on one agent, but not another. It's because one agent is running as UUID 1000 which matches the node container UUID (1000), and the broken agent was running under UUID 1002.

## Environment
Azure DevOps Server 2020 Update 1

[2021-07-14 14:09] AnnaOpareva commented on #3095
Hi @DOMZE , Please open an issue on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) for support with the Azure VMSS agents pool and Azure Pipelines Extensions

[2021-07-14 14:09] #3095 closed

[2021-07-14 14:15] sametnur commented on #2455
Is there any way to schedule it out of hours?

[2021-07-14 19:07] marcuslopes opened #3461 "$PATH does not contain paths defined on /etc/environment"
## Agent Version and Platform
Version of your agent? 2.187.2, 2.188.3

OS of the machine running the agent? Ubuntu 18.04, Ubuntu 20.04

## Azure DevOps Type and Version
dev.azure.com (Cloud)

## What's not working?

Issue created after request from the contributors of the **/actions/virtual-environments** repository (see:
https://github.com/actions/virtual-environments/issues/3695), saying this is

[2021-07-15 15:45] asayanth commented on #3273
Are there any update on this issue? I tried adding `kinit` at the begging of the bash script, before the `mkdir` command, but got the same error.

[2021-07-16 21:22] DerekFoulk commented on #2356
@anatolybolshakov Can you please share how to set this "environment variable" in Azure Pipelines? The documentation I found does not say anything about setting environment variables... https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#environment-variables

[2021-07-17 04:00] alexey-gusarov opened #3463 "We need ability to more effective develop yaml pipelines"
## Agent Version and Platform
Version of your agent? 2.181.2

OS of the machine running the agent?
OSX/Windows/Linux/...

## Azure DevOps Type and Version
on-premises Azure DevOps Server 2020

## What's not working?
I need to commit every time to check how the complex yaml pipeline works. It'very long operation for testing pipeline.

I suggest adding a trigger to the agent so that the last launch

[2021-07-18 17:06] #3202 closed

[2021-07-20 05:03] AmitShewani opened #3465 "VSTS agent cannot access Azure CLI"
## Agent Version and Platform
2.188.2 windows

OS: windows (Self hosted)

## What's not working?
From raw logs:

Using Azure CLI, trying to execute the powershell script, this is what I get:

![image](https://user-images.githubusercontent.com/28490530/126264157-cbf49b7e-fae3-47dd-b13a-509d80bbafea.png)

On the agent's VM, I have installed the cli when logged in as **my user account**,

![image](ht

[2021-07-20 18:21] tatyana-kostromskaya commented on #3465
Hello @AmitShewani , did you try to restart the service after you had installed Azure CLI?

[2021-07-20 23:21] AmitShewani commented on #3465
@tatyana-kostromskaya , yes I did restart the service and restarted the server as well but it still didn't work.

[2021-07-21 09:30] DutchBlackOp commented on #3361
Hello, after upgrading our azure devops environment from Azure DevOps Server 2020 -> Azure DevOps Server 2020 Update 1 we encountered this same issue for the http connection on MacOS. The issue occured when updating our Mac agents to version 2.189.0. After using the env variable AZP_AGENT_USE_LEGACY_HTTP mentioned by @vladislav-ryzhov, connecting through http worked again.

Is this an issue with t

[2021-07-21 09:51] AmitShewani commented on #3465
@tatyana-kostromskaya , I reinstalled the agent, verified that the system variables exist and restarted the machine. Still getting the same error.

[2021-07-21 10:07] #2570 closed

[2021-07-21 12:03] #3023 closed

[2021-07-21 12:27] Adam-Jin opened #3466 "Random SSL error occurred when PIPELINE accessed the DevOps interface from the self-host agent"
## Having issue with software on Hosted Agent?
We use Azure Devop to manage our daily development tasks and use Azure Pipeline for continuous integration, so we add some SelfHost agents to the AKS cluster to execute the pipepline.

Since yesterday, it has been found that random SSL requests in the Agent container have failed. We tried to restart the Agent, but due to the existence of SSL requests

[2021-07-21 12:29] Adam-Jin commented on #3466
We set up these selfHost agents with reference to this article

[2021-07-21 13:19] marcuslopes commented on #3461
Hi Vladislav!

Thanks for your help with this issue. Please let me know if I can help with any futher information.

[2021-07-22 17:03] jimbo8098 commented on #1294
I would love to use gMSAs in order to forgo the need to have passwords floating around in my configurations so this would be great to see. I confirm the same as @poke , I see the following:

[code]
If you add a fake password, then authentication fails and agent configuration fails with it. If you specify a blank string as the password, an InvalidOperationException is thrown and the agent configura

[2021-07-22 18:26] marcpopMSFT opened #3532 "Installing .net 6 is required for 5.0 projects and when installing this version the build agent on the same machine fails to build due to error"
This was copied from https://developercommunity.visualstudio.com/t/Installing-net-6-is-required-for-50-pr/1474894

When I have the latest version of the preview 2022 I cannot use the build agent on my machine for devops. I recieve the error below in the pipeline. If I on the other hand uninstall .net 6.0 the pipeline runs smoothly. The installer tells me I still have 5.0 installed but the project

[2021-07-22 23:39] tastyeggs commented on #1294
Azure DevOps team, you should take a look at this issue. It is Microsoft's [best-practice security guidance that we use gMSAs for services](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/service-accounts-group-managed), as regular user accounts for these purposes expose security issues.

So the only conclusion that we can come to after 3.5 years of this issue being open, in a

[2021-07-22 23:56] jimbo8098 commented on #1294
While not ideal, btw, I had success setting the credentials the default unattended user then setting the service to what I needed manually. The ansible for it basically boiled down to:

So after a rework I did find that I could use the Azure Agent with a gMSA using:
[code]
I added some bits to the above for my organisation but you get the idea. In the above I'd set agent_win_user to the gMSA.

[2021-07-23 06:53] roofiq opened #3468 "Self hosted agent - random task freeze, timing out"
## Agent Version and Platform
Version of your agent? 2.188.4

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

## What's not working?
We are running parallel jobs using our Agent Pool, that has multiple agents defined, that are on mostly 1 VM.
What is happening is that we experience randomly task freeze, which turns out into

[2021-07-23 07:26] poke commented on #1294
@tastyeggs I wouldn't go that far. Yes, it is a bit annoying that you cannot set up the service to use a gMSA during setup but it's not impossible. As mentioned earlier you can reconfigure the created service to use a different account after it has been created.

So yes, an annoyance but not a super critical security issue.

That being said, I'm still willing to contribute a fix.

[2021-07-23 09:31] AnnaOpareva commented on #3436
Hi, @AltlerUk Since currently, it doesn't look like the issue that related to the Agent itself, looks like it is mostly the problem with the blob store. Please create a ticket in Dev Community here - https://developercommunity.visualstudio.com/search?space=21 to allow the appropriate team to take a look at this issue, they could have more context on it.

[2021-07-23 09:32] AnnaOpareva commented on #3436
Hi, @AltlerUk Since currently, it doesn't look like the issue that related to the Agent itself, looks like it is mostly the problem with the blob store. Please create a ticket in Dev Community here - https://developercommunity.visualstudio.com/search?space=21 to allow the appropriate team to take a look at this issue, they could have more context on it.

[2021-07-23 09:32] #3436 closed

[2021-07-26 06:06] jamesdoran commented on #3284
Just checking in to ask if this is still on your radar and if there are any plans to fix?

More than happy to provide more info if required.

[2021-07-26 21:02] #3109 closed

[2021-07-27 07:17] roofiq commented on #3468
Hello, bumping it, can someone take a look?
Below another log snippet, there's an 1 hour break between logging and agent terminated job.

[code]

What should we analyze to troubleshoot it? RAM usage, background processes?

[2021-07-27 08:22] rikat-ms opened #3471 "Improvement Request: Update behavior of Self-hosted agent"
When a Self-hosted agent is updated automatically or manually, the 'externals' folder is switched to the newer version's folder. This causes configurations like gitconfig to be reset. While it is not recommended to change configurations under the external folder, users can customize them. Then, it is detected that the configurations are reset when a pipeline fails or finish with unexpected result.

[2021-07-27 14:29] Vinzz commented on #3448
Hi, back from vacation and yes I just re-checked:

[code]

[2021-07-27 14:49] alucardu opened #3472 "Azure self hosted Linux agent offline, no clear error."
## Agent Version and Platform
2.185.1 Linux

OS of the machine running the agent? OSX/Windows/Linux/...

## What's not working?

![image](https://user-images.githubusercontent.com/779921/127174528-d9e75d05-ae94-4bbf-886a-fbeffc7ea8a6.png)

[code]

## Agent and Worker's Diagnostic Logs

All the agent logs are empty

Worker_20210727-134223-utc.log
[code]

[2021-07-28 11:08] carstenhag commented on #3434
Hello there, we are having this issue on macOS agents, see Ticket 2107260050001036. We are not only having this issue with JCenter though, we also have it with Apache's Maven repo:

[code]

[code]

[2021-07-28 13:06] jithurjacob commented on #3472
I'm also facing the same issue. The agent is shown online in Deployment Groups and Release pipeline can successfully use the agent. But in agent pool the server is offline and build pipeline cannot allocate jobs to the server.

[2021-07-28 13:32] alucardu commented on #3472
@jithurjacob I haven't resolved my issue, but could it be a disk space issue? Could you check?

[2021-07-28 16:08] jithurjacob commented on #3472
@alucardu  - It was not a disk space issue. I have it for me by running another agent as a native installation. So currently in a server, I have a docker based agent running for Deployment Group and a native agent running for Self Hosted. The docker based agent is because of a certain requirement we are having in our systems.

[2021-07-29 15:30] skarlupka opened #3476 "Linux Agent Install Error: KeyError: 'substatus'. Missing substatus key in status file."
## Agent Version and Platform
Version of your agent? 2.189.0

OS of the machine running the agent? Ubuntu 20.04

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
When using a VMSS agent pool the agents hang in the creating state. After logging into the system the logs report that the "substatus" key is missing via a python stack trace while completing the pre_validation_check

[2021-07-29 16:13] smariussorin commented on #3472
We have the same error. Deployed to 4 different region VM and only 3 VM are online. Same have the version: 2.189.0

[2021-07-30 02:27] ajorkowski commented on #3476
I'm seeing the same issue unfortunately :( Starting yesterday our instances do not start on our VMSS agent pool, getting the same error as described above.

[2021-07-30 15:56] anatolybolshakov commented on #3472
Hi @alucardu @jithurjacob @smariussorin do you run the agent as a service?
From the logs above - looks like agent falied with some i/0 error while trying to start and create log files - could you please make sure that users which is used to run agent has enough permissions to write them?

[2021-07-30 16:04] anatolybolshakov commented on #3448
@leonfibal @Vinzz do you see AZP_AGENT_USE_LEGACY_HTTP variable as detected agent capability also in Azure DevOps UI?

[2021-07-30 16:50] alucardu commented on #3472
I am running it as a service. Going to check the permissions Monday.

[2021-08-02 06:35] leonfibal commented on #3448
@anatolybolshakov I can't check it. Nothing happens when i click on machine in UI. Also nothing happens in console or network tabs in my browser.

[2021-08-02 09:00] alucardu commented on #3472
For me it was a disc space issue. I removed some stuff and ran `sudo ./svc.sh status` which shows:

[code]

Still got to remove some more stuff, but `/dev/sda1` was at 100% when the agent crashed:

[code]

and now on 99% the agent is up.

[2021-08-02 09:41] Vinzz commented on #3448
@anatolybolshakov I can't check neither, as the enrolling stops before anything can be seen on the ADS UI

[2021-08-02 12:12] anatolybolshakov commented on #3448
Yes, we were able to reproduce it, but switching to http legacy handler (by setting up AZP_AGENT_USE_LEGACY_HTTP environment variable to 'true') resolves this issue. This handler was switched by default to new SocketHttpHandler in [2.177.1 agent release](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.177.1).
We are currently investigating the reasons of this issue for new http

[2021-08-02 13:07] Vinzz commented on #3448
OK I'll retry from scratch with this Env Var enabled

[2021-08-02 15:57] jprochnow commented on #858
I've noticed the [skip ci] generally works, but is ignored when doing a git push --force.  I've tested [skip ci] placement within the commit message and description, and none of that was impactful.  The issues I saw were attributable to the --force option.

As a workaround, I'm using the previously noted:   `condition: not(contains(variables['Build.SourceVersionMessage'], '[skip ci]')) `

[2021-08-02 16:35] anatolybolshakov commented on #2378
@jd-mtb looks like it should work as expected on RHEL too.
Just as conclusion - please make sure that all required [dependencies ](https://github.com/dotnet/core/blob/main/Documentation/build-and-install-rhel6-prerequisites.md#required-packages)are installed on RHEL 6. Running of 'svc.sh' script is the preferred way to run agent as a service (here are some more info about [steps](https://docs.micr

[2021-08-02 16:35] #2378 closed

[2021-08-02 18:31] hbuckle opened #3478 "Health probe"
## Agent Version and Platform
Version of your agent? 2.189.0

OS of the machine running the agent? Any

## Azure DevOps Type and Version
dev.azure.com

## Question
Does the agent expose a health check endpoint of any kind? I want to use automatic instance repairs on my scale set agents to detect machines that fail to start and delete them but it needs a health probe to work.

[2021-08-03 06:47] biiiipy commented on #1294
100% this. Let's not forget MS is one of worlds biggest companies and we have to beg them to enable out-of-the-box basic security features.

[2021-08-03 11:31] singhalnidhi commented on #3385
We found these security vulnerabilities in vsts-agent-linux-x64 image version 2.185.1. Since then we have updated our agent with latest  vsts-agent-linux-x64 images released by Microsoft (the latest one being 2.190.1) but none of the images provided a fix for this issue. Could you please let us know when can we expect a fix for this?
These vulnerabilities are of Critical and High severity and we a

[2021-08-03 14:18] kuleshovilya commented on #3466
Hello @Adam-Jin , This doesnt seem like an issue with the agent itself, but rather regional network issue or local enviroment one. I've tested your proposed reproduction tests and there doesnt't seem to be a global problem there. I'd recommend to report a bug through Azure DevOps portal for further investigation.

[2021-08-03 14:18] #3466 closed

[2021-08-03 14:36] anatolybolshakov commented on #3466
@Adam-Jin you can report the issue on https://developercommunity.visualstudio.com/search?space=21

[2021-08-03 14:44] AnnaOpareva commented on #3449
Hi, @bwgit Agent that contains the fix for the described issue has been released (v2.189.0). Could you test - does it works for you? Feel free to ping us if you will have any problem with it.

[2021-08-03 15:22] echalone commented on #2799
This is the intended behaviour, if you want it to be checked out below the s folder than just add "s/" to the checkout path at the beginning, so...
[code]
or just remove the path option to let it automatically check out to s/AutomaticDeploymentTest

[2021-08-03 16:01] echalone commented on #1506
Hi, I think I've already programmed the solution for this, including UnitTests, as we need it too, and I've also made two pull requests for two different functions.

This pull request here would (on self hosted agents) allow repositories not just to be put in the build directory, but also in the work directory, therefore allowing self hosted agents to reuse repositories between build pipelines: ht

[2021-08-03 18:06] anatolybolshakov commented on #3448
@Vinzz @leonfibal this also seems to be related to the issue https://github.com/dotnet/runtime/issues/25827.
In general we are planning to update net core version for agent, but it could take some time to complete migration - please let us know if switch to legacy http handler helps to resolve the issue.

[2021-08-03 18:08] anatolybolshakov commented on #3361
Hi @DutchBlackOp there is a related net core issue - https://github.com/dotnet/runtime/issues/25827.
In general we are planning to update net core version for agent, but it could take some time to complete migration.

[2021-08-03 18:28] MattMencel commented on #3476
I switched the VM SKU from `Standard_F2s_v2` to `Standard_F4s_v2` and increased disk size to 128GB from 32GB.

My agents are deploying now.

I also noticed however there is a newer release, 2.190.0, that just appeared so it's also possible that was the fix.

[2021-08-04 03:37] bwgit commented on #3449
Yes this works perfectly now.

Thankyou!

[2021-08-04 03:37] #3449 closed

[2021-08-04 08:45] ittimtadej commented on #3031
@koehrlenguillaume on Ubuntu 20.04.2 LTS I get this: `E: Unable to locate package libicu60` :(

[2021-08-04 08:55] echalone opened #3481 "UnitTest localization bugs"
# UnitTest localization problems
Five UnitTests have problems on some non-english systems (at least in German, French, Italian and Spanish) and will fail although they shouldn't. This is due to differently named system accounts in different languages and different decimal separators in different language cultures.

**I would have already fixed the problem in those UnitTests and have already create

[2021-08-04 10:12] echalone opened #3482 "Wrong identification of primary repository in some cases"
## Synopsis
In some cases the first repository checked out in a Yaml pipeline with a multiple repository checkout scenario is wrongly identified as the primary repository. The self repository should instead always be identified as primary repository (if it was checked out).

**I would have already fixed the bug and have already created a pull request** to the master branch of this repository: http

[2021-08-04 10:56] echalone opened #3483 "[Feature request] Add new agent capability that allows repositories to be checked out below work directory level on self hosted agents"
This is a feature request for a new agent capability that would allow self hosted agents to check out repositories below the work directory level (so for example below "/_work", instead of just below the build pipeline directory level for example "/_work/1"), so large repositories can be shared between build pipelines without taking up space for each and every pipeline.
This feature should be disa

[2021-08-04 12:10] Vinzz commented on #3448
Hi @anatolybolshakov  I can confirm that with agent version 2.182.1 and MacOS 11 Negotiate can't be used
No sweat though, we'll migrate to PAT and roll on

[2021-08-04 12:27] echalone opened #3484 "[Feature request] Add option to use a checkout path of any repository in a multi-checkout scenario as the default working directory (System.DefaultWorkingDirectory)"
This is a feature request for a new option in the checkout build step which would allow to set the default working directory of a build pipeline with multiple checkouts to the checkout path of the desired repository.

Important notice: **I would have already implemented this feature in the agent** as described below **and have already created a pull request** to the master branch of this repositor

[2021-08-04 12:27] DaniilShmelev commented on #3483
Hi @echalone! We'll take a look at your PRs, thanks!

[2021-08-04 12:32] echalone commented on #3483
Thanks! :)

[2021-08-04 14:09] leonfibal commented on #3448
@anatolybolshakov env AZP_AGENT_USE_LEGACY_HTTP=true is present. I installed an agent with version 2.189.0 and the error still occurs:
[code]

[2021-08-04 14:10] dancoupar commented on #838
This is an issue for us also. Like a couple of others who have posted, we can't use string manipulation within a task because we need to use it right at the top of the pipeline, like this:

[code]

Neither `$(Build.SourceBranch)` or `$(Build.SourceBranchName)` will work in this scenario. There would appear to be no workaround, so we're stuck.

Adding an additional `Build.SourceBranchFullName` vari

[2021-08-04 18:36] anatolybolshakov commented on #3448
@leonfibal could you please also check that there is a server url specified as <server address>/DefaultCollection - for the agent while connecting to AzureDevOps Server?

[2021-08-05 06:43] leonfibal commented on #3448
The only server url I found in logs is:
[code]

[2021-08-05 14:12] aleks-ivanov opened #3486 "Add native GitHub security and versioning dependency alerts"
- [Dependabot](https://dependabot.com/) alerts on updates for the project's dated and vulnerable dependencies and automatically creates PRs to easily update them

Pipeline Foundation is **a non-profit initiative** with the sole purpose of giving back to the IT community by assisting OSS projects with DevOps implementations and best practices.

Built with ❤ by [Pipeline Foundation](https://pipeline

[2021-08-05 14:13] aleks-ivanov opened #3488 "Add GitHub Codespaces configuration"
- [GitHub Codespaces](https://github.com/features/codespaces) is a configurable cloud development environment available in your browser on GitHub or through Visual Studio Code.

Pipeline Foundation is **a non-profit initiative** with the sole purpose of giving back to the IT community by assisting OSS projects with DevOps implementations and best practices.

Built with ❤ by [Pipeline Foundation](h

[2021-08-05 14:16] aleks-ivanov opened #3490 "Add native GitHub continuous code security and quality analysis"
- [CodeQL](https://github.com/github/codeql) is an open source code scanning tool for discovering vulnerabilities across a codebase

Pipeline Foundation is **a non-profit initiative** with the sole purpose of giving back to the IT community by assisting OSS projects with DevOps implementations and best practices.

Built with ❤ by [Pipeline Foundation](https://pipeline.foundation).

[2021-08-05 15:18] anatolybolshakov commented on #3472
@jithurjacob @smariussorin closing this one since it seems to be not related to the issue on agent side - please let us know if it's still actual for you.

[2021-08-05 15:18] #3472 closed

[2021-08-05 15:21] anatolybolshakov commented on #3448
@leonfibal this is the url you specify while configuring the agent.

[2021-08-05 15:34] anatolybolshakov commented on #3478
Hi @hbuckle you can use Azure DevOps Services [Api](https://docs.microsoft.com/en-us/rest/api/azure/devops/distributedtask/agents/get?view=azure-devops-rest-6.0#taskagent) to retrieve agent on/off status.

[2021-08-05 16:09] hbuckle commented on #3478
That's not quite what I'm after - I was looking for a way to add a health probe to a scale set to detect whether the agent is running or not. It needs to be a local tcp or http endpoint that the load balancer probe can call (like a liveness probe)

Reference - https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-health-extension

[2021-08-06 01:04] ChristopheLav commented on #3461
Any news on this issue?

We continue to investigate but because the PATH is provisioned during the VM image generation, the `/etc/environment` file is in the good state when the agent is automatically installed by the VMSS extension created by ADO itself (we used the native [Scales Set agents feature](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops

[2021-08-06 06:39] leonfibal commented on #3448
@anatolybolshakov this is the same url I specify while configuring the agent

[2021-08-06 07:45] bdovaz opened #3494 ".env file and PATH variable"
In order to make the **Windows** self hosted agent configuration as portable as possible I have discovered the ".env" file that allows to add more environment variables but I have a doubt with the PATH variable.

Looking at the code I see that the only thing it does is to add the ones that are in that file but in the case of the PATH variable I see that it does not contemplate that special case be

[2021-08-06 08:28] maxgio92 commented on #838
Sorry @alxy but that expression will work only for named branch git references (for example not for tag references)

[2021-08-06 09:13] anatolybolshakov commented on #3478
@hbuckle got it - this sounds like scale set feature which is out of scope of agent itself - could you please create a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?

[2021-08-06 09:43] hbuckle commented on #3478
Well the agent itself needs to expose an http or tcp endpoint. This isn't specifcally linked to the built in azure devops scale set feature - you might want to monitor the agent health if you are installing and running it yourself (especially in containers)

[2021-08-06 12:35] mmrazik commented on #3476
This is already resolved. The offending changes have been rolled back few days back.

[2021-08-06 12:35] #3476 closed

[2021-08-06 18:53] junyuan-z commented on #3307
We are having this same issue too.

[2021-08-07 18:11] hez2010 commented on #3243
Any updates? This blocks azure pipeline agent being used in dind scenario.

[2021-08-08 08:16] anhdle14 commented on #3138
Not stale, AKS needs to support some alternative to mounting docker-socket. Please check tekton or argo-workflow project.

[2021-08-09 01:17] v-kydela commented on #1764
I think the concept of running a YAML pipeline locally is getting conflated with the concept of testing a YAML pipeline before committing it.

The ability to run a pipeline locally is not only a much larger feature to implement, it's also less desirable because your local machine won't be able to give an accurate impression of whether the pipeline will run on the cloud. It's also irrelevant to me

[2021-08-09 01:52] kasajian commented on #1764
What is needed is to do all this work locally on your computer without using azure pipelines.  Just like I can build a visual studio solution locally or in pipeline.   The fact that Microsoft build systems never provided a way of running the scripts locally, whether it was xaml based, then vNext, and now yml is just a perpetuation of a bad decision made a long time ago.

Fundamental tenet of any s

[2021-08-09 05:17] tapika commented on #1764
At the moment we actively use powershell scripts as a "replacement" for yaml, but unfortunately - yaml cannot be completely replaced with powershell - there are always native yaml mistakes, like forgetting amount of tabs, spaces inconsistency, incorrect variables / parameters usage.

We have also build system which takes quite long time to execute (for example over 1 hour), and then testing yaml s

[2021-08-09 13:01] anatolybolshakov commented on #3478
@hbuckle by the current design agent does not provide any endpoints - bringing this new feature will require additional security risks analysis and clarification of the purpose of this - so [developer community](https://developercommunity.visualstudio.com/search?space=21) would be a better place to give heads up on this one.

Currently you can verify agent health locally:
- For interactive mode -

[2021-08-09 14:45] anatolybolshakov commented on #3307
@emul8ed @junyuan-z could you please provide some repro steps for this - to check it on our side?

[2021-08-09 14:49] anatolybolshakov commented on #3243
Hi @hez2010 sorry for the delay - let us take a look.

[2021-08-09 16:32] anatolybolshakov commented on #3448
@leonfibal your case looks different from original - could you please share the full logs to check? You can send them to my email - v-anbols@microsoft.com

[2021-08-09 17:44] v-kydela commented on #1764
Was this in response to what I said? I'm not sure I understand what you're saying and why. The issue has been closed for a long time

[2021-08-10 05:46] jappenzesr commented on #3356
Same issue here. We have to run the agent behind a proxy for security reasons. When will this be addressed?

[2021-08-11 12:07] #2459 closed

[2021-08-11 13:59] anatolybolshakov commented on #3478
Let me close this one since this is a larger feature not only related to the agent itself.

[2021-08-11 13:59] #3478 closed

[2021-08-11 17:07] anatolybolshakov commented on #3417
Hi @iambernics there is no way to ignore agent update message at the moment, as I understand in general it's not a preferred option to disable it.

[2021-08-11 17:31] FrancisBourgault commented on #838
This worked for me (didn't try with pull request yet).

VERY IMPORTANT: Change the $env variables to upper cases, or else it won't work on Linux/Unix.

 $env:Build_SourceBranch => $env:BUILD_SOURCEBRANCH
$env:Build_Reason => $env:BUILD_REASON

[2021-08-13 08:49] manzurshaikh commented on #3466
sames goes to me, i am also facing same issue

`Error reported in diagnostic logs. Please examine the log for more details.
    - /opt/agent/_diag/Agent_20210813-064436-utc.log
2021-08-13 06:44:37Z: Agent connect error: The SSL connection could not be established, see inner exception.. Retrying until reconnected.`

[2021-08-13 16:33] jquintero88 opened #3499 "We Stopped Hearing from Agents"
Who do we need to talk to about re-opening an ICM that we had about a year ago with this same issue? or is some one that can help resolve this issue? Thanks

[2021-08-13 16:42] anatolybolshakov commented on #3499
Hi @jquintero88 could you please elaborate more about your issue and fill in necessary info?

[2021-08-13 16:48] jquintero88 commented on #3499
We are seeing self hosted agents get a we stopped hearing from agents error after 12+ hours. We have pipelines that run for up to 2+ days. Looking through diag logs seems like it is a problem with auth token expiring. we had this same issue last year and we thought it was mitigated only to start happening again. Don't know what exactly you need as far as necessary info. if you post any direct ques

[2021-08-13 19:29] ZachRothweiler commented on #3356
Found a potential solution after narrowing the problem down to the agent linux service (not specific to the Azure DevOps extension). You can work around the issue by modifying the service definition file. For a scale set, this needs to be done with a custom-data extension. Example:
[code]

[2021-08-14 21:39] StephenHodgson commented on #2944
any update on this?

[2021-08-15 20:02] #3070 closed

[2021-08-16 07:49] ihendriks1 commented on #2944
Not the most useful but someone from Microsoft has reproduced the problem and confirmed it's a bug.

He created an issue for the devs [here](https://developercommunity.visualstudio.com/t/Azure-DevOps-Pipeline-not-triggered-for-/1400393), if you want to follow it.

Besides that it's just broken atm. It works fine if you use an Azure Git repo, or GitHub actions. But that's usually not really a reaso

[2021-08-16 10:29] nekrich commented on #3184
Is there any news on this topic?
We have to put `arch -arm64` everywhere in our scripts when we want to make builds on Apple Silicon.

[2021-08-16 13:53] tatyana-kostromskaya commented on #2711
Task version with this update was deployed.

[2021-08-16 13:53] #2711 closed

[2021-08-16 14:20] anatolybolshakov commented on #3184
Hi everyone, we have a plans to gradually migrate to the latest Net core version, but it could require some time - will keep you posted.

[2021-08-16 17:00] rgommers commented on #2944
We've been using this workaround in SciPy (cargo culted from some other scientific Python projects):
[code]
Less tedious than adding `condition:` to every individual job or task.

[2021-08-16 17:39] jquintero88 commented on #3499
I spoke with @vijayma,
@Rajesh Ramamurthy can you please help with token lifecycle and expiry.

[2021-08-16 22:18] netbitshift opened #3502 "Release fails - decryption operation failed"
## Agent Version and Platform
[AGENT_VERSION] --> [2.190.0]

OS Name:                   Microsoft Windows Server 2016 Datacenter
OS Version:                10.0.14393 N/A Build 14393

## Azure DevOps Type and Version
visualstuido.com

## What's not working?
Have a release that fails with a message in the logs that mentions decryption. Have updated the target to the latest.  Still get same error.

[2021-08-16 22:40] netbitshift commented on #3502
nevermind

[2021-08-17 09:05] max-zaytsev commented on #3502
Hi @netbitshift, could you please provide more details about your release pipeline?
Does it fail constantly?
Does this apply to all of your pipelines?

[2021-08-17 11:50] AnnaOpareva opened #3504 "write tests for DockerCommandManager in"
Can we cover it by tests?

_Originally posted by @anatolybolshakov in https://github.com/microsoft/azure-pipelines-agent/pull/3500#discussion_r689725278_

[2021-08-17 18:11] netbitshift commented on #3502
Yes, it fails every time now with the same message as above.  The build pineline works fine still, just not the release. The log mentions a task "DownloadBuildArtifacts" yet I see that nowhere in my tasks being used.
It is only this pipeline in which Im having this trouble.

[2021-08-17 18:50] netbitshift commented on #3502
Looking at an older run, its this 2nd step that used to work and now doesnt.
![image](https://user-images.githubusercontent.com/17503279/129783684-bb380b16-0c83-428e-b7c8-c0e9be3d3e23.png)

[2021-08-17 18:53] netbitshift commented on #3502
What happens now
![image](https://user-images.githubusercontent.com/17503279/129784146-6d8271db-18bd-47ca-ba90-420710728c53.png)

[2021-08-17 18:55] netbitshift commented on #3502
what happens now
![image](https://user-images.githubusercontent.com/17503279/129784415-66b22904-fda2-4fe4-82e7-1ebd8a4e0181.png)

[2021-08-18 12:38] stefan-muc opened #3506 "New build cancels running build on Linux"
## Agent Version and Platform
Version of your agent?
2.188.2

OS of the machine running the agent?
Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-77-generic x86_64)

## Azure DevOps Type and Version
on-premises Azure DevOps Server

If on-premises, which release?
Azure DevOps Server 2020 Update 1

## What's not working?
Queuing a build in one build pipeline cancels already running build pipeline (even of othe

[2021-08-18 14:06] anatolybolshakov commented on #3448
Hey everyone!
Let me close this one since it seems to be resolved.
@leonfibal please feel free to create separate one for us to proceed on it further if you still have the issue.

[2021-08-18 14:06] #3448 closed

[2021-08-18 14:07] crushonme opened #3508 "Failed to install agent on SUSE Linux Enterprise Server 12 SP4"
## Agent Version and Platform
Version of your agent?

**2.187.2, also test in latest version.**

OS of the machine running the agent?  **Linux, SUSE Linux Enterprise Server 12 SP4**

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server?
**On-Premises**
If on-premises, which release? **2020 update 1**

## What's not working?
1. Cannot det

[2021-08-18 14:20] anatolybolshakov commented on #3417
Probably one option could be to move such agents to the separate agent pool - if you want to disable agent updates specifically for them.

[2021-08-18 15:02] d3r3kk commented on #3307
We use docker containers for our agents, and I've created an image with the issue present. Let me know if you would like to discuss @anatolybolshakov - I can give you access to our running agents in a call or I can provide the problematic container for you and your team to inspect.

[2021-08-19 07:21] jappenzesr commented on #3356
Thanks Zach. Above worked for me. We build our own agent image via a packer. Creating the file `/etc/systemd/system/walinuxagent.service.d/override.conf `
with content
[code]
solved the issue.

[2021-08-19 14:19] emul8ed commented on #3307
@d3r3kk, do you have component governance detection enabled on your aarch64 agents? Does it fail with "Unable to locate dotnetcore on build agent"? Once I started disabling component governance detection on the aarch64 agents, the issue seemed to disappear. It came back today and, sure enough, I discovered I'd forgotten to disable CG for a build I added a couple of days ago.

[2021-08-19 14:56] d3r3kk commented on #3307
Ooh that's a great tip, thanks I'll try that.

[2021-08-19 16:19] c002910 commented on #3499
We are having the similar issue with our pipelines, only on weekends (saturday & sunday). These pipelines will complete their builds within a hour, we are having autoscaling enabled for the agent pool as well.

This issue is hapenning from July 31 2021.

[2021-08-20 10:34] akoeplinger commented on #3276
This is not fixed yet, please keep it open.

[2021-08-21 00:30] d3r3kk commented on #3307
### @d3r3kk's extra-bad bandaid to workaround invalid file names on Azure DevOps Agents™️

Seems I wasn't successful in shutting down component governance with my change yesterday. Will have to investigate further. For now, I've written a bit of a bandaid to clean up my docker containers running on an ARM64 host:

[code]
...and then once you run that command and it shows you exactly the hosts that

[2021-08-21 18:02] #3058 closed

[2021-08-23 08:23] max-zaytsev commented on #3502
@netbitshift

What version of on-prem server do you have?

Could you try disabling downloading artifacts in your pipeline? (Edit -> Tasks -> Agent job -> Artifact download):

![image](https://user-images.githubusercontent.com/16704239/130414556-8fd71792-afda-490d-a089-8926c9a2be3a.png)

[2021-08-23 16:20] anatolybolshakov commented on #3417
@iambernics closing this one at the moment due to inactivity - please let us know if you have any further questions.

[2021-08-23 16:20] #3417 closed

[2021-08-23 17:43] anatolybolshakov commented on #3508
HI @crushonme this issue should be already fixed in upcoming agent 2.191.1 version - we will let you know once it's available.

[2021-08-23 19:01] 50Wliu opened #3511 "DownloadPipelineArtifact: Support in-progress builds"
## Agent Version and Platform
Version of your agent? 2.190.0

OS of the machine running the agent? Windows Server 2019

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/microsoft

## What's not working?
We have the following pipeline setup:
![multi-stage pipeline](https://user-images.githubusercontent.com/2766036/130502298-b29e

[2021-08-25 07:05] croydondias commented on #3285
This issue is not stale.

[2021-08-25 07:42] byteknacker opened #3514 "Options to either capitalise variables or leave them lowercase"
## General Infos
Agent name: 'Hosted Agent'
Current agent version: '2.190.0'
Ubuntu 20.04.2 LTS
dev.azure.com

## What's not working?
- Current agent behaviour: replace . with _ and toUpper() every definition variables when it run every task
- Problem: When using Terraform, it expects TF_VAR_{name of your TF var} to be case sensitive. When you define the configuration in TF, usually you use lowerc

[2021-08-25 16:31] c002910 commented on #3499
@jquintero88 for us, this issue is happenning mostly on weekends, is it the same for your team as well?

[2021-08-25 16:44] jquintero88 commented on #3499
@c002910  yes mostly on weekends, but we do see some during the week.

[2021-08-27 09:04] ralfdamaschkehiq opened #3515 "gitVersion detection on checkout randomly fails"
## Agent Version and Platform
2.187.2, on Red Hat Enterprise Linux 7.9

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
All checkout steps in our pipelines fail about half of the time with the error: Value cannot be null. (Parameter 'gitVersion')
The rest of the time, they correctly manage to detect the git version as 2.32.0 and then complete without problems. We have not be

[2021-08-29 17:46] freddydk opened #3516 "AGENT_NAME environment variable has disappeared"
In the Windows 2019 hosted agents, I used to use the AGENT_NAME environment variable to detect whether I was running an Azure Hosted Agent.
It seems like this environment variable is no longer available.

Does anybody know whether I somehow can determine whether I am running an Azure Hosted agent - or a self hosted agent?

Thankis

[2021-08-30 05:39] alexander-smolyakov commented on #3516
Hi @freddydk I tested Windows images by the following YAML snippet:
[code]

And as I can see from [logs](https://v-alsmo.visualstudio.com/Test%20Playground/_build/results?buildId=1338&view=results) `AGENT_NAME` variable is still available on all Windows images.

Could you please share the following information:
1) Full pipeline logs
2) How the detection is implemented?
3) Repro sample

[2021-08-30 07:48] freddydk commented on #3516
I am running on github, I (maybe wrongly) thought they were using the same agents?
agentname.yml:
[code]
output:
[code]

[2021-08-30 09:10] anatolybolshakov commented on #2931
Hi @SymbioticKilla is it still reproducible for you with latest agent version?

[2021-08-30 10:10] marciobarbato commented on #1569
any updates for that feature ?

[2021-08-30 10:27] SymbioticKilla commented on #2931
Hi @anatolybolshakov,

sorry, was just curios if it is on the road map. I'm waiting for official support. Due to compliance rules in our company unfortunately I can't test unofficial stuff.

[2021-08-30 12:19] alexander-smolyakov commented on #3516
@freddydk

GitHub uses the [GitHub Actions Runner](https://github.com/actions/runner) to run actions.

[2021-08-30 13:12] DenisRumyantsev commented on #3307
As I can see from provided logs, the error occurs in the `src/Agent.Sdk/Util/IOUtil.cs` file in [this line](https://github.com/microsoft/azure-pipelines-agent/blob/e25038c60732f8191de7b852f1759e094bd3cff2/src/Agent.Sdk/Util/IOUtil.cs#L461):
[code]
[Here](https://docs.microsoft.com/en-us/dotnet/api/system.io.fileattributes?view=net-5.0#fields) is the documentation about the `ReadOnly` attribute, wh

[2021-08-30 15:11] jgabyey commented on #1569
Is there any ETA on a resolution to this issue? When I look at that StdErr portion of the log file at "C:\Packages\Plugins\Microsoft.Compute.CustomScriptExtension\1.10.12\Status" after running a CSE, I've run into the issue where PowerShell7 error messages are also outputting their ANSI escape characters, and it makes debugging a nuisance. See an example below:

`{"name":"StdErr","status":"success

[2021-08-31 08:26] DenisRumyantsev commented on #3307
It is possible that the issue is related to encoding and has already been fixed in higher versions of dotnet, but I did not find similar issues in [the related repository](https://github.com/dotnet/runtime/issues).

[2021-08-31 13:28] DenisRumyantsev commented on #3307
@d3r3kk, could you please run a pipeline agent build with the 3.1.15 dotnet runtime version and check if the error has disappeared? I have provided it via email.

[2021-08-31 20:07] #3270 closed

[2021-09-01 05:21] EzzhevNikita commented on #2931
@SymbioticKilla Support of Alpine will require a separate build of our Agent (linux-musl-x64). As I know we don't have plans for official support of Alpine, so the support of this OS won't appear in the nearest future.

[2021-09-01 07:34] alexander-smolyakov commented on #3516
@freddydk, could we close this issue since the question is not related to the Azure Pipeline Agent?

[2021-09-01 07:42] freddydk commented on #3516
sure, thanks

[2021-09-01 07:42] #3516 closed

[2021-09-01 08:07] AnnaOpareva commented on #3243
Hi, @hez2010  Agent that contains the fix for the described issue has been released (v2.191.1). You need to set the environment variable AGENT_MTU_VALUE to set the MTU value, after that config and run the self-hosted agent. Could you test - does it works for you? Feel free to ping us if you will have any problem with it.

[2021-09-01 08:38] hez2010 commented on #3243
Thanks for update. BTW how can I prevent Azure DevOps Server automatically downgrading my pipeline agent?

[2021-09-01 09:56] kuleshovilya commented on #3515
Hello @ralfdamaschkehiq Could you please provide agent logs for the failed job?

[2021-09-01 11:14] ralfdamaschkehiq commented on #3515
Hi @kuleshovilya, here you go: [Worker_20210825-143428-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/7090581/Worker_20210825-143428-utc.log)

[2021-09-01 11:28] kuleshovilya commented on #3515
Yeah, it doesn't seem as agent issue so far. Both Pipeline and Agent logs both point to permission issue with process.
Does agent run in container?

[2021-09-01 11:34] ralfdamaschkehiq commented on #3515
No, it runs on an Azure virtual machine.

[2021-09-01 12:10] alexander-smolyakov commented on #3243
@hez2010, you could set up the `AZP_AGENT_DOWNGRADE_DISABLED` environment variable as `true` before agent configuration - to prevent the agent from downgrading.

[2021-09-01 13:06] kuleshovilya commented on #3515
I'd say it looks more like:
https://unix.stackexchange.com/questions/297190/owner-cant-read-proc-pid-io

And more of a system issue. You could try to reinstall agent, clean cash, update OS and packet manager etc
Basic troubleshooting might help with that. That seems like recurring issue with a lot of CentOS\RedHat distros.
Since this is not an agent issue, I'll close it for now.
You can reopen it,

[2021-09-01 13:06] #3515 closed

[2021-09-01 14:25] anatolybolshakov commented on #3501
@xxfast @fabiozig @chrisheil @wlgusgit do you have any updates?

[2021-09-01 14:42] chrisheil commented on #3501
I have not seen this issue recently, so for my build I believe this is resolved

[2021-09-01 14:59] mtene commented on #3400
Hi @anatolybolshakov we are now experiencing what looks like a related issue:

[code]

Our self-hosted agents intermittently throw this error on the second checkout:
[code]

The full checkout that follows is successful, but the error stops the pipeline from continuing.
If the same agents is re-queued then, the problem goes away. It will reappear maybe 1-2 weeks later, probably after the agent unde

[2021-09-01 15:08] mtene opened #3520 "Multiple checkout intermittent error on self-hosted Linux agents using containers"
Given the following checkout steps

[code]

our self-hosted agents intermittently throw this error on the second checkout:
[code]

The full checkout that follows is successful, but the error stops the pipeline from continuing.
If a re-queue of this pipeline catches the same agent, then the problem goes away, since the checkout will be incremental from what was done in the faulty run. Unfortunately

[2021-09-01 15:09] mtene commented on #3400
I have opened #3520 on this

[2021-09-01 15:39] fabiozig commented on #3501
I'm still seeing the same problem running on version `2.191.1`. I was still not able to run the test on the version you mentioned though. I will try to create some test pipeline this week and let you know.

[2021-09-01 16:14] 50Wliu opened #3521 "Add config command to self-update"
## Agent Version and Platform
Version of your agent? 2.190.0

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server? dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/microsoft

## What's not working?
I'd like to suggest a feature request that allows trigge

[2021-09-01 16:15] wlgusgit commented on #3501
The problem is still there, but it seems that the error itself does not really impact our pipeline or functionality.

Perhaps you can easily reproduce the same error by 1) push a function app code to github, 2) make new pipeline via devops

Both of them are providing startup template, so it won't take too much effort.

[2021-09-01 18:19] NorseGaud opened #3522 "Please provide a latest download URL for each package to assist with automation"
We have a need to download the latest package/release for macOS and don't see a way to automate this easily without fixing the version and interpolating it in the `https://vstsagentpackage.azureedge.net/agent/${VERSION}/vsts-agent-osx-x64-${VERSION}.tar.gz`. We are requesting that this be made easier by providing a redirect to the latest package. Something like `https://vstsagentpackage.azureedge.

[2021-09-01 18:30] NorseGaud commented on #3522
Temporary solution (yuck)

[code]

[2021-09-02 00:59] fabiozig commented on #3501
@anatolybolshakov I just ran some tests with the version v2.186.1 and the same problem happend.

Logs:
[code]

[2021-09-02 08:20] kuleshovilya commented on #3430
Hello @iambernics
I guess there are three questions:
1. How to create service without config.cmd
Just run config.cmd, but don't create a service as it's suggested at the end, and after that create it with sc.exe
This method works fine.

2. Is there any specific criteria for the Windows Service-based running? Any flag which indicate the running method..etc
You can set Windows Services to Automatic\

[2021-09-02 09:26] dkadetov commented on #2931
I was trying to use alpine-glibc [image](https://github.com/Docker-Hub-frolvlad/docker-alpine-glibc). But I had the same issue.

[2021-09-03 03:40] meeces2911 commented on #3506
Same here - although all our agents are on Windows.
Also running On Prem - Azure DevOps 2020 Update 1.

Agent version: 2.190.0

[2021-09-03 07:20] stefan-muc commented on #3506
Last days we updated to agent version 2.191.1 and as far as we can tell this fixes the problem - although I can't see anything regarding this in the changelog.

@meeces2911 Maybe try to do an update?

[2021-09-03 10:48] DenisRumyantsev commented on #3499
@jquintero88, I am closing this issue since it is most likely that this is a network issue and is not related to the agent itself. I will provide you with more info if it appears.

[2021-09-03 10:48] #3499 closed

[2021-09-03 12:48] c002910 commented on #3499
As per our analysis and testing with the MS support team, it seems to have worked fine when auto scaling was disabled.

This issue seems to got fixed with the Aug 19 release of Azure DevOps.

Ref: https://docs.microsoft.com/en-us/azure/devops/release-notes/2021/sprint-191-update

Below is the note related to the issue:
"Until now, these variables worked well with Windows scale set agents but not w

[2021-09-03 14:29] maxTeste opened #3525 "azure pipline -> fastlane -> discord_notifier error"
hey guys can someone help me pls ?
I'm trying to run fastlane with pipeline azure and then with fastlane call discord_notifier (https://github.com/nikolas-theodosis/fastlane-discord_notifier)
so
pipeline azure -> fastlane -> discord_notifier

if I only test fastlane with the discord notifier it works fine, but if the pipline triggers the fastlane (bundle exec fastlane dev) it doesn't work

i'm run

[2021-09-04 12:33] edmcman commented on #2043
Not stale

[2021-09-05 23:03] meeces2911 commented on #3506
Hmmm, unfortunately that didn't work for me.

My logs look very similar to yours through:
[code]

After 3 failed attempts at downloading an older version, it finally shuts down the agent - which cancels the build(/release) :(
(The failed attempts are because of the firewall - not concerned with that - but weirdly the auto update agent option is turned off in the pool settings)

[code]

I don't _se

[2021-09-06 09:48] TMattes commented on #3506
In our environment, it turned out that switching off the auto-update option via the pool settings in the Web interface does not work; the only working option is to delete the not wanted versions from the application tier ProgramData folder.
The switch in the Web interface seems to be completely useless...

[2021-09-06 10:51] anatolybolshakov commented on #3525
Hi @maxTeste this seems to be related to one of the fastlane dependencies - I would suggest to open an issue in [fastlane repo ](https://github.com/fastlane/fastlane) for further troubleshooting.
This repo is mostly for pipeline agent - let me close it here since it's not related to the agent itself.
Please let us know if you have any questions!

[2021-09-06 10:51] #3525 closed

[2021-09-06 12:48] anatolybolshakov commented on #3506
Hi @stefan-muc the error says that the relevant agent package for linux-x64 platform was not found - you may probably need to update it manually as mentioned in [docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops-2019&tabs=browser#can-i-update-my-v2-agents-that-are-part-of-an-azure-devops-server-pool).
@meeces2911 do you use on-prem or cloud solution? The

[2021-09-06 13:16] #3243 closed

[2021-09-07 04:51] meeces2911 commented on #3506
@anatolybolshakov For the moment on-prem

[2021-09-07 07:07] LonDat commented on #3506
Hi,
we have same issue.
DevOps server 18.181.31230.2 (Azure DevOps Server 2020 Update 1) and Agent 2.191.1 on-premise.
When we queue multiple pipelines builds for same agent, only the last one is done, the older are cancelled.
We had no issue until migration to DevOps 2020 Update 1 from DevOps 2019 and upgrade of agents on build machine.
I did clean re-installation of agents on DevOps server alrea

[2021-09-07 09:43] anatolybolshakov commented on #3501
Hi everyone!
We prepared a fix for this issue - it will be available in the next release.

[2021-09-07 09:52] kuleshovilya commented on #3430
@iambernics Do you have any other questions?

[2021-09-07 10:23] michha commented on #2046
The same goes with Adopt OpenJDK.
Another way for detection would be to mirror the _JAVA_HOME_ variable if its present to _JAVA_.
Although this would not set the _JDK_ variable.

Maybe some fallbacks would be nice:
Try the current way for detection (using registry), if this doesnt get a result, see if _JAVA_HOME_ is set. If it is, clone to _JAVA_ and see if we can detect somehow if its a JDK (mayb

[2021-09-07 11:46] EzzhevNikita commented on #3385
@singhalnidhi  We know about this set of vulnerabilities, most of the npm dependencies come with node 6 (externals/node directory) that is shipped with an agent since there are in-the-box tasks that still work on the Node 6 execution handler. We are not able to resolve this issue since Node 6 is not updated currently. As a workaround, you can try to use an alternative agent build, where Node 6 is

[2021-09-07 12:31] anatolybolshakov commented on #2046
Hi @cmdkeen @michha this issue has already been resolved in [PR](https://github.com/microsoft/azure-pipelines-agent/pull/3381) - have you tried this with latest agent version?

[2021-09-07 12:40] michha commented on #2046
When installing Adopt OpenJDK11 (11.0.11.900) and run the agent I see the following

[code]

Comparing to code in [Add-JavaCapabilities.ps1](https://github.com/microsoft/azure-pipelines-agent/blob/master/src/Misc/layoutbin/powershell/Add-JavaCapabilities.ps1) there is no `Software\JavaSoft` path.

Adopt OpenJDK is using its own path:
[code]

[2021-09-08 08:30] MsNewbie commented on #3508
Hello Team,

Verified this release(2.191.1) and confirmed that the issue is still not fixed.

![image](https://user-images.githubusercontent.com/5129908/132474713-49798c04-7ab8-4d67-b4c4-a681c3d0ccfd.png)

![image](https://user-images.githubusercontent.com/5129908/132474743-e9cb733a-9a64-4e6c-aa07-9432ddb10ea9.png)

[2021-09-08 10:29] anatolybolshakov commented on #2046
@michha which pipeline agent version do you use?

[2021-09-08 10:42] michha commented on #2046
2.191.1

[2021-09-08 14:43] smeathers commented on #1569
Debugging a Teraform pipeline has lead me here.  Like others I can make the logging more readable with the -no-color switch but the lack of colour in the output still reduces the readability of what I'm looking at.  It would be a huge help if this could be supported.

[2021-09-08 15:47] anatolybolshakov commented on #3508
Hi @Johnny-spec thanks for reporting! Could you please try to adjust installdependencies.sh script like below and run it again?
![image](https://user-images.githubusercontent.com/8779682/132541942-364b213b-a271-4eb6-bb62-f1b02986be19.png)

[2021-09-08 17:06] #3305 closed

[2021-09-08 17:32] Resident-Alien commented on #3506
We have this issue as well but it is not limited to the agent, server or pool. It would appear that builds and releases will cause the cancelling of running releases. Even if the release is running on windows agent 1 and then a build runs on linux agent 2 the release running on windows agent 1 gets cancelled. It does not happen all the time but happens a lot. We tried new agents in new pools but t

[2021-09-08 19:23] d3r3kk commented on #3307
The error remains 😥 I've sent along new results with the 3.1.15 agent via email.

[2021-09-09 05:52] FredrikRichtner commented on #2757
Using good old Command Prompt instead of Powershell solved this problem for me.
Example:  --windowsLogonPassword qwerty"&"12345

[2021-09-09 06:19] Johnny-spec commented on #3508
@anatolybolshakov There are errors after adjust the script, it seems like that my test environment doesn't have valid official repo of SLES.

![image](https://user-images.githubusercontent.com/5129908/132633030-0748d123-7a09-42dd-8303-c03cb7fc2604.png)

So I manually installed the 2 libraries with RPM package, but still get below errors:

![image](https://user-images.githubusercontent.com/5129908/

[2021-09-09 11:06] anatolybolshakov commented on #3508
@Johnny-spec have you tried deinstallation of libzl?

[2021-09-09 11:29] anatolybolshakov commented on #3506
Hi everyone, just as a quick update - at this moment this seems to be related to server side - since cancellation request comes to agent from server, and agent simply executes it.
Could you please create ticket on [developer community](https://developercommunity.visualstudio.com/search?space=22) to get right eyes on it?

[2021-09-09 11:49] anatolybolshakov commented on #3502
Hi @netbitshift do you have any updates?

[2021-09-09 13:40] LonDat commented on #3506
Hi,
thanks a lot. I find out, the bug exists there already.
https://developercommunity.visualstudio.com/t/The-operation-was-canceled/1479740?space=22&q=cancel

[2021-09-10 13:10] saltz commented on #2598
This issue is still present, the .lfsconfig is not checked out before the objects are retrieved. Which results in 404 requests.

[2021-09-15 02:44] Johnny-spec commented on #3508
I tried to remove the libzl, after that the whole system is not work now.
![image](https://user-images.githubusercontent.com/5129908/133361798-0fcfc18d-d4a3-462d-9fd4-97319f2c95af.png)

[2021-09-15 08:34] tatyana-kostromskaya commented on #3532
Hello, @FahaoTang could you please provide error logs or repro steps for your issue?

[2021-09-16 10:15] anatolybolshakov commented on #3506
Let me close this ticket here currently since it does not seem to be related to the agent itself.

[2021-09-16 10:15] #3506 closed

[2021-09-16 23:53] davidmoten opened #3537 "If agent installed on linux vm are we exposed to new OMI vulnerability?"
Re these vulnerabilities CVE-2021-38647, CVE-2021-38648, CVE-2021-38645, and CVE-2021-38649 if we have the azure-pipelines-agent installed on a Linux vm will it be exposed to the OMI vulnerability?

[2021-09-17 01:28] FahaoTang commented on #3532
The steps to reproduce:

- Create a solution in VS2019
- Add an .NET 5 based website project
- Add an .NET 5 based (.NET worker) Azure Functions project using Blob trigger
- Submit the code to a Azure DevOps repo
- Create a standard build plan in Azure DevOps using .NET Core website template.
- Add task to use .NET SDK 3.1.x which is unfortunately required by .NET 5 based Azure V3 functions.
- The

[2021-09-17 10:11] kuleshovilya commented on #3430
@iambernics We've implemented flag for this in the agent, it's awaiting deployment now. I will notify you when it's going to be available publicly

[2021-09-20 15:17] lepirlouit commented on #3031
replace it with `libicu66`

[2021-09-21 12:03] DenisRumyantsev commented on #3307
Created a related issue in the dotnet/runtime repo

[2021-09-21 12:47] EzzhevNikita commented on #3447
@HighWatersDev The [instruction](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#use-azure-kubernetes-service-cluster) that you have referenced actually only works on AKS 1.18 and lower. We don't have official instructions for setup agents in newer versions of AKS.

[2021-09-21 14:14] nibanks opened #3540 "Support Reboot Scenarios"
This is related to https://github.com/microsoft/azure-pipelines-agent/issues/1505, but since that's been closed a while and it seemed specific to Release scenarios (which this Issue is not) I figured I'd open a new issue. Also related to https://github.com/actions/virtual-environments/issues/3858.

## Background

Significant work in the Microsoft Windows team has started undocking/open-sourcing in

[2021-09-21 22:48] BillyONeal opened #3541 "Agent.Listener should run at a higher priority than build tasks"
In the vcpkg build fleet we are seeing a lot of

![We stopped hearing from agent AGENTNAME. Verify the agent machine is running and has a healty network connection. Anything that terminates an agent process, starves it for CPU, or blocks its network access...](https://user-images.githubusercontent.com/1544943/134257055-c5397652-b792-4f3a-80a4-71526bc7844c.png)

failures, particularly when building

[2021-09-22 19:27] ntindle commented on #2062
Hello, trying to set up our runners for Windows on Arm. Turns out Azure Pipelines doesn't support ARM. The specs of the PC are below. I would really like to see this feature added if Microsoft is serious about its future on ARM as we use azure pipelines to build our windows software.

Processor	Snapdragon (TM) 8cx Gen 2 @ 3.15 GHz   3.15 GHz
Installed RAM	16.0 GB (15.6 GB usable)
System type	64-bi

[2021-09-23 08:40] petermisovic commented on #2261
hello, I just want to inform you, connection lost issue is not just related to Azure DevOps in cloud. It is happening as well on premise DevOps and on TFS we still run for our project. Our agents are loosing connection regularly and it really breaks CI/CD concept.

[2021-09-23 16:03] jok0 commented on #3468
I am seeing this issue too, but more the 'try to append 1 batches web' message will have hours delay between.  Our 1 hour job can sometimes hang for 12hours!

[2021-09-24 01:54] siddjain opened #3542 "where can I find dotnet executable installed by this agent on a Linux VM?"
This is a question rather than issue. Does the azagent install [dotnet](https://docs.microsoft.com/en-us/dotnet/core/install/linux-rhel) executable on a Linux VM? If so, where can I find it? Thanks.

[2021-09-24 03:09] pauldotknopf commented on #2399
lmao, I love the support. There is none!

[2021-09-24 06:33] EzzhevNikita commented on #3542
The agent is not installing Dotnet executable in the system, it is built in the way when all required runtime dependencies are included in the agent package. All required .net dlls are located in the bin folder inside the agent directory.

[2021-09-24 15:03] nibanks commented on #3540
I see this was added to the backlog. Is there any ETA that is associated with that? Any way to possibly bump the priority on this, as we're dependent on it for internal Windows development?

[2021-09-24 15:37] siddjain commented on #3542
So if we want the dotnet executable should we install it per the steps here (we are using RHEL):
https://docs.microsoft.com/en-us/dotnet/core/install/linux-rhel

  *   Do we have to follow all the steps?
  *   What version should we install to ensure there is no conflict with azagent? We are using 2.192.0 of azagent
  *   Do we have to install the SDK or the runtime to get dotnet executable?

Than

[2021-09-24 15:53] Manoj496 opened #3545 "Hi,"
Hi,

We've build agent version : 2.187.2. From past two weeks all our pipelines are facing issue downloading chocolatey. It says path is denied. Is it something do with updating build agents?

@azure-pipelines-bot

or else what can be done to run the pipelines back again.

_Originally posted by @Manoj496 in https://github.com/microsoft/azure-pipelines-agent/issues/3519#issuecomment-926191604_

[2021-09-24 15:54] EzzhevNikita commented on #3542
@siddjain If it is required to have a .net executable on your system, I think you can follow the instruction that you mentioned. Generally, you could install any required version of .net SDK, because the agent, in fact, is a self-contained package (it contains all required libs to run) and it is not using .net from the system, so it shouldn't conflict with .net Sdk installations in your system.
Fo

[2021-09-24 15:56] siddjain commented on #3542
Thanks @EzzhevNikita

- Do we have to install the SDK or the runtime to get dotnet executable?

we need it for some other purposes

[2021-09-24 16:06] EzzhevNikita commented on #3542
@siddjain I believe it will be enough to have .net Runtime installation, but I don't your exact use case, so I couldn't say exactly. SDK is mostly required for development, while runtime contains just libs for running built applications. In fact, if you will install SDK, runtime also will be installed.

[2021-09-24 16:13] EzzhevNikita commented on #3545
Hi @Manoj496, could you please provide some additional information on this issue?
* Please share agent logs, they ould be found in __diag_ folder in the agent directory.
* Please share pipeline logs where you see described issue. I believe that it is an issue with a task that you are using in your pipeline to download chocolatey, but not with an agent.

[2021-09-24 18:05] Manoj496 commented on #3545
Hi @EzzhevNikita

Copy-Item : Access to the path 'C:\ProgramData\chocolatey\lib\chocolatey\chocolatey.nupkg' is denied.
At C:\agent1\_work\_temp\choco_install.ps1:555 char:1
+ Copy-Item -Path $file -Destination $nupkg -Force -ErrorAction Silentl ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Copy-Item], UnauthorizedAcces

[2021-09-24 18:06] Manoj496 commented on #3545
Means we tried all the possible ways to figure this out. But yeah build agents has nothing to do with this I guess?

[2021-09-24 18:36] flixman opened #3546 "in a build agent VMSS in azure the agent is running without a tty"
## Agent Version and Platform
2.192

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/sede-pt-ssw2

## What's not working?
After creating the base image for the Build Agent VMSS in Azure, and submitting a job that runs msbuild, msbuild fails with the following error:
[code]
Upon inspe

[2021-09-26 13:05] #3342 closed

[2021-09-27 05:26] EzzhevNikita commented on #3545
@Manoj496 Yes, that doesn't seem to be any problems on the agent side. I assume the problem is caused by some changes in your local environment where the agent is running. If I were you, I would start by checking the permissions of these files, this issue could be caused by the lack of permissions to the described files.

[2021-09-27 10:13] kuleshovilya commented on #3461
Hello @marcuslopes  @ChristopheLav
So, as far as we tested, it loads the /etc/environment just fine, assuming that agent was started after the environment was provisioned. I would assume that there is something incorrect with the provisioning in your system, have you considered that:
1. PATH variable loads /etc/environment on login, and that might affect the visibility
2.  You could use `source /e

[2021-09-27 10:55] msglueck opened #3547 "GetSources on a classic pipeline fails to find git executable on Ubuntu agent"
## Have you tried troubleshooting?
Yes, I have. Tried adding a bash task to install it, but it fails before. Added a `sudo apt-get install git -y` on the node with custom data and user data. but doesn't help

## Agent Version and Platform
2.192.0

OS of the machine running the agent?
Ubuntu 20.04 Minimal VMs

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organizati

[2021-09-27 11:42] msglueck commented on #3547
ok, found a workaround: using Ubuntu 20.04 FULL works, since git is preinstalled.

[2021-09-27 13:23] Manoj496 commented on #3545
Sure okay thanks then

[2021-09-27 13:23] #3545 closed

[2021-09-27 14:35] AlexrDev commented on #3461
Hi,

We've been having a similar issue since approx. last week thursday on our VMSS agents.

Our setup is (roughly):
 * VMSS with a custom script extension which adds VSTS_AGENT_INPUT_WORK and PATH to /etc/environment
 * Devops pipeline agent installation
 * MMAExtension installation

The VSTS_AGENT_INPUT_WORK variable is being read correctly (agent sets this to an attached disk), it's just the PA

[2021-09-28 07:45] kuleshovilya commented on #3461
@AlexrDev I'm pretty sure that's different issue from what @marcuslopes and @ChristopheLav  have, though it doesn't seem to be agent issue if the setting a variable is the issue.

[2021-09-28 11:09] anatolybolshakov commented on #2261
Hi @petermisovic please feel free to open new issue with more details - if you still face with a similar problem.

[2021-09-28 11:25] anatolybolshakov commented on #2399
Hi @luyseyal @pauldotknopf could you please elaborate your scenario? Do you want to add support for SSH Access Keys? This sounds like a DevOps side feature - I would suggest to open a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it.

[2021-09-28 13:11] EzzhevNikita commented on #3542
@siddjain Could this item be closed?

[2021-09-28 16:17] #3542 closed

[2021-09-28 16:49] anatolybolshakov commented on #3502
Hi @netbitshift closing this due to inactivity at the moment - we can't reproduce issue on our side, and there is a lack of details about this issue. Please let us know if you have any further questions.

[2021-09-28 16:49] #3502 closed

[2021-09-28 20:18] Jean-FrancoisBeaudet commented on #3461
Hi @kuleshovilya,

We use ‘Azure Virtual Machine Scale Set’ agent pool type. There is nothing custom from our part in the vmss extensions. The extension in place is all configured by Azure DevOps itself (extension name: Microsoft.Azure.DevOps.Pipelines.Agent).
*Just like @AlexrDev mentioned, we also noticed that the path that is provisioned in the /agent/.path file is the same that in the value se

[2021-09-28 20:32] sphanley commented on #3352
This is not stale, it's an active improvement request.

[2021-09-28 21:08] svbrburgman commented on #3522
Doing pretty much the same on windows with powershell on windows, but a little more advanced using the Rest API.
The last step is a bit dirty. It's JSON so I could just read the json and distict the platform, but you will still end up with two download links (pipeline and VTST agent) so i took the same shortcut as you did and grepped (select-string) on "vtst-agent" in the end.
[code]