[2019-12-17 19:51] jtpetty commented on #2680
Looking at the code, it does appear that the agent should clean up after itself in _temp. It is possible that a task is using TEMP/TMP environment variable.

Could you try setting the environment variable VSTS_OVERWRITE_TEMP=1 for the agent process? This will replace TEMP/TMP to point to the agent's _temp directory and should get cleaned up.

[2019-12-17 20:01] jtpetty commented on #2678
@Fizcko - Thanks for the assist in triaging this issue. I have pushed a PR to fix it.

[2019-12-17 20:09] Fizcko commented on #2678
@jtpetty Thanks !

[2019-12-17 20:12] jtpetty commented on #1569
@azureDaveOps - David, would this be something that your team would own the fix for?

[2019-12-17 20:23] scottboehmer commented on #1569
Adding @prativen since this looks to be impacting release logs and not build logs.

[2019-12-17 20:33] octogonz commented on #1569
For me, the PR build logs seem to render correctly with the **"Multi-stage pipelines"** preview feature enabled.  But if that feature is disabled, then the color codes are garbled, making the logs unreadable.  ([Example log](https://dev.azure.com/RushStack/GitHubProjects/_build/results?buildId=2822))

How long will **"Multi-stage pipelines"** be kept in preview? Lots of NodeJS tools want to print

[2019-12-17 20:35] damccorm commented on #2681
In general, I believe that UserCancelled means someone (or some process) sent a cancellation signal to the agent (like a Ctrl-C) - possible there's a bug and that's not what is happening here, though the first thing I would do would be to look for a process that is doing that.

A few questions:
1) Are you in an on-prem tfs instance or are you running against our hosted service?
2) Are you running

[2019-12-17 20:39] scottboehmer commented on #1569
We've started the process of making the multi-stage pipelines feature on-by-default, and I expect to be on everywhere with the option to go back to the old UI removed sometime in early 2020.

[2019-12-17 20:56] austinkinross commented on #2681
Thanks for the reply!

1) We're using microsoft.visualstudio.com -- I'm part of the Azure\COSINE team at Microsoft
2) We have a task scheduled that runs run.cmd when Windows boots up. It's run as the local user account, as an admin/elevated process.
3) The agent is replaced with version 2.141.1.

Do you know what might be replacing the agent binaries? Unfortunately I'm fairly new to Azure Pipeline

[2019-12-17 21:11] JoeGaggler opened #2686 "YAML pipeline demands agent version that does not exist"
## Agent Version and Platform
Version of your agent? 2.160.1

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com/Emdat

## What's not working?
YAML pipeline is demanding a version of the agent that is not yet available in our organization:

<img width="437" alt="ticket-no-agent-version" src="https://user-images.githubusercontent.com/27233871/71034398-fb598

[2019-12-17 21:21] damccorm commented on #2681
I don't have a ton of great ideas here, mostly just examining what is actually running on the machines. Does this normally happen during a build? Its possible that someone is killing the agent process as part of their build.

Also, do you have any record of what might have changed around the time issues started cropping up? That would be good to examine if so.

Also, one more question that I forgo

[2019-12-17 22:02] packersking commented on #2686
we are seeing the same issue
https://dev.azure.com/msi-cie/

[2019-12-17 22:11] Sayshu commented on #2686
Same here

[2019-12-17 22:21] huahua82 commented on #2686
Same here

[2019-12-17 22:27] johncrim commented on #2686
I'm seeing the same, but using Ubuntu 16.04 build agent in the US. The agent version is 2.160.1. This exact build worked as expected yesterday. I hope this is P0, as I imagine it's blocking a lot of development teams using Azure DevOps.

[2019-12-17 22:33] pipes592 commented on #2686
Yep same here

[2019-12-17 22:34] yossarian123 commented on #2686
bump, same

[2019-12-17 23:04] StandBackBurrito commented on #2686
same issue seen here

[2019-12-18 07:50] PaulVrugt commented on #2686
This is making our builds fail, our pipelines have come to a screaming halt. Please fix this asap!

[2019-12-18 07:54] LtDrak commented on #2686
We can't build anything anymore. We have already wasted 2 hours today with 10+ people not being able to work. Fix is needed as soon as possible.

[2019-12-18 09:17] svanuden commented on #2686
Same problem here, no successful runs after yesterday.

[2019-12-18 09:52] MichaelKoster70 commented on #2686
Same here. The temporary solution posted in[developercommunity.visualstudio.com](https://developercommunity.visualstudio.com/content/problem/859606/build-pipeline-failing-no-agent-found-in-pool-azur.html) worked in my case.

[2019-12-18 10:00] mhedbergge commented on #2686
We also have this issue since yesterday. Truly annoying :(
Is this something we should expect - that our pipelines suddenly stops running?

[2019-12-18 11:10] grhm commented on #2686
This appears to be an issue with the `DownloadPipelineArtifact@2` task.
A workaround is to try altering your yaml to use `DownloadPipelineArtifact@1`

[2019-12-18 13:12] miracle152004 commented on #2680
@jtpetty: Thanks, that works.
I do not know what changed. But we had one agent running on an older version with the same buildsteps and that one used the _temp directory. Only the newer agents used the TEMP/TMP directory of the user.
One of the buildsteps which has written the pdb file was the normal MSBuild Build Step.

[2019-12-18 13:59] giggio opened #2688 "Releases in Github are still incorrectly marked as pre-release"
As I can't reopen #2521, I am opening this again, as the problem is still happening.

Some of your [releases](https://github.com/microsoft/azure-pipelines-agent/releases) are incorrectly marked as pre-releases. Right now `2.163.1`, `2.163.0`, and others are marked as pre releases, and I'm assuming they are not pre releases as per semver.

On #2521 it was mentioned that marking the release as not p

[2019-12-18 14:39] nor0x commented on #2686
@grhm @MichaelKoster70 thanks for the workaround. It's a temporary solution which works fine in my case

[2019-12-18 14:43] jtpetty commented on #2680
Where the versions of all the tasks the same?

[2019-12-18 15:01] packersking commented on #2686
testing this morning, the issue appears to be resolved. the [developer community](https://developercommunity.visualstudio.com/content/problem/859606/build-pipeline-failing-no-agent-found-in-pool-azur.html) page is marked as closed

[2019-12-18 15:45] #2678 closed

[2019-12-18 15:48] stephenmichaelf commented on #2686
I apologize for the issue, the fix has been rolled out and things should be resolved now.

We ran into issues when rolling out our Agent and because of that a task was able to deploy ahead of the Agent version it required, thus the inability to get an Agent with the version the task needed. We are working on our internal deployment processes to make sure this doesn't happen again.

[2019-12-18 18:02] WolfieZero commented on #2018
To bring up an old issue here but I'm struggling with this as well and I think it's what @carvalho-oak  was getting at (sorry if I assume wrong).

When updating the environment variable I would expect, in the variables tab on the pipeline, to be updated as well.

Taking @TingluoHuang original image, this is what we expect before the pipeline has run

![original](https://user-images.githubuserconte

[2019-12-18 21:35] #2646 closed

[2019-12-18 22:27] miracle152004 commented on #2680
It should be, because it happend for the same Build on different agents.
But I will take a look tomorrow to see if we still have logs of the builds on the agent with the older version.

[2019-12-19 08:16] bitbonk commented on #2291
If you are deprecate the capability concept, how would a build choose a a build agent from the pool that is fit for the job?

[2019-12-19 09:01] miracle152004 commented on #2680
I verified it.
Both Agents used the version 1.151.1 of the msbuild task.

[2019-12-19 09:04] DalpheSDC commented on #2683
In which version or timeframe will this issue be implemented?

[2019-12-19 11:17] cawoodm commented on #2567
So we've seen the agent hang again today on update (Windows and Linux), apparently trying to update to `1.163.0`. We are not using the auto-restart feature of NSSM so I can't see how NSSM could be causing the problem.

It looks as though the agent stopped itself but never regained consciousness.

Again the "solution" was to fix the junction (symlinks) which pointed to e.g. `bin.2.160.1` and make t

[2019-12-19 11:19] cawoodm commented on #2567
Our Linux systemd config:
[code]

[2019-12-19 15:19] jtpetty commented on #2680
Version 2.122.2 is quite an old agent version, so it does not surprise me that there was some behavior differences. That predates my time with this project by a lot but I am sure that the change was made to address a particular bug or failure syndrome.

It sounds like with that environment variable you are unblocked. Is there anything further I can help with regarding this issue?

[2019-12-19 15:43] miracle152004 commented on #2680
@jtpetty : No thanks it work for us now. It would just be great if there would be a knowledge base or wiki article describing such environment variables.
I could not find any before posting the question here.

[2019-12-19 15:48] jtpetty commented on #2680
@vtbassmatt - Do we have any docs where we list out these environment variable controlled options?

[2019-12-19 17:48] johncrim commented on #2686
@stephenmichaelf : Please consider improving the error message, so it is easier to diagnose problems like this next time. Something like the following would be much more useful:

[code]

Next, there is nothing in the build logs for this error, even when Diagnostic mode is turned on. So adding this info to the build logs is also needed.

All this should be done in addition to the "why did it happen

[2019-12-20 15:21] tmisch commented on #2598
@jtpetty
I am sorry, but i think that this issue is not resolved/closed by the changes you made.
I just pulled the newest agent sources, did a "dev l" and a "dev b" and tested the agent with our git lfs environment.

Although the used git version is now 2.24.0.windows.2, the files from lfs are not downloaded, as you can see in the logs: [git.log](https://github.com/microsoft/azure-pipelines-agent/

[2019-12-20 18:16] chevonc opened #2693 "Feedback on BYOS"
#design
#enhancement

I think elastic pools will really move azur devops ahead in CI world by leaps and bounds. We currently have a haphazardly configured "dynamic pool" of machines using azure vm scale sets + auto scaling parameters. However, one issue with our setup due to the lack of integration back into azure dev ops is when azure scales down the VMs and machines are deallocated, azure dev op

[2019-12-20 18:20] ppejovic commented on #1506
@mgenware `postjobexecution` is a behavior of a build task so it's possible in classic UI pipeline or YAML. You just need to write a [custom task](https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=azure-devops) to package up your script.

This is exactly what our task does: https://github.com/OrbisInvestments/azure-pipelines-custom-tasks. This task takes a different

[2019-12-20 20:20] balchen commented on #1506
We use OrbisInvestment's task (ported to Javascript to run cross-platform) with great success. We've combined it with a RAM disk on MacOS to speed up the build process, which helped tremendously. The RAM disk is of course destroyed when the machine restarts, and the repo needs to be cloned on the first subsequent build, but other than that first time, the combination of the two have dramatically d

[2019-12-23 11:48] kant2002 commented on #2613
It was reintroduced in 2.163.1

[2019-12-23 13:40] jtpetty commented on #2613
@kant2002 - We had to rerelease 2.160.1 as 2.163.1 to work around a different bug. We are working on releasing 2.164.0 that will have all the fixes since 2.160.1.

[2019-12-23 16:00] kant2002 commented on #2613
Thanks. make sense now. Will revert my agent to latest version from master then.

[2019-12-23 16:18] jtpetty commented on #2688
2.163.0 is a pre-release, it was never rolled out to customers. 2.163.1 is a rerelease of 2.160.1 to work around a bug that was introduced after 2.160.1. I have fixed the page to reflect that 2.163.1 is no longer a pre-release. 2.163.2 is also a pre-release and will not be rolled out to customers.

[2019-12-24 10:21] kant2002 commented on #2639
Seems to be this is not fully fixed. After I run tests on the latest master

[code]

And what's interesting is that there no file `c:\b\_work\.taskkey`

[2019-12-24 11:55] kant2002 commented on #2639
On occasion `Initialize containers` task complain on `_temp` folder, and I experience situation where I was stuck and no `docker container prune` nor removing offending folders helps. Build start working only after I restart `Docker for Windows`. Not sure what's cause for this issue. If somebody explain me what's `.taskkey` file for, and on what phase it is created, I may introduce more logging an

[2019-12-25 01:21] arcotek-ltd opened #2695 "./config.sh: Error: Unable to find a match: libopenssl (Fedora 30)"
## Agent Version and Platform
vsts-agent-linux-x64-2.163.1.tar.gz

OS of the machine running the agent?
Fedora Server 30

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? Private

## What's not working?
When attempting to configure agent, using `./config.sh` I receive the error:
[code]
This is after entering the PAT.

You say Fedora 30 is supported,

[2019-12-25 01:33] arcotek-ltd commented on #2695
Having had a look at `bin/installdependencies.sh`, I noticed you classify Fedora under RHEL. I have downloaded and run `config.sh` against the RHEL version and this time, after PAT entry I get:
[code]

It looks like there is something still missing.

[2019-12-25 02:01] arcotek-ltd commented on #2695
I resolved it, by installing .[NET Core SDK](https://docs.microsoft.com/en-gb/dotnet/core/install/linux-package-manager-fedora30#install-the-net-core-sdk) 2.1 manually, following: https://docs.microsoft.com/en-gb/dotnet/core/install/linux-package-manager-fedora30, changing the version to `2.1`.

Although this has resolved my issue, I think something needs to be fixed, probably in `installdependenc

[2019-12-26 13:14] jtpetty commented on #2639
From what I understand, the .taskkey file is used as a key vault during a job run. It is initially an empty file and can be thrown away at the end of the job. With containers, it gets tricky since some tasks run inside a container and some on the host which is why the .taskkey is created on the host and mounted inside the container.

Let me take a look at the code and see if I see anything obvious

[2019-12-27 21:08] giggio commented on #2688
Would it be possible to use [semver](https://semver.org/) for the releases, to more accurately describe them?

[2019-12-29 23:21] pf1gura commented on #2513
It worked for me. Thank you very much @sidleegit

[2019-12-30 10:01] bibichuan commented on #1435
I commented out the following code in the config.sh file.This is helpful.
`# we want to snapshot the environment of the config user
# if [ $user_id -eq 0 -a -z "$AGENT_ALLOW_RUNASROOT" ] && [ "${ALLOW_RUNASROOT:-default_value}" == "default_value" ]; then
#    echo "Must not run with sudo"
#    exit 1
#fi
`

[2019-12-30 15:17] #2683 closed

[2019-12-30 15:44] jtpetty commented on #2626
Agent 2.164.0 has been updated to use mint 2.24.0.2. This was done with PR #2657

[2019-12-30 15:45] jtpetty commented on #2598
I apologize, I believe I linked the PR to the wrong issue. I will take a look at this issue again.

[2019-12-30 16:00] jtpetty commented on #2598
@tmisch - Would you mind publishing your changes that you have working as a PR?

[2019-12-30 16:57] jtpetty commented on #2588
@rychuhardy - since you were able to work around this issue and since it is a bug in dotnet and not with the agent, and we are actively working to migrate the agent to dotnet 3.1 which has the bug fixed, I am going to close this particular issue.

[2019-12-30 16:57] #2588 closed

[2019-12-30 17:02] jtpetty commented on #2474
@ustun - It seems as if you were able to resolve your issue on your own using faster disks. Is this correct?

[2019-12-30 17:11] jtpetty commented on #2463
@davidwallis3101 - We currently do not have a way to not auto-start the service after install. Would it be possible in your automated build to do the agent install last after all your other steps are complete?

[2019-12-30 17:25] jtpetty commented on #2417
@djsowa - If you add the following line in the `[Service]` section of the vets.agent.service file, does it resolve your issue?

[code]

[2019-12-30 17:31] jtpetty commented on #2416
@bj-yinyan , @cawoodm  - Are you still experiencing this issue?

[2019-12-30 18:43] jtpetty commented on #2413
@brianveltman @tdgroot  - Are you still seeing this issue? What platform are you running your agents on?

[2019-12-30 19:34] jtpetty commented on #2387
Closing this issue since no follow up from customer.

[2019-12-30 19:34] #2387 closed

[2019-12-30 19:36] jtpetty commented on #2242
Closing as this issue was fixed, merged and released.

[2019-12-30 19:36] #2242 closed

[2019-12-30 19:43] jtpetty commented on #2629
@sunilsurana - I am not sure what action you would like taken on this issue. It seems that your dev box is more optimized for compiling typescript files than the hosted agents we provide. We are consistently working to improve our hosted agent offerings, but you are always welcome to self host agents for improved performance for your work load.

[2019-12-30 19:45] jtpetty commented on #2629
Closing as there is not an actionable issue. If there is something else we should be looking, please open a new issue.

[2019-12-30 19:45] #2629 closed

[2019-12-30 19:46] jtpetty commented on #2550
@VladislavBukariev - Is this issue still occurring?

[2019-12-31 05:27] sunilsurana commented on #2629
Hi @jtpetty

I am fine with closing of this issue till I am not able to provide reproducible steps.

But again the issue is not running on dev box vs agent. The issue is when i register my dev box as agent in private pool and run a job via agent on my dev box it is very slow compared to running it directly on dev box

[2019-12-31 15:09] jtpetty commented on #2669
[this](https://github.com/microsoft/azure-pipelines-agent/blob/0533383fe43ae079cd1d8f38342bbd465e7c2c4e/src/Microsoft.VisualStudio.Services.Agent/ExtensionManager.cs) also needs to be addressed

[2020-01-01 22:15] Arenoros opened #2704 "TF400813: Resource not available for anonymous access"
Agent v2.164.0
Log: [Agent_20200101-215536-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/4014573/Agent_20200101-215536-utc.log)

TFS version: 17.153.29522.3 (AzureDevOps2019.Update1.1)

I tried enable all type auth in iis
![IIS Auth](https://user-images.githubusercontent.com/2578918/71646556-8354af00-2cfb-11ea-85e3-8a645b2252e0.png)

I looked at all the links that I found in Go

[2020-01-01 23:02] CompThing commented on #2497
There is a pull request with a fixed installdependencies.sh at https://github.com/microsoft/azure-pipelines-agent/pull/2326/
That may lead on to: https://github.com/dotnet/corefx/issues/35838
which has a workaround described on:
https://developercommunity.visualstudio.com/content/problem/752763/is-it-possible-to-install-the-agent-on-raspbian-de.html

[2020-01-02 11:05] tmisch commented on #2598
@jtpetty
I would do that, but it seems that i do not have the permission to push my local branch to the remote repo.

[2020-01-02 14:23] ustun commented on #2474
Yes, using ephemeral disks. Most people might not be aware of this solution though.

[2020-01-02 15:01] jtpetty commented on #2474
@ustun - Thanks for sharing your solution!

[2020-01-02 15:01] #2474 closed

[2020-01-02 15:04] jtpetty commented on #2598
@tmisch - you would have to create a fork and do a pull request that way. Here is some docs on how to do that: https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2020-01-02 22:06] rene-fonseca commented on #1569
@yaananth, not sure if you prefer a separate issue but I'll try this one since it is still open.

**<ESC>[0m** for resetting all attributes is not resetting foreground color - I didn't check if other attributes are reset but this would likely be the case.

Also noticed **<ESC>[4m** for underscore and **<ESC>[3m** for italic are ignored. So maybe there is a general problem for the lower m values. B

[2020-01-03 12:22] wajika opened #2705 "the build agent cannot be added to Devops server"
I already have an agent. I want to add another one. Can you give me some help?

[code]

[code]

[2020-01-03 12:40] HQJaTu commented on #2679
Commit [f00f4c18f160d4a4af47eec84cebbfcd80482200](https://github.com/HQJaTu/azure-pipelines-tasks/commit/f00f4c18f160d4a4af47eec84cebbfcd80482200#diff-e3a2d39f030e15c13d7a5e308b1d2749) in project _azure-pipelines-tasks_ does add support for PowerShell Core. This is undocumented in https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-powershell?view=azure-devops, though.

Clos

[2020-01-03 12:40] #2679 closed

[2020-01-03 13:02] tmisch commented on #2598
@jtpetty
I have now created PR #2706

[2020-01-03 14:06] vijayma commented on #2677
Noted. Thanks.

[2020-01-03 14:28] jtpetty commented on #2598
@tmisch - Thanks! We will review the PR in the next few days and see if we can get this issue fixed for you.

[2020-01-03 15:10] andyfisher100 commented on #2332
Any further update on this?

[2020-01-03 16:01] vtbassmatt commented on #2680
None that I know of. Let's huddle next week and see if we want to tackle better config management for the agent. If so, I'd make it first class in the agent binary (to list settings, show their values, and describe how to set them). If not, we can just do a doc.

[2020-01-06 11:26] Edgaras91 commented on #1043
I have same issue for VS2019, adding Xamarin.Android capability to /Library/Frameworks/Xamarin.Andriod.framework did not fix the problem.
![image](https://user-images.githubusercontent.com/32236075/71815380-2d736480-3077-11ea-93ef-6d23573f4050.png)
![image](https://user-images.githubusercontent.com/32236075/71815418-4c71f680-3077-11ea-8fa2-7e564f63701b.png)

[2020-01-07 18:31] #2479 closed

[2020-01-07 19:55] btl5037 commented on #2693
I would also like to know if and when AZP plans to deliver BYOS, the limited size of the available disposable VM's is a very limiting factor. We have had to change a lot of how we work (doing testing in parallel), simply because the VM's aren't powerful enough to handle the tests.

[2020-01-07 22:23] avivanoff opened #2711 "System.ArtifactsDirectory is not cleared if "Artifact download" is set to "None""
## Agent Version and Platform
Version of your agent? 2.163.1

## OS of the machine running the agent?
Windows Server 2019

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

## What's not working?
Because of limitations in release pipelines "Artifact download" (it does not allow partial download of artifacts), we set "Artifact download"  to "None" and use "Download build a

[2020-01-08 09:48] garfbradaz commented on #2595
I had this issue on *Windows Server 2016*. I had to install *7zip* and *gnuwin32 tar* manually and add to the PATH. I'm running self hosted agents as a service, so I restarted the service after adding to the PATH - this fixed the problem for me (saving and restoring from the cache).

@johnterickson  / @jtpetty  Will the documentation be updated to include the hard dependency on these applications

[2020-01-08 10:46] mitchdenny commented on #2262
@karanjitsingh I didn't. We ended up restructuring our pipelines to build less which resulted in less coverage files per pipeline run so this became less of an issue for us. From my point of view this can be closed, but you could certainly take on optimizing the upload of these files if you wanted to :)

[2020-01-08 10:46] #2262 closed

[2020-01-08 11:06] jamessampford commented on #1569
I'm using SSH in my pipeline to run a bash script and getting the codes appear as well (rather than the colours), example below:

`2020-01-08T09:08:30.6597072Z [1;34m### RECEIVED BUILD 120 ###[0m`

Tried a variety of escape and colour codes but all the same...
\x1b[1;34m
\x1b[34m
\033[1;34m
\033[34m

[2020-01-08 15:56] dany74q opened #2713 "[Git source provider] Add ability to pull git repos without tags, or give a custom fetch command"
[Posted on Developer Community](https://developercommunity.visualstudio.com/idea/878730/git-source-provider-add-ability-to-pull-git-repos.html) as well.

It would be very beneficial (at least for our use case) to override the default git fetch command, so it would not fetch any tags during git fetch (i.e. running fetch w/ --no-tags)

In our very specific scenario (and others may be in a similar bo

[2020-01-08 16:44] jtpetty commented on #2713
@vtbassmatt - Do you know if we already have a way to do this or are planning to add one?

[2020-01-08 16:49] jtpetty commented on #2628
@sunilsurana - Are you still having this issue?

[2020-01-08 17:23] fadnavistanmay commented on #2595
Hi @garfbradaz , sorry for the delayed in documentation update. We have a PR out, it looks like it haven't merged yet. I'll follow up to get the docs updated.

[2020-01-08 18:16] #2555 closed

[2020-01-08 18:24] jtpetty commented on #2711
@jahsu-MSFT - Is this something you can look at?

[2020-01-08 18:26] vtbassmatt commented on #2713
Not something we're planning to do, though I can see why you'd like to shave the time on your clone! This worked for me and isn't too clunky:
[code]

This clones the repo into the `s` directory just like the default checkout step would.

Since you opened a feature request on Developer Community, I'll go ahead and close this one for sanity and tracking reasons :grin:

[2020-01-08 18:26] #2713 closed

[2020-01-08 18:53] jahsu-MSFT commented on #2711
Since it's build artifacts, I think the right team to look at this issue is Leah's team. @leantk Could you please look into this issue or assign to a right person on the team to look into it?

Thanks,

[2020-01-08 19:38] vijayma commented on #2693
This work is ongoing, and we expect to have an initial version by the end of this quarter. @chevonc , we will keep the list of agents clean on the agent pool UI. One way to do that is by treating those as slots (instead of real agents) just like we do for hosted pools. We have not finalized the design for that part yet, but the requirement is clear.

[2020-01-09 09:07] dany74q commented on #2713
Thanks @vtbassmatt !

This does solve the issue in most cases, however, when using internal tools (a-la CDPx) - we can't run such a step due to network unavailability.

[2020-01-09 10:32] frackham commented on #1207
I'm getting this with strings being set as VSO variables within a powershell script task in Azure Devops (so also via service connection). The strings are not secret, but the *value* matches a secret elsewhere (in this case, a guid... and other guids are not masked).

I can get around it by masking the value:
![image](https://user-images.githubusercontent.com/2105204/72059720-77a05400-32ca-11ea-9f

[2020-01-09 11:27] RealdolmenBizDevOps opened #2716 "A triggered build in Azure Devops Server takes approx one minute to connect to the build agent before the build task starts"
**Issue:**
Some weeks ago we upgraded our Azure Devops Server environment to version 2019 update 1.1
Since the upgrade we experience weird behavior with some specific agents. It takes one minute to connect to a build agent, when the job is executed on another agent then the previous job execution or when the previous job execution ran more then approx 5 minutes before.
When running a job continuou

[2020-01-09 15:01] vtbassmatt commented on #2713
The source provider runs in essentially the same way as the rest of your pipeline. I know that CDPx plays some games with what tasks are allowed, where they run, etc. so that may not be strictly true in your case. But CDPx is also being replaced with YAML templates once my team finishes some other work, so hopefully it won't be a blocker for long.

[2020-01-09 15:51] jtpetty opened #2717 "Add logging of what killed agent processes"
There is a tool for Windows which will help identify the reason that a process was killed. We should try to integrate that for Windows agents.

We need to make sure this does not negatively impact hosted agents.

[2020-01-09 16:38] pjcollins opened #2718 "Multi-repo checkout does not work well with custom paths"
## Agent Version and Platform
Agent version: '2.164.1' on macOS and Windows.

## Azure DevOps Type and Version
https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3368518

## What's not working?
​I'm using the ​Multi repo checkout feature in a YAML pipeline with the following syntax:

[code]

The post-job step which cleans up credentials in this repo is failing on both macOS and Windows.

[2020-01-09 19:01] Heimidall commented on #1307
Does anyone know if this got fixed?

[2020-01-09 22:00] nreddipalle opened #2719 "How to skip certain steps based on Git Commit(s)"
This is more of kind of a question if anyone implemented of similar kind. We are setting up CI pipeline in Azure DevOps.. which includes building both BE and FE and having separate tasks for running Unit Tests for BE and FE.. I would like to skip steps based on Git commit.. i.e., if FE changes then only build and test FE.. if only BE changes they only build and test BE.. Has anyone implemented of

[2020-01-10 15:23] Alois-xx opened #2720 "pdbstr.exe is from Stone Age"
## Pdbstr creates corrupt pdbs for mixed mode assemblies
There is a known issue at MS which causes e.g. WPA to crash at
[code]

for managed C++ targets. The solution is to use a recent pdbstr version and not that ancient one which breaks pdbs and causes issues when someone actually tries to debug source server indexed binaries.

## Agent Version and Platform
Version of your agent? 2.0.16
OS of the

[2020-01-10 18:06] SmUrF3R5 opened #2721 "Accessing $[variables['Build.Repository.Name']] not working"
Unable to access build variables with more than one "."

i have a build pipeline and am unable to access vars that have more than one period. in the example below I can see the vars
- SourceBranch
- DefinitionName

but RepositoryName is null

[code]

I know the value is not null because if i print out the vars using I can see it there
[code]

[2020-01-10 20:19] johnterickson commented on #2595
Docs are live: https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/index?view=azure-devops#required-software-on-self-hosted-agent

Thanks @fadnavistanmay!

@fadnavistanmay  Can we add `C:\Program Files\Git\usr\bin` to the search path for tar on Windows?

[2020-01-10 22:37] shrutyraos commented on #2595
Any suggestions of how to cache the below mongodb installation would be helpfull

- script: |
    wget -qO - https://www.mongodb.org/static/pgp/server-3.6.asc | sudo apt-key add -
    echo "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu xenial/mongodb-org/3.6 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-3.6.list
    sudo apt-get update
    sudo apt-get install -y mongod

[2020-01-10 22:39] shrutyraos commented on #2595
Any suggestions of how to cache the below mongodb installation would be helpfull

script: |
wget -qO - https://www.mongodb.org/static/pgp/server-3.6.asc | sudo apt-key add -
echo "deb [ arch=amd64,arm64 ] https://repo.mongodb.org/apt/ubuntu xenial/mongodb-org/3.6 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-3.6.list
sudo apt-get update
sudo apt-get install -y mongodb-org=3.6.16 mongo

[2020-01-10 22:39] fadnavistanmay commented on #2595
Hi @johnterickson , @b-barthel already has a PR out for "Can we add C:\Program Files\Git\usr\bin to the search path for tar on Windows?"

PR: https://github.com/b-barthel/azure-pipelines-agent/commit/6e0d9b7a64cf48c9e558b3e81f86850916ec3e2a

[2020-01-11 02:12] #2705 closed

[2020-01-13 15:25] jpricket commented on #2718
@pjcollins Thanks for reporting the issue. We will try to get this resolved as soon as we can.

[2020-01-13 16:25] jtpetty commented on #2721
@SmUrF3R5 - The variable $(Build.Repository.Name) is not known at plan compile time, only at job execution time.

You should be able to use $(Build.Reposity.Name) in the body of your script.

[2020-01-13 18:04] SmUrF3R5 commented on #2721
@jtpetty that var is the first one I tried. Maybe I should clarify that I am trying to use them in a windows machine file copy task as a display name and also as part of the folder target path

https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/windows-machine-file-copy?view=azure-devops

[2020-01-13 18:11] jtpetty commented on #2721
@SmUrF3R5 Can you try using $(Build.Reposity.Name) as part of the input to the task rather than attempting to assign it in the variables block.

[2020-01-13 18:15] SmUrF3R5 commented on #2721
@jtpetty thats the first thing I did I only started using variables to figure out what was going on. I am on vacation for a couple weeks so I can’t really show you the output.

When I used
display: $(Build.Reposity.Name)

It would fail or display as a taw string depending on the quotes. I’ll get more detailed info when I return. Thanks for the replies!

[2020-01-13 23:01] thomblweed commented on #2018
I cannot tell you how much this has saved my bacon :) amazing thank you!!

[2020-01-14 05:03] drawboard-ci opened #2729 "Agent does not download job tasks, so they fail"
Agent container image deployed to Azure kubernetes (on linux node)

Output of the Initialise Job step on self hosted agent:
[code]

Output of the Initialise Job step of an Azure pipelines hosted agent:

[code]

Although the Install ssh key task works fine for some reason

[code]

The docker task doesn't. Not sure about the kubernetes task as it never gets that far.

[code]

Should I be seeing an e

[2020-01-14 05:12] drawboard-ci commented on #2729
Never mind. I enabled debug logging and the output says its already downloaded it.

[2020-01-14 05:12] #2729 closed

[2020-01-14 07:38] Thilas commented on #2190
@owenhuynMSFT, @jahsu-MSFT, any news about this? I have a new issue using this task and I still don't know why. It's very frustrating.

When dealing with `AgentPlugin` type of task, I was thinking it could be great to automatically get all its argument values when system.debug is true? I know it would make debugging much easier for sure.

[2020-01-14 12:15] 0mcandal0 commented on #2497
Another workaround: install libssl1.0.2 manually from deb package:
[code]

[2020-01-14 14:57] vtbassmatt commented on #2719
You could write a job which decides whether it wants to build backend, frontend, or both. Have that job emit an output variable, and then have two downstream jobs which check the value. I haven't tested this, but it would go something like:

[code]

[2020-01-14 14:57] #2719 closed

[2020-01-14 15:27] sergeyg-earnin opened #2730 "dotnet-install.sh does not show any progress while SDK downloading in some cases"
It might confuse users with slow connection. I think the reason is [silent mode (`-s`) enabled in `curl` command](https://github.com/microsoft/azure-pipelines-agent/blob/1a7a551e625959f8dc99470326a392e4ea9de317/src/Misc/dotnet-install.sh#L733). Note progress is shown if the script [uses wget to download SDK](https://github.com/microsoft/azure-pipelines-agent/blob/1a7a551e625959f8dc99470326a392e4ea

[2020-01-15 13:54] #2513 closed

[2020-01-15 15:27] jtpetty commented on #2730
@sergeyg-earnin - this dotnet-install.sh in our repo is just an exact local copy of what is published by the dotnet team. You would need to file an issue with that project.

[2020-01-15 15:27] #2730 closed

[2020-01-15 15:53] jtpetty commented on #2512
Since we were unable to reproduce this issue and we do not see anything obviously wrong in the JSON output you provided, and you have worked around the problem, I am closing this issue for now. If the symptoms reoccur, please open a new ticket and we can attempt to root cause the issue.

[2020-01-15 15:53] #2512 closed

[2020-01-15 15:58] jtpetty commented on #2469
@lukegawel - I apologize for the late reply, but were you able to get around your problem?

[2020-01-15 17:20] cliftonz1 commented on #2704
I am having the exact same issue. If I use negotiate and pass in a username and password the agent installs correctly however if I use a pat it gives:
[code]

[2020-01-15 20:34] vtbassmatt commented on #2477
@rdagumampan hi, and sorry for the delay responding. I'm sure that I don't fully understand your tooplogy and requirements, so please forgive me if I miss something obvious.

The Azure DevOps agent needs to have line of sight to both your deployment target and to Azure DevOps. However, the Azure DevOps server doesn't itself need to have line of sight to your deployment target. I think the layer I

[2020-01-15 20:35] vtbassmatt commented on #2523
This will eventually be part of BYOS / elastic self-hosted agents. It's not feasible for hosted agents in any timeframe I can foresee.

[2020-01-16 11:19] garfbradaz commented on #2595
Smashing thanks guys - top work as always.

[2020-01-16 12:53] santiago-ld commented on #1569
I'm having the issue using terraform too, hope to see this fixed soon.

[2020-01-17 10:44] sonic1981 commented on #1582
I believe that powershell interprets the standard messages from GIT as errors. Hence why this fixes it

[2020-01-17 16:14] dvescovi1 opened #2734 "self hosted linux agent 2.164.1/3 stopped running jobs"
## Agent Version and Platform
Version of your agent?
2,164.1/3 Ubuntu18.04

## Azure DevOps Type and Version
on premise not sure how to get version

If dev.azure.com, what is your organization name?
https://dev.azure.com/jblhive/

## What's not working?
I had agent 2.164.1 installed and working on two Azure hosted Ubuntu 18.04 vm's. in my againt pool.
This was working and it was running several pi

[2020-01-17 16:18] dvescovi1 commented on #2734
more info:
david@Ubuntu1804b:~/azp/agent$ sudo ./svc.sh status

/etc/systemd/system/vsts.agent.jblhive.WASP_BUILD_POOL.waspbuilder\x2db.service
● vsts.agent.jblhive.WASP_BUILD_POOL.waspbuilder\x2db.service - Azure Pipelines Agent (jblhive.WASP_BUILD_POOL.waspbuilder-b)
   Loaded: loaded (/etc/systemd/system/vsts.agent.jblhive.WASP_BUILD_POOL.waspbuilder\x2db.service; enabled; vendor preset: enable

[2020-01-17 18:29] dvescovi1 commented on #2734
It looks like an update may be the cause as I see this in the directory:
bin bin.2.164.3 externals externals.2.164.3

I do not remember seeing these when it was working.

[2020-01-17 18:30] jtpetty commented on #2734
@dvescovi1 - it looks like there was a problem during the auto update. I see this in the log:

[code]

It seems that the permissions on this file is such that the running agent process was not able to remove it.

[2020-01-17 18:36] jahsu-MSFT commented on #2429
@bchurchill The support for partially succeeded builds is in the latest agent version. Can you please verify and close this ticket? If it still doesn't work, please let us know.

[2020-01-17 20:04] dvescovi1 commented on #2734
I thought something along those lines.
For what ever reason it seems to want to install 2.164.3

[2020-01-17 20:07] jtpetty commented on #2734
We are rolling out that version of the agent, so it makes sense that the agent would attempt to self update. The issue is the permissions on the env.sh file. There is an assumption that the user the agent is running as owns and has write permission to all of the files in the agent install directory.

[2020-01-17 20:45] jtpetty commented on #2734
@dvescovi1 - Can I ask, what were the permissions on that /home/david/azp/agent/env.sh? We should update the agent to not completely crash in this instance. Did you just remove write permission or was it owned by a different users?

[2020-01-17 21:02] dvescovi1 commented on #2734
I finally got it running by brute force. I deleted all the agent stuff on all the clients in the pool, deleted and recreated the pool. then reinstalled all the agents with 2.164.3 and that seems to fixed everything. not pretty.

[2020-01-20 12:38] janissimsons commented on #1664
The actual solution is to open the advanced section in the Azure powershell task and set the "working directory" path. If it's empty then Azure will throw this nonsense error. Took me several hours to figure this out.
Very stupid implementation, to be honest.
This path should be mandatory and not under advanced settings, otherwise the task is useless.

[2020-01-20 15:46] avivanoff commented on #2711
@jahsu-MSFT, @leantk, do you have any updates on this issue?

[2020-01-20 18:14] nreddipalle opened #2736 "Docker Image Size differs on local compared to the one on Agent"
I am trying to build a docker image using https://hub.docker.com/_/microsoft-dotnet-framework-aspnet/ image.. when pulling it locally (windows 10 laptop) it is showing the size as 5.58GB
![image](https://user-images.githubusercontent.com/28302399/72748485-663a3000-3b85-11ea-9fe7-459674a6acb5.png)

whereas the same image is showing as 14.6GB on self-hosted devops agent (Windows Server 2016) after p

[2020-01-21 06:26] jmezach opened #2737 "Allow parameter defaults to be calculated based on other parameters"
It would be nice if YAML pipelines would allow the default for a parameter to be calculated based on the value of another parameter, possible with some kind of transformation. For example, we run our projects through [SonarQube[(https://www.sonarqube.org) so we include the necessary tasks for this in our YAML templates. These tasks require a project key by which the project is known in SonarQube.

[2020-01-21 10:08] arcotek-ltd commented on #2695
Also works with .NET Core runtime 2.1:
[code]
Installed .NET using root.

[2020-01-21 10:49] arcotek-ltd opened #2738 "SELinux prevents ./svc.sh install executing."
## Agent Version and Platform
Version of your agent?
vsts-agent-rhel.6-x64-2.163.1

OS of the machine running the agent?
Fedora Server 31

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/public_forum

## What's not working?
`./svc.sh install` is not working.

[code]
foo = VSTS organisation name
bar = VSTS agent pool.

I note t

[2020-01-21 11:03] arcotek-ltd commented on #2738
What may be causing the incorrect formatting is the fact that my organisation name contains a hyphen (`-`).

I have modified your script:
[code]

Which gives:
[code]

The file `/etc/systemd/system/vsts.agent.Foo.bar.mycomputer.service` is created and contains:
[code]

Which looks correct to me.

[2020-01-21 11:04] andrejohansson commented on #858
How did anyone here get this to work?

I push a change to my npm package, this package itself builds, updates the version of package.json and then pushes the tag and version update with a [skip ci] comment. But still...pipelines gets stuck in an infinite loop. We do not use PRs or anything else.

My yaml file trigger looks like this:

[code]

![image](https://user-images.githubusercontent.com/2828

[2020-01-21 11:59] arcotek-ltd commented on #2738
I've narrowed the error `Failed to enable unit: Unit file vsts.agent.Foo.bar.mycomputer.service does not exist.` down to the line in the `install` function:
[code]

Listing the "vsts" service, it is reported as "bad":

[code]

I then analyse the file:
[code]

Googling around suggests these are just warnings, but I'm a bit stumped at this point. I wonder if the agent needs to be installed in a dire

[2020-01-21 15:08] jtpetty commented on #2736
@nreddipalle - The image ids do not appear to match between the two tags of your images. I think you are comparing two different things.

[2020-01-21 15:18] #2421 closed

[2020-01-21 15:22] alex-peck commented on #2432
Fixed in documentation.

[2020-01-21 15:22] #2432 closed

[2020-01-21 15:23] alex-peck commented on #2332
Fixed by #2728

[2020-01-21 15:24] jmezach commented on #2737
I guess I could add a script task to the pipeline that does the concatenation and transformation (lowercasing in my case). That does feel a little bit wasteful though, especially for "simple" things like this, since it would require scheduling that task to run on an agent, etc.

[2020-01-21 15:27] alex-peck commented on #2332
Re-opening until the new agent version with this fix has been released and rolled out.

[2020-01-21 15:27] vtbassmatt commented on #2737
I agree this would be handy in this circumstance. We don't have a context for parsing template expressions inside parameters (for instance, we wouldn't want to follow templates there). I think Tommy was proposing something like:

[code]

The lack of a `toLower` function is a separate concern, and one I have on my quarterly roadmap to address. You'd wrap the `value` section in `$[ ]` in order to ac

[2020-01-21 15:31] jmezach commented on #2737
I see. But if I'm not mistaken, this would not allow the user of the template to override the sonarQubeProjectKey anymore since it is now a variable and not a parameter, correct? I can see cases where it would be useful to allow overriding the value if necessary.

[2020-01-21 15:36] vtbassmatt commented on #2737
Good point. You'd have to get slightly more complicated in that case:

[code]

[2020-01-21 16:39] jmezach commented on #2737
Hmm, yeah, I guess that works. Still feels a bit convoluted and it isn't very intuitive, but I can live with that. I would still need the to-lower though. I couldn't find an existing issue for that, or is that tracked on some internal list?

[2020-01-21 17:28] arcotek-ltd commented on #2738
I have solved it. It's SELinux causing the problem, which you do not mention in your documentation.
I totally disable SELinux, rebooted and then ran `./svc.sh install`. I reenabled SELinux, rebooted and tried to start the service, which, as expected failed.

I have created a policy to allow SELinux to run, even surviving a reboot, however, I don't know if it will allow the service to be installed.

[2020-01-21 17:34] arcotek-ltd commented on #2738
I have asked the document authors to add a piece on SELinux in [#7010](https://github.com/MicrosoftDocs/vsts-docs/issues/7010).

[2020-01-21 19:29] vtbassmatt commented on #2737
Tracked internally, since it's server-side code. Sorry about that!

[2020-01-22 00:58] arcotek-ltd commented on #2738
SELinux also causes access denied errors when trying to run a pipeline. I put SELinux into permissive mode and ran `audit2allow -l -a -M vsts_pipeline` as per the above steps.

For Google's bots here is the error I was getting when trying to execute the pipeline:
[code]

[2020-01-22 08:49] alexanderwieland commented on #2704
https://developercommunity.visualstudio.com/solutions/802663/view.html
Use "https://[servername]/[organizationname]"

[2020-01-22 08:51] alexanderwieland commented on #2565
Use "https://[servername]/[organizationname]"
Infos: https://developercommunity.visualstudio.com/solutions/802663/view.html

[2020-01-22 14:37] Nirav-Bhadradiya opened #2740 "YAML Validation ./run.sh --yaml <PATH> --whatif failing"
While trying to run  **./run.sh --yaml <PATH> --whatif** to validate YAML file it fails with **"~/src/Misc/layoutroot/bin/Agent.Listener: No such file or directory"**

I tried building project with ./dev.sh build still no luck.

[2020-01-22 22:51] krknopp commented on #2288
Yes, please make this happen on agent restart.  or more often.  like every time the /etc/environment file changes.

[2020-01-23 09:48] EPinci opened #2745 "Containerized agents immediately self terminate on signal from cluster"
## Agent Version and Platform
Version of your agent? latest

OS of the machine running the agent? Linux Container on AKS

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

## What's not working?
We have built the agents container according to https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops
We then bundled a number of this in an AKS

[2020-01-23 18:24] WhitWaldo opened #2746 "BYOS Feedback"
I wanted to submit some additional feedback regarding the [BYOS design doc](https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/design/byos.md).

I make heavy use of a self-hosted build agent in order to utilize MSI, so I can skip having to use and update the various DevOps connections for deployments. Rather, it's far easier to just use a system-assigned identity to restrict acces

[2020-01-23 19:44] vtbassmatt commented on #2740
Hi @Nirav-Bhadradiya - the --yaml and --whatif flags were experiments that we abandoned over 2 years ago, and just failed to remove from the code. I'm sorry for surprising you with their removal. They never functioned properly in the first place - could you share what you were using their output for?

Also note that we have a server-side version of "what if" coming very shortly. It's based on the

[2020-01-23 19:44] #2740 closed

[2020-01-23 20:01] vtbassmatt commented on #2745
Thanks for raising this issue. It's a good scenario and one we want to have better support for.

A few questions from our end:
1. Is [run-once mode](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops#run-once) acceptable for your scenarios? In that case, the agent process will only run one job and then terminate itself. I know in something like ACI, this woul

[2020-01-23 22:14] VenumadhavDuriseti opened #2747 "Invalid executable path error- for git version cmd on RAM Disk"
## Agent Version and Platform
Version of your agent? 2.169.2/2.164.6

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

If dev.azure.com, what is your organization name? https://dev.azure.com/onebranch or https://onebranch.visualstudio.com

## What's not working?
I set up RAM Disk drive (X:) on my machine, using imdisk (and os

[2020-01-24 05:32] Nirav-Bhadradiya commented on #2740
Hi @vtbassmatt I  was trying to validate yaml before i ran against it build just to make sure it does not just throw me validation errors. do you have any other way to validate yamls before we ran it from pipeline ?

[2020-01-24 13:50] vtbassmatt commented on #2740
You can get partial validation using this [VS Code extension](https://marketplace.visualstudio.com/items?itemName=ms-azure-devops.azure-pipelines). It doesn't understand the template syntax unfortunately, but will help for other syntax.

[2020-01-24 15:02] jtpetty commented on #2716
I have been doing some investigation and have a theory:

Previously, all communication with the server was done over a single connection.

The agent was updated to use separate connections for listening for messages from the server and for job renew request (job heartbeat). The message connection is constantly active as we are constantly long polling the server for new messages. The job renew requ

[2020-01-24 16:10] jtpetty commented on #2747
one thing that seems odd to me is

[code]

Shouldn't it be:
[code]
Also, can you ```X:\_work\b\1\externals\git\cmd\git.exe --version``` from within PowerShell on that machine?

[2020-01-24 21:35] VenumadhavDuriseti commented on #2747
Looks like a copy paste error for X:\_work. I'm attaching the image here.
![image](https://user-images.githubusercontent.com/9970018/73105681-66506d80-3eae-11ea-9978-0fd6abf499d5.png)

Also I ran X:\b\1\externals\git\cmd\git.exe --version and it has the same output:
![image](https://user-images.githubusercontent.com/9970018/73105503-06f25d80-3eae-11ea-87e1-2836f1b2363c.png)

[2020-01-25 19:58] ledzep70 opened #2750 "VSTS agent task failing with exit code 102"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2020-01-26 18:21] Mukund-UBS opened #2751 "Git Version Issue"
Issue with newly created rhel agent.

When i am installing git via yum it is giving me issue that version of git is not updated one and then when i am updating git version manuall, even in git version it is giving me the latest version but when i am running the job it says that git version is old.
Any workaround for the same?
Regards
Mukund

[2020-01-27 11:25] Lawls91 opened #2752 "Windows SDK version capability not supported for 10 (/non 'A' versions)"
## Agent Version and Platform
2.164.6

OS of the machine running the agent? OSX/Windows/Linux/...
Windows

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

## What's not working?
The windows SDK for v10 does not display as a capability on agents. I have checked the code, and it appears that in "Add-WindowsSdkCapabilities.ps1", while scanning "Software\Microsoft\Microsoft

[2020-01-27 13:31] dvescovi1 commented on #2734
seems to have happened again with the 2.164.6 update.
Appears every time there is an update pushed it stops working.
All the same symptoms.
when I do the service status it does show a permission error on env.sh
Again I had to brute force uninstall, clean and reinstall with 2.163.6 to get going again.
This is a critical build machine so I did not have much time to trouble shoot.

[2020-01-27 13:35] ivan-sam commented on #2718
I've got a pipeline (YAML with multiple checkout) failing since today. It might be related to the change.
What I've discovered so far: it looks like the directory **c:\agent_work\1\s** defined by predefined variables (https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml):
 - Build.Repository.LocalPath
 - Build.SourcesDirectory
 - System.DefaultWorking

[2020-01-27 13:45] jtpetty commented on #2734
@dvescovi1 - If the env.sh is write protected by the owner or if it is owned by another user other than the user the agent is running as, this situation will occur. What are the permissions on this file?

[2020-01-27 14:15] jtpetty commented on #2750
@ledzep70 - Can you share your Powershell script and the output from the task?

[2020-01-27 14:18] jtpetty commented on #2751
@Mukund-UBS - For linux, the agent uses whatever version of git is installed in the path. You can create a task that does a `which git` and see if that matches where you manually installed the latest version. If not, you will need to add that location to the PATH environment variable for the user running your agent.

[2020-01-27 14:22] Mukund-UBS commented on #2751
Hi @jtpetty  thanks for your reply, i resolved this by installing it in same path only where the actual git gets install i.e. /usr/local/bin/git in PATH

Regards
Mukund

[2020-01-27 14:34] #2751 closed

[2020-01-27 14:53] sobjornstad commented on #2704
@alexanderwieland's solution worked. Bizarre that it works without the collection/org name on a Negotiate but not with a PAT...and that there's no obvious documentation of this.

[2020-01-27 14:56] jpricket commented on #2718
@ivan-sam Thanks for the repro. I was able to see the problem. I will try to see what's causing this and get a fix checked in. Thanks.

[2020-01-27 14:58] Burnsy2023 commented on #1307
I'm also running into this issue, so not fixed :(

[2020-01-27 16:20] jpricket commented on #2718
@ivan-sam I haven't been able to determine yet when this problem was introduced. I tried this against several older agents back to to 2.163.0, but it still happens there. Do you know the version of the agent you had before this started happening?

BTW, the simple work around is to set the workingDirectory on the script task
[code]

[2020-01-27 16:52] jtpetty commented on #2747
If you run ```git.exe --version``` manually and get the same error, then this is not an agent issue. Make sure you grabbed the right binary. Is it possible you are attempting to run the x64 agent on an 32-bit x86 version of windows?

[2020-01-27 16:54] jtpetty commented on #2628
closing due to inactivity

[2020-01-27 16:54] #2628 closed

[2020-01-27 16:57] jtpetty commented on #2527
closing due to inactivity. If this issue is still occurring, please re-open and supply the requested information.

[2020-01-27 16:57] #2527 closed

[2020-01-27 17:00] jtpetty commented on #2463
closing due to inactivity

[2020-01-27 17:00] #2463 closed

[2020-01-27 17:04] jtpetty commented on #2441
@vtbassmatt - Do you have any context here? Is this our recommended solution?

[2020-01-27 17:07] jtpetty commented on #2439
@Lukasz994 - I apologize for the delay in responding to your issue. Are you still having this issue?

[2020-01-27 17:08] jtpetty commented on #2435
@vtbassmatt - Can you comment here?

[2020-01-27 17:11] ivan-sam commented on #2718
Regarding workaround: actually I found the problem with a different task: AzureResourceGroupDeployment@2 was failing with error: **##[error]The directory name is invalid**
It doesn't provide any information even with diagnostics enabled. So I started investigating and put some simple scripts to print out some info.

[2020-01-27 17:13] jtpetty commented on #2402
closing since the referenced issue was root caused and closed

[2020-01-27 17:13] #2402 closed

[2020-01-27 17:16] jtpetty commented on #2365
@stephenmichaelf - can you take a look at this one and see if the static analysis work you are doing will flag it?

[2020-01-27 17:21] jtpetty commented on #2378
@Sukumarnayak - Are you still experiencing this issue?

[2020-01-27 17:25] #2342 closed

[2020-01-27 17:30] jtpetty commented on #2288
@vtbassmatt - I believe this was done intentionally as a security measure. Do you have any recollection as to why this was done this way?

[2020-01-27 17:33] jtpetty commented on #2286
closing this issue as I believe this issue was addressed. If you are still seeing problems, please open up a new issue.

[2020-01-27 17:33] #2286 closed

[2020-01-27 18:09] jtpetty commented on #2437
@vijayma - Can you comment on this issue?

[2020-01-27 18:16] jpricket commented on #2718
I wonder if the repro you gave above is actually a different bug than the one you are having with your own yaml. If you determine the why "the directory name is invalid" or just find out some additional info, please let us know.

[2020-01-27 18:30] vtbassmatt commented on #706
This issue has sat undiscussed for over 3 years. If anyone needs us to consider something here, they should open a new issue.

[2020-01-27 18:30] #706 closed

[2020-01-27 18:31] jtpetty commented on #1464
closing as this issue appears to be addressed

[2020-01-27 18:31] #1464 closed

[2020-01-27 18:36] jtpetty commented on #1865
The referenced issue was closed as not a bug. I am closing this issue as well. If this issue is still occurring, please open a new issue.

[2020-01-27 18:36] #1865 closed

[2020-01-27 18:41] brwilkinson commented on #2628
Just to do a follow up on this thread.

We found that a Write-Progress output that was being written when running: Extract-Archive may have been the culprit for the slow processing on the agent.

After updating the code to the following, this seems to have at least tentatively resolved the issue that we were seeing.

$ProgressPreference = 'silentlycontinue'
Expand-Archive ..

[2020-01-27 18:52] stephenmichaelf commented on #2686
@johncrim Thanks for the feedback! I will create an internal ticket to improve the error message.

I agree this was an unfortunate issue and we have made changes to our internal processes to prevent it from happening again.

[2020-01-27 18:52] #2686 closed

[2020-01-27 18:59] jtpetty commented on #2486
Is this the same as #2704 ?

https://developercommunity.visualstudio.com/solutions/802663/view.html
Use "https://[servername]/[organizationname]"

[2020-01-27 19:00] Prachiti9 commented on #2494
@joelshea Can you please share your Azure pipeline url?

[2020-01-27 19:05] vtbassmatt commented on #2288
This is done for reliability/repeatability. We try not to slide the environment out from under an agent. @jtpetty I see two possible approaches here, maybe you see others:
1) Accept a flag at config time that says we want this agent to not snap its environment variables
2) Implement a signal handler so that the agent doesn't have to stop/start to pick up new variables.
The sequence would become:
[

[2020-01-27 19:11] Prachiti9 commented on #2494
Just noticed this is old post. Would be good to know if this is still an issue for you.

[2020-01-27 19:20] vtbassmatt commented on #2338
I think this should read the PowerShell handler doesn't subscribe to force completed events. It looks like we're [breaking into the debugger](https://devblogs.microsoft.com/powershell/powershell-break-all-command/) which is a mistake in a CI agent. It looks like PowerShell Core has [opted to not have this on by default](https://github.com/PowerShell/PowerShell/pull/4283) when running `-NonInteract

[2020-01-27 19:22] vtbassmatt commented on #2435
As you can guess from the long delay, we've not been pushing on local YAML validation.

This sprint, we're shipping a server-side API which lets you validate the final YAML as it would compose from multiple templates, variable/parameter values, etc.

[2020-01-27 19:22] #2435 closed

[2020-01-27 19:25] vtbassmatt commented on #2441
I believe we honor SKIP_CI and friends only when the commit containing that value is the tip, whether it's CI or PR. If you merge using GitHub's PR experience, for example, I don't think the SKIP_CI indicator gets included in the merge commit unless you included it in the PR message body.

[2020-01-27 19:31] vijayma commented on #2437
This is the first time I am hearing about this. So, can you please share the need for this? If this is for PR builds, you can use comments to trigger a PR build.

[2020-01-27 20:33] ivan-sam commented on #2718
@jpricket I've extended the script in order to get more details and it looks like the issue is that the folder **Build.Repository.LocalPath** (e.g. c:\agent_work\1\s) is **moved** to a new name when you do checkout of some repo other than **self** to explicit path. Really moved itself, not just the content. Previously the content was moved, but directory `s` remained, so it worked. And this direct

[2020-01-27 20:36] VenumadhavDuriseti commented on #2747
I tried running both x86 and x64 versions on the same test machine on RAM Disk.
I get the same error message

![image](https://user-images.githubusercontent.com/9970018/73211609-701ddf00-4101-11ea-8656-539a1f839dc3.png)

[2020-01-27 20:42] jtpetty commented on #2747
We determined this was a bug in mingit and not with the agent. Most likely related to this issue: https://github.com/git-for-windows/git/issues/2036

The work around is to set ```System.Prefergitfrompath = true```

Closing as this is not an issue with the agent itself.

[2020-01-27 20:42] #2747 closed

[2020-01-27 21:12] jpricket commented on #2718
@ivan-sam I have already investigated that set of changes. Reverting them doesn't seem to change the behavior that you are seeing. I.e. even when I go back to the 2.163.0 build of the agent, no 's' directory is created. So, I am not sure when this new behavior was introduced.

For others that may have this same error, if you create an s folder in the workspace dir, you can work around the problem.

[2020-01-27 21:22] ivan-sam commented on #2718
Ok, might be some other code causes the issue.
But from the pipeline above it's easy to see that:
1. The real issue is that system variables are pointing to a not existing directory
2. The issue only happens when you do checkout of a repository (other than self) to an explicit location

@jpricket  Should I create a separate issue?

[2020-01-27 21:50] avivanoff opened #2755 ""Download Pipeline Artifacts" task is very slow on UNC artifacts"
**Type**: Bug

**Enter Task Name**: "Download Pipeline Artifacts"

## Environment
- Server - Azure Pipelines
 - Agent - Private, 2.164.6

## Issue Description

After [the fix](https://github.com/microsoft/azure-pipelines-tasks/issues/11804) we switched "Download build artifacts" task to "Download Pipeline Artifacts", and our download times for UNC artifacts increased from 4-5 minutes to over an ho

[2020-01-27 21:59] ivan-sam commented on #2718
@jpricket got it, will do.

But could you please check one more thing against previous version of the agent (I've  just got an idea looking through the changes)?

It might be that in the previous version the directory was renamed as well, so after checking out to a specific name the directory `s` was renamed as well, **but** all the environment variables were updated to point to a new location as

[2020-01-27 22:51] dvescovi1 commented on #2734
I no longer have the state of the file when the error occurred as I had to rebuild the agent to get the build host back up. I can tell you this as it should be easy to reproduce.:
I used a standard Ubuntu18.04 VM created with my Azure subscription. I installed the agent using:
https://raw.githubusercontent.com/MicrosoftDocs/mslearn-azure-pipelines-build-agent/master/build-agent.sh script. Using in

[2020-01-27 23:12] achamayou opened #2756 "BYOS Feedback"
Several of our projects (eg. microsoft/CCF, microsoft/EVM-for-CCF) make use of SGX hardware (Standard_DC SKUs in Azure). There is no hosted pool for this series.

At the moment we make do with small private static pools of ansible-deployed executors (combined with an office hours start/stop automation policy in Azure), but we would really love to have elastic pools instead, they would be so much m

[2020-01-28 02:27] srrl opened #2757 "Unable to configure agent service when --windowsLogonPassword value starts with "-" or contains "^" symbol"
## Agent Version and Platform
2.164.6
Windows

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
Unable to configure agent service when --windowsLogonPassword value starts with "-" or contains "^" symbol.

### Example "-"
$password = "-bMBd9oVyEY1SJRJog8j"

`.\config.cmd --unattended --url $url --auth pat --token $token --pool $pool --agent $agent --runAsService --windowsLogon

[2020-01-28 09:00] ivan-sam commented on #2718
Another workaround is to explicitly use `s` as a checkout path (I didn't like hardcoding `s` that's why I used to checkout to explicit location):
[code]

[2020-01-28 09:24] joelshea commented on #2494
Honestly, I'm not sure if this is still an issue.  We have mostly migrated to multi-stage YAML builds at this point (and this was for the old Classic view Release builds).

[2020-01-28 11:39] h4570 opened #2758 "Node.exe is returning randomly exit code -1073740791"
**## Version of your agent?**
2.164.6
**## OS of the machine running the agent?**
Windows 10 1803 Build 17134.1184
**## Azure DevOps Type and Version**
https://dev.azure.com/

## What's not working?

1. This error appeared on several of our computers during deployments.
2. After the agent was reinstalled, the problem did not disappear.
3. **My temporary solution -> replace "../externals/node/bin/n

[2020-01-28 13:30] jtpetty commented on #2734
Are you able to log on the machine now and do a 'ls -l' in the directory where you installed the agent?  This issue has nothing to do with the PAT scope.

[2020-01-28 14:12] damccorm commented on #2752
@Lawls91 this should be fixed by #2754

[2020-01-28 14:12] #2752 closed

[2020-01-28 14:13] damccorm commented on #2593
I believe we decided not to do this after some conversations with RM

[2020-01-28 14:13] #2593 closed

[2020-01-28 14:19] Lukasz994 commented on #2439
@jtpetty Thanks for getting back to me. I have figured that actually Azure Pipeline Agent had issues with interpreting module names without ".js" extension. In the end I needed to preform non-trivial task of going through whole code base and updating all references.

I did raise a ticket with MS in relation to this issue but havent been given definitive answer as to why pipeline agent doesnt inter

[2020-01-28 14:24] jtpetty commented on #2666
This was released in agent 2.146.6

[2020-01-28 14:24] #2666 closed

[2020-01-28 14:24] jtpetty commented on #2665
This was released in agent 2.146.6

[2020-01-28 14:24] #2665 closed

[2020-01-28 14:25] jtpetty commented on #2626
This was released in agent 2.146.6

[2020-01-28 14:25] #2626 closed

[2020-01-28 14:27] jtpetty commented on #2439
@Lukasz994 - Thank you for letting us know!

[2020-01-28 14:27] #2439 closed

[2020-01-28 14:37] damccorm commented on #2589
Hey @ikeselman - sorry for the slow response, are you still seeing this?

[2020-01-28 14:37] damccorm commented on #2681
Closing due to inactivity, please comment if you'd like this reopened

[2020-01-28 14:37] #2681 closed

[2020-01-28 14:38] damccorm commented on #2597
Closing due to inactivity, please comment if you'd like this reopened

[2020-01-28 14:38] #2597 closed

[2020-01-28 14:38] damccorm commented on #2609
Closing since this has been fixed

[2020-01-28 14:38] #2609 closed

[2020-01-28 14:46] damccorm commented on #2637
Hey @sponte sorry for the slow response - it sounds like maybe our JsonReader is falling over because the file is getting too big?

Could you share a little bit more about your use case here? Why do you need 32k tasks? It also doesn't look like the release pipeline you attached has that many tasks, I only see 4

[2020-01-28 14:49] damccorm commented on #2610
@chshrikh could you take a look or route to someone on the RM side who can help on this?

[2020-01-28 14:50] sponte commented on #2637
Hello, thanks for getting back to me. Did you try my pipeline in your environment? It’s not that I need 32k tasks, it’s the JSON request that is sent to the agent when job runs that seems to max out at 32k length.

Please try importing attached pipeline which should hopefully replicate the problem. Let me know if it doesn’t.

[2020-01-28 15:00] jtpetty commented on #2595
The referenced PR should be included in 2.146.6 of the agent

[2020-01-28 15:02] damccorm commented on #2637
Hey - I was not able to repro. I couldn't get an exact copy/import because it was reliant on other pipelines in the project for an artifact value I think? Regardless, it didn't allow me to do that, but I created a similarly large pipeline that ran without issue - https://dev.azure.com/damccorm-repros/big%20json/_releaseProgress?_a=release-pipeline-progress&releaseId=1

From the error, it looks lik

[2020-01-28 15:40] jtpetty commented on #2757
@srrl - Thanks for all the detail and preliminary debug in this issue.

The example using "^", I traced through the code and we are calling a native Windows API and that is failing. Are you sure that is the correct password?

I believe you are correct about the example using "-" and we will look at how we can best provide a fix.

[2020-01-28 16:14] jtpetty commented on #2736
I am closing this as I do not think it is an agent issue. If you continue to have problems, please feel free to open a new issue

[2020-01-28 16:14] #2736 closed

[2020-01-28 16:15] jtpetty commented on #2660
This fix was released in agent  2.164.6

[2020-01-28 16:15] #2660 closed

[2020-01-28 16:16] #2611 closed

[2020-01-28 16:17] jtpetty commented on #2496
@KhuongNtrd - is this issue still occurring?

[2020-01-28 17:41] jtpetty commented on #2586
This was included in agent 2.164.6

[2020-01-28 17:41] #2586 closed

[2020-01-28 17:46] jtpetty commented on #2550
closing due to inactivity

[2020-01-28 17:46] #2550 closed

[2020-01-28 17:49] jtpetty commented on #2503
This issue appears to be a duplicate of #2598. Closing this issue and tracking it there.

[2020-01-28 17:49] #2503 closed

[2020-01-28 17:53] jtpetty commented on #2416
closing due to inactivity.

It is possible that this issue is solved by:
https://developercommunity.visualstudio.com/solutions/802663/view.html
Use "https://[servername]/[organizationname]"

[2020-01-28 17:53] #2416 closed

[2020-01-28 18:01] jtpetty commented on #2460
@ScottGuymer - I apologize for the delay in responding. Are you still having issues with this?

[2020-01-28 18:07] jtpetty commented on #2448
This is correct. You can manually update to newer agent versions manually.

[2020-01-28 18:07] #2448 closed

[2020-01-28 18:11] jtpetty commented on #2413
Closing due to inactivity and unable to repro. If this is still a problem, please open a new issue.

[2020-01-28 18:11] #2413 closed

[2020-01-28 18:14] jtpetty commented on #2293
Should be fixed by #2616 and that is in 2.164.6 of the agent

[2020-01-28 18:14] #2293 closed

[2020-01-28 18:16] jtpetty commented on #2235
@DJRobertson - I apologize for the  delay in someone getting back to you. Are you still seeing this problem?

[2020-01-28 18:20] jtpetty commented on #2307
@v-strob - I apologize for taking so long to answer your question. We  had a number of new features go into the agent which of course led to some unfortunate issues, but now that 2.164.6 of the agent is out, we should be much more responsive in reviewing PRs.

As for your main question, I am going to defer to @vtbassmatt  as to whether or not this is something we can take on and how it might impac

[2020-01-28 18:54] Beakster commented on #2080
I had this problem recently when trying JAVA_HOME_11_X64 on a on-premise Azure Devops Server.  I found the both .bash_profile and /etc/environment were ignore by the agent.  The solution I found was to use the .env file in the agents installation directory.  I've written instructions here: http://www.beaksoft.com/java-environmental-variables-for-azure-devops-server-agents/

[2020-01-28 20:23] vtbassmatt commented on #2307
I'm modestly "pro" this feature. Anything to make working with submodules less irritating. Big questions to answer would be:
- what happens if the Git repo doesn't have any submodules, is that command still safe?
- what other side effects does it have, either with or without submodules?
- is this globally desirable for all customers or is it a targeted fix?

@j0tt if you're still interested in the

[2020-01-28 20:24] vtbassmatt commented on #2307
Whoops also @v-strob since it was actually you who asked about submitting a PR :grin:

[2020-01-28 20:29] vtbassmatt commented on #2564
:wave: @iambernics - I'm not sure I fully followed the question. Why do you want to run as a service but shut down after just one job? Running as a service is designed to be resilient and run constantly, while running once is designed for scenarios where agent hosts (such as containers) are disposable.

[2020-01-28 21:46] iambernics commented on #2564
Hi Matt,

I would like provisioning a new instance for every job due to privacy and security reasons in enterprise environment, similar like the Microsoft hosted Agents.
The "--once" is providing the trigger for reverting the Agent from snapshot.
I would like avoid the Windows auto-login function for starting the Agent in interactive mode and the WinRM is a point of failure for the long-term sessi

[2020-01-28 22:31] MarkIannucci commented on #2660
Thank you.   We have 2.164.6 on prem and haven't seen this issue.

[2020-01-29 03:26] srrl commented on #2757
@jtpetty Thank you!

The password is correct. At least you can set it and use with your user account without any issue.
I think this might be a Windows API bug.

[2020-01-29 04:16] chshrikh commented on #2610
@mrtristan  "Deployment Pool" is collection level entity and can be shared pool across project, and tags are scoped with project. You can not add tags to agent you see with deployment pool. If you need to add the tags to agent, share the pool with project and then go to "Deployment Group" page in project, there you will be able to add the tags.

[2020-01-29 04:48] compnerd opened #2761 "Agent change (v2.163.1-v2.164.6) causes reconstruction of workspace"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2020-01-29 06:19] Arenoros commented on #2704
@alexanderwieland,
OMG!! It's work, many thanks!

[2020-01-29 06:19] #2704 closed

[2020-01-29 06:43] sulabh-msft commented on #2390
This is VSTest task issue. I moved the bug to :
https://github.com/microsoft/azure-pipelines-tasks/issues/12246

[2020-01-29 06:44] sulabh-msft commented on #2390
@nigurr ,
  Can you please close this issue?

[2020-01-29 08:00] ScottGuymer commented on #2460
Yes this is still an issue and does not work on Linux OS
It does seem to mostly work on windows (i think there is a workaround needed for this too)

[2020-01-29 08:17] sulabh-msft commented on #2390
@Scott-Emberson,
Can you please let us know if you are still hitting into the issue?
If yes can you please provide full zip logs obtained by clicking on download all logs after setting system.debug = true.

You can send the zip file to mail to: devops_tools@microsoft.com

Checkout how to troubleshoot failures and collect debug logs:
https://docs.microsoft.com/en-us/vsts/build-release/actions/troub

[2020-01-29 10:47] giddyelysium13 opened #2762 "Forced Azure DevOps updates of the azure-pipelines-agent is incompatible with `--once`"
### Description of the Issue:

We have a requirement for single-use on-premises agents and so we pass the `--once` flag in order to guarantee that the agents are ‘clean’ new agents. We have recently migrated to Azure DevOps from on-premises TFS 2017.

This is having a ***very serious impact*** on our development workflow as described below:

- Agents receive a forced push update of the latest azur

[2020-01-29 11:57] sunilsurana commented on #2628
Does that mean excessive logging slows down processing

[2020-01-29 13:57] fedorbirjukov commented on #1582
I bet you meant Azure Pipeline PowerShell task.

[2020-01-29 14:09] jtpetty commented on #2761
@compnerd - Can you send us some of the agent and worker logs from the hosts that you are seeing this issue?

[2020-01-29 14:31] jtpetty commented on #2762
@giddyelysium13 - I apologize for the inconvenience this event caused you and your team.

The intended behavior of the agent is that update requests do not count as the one job the agent is supposed to run.

Do you happen to have any of the logs from the agents that updated and then did not wait for a job?

Is it possible there was something about the way the agent was configured that caused the u

[2020-01-29 14:36] jtpetty commented on #2757
As a workaround, can you try using an environment variable to pass in the password?

[code]

[2020-01-29 14:49] jpricket commented on #2761
It would also be great if you could produce a minimal repro yaml file that we could try locally.

[2020-01-29 15:32] jtpetty commented on #2762
@giddyelysium13 - Also, how are you starting up the agent?

[2020-01-29 16:05] SmUrF3R5 commented on #2721
[code]

![image](https://user-images.githubusercontent.com/25916918/73372939-3968d580-4275-11ea-955f-98563dfeca20.png)

Environment Vars
![image](https://user-images.githubusercontent.com/25916918/73373662-38847380-4276-11ea-9ff7-e90c476f0b7a.png)

[2020-01-29 16:48] brwilkinson commented on #2628
I believe the pop up message (progress status) can sometimes hang the host, so it's not excessive, it's just the usage of write-progress in the session.

So by setting this pop up to be disabled, with the $progresspreference, the hangs appear to have stopped. We have not completed extensive testing, however we believe this was a cause.

e.g.

![image](https://user-images.githubusercontent.com/3605

[2020-01-29 16:51] compnerd commented on #2761
@jtpetty sure, I've attached them here.
[Agent_20200129-055130-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/4129276/Agent_20200129-055130-utc.log)
[Worker_20200129-161343-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/4129277/Worker_20200129-161343-utc.log)

@jpricket - not sure about a minimal repro, my build setup is *extremely* complicated (perhaps not ve

[2020-01-29 17:29] Lectem opened #2763 "Suggestion: add a way to control capitalization of environment variables"
## Agent Version and Platform

Microsoft Hosted
Agent version 2.164.6
Ubuntu 18.04

## What's not working?

It is not possible to preserve casing of a environment variable

## Suggestion

Add a new property to variables (for example `toUpper` ?) that by default has the current behaviour of converting the names of variables to uppercase (for retro-compatibility), but let the use choose to not have

[2020-01-29 19:58] SmUrF3R5 commented on #2721
The reason i think there is an issue with vars that bo more than 2 levels deep is represented below. If i try and access any var that is only two levels deep it works.

[code]

![image](https://user-images.githubusercontent.com/25916918/73390694-db97b600-4293-11ea-96fe-2e90e8b350a9.png)

![image](https://user-images.githubusercontent.com/25916918/73390642-c589f580-4293-11ea-830e-b7cc4b1b3e8d.png)

[2020-01-29 20:11] mrtristan commented on #2610
@chshrikh thanks, was looking to do this in ci / cd pipelines. is the agent able to perform the actions you're describing?

[2020-01-29 20:51] oryxway opened #2764 "TFS login and Cyberark"
## Having issue with TFS login through CyberArk?

## Having issue with Tasks?
Trying to create a connection component for TFS in CyberArk PAS system and I get the following error after it passes through the admin credentials automatically. What could be going wrong here?

TF400813: Resource not available for anonymous access. Client authentication required.

![ErrorTFS1](https://user-images.github

[2020-01-29 22:37] SmUrF3R5 commented on #2721
where this really becomes a problem is that I am trying to copy these files to a folder that I want to be named the same as the Azure Repo

so when i change the path to be something more generic like
[code]

I will get this error

[code]

[2020-01-30 02:15] v-strob commented on #2307
When I run each of the git submodule commands mentioned above on a repo that doesn't have submodules, I get no errors and no output so it seems pretty safe to me. So if the gist ordering linked above means no more stale files, that would be good for everyone.

[2020-01-30 03:01] compnerd commented on #2761
In the meantime, is there a way to mitigate the issue by forcing a cleanup of the old workspace?  Note that this still is a significant cost: build times doubled due to invalidation of the caching.

[2020-01-30 04:17] chshrikh commented on #2610
Just want to understand your requirement clearly,  do you want to add tags to deployment target in CI/CD flow or you want to share the "deployment pool" with project ?

-- you can add the tags to "Deployment Group" target while doing configuration itself

[2020-01-30 05:01] avivanoff commented on #2755
@jahsu-MSFT, @fadnavistanmay, anything on this issue?

[2020-01-30 15:46] vtbassmatt commented on #2307
We'd likely accept a PR on this if you want to submit one. We have [some tests](https://github.com/microsoft/azure-pipelines-agent/blob/master/src/Test/L0/Worker/Build/GitSourceProviderL0.cs) in this area, so please make sure you update those and add any new ones that are needed.

[2020-01-30 16:44] drodriguez commented on #2761
So what we found out.

In a multi-stage, multi-repo setup, if two stages checkout different sets of repositories, both stages seems to use the same `collectionId`/`definitionId` pair.

When the multi-repo improvements were introduced the code that calculates the hash uses the repositories that are actually checked out as part of the hash to determine if the work directory should be reused or not (

[2020-01-30 16:51] jpricket commented on #2761
That's some great information. That makes perfect sense. We need to be more careful about computing the hash in these types of cases.
Thanks for following up and providing the workaround in case others run into this.
It will take some time to create and test the solution, so a workaround is definitely a must.

[2020-01-30 17:33] vtbassmatt commented on #2564
Thanks, that makes sense. You can configure the agent as a service, and you shouldn't have to run it right away.

[2020-01-30 22:01] #2718 closed

[2020-01-31 08:44] djsowa commented on #2417
It solves issue.
But how we can automate this ? Service definition file name has been changed in last few months.

This solution should be done on Your side. You even check LD_LIBRARY_PATH exists on VM but You done this too late.

[2020-01-31 08:46] MichaKnoe commented on #1307
With the UI release pipelines you could just assign subscription variables and it just worked. To me it looks like a regression in yaml which at least should be properly documented. Or maybe those issue pages are even enough documentation, right ;-)
Regards.

[2020-01-31 14:35] jtpetty commented on #2417
@djsowa - Thanks for confirming. I will work on getting this file updated.

[2020-01-31 15:02] ggirard07 commented on #1307
Not sure what you are all doing wrong guys, but this is working as expected for me when using the service connection name I configured in my project settings and **have it properly authorized**...

For the YAML, I am using the same approach as mentiond by @ericsciple  in [#1307 (comment)](https://github.com/microsoft/azure-pipelines-agent/issues/1307#issuecomment-403194600).
I am using it with `Az

[2020-01-31 15:08] MichaKnoe commented on #1307
Using template parameters is not the issue, but using e.g. variables from variable groups with macro syntax $(serviceConnection)

[2020-01-31 16:34] ggirard07 commented on #1307
I use a variable (so a macro) defined as
[code]

and pass it to my template parameters without any issue...

[2020-01-31 16:41] 4c74356b41 commented on #1307
I've posted over half a year ago that its working, if its not for you - you misconfigured something.

[2020-01-31 16:49] MichaKnoe commented on #1307
To be more precise. What is not working are variables referenced in variable groups not hard coded in yaml files but in Azure DevsOps variable groups. This is the recommended way to reuse variables over pipelines.

[2020-01-31 17:08] ggirard07 commented on #1307
@MichaKnoe sorry missed that point. You are probably better opening a new issue related to variable group explicitly in that case to gain more traction instead of recycling this closed issue....

[2020-02-02 22:03] srrl commented on #2757
Environment variable workaround works for both "-" and "^" cases.

[2020-02-03 15:11] giddyelysium13 commented on #2762
This is one aspect, of how we start the agent, using the --_once_ command. It will take a bit of time on our end to reproduce the issue, as we need to take our cluster down and spin it back up with the old configuration of agents that are going to be enforceable updated. Is there an email address I can send the logs too as I am not comfortable uploading logs directly here? (it will be late this we

[2020-02-03 16:34] jtpetty commented on #2762
@giddyelysium13 - Ok, I wanted to confirm that you were starting the agent via the run.cmd script. That script is what is supposed to restart the agent if it updates in --once mode.  If you were running the Agent.Listener executable directly, that might explain the problem.

You can email at tommy.petty@microsoft.com with the logs and I will take a look to see if I can figure out what might be cau

[2020-02-04 14:17] #2716 closed

[2020-02-04 15:40] giddyelysium13 commented on #2762
@jtpetty - Thanks for the heads up and it happened last night after the publishing.

We have got the logs from the latest pre-release and also left the situation in place overnight to see.

Instead, what actually happens is that it repetitively cycles its own update due to failing.
At the same time, the agent does not accept new jobs from the queue.

When we left the agents overnight, they did not

[2020-02-04 16:36] dvescovi1 commented on #2734
this is the status of a "working" install. the script installed it in ~/azp/agent  directory.
david@Ubuntu1804b:~/azp/agent$ ls -l
total 52
drwxr-xr-x  3 david david  4096 Feb  4 16:23 _diag
drwxrwxrwx 27 root  root   4096 Jan 27 04:29 _work
drwxr-xr-x 22  1001   117 20480 Jan 26 22:37 bin
-rwxr-xr-x  1  1001   117  2940 Jan 23 02:33 config.sh
-rwxr-xr-x  1  1001   117   707 Jan 23 02:33 env.sh
dr

[2020-02-04 17:06] jtpetty commented on #2762
@giddyelysium13 - If you could send me the _diag logs and I can dig in and try and figure out what might have happened.

As to the second issue, this is a known issue and we are working to roll out a fix as it requires an update to both the service and the agent.

[2020-02-04 18:52] jtpetty commented on #2762
@giddyelysium13 - Thank you for sending me the logs. Your assessment seems to be accurate. From what I can piece together, the first attempt to do the update fails with the "Access is denied" error. The subsequent update request succeeds.

Has this setup worked previously without issue?

I have seen the occasional "Access is denied" issue when attempting to move the bin/ directory on Windows and h

[2020-02-05 05:03] ReneSchumacher opened #2770 "Variable Build.Repository.Clean not set anymore"
## Agent Version and Platform
Tested with versions 2.164.7 (latest release, affected), 2.164.6 (previous release, affected), and 2.163.1 (release before 2.164.6, not affected), all on Windows 10.

## Azure DevOps Type and Version
Azure DevOps Services (https://dev.azure.com/almtcger) in west Europe.

## What's not working?
Starting in some version after v2.163.1 the predefined variable Build.Repos

[2020-02-05 12:22] giddyelysium13 commented on #2762
Has this setup worked previously without issue?
Not on our docker container agents on Azure DevOps. On our Windows VM’s the azure DevOps forced push updates and restart has completed successfully the first time.
Is there something about your setup that has some process using the bin/ directory as the working directory?
No. The relevant parts of the Dockerfile described below:

Relevant parts of Do

[2020-02-05 13:47] thurfir commented on #2751
My apologies if this is not the same issue, I believe we have a similar problem on windows:

In our build logs (checkout task) :

##[warning]Unable to run "git clean -ffdx" and "git reset --hard HEAD" successfully, delete source folder instead.
...
remote: Azure Repos
remote: We noticed you're using an older version of Git. For the best experience, upgrade to a newer version.

We are using the git

[2020-02-05 14:02] jtpetty commented on #2751
We are rolling out a new version of the agent (2.164.8) with an updated git (2.25.0). The version shipped with agent does lag a bit. The nudge to upgrade to the latest git is based on security updates. For most customers, waiting for the agent to bundle an updated git is fine. If you need to be bleeding edge with security updates, then you should maintain your own git.

Here is some more informati

[2020-02-05 14:21] dvescovi1 commented on #2734
did it again this morning.
 Broken upgrade and build machine down again.

the directory now looks like:
david@Ubuntu1804b:~/azp/agent$ dir
_diag  _work  bin  bin.2.164.7  config.sh  env.sh  externals  externals.2.164.7  run.sh  runsvc.sh  svc.sh
david@Ubuntu1804b:~/azp/agent$
david@Ubuntu1804b:~/azp/agent$ ls -l
total 76
drwxr-xr-x  3 david david  4096 Feb  5 14:11 _diag
drwxrwxrwx 27 root  root

[2020-02-05 14:23] dvescovi1 commented on #2734
attached console dump showing ls -l
[broken agent upgrade.txt](https://github.com/microsoft/azure-pipelines-agent/files/4159976/broken.agent.upgrade.txt)

[2020-02-05 14:24] dvescovi1 commented on #2734
is there a way to turn off upgrades?

[2020-02-05 14:28] dvescovi1 commented on #2734
PLEASE tell me how to fix this. Its becoming very problematic!

[2020-02-05 14:30] jtpetty commented on #2734
@dvesccovi1 - The issues is that some of the directories and files in your agent install directory are owned by mid 1001 but you are running the agent as user 'david'.

If you run the following command:
[code]
That should fix your problem and prevent it from happening again.

We currently do not have a method for disabling auto updates.

[2020-02-05 14:31] dvescovi1 commented on #2734
I'll give it a try … thanks for the quick reply

[2020-02-05 14:32] jtpetty commented on #2734
@dvescovi1 - you may need to do

[code]

Since I just noticed your _work directory is owned by root.

[2020-02-05 14:35] dvescovi1 commented on #2734
yes the _work directory is mapped to a large storage drive on Azure as I am building a large yocto image which consumes a large amount of space, I am also storing some saved download and state files there needed for yocto builds  Is that going to be a problem?

[2020-02-05 14:38] dvescovi1 commented on #2734
the standard Linux vm allocated on Azure does not have a big enough drive so I had to mount an extra 2TB drive to _work mount point

[2020-02-05 14:38] jtpetty commented on #2734
Then I would do the following:

[code]

[2020-02-05 14:48] dvescovi1 commented on #2734
looks like the original install script I used put the agent in my home directory /home/david/azp …should it be off the root?

[2020-02-05 14:51] jtpetty commented on #2734
it can be wherever, but all the files need to be owned by the user the agent is being run as.

[2020-02-05 14:59] dvescovi1 commented on #2734
look like queued jobs are now running!

[2020-02-05 15:08] dvescovi1 commented on #2734
is there a command I can use to dump version number and status that is running?

[2020-02-05 16:39] thurfir commented on #2751
Thank you @jtpetty , we will update our agents once it is release.

[2020-02-05 22:41] #2734 closed

[2020-02-06 10:49] Tragetaschen commented on #2570
Are there any updates?
Every Download Pipeline Artifacts task is still struggling. In my most recent build, uploading 530 MiB (two files) took 2.5 minutes while downloading that same artifact afterwards took 20 minutes

[2020-02-06 12:14] trevonmckay commented on #2513
I'm having the same issue but the suggestion from @sidleegit is not working for me

![image](https://user-images.githubusercontent.com/18320804/73936237-5d00d100-48b0-11ea-901e-16d7549e5251.png)

[2020-02-06 12:26] sidleegit commented on #2513
@trevonmckay , have you restarted your server after applying the fix I gave ? I noticed last time I used it that without a restart, the ADO pipeline provisioning would still fail, but would immediately work after a quick reboot.

[2020-02-06 12:56] PaulVipond commented on #1749
I'm using the suggested approach for optional execution of a template:

![image](https://user-images.githubusercontent.com/403385/73938752-cea44380-48df-11ea-9235-cc3be5df737c.png)

And get:

/build-templates/steps/node-app-deploy-steps.yml@templates: (Line: 76, Col: 19, Idx: 3882) - (Line: 76, Col: 19, Idx: 3882): Mapping values are not allowed in this context. If I remove the parameters, then th

[2020-02-06 13:28] vtbassmatt commented on #1749
Nothing to laugh at -- YAML is a confusing beast :grin: Glad you got it solved.

[2020-02-06 17:15] jahsu-MSFT commented on #2570
Adding @fadnavistanmay who will be working on Pipeline Artifacts related features/improvements.

[2020-02-06 17:35] jtpetty commented on #2762
@giddyelysium13 - I think this issue is related to #2475. I am working to get this issue prioritized soon.

[2020-02-06 17:49] alex-peck commented on #2475
Perhaps a better solution would be to have the `run.sh` script use the new version of the bin folder instead of moving it.
So for example:
Agent starts with `bin/` and `externals/`
During the update, instead of moving files around, we download the new binaries to `bin.(VERSION)` (similar to what we do now).
Then, the `run.sh` script knows to look for the highest version available and just runs the

[2020-02-06 19:51] jtpetty commented on #2770
I was unable to reproduce this in a simple setup.  Are you using YAML pipelines? If so, would you mind sharing your pipeline with me? Specifically the checkout step and how you are using $(Build.Repository.Clean).

[2020-02-06 20:08] ReneSchumacher commented on #2770
Hey,

for my tests I have been using a classic pipeline working on a Azure Repos Git repo, clean option set to true and source directory. I only put two tasks in the pipeline: one that dumps all variables and one PowerShell task that explicitly logs the values of $env:BUILD_REPOSITORY_CLEAN.

I can repro the problem by simply installing a v2.164.6 private agent. I added you to my internal AzDO pro

[2020-02-06 20:23] jtpetty commented on #2475
I think that would work if we could guarantee no customer is relying on accessing the binaries through bin/ or externals/. I am not sure we can do that. There are a few places where we reference git or node through $AGENT_ROOT/externals. The ```run.sh``` script is not the only entry point to the agent.

[2020-02-06 20:30] jtpetty commented on #2475
Another option as I think about it might be to use ```rename``` instead of ```move```. I am not sure if ```rename``` works better with file locks.

[2020-02-06 20:33] vtbassmatt commented on #2763
It's a misfeature that we conflated pipeline variables with environment variables so much 😦 If you want to set actual environment variables, in a YAML pipeline do this:

[code]

Setting `variables` in the pipeline is not supposed to be a 1:1 mapping to environment variables. (And with the benefit of 20/20 hindsight, we would do this very differently.)

[2020-02-06 20:33] #2763 closed

[2020-02-06 20:52] Lectem commented on #2763
Then add a `env:` for jobs, repeating the variable for all steps is annoying...

[2020-02-06 21:04] jtpetty commented on #2770
@ReneSchumacher - Thanks for the information. I was able to reproduce this now and am working on a fix.

[2020-02-06 21:20] jtpetty commented on #2721
Can you try ```$(Build.Repository.Name)``` instead of ```$(Build.Reposity.Name)```

[2020-02-06 21:54] jtpetty commented on #2757
ok, great, at least there is a workaround for you. I will take a look at how we can fix this in our command argument parsing logic.

[2020-02-06 21:56] jtpetty commented on #2460
Have you tried this with the latest agent release?

[2020-02-07 05:01] trevonmckay commented on #2513
@sidleegit yes restarting did solve it. Thanks!

[2020-02-07 09:50] stephenmoloney commented on #2475
Hi @jtpetty and @alex-peck

I quite like the idea of downloading to new directories - but as you say there are potential impacts on other customers who make direct references to those files.

Some further thoughts:

- Check for any residual file handles. Log the existence of such file handles. Close any residual file handles. Perhaps [handle](https://docs.microsoft.com/en-us/sysinternals/downloads

[2020-02-07 13:55] MichaKnoe commented on #1764
I totally aggree, that this is very painfull.
But I fear we need to consider the requested issue to be a new maybe quite complex feature.
Here I found a similar feature request:
https://developercommunity.visualstudio.com/content/idea/366517/ability-to-test-yaml-builds-locally.html --> please upvote it.

[2020-02-07 19:00] #2770 closed

[2020-02-07 19:47] vtbassmatt commented on #2764
We're not familiar with CyberArk or PAS. Please provide more details, including the steps you took to get here. (From the screenshot it looks like this is in the web someplace. That seems unlikely to be related to the Azure Pipelines agent, which is a command-line daemon.)

[2020-02-07 20:52] jtpetty commented on #2490
@memao - I apologize for the delay in responding back to you. Are you still seeing this issue? I am not aware of anything running on the hosted agents that might cause this.

If you are still seeing this, can you share the pipeline you are running?

[2020-02-07 20:53] #2486 closed

[2020-02-07 20:58] jtpetty commented on #2469
Closing due to inactivity. If the problem still exists, please feel free to open a new issue.

[2020-02-07 20:58] #2469 closed

[2020-02-07 21:03] jtpetty commented on #2445
@lmicverm - I apologize for the delay in responding to this issue. Is the problem still occurring? If so, can you give me more information about your account and which builds and pools you are seeing this behavior?

[2020-02-07 21:09] vtbassmatt commented on #2446
Sorry for the issues you faced in September, and for the delay in responding. This doesn't sound like an agent issue, and should be filed on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

Something to include in that report: did it fail or was the stage skipped? I agree that we could do a better job "showing our work" when we compute that a stage should b

[2020-02-07 21:09] #2446 closed

[2020-02-08 19:11] kirkone commented on #2332
@alex-peck I think the new version is released, so this can be closed.

Thanks all for getting this sorted.

[2020-02-09 21:28] xaviertop opened #2774 "multiple-agent installation, problem name"
Hi,

i have trouble with installation in CENTOS for azure devops agent.
when i install a agent in /data/agents/agent1 with name : "build-linux-docker-prod-172.16.3.35-eu-west-1-a1", i tried to install the second et i have an error in command "sudo ./svc.sh install".
i think that name of service created is not correct and i can't create a second service for my "build-linux-docker-prod-172.16.3.35-e

[2020-02-10 11:24] StingyJack commented on #2486
@jtpetty - how are we supposed to know if they are the same? This TF30063 (why rename it?) error pops up all the time and has since VS 2017 was released. I fairly sure its due to adding all the git ~advertising~ support.

Why did you suggest an azure devops url when OP clearly has an on premises server? Reopen and review this, if you need more examples I've pointed  out where to find them above.

[2020-02-10 11:54] #2494 closed

[2020-02-10 19:11] #1417 closed

[2020-02-10 19:19] stephenmichaelf commented on #1553
@chshrikh Could you take a look? We should either confirm we want to do this or close.

[2020-02-10 19:20] stephenmichaelf commented on #1569
@davekenn Could you route to the right person on your team to take care of this?

[2020-02-10 19:28] damccorm commented on #1682
Hey, thanks for the feedback - we're tracking this internally and it should be coming soon. I'm going to close here since the feedback has been propogated internally.

[2020-02-10 19:28] #1682 closed

[2020-02-10 19:28] damccorm commented on #1691
Hey, thanks for the feedback - we're tracking this internally and it should be coming soon. I'm going to close here since the feedback has been propogated internally.

[2020-02-10 19:28] #1691 closed

[2020-02-10 19:28] damccorm commented on #1700
Hey, thanks for the feedback - we're tracking this internally and it should be coming soon. I'm going to close here since the feedback has been propogated internally.

[2020-02-10 19:28] #1700 closed

[2020-02-10 19:38] stephenmichaelf commented on #2190
@fadnavistanmay Could you take a look at this please?

[2020-02-10 19:42] #2235 closed

[2020-02-10 19:51] #2332 closed

[2020-02-10 19:52] #2336 closed

[2020-02-10 19:53] stephenmichaelf commented on #2338
@vtbassmatt Could you take another look at this?

[2020-02-10 19:54] damccorm commented on #2756
Hey, thanks for the feedback - we're tracking this internally and it should be coming soon. I'm going to close here since the feedback has been propogated internally.

[2020-02-10 19:54] #2756 closed

[2020-02-10 19:54] damccorm commented on #2347
Hey, thanks for the feedback - we're tracking this internally and it should be coming soon. I'm going to close here since the feedback has been propogated internally.

[2020-02-10 19:54] #2347 closed

[2020-02-10 19:55] damccorm commented on #2746
Hey, thanks for the feedback - we're tracking this internally and it should be coming soon. I'm going to close here since the feedback has been propogated internally.

[2020-02-10 19:55] #2746 closed

[2020-02-10 19:56] damccorm commented on #2523
Hey, thanks for the feedback - we're tracking this internally and it should be coming soon. I'm going to close here since the feedback has been propogated internally.

[2020-02-10 19:56] #2523 closed

[2020-02-10 19:56] damccorm commented on #2693
Hey, thanks for the feedback - we're tracking this internally and it should be coming soon. I'm going to close here since the feedback has been propogated internally.

[2020-02-10 19:56] #2693 closed

[2020-02-10 19:57] stephenmichaelf commented on #2390
Closing as this has been moved to the tasks repo.

[2020-02-10 19:57] #2390 closed

[2020-02-10 20:01] stephenmichaelf commented on #2415
@nigurr Could you update the status of this one?

[2020-02-10 20:02] stephenmichaelf commented on #2429
Closing as this feature has been released.

[2020-02-10 20:02] #2429 closed

[2020-02-10 20:04] #2443 closed

[2020-02-10 20:07] stephenmichaelf commented on #2453
Related issue is closed so closing this.

[2020-02-10 20:07] #2453 closed

[2020-02-10 20:10] stephenmichaelf commented on #2475
@jtpetty This is related to our current agent work stream.

[2020-02-10 20:11] stephenmichaelf commented on #2496
This should be fixed with .NET Core 3.1.

[2020-02-10 20:16] stephenmichaelf commented on #2595
This has been rolled out, closing.

[2020-02-10 20:16] #2595 closed

[2020-02-10 20:50] jtpetty commented on #2774
@xaviertop - In order to help you we will need more context and logs of what is actually occurring when you are setting up the agent.

One thing to note, each instance of the agent must be installed in its own directory.

[2020-02-10 20:51] achamayou commented on #2756
@damccorm thank you! If you need beta testers, you can certainly count on us.

[2020-02-10 20:57] PaulHigin commented on #2338
Sorry, I somehow missed this.  Yes, Ctrl+Break causes PowerShell to break into the script debugger.  Ctrl+C stops any running script.

In older versions of PowerShell, Ctrl+Break  used to terminate the current session.  We could add that behavior back as an option, but it would require an update.

[2020-02-11 00:51] chshrikh commented on #1553
This is low priority as per customer asks, closing this for now

[2020-02-11 00:51] #1553 closed

[2020-02-11 08:10] kevinvaningen opened #2778 "Azure self hosted agent for docker fails on whoami command"
## Agent Version and Platform
Self Hosted agent with agent version 2.164.7

OS of the machine running the agent? OSX/Windows/Linux/...
Linux RHEL

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server?
Dev.azure.com

If dev.azure.com, what is your organization name?
Would rather not disclose.

## What's not working?
We use docker based co

[2020-02-11 10:04] kevinvaningen commented on #2778
Found it. The agent installation directory no the host was chowned to a wrong user by an infrastructure script. For a new agents's first run this is really visible because of an error like `##[error]Unhandled Exception: System.UnauthorizedAccessException: Access to the path '/opt/ado_agents/…….`   but for an existing agent it turns out the whoami is the first command that touches a file after the

[2020-02-11 10:04] #2778 closed

[2020-02-11 12:14] ScottGuymer commented on #2460
Im not 100% sure it is a pipelines issues or if it is an issue with GIT itself.

Do you test the agent in this configuration on linux?

[2020-02-11 13:55] jtpetty commented on #2460
I am not aware of an explicit test we have with using client certificates. Since we do not ship git with the agent for Linux, what version of git do you have installed?

[2020-02-11 16:18] lg2de commented on #2194
I'll create a PR to illustrate my thoughts.

[2020-02-11 17:02] ChristianStadelmann commented on #2189
In my case, I see hundreds of branches when executing `$ git branch --all`. They all have the schema `remotes/pull/[PR number]/merge`

[2020-02-11 18:00] vtbassmatt opened #2782 "Secrets masking improvements"
Two additional scenarios to consider for secrets masking:
- `HTTP_PROXY` and `HTTPS_PROXY` are URLs which could contain an embedded secret in the form of `https://user:password@domain`. There are places in the agent code where this can end up echo'd to the console. I think (but haven't proven) that they're all protected by existing secrets masking.
- More generally, any http(s) URL printed to the

[2020-02-11 18:04] johnterickson commented on #2782
galaxybrain.gif

Love it!

[2020-02-11 18:07] SmUrF3R5 commented on #2721
my bad the var works in the TargetPath parameter. But the display parameter does not output the var correctly. It outputs the literal name

![image](https://user-images.githubusercontent.com/25916918/74264884-b4db7580-4cbe-11ea-820c-917136239f3a.png)

[code]

[2020-02-11 18:13] vtbassmatt commented on #2782
@johnterickson I do too, I just don't what it'll do to perf 🤣

[2020-02-11 18:20] johnterickson commented on #2782
Just make sure to create the object once and call it with RegexOptions.Compiled :)

There was a bad incident some time ago when the Regex internal cache started trashing 😱

https://docs.microsoft.com/en-us/dotnet/standard/base-types/compilation-and-reuse-in-regular-expressions

[2020-02-11 18:55] vtbassmatt commented on #2500
BYOS handles this by handing out an access token that's good for registering an agent. I'm researching what options you have outside of that specific path.

[2020-02-11 18:58] vtbassmatt commented on #2497
.NET Core 3.1 support is coming to the agent shortly, then we can evaluate this request.

[2020-02-11 19:29] vtbassmatt commented on #2412
Following up with our code signing folks to figure out the story here.

[2020-02-11 19:30] vtbassmatt commented on #2500
From talking with our identity/authZ folks, this isn't easy to do. For anyone who wants to push on this, the best path is opening a suggestion ticket on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html).

[2020-02-11 19:30] #2500 closed

[2020-02-11 19:31] vtbassmatt commented on #2062
We're moving to .NET Core 3.1 shortly. While I don't have plans to ship a Windows ARM32 build (since x86 emulation seems to work pretty well), I'm not opposed to it. We would likely still rely on x86 emulation for dependencies like Git and Node -- would that be acceptable?

[2020-02-11 19:37] vtbassmatt commented on #1997
Now that we have proper `--once` handling, it would be great to make the agent accept a signal that it should finish the current job and then go away.

[2020-02-11 19:42] jtpetty commented on #2721
Awesome. It appeared to just be a problem with us not resolving some variables for the display name.

[2020-02-11 20:00] vtbassmatt commented on #2338
Thanks @PaulHigin - so should we be sending Ctrl+C and never Ctrl+Break to trigger the behavior we want?

[2020-02-11 20:42] PaulHigin commented on #2338
Yes.  But keep in mind that Ctrl+C sends a stop signal to the currently running PowerShell script or command.  If PowerShell is running a native command, it cannot respond to the stop signal until the command call returns.  So in a hang (waiting indefinitely for a native command call t return) situation, the stop signal will not be effective.

[2020-02-11 21:07] SmUrF3R5 commented on #2721
Thanks @jtpetty do i need to update my agent to get these changes? or do the agents auto-update?

[2020-02-11 23:18] philipktlin commented on #2062
understood the difficulties.  For now I am using another vsts agent to deploy bits to Windows ARM32 device using remote powershell.

[2020-02-12 02:33] TravisEz13 commented on #2062
PowerShell still needs this to test the scenario that @philipktlin is saying that he is using.

[2020-02-12 11:34] mthalman commented on #2062
Can we please keep this issue open?  My team's scenario involves the building/testing of .NET Docker ARM images.  Right now we need to have a Linux agent machine that communicates with a remote ARM device.  We'd really like to simplify our infrastructure by simply having the ARM device act directly as the agent.

[2020-02-12 13:10] stephenmichaelf opened #2786 "Add static analysis to Agent.Sdk.csproj"
When [adding Static Analysis to the Agent](https://github.com/microsoft/azure-pipelines-agent/pull/2781), there is an issue with `Agent.Sdk.csproj`.

Once it's added, we get the following error:

`Publishing build artifacts failed with an error: Not found PathtoPublish: /__w/1/s/src/Test/TestLogs`

Investigate why so we can add Static Analysis to the project.

[2020-02-12 13:39] jtpetty commented on #2721
The agent will eventually auto-update. Once the referenced PR gets merged, the next agent release will have this fix.

[2020-02-12 13:39] vtbassmatt commented on #2062
Sure, let's leave it open a bit longer to see if we can fit it in.

[2020-02-12 15:14] #1676 closed

[2020-02-12 16:29] lg2de commented on #2194
@TingluoHuang I analyzed the code.
I found that the option `gituseschannel` is for Windows only.
I do not see any reason why we should not use SChannel by default.
Would you accept a PR changing default behavior?
Do we need an option to disable SChannel by default?

[2020-02-12 16:32] vtbassmatt commented on #2338
Gotcha, thanks. I'm not sure there's more we can do, then. We already try sending Ctrl+C first and wait a bit before sending Ctrl+Break. That should cover all the scenarios I think.

[2020-02-12 16:32] #2338 closed

[2020-02-12 18:50] TingluoHuang commented on #2194
@vtbassmatt to help. :)

[2020-02-12 19:16] vtbassmatt commented on #2194
Seems like a potentially back-compat breaking change with very limited positive effects. Unlikely to take that as a PR, sorry.

[2020-02-12 19:16] #2194 closed

[2020-02-12 19:17] Shakevg commented on #2155
Problem was related with network adapter issue on virtual machine with Agent.
Microsoft helped to figure out the root cause and we are working on fix.
Issue can be closed.

[2020-02-12 19:42] dcparsons opened #2789 "Build Agent fails after server reboot"
## Agent Version and Platform
Version of your agent? 2.153.1

OS of the machine running the agent? Windows Server 2012

## Azure DevOps Type and Version
Azure DevOps On-Prem | Dev17.M153.3

## What's not working?
I am configuring on-prem build agents using the following command:

`.\config.cmd --sslcacert ca-cert-bundle.pem --sslclientcert client-cert.pem --sslclientcertkey client-cert-key.pem --s

[2020-02-12 20:46] #2721 closed

[2020-02-12 20:49] bradselw commented on #2763
I have confirmed that this works for preserving both casing and `.` characters in an environment variable name. Also, the `env:` is [supported for all steps, including tasks](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#steps):
[code]

[2020-02-12 21:17] tristanbarcelon commented on #2758
Reverting to 2.159.2 or 2.164.6 seems to have fixed the issue. Seems to be a problem with the bundled externals?

In any case, if you have to revert, follow this powershell script. What I present below only applies to how we install agents. Conventions are good, made it easy for me to revert 16 instances of agent in one box.

[code]

[2020-02-12 22:04] Lectem commented on #2763
Sorry I wasn't clear enough: the issue is not whether or not it can be applied o-o any kind of step, but whether it can be set on a job scope for all its steps at once.
Right know I would have to duplicate the `env:` mapping for each step of a job.

[2020-02-12 23:58] ltrzesniewski commented on #2356
I've noticed that NuGet restore is also very slow on Microsoft-hosted agents (also see #2134, which got dismissed). I guess the underlying issue is the same.

Anyway, here's some info I found out from a project of mine, in case it could be helpful:

 - [Caching the global packages cache](https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/?view=azure-devops) does not seem to help, so t

[2020-02-13 08:40] dennisroche commented on #2329
To highlight this further as I just suffered through a few hours of debugging this.

You will get this error if you have a **variable** named `path` in your pipeline as overwrites the environment variable on the agent.

[code]

💥 🤦‍♂

[2020-02-13 08:57] lg2de commented on #2194
@vtbassmatt, I wonder how you come up with "limited positive effects".
I can't imagine who wouldn't want to use the certificate store in Windows.

[2020-02-13 10:25] EmFl commented on #2688
Hello,
I'm seeing 2.164.8 as a prerelease on github and this is I guess confirmed by the fact that calling _apis/distributedtask/packages/agent?platform=linux-x64 doesn't list 2.164.8 version. So when I build my docker image, it installs 2.164.7, however, when my agent starts, it gets updated with 2.164.8...

[2020-02-13 10:33] vtbassmatt commented on #2194
@lg2de it's limited because, for anyone for whom this matters, they're already specifying `-gituseschannel` at config time. For everyone else, the change is neutral (vast majority of cases) or potentially harmful (misconfiguration where OpenSSL knows about a corporate root CA but Windows cert store doesn't, for example).

Yes, I wish SChannel was the default on Windows. And we're looking at ways t

[2020-02-13 13:19] vtbassmatt commented on #2782
Turns out, we already have a regex masker implementation. I just had to throw a new regex at it.

[2020-02-13 14:44] jtpetty commented on #2688
We are currently rolling out 2.164.8 and it has not gone out to all customers yet. Once it is completely rolled out, it will be marked as 'released'. We are working on a better way to communicate the agent version rollout, but unfortunately GitHub only gives us two states to work with, Pre-Release and !Pre-Release. This makes our use case a little difficult since we roll out the agent to customers

[2020-02-13 15:17] GeradeDev commented on #1416
@vtbassmatt Any update on this?

[2020-02-13 15:54] vtbassmatt commented on #1416
We are not planning to deliver a PowerShell Core handler.

[2020-02-13 16:04] #2782 closed

[2020-02-13 16:43] mthalman opened #2793 "Partial secrets get output in logs with no scrubbing"
## Agent Version and Platform
2.164.8

OS of the machine running the agent?
Windows

## Azure DevOps Type and Version
dev.azure.com/dnceng

## What's not working?
I have a PowerShell task that gets called from my pipeline and a secret value is being passed as a parameter.  The script then calls `Invoke-Expression` to execute an external process, passing the secret again here.  The process fails an

[2020-02-13 18:59] mthalman commented on #2793
I believe I've found another variant of this where PowerShell splits the output into multiple lines where the password can be in the middle of that line split.  This means the full password can be visible in the output; it's just split between two lines.

[2020-02-13 19:36] stephenmichaelf commented on #2786
We were able to resolve this in the PR, closing.

[2020-02-13 19:36] #2786 closed

[2020-02-13 19:53] isgallagher commented on #1911
Any update to this?  Would be great to have a hosted agent running for e.g. multiarch/ubuntu-core:arm64-xenial to build arm64 packages.

[2020-02-14 01:29] wizicer commented on #2394
I'm also suffering from this issue as agent is refused to build without latest update. Now I'm trying to extend timeout mentioned in #2241 .

[2020-02-14 02:48] KhuongNtrd commented on #2496
@jtpetty the latest version of agent work perfectly

[2020-02-14 09:55] VerdonTrigance commented on #1751
Hi everyone. I'm still have troubles with clarifying what quotes where to use and how expressions and variables work in templates. It is nonsense, it just like playing blindly in lottery. I have no chance to know when and in witch order all these tricks parsed. Using yaml is awful, terrible part of my life. This is so hard not userfriendly!

[2020-02-14 13:02] jtpetty commented on #2496
Great! Thanks for letting us know.

[2020-02-14 13:02] #2496 closed

[2020-02-14 13:09] vtbassmatt commented on #1911
There will not be hosted agents running ARM64, even once we ship an ARM64 agent. You'll be able to use self-hosted or elastic self-hosted pools, though.

[2020-02-14 13:14] vtbassmatt commented on #1751
Hopefully [this](https://docs.microsoft.com/azure/devops/pipelines/process/runs#process-the-pipeline) helps some.

[2020-02-14 13:33] NGPixel commented on #1911
@vtbassmatt Any ETA or status update when it will be available?

[2020-02-14 14:27] vtbassmatt commented on #1911
Unfortunately no. I've made soft promises before and had to break them, so I won't do that here. Hopefully soon!

[2020-02-14 16:20] brwilkinson commented on #2510
Hi @moswald any chance you might want to look into the V2 extension for this?

The install process is the same, it's just a slightly different command line argument to connect into the Deployment Agents, instead of the Deployment groups.

[2020-02-14 16:38] stephenmichaelf opened #2794 "Fix Static Analysis issues and turn Warnings to Errors"
We may need to break this down by each error code.

[2020-02-14 18:25] iambernics opened #2795 "Impersonation in Script Task not possible?"
Hi All,

I would like run a python script as different user than the service user of the Agent.
I am trying call the python in PowerShell script task with Start-Process and -Credential attribute.

When the -Credential defined, it fails - looks like the ADO do not support this method.
The script is working in an interactive PS session (RDP) and the second user has local authentication role on the a

[2020-02-14 19:30] giggio commented on #2688
How about using semver as per the example for `2.163.0`?

[2020-02-14 20:28] ScottGuymer commented on #2460
I tried a couple. I did a write up on SO here

https://stackoverflow.com/questions/57473558/git-with-client-certificates-failing-and-working-with-curl

[2020-02-15 01:50] jkunkee commented on #1911
Note that on ARM64 Windows desktop, the x86 client should run under emulation. I have not tried this, so of course YMMV, but it should be on par with the x86 client on x64.

Once the client is on .NET Core and .NET Core supports ARM64 Windows, then it should(TM) Just Work.

[2020-02-15 11:01] cforce commented on #1743
The only reason i want to cancel ist doing a check that triggers outside of working ours shall not start the stage.irs due limitation for stage schedule which does not support that. At the end it don't wanna have a failed build, moreover one that should never be triggered.

[2020-02-15 16:50] heaths opened #2797 "vswhere needs to be updated"
I see you are using vswhere 1.0.62 which contains a possible [deadlock issue from the CRT](https://github.com/microsoft/vswhere/issues/87) I fixed for version [2.1.3](https://github.com/microsoft/vswhere/releases/tag/2.1.3). I recommend you update to the [latest](https://github.com/microsoft/vswhere/releases/latest) to make sure this and any other changes are fixed. This also includes a fix to cor

[2020-02-15 18:12] heaths commented on #2797
Unfortunately, I can't fix this myself. Once I forked and started digging in, I see you're pulling it from a container. Instead, you might consider just pulling from https://www.nuget.org/api/v2/package/vswhere which will download the latest .nupkg, which is just a ZIP file. You can find vswhere.exe in tools/ at the root of the zip.

If you don't like the idea of pulling from a dynamic version (th

[2020-02-15 19:33] heaths commented on #2797
I modified externals.sh to actually pull from nuget and used a fixed URL, though it wouldn't have to be. Modifications are to use getopts_long-like functionality (though, simple bash script to avoid dependencies) which don't rely solely on positional parameters (other than source and target) and make the rest of the "flags" more obvious. PR forthcoming.

[2020-02-15 22:25] mletterle commented on #1542
The text on the page has been updated, looks like this can be closed:

[2020-02-17 08:56] iambernics commented on #2795
Hi @vtbassmatt,

Can you confirm with calling a simple start-process / runas / psexec with different AD user from a Script Task, please?

Thanks a lot!

Regards,
Gabor

[2020-02-17 14:42] ivan-sam opened #2799 "Repository checkout to custom path brings built-in env vars to incorrect state"
## Agent Version and Platform
Version of your agent? 2.164.8

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
Having a job in a YAML pipeline with single checkout of a non-default repository to a custom path causes errors in subsequent steps due to incorrect state of built-in environment variables. I've noticed the wrong behavior

[2020-02-17 15:18] ivan-sam commented on #2799
There's workaround that shows the problem's nature:

[code]

[2020-02-18 09:04] DalpheSDC opened #2801 "Vulnerabilities in GIT and NojeJS in version 2.164.6"
## Agent Version and Platform
Version of your agent? 2.164.6

OS of the machine running the agent? OSX/Windows/Linux/...
Windows 2008/2012/2016
## Azure DevOps Type and Version
Azure DevOps Server 2019 update 1

## What's not working?
Vulnerabilities in GIT and NojeJS
GIT 2.x Multiple Vulnerabilities
CVE references
CVE-2019-1350 | CVE-2019-1351 | CVE-2019-1354 | CVE-2019-1348 | CVE-2019-1352 | CVE

[2020-02-18 11:45] shyshkov commented on #956
I had the same problem with the project. @erwinkramer was close to the solution.

The problem lies in the wrong .NET Framework runtime version.

One has to install the correct .NET Framework runtime version!

i.e. I had 4.6.2 on the Windows Server 2016, but an application requires 4.7.2, this is why I got a method not found in Unity object exception and KERNELBASE.dll exception also in Events.

ht

[2020-02-18 13:14] ionutleca opened #2802 "Agent started as service won't use the AGENT_TOOLSDIRECTORY environment variable."
If the agent is started as a service, it will default to the `_tools` value for the Agent.Toolsdirectory variable and tasks like [UsePython](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/use-python-version) will not see the hosted tools cache. Adding `AGENT_TOOLSDIRECTORY` to `varCheckList` should make that variable available in the service context.

https://github.com/microso

[2020-02-18 13:27] ThKaufmann-PG commented on #2750
I'm having a similar problem, see here:
https://github.com/MicrosoftDocs/vsts-docs/issues/7324

Yet I don't know what is the exact issue and where to attach this question to, but the only specific indication towards an error is this in the agent log:

INFO ProcessInvokerWrapper] Exited process 9447 with exit code 102

Is there an explanation of these error codes somewhere?
This happens in a publis

[2020-02-18 14:56] hbuckle commented on #2745
I'm investigating running agents on AKS as well and have been thinking about how to handle this - I'm planning to run the agents with run-once mode, but still want to ensure they don't get terminated mid job (due to cluster upgrade or similar). Is there any way to query the agent to find out if it is currently running a job? Then something like a pre-stop hook could be used to block termination un

[2020-02-18 15:13] #1542 closed

[2020-02-18 15:24] vtbassmatt commented on #2795
I don't see why this wouldn't work, and in fact we've given this as a workaround to customers in the past.

[2020-02-18 15:26] gpad opened #2803 "Problem on connecting to services"
## Agent Version and Platform
Version of your agent? 2.144.0/2.144.1/...

Agent name: 'Hosted Agent'
Agent machine name: 'fv-az712'
Current agent version: '2.164.8'
Current image version: '20200211.1'
Agent running as: 'vsts'
Prepare build directory.
Set build variables.
Download all required tasks.

## Azure DevOps Type and Version
dev.azure.com
https://dev.azure.com/manpremo

## What's not worki

[2020-02-18 16:29] avivanoff commented on #2755
@jtpetty, @fadnavistanmay, can we get some updates? This issue is blocking us from using this task.

[2020-02-18 17:03] #2321 closed

[2020-02-18 17:03] #2267 closed

[2020-02-18 17:03] #2224 closed

[2020-02-18 17:03] #2228 closed

[2020-02-18 17:03] #2212 closed

[2020-02-18 17:03] #2117 closed

[2020-02-18 17:03] #1625 closed

[2020-02-18 18:03] #2045 closed

[2020-02-18 18:03] #2189 closed

[2020-02-18 18:03] #2006 closed

[2020-02-18 18:03] #2041 closed

[2020-02-19 09:32] ChristianStadelmann commented on #2189
@azure-pipelines-bot : Please un-close this issue. IT is still present.

[2020-02-19 14:45] Beakster opened #2804 "Mounting a volume into home directory makes entire home unwritable"
## Agent Version and Platform
2.153.1
Ubuntu 18.04 LTS

## Azure DevOps Type and Version
Azure DevOps Server 2019 Update 1

## What's not working?
When a volume is mounted into the home directory, this is done before the user is created.  This causes the agents home directory to be owned by root and read only which breaks the rest of the build.

I am using Azure DevOps to build a Java application

[2020-02-19 20:03] #2155 closed

[2020-02-19 20:19] jz3xyz commented on #1569
I'm having the same issue with a bash script in a release pipeline.

I'm setting colors using
[code]
Ado likes to interpret them as is
[code]

[2020-02-19 21:10] thiagofborn commented on #1569
Hello there.

I hope you guys are having loads of fun.
However, I need to ask...

Did you find any workaround for this?

<img width="703" alt="Capture" src="https://user-images.githubusercontent.com/6710946/74876605-e35eed80-535b-11ea-8761-f83f954ec063.PNG">

[2020-02-19 23:52] jstevans commented on #1997
Agreed, @vtbassmatt 🙂 It'd be nice if this could take the form of either/both of:

* some out-of-band IPC, so that folks can do graceful host wind-down -- e.g: SIGTERM if this isn't already used, or the presence of a `.wind-down` file in the agent diagnostic directory
* a task within a job that the agent is running, so that build admins can do resource management from within ADO

[2020-02-21 02:40] jklemmack commented on #1895
@rishibamba How do you schedule maintenance for the Agent/Pool?  I don't see any option in the UI for that ...

[2020-02-21 07:14] AThomsen commented on #2801
We have the same problem with the old versions still being present.
Our security team scans all servers (build and deployment groups) and complains of the mere existance of old versions.

[2020-02-21 12:49] ttrotzki opened #2808 "TF-VC - update agent from 2.153.1 to 2.164.7 results in "Exception calling "GetWorkspace" with "1" argument(s): "There is no working folder mapping for <file>""
## Agent Version and Platform
Update from 2.153.1 to 2.164.7 causes the problem

OS of the machine running the agent? OSX/Windows/Linux/...
Windows 2012 R2

## Azure DevOps Type and Version
Azure DevOps Server 2019.1.1 (EN/US)

## What's not working?
[error]Exception calling "GetWorkspace" with "1" argument(s): "There is no working folder mapping for <file>."
After an upgrade of the agent we get t

[2020-02-21 15:21] jamers99 commented on #2770
I see this is in [v2.165.0](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.165.0)! Great! It's been in prerelease for a week now, how soon will that be generally released?

[2020-02-22 11:03] #1743 closed

[2020-02-23 01:54] vectorhacker commented on #2203
Hi, this was a while, but could you elaborate on what you did with the GIT_PAT? Is that an environment set by the pipelines agent or was it added by you?

[2020-02-24 11:49] gpad commented on #2803
Hello, Can anybody help me here?

[2020-02-24 18:17] jtpetty commented on #2804
One thing you could try, mount ```/home/agent_azpcontainer/.m2``` as some other path, like ```/tmp/agent_azpcontainer_m2``` and then set ```M2_HOME=/tmp/agent_azpcontainer_m2``` in  the task so that you are not attempting to mount into the home directory.

[2020-02-24 18:34] Mukund-UBS opened #2813 "Azure Devops Self Hosted Agent"
Hi

I am looking for one help where I am creating my Chef Inspec Content Scanning Pipeline.

For doing this I am using your self hosted agent feature and chef inspec execution task in my YAML file.

Now in our project, the ask is - what if we can achieve something like below -

1. Firstly new VM creation
2. Scan the VM from Chef Inspec content pipeline ( Here i want to use the VM name which is cre

[2020-02-24 18:55] Beakster commented on #2804
Hi @jtpetty , Yes that's an option.  What I've actually done now is I'm just mounting the entire /home/agent directory into the container at /home/agent_azpcontainer.  That seems to work well.  It does mean that a build could mess up something else in the home dir, but that could happen when building outside of a container on the agent anyway.

I'm coming to the realisation that as nice as the ide

[2020-02-24 19:18] dcparsons commented on #2789
I have resolved this.  This was actually a problem with the service account that was being used to run the agent.  It seems that the service account was configured to use the TEMP profile so our infrastructure team modified the user to use a "real" profile.  The services now come back online once the server is restarted.

[2020-02-24 19:18] #2789 closed

[2020-02-25 05:50] avivanoff commented on #2755
@jtpetty, @fadnavistanmay, another week has passed, still no updates.

[2020-02-25 06:02] avivanoff opened #2814 "Agent runnig on Windows as a service should set service SID type to SERVICE_SID_TYPE_UNRESTRICTED"
## Agent Version and Platform
Version of your agent? 2.164.8

OS of the machine running the agent? Windows Server

## Azure DevOps Type and Version
dev.azure.com

To allow more flexibility with access control of an agent running as a service on Windows, a service SID type should be set to **SERVICE_SID_TYPE_UNRESTRICTED**.

[2020-02-25 15:03] #2164 closed

[2020-02-25 15:51] jtpetty commented on #2804
@Beakster - Yes, containers are not a magic bullet and while they solve some problems, the bring about a different set of complexities. I don't know of any way to fix the issue you are reporting from the agent itself, since docker is creating that directory before we have an opportunity to run commands in the container without a major restructuring of how we handle job containers, which would like

[2020-02-25 15:51] #2804 closed

[2020-02-25 16:00] vtbassmatt commented on #2813
You can get community support for specific scenarios on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html). We also have support agents who monitor that forum and can provide assistance. This forum is for bugs and feature requests in the agent, not help with using it. Thanks!

[2020-02-25 16:00] #2813 closed

[2020-02-25 19:39] damccorm commented on #2458
Hey @michaelharrod sorry for the slow response. This looks like an issue with the image the agents are hosted on, not the agent itself. If its still an issue, would you mind filing it at https://github.com/actions/virtual-environments/issues?

[2020-02-25 19:39] #2458 closed

[2020-02-25 19:59] brwilkinson commented on #2628
just to confirm it appears as setting the following has likely resolved this issue.

$ProgressPreference = 'silentlycontinue'

[2020-02-26 01:04] fadnavistanmay commented on #2755
Hi @avivanoff - could you please provide the logs for the slow task, with verbose. Are you able to repro this all the time?

[2020-02-26 08:24] ruicao93 commented on #1505
Any update on this enhancement? My team also needs this feature after some installation.

[2020-02-26 11:41] atyourservers opened #2817 "VM extension TeamServicesAgentLinux fails with "Incorrect VSTS account credentials""
## Agent Version and Platform
Version of your agent?
2.165.0 (Hosted V2017)

OS of the machine running the agent?
CIS Red Hat Enterprise Linux 7 Benchmark L1

Publisher: center-for-internet-security-inc
SKU: cis-rhel7-l1
Offer: cis-rhel-7-v2-2-0-l1

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server?
dev.azure.com

If dev.azure.com, wh

[2020-02-26 13:27] rishibamba commented on #1895
@jklemmack
For Me: _Organization Settings -> Agent Pools -> Select Your Agent Pool -> Settings_

[2020-02-26 20:16] jashan05 opened #2821 "Permission Issues with .taskkey on Linux Build Agents running docker container"
Hello Team,
We are using docker containers on self-hosted linux agents and we are getting intermittent issues while in the build pipelines. **Retrying a job works sometimes.**

## Agent Version and Platform
2.155 and 2.165

OS of the machine running the agent? OSX/Windows/Linux/...
Linux

## Azure DevOps Type and Version
dev.azure.com

If on-premises, which release? 2015.0, 2017.1, 2019 RC2, etc.

[2020-02-26 21:01] artemry-mlnx commented on #2441
@vtbassmatt
Are there any plans to add a possibility to skip PR triggering with `[skip ci]` comments?

[2020-02-27 01:52] avivanoff commented on #2755
@fadnavistanmay, how do I send them directly to you?

[2020-02-27 02:08] vtbassmatt commented on #2441
I believe that should also work (as long as the `[skip ci]` is in the head commit of the push).

[2020-02-27 07:53] edenstrom opened #2824 "Agent is unable to authorize on 2.165.0 (works on 2.164.6)"
## Agent Version and Platform
Version of your agent? 2.165.0

OS of the machine running the agent? Linux (Ubuntu 16.04 LTS (GNU/Linux 2.6.32-042stab136.1 x86_64))

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/esatto

## What's not working?

The agent fails to connect when updated to 2.165.0. Works correctly on 2.164.6.

On

[2020-02-27 10:47] bneumann commented on #2453
I think it is an agent problem really as I describe here: https://github.com/microsoft/azure-pipelines-tasks/issues/11334#issuecomment-591904067

[2020-02-27 13:07] geirsagberg commented on #2228
This is still an issue, according to the (at the moment of writing) 136 votes on this user-voice: https://developercommunity.visualstudio.com/idea/365620/build-agent-priority.html

[2020-02-27 13:51] ihnorton commented on #2441
@vtbassmatt it does not work. See [this build](https://dev.azure.com/TileDB-Inc/CI/_build/results?buildId=2765&view=results), the head commit of which is https://github.com/TileDB-Inc/TileDB-Py/commit/68d937f31b761a2655e04142d503896a7c3e939d.

[2020-02-27 14:55] vtbassmatt commented on #2441
Hmm, that sounds like a bug in the service then. Could you please file a report on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html)?

I'm going to close this issue because the bug can't be in the agent. (The agent just runs what the service tells it to run.)

[2020-02-27 14:55] #2441 closed

[2020-02-27 15:23] ihnorton commented on #2441
https://developercommunity.visualstudio.com/content/problem/714477/pr-commit-with-skip-ci-in-message-still-triggers-a.html

[2020-02-27 16:06] vtbassmatt commented on #2441
That issue has been routed to a developer to investigate. Thanks for your patience.

[2020-02-28 05:00] resnikb opened #2827 "Invalid agent archives"
## Agent Version and Platform
Platform: Linux-x64
Agent version: Tried with 2.153.1, 2.153.2, 2.165.0

## What's not working?
All of the agent archives I've tried to download today from the release page, are missing `svc.sh` script, and the bin directory contains a bunch of templates that look like they should have been transformed, amongst others there is also `systemd.svc.sh.template`. I tried d

[2020-02-28 09:48] edjwhho commented on #1569
Hi, anyone managed to get a work around for the terraform plan to output colours in azure pipeline?

[2020-02-28 14:28] jtpetty commented on #2827
@resnikb - To my knowledge, we have never shipped a ```svc.sh``` script. We ship several templates and a ```runsvc.sh``` script. Could that be what you are looking for?

@vtbassmatt - Do you recall us shipping a ```svc.sh``` script with the agent?

[2020-02-28 14:33] jtpetty commented on #2824
@edenstrom - This is the first report we have had of this issue. Can you try configuring a new agent using 2.165.0 on that same machine? I want to know if it is an with the server or with how the credentials are being stored. The only material change  between 2.164.6 and 2.165.0 is that we upgraded to build it with a newer version of .NET Core.

[2020-02-28 14:35] jtpetty commented on #2821
@jashan05 - What are the permissions on ```/home/ec2-user/myagent/_work/.taskkey``` and what user is the agent running as? If those are not compatible, just delete the .taskkey file and it should get recreated correctly

[2020-02-28 15:06] #2661 closed

[2020-02-28 19:59] resnikb commented on #2827
Hi @jtpetty, thanks for pointing me in the right direction. It is entirely my bad - I did not realize that `svc.sh` is generated after a successful run of `config.sh`. In my case, configuration was failing (due to unrelated connection issues), and that failure was followed by errors about missing `svc.sh` script.

I was focusing on those last errors, and only now saw the configuration-related ones

[2020-02-28 19:59] #2827 closed

[2020-03-01 20:02] luyseyal commented on #2399
This is not stale. This request is still valid, as far as I know.

[2020-03-02 09:16] jashan05 commented on #2821
@jtpetty Permissions are fine on the file and with the correct user. We are using build agents which are short lived (EC2 instances which are killed after sometime) to initialize the containers. I am not sure but it seems somebody is doing something funny on these build agents. Since we have alot of developers using these build agents and therefore not easy to back track the issue.

we also tried

[2020-03-02 13:46] samneefs commented on #1359
@TingluoHuang
At our environment, the startup type was set as "Automactic (Delayed Start)", but also didn't automatically start (not even 5 hours after the reboot).
Manually starting did work.
It seems that the "fix" to delay the start, isn't a total fix.

[2020-03-02 16:38] jpricket commented on #2799
The fix is in agent release 2.165.1 - https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.165.1

If this agent version doesn't completely fix the issues, please reopen this issue and mention me.

[2020-03-02 16:38] #2799 closed

[2020-03-02 22:24] avivanoff commented on #2755
@fadnavistanmay, how do I send you logs with potentially sensitive information?

[2020-03-03 11:15] karpis opened #2835 "Agent.Plugins.PipelineCache.SavePipelineCacheV0 should also run if build status is SucceededWithIssues"
Today's behavior is that the cache is **not** persisted unless the build status is _Succeeded_ (see if-check [here](https://github.com/microsoft/azure-pipelines-agent/blob/edc22feb913d21b793edafc9b65a7b79b40dd50d/src/Agent.Plugins/PipelineCache/SavePipelineCacheV0.cs#L27)).

Shouldn't a status of _SucceededWithIssues_ also be allowed? This would allow for persisting the cache in cases where a prev

[2020-03-03 19:17] jtpetty commented on #2668
Released as part of agent 2.165.0

[2020-03-03 19:17] #2668 closed

[2020-03-03 20:04] jtpetty commented on #2803
@gpad - I will dig in. Was this working previously? If you do not run the job on the host itself instead of in a container can you resolve the hostname 'postgres'?

[2020-03-03 21:06] luanbon opened #2837 "agent service not starting when reboot ubuntu host"
## Agent Version and Platform
2.165.0

## Os
Ubuntu 18.04

## Azure DevOps Type and Version
dev.azure.com

Organization
https://dev.azure.com/grupoltm

## What's not working?
I am creating an azure linux virtual machine scale set using terraform, and installing build agent by cloud init script (shell script), it wotks properly at creation, but when these machines restarts the agent stop working an

[2020-03-04 07:57] gpad commented on #2803
It stopped working and it works like a charm for months. What do you mean
with “not run the job on the host itself”?

Il giorno mar 3 mar 2020 alle 21:04 Tommy Petty <notifications@github.com>
ha scritto:

[2020-03-04 17:47] jtpetty commented on #2803
@gpad - Sorry, I did not word that properly. What I was trying to ask is if the job runs on the host and not inside a container, are you able to resolve the hostname 'postgres'? I am not aware of any change in the agent itself around how containers are setup that would cause a change in behavior and am wondering if the change was in docker itself not making the host alias visible inside another co

[2020-03-04 18:15] jtpetty commented on #2803
@gpad - I was able to setup a repro. Let me dig in and find out what is going on.

[2020-03-04 18:52] atedsimple opened #2839 "Jobs failing since agents updated from 2.164.8 to 2.165.0"
We have been running a pool of 15 agents running within a Docker Swarm environment for about 6 months and they have been working really well. Then all of a sudden we have started to get numerous build failures across several pipelines and the only thing that has changed is that all of the agents have updated themselves to 2.165.0 and the last time the pipeline worked it was running 2.164.8

I noti

[2020-03-04 21:11] jtpetty commented on #2803
Ok, I thought I had a repro, but I think I was doing something incorrectly.

I have this pipeline and it works fine for me. (I had to use node:10.17 instead of ubunutu because I am on a Mac an needed an image with node pre-installed to work in the pipeline)

[code]

[2020-03-04 21:17] gpad commented on #2803
Is it possible that it’s related to Postgres? I have attached an example in
the issue wher Postgres doesn’t work.

Can you substitute ngnix with Postgres and try to ping it just to see if it
resolve the name?

Il giorno mer 4 mar 2020 alle 22:11 Tommy Petty <notifications@github.com>
ha scritto:

[2020-03-04 21:35] jtpetty commented on #2803
Ok, I tried this:

[code]

I got this result:
[code]

[2020-03-05 10:51] ScottLangham commented on #1764
I used to define my entire build with msbuild. IT aquired nugets+dependencies, build solutions, signed files, build installers, packed and pushed nugets and artifacts. The world was happy and I could run it on my machine and on the build machine.

I never really understood why there were all the other pipeline tasks!
Recently though this is becoming hard to maintain! Its seems that new functionali

[2020-03-05 17:00] jtpetty commented on #2839
@atedsimple - We will need more information about the type of failure you are seeing in order to answer that question.

[2020-03-05 17:12] atedsimple commented on #2839
This is an log for tests running on one our agent when it was on version 2.164.8

Version      : 2.164.0
Author       : Microsoft Corporation
Help         : https://docs.microsoft.com/azure/devops/pipelines/tasks/build/dotnet-core-cli
==============================================================================
C:\Windows\system32\chcp.com 65001
Active code page: 65001
"C:\Program Files\dotnet\do

[2020-03-05 17:15] atedsimple commented on #2839
And this is now the output on subsequent runs after the agent updgraded to version 2.165.0

Test Run Failed.
##[error]Error: The process 'C:\Program Files\dotnet\dotnet.exe' failed with exit code 1
"C:\Program Files\dotnet\dotnet.exe" test C:\azp\agent\_work\2\s\TeamsGovernance\Security.SmallTests\Security.SmallTests.csproj --logger trx --results-directory C:\azp\agent\_work\_temp -c Release --col

[2020-03-05 19:32] jtpetty commented on #2839
I am assuming this is a hosted agent. It seems like the image for hosted agents was updated. I see this message in the log:

[code]

Is it possible that this is result of your issue?

[2020-03-05 20:23] gpad commented on #2803
Ok so it doesn't work only with postgres ?!?!

Il giorno mer 4 mar 2020 alle ore 22:35 Tommy Petty
<notifications@github.com> ha scritto:

[2020-03-05 21:06] atedsimple commented on #2839
These are on prem agents running in docker containers that have worked perfectly for months and yes would appear to have gone wrong when the agents updated themselves. I tried starting a new container today and noticed that all the visual studio and vstest entries in capabilities are missing but  are definitely installed.

Get Outlook for Android<https://aka.ms/ghei36>

David Clifford
DevOps Engin

[2020-03-05 23:26] chrisfcarroll commented on #2457
May I query why this is closed please? The issue still exists and the manual workaround of:

1. Find this issue on github
2. Apply the manual step `xattr ...`

Is a workaround, not a fix?

[2020-03-06 01:40] OranguTech opened #2842 "Some Pipeline variables not being resolved on Agent 2.165.x, works up through 2.164.8"
## Have you tried troubleshooting?
[Troubleshooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)
Yes, system.debug=true

## Agent Version and Platform
Version of your agent? 2.165.0/2.165.1

OS of the machine running the agent?
Windows, mostly Server 2016 but tested on Windows 10 1809 as well.

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your or

[2020-03-06 02:28] Joel-K commented on #2837
My vms were de-allocated which appears to have removed their dns settings.  Adding a valid dns entry to `/etc/resolv.conf` allowed the vm to reconnect.

My issue might be completely unrelated.  You should check if the linux service is actually running after the reboot.  If its not start it and see what happens.  If its running but not connecting check the latest ```Agent*.log``` file in the ```_di

[2020-03-06 07:03] #2395 closed

[2020-03-06 08:35] rnphilp commented on #2803
I get the same issue here. It doesn't seem to matter whether I try to connect from the host or from another container, the alias doesn't get recognised. I ended up having to specify the IP address directly, which used to show in the pipeline output, but that's not a good solution.
@gpad - as a slight aside ours stopped working on a recent image update and we had to specify the postgres password as

[2020-03-06 13:52] vijayma commented on #2756
Can you list the Azure DevOps organizations in which you would like to preview this feature?

[2020-03-06 13:53] vijayma commented on #2756
@achamayou Can you list the Azure DevOps orgs in which you would like to preview this feature?

[2020-03-06 13:54] vijayma commented on #2746
@WhitWaldo can you let us know the name(s) of Azure DevOps org(s) where you would like to preview this feature?

[2020-03-06 13:55] vijayma commented on #2693
@btl5037, @chevonc Can you let us know the name(s) of Azure DevOps org(s) where you would like to preview this feature?

[2020-03-06 13:55] vijayma commented on #2523
@rickardp Can you let us know the name(s) of Azure DevOps org(s) where you would like to preview this feature?

[2020-03-06 13:56] vijayma commented on #2500
@pdylanross Can you let us know the name(s) of Azure DevOps org(s) where you would like to preview the BYOS feature, if you are interested in that option?

[2020-03-06 13:57] vijayma commented on #2336
@bgoeppner Can you let us know the name(s) of Azure DevOps org(s) where you would like to preview this feature?

[2020-03-06 14:09] bdelsaz commented on #1902
@wkrea I think you need to reference your variables in the template like this: `$(varname)` (notice the parenthesis)

[2020-03-06 14:14] jtpetty commented on #2803
@rnphilp - in my local dev environment, I had docker dump out all the info about the container and I can see the network alias is set properly (according to docker), so I do not think this is a bug with the agent. It is possible this is a bug with docker, but that would not explain why it works for nginx but not Postgres in the same pipeline.

Is it possible for you to use an older tag of the Post

[2020-03-06 14:27] jtpetty commented on #2457
@chrisfcarroll - I apologize. I saw the last comment about "It's working now" and thought the issue was resolved.

There is an easier work around. If you use 'wget' to download the agent binary instead of Safari, you will not have this issue.

We are currently working on getting the agent properly signed for Catalina.

@stephenmichaelf - Can we include this as part of your work on signing?

[2020-03-06 14:28] chrisfcarroll commented on #2457
Thanks!
:-)

[2020-03-06 14:29] btl5037 commented on #2500
@vijayma The Hyperledger org would love to test the BYOS functionality if a preview becomes available.

[2020-03-06 14:32] btl5037 commented on #2693
@vijayma The Hyperledger org would love to test the BYOS functionality. You can reach me out of band at brett.t.logan@ibm.com if necessary

[2020-03-06 16:03] damccorm commented on #2842
Hey @OranguTech - would definitely be helpful if you're able to post logs. From your description, it looks like the issue you're seeing is that variables aren't getting propogated through - how are you setting those variables?

[2020-03-06 17:03] bgoeppner commented on #2336
Hi @vijayma, this sounds awesome! I am following the roadmap and release-notes since the feature was planned for 2020Q1 😁 Great to hear about an update.

**The org would be cmd-sw.**

I have to say I recently moved to a different company, but I will let my former colleagues - who are still waiting for this - know.

Thanks for your awesome work!

[2020-03-06 17:12] rnphilp commented on #2803
Ours points at `postgres:11`. However, I've tried going back to the 11.5 release. The ip now displays in `initialize containers` again, under the command:
`/usr/bin/docker port e477790f988520840af51be6841ce6a7e3d3239713ebc187d3562ec3177f5038
`
Unlike the latest build of 11. However, the alias still isn't recognised.
Also tried `postgres:10.0` but get similar results.

[2020-03-06 18:10] ulrich-schreck-tfs commented on #2336
Hi @vijayma,
I´m one of Ben´s former colleagues and yes we ware still waiting for this and it would really be great to preview this feature.

Thanks in advance

[2020-03-06 18:23] #2802 closed

[2020-03-06 19:09] achamayou commented on #2756
@achamayou MSRC-CCF please :)

[2020-03-06 19:19] avivanoff commented on #2755
@jtpetty, @fadnavistanmay, I know you are busy, but would it be possible to answer my question about sending the logs with potentially sensitive information?

[2020-03-06 20:16] OranguTech commented on #2842
I replied in email earlier with more details and logs. Further testing and better looking at logs, I think it's worthwhile to look at PR #2791 .

Example previously
` [ENV_ADFS_OAUTHTOKENSERVERURL] --> [https://abc.xyz.xkcd.gov/adfs/oauth2/token]`

is now obfuscated to `[ENV_ADFS_OAUTHTOKENSERVERURL] --> [https:***@xkcd.gov]`, and then a whole giant chunk of vars aren't enumerated.

Similary:
`[EN

[2020-03-06 20:58] jtpetty commented on #2821
@jashan05 - Is this happening all the time or is it intermittent? That .taskkey file is used by our task model and the agent is supposed to delete it after a job runs and it should get automatically recreated with the next job.

[2020-03-06 21:05] damccorm commented on #2842
That definitely looks like the issue - I think the regex is overly aggressive here. For example, if you have:

[code]
the following gets masked by our regex (`(?<=//[^:/?#]+:)[^@]+(?=@)`)
[code]

I think the regex should be `(?<=//[^:/?#\n]+:)[^@]+(?=@)` (note the added `\n` which stops looking for a match if we reach the EOL)

I'll add a PR

[2020-03-06 21:27] jtpetty commented on #2817
@bishal-pdmsft @pulkitaggarwl - Is this some thing that either of your teams handles?

[2020-03-06 21:32] fadnavistanmay commented on #2755
Hi @avivanoff - feel free to redact any sensitive information, and you could share the logs to tafadnav@microsoft.com Thanks.

[2020-03-06 22:09] jashan05 commented on #2821
@jtpetty Yes it seems to be an intermittent issue. Once we get this issue , we are not able to initialize containers and we keep on getting this same error.

[2020-03-06 22:13] fadnavistanmay commented on #2755
Adding @samuelkoppes

[2020-03-06 22:25] jtpetty commented on #2814
@vtbassmatt - Do you have any thoughts on this issue?

[2020-03-06 22:39] jtpetty commented on #2757
This should be fixed by #2812 and will be in the next release of the agent

[2020-03-06 22:39] #2757 closed

[2020-03-07 02:10] avivanoff commented on #2755
@fadnavistanmay, @samuelkoppes, logs are sent tafadnav@microsoft.com.

[2020-03-07 04:18] bishal-pdMSFT commented on #2817
Yes @jtpetty our team owns this vm extension. We will look into this.

[2020-03-07 05:59] avivanoff commented on #1294
How come the support for gMSA has not been added after more than two years it was asked for? If I am not mistaken, it should not be harder then allowing to specify no password during configuration.

My workaround is to configure the agent service to run as NETWORK SERVICE, and then use sc.exe to reconfigure the created service:

`sc.exe config vstsagent.Org.Pool.Name obj= yourgmsa$@youdomain.com p

[2020-03-07 06:01] avivanoff commented on #2814
@jtpetty, @vtbassmatt, the issue #1294 somewhat related.

[2020-03-07 06:31] gpad commented on #2803
I also have tried with an old tag and it doesn’t work.

I have used this configuration since last September and it works until 1
month ago.

It starts to don’t work without any apparent reason I think that it’s
related to something changed inside the azure platform because nothing else
changed.

Il giorno ven 6 mar 2020 alle 18:12 Rob Philp <notifications@github.com> ha
scritto:

[2020-03-07 20:01] jadenrogers commented on #1043
What was the fix here? Running 2.165.1 on Windows on the same machine I use VS2019 and build fine, the agent won't even attempt to queue a build on it.

[2020-03-07 20:28] marcelbeeker commented on #1043
I had to install a build agent on my local machine to let it work. The build agent is my local dev machine with Android SDK and Java installed.

After I did that, my private build agent was picked up the build.

________________________________
Van: Jaden <notifications@github.com>
Verzonden: Saturday, March 7, 2020 9:01:11 PM
Aan: microsoft/azure-pipelines-agent <azure-pipelines-agent@noreply.git

[2020-03-08 14:52] syndicatedshannon opened #2845 "Clean setting changes to true during run"
Using the checkout task more than once in a Job always calls scorch, even when explicitly configuring clean = false.

This seems to be occur outside the git task:

https://github.com/microsoft/azure-pipelines-agent/blob/7587651cad169f59a6b61d050cbecdf91cb0198b/src/Agent.Plugins/GitSourceProvider.cs#L259

given:
[code]

Enabling system.debug emits:
[code]
on the first checkout, and
[code]
on the se

[2020-03-08 14:58] syndicatedshannon commented on #2845
Side note, I feel this sort of behavior is especially important to make clear OR document, because it's fairly black box behavior, complicated by things like highly-proprietary variable evaluation cycles in Azure Pipelines. This stuff can take days to track down.

[2020-03-08 15:03] syndicatedshannon commented on #2845
https://github.com/MicrosoftDocs/vsts-docs/issues/7528

[2020-03-08 15:04] syndicatedshannon commented on #2845
Feeling frustrated, quite frustrated, with my Azure Pipelines YAML time investment, trying to track all this stuff down.

[2020-03-08 15:57] syndicatedshannon commented on #2845
Was trying to do a little more diagnostics to help, but reached another obstacle.

Docs on [variables](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=yaml#build-variables) says:

Unfortunately whether I set the value to false on the pipeline configuration, or in YAML, the following YAML always returns true:

`- script: 'echo $(Build.Repository.Clean)

[2020-03-08 18:18] brwilkinson commented on #2510
@moswald I just wanted to check in on this one.

The agent pools and the deployment groups get installed with the exact same agent/package.

There is only small parameter differences between installing between the two different options.

This seems like a good opportunity to extend the capability here, rather than to duplicate the effort ?

This is the example of the agent pool:

[code]

This is t

[2020-03-08 20:04] #2399 closed

[2020-03-08 21:57] jadenrogers commented on #1043
Thanks, for my case it was missing the JDK capability. For other people just go to your build job in the web UI and it will tell you what "Demands / Capabilities" are needed and then you can correct accordingly.

[2020-03-09 00:33] luyseyal commented on #2399
@zachariahcox Why did @github-actions close this if I commented? That makes no sense...

[2020-03-09 09:02] anuragc617 commented on #2817
Hi @atyourservers, it looks like the is an issue in the `VstsAccountName` you are passing in the ARMtemplate. It should be `VSTSAccountName`.
The error log `AzureDevOpsOrganizationUrl should be specified` is correct. The other log `Setting handler status, code and message as 'error', '53' and 'Incorrect VSTS account credentials' respectively` you are seeing in extension.log is the extension status

[2020-03-09 09:29] MarcDenman commented on #2693
@vijayma Is there any chance we could get in on the preview as well? We are moving to VMSS from Azure VMs and this could save us a lot of work.

[2020-03-09 09:47] atyourservers commented on #2817
Are you talking about the field `VSTSAccountName` in the ARM template? That's already written that specific way; see line 66 of my full ARM template, which I quoted below:

[code]

[2020-03-09 13:00] vijayma commented on #2693
Sure. Send me a note to vijayma_at_microsoft_dot_com with the name of your Azure DevOps organization, and we will enable the preview for you.

[2020-03-09 13:32] jtpetty commented on #2839
@atedsimple - Can you send me the agent logs of working vs non-working agent? It would be especially helpful to have the difference in capabilities. If you do not want to share them publicly, you can email them to me at tommy.petty@microsoft.com

[2020-03-09 13:38] moswald commented on #2510
Sorry, @brwilkinson, I missed your question a month ago. We ended up going a different route to get the feature out quickly, but we're still considering moving to a full extension for the final version. There's no traction there yet, but it's not off the table, either.

cc: @WillLennon

[2020-03-09 14:24] stephenmichaelf opened #2847 "Perform network diagnostic after retries fail."
We often run into issues with intermittent networking failures.

Matt suggested we run the networking diagnostics that Jessica added when this happens.

Let's do that! And consider what other information would be helpful to our customers.

CC: @jtpetty @vtbassmatt

[2020-03-09 14:42] MarcDenman commented on #2693
Emailed, thank you :)

[2020-03-09 15:11] jtpetty commented on #2837
@luanbon - Are you still seeing this issue? Can you share any logs?

[2020-03-09 16:49] atedsimple commented on #2839
Ok so I have fixed our issues but would be good to get more conext around how I fixed it.
To begin with we had 2 docker images running on:-

mcr.microsoft.com/dotnet/framework/sdk:4.8-windowsservercore-ltsc2016
and
mcr.microsoft.com/dotnet/framework/sdk:4.8-windowsservercore-ltsc2019

These were working perfectly for 4 or 5 months, then all of a sudden they stopped and the only thing that I could

[2020-03-09 17:19] OranguTech commented on #2842
Thanks for the quick response.

If I wanted to try compiling my own copy, would compiling from Master be likely to work, or should I just make your change on current release branch?

[2020-03-09 17:20] damccorm commented on #2842
Either should work.

[2020-03-09 17:53] brwilkinson commented on #2510
@moswald okay thank for the follow up.

What was the route that you went for this? was it related to the agent pools?

[2020-03-09 20:13] moswald commented on #2510
We are currently using the Azure Custom Script VM Extension to install the agent, but since you're only allowed to create one of those it's limiting for customers who want to use their own custom script.

[2020-03-09 20:16] brwilkinson commented on #2510
@moswald okay no problem

We currently use DSC extension for this anyway, in a way that has been more flexible for installing multiple instances of the agent, however we would still prefer to be able to install the first instance via a dedicated extension if available.

[2020-03-10 14:46] Saibamen commented on #1849
Related: https://github.com/microsoft/azure-pipelines-yaml/issues/48

[2020-03-10 16:45] jtpetty commented on #2839
@atedsimple - I wish I had a solid answer for you. I know with 2.165.0, we switched to compile that with .NET Core 3.1. That could have caused the issue you are seeing. I also know that on the Azure DevOps server side, we are pushing to only support TLS 2.1 and will soon require the change you made in order to connect to Azure DevOps, maybe Chocolatey is doing the same and the timing is coincident

[2020-03-10 16:45] #2839 closed

[2020-03-10 23:40] OranguTech commented on #2842
For completeness, linking PR #2844

[2020-03-11 02:18] damccorm commented on #2842
@OranguTech Thanks! I should've linked them.

Were you able to compile an agent and verify this fixes the issue?

[2020-03-11 11:59] rickardp commented on #2523
@vijayma You got mail :)

[2020-03-11 16:18] Dunstark commented on #2803
I'm running a docker-compose inside a pipeline with a postgres image and have been suffering from a similar issue. Switching from `postgres:11.7-alpine` to `postgres:11.5-alpine` appears to have solved the issue, at least temporarily.

[2020-03-11 19:26] Sythanis commented on #2803
I was facing the same issues. For me using the `bitami/postgesql` image worked, but only if I started it from a bash step wait a couple of seconds and do the rest of work. I am using something like this as a workaround

[code]

Not really a solution, but a workaround

[2020-03-11 21:57] fadnavistanmay commented on #2755
Hi,

The decision was made that the customer should continue using download build artifact task, if the artifact is of type UNC and FCS.

Thanks.

cc - @samuelkoppes

[2020-03-11 21:57] #2755 closed

[2020-03-11 23:08] OranguTech commented on #2842
I have not - opening the solution file immediately have errors about nuget
package versions that a simple restore or update doesn't fix. I'm pretty
new to the VS world, and it's not a blocking issue, so left it alone.

On Tue, Mar 10, 2020 at 7:19 PM Danny McCormick <notifications@github.com>
wrote:

[2020-03-11 23:16] avivanoff commented on #2755
@fadnavistanmay, are you going to update documentation for the task?

[2020-03-12 06:42] Qinka commented on #1911
It's 2020! Where is officially build of agent for aarch64?

I bought an ARM server from Huawei Cloud, and I want to run the agent on it.

[2020-03-12 07:58] janis-veinbergs commented on #2565
@anaximander23 could it be that you generated organization scoped PAT? I was like: "been there done that" and then battled this same issue. Only to realize, when generating token, Organization by default was set to some specific org, and had to set: "All accessible organizations"

[2020-03-12 10:09] anaximander23 commented on #2565
Actually, I'm no longer at the company where I was having this issue, and the company I'm with now use the dev.azure.com version rather than self-hosted.

On the one hand, this means I won't be able to help work out what it might have been. On the other hand, it means I no longer have a problem.

[2020-03-12 15:44] hbuckle opened #2853 "PowerShell 7 errors are not written to the console"
## Agent Version and Platform
Current agent version: '2.165.0'
Current image version: '20200308.0'

Windows

## Azure DevOps Type and Version
dev.azure.com

## What's not working?

The hosted agents have recently updated to PowerShell 7. Since this change errors are not being written to the console. This seems to be related to the new `ConciseView` error setting. After changing it to `NormalView`

[2020-03-12 18:54] douglasoliveirabh commented on #2018
This problem was fixed?

I'm trying to update but not working too.

If you fixed, can you  explain how you fixed ?

[2020-03-13 14:43] ckpearson opened #2857 "Agent fails to configure in network environment enforcing TLS 1.2"
## Agent Version and Platform
v 2.165.1

OS of the machine running the agent? Windows Server 2012 R2

## Azure DevOps Type and Version
https://dev.azure.com/RNIB

## What's not working?
Failed to download the agent binaries using the devops generated powershell command, but forcing powershell to use TLS 1.2 allowed it to download.

However, when running the config.cmd, it fails to download a json

[2020-03-13 14:48] jtpetty commented on #2853
@hbuckle - This behavior is outside the control of the Pipelines Agent. The agent just invokes whatever Powershell is installed on the machine it is running on. You can open an issue against the team that manages the hosted images (https://github.com/actions/virtual-environments) to see if they are able to change the default value of $ErrorView in these images.

Closing since this is not an issue

[2020-03-13 14:48] #2853 closed

[2020-03-13 15:01] hbuckle commented on #2853
@jtpetty - but why does the error not show in ConciseView? It's still an error. I'd rather have ConciseView than Normal view as its easier to read

[2020-03-13 16:31] mocleiri commented on #1327
I hit the same error in 2.165.1 when building a docker container for the agent.  For me I saw the error when the current working directory wasn't in the agent directory when running config.sh.

After I cd'd to the agent directory it worked fine.

[2020-03-14 17:23] utibeng opened #2858 "Self Hosted Agent - RedHat 7.6 & 7.7 fail."
## Agent Version and Platform
Various - latest agent 2.144.1 for Linux x64.
Followed the steps in https://docs.microsoft.com/en-gb/learn/modules/host-build-agent/4-create-build-agent
This works for Ubuntu but not RedHat.
Error is below;
*****************************************************
-----------------------------
 Finish Install Dependencies
-----------------------------
ldd: warning: you do

[2020-03-14 19:12] OranguTech commented on #2842
(I'm assuming the fix will be in the next release)

[2020-03-14 20:03] michalpenka commented on #1911
This is a blocker for me too atm. I see the related pull request is getting stale. Any plans to move with this forward? Cheers.

[2020-03-14 20:07] brwilkinson commented on #2510
adding link to sample code to deploy agents in case anyone else is looking.

https://gallery.technet.microsoft.com/scriptcenter/Setup-Azure-DevOps-Agent-dfa6f49a

[2020-03-16 12:40] vtbassmatt commented on #1911
I appreciate everyone continuing to chime in - hearing the demand definitely helps us prioritize this work! Things are happening, just slower than I would prefer.

[2020-03-17 01:19] MIchaelMainer opened #2860 "Inline Powershell script errors when running more than one Git command per script on hosted agent"
## Agent Version and Platform

Pool: Azure Pipelines
Image: windows-latest
Agent: Hosted Agent

Agent name: 'Azure Pipelines 2'
Agent machine name: 'fv-az123'
Current agent version: '2.165.2'
Current image version: '20200308.0'

## Azure DevOps Type and Version
dev.azure.com

https://o365exchange.visualstudio.com/

## What's not working?
When I use the hosted agent, my inline scripts that use Git

[2020-03-17 17:14] jstraub-sit commented on #2824
Seeing a similar issue since the upgrade to 2.6.5 on RHEL 7.6
We start a self hosted agent on RHEL (1 process is running), after some time we see multiple agent processes running and producing tons of logs and error messages. Only solution is to kill the processes and restart the agent.

[Agent_20200317-160324-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/4344775/Agent_20200317

[2020-03-17 23:57] fadnavistanmay commented on #2835
Hello, it was a design decision made to only allow cache for successful builds. Thanks.

[2020-03-17 23:57] #2835 closed

[2020-03-18 01:22] octogonz commented on #1569
Today we were trying to make a copy of an Azure DevOps pipeline, but could not find the "clone" menu item.  (Screenshots are shown [here](https://stackoverflow.com/questions/57827447/is-there-a-way-to-clone-or-copy-an-existing-ci-cd-pipeline-in-azure-devops).)

After much frustration, @iclanton figured out that the "Multistage pipelines" preview removes that feature. 😕

So it seems, I have to manu

[2020-03-18 12:52] scottboehmer commented on #1569
Is your definition using a yaml file? If so, then it is intentional that clone is unsupported because the recommended pattern is to copy the yaml file rather than creating a cloned definition pointing at the same underlying file.

[2020-03-18 15:24] alanmcgovern commented on #1452
I no longer work in this area so I dont have a need to push for this

[2020-03-18 15:24] #1452 closed

[2020-03-19 15:21] simonlegeek opened #2864 "CommandLine task failing after update from 2.165.0 to 2.165.2 (Unable to locate executable file: 'bash')"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2020-03-19 15:31] jtpetty commented on #2864
@simonlegeek - Can you try setting the variable ```agent.preferPowerShellOnContainers = true``` and seeing if this resolves your issue?

[2020-03-19 17:20] simonlegeek commented on #2864
I'll try this out!

[2020-03-19 17:42] simonlegeek commented on #2864
It seems to be working fine. My understanding of this is that you actually use PowerShell to launch the actual batch script.  By that I mean, I don't have to change our CMD-style commands (%VARIABLE%, etc) for this to work?

[2020-03-19 19:19] jtpetty commented on #2864
Correct. It just what mechanism we use start up the task. Our task model supports tasks being launched from PowerShell or Node. The CmdLine task can be launched from either depending on the platform. The issue that prompted the change is that newer Windows containers ship with PowerShell Core and not PowerShell and so we defaulted to choose the Node handler for containers to work around that issue

[2020-03-19 20:34] #2864 closed

[2020-03-19 22:41] philipktlin commented on #1911
+1; I have been waiting vsts agent to support ARM64 for more than a year.  Please prioritize it and it will be great to know what it will be available.

[2020-03-20 10:15] vtbassmatt commented on #1911
Update: I have ordered hardware to serve as our build farm, and we're also working on a new PR to add this support. Especially with the pandemic ongoing, I think we're still several weeks away from any new news, but things are happening!

[2020-03-20 10:39] bweggersen opened #2865 "How to disable Read only variables temporarily"
We have self-hosted agents running on version 2.165.0 running on Windows. One of the tasks in our release pipeline overrides `build.buildnumber`. We have started to see this warning:

`##[warning]Overwriting readonly task variable 'build.buildnumber'. This behavior will be disabled in the future. `

We understand that we need to address this, but it might take some time. Do you have information on

[2020-03-20 17:15] mback2k commented on #2864
I think this issue should be kept open until an automated solution has been implemented.

[2020-03-20 20:40] richlander commented on #1911
@vtbassmatt  tell me if you need any help from my team. .NET Core should work A-OK on ARM64 at this point, but we're happy to help.

You don't need ARM64 machines to build the ARM64 version of your product, just to test it. Maybe you intend to do both of your new hardware.

[2020-03-20 22:33] vtbassmatt commented on #1911
Thanks! We can't release until we test. We're definitely trying to move to building on the fastest VM (Linux) for all flavors, but I don't want to block this work on that either.

[2020-03-21 04:21] vielmetti commented on #1911
If the team would like to get access to linux/arm64 server hardware, I run the @worksonarm program at Packet which enables CI for build infrastructure and/or bare metal Linux for test/development of arm64 systems for qualified projects at no charge. Reach out here or at https://github.com/worksonarm/cluster/issues to open a new issue to help get the process rolling.

Very much looking forward to h

[2020-03-21 16:53] phatcher commented on #1582
Just for reference, there's another way of doing this...
[code]
The `persistCredentials` allows the token to be automatically passed to other git commands. Note the assignment of `workingDirectory`, otherwise I had an error that the location was not a git repository.

For an [annotated tag](https://stackoverflow.com/questions/11514075/what-is-the-difference-between-an-annotated-and-unannotated-tag

[2020-03-22 16:10] swythan commented on #1093
This is still an issue for us, although we're mid - migration to git, so we will be caring less going forward.

[2020-03-22 20:35] itsho commented on #1087
Yes, I am still waiting. hopefully, I'm not the only one...

[2020-03-23 17:44] achamayou opened #2866 "Azure virtual machine scale set agents with containers"
I am trying out the preview of Azure virtual machine scale set agents (https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/vmss?view=azure-devops), on https://dev.azure.com/MSRC-CCF/

I'm able to get a dynamic pool of agents running Standard_DC SKUs, that's fantastic! I want to run jobs on them that make use of docker though (ie. "container:" in my jobs), and that's not installed out of

[2020-03-23 22:19] jonathankraemer opened #2867 "VssUtil.CreateConnection() is called in AgentServer.ConnectAsync() with timeout of 60, but the timeout in CreateConnection() should be between 100 and 1200"
If the timeout is supposed to be between 100 and 1200, why is the caller of this function in AgentServer.ConnectAsync() hard-coding 60 seconds?

I am not sure if this influences at all the performance of the function, but it seems odd to me.

Here's the line:
https://github.com/microsoft/azure-pipelines-agent/blob/3807a3b680fae950e8b0806038e947bce40f546d/src/Agent.Sdk/Util/VssUtil.cs#L68

Also, th

[2020-03-24 09:42] GerardLarwa opened #2868 "Update proxy configuration"
Hi. This is a question rather than an issue. I have an agent behind my proxy. Everything is working fine, but my organization is going to change proxy configuration (url and port) in a week. To propagate this changes in Azure DevOps agent in runtime is there only need to change proxy url in .proxy file and restart service ?

[2020-03-24 12:38] kasper-rutten commented on #2738
Here ends my 2 day debugging odyssey. Thanks for documenting your struggle! Helped me out tremendously.

Same story, hyphen in org name, SELinux marking unit file as bad. RHEL 8.
Some stuff I googled for search engine purposes:

"Failed to enable unit: Unit file vsts.agent.ORGNAME.AGENTPOOLNAMEAGENTNAME.service does not exist."

"Failed to stop/start/enable vsts.agent.ORGNAME.AGENTPOOLNAME.AGENTNA

[2020-03-24 12:55] klamann opened #2869 "Git lfs fetch failed with exit code 2"
## Have you tried troubleshooting?
[Troubleshooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting) - Yes

## Agent Version and Platform
Version of your agent? 2.165.2

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

## What's not working?

Git checkout fails when files tracked with git lfs should be downlo

[2020-03-24 19:51] alepauly commented on #2261
@letmaik is this still happening regularly? I know the Mac teams spent some time fixing issues that would lead to this type of error. Apologies for the lack and disjointedness of the responses here.

[2020-03-25 07:57] mjvankampen opened #2870 "Bash used for command line task on Windows in v2.165.2"
[Worker_20200325-074832-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/4379713/Worker_20200325-074832-utc.log)
## Having issue with Tasks?
Command line task not working but happens directly after update of the pipelines agent.

## Agent Version and Platform
Version: v2.165.2
Platform: Windows

## Azure DevOps Type and Version
Azure Devops https://dev.azure.com/Allseas

## What's

[2020-03-25 08:39] mjvk commented on #2870
Using the pwsh task does work which is my fix for this.

[2020-03-25 13:02] #2032 closed

[2020-03-25 13:02] #1563 closed

[2020-03-26 06:06] nithyusha23 opened #2872 "Error while saving the cache : [error]Failed to start the required dependency 'tar'. Please verify the correct version is installed and available on the path."
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2020-03-26 10:39] HealthyJR commented on #2415
Encountering this issue too in course of usage of 2 datacollectors at the end of a test run.

[2020-03-26 17:26] OranguTech commented on #2842
@damccorm - Is there a general release schedule? I know this got merged into Master, I assume that will be branched into 2.165.3, but not sure on your dev/branch process. ( I'm just trying to get an ETA on this.)

[2020-03-26 19:19] vtbassmatt opened #2875 "Switch to new HTTP handler by default"
When we updated to .NET Core 2.1, the new HTTP handler was missing several features we needed, so we opted to remain on the legacy libcurl-based handler. .NET Core 3.1 has hoepfully fixed these issues; the legacy handler is being removed in .NET 5.0.

The legacy handler is [problematic on ARM and possibly other Linuxes](https://github.com/dotnet/runtime/issues/28891), so we should try to remove th

[2020-03-26 19:56] damccorm commented on #2842
@OranguTech normally we deploy at least once every 3 weeks. Right now is an exception though, we are currently in a deployment freeze due to Cornavirus, so it may be a little bit before this fix gets out.

[2020-03-27 08:49] mjvk commented on #2870
#2864 is the same issue. I think it should not be closed, either this issue should be fixed or the documentation should be updated. Now I had multiple people in my team running into this issue and spending time on it.

[2020-03-27 13:13] jtpetty commented on #2872
@fadnavistanmay - Can you take a look at this?

[2020-03-27 13:34] jtpetty commented on #2870
The issue is not that bash is being used instead of PowerShell to run the script specified in the task, but how we invoke the CommandLine task itself. Our task model supports running tasks via PowerShell or nodejs. The problem we were trying to address is that newer versions of Windows containers come with PowerShell Core, not PowerShell, which has different arguments and settings. This was causin

[2020-03-29 15:02] #1237 closed

[2020-03-29 15:02] #1311 closed

[2020-03-29 17:02] #1093 closed

[2020-03-29 21:02] #1087 closed

[2020-03-29 21:17] itsho commented on #1087
Bad bot.

[2020-03-30 06:42] ShadowXVII opened #2877 "##[error]A potentially dangerous Request.Path value was detected from the client (:)."
When using `##vso[task.setvariable variable=variableName;]$myVarValue`, my value has a semicolon in it i.e. $myVarValue = "test:value".

However, I get the following error in the pipeline `##[error]A potentially dangerous Request.Path value was detected from the client (:).` which suggests it's getting blocked?

Is there a way to escape this?

## Agent Version and Platform
2.160.0 - Windows Server

[2020-03-30 14:32] WolfieZero commented on #2018
I never managed to fix it, I ended up going with a different variation on the solution outside control of the pipeline.

[2020-03-30 14:49] perlman commented on #838
It was great to find this thread after wasting quite a bit of time trying to figure out why my branch name was 'merge' on all PRs. I am surprised Build.SourceBranchFullname is still not an option.

Unfortunately, in my case, I want to use this path as part of the 'ref' of a repository, which is parsed well before any script is run.

[2020-03-30 15:40] up2geek commented on #1569
I too would like to see a fix or workaround to allow terraform plan color coding output to display properly in ADO release pipeline log output.

[2020-03-30 19:46] damccorm commented on #2865
Hey @bweggersen sorry for the slow turnaround on this. This can't be controlled at the pipeline level, but at the organization level there's a flag we can flip to temporarily turn it off. Note that it will be permanently turned on for all orgs eventually.

This behavior should be completely rolled out at this point, so if you're not seeing this your org has presumably asked us to hold off on enabl

[2020-03-30 19:46] #2865 closed

[2020-03-30 21:19] octogonz commented on #1569
@scottboehmer No, it is a non-YAML job.  It's a manually invoked job, where we usually edit the steps before running it (e.g. changing which folders it runs in, or skipping certain steps).  Thus creating a Git branch and YAML file would be a clumsy approach.

[2020-03-31 01:00] ShadowXVII commented on #2877
I escaped the value with a backtick `.Replace(':', '`:')` before passing it into `task.setvariable` and that seems to work.

Somehow the backtick didn't make it into the variable value, but referencing it later doesn't have a backtick.

Unless the agent updated overnight with a fix ;)

[2020-03-31 10:44] rfennell commented on #168
If you use the code snippit

[code]

you can dump all the available environment variables. It does show the TempDirectory is not set, as expected. However, you can build it with

[code]

[2020-03-31 18:15] Launcelot555 commented on #2332
Is there something we have to do to get this new version pushed to our Azure Devops instance? I just ran into this issue this morning.

[2020-03-31 19:01] vtbassmatt commented on #2332
Don't think so, that agent would be new enough and the server-side change should have rolled everywhere. @alex-peck am I right about that?

[2020-03-31 19:28] alex-peck commented on #2332
Yes. It should not be possible for this to happen now. Can you send me the build link where you see this happening?

[2020-03-31 20:13] Launcelot555 commented on #2332
Looks like this is a false alarm. Appreciate the quick turnaround.

[2020-03-31 22:59] ian-craig opened #2885 "Feature request: Add "Pull Request Merge Target" as version option in Download Pipeline Artifact"
## Summary

Add an option to the "Build version to download" dropdown called "Pull Request Merge Target". When this is selected, the task searches builds for the specified pipeline on the PR target branch to find the latest one which was run on the merge-base for this PR.

## Use case

There are lots of tools which diff build stats, snapshots, generated code, etc. to give a summary of what the imp

[2020-04-01 08:42] rmetzger opened #2886 "Agent fails with System.OutOfMemoryException"
## Agent Version and Platform
Version of your agent? `2.165.0` on Linux

## What's not working?

Last night, I saw that a lot of builds were failing with an error message like this:
[code]
See: https://dev.azure.com/rmetzger/5bd3ef0a-4359-41af-abca-811b04098d2e/_build/results?buildId=6901

Out of the 16 agents, only this particular one has this issue.

## Agent and Worker's Diagnostic Logs

Here a

[2020-04-01 10:13] pbalexlear commented on #1749
Hello @vtbassmat , I am trying to use the example you provided however having some issue such as the one described by @afeblot. When you use the parameter syntax as below
`condition: eq(${{parameters.doThething}},true)`
this evaluates the parameters at compilation time at which point the variables haven't been set so it evaluates as
`condition: eq('variables['deciderstep.myVariable']',true )`
whic

[2020-04-01 13:28] vtbassmatt commented on #1749
Hi @pbalexlear - we're not doing product support through GitHub issues anymore. Please open a ticket on [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) with your scenario.

I'll note a couple of things that may unblock you here:
- Your `condition` section needs to evaluate to something that doesn't wrap the `variables['deciderstep']` stuff in single-quotes.

[2020-04-01 13:47] pbalexlear commented on #1749
Thanks for coming back to me @vtbassmatt , I understand what you are saying however, the default action when a parameter is passed into a template seems to be to wrap it as a string or at least this is how it is displayed in the pipeline output as if it is treating it as a string value of the expression.

I understand what you are saying that if the value of a parameter was an expression and wasn'

[2020-04-01 15:09] vtbassmatt commented on #1749
Your comment made me dig in and try this, and I realized I had a couple of dumb mistakes. The below two files are complete and work the way you'd expect:

[code]

[code]

[2020-04-01 15:21] pbalexlear commented on #1749
Thanks @vtbassmatt , that's perfect and exactly what I was looking for, thanks very much for taking the time to look into this.

[2020-04-01 16:43] srisurya777 opened #2887 "Azure devops offline agents delete"
We are using a kubernetes scheduler and assigning pods to the agents in a deployment pool. During those restart cycles, several new agents would start and others would go offline. The best way I can close on deleting those offline agents is through REST API. However, azure devops document do not recommend calling delete for agents inside agent pool. Can someone help me understand consequences and

[2020-04-02 14:09] zhouwenyang opened #2892 "agent not working after upgrade to mac catalina"
/usr/bin/security import /Users/***/Documents/Identifiers/*************keychain
security: Error reading infile /Users/***/Documents/Identifiers/******p12: Operation not permitted
##[error]Error: /usr/bin/security failed with return code: 1

[2020-04-02 14:17] seriousscripts opened #2893 "Agent will not install properly in combination with xVSTS DSC"
##Agent Version and Platform
Version of your agent? 2.166.0

OS of the machine running the agent?
Windows Server 2019

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

If dev.azure.com, what is your organization name?

## What's not working?
[code]
The agent service is not installed properly. This has popped up last few days when DSC installed the 2.166.0 version. It is

[2020-04-02 17:36] jtpetty commented on #2821
@jashan05 - I added a PR that may fix this issue, but given that this is intermittent, I am not 100% sure.

@mjroghelia is working to get a new release of the agent out with this change.

[2020-04-02 17:40] jtpetty commented on #2803
@mjroghelia - Assigning to you for awareness. I think we have come to the conclusion that the issue lies with the Postgres container itself, but I think we should leave this issue open a little longer to collect more information.

[2020-04-02 17:46] jtpetty commented on #2062
@vtbassmatt - Now that we have switched the agent to use .NET Core 3.1, is this issue complete?

[2020-04-02 17:55] jtpetty commented on #2669
We attempted to fix this with PR #2701
That worked in unit tests, but failed when actually running the agent and was reverted with PR #2727

@vtbassmatt - Do you think it is still worth doing this work?

[2020-04-02 17:57] jtpetty commented on #2431
I haven't seen this issue reoccur. I am going to go ahead and close this issue.

[2020-04-02 17:57] #2431 closed

[2020-04-02 17:58] jtpetty commented on #2680
@vtbassmatt - Since we are moving forward with a centralized config management system for the agent, I am going to go ahead and close this issue.

[2020-04-02 17:58] #2680 closed

[2020-04-02 18:08] jtpetty commented on #2695
@mjroghelia - We should check on this and see what needs to be adjusted now that we are using .NET Core 3.1

@vtbassmatt - Did you recently update this with your investigation of the ARM64 work?

[2020-04-02 18:09] vtbassmatt commented on #2062
Let's hear from the community whether using x86 emulation is good enough. I'm not highly inclined to add a Windows/ARM flavor unless there's specific demand for it.

[2020-04-02 18:14] jtpetty commented on #2598
@mjroghelia - This is the issue I was talking with you about offline that we need to look at regarding improving our support for Git LFS

[2020-04-02 18:16] jtpetty commented on #2417
@zachariahcox - Do you mind taking a look at this issue and the PR referenced above and weigh in on if you think this is the right approach?

[2020-04-02 19:08] TravisEz13 commented on #2062
I still refer to https://github.com/microsoft/azure-pipelines-agent/issues/2062#issuecomment-584989073

[2020-04-03 14:56] vtbassmatt commented on #2695
@jtpetty no changes other than making it non-fatal to be missing libcurl (since we will hopefully remove that dependency soon). I noticed that the install prereqs stuff no longer seems to work with Debian 10, so it would not surprise me if a newer Fedora didn't work either.

.NET used to have pretty decent documentation about their runtime dependencies. The list is now a set of specific packages o

[2020-04-03 15:39] giuliov commented on #838
I use this code
[code]
to have set a `SourceBranchLongName` variable

[2020-04-03 17:17] vtbassmatt commented on #2669
Don't we need this for static analysis to work properly? I'm agnostic on the value of this in a vacuum, but adding static analysis seemed to be paying off in terms of quality.

[2020-04-03 17:47] jtpetty commented on #2669
We are running static analysis now and it is fine. What this is preventing is accurate dead code analysis. I am not sure my previous attempt would have solved that problem either, since I was dynamically discovering the classes. I am fine if we still want to think about this more and try to come up with a more elegant solution.

[2020-04-03 18:47] vtbassmatt commented on #2669
Gotcha. Since it's primarily an engineering concern and I'm supposed to be doing less dev/more product, I'll defer to @mjroghelia

[2020-04-03 19:00] jtpetty opened #2901 "TelemetryDataCollector is duplicated in two directories"
There are two instances of the TelemetryDataCollector class with identical implementations, with only the Area property being different. This should be refactored to eliminate the duplicate code.

[2020-04-03 21:01] damccorm commented on #2801
Resolved by #2879

[2020-04-03 21:01] #2801 closed

[2020-04-04 15:37] jashan05 commented on #2821
Thanks @jtpetty for the update.

[2020-04-05 20:02] #1612 closed

[2020-04-06 10:26] mantovani commented on #2043
What's the workaround for this ?

[2020-04-07 00:22] sjackman commented on #2043
If it's an option for you, you could consider switching to GitHub Actions.

[2020-04-07 18:27] xplatform opened #2912 "Unable to start Mac Agent with the release build (v2.165.2)"
##  Agent Version and Platform
v2.165.2

OS of the machine running the agent? OSX 10.15.4

## What's not working?
After upgrading my Mac to the latest OSX 10.15.4, and the agent to the latest release v2.165.2, I am not able to start the Mac agent with "./run.sh" command, even after allowing all the prompted assemblies to be open in "Security & Privacy" => "General" => "Allow apps downloaded from".

[2020-04-07 19:21] damccorm commented on #2589
Closing due to inactivity

[2020-04-07 19:21] #2589 closed

[2020-04-07 19:22] damccorm commented on #2637
Closing due to inactivity. Please comment if you'd still like help on this

[2020-04-07 19:22] #2637 closed

[2020-04-07 19:24] damccorm commented on #2912
Hey @xplatform - from the diagnostic logs it looks like the agent isn't configured. Have you tried running ./config.sh first?

[2020-04-07 19:25] damccorm commented on #2893
@jeschu1 could you take a look?

[2020-04-07 19:30] damccorm commented on #2887
Hey @srisurya777 - not 100% sure I understand the question. Is there a reason you can't deconfigure your agent when preparing to go offline using the config script (by calling into `config.sh`). If not, then deleting those agents using the API is fine. The guidance there is to help avoid accidentally deleting agents that are still in existence (and maybe even are still running jobs) - that's a com

[2020-04-07 19:40] damccorm commented on #2886
Hey @rmetzger - I'm a little confused - is there a reason to believe that the agent is what is leaking memory and its not just the worker process consuming lots of memory (doing whatever task its running)? The fact that your only seeing this on 1/16 agents makes me think there's something environmental going on as well - is the machine its running on particularly strapped for resources?

Have you

[2020-04-07 19:52] jeschu1 commented on #2893
2.166.0 has case sensitivity on args.  We changed that behavior.

Please try v2.166.2.  Note that is also a pre-release, but please let us know if you have any issues.

[2020-04-07 20:10] damccorm commented on #2567
@cawoodm sorry this has slipped through the cracks a little bit - are you still experiencing the issue?

[2020-04-07 22:06] srisurya777 commented on #2887
Thanks for your response. There are too many offline agents and I wanted to delete them through API's (coz quick solution). I wasnt clear about why we dont want to call it but now I get your point. I will close this issue.

[2020-04-07 22:06] #2887 closed

[2020-04-08 07:37] rmetzger commented on #2886
Thank you for looking into this. The machine has 64GB of main memory.
Next time I see the issue, I will check the kernel log messages if the oom killer was active.
Thanks a lot for this document, it is extremely helpful! I will adjust the oom score (and also look into a cgroup config)

[2020-04-08 13:02] tobygale opened #2914 "Cannot pass custom arguments to DockerCreateNetwork method"
Agent Version: 2.165.0
OS: Ubuntu 18.04
Azure DevOps Type: dev.azure.com

I am trying to use Docker containers via the agent to run Azure YAML Pipelines.  The agent creates a new Docker Bridge Network to run the container in.

The [code that creates this network](https://github.com/microsoft/azure-pipelines-agent/blob/faa4f96d03606149a7849effcef46bcc9b47fc72/src/Agent.Worker/Container/DockerComman

[2020-04-08 15:28] lynn-fisher commented on #1569
I would also like to see a fix for this when I run my Mocha tests locally using a deeply equal to compare two objects I get a colorful console output where the actual colors represent the difference between the two objects being compared

![image](https://user-images.githubusercontent.com/34034697/78801684-e6b64300-79b4-11ea-86d6-74e274864279.png)

When I run this test in an Azure pipeline using Y

[2020-04-08 17:01] tobygale commented on #2914
I have found a work-around for this issue, so I'll post it here in case anyone else stumbles across this before it's (hopefully) fixed!

It looks like `docker` is inspecting the hosts routing table to determine if a network is in use.  So I have explicitly added routes for the networks that we actually use.

Replace "1.2.3.4" in the following example with your hosts actual default gateway:
[code]