[2021-09-28 23:26] sphanley commented on #3353
This is not stale, it's an active enhancement request.

[2021-09-29 02:13] CRamsan commented on #3184
Is there any update on the timeline for arm64 support?

[2021-09-29 09:02] #3346 closed

[2021-09-29 09:56] anatolybolshakov commented on #3352
@kuleshovilya could you please take a look?

[2021-09-29 10:02] kuleshovilya commented on #3352
Hello @sphanley . We are aware that checkout task is somewhat rigid when it comes to customization, but for now there are no plans for massive improvements as it will require a serious overhaul of how the task currently works.
As an alternative solution we can offer to set checkout to none and provide script with customized checkout behaviour.
Ill close the ticket for now, but feel free to reopen

[2021-09-29 10:02] #3352 closed

[2021-09-29 11:00] Meir017 commented on #3352
@kuleshovilya I'm not sure exactly what the relationship between the `Microsoft.TeamFoundation.DistributedTask.*` packages and the agent are, they seem pretty coupled but I cannot seem to find the source code for `Microsoft.TeamFoundation.DistributedTask`.

would something like this work?

[code]

[2021-09-29 11:03] kuleshovilya commented on #3352
@Meir017 Knobs are not production feature per se, and not really recommened for production use.
Also, that's only changing fetches, to properly integrate it into "Get sources" task that won't be enough

[2021-09-29 11:22] kuleshovilya commented on #3461
@Jean-FrancoisBeaudet @marcuslopes @ChristopheLav As I said above, that doesn't seem to be agent related, but more has to do with the way your setup works. What you do with the custom script is just a way to force /etc/environemnt through a sudoers file.
It goes like:
1. Read /etc/environment on login and load it into PATH variable
2. Read PATH variable on agent start
3. So, echo $PATH will displa

[2021-09-29 11:48] ChristopheLav commented on #3461
Thank you for your reply @kuleshovilya

@Jean-FrancoisBeaudet describes what we do for building the master image that we use in an Azure Virtual Machine Scale Set. As indicated by @marcuslopes, we use the official master image sources in https://github.com/actions/virtual-environments.

To manage the Scale Set, we use the [native Azure DevOps Scale Sets feature](https://docs.microsoft.com/en-us/az

[2021-09-29 11:57] kuleshovilya commented on #3461
Hmm, yes, a bit more clear, but sadly I don't think that would be changed for images, since this behaviour is expected from Bash. So I would recommend to just add step with `source` to your pipelines, at least I've tested it out and it seems to be working fine for your case.

[2021-09-29 12:12] ChristopheLav commented on #3461
Put this command into our pipelines to fix a global agent installation issue (maybe from Bash) impact all our developers pipelines (not a few). But it's a workaround for now.

Because this issue impact the usage of the master images (from Microsoft) with a native feature of ADO (from Microsoft) - I think the installation script (from Microsoft, https://vstsagenttools.blob.core.windows.net/tools/El

[2021-09-29 12:49] sphanley commented on #3352
@kuleshovilya, thanks for the update. Disappointing to hear there isn't interest in making this change. Respectfully, I don't understand why this would take a "serious overhaul" to accomplish. As I said, there's already a number of aspects of the checkout task which can be toggled on and off via parameters, such as `clean`, `lfs`, and `persistCredentials`. This feature request would simply be a st

[2021-09-29 13:05] kuleshovilya commented on #3352
The current implementation is a limiting factor here, but the claim regarding increased speed is interesting, we will certainly will be keeping tab on it

[2021-09-29 13:08] Meir017 commented on #3352
I my team we also use a custom script to checkout, for us it reduced the checkout time from ~3 minutes to ~30 seconds

[2021-09-29 13:35] kuleshovilya commented on #3461
Don't think enableagen.sh requires updating as well, as it is a case that is specific for you.
Once again, since we are talking about PATH variable in Bash being rewritten and read in realtime, it's expected that customized approach is needed.

[2021-09-30 04:42] Meir017 commented on #3352
what is the correct way for production?

[2021-09-30 07:16] kuleshovilya commented on #3352
Exactly, and that is not really customizable through checkout without knobs, which are not recomended for production.
Now, for it to be properly introduced, new feature would need to be introduced for fetch customization, which for now is not planned.

[2021-09-30 07:58] Meir017 commented on #3352
in the meantime this is a work around
[code]

[2021-09-30 12:45] anatolybolshakov commented on #3546
Hi @flixman this issue seems to be related to the agent process permissions, not the agent itself. You would need to make sure that agent process has enough permissions in your environment to execute tasks.
For questions about VMSS - you can open ticket in https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it.

[2021-09-30 13:10] flixman commented on #3546
@anatolybolshakov You have a point: as the agent runs properly when set through systemd... I will report this issue in that forum. Thank you!

[2021-09-30 13:10] #3546 closed

[2021-09-30 13:58] blmbyd opened #3549 "Support for `ExpandEnvironmentVariables` when reading `.env` file"
It would be nice add this line
[code]
before
https://github.com/microsoft/azure-pipelines-agent/blob/80652e4af159e62b291189334231acfffbb46cc4/src/Agent.Listener/Program.cs#L127

I have situation that I would like override `TEMP` with `%LOCALAPPDATA%\Temp\Agent1`

[2021-09-30 17:41] ChristopheLav commented on #3461
No - I don't agree with the statement "it's specific for you". We use this [Microsoft documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops) without any customization 🙂

For Windows agents, all is/seems good ✔

For Linux agent, the $PATH is provisionned with the values of `/etc/sudoers` instead of `/etc/environment`.

The agent installatio

[2021-10-01 08:19] kuleshovilya commented on #3461
@ChristopheLav With statement "it's specific for you" I mean that it's something that you specifically require and it can be fixed locally, so we are not sure that global change is required.
As for the execution of commands, have you executed just `source` or `source /etc/environment`?
The reason why I'm hesitant on any changes is because althoguh I can reproduce the issue, it's hardly unexpected,

[2021-10-01 08:38] kuleshovilya commented on #3430
The feature has been merged into agent and agent has been rolled out, closing the issue

[2021-10-01 08:38] #3430 closed

[2021-10-01 08:58] Bjego commented on #2967
Node 6 is causing problems with the recently updated Root certificate of letsencrypt as well. See the issue(s) with Sonarqubes plugin: https://community.sonarsource.com/t/cert-has-expired-issue-on-sonarqube/25656/29

[2021-10-01 11:05] ChristopheLav commented on #3461
I always don't agree with that @kuleshovilya 🙂

The Ubuntu (18.04 and 20.04) images on actions/virtual-environments repo are provisionned with values into `/etc/environment` that are required for the tools in the image work correctly (no customization from us) like it's documented. Also, as I said previously, the Microsoft Hosted Pools (Azure Pipelines) don't have this issue: the $PATH variable co

[2021-10-01 11:20] catthehacker commented on #3461
Sounds like PAM doing it's work during logon. You could try verifying if after logon you can access `$PATH`.

[2021-10-01 11:33] ChristopheLav commented on #3461
If I manually connect to the VM (that previously run the VMMS Custom Script Extension, the values from $PATH are correct yes.

The agent is injected automatically by MS with an extension (not customizable) and the $PATH values are only read during the installation (so in the context of the Extension, with _seems_ not loaded values).

[2021-10-01 11:49] kuleshovilya commented on #3461
That's exactly what I've said in my first reply in this thread, /etc/environment is loaded into PATH at logon that's why it works, and the `source` command is able to load it without logon. Once again, those test's doesnt't show the issue.

[2021-10-01 12:02] ChristopheLav commented on #3461
And I respond to you: we use the official Elastic Pools ADO feature that is documented [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops#lifecycle-of-a-scale-set-agent). The documentation indicates to build and use the images from the actions/virtual-environments then the Virtual Machine Scale Set is automatically managed by the ADO feature (s

[2021-10-01 14:14] EzzhevNikita commented on #3532
Hello @FahaoTang,
I have investigated this issue. And it looks like not related to build agent. Most likely it's related to installing of Visual Studio 2022 preview and .NET 6 preview or RC version. Update of some SDKs, components or tools installed on machine can require update of other software to keep compatibility between them.
I see in description of occurred error that root cause is non-comp

[2021-10-01 15:00] ygmarchi commented on #577
It saved my day

[2021-10-01 20:20] ChristopheLav commented on #3461
Yes if I'm logon on the VM instance manually.
No if I use a VMSS Custom Script Extension:

This is my tests and associated results:

| From                              | Commands                                                           | Result |
|-----------------------------------|--------------------------------------------------------------------|:--------:|
| VMSS Custom Script Extension

[2021-10-01 21:39] mjthurlkill commented on #1506
This looks like a bug in Azure DevOps.
For pipelines that checkout a small repo, it appears to almost always reuse the workfolder and only syncs the changes since the last run of one of the pipelines.
For pipelines that checkout a large repo, it appears to almost always re-clone the repo into a new workfolder instead of just syncing changes since the last run.
By small repos I mean smaller than ar

[2021-10-02 23:07] FahaoTang commented on #3532
Thanks for the suggestions.

[2021-10-04 06:22] kuleshovilya commented on #3461
While we can't talk for the team that manages enableagent.sh, we won't be adding `source` command to env.sh for sure.
Once again, please check /etc/environment setup and usage, the way you describe it's working is fine and how it's supposed to be, so far, we can only recommend adding `source` to your pipelines or something else that customizes the behaviour.

[2021-10-04 06:59] arp-mbender opened #3552 "Hosted agent v2.181.2 using RC version of dotnet?"
We're using DevOps on-prem 2020 Update 1.1, with the agents being updated to v2.181.2.

We've found that the `dotnet` version used "by default" by the agents is... 6.0.100-rc.1.21458.32. A "release candidate" version!? Is this OK? We know we can change the version used by various steps to a specific one, but still... a release-candidate `dotnet` used in an official, non-RC version of DevOps?

[2021-10-04 07:58] EzzhevNikita commented on #3532
@FahaoTang, please notify us about the results, and let us know if you need additional help.

[2021-10-04 08:29] FahaoTang commented on #3532
Hello, I am using Azure DevOps to build and the agent I used is windows-2022 with NuGet 5.11.0.10 already.
https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md

Note: my previous error was not caused by different dependent SDKs; it was because Node.js issue (times out I guess) when building in that agent. After I commented out the node.js actions in Publish st

[2021-10-04 09:59] ChristopheLav commented on #3461
It's not a valid workaround.

It's not required with Azure Pipelines, so why it's required with Elastic Pools? Because MS uses the same master images, there is a custom undocumented configuration step here. I would like to know this step.

If no one adapt something, the Elastics Pool don't work out of the box. The documentation need to be updated to indicates this __MAJOR__ point!

Whatever it's w

[2021-10-04 10:04] kuleshovilya commented on #3461
@ChristopheLav Because this is not an unexpected or incorrect behaviour, and sp we are not sure to what department we shall push this, the issue is not in the setup or anything like that, the way you are trying to use /etc/environment itself in not the way it's supposed to be used, thus you will need to make customization to your pipelines.
Regarding the differences between hosted agent and self-h

[2021-10-04 10:11] ChristopheLav commented on #3461
Like I said previously - I don't want to use this way! __I don't want myself.__ It's used by the master images itself that are maintained by Microsoft! We opened a ticket on their repo and @MaksimZhukov redirect you here (see the link in the first post).

You can post an update on the original issue. This can help 😉

We speak about the Elastic Pools feature... not manually self hosted agents. This

[2021-10-04 10:13] EzzhevNikita commented on #3532
@FahaoTang, thank you for this info.
Could you please confirm that your pipelines aren't affected by issue described in first message now? Please let us know if the ticket can be closed in this case.
If no, please share us details about environment used to repro this issue, YAML of affected pipeline and logs of failed run (with enabled "Enable system diagnostics").

[2021-10-04 10:15] kuleshovilya commented on #3461
@ChristopheLav Well yeah, not self-hosted, my bad. But still, this is not something we manage, or managed through GitHub, so opening a ticket on  AzDO would be the way to learn the difference.
As well as we are not maintaining master images, this would require creating issue on the AzDO portal as well.

[2021-10-04 10:20] ChristopheLav commented on #3461
Ok

We post an issue here because MS indicates that to us in this parent issue:

https://github.com/actions/virtual-environments/issues/3695

Can you post a message on the parent issue to indicates the usage of /etc/environment seems not the right way to do the things?

[2021-10-04 10:25] kuleshovilya commented on #3461
@ChristopheLav Sure, left a comment in the discussion

[2021-10-04 10:27] ChristopheLav commented on #3461
@kuleshovilya Thank you!

[2021-10-04 10:31] FahaoTang commented on #3532
I didn't raise the original issue thus would not be able to confirm that. I can confirm my previous issue was resolved (but not related to the solution as mine was mainly Node.js issue in my publish task).

[2021-10-04 10:57] EzzhevNikita commented on #3532
This issue is not related to agent itself, most likely this is environment-specific. And there is no new repro.
So the ticket is closed.

[2021-10-04 10:57] #3532 closed

[2021-10-04 14:27] andyfisher100 opened #3556 "Linux dependencies from https://packages.efficios.com fail as certificate has expired"
The linux agent relies on dependencies from https://packages.efficios.com. These dependencies can be found in the installdependencies.sh file that is shipped with the agent. The specific package needed is "lttng-ust"

The rpmkey from efficios has now expired meaning that installing the dependencies on a new system is not possible unless using "--no-check-certificate", which whilst this may be a wo

[2021-10-04 14:51] tatyana-kostromskaya commented on #3547
Hi, @msglueck is you issue resolved now? If "yes", could I close this ticket?

[2021-10-04 15:27] msglueck commented on #3547
Would have liked to use the minimal image, but I can also live with the full image.

[2021-10-04 15:27] #3547 closed

[2021-10-05 07:35] kuleshovilya commented on #3461
I'll close the issue for now, will reopen if something arises. Feel free to ping me here or at v-ikuleshov@microsoft.com

[2021-10-05 07:35] #3461 closed

[2021-10-05 08:20] xlz-jgoutin commented on #3556
This package is also provided by the EPEL repository that is more common and more reliable : https://centos.pkgs.org/7/epel-x86_64/lttng-ust-2.4.1-4.el7.x86_64.rpm.html

But, the provided version is older than the one of efficios repository (2.4.1 instead of 2.10.7 on CentOS7).

[2021-10-05 09:01] mivica opened #3559 "BlobNotFound on v2.193.2"
Agent Downloads links for  [v2.193.2](https://github.com/microsoft/azure-pipelines-agent/releases) go to BlobNotFound.

![image](https://user-images.githubusercontent.com/9020093/135992698-97166299-b690-4cc0-bc76-1ac205df9bb6.png)

[2021-10-05 12:01] DaniilShmelev commented on #3559
Hi @mivica! Release 2.193.2 was created by mistake. We've already removed it, so please take take a look at [release V2.193.1](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.193.1).
Feel free to ping me if you have any issues!

[2021-10-05 12:01] #3559 closed

[2021-10-05 12:06] lonevvolf commented on #3063
@melchiorbc Were you ever able to resolve this?  We are instantiating VMs using an Azure Scale Set, and following the guide from MS to setup Azure DevOps agents on it.  We also see this type of error regularly - it prevents us from using our own scale set to run agents.

[2021-10-05 12:41] lonevvolf opened #3560 "Failure to get lock fails installation"
https://github.com/microsoft/azure-pipelines-agent/blob/b93f8f1f4e53ddf5d9cd25090db6f71b092d177c/src/Agent.Listener/Configuration.Windows/NativeWindowsServiceHelper.cs#L522

Referring to the line above, if the SCM is busy at the time the agent tries to register/update properties, the installation doesn't complete , and doesn't wait/retry to get a lock.  We are hitting this constantly when spinning

[2021-10-05 14:58] EzzhevNikita commented on #3520
@mtene, thank you for logging this ticket.
I'm investigating the issue now. And I need additional info about the issue.
- What is agent type do you use to repro this issue? Is it Linux self-hosted or Docker container-based self-hosted agent?
- Could you please share YAML of the affected pipeline or a YAML with a minimal reproducible sample to allow me repro this on my side?
- Could you please shar

[2021-10-06 08:39] melchiorbc commented on #3063
@lonevvolf the only thing we did lately is to manually delete the Azure DevOps Deployment Group and created a new one, after which the issue did not occur anymore. But since also Microsoft had already updated the version of the Deployment Agent software I do not know if it was the Deployment Group or a new version of the Agent software which did resolve the issue for us.
At least it did not fail f

[2021-10-06 10:47] mtene commented on #3520
Hi again @EzzhevNikita I can reproduce the issue with the following pipeline definition (the second job fails):

[code]

I have the logs with diagnostics on, which I can share privately.
This extract might be relevant:
[code]

[2021-10-07 00:43] Vayth opened #3561 "Android: No toolchains found in the NDK toolchains folder for ABI with prefix: arm-linux-androideabi"
I got and error when building Android project with error `No toolchains found in the NDK toolchains folder for ABI with prefix: arm-linux-androideabi`. However, the error first appeared on agent version `2.193.0` / image version `20210929.1`. The same code built fine with agent version `2.192.0` / image version `20210919.1` and also built fine on local machine. That made me think that the issue li

[2021-10-07 07:03] #3561 closed, assigned to DaniilShmelev

[2021-10-07 15:19] lruddannelse opened #3562 "Cannot build Docker image with version 2.192.0"
When trying to build with agent with version 2.192.0 I simply receive an error checking context: 'syntax error in pattern' (see below).
Version 2.188.0 worked fine and no changes has been made to either code nor Dockerfile. Even an earlier succesfull build does not work anymore because the agent version has changed.

 Here is a copy of the log that fails:

2021-10-04T08:35:42.5665037Z ##[section]S

[2021-10-08 11:33] DenisRumyantsev commented on #3307
Since the exception message was improved we will be able to get more information about this issue when changes are deployed

[2021-10-10 12:05] LordBigSky commented on #2342
Workflow

[2021-10-11 16:26] Bhodges94 opened #3564 "Self-hosted Linux Android Studio Emulator agent - Connection refused"
## Agent Version and Platform
Agent version: 2.193.1
Linux Ubuntu Azure VM

## Azure DevOps Type and Version
dev.azure.com

## What's not working?

I'm trying to setup a self-hosted Linux agent running Android Studio emulators. I keep getting these errors on setup:

error: could not connect to TCP port 5554: Connection refused
adb: device 'emulator-5554' not found
Fatal: This application failed to

[2021-10-11 20:36] AhmedBM commented on #3457
@anatolybolshakov ive just tried again using the latest (2.193.0) and seem to constantly hit that issue. The first build aways succeeds, as described in the issue.

[2021-10-12 03:18] AhmedBM commented on #3307
im also experiancing this issue, filed a bug https://github.com/microsoft/azure-pipelines-agent/issues/3457

[2021-10-13 06:51] DaniilShmelev commented on #3564
Have you tried running the same command/set of commands locally, without an agent? Does it work correctly?
Also, could you please share the bash script code that you're using?

[2021-10-13 08:06] Bhodges94 commented on #3564
The response if i run `emulator -avd emulator-5554` is:

[code]
`emulator: INFO: QtLogger.cpp:68: Fatal: This application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may fix this problem.`
I've installed QT from commandline and direct from their website with all the tools and the paths exist.

[2021-10-13 10:42] LasithaPrabodha commented on #858
Use `[ci skip]`. Works for me

[2021-10-13 13:31] hbuckle commented on #3371
Still an issue

[2021-10-14 12:11] gpxricky opened #3565 "Cannot run checkout step with LFS enabled inside a Docker container (no LFS installed on host)"
## Agent Version and Platform
Version of your agent? 2.193.1

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

## What's not working?
My pipeline is using an agent pool. Some jobs shall run in a dedicated Docker container on the agent. Therefore our configuration is similar as follows:

[code]

Unfortunately the output of the p

[2021-10-14 14:53] Gustavmk commented on #2757
It's works for me

[2021-10-15 09:25] nochtap opened #3566 "Can not run linux container job on self-hosted Windows agent (docker bridge driver not supported)"
I created a self-hosted Windows-2022 Datacenter  agent. Installed Docker EE (LCOW)
The docker is perfectly running containers on localy, both of the linux and windows base containers!

But when I try to run a container job pipeline I got a following error:

[code]
On this Agent configuration the bridge network is not supported, here it is the docker info result:
[code]

Have a chance to add any pa

[2021-10-15 11:57] anatolybolshakov commented on #3501
Hi everyone!
We have rolled out the fix for this issue - closing this at the moment.

[2021-10-15 11:57] #3501 closed

[2021-10-16 08:02] #3358 closed

[2021-10-17 11:30] WALLOUD commented on #3508
S
Drug dropped

[2021-10-18 07:21] gpxricky commented on #3565
Hi @DenisRumyantsev, thank you very much for your answer.
Unfortunately, I think my description was a little bit misleading. So I'll try to explain the point again:

1.) My pipeline is designed to use a virtual machine running a Linux as host (`pool`)
2.) My pipeline consists of several jobs
3.) One job shall run in a Docker Container (`container`) within that virtual machine
4.) One of the steps

[2021-10-18 08:53] rizi opened #3567 "Using the latest azure-pipelines-agent v2.193.1 on premises - Does not recognize Visual Studio 2022 RC"
## Agent Version and Platform
2.193.1, I downloaded this version from your github repository and installed it on our self hosted (on premises) azure devops server (17.143.28621.4 (AzureDevOps2019) on windows.

Visual Studio 2022 Enterprise RC has been installed before I installed the new agent.

We are using "classic builds" (not yaml builds) and all tasks (like visual studio build task or visual

[2021-10-18 22:36] nibanks commented on #3540
Ping. Any updates on this? Is there someone I should be talking to get some priority on this? @anatolybolshakov?

[2021-10-19 15:28] SimonAlling commented on #2967
Or perhaps Node 16, now that "Active Support" for Node 14 ended today [according to endoflife.date](https://endoflife.date/nodejs).

[2021-10-20 14:08] rizi commented on #3567
@tatyana-kostromskaya VsBuild, MsBuild,MsTestV2, please also provide me how to do update the tasks correctly?

One more question: what are the capabilities for the build agents used for? When do I need to update the build agents and when do I need to update the build tasks?

Br

[2021-10-20 15:14] tatyana-kostromskaya commented on #3567
In future you can build these tasks by your self.
These tasks are stored in the public repo: https://github.com/microsoft/azure-pipelines-tasks
Here you can find instruction with prerequisites and commands for building these tasks: https://github.com/microsoft/azure-pipelines-tasks/blob/master/docs/contribute.md#prerequisites-node-and-npm

[2021-10-20 15:43] tatyana-kostromskaya opened #3569 "Update PowerShellCapabilitiesProvider to work with Visual Studio 2022"
Update PowerShellCapabilitiesProvider to work with Visual Studio 2022. Right now it generates capabilities only for previous versions of VS

[2021-10-20 16:44] anatolybolshakov commented on #3447
Closing this at the moment - since Docker was replaced with containerd in Kubernetes 1.19, and Docker-in-Docker became unavailable. @HighWatersDev please let us know if you have any questions.

[2021-10-22 10:20] kuleshovilya opened #3572 "Add git version recomendations to the agent"
Add info to git version check
Maybe remove --prune-tags from versions lower than 2.17.0 and update docs?

[2021-10-22 15:36] greektreat opened #3574 "Installing azure pipeline agent on Debian 11"
our infrastructure team has provided a Debian 11 install to try our first Linux build agent server. I am following the steps to set up the agent.  I ran  ./bin/installdependencies.sh
and I get a few errors. As I see the reason is that the newer version of Debian uses newer versions of these libraries. This was the output of the commad that states the details of the server and the errors.

[code]

[2021-10-22 15:38] jimaxe opened #3575 "Automatic updates of pipelines agent fail (./bin/Agent.Listener: No such file or directory)"
## Agent Version and Platform
2.193.0

## OS of the machine running the agent
Linux (Ubuntu 18.04)

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
We are running a self-hosted agent in Docker on Linux that has been configured according to the instructions at [Run a self-hosted agent in Docker](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-

[2021-10-25 14:53] jessehouwing opened #3577 "Retry logic shows `$`s and attempts one more time than it says it will."
## Agent Version and Platform
Version of your agent? 2.193.1

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name?
not at liberty to share

## What's not working?
Retry logic outputs `$` and either does 1 attempt too many or needs to show the right number of retries: `$4/$3`

![image](https://user-images.git

[2021-10-25 18:34] strtdusty opened #3579 "Environment agent seems to be stuck in a running state"
## Agent Version and Platform
Version of your agent? 2.144.0/2.144.1/...
2.193.1

OS of the machine running the agent? OSX/Windows/Linux/...
Windows Server 2016 Datacenter

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/Itron
Itron

## What's not working?
Environment agents seem to be stuck in a running state.  However, the a

[2021-10-26 04:46] pedro-gilmora opened #3580 "Can't remove old agent"
I upgraded the AzureDevops and forgot to remove old agent
When I try to remove old agent I get this, but I don't remember url or how to access and remove it
![error](https://user-images.githubusercontent.com/33942331/138810183-f4c55cfa-28ff-494a-b044-53495c86fc03.png)

What should I do in this case

[2021-10-26 11:32] Rudi81 opened #3583 "Update to 2.193.0 gives error SP324097: Your network proxy requires authentication."
Hello,

the agent automatically updated to version 2.193.0. Since then we can't release anything because we get the following error message:

SP324097: Your network proxy requires authentication.

We already had this problem after an update to version 2.188.3 so I told our customer to check their proxy settings. They told me that they are correct so I tryed to release again and it worked. They sai

[2021-10-26 19:36] ColeSiegelTR opened #3584 "Cannot mount volumes when running Docker task inside self-hosted agent running on GKE"
I set up a self-hosted ADO agent which runs inside a GKE container. When I tried to transfer my existing docker-compose build from the Microsoft agent pool to my own self hosted agent, the docker-compose fails to mount the volume. I receive errors saying that I cannot create directories since the file system is read-only.

ADO pipeline task:
[code]
Docker Compose:

[code]
Build error:

[code]

Any

[2021-10-27 04:15] WanielDeiss opened #3585 "version CURL_OPENSSL_3 not found - on Raspberry PI 4 - Ubuntu 20.04"
## Agent Version and Platform
Version of your agent? 2.194.0-prerelease & 2.193.1

Raspberry PI 4B 8GB - Ubuntu 20.04.3
Linux ubuntu 5.4.0-1042-raspi #46-Ubuntu SMP PREEMPT Fri Jul 30 00:35:40 UTC 2021 aarch64 aarch64 aarch64 GNU/Linux

## Azure DevOps Type and Version
on-premises DevOps Server?

Version Azure DevOps Server 2020 Update 1

## What's not working?
I have a fresh installed Raspberry P

[2021-10-29 16:34] peetw opened #3587 "Updates cause self-hosted agents to be removed"
## Agent Version and Platform
Version of your agent? 2.185.1/2.193.1 (probably others, but these are the ones we have tested)

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
https://dev.azure.com/jbaconsulting

## What's not working?
We are running our self-hosted agents on Linux containers in Docker, following the instructions given here: https://docs.microsoft.com/e

[2021-10-29 23:14] jessehouwing opened #3588 "TFVC jobs in parallel on the hosted agent may try to delete the same workspace at the exact same time."
## Agent Version and Platform
Version of your agent? 2.194.0'

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? can't share

## What's not working?
During checkout the agent queries workspaces assigned to the same machine name and subsequently tries to delete these. Due to the fact that VMs in the hosted

[2021-10-30 09:28] jessehouwing commented on #3588
@anatolybolshakov

[2021-10-30 14:46] pedro-gilmora commented on #3580
I can't find those files, can you lead me please?

[2021-11-01 04:13] pedro-gilmora opened #3590 "Problem creating pipeline"
What's going on with my pipeline creator? I'm getting this error

![image](https://user-images.githubusercontent.com/33942331/139620732-a273fb9d-0931-42c5-8b1d-80ff6bc8e321.png)

[2021-11-01 07:01] kuleshovilya commented on #3562
@lruddannelse Any update?

[2021-11-01 07:05] AnnaOpareva commented on #3580
Hi, @pedro-gilmora
You need to set up "show hidden files" - like in this [tutorial](https://support.microsoft.com/en-gb/windows/show-hidden-files-0320fe58-0117-fd59-6851-9b7f9840fdb2), after that - you could find files: .agent, .credentials, and .credentials_rsaparams in the folder with your agent.
It will be looking like this:
![image](https://user-images.githubusercontent.com/84513972/139634210-

[2021-11-01 07:17] alexander-smolyakov commented on #3590
Hi @pedro-gilmora, the pipeline creator is related to the Azure DevOps side - could you please create a ticket on https://developercommunity.visualstudio.com/search?space=21 to get the right eyes on it?

[2021-11-01 09:05] lruddannelse commented on #3562
Hi @kuleshovilya 😊
Sorry for my late reply. Was on vacation last week.
I've tried using differnt ubuntu image versions but the problem is still the same. Azure DevOps also says that ubuntu-16.04  does not exist so that on I cannot run.

![image](https://user-images.githubusercontent.com/92107930/139647624-550fdd2a-eb89-4d7c-a15e-542c630dee82.png)

![image](https://user-images.githubusercontent.com

[2021-11-01 12:10] kuleshovilya commented on #3562
@lruddannelse I see, that's strange. Is it possible to check pipeline on self-hosted agent?

[2021-11-01 13:39] lruddannelse commented on #3562
Hi @kuleshovilya, unfortunately it is not possible for us to self-host the agent.
However, I can see DevOps says it is now using version 2.194.0 although the log for the pipeline still shows 2.192.0

![image](https://user-images.githubusercontent.com/92107930/139680538-b3ef3d81-1650-460f-addb-46fce361bf18.png)

![image](https://user-images.githubusercontent.com/92107930/139680625-f1041da7-6dc1-47a

[2021-11-01 14:13] kuleshovilya commented on #3562
@lruddannelse It's a task version, not agent. Seems like a task issue, could you please open an issue in the task repo: https://github.com/microsoft/azure-pipelines-tasks ?

[2021-11-01 14:45] DenisRumyantsev commented on #3307
@d3r3kk could you please update your pipeline agent to the `2.194.0` version (currently latest)
and provide **[worker diagnostic logs](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#worker-diagnostic-logs)** when this error happens again?

[2021-11-01 21:12] #3577 closed

[2021-11-02 07:01] alexander-smolyakov commented on #3590
@pedro-gilmora, let me close this one at the moment since this issue is not related to the pipeline agent. Please feel free to ask any further questions.

[2021-11-02 07:01] #3590 closed

[2021-11-02 08:43] jasonycw commented on #3501
Hi @anatolybolshakov our Azure Pipeline is have a similar issue recently, how do we know if the fix is on our Azure Pipeline?

The job was considered success but the final step is actually fail and it will not be released successfully

![image](https://user-images.githubusercontent.com/4518597/139813454-71f58d5d-479a-4731-af77-fef0afb4a51d.png)
[code]

[2021-11-02 08:58] #3562 closed

[2021-11-02 09:06] anatolybolshakov commented on #3501
@jasonycw we've rolled out the fix with [v2.193.1](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.193.1) agent version - you can check which agent version do you use for the self-hosted agent case. For hosted agents - it should be already here.

[2021-11-02 12:04] jessehouwing commented on #3588
@vijayma Any chance this one can be merged? It's causing build failures when running builds in parallel on the hosted agent.

[2021-11-02 12:39] #3572 closed

[2021-11-02 12:39] kuleshovilya commented on #3572
Merged PR

[2021-11-02 17:13] pmcconnell3 opened #3595 "Download Artifact step returning "Authentication Required" on local servers"
### Agent Version and Platform

2.193.0 (and 2.194.0), Windows server 2012 R2 web servers.

### Azure DevOps Type

dev.azure.com

### What's not working?

Our Azure agent recently stopped working. We have been using Azure release pipelines for continuous deployment of an IIS application. It gives us a very non-descript "Authentication required" error. We noticed this on 10/13/2021. At the time tha

[2021-11-02 17:57] jessehouwing opened #3596 "System.NullReferenceException: Object reference not set to an instance of an object. at Microsoft.VisualStudio.Services.Agent.Worker.JobRunner.UpdateMetadata(JobMetadataMessage message)"
## Agent Version and Platform
Version of your agent? 2.194.0

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

If dev.azure.com, what is your organization name? https://dev.azure.com/xpirit

## What's not working?
Please include error messages and screenshots.

![image](https://user-images.githubusercontent.com/4173387/139919

[2021-11-03 11:03] Nika-89 commented on #2985
We have the same issue. It's not possible to download 2 artifacts from GitHub in the scope of a single release. Also, we've noticed that it is reproducible only with private repos and only with the classic release, YAML works fine

[2021-11-03 12:34] anatolybolshakov commented on #3588
Reopened to keep it till changes are being rolled out.

[2021-11-04 15:09] reuben-wcg commented on #2292
I am getting an error similar to yours. My Nuget REstore task get stuck when executing this  line E:\Agent\vsts-agent-win-x64-2.192.0\_work\_tool\NuGet\5.4.0\x64\nuget.exe restore E:\Agent\vsts-agent-win-x64-2.192.0\_work\2\s\SPV.sln -Verbosity Detailed -NonInteractive -ConfigFile E:\Agent\vsts-agent-win-x64-2.192.0\_work\2\s\.nuget\NuGet.Config

There is no error message nothing.

[2021-11-05 03:18] adrian-skybaker commented on #1749
This would be much simpler and less surprising if the condition element was supported on template.

[2021-11-05 14:51] cage200 opened #3597 "Docker agent signals not processed for running cleanup from Agent Pool"
Hi guys,

I am trying to run some Docker build agents in Azure DevOps.
Everything runs fine following the instructions from :  https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops

The only problem I have is that the agent is not getting removed from the Agent Pool. If I redeploy them, they remained in the pool, so I need to remove them manually. If I enter in th

[2021-11-05 19:17] pmcconnell3 commented on #3595
I am closing this, we have discovered the issue. dev.azure.com got removed from our list of trusted sites on these servers.

[2021-11-05 19:17] #3595 closed

[2021-11-07 07:50] antoson commented on #2082
Could you please provide more guidance for setting up the permission access to docker deamon for the self hosted agent? Sorry, but the message "Be sure your pipelines agent has permission to access the Docker daemon." is totally useless. I know **what** needs to be done, I don't know **how**. 😉

[2021-11-07 15:34] tamhuynhit commented on #838
OMG The issue is raised from 2021. Why close this issue and leave us here? Still need solution for the full branch name in 2021

[2021-11-08 22:17] sphanley opened #3599 ""The SSL connection could not be established" when configuring agent behind enterprise root cert"
## Agent Version and Platform
2.194.0, MacOS

## Azure DevOps Type and Version
Azure DevOps Services (dev.azure.com)

## What's not working?
I'm attempting to install the Azure DevOps agent behind an enterprise proxy which injects a root certificate. I've added that root certificate to the OS X keychain and marked it as trusted, and when I go to https://dev.azure.com in my browser, I see it succes

[2021-11-08 23:08] magol opened #3600 "[warning]Unable to find MSBuild version '14.0' for architecture 'x86'. Falling back to version '4.0'."
I get following output when I try to build with Visual Studio 2022 using build agent version 1.151.2
We are using Azure DevOps Server Version Dev17.M153.5 and have configure the build task to use the latest version of Visual Studio.

[code]

The build fail, how should I do to make it works?

[2021-11-09 10:20] anatolybolshakov commented on #3599
Hi @sphanley do you run curl command from the same host which you use for agent run? Please note that there is some difference between validation process made by agent and curl - so basically it can't be considered fully equal.
Does it work with --sslskipcertvalidation flag enabled during agent configuration?

[2021-11-09 12:11] durandt commented on #3567
Hi, do you have the timeline of when the new tasks will be installed to existing devops orgs?

Regards,

Thibault

[2021-11-09 12:16] durandt commented on #3567
PS: I newly installed a new v2.194.0-agent with the newly released Visual Studio Enterprise 2022 and the agent did not detect capabilities for MSBuild, VSTest and VisualStudio

[2021-11-09 12:24] durandt commented on #3567
PPS: Sorry just found #3569 , will follow there. But let us know if you have any timeline.

[2021-11-09 12:25] durandt commented on #3569
Hi,

I an interested to know if you have any timeline for the resolution of this issue.

Regards,

Thibault

[2021-11-09 13:48] sphanley commented on #3599
Hello @anatolybolshakov! Thanks for the reply. Yes, I'm running the `curl -v` on the same host that I'm trying to register as an agent. And yes, the registration works if I use `--skipsslcertvalidation`, but when the agent is registered that way, I continue to get SSL validation failures when my agent tries to run restore a cache hit using the [Cache@2](https://docs.microsoft.com/en-us/azure/devop

[2021-11-09 16:38] lukasan opened #3602 "config.sh hangs on 'Finished operation Location.GetConnectionData'"
## Agent Version and Platform
agent v2.194.0 (commit 7dbde4c)

Ubuntu 20.04

## Azure DevOps Type and Version
https://dev.azure.com/Apdisma

## What's not working?
Last message when launching config.sh:
[code]
then **nothing happens**, have to CTRL+C.

On a test Azure VM using Ubuntu 20.04 it goes through further. This means there's something wrong with my server or the provider. But there's no er

[2021-11-09 17:46] albrookesplowman commented on #3569
Do you know when this will be released?  I have just tried the prerelease version of 2.195 and it is behaving very strangely.  I have VS2022 deployed on a self hosted agent with the 2.195.0 pipeline agent installed and configured.  So far so good... When I run my build pipeline it works OK as well but at some point in the build process, it goes wrong as the agent version is suddenly changed to ver

[2021-11-09 18:07] anatolybolshakov commented on #3602
Hi @lukasan I can't reproduce this issue with linux machine and agent v2.194.0 - could you please check it with previous agent version - to determine if it's related to the recent agent changes or some configuration issue? Does it happen sporadically or constantly?

[2021-11-09 20:35] durandt commented on #3569
I need the correct list of capabilities for older builds (.Net Framework etc...) to be able to queue on the agents. Right now I add the capabilities manually, but that's a regression compared to older VS-versions.

[2021-11-10 07:48] azilber commented on #3124
The company I'm with provides the 2nd link you [posted](https://hub.docker.com/r/consultent/azure-pipelines-vsts-agent).  It doesn't look like Microsoft is ever going to make it easy for us again with those agents.  I hope the images we offer are a help, we currently use them in production for our clients, and they work better than the original Microsoft provided containers, especially the cleanup

[2021-11-10 12:10] EzzhevNikita commented on #3580
Hey @pedro-gilmora, did you manage to remove the old agent?

[2021-11-10 12:14] tatyana-kostromskaya commented on #3569
@durandt , agent 2.195.0 should be fully release in a week. Then it will be automatically updated in Hosted pools. This version has already contained this change.

@albrookesplowman, do you use on-prem Azure DevOps (Azure DevOps Server)? Most likely you agent automatically downgraded to lower version. Could you please try to update agent again to 2.195.0 and set environment variable `AZP_AGENT_DOW

[2021-11-10 13:45] zojovano opened #3604 "Use Service Principal or Managed Identity for self-hosted agent registration?"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2021-11-10 14:21] older commented on #3569
Would this also detect capabilities provided by with Visual Studio 2022 Build Tools?

[2021-11-10 15:04] anatolybolshakov commented on #3604
Hi @zojovano there are no such authentications methods available for pipeline agent and Azure DevOps as I know - these types are relevant for the Microsoft Azure platform.

[2021-11-10 18:18] pedro-gilmora commented on #3580
@EzzhevNikita Yes I did, thanks, I've been too bussy here, but @AnnaOpareva gave the solution about hidden files. Thanks

[2021-11-10 21:02] lukasan commented on #3602
Hey @anatolybolshakov, I downloaded pre-release version 2.195.0 and it gives me auth failed. That's ok since it didn't show me anything before. The problem was constant.

Seems like this bug is fixed in 2.195.0
Cheers

[2021-11-11 05:25] EzzhevNikita commented on #3580
@pedro-gilmora Since the issue was resolved for you, I am closing this ticket. Feel free to create new issues in this repo in case of future questions.

[2021-11-11 05:25] #3580 closed

[2021-11-11 08:20] rahultew commented on #2082
While running the hosted agent, make sure your service in windows in running with 'Local System Account' permission otherwise you will get console error that 'access denied' when you run a pipeline.
Go to services and search for Azure Pipeline Agent service--> Open the properties dialog box---> go to 'Log On' tab-->select logon as 'Local System Account' and also check the box 'Allow service to int

[2021-11-11 09:44] zojovano commented on #3604
Hi, I understand that ADO is not aware of Azure Service Principal or Managed Identity but after all these are OAuth/OpenID protocols/tokens. Why is ADO not able to trust one of App Registrations (or User Assigned Managed Identities) for the agent registration?
ADO uses AAD for user authentication, why it would not be able to use Service Principal or Managed Identity for service/app registration? (

[2021-11-11 10:32] anatolybolshakov commented on #3604
@zojovano these questions are more relevant for the ADO side, although this repo is mostly for the pipeline agent itself - could you please open a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?

[2021-11-11 10:58] antoson commented on #2082
While dealing with this problem, I found another inconsistency. Some agent registration scripts by default use `NT AUTHORITY\SYSTEM` and other use `NT AUTHORITY\NETWORK SERVICE` for agent service log on account. I haven't found a reason for this in any documentation.

[2021-11-11 12:07] BastianZim commented on #3184
With the release of the new MacBook Pros, I was wondering if there are any news here?

[2021-11-11 12:33] anatolybolshakov commented on #3604
@zojovano closing this at the moment since it's not related to the agent itself - please feel free to ask any further questions.

[2021-11-11 12:33] #3604 closed

[2021-11-11 12:51] DenisRumyantsev commented on #3307
@AhmedBM could you please provide us with **[worker diagnostic logs](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-devops#worker-diagnostic-logs)**?
Please update your pipeline agent to the `2.194.0` version (or higher) first.

[2021-11-11 13:18] bencassie opened #3606 "PS Remoting - System.ComponentModel.Win32Exception (1312): Failed to write credentials"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2021-11-12 08:22] DenisRumyantsev commented on #3565
@gpxricky I can see this issue. The reason why the `checkout` task can not be run inside the container is that this task is built directly into the pipeline agent and is not implemented as a separate task. The `checkout` task has the `target` input, however, this input is general and applies to all tasks. It was not envisaged that it would be used on tasks sewn into the agent. This was not designe

[2021-11-12 14:24] cage200 commented on #3597
Hi again,
I have seen that the instructions were updated yesterday.
[code]
Adding this, the signals are now received.

[2021-11-12 14:24] #3597 closed

[2021-11-12 17:52] Satan-Claus-666 commented on #3569
@older As I see for now, v2.195.0 works ok with Visual Studio 2022 Build Tools. These capabilities are added: MSBuild, MSBuild_17.0, MSBuild_17.0_x64, VisualStudio, VisualStudio_17.0, VisualStudio_IDE, VisualStudio_IDE_17.0.

[2021-11-12 18:20] lukasan commented on #3602
@anatolybolshakov, I was too quick to close this.

The problem is still there, I also tried version 2.175.0. It seems like I would get this behaviour on any version.
I have a PAT of the organization owner with all access. I tried it with my own PAT with minimal access.

Connect and nothing happens, the script just hangs and does nothing.

Interestingly, `az devops login` and other `az devops` scri

[2021-11-12 18:41] stas2 opened #3610 "config.sh fails with message: Deployment type has not been determined"
## Agent Version and Platform
Version of your agent? 2.195.0

OS of the machine running the agent? Linux x64

## Azure DevOps Type and Version
on-prem Microsoft Visual Studio Team Foundation Server

Version 15.112.26307.0

(Is this at all supported?)

## What's not working?
config.sh fails with message: Deployment type has not been determined

We have successfully been running an older version 2.1

[2021-11-15 11:07] anatolybolshakov commented on #3556
Reopened to keep it until relevant changes are being deployed.

[2021-11-15 12:45] kuleshovilya commented on #3537
The agent would be vulnerable if the ports in the mentioned vulnerabilities are opened, but those bugs are for AzureVM, so we would recommend contacting [them](https://docs.microsoft.com/en-us/azure/virtual-machines/vm-support-help)

[2021-11-15 13:56] lukasan commented on #3602
I've looked around the repo more and found this [Agent (version higher than 2.164.8) fails to connect to Azure DevOps](https://github.com/microsoft/azure-pipelines-agent/issues/3093). So I tried running an old version [2.164.5](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.164.5) and it seems to be working.

Using such an old version isn't ideal, but it works...

[2021-11-15 14:18] DenisRumyantsev commented on #3610
Hi @stas2, starting with release `2.194.0`, a hash validation of the pipeline agent package during self-updating was implemented. The agent needs to know the server deployment type for this. Besides that, it is used by `ConfigurationManager` [here](https://github.com/microsoft/azure-pipelines-agent/blob/629921e0faea9739aeb926a6c67a443cbf936b96/src/Agent.Listener/Configuration/ConfigurationManager.

[2021-11-15 14:35] kuleshovilya commented on #3596
Hello @jessehouwing
We are looking into the hosted agent logs at the minute, could you please answer couple of questions for us to understand the issue:
- Is this reoccurring error?
- Can this error be reproduced?

[2021-11-15 15:20] anatolybolshakov commented on #3602
@lukasan got it, thanks - this could be probably related to the known net core 3.1 issue described in the issue above (linux only) - we are going to update net core for agent in the nearest time - will let you know once there are any updates.

[2021-11-15 15:25] lukasan commented on #3602
I'm using SDK NET 5.0.403 and runtime 5.0.12, doubt it that it's core 3.1 that is the culprit. Unless the same bug got transferred from 3.1 to 5.

[2021-11-15 15:35] DenisRumyantsev commented on #3610
@stas2 since TFS version 15 is still supported, we are going to fix this issue for `ConfigurationManager` by throwing warnings instead of errors. You will be able to set the environment variable `DISABLE_HASH_VALIDATION=true` to avoid this error during the self-update process.

[2021-11-16 21:39] beerai commented on #3412
Commenting so this doesn't go stale. We also run our tests across a number of agents and have also noticed the same behaviour.

[2021-11-16 23:08] bencassie commented on #3606
Removing --proxyusername '***' --proxypassword '***' fixed this issue

[2021-11-16 23:08] #3606 closed

[2021-11-17 06:04] markmcdon7 commented on #3308
I had the exact same issue. Worked installing. Not uninstalling, using same PAT. Nothing changed.

[2021-11-17 08:20] DenisRumyantsev commented on #3610
[Related Pull Request](https://github.com/microsoft/azure-pipelines-agent/pull/3614)

[2021-11-17 21:47] ma-armenta commented on #2866
This is still a problem. Experiencing the same exact issue.
Extension for cloud analytics conflicts with cloud-init

[2021-11-18 09:39] anatolybolshakov commented on #2866
Hi everyone! This seems to be a scale set question - since this repo is mostly for the pipeline agent itself - could you please open a  ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?

[2021-11-18 10:03] bertrandpsi commented on #3600
Same issue on my side. I tried first on a build system where 2019 and 2022 were installed, but the build task was always using 2019 even if the agent capabilities was showing both.

[2021-11-18 10:34] kuleshovilya commented on #3596
@jessehouwing Any update?

[2021-11-18 10:35] kuleshovilya commented on #3537
@davidmoten I'll close the ticket for now, please feel free to reopen the ticket if something arise or ping me at v-ikuleshov@microsoft.com

[2021-11-18 10:35] #3537 closed

[2021-11-18 13:35] anatolybolshakov commented on #3602
@lukasan at the moment agent is build with net core 3.1 - this version does not depend on net core version installed on the agent machine.

[2021-11-18 18:02] lanphiergm opened #3617 "Multi-checkout with a path in a container fails"
## Agent Version and Platform
Version of your agent? 2.181.2
OS of the machine running the agent? Windows 10 21H1

## Azure DevOps Type and Version
on-premises Azure DevOps Server 2020.1.1 Patch 1

## What's not working?
If a YAML pipeline is checking out more than one repository, provides custom paths for these checkouts, and is performing the job inside a container, the agent fails to perform th

[2021-11-18 19:11] mstrent commented on #3273
ANY COPY FILES TASK in an Azure DevOps release pipeline which involves an SMB mount will fail on recent Mac OS versions! This only occurs when the agent is running as a service. It does not happen when you manually run the agent interactively in a terminal. This means the agent breaks after EVERY REBOOT and requires manual intervention. Not cool.

Agent.Worker gives a `MacOS error: -25294` error i

[2021-11-18 19:17] mstrent commented on #3273
@anatolybolshakov this is not a question, this is a (now) long-standing bug.

[2021-11-19 15:07] emitrackman commented on #3109
Is there a way to manually specify the compressor's command line for given cache task?

[2021-11-20 13:05] rkieslinger commented on #1294
Bump. Same feature request. Pls come one MS!

[2021-11-20 17:03] beatcracker commented on #3416
Docs are not updated yet, so not stale.

[2021-11-22 19:28] sphanley commented on #3599
Any info you're able to provide about what the pipeline agent's cert validation process entails would be very helpful - we're still blocked by this issue.

[2021-11-23 09:37] watcherkb opened #3622 "Self hosted agents have gone offline after logging of User"
## Agent Version and Platform
Version of your agent? 2.194.0/2.195.0

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com

## Organization name
https://dev.azure.com/{organization}

## What's not working?
The agents are running fine for days if a User is logged in on the agent. As soon as I log off the User from agent, after some time the agents goes offlin

[2021-11-23 15:02] FrankHeimes commented on #3610
@DenisRumyantsev Thank's for fixing this issue!
It's unfortunate however that version 2.195.0 suffers from this problem as that version also adds support for VS2022.

Can you give an estimate on when your PR will probably be merged and published?

Is there any way for me to avoid or 'sabotage' the call to `SelfUpdate()`, e.g. by blocking internet access?
I tried the following, but to no avail:
[co

[2021-11-23 15:30] groogiam opened #3624 "Self hosted agents does not detect java capability for OpenJDK"
## Agent Version and Platform
2.193.1

OS of the machine running the agent? OSX/Windows/Linux/...
Windows

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name?
https://dev.azure.com/flairsoft

## What's not working?
The build agent does not seem to detect "java" capability for OpenJDK installations. This is described in #3402 and the last comment refere

[2021-11-23 15:40] EzzhevNikita commented on #3624
Hey, @groogiam, the agent is using register keys for detecting java capabilities. Are you sure that AdoptJDK added an entry into the register? Currently, the agent checks the set of register keys described in this [file](https://github.com/microsoft/azure-pipelines-agent/blob/32f8ffa561301097484ff1f4799ea3f954ad29fb/src/Misc/layoutbin/powershell/Add-JavaCapabilities.ps1#L5).

[2021-11-23 17:43] DenisRumyantsev commented on #3307
@d3r3kk, @AhmedBM,
I'm closing this issue due to a lack of information for the investigation. Feel free to request reopening this once there will be new information about this issue.

[2021-11-23 17:43] #3307 closed

[2021-11-23 17:44] groogiam commented on #3624
@EzzhevNikita I usually install OpenJDK with choco https://community.chocolatey.org/packages/openjdk which I'm guessing does not create these keys. I there a reason that the logic has opted to check for registry keys rather than java being on the path or a JAVA_HOME environment variables? Seems like this might be a more robust way of checking for a java environment. Thanks for your help and quick

[2021-11-23 21:13] rockrilvas opened #3626 "Agent Pool stays online only for 60 minutes"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2021-11-23 21:19] mikehend opened #3627 "Azure Virtual Machine Scale Sets fails to install agent"
## Having issue with YAML?
No

## Having issue with Tasks?
No

## Having issue with software on Hosted Agent?
No

## Having generic issue with Azure-Pipelines/VSTS/TFS?
NO

## Have you tried troubleshooting?
Not applicable.  Agent isn't ready to run pipeline

## Agent Version and Platform
2.195.0 (Package Install version 1.27.0.2)

OS of the machine running the agent? OSX/Windows/Linux/...
Windows

[2021-11-23 21:21] rockrilvas commented on #3585
Are you having any issue related to "WARN VisualStudioServices] Authentication failed with status code 401.
Cache-Control: no-cache"?

I am sorry, I know it is another issue, but I could not find another person who does user rpi 4.

Thank you!

[2021-11-24 05:54] EzzhevNikita commented on #3627
@mikehend This repo is specific for the ADO agent, while your issue is mostly related to the Azure Virtual Machine Scale Sets and its configuration scripts. Could you please open an issue in [Developer Community](https://developercommunity.visualstudio.com/search?space=21) to get the right eyes on your issue?

[2021-11-24 07:36] PaulVrugt opened #3628 "Pipelines and reusing workspaces"
## Agent Version and Platform
Version of your agent? 2.195.0

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com/infolandcode

## What's not working?
We have a private build agent (scale set agent). We are working with a lot of different pipelines for the same repository, that uses the same sources. However, it seems that each of these pipelines always cre

[2021-11-24 07:53] EzzhevNikita commented on #3628
Hey @PaulVrugt, the current implementation of the agent allows sharing repository resources only between the same pipelines. We aren't supporting sharing repositories between different pipeline definitions.

[2021-11-24 08:00] PaulVrugt commented on #3628
Hello @EzzhevNikita . Thanks for the quick reply!

I was afraid of that. But hopefully you understand the issue right? Is there anything we can do about this? Is there any workaround we can use?

Can I submit a feature request somewhere? Because the current implementation is very inefficient.

[2021-11-24 08:07] EzzhevNikita commented on #3628
@PaulVrugt, Yep, as I understand you want to have the opportunity to share repository resources between different pipeline definitions. Unfortunately, there are no workarounds for your use case currently.
You can submit a feature request in this repository as a separate work item, please describe in detail your proposal and we will take a look at it once we will have the capacity for it.

[2021-11-24 09:07] EzzhevNikita commented on #3624
@groogiam  The main reason why we are using reg keys is that they are machine-specific, while env variables could change from user to user. And generally, registry keys are a more common and robust way to look for the installed programs on the machine.

[2021-11-24 09:44] PaulVrugt opened #3629 "[FEATURE REQUEST] Shared sources for over workspaces for reusing sources"
Currently the pipeline agent always creates a workspace PER pipeline. However, this becomes very ineffecient in private agents when you have multiple pipelines using the same sources repository. In our case we have about 20 pipelines that use the sources from the same repository. Each time a different pipeline is run, the sources are fetched again in a new workspace, taking a lot of time and using

[2021-11-24 09:44] PaulVrugt commented on #3628
@EzzhevNikita  thanks! See https://github.com/microsoft/azure-pipelines-agent/issues/3629

[2021-11-24 10:08] EzzhevNikita commented on #3628
@PaulVrugt Let me close this item. We will take a look at your feature request.

[2021-11-24 10:08] #3628 closed

[2021-11-24 10:15] durandt commented on #3569
My self-hosted agents are now updated to v2.195.0 and the capabilities working properly.

[2021-11-24 10:16] durandt commented on #3600
Azure pipeline agent v2.195.0 released a few days ago now fixes detecting capabilities for VS2022 on my self-hosted agents.

[2021-11-24 10:40] k-sek opened #3630 "Release fails - decryption operation failed"
## Agent Version and Platform
Azure Pipelines --> windows-latest

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

## What's not working?
Have a release that fails with a message in the logs that mentions decryption. This only started happening today [24/11/2021]. Build was done yesterday [23/11/2021] and worked but release today [24/11/2021] did not work. We believe the

[2021-11-24 11:20] stas2 commented on #3610
@DenisRumyantsev Thank you for quick reply and prompt action. I tried version 2.193.1 and it worked with TFS 15. Meanwhile we have migrated to Azure DevOps 2020 1.1, so the latest version works great.

[2021-11-24 11:56] qetza opened #3631 "Requirements to migrate custom task to node10"
Hi,
I'm an author of a custom task (https://github.com/qetza/vsts-replacetokens-task) and deployed yesterday a new minor version to use the new Node10 execution handler.

Today i had to revert the changes because some users on TFS 2018 where having issues and the task would not run (https://github.com/qetza/vsts-replacetokens-task/issues/233):

Users where using TFS 2018 with agent 2.131.0 on wind

[2021-11-24 12:22] DenisRumyantsev commented on #3610
Hi @FrankHeimes, currently, the PR is under code review and testing. We plan to merge this PR and release a new version of the agent in the near time.

Setting the `DISABLE_HASH_VALIDATION` environment variable to `true` should prevent only the hash validation during the self-update process, but not the self-update process itself.

[2021-11-24 12:56] anatolybolshakov commented on #3631
Hi @qetza Node 10 execution handler was released with [2.144.0](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.144.0) agent version - there is no ability to make fallback at the moment unfortunately...
Generally it is recommended to update the server version, but major version bump could also be the option.

[2021-11-24 13:54] qetza commented on #3631
Hi @anatolybolshakov,
Thanks for the info.

Is there a way to deploy the same task with different version and minimumAgentVersion and have the agent pick the best one?

If not as the task is public i think my only option is to generate a new major version as i cannot force all users to upgrade their agent.

[2021-11-24 14:26] groogiam commented on #3624
@EzzhevNikita  This example seems to point to the contrary. I'm still failing to see why env variables are not the best option here. Yes they can be different from user to user but they would either be set system wide or on the account the agent service is running as. In either case the mechanism seems like it would work. I'm curious how this check is done on a linux agent. Seems like there might

[2021-11-24 15:30] rockrilvas commented on #3626
It is requiring authentication, how can I solve this and set it automatically, otherwise the agent goes offline every 60 minutes?
Thank you!

----------------------------------------------------------------------------------------------------------------------------
[2021-11-24 15:16:50Z INFO VisualStudioServices] Starting operation Location.GetConnectionData
[2021-11-24 15:16:51Z ERR  VisualStudi

[2021-11-24 23:25] jessehouwing opened #3632 "TFVC Build directory override not taking hold on hosted agent in all accounts."
## Agent Version and Platform
Version of your agent? 2.195

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com hosted pool

## What's not working?

@anatolybolshakov  I'm seeing agent 2.195 rolling out with a number of fixes for TFVC on the hosted agent (including a couple of my own 🚀🎉), but I'm not (yet) seeing the hosted agents changing the workspace fol

[2021-11-25 06:04] EzzhevNikita commented on #3632
@jessehouwing As I see the [fix](https://github.com/microsoft/azure-pipelines-agent/pull/3586) that you've mentioned wasn't included in the release 2.195.0 of an agent, it was merged after we have started rollout of the new version. This fix should be available with the next agent release. You can track changes that are included in particular agent release in release notes [here](https://github.co

[2021-11-25 11:50] kuleshovilya commented on #3622
Hello @watcherkb
Seem's more like a system issue. Is the behavior different if you'll set it to Local System or something along those lines?
Because quick tests from our side show that on the fresh system the behavior is correct, the services keep running for hours on both Network Services and Local System.

[2021-11-25 11:59] jessehouwing commented on #3632
Can you explain why my `jessehouwing-dev` and `jessehouwing` orgs are seeing the new behavior? Is there a way for my client's org to get the same magic feature toggle? Otherwise they're probably looking at another 4 weeks of randomly failing builds.

[2021-11-25 13:59] watcherkb commented on #3622
@kuleshovilya Hey, thank you for your reply.
I've added two new workstations to our Agent Pool. One with NT-AUTHORITY\LocalService and the other with NT-AUTHORITY\NetworkService. I'll answer here as soon as I have more info about how it's going.

[2021-11-25 14:46] watcherkb commented on #3622
@kuleshovilya bad news. Both agents are offline. Can I send you the log-files?

[2021-11-25 14:47] kuleshovilya commented on #3622
@watcherkb Sure, send them over. Either here or you can send them to v-ikuleshov@microsoft.com

[2021-11-25 16:41] rockrilvas commented on #3626
Hello, any update?

Thank you!

[2021-11-25 18:03] anatolybolshakov commented on #3631
@qetza there is no ability to let the agent choose the task this way at the moment - so yes, major version bump make sense.

[2021-11-26 00:27] Chakri1082-2021 commented on #249
Hi All, I am facing the same issue. I have provided the service connection in ADO pipelines but I still get the error

remote: TF401019: The Git repository with name or identifier [my application] does not exist or you do not have permissions for the operation you are attempting.

I have also provided permissions under user setting as well. Still facing the issue

[2021-11-26 05:41] bertrandpsi commented on #3600
Tried it, still not detecting VS2022 on a system where both VS2019 and VS2022 are installed.

[2021-11-26 06:00] EzzhevNikita commented on #3627
@mikehend Let me close this ticket currently since it is related to Azure VMSS, not to the agent itself. Please ask questions related to VMSS in [Developer Community](https://developercommunity.visualstudio.com/search?space=21).

[2021-11-26 06:00] #3627 closed

[2021-11-26 06:13] EzzhevNikita commented on #3632
Hmm, that sounds a little bit strange. Am I right that we are talking about the fix that was introduced by this [PR](https://github.com/microsoft/azure-pipelines-agent/pull/3586)?
If so, I am totally sure that it doesn't exist in 2.195.0 Agent release, you can ensure in it by yourself both in [release notes](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.195.0) and in [commit h

[2021-11-26 08:31] jan-tosovsky-cz opened #3634 "An option to avoid prepending Path environment variable with directory containing 'git.exe' in Checkout step"
In Build pipeline, before repo is checked, there is initialization procedure which prepends Path variable with git.exe.

In my self-hosted agent there is already git.exe present. This git.exe instance is linked to a config pointing to specific credential store. In my pipeline script I am cloning another helper repo. But as different git.exe is executed, different config is used so cloning this oth

[2021-11-26 09:26] jessehouwing commented on #3632
My organisation is `jessehouwing` and `jessehouwing-dev`, but since these are MVP accounts it's possible they are allocated in deployment ring 0 or 1 and are getting newer bits.

I've tested the same TFVC based pipeline in these 2 accounts and they both show `ws_AgentId_AgentId instead if `ws_1_AgentId`. This is when using the `windows-2019` hosted pool, not running my own agent in these cases.

I

[2021-11-26 09:27] jessehouwing commented on #3632
And yes, I'm looking at that PR, as far as I can tell that's the code that will set a different workspace name and build folder for TFVC workflows.

[2021-11-26 10:16] jessehouwing commented on #3634
There is an existing Agent_Knob to fix this `system.prefergitfrompath` set this to `true` to accomplish what you want. You can either set this in the agent's config file or in the system's environment variables. In ome cases you can simply add this as a variable of your pipeline.

https://github.com/microsoft/azure-pipelines-agent/blob/1adfc03151ede59addaf6c5e9eaa55aad57b6a7a/src/Agent.Sdk/Knob/Ag

[2021-11-26 10:24] jessehouwing commented on #3632
Log from agent init:

[code]

Then in Checkout it's clearly creating `ws_19_19` instead of `ws_1_19` as well as maps to `d:\a\19` instead of `d:\a\1`.

[code]

This is the behavior we need for the client as well.

[2021-11-26 10:27] jessehouwing commented on #3632
And from the client's environment:

[code]

And in checkout:

[code]

[2021-11-26 10:47] tillik commented on #2479
I totally second this @leidegre We run huge templated multistage pipelines here, which are horrendously to debug and any way to run and "debug" them locally would be greatly appreciated. "Download logs" just doesn't cut it.

[2021-11-26 11:00] anatolybolshakov commented on #3632
Hi @jessehouwing recent [fix](https://github.com/microsoft/azure-pipelines-agent/pull/3586) for TFVC is not rolled out yet - the behavior you observe could be related to the [condition](https://github.com/microsoft/azure-pipelines-agent/blob/master/src/Agent.Worker/Build/BuildDirectoryManager.cs#L207) for assignment of agent id as build directory name (one tfvc repository in a pipeline) or spontan

[2021-11-26 11:37] EzzhevNikita commented on #3634
Hey @jan-tosovsky-cz, @jessehouwing correctly mentioned that you could use _system.prefergitfrompath_ set to _true_ to achieve what you want. In this way, the agent will use git that is preinstalled in the system instead of bundled version.

[2021-11-26 11:45] jan-tosovsky-cz commented on #3634
Thanks for the hint. I am failing to find any mention in documentation WHERE actually this should be set. What is 'agent's config file'? Can you elaborate, please?

[2021-11-26 12:07] jessehouwing commented on #3632
The client's builds have only 1 TFVC  repo in their build definitions. Which is *always* the case for TFVC builds as far as I can tell.

In that case, what bug is causing that line not to work for our builds?! The Pipeline clearly hars only a single repo and it's type is TFVC:

[code]

And the agent is of type Hosted:

[code]

It's too predictably true for my account to be of spontaneous nature.

[2021-11-26 12:10] anatolybolshakov commented on #3626
Hey @rockrilvas please check the [docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/proxy?view=azure-devops&tabs=windows) for agent set up behind the proxy.

[2021-11-26 12:20] jessehouwing commented on #3632
It looks like the pending PR does influence this behavior, the value of shouldOverrideBuildDirectory was previously discarded in a merge situation:

https://github.com/microsoft/azure-pipelines-agent/blob/9deaae2bb250f3cfb91f149d4a6d763f770b907e/src/Agent.Worker/Build/BuildDirectoryManager.cs#L67

[2021-11-26 12:27] frankvaneykelen-work commented on #3632
Isn't this an example of having 2 repo's in one build definition?
![image](https://user-images.githubusercontent.com/84066324/143580927-72b64e9c-c808-4b04-94a9-0a2114a32717.png)

(btw: I work for the client @jessehouwing makes references to in this issue)

[2021-11-26 14:06] EzzhevNikita commented on #3634
@jan-tosovsky-cz You can set this variable as an environment variable in the system, where the agent is executing

[2021-11-27 08:57] jessehouwing commented on #3634
You can also add the variable to a `.env` file in the agents installation directory.

https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops#how-do-i-set-different-environment-variables-for-each-individual-agent

Make sure you restart the agent after changing.either the global systems environment variables or the env file.

And many of these knobs will simply t

[2021-11-27 08:59] jessehouwing commented on #3596
It happened once so far, so it's not a very common bug.

[2021-11-27 16:02] #3418 closed

[2021-11-28 18:02] #3421 closed

[2021-11-29 08:21] denis-tikhomirov commented on #3520
Resolved in Agent version 2.195.0.

[2021-11-29 08:21] #3520 closed

[2021-11-29 08:34] tatyana-kostromskaya commented on #3569
Changes were released

[2021-11-29 08:34] #3569 closed

[2021-11-29 16:55] tinylabspace commented on #3579
Take a look at this doc, I ran into something similar recently where a YAML job named "deploy" caused an environment job to hang in a pending state indefinitely. Your worker log has a number of steps with "deployment" in the name, _Processing step: DisplayName='Backup Directory before Deployment'_.

https://docs.microsoft.com/en-us/azure/devops/pipelines/process/deployment-jobs?view=azure-devops

[2021-11-29 17:10] strtdusty commented on #3579
@tinylabspace I had seen that but the docs didn't mention that tasks (just jobs/stages) couldn't have a displayName with Deployment in them.  Also, though it is a bit ambiguous, I believe the docs are saying that the actual name of the job/stage can't have deployment, but the displayName is not mentioned.  We have managed to work around this issue by reducing the number of total steps in the stage

[2021-11-29 17:23] tinylabspace commented on #3599
I'm unsure if this is true on Mac based agents but on Windows agents there are some pipeline tasks that still require a NODE_EXTRA_CA_CERTS environment variable to be set pointing at the certificate even when the server OS is functioning behind a corporate proxy that is doing packet inspection, and the agent can register successfully. In that scenario the agent is online and jobs trigger, but some

[2021-11-30 13:34] EzzhevNikita commented on #3630
Hi @k-sek, we aren't able to reproduce your issue currently. I assume that the error is caused by some configuration issues on your side, e.g. it could be related to some certificate issues or network issues (like FireWall or proxy configurations). Could you please reply to some questions to allow us to investigate your issue future?
1. Is this issue still persist for you?
2. Do you have FireWall

[2021-11-30 16:09] tonyskidmore commented on #3385
Not wanting to hijack the original issue but adding some additional input as I encountered a similar problem.  This is the process that I followed:

Based on [Run a self-hosted agent in Docker](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#create-and-build-the-dockerfile-1) I created:

`Dockerfile`

[code]

`startup.sh`

[code]

and then built the containe

[2021-11-30 16:49] DenisRumyantsev commented on #3610
Related changes have been merged. I will update this ticket once they will be rolled out to all Azure DevOps users.

[2021-11-30 18:14] anatolybolshakov commented on #3631
@qetza please let us know if you have any other questions.

[2021-11-30 18:16] anatolybolshakov commented on #3626
@rockrilvas is this issue still actual for you? Were you able to pass proxy settings to the agent?

[2021-12-01 09:05] juergenB234 opened #3638 "SourceFolder changes after second checkout"
My Yaml steps at the beginning of the build pipeline:

- checkout: self
    clean: true
    path: s
  - checkout: Configs
    clean: true
    path: s/Configs
  - task: CopyFiles@2
  ...

##[debug]Repository requires to be placed at 'H:\Agent\_work\13\s', current location is 'H:\Agent\_work\13\s'
##[debug]Repository requires to be placed at 'H:\Agent\_work\13\s\Configs', current location is 'H:\Age

[2021-12-01 11:06] watcherkb commented on #3622
Solved this issue by checking and reconfiguring our firewall.

[2021-12-01 11:06] #3622 closed

[2021-12-01 11:42] iambernics opened #3639 "Access PFX files from PowerShell Task in Interactive Mode"
Dear Team,

Borderline topic with the [Azure Pipelines Task Team
](https://github.com/Microsoft/azure-pipelines-task).

Is there any know issue with access the PFX files from PowerShell Task (Microsoft) when the ADO Agent run in Interactive Mode?

Getting  "The system cannot find the file specified." exception when try to import the PFX into the Personal Certificate Store:

`Import-pfxcertificate

[2021-12-01 13:16] juergenB234 opened #3640 "VSBuild@1 task is not updated to support VS2022"
Build pipeline uses VSBuild@1.

- task: VSBuild@1
  displayName: 'Build solution ${{ parameters.solution }}'
  inputs:
    solution: ${{ parameters.solution }}
    vsVersion: 'latest'

The build fails and there are multiple warnings with: NETSDK1182: Targeting .NET 6.0 in Visual Studio 2019 is not supported.

The Agent downloaded this task H:\Agent\_work\_tasks\VSBuild_71a9a2d3-a98a-4caa-96ab-affc

[2021-12-01 14:04] juergenB234 opened #3641 "MSBuild@1 task is not updated to support VS2022"
Build pipeline uses VSBuild@1.

- task: MSBuild@1
  displayName: 'Build solution ${{ parameters.solution }}'
  inputs:
    solution: ${{ parameters.solution }}
    msbuildVersion: '17.0.0.52104'
    msbuildArchitecture: 'x64'

The build fails and there are multiple warnings with: NETSDK1182: Targeting .NET 6.0 in Visual Studio 2019 is not supported.

The Agent downloaded this task H:\Agent\_work\_

[2021-12-01 16:11] DenisRumyantsev commented on #3565
@gpxricky I am closing this issue for now. If there will be more requests for the ability to run the checkout task inside the docker container, then we will implement the checkout task as a separate task as a new feature.

[2021-12-01 16:11] #3565 closed

[2021-12-02 02:29] jagunter commented on #2877
Ran into the same issue described by @tannerwatson while trying to add a build tag which contained a `:` using an inline powershell script:

[code]

However, the step failed:

[code]

[2021-12-02 08:05] jamesthurley commented on #3416
The incorrect docs just caught me out as well.

I have a parallel job producing artifacts called `MyArtifact_$(System.JobPositionInPhase)`, then in another job I want to download all those artifacts and merge them. It seemed like the way to do this was to specify something like `patterns: MyArtifact_*/*` in the download step, however this doesn't work. Neither do other variations on that pattern l

[2021-12-02 08:28] EzzhevNikita commented on #3617
Hey @lanphiergm, as far as I see in the latest version of the agent, this bug with incorrect checkout between 2 branches in the container has already been fixed. Could please try to update your agent to the latest version agent (current 2.195) to check if the issue still persists for you.

[2021-12-02 10:20] PaulVrugt commented on #3629
FYI, I would be willing to contribute to this feature if you decide it is a valid enhancement

[2021-12-02 10:35] tatyana-kostromskaya commented on #3641
@juergenB234 you use task version 1.179.0 which doesn't support VS2022.
Which version of Azure DevOps Server do you use?

[2021-12-02 10:39] juergenB234 commented on #3641
The Version is Azure DevOps Server Update 1.1 2020. There is a Patch 2. Is the updated task integrated in this patch?

[2021-12-02 12:41] k-sek commented on #3630
Hi @EzzhevNikita, thank you for looking into this.
Our hosting provider corrected the heartbeat HA configuration for the hosts on the firewall level and turned off IPv6 on the firewalls. That seemed to have resolved our issue. Cheers.

[2021-12-02 12:41] #3630 closed

[2021-12-02 13:10] tatyana-kostromskaya commented on #3641
@juergenB234 , no, this task update is not integrated to Azure DevOps Server yet

[2021-12-02 13:36] juergenB234 commented on #3641
Is there a way to manually update the task?

[2021-12-02 13:39] tatyana-kostromskaya commented on #3640
@juergenB234 you use task version 1.166.2 which doesn't support VS2022.
The further solution steps I will post here: https://github.com/microsoft/azure-pipelines-agent/issues/3641

Closing as duplicate.

[2021-12-02 13:39] #3640 closed

[2021-12-02 13:40] tatyana-kostromskaya commented on #3641
Yes, I will help you with it. Do you need only VSBuild and MSBuild tasks?

[2021-12-02 13:42] juergenB234 commented on #3641
Thanks. Yes, VSBuild and MSBuild.

[2021-12-02 14:11] kuleshovilya commented on #3596
@jessehouwing Thank you for answering. We went through the code and it seems like an issue with fetching info from the portal, but since this is handled from the agent side, we can't do much about it. We'll keep in mind that issue though, in case it will become more frequent. I'll be closing the ticket for now.

[2021-12-02 14:11] #3596 closed

[2021-12-02 14:29] tbolon commented on #3641
I just checked that my DevOps server is also using MSBuild v16 2019.
I tried updating the agent manually 2.195.1, but it reverted to 2.181.2 (from february).
I am surprised the agent version is lagging so much behind the latest. Is it expected ?

[2021-12-02 14:31] tatyana-kostromskaya commented on #3641
@juergenB234 , Here are zip achieves with latest versions of the tasks:
[MSBuildV1.zip](https://github.com/microsoft/azure-pipelines-agent/files/7642688/MSBuildV1.zip)
[VSBuildV1.zip](https://github.com/microsoft/azure-pipelines-agent/files/7642689/VSBuildV1.zip)

To update these tasks in your organization please follow the instruction:

1. Unpack achieves to any location.
2. Install Node.js
3. In

[2021-12-02 14:39] tatyana-kostromskaya commented on #3641
@tbolon, yes it is expected that Azure DevOps Server downgrades version of the agent to the version that is set up in the server.
In most cases it should be safe to update version of the agent manually and turn off downgrading by using `AZP_AGENT_DOWNGRADE_DISABLED` environment variable.

You can follow the guide above to update your tasks also.

[2021-12-02 14:42] tbolon commented on #3641
I note your workaround, but I have instead updated each task individually. Nice timing here are this issue is only a few hours old.

Thank you for your help :)

[2021-12-02 20:32] sphanley commented on #3599
I just discovered that if I run `export AZP_AGENT_USE_LEGACY_HTTP=true` prior to running `config.sh`, then my SSL validation works as expected. @anatolybolshakov, if you or anyone more familiar with this codebase can help provide info on what may have changed about SSL validation between the legacy HTTP handler and the new default handler, it would be immensely helpful.

[2021-12-03 07:19] juergenB234 commented on #3641
Thank you. I was able to update the tasks and VS2022 is now detected.

[2021-12-03 08:33] tatyana-kostromskaya commented on #3641
Thank you for reply. Closing this ticket

[2021-12-03 08:33] #3641 closed

[2021-12-03 09:20] akitest11 commented on #3600
Same issue

[2021-12-03 09:26] peterbud opened #3644 "Deployment name at the Environment page is not updated if deployment build name has been updated"
Version of your agent?
`Current agent version: '2.195.1'`

OS of the machine running the agent?
`Windows`

Azure DevOps Type and Version
`dev.azure.com `

If dev.azure.com, what is your organization name?
`https://dev.azure.com/csscmt/`

What's not working?
I have two YAML pipelines: one for CI and one for CD. The CD pipeline is kicked off by the CI, and both pipelines are working fine. CD pipelin

[2021-12-03 09:48] mariusandersen opened #3645 "windows-2022 agent - Grunt@0 task not working"
On windows-2019 we could just run with a pwsh task "yarn && grunt".

In windows-2022 I previously had to use the dedicated [grunt task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/grunt?view=azure-devops) as it seemed grunt-cli was now removed. This worked for several weeks.

Today, the windows-2022 gives error using the Grunt@0 task:
##[error]Grunt-cli is not installed glo

[2021-12-03 09:57] anatolybolshakov commented on #3599
Hi @sphanley with Net Core update (from v2.1 to v3.1) in v2.165.0 of the agent libcurl used by dotnet core in its HTTP client implementation on Linux has been replaced by SocketsHttpHandler.
It is still possible to force the libcurl based implementation for 3.x Net Core by setting the UseSocketsHttpHandler option to false, which can be controlled in the agent via the UseLegacyHttpHandler configura

[2021-12-03 12:09] EzzhevNikita commented on #3638
Hey @juergenB234, I've looked at your issue. I didn't see any unexpected behavior while trying to reproduce your issue (I have checked all the agent versions that you mentioned in the ticket). What I see from provided logs is that the workspace part of the source directory changed in your case. This could happen in several situations,  workspace is changing when an organization, pipeline (defeniti

[2021-12-03 14:14] blakeduffey commented on #3600
I'm seeing this as well.  I've tried on a Windows 2019 server that has both VS 2019 and 2022, a Windows 2019 server that has VS 2022 and previously had VS 2019 (I removed it as a test) - and a fresh Windows 2019 server that ONLY has VS 2022 (has never had  any previous version of Visual Studio).

I get the exact same error as the original poster.

I've been monitoring the build agent github page a

[2021-12-03 14:23] EzzhevNikita commented on #3645
Hey @mariusandersen, Your issue is not exactly related to the repository of agent. As far as I see image windows-2022 really doesn't contain 'grunt-cli' package. Could you please submit an issue in the ['Virtual environments' repository](https://github.com/actions/virtual-environments), since the issue is related to their team?

[2021-12-03 14:25] mariusandersen commented on #3645
oh sorry yes will do

[2021-12-03 14:25] #3645 closed

[2021-12-03 14:34] blakeduffey commented on #3600
Can you provide some additional details about your working setup?

[2021-12-04 13:11] BrianMikinski commented on #2967
Would really like to see this get updated so we can use Ed25519 ssh keys

[2021-12-05 09:57] siprbaum commented on #3045
I believe this is still a valid feature request, addressing a gap in how shelveset messages are handled

[2021-12-06 07:15] juergenB234 commented on #3638
We implemented a workaround and I have to switch back to the old version to get the logs. Will take a while until I get that right. Probably on Wednesday.

[2021-12-06 14:12] denis-tikhomirov opened #3651 "Automate creating of PR for Release of OnPrem agent"
Need to automate process of creating PR for releasing of OnPrem agent.
Example of PR - https://dev.azure.com/mseng/AzureDevOps/_git/AzureDevOps/pullrequest/640802.
2 other PRs are created by builds in pipeline https://dev.azure.com/mseng/AzureDevOps/_build?definitionId=5845&_a=summary (in accordance with guide https://mseng.visualstudio.com/AzureDevOps/_wiki/wikis/AzureDevOps.wiki/11843/Agent-rele

[2021-12-06 16:02] blakeduffey commented on #3600
This thread is also relevant:  https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdevelopercommunity.visualstudio.com%2Ft%2Fazure-devops-20201-build-solution-task-not-working%2F1584426%3Ffrom%3Demail%26viewtype%3Dall%23T-ND1605167&data=04%7C01%7CBlake.Duffey%40noblis.org%7C6e62fef74fbc4c94492b08d9b8ced394%7Ce28cbc4d93e249b48c37dbdee2a3d319%7C0%7C0%7C637744020727685430%7CUnknown%7CTW

[2021-12-06 18:02] #3133 closed

[2021-12-07 03:53] dhevany commented on #2858
works I am running centos 8
# Install MS Build agent
mkdir -p /opt/ms-build-agent &&\
cd /opt/ms-build-agent &&\
wget https://vstsagentpackage.azureedge.net/agent/2.166.2/vsts-agent-linux-x64-2.166.2.tar.gz &&\
tar xvfz vsts-agent-linux-x64-2.166.2.tar.gz &&\
useradd -r -s /bin/false msagent &&\
chown msagent . -R &&\
/opt/ms-build-agent/bin/installdependencies.sh &&\
su -s /bin/bash -c '/opt/ms-b

[2021-12-07 12:29] alexander-smolyakov commented on #3575
It seems this issue is a duplicate of this one #3587. @jimaxe would you mind tracking the progress on this issue in the following ticket?
- #3587

I'm closing this issue since it is a duplicate. @jimaxe if you have any concerns about it, please feel free to let us know and we will reopen the ticket.

[2021-12-07 12:29] #3575 closed

[2021-12-07 15:03] martinowen commented on #3556
Do we know when this fix will be deployed?

[2021-12-07 16:13] avivanoff commented on #2814
@mjroghelia, any comments?

[2021-12-08 00:23] Nightreaver commented on #2043
I can see this issues is still present and its good to see this is really dragging.... I mean, its actually 2 years old by now.
Can we expect any changes in the future?

[2021-12-08 06:52] qetza commented on #3631
Thanks, i’ll release a new major version then.

[2021-12-08 06:52] #3631 closed

[2021-12-08 11:59] juergenB234 commented on #3638
I attached the logs from buildagent (servername and accounts are removed). This build process uses 3 checkout. In the first task after checkouts the sourcefolder changed. With agent 2.190.0 the process runs fine.
[Worker_20211208-113545-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/7675822/Worker_20211208-113545-utc.log)
[1_BuildJob (1).txt](https://github.com/microsoft/azure-p

[2021-12-08 12:02] #3131 closed

[2021-12-09 14:48] nycnewman opened #3655 "VSTS Agent incorrectly handles MacOS Monterey version detection (GetDarwinOSVersionString)"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2021-12-10 10:41] EzzhevNikita commented on #3634
@jan-tosovsky-cz Is it still an actual issue? Could we close this work item?

[2021-12-10 11:01] georgi-karapetrov-at-sciant commented on #2068
Adding a user capability with name 'azureps' and value 'true' does not work for me.

**Agent OS:** Ubuntu 20.04.3 LTS
**Kernel:** 5.4.0-91-generic
**Agent Ver:**         agent v2.195.2             |_|          (commit 44f820f)

The release pipeline in question features an Azure File Copy task that requires the 'azureps' capability.
Below is the complete log
[code]

Now on the pipeline agent host,

[2021-12-10 11:31] ghost opened #3656 "AzurePS capability not supported on Ubuntu"
## Agent Version and Platform
Version of your agent?
 agent v2.195.2             |_|          (commit 44f820f)

OS of the machine running the agent? OSX/Windows/Linux/...
Ubuntu 20.04.3 LTS; Kernel: 5.4.0-91-generic

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name?
https://dev.azure.com/Sciant/

## What's not working?
The solution from #2068 does no

[2021-12-11 06:26] HassanHashemi commented on #2454
So what's the solution here?

[2021-12-13 01:16] StingyJack commented on #1207
@jtpetty - not sure if you are the correct person to tag but you have more recent activity than @ericsciple does in this repo. Can someone please address this? Obscured logs make troubleshooting and resolution take longer.

[2021-12-13 08:43] Michael-Coetzee opened #3658 "Log4j vulnerability"
## Agent Version and Platform
Version of your agent?
2.192.0

OS of the machine running the agent?
Linux

## What's not working?
/opt/<agent-name>/externals/tee/lib/log4j-1.2.14.jar
/opt/<agent-name>/externals/tee/lib/slf4j-log4j12-1.7.19.jar

## General Question
Are we affected with the Log4j vulnerability? Based upon the files the agent uses as seen above.

[2021-12-13 09:00] anatolybolshakov commented on #3658
Hi @Michael-Coetzee log4j is used pretty poorly by agent - this is a dependency for [Tee](https://github.com/microsoft/team-explorer-everywhere) plugin - for previous Log4j vulnerabilities use cases which agent is using were not affected - let us check it for the recent vulnerability as well.

[2021-12-13 16:06] robertspurlin commented on #3658
Does the previous Log4j vulnerabilities reviewed include this one as well? https://access.redhat.com/security/cve/CVE-2021-4104

The issue above seems to affect Log4j versions 1.x (I also see version 1.2.14 as a dependency for the agent/Tee), and the "fix" identified is to upgrade Log4j to 2.15.0. Apologies if the issue was already reviewed.

[2021-12-14 00:50] Zachery2008 commented on #3658
In the latest agent version 2.195.2, it uses log4j 1.2.17.  It seems not serious impact unless the JMS Appender is used.
Source: https://stackoverflow.com/questions/70310980/log4j-vulnerability-is-log4j1-2-17-vulnerable-was-unable-to-find-any-jndi-cod

[2021-12-14 07:34] sathishreddy48 opened #3659 "Build pipeline using older version of node always ? unable to change to new version"
Use Node Task output

Starting: Use Node
==============================================================================
Task         : Node.js tool installer
Description  : Finds or downloads and caches the specified version spec of Node.js and adds it to the PATH
Version      : 0.192.0
Author       : Microsoft Corporation
Help         : https://docs.microsoft.com/azure/devops/pipelines/tasks/tool

[2021-12-15 01:55] dude0001 commented on #3658
We identified our self-hosted agents as being potentially vulnerable as well. Can the agent be deployed without the TEE plugin, and if so what functionality do we lose? Are there any other recommendations to mitigate ahead of possible patches?

[2021-12-15 06:30] madskristiansen commented on #3658
Our Linux servers were flagged because of the log4j dependency and we had to shut down the pipeline agents.

[2021-12-15 07:50] Blinchik91 opened #3662 "System Capabilities do not support VS2022"
The latest Azure DevOps Agent (2.170.1) does not seem to pull the same system capabilities for VS2022 as it does for VS2019. At this time, it does not pull all capabilities related to VS2022. The capabilities we were expecting are as follows

VisualStudio -
VisualStudio_16.0 -
VisualStudio_IDE -
VisualStudio_IDE_16.0 -
VSTest -
VSTest-16.0 -
MSBuild_16.0
MSBuild_16.0_x64

and the others MSBuild pa

[2021-12-15 08:17] DenisRumyantsev commented on #3662
Hi @Blinchik91, currently, the latest ADO agent is [2.195.2](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.195.2). Could you try to use it instead of the mentioned `2.170.1`?

[2021-12-15 08:28] Blinchik91 commented on #3662
Yes, I updated to 2.195.2 but with a very strange behavior.
After starting the Build, the agent downgrade itself to 2.170.1 ?!
I don't know what's wrong.

Screenshot of the folder structure attached, after build start
![Image 8](https://user-images.githubusercontent.com/70434936/146150667-d085cb11-2baa-4434-a653-41bbebee2c10.jpg)

[2021-12-15 10:04] a1exstr commented on #3658
so in order to address this vulnerability shall we just remove the jar files (replace them) or wait for an updated version of agent binaries to be released very soon ?

[2021-12-15 10:09] EzzhevNikita commented on #3284
Hey @jamesdoran, I've managed to reproduce this problem, and we have rechecked, TFS 2017.3 is not supporting the 'isoutput' property for setvariable command. We will update related docs to address this issue, thank you for the information about this problem.

[2021-12-15 11:06] anatolybolshakov commented on #3658
Hi everyone, just as a quick update - we've investigated recent Log4j vulnerability ([CVE-2021-44228](https://nvd.nist.gov/vuln/detail/CVE-2021-44228)) which affects Log4j >= 2.0 and 2.14.1.
Agent uses this dependency in two locations:
- Log4j v1.2.17 - as dependency of one of the test projects (build time only) ([source code line](https://github.com/microsoft/azure-pipelines-agent/blob/b93f8f1f4e

[2021-12-15 12:03] dude0001 commented on #3658
Thank you for the update. Is there any way to remove the TEE plugin without breaking the agent.This is a very severe issue and we'd rather play it safe and remove an unneeded component. We do not build TFVS repos from Azure Pipelines.

[2021-12-15 12:34] DenisRumyantsev commented on #3662
@Blinchik91 What is your server deployment type (Cloud / OnPremises)?

[2021-12-15 13:08] Blinchik91 commented on #3662
No it's not in the cloud, we are host the server in on our company server.
We updated our DevOps Server to the newest Version "Azure DevOps Server 2020.1.1" today.
Now it downgrades the Agend to Version 2.181.2, same behavior.

Agent Log:

[2021-12-15 12:52:38Z INFO SelfUpdater] Current running agent version is 2.195.2
[2021-12-15 12:52:38Z INFO Terminal] WRITE LINE: Der Agent wird auf eine niedri

[2021-12-15 13:47] lonevvolf commented on #3541
We are seeing the same at least once per day.  We have a ticket open with MS, but that doesn't seem to be leading to much yet.  One build pipeline which sees this every day is actually a simple backup pipeline which copies our git repos to an external storage.  This fails with the same message, and no one can figure out what's going on.  The agent is running on a Windows image in this case, built

[2021-12-15 14:51] alexander-smolyakov commented on #3658
About `CVE-2021-4104` vulnerability. [Based on the vulnerability description](https://nvd.nist.gov/vuln/detail/CVE-2021-4104) this issue only affects the `Log4j 1.2` when specifically configured to use `JMSAppender`, which is not the default behavior of the `Log4j`. As we can see from the source the [Team Explorer Everywhere](https://github.com/microsoft/team-explorer-everywhere#what-is-the-comman

[2021-12-15 15:13] dude0001 commented on #3658
We have compliance concerns (HIPPA and HITRUST) that restrict us from using unsupported (EOL) operating systems, software or software libraries. If there are incidents involving unsupported software, large fines can be enforced. I understand the vulnerable Log4J library is coming from an external dependency. From our perspective, we don't seem to need this dependency. It greatly mitigates our risk

[2021-12-15 15:25] alexander-smolyakov commented on #3658
@dude0001 If you are not using TFVS based repositories and using self-hosted pipelines agents you actually can manually remove the TEE plugin from the agent layout. To do this, you just need to remove the `tee` folder from the `externals` folder.

Also, please note the fact that the `tee` folder will be restored during agent update to mitigate this, you can temporarily turn off agent pool update i

[2021-12-15 15:37] a1exstr commented on #3658
are thee any plans to release updated agent zip's with non-vulnerable newer version of Log4J library for those who for some reason still use `TFVC` and `tee`

[2021-12-16 00:48] sathishreddy48 opened #3667 "Visual Studio - Remove compilation errors in .g.cs files"
Error	CS1576	The line number specified for #line directive is missing or invalid.

Platform details :
Windows 11
Microsoft Visual Studio Enterprise 2019
Version 16.11.7
netcoreapp3.1
![image](https://user-images.githubusercontent.com/30253286/146287598-d89a01eb-0c51-491e-9b12-4217ef8baad2.png)

[2021-12-16 07:47] cfaagaard commented on #3662
We are seeing the same behavior. Onprem Devops (version Dev18.M170.8).
Installed the 2.195.1 agent and all looks good. When the very first build starts to run, the agent is downgraded.
The "Initialize job" in the pipeline says: "Current agent version: '2.170.1'"
Then the build job fails and the agents directory is changed to:
![image](https://user-images.githubusercontent.com/25353502/146329417-ef

[2021-12-16 07:59] Blinchik91 commented on #3662
@cfaagaard

AZP_AGENT_DOWNGRADE_DISABLED=true enviroment variable should work for you too.
I don't know if this is a common way in devops to suppress this behavior.

It seems that DevOps Server needs an update to allow this version.

[2021-12-16 08:07] cfaagaard commented on #3662
@Blinchik91  Thanks.

I will test the "enviroment variable"-workaround :-)

Do you know if the update for the devops server is available?

[2021-12-16 08:11] Blinchik91 commented on #3662
have a look [here](https://docs.microsoft.com/de-de/azure/devops/server/download/azuredevopsserver?view=azure-devops-2020).

The Version  2020.1.1 is the newest but only supports Agent Version 2.181.2 (without enviroment variable)

[2021-12-16 08:26] DenisRumyantsev commented on #3662
@Blinchik91 @cfaagaard Could you take a look at the note in [this documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/agents?view=azure-devops&tabs=browser#to-update-self-hosted-agents)?

If I'm not mistaken, the pipelines agent archive with the required version can be copied to
`C:\ProgramData\Microsoft\Azure DevOps\Agents\`

[2021-12-16 08:48] Blinchik91 commented on #3662
argh... it frustrates me....

The new BuildTool 2022 are not able to build old projects (VS19 with .Net Framework WPF).

If I intall both, 2019 and 2022, it works but new projects with .NET 6 not... (Error: .net 6 not found).
Any Ideas ?

[2021-12-16 09:04] cfaagaard commented on #3662
(in the process of upgrading devops server) in your build-job do have set the "visual studio version" to "latest version"?

[2021-12-16 09:19] Blinchik91 commented on #3662
I dont know, our IT department updated it but I think so.
What is the alternative ?

[2021-12-16 09:31] cfaagaard commented on #3662
Upgraded devops server to: 18.181.31626.1 (Azure DevOps Server 2020 Update 1.1)
Then I could upgrade the agent to version 2.181.2 by clicking "update agent" in the devops website.

Downloaded and copied agent 2.195.2 to C:\ProgramData\Microsoft\Azure DevOps\Agents\ on the devops server. (the "Agents" directory I created manually)
Then I could upgrade the agent to version 2.195.2 by clicking "updat

[2021-12-16 09:33] cfaagaard commented on #3662
A note: We have two build-server. One with only vs2019 and one with only vs2022. It is only the vs2022-build server that I am testing this on.

[2021-12-16 10:34] DenisRumyantsev commented on #3667
Hi @sathishreddy48, what is your issue? Could you describe it in more detail?

[2021-12-16 10:45] jgelon opened #3668 "Upgrade git in Windows Agent to latest (2.34.1)"
## Agent Version and Platform
Agent version: 2.196.1

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
Commands in renovate requiring the latest git version (> 2.33)

## Having issue with software on Hosted Agent?
Log an issue at [Hosted Agent Image Repository](https://github.com/Microsoft/vsts-image-generation). It contains the V

[2021-12-16 12:39] cfaagaard commented on #3662
Can not get it to work. Running into to this issue: https://github.com/microsoft/azure-pipelines-agent/issues/3600

[2021-12-16 12:42] cfaagaard commented on #3662
this blog claims that the issue is that the build tasks on the devops server, do not support visual studio 2022....
https://jessehouwing.net/adding-visual-studio-2022-to-azure-devops-server-2020/
have not tried his suggestions as our devops server is a production and I do not want to break the working build jobs.

[2021-12-16 12:54] cfaagaard commented on #3600
We are also seeing this.
Onprem devops server: 18.181.31626.1 (Azure DevOps Server 2020 Update 1.1)
Build agent: 2.195.2 on a build server with only vs2022 installed.

[2021-12-16 14:59] a1exstr commented on #3658
Removing the whole `tee` folder gives an error:
`Error reported in diagnostic logs. Please examine the log for more details.
    - /azp/agent/_diag/Agent_20211216-145427-utc.log
File not found: '/azp/agent/externals/tee/license.html'`

[2021-12-16 15:31] samdoran opened #3669 "All container jobs fail on 2.196.1 with `ENOENT`"
### Have you tried troubleshooting?
Oh yes. A [very simple job](https://github.com/ansible/ansible/blob/2f15b7d3f39b6ea9b9c9f8c51aab120ad0e93975/.azure-pipelines/azure-pipelines.yml) with one step that runs one command [fails with the same error](https://dev.azure.com/ansible/ansible/_build/results?buildId=31780&view=logs&j=9d538be6-44f8-50c3-7930-4e7f88a0f6b2&t=d6e50871-e6ea-5bf9-8b6e-cc7564100bb

[2021-12-16 21:19] tinylabspace commented on #3658
I haven't tried it but rather than delete the entire tee folder delete only the /lib/log4j-1.2.14.jar file. That would leave tf.cmd and license.html in /externals/tee.

[2021-12-17 00:54] nitzmahone commented on #3669
Just some more color here- it looks like there's something that's changed between 2.195.2 and 2.196.1 that's introduced a race or some other new behavior that sometimes confuses the job numbers. When running container-based jobs, the container init step always mounts the `/1` work dir into the container, but the following checkout step sometimes moves the cloned repo into the `/2` job dir, which w

[2021-12-17 05:18] vermacodes opened #3670 "Multiple checkouts not working for second time on same self hosted Linux agent."
### Issue Details
Agent Version : 2.196.1
Related Issue : #3520
Environment : Self hosted Linux Agents (Ubuntu 20.04)

Following checkout steps
[code]
Fail when run for the second time on the same agent.

### Debug Logs
[code]

[2021-12-17 07:18] EzzhevNikita commented on #3617
Hi @lanphiergm, do you still need some help with this issue?

[2021-12-17 07:35] a1exstr commented on #3658
yep, that is what I ended up with. And it seems to work

[2021-12-17 10:12] krsche commented on #3669
@nitzmahone Thanks for the input, we're currently also struggling with this. For some reason one of our self-hosted agent-pools selects the pre-release version (2.196.1) while all others are on the latest release (2.195.2).
How did you force 2.195.2 for the agents? I see settings in the extension, but I think this is configured by Azure DevOps automatically, right?

[2021-12-17 12:24] lanphiergm commented on #3617
Hi Nikita,

Sorry, I haven't had a chance to try the latest version yet. I'm on
vacation until the new year, but can test it out once I am back in the
office.

Thanks!

Galen

On Fri, Dec 17, 2021, 2:18 AM Nikita Ezzhev ***@***.***>
wrote:

[2021-12-17 14:45] DenisRumyantsev commented on #3670
Hi @vermacodes, could you provide more details about this issue?

* When did this issue appear?

* Does it occur spontaneously?

[2021-12-17 15:04] sivel commented on #3669
Here are some additional logs:

From "initialize containers" (reformatted for readability):

[code]

From "checkout":

[code]

You can see `-v "/agent/_work/2":"/__w/2"` from the container initialization, and then the checkout moves the checkout to `/agent/_work/1` which is not mounted in the container.

The ENOENT, seems to actually be coming from:

[code]

[2021-12-17 17:36] mibzman commented on #2872
I'm also having this issue on Windows Server 2016.

Is there any documentation on the `VSTS_TAR_EXECUTABLE`?  I can't find any reference to it outside of this thread.

[2021-12-17 18:24] danibyay commented on #3638
@juergenB234 could you share your workaround ? do you mean you switched to an older version of the agent? if you could tell us it would be very helpful, thank you

[2021-12-17 20:48] nitzmahone commented on #3669
@krsche yes, the agent extension is configured automatically, but it's still just a normal resource... I haven't been able to get the Azure CLI to update that resource (it always wants to make a new one for some reason), but I was able to use [Resource Explorer](https://resources.azure.com/) directly against the REST API to change it to 2.195.2, flush the VMSS pool and verify that new instances co

[2021-12-17 20:54] nitzmahone commented on #3669
Also, we're fairly certain the breaking change was introduced in #3586 (thanks @sivel
 for digging through the diffs!). It looks like there were some other bugs introduced by this change that have already been fixed (eg #3654), so maybe that'll fix this one as well, but hard to tell, since I don't want to package and publish my own agent from source to test it.

[2021-12-18 00:53] jamesdoran commented on #3284
That's excellent you've been able to reproduce. Thanks for the update.

On Wed, 15 Dec 2021 at 20:39, Nikita Ezzhev ***@***.***>
wrote:

[2021-12-18 01:53] krsche commented on #3669
@nitzmahone we've figured out how to change the extension settings via the `azure cli vmss set`command. But the options for that command are not very clear, I have to double check which command line options we provided in the end, but it worked without recreating the extension. It just modified the downloadUrl in the settings to 2.195.2.

We also noticed that this is not permanent and gets overwri

[2021-12-18 01:56] nitzmahone commented on #3669
@krsche Where are you seeing that it's pre-release?

I'm guessing they probably just roll it out across different tenants/regions/scalesets or something. Looking at the activity log on the VMSS, it's getting forced back every 2h. My scheduled Azure function (I ended up just writing it using the new C# client library that's in preview) is running every 5min to force it back if it changes from the v

[2021-12-18 02:04] krsche commented on #3669
@nitzmahone just from the releases page here. It says latest for 2.195.2 and pre-release for 2.196.x see:
![Screenshot_20211218-025928__01__01.jpg](https://user-images.githubusercontent.com/5144985/146625401-4e261b12-ae87-4d6d-9ef8-10f2b7f1e04c.jpg)
I'm just assuming this is up to date and the main release channel?

[2021-12-18 02:06] nitzmahone commented on #3669
¯\_(ツ)_/¯ no idea, but glad to know we're being used as guinea pigs for busted agent code and paying handsomely for the privilege... :frowning_face:

[2021-12-19 12:08] naymore opened #3671 "Raspberry Pi B+ not working: version `CURL_OPENSSL_3' not found (required by ./bin/System.Net.Http.Native.so)"
I'm trying to set up an azure pipeline agent on my raspberry pi b+. ARM v6 (32bit).
I have DietPi running on my raspberry (debian bullseye based).

## Having issue with software on Hosted Agent?
[code]

The missing dependencies script did install some missing dependencies but apparently not all of them.
Running it a second time does not yield any different results.

[code]

I tried both libcurl4 (

[2021-12-19 12:11] naymore commented on #3671
@anatolybolshakov maybe this is still a left over from https://github.com/microsoft/azure-pipelines-agent/issues/3027?

[2021-12-20 08:09] golubev-ivan commented on #3284
Hi @jamesdoran, We've updated documentation related to the support of isoutput flag in different Azure DevOps Server versions, we removed information about output variables from TFS 2017 docs. Thank you again for the provided information. Let me close this since the docs have already been updated.

[2021-12-20 08:09] #3284 closed

[2021-12-20 08:53] mrlioncub commented on #3270
Reproduced on the agent version: '2.195.2'

[2021-12-20 08:55] mrlioncub opened #3672 "DECODE_PERCENTS is not working on Azure devops agent"
Issue: https://github.com/microsoft/azure-pipelines-agent/issues/3270

Reproduced on the agent version: '2.195.2'

[2021-12-20 10:23] golubev-ivan commented on #3669
Hi @samdoran, @nitzmahone, @sivel, @krsche, thanks for reporting this issue, we've stopped release process of agent 2.196.1 and rolled back this agent for affected organizations. Currently, all organizations should use agent 2.195.2. Let me close this item since the issue was mitigated. Feel free to ping me, if you still have any questions.

[2021-12-20 10:23] #3669 closed

[2021-12-20 10:24] ToreDemant commented on #3569
@tatyana-kostromskaya : can you comment on why these build tasks are not made to respect any specific version given so that they would forward compatible when new Visual Studio versions are released?

[2021-12-20 16:08] EzzhevNikita commented on #3634
@jan-tosovsky-cz Let me close this issue, in case of any future questions feel free to ping me

[2021-12-20 16:08] #3634 closed

[2021-12-20 16:29] DenisRumyantsev commented on #3670
Hi @vermacodes, I have not been able to reproduce this error using `Ubuntu 20.04` self-hosted agent version `2.196.1`.
According to the stack trace ([DecreaseProcessPriority](https://github.com/microsoft/azure-pipelines-agent/blob/4392130b639ff54bc4e691277de258d3091572db/src/Agent.Sdk/ProcessInvoker.cs#L290) `>>>` [WriteProcessOomScoreAdj](https://github.com/microsoft/azure-pipelines-agent/blob/43

[2021-12-20 17:08] #3391 closed

[2021-12-20 20:42] vermacodes commented on #3670
Hello @DenisRumyantsev,

- **does not affect the successful execution of the checkout task;**
  Though the results of both 'checkout' tasks were 'successful', there were no files in Build.SourcesDirectory as expected.

- **occurs spontaneously and rarely?**
  At the time of opening the ticket, It was occurring 100% times, on every second execution of the 'checkout' tasks on the same 'agent'. I am

[2021-12-21 03:47] sreejithvm commented on #3658
@a1exstr @alexander-smolyakov Thanks, guys. How can we turn off the auto-update feature for azure agent pools once we delete the log4j.jar files from /externals/tee directory? Is it possible to do it via the azure DevOps web portal?

[2021-12-21 06:59] MarRich1 commented on #3658
#2455

[2021-12-21 07:14] MarRich1 commented on #3658
Even when [Gloridel Morales](https://devblogs.microsoft.com/devops/author/glmorale/) mentioned that the older [CVE-2019-17571](https://github.com/advisories/GHSA-2qrg-x229-3v8q) is not exploitable we/my company would appreciate when all unsecure versions will be updated

[2021-12-21 08:20] alexander-smolyakov commented on #3658
You can turn off the agent update in the settings of the related agent pool. To do this, please go to `Organization settings -> Pipelines -> Agent pools` and open the pool for which you want to disable auto-update. On the agent pool page go to the `Settings` tab and turn off the `Allow agents in this pool to automatically update` option.

![image](https://user-images.githubusercontent.com/14060121

[2021-12-21 08:26] alexander-smolyakov commented on #3658
Hi @MarRich1, our team is currently investigating options for getting rid of `log4j v1` from the pipelines agent distribution.

[2021-12-21 08:36] DenisRumyantsev commented on #3670
@vermacodes right, there is a difference between `$(Pipeline.Workspace)/s` and `$(Build.SourcesDirectory)`.
`<agent-directory>/_work/1/s` for the first variable and `<agent-directory>/_work/2/s` for the second variable.
Let me check if this is expected or not.

[2021-12-21 09:07] arunprakashn opened #3674 "Path incorrect during build action/task"
When trying to build, the path for finding a nuget package URL is incorrect.

[code]
If you notice, instead of "_work" in the path, it is "_ork", w - letter is missing. It is strange.

Full Error
[code]

[2021-12-21 09:21] #3310 closed

[2021-12-21 10:22] DenisRumyantsev commented on #3662
Pending for completion of #3600

[2021-12-21 12:18] max-zaytsev commented on #3674
Hi @arunprakashn, What version of the agent are you using?  Could you please provide some repro steps?

[2021-12-21 13:43] arunprakashn commented on #3674
Agent Version is 2.189.

I have a Wix installer Project that actually uses the dlls generated by the main project. Also at time, the letter "A" goes missing as shown below, it should be "Agent" after the drive C:\

[code]

[2021-12-21 13:44] arunprakashn commented on #3674
The solution builds fine in my laptop.

[2021-12-21 15:52] max-zaytsev commented on #3674
@arunprakashn
Could you please provide a minimal reproducible project, YAML of the affected pipeline, and share the full raw log of the affected job (with enabled "Enable system diagnostic")?

[2021-12-21 17:07] arunprakashn commented on #3674
@max-zaytsev : Thank you for your quick action. Looks like I may need some time to get a trim-down version of the code since the actual codebase contains proprietary information. It appears like there is a known issue with MSBuild already with regards to the location/path. Would you please be able to confirm that there are no issues with azure build pipelines in relation to lengthy directory/file

[2021-12-21 19:06] venkatesh-1986p opened #3678 "Azure Devops Agent Log4J CVE Upgrade?"
When we will get the log4j upgraded self hosted agent?

Log4J version should be 2.17.0

[2021-12-21 19:14] max-zaytsev commented on #3674
@arunprakashn
It doesn't seem like an agent issue to me. So I'm closing this ticket.
If you still have problems, please reopen the issue with more details to reproduce.

Also, there is a good place to ask general questions about azure devops pipelines - https://developercommunity.visualstudio.com/search?space=21

Thanks!

[2021-12-21 19:14] #3674 closed

[2021-12-22 05:05] alexander-smolyakov commented on #3678
Duplicate of #3658.

Please track progress and information about `log4j` in the following ticket:
- #3658

Closing it.

[2021-12-22 05:05] #3678 closed

[2021-12-22 08:57] DenisRumyantsev commented on #3667
Hi @sathishreddy48, could you provide more details about this issue?

[2021-12-22 10:25] DenisRumyantsev commented on #3670
@vermacodes, the working directory for the `checkout` task and for other tasks is determined in different ways. For regular tasks, it is set in the `TaskRunner.cs` module, in the [inputs](https://github.com/microsoft/azure-pipelines-agent/blob/727be57a781ea82045370abf29eb3ff25ae61cc4/src/Agent.Worker/TaskRunner.cs#L181) dictionary, which is passed to the [handler](https://github.com/microsoft/azur

[2021-12-22 10:36] jessehouwing commented on #3662
Since the tasks are installed at the Project Collection level, you can safely test this, even on your prod server, by (temporarily) adding a Project Collection.

[2021-12-22 13:45] matachi commented on #838
Good workaround to this bug. 10/10. Would use again. 👍

[2021-12-22 14:58] vermacodes commented on #3670
@DenisRumyantsev - when checking multiple repositories `$(Build.SourcesDirectory)` is `$(Pipeline.Workspace)/s/<RepoName>` and each repository is checked out in its own directory.

That is working absolutely fine in first run, however in second run (on same agent) the `$(Build.SourcesDirectory)` which is also `$(Pipeline.Workspace/s` is empty.

[2021-12-22 15:45] jessehouwing commented on #3669
Was this fixed in 2.196.2?

[2021-12-22 16:01] anatolybolshakov commented on #3626
Hi @rockrilvas I'm closing this due to inactivity at the moment - please let us know if you have any further questions regarding proxy set up for the pipeline agent.

[2021-12-22 16:01] #3626 closed

[2021-12-22 16:05] anatolybolshakov commented on #3588
Hi @jessehouwing just as a quick update - we've reverted changes recently due to issue appeared https://github.com/microsoft/azure-pipelines-agent/issues/3638 and prepared a fix - we are going to continue rolling out of these changes with the fix applied, please note that there could be some delays in roll out due to New Year holidays.

[2021-12-22 16:32] golubev-ivan commented on #3669
Hi @jessehouwing, yes, in 2.196.2 this problem was fixed, but due to deployment freeze this version of the agent will start the official release process after 10 Jan.

[2021-12-23 09:00] golubev-ivan commented on #3638
Hi @juergenB234, fix for this issue is awaiting deployment, but due to deployment freeze the version of the agent with these changes will start the official release process after 10 Jan.

[2021-12-23 09:53] DenisRumyantsev commented on #3670
@vermacodes - `$(Build.SourcesDirectory)` is not `$(Pipeline.Workspace)/s/<RepoName>` when checking multiple repositories.

Using `Ubuntu 20.04` self-hosted agent version `2.196.1`, this is the current agent behavior with multiple checkouts:

* The `<agent-directory>/_work` folder structure after the first pipeline run:
[code]

* The `<agent-directory>/_work` folder structure after the second pipe

[2021-12-23 11:43] tatyana-kostromskaya commented on #3600
Could you please share list of your agent capabilities regards MSBuild and VisualStudio? Does it contain `VisualStudio_17.0` and `MSBuild_17.0`?

[2021-12-23 14:38] cfaagaard commented on #3600
@tatyana-kostromskaya where can I see the tasks versions (for all the tasks, I presume?)

[2021-12-23 14:45] cfaagaard commented on #3600
this screendump is from our vs2022-only buildserver. Is this the versionnumbers you are looking for?:
![image](https://user-images.githubusercontent.com/25353502/147255849-867d3229-994e-4a9f-a5d4-34ce734cc530.png)

[2021-12-23 15:07] tatyana-kostromskaya commented on #3600
@cfaagaard, yes, thank you. Also you can find versions of the tasks in build logs at the begging of each task.

VSBuild task started to support VS 2022 after 1.192.2 version. And as far as I can see you have 1.166.2.

[2021-12-23 15:11] cfaagaard commented on #3600
Yes, but I have installed the latest update for the Azure Devops Server. And the latest build agent:
Onprem devops server: 18.181.31626.1 (Azure DevOps Server 2020 Update 1.1)
Build agent: 2.195.2 on a build server with only vs2022 installed.

And this the only _supported_ way to get the Azure Devops Server updated (including task updates), as I understand it.

And yes, I can see the vsbuild-task

[2021-12-23 15:13] cfaagaard commented on #3600
the versions in the build logs are the same as in the screendump.

[2021-12-23 17:10] tatyana-kostromskaya commented on #3600
I don't have information about future releases of Azure DevOps Server and when they will be released.
But official release update is the only fully supported way for task update.

Manual update of the tasks is a possible solution without very high risks and I can provide you zip archives with latest released versions of these tasks  and instruction how to update it manually.
But again this solutio

[2021-12-23 17:29] cfaagaard commented on #3600
Thanks. but it needs to be supported.

[2021-12-23 17:33] blakeduffey commented on #3600
This really is an odd choice by MS to release VS22/.net 6 to much fanfare - but simply not support it via onprem pipelines.  What's the expectation for pipeline support?

[2021-12-23 20:21] max-zaytsev commented on #3672
@mrlioncub I was not able to reproduce. Could you please provide your YAML file and pipelines logs?

[2021-12-24 07:38] dogukancagatay commented on #3599
I am experiencing the same error while trying to register my Deployment Group Agent (Azure Devops 2019) with `--skipsslcertvalidation` flag. Using Azure Pipelines Agent `v2.196.1`.

Using `AZP_AGENT_USE_LEGACY_HTTP=true` didn't work for me, but the error has changed:

[code]

[2021-12-24 08:12] mrlioncub commented on #3672
@max-zaytsev ok

1. Project name or Repo name must include space!
2. Pool: windows
3. pipeline:
[code]
Example, my url repo: https://xxx.visualstudio.com/Test%20Space/_git/Test%20Space
Command Output:
[code]

[2021-12-25 05:24] sphanley commented on #3599
If you're getting an error _with_ `--skipsslcertvalidation`, then it sounds like you're running into something different than what I'm experiencing. In my case, `--skipsslcertvalidation` causes the agent registration to work successfully, but then I continue to get other SSL errors when trying to run certain pipeline tasks. But in my case, my certificate is valid and trusted by the MacOS machine,

[2021-12-25 09:31] dogukancagatay opened #3685 ""The SSL connection could not be established" when registering agent behind private root cert"
When I try to register a Deployment Group Agent (v2.196.1) to Azure Devops 2019 server served HTTPS with a private root cert, I get `The SSL connection could not be established` error.

I tried using `--skipsslcertvalidation`, different authentication mechanisms *Negotiate* and *PAT*,  all resulted the same error.

The Agent is being registered from a Linux machine and OS trusts the private root c

[2021-12-27 02:16] #2365 closed

[2021-12-27 08:20] DenisRumyantsev commented on #3667
Hi @sathishreddy48, I am closing this issue since there is not enough information to investigate it.

[2021-12-27 08:20] #3667 closed

[2021-12-27 10:55] alexander-smolyakov commented on #3685
Hi @dogukancagatay, could you please clarify the following moments?
- Could you please verify that Azure DevOps 2019 on-prem server is correctly configured for SSL? [Set up HTTPS with Secure Sockets Layer (SSL) for Azure DevOps on-premises](https://docs.microsoft.com/en-us/azure/devops/server/admin/setup-secure-sockets-layer?view=azure-devops-2020)
- Does this issue only occur for agent v2.196.1?

[2021-12-27 12:15] DenisRumyantsev commented on #3610
The `2.196.*` pipeline agent release is delayed. Waiting when it will be rolled out to resolve this issue.

[2021-12-27 15:33] max-zaytsev commented on #3556
Just as a quick update - there is a delay in deploying these changes due to recent rollbacks. We are going to continue rolling out this fix after the New Year holidays.

[2021-12-27 19:53] stalehard commented on #3587
Hi @peetw, release with a fix for your case is delayed - we've reverted changes recently due to issue appeared #3638 and prepared a fix - we are going to continue rolling out of these changes with the fix applied, please note that there could be some delays in roll out due to New Year holidays.

But for now, you can replace the content of `run.sh` with this version - https://github.com/microsoft/a

[2021-12-28 05:15] AndreyIvanov42 commented on #3587
Hi @peetw, release with a fix for your case is delayed - we've reverted changes recently due to issue appeared #3638 and prepared a fix - we are going to continue rolling out of these changes with the fix applied, please note that there could be some delays in roll out due to New Year holidays.

But for now, you can replace the content of `run.sh` with this version - https://github.com/microsoft/a

[2021-12-29 00:09] siddhurk07 commented on #858
Why was this issue closed?

[skip ci] and [ci skip] both do not work for me for Azure repos!

[2021-12-29 18:02] #3442 closed

[2021-12-30 09:06] A-x-S commented on #3342
The issue is still present. Will this be fixed or simply continuously ignored?

[2021-12-30 15:47] anatolybolshakov commented on #3659
Hi @sathishreddy48 I was not able to reproduce the issue with current task versions - it selects nodejs version properly for me. Could you please share yaml file to reproduce this issue?

[2021-12-30 16:00] anatolybolshakov commented on #3671
Hi @naymore we are going to migrate agent to DotNet 6, although it could take some time to complete migration.
Seems that libcurl3 dependency is still required - have you tried to remove libcurl4 first, install libcurl3 and try to configure the agent?
Please note that agent portability is tightly depends on current DotNet version, and there are some platforms not supported - so if there are some d

[2021-12-30 23:04] bjtucker commented on #3658
How is this going, and when can we expect more news? I do see what I hope is positive progress in an open pull request, but I am left wondering if this will remove the vulnerability entirely, and when it will be rolled out as a release.

I see this pull request that I'm hopeful will do the trick
- Download TEE plugin conditionally during checkout #3684

Does this remove the vulnerable log4j from t

[2021-12-30 23:07] bjtucker commented on #3658
I pressed the vendor for a solution in the comments on the related github issue.
https://github.com/microsoft/azure-pipelines-agent/issues/3658

[2021-12-30 23:47] sathishreddy48 commented on #3659
`resources:
  repositories:
  - repository: SkypeSpaces-Infra
    type: git
    name: SkypeSpaces-Infra

variables:
# Required variables.
- name: service_id
  value: '########'
- name: enableGdnV2
  value: true
- name: uiPath
  value: '$(Build.SourcesDirectory)/TeamsVirtualEvents.Portal/clientapp'
- name: MustacheUiPath
  value: '$(Build.SourcesDirectory)/Deployment/DeploymentAutomation'
- name: G

[2021-12-30 23:50] sathishreddy48 commented on #3659
`resources:
  repositories:
  - repository: SkypeSpaces-Infra
    type: git
    name: SkypeSpaces-Infra

variables:
# Required variables.
- name: service_id
  value: '########'
- name: enableGdnV2
  value: true
- name: uiPath
  value: '$(Build.SourcesDirectory)/TeamsVirtualEvents.Portal/clientapp'
- name: MustacheUiPath
  value: '$(Build.SourcesDirectory)/Deployment/DeploymentAutomation'
- name: G

[2021-12-30 23:58] sathishreddy48 commented on #3659
installed npm mentioning working directory explicitly   **_workingDir: ${{variables.uiPath}}_**   then it started recognizing the latest installed npm / node version otherwise it wasn't.

[2021-12-31 15:27] jessehouwing commented on #3588
ARGH! :).

My extension is still keeping most pipelines working...

[2022-01-03 14:46] disaini opened #3687 ""Could not download kotlin-parcelize-compiler-1.4.32.jar" error in build pipe line job on windows agent"
OS of the machine running the agent? Windows

If dev.azure.com, what is your organization name?
https://onedrive.visualstudio.com/

## What's not working?

We are getting below error message very frequently  while run agent job

Logs :

* What went wrong:
Execution failed for task ':ListsControls:kaptGenerateStubsReleaseKotlin'.

Please help me  out, what could be the possible reason behind this a

[2022-01-03 14:59] PongDoesPango commented on #3556
Are there any updates on this subject?

How is it possible to resolve this without creating a massive security pitfall?

TX in advance.

[2022-01-03 21:45] zbuchli commented on #1294
Also facing this same issue. Would love to see this feature get integrated into the next release.

[2022-01-05 10:26] aok-foss commented on #3560
The issue also sporadically occurs on Windows Server 2022 (just got it on 10.0.20348 Build 350) and makes automated deploying of build agents a pain.

[2022-01-05 11:55] aok-foss commented on #3560
The error check actually seems a bit suspicious:

https://github.com/microsoft/azure-pipelines-agent/blob/b93f8f1f4e53ddf5d9cd25090db6f71b092d177c/src/Agent.Listener/Configuration.Windows/NativeWindowsServiceHelper.cs#L523

The returned value is checked to be "non-negative", as if it was an HRESULT, yet the documentation of `LockServiceDatabase` function states that the only value returned in case

[2022-01-06 11:00] alexander-smolyakov commented on #3685
@dogukancagatay, could you please provide an update regarding this issue?

[2022-01-06 12:11] DenisRumyantsev commented on #3670
@vermacodes do you have any additional questions or concerns about this agent behavior?

[2022-01-06 16:05] KonstantinTyukalov commented on #3494
Hi @bdovaz, we are currently working on this issue and the described use case is not clear for us, so could you describe in more detail what you are currently working on making the agent more portable?

Based on the provided description, It seems you can create a script with the following content:

For PowerShell:
[code]

For Bash:
[code]

Could this solution fit your case?

The process of getting

[2022-01-06 16:46] alexander-smolyakov commented on #3687
Hi @disaini, such an issue could be caused by the Azure SNAT balancer. If you are using Maven you can add: `-Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=120` to your build command, it will force Maven to create new TCP connections from scratch every 2 min (with a 4 min threshold). For Gradle, you need to bump up the version up to `6.7.1` since

[2022-01-06 18:27] bdovaz commented on #3494
I'm not working on anything weird or specific, I just would like it to take as little time as possible to add new agents in the future or replace them (with newer hardware). That's why I'm talking about portability.

I would like the following functionalities to be cross platform and work in a homogeneous way:

- .env file: apart from the environment variables that it already resolves from the OS,

[2022-01-06 21:54] AdamYoblick opened #3688 "Build tag was not added successfully (even though it was)"
This seems related to a very old issue (https://github.com/microsoft/azure-pipelines-agent/issues/1194).

I’m trying to add a build tag during our azdo pipeline based on the versions of some dependencies being used.

I have a powershell line that does this:
`Write-Host "##vso[build.addbuildtag]Pylance-$pylanceVersion"`

But the build fails with
 `##[error]Build tag 'Pylance-2021.12.2 ' was not add

[2022-01-10 09:35] anatolybolshakov commented on #3688
Hi @AdamYoblick agent uses DevOps [server API](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/tags/add-build-tag?view=azure-devops-rest-6.0) to add build tags (in source code [line](https://github.com/microsoft/azure-pipelines-agent/blob/master/src/Agent.Worker/Build/BuildCommandExtension.cs#L192)) - and throws error if it returns null or there is no specified tag in the list of tags

[2022-01-10 09:56] pwysokinski-bh commented on #3670
Hello @DenisRumyantsev,

I also encountered this issue in my pipelines.
The pipelines working on agent version 2.196.1 are behaving exactly as you described in your https://github.com/microsoft/azure-pipelines-agent/issues/3670#issuecomment-1000179276

In addition to the checkout step not working as intended, jobs running in container have the wrong directory mounted - the empty $(Build.SourcesDir

[2022-01-10 10:57] michielvanderros-tomtom commented on #3352
But that's why many people raise this issue: We all hope you can get it on your planning :-) Please?

[2022-01-10 10:58] michielvanderros-tomtom commented on #3352
But that's why many people raise this issue: We all hope you can get it on your planning :-) Please?

[2022-01-10 12:07] golubev-ivan commented on #3617
Hi @lanphiergm, have you checked this issue in the latest version agent?

[2022-01-10 12:15] childsc opened #3689 "Version 2.196.0/1 are still marked as pre-release"
I apologies if this is not the correct place for this question/issue.

We are currently blocked from our migration from TFS 2018 to AzureDevopsServices.
Our team are waiting for one of the 2.196 agents to be with the "Latest" label before we proceed.  As there is an important fix related to these versions we need.

Is there an estimated timescale for when this may happen? Weeks, Months, Years? jus

[2022-01-10 12:55] anatolybolshakov commented on #3689
cc @denis-tikhomirov

[2022-01-10 15:23] denis-tikhomirov commented on #3689
Hello @childsc ,
Release process for agent 2.196.2 has been started today. And I expect release should be finished during next 2-3 days.

[2022-01-10 16:56] anatolybolshakov commented on #3672
Hi @mrlioncub issue seems to be related to the way batch files process strings like %2 - there is a [syntax](https://ss64.com/nt/syntax-args.html) to pass positional arguments to the script. CmdLine task processes all types of the script (inline or specified as file) as batch script - so all strings like %<digit> will be replaced by empty value in CmdLine task, and escaping is required for such va

[2022-01-10 21:12] AdamYoblick commented on #3688
Done! https://developercommunity.visualstudio.com/t/Build-tag-XXXXX-was-not-added-successf/1633307?space=21&entry=myfeedback

I'm internal to Microsoft, is there any team I can ping locally if I need to escalate at some point? 😄

[2022-01-11 05:09] Niharikadutta opened #3691 "Pipeline getting stuck on a windows-latest pool image"
## Agent Version and Platform
Version of your agent? 2.195.2

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

If dev.azure.com, what is your organization name? https://dev.azure.com/dnceng

## What's not working?
Pipeline requested to run on `windows-latest` image gets stuck on the job and cannot proceed with running the tasks

[2022-01-11 06:56] mrlioncub commented on #3672
Hi @anatolybolshakov
How to do this in the variable $(BUILD.REPOSITORY.URI) ?

[2022-01-11 09:46] anatolybolshakov opened #3692 "Migrate agent to .NET 6"
This issue is for tracking progress about agent migration to .NET 6 (or .NET 5 as intermediate step).

[2022-01-11 09:58] anatolybolshakov commented on #3602
Created [ticket ](https://github.com/microsoft/azure-pipelines-agent/issues/3692) to track net core migration in one place for the agent.

[2022-01-11 09:58] anatolybolshakov commented on #3093
Created https://github.com/microsoft/azure-pipelines-agent/issues/3692 to track net core migration in one place for the agent.

[2022-01-11 10:03] cfaagaard commented on #3600
Any news on this issue? (some people start wondering if this a sign of Microsoft phasing out Azure Devops onprem??)

[2022-01-11 10:18] anatolybolshakov commented on #3691
Hi @Niharikadutta could you please share YAML file of your pipeline and pipeline logs to take a look? Do you use classic editor or YAML, or release pipeline? Is this just a hang, or incorrect image?
Feel free to send it to my email - v-anbols@microsoft.com

[2022-01-11 12:00] anatolybolshakov commented on #3672
@mrlioncub yes, these changes will be cross-platform - issue exists only for cmd, and since CmdLine task (used by 'script' alias) uses Bash for Linux-based OS, and cmd for windows - the fix will be for windows only.
At the moment as a possible workaround - you would need to escape it manually for all the output containing % characters on Windows machines.

[2022-01-11 18:48] Niharikadutta commented on #3691
Thanks @anatolybolshakov for your reply, I've reached out with all the information and YAML file.

[2022-01-12 04:51] mrlioncub commented on #3672
@anatolybolshakov I am really looking forward to your correction to have a single pipeline for all agents

[2022-01-12 08:39] EzzhevNikita commented on #3632
Let me close this item since the changes mentioned in this ticket have already been deployed. Feel free to ping in case of any questions.

[2022-01-12 08:55] cheahengteong opened #3694 "Hosted Agent- Azure Container Instances -gtVersion 2.172.0"
## Having issue with software on Hosted Agent?
I configure the hosted container instance agent and get an error
"##[error]No agent found in pool aci-agent which satisfies the specified demands: Agent.Version -gtVersion 2.172.0"

Agent Platform:
Azure DevOps Services

[2022-01-12 09:23] anatolybolshakov commented on #3694
Hi @cheahengteong there seems to be demand in your pipeline - agent version should be greater than 2.172.0.
You would probably need to update your agent, or at least make sure that auto-update is enabled for your agent pool.

[2022-01-12 11:38] denis-tikhomirov commented on #3689
PR with adding info about release labels to Readme - https://github.com/microsoft/azure-pipelines-agent/pull/3695

[2022-01-12 11:38] alexander-smolyakov commented on #3610
Hi @stas2, the agent [v2.196.2](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.196.2) was released. Could you please check that the issue is resolved now?

[2022-01-12 11:39] denis-tikhomirov commented on #3689
Hello @childsc,
Agent version 2.196.2 has been marked as Latest today - https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.196.2

[2022-01-12 12:28] AndreyIvanov42 commented on #3587
A version of an agent with fix has been released.
Read the [updated instructions](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#linux), please

[2022-01-12 12:28] #3587 closed

[2022-01-12 12:41] alexander-smolyakov commented on #3687
@disaini is this issue still actual to you?

[2022-01-12 13:00] disaini commented on #3687
@alexander-smolyakov  you can close this, i have removed dependency  from maven.

[2022-01-12 13:00] #3687 closed

[2022-01-12 13:40] childsc commented on #3689
This is perfect. Many thanks.

[2022-01-12 15:11] anatolybolshakov commented on #3588
Hi @jessehouwing we've rolled out the fix for the issue - please let us know if you still see any issues.
Closing this at the moment since fix has been already rolled out.

[2022-01-12 15:11] #3588 closed

[2022-01-12 16:07] #3180 closed

[2022-01-12 16:20] max-zaytsev commented on #3556
@PongDoesPango The [fix](https://github.com/microsoft/azure-pipelines-agent/pull/3601) was deployed with agent [2.196.2](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.196.2)

From the pr description:

More info [here](https://blog.devgenius.io/rhel-centos-7-fix-for-lets-encrypt-change-8af2de587fe4)

[2022-01-12 16:20] #3556 closed

[2022-01-13 08:27] #3617 closed

[2022-01-13 09:42] AndreyIvanov42 commented on #3587
@jsheetzati Thanks a lot for your comment. You are absolutely right, I have added the necessary changes and the documentation will be updated soon

[2022-01-13 14:21] alexander-smolyakov commented on #3658
Hi all, let me share the current progress regarding this issue:

As a short-term solution, we have decided to remove the TEE plugin for agent distribution and provide the ability to download this plugin in the checkout runtime if the TEE plugin is required to perform a checkout. The [related changes](https://github.com/microsoft/azure-pipelines-agent/pull/3684) will be included in the next release

[2022-01-13 15:10] tinylabspace commented on #3658
If your agent servers are behind firewalls/proxies they will need to be able to reach https://vstsagenttools.blob.core.windows.net/tools/tee/14_135_0/TEE-CLC-14.135.0.zip to download it.

[2022-01-14 10:41] KonstantinTyukalov commented on #3494
The main idea behind the `.env` file is to add new variables or replace the existing ones, and this file works equally on each OS.

For the Linux/MacOs agent, we have a list of system environment variables that are fetched automatically, this list is predefined in the  `env.sh` script. The `env.sh` script itself just checks environment variables and writes them to the `.env` file, from where the a

[2022-01-14 11:00] Blinchik91 commented on #3600
issue still exists! BUILD IS NOT WORKING!

[2022-01-14 12:17] golubev-ivan commented on #3638
Hey @juergenB234, the fix for this issue in the latest version of agent 2.196.2. I'm closing this issue, feel free to ping me if problem persists, or you still need any help.

[2022-01-14 12:17] #3638 closed

[2022-01-14 13:24] kwlin commented on #3668
@jgelon  & @DenisRumyantsev  I made PR voor this issue. Any thoughts about the PR's?

[2022-01-14 15:42] hommeabeil commented on #3362
Does this has been fixed without been linked to it ? If no, then the issue is still active.

[2022-01-16 03:17] itecompro commented on #1207
This issue is open for years and no one has yet figured out what's going on!? 🙄

In our pipelines, we are using Variable Groups connected to a Key Vault, right after the Download Secret task, all 1s are replaced with ***.

Have checked all the secrets in the Key Vault. None of them is `1`. Of course, it could be part of a secret like `something_1_something_else`, but not by itself as a whole.

[2022-01-17 08:04] #3460 closed

[2022-01-17 10:58] anatolybolshakov commented on #1207
Hi everyone, prioritizing this item to check if there is something still need to be fixed after the [PR](https://github.com/microsoft/azure-pipelines-agent/pull/3661).

[2022-01-17 14:23] #3655 closed

[2022-01-17 19:59] jessehouwing commented on #3567
I've blogged a few alternatives to self-building the tasks including an option to download them straight from an active Azure DevOps organization:

https://jessehouwing.net/adding-visual-studio-2022-to-azure-devops-server-2020/

[code]

[2022-01-18 10:00] jessehouwing commented on #3588
This is *not* fixed with 2.196.2

[2022-01-18 10:01] jessehouwing commented on #3632
Still failing with 2.196.2 this is *not* fixed.

[2022-01-18 10:14] jessehouwing commented on #3588
![IMG-20220118-WA0002~2](https://user-images.githubusercontent.com/4173387/149917467-ea3f5c15-2307-4284-b167-0c400b54b48e.jpg)

[2022-01-18 10:15] jessehouwing commented on #3632
![Uploading IMG-20220118-WA0002~2.jpg…]()

[2022-01-18 10:15] jessehouwing commented on #3632
![IMG-20220118-WA0002~2](https://user-images.githubusercontent.com/4173387/149917649-c8f9d7be-1d27-44f7-8655-b9e9bae19ddb.jpg)

[2022-01-19 02:04] ApolonTorq commented on #3157
This is still a reasonable question. It would be incredibly useful to be able to run/test pipeline yaml files locally. This issue should be re-opened as the docs still say preview coming soon.

[2022-01-19 05:32] EzzhevNikita commented on #3632
@jessehouwing Could you please share an example of yml, where you have seen an issue?

[2022-01-19 08:27] DenisRumyantsev commented on #3670
Hi @pwysokinski-bh, there was a hotfix rolled out for the agent version `2.196.1`.
So could you try to use the agent version `2.196.2` and confirm that pipelines are working as expected with it?

[2022-01-19 10:25] frankvaneykelen-work commented on #3632
The actual build @jessehouwing shared a screenshot of is JSON. but this is the YAML export. Please note the `parallel: 20` which is what actually causes some of the runs to fail.

[code]
This is the JSON of the task, showing it does a trivial command line echo:

[code]

[2022-01-19 10:30] EzzhevNikita commented on #3632
@frankvaneykelen-work Could you please also attach a log of the failed pipeline?

[2022-01-19 10:31] frankvaneykelen-work commented on #3632
Agent job 1 8

[code]

[2022-01-19 10:32] frankvaneykelen-work commented on #3632
Agent job 1 15

[code]

[2022-01-19 10:34] frankvaneykelen-work commented on #3632
Agent job 1 19

[code]

[2022-01-19 10:35] frankvaneykelen-work commented on #3632
@EzzhevNikita please let me know if you need the debug logs of a _succeeded_ run too

[2022-01-19 10:53] jessehouwing commented on #3632
The trick of that build is to make sure it spends some time performing the checkout. I think I checked in a folder with a couple of MB of random PDFs from my download folder.

The build itself doesn't matter. As long as the organisation is able to spin up 20 parallel jobs on the hosted pool the reproduction time is near instant.

And from the logs it's clear that all runs still create workspace ws

[2022-01-19 11:04] jessehouwing commented on #3632
This is the minimal repro pipeline to reproduce the issue

![Screenshot_20220119-120003.png](https://user-images.githubusercontent.com/4173387/150117390-03bf0987-91f9-42c0-bad3-d9a9ebee748b.png)
![Screenshot_20220119-120007.png](https://user-images.githubusercontent.com/4173387/150117398-d2827857-133a-4d5a-8a87-5cf5447c0f2a.png)
![Screenshot_20220119-120014.png](https://user-images.githubuserconte

[2022-01-19 13:24] Ezak91 opened #3705 "Install Agent on Debian 9 - The SSL connection could not be established"
## Agent Version and Platform
Agent Version: v2.196.2

Distributor ID: Debian
Description:    Debian GNU/Linux 9.13 (stretch)
Release:        9.13
Codename:       stretch

## Azure DevOps Type and Version
dev.azure.com
https://dev.azure.com/AbatStrategicProjects

## What's not working?
.config.sh
The SSL connection could not be established

What I have already tried:
--skipsslcertvalidation
export

[2022-01-19 16:09] pwysokinski-bh commented on #3670
Hi @DenisRumyantsev, thanks for the suggestion.

I tested my pipelines with the mounting workaround removed on `2.196.2` agents. I am not able to replicate the checkout/container mount issues encountered on version `2.196.1`.

I think it is safe to assume this issue does not exist on `2.196.2` anymore.

Thanks for your help.

[2022-01-19 18:10] cheesi opened #3708 "Log message improvment, if the agent name is already used"
## Agent Version and Platform
2.196.2

OS: Windows Server 2019

## Azure DevOps Type and Version
dev.azure.com

Organization name shouldn't matter

## What's not working?
First of all this is not a bug, it's more an improvement suggestion.

Today we wanted to install the agent on a new server.
After calling the `config.cmd`, and following the steps, the installer asks you to enter the name of the

[2022-01-19 18:39] StingyJack commented on #1207
@anatolybolshakov - thats great. I will direct the tech assigned to the support case we have open to this thread so they can follow up directly if necessary.

[2022-01-19 18:57] Socolin commented on #2931
I have the same issue

[2022-01-20 08:18] Ezak91 commented on #3705
Upgrading to Debian 11 doesnt change anything. :/

[2022-01-20 09:11] Ezak91 commented on #3705
I tried a random old version 2.189 but the same error.

But with
--skipsslcertvalidation
export AZP_AGENT_USE_LEGACY_HTTP=true

i can register the old version. (So the env or the arg doesnt work in last version?)

With svc.sh start  i get the same ssl error and the agent is not available.
with ./run.sh it works (confusing)

[2022-01-20 10:19] DenisRumyantsev commented on #3670
@pwysokinski-bh @vermacodes
Let me close this issue since it does not exist for the latest agent version.

[2022-01-20 10:19] #3670 closed

[2022-01-20 17:53] nochtap commented on #3566
@DenisRumyantsev have you any update about that?

[2022-01-21 10:12] anatolybolshakov commented on #1207
@StingyJack yes correct, we observed the same issue with '1' being masked - when there are task which use Azure service connections.

[2022-01-21 22:03] #3691 closed

[2022-01-22 11:02] #3463 closed

[2022-01-23 13:26] LiangZugeng opened #3713 "Installation of agent on CentOS 7.9 failed - The SSL connection could not be established"
## Agent Version and Platform
vsts-agent-linux-x64-2.196.2.tar.gz

## OS of the machine running the agent? OSX/Windows/Linux/...
CentOS 7.9

## Azure DevOps Type and Version
dev.azure.com

## Organization name
https://dev.azure.com/ocsmarter

## What's not working?
When deploying the environment agent using the script obtained from the Environment Add Resource tab as below.
[code]

## Diagnostic L

[2022-01-23 13:30] LiangZugeng commented on #3713
curl https://dev.azure.com returned a correct result.

The result of `openssl s_client -connect dev.azure.com:443 -showcerts' is
[code]

[2022-01-23 13:35] LiangZugeng commented on #3713
I tried using `--skipsslcertvalidation` option but this option is not supported in `vsts-agent-linux-x64-2.196.2.tar.gz`.
[code]

I also tried `export AZP_AGENT_USE_LEGACY_HTTP=true` before running config.sh, an exception was raised.
[code]

[2022-01-23 14:46] LiangZugeng commented on #3713
Solution found after reviewing [this instruction](https://github.com/dotnet/core/blob/main/Documentation/linux-setup.md#ssl-certificate-resolution-with-snap-installs)

The issue can be fixed setting SSL_CERT_FILE and SSL_CERT_DIR environment variables in my case.

To solve this issue, in CentOS 7, before running config.sh, run the following commands:
[code]

After this, config.sh successfully regi

[2022-01-23 14:48] LiangZugeng commented on #3705
I solved [a similar issue](https://github.com/microsoft/azure-pipelines-agent/issues/3713#issuecomment-1019500186) in case you need a reference.

[2022-01-23 14:50] LiangZugeng commented on #3705
The reason it happened is because the environment variable you exported only works in the current user session, ./run.sh runs in the current user session so it can pick up the environment variable value, but svc.sh start a new process which doesn't run in your user session so the environment variable is missing in that context.

To solve this, refer to my previous post to add environment variables

[2022-01-23 14:57] #3713 closed

[2022-01-24 10:19] Ezak91 commented on #3705
Thank you very much, it works for me.
in debian it works with
`SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt`

`SSL_CERT_DIR=/dev/null`

so its solved for me, but i think dotnet should autorecognized it

[2022-01-24 12:27] LiangZugeng commented on #3705
I did some extended researches and found SSL_CERT_FILE is used by openssl and dotnet only reply on openssl to validate the certificate, so I guess it should be OK for dotnet to be NOT aware of this environment variable as it's solely distro related (which means on some distros openssl may use another environment variable to load the trusted certificates from).

[2022-01-24 15:31] tatyana-kostromskaya commented on #3600
Azure DevOps Server is not released often, so all new changes came there with big delay. And as far as I know patches for existing versions of Azure DevOps Server usually contains fixes for the issues and not new features.

I don't have info about future release of Azure DevOps Server, so I can't say when VS 2022 will be available there.

[2022-01-24 18:10] KonstantinTyukalov commented on #3494
@bdovaz, we have created a ticket on our internal board for an agent documentation update, so I just wanted to clarify if we are good to close this issue? Could you let us know if you have any further questions regarding the agent and environment variable?

[2022-01-24 18:16] #3494 closed

[2022-01-25 09:39] tivtag commented on #3600
An official statement, installation guide & roadmap would be really nice and improve trust in the product.

We are really looking forward to use .NET 6/VS 2022 in our company, but this issue is blocking us. :-)
Thank you!

[2022-01-25 10:54] jwedel commented on #1569
Would also appreciate this, as Cypress output in releases windows is pretty much unreadable:
![image](https://user-images.githubusercontent.com/4849728/150963781-7602e62e-3cac-4668-aa31-e671fee2a6a8.png)

[2022-01-25 18:26] anatolybolshakov commented on #3672
Hi @mrlioncub we've merge the fix for this issue, and it will be available with the next release.

[2022-01-26 01:39] Christoba commented on #1307
I believe this is now working with variable groups when using "compile time" variable expressions. I used this successfully.

Example:

[code]

[2022-01-26 15:59] echalone commented on #3483
Hi, by now I had to fix merge conflicts in two of the pull requests since they are still open after half a year. I'm answering here hoping maybe this gets noticed before they are forgotten (I marked you in the pull requests too but I don't think that will trigger a notification). We are Microsoft Gold Partner if that helps with budgeting time for the bugfixes and the new work directory repository

[2022-01-27 10:52] stas2 commented on #3610
Thank you for the update. Unfortunately I cannot check the issue any more since we have updated infrastructure to newer version.

[2022-01-27 10:52] #3610 closed

[2022-01-27 14:32] DaniilShmelev commented on #3483
Hi @echalone! We have your PRs with suggestions in the backlog currently. We'll take a look at them later.

[2022-01-27 15:39] yomikoye opened #3718 "Registering Self-Hosted ADO Agent with Custom Defined Scope for PAT Fails"
While registering a self-hosted build agent for Azure DevOps, it is recommended to issue a custom-defined scope for the PAT (read & manage build) to limit the access of the Agent and for security reasons.

The default behavior seems to have changed as the self-hosted agent registration fails unless the "Full Access" is selected while generating the PAT.

OS - Windows
Agent - Azure Devops Agent (de

[2022-01-27 16:48] tatyana-kostromskaya commented on #3718
Hi @yomikoye , could you please try to generate PAT with scope: "Agent Pools (read, manage)" as it said in this wiki: [Agent Pools (read, manage)](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops#authenticate-with-a-personal-access-token-pat)

Also could you please also point the wiki where it is recommended to issue a custom-defined scope for the PAT (re

[2022-01-27 17:21] yomikoye commented on #3718
Thank you @tatyana-kostromskaya
Agent Pools is indeed the correct option! It was hidden under "Show All Scopes" which I missed earlier.
I thought It might have been renamed.

[2022-01-27 22:16] wfurt commented on #3692
I'de be happy to contribute @anatolybolshakov if that is interesting. I had 6.0 build worked out while back.
I personally don't see any benefits of going through 5.x. 6.0 is LTS while 5.0 is not.
And you would pick up fixes discussed with @DenisRumyantsev on https://github.com/dotnet/runtime/issues/58814
In both cases the old platform HttpClient is gone so you will need to make it work with manage

[2022-01-28 18:01] anatolybolshakov commented on #3694
Hi @cheahengteong do you have any updates?

[2022-01-28 19:21] thozook opened #3719 "Java capability not detected properly with the Microsoft build of OpenJDK"
## Agent Version and Platform
Version of your agent? 2.144.0/2.144.1/...
2.196.2

OS of the machine running the agent? OSX/Windows/Linux/...
Windows

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server?
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/{organization} or https://{organization}.visuals

[2022-01-28 19:23] matthias-schuchardt opened #3720 "Hide interactive agent"
Agent version: 2.196.2.0
Operating system: Windows
ADO: dev.azure.com/ENERCON-WRD

When running an interactive environment resource agent, there is always a cmd-window shown. This is fine for running the agent `--once`. With autologon however a user might accidentally close the agent. I think it would be safer to start the agent hidden and only visible in the task manager. On top, it would also ke

[2022-01-28 23:11] cheahengteong commented on #3694
@anatolybolshakov yes

[2022-01-29 21:43] DenisRumyantsev commented on #3566
Hi @nochtap, currently, we are working on higher priority issues.
We will start working on this issue when the turn comes to it.

[2022-01-30 15:21] ransagy commented on #1569
Another chime in hope someone from MS responds to this in any way, including "this is backlog/icebox/what".
@bryanmacfarlane @TingluoHuang @yaananth @vijayma @jtpetty - Can anyone point us at the right direction here?

[2022-01-30 22:49] jessehouwing commented on #3632
Shit it! 🛳️

Is this still able to ship in this cycle, say 2.198.3?

[2022-01-31 05:49] EzzhevNikita commented on #3632
@jessehouwing The fix for this issue will be included in the next agent release 2.199. We are planning to start it this week.

[2022-01-31 10:26] anatolybolshakov commented on #1569
Hi everyone, this issue does not seem to be related to the agent itself (since agent does not handle logs view, but only sends them to server) - for the Azure DevOps features/issue reports I would suggest to open a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it.

[2022-01-31 10:41] kipusoep commented on #1307
I'm having a hard time to replicate this. What does the `templates/variables/environment-${{ parameters.environment }}.yml@tools` file look like?
My `${{ variables.ServiceConnectionForEnvironment }}` expression keeps being empty, but in my case I tried a variable group instead of variable template.

[2022-01-31 10:54] iambernics opened #3721 "Update Agents in Deployment Groups"
Hello,

There is a built-in option to update the Agents in Agent Pools automatically or via REST call individually.

How can we proceed same functionality for the Agents in Deployment Groups?
Is there any way to trigger the Agent to update itself from a Release Pipeline or via REST call?

Using log4j series 1.x in TEE plugin to access TFVC resources on Linux Agents give priority to this case.

`Si

[2022-01-31 11:21] anatolybolshakov commented on #3694
@cheahengteong is this issue still actual for you? Have the steps above helped you to resolve it?

[2022-01-31 12:02] EzzhevNikita commented on #3721
Hey, @iambernics you can use the Updates Targets option to force an update of agents in the deployment group ([doc](https://docs.microsoft.com/en-us/azure/devops/pipelines/release/deployment-groups/?view=azure-devops#set-up-agents-on-deployment-groups)).

![image](https://user-images.githubusercontent.com/23104121/151790340-a60e434c-75bc-4831-ba3e-98378993b5c3.png)

[2022-01-31 13:01] EzzhevNikita commented on #3719
@thozook Thanks for the issue-reporting in this repository, currently we are under issues with higher priority, we will take a look at this ticket once we will have enough capacity.

[2022-01-31 13:02] EzzhevNikita commented on #3720
@matthias-schuchardt  Thanks for the issue-reporting in this repository, currently we are under issues with higher priority, we will take a look at this ticket once we will have enough capacity.

[2022-01-31 15:25] anatolybolshakov commented on #3481
Hi @echalone sorry for the delay - thanks for the PR! We are working on more prioritized issues at the moment, and there is some fix for agent tests which are not being run on systems with non-english locales, so it was deprioritized - we are going to review it in the near time.

[2022-01-31 15:44] anatolybolshakov commented on #3483
@echalone by the way for the current agent implementation - for the self-hosted case it already re-uses build directory (and already checked out repositories) - if there is the same collection, pipeline definition id and the set of repositories used in a pipeline definition.

[2022-01-31 16:42] Zapbbx commented on #3599
I have the same problem..

`[2022-01-31 16:37:45Z INFO LocationServer] Unable to connect to https://dev.azure.com/xxxxx/.
[2022-01-31 16:37:45Z ERR  LocationServer] System.Net.Http.HttpRequestException: The SSL connection could not be established, see inner exception.
 ---> System.IO.IOException: Unable to read data from the transport connection: An existing connection was forcibly closed by the r

[2022-01-31 18:16] jackwhitcomb opened #3722 "Issue with the agent on Server 2012 R2 after TLS 1.2 on 1/31"
After the update this morning for Azure Devops to enforce TLS 1.2, it seems a few (not all) of my older Server 2012 servers (yes we're in the process of upgrading them) cannot talk to the azure pipelines anymore. The error from the agent is below. I made sure the machine is only using TLS 1.2 with TLS 1.0,1.1 and SSL 3 disabled. dotnet framework registry is set to use only strong encryption as wel

[2022-01-31 19:23] thozook commented on #3719
Created #3723 to address this issue. From testing the adjustments on our own agent, it works to update the reported capabilities of the agent in Azure.

[2022-01-31 19:52] dexmoocat opened #3724 "Initialise Job - throws while cleaning artefact work areas, where path includes reserved words"
## 'Initialize Job' throws while cleaning artefact folder
Using windows dos reserved words in CopyFiles task is permitted - but at a subsequent run of the same pipeline, 'initialise job' fails to clean the artefacts folder. Reserved word example : con

I don't believe anyone would knowingly choose to use dos reserved keywords in file/paths - but there are situations were people don't know they exi

[2022-01-31 20:14] jsheetzati opened #3725 "Docker - Do not use pre-release versions of Agent"
## Agent Version and Platform
Ubuntu 20.04
Agent Version 2.198.2

## Azure DevOps Type and Version
Azure DevOps

## What's not working?
We are using the self-hosted agent running in a container. When our agents spin up, they are installing a pre-release version of the agent. Specifically, version 2.198.2, which is marked as a Pre-release. Is there a way for us to ignore pre-release versions and us

[2022-01-31 21:02] dhlee90 commented on #3599
I'm having the same issue as well, started this morning..

[2022-01-31 22:54] kotslee commented on #3722
I have the same issue with 2012 R2. What worked for me is enabling all the Cipher Suites using Nartac (1st screenshot below). 2nd screenshot below shows my SChannel settings.

![Annotation 2022-01-31 144850](https://user-images.githubusercontent.com/36685277/151886098-c8891f54-b628-4408-b547-d7a751267b0b.png)
![Annotation 2022-01-31 144957](https://user-images.githubusercontent.com/36685277/151886

[2022-01-31 23:21] ebuzzelli commented on #3722
This worked for me too.  It is quite the sledgehammer approach, but it got my pipelines back up and running until we can get this server upgraded.

[2022-02-01 00:34] mamift commented on #3599
Anyone getting this issue after 31 Jan 2022, I think it could be related to this:

https://devblogs.microsoft.com/visualstudio/azure-devops-requires-tls-1-2-on-all-connections-including-visual-studio

However, I am getting this error on a Windows Server 2016 machine, and I thought all server versions post 2012 R2 should be OK to automatically connect via TLS 1.2? At least according to [this](https

[2022-02-01 02:23] STJones85 commented on #3722
Same issue earlier, had to enable the last 2 of the 4 supported Ciphers by dev.azure.com after an SSLLabs scan and make sure Diffie-Hellman KE was set. This said, it appears Microsoft has rolled back the change as the SSLLabs scan I just ran shows the old ciphers and TLS 1.0/1.1 are enabled again.

Cipher Suites
# TLS 1.2 (suites in server-preferred order)
TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
TLS

[2022-02-01 06:03] EzzhevNikita commented on #3725
Hey @jsheetzati, the pre-prerelease state is a part of our deployment process and actually means that we are not completed the deployment of the agent for all customers. [Here](https://github.com/microsoft/azure-pipelines-agent#latest-and-pre-release-labels-for-releases) is some more info about our deployment states.

[2022-02-01 06:05] EzzhevNikita commented on #3724
@dexmoocat Thanks for the issue-reporting in this repository, currently we are under issues with higher priority, we will take a look at this ticket once we will have enough capacity.

[2022-02-01 06:12] Christoba commented on #1307
@kipusoep, you are correct in that runtime syntax is necessary for variable groups (my example above is purely variable templates) while template expression syntax `${{ }}` is necessary for template. Employing runtime syntax in the pipeline definition and template syntax in a template works as follows.

The example doesn't use a static name, its built using a variable in the pipeline (suffix) and

[2022-02-01 07:29] EzzhevNikita commented on #3722
@jackwhitcomb Could you please try to use the solution that is provided by @kotslee and check if it will help you to bypass the issue.

Generally, situation with disabling of TLS 1.0 and TLS 1.1 is expected and here Microsoft's blog describes the reasons for it - https://devblogs.microsoft.com/devops/deprecating-weak-cryptographic-standards-tls-1-0-and-tls-1-1-in-azure-devops/.

[2022-02-01 09:59] anatolybolshakov commented on #3482
Removing stale to check the request.

[2022-02-01 12:07] tktackett commented on #3722
We followed the guidance, but what was unexpected AND undocumented are the cipher suites used by dev.azure.com. Best practices dictate we turn the following two cipher suites off, but they seem to be required on a 2012 R2 server to access this endpoint.

TLS_DHE_RSA_WITH_AES_256_GCM_SHA384 (0x9f) DH 2048 bits FS 256
TLS_DHE_RSA_WITH_AES_128_GCM_SHA256 (0x9e) DH 2048 bits FS 128

[2022-02-01 13:10] #3722 closed

[2022-02-01 15:54] jsheetzati commented on #3725
Thanks @EzzhevNikita, I missed that.

[2022-02-01 15:54] #3725 closed

[2022-02-02 00:13] xinyi-joffre commented on #3658
Is there an ETA on when the new agent version will be released? Unfortunately, this is causing a lot of vulnerability alerts, even if this is not a real vulnerability for Azure DevOps.

[2022-02-02 06:18] DaniilShmelev commented on #3658
@xinyi-joffre we're planning to finish rolling out the new version today if we don't encounter any regressions.

[2022-02-02 10:03] marvinvdongen commented on #3599
We are having the same issue since 31st of Jan 2022.

[2022-02-02 11:40] nbs-TomB commented on #2944
Any chance of an update on this sometime soon?  Not being able to skip PR triggered pipelines breaks planned workflows for us. Like when a pipeline to automatically update documentation commits to a PR and then causes another run of itself..

 I'd argue that over a year's wait is not [soon](https://github.com/microsoft/azure-pipelines-agent/issues/2944#issuecomment-760806788)

[2022-02-02 12:14] echalone commented on #3483
Of course, but we'd need it for different pipeline definition ids because of different variables and different triggers ;)

[2022-02-02 12:15] echalone commented on #3484
Commenting so feature request doesn't go stale, PR is still active too

[2022-02-02 14:21] dhlee90 commented on #3599
we were getting it on 2019 machines.. We were able to resolve one machine by adjusting some ciphers and tls registry settings.. however the next day feb 1, all the other machines started working again with no other intervention....

[2022-02-02 18:10] anatolybolshakov commented on #2944
Hi everyone, just re-checked requirements here - the pipeline agent does not handle ci checks run, so it sounds like an enhancement for Azure DevOps itself. For such requests https://developercommunity.visualstudio.com/search?space=21 would be a better place to open a ticket - since this repo is mostly for the agent issues/feature requests.

[2022-02-02 18:10] anatolybolshakov commented on #2944
Let me close it here as external issue - please feel free to ask any further questions about the agent here.

[2022-02-02 18:10] #2944 closed

[2022-02-02 18:56] kipusoep commented on #1307
I'm sorry but I don't follow (yet).
What's inside the `../templates/variables/variablegroup.yml` file?
And how can this line work? `connectionVariable: '$(connection)'`? That's the part where it gets the variable from the variable group right?

[2022-02-02 19:04] vperez-dart opened #3728 "task.js not found for any tasks on freshly installed agent 2.198.2"
## Agent Version and Platform
Version of your agent? 2.198.2

OS of the machine running the agent? Windows Server 2019 Datacenter

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server? dev.azure.com

If dev.azure.com, what is your organization name? https://dart-dev.visualstudio.com

## What's not working?
We just added agents to our sel

[2022-02-02 19:07] vperez-dart commented on #3728
Just to clarify: we got 2 identical servers provisioned as build servers a year ago. We installed agents to the first. The second one sat idle until we installed agents today.

[2022-02-02 19:21] #1569 closed

[2022-02-02 19:25] Christoba commented on #1307
../templates/variables/variablegroup.yml

contains:
[code]

The variable group contains the variables in the above screenshot.

`$(connection)` is a variable that is set above by combining a suffix (e.g. this could be provided from somewhere else like a parameter, or static, etc. with the variable value from the variable group.

So this illustrates how the name of a service connection can be dynam

[2022-02-02 21:21] wwestrop commented on #1569
For anyone following the thread: https://developercommunity.visualstudio.com/t/Colorful-logs-in-Release-Pipeline-as-wel/1652600

[2022-02-02 22:36] mamift commented on #3599
Very strange, but it appears to have resolved itself for my servers as well. I couldn't find any advisory for this in the Azure Outages RSS feed either (https://status.dev.azure.com/_rss).

[2022-02-02 23:15] ceteongvanness commented on #3694
You can refer to the https://medium.com/@cloudlabs01/running-azure-self-hosted-agent-in-azure-container-instance-aci-ad1fa338d769

[2022-02-03 06:21] denis-tikhomirov opened #3729 "DownloadBuildArtifacts and DownloadPipelineArtifacts don't download files if itemPattern is empty"
## Agent Version and Platform
Version of your agent? 2.144.0/2.144.1/...
2.198.2

OS of the machine running the agent? OSX/Windows/Linux/...
All

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server?
All

If on-premises, which release? 2015.0, 2017.1, 2019 RC2, etc.

## What's not working?
DownloadBuildArtifacts and DownloadPipelineArtif

[2022-02-03 06:24] denis-tikhomirov commented on #3729
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-build-artifacts?view=azure-devops and https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=azure-devops don't download any file from artifact after https://github.com/microsoft/azure-pipelines-agent/pull/3664#issuecomment-1028301214

[2022-02-03 06:51] EzzhevNikita commented on #3728
@vperez-dart I couldn't reproduce it on my end. Looks like could be a problem with the task installation of the agent, could you please manually try to remove tasks inside __tasks_ folder on the affected server, the agent will reinstall them.

If it won't help please share diagnostic logs for the pipeline, to get them you need to run a pipeline with enabled diagnostics mode, if you are using yml p

[2022-02-03 10:46] denis-tikhomirov commented on #3729
PR with fix - https://github.com/microsoft/azure-pipelines-agent/pull/3730

[2022-02-03 12:39] janisBerz commented on #2356
For me, the restore took 3 minutes. Ended up switching from NuGet restore task (NuGetCommand@2) to DotNet restore task (DotNetCoreCLI@2). Now the restore takes only 16 seconds.

[2022-02-03 12:44] robmen commented on #2356
I don't have the issue number (sorry 😢) but there was a long open issue in the NuGet repo pointing out that the NuGet restore was many orders slower when run in an Azure pipeline with the task agent registered as an NT service. People kept adding to the issue but the NuGet team eventually closed it saying they couldn't reproduce the problem. This root problem has probably been around for a long ti

[2022-02-03 17:53] vperez-dart commented on #3728
Thank you, deleting _tasks folder fixed it.

This was caused by me mistakenly pointing all 4 agents to the same work folder. They likely conflicted with each other when downloading into _tasks folder.

I think this bug is in the "Ensuring task exists" steps on TaskManager which didn't detect they were incomplete. I think TaskManager should validate the task is complete and fail the build if unable

[2022-02-04 07:04] denis-tikhomirov commented on #3729
Fixed by https://github.com/microsoft/azure-pipelines-agent/pull/3731.
Patch is going to be released in 2.198.3 - https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.198.3

[2022-02-04 08:46] isc30 commented on #858
2022 and still doesn't work from ADO (dev.azure)

[2022-02-04 10:51] davidgiga1993 opened #3735 "Bearer token for git auth lowercase violates RFC"
When using git checkout, the bearer token is sent as lowercase (see [code here](https://github.com/microsoft/azure-pipelines-agent/blob/453d27c94ff7e54e7576a3490758cb27a4551a82/src/Agent.Worker/Build/GitSourceProvider.cs#L191)) but according to RFC it should be with a uppercase B
see https://datatracker.ietf.org/doc/html/rfc6750#section-2.1

This may cause issues with authentication proxy servers

[2022-02-04 10:54] EzzhevNikita commented on #3735
@davidgiga1993 Thanks, for the issue reporting we will take a look at this issue.

[2022-02-04 14:56] SebastianSchuetze commented on #3138
I wrote a blog post about this. Works with KEDA and Azure Container Apps natively and scalable

https://www.razorspoint.com/2021/11/19/scalable-container-based-azure-pipelines-pools-with-azure-container-apps/

Maybe that solves the problem?

[2022-02-06 09:16] StuiterSlurf commented on #3599
# Azure deployment agent doesn't work since a couple of days anymore due to SSL issues.

I got a couple of servers that can't connect to Azure DevOps anymore.

I found the following blog that tls 1.2 should be enabled.

https://devblogs.microsoft.com/visualstudio/azure-devops-requires-tls-1-2-on-all-connections-including-visual-studio/

I checked if we have the correct security protocols enabled.

[2022-02-06 13:03] #3465 closed

[2022-02-07 07:47] naymore commented on #3671
Yes. Did uninstall lbcurl4 prior to trying various libcurl3 libraries.
I udnerstand that the agent is depending on dotnet and hence the platforms currently supported by it. Debian/Ubuntu on ARM32 is indeed a [supported platform for netcore 3.1](https://github.com/dotnet/core/blob/main/release-notes/3.1/3.1-supported-os.md) ;-)

So I hope the switch to NET 6 makes a difference here.

[2022-02-07 14:56] Keki91 opened #3737 "Agent disconnecting on OSX 12.2 sporadically and never recovering."
## Agent Version and Platform
Version of your agent? 2.198.2 / 2.198.3

OS of the machine running the agent? OSX 12.2

## Azure DevOps Type and Version
https://dev.azure.com/lister-app

## What's not working?

_Throws Agent connect error: The http request timed out after 00:01:00.. Retrying until connected._

It rarely seems to successfully reconnect. I didn't have this issue with 2.196.2 on the s

[2022-02-07 15:15] siprbaum commented on #3212
This would be usefull for our usecase, too!

[2022-02-08 03:32] CurlyBytes commented on #249
I Agree to @Chakri1082-2021  , the setup is self hosted vmss is not working on cloning the wiki in azure devops

[2022-02-08 08:46] EzzhevNikita commented on #3728
@vperez-dart That's great that the issue was resolved.
We will take a look at how we could improve the process of task validation to avoid such a situation as you had.

[2022-02-09 05:44] denis-tikhomirov commented on #3729
Deployed with agent 2.198.3.

[2022-02-09 05:44] #3729 closed

[2022-02-09 08:09] #3490 closed

[2022-02-09 08:09] #3488 closed

[2022-02-09 08:09] #3486 closed

[2022-02-09 09:12] mainred commented on #858
the same case here, I tried `[skip ci]`, `[ci skip]` and `[skip azp]`, none of them work for ADO

[2022-02-09 09:39] isc30 commented on #858
@ericsciple @TingluoHuang @davidstaheli @madhurig
please reopen

[2022-02-09 13:47] denis-tikhomirov commented on #3737
@Keki91, do you have agent based on other OS (Windows or Linux)? Do they have the same issue in case they use the same network for connection?
Do you use IPv4, IPv6 or both the protocols in network connection on agent/host of agent? If both the protocols are available for using, please make sure that ADO is available in case of using each of them.

[2022-02-11 13:10] kirkpabk opened #3742 "Windows 2.198.3 node10 folder referenced as /externals/node"
The externals/node10/ folder referenced by copy task as externals/node/ causing issue.

Upon installation, my quick workaround was to copy node10 into node until resolved.

Is there an oversight or something else that must be done?

It appears to be a hard-coded dependency and not compatible with node14, right?

[2022-02-11 14:21] denis-tikhomirov commented on #3742
Hello @kirkpabk,
I have checked behavior of CopyFiles task, but I couldn't repro the issue, task successfully copied dir node to node and node10 to node10 on windows-latest image.
Could you please share more details about occurred issue, details about repro environment, share pipeline yaml/details to repro the issue?

[2022-02-12 08:51] jessehouwing commented on #3641
For future cases where the task in Azure DevOps Server needs to be upgraded, I've created a workflow on GitHub that makes the latest versions of each task available:

https://github.com/jessehouwing/azure-pipelines-tasks-zips

I've also added a script to generate a side-by-side version so you can install those alongside the older version of the task for testing or when backwards compatibility is s

[2022-02-12 23:00] aledeniz commented on #1294
I am not sure how this is not the top priority of the team delivering the agent.
To be honest in your place I would (1) allow the configuration as gMSA during the deployment and (2) recommend all your users to adopt that.

[2022-02-14 09:48] Keki91 commented on #3737
@denis-tikhomirov.

Also have an agent running Windows 10, this doesn't have the same issues. It's running under IPv4. ISP doesn't support IPv6.

[2022-02-14 13:27] malthe commented on #3604
@zojovano did you open an issue on the ADO side?

[2022-02-14 13:36] denis-tikhomirov commented on #3737
It looks like the issue should be solved by this PR https://github.com/microsoft/azure-pipelines-agent/pull/3738.
And the fix is included to release 2.200.0 https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.200.0.

[2022-02-15 09:31] EzzhevNikita commented on #3721
@iambernics Do you have any additional questions regarding agents' updates in deployment groups?

[2022-02-16 16:35] Baajl opened #3750 "TFVC - During Unshelving task files are not downloaded in directory"
## Agent Version and Platform

Version of your agent? 2.198.3
OS of the machine running the agent? Windows 10

## Azure DevOps Type and Version
Azure DevOps Online / Private Repository

## What's not working?

During the Checkout Task of a TFVC project, files of a gated check in are correctly Unshelve but are not download in folder.
When i look for folder informations, i can see that last modifica

[2022-02-16 22:49] mleziva commented on #3356
Looks like this update might have fixed the problem: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops#customizing-pipeline-agent-configuration

[2022-02-16 22:51] #3356 closed

[2022-02-17 09:21] alexander-smolyakov commented on #3655
**Quick Update**: Agent [v2.198.3](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.198.3), which contains the [fix](https://github.com/microsoft/azure-pipelines-agent/pull/3605) for the issue, has been fully rolled out.

[2022-02-17 10:18] golubev-ivan commented on #3750
Hi @Baajl, I haven't managed to reproduce this issue. How long have you been facing this problem and on which versions of the agent does this problem occur, other than the one you mentioned? Could you please share yaml config of your pipeline, where is this problem caused, or settings of checkout?

[2022-02-17 12:26] maxschaf opened #3752 "Same VM in multiple Environments without installing multiple agents on the VM"
## Agent Version and Platform
Windows

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/intactdev

## What's not working?
#2961

We have multiple datacenter locations and each customer uses one location. Our software platform consists of multiple applications installed on multiple VMs at one location. Some VMs are shared betwee

[2022-02-17 13:28] Baajl commented on #3750
Hi @golubev-ivan the test was done on 2.196.2 and 2.198.3 agent.
I'm using Classic pipeline, this is the checkout :

<img width="1359" alt="Capture d’écran 2022-02-17 à 14 22 52" src="https://user-images.githubusercontent.com/2916405/154491152-e606f3ec-39f6-481b-ae39-6635b100cb22.png">
.

[2022-02-17 14:41] Baajl commented on #3750
@golubev-ivan I have identify the problem, security software with wrong configuration, i'm really sorry for the time lost. Thanks for your help

[2022-02-17 14:41] #3750 closed

[2022-02-18 07:06] EzzhevNikita commented on #3721
@iambernics I am closing this ticket, for now, feel free to ping me in case of any future questions.

[2022-02-18 07:06] #3721 closed

[2022-02-18 10:10] tknerr commented on #3416
In fact, I see a totally different behaviour: the artifact name can be matched via `patterns:` in the download, but using multiple patterns (which are also supposed to work according to the docs) do not work at all!?

For me this is on Linux agents with agent version 2.185.1, and DownloadPipelineArtifacts version is 2.198.0

@beatcracker @jamesthurley mind re-checking if your examples are working

[2022-02-18 12:25] tknerr opened #3755 "Negative Patterns not working when Downloading Pipeline Artifacts"
## Agent Version and Platform

* Agent version 2.198.3
* Azure DevOps Services, Download Pipeline Artifacts task version 2.198.0
* Ubuntu-20.04 OS

## Azure DevOps Type and Version
https://dev.azure.com

## What's not working?

When specifying multiple patterns for the [DownloadPipelineArtifacts](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/download-pipeline-artifact?view=

[2022-02-18 13:10] DenisRumyantsev commented on #3566
Hi @nochtap, the related pull request has been merged and currently is awaiting deployment. When provided changes will be deployed, the driver (used when creating docker network) can be specified via the `AZP_AGENT_DOCKER_NETWORK_CREATE_DRIVER` environment agent knob or via the `agent.DockerNetworkCreateDriver` runtime pipeline knob.

* If the knob is NOT specified, the agent behavior remains the

[2022-02-18 19:47] stephajn commented on #3468
Here's a bump for this issue as well with the newest version of the agent running on an Azure Windows Server 2022 Datacenter edition OS.

The agent intermittently hangs on the simplest of tasks like doing something with the IIS management task, or running a simple powershell script that should take one or two seconds but instead goes and goes and goes for ages before I cancel a release and then hi

[2022-02-18 19:56] stephajn opened #3756 "Agent 2.198.3 intermittently hanging on different release tasks"
## Agent Version and Platform
Version of your agent? 2.198.3

OS of the machine running the agent? Windows Server 2022 Datacenter Azure Edition

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/bkycorp

## What's not working?
Random tasks will intermittently hang and never complete. These tasks can be anything from doing an IIS

[2022-02-18 20:32] arquitecturatic opened #3757 "System.NullReferenceException: Object reference not set to an instance of an object."
## NPE on hosted agent.
Log
[code]

### Linux environment
The behaviour is the same:
Linux RHEL
[code]
List of packages of RHEL
[code]
Debian
[code]
List of packages:
[code]

### Azure Agent
Table of capabilities:
[code]

Team Foundation Server 2017
[code]

[2022-02-19 14:24] hez2010 commented on #2048
I finally got a solution: docker-in-docker. Instead of mounting host `docker.sock`, I chose to run docker inside the docker containing azure-pipelines-agent.

For Dockerfile, see https://github.com/hez2010/docker-azure-pipelines-agent/tree/main/agent
To use it, you need to run the azure-pipelines-agent docker as privileged, and you also need to below set four environment variables:
- `AGENT_PAT`:

[2022-02-20 21:09] copdips commented on #3484
This is definitely a big issue for backwark compatibility, the source code is no more in the `/s` folder in case of multiple checkouts. For e.g. `/home/vsts/work/1/s` in case of the default Microsoft hosted ubuntu agent.

My workaround before the merge of this PR is to:
1. add `path: expectedRepoName` to each checkout, it will checkout the repositories to $PIPELINE_WORKSPACE, which is at `/home/vs

[2022-02-21 07:24] DaniilShmelev commented on #3757
Hi @arquitecturatic! We're going to take a look at this issue.
Did this issue start to appear in agent version 2.200.x, or did it also happen in previous versions of the agent?

[2022-02-21 08:01] DaniilShmelev commented on #3756
Thanks for the issue-reporting in this repository, currently we are under issues with higher priority, we will take a look at this ticket once we will have enough capacity.

[2022-02-21 09:31] DaniilShmelev commented on #3757
Could you please also provide some additional context for us to reproduce this issue? Were you by any chance using pipeline decorators?
Could you please also share the agent diagnostic logs? You may send them to v-dshmelev@microsoft.com

[2022-02-21 10:01] fblix opened #3759 "Azure DevOps /w Scale Sets & Custom Images: Instances not coming up"
## Agent Version and Platform
Version of your agent? v2.198.3

OS of the machine running the agent? Windows Custom Image via Azure Image Builder

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/Car-Software-Organisation

## What's not working?
My goal is to set up a scale set that is managed by Azure DevOps trough the Azure Pi

[2022-02-21 10:05] anatolybolshakov commented on #3468
Hi @stephajn could you please share agent logs to investigate for problematic runs? You can send them to my email - v-anbols@microsoft.com

[2022-02-21 10:50] anatolybolshakov commented on #3756
@stephajn could you please share agent logs to investigate for problematic runs? You can send them to my email - [v-anbols@microsoft.com](mailto:v-anbols@microsoft.com)

[2022-02-21 16:26] n-sijtsma commented on #3641
Thanks Jesse, we will try your extension.
One thing i noticed when using the classic pipeline editor is that you have not updated the icon or company name, making it more difficult to figure out which task to pick.

![image](https://user-images.githubusercontent.com/93312076/154993880-227037ac-b42f-4287-b10f-27b173b002ed.png)
The selected one is yours and has MSBuild 17.0 available

[2022-02-21 17:03] akoeplinger commented on #3276
This is not fixed yet, please keep it open.

[2022-02-22 01:27] IvanDonoso commented on #2734
hello, the last hint didn't work for me, on ubuntu 20.04, it seems to be a permissions issue because i removed the validation from the user in config.sh and run sh script and run the scripts with sudo ./config.sh and sudo ./run.sh and it worked. now i will investigate what is happening what is the missing permission.
`# we want to snapshot the environment of the config user

if [ $user_id -eq 0 -a

[2022-02-22 08:03] manishlak opened #3761 "Failed to download and extract TEE"
Hi,
using agent (2.198.3), build is failed with below error
build is configured with TFVC on macOS

##[debug]TEE download progress: 100%.
##[debug]Downloaded /Volumes/Data/TEST/A4/_temp/tee_temp_dir/b0868a40-bc36-49e9-a847-0c24a3c234f5.zip
##[debug]Extracted /Volumes/Data/TEST/A4/_temp/tee_temp_dir/b0868a40-bc36-49e9-a847-0c24a3c234f5.zip to $/Volumes/Data/TEST/A4/_temp/tee_temp_dir/5c05f529-c274-

[2022-02-22 08:31] DaniilShmelev commented on #3761
Hi @manishlak! Thanks for submitting this issue, I was able to reproduce it. Looks like a known issue in dotnet: https://github.com/dotnet/runtime/issues/31149.
We're currently working on a fix.

[2022-02-22 08:40] DaniilShmelev commented on #3761
As a workaround, you could set the agent's working directory to be on the same drive as the agent itself.

[2022-02-22 08:45] denis-tikhomirov commented on #3737
@Keki91, the issue should be resolved now with new version of pipeline agent (2.200.0). Please check that the issue is solved for you.

[2022-02-22 11:06] anatolybolshakov commented on #3688
Hi @AdamYoblick closing this one as external here (as I see it was already resolved also on developer community).

[2022-02-22 11:06] #3688 closed

[2022-02-22 11:13] anatolybolshakov commented on #3694
@ceteongvanness thanks! As I see there are instructions to set up self-hosted agent with azure container instance, although the error here seems to be related to demand required by some pipeline (agent version should be greater than 2.172.0). Seems like it was either configured with version less than 2.172.0, or there is some other possible reason).
@cheahengteong I'm closing this at the moment du

[2022-02-22 11:13] #3694 closed

[2022-02-22 13:32] echalone commented on #3484
The default behavior of the agent is not changed by this PR (if that was what you meant). There's currently also a bug in the behavior of the agent finding out which is the default directory which is fixed in another PR currently under review. This feature will only allow you to change the default working directory from the default behavior, it won't change the default behavior (so backwards compa

[2022-02-22 13:36] denis-tikhomirov commented on #3742
@kirkpabk, could you please share more details about occurred issue, details about repro environment, share pipeline yaml/details to repro the issue?

[2022-02-22 15:19] directhex commented on #3277
This is still an issue.

[2022-02-22 16:19] aviita commented on #3157
Would still like an explanation to this one e.g. from @ericsciple who has committed the file originally.

I did also make a SO question just in case this would be possible in some more hacky way:
https://stackoverflow.com/questions/71224717/is-it-possible-to-run-azure-devops-self-hosted-agent-locally-against-local-non-c

[2022-02-22 22:26] cavemandaveman commented on #3461
Why was this closed? This is still a major issue with self-hosted agents. The PATH is read from `/etc/sudoers` and not from `/etc/environment`.

You can't expect us to edit `/etc/sudoers` in our custom image just for ADO. And adding a step to _every_ pipeline to `source /etc/environment` is not practical.

The problem lies in the ADO agent extension - and should be fixed there.

[2022-02-22 22:45] jessehouwing commented on #3662
Further expanded my temporary solution for [this problem for now and hopefully for future situations with a similar issue](
https://github.com/jessehouwing/azure-pipelines-tasks-zips).

[Download the task from the latest release](https://github.com/jessehouwing/azure-pipelines-tasks-zips/releases) and [install them into you collection](https://github.com/jessehouwing/azure-pipelines-tasks-zips#ins

[2022-02-22 22:49] jessehouwing commented on #3600
Further expanded my temporary solution for [this problem for now and hopefully for future situations with a similar issue](
https://github.com/jessehouwing/azure-pipelines-tasks-zips). The project provides pre-built versions of the tasks as well as patched versions of the tasks that can be installed side-by-side the original tasks to prevent any breaking changes.

[Download the task from the lates

[2022-02-23 09:45] mulder999 commented on #3668
+1 Puzzling is that MS documentation [Windows 2019 image 20220131.1](https://github.com/actions/virtual-environments/blob/win19/20220131.1/images/win/Windows2019-Readme.md) indicates that git tool should be in version `2.35.1`. How do we end up with outdated version `2.30.2.windows.1` ?

[2022-02-23 10:57] mulder999 commented on #3668
I found the solution, see [here](https://github.com/microsoft/azure-pipelines-agent/pull/3693#issuecomment-1048661100)

[2022-02-23 11:41] kirkpabk commented on #3742
So, when I install the 2.198.3 agent, there is no /externals/node directory, only a node10.   I've never seen a node10 directory in the...way back... 2.153.x version.   The only reason that I copied the node10 to node is because there was an error wherein the CopyFiles task indicated that it could not find "X:\AzureAgents\04\externals\node\bin\node.exe" as indicated in the output below.   There's

[2022-02-24 00:24] ksaffarian commented on #858
/reopen
this does not work on GitHub configured as App.
I tried [ci skip] , [skip ci] , [skip azp] and ***NO_CI***

Indeed, most of the AZP checks show as skipped "due to skip command" (which is good as sign that the command is interpreted)- but those would already get skipped because of path filtering (exclude: path);
The pipelines that match the filtering (include: path) would not get skipped by

[2022-02-24 09:28] jessehouwing commented on #3632
What's the hold-up with 2.200? I really don't see why this issue is taking *so* long to get deployed. Even after multiple high-level support issues. It could have easily been merged into 2.198.x, it seems 2.199 was skipped altogether and now 2.200 has had 3 weeks to roll out since 198 but hasn't.

[2022-02-24 12:32] Keki91 commented on #3737
Updated the agents today and will let you know if they're still having an issue.

[2022-02-24 16:09] EzzhevNikita commented on #3632
@jessehouwing Deployment of agent version 2.200.0 completed, could you please check if the issue was resolved?

[2022-02-24 20:38] jessehouwing commented on #3632
Pinged the client.

[2022-02-25 09:15] frankvaneykelen-work commented on #3632
Our agents are now running on 2.200.2, and our Multi-Agent (20x) Parallelism Test build, that used to consistently fail on "The working folder D:\a\1\s is already in use" errors in some of the Checkout tasks, now completed successfully twice in a row, so I am quite confident that the issue has indeed been fixed! 🎉

[2022-02-25 09:43] #3632 closed

[2022-02-25 10:57] denis-tikhomirov commented on #3742
@kirkpabk, thank you for providing info.
Looks like it's caused by issue during unpacking agent. I have checked package of agent 2.198.3 and it contains folders node and node10 both. All releases can be found here - https://github.com/microsoft/azure-pipelines-agent/releases.
I would suggest full reinstalling of agent (re-unpack agent package) as solution here.

But also it can be useful to find r

[2022-02-25 13:27] denis-tikhomirov commented on #3755
@tknerr, I have investigated the issue. Please find comments for specified "don't work" patterns below.
- `"!**/logs/**\n!**/reports/**"` - please try to add pattern `**` to start of the line. As I see in doc about pattern, using of "exclude patterns" includes declaring of "include pattern" before ([File matching patterns - Exclude pattern examples](https://docs.microsoft.com/en-us/azure/devops/pi

[2022-02-25 23:35] ericrdgz commented on #2745
We are facing this same exact issue. We would like to use the run-once mode but for jobs execute in super fast fashion, Kubernetes treats these pods as "crashing" and starts doing exponential crash loop backoff.

[2022-02-27 07:02] #3511 closed

[2022-02-27 12:06] iuooip commented on #1829
There is probably `#!/bin/bash` and Alpine doesn't have that by default.