[2018-03-08 20:27] TingluoHuang commented on #1380
@bhaidar can you repro it all the time? if so, i would suggest open issue at https://github.com/Microsoft/vsts-image-generation and seek help from node.js org

[2018-03-09 14:19] tejasd1990 commented on #1267
Hi all,
we have fixed this issue and published a new extension version. Please let us know if the issue persists.
@chshrikh can we close this issue after waiting for a few days?

[2018-03-12 09:54] 199219921992 commented on #680
@bryanmacfarlane - I am unsing VSTS agent 2.129.1 on OSX, agent type is launch agent. VSTS agent are going offline when I close RDP connection with MAC machine and it will come online once i do RDP. Agent logs are shown below. I see issue thread talks about same issue. Is there a permanent fix for the issue.

[2018-03-12 09:26:46Z ERR  Terminal] WRITE ERROR: 2018-03-12 09:26:46Z: Agent connect err

[2018-03-12 10:37] AndrewGretton opened #1448 "Intermittent build failures when running multiple agents on single machine"
## Agent version and platform
Agent version 2.129.0, running on Windows Server 2016 v1607, using VSTS (the agent path says "d:\tfsagent" but we have now fully migrated to VSTS)

## What's not working?
I have installed 2 agents on a single machine. I am running a CI msbuild script which performs compilation of around 50 .NET projects, using the /m flag, and then runs nunit tests. When only one agen

[2018-03-12 14:25] TingluoHuang commented on #680
@199219921992 you have 2 options.
1. change the agent to launch daemon instead of launch agent.
2. use `nohup` to run the agent. https://linux.101hacks.com/unix/nohup-command/

[2018-03-12 14:34] TingluoHuang commented on #1448
@AndrewGretton please upgrade to latest version agent, this is a known issue that we fixed.
https://github.com/Microsoft/vsts-agent/pull/1407
https://github.com/Microsoft/vsts-agent/releases/tag/v2.131.0

[2018-03-13 08:17] naveenkumargc commented on #165
Thank you trim fix works great !

[2018-03-13 10:10] AndrewGretton commented on #1448
Thanks @TingluoHuang, this has resolved the issue.

[2018-03-13 10:10] #1448 closed

[2018-03-13 16:56] shmatkotija opened #1449 "OutputVariable section in json is ignored when importing a task in Task Groups"
I am trying to add an output variable to a phase of our online build that would be consumed by the next phase.

Based on the documentation, I used:
`##vso[task.setvariable variable=myOutputVar;isOutput=true;]someValue`
To set the value of the output variable. This is in a script which is within a Task Group that I have created.

I noticed that when the script is in the Task Group, I cannot access

[2018-03-13 16:59] redshiftz commented on #1434
Your image above shows the build. I need it to work on the release as well. Everything I've been able to find on it says it should.

Should it not show in this tree?
![image](https://user-images.githubusercontent.com/20643813/37357258-eee376be-26b5-11e8-8212-357e984211f1.png)

[2018-03-14 00:48] sboro commented on #1311
We are also experiencing this issue at my workplace currently.

Agents are at version 2.123.0 (8 agents per server)
Windows 2016 (4 build servers)
TFS 2017 RTM Update 2

As @fiveshotsofespresso mentioned, it seems to always refer to a mapping in a different collection.

[2018-03-14 07:26] JackyChiou opened #1451 "Config TFS 2017 or later download agent path to on-prem TFS Server"
Scenario:
Just like https://github.com/Microsoft/vsts-agent/issues/903
1. Customers' environment can't connect to internet.
2. I understand the installation iso file size is important.

Is it possible let us config it?
1. Customers can download the agent zip file and copy it to TFS AP server. The path can be accessed by agents.
2. Agents can perform update process via TFS server.

Thank you for yo

[2018-03-14 11:07] bryanmacfarlane commented on #1451
Yes, we have that exact feature on our backlog.  Place the zip in a prescribed place on the ATs and the product and updates will discover it

[2018-03-15 05:39] JackyChiou commented on #1451
Thank you for your reply.

從我的 iPhone 傳送

Bryan MacFarlane <notifications@github.com<mailto:notifications@github.com>> 於 2018年3月14日 下午7:07 寫道：

Yes, we have that exact feature on our backlog. Place the zip in a prescribed place on the ATs and the product and updates will discover it

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://n

[2018-03-15 07:17] 199219921992 commented on #680
@TingluoHuang - I created launchd plist and ran as launch daemon in a user account not root user still getting same issue after disconnect the user account from MAC machine (where the agent goes offline!).

[2018-03-15 10:34] bryanmacfarlane commented on #680
Is the machine configured to go to sleep (energy settings)?  As a troubleshooting step, does it go offline if you run interactively, keep the session active and logged on?  I'm trying to separate app issue from machine / config issue.  You can setup a separate instance sxs on the same machine to troubleshoot.

[2018-03-15 10:35] bryanmacfarlane commented on #680
Also, other folks should create a separate issue unless you're getting the stack / error in the original issue.

[2018-03-15 11:32] alanmcgovern opened #1452 "Cooperative cancel support in tasks"
When a step takes too long to complete in VSTS it times out and the build is cancelled.

If the issue is a rare deadlock in a process it can be hard to reproduce locally. To make it easier to diagnose these things after the fact Mono has the ability to write a stacktrace for all managed threads on demand. All you need to do is send the `QUIT` signal to the mono process and the data will be written

[2018-03-15 11:43] bryanmacfarlane commented on #1452
That would be something the task would be responsible for (agent knows nothing about mono) - agent just runs a list of tasks.

However the agent is responsible enforcing the timeout.  We would have to send a signal to the task along with a task lib hook (on cancel / timeout).  Basically, a cooperative cancel.

[2018-03-15 12:11] alanmcgovern commented on #1452
That makes sense. I felt it was more appropriate filed against the agent as only the agent would be in a position to walk all of it's child processes and generate a stacktrace with lldb/gdb. A child process, or a child process of a child process, would not be in a position to do that.

Same reasoning applies to the `kill -QUIT` request :)

[2018-03-15 13:08] 199219921992 commented on #680
@bryanmacfarlane - Interactive agent also goes offline after a while (May be it takes more time than as Launch agent), verified at energy saver and 10 mins timeout has set to go display off. After going of the options are set like 'Put hard disk to sleep when possible', 'wake for network access', 'Enable power nap' and rest options like 'Prevent computer from sleeping automatically when the displa

[2018-03-15 21:33] naveencherukuru opened #1454 "VSTS Build Agent : How to run get sources run as Sudo"
## Agent version and platform
2.131.0

OS of the machine running the agent?
linux

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name? http://account.visualstudio.com
http://ms***.visualstudio.com

## What's not working?

Get Sources in the build agent fails

2018-03-15T21:21:52.8981737Z ##[command]git config --get remote.origin.url
2018-03-15T21:21:52.920456

[2018-03-15 21:38] TingluoHuang commented on #1454
@naveencherukuru how those files created in the first place?

[2018-03-15 21:39] TingluoHuang commented on #1454
@naveencherukuru have you ever run the agent as service? `Systemd`

[2018-03-15 21:40] naveencherukuru commented on #1454
These files are created with earlier build run . Build was successfull , but when I rerun the same build agent , it fails with the permission issue.

[2018-03-15 21:42] naveencherukuru commented on #1454
@TingluoHuang : can you let me know on how to run as systemd

[2018-03-15 21:48] TingluoHuang commented on #1454
@naveencherukuru
Doc for config as service: https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/v2-linux#run-as-a-systemd-service

[2018-03-15 21:50] TingluoHuang commented on #1454
@naveencherukuru
what is that file?
`debian/.debhelper/bucket/files/9be3de218833c076786b919dc34aab691611f4cd73316e7705f2673e2c41921b`
is that part of the repository?
can you send me build log for both succeed and failed build? `tihuang AT microsoft.com`

[2018-03-15 21:52] naveencherukuru commented on #1454
@TingluoHuang : sending you right away

[2018-03-16 09:57] 199219921992 commented on #680
@TingluoHuang - I followed https://www.wintellect.com/installing-macos-vsts-build-agent/ document to configure vsts agent and i looks almost same.

Right now i have created launchd file for running agent as Launch daemon and below is my plist file.

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist v

[2018-03-16 12:45] bryanmacfarlane commented on #680
@199219921992 - create a separate issue.

[2018-03-16 15:49] #1415 closed

[2018-03-16 16:37] yaananth opened #1455 "Agent should back off when polling when server throttles"
@TingluoHuang  has the context here.
The agent will keep polling when it gets some exceptions.
For throttling exceptions, we should handle it and back off to stop hammering the server more

[2018-03-16 17:30] TingluoHuang commented on #1455
https://github.com/Microsoft/vsts-agent/releases/tag/v2.125.0
https://github.com/Microsoft/vsts-agent/pull/1264

the problem has already been fixed in 2.125.0

[2018-03-16 17:30] #1455 closed

[2018-03-19 06:30] cbfrank opened #1457 "Need Variable for "LastBuildDirectoryNumber""
Hi
I can get the Build.ArtifactStagingDirectory, but the final build output files are in the folder such as:
D:\agent\_work\2\a\Archive\Content\D_C\agent\_work\2\s\**projectname**\obj\Release\Package\PackageTmp
the second 2 is hard to get from the existing viaraibles.

Thanks

[2018-03-19 06:40] 199219921992 opened #1458 "Unable to configure VSTS agent on MAC- Getting error at the run of /config.sh"
@TingluoHuang @bryanmacfarlane I am configuring VSTS agent on MAC machine and itseems like the config.sh is failing with error below.

phl-dev-macbook:vstsagent mobilebuildepicor.onmicrosoft.com$ ./config.sh
dyld: lazy symbol binding failed: Symbol not found: _clock_gettime
  Referenced from: /Users/mobilebuildepicor.onmicrosoft.com/VSTSAgent/bin/libcoreclr.dylib (which was built for Mac OS X 10.1

[2018-03-19 08:53] 199219921992 opened #1459 "OSX agent running as launch agent goes offline if not interactively logged on (RDP, etc.)"
@bryanmacfarlane-
I am unsing VSTS agent 2.129.1 on OSX, agent type is launch agent. VSTS agent are going offline when I close RDP connection with MAC machine and it will come online once i do RDP. Agent logs are shown below. I see issue thread talks about same issue. Is there a permanent fix for the issue.

[2018-03-12 09:26:46Z ERR Terminal] WRITE ERROR: 2018-03-12 09:26:46Z: Agent connect error

[2018-03-19 08:53] 199219921992 commented on #680
@bryanmacfarlane - Created issue.
VSTS Agent 2.129.1 on OSX goes offline and come online frequently leaving `System.TimeoutException: The HTTP request timed out after 00:01:40.` error #1459

[2018-03-19 11:10] Fizcko commented on #1094
@hir0pr0tagonist i have the same results as you. Do you find something ?

[2018-03-19 11:51] michelkamp commented on #1349
Same issue here. This caused almost a big problem here. Detected it looking at the build details.... Imagine you have a Main and Develop branch. In my case the code of develop branch was always used even when i specified the Main to use.... so almost released develop versions as main to customers.... ;-(
2018 update 2 should be this month right ?

[2018-03-19 13:17] bryanmacfarlane commented on #1409
@cschuff - does the task.prependpath solution @ericsciple pointed out work for you?  Also adding @TingluoHuang

[2018-03-19 14:31] TingluoHuang commented on #1457
@cbfrank
try `$(AGENT.BUILDDIRECTORY)`, it should point to the directory you want.
`2018-03-13T18:15:22.9884500Z AGENT_BUILDDIRECTORY=c:\vsts-agent\_layout\_work\2`

[2018-03-19 15:00] TingluoHuang commented on #1459
@199219921992 running agent interactively requires an interactive session on the machine, you can change the agent to running as service or use `nohup` to launch the agent in RDP session.

[2018-03-19 15:05] bryanmacfarlane commented on #1459
note that launch agents on run when a user is logged on:
http://www.grivet-tools.com/blog/2014/launchdaemons-vs-launchagents/

[2018-03-19 15:19] bryanmacfarlane commented on #1459
Also potentially relevant:
https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/v2-osx#automatic-log-on-and-lock

[2018-03-19 15:33] cschuff commented on #1409
No, it does not.

I thought of setting the vars via script depending on `AGENT_ID`. But that either makes my build script rely on a TFS variable or would add yet another build step...

To wrap this up: Are environment vars per build agent something you consider for future TFS versions? I can also file an official support request if you think that helps (Where would I do that btw?)

[2018-03-19 15:36] bryanmacfarlane commented on #1409
Having startup vars is the right fix since we support on *nix.  @TingluoHuang ?

[2018-03-19 16:19] TingluoHuang commented on #1409
@cschuff @bryanmacfarlane seems reasonable, I can add it in the next version agent release, shouldn't take much time to add it.

[2018-03-19 16:51] cbfrank commented on #1457
@TingluoHuang
Thank you for the suggestion, but I think it can resolve my problem, as I can get "D:\agent_work\2\a" from "Build.ArtifactStagingDirectory" which include the value of LastBuildDirectoryNumber (in this case, it is 2).
But the problem is: I need the path something like D:\agent\_work\2\a\_Archive\Content\D_C_\agent\_work\2\_s\MyWebProj\obj\Release\Package\PackageTmp_
The italic part ar

[2018-03-19 16:52] cbfrank commented on #1457
I closed this issue by mistake clicking on the button. Sorry, I opened it again

[2018-03-19 18:01] CodeAbuser commented on #1439
Just ran into the same issue with setting up a deployment group for on prem TFS 2018. thanks for your suggestion.

FYI for others that aren't PowerShell savy like me, you just have to paste the command that @TingluoHuang proposed first and run it (press enter), then run the script like normal afterwards.

[2018-03-19 19:26] TingluoHuang commented on #1409
#1462

[2018-03-20 02:49] bryanmacfarlane commented on #1458
Can you update the issue and fill out the template with the agent version and mac osx version you are installing onto?

[2018-03-20 05:30] TingluoHuang opened #1464 "Unnecessary translation in LOC string"
We should never translate `(Yes/No)` in LOC string.

Correct behavior in Windows `DEL`:
[code]
Wrong translation in our agent:
[code]

I would never expect customer on localized OS to type the translation of Yes/No.

[2018-03-20 05:31] japj commented on #1451
@bryanmacfarlane any insight if this backlog item is in the TFS2018 or next major version timeline?

[2018-03-20 07:01] abbottbd opened #1465 "System.ArtifactsDirectory not set when Build.SyncSources=false"
## Have you try trouble shooting doc? Yes

## Agent version and platform
Version of your agent? 2.127.0

OS of the machine running the agent? Windows Server 2016

## VSTS type and version? on-prem TFS 2017 Update 3

## What's not working?
System.ArtifactsDirectory is not set when Build.SyncSources is set to 'false'.
A build may want to capture/edit/publish artifacts without getting any source.  Co

[2018-03-20 14:00] TingluoHuang commented on #1465
@abbottbd you shouldn't use `Build.SyncSource=false` anymore since it's not added for your scenarios.
you can set `Dont' sync sources` through definition editor UI which should has the correct behavior you want.
![image](https://user-images.githubusercontent.com/1750815/37659128-7c15c216-2c25-11e8-8c86-7a86c6d769cf.png)

[2018-03-20 15:38] eerhardt opened #1466 "Agent container support: Docker pull needs retry logic"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting
Yes

## Agent version and platform
Version of your agent? 2.131.0

OS of the machine running the agent? Linux...

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name? http://devdiv.visualstudio.com

## What's not working?
When using

[2018-03-20 19:38] #1375 closed

[2018-03-22 10:50] bansalaseem commented on #1466
Since this is an enhancement request for docker task, can you please report the issue in tasks repo (https://github.com/Microsoft/vsts-tasks).

[2018-03-22 13:52] eerhardt commented on #1466
I can do that, but it isn't obvious that this is handled by a task in vsts-tasks.  I searched for `_PREVIEW_VSTS_DOCKER_IMAGE` in https://github.com/Microsoft/vsts-tasks and there are no hits in that repo.

However, when I search for it in this repo, I find:

https://github.com/Microsoft/vsts-agent/blob/f6977295a556cc0a4b898c703bc1e66a660e71f4/src/Agent.Worker/ExecutionContext.cs#L370-L381

Which

[2018-03-22 16:52] spashx opened #1468 "Linux agent removes double quotes from CmdLine build task arguments after TFS migration"
## Agent Version and Platform
TFS 2017 UPD3 on premise
agent version  2.122.1
Running on Ubuntu 14.04

## VSTS Type and Version
TFS 2015 UPD1 on premise migrated to TFS 2017 UPD3 on premise

## What's not working?
After migration, all our CmdLine build steps with arguments containing double quotes, loose their double quotes when steps are executed.
This appeared after migration of our TFS2015 UPD1

[2018-03-22 17:00] TingluoHuang commented on #1468
@spashx i guess this might be a task issue. can you find a good build and compare the logs?
the header of each log should print out the task information like this:
![image](https://user-images.githubusercontent.com/1750815/37785575-e7367598-2dd0-11e8-98f9-2beff9b32522.png)

[2018-03-22 23:57] bryanmacfarlane commented on #1468
create an issue in vsts-tasks
Also, have you tried escaping like you would on the command line? \\"?

[2018-03-23 02:02] bryanmacfarlane commented on #1466
This feature isn't even in preview yet.  It's still under development.  But we will consider this request

[2018-03-23 10:40] spashx commented on #1468
@TingluoHuang

Here is the output with a TFS2015 UPD1 server, agent 2.111.1:
[code]

[2018-03-23 10:56] bryanmacfarlane commented on #1468
Add a link here.

Note:
- 2015 version of task had bugs in handling escaping
- a \\"b\\" might be a bug but not really sensical because no need to escape quoting - escaping is for a quote inside of quotes.

Cases:
- pass a b?  just pass a b.  a "b" also works
- escape a quote pass a b"c?  pass a "b\"c"
- handle spaces pass xxx and Hello World?  xxx "Hello World"

The cases above are consistent wit

[2018-03-23 12:11] GitHubSriramB commented on #1288
This is being addressed with this PR:
https://github.com/Microsoft/vsts-agent/pull/1460

[2018-03-23 14:26] spashx commented on #1468
Not sure to understand you clearly. Can you ellaborate a little bit ? thanks.

[2018-03-23 15:14] dknoodle opened #1469 "Azure App Service Container"
I have deployed the Docker VSTS agent in an Azure App Service (Linux) deployed from the Docker registry https://hub.docker.com/r/microsoft/vsts-agent/  but I'm getting errors on startup.

Everything appears to be correct but when the container starts up and tries to update the VSTS agent installed in the container it throws errors.  Looks to me like the installer is trying to change permissions /

[2018-03-23 15:29] TingluoHuang commented on #1469
@dknoodle i would recommend you log an issue in the image repository instead of here.  it doesn't seems like an issue with the agent itself.
https://github.com/Microsoft/vsts-agent-docker/tree/master

[2018-03-23 15:29] dknoodle commented on #1469
Thanks, done

[2018-03-23 15:29] #1469 closed

[2018-03-23 17:15] TingluoHuang commented on #1359
Close this as we change the windows service to be delayed auto start on Windows.

[2018-03-23 17:15] #1359 closed

[2018-03-26 12:45] #1433 closed

[2018-03-26 12:54] Ingo-Siegel opened #1471 "provide Filename for download file name in VSTS REST API response"
VSTS-team,

please provide Filename for download file name in vsts Rest API response:
https://{instance}/_apis/distributedtask/packages/agent?$top=1&%24top=1
e.g.: vsts-agent-win-x64-2.131.0.zip
currently it's empty

{
    "count": 8,
    "value": [
        {
            "type": "agent",
            "platform": "win-x64",
            "createdOn": "2018-03-19T16:33:52.823Z",
            "version":

[2018-03-26 13:37] cschroll opened #1472 "TFS 2017 Upgrade - Build agent service failing"
## Agent Version and Platform
Version of your agent? 2.122.1

OS of the machine running the agent? Windows 7 Professional SP1

## VSTS Type and Version
On-Prem TFS 2017

If On-Prem TFS, which release? TFS 2017 15.117.27024.0 Update 3

## What's not working?
We upgraded from TFS 2012 to TFS 2017.  We initially had issues connecting from Visual Studio 2017 right after the upgrade - basically it woul

[2018-03-26 14:01] TingluoHuang commented on #1472
https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting?view=vsts#config-fails-while-testing-agent-connection-on-premises-tfs-only

Anonymous access should be on by default for TFS2017, the build agent need to use one of the anonymous endpoint to exchange access token.

I would suggest report your issue at https://developercommunity.visualstudio.com/spaces/8/index.html

[2018-03-26 14:35] derrickstolee commented on #1472
Please do report your issue at the link provided above, but we will also need some more information in order to diagnose this issue.

What is your Visual Studio version?
You seem to be using TFVC. Does the command-line "tf.exe" tool work when Anonymous Access is on?
Please collect Fiddler traces for each connection attempt from Visual Studio (Anonymous Access enabled and disabled).

Fiddler traces

[2018-03-26 15:11] cschroll commented on #1472
I will report the issue on the Developer Community site. It looks like similar issues have been reported, and some are pointing to anti-virus software interfering with the connection. We use AVG, so I'm going to add devenv.exe as an exclusion to see if it makes a difference.

Yes, we are using TFVC with Visual Studio 2017, v15.6.4. I'll turn anonymous back on tonight so it doesn't interfere with t

[2018-03-26 20:44] TingluoHuang commented on #1472
I am going to close this issue for now, since it's not related to the agent.

[2018-03-26 20:44] #1472 closed

[2018-03-26 20:46] TingluoHuang commented on #1471
@Ingo-Siegel thanks for let us know, i will fix it in the next agent release.

[2018-03-27 14:42] urilev opened #1474 "Vsts agent failed during "Get Sources" task (git fetch)"
Some info:
We have a private agent vsts-agent-win-x64-2.131.0 installed on Windows 10 Enterprise Version	10.0.15063 Build 15063

 vsts account name https://sparkg.visualstudio.com/

On one of our builds (its a new agent) the "Get Sources" task failed with error:

2018-03-27T07:49:00.4698139Z Receiving objects:  64% (3843/5943), 193.88 MiB | 4.09 MiB/s
2018-03-27T07:49:00.5604016Z Receiving objects

[2018-03-27 14:53] MengYunfan opened #1475 "Build agent failed to install msi"
Error message.

I can not use the nuget version of MicrosoftStoreServicesSDK, so i install MicrosoftStoreServicesSDK.msi in my local machine, but on vsts build agent  MicrosoftStoreServicesSDK installation was failed.

😂😂😂😂😂

[2018-03-27 15:14] TingluoHuang commented on #1475
@MengYunfan can you fill out the issue template? i can't understand which issue you run into, the agent is delivered as a self-contained `.zip`, there is no `MSI` at all.

[2018-03-27 15:32] TingluoHuang commented on #1474
@urilev is it an intermediate failure or it is failed a lot of time?

[2018-03-27 16:52] urilev commented on #1474
It only happened once, however it is a new agent so one failure out of five attempts

[2018-03-27 21:14] janmohammadi commented on #759
I'm was using TFVS 2018 with the same problem.
this script solved my problem.

`EXEC prc_SetRegistryValue 1,'#\Configuration\OAuth\TrustedIssuers\tfs-server\','Microsoft.TeamFoundation.Framework.Server.OAuth.ClientAuthTokenValidator'`

[2018-03-28 01:23] MengYunfan commented on #1475
@TingluoHuang not private agent,  I use the vsts host build agent.
This is msi version of [MicrosoftStoreServicesSDK](https://marketplace.visualstudio.com/items?itemName=AdMediator.MicrosoftStoreServicesSDK) .

and this is my install script's content.
[code]

[2018-03-28 01:25] TingluoHuang commented on #1475
@MengYunfan i would suggest you report at:
[Hosted Agent Image Repository](https://github.com/Microsoft/vsts-image-generation) - contains the VM image used in the VSTS Hosted Agent Pool.

the issue your run into seems related to the machine itself.

[2018-03-28 08:34] 199219921992 commented on #1458
@bryanmacfarlane  OS and MAC agent version at my previous comment

[2018-03-28 08:48] MengYunfan commented on #1475
@TingluoHuang Thanks 😁😁😁😁

[2018-03-28 10:16] bryanmacfarlane commented on #759
@janmohammadi - it would be interesting to know the sequence of events for a repro.  We know the fix, thought we understood the repo (scenarios where external url changes) but then couldn't repro.  Was this an AT move, collection upgrade via attach, server name change, AT(s) behind a new VIP/NLB, etc....??  We had a fix ready to automated running that sql command but then couldn't repro ...

[2018-03-28 15:03] JacobHenner opened #1476 ".proxybypass file not removed when uninstalling agent."
The .proxybypass file (if it exists) is not removed when the agent is uninstalled. This is inconsistent with other proxy configuration files (i.e. .proxy, .proxycredentials), which are removed when the agent is uninstalled.

[2018-03-28 15:37] #1476 closed

[2018-03-28 20:57] gregpakes opened #1479 "YAML Build Timeout Setting"
I can't find how to set the build controller timeout setting when using YAML builds.

When you use YAML builds the "options" section of the build configuration disappears.  This is where the build job timeout setting is.  How can I set this in YAML?

As an aside, the "View YAML" feature against a non YAML build does not include this property.

[2018-03-28 22:03] gregpakes commented on #1479
I think i've found the setting:

I'm testing it now.

[2018-03-28 22:27] ericsciple commented on #1479
yep that should work, fyi it's also documented here under phase options: https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-phase.md#job-timeout-applies-to-queue-server

[2018-03-28 22:27] #1479 closed

[2018-03-28 22:47] gregpakes opened #1480 "Artifact Publishing disproportionately slow for large number of small files"
I am using VSTS with the hosted agent.

Artifact publishing is very slow.  Cloning the repo, which is much larger than the artifacts that need publishing takes about 3-4 mins.  Publishing the artifacts is taking **23 minutes**.

Here are the details:

- 23k files in the final artifacts that need publishing
- I've seen that people suggest zipping it up, then publishing.  We have tried this before,

[2018-03-29 00:52] #1475 closed

[2018-03-29 00:53] gregpakes commented on #1480
I've figured a decent work around for this.  The publish now takes 28 seconds.

I use the following task [Artifact Compressor](https://marketplace.visualstudio.com/items?itemName=roshkovski.2B9619D5-7BE9-4ED7-BF10-707CB17F657A) which allows you to create a zip file with **no compression**.  This obviously solves the problem described above where the compression takes too long.

Publishing the sing

[2018-03-29 01:57] bryanmacfarlane commented on #1480
@madhurig - cpu bound on large number of small files?  I think it's more about the target machine than the task??

[2018-03-29 02:02] samedder opened #1481 "Allow root user for `config.sh`"
## Agent Version and Platform

Agent version 2.131.0
Linux Ubuntu 4.13.0-37-generic #42~16.04.1-Ubuntu

## VSTS Type and Version

VSTS -> msazure.visualstudio.com

## What's not working?

Right now if you run `config.sh` with root permissions the script exits explicitly, failing because of this check

[code]

I believe support for running the script under normal user permissions was added because

[2018-03-29 02:30] gregpakes commented on #1480
@bryanmacfarlane

Why do you think it’s CPU bound?  Also I have no control over the machines.  This is hosted build agent publishing to VSTS container

[2018-03-29 02:38] ProteanDev commented on #1305
@bryanmacfarlane you didn't solve anything by saying "xcode correctly failed", why did you close this issue?

[2018-03-29 02:53] bryanmacfarlane commented on #1305
@madhurig to have a second look.  Note that I didn't say that Xcode correctly failed.  I simply pointed out that xcode failed building your project and the CI server and task correctly captured the result and reported it.

Here's the error from Xcode: Code Signing Error: GoogleToolboxForMac does not support provisioning profiles. GoogleToolboxForMac does not support provisioning profiles, but prov

[2018-03-29 02:56] bryanmacfarlane commented on #1305
The tasks repo is also vsts-tasks.   The agent itself (what's in this repo) has no knowledge or interaction with xcode.  It's the task that runs xcode.

[2018-03-29 03:19] bryanmacfarlane commented on #1480
I read your statement as it's faster with no compression.  But I see now that you're saying the fact that you went to one file (without spending cycles on compressing) you're faster.

If that's correct, then very likely it's because it's not writing metadata to the backend for each file (we support browsing a drop in the web UI).  Just one metadata row. It's also taking the overhead of connecting

[2018-03-29 03:26] bryanmacfarlane commented on #1480
Yes, I understand.  I added @madhurig because there's investment going on in this area to rework artifacts.  Her team is driving it.  I was trying to outline where I think it's blocking :)

[2018-03-29 03:27] bryanmacfarlane commented on #1480
Can you confirm whether it's a large number of small files?

[2018-03-29 03:31] gregpakes commented on #1480
@bryanmacfarlane

Its 23K files with a total size of 400MB.

[2018-03-29 03:42] bryanmacfarlane commented on #1305
https://github.com/Microsoft/vsts-tasks

[2018-03-29 03:43] bryanmacfarlane commented on #1480
Yeah, that's pretty much the worst case for that task that's bound by metadata writes.

[2018-03-29 05:24] GitHubSriramB commented on #1288
The changes are committed. This functionality will be available with 2.133 version of agent.

[2018-03-29 11:45] aarcosolutions commented on #1393
@bryanmacfarlane @chrisrpatterson I understand it is not an issue with agent application but the underlying OS on which agent is running. However this is an block issue and building custom build agent is time consuming. So before I go down that route, I wanted to check if any progress on this issue? As you mentioned in you previous message that a new docker pool will be created. Can you please sha

[2018-03-29 11:55] Virenta opened #1482 "Multiple agents with 'runasautologon' feature"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 2.129.0

OS of the machine running the agent? Windows Server 2012 R2

## VSTS Type and Version
On-Prem TFS 2017 Update 3 RTM (15.117.27024.0)

## What's not working?
On a single machine with a few agents installed as 'runAsA

[2018-03-29 14:44] hashtagchris commented on #1305
@anilsantoIbs or anyone else hitting this issue:

1. Please switch to the 4.* version of the Xcode task if you're using an older version. Among other improvements, it has support for building macOS apps.

2. In the 4.* Xcode task, try setting Signing style to "Project defaults" or "Automatic signing".

If that still doesn't fix the issue, it may be useful to run xcodebuild -workspace <workspace> -

[2018-04-02 15:15] Therzok opened #1487 "VSTS shallow cloning does not shallowly clone submodules and clones all branches"
## Agent Version and Platform
2.115.0

OS X and Windows

## VSTS Type and Version
visualstudio.com
maungu

## What's not working?
Everything works, just not efficiently. 3 excerpts below

[code]

[code]

[code]

These two commands do a lot more work than needed:
a) Cloning does not clone a single branch, so all the objects for refs alive in the remote are cloned. In the case of a repository with r

[2018-04-02 17:51] TingluoHuang commented on #1487
@Therzok
a) `branch` is not required for queuing a build, you can provide either a `branch` or a `commint hash`, so the client has to fetch `origin` in case the there is no `branch` been provided.

b) we support build a given tag, so the client has to fetch tags.

c) thanks for let me know this, i will fix this later. :)

[2018-04-02 17:52] TingluoHuang commented on #1482
@dpksinghal for taking look at this issue related to `autologon` issue

[2018-04-02 19:03] Therzok commented on #1487
I see.

Tag names could be supplied too at the end of the fetch parameter or as a specific ref to grab. Regardless it seems there is a way to actually just fetch a single commit, but it is computationally expensive to actually look for the commit and grab only that (has to traverse the ref until it reaches the commit itself), and it seems to time out on github on my test case.

So yeah, it seems b

[2018-04-02 23:11] sboro commented on #1311
Forget my last comment I realized we had a Windows scheduled task running every week that deleted everything under the agent working folder (where sources are downloaded and everything). I presume it was created to save space on disk. When that happens TFS restarts its workspace numbering at 1 (ws_1_<agent_id>) and will fail as soon as a build is requested with a different collection than the prev

[2018-04-03 01:30] samedder commented on #1481
@bryanmacfarlane, can you give some insight here?

[2018-04-03 14:51] bergmeister commented on #680
I get the same error message as well. It randomly fails. VSTS agent v2.120.2 on a Windows machine.

[2018-04-04 07:00] smadala opened #1492 "In build definition intermittently task(VsTest Platform Installer) not getting executed"
- We have observing intermittently  VsTest Platform Installer task not getting executed, due to this vstest task failing with error `Error: VsTest Test Platform folder was not found in cache`.

- From logs it appears task execution not started (can't find [this](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/VsTestPlatformToolInstaller/vstestplatformtoolinstaller.ts#L27) logging).

- At

[2018-04-04 07:01] smadala commented on #1492
/cc @ShreyasRmsft @cltshivash

[2018-04-04 07:06] smadala commented on #1492
Created [a bug](https://mseng.visualstudio.com/DefaultCollection/VSOnline/_workitems/edit/1226424) in mseng to track this internally. Set the priority to P1.

[2018-04-04 12:19] Kollibri opened #1493 "BuildNumber that is updated during build does not update name in agent queue list"
## Have you tried trouble shooting?
Yes

## Agent Version and Platform
Version of your agent? Not sure, I will update once I know.

OS of the machine running the agent? OSX/Windows/Linux/...
Windows

## VSTS Type and Version
On-Prem TFS 2018 - Version 16.122.27102.1

## What's not working?
When the buildnumber of a build is updated during the build process by a task, the buildnumber shows the upda

[2018-04-04 13:52] andreacassioli commented on #145
Hi all,
I am smashing similar issues.
My deploy pipeline uses a key vault task to import a number of secrets. Then I have a shell task to perform substitutions to inject those secrets in a kubernetes deploy script.

All works well if I expliticly use the secret. Say a key x is accessible using $(x). But what I would like to do is the following:

- get the list of keys from the kubernetes script wh

[2018-04-04 14:41] Kollibri commented on #1493
@TingluoHuang is there a way I can force the request queue page to be updated?

[2018-04-04 14:47] TingluoHuang commented on #1493
@Kollibri not from what i know, the string is stored in a different SQL table and we never update that table after the data got insert.

[2018-04-04 14:53] Kollibri commented on #1493
@TingluoHuang If I changed to use YAML builds, would the value be set early enough in the build that it would be correct?

[2018-04-04 15:24] TingluoHuang commented on #1493
@Kollibri i am not sure, the agent request queue page only shows the most recent builds which may not be interesting to fix.

[2018-04-04 19:51] bryanmacfarlane commented on #1492
There’s no diag logs or anything indicates caring this is an agent issue.  Reactive with more details

[2018-04-04 19:51] #1492 closed

[2018-04-05 00:04] jwittner opened #1494 "VSTS ARM Agent Extension doesn't support Build/Release Agents."
The current extension is only for Deployment groups. I've been scouring the web and there doesn't seem to be a good automation story around standing up build/release agents. No ARM extension, no DSC resource, and the [quick-start template](https://github.com/Azure/azure-quickstart-templates/tree/master/visual-studio-vstsbuildagent-vm) has some custom script for installing it.

I'm about to go put

[2018-04-05 01:21] yorhpokie opened #1495 "Agent lost communication with the server"
## Have you tried trouble shooting?
Yes

## Agent Version and Platform
2.117.2

OS of the machine running the agent?
Windows10 and Windows Server 2012 R2

## VSTS Type and Version
On-Prem TFS 2017 Update 3

## What's not working?
We get periodic "The agent xx lost communication with the server. Verify the machine is running and has a healthy network connection." error.  About 2 to 5 times every da

[2018-04-05 02:11] TingluoHuang commented on #1495
@yorhpokie few things i would suggest:
1. you are on a pretty old version `2.117.2`, try the latest version agent `2.131.0`.
2. you need to restart the agent process in order to make those environment take affect.
3. check with your IT department, make sure the network between your build machine and tfs server is reliable, the first network error happened at `2018-03-25 23:59:58Z UTC`, see whether

[2018-04-05 05:59] ShreyasRmsft commented on #1492
`2018-04-05T01:20:05.0231224Z ##[debug]Evaluating condition for step: 'VsTest Platform Installer'
2018-04-05T01:20:05.0231801Z ##[debug]Evaluating: succeeded()
2018-04-05T01:20:05.0232136Z ##[debug]Evaluating succeeded:
2018-04-05T01:20:05.0232471Z ##[debug]=> (Boolean) True
2018-04-05T01:20:05.0232794Z ##[debug]Expanded: True
2018-04-05T01:20:05.0233061Z ##[debug]Result: True
2018-04-05T01:20:05.

[2018-04-05 06:05] ShreyasRmsft commented on #1492
@bryanmacfarlane Also the execution stops at various points before ever coming to our task code. Each time the last line in the logs is different (Indicating that it's not failing at a particular point in the task or something)

https://microsoft.visualstudio.com/Universal%20Store/_build/index?buildId=8859794&_a=summary

2018-04-03T19:56:07.6174873Z ##[debug]Evaluating condition for step: 'VsTest

[2018-04-05 06:05] ShreyasRmsft commented on #1492
https://microsoft.visualstudio.com/Universal%20Store/_build/index?buildId=8858765&_a=summary

2018-04-03T19:17:24.7612947Z ##[debug]Evaluating condition for step: 'VsTest Platform Installer'
2018-04-03T19:17:24.7613692Z ##[debug]Evaluating: succeeded()
2018-04-03T19:17:24.7613915Z ##[debug]Evaluating succeeded:
2018-04-03T19:17:24.7614276Z ##[debug]=> (Boolean) True
2018-04-03T19:17:24.7614572Z ##

[2018-04-05 06:06] ShreyasRmsft commented on #1492
https://microsoft.visualstudio.com/Universal%20Store/_build/index?buildId=8858417&_a=summary

2018-04-03T19:14:28.0662311Z ##[debug]Evaluating condition for step: 'VsTest Platform Installer'
2018-04-03T19:14:28.0664021Z ##[debug]Evaluating: succeeded()
2018-04-03T19:14:28.0664218Z ##[debug]Evaluating succeeded:
2018-04-03T19:14:28.0664566Z ##[debug]=> (Boolean) True
2018-04-03T19:14:28.0664889Z ##

[2018-04-05 06:08] ShreyasRmsft commented on #1492
And although this is happening intermittently it has been recurring since yesterday.

Below are the list of builds where this occurred:

https://microsoft.visualstudio.com/Universal%20Store/_build/index?buildId=8895604&_a=summary
https://microsoft.visualstudio.com/Universal%20Store/_build/index?buildId=8895604&_a=summary

[2018-04-05 08:20] bryanmacfarlane commented on #1492
The agent ran the task.  Your task script ran for 46 seconds and returned 0

[2018-04-05 01:20:05Z INFO ProcessInvoker] Starting process:
[2018-04-05 01:20:05Z INFO ProcessInvoker]   File name: 'C:\Agent\externals\node\bin\node.exe'
[2018-04-05 01:20:05Z INFO ProcessInvoker]   Arguments: '"E:\work\_tasks\VisualStudioTestPlatformInstaller_2c65196a-54fd-4a02-9be8-d9d1837b7111\1.0.9\vstestplatformtoo

[2018-04-05 08:29] bryanmacfarlane commented on #1492
The task does produce logs.  This is from the top of your task loading the task lib and tool-lib.  That's actually output from your task script.

2018-04-05T01:20:19.8026442Z ##[debug]loading inputs and endpoints
2018-04-05T01:20:19.8044074Z ##[debug]loading ENDPOINT_AUTH_PARAMETER_SYSTEMVSSCONNECTION_ACCESSTOKEN
2018-04-05T01:20:20.1017015Z ##[debug]loading ENDPOINT_AUTH_SCHEME_SYSTEMVSSCONNECTIO

[2018-04-05 08:31] ShreyasRmsft commented on #1492
@bryanmacfarlane could it be the telemetry call?

[2018-04-05 08:37] bryanmacfarlane commented on #1492
It's something between the libs loading and that first logging line.  I would suggest some additional logging / debug before anything runs.  The telemetry call is a server call before any logging ...  although in a try / catch, something to look at.

[2018-04-05 08:39] bryanmacfarlane commented on #1492
@TingluoHuang can have another look as well.  @ericsciple and I will look at task to see if something jumps out at us.

[2018-04-05 08:41] bryanmacfarlane commented on #1492
You also call this between libs loading and your first log line.  Not sure what it does.

[code]

[2018-04-05 09:05] ShreyasRmsft commented on #1492
@bryanmacfarlane performance-now is a profiling library. What i'm not able to wrap my head around is why the rest of the code doesn't execute.

I'm no expert on node or js but these are my assumptions (please correct me if I am wrong):
The things that can go wrong are that any of the calls I am making can

1.  End up taking time - in which case it should end up running till the build timeout occur

[2018-04-05 09:08] ShreyasRmsft commented on #1492
@bryanmacfarlane also there have been instances where the task exited while still loading the resources.json of the task-lib or task-tool-lib and this definitely occurs before
const executionStartTime = perf(); this every executes
as in [this case ](https://microsoft.visualstudio.com/Universal%20Store/_build/index?buildId=8859794&_a=summary) where I don't see the following line
2018-04-05T08:17:12

[2018-04-05 09:33] bryanmacfarlane commented on #1492
Closing off this discussion.  The agent did the right thing.  There should be a side investigation where and why it failed to run once it got in your task code.

[2018-04-05 18:13] yorhpokie commented on #1495
@TingluoHuang Thank you for the suggestion.
When I run "Update All Agents", the agents only update to 2.122.1, not 2.131.0.  Do you know why?  Do we have to update to 2.131.0 manually?

I will check with my IT department.  However, we run 8 agents per VM, and we have 20+ VMs, but only a few agents show this error randomly.  The other agents seem to connect to the TFS server fine.

[2018-04-07 17:52] icehowler commented on #1481
I am also facing the same issue on Debian 9.4

[2018-04-09 04:04] TingluoHuang commented on #1481
@bryanmacfarlane I can't remember why we don't allow run the agent as root in Linux/Mac, do you remember the reason?

[2018-04-09 04:06] TingluoHuang commented on #1043
The fix has been deployed, I will close the issue, please reopen if still hitting the problem.

[2018-04-09 04:06] #1043 closed

[2018-04-09 04:17] TingluoHuang commented on #901
@RangerDjanger I am not able to repro the issue you hit, i modify my `.agent` file before i run `./config.cmd remove`, change `serverUrl` in `.agent` to point a nonexist location, `./config.cmd remove` is still able to remove the windows service first for me.

[2018-04-09 04:17] #901 closed

[2018-04-09 04:27] TingluoHuang commented on #1345
@raghusrikanth are you still hitting this issue? I am going to close the issue for now, please reopen iff needed.

[2018-04-09 04:27] #1345 closed

[2018-04-09 04:28] TingluoHuang commented on #1267
I am going to close the issue for now, please reopen if needed.

[2018-04-09 04:28] #1267 closed

[2018-04-09 04:29] TingluoHuang commented on #1348
@vvikram05 are you still hitting this issue? I am going to close the issue for now, please reopen if needed.

[2018-04-09 04:29] #1348 closed

[2018-04-09 04:31] TingluoHuang commented on #1376
@vimudda are you still hitting this issue? I am going to close the issue for now, please reopen if needed.

[2018-04-09 04:31] #1376 closed

[2018-04-09 04:33] TingluoHuang commented on #1409
close the issue as a newer version agent is in release process.

[2018-04-09 04:33] #1409 closed

[2018-04-09 04:39] TingluoHuang commented on #1397
@gravufo thanks, i have updated the doc with your information.

[2018-04-09 04:39] #1397 closed

[2018-04-09 04:41] TingluoHuang commented on #1434
@redshiftz I don't think release UI ever render those information.
@GitHubSriramB FYI,

[2018-04-09 04:44] TingluoHuang commented on #1454
close this issue as we work through the problem on email.

[2018-04-09 04:44] #1454 closed

[2018-04-09 04:53] TingluoHuang commented on #1494
@chshrikh for Azure ARM extension question.

[2018-04-09 08:59] GitHubSriramB commented on #1434
@redshiftz - Release never supported timeline tab

[2018-04-09 15:03] cschuff commented on #1409
@TingluoHuang

Great! Thanks for your efforts.

What exactly does this mean?
"v2.133.0 [DO NOT USE. Pending for VSTS M133]"
When will the official release take place?

I already started using it and it works just fine for me. And it's damn easy to add env vars now 😄

[2018-04-09 17:04] iyerusad opened #1496 "OutputVariables not present in next phase"
VSTS, hosted linux agent.

Attempting to use [Output Variables](https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/outputvariable.md) feature. I understand its in preview, was wondering if the lack of persistence through phases is current state (documentation unclear).

## What's not working?

**AgentPhase1,Task 1:**
`Write-Host "##vso[task.setvariable variable=foo;isSecret=false;isO

[2018-04-09 17:10] bryanmacfarlane commented on #1496
It works in yaml (and therefore the agent): https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-phases.md#output-variables

There's an experience missing in the designer (phase level variables).

[2018-04-09 17:10] #1496 closed

[2018-04-09 17:16] bryanmacfarlane commented on #1496
I'm following up on the designer.  A developer community issue might be better for the service side designer issue.  Will update

[2018-04-09 17:48] bryanmacfarlane commented on #1496
Followed up with designer team - it's on the backlog but at least a couple sprints out.  use yaml

[2018-04-10 17:42] yorhpokie commented on #1495
@TingluoHuang we're still seeing this issue after upgrading the agents to 2.131.0.  I have attached a new log file for you.  This is causing our submit builds to fail and thus preventing new code from going into the master branch.  We did not experience this issue in our old XAML builds.  Please make this a high priority.
[Agent_20180407-005254-utc.log](https://github.com/Microsoft/vsts-agent/file

[2018-04-11 07:28] joaomoreno commented on #571
Let's close this.

[2018-04-11 07:28] #571 closed

[2018-04-11 13:37] ericbrunner opened #1497 "VstsAgentWebProxy No proxy setting found."
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 2.131.0

OS of the machine running the agent? OSX 10.12.6 (16G1114)

## VSTS Type and Version
VisualStudio.com or On-Prem TFS? VisualStudio.com

If On-Prem TFS, which release? No

If VisualStudio.com, what is your account na

[2018-04-11 13:59] ericbrunner commented on #1497
SOLUTION
[https://github.com/Microsoft/vsts-agent/blob/master/docs/start/proxyconfig.md](https://github.com/Microsoft/vsts-agent/blob/master/docs/start/proxyconfig.md)

[2018-04-11 13:59] #1497 closed

[2018-04-11 16:25] jrr opened #1498 "Document yaml build interaction with task groups"
I can't seem to find any documentation on how _yaml builds_ interact with _task groups_.

Can yaml builds reference existing task groups? Can task groups exist as .yaml files?

Are there other mechanisms for sharing code between multiple yaml definitions?

I'm excited to use yaml, but I'd like to be able to learn a little more about it before turning on the preview feature and diving in.

Here's w

[2018-04-11 16:39] ericsciple commented on #1498
Template files are the reuse mechanism in a yaml definition: https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-templates.md

[2018-04-11 16:56] jrr commented on #1498
Oh, cool, this is new. Does it exist today in the preview? Will it be available in the version of yaml builds that graduates from preview later this quarter? (is that's what meant by "coming in April"?)

Maybe a better direction to take this issue would be a migration guide.

[2018-04-11 17:17] ericsciple commented on #1498
It's rolling out with the current sprint's payload. It will finish rolling out over the next few weeks.

[2018-04-11 17:29] ericsciple commented on #1498
For migration, it doesn't look like the editor in a designer-based build definition supports task groups when clicking the "View YAML" link. I don't know offhand where that feature is on the backlog. A workaround, other than by hand, would be to inspect the task group JSON and convert it to YAML. I think the structure would be very similar. You can hit the URL https://ACCOUNT.visualstudio.com/TEAM

[2018-04-11 17:52] abhishkk commented on #1482
@Virenta Multiple agents can be configured with multiple users. But autologon being a machine wide setting, can be applied to a single user only. This is the reason warning is shown while configuring multiple agents.

So, the behavior of bringing online only one agent is as designed.

[2018-04-11 22:31] petekapakos commented on #1349
We are experiencing the same issue.  We are using TFS 2017 On Premise Update 3.0
I also found that this bug was identified in VSTS here
https://developercommunity.visualstudio.com/content/problem/201376/build-definition-queue-time-variables-not-applying.html

A workaround is to keep updating the value in the build template and saving every time you want to build from a different branch.  Obviously

[2018-04-11 23:42] bryanmacfarlane commented on #1349
@yaananth - please update the dev community issue since this is a server side issue.  Closing the agent issue since it’s not an agent issue

[2018-04-11 23:42] #1349 closed

[2018-04-12 13:25] gdodd1977 opened #1500 "TF400813: Resource not available for anonymous access when creating a build agent."
I'm running .\config.cmd to create a build agent on my build server, but I'm getting TFS400813 error.  See attached screenshot of the PowerShell command and full error message.

I'm on Windows Server 2016. I'm logged into the server as the user whos PAT I'm using to create the build agent.

This is a new server, but on our previous build server I was able to do this with this same PAT and user wit

[2018-04-12 13:41] abhishkk commented on #1482
@Virenta Sorry, but its not possible to enable autologon feature for multiple agents even if using different users/accounts.

[2018-04-12 14:02] joaomoreno opened #1501 "Support matrix conditions"
We have setup a build in VS Code which takes advantage of a build matrix to build for two different platforms. We also use the `conditions` directive to conditionally build such a phase.

https://github.com/Microsoft/vscode/blob/master/build/tfs/product-build.yml

[code]

Is it possible to support conditions per matrix combination? The current condition checks `VSCODE_BUILD_WIN32` for the `true` v

[2018-04-12 14:06] TingluoHuang commented on #1500
@gdodd1977 does your PAT expired? the default is valid for 90 days. try create a new one.

[2018-04-12 14:40] gdodd1977 commented on #1500
I'm using VSTS.

[2018-04-12 14:43] gdodd1977 commented on #1500
SSI_TFS_Build

[2018-04-12 14:46] gdodd1977 commented on #1500
Sorry. Try https://app.vsaex.visualstudio.com

[2018-04-12 14:49] TingluoHuang commented on #1500
@gdodd1977 not the `app.vsaex` service url, the real account url, the url that has your git repository.

[2018-04-12 14:56] TingluoHuang commented on #1500
@gdodd1977 can you share your agent config log? it's under `_diag` folder under agent root.

[2018-04-12 15:07] gdodd1977 commented on #1500
[Agent_Log.txt](https://github.com/Microsoft/vsts-agent/files/1903742/Agent_Log.txt)

[2018-04-12 15:16] TingluoHuang commented on #1500
@gdodd1977 are you able to use that PAT to fetch git repository?
i am not able to find any detail trace indicate what's wrong with your PAT, the service just decide return 401 when you make request.

[2018-04-12 15:27] ericsciple commented on #1501
For your specific scenario, since you only have two values in the matrix, a workaround would be to specify two phases instead.

We are in the process of rolling out a new feature, where sections of your process can pull in reusable template files. Here is a real world [example](https://github.com/Microsoft/vsts-tasks/pull/6951/files). The docs for the feature are [here](https://github.com/Microsof

[2018-04-12 16:27] gdodd1977 commented on #1500
I don't have git on my build server.

Since it's giving 401, it seems to be indicating that it can't authenticate the user from the build server. Is there some command in Powershell to run to get that? Or is it something that needs to be changed directly on the server?

[2018-04-12 16:43] TingluoHuang commented on #1500
@gdodd1977 make sure the PAT you generate is for the right account.
![image](https://user-images.githubusercontent.com/1750815/38691532-1a7cbdb6-3e4f-11e8-8c80-d16e6871c63a.png)

[2018-04-12 19:14] gdodd1977 commented on #1500
I figured out the issue. The place that was storing my PATs was capitalizing letters, thus messing up the PAT.

Thanks for your time.

[2018-04-12 19:14] #1500 closed

[2018-04-12 19:16] TingluoHuang commented on #1500
@gdodd1977 how did you get into this situation? the web UI should shows the PAT in lowercase.

[2018-04-12 19:29] gdodd1977 commented on #1500
Because the app that I store the PAT in for reference was capitalizing them when I pasted them in for some reason.

[2018-04-13 05:51] navin22 opened #1502 "Exception while writing warnings Collection was modified; enumeration operation may not execute."
## Have you tried trouble shooting?
Getting the error intermittently when writing the warning in parallel threads from PublishTestResults task.
It should have been any task. Thinking writing in parallel is causing this issue.

Using `IExecutionContext` to write the warning, like [here](https://github.com/Microsoft/vsts-agent/blob/master/src/Agent.Worker/TestResults/TestRunPublisher.cs#L278).

Belo

[2018-04-13 07:24] joaomoreno commented on #1501
Templates look great. Any set date for this to roll out in visualstudio.com?

[2018-04-13 07:24] #1501 closed

[2018-04-13 09:14] Ghkuijer opened #1503 "System.Net.Http.WinHttpException: A security error occurred on unattended config"
## Have you tried trouble shooting? Yes
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent?
I tried multiple versions. The log that is supplied here is from version 2.122.1.
I also tried 1.125.1 specifying the --sslskipcertvalidation but this gave the same results.

OS of the machine running the agent? windowss

[2018-04-13 09:24] vigneshmsft opened #1504 "Variable substitution not working for nested JSON tokens"
I have the below JSON schema in my appsettings.json
![image](https://user-images.githubusercontent.com/10269434/38724140-2f4ef5cc-3efb-11e8-89f2-43e1670d5ca9.png)

and the below variable in my release variable set in VSTS

![image](https://user-images.githubusercontent.com/10269434/38724229-7a32d612-3efb-11e8-8f1d-a1b921cd6fbc.png)

If you are unable to view the image, I have values set for
Api.In

[2018-04-13 09:46] thomasdgx opened #1505 "Support for Reboot scenarios in Release Management"
## Workflow

During a release you come to the point that a reboot is required. Some usual workflow:
1. Install MSI
2. Reboot
3. Run Integration Tests

## Current solution

Currently we make use of agent phases but this is not reliable.
1. We execute the installation and the reboot on the target machine
1.  jump to another agent (phase) and ping the target machine to check if reboot is finished
1.

[2018-04-13 11:38] bryanmacfarlane commented on #1505
Yes.  This is on our backlog.  We may still require multiple phases but the coordination should be built in as you outlined.  It would need to coordinate with the server with a status of rebooting and the next phase would return to that machine.

I'll leave this open and track as an enhancement.

[2018-04-13 11:41] bryanmacfarlane commented on #1504
Please create an issue in vsts-tasks repo.  the agent is just a task runner ...

[2018-04-13 11:41] #1504 closed

[2018-04-13 14:35] bergmeister commented on #708
@ericsciple This feature is really needed. As a user who wants to run the agent also on a cheap azure vm on the d drive, I do not want to add cleanup steps to all my builds just because of that. This needs to be a configuration of the agent itself.

[2018-04-13 14:45] bergmeister opened #1506 "Working directory needs more efficient re-use or cleanup"
## Agent Version and Platform
- 2.131.0
- Windows

## VSTS Type and Version
VSTS but agent is on-premise

## What's not working?

We created new agent machines in Azure. For fast builds, the working directory is on the D drive, which is only around 30GB big.
We have a big monolithic repo with multiple build definitions and it seems that the agent keeps multiple checkouts on disk when running diffe

[2018-04-13 21:34] TingluoHuang commented on #1503
@Ghkuijer it doesn't make any sense to me, `--unattended` will only stop `config.cmd` from prompting input, can you share more detail about how did you configure the agent interactively with Docker and
 make it working?

[2018-04-13 21:35] TingluoHuang commented on #1506
@bergmeister just let you know we do have a feature in our backlog to share `.git` folder across definitions.

[2018-04-13 21:51] bergmeister commented on #1506
@TingluoHuang Thanks for clarification. What is the timeline for it? It would be great to have public tracking for that. And why does the agent create a separate folder foreach build definition, even if it is from the same repo? From my point of view, all one needs is 1 folder per git remote for all build definitions. Would you accept a PR for that (or is there not sufficient source in this repo?)

[2018-04-14 08:44] Ghkuijer commented on #1503
@TingluoHuang I fully understand that it doesn't make any sense to you I have the same thing.

For interactively configuring the agent and for unattended I both go the same way to login to the container:
`docker run -it --entrypoint cmd vsts-agent-base powershell.exe` (the reseting of the entrypoint is just so my specified entrypoint won't run out of itself)

Then in the container for interactive

[2018-04-14 20:00] ericsciple commented on #1506
@bergmeister Would a shared .git folder help in your case? The way we are thinking about the feature, each definition would still get it's own build directory for checkout and other folders.

Also have you considered the shallow fetch option?

How many build definitions do you have?

[2018-04-14 21:37] ericsciple commented on #1506
@bryanmacfarlane it sounds like we may want to consider sharing the checkout folder too, or the entire build directory. Sharing the entire build directory introduces more challenges for multi-checkout, so I would rather not go that far. Note the cloud build scenario is also the entire build directory, although I never got an answer whether they _need_ to share the entire build directory, or whethe

[2018-04-14 21:38] ericsciple commented on #1506
@bergmeister how many megabytes are all of the checked-out files? (exclude the .git folder from the calculation)

[2018-04-14 22:01] bergmeister commented on #1506
I would need to check when I am back in the office but a bit more than 1GB. But this issue is not about how big the repo is or how many build definitions I use, it is about the agent having multiple clones of the same repo for which I do not see a reason why that should be. Also there is not a built in setting to do a cleanup of the likes of `git clean -dfx` after each build, which is not a proble

[2018-04-15 15:09] ericsciple commented on #1506
@bergmeister I'm also curious how big the .git folder is. I do understand, ideally you want to reuse the same build directory across multiple definitions. Simply sharing the .git folder (the cloned repo) gets a lot of customers a long way. Sharing the entire build directory would need to be opt-in or use a tag to control which definitions shared the same folder or something. It would break compat

[2018-04-15 22:06] bergmeister commented on #1506
@ericsciple I do not see how sharing the same folder is breaking back-compat:
- the build agent defines source, output paths, etc. as variables and people should use those. The source path variable would simply point to the new, central place
- if someone used a relative path beween source and output path (which I think should not be supported anyway since the build variables should be used for th

[2018-04-16 08:26] alexdrl commented on #1506
We're having the same problem with our repository. The code is in a Git repository, which has a size of 100 MB (including .git folder, which is 45 MB), the problem we encounter is that we have a lot (almost 50) builds that point to the same repository, which makes each agent have 5 GB only of source code, this multiplied by 8 agents in one machine, is 40 GB duplicated. We would be happy if the age

[2018-04-16 08:48] xenalite commented on #1506
We have the same issue in my company. We use private Azure VMs as build servers and many of them have to be sized up as bigger Dv2 series rather than BMS, because they require 100GB+ temporary drives for work directories. Clean-up steps are well and good, but seem like workarounds for agent inefficiency.
When I look at agent's work folder, it usually contains ~15 folders with the same content, eat

[2018-04-16 11:37] anonymmynona opened #1509 "Variable Build.SourceBranchName is empty with TFS-RestAPI"
## Agent Version and Platform
Agent version: 2.122.2
OS: Windows

## VSTS Type and Version
On-premise TFS 2018 Update 1

## What's not working?
If you queue a git build with the TFS-RestAPI via the build id, the variable $(Build.SourceBranchName) is empty. If you queue the build with web access, it works fine.

[2018-04-16 16:42] TingluoHuang commented on #1509
@anonymmynona i would suggest you to report this problem to [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html), since it sounds like a problem with the server. $(Build.SourceBranchName) is a variable provided by the VSTS Server.

[2018-04-16 21:04] jsheetzati commented on #1506
Also running into similar issues with a 1GB legacy git repo + multiple build definitions against the same repo.

[2018-04-16 22:06] samedder commented on #1481
Pinging @bryanmacfarlane

[2018-04-16 23:16] bryanmacfarlane commented on #1481
It's a bit fuzzy but I remember it had something to do with running as root at config time would lead to all the files being owned by 0 then when configured as a service to run as an account (current logged on account) there were issues.  So there was alignment - you configure as accountX, run as a service as accountX.

But perhaps now that the split has occured in #277 it's no longer required.

@

[2018-04-16 23:25] samedder commented on #1481
@bryanmacfarlane

I tried it E2E but it seems to fail somewhere prior to launching the agent. I have to look more into the logs, seems like `node` was crashing somewhere. My artifact is designed to run as a service. I think the issue was that `svc.sh` wasn't getting generated correctly, the script then tried launching the agent as uid `100` and crashed.

[2018-04-16 23:36] bryanmacfarlane commented on #1481
Cool.  We can take up looking at supporting it.  In the meantime, if you can send _diag logs to @TingluoHuang , we can narrow down exactly where it's failing.

Your description of config as root and then running the svc as an account (100) sounds like the issue we hit.

I'll touch base with folks soon. Is there any option to run as an account?

[2018-04-16 23:49] samedder commented on #1481
I would like to avoid creating a user as part of the setup process. Considering that the build agent should run as root, I'd like to be able to run everything (config + agent) as root.

I have a project I need to finish first but I'll send logs shortly.

[2018-04-17 00:37] DHowett-MSFT commented on #1294
Has there been any movement on this?

[2018-04-17 06:54] anonymmynona commented on #1509
Okay I'll try. Thanks you.

[2018-04-17 06:54] #1509 closed

[2018-04-17 07:27] Ghkuijer commented on #1503
@TingluoHuang I am very much ashamed... I found out the reason it wasn't working.
Seems that for interactively I was copying the url correctly and for unattended I specified the url wrongly.
Our production and test instance of TFS run on tfs and tfstest.eu.***.com but it seems they also run on different port numbers and that was something I missed.
With the correct url everything works like a char

[2018-04-17 07:27] #1503 closed

[2018-04-17 17:29] japj commented on #1495
Hello, just to add to this. We have had similar “connection” issues in the past, which for us were in the end mostly that the agent could not get enough resources due to the load generated by the build. Perhaps that is also occurring for you?

If I may suggest to check some things:
Check if your network issues always happen when other builds are running on the same build server/vm host?
Is there a

[2018-04-17 17:37] japj commented on #1493
Having the agent request queue correctly show the version number will greatly help with analyzing and knowing which actual build has run at what time on a certain agent.

After the retention policy has kicked in for a build, the request queue could still have the correct version value even though the build details are gone.

I have wondered about this several times while doing post-mortem build fa

[2018-04-18 01:33] samedder commented on #1481
@TingluoHuang I looked through the logs and the only thing I could find is this warning:

I'm trying to do PAT auth to the VSTS instance, but this seems like the auth is going elsewhere.

[2018-04-18 01:57] samedder commented on #1481
I tried to repro this and got more logs. If I try to install the agent using `./svc.sh install` everything completes without error. If I get the status, it says agent launched:

● vsts.agent.msazure.myagent.service - VSTS Agent (msazure.myagent)
   Loaded: loaded (/etc/systemd/system/vsts.agent.msazure.myagent.service; enabled; vendor preset: enabled)
   Active: active (running) since Tue 2018-04-

[2018-04-18 03:16] TingluoHuang commented on #1481
@samedder `<Buffer 53 79 73 74 65 6d 2e 55 6e 61 75 74 68 6f 72 69 7a 65 64 41 63 63 65 73` ->`System.UnauthorizedAcces`
make sure `root` has all permission to the agent root directory

[2018-04-18 11:28] victorperez2911 opened #1513 "VSTS Build Agent does not work"
Environment
Server - VSTS
Account Name - portalprocfit.visualstudio.com
Agent - Private:
Agent Version - 2.131.0
Running On Windows 10 Pro - 1709
Issue Description
Hello
After removing and reconfiguring my Private Build Agent, it even appears in VSTS as Online and Available, but it does not get build queued to run even if it is the only Agent Available (I deactivated all others to confirm this beh

[2018-04-18 14:37] TingluoHuang commented on #1513
@victorperez2911 sorry for this, we have identify the issue and waiting on the fix to be deployed on the server side. in the mean time, cancel the stuck build, and requeue a new one should work.

[2018-04-18 19:54] samedder commented on #1481
@TingluoHuang I see, you need to explicitly pass the username into the install script, it looks like the agent runs now, but I still see the same `<Buffer` logs in the status output. Is this expected?

   Loaded: loaded (/etc/systemd/system/vsts.agent.msazure.myagent.service; enabl
   Active: active (running) since Wed 2018-04-18 12:51:38 PDT; 1min 29s ago
 Main PID: 853 (runsvc.sh)
   CGroup: /sy

[2018-04-18 19:57] TingluoHuang commented on #1481
@samedder that's the normal STDOUT agent produced.
[code]
->
[code]

[2018-04-18 19:57] samedder commented on #1481
@bryanmacfarlane @TingluoHuang thanks for the help, it sounds like everything works then if we omit the requirement that config is run as non-root. Maybe we should replace that check with a warning: if config run as root, svc must be launched as root.

[2018-04-19 14:51] TingluoHuang commented on #1513
@victorperez2911 the fix has been deployed, and there is no more exception happened on the server side base on our telemetry. I will close the issue for now.
![image](https://user-images.githubusercontent.com/1750815/38999364-a05c6c22-43bf-11e8-9baa-b5882f1e13c1.png)

[2018-04-19 14:51] #1513 closed

[2018-04-19 15:51] victorperez2911 commented on #1513
Hi Ting

Even restarting Agent

Queuing new Builds.

It still did not work out.

Agent Online, in the same Pool, enabled and with the necessary Capabilities.

![image](https://user-images.githubusercontent.com/11770654/39002540-2821b9dc-43cf-11e8-9ce3-507c2d3d617f.png)

Another Agent Online, in the same Pool, disabled and with the necessary Capabilities, the same as the Agent not used.

![image](h

[2018-04-19 15:53] TingluoHuang commented on #1513
@victorperez2911 what about `system capabilities`? any of them missing in the agent enabled?

[2018-04-19 15:59] victorperez2911 commented on #1513
@TingluoHuang

How can I identify the lack of this System Capacity?

Is there any Log I did not notice?

Remembering that this same Host already compiled this Repository before re-installation.

[2018-04-19 16:59] jwittner opened #1518 "Yaml Builds specified for Default queue run in Hosted VS2017"
Are we accepting PRs against the preview docs?

[code]

results in builds running in `Hosted VS2017` while

[code]

runs the builds in `Default`.

[The docs](https://github.com/Microsoft/vsts-agent/blob/a86ddbda8d36d4768b8590a69d465a9808b06adc/docs/preview/yamlgettingstarted-queues.md) refer to the former failing example.

[2018-04-19 22:06] victorperez2911 commented on #1513
@TingluoHuang

The capacity that is missing is visualstudio.

But the agent host has (and always has) Visual Studio 2017 installed.

Due to the issue below, I updated the VIsual Studio, Restart the Agent Service, and the capability was not listed in VSTS.

https://github.com/Microsoft/vsts-agent/issues/1142

I restarted the Host, yet the Capacity was not added to the Agent.

Any more tips?

[2018-04-19 22:11] TingluoHuang commented on #1513
@victorperez2911 can you check your agent folder make sure `vshere.exe` is there.
![image](https://user-images.githubusercontent.com/1750815/39021012-f4a4c346-43fc-11e8-9691-7ca296340a10.png)
![image](https://user-images.githubusercontent.com/1750815/39021017-fc21c89e-43fc-11e8-997c-bd961c5dd93d.png)
![image](https://user-images.githubusercontent.com/1750815/39021023-058f2034-43fd-11e8-95fa-3f6493

[2018-04-20 01:28] victorperez2911 commented on #1513
@TingluoHuang

the vswhere folder is not there.

[2018-04-20 01:29] TingluoHuang commented on #1513
@victorperez2911 where did you get the agent package? can you try download a new one give a try?

[2018-04-20 01:58] victorperez2911 commented on #1513
@TingluoHuang
It worked

I think in the installation, days ago, I closed PowerShell before all the files have been extracted into the Agent folder.

Thank you.

[2018-04-20 01:59] TingluoHuang commented on #1513
Cool, grad you unblock.

[2018-04-20 22:16] michael-baker commented on #1294
Hi

Wonderful work, I will get my team to pickup this branch and see if this works for us. Sorry for the very long delay in getting back to you.

[2018-04-21 13:52] NickMRamirez opened #1520 "Linux agent - unattended install: Dependencies check and systemctl status"
To enable unattended install of the VSTS agent on Linux, e.g. installing as a script into a new VM created in Azure:

### Dependencies check
The Linux agent script checks if .NET Core 2.x is installed, as described here: https://github.com/Microsoft/vsts-agent/blob/master/docs/start/envlinux.md

If they aren't installed, a message is printed telling you to run `sudo ./bin/installdependencies.sh`.

[2018-04-23 00:58] bbusacker opened #1521 "Support for Arm64"
Arm64 support is now available at the tip of  the .Net Core libraries  and I'm seeing some of its support trickling into vsts-agent.  Do you know if building vsts-agent has been tested yet on arm64 systems running ubuntu and whether or not it should work?  If not,  do you know if you plan on supporting this platform in the future? And if you are when that would be.  If not, could you give me some

[2018-04-23 01:57] TingluoHuang commented on #1521
@bbusacker we don't support Linux arm64 yet, and i don't know the timeline to support it.
I made up a user branch which should create the agent package that runnable in linux-arm64.
https://github.com/Microsoft/vsts-agent/tree/users/tihuang/linuxarm64
You can follow the instruction [here](https://github.com/Microsoft/vsts-agent/blob/users/tihuang/linuxarm64/docs/contribute.md) to build the agent p

[2018-04-23 02:01] paul-lucas opened #1522 "VSTS build agent setup failing with timeout while testing connection"
## Agent Version and Platform
Version of your agent? vsts-agent-win-x64-2.131.0

OS of the machine running the agent? Windows Server 2012 R2

## VSTS Type and Version
VisualStudio.com or On-Prem TFS? VSTS

If VisualStudio.com, what is your account name? http://intelia.visualstudio.com

## What's not working?
Downloaded agent, config failing with HTTP timeout error:
- PS C:\agent> .\config.cmd
-
-

[2018-04-23 02:11] TingluoHuang commented on #1522
@paul-lucas do you have anything between your build machine and the internet, proxy/firewall?

[2018-04-23 02:45] paul-lucas commented on #1522
Windows Firewall on the server, now disabled but issue persists. No proxy server that I can see, IE settings don't indicate any proxy, we've got a bit of a non-responsive IT department....

[2018-04-23 02:50] bryanmacfarlane commented on #1522
As a troubleshooting step, have you tried an agent on an azure VM (or outside your network)?  Just to make sure ...

[2018-04-23 02:52] TingluoHuang commented on #1522
@paul-lucas can you try hit that url in IE?
https://intelia.visualstudio.com/_apis/connectionData?connectOptions=1&lastChangeId=-1&lastChangeId64=-1

[2018-04-23 02:54] paul-lucas commented on #1522
Yep that URL in IE on the server returns a JSON message, all looks ok.
@bryanmacfarlane yes I installed an agent for the same pool on my PC at home, all worked ok.

[2018-04-23 02:59] TingluoHuang commented on #1522
@paul-lucas what about `invoke-webrequest` from powershell to that url?
i guess your IT department has some firewall rule base on request's `user-agent`.

[2018-04-23 03:12] paul-lucas commented on #1522
PS C:\agent> invoke-webrequest "https://intelia.visualstudio.com/_apis/connectionData?connectOptions=1&lastChangeId=-1&l
astChangeId64=-1"

StatusCode        : 203
StatusDescription : Non-Authoritative Information
Content           :

                    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

[2018-04-23 03:15] TingluoHuang commented on #1522
@paul-lucas try add `-UserAgent something` when call `invoke-webrequest`

[2018-04-23 03:27] paul-lucas commented on #1522
OK:

PS C:\Windows\system32> Invoke-WebRequest -Uri "https://intelia.visualstudio.com/_apis/connectionData?connectOptions=1&lastChangeId=-1&lastChangeId64=-1" -UserAgent ([Microsoft.PowerShell.Commands.PSUserAgent]::InternetExplorer)

StatusCode        : 203
StatusDescription : Non-Authoritative Information
Content           :

                    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Stric

[2018-04-23 03:30] TingluoHuang commented on #1522
@paul-lucas don't use `IE` as user agent, use some random string, like `TestingUserAgent`

[2018-04-23 03:32] paul-lucas commented on #1522
OK:

PS C:\Windows\system32> Invoke-WebRequest -Uri "https://intelia.visualstudio.com/_apis/connectionData?connectOptions=1&lastChangeId=-1&lastChangeId64=-1" -UserAgent "TestUserAgent"

StatusCode        : 203
StatusDescription : Non-Authoritative Information
Content           :

                    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-s

[2018-04-23 03:40] TingluoHuang commented on #1522
@paul-lucas what about:
$bytes = [System.Text.Encoding]::ASCII.GetBytes("vsts:PASTEYOURPATHERE")
$base64 = [System.Convert]::ToBase64String($bytes)
$basicAuthValue = "Basic $base64"
Invoke-WebRequest  -Uri "https://intelia.visualstudio.com/_apis/connectionData?connectOptions=1&lastChangeId=-1&lastChangeId64=-1" -Headers @{ Authorization = $basicAuthValue } -useragent "vstsagentcore"

[2018-04-23 04:47] paul-lucas commented on #1522
Excuse my ignorance but wasn't too sure what you wanted me to put as 'vsts:PASTEYOURPATHERE', tried it as follows:
PS C:\Windows\system32> $bytes = [System.Text.Encoding]::ASCII.GetBytes("vsts:https://intelia.visualstudio.com")
$base64 = [System.Convert]::ToBase64String($bytes)
$basicAuthValue = "Basic $base64"
Invoke-WebRequest -Uri "https://intelia.visualstudio.com/_apis/connectionData?connectOp

[2018-04-23 04:49] TingluoHuang commented on #1522
@paul-lucas the token you used when you configure the agent.
PS C:\agent> .\config.cmd
Connect:

Enter server URL > https://intelia.visualstudio.com
Enter authentication type (press enter for `PAT`) >
- Enter personal access token > `****************************************************`

[2018-04-23 04:54] paul-lucas commented on #1522
Ah - I'd parsed that as 'PATH' :)

PS C:\Windows\system32> $bytes = [System.Text.Encoding]::ASCII.GetBytes("vsts:**********************************************************")
$base64 = [System.Convert]::ToBase64String($bytes)
$basicAuthValue = "Basic $base64"
Invoke-WebRequest -Uri "https://intelia.visualstudio.com/_apis/connectionData?connectOptions=1&lastChangeId=-1&lastChangeId64=-1" -Headers @{

[2018-04-23 05:29] TingluoHuang commented on #1522
@paul-lucas at the point the only difference between powershell and the agent is PowerShell will following IE proxy setting.
try add `-noproxy` to `Invoke-WebRequest`.
Can you share a screenshot of your IE proxy setting?

[2018-04-23 05:55] paul-lucas commented on #1522
OK with NoProxy:

PS C:\> $bytes = [System.Text.Encoding]::ASCII.GetBytes("vsts:********************"); $base64 = [System.Convert]::ToBase64String
($bytes); $basicAuthValue = "Basic $base64"; Invoke-WebRequest -Uri "https://int
elia.visualstudio.com/_apis/connectionData?connectOptions=1&lastChangeId=-1&last
ChangeId64=-1" -Headers @{ Authorization = $basicAuthValue } -useragent "vstsage
ntcore" -N

[2018-04-23 14:19] TingluoHuang commented on #1522
@paul-lucas ok, this definitely means there is a proxy server in your network that block the traffic, you might want to ask your IT department what's the proxy server url, and configure the agent to use that proxy, [DOC](https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/proxy?view=vsts)

I am not sure how you can find the proxy server without help from IT department, but maybe wor

[2018-04-23 15:20] TingluoHuang commented on #1337
@PhillipLeBlanc for macOS Preview image problem.

[2018-04-23 15:51] TingluoHuang commented on #1522
@paul-lucas or try this one.
https://superuser.com/questions/33588/how-to-view-internet-explorer-auto-detected-proxy-settings

[2018-04-24 00:14] paul-lucas commented on #1522
Righto that did the trick! Managed to get proxy details out of IT, re-ran config with --proxyurl and installed all ok. Thanks very much for your help.

[2018-04-24 00:14] #1522 closed

[2018-04-24 00:36] TingluoHuang commented on #1522
Cool. :)

[2018-04-24 02:59] lijunle commented on #708
I don't understand the reason to reject this feature. A simple search in the Internet will get lots of similar questions/issues. This is a big gap between product feature and user requirements. Why not make an out-of-box option-in feature? Then, users do not need to write various error-prone scripts/tools.

[2018-04-24 05:44] ShreyasRmsft opened #1525 "Agent not pumping all logs to console"
Link to build: https://microsoft.visualstudio.com/Universal%20Store/_build/index?buildId=9259381&_a=summary

Agent Diag Logs:
[Build 9258646_Msn.Web.LifeStyle.Tests.dll_MSN.Service.Web.Prime-Test.UnitTests.1-Phase 1.zip](https://github.com/Microsoft/vsts-agent/files/1941003/Build.9258646_Msn.Web.LifeStyle.Tests.dll_MSN.Service.Web.Prime-Test.UnitTests.1-Phase.1.zip)

Task log:
[7_VsTest Platform I

[2018-04-24 06:07] ShreyasRmsft commented on #1525
List of failures with agent diag logs and logs written to disk and uploaded. All of these failures occurred in the span of the last 12 hours.

https://microsoft.visualstudio.com/Universal%20Store/_build/index?buildId=9259381&_a=summary&tab=summary
https://microsoft.visualstudio.com/Universal%20Store/_build/index?buildId=9260358&_a=summary&tab=summary
https://microsoft.visualstudio.com/Universal%20

[2018-04-24 06:42] TingluoHuang commented on #1525
@ShreyasRmsft looks like the agent didn't get all STDOUT from your task. what's so special to your task that cause redirect STDOUT not working properly?
Can you try write a dotnet console app and call node.exe <your task.js> and redirect stdout?
Run 100 times, see whether the number of lines you redirected are same.

[2018-04-24 06:44] ShreyasRmsft commented on #1525
@TingluoHuang the task simply uses the debug warning functions present in the task-lib and apart from that has console.log for output.

There's nothing special.

[2018-04-24 06:49] ShreyasRmsft commented on #1525
@TingluoHuang this only repros on agents used by the Microsoft UST team. These are slow-ish machines. It has occurred over a 100 times in the last 2-3 weeks.

Also when exactly do you want me to call this console app? At the beginning of the task code?

[2018-04-24 06:51] TingluoHuang commented on #1525
@ShreyasRmsft run the console app in your machine, then ask UST people to run the same console app on their machine.
i want to see whether we can get a repro without the agent.

[2018-04-25 07:02] VasuInukollu opened #1526 "OSX Agent issues in config.sh"
OSX 10.13.4
Agent 2.133.2
TFS 2017 On-Prem
SSL certificate issued using Enterprise CA

The ./config.sh script is failing with the following abscure message.
**An error occurred while sending the request.**

The log file show this message.
**[2018-04-25 06:47:14Z ERR  VisualStudioServices] GET request to https://*******/tfs/_apis/connectionData?connectOptions=1&lastChangeId=-1&lastChangeId64=-1 fai

[2018-04-25 18:12] LukasK07 commented on #759
Hi Bryan,
we are experiencing the same issue.
What we've done:
- Installation of TFS 2018
- Use of TFS with internal IP (fqdn of vm hosting tfs)
- Changing external url to a public fqdn
- using tfs with public fqdn only
- installation/configuring tfs build agent using internal ip (inside our closed environment)
- configuring test build using public url
- run test build on worker -> crashes with er

[2018-04-25 18:43] ggirard07 commented on #1418
Any update on that?
We moved to yaml a few weeks ago but we now need to support 2 build definitions on the same repo

[2018-04-25 20:11] ggirard07 commented on #1307
@bryanmacfarlane or @ericsciple Any github issue or entry on the roadmap we can refer to in order to know when this will be available? Is it plan for GA?

[2018-04-25 20:49] AceHack opened #1528 "yaml trigger batch"
vsts-agent/docs/preview/yamlgettingstarted-triggers.md

how do I turn on batching for yaml triggers?

Thanks.

[2018-04-25 22:15] DSakura1987 opened #1529 "Add Files to Build Log"
## Agent Version and Platform
Version 2.122.1

Windows

## VSTS Type and Version
On-Prem TFS

TFS 2018

## What's not working?
I use Cake and [MSBuild Binary Log](https://github.com/Microsoft/msbuild/wiki/Binary-Log). Currently the agent captures all console output and upload it to the server, but I also want to upload binary logs to the server. Is there a way to add a file to build log?

[JobServ

[2018-04-25 22:44] TingluoHuang commented on #1529
@DSakura1987 try use the `##vso` command from following doc
 https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md

`##vso[task.uploadfile]local file path`

[2018-04-25 22:56] AceHack opened #1530 "Can't specify clean options in yaml"
With checkout I can say clean true but how do I select Sources, all build directories, etc.

Also When I look at VSTS UI Yaml I see resources instead of checkout task?  What's the difference, which should I use?

[2018-04-25 23:47] AceHack opened #1531 "Caanot include * for trigger in yaml build"
I get the following error

(Line: 6, Col: 7, Idx: 105) - (Line: 6, Col: 8, Idx: 106): While scanning an anchor or alias, did not find expected alphabetic or numeric character.

[code]

[2018-04-25 23:53] AceHack commented on #1531
Putting the * in '*' quotes works

[2018-04-25 23:53] #1531 closed

[2018-04-26 00:14] ericsciple commented on #1518
the docs are correct. it's possible something has regressed on the service, although we haven't had any other reports. I'll try to repro

[2018-04-26 03:52] jwittner commented on #1518
I saw somewhere else in the docs, the latter example, and it fixed my problem. I'll have to search my history.

[2018-04-26 16:09] #1529 closed

[2018-04-26 17:50] jwittner commented on #1494
I've got an internal repo providing this API:

[code]
and providing this DSC Resource:

[code]

I'm intending to create a new repo at Microsoft/vstsagent.powershell analogous to my other OSS project [Microsoft/unitysetup.powershell](https://github.com/Microsoft/unitysetup.powershell).

[2018-04-26 20:28] markbjerke commented on #1409
@ericsciple I'm using your solution for Node/NPM access on our locked down Windows Core buildserver(s).  Thanks man.

[2018-04-27 08:35] RoopeshNair commented on #1494
@jwittner. sure, a new repo is a right option. you can publish the DSC resource/module PS gallery

[2018-04-27 15:37] mingalsuo opened #1536 "Segmentation fault ./bin/Agent.Listener configure "$@""
## Have you tried trouble shooting?
Yes, issue is more fundamental though.

## Agent Version and Platform
2.133.3
Debian 9 (Stretch) amd64

## VSTS Type and Version
On-Prem

## What's not working?
config.sh: line 86: 30231 Segmentation fault ./bin/Agent.Listener configure "$@"

## Agent and Worker's Diagnostic Logs
Last line in _diag -log:
VisualStudioServices] Starting operation Location.GetConne

[2018-04-30 16:11] TingluoHuang commented on #1536
Cool, glad you unblock, i will close the issue.

[2018-04-30 16:11] #1536 closed

[2018-05-01 11:08] ivanrusso commented on #1498
We have Agent.Version 1.33.3 but template is not supported yet
![image](https://user-images.githubusercontent.com/2790090/39470938-b9572b9c-4d40-11e8-9f3b-7ea0a705927d.png)

[2018-05-01 17:16] peckhamm opened #1538 "Powershell unattended config for Build Agent install error VS30063"
I have tried running it many different ways including calling a CMD.exe from powershell.  I have checked IIS Manager on the TFS server and both "Team Foundation Server" and "tfs" have anonymous authentication enabled (as I found in another thread on here).

## Agent Version and Platform
2.129.21 & 2.133.3
Windows Server 2008 R2

## VSTS Type and Version
On-Prem TFS 2017.3

## What's not working?
T

[2018-05-01 23:57] BrettJaner opened #1540 "When Clean Sources = True, allow "/diff" argument for "tf vc scorch" command to be optional"
I'm attempting to tune the build definition for my extra large tfvc legacy repository.  After some testing I've found that I can shave 15+ minutes off my build time if I was able to remove the "/diff" argument from the "tf vc scorch" command.  I'm wondering if having finer grain control over the cleaning process, would be entertained as a possible enhancement.  There seems to be other issues still

[2018-05-02 02:42] ericsciple commented on #1540
@daveVSTS  fyi

@BrettJaner it should be possible to uncheck clean and script the `tf scorch` command yourself. If you check Allow scripts access to OAuth token, you can execute the command line yourself and use $(system.accessToken) in place of `***`

Would that work?

[2018-05-02 04:40] BrettJaner commented on #1540
That does usually work and has been what I've done in the past.  Only problem with that solution is when I need to delete a project from source control.  When I delete a project from source control, the build errors on GetSources, saying "Unable to delete directory because directory is not empty."  I'm guessing this is because GetSources runs before the tf scorch and there are left over binaries i

[2018-05-02 16:33] ChristopherHaws commented on #1480
We also have this same issue with our ASP.NET site which we build and publish using VSTS. We tried compressing the files but it made it so that we couldn't select which artifacts to download in our release (our website and our automated UI tests are in the artifacts). We at one point setup multiple artifacts but it became to complicated to follow so we simply stopped using compression. It also mad

[2018-05-02 21:12] gregpakes commented on #1480
@ChristopherHaws - I have this working very well by compressing artifacts separately and publishing them separately.   I can then select which artifacts to download (and decompress) in RM.  This works well and has reduced build/release time by 50%.

[2018-05-02 23:51] mattmazzola opened #1541 "Agents updated to disallow multiline secrets before KeyVault task was updated to set exception variable."
## Agent Version and Platform
2.133.3

**OS of the machine running the agent?**
Linux

## VSTS Type and Version
VisualStudio.com

**If VisualStudio.com, what is your account name?**
http://dialearn.visualstudio.com

## What's not working?
The actual issue with agents and key vault tasks has already been fixed with task 1.0.18, but this is more about asking questions about what I can do as user of

[2018-05-02 23:59] mattmazzola commented on #1541
Also, slightly related question.

The build variable is prefixed with **UNSAFE** (SYSTEM_UNSAFEALLOWMULTILINESECRET) which makes me think there was some security/risk with allowing multi-line secret variable.

If this KeyVault task is setting the build variable to allow this unsafe practice does it stay enabled for the rest of the build or does it only exist for duration of task?

Since I was digg

[2018-05-03 00:03] bryanmacfarlane commented on #1541
Log issue in vsts-tasks repo for azure key vault task

[2018-05-03 00:03] #1541 closed

[2018-05-03 00:47] bryanmacfarlane commented on #1538
you script is trying to register with an empty host name

VS30063: You are not authorized to access http://:8080

I don't believe that's a product issue.

[2018-05-03 00:48] bryanmacfarlane commented on #1528
I think it's pending implementation for preview yaml.  @ericsciple to confirm

[2018-05-03 00:49] bryanmacfarlane commented on #1525
The output is not coming out of the task.  Per the _diag logs, the agent pumps what comes out of the task.  The issue is the task is not writing all of it's output.  And it's only that task.

[2018-05-03 00:49] #1525 closed

[2018-05-03 00:50] bryanmacfarlane commented on #1521
we've talked about it.  marking as enhancement for consideration

[2018-05-03 00:54] bryanmacfarlane commented on #1495
Closing based on @TingluoHuang reference above of VM running out of resources.  The point of the losing a connection message is to inform that the agent machine has gone away for some reason so the behavior is correct.  Let us know if you capture more inof on why the machine became unresponsive.

[2018-05-03 00:54] #1495 closed

[2018-05-03 00:55] #1494 closed

[2018-05-03 00:57] bryanmacfarlane commented on #1474
The agent just calls git.exe so I don't think it's an agent issue.  It looks environmental.

[2018-05-03 00:57] #1474 closed

[2018-05-03 01:25] peckhamm commented on #1538
Hey Bryan, I tried to actually redact the information for security reasons.

The actual line is http://HCS123TFS901:8080/tfs and it's showing
VS30063: You are not authorized to access http://HCS123TFS901:8080.

Sorry for the confusion, I thought I had done a better job of redacting.

[2018-05-03 01:33] TingluoHuang commented on #1538
@peckhamm why you feed in username and password while using `--auth integrated` auth? integrate auth will use the current process run as user's windows credential.

[2018-05-03 01:33] bryanmacfarlane commented on #1538
Ahhh - you may want to replace with {redacted}.  I'll do that now.

[2018-05-03 01:34] bryanmacfarlane commented on #1538
@TingluoHuang comment is correct.  Do not use user and pass if integrated

[2018-05-03 01:37] peckhamm commented on #1538
@TingluoHuang I understand that user / pass issue, I was trying anything to get it to work.  Then I found another article that you had helped solve and it was anonymous authentication but we have that enabled in IIS.

[2018-05-03 01:37] peckhamm commented on #1538
Thank you @bryanmacfarlane.

[2018-05-03 01:39] TingluoHuang commented on #1538
@peckhamm can you share your agent diag log? it's under `_diag` folder in your agent root directory.

[2018-05-03 01:51] peckhamm commented on #1538
Sure, I have 21 of them.  I'm posting the last one in a hope that it helps.  If you need more information please just let me know and I'll get you another.

[AgentLog-001.txt](https://github.com/Microsoft/vsts-agent/files/1969401/AgentLog-001.txt)

[2018-05-03 01:51] bryanmacfarlane commented on #1458
This is osx 10.11.  I believe net core 2.0 only supports osx 10.12 and forward.  Correct @TingluoHuang ?

[2018-05-03 01:53] TingluoHuang commented on #1458
yes, net core 2.0 only support 10.12+

[2018-05-03 01:53] TingluoHuang commented on #1458
you have to use https://github.com/Microsoft/vsts-agent/releases/tag/v2.124.0 for osx 10.11-

[2018-05-03 01:56] TingluoHuang commented on #1538
@peckhamm i am wonder your long on user don't have permission to your TFS. have you try access your TFS server as that user in IE?
also, you are confident about the username/password, you can set --auth "negotiate" instead of `integrate`

[2018-05-03 02:03] JacobHenner opened #1542 "Linux proxy credentials storage"
Reading through the agent's [proxy documentation](https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/proxy?view=vsts#tabpanel_7ufbwiC3ad-2_unix), I've discovered that proxy credentials are now stored after being encrypted, instead of being saved in cleartext environment variables. The implementation for Linux, however, appears to rely on the value of /etc/machine-id to generate the

[2018-05-03 02:09] peckhamm commented on #1538
@TingluoHuang I'll try the "negotiate" instead of integrate tomorrow.  But as for the access question, when I run the command from a command line and answer the questions manually it does work.  That account has elevated access on that server and in TFS.

Would the script I'm attempting to execute help?
Would you like me to run it manually and send you the log from that?

[2018-05-03 02:13] TingluoHuang commented on #1538
@peckhamm Interactive works means when "you" run the config.cmd, you have permission to access your TFS server. However, when your script run, it doesn't run as "you", so it fail to authenticate. how did you run your script? remote powershell? or log on to the box run from powershell.exe?

[2018-05-03 02:26] peckhamm commented on #1538
I hope that seeing the script helps a bit and clarifies what I'm trying to do.  It resides on our TFS server, which is also where our Release Agent is.  Thank you @bryanmacfarlane and @TingluoHuang.  Now this version of the script is designed to run outside of the Release part of TFS so I can get data back on what its doing or not doing.

[2018-05-03 02:30] TingluoHuang commented on #1538
in your script `$session =New-PSSession -Computername $TargetServer`, can you add `-Credential som\PeckhamM` to `New-PSSession`? it will make the session run as `som\PeckhamM`

[2018-05-03 02:32] TingluoHuang commented on #1538
you can also call `whoami` in your powershell script to print out what's the current run as user.

[2018-05-03 02:33] TingluoHuang commented on #1542
7. Accidental disclosure

[2018-05-03 02:43] peckhamm commented on #1538
@TingluoHuang thank you for that suggestion, I ran it with the -Credential part added in.  The first time it kicked me an error about how it was already configured so I went and config removed and ran it again.  VS30063 again.

I hope the logs below might help...
[AgentLog-002a.txt](https://github.com/Microsoft/vsts-agent/files/1969500/AgentLog-002a.txt)
[AgentLog-002b.txt](https://github.com/Micr

[2018-05-03 02:55] TingluoHuang commented on #1538
the config remove succeed in your 002a.txt log file, how did you run it? run as part of the script-tfs-local or running interactively.
can you print out the output from execute `whoami` to show what's the current running user?

[2018-05-03 03:03] peckhamm commented on #1538
I ran remove interactively.

PS D:\TFS_RM_Scripts> .\TFS_BuildAgent_00-Reinstall_Local.ps1
Enter Password for som\PeckhamM: ***********
whoami
som\peckhamm
Connecting to REDACTED.
som\peckhamm
Configure VSBuild3 on REDACTED.

VS30063: You are not authorized to access http://REDACTED:8080.
    + CategoryInfo          : NotSpecified: (VS30063: You ar...ltfspa901:8080.:String) [], RemoteException

[2018-05-03 03:08] TingluoHuang commented on #1538
can you run `whoami` directly from the powershell console? since you are using integrated auth, i would not expect you to get prompt for credential.
is there anyway i can have a skype meeting with you and you can share your screen?

[2018-05-03 14:54] danielepo opened #1543 "Cannot configure an agent on a Windows Server 2012 Standard"
## Agent Version and Platform
tryed both 2.131.0 and 2.133.0

OS of the machine running the agent? OSX/Windows/Linux/...

## VSTS Type and Version
VisualStudio.com

If VisualStudio.com, what is your account name? http://dnlpozzobon.visualstudio.com

## What's not working?
Running the agent configuration on a Windows Server 2012 machine returns an authentication error
![image](https://user-images.g

[2018-05-03 16:06] TingluoHuang commented on #1543
make sure you are suing the right PAT token inside your server 2012 machine.
copy to a notepad in you server 2012 machine before paste to config.cmd and make sure you get the right PAT.

[2018-05-03 20:40] BrettJaner commented on #1540
I moved the `tf vc scorch` script to the end of the build definition and set it to run even if previous task has failed or build was canceled.  I've been running it like this on multiple build definitions for the past couple of days with no issues.  I can now delete whole project directories from source control again.  Thanks @ericsciple!  Closing the issue.

[2018-05-03 20:40] #1540 closed

[2018-05-04 06:56] danielepo commented on #1543
today I tried that without good results. then I did a batch file that called the config setting these parameters
  --url https://dnlpozzobon.visualstudio.com --auth pat --token <<myTocken>>
run it locally and it worked, then moved the batch file to the server and run and still the same error
![vsts-agent-noauth](https://user-images.githubusercontent.com/6214856/39615433-6bcec4b0-4f76-11e8-8a4f-c26

[2018-05-04 14:33] andreinfra opened #1545 "401 Unauthorized Error Consuming vsts Extension with Certificate"
Good morning everyone!

I'm having trouble getting the extension created for the vsts using the certificate generated by the extension.  By the official documentation to which the link refers https://docs.microsoft.com/en-us/vsts/extend/develop/auth?view=vsts the same does not work because the version of the System.IdentityModel.Tokens.Jwt is using version 4.0.2.206221351 and with the advent now t

[2018-05-04 16:27] TingluoHuang commented on #1543
@danielepo
base on the log, it looks like agent is trying to send out request with auth header `Authorization: Basic ((hidden))`, try base64decode the header make sure the PAT is right.
if you verify the PAT is right, you might need to capture raw network trace using something like Wireshark. So we can inspect what package been put on the network.
you can send those trace to me directly instead of

[2018-05-04 18:26] TingluoHuang commented on #1545
@andreinfra i don't think the question you ask is scope to this repository, i would like to suggest you ask the question at https://developercommunity.visualstudio.com/spaces/21/index.html

[2018-05-04 18:26] #1545 closed

[2018-05-07 13:38] JacobHenner commented on #1542
With that in mind, should there be a notice within the documentation that states the _encryption_ is only effective at preventing accidental disclosure, and could be easily reversed by a determined adversary?

Could a privilege de-escalation method be used instead (like how web servers manage SSL keys)? The VSTS agent could be started as a privileged user, read these tokens, and then drop the priv

[2018-05-07 13:39] peckhamm commented on #1538
@TingluoHuang sorry, I got pulled away on something else and am just now getting time to circle back to this.  Yes I am more than open to a skype meeting for you to see it but I have some new information.

First, the way it was running was a powershell script housed on our TFS server where the Release Agent was.  It was calling an invoke command, which started a new session on the TFS Build Server

[2018-05-07 17:02] bryanmacfarlane commented on #1542
The machine-id was to prevent copying the agent and/logs off and being sent around (yes, accidental disclosure).  Same policy with us masking secrets from logs etc...  Getting code running on the box means it's trusted.

Tasks (user code) that runs in the agent is trusted and installed into the account by an admin.  We have discussed the option of allowing running the worker as a different account

[2018-05-07 17:29] JacobHenner commented on #1542
If the primary purpose of the encryption is to prevent accidental disclosure, can the documentation be updated to reflect that the VSTS admins should not rely on the encryption to prevent users of the agent (through VSTS or otherwise) from obtaining the password of the account used to authenticate against the proxy?

[2018-05-07 17:34] bryanmacfarlane commented on #1542
By "users of the agent" do you mean tasks?  Of course the admin setting up the agent has it :)

[2018-05-07 17:36] JacobHenner commented on #1542
Not tasks, steps within a pipeline for a specific build or release. If the user has the ability to modify the build/release definition, the user could obtain the encrypted password value and the machine-id, and then decrypt the password value.

[2018-05-07 17:56] bryanmacfarlane commented on #1542
https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/proxy?view=vsts#tabpanel_7ufbwiC3ad-1_unix

"Agent will expose proxy configuration via environment variables for every task execution"

All steps are tasks even script steps.

We also support envvars so you can store however you deem most secure for your environment and pass via startup.

[2018-05-07 18:00] JacobHenner commented on #1542
On that page:

if VSTS users have access to the credentials, and if non-VSTS users with access to the node running the agent can decrypt the credential, this statement is misleading.

[2018-05-07 19:18] jkleinsc commented on #1521
@TingluoHuang I need an arm64 build agent so I checked out your branch, but it seems like there isn't a built version .net sdk for arm64:
[code]

Any pointers on getting this working?  Is there an alternate download for the SDK?

[2018-05-07 20:01] TingluoHuang commented on #1521
@jkleinsc i tweak the script a little bit, try git pull that branch and try run `dev.sh layout` again.

[2018-05-07 22:39] jwittner commented on #1518
We're continuing to see strangeness around this. Several new builds (using the latter examples above) create definitions that incorrectly build on Hosted VS 2017. We have to go in and modify the queue to Default manually.

[2018-05-07 22:57] jwittner commented on #1518
Is this the best place for this issue? Or is there a better repo I should migrate it to? Starting to seem like a VSTS back end issue with less to do with the vsts-agent.

[2018-05-07 23:46] bryanmacfarlane commented on #1542
will chat with some folks

[2018-05-08 06:59] alexdrl commented on #1506
Any timeline on this? Our agents are getting bigger and bigger with new build definitions, and growth of the repository.

[2018-05-08 07:44] glaenzesch commented on #1506
Hi 👋

we had the same issue and solved this with the "Maintenance" tab of the agent pools.
**Important: This settings is only available at "collection level"**

![image](https://user-images.githubusercontent.com/37839192/39743705-071e5cd6-52a2-11e8-8b9b-888450765534.png)

With this setting the TFS sends a maintenance job to the agent and he will clear up the working folder.

We use Team Foundation

[2018-05-08 07:49] alexdrl commented on #1506
@glaenzesch This is a half solution, as the working directory will get filled with new folders, corresponding to each build definition, as builds get queued...

[2018-05-08 13:09] DerGary opened #1547 "Revision not incrementing if updating build number through build.updatebuildnumber"
## Agent Version and Platform
Version of your agent? 2.131.0

OS of the machine running the agent:
Windows

## VSTS Type and Version
VisualStudio.com

account name:
http://dev-fg.visualstudio.com

## What's not working?
It seems like I'm not the first one to encounter this issue so I cite the original post that was created in vsts-tasks repository: https://github.com/Microsoft/vsts-tasks/issues/32

[2018-05-08 15:39] matthid opened #1548 "Git lfs exit code 2 - on second git lfs fetch"
## Have you tried trouble shooting?

Yes, in fact I found another bug that when you set `GIT_TRACE` globally the agent will crash.

## Agent Version and Platform

Version of your agent: `2.131.0`
Version of git: `2.16.1.windows.4`
Version of git-lfs: `git-lfs/2.3.0 (GitHub; windows amd64; go 1.8.3; git 4dd2bf73`

Running on Windows 7

## VSTS Type and Version

On-Prem TFS 2017.3 (15.117.27414.0)?

[2018-05-08 16:46] TingluoHuang commented on #1548
@matthid looks like the build service identity (the OAuth token's identity) don't have permission on LFS files in your other branch?
Btw, set GIT_Trace shouldn't crash the agent, i thought the agent will remove GIT_Trace env before running any git command.

[2018-05-08 18:05] ericsciple commented on #1518
I think the experience is causing confusion. The queue defined on the definition in the web is the fallback, for any phases in your file that do not specify a queue.

[2018-05-08 21:40] jwittner commented on #1518
I have
[code]
at the very top of the `.vsts-ci.yml` file, when I push that to VSTS it creates a build definition. Builds triggered for that definition are running in `Hosted VS2017`. That's expected behavior?

[2018-05-08 22:10] Ziugy opened #1549 "Yaml Builds missing documentation on how to configure `Batch changes while a build is in progress`"
Hi! I found the Yaml triggers page to change branch filters here: https://github.com/Microsoft/vsts-agent/blob/5be21f6185f2c4340550c04cf0dcf426cd0d3474/docs/preview/yamlgettingstarted-triggers.md

I'm unable to find any information on how to set the batch changes through Yaml. Currently working around this by selecting **Defined here** as the **Settings source** radial option.

[2018-05-08 22:34] ericsciple commented on #1518
That is not expected. I am also not able to reproduce that behavior. Here is what I tried:

1. Create a new repo
2. Create a file `.vsts-ci.yml` with the following content:
[code]
3. Confirmed the `linux` phase is running on Linux and `windows` is running on Windows (output from `pwd` is `/opt/vsts/work/1/s` and output from `cd` is `D:\a\1\s`)

I also tried this:

1. Create a new repo
2. Create a

[2018-05-09 10:35] Larswa opened #1550 "On prem TFS 2017 still pointing at version 2.122.1 Ok to dl latest version?"
Quick question.

Our on prem TFS is pointing at 2.122.1 agent and our infosec department is screaming at us to upgrade the agents GIT to a higher. I'd love to just deploy the latest agent

Is it safe to "just" manually upgrade the agent to the latest version, whenever one comes out, is stuck on TFS 2017?

And why is the on prem version of tfs not pointing to "the latest" version of the agent?

[2018-05-09 10:50] Larswa opened #1551 "CVE-2017-15896 states that node version should be at least 6.12.2"
We have infosec on our back regarding CVE-2017-15896 stating an insecurity in the node version 6.10 that is deployed with the 2.133 version of the agent for windows.

Would it be possible to bump the node version to at least 6.12.2 ?
In the advisories that we receive, this is stated as a "safe" version.

[2018-05-09 11:34] bryanmacfarlane commented on #1550
Yes, we support latest

[2018-05-09 13:12] Larswa commented on #1550
Thanks Bryan

[2018-05-09 13:12] #1550 closed

[2018-05-09 13:35] vpopiol opened #1552 "Error getting sources using git when agent configured to use a proxy"
## Have you tried trouble shooting? Yes
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 2.0.27

OS of the machine running the agent? Windows

## VSTS Type and Version
VisualStudio.com or On-Prem TFS? VisualStudio.com

If On-Prem TFS, which release? 2015 RTM/QU1/QU2/...

If VisualStudio.com, what is your acc

[2018-05-09 16:38] MarkIannucci opened #1553 "Deployment Group Target can't access its own tags via a built in Release Variable"
## Agent Version and Platform
Version of your agent? 2.131.0

OS of the machine running the agent? Windows

## VSTS Type and Version
On-Prem TFS, 2018.2 RC 2

## What would be a good addition to the agent?
It would be very helpful if VSTS offered us the ability to access an Agent's tags via the release variables.  Our particular use case is that we need to create scheduled tasks on a VM.  Our appr

[2018-05-09 16:43] MarkIannucci commented on #1553
We worked around this issue, by creating a build script which writes the targets in a particular deployment group to a JSON file which gets added to the build artifact.  The release then reads that file to know what to do.  PowerShell follows:

[code]

[2018-05-10 11:13] Praveen1im opened #1554 "Capturing Performance counters from Agent machines"
## VSTS Type and Version
VisualStudio.com

If On-Prem TFS, which release? 2015 RTM/QU1/QU2/...

If VisualStudio.com, what is your account name? http://1id.visualstudio.com

## What's not working?
We are using Visual studio 2017 Cloud load test and self provisioned rig for running our load tests and we configured some vm's as agents under the self provisioned rig and running the load test using clo

[2018-05-10 11:41] bryanmacfarlane commented on #1554
This doesn't appear to be a bug or issue in the application in this repo.  You might want to try developercommunity

[2018-05-10 11:41] #1554 closed

[2018-05-10 13:35] vpopiol commented on #1552
No. It does contain underscores.

On Thu, May 10, 2018 at 8:53 AM, Ting <notifications@github.com> wrote:

--
Victor Popiol
(954)881-8919

[2018-05-10 13:50] TingluoHuang commented on #1552
@vpopiol
in the issue you create:
[code]
your proxy username is: `--proxyusername ":proxy_user_name "`
which contains a `:` and a trilling space.

can you share your agent diag log? so we can know what parameter you actually feed in to the process.

[2018-05-10 19:38] TingluoHuang commented on #1548
@matthid sorry for late reply, i was out for conference. do you have lfs object in the branch that `git lfs fetch` not working?
let's say:
1. you queue a build in master branch, and everything works.
2. you queue a build in feature branch, and lfs report error.
3. if you queue a new build to master branch again, does everything still working for master?

[2018-05-10 19:47] matthid commented on #1548
@TingluoHuang Yes this is what we see in our system.

[2018-05-10 19:49] TingluoHuang commented on #1548
@matthid does your other branch has git lfs object at all?

[2018-05-10 19:50] matthid commented on #1548
Just to make it clear: The other way around works as well:

0. Cleanup everything on the agent (ie clear .git directory)
1. you queue a build in feature branch, and everything works.
2. you queue a build in master branch, and lfs report error.
3. if you queue a new build to feature branch again, does everything still working for feature? -> yes

This hopefully clarifies your next question as well

[2018-05-10 19:52] matthid commented on #1548
We basically report this here because we have no more ideas on how we can debug this further than what we have already figured out above.

[2018-05-10 19:55] TingluoHuang commented on #1548
@matthid i understand, it looks weird to me, but i will try to help you out.
https://git-scm.com/book/en/v2/Git-Internals-Environment-Variables

can you set GIT_TRACE=/somepath/log.txt ?

base on the doc, it will print all trace log to a file if the value of that env start with `/` :D

[2018-05-10 20:28] MarkIannucci commented on #1553
@chshrikh , agreed.  Thank you for tagging and taking this on as capacity allows.

[2018-05-10 23:39] jwittner commented on #1518
Your examples show the former documentation, we'll try that out next time and see if it works for us and I'll report back here.

Did you try with the queue labelled as I did, via the `name` sub property?

[2018-05-11 00:10] JakeRadMSFT commented on #1501
FYI I was expecting to be able to do joaomoreno originally suggested.

Are the templates ready?

[2018-05-11 00:40] ericsciple commented on #1518
I have tried that now too.

[2018-05-11 00:44] ericsciple commented on #1501
templates are rolling out with the current deployment. the deployment will resume next week (paused due to build conf) and will take about a week or two to roll out across all scale units

[2018-05-11 06:05] DerGary commented on #1547
Hi moswald,

I don't think it is resetting it, in the screenshot I posted you can see that the currently running build has revision 2 and the last completed build also had revision 2 and changed the build number so it was not reset but just not incremented.

Is there a timeline for this new feature? As a workaround I think we could use the buildid which should be a unique id that gets incremented

[2018-05-11 15:19] moswald commented on #1547
It was just checked into master yesterday. It should be rolling out in the coming weeks, barring any blocking bugs.

[2018-05-11 16:38] mguerrero2 opened #1555 "TF returns error code 100 when getting sources"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)
Yes

## Agent Version and Platform
Version of your agent? 2.102.0/2.100.1/...
2.122.1

OS of the machine running the agent? OSX/Windows/Linux/...
Windows Server 2012 R2

## VSTS Type and Version
VisualStudio.com or On-Prem TFS?
On-Prem

If On-Prem TFS, which release? 2015 RTM/Q

[2018-05-11 16:43] mguerrero2 commented on #1555
Summary of the issue:
1- I've added a new agent in a Windows Server 2012 R2 after upgrading TFS from 2015 to 2017 3.1
2- I did setup using an AD account in the same network of the TFS server
3- The account has full privileges in AD and TFS
4- Agent configured as a service as per Word document, TFS recognized it OK
5- I executed any of the existing build definitions and getting this error.

[2018-05-11 16:45] TingluoHuang commented on #1555
@mguerrero2  i delete the config wold doc you uploaded in your issue, it looks like contains your private information, and i would not recommend you paste that info here.

[2018-05-11 16:46] mguerrero2 commented on #1555
Ok.   Thanks.

Saludos cordiales,

[Descripción: Descripción: cid:image001.jpg@01CD793F.5529B670]

Marcos Guerrero W.
Centro de Excelencia Regional

[logo IM chico]

(569) 93231694

www.inmotion.cl<http://www.inmotion.cl/>

De: Ting [mailto:notifications@github.com]
Enviado el: viernes, 11 de mayo de 2018 13:45
Para: Microsoft/vsts-agent <vsts-agent@noreply.github.com>
CC: Marcos Guerrero Wilson <

[2018-05-11 16:56] TingluoHuang commented on #1555
@GarimaSi for TFVC issue

[2018-05-11 18:30] vpopiol commented on #1552
Hi all,

after troubleshooting with @TingluoHuang, the issue has been solved.

It turns out that the --proxyusername required the domain. I.E. `--proxyusername "mycompany\myusername"`

Thanks so much!

[2018-05-11 18:30] #1552 closed

[2018-05-11 20:17] wsmckenz opened #1556 "Cannot Run Yaml Builds on Private Agent"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent?

2.133.3

OS of the machine running the agent?

Linux

## VSTS Type and Version
VisualStudio.com

If VisualStudio.com, what is your account name? http://chevron.visualstudio.com

## What's not working?
Yaml builds wont use p

[2018-05-11 20:30] wsmckenz commented on #1556
I don't have any agent demands. My yml is really simple to start.

resources:
- repo: self
steps:
- bash: 'env'

[2018-05-11 20:32] TingluoHuang commented on #1556
@wsmckenz can you share an url to the build?

[2018-05-11 20:34] wsmckenz commented on #1556
I dont think you can get to our url, based on required authentication.

[2018-05-11 20:34] wsmckenz commented on #1556
Is there something I can post that would help

[2018-05-11 20:37] TingluoHuang commented on #1556
@wsmckenz i don't need to access the page in your VSTS account, base on the url, i can find the buildid and query backend database to see what might causing this.
i think it's fine to post here. :)

[2018-05-11 20:40] wsmckenz commented on #1556
Build: https://chevron.visualstudio.com/AnsibleRoles/AnsibleRoles%20Team/_build/index?buildId=6068&_a=summary

Definition: https://chevron.visualstudio.com/AnsibleRoles/AnsibleRoles%20Team/_build/index?definitionId=286&_a=completed

[2018-05-11 20:46] wsmckenz commented on #1556
Hmm, I updated to latest, and it looked like it successfully updated all the agents to 2.133.3, but when I look at capabilties, they all say

2.131.0
--

[2018-05-11 20:50] TingluoHuang commented on #1556
can you zip one of the agent's _diag folder from the agent that didn't update successfully?

[2018-05-11 21:01] TingluoHuang commented on #1556
@wsmckenz looks like all agent updates are failed in your account, we need agent diag log from those machine.
you can find them under `_diag` folder of each agent's root directory.
zip it up and send to `tihuang @ microsoft.com`

[2018-05-11 22:16] TingluoHuang commented on #1556
@wsmckenz base on your log, the agent is getting SSL error when try to download agent package from Azure blob storage.

[code]

Can you try hit the endpoint of package download manually using `curl` or `wget` from your box?
`https://vstsagentpackage.azureedge.net/agent/2.133.3/vsts-agent-linux-x64-2.133.3.tar.gz`

I am wonder whether there is some network issue in your environment, like a proxy/fi

[2018-05-11 22:42] wsmckenz commented on #1556
yes, it fails. it is a firewall issue. do you know if we can change the url
the agent uses for download? I could load the files into our on-prem
artifactory and they could pull from there.

On Fri, May 11, 2018 at 5:16 PM, Ting <notifications@github.com> wrote:

[2018-05-11 22:44] TingluoHuang commented on #1556
Sorry you can't, the url is stored at VSTS server side, can your IT department add that url to write list?

[2018-05-11 22:49] wsmckenz commented on #1556
Yes, I can start the work on that. Just takes a week :-)

Are there instructions somewhere to manually upgrade the agent?

Thanks for the help.

BTW, is there any way for me to see in VSTS what agent capabilities are
being requested by a job? when the job is accepted, I can see in the agent
log what version of the agent was requested, but I cant find a way to see
that for a queued job.

On Fri, Ma

[2018-05-11 22:54] TingluoHuang commented on #1556
1. stop the agent service. (svc.sh stop) i can't remember clearly about the args.
2. rename /bin -> /bin.old
3. rename /external ->/external.old
4. copy /bin from https://vstsagentpackage.azureedge.net/agent/2.133.3/vsts-agent-linux-x64-2.133.3.tar.gz
5. copy /external from https://vstsagentpackage.azureedge.net/agent/2.133.3/vsts-agent-linux-x64-2.133.3.tar.gz
6. delete those renamed folder.
7. s

[2018-05-11 23:07] wsmckenz commented on #1556
great, thanks

On Fri, May 11, 2018 at 5:54 PM, Ting <notifications@github.com> wrote:

[2018-05-14 08:49] Davis10733 opened #1557 "Can not run task inside container on hosted agent"
## Agent Version and Platform
Hosted Linux Preview

## VSTS Type and Version
http://kpmg-taiwan-blockchain-lab.visualstudio.com

## What's not working?
I try to run a task inside container. It worked before April. But after that it has broken. The error message is on the following paragraph. It seems like docker version on the hosted agent is not compatible with docker host. Is something has chang

[2018-05-14 09:50] anh-duc-le commented on #1498
@ivanrusso See commit "_Update templates ETA_" 12fffd179e7beb26c7b5d360760c49ddf80c5f2d

[code]

[code]

[2018-05-14 12:54] matthid commented on #1548
@TingluoHuang Ok retrieving the logs now.
Something I noticed in the mean time It's not actually related to switching branches. More generally: It's just that the initial clone+lfs fetch works and as soon as new lfs files arrive it fails. This actually makes a lot more sense.

[2018-05-14 14:07] #1543 closed

[2018-05-14 14:08] jawn commented on #1543
Hey @danielepo, what did you do to solve the issue? We are seeing similar behavior since today.

[2018-05-14 14:14] jawn commented on #1543
Never mind, issue was caused by an expired PAT. I will log a different issue for that.

[2018-05-14 14:18] danielepo commented on #1543
It looks like our proxy is removing the auth key from the requests originating from the server. I haven't managed to configure the agent yet (have the IT team working on this), but since it looks like it's on our part, I thought I should close the issue

[2018-05-14 14:19] jawn opened #1559 "Improve error message when PAT has expired"
## Have you tried trouble shooting?
Yes

## Agent Version and Platform
Version of your agent?

v2.131 and v2.133.3

OS of the machine running the agent? Windows

## VSTS Type and Version
VSTS (VisualStudio.com)

## What's not working?

### Steps

- Run the agent configuration on Windows,
- Use PAT authentication.
- Enter an **expired** PAT token.

Expected result:
Error message is displayed saying

[2018-05-14 15:52] TingluoHuang commented on #1559
@jawn thanks for your suggestion, I have talked with our internal team who managed the httpclient we use to wrap information from X-TFS-ServiceError into the 401 exception message.
will reply back when that is done.

[2018-05-14 15:56] TingluoHuang commented on #1556
@wsmckenz i am going to close this issue, since it's a network (firewall) issue within your environment.
please reopen if you need more help.

[2018-05-14 15:56] #1556 closed

[2018-05-14 15:58] TingluoHuang commented on #1556
the full picture:
Run yaml builds require latest version agent.
Customer's agent fail to update due to firewall.

[2018-05-14 16:27] matthid commented on #1548
@TingluoHuang Thanks for the trace idea. We tried several different versions. We have this problem since upgrading TFS from I believe 2017.1.

I think with the trace logs I could figure out the reason. Basically we have a `.lfsconfig` with the following contents:

[code]

With the logs I realized that the difference between the working and non working version was:

broken: `trace git-lfs: run_comm

[2018-05-14 16:52] TingluoHuang commented on #1548
@matthid thank you so much on your detail analyze!
I am still think this is a bug in git-lfs, i would except `git -c http.extraheader lfs fetch` always overwrite whatever in your config file.
I will create an issue in git-lfs and get thought from them.

[2018-05-14 17:17] matthid commented on #1548
@TingluoHuang Ah yes, you are correct. Still it feels a bit strange to use the "old" `.lfsconfig` but I guess that's just how it works.

[2018-05-15 06:04] phil123456 commented on #1481
apparently the script still does that check

[2018-05-15 06:32] matthid commented on #1548
@TingluoHuang Ok we discussed this internally and we need the `.lfsconfig` file because of client side issues. Can you think of any other workaround? The point is it apparently worked before the TFS upgrade (we upgraded the agents at this point) so it worked with an older vsts-agent version?

Should we try to downgrade to old vsts-agent version? Also please feel free to link the lfs-issue (if it i

[2018-05-15 13:07] bryanmacfarlane commented on #1481
@phil123456 - yes it does.  It also isn't true that everything works.  If you config as sudo/root and then run it as a service on osx / ubuntu, then it fails to start because the files are owned by root and the service won't start.

We aren't going to remove the check but I suggested we allow an override envvar ALLOW_RUNASROOT and if you set that we let you through.  Then the folks that want to ru

[2018-05-15 13:45] DavidDeSloovere commented on #1547
Is important where the $(Rev) is placed. It will only increment to make everything before and including the rev unique, not what's behind it.

Xyz_1.0.REV
* Xyz_1.0.1
* Xyz_1.0.2

Xyz_1.0.REV_DATE
* Xyz_1.0.1_20180515
* Xyz_1.0.2_20180515
* Xyz_1.0.3_20180516

Xyz_DATE_1.0.REV
* Xyz_20180515_1.0.1
* Xyz_20180515_1.0.2
* Xyz_20180516_1.0.1

I ended up putting the rev more to the front of the build

[2018-05-15 16:43] matthid commented on #1548
We actually verified that an older version fixes the problem

[2018-05-15 17:16] TingluoHuang commented on #1548
@matthid which version you use?

[2018-05-15 17:17] matthid commented on #1548
Ahhh wait we tested this on a different machine which might have credentials in the credentials manager. This issue is really tricky to track down, sorry

[2018-05-15 17:18] matthid commented on #1548
but this might be our workaround just add it to the credential manager ...

[2018-05-16 14:24] mikaoelitiana opened #1562 "TFS 2015 Client authentication required."
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)
✅
## Agent Version and Platform
V2.133.3

OSX

## VSTS Type and Version
On-Prem TFS

2015

## What's not working?

No build is run successfully, they fail after 4 seconds.

## Agent and Worker's Diagnostic Logs

[code]

[2018-05-16 15:07] TingluoHuang commented on #1557
@Davis10733 thanks for reporting this issue. @thechrisjohnson is going to fix this soon.

[2018-05-16 15:30] mikaoelitiana commented on #1562
Yes, here is my log for agent registration to tfs 2015.

[Agent_20180516-151447-utc.log](https://github.com/Microsoft/vsts-agent/files/2009770/Agent_20180516-151447-utc.log)

[2018-05-16 15:34] TingluoHuang commented on #1562
@mikaoelitiana the log you shared is agent configure log, i need to agent log for your failed build. you can just zip your entire _diag folder and email to me at `tihuang @ microsoft.com`

[2018-05-16 15:35] mikaoelitiana commented on #1562
@TingluoHuang OK I will do that. But I noticed the error is already there when I register the agent and I have the same error when I run a build.

[2018-05-16 16:19] TingluoHuang commented on #1562
@mikaoelitiana check your TFS AT machine's event view, you should be able to find some information tells you why you got a 401
check the following issue as reference #759

[2018-05-16 21:34] TingluoHuang commented on #1555
@mguerrero2 sorry for the delay response, both our TFVC experts are sick out. Were you able to run any TFVC build before upgrade to 2017.3?

[2018-05-16 21:43] mguerrero2 commented on #1555
Yeah.   Before the upgrade we were using the old agent version, however they stop working and we figured out that maybe we need to setup the new agent v2.  We did, and we get this issue after registering the agent in our new TFS 2017 3.1 deployment.

Regards,

[Descripción: Descripción: cid:image001.jpg@01CD793F.5529B670]

Marcos Guerrero W.
Centro de Excelencia Regional

[logo IM chico]

(569) 93

[2018-05-16 21:52] TingluoHuang commented on #1555
@mguerrero2 the old version agent should continue work until TFS2018, what error you get?
if it's demands missing issue, can you temporary disable all step in your definition and just let it run `get sources` step, see whether you also seeing this TFVC issue with old version agent.

[2018-05-16 22:59] mguerrero2 commented on #1555
Hi.     I re-configured the old Service and ran not as Service just to view results and logs…
[cid:image002.jpg@01D3ED47.8E7CF090]
Now the error moves to a permissions.
******************************************************************************
Starting: Get sources
******************************************************************************
Syncing repository: IM-GIT (TFVC)
Microsoft.TeamFou

[2018-05-17 00:04] sakash279 opened #1563 "VSTS Agent routine maintenance to clean downloaded build artifacts as well"
Our build agent disk space is getting filled up pretty quickly, as we need to download build drop files on the machine. It would be great if the routine maintenance provided by VSTS can provide the option to clean up the downloaded build artifact directories as well.

It would be great to expose the directories (either a get/set- command, or in the UI or both) selected for maintenance, so that it

[2018-05-17 00:42] bryanmacfarlane commented on #1563
@TingluoHuang - let's discuss before we implement.  I have some ideas

[2018-05-17 00:45] TingluoHuang commented on #1563
@sakash279 @bryanmacfarlane i thought RM add delete artifact directory as part of pool maintenance job, what's your agent version? make sure your have 2.133.3.

[2018-05-17 03:52] sakash279 commented on #1563
Hi Ting,

This is part of build definition step. I just checked our version on the agent and they seem to be a mix of: 2.133.3 and 2.133.2.

We also have another email thread going on about this discussion with Bryan.

Thanks,
Akash

Sent from my iPhone

[2018-05-17 07:54] Krishnd opened #1564 "Exit code 100 returned from process: file name 'tf', arguments 'workspaces -format:xml "-collection:https://tfs.yourserver.com/tfs/DefaultCollection/" -jwt:*** -noprompt'."
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 2.133.3
OS of the machine running the agent? OSX
## VSTS Type and Version
On-Prem TFS.

If On-Prem TFS, which release? 2017
If VisualStudio.com, what is your account name? http://account.visualstudio.com

## What's not worki

[2018-05-17 08:15] mikaoelitiana commented on #1562
@TingluoHuang I will check this other ticket. I didn't find more information on event viewer but this:
[code]

[2018-05-17 08:18] mikaoelitiana commented on #1562
I found an interesting solution from @slautebach on #759 but I am not sure where to execute this SQL command he is talking about?

[2018-05-17 11:23] SandipKumarKundu opened #1565 "I am using VSTS Agent in server where I want to download build artifacts and VSTS agent services are live in Server.Now when I am deploying builds from VSTS to that agent it's failing at build artifact download step .Error"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 2.102.0/2.100.1/...

OS of the machine running the agent? OSX/Windows/Linux/...

## VSTS Type and Version
VisualStudio.com or On-Prem TFS?

If On-Prem TFS, which release? 2015 RTM/QU1/QU2/...

If VisualStudio.com, what is yo

[2018-05-17 11:24] SandipKumarKundu opened #1566 "I am using VSTS Agent in server where I want to download build artifacts and VSTS agent services are live in Server.Now when I am deploying builds from VSTS to that agent it's failing at build artifact download step .Error #Self signed certificates in chain"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 2.102.0/2.100.1/...

OS of the machine running the agent? OSX/Windows/Linux/...

## VSTS Type and Version
VisualStudio.com or On-Prem TFS?

If On-Prem TFS, which release? 2015 RTM/QU1/QU2/...

If VisualStudio.com, what is yo

[2018-05-17 12:57] bryanmacfarlane commented on #1566
downloading artifacts is a task in the vsts-tasks repo.  Please log an issue there.

[2018-05-17 12:57] #1566 closed

[2018-05-17 13:32] ToMakeSense opened #1567 "VSTS online‘s Hosted Agent sometimes doesn't run even there no queue ahead"
**Queue a new build**
![image](https://user-images.githubusercontent.com/6244148/40180613-d0fbdb2c-5a19-11e8-9690-853eef2de4d0.png)

**The build task rank the first(Red mark)**
![image](https://user-images.githubusercontent.com/6244148/40178908-715a8956-5a15-11e8-9e04-eacaae6399ca.png)

**Do not run for a long time(#3198 is the same situation  as #3202, I canceled it, then #3201 could run successf

[2018-05-17 13:38] bryanmacfarlane commented on #1567
It's blocked waiting on concurrency (purchased concurrency).  At the point you're looking at, no agent has even started up.  It's waiting on the service for purchased concurrency to free up.  The UI does not make that clear and there's an effort underway to fix that and make it more obvious what it's waiting on.

[2018-05-17 13:38] #1567 closed

[2018-05-17 13:40] ToMakeSense commented on #1567
![image](https://user-images.githubusercontent.com/6244148/40181080-d62d31b2-5a1a-11e8-8513-041d65f64f23.png)

[2018-05-17 13:44] bryanmacfarlane commented on #1567
Thanks for adding that error message to the issue.  That particular error is a service side bug that was is race timing issue during cancel.  That's a known issue we're fixing now.  But it's a knock on effect of the cancel after blocking on purchased concurrent jobs.  Neither are agent application bugs (this repo).  If you want you can create a developer community issue and we can track it there a

[2018-05-17 13:50] bryanmacfarlane commented on #1565
dupe of https://github.com/Microsoft/vsts-agent/issues/1566

Please read the guidance in that issue.

[2018-05-17 13:50] #1565 closed

[2018-05-17 22:02] lukka opened #1568 "Environment variable's value passed to spawn processes are truncate at 'equal' character"
## Have you tried trouble shooting?
yes

## Agent Version and Platform
2.126.0

OS of the machine running the agent? OSX/Windows/Linux/...
WIndows 10

## VSTS Type and Version
VSTS

## What's not working?
Environment variables are truncate if the value contains a '=' character.

The bug is clearly at these lines:

[var keyValuePair = envStr.Split('=', 2);](
https://github.com/Microsoft/vsts-agent/

[2018-05-17 22:08] TingluoHuang commented on #1568
@lukka the 2 files your referenced is used by the agent process to read environment variable from given process on the machine, it shouldn't affect how agent spawns child process.
also, since you are in 2.126.0, i don't believe your agent binary has those 2 files.

can you share an example or log about the issue you run into?

[2018-05-17 22:12] lukka commented on #1568
i experienced the problem in a powershell script that runs vstest.console.exe assembly.dll.
In the code of assembly.dll the environment variables are truncate at '='.

I got around it encoding the values of variables as URL, so it is not really important, it might be a bug in vstest.console.exe too.

[2018-05-17 22:12] #1568 closed

[2018-05-18 01:17] TingluoHuang commented on #1564
@Krishnd can you try run `/Users/tfsbuild/myagent/externals/tee/tf workspaces -format:xml "-collection:https://tfs.gmgcolor.com/tfs/DefaultCollection/"` and see what you get?

[2018-05-18 01:41] ToMakeSense commented on #1567
@bryanmacfarlane  sorry, I am doing enterprise development, I can't share you the account information.

[2018-05-18 08:02] Krishnd commented on #1564
I am getting the following error when I run the command locally
An error occurred: Access denied connecting to TFS server https://tfs.myserver.com/ (authenticating with TFS service credentials).
If I remove the switches (-jwt:*** -noprompt) it works fine from the command line.

[2018-05-18 08:19] Krishnd commented on #1564
It works fine from the command line

<?xml version="1.0" encoding="utf-8"?><workspaces>
  <workspace name="CS" owner="e22f4921-76f6-4a92-b8d0-54e55540a6b1" owner-display-name="TFSBUILD" computer="MACDETUSD2" comment="" server="https://tfs.myserver.com/tfs/defaultcollection/">
    <working-folder server-item="$/My-Software/Products/CS/Main" local-item="/Users/Meera/Documents/_s/MyCollection" type="

[2018-05-18 08:28] Krishnd commented on #1564
Thank you so much for your quick response.
It works fine from the command line (I edited the original server names for privacy below)
<?xml version="1.0" encoding="utf-8"?><workspaces>
  <workspace name="CS" owner="e22f4921-76f6-4a92-b8d0-54e55540a6b1" owner-display-name="TFSBUILD" computer="MACDETUSD2" comment="" server="https://tfs.myserver.com/tfs/defaultcollection/">
    <working-folder server

[2018-05-18 08:55] mikaoelitiana commented on #1562
@TingluoHuang I found log entries with my agent in event viewer but they are not error but information like :
[code]
Maybe I am looking in the wronge place? I am in Event Viewer(Local) > Applications and Serivces Logs > Microsoft - Team Foundation Server > Debug

[2018-05-18 20:14] thechrisjohnson commented on #1557
We're currently updating the underlying host os image, and will start rolling this change out in the beginning of next week (May 21st).

[2018-05-18 21:08] mguerrero2 commented on #1555
Hi Ting,

I get the versión 1.9 agent to work again.    There was a missing permission for Collection Valid Users.
However the versión 2.x agent still not working.  Same error.
Please let me know when you have a solution to update to agent v2.x.

Regards,

[Descripción: Descripción: cid:image001.jpg@01CD793F.5529B670]

Marcos Guerrero W.
Centro de Excelencia Regional

[logo IM chico]

(569) 932316

[2018-05-18 21:25] mguerrero2 commented on #1555
Hi Ting.

Unbelievable but true, now the 1.9 agent got the same problem that 2.x agent.   Please help!!

##[section]Starting: Compilación (1.1) Executing the following commandline: D:\Agent\agent\worker\vsoWorker.exe /name:Worker-0e402fe7-d6e9-497e-a924-6cdbb7608b25 /id:0e402fe7-d6e9-497e-a924-6cdbb7608b25 /rootFolder:"D:\Agent" /logger:Forwarding,1.0.0;Verbosity=Diagnostic,Name=Agent71-74c7e125df

[2018-05-18 21:30] TingluoHuang commented on #1555
@mguerrero2 sorry about this issue, sounds like something wrong on the server side, our TFVC expert will back to office next Monday, he can provide better help.

[2018-05-18 21:32] mguerrero2 commented on #1555
Thanks Ting.

I’ll be looking forward for your response.

Saludos cordiales,

[Descripción: Descripción: cid:image001.jpg@01CD793F.5529B670]

Marcos Guerrero W.
Centro de Excelencia Regional

[logo IM chico]

(569) 93231694

www.inmotion.cl<http://www.inmotion.cl/>

De: Ting [mailto:notifications@github.com]
Enviado el: viernes, 18 de mayo de 2018 17:31
Para: Microsoft/vsts-agent <vsts-agent@norep

[2018-05-19 15:49] jessehouwing opened #1569 "Strip or honor ASCII color coding"
## Agent Version and Platform
2.133.3
Windows | Linux

## VSTS Type and Version
VisualStudio.com

If VisualStudio.com, what is your account name? http://psd30.visualstudio.com

## What's not working?
When a commandline tool issues ASCII colour coding information (e.g. `[?25l`) they are shown in the logs and make it harder to read.

[code]
It would be useful to either honor the color coding, someh

[2018-05-19 17:11] bryanmacfarlane commented on #1569
Yeah, this is on our backlog.  labelling as an enhancement.

[2018-05-21 13:03] pratyush-19 commented on #205
Thanks Franc, you saved my day

[2018-05-21 22:43] tylerl0706 commented on #1521
@TingluoHuang I'm hitting this issue:

[code]

on macOS. I'll give it a try on Windows.

[2018-05-21 22:55] tylerl0706 commented on #1521
On Windows it fails before that:

[code]

[2018-05-21 23:04] tylerl0706 commented on #1521
And then on my raspberry pi running Raspbian Stretch:

[code]

[2018-05-22 05:31] paul-green opened #1571 "yaml Pipeline Build - timeoutInMinutes cannot be set with a $(variable)"
## Have you tried trouble shooting?
Yes

## Agent Version and Platform
2.133.3

OS of the machine running the agent? OSX/Windows/Linux/...
Windows

## VSTS Type and Version
VisualStudio.com

If On-Prem TFS, which release? 2015 RTM/QU1/QU2/...

If VisualStudio.com, what is your account name? http://account.visualstudio.com
recreo.visualstudio.com

## What's not working?
Setting the queue timeoutInM

[2018-05-22 11:41] matthid commented on #1548
They apparently already released a version with the fix. We will update our agents and report back.

[2018-05-22 13:28] Blackbaud-TyriekeMorton opened #1572 "Exit Code 100 on Get Sources: 'tf shelve ...' - The option collection is not allowed"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 2.134

OS of the machine running the agent? Windows

## VSTS Type and Version
VisualStudio.com

If VisualStudio.com, what is your account name? https://blackbaud.visualstudio.com

## What's not working?
On the Get Sources st

[2018-05-22 14:11] TingluoHuang commented on #1548
https://github.com/git-lfs/git-lfs/releases/tag/v2.4.1

Thanks!

[2018-05-22 15:28] TingluoHuang commented on #1572
#1573

[2018-05-22 15:38] mguerrero2 commented on #1555
Hi Ting.

Do you have any news on this?

Regards,

[Descripción: Descripción: cid:image001.jpg@01CD793F.5529B670]

Marcos Guerrero W.
Centro de Excelencia Regional

[logo IM chico]

(569) 93231694

www.inmotion.cl<http://www.inmotion.cl/>

De: Ting [mailto:notifications@github.com]
Enviado el: 18 de mayo de 2018 17:31
Para: Microsoft/vsts-agent <vsts-agent@noreply.github.com>
CC: Marcos Guerrero W

[2018-05-22 15:41] Blackbaud-TyriekeMorton commented on #1572
@TingluoHuang thank you! When could we expect these changes to be rolled out / reflected in our following builds?

[2018-05-22 15:44] TingluoHuang commented on #1572
@Blackbaud-TyriekeMorton i am pushing the release right now, for safe deployment i need run basic validation before i push the release out to hosted agent, and the deployment will be rolled ring by ring.
So, ETA 2-3 hours to hit all rings that got affected today.

[2018-05-22 15:45] Krishnd commented on #1564
Any solution updates on this issue?

[2018-05-22 15:50] ericsciple commented on #1571
`$( )` macro syntax isn't currently supported for that field. You can use a pipeline expression in that field, for example `$[ variables['Build.TimeoutMins'] ]`

we have work to do, to clean up consistency here and add a doc that talks about variables/macros/expressions.

[2018-05-22 16:56] WillLennon commented on #1555
It looks like you have a user that owns TFVC workspaces but is no longer recognized by TFS.  You can delete those workspaces to work past this issue.

Please try this to list the workspaces owned by this user:
tf workspaces /owner:bc2f9261-5d34-4b2a-9f35-349e16d5c4d6 /s:<TFS URL>

Then delete those workspaces:
tf workspace /delete <workspaceName>;bc2f9261-5d34-4b2a-9f35-349e16d5c4d6 /s:<TFS URL>

[2018-05-22 17:49] mguerrero2 commented on #1555
Hi.

I tried to execute the command that you sent me but failed expecting a paramater for /S:.
However I tried another way and got the full list of ws of the identity.   Also I was able to find and delete some workspaces in the TFSBUILD1 computer.
Enclosed you’ll find the full log of commands I performed.

The problem continues there giving the exact same msg:
Syncing repository: IM-GIT (TFVC)
Mic

[2018-05-22 19:38] mguerrero2 commented on #1555
I also tried creating a new user but same results…  ☹

Regards,

[Descripción: Descripción: cid:image001.jpg@01CD793F.5529B670]

Marcos Guerrero W.
Centro de Excelencia Regional

[logo IM chico]

(569) 93231694

www.inmotion.cl<http://www.inmotion.cl/>

De: Marcos Guerrero Wilson
Enviado el: 22 de mayo de 2018 13:50
Para: 'Microsoft/vsts-agent' <reply@reply.github.com>; Microsoft/vsts-agent <vsts-

[2018-05-22 20:44] Prashanth-PS opened #1574 "Download Secure File task fail"
The Download Secure file task works fine on the Hosted agent but the same task gets failed on a Private Agent with the below error.
##[error]Error: connect ETIMEDOUT 13.107.6.175:443

Please let us know what feature needs to be enabled/set under the private agent to download the Certificates to a target machine from VSTS Library

[2018-05-22 22:01] TingluoHuang commented on #1574
@Prashanth-PS please log an issue in VSTS-Tasks repository for task related question. :)

[2018-05-22 22:01] #1574 closed

[2018-05-22 22:47] paul-green commented on #1571
Thanks for the tip!

[2018-05-22 22:47] #1571 closed

[2018-05-23 14:35] AceHack opened #1575 "Can yaml templates be reused by other templates?"
If so please update the docs to include a sample.  Thanks.

https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-templates.md

[2018-05-23 14:37] ericsciple commented on #1575
yes

[2018-05-23 14:37] #1575 closed

[2018-05-23 15:23] AceHack opened #1576 "Template parameter can't be used in arguments parameter"
[code]

`${{ parameters.buildConfiguration }}` is not recognized in this context, it tries to use the literal `${{ parameters.buildConfiguration }}` instead of `Release`

[2018-05-23 17:49] thechrisjohnson commented on #1557
The update has been pushed to all rings. Please try your scenario again, and let us know if you see any issues!

[2018-05-23 17:49] #1557 closed

[2018-05-23 19:37] ericsciple commented on #1575
also I agree regarding the docs. I will update the docs.

[2018-05-24 02:32] AceHack commented on #1576
@ericsciple I did almost your workaround but I needed it in multiple steps so I added this pre-step.

[code]

I used powershell and $env:BuildConfiguration to create a lasting variable that works on both linux and windows.  If you know a better cross-platform way to do this, I would really like to see it.

The format command is okay but I'm not thrilled about it.  I don't really see the harm in `$

[2018-05-24 10:47] Claytonator opened #1577 "Error CS2012"
Hi, randomly I get this error when queue the building with /m option

We have a TFS 2017 and privated hosted agents pool. The versión of the hosted agents are  2.122.1

How we can avoid this problema, running the build in multicpu option.

Thanks so much.

Error:

  CSC (0, 0)

CSC(0,0): Error CS2012: Cannot open 'D:\Builds\1\2\s\Units\Utilities\Source\UnitTesting\obj\Debug\Example.Comit.Utilitie

[2018-05-24 14:15] TingluoHuang commented on #1577
@Claytonator i don't think your issue has any thing to do with the build agent, the agent just invoke msbuild.exe with the arguments you provide. From what i can tell, `/m` option in msbuild is a little bit tricky. you might want to ask your question to Msbuild repository. https://github.com/Microsoft/msbuild

[2018-05-24 14:15] #1577 closed

[2018-05-24 15:08] ericsciple commented on #1576
Thanks. This has helped me clarify some of my thoughts.

I need to write a single document that covers the details of template expressions `${{ }}`, runtime expressions `$[ ]`, and macros `$( )`. I think seeing it all explained in one document will highlight shortcomings, and help us define next steps. I don't disagree with your sentiment, about not being thrilled about a format command as the sol

[2018-05-24 15:08] #1576 closed

[2018-05-25 00:32] montebhoover opened #1580 "Enable anchors in YAML builds"
##Agent Version and Platform
Windows | Linux

##VSTS Type and Version
VisualStudio.com

##If VisualStudio.com, what is your account name?
http://msdata.visualstudio.com

##What's not working?
I would love it if I could use anchors in my yml file to enable some code reuse.  For example:
[code]

Thanks!

[2018-05-25 01:00] ericsciple commented on #1580
I agree. It's something we want to enable.

Note templates are currently supported and allow for code reuse.

It's interesting that in your example you used `...` are you suggesting to allow for a separate document where you can define anchors, and then your process document where you can reference the anchors defined in the separate document?

[2018-05-25 01:54] AceHack opened #1581 "_core.yml (Line: 7, Col: 19): A template expression is not allowed in this context"
Please allow template parameters to reference other template parameters, see below.

[code]

[2018-05-25 02:03] ericsciple commented on #1581
This is an interesting problem. By default do you really want to pack all projects?

I'm also curious if you have come across this same limitation for any other scenarios.

[2018-05-25 03:47] AceHack opened #1582 "Cannot call git tag/push in yaml build"
[code]

This command freezes forever no matter what permissions I add.  I'm able to call the same command from the UI build and it works without any issues, this is only a problem in yaml builds.

[2018-05-25 03:50] AceHack commented on #1581
This is a contrived example, what I really want is to be able to reference once earlier parameter in a later parameter.  I do this from time to time in PowerShell scripts.

When you say come across the same limitation for any other scenarios, you run into this limitation whenever you try to access parameter values inside of another parameter.

Thanks.

[2018-05-25 13:56] Krishnd commented on #1564
After changing the user permission, I could access the tfs link from safari. But still the issue from build exists. It works fine manually from the command line. Please help me on this. We need to get it fixed urgently.

[2018-05-25 14:17] TingluoHuang commented on #1582
@AceHack you didn't feed in credential to git, it freezes since it is trying to prompt for credential.

[2018-05-25 14:41] TingluoHuang commented on #1564
@Krishnd you don't need to install TEE-CLC yourself, the agent has a copy of TEE with it under `/Users/tfsbuild/myagent/externals/tee`. I am not expert in TEE, i need to find someone to help you out.

[2018-05-25 14:58] TingluoHuang commented on #1548
close the issue as git-lfs release a newer version with the fix.

[2018-05-25 14:58] #1548 closed

[2018-05-25 15:51] ericsciple commented on #1581
I'm thinking about adding a coalesce function and solving this problem a different way.

[code]

I think this would be a reasonable alternate solution. PowerShell is very expressive. I'm not sure I want to go that far with template parameters. Let me know what you think. I'm also interested in concrete template scenarios.

I'm going to go ahead and close the issue here, since this isn't an open is

[2018-05-25 15:51] #1581 closed

[2018-05-25 16:21] whoisj commented on #1564
@Krishnd by "The latest version of Java was installed", which version of Java are you referring to? I am not certain CLC has ever been tested against Java 9 or later.

@AlexRukhlin could you lend your wisdom and provide any insights here?

[2018-05-25 17:55] montebhoover commented on #1580
Thanks for the tip on the templates - I wasn't aware of them and they are in fact a better fit for my needs: https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-templates.md

The `...` just referred to space in the same .vsts-ci.yml document.  Thanks again!

[2018-05-25 17:55] #1580 closed

[2018-05-25 20:44] TingluoHuang commented on #1521
I published 2 branch for ARM agent for people who want's to try out.
`users/tihuang/linuxarm`  -> 32 bits ARM  @tylerl0706  helped me tested out this one, seems to work.
`users/tihuang/linuxarm64`  -> 64 bits ARM

[2018-05-25 22:04] tylerl0706 commented on #1521
It's awesome 🎉

[2018-05-26 00:35] bbusacker commented on #1521
@TingluoHuang I tested arm64 and it fails with an illegal instruction error executing:

"dotnet msbuild"

This is the same issue I had before and seems to be some defect in the dotnet  cli itself.  Can anyone else confirm or deny this problem on an arm64 system?

[2018-05-26 01:12] montebhoover opened #1583 "Make CopyFiles@2 more robust to broken symlinks or add clarifying error message"
## Agent Version and Platform
Linux, private agent

## VSTS Type and Version
VisualStudio.com

## Account
 http://msdata.visualstudio.com

## What's not working?
The task CopyFiles@2 (and @1) fails if the directory tree of the source folder contains a broken symlink.  This can be an opaque problem if the broken symlink is in a child directory unrelated to the folder you are trying to copy.  For ex

[2018-05-26 02:15] AceHack commented on #1582
@TingluoHuang Please elaborate.  How would I do that?  My understanding was OAuth token is always there in yaml builds.

[2018-05-26 02:35] tylerl0706 commented on #1521
@bbusacker are you building on the arm device?

[2018-05-26 02:51] TingluoHuang commented on #1582
@AceHack it's available in ENV for yaml build for now, we are working on repository checkout option for preserver git credential, for now, i guess you need to run
`git -c http.extraheader="AUTHORIZATION: bearer $(System.AccessToken)" tag MyTag`

[2018-05-26 02:52] TingluoHuang commented on #1583
@montebhoover  please report the issue in [Tasks Repository](https://github.com/Microsoft/vsts-tasks)

[2018-05-26 02:52] TingluoHuang commented on #1521
@bbusacker what kind of device you are using? what's the OS?

[2018-05-26 03:16] bbusacker commented on #1521
Exynos-based phone development board.  Unbuntu 16.04

Sent from my iPhone

On May 25, 2018, at 8:52 PM, Ting <notifications@github.com<mailto:notifications@github.com>> wrote:

@bbusacker<https://github.com/bbusacker> what kind of device you are using? what's the OS?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Microsoft/v

[2018-05-26 03:17] bbusacker commented on #1521
Yes

Sent from my iPhone

On May 25, 2018, at 8:36 PM, Tyler James Leonhardt <notifications@github.com<mailto:notifications@github.com>> wrote:

@bbusacker<https://github.com/bbusacker> are you building on the arm device?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Microsoft/vsts-agent/issues/1521#issuecomment-392229697>,

[2018-05-26 03:18] TingluoHuang commented on #1521
@bbusacker can you share the full output of `./dev.sh layout`

[2018-05-26 03:56] AceHack commented on #1582
so that command shows up already in the build under the automatic step "Get sources"

[2018-05-26 04:18] AceHack commented on #1582
I tried several different combinations with the following command

[code]

trying the token on the tag line, push line, both.

Just the tag line, still freezes
Either just the push line or both tag line and push line fail with:

That's it, no more error message, just that.

[2018-05-26 12:11] bryanmacfarlane commented on #1582
Did you give permission to the service account?  It doesn't have push permissions by default.

https://docs.microsoft.com/en-us/vsts/build-release/actions/scripts/git-commands?view=vsts

[2018-05-26 12:16] #1583 closed

[2018-05-26 14:56] AceHack commented on #1582
Yes, I did that to get git tag working in UI build.  UI builds can git tag this repo with no issues.

[2018-05-26 15:05] edudutra opened #1584 "Error downloading artifacts"
## Agent Version and Platform
2.122.1 / Windows Server 2012 R2 Datacenter

## VSTS Type and Version
On-Prem TFS - 15.117.27414.0 (Tfs2017.Update3)

## What's not working?
I have a lot of projects, with build and release set up exactly the same way. All of them deploying just fine. But I have this specific project wich the release is not working on a specific agent only. I've tested in another agen

[2018-05-27 04:16] TingluoHuang commented on #1521
@bbusacker try use dotnet sdk under `/home/ufs/vsts-agent-users-tihuang-linuxarm64/_dotnetsdk/2.1`
run:
`dotnet new`
`dotnet run`

I want to make sure whether dotnet core is supported in your device.

[2018-05-27 20:27] gusarov opened #1585 "Unable to download agents from vstsagentpackage.azureedge.net"
## Agent Version and Platform
Windows | vsts-agent-win-x64-2.134.2.zip

## VSTS Type and Version
VisualStudio.com

## What's not working?
IE11 and Chrome no longer able to download new agent zip due to RC4 in TLS:
![image](https://user-images.githubusercontent.com/1462777/40590327-8bdfc5e6-6205-11e8-9ec3-2f6464c94f43.png)

[2018-05-27 20:39] gusarov commented on #1585
Wow... just realized that it is blocked in Rissia
http://isitblockedinrussia.com/?host=vstsagentpackage.azureedge.net
Works via proxy

[2018-05-28 11:08] milbrandt commented on #1548
As announced by @matthid we upgraded our build servers to git 2.17.0 and git-lfs 2.4.1 this morning. Up to now the issue seems to be fixed. Thx.

[2018-05-28 15:17] Krishnd commented on #1564
@TingluoHuang @whoisj  Finally I could fix the issue. I had manually installed the TEE-CLC in the system before. Today I  removed it and also deleted and configured the build agent(with latest version) again. After that I couldn't access the tfs link from safari and from the terminal window also , if we type 'tf' nothing happens. But it was working fine with the manually downloaded TEE-CLC. So I u

[2018-05-29 13:01] TingluoHuang commented on #1564
@Krishnd what's the version of TEE do you get? and where do you get them from, like URL?

[2018-05-29 13:15] joaomoreno commented on #1501
@ericsciple Can you ping me once it's out?

[2018-05-29 13:56] AceHack commented on #1582
@ericsciple I don't expect the git version is the issue since it works fine with UI builds but here is the results.

git version 2.14.3.windows.1

[2018-05-29 13:57] TingluoHuang commented on #1582
@AceHack can you share your log file?

[2018-05-29 14:00] AceHack commented on #1582
Also for reference here is the exact command I ran:

[code]

And the line

To https://itron.visualstudio.com/CloudServicesPlatform/_git/Platform.DotNet

Shows up in red, everything is is normal color.

[2018-05-29 14:02] TingluoHuang commented on #1582
@AceHack instead of `Write-Host "git tag $env:tag"`, can you change it to `Write-Host "git -c http.extraheader="AUTHORIZATION: bearer $env:SYSTEM_ACCESSTOKEN" tag $env:tag"`

[2018-05-29 14:04] TingluoHuang commented on #1582
@AceHack BTW, git use STDERR to report progress information, so i don't think you want to `failOnStderr: true`, instead, you should check return code of each git command.

[2018-05-29 14:20] ericsciple commented on #1501
@joaomoreno they deployment has finished rolling out to all scale units

[2018-05-29 14:26] joaomoreno commented on #1501
Oh cool, thanks. I couldn't find any official release notes in the blog.

[2018-05-29 14:38] AceHack commented on #1582
@TingluoHuang FYI, I've included my command as I did previously and you can see I'm already doing what you suggested.

[code]

Also as I've stated earlier I've tried every combination of adding `-c http.extraheader="AUTHORIZATION: bearer $env:SYSTEM_ACCESSTOKEN"`, only on the tag, only on the push, on both the tag and push and on neither the tag nor push.  They all fail in some way.

I will try tu

[2018-05-29 14:38] Krishnd commented on #1564
@TingluoHuang I used the TEE version 14.123.1. I got it from https://github.com/Microsoft/team-explorer-everywhere/releases

[2018-05-29 14:41] TingluoHuang commented on #1564
@Krishnd that's odd, the agent should use the same version of TEE as you.

[2018-05-29 14:47] AceHack commented on #1582
`failOnStderr: false` fixed the issue

[2018-05-29 15:14] TingluoHuang commented on #1564
@Krishnd Ok, i need to bump it to at latest 14.122.0 or above. :( i don't remember why i am missing that.

[2018-05-29 15:24] Krishnd commented on #1564
@TingluoHuang  ok.Thank you.

[2018-05-29 18:05] bbusacker commented on #1521
@TingluoHuang

dotnet new fails with illegal instruction on ubuntu 16.04 arm64 so it's pretty clear it's a dotnet cli issue.   Can you think of any workaround for this issue?

[2018-05-29 18:07] TingluoHuang commented on #1521
@bbusacker i would suggest you to seek help from dotnet core people, you can log an issue at https://github.com/dotnet/cli

[2018-05-29 18:22] TingluoHuang commented on #1521
@jkleinsc what's the full log looks like? i would hope dotnet provide some usefully output before it exits.

[2018-05-29 18:32] TingluoHuang commented on #1521
@jkleinsc i found something similar online https://github.com/dotnet/roslyn/issues/26505
looks like a CSC issue.

[2018-05-29 18:34] TingluoHuang commented on #1521
@jkleinsc can you also try use dotnet sdk under /root/vsts-agent/_dotnetsdk/2.1
run:
dotnet new
dotnet run

[2018-05-29 18:52] bbusacker commented on #1521
@jkleinsc Are you building on an arm64 system directly?  My build seems to be taking a different path than yours.  My path is invoking msbuild to build while yours seems to be invoking publish.  Are you just doing ./dev.sh layout on the command-line?

[2018-05-29 18:56] jkleinsc commented on #1521
@bbusacker yes building on arm64 directly.  And I am running ./dev.sh layout on the command-line.

@TingluoHuang dotnet new and run seem to work.  Output here:
[code]
and:
[code]

[2018-05-29 19:07] bbusacker commented on #1521
@jkleinsc  do ./dotnet new console  then do ./dotnet run.

Also could you post the output from ./dotnet --info.  I'd like to compare it to what I have.

[2018-05-29 19:29] jkleinsc commented on #1521
FWIW the arm64 hardware I am trying to build on is a Hisilicon D05.

[2018-05-29 20:00] jkleinsc commented on #1521
@TingluoHuang I am now trying the arm build instead of the arm64 one and I am running into this error:
[code]

That I can tell there aren't icu packages that will work on arm, so do you know what I need to do to get past this error?  I see directions here: https://github.com/dotnet/core/blob/master/Documentation/build-and-install-rhel6-prerequisites.md to use a file called "*.runtimeconfig.json",

[2018-05-29 20:01] TingluoHuang commented on #1521
@jkleinsc you can export CORECLR_GLOBAL_INVARIANT=1 as well

[2018-05-29 20:04] jkleinsc commented on #1521
@TingluoHuang that doesn't help.  When I run ./dotnet --version I see this error:
[code]

[2018-05-29 20:13] TingluoHuang commented on #1521
@jkleinsc what about "_dotnetsdk\2.0.3\sdk\2.0.3\dotnet.runtimeconfig.json" ?

[2018-05-29 21:22] jkleinsc commented on #1521
@TingluoHuang that worked.  It looks like `dev.sh layout` and `dev.sh build` worked!  Dumb question -- where do I find the executable(s) from the build?

[2018-05-30 19:09] lucas-natraj opened #1589 "Unable to pass multiple Template Parameters to Task"
I've been playing with [Template Files](https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-templates.md) and haven't been able to find a way to pass multiple parameters as arguments to a task.

Here's a simple setup -
[code]

[code]

I haven't found any way to pass BOTH `parameters.component` & `parameters.configuration` as arguments. I've tried adding quotes, but

[2018-05-30 19:25] Shahyads opened #1590 "Insecure git version (before 2.17.1) regarding git vulnerability CVE 2018-11235"
Based on
https://blogs.msdn.microsoft.com/devops/2018/05/29/announcing-the-may-2018-git-security-vulnerability/
It is needed to replace externals\git folder with the latest version of git for the next release otherwise it doesn't work alongside VSTS or TFS2018 update 3

[2018-05-30 20:38] denzuko opened #1591 "config.sh dies looking for apphost"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 2.102.0/2.100.1/...

OS of the machine running the agent? OSX/Windows/Linux/...

Linux

## VSTS Type and Version
VisualStudio.com or On-Prem TFS?

Azure VM

mrcooper.visualstudio.com

## What's not working?

Executing config

[2018-05-30 20:44] TingluoHuang commented on #1591
@denzuko make sure you have all dependencies that dotnet core requires, you can install then by run `installdependencies.sh` under "\src\Misc\layoutbin\installdependencies.sh". Btw, which commit are your on?

[2018-05-30 21:16] denzuko commented on #1591
I already ran that previously. I'm on commit e46b26f1fda0eae4cf8cda6442a813939d4b2639.

I'm even seeing this also in the tarball version: vsts-agent-linux-x64-2.125.0.tar.gz

[2018-05-30 21:28] TingluoHuang commented on #1591
@denzuko what's your linux flavor/version?

[2018-05-30 21:35] denzuko commented on #1591
[code]

[2018-05-30 21:43] TingluoHuang commented on #1591
when you build then agent from source code, the agent will pull down a copy of dotnet sdk. the sdk should under `vsts-agent\_dotnetsdk\2.1.200\dotnet`, can you try run `mkdir testdir; cd testdir; ./vsts-agent\_dotnetsdk\2.1.200\dotnet new console; ./vsts-agent\_dotnetsdk\2.1.200\dotnet run`

[2018-05-30 21:43] TingluoHuang commented on #1591
i am wonder dotnet is having issue with your OS.

[2018-05-30 22:00] nschonni opened #1592 "Update tag/release description for 2.122.1 to include TFS 2017.3"
This is just a meta issue about updating the description/title for https://github.com/Microsoft/vsts-agent/releases/tag/v2.122.1 since it is also the agent shipped with 2017.3.
Maybe "v2.122.1 (TFS 2018 RTW and TFS2017 QU3)"

[2018-05-30 22:03] TingluoHuang commented on #1592
@nschonni the agent is always back compat, you can use latest version agent from github and it should works with even TFS 2017 (Win) Tfs2015 (Linux/OSX).
the release tag is us to remember which version of agent is packaged with which On-Prem TFS release. :)

[2018-05-30 22:08] nschonni commented on #1592
Yup, I was asking the description to be updated because it is the version that shipped with on-prem 2017.3/3.1 (as well as TFS 2018 RTW) :wink:

[2018-05-30 22:15] denzuko commented on #1591
@TingluoHuang don't thing that's the issue:

[code]

Core of the problem seems to be related to what ever is causing the `Failed to initialize CoreCLR, HRESULT: 0x80004005` error.

[2018-05-30 22:19] TingluoHuang commented on #1591
yes, seems like dotnet sdk 2.1.200 is not working for your platform at all.
[code]
we try to print out the SDK version by just run `dotnet version` and that failed as well.

Can you try reboot?

[2018-05-31 00:04] bryanmacfarlane commented on #1592
No agent ships with on-prem - there's just a default one it pointed to for the download button.

I'm fine with adding a table on the front page of TFS release to sprint / release branch.

[2018-05-31 00:08] bryanmacfarlane commented on #1590
Yes, the next agent release will include that git.  You can use latest agent with previous on prem >= 2017 for windows (only one that carries git as a convenience). Note that you can always configure a definition to prefer git in the path and not the one the agent carries as well if you don't want to wait.

[2018-05-31 00:15] nschonni commented on #1592
Sorry, I forgot to link to https://github.com/MicrosoftDocs/vsts-docs/issues/924 where someone flagged that the version table was out of date. I've put in a PR to fix that part already.

Right, I'm just using the wrong terms today 😝

[2018-05-31 01:31] TingluoHuang commented on #1572
i am going to close the issue since the agent with the fix has been released. 2.134.2

[2018-05-31 01:31] #1572 closed

[2018-05-31 01:32] TingluoHuang commented on #1564
i am going to close the issue, the next agent release will contains latest tf.exe

[2018-05-31 01:32] #1564 closed

[2018-05-31 03:58] denzuko commented on #1591
Reboot a linux server? It can be tried but got to know first:

   - Is there any daemon or long running process that's running which we're trying to reload?
   - Is there a kernel module of some sort that's needing to be reloaded?

[2018-05-31 04:04] TingluoHuang commented on #1591
@denzuko
- i don't think there is any daemon process, the dotnet sdk is just a console app
- possible, but i can't confirm, since the SDK is a separate project at https://github.com/dotnet/cli

You can also post the issue to them about why 2.1.200 SDK return `Failed to initialize CoreCLR, HRESULT: 0x80004005`

[2018-05-31 04:09] denzuko commented on #1591
I'll look tomorrow when I get back in the office but its sounding like a reboot would not be needed.

[2018-05-31 06:01] vicioussn opened #1593 "PublishSymbols@2 Warning: symbolServerType input is required"
Hi!

There is an issue in YAML builds.

- task: PublishSymbols@2
  displayName: Publish symbols path
  inputs:
    SearchPattern: '**\bin\**\*.pdb'
    publishSymbols: false
  continueOnError: true

This task will generate warning with the following message: "symbolServerType input is required". However at https://docs.microsoft.com/en-us/vsts/pipelines/tasks/build/index-sources-publish-symbols?vi

[2018-05-31 12:14] bryanmacfarlane commented on #1593
The condition is only on visibility.

The input is required: https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/PublishSymbolsV2/task.json#L63

[2018-05-31 12:15] bryanmacfarlane commented on #1593
I would log an issue in the tasks repo.  That can cause an issue even in UI designer builds where it's not visible, has no value but is required.

[2018-05-31 12:16] bryanmacfarlane commented on #1593
let them know the docs are wrong

[2018-05-31 13:45] denzuko commented on #1591
@TingluoHuang Finished checking, there's nothing of the sort to require a reboot for Linux/Unix based systems.

[2018-05-31 14:32] TingluoHuang commented on #1591
@denzuko ok, i will wait for dotnet people provide further guide.

[2018-05-31 15:27] ericsciple commented on #805
env control provides this ability

[2018-05-31 15:27] #805 closed

[2018-05-31 15:33] ericsciple commented on #1528
Closing the issue here. It's on the backlog (internally)

[2018-05-31 15:33] #1528 closed

[2018-05-31 15:38] #1593 closed

[2018-05-31 16:10] denzuko commented on #1591
Resolved, please update the documentation to set selinux to permissive, instead of enforcing.

[2018-05-31 16:10] #1591 closed

[2018-05-31 18:12] TingluoHuang commented on #1487
#1594

[2018-06-02 07:06] MagnusTim opened #1599 "Switching the agent from http to https conenctionstring"
## Agent Version and Platform
Version of your agent? 2.120.2

OS of the machine running the agent:  Windows 2016

If On-Prem TFS: TFS 2018.2

## What's not working?
We are switching from http to https on our TFS, is there a way to change the agent connection string without reinstalling the agent?

[2018-06-02 07:09] MagnusTim opened #1600 "Upgrading agent behind firewall"
## Agent Version and Platform
Version of your agent? 2.120.2

OS of the machine running the agent:  Windows 2016

If On-Prem TFS: TFS 2018.2

## What's not working?
Our TFS and build servers are behind a firewall with no connection to the internet. I have downloaded the latest agent version from GitHub. Is there a way to upgrade the agent without reinstalling in (the same way TFS does when it has

[2018-06-02 13:44] TingluoHuang commented on #1599
@MagnusTim i am not 100% sure, there are 2 hidden files under your agent root directory.
![image](https://user-images.githubusercontent.com/1750815/40877061-3cbb1810-6649-11e8-9e05-b245308f2114.png)
change Url in both file, see whether that works.

[2018-06-02 13:46] TingluoHuang commented on #1600
#1451
Close as Duplicate

[2018-06-02 13:46] #1600 closed

[2018-06-02 14:00] MagnusTim commented on #1599
Hi,
When I change the first file the agent works fine, when changing both the agent does not turn green because of this I am unsure what to do.

Could it be enough to just change the .agent file?

/Magnus

[2018-06-02 14:07] TingluoHuang commented on #1599
@MagnusTim ok, then i think change .agent file should be enough.

[2018-06-03 10:32] matthid opened #1601 "Best way to authenticate against a git repository in a build process"
## Description

On of our users reported https://github.com/fsprojects/Paket/issues/3228

The basic problem is to authenticate against a tfs repository within a build process.

Can we just use System.Accesstoken? Is there documentation around that? Is there a credential manager we can use or implement ourself (like it is for nuget) or any other way to hook into the process?

[2018-06-03 19:51] TingluoHuang commented on #1601
@matthid
1. System.AccessToken is generated per VSTS build/release job, it's life time is equal to the job time, a new token will be generated on next job.
2. Using System.AccessToken, you requests to VSTS will be authenticated as either "Project Collection Build Service identity" or "Project Build Service Identity" of your VSTS account base on your build/release definition setting.
3. By default,

[2018-06-03 19:58] matthid commented on #1601
Personally I think the ideal solution would be if we could just "prepare" the environment in a way such that we can call `git <...>` and it "just works". This way third party tools will work. Is there some way to do this?

- Set environment variables?
- wrapper script around `git`?
- Credential manger (which git itself will ask and return the System.AccessToken)

Do any of the above options exist

[2018-06-04 07:48] MagnusTim commented on #1599
It works, thanks!

[2018-06-04 07:48] #1599 closed

[2018-06-04 08:25] VerdonTrigance opened #1602 "CredRead throw an error for 'VSTS_AGENT_PROXY_66C6DADE-3FEF-41 49-B0F0-5E42A6A5C2F9'"
## Have you tried trouble shooting?
y

## Agent Version and Platform
2.126.0

OS of the machine running the agent? OSX/Windows/Linux/...
Windows

## VSTS Type and Version
VSTS

## What's not working?
CredRead throw an error for 'VSTS_AGENT_PROXY_66C6DADE-3FEF-41
49-B0F0-5E42A6A5C2F9'

## Agent and Worker's Diagnostic Logs
[code]

## Description
Agent is configured to run manually behind the proxy

[2018-06-04 08:35] VerdonTrigance commented on #1602
Update: user found credential for VSTS_AGENT_PROXY_66C6DADE-3FEF-4149-B0F0-5E42A6A5C2F9 in Control Panel\User Accounts\Credential Manager, and there were his creds instead of c\dev_user. Why this happened? Agent proxy setting up credential only for current user, not for everyone?

[2018-06-04 08:35] #1602 closed

[2018-06-04 12:52] TingluoHuang commented on #1602
@VerdonTrigance this is actually a limitation of windows credential manager, the windows credential manager only provide per user credential storage, it doesn't allow store credential at machine level.

if you want to share proxy creds on the machine, you can use machine level environment variable to feed in proxy credential to agent when configure the agent.
[code]
the downside will be your proxy

[2018-06-04 13:39] perbergland opened #1603 "With owner role on one pool only, PAT connection fails"
## Agent Version and Platform
2.134.2 on Windows Server 2016 Datacenter [vsts-VS2017](https://github.com/Microsoft/vsts-image-generation/blob/master/images/win/vs2017-Server2016-Azure.json)

## VSTS Type and Version
VisualStudio.com

If VisualStudio.com, what is your account name? I can tell you in a private message if you want.

## What's not working?
After creating a new pool and creating a new

[2018-06-04 14:09] TingluoHuang commented on #1603
@perbergland Can you check the agent diag log, see whether you can find similar thing as #1559

[2018-06-04 15:46] TingluoHuang commented on #1592
I update the release to include TFS 2017 Qu3 info.
https://github.com/Microsoft/vsts-agent/releases/tag/v2.122.1

[2018-06-04 15:46] #1592 closed

[2018-06-04 18:54] melezhik opened #1604 "Agent fails on OSx"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
2.134.2  OSx

## VSTS Type and Version
VisualStudio.com

If VisualStudio.com, what is your account name? http://account.visualstudio.com

## What's not working?

2018-06-04T18:39:39.4127320Z ##[error]Exit code 143 returned from process: file name

[2018-06-04 20:02] TingluoHuang commented on #1604
@melezhik can you share your full build log and OSX version info?

[2018-06-04 20:32] melezhik commented on #1604
Hi! This is macOS version 10.13.4 // High Sierra, I will add build log later

[2018-06-04 20:35] TingluoHuang commented on #1601
`System.AccessToken` is for this, but as i said customer need to opt-in to allow ad-hoc script have access to `System.AccessToken` from environment variables.

I think here is what we can do to make it a better experience for customer:
1. Check `TF_Build` environment variable exist or not, `TF_Build` will be set if the process is running as a child process of VSTS agent.
2. After check `TF_Build`,

[2018-06-04 20:36] perbergland commented on #1603
Here's a part of the log file in the  _diag folder:

[code]

[2018-06-04 20:40] melezhik commented on #1604
Here is the build log:

[code]

[2018-06-04 20:46] perbergland commented on #1603
I created a new token and now it works. Maybe I had copied it incorrectly. Closing.

[2018-06-04 20:46] #1603 closed

[2018-06-04 20:47] TingluoHuang commented on #1604
@melezhik return code 143 = SIGTERM, is your script killing the process?

[2018-06-04 20:48] melezhik commented on #1604
looks like that. ): the bad news it is not my script, it is third party soft I tries to use, it is Kony headless build

[2018-06-04 20:49] melezhik commented on #1604
`dmesg` to know reasons ?

[2018-06-04 20:52] TingluoHuang commented on #1604
yep, worth a shot.

[2018-06-04 20:58] matthid commented on #1601
But that is only true for scripts not for vsts-tasks, correct? We actually have a vsts-task where we want to setup stuff in such a way that it "just works" as well.

[2018-06-04 21:02] TingluoHuang commented on #1601
then, System.AccessToken is always there for a vsts-task, so you should be able to achieve your goal to make is "just work"

[2018-06-04 21:30] matthid commented on #1601
But can I make git use it when a 3rd party code is between the task and the git call:
1. Vsts Task (with access to Access Token) -> Starts paket.exe -> Starts git.exe
How can git access the repository and use the token in that scenario?

To elaborate: With Nuget we can setup a "dummy" credential provider and then
1. Vsts Task setup credential manager (basically put a custom `*CredentialProvider.ex

[2018-06-04 21:48] TingluoHuang commented on #1601
@matthid
you can put the credential into user level git config.
`git config --unset-all http.<your VSTS account>.extraheader`
`git config http.<your VSTS account>.extraheader "AUTHORIZATION: bearer <System_AccessToken>"`
`run git operations`
`git config --unset-all http.<your VSTS account>.extraheader`

[2018-06-04 21:59] matthid commented on #1601
Thanks. we will take a look at that but I guess it should do.

[2018-06-04 21:59] #1601 closed

[2018-06-05 07:58] SeriousM opened #1605 ""Cannot find CodeCoverage.exe" on self-hosted agent"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)
yes

## Agent Version and Platform
Version of your agent? 2.134.2

OS of the machine running the agent? Windows 10, 1803

The agent-machine has VS2017 Professional installed.

## VSTS Type and Version
VisualStudio.com

If VisualStudio.com, what is your account name? http://scan

[2018-06-05 09:34] fmanea opened #1606 "Python not recognised on Windows Server 2016"
## Agent Version and Platform
2.112.0

##OS of the machine running the agent?
Windows Server 2016

## What's not working?
"python : The term 'python' is not recognized as the name of a cmdlet, function, script file, or operable program.
Process completed with exit code 0 and had 1 error(s) written to the error stream."

Altough python 3.6.2 was installed in the default path: C:\Users\MyUser\AppDat

[2018-06-05 11:15] milbrandt opened #1607 "Demand LFS missing"
## Agent Version and Platform
Version of your agent? 2.123.0

OS of the machine running the agent? Windows

## VSTS Type and Version
TFS 2017 Update 3 15.117.27414.0

## What's not working?
Git checkout lfs failed as no git-lfs installed on the build Agent
(Build Definition was a draft)

## Agent and Worker's Diagnostic Logs
2018-06-05T08:41:32.9941727Z ##[section]Starting: Get Sources
2018-06-05T

[2018-06-05 12:21] VerdonTrigance commented on #1602
But there is a file .credentials in agent folder. They used early before proxy parameter appear. If I don’t wonna show or tell proxy password for some developers or QA enginers I can’t configure agent like this, right?

[2018-06-05 13:30] fmanea commented on #1606
Something weird is happening:
If I do ($env:Path).Replace(';',"`n"), from a local powershell that is placed where the agent is installed, I can see that Python is added to the Environment variable PATH
But if I do the same from a in-line powershell task within VSTS, Python is missing

[2018-06-05 13:34] TingluoHuang commented on #1602
the .credentials file store the RSA key info the agent used to exchange an OAuth token from service.
for proxy credential we only have 2 solutions today.
1. Use environment variables.
2. Use windows credential store, this means if you run as interactive agent, your config user and run as user must be same.

[2018-06-05 13:39] TingluoHuang commented on #1605
@SeriousM please log an issue at the Tasks repository https://github.com/microsoft/vsts-tasks
this seems like to be a task issue instead of an agent issue.

[2018-06-05 13:41] TingluoHuang commented on #1606
@fmanea did you restart the agent after you install python?

[2018-06-05 13:57] fmanea commented on #1606
Didn't, that was the problem, sorry

[2018-06-05 13:57] #1606 closed

[2018-06-05 15:23] VerdonTrigance commented on #1602
I don’t understand last phrase “config user and run as user must be same”. Config user means proxy user from config and ran as user means user who’s run agent? But what if my proxy user don’t have logonlocally permission? I can’t run agent from proxy user. Only first option remains?

[2018-06-05 15:43] SeriousM commented on #1605
thanks!

[2018-06-05 15:43] #1605 closed

[2018-06-06 09:36] acm74 opened #1610 "Agents fail to start"
I am provisioning new VMs for use in a testing process.  The VMs use Windows 10 Pro (Azure gallery image RS3-Pro, or RS2-Pro), and use DS2v2 (2 vCPU, 7GB RAM). The VMs are configured with a VSTS agent running as a service and connected to a deployment group.

I am seeing 2 problems:

1 - the provisioning will report failure, with agents taking > 6 hours to establish communication with VSTS (over 1

[2018-06-06 12:16] bryanmacfarlane commented on #1610
For failure to start, grab the _diag logs and attach.  They should highlight what's happening in the the failure to start cases.

Regarding the 6 hours, is that your code provisioning the VMs?  Have you broken down the time?  Where is that code running?  A hosted vs 2017 machine?  (those are limited to 6 hours, private build/release agents on your own VMs have no limits).

As a comparision our mac

[2018-06-06 12:37] acm74 commented on #1610
@bryanmacfarlane I am running a VSTS release process to provision multiple VMs via an ARM template.  It's using a hosted VS2017 agent.  The release I have going at the moment has been running for just over 2 hours, and there are now 92 agents registered in the deployment group (out of 99 being provisioned).

All but a few minutes of the releases have been taken within an azure resource group deplo

[2018-06-06 12:43] acm74 commented on #1610
@bryanmacfarlane one of your colleagues told me a couple of months ago that there were issues with VSTS agents and VMs with < 4 CPU cores.  This was part of a [previous issue](https://developercommunity.visualstudio.com/content/problem/188185/provisioning-vm-false-negative-failure.html) where the release was always reporting that provisioning had failed, because it was taking longer than expected

[2018-06-06 12:52] bryanmacfarlane commented on #1610
I'm sending this to the release team.  I think you need to separate the agent application (this repo) from the assertion about the VM (machine) needing 4 cores for your scenario (if that assertion is indeed correct).   Not sure what the application can do but we will certainly look at it.

If the hosted agent specs (6 hour max, 2 cores) is not sufficient for your scenario, then the other option is

[2018-06-06 13:07] acm74 commented on #1610
@bryanmacfarlane the issue with < 4 cores was supposed to have been addressed last month.  I mention it because that's what I was told was the root cause of previous releases failing.

When I started provisioning these VMs, I expected the ARM template execution to complete in around 40 minutes (using a hosted agent).  As it is currently, I can only expect that this will not complete, but will time

[2018-06-06 13:13] sibbl opened #1611 "Agent update failed after a reboot"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 2.131 -> 2.133.3

OS of the machine running the agent? Windows

## VSTS Type and Version
usi.visualStudio.com

## What's not working?

We set up several Windows VMs using Azure RM templates and install the VSTS Agent in a de

[2018-06-06 13:13] TingluoHuang commented on #1520
@NickMRamirez
we do have dependencies check for configure linux agent.
https://github.com/Microsoft/vsts-agent/blob/master/src/Misc/layoutroot/config.sh#L11

status is a function to
[code]
i am not sure which part is hanging, can you run `systemctl status` manually on your machine?

[2018-06-06 13:35] sibbl commented on #1611
Hi @TingluoHuang,

thanks for the quick response. Please find the log before the one I already posted attached:
[Agent_20180605-081356-utc.log](https://github.com/Microsoft/vsts-agent/files/2076471/Agent_20180605-081356-utc.log)

Maybe it describes why the unregistering happens? If it helps, I can also provide logs from the system event viewer. It's definitely triggered from the reboot, we do noth

[2018-06-06 13:43] TingluoHuang commented on #1611
@sibbl
[code]
the agent process is up and running after the agent upgrade, but somehow something is trying to unconfigure the agent which remove the windows service, and stop the windows service will send Ctrl-C to the running agent process.

What's your Azure RM template looks like? will it unconfigure the agent?

[2018-06-06 14:40] TingluoHuang commented on #1611
auto update is required for new task or new feature added to the server, we don't have a feature to allow you disable auto update.

[2018-06-06 16:48] bryanmacfarlane commented on #1611
Right, the agent only updates if you use a feature or task that demands a new version of the agent.  for example, when we did gated checkin, it required service changes and agent changes.  When you used that new feature service side, it will add a demand on the agent version and it will get pulled forward.  To ensure the agent never gets pulled forward, you would have to ensure the service / featu

[2018-06-06 16:54] bryanmacfarlane commented on #1607
If you're using LFS, why wouldn't you just install LFS on all the agents in the pool?  We could add a demand but that would break existing customers that have running agents without the capability.

If you can't do that for some reason, then there's custom capabilities on the agent web UI and custom demands on the definitions that target those.

Also the latest version of git bundles lfs with it.

[2018-06-06 17:06] tejasd1990 commented on #1611
@sibbl Can you share the extension status folder 'C:\Packages\Plugins\Microsoft.VisualStudio.Services.TeamServicesAgent\1.20.0.0\status', and the extension logs folder 'C:\WindowsAzure\Logs\Plugins\Microsoft.VisualStudio.Services.TeamServicesAgent\1.20.0.0\'

[2018-06-06 17:57] sibbl commented on #1611
[code]

is logged there, see the detailed logs:
[logs.zip](https://github.com/Microsoft/vsts-agent/files/2077537/logs.zip)

It seems like the RM extension runs on every reboot and downloading the agent each time? Could this be avoided somehow? Is it possible to update the PAT (which we indeed revoked)?

[2018-06-07 01:53] tejasd1990 commented on #1611
@sibbl  Hi, these logs do not indicate what caused the extension to unconfigure. Please share the complete logs under 'C:\WindowsAzure\Logs\Plugins\Microsoft.VisualStudio.Services.TeamServicesAgent' which includes older versions of the extension as well.

[2018-06-07 05:44] niadak commented on #1610
@acm74 , Can you try the following:

1. Create a release to provision VMs without configuring VSTS agent and check if it is faster? This may be issue with VM provisioning and not related to VSTS agent.

2. Configure VSTS agent to deployment group manually from the newly provisioned VM. Steps to do that are:
       a. Go to Deployment group details page
       b. Click on Use PAT token check box an

[2018-06-07 05:54] bishal-pdMSFT commented on #1610
@acm74 can you please share following information with us:

1. ARM template deployments logs. You can get it by going to the resource group which you created using VSTS

![image](https://user-images.githubusercontent.com/7830141/41080556-bb5e6484-6a44-11e8-9fbb-7fdfa3a8b242.png)
 and then clicking on the latest deployment which timed out

![image](https://user-images.githubusercontent.com/7830141/

[2018-06-07 07:29] sibbl commented on #1611
Hi @tejasd1990, thanks a lot for the reply.

The uninstall commands are triggered by v0.19 as far as I can see in the logs. Please find them attached, also including the RMExtensionHandler*.log files: [logs.zip](https://github.com/Microsoft/vsts-agent/files/2079335/logs.zip)

[2018-06-07 07:35] acm74 commented on #1610
@bishal-pdMSFT the deployment that timed out is still marked as in progress.  The VMs (including storage account, IP addresses, NICs) deployed successfully.  All the VM extensions are marked as in conflict.  These VMs have 3 extensions - for IAAS Diagnostics, a custom extension for WinRM, and the Team Services Agent extension.  All show the same error- "an internal execution error occurred".

[Tea

[2018-06-07 07:42] acm74 commented on #1610
@niadak I will remove all the extensions from my template and attempt a small release with that.  Given what I just posted, I expect this to complete quickly and successfully.

[2018-06-07 07:45] tejasd1990 commented on #1611
If the Azure agent on the VM(not to be confused the VSTS agent) finds out that a newer extension version is available than the one currently installed on the VM, it uninstalls the current extension version and installs the new version, with the same settings(PAT included). So, because of the revoked PAT, the extension update failed.

As a workaround, you can keep the PAT and not revoke it, so that

[2018-06-07 07:46] perbergland opened #1612 "Describe a way to use MSI and AAD access token for configuration"
## Agent Version and Platform
v2.134.2
Windows 2016 Datacenter (VS2017 packer-built image)

## VSTS Type and Version
VisualStudio.com

## What's not working?
I want to use [Managed Service Identity](https://docs.microsoft.com/en-us/azure/active-directory/managed-service-identity/how-to-use-vm-token) of the VM where the agent runs to get an access token for the VM Service Principal and use it to re

[2018-06-07 07:52] sibbl commented on #1611
Thanks a lot for the insights and you guys looking into thi. It would be great if it would be possible to revoke PATs and the extension still updating properly.

Two questions regarding some workarounds:

1. Is it possible to change the PAT which the extension uses on the machine either manually or via a powershell script (or something else?)? We have quite a lot of machines which we set up this w

[2018-06-07 07:57] bishal-pdMSFT commented on #1610
@acm74 The TeamServicesAgent extension logs don't point to anything wrong. It has successfully configured agent against deployment group. Are you still not seeing this deployment group agent in VSTS?
The culprit here seems to be Conflict status. Can you also look into logs of other extensions - they are in similar place as TeamServicesAgent logs. Is any other extension failing with "an internal ex

[2018-06-07 08:19] acm74 commented on #1610
@bishal-pdMSFT I can't see anything wrong with the other 2 extensions.  The logs from the same VM are attached here.

To clarify what I am trying to do - I am building new VMs to use for Coded UI Testing.  Once the VMs is provisioned, I am using the deployment group agent to configure all the software we need, along with all the other little configuration details necessary for Coded UI Testing.

[

[2018-06-07 08:30] acm74 commented on #1610
@bishal-pdMSFT I also see Azure portal come up with these messages

This is from the latest lab I am building.  For the VMs listed, there are no extensions installed (no log files either).

![provisionfail](https://user-images.githubusercontent.com/36503947/41087534-41a91f32-6a3d-11e8-873e-f18983ecd473.PNG)

[2018-06-07 09:32] acm74 commented on #1610
@niadak ARM template without extensions provisioned successfully 3 VMs in approx. 11 minutes.  I had to wait almost an hour before I could successfully remote into any of the VMs (see screen shot).

The deployment group agent installation took less than 2 minutes to complete on the VMs I could log into.

![cannotlogin](https://user-images.githubusercontent.com/36503947/41090955-bcff6f12-6a45-11e8-

[2018-06-07 10:13] acm74 commented on #1610
@niadak I provisioned 2 new VMs with a larger size (Standard_DS3_v2_Promo, which is 4 core and 14 GB RAM).  Provisioning finished in just under 10 minutes, I was able to remote into VMs within 5 minutes of this and install deployment group agent.

[2018-06-07 11:02] milbrandt commented on #1607
Unfortunately in our enterprise the build servers are located at several subsidaries. Not everywhere I am authorizied to log in and install git-lfs. Why don't you bundle git-lfs with the build agents as you already do with git? Even in the latest 2.134.2 in git-lfs is not included `externals\git\`  in the agent bundle.

For builds we can work around and set manually a demand `GIT_LFS_PATH`` but un

[2018-06-07 11:33] perbergland commented on #1612
Looking at the source code, there is an [OAuthCredential](https://github.com/Microsoft/vsts-agent/blob/master/src/Agent.Listener/Configuration/OAuthCredential.cs) class but I don't know how get an Azure OAuth token to pass to it.

Is it as simple as passing some magic application id uri into the Azure AD token generator?
Should I first add the Azure Service Principal of the VM to an AD Group that

[2018-06-07 13:28] acm74 commented on #1610
@niadak I provisioned 2 new VMs, including extensions, using a 4 CPU, 14GB VM size.  The Provisioning took 30 minutes to complete.  It's now going through post-provisioning configuration.

[2018-06-07 13:39] bishal-pdMSFT commented on #1610
This looks like the [issue](https://developercommunity.visualstudio.com/content/problem/188185/provisioning-vm-false-negative-failure.html) which you referenced earlier. Let me involve Tejas who was investigating it.

[2018-06-07 14:01] TingluoHuang commented on #1607
@milbrandt we don't have legal approval to ship git-lfs with the agent.

[2018-06-07 14:05] TingluoHuang commented on #1612
@perbergland Sorry, i am little bit confused. What are you trying to accomplish? are you not able to configure the agent?

[2018-06-07 14:14] acm74 commented on #1610
@bishal-pdMSFT I have another issue, and I am wondering if this is related to what we are seeing here.  In our post-provisioning configuration we install software.  We're using Chocolatey for some of this, but we see errors like "The term 'choco' is not recognized as the name of a cmdlet, function,
script file, or operable program".

Sometimes it works and choco commands are available, often they

[2018-06-07 15:57] perbergland commented on #1612
What I’m trying to accomplish is to take out the PAT from the process since it’s a brittle part and instead rely completely the AD. If the VM has an MSI and its principal is added to an AD group then it should be able to register itself with VSTS. The missing piece here is how to get a VSTS api token when you have the MSI VM oauth endpoint.

[2018-06-08 08:50] ahoka opened #1613 "Agent.Worker high cpu usage"
## Agent Version and Platform

vsts-agent-linux-x64-2.134.2

## VSTS Type and Version

On-premises TFS, Version 15.112.26307.0

## What's not working?

The Agent.Worker process is using a ridiculous amount of CPU:
[code]
This is a whole core just for running the worker, and this affects our build machine's performance.

System wide profiling shows the following:
[code]
It seems that it is doing so

[2018-06-08 12:29] mmajcica commented on #1611
Judging by the code if there is an env variable named `agent.disableupdate` the auto-update will not be triggered. Can anyone confirm that?

[2018-06-08 12:34] tejasd1990 commented on #1611
@sibbl

1. For the extension, PAT is a protected setting, and comes in an encrypted form(encrypted by Azure), which is then decrypted by the extension. So, PAT won't be able to be changed. (PAT is not stored on the VM, the extension takes care of that.)

2. The extension is a wrapper for the VSTS agent, so the extension takes care of configuring the agent as a service and unconfiguring it. You can

[2018-06-08 12:52] TingluoHuang commented on #1611
@mmajcica don't use `agent.disableupdate`, that is a legacy variable coming from legacy 1.x agent, we are not support it moving forward.