[2018-06-08 12:57] TingluoHuang commented on #1613
@ahoka looks like you have tons of output from your task.
6 batches = 6 * 100 lines, every line might contains at most 1024 chars.
is it possible for you to reduce console output, instead, output to a file, and upload the file on test failure?

[2018-06-08 12:58] bryanmacfarlane commented on #1611
Correct, that was from when we actually did auto update on restart.  we stopped doing that so setting it has no effect.  Per above, we update when the features / service demand it.

[2018-06-08 13:00] mmajcica commented on #1611
@bryanmacfarlane @TingluoHuang is there a way to prevent this behavior?

[2018-06-08 13:04] bryanmacfarlane commented on #1611
@mmajcica - please read the whole thread above.  we explained.

https://github.com/Microsoft/vsts-agent/issues/1611#issuecomment-395137363

We certainly could add a policy to never (we have discussed).  Curious though, what would you propose we do when the service (which always moves forward) uses a new feature / capability that the old agent is not capable of servicing the request?

[2018-06-08 13:26] carct opened #1614 "Linux agent went suddenly offline"
Hi,

Today, out of the blue, the linux vsts-agent just went offline.
The VM didn't seem to be the problem as I was able to SSH into it (Azure VM).

What I tried:
- rebooting machine
- uninstall agent configuration with VSTS account -> reconfigure -> reboot machine

The reconfiguration went through and the agent does show up in the proper Agent Pool, but with offline status.

When trying ./svc.sh s

[2018-06-08 13:42] TingluoHuang commented on #1614
@carct can you send your agent diag logs to me? you can send me the whole `_diag` folder, i would like to check and understand why the agent goes offline at the first place.
my email: `tihuang @ microsoft.com`

[2018-06-08 14:15] ahoka commented on #1613
I don't see a simple way of doing this. Is there a way to optimize for larger amounts of output?

[2018-06-08 15:13] JacobHenner opened #1615 "`config.sh remove` output incomplete"
When executing `config.sh remove`, the following output is emitted:

Succeeded: Removing agent from the server
Removing .credentials
Succeeded: Removing .credentials
Removing .agent
Succeeded: Removing .agent

This is misleading, as several other files are removed (if they exist), including .proxy, .proxybypass, etc.

[2018-06-08 15:32] JacobHenner commented on #1615
Extra files include
1. .proxycredentials
2. .proxybypass
3. .proxy
4. .certificates

[2018-06-08 15:45] TingluoHuang commented on #1613
it's hard, we have to scan all lines of output to mask secrets.
What's you definition looks like? what task are you using that produce the outputs?

[2018-06-08 20:39] ppejovic commented on #1506
To get around this in our on-prem instance of TFS I've written a custom build task, that is typically added as the last step of the build, which will (if not previously done) move the repo into a shared location (if not already there) and then update the build sources directory path for the definition (in `SourceFolder.json`) with the new location. The next time the build runs it will be using the

[2018-06-08 20:42] bergmeister commented on #1506
@TingluoHuang Any progress/timeline on this?

[2018-06-09 23:14] TingluoHuang commented on #1614
@carct i have read through your logs, here is what i found. the log file name is the UTC time of the file been created.
1. the first log file `Agent_20180608-101602-utc.log` shows you configure the agent successfully, and you configure the agent run as service.
2. log file `Agent_20180608-101611-utc.log` shows your agent is online from `[2018-06-08 10:16:17Z INFO Terminal] WRITE LINE: 2018-06-08 1

[2018-06-11 05:19] qubuss opened #1617 "./config.sh: line 29: 6458 Segmentation fault: 11 ./bin/Agent.Listener configure "$@" MAC"
## Agent Version and Platform
Version of your agent? 2.122.1

OS of the machine running the agent? Mac OS High Sierra 10.13.5

## VSTS Type and Version
local TFS server

## What's not working?
Enter (Y/N) Accept the Team Explorer Everywhere license agreement now? (press enter for N) > y

Connect:
Enter server URL > https://tfs.company.local
Enter authentication type (press enter for Negotiate) > P

[2018-06-11 07:04] alexiffland opened #1618 "Question: Use of \run.cmd localRun with YAML-Definitions"
Because we are developing machine controls, which have very long development cycles, we need to decouple our builds from the rapidly evolving VSTS.

For decoupling our builds from our buildservers we need the possibility to run them locally. We just found that you can run the agent locally with `\run.cmd localRun` and pass a yaml file with a builddefinition.

In the docs this feature is inside an

[2018-06-11 07:54] acm74 commented on #1610
@bishal-pdMSFT has there been any progress?

[2018-06-11 08:35] acm74 commented on #1610
@bishal-pdMSFT this morning I am now seeing that one of my labs has somehow had their interactive agents removed.  This is not the first time I have seen this behavior.

![agentmissing](https://user-images.githubusercontent.com/36503947/41220829-e031e97c-6d62-11e8-9154-e1e49650446b.PNG)

[2018-06-11 09:14] carct commented on #1614
Hi,

No special need of root, I got to use it like that as it didn't work without (I know, it actually doesn't require the root, but another user from previous setup).

Agent is inside a VM direclty, it isn't containerized and the VM is not crashing or anything like that.
I have confirmation that nobody interacted with the VM / agent.

Btw, is it possible that the agent auto-updated without sendin

[2018-06-11 11:31] ahoka commented on #1613
It's a single monolithic Command Line task. Is there a way to disable the filtering?

[2018-06-11 11:39] acm74 commented on #1610
@niadak @bishal-pdMSFT I have deleted all 2 CPU VMs, and am in the process of re-creating VMs.  The first group has just been provisioned (using 4 vCPU, 16 GB RAM VM size), and is about to start its post-provisioning configuration.  It took 50 minutes for the provisioning to complete.  I believe the majority of that time was spent provisioning the extensions on the VMs.  All 99 VMs have successful

[2018-06-11 11:46] bryanmacfarlane commented on #1613
You can write a script and invoke the cmdline and pipe output to a file and then attach the log to the build or upload as an artifact.  Of course that's not ideal because you see no output while watching.  there's other similar approaches where you invoke, capture output and just grab key lines like starting test, result etc...

We run some pretty huge build and tests at microsoft and we generally

[2018-06-11 11:55] bryanmacfarlane commented on #1614
The agent will update if (1) invoked from portal or (2) a feature is used that demands a new agent.  For example, if the service (which always moves forward) adds a feature which required changed in the agent, when it's used, we will pull the agent forward to that baseline.  The automation workflow runs on the service and uses the agent worker as an extension to run nodes of the graph.

[2018-06-11 11:58] carct commented on #1614
ok, that would indeed explain the newer version that i saw - strange that it kinda broke it though

[2018-06-11 12:31] bishal-pdMSFT commented on #1610
@acm74 we are following up with VM team to understand whether the May update has been rolled out or not. I will keep you posted.

[2018-06-11 13:55] TingluoHuang commented on #1617
@qubuss should be same issue as https://github.com/Microsoft/vsts-agent/issues/1007
can you try latest version agent? 2.122.1 might still built on top of dotnet core 1.0 which doesn't support macos 10.13

[2018-06-11 13:57] TingluoHuang commented on #1618
@bryanmacfarlane @chrisrpatterson  for answer.

[2018-06-11 15:01] TingluoHuang commented on #1612
@chrisrpatterson for idea.

[2018-06-11 15:02] TingluoHuang commented on #1487
i will close this issue, the next agent release will pass fetch depth to `git submodule udpate`

[2018-06-11 15:02] #1487 closed

[2018-06-11 18:05] bishal-pdMSFT commented on #1610
@acm74 will it be possible for you to provide the azure subscription id which you are using for provisioning VMs. Also, please tell us the resource group name for 2 CPU VMs which were timed out earlier. I am trying to look into telemetry to get more data.

[2018-06-11 20:21] acm74 commented on #1610
@bishal-pdMSFT I can provide this - is there a less public way I can get the details to you?

[2018-06-12 03:17] TingluoHuang commented on #1615
@JacobHenner thanks, looks like the information is a little bit out of date.
`Removing .credentials` is actually removing credential related setting files which includes `.credential` and `.credential_params`
`Removing .agent` is actually removing agent config related setting files which includes `.proxy`, `.certificates` and `.agent`.

I think i will change the string to be:
Removing credential s

[2018-06-12 05:35] bishal-pdMSFT commented on #1610
please e-mail on our customer queries alias RM_Customer_Queries AT microsoft.com

[2018-06-12 09:13] EwanNoble commented on #838
We would like to use full branch names to build linked template URIs for use with ARM templates

+1

[2018-06-12 11:51] gjonespf commented on #838
@TingluoHuang & @ericsciple any chance of a workaround for this, if a feature is not made available?  I'm aware this isn't really in the wheelhouse of the agent, but we have no visibility of the workload for the VSTS project itself (as @ChristophLindemann has mentioned it's not public).  Some way of e.g. populating as a VSTS variable, that can be pushed through to the agent?  As others have said,

[2018-06-12 13:50] TingluoHuang commented on #1386
i am going to close this issue since it's not really an agent related issue.

[2018-06-12 13:50] #1386 closed

[2018-06-12 13:54] TingluoHuang commented on #1434
close as Release not support this.

[2018-06-12 13:54] #1434 closed

[2018-06-12 13:57] TingluoHuang commented on #1457
i am going to close the issue, i don't think we want to add a variable for the LastBuildDirectoryNumber

[2018-06-12 13:57] #1457 closed

[2018-06-12 13:58] TingluoHuang commented on #1458
i am going to close the issue, please reopen if 2.124.0 agent doesn't work.

[2018-06-12 13:58] #1458 closed

[2018-06-12 13:59] TingluoHuang commented on #1465
i am going to close this issue, let us know if you need more help.

[2018-06-12 14:00] TingluoHuang commented on #1482
@Virenta i am going to close this issue, let us know if you need more help.

[2018-06-12 14:00] #1482 closed

[2018-06-12 14:04] TingluoHuang commented on #1502
@navin22 https://github.com/Microsoft/vsts-agent/blob/master/src/Agent.Worker/ExecutionContext.cs#L256
the method is not thread safe, the caller need to take lock if need.

[2018-06-12 14:04] #1502 closed

[2018-06-12 14:07] TingluoHuang commented on #1538
@peckhamm any updates? i didn't receive email from you for a well.

[2018-06-12 18:43] abbottbd commented on #1465
I'm sorry but I that check box is only an option when using TFS GIT.  We are using TFVC source control and the check box is not displayed for TFVC, so therefore I must use the variable.

[2018-06-12 18:45] TingluoHuang commented on #1465
What's your scenario? What did you run in your build?

[2018-06-12 19:17] abbottbd commented on #1465
Our scenario is that we have a build that is designed to run all of our 15k unit tests with code coverage, We do not do this during our normal CI (code coverage) because it doubles the CI build time.  This build doesn't need to get any sources, it simply picks up the output of the CI build (all the compiled code) and then executes the unit tests.  We would like to 'not' have the build download any

[2018-06-13 05:53] acm74 commented on #1610
@bishal-pdMSFT @niadak FYI today I will be rebuilding labs - I will post results of this later today.

[2018-06-13 06:34] qubuss commented on #1617
@TingluoHuang Yeah I tried lates version and it did not help. #1007 info from this don't help too.

[2018-06-13 08:00] marco-gallinari opened #1620 "Question: Can a release agent be used offline?"
We have a release pipeline up and running for our enterprise products, deploying them on Azure VMs and on-premise machines.

One of our new on-premise customers is not willing to open firewall for http/s traffic, so we're not able to add a fully functional on-premise agent to their network.

This would mean a huge step back in product delivery for us, and we are trying to find a solution to avoid

[2018-06-13 11:40] bryanmacfarlane commented on #1620
No, if they don't allow internet access, they can't use an internet exposed cloud service.  However we do offer an on premise TFS product that is the full build / release code base.  TFS is the disconnected internet solution.

[2018-06-13 11:55] bryanmacfarlane commented on #1620
Just a little backgroud - the workflow actually runs on the server / service and dishes out work to agents.

[2018-06-13 14:06] TingluoHuang commented on #1617
@qubuss can you share your agent log and system log?
agent log is under `_diag` folder of the agent root directory.
system log is under `~/Library/Log/`

[2018-06-13 16:21] mswehli opened #1622 "Build YAML definitions permissions"
on VisualStudio.com
Can you let me know if it might be possible to set permissions for who can trigger the creation of a build definition by adding a .vsts-ci.yml file when Build YAML definitions is turned on in the preview features panel.
I.e: Can anyone with push privileges for a repo upload a .vsts-ci.yaml file, which in turns creates the build definition, or does the person who checked in the

[2018-06-13 17:10] marco-gallinari commented on #1620
Thank you for your explanation!

Unfortunately, on-prem TFS installation has already been discussed and is out of scope for our customers, as we are developing our product on our own and selling it to various enterprise companies that do not have or want an on-prem installation.

I guess powershell scripting is our best option then.

Thanks

[2018-06-13 17:10] #1620 closed

[2018-06-13 21:48] Marusyk opened #1624 "FileNotFoundException when run tests in VSTS"
## Agent Version and Platform
Hosted VS2017

## VSTS Type and Version
VisualStudio.com http://deezze.visualstudio.com

## What's not working?
I got this error when I run test in VSTS

My csproj contains:
[code]
Also I tried xunit 2.3.1, but the same result.

I'm using **netcoreapp2.1** as a target framework. Some tests passed but not all. On my machine everything works fine without any errors

I'v

[2018-06-14 11:53] omeshp commented on #1584
@edudutra Is this an recurring issue for that agent? Can you share the fiddler logs from the agent machine?

Also, can you try calling the below API from agent machine and check if it works:
`https://{servername}:8080/tfs/_apis/resources/Containers/408?itemPath=drop.QA/ApiCadastro.zip&isShallow=false`

[2018-06-14 14:11] edudutra commented on #1584
Problem solved.

I inspect the fiddler logs before sharing it and I tried to call the API that actually downloads the files. It turns out that the our SonicWall firewall was somehow reporting the drop as a Trojan.

Talked to my network admin and he bypassed this specific address.

Thanks for the help.

![image](https://user-images.githubusercontent.com/4541533/41417365-84233eac-6fc3-11e8-889f-9f2e

[2018-06-14 14:11] #1584 closed

[2018-06-14 14:23] rajbos commented on #1584
Argh. I had the same error but on the hosted agent :-(

[2018-06-14 14:28] carct opened #1625 "consider eliminating svc.sh sudo requirement"
Hi,

I know that svc.sh can be run only by root, but the things is that I am able to use it only if 'sudo su' is being used before.
//this is a custom VSTS agent in Linux VM

I want to make an agent refresh via bash script and tried using the below command to stop the service:
"echo $admpass | sudo -S /my/path/VSTSagent/svc.sh stop"

also tried the command by hand from console and it is not workin

[2018-06-14 14:42] carct commented on #1625
ok, so after looking a bit around, i might have misunderstood the error.
looked into this:
https://github.com/Microsoft/vsts-agent/blob/master/src/Misc/layoutbin/systemd.svc.sh.template

the error seems to actually refer to the current path that my prompt is into, although i have stated the full path of the svc.sh script

i have now made the change but will check outcome tomorrow

[2018-06-14 15:33] omeshp commented on #1584
@rajbos Can you share logs?

[2018-06-14 15:39] Marusyk commented on #1624
Fixed 🙃. The problem was in my build configuration in this line:
` "testAssemblyVer2": "**\\*test*.dll\n!**\\obj\\**",`

where I tried to find all assemblies that contains word "test" in the name.

There are **xunit.runner.visualstudio.dotnetcore.testadapter.dll** that, of course doesn't have any tests. So, the runner was actually right when says

My fault 😕. Thanks

[2018-06-14 15:39] #1624 closed

[2018-06-14 19:28] rajbos commented on #1584
Part of it:
``
018-06-11T19:24:36.8647098Z  * [new branch]      master                  -> origin/master
2018-06-11T19:24:36.8647224Z  * [new branch]      rvo-review              -> origin/rvo-review
2018-06-11T19:24:36.8647369Z  * [new branch]      rvo/feedback-process    -> origin/rvo/feedback-process
2018-06-11T19:24:36.8851091Z ##[command]git checkout --progress --force 00000000000000000000000

[2018-06-14 22:18] omeshp commented on #1584
@rajbos This is a different issue, please open another issue with relevant details.

[2018-06-15 01:36] TingluoHuang commented on #1622
@chrisrpatterson @bryanmacfarlane

[2018-06-15 01:40] TingluoHuang commented on #1625
@carct make sure the `pwd` is `/my/path/VSTSagent` when you run the script, or add a `cd /my/path/VSTSagent`

[2018-06-15 04:30] wangfeng19890 opened #1627 "Parameter name: _gitVersion - value cannot be null"
VSTS

Agent:
On premises
Windows Server 2012 R2
Agent: 2.123.0
VS Enterprise 15.5

## What's not working?
Get Sources Task (from VSTS Git)

Sometimes when new builds are queued an error is generated during get sources phase
Retry normally fixes this.

The main issue is with scheduled builds, if these run overnight and nobody is around and we get this error then the builds fails.

The source option

[2018-06-15 06:52] carct commented on #1625
riiight i thought that so (although i don't see the reason for this need) and my last few lines from my script are like this:
cd /my/path/VSTSagent
echo $admpass | sudo -S ./env.sh
echo $admpass | sudo -S ./svc.sh stop
echo $admpass | sudo -S ./svc.sh start
echo $admpass | sudo -S shutdown -r +1 &

i still don't see all the capabilities that i should, in the past once i manually made this refresh

[2018-06-15 10:33] carct commented on #1625
still no success, tried a bunch of diff approaches that seem to execute just fine but no effect in the displayed capabilities in the agent pool\agent

[2018-06-15 13:34] TingluoHuang commented on #1625
@carct have you check the `.env` file?

[2018-06-15 13:36] TingluoHuang commented on #1625
https://docs.microsoft.com/en-us/vsts/pipelines/agents/v2-linux?view=vsts#service-update-environment-variables

[2018-06-15 13:38] carct commented on #1625
yea, i use those exact steps as sudo and with their pwd

[2018-06-15 13:50] TingluoHuang commented on #1627
@wangfeng19890 have you try latest version agent? you are using 2.123.0, the latest version is 2.134.2

[2018-06-15 13:54] TingluoHuang commented on #1627
@wangfeng19890 i am 99% sure we fixed a bug that will cause the behavior you saw.

[2018-06-15 13:55] bishal-pdMSFT commented on #1610
@acm74 I assume you used 4core VMs only.
Can you check your 2 core VMs to see if they have [KB 4103720](https://www.catalog.update.microsoft.com/ScopedViewInline.aspx?updateid=bfe22406-863a-4845-b6bd-c3f5c43e2b7a) installed? This KB contains the fix for VM agent issue. You can RDP into VM and check “Windows Installed Updates” in the Control Panel,

[2018-06-15 14:05] acm74 commented on #1610
@bishal-pdMSFT the new labs are only 4 core VMs.  Neither they nor the remaining 2 core VMs have KB4103720 installed.

Because these are Windows 10 client VMs, it's really hard to have any control over windows update.  Both 2 and 4 core VMs have updates pending.  I am going to try and get these updates installed and see if KB4103720 can be found.

[2018-06-15 14:13] bishal-pdMSFT commented on #1610
From whatever info I could get from VM/Image team, this KB will mostly make into gallery in near future - 1 week or so. But nothing in my hand. I will update you as and when I get more info.
Unfortunately, till that time you will have to keep using 4 core VMs.

[2018-06-15 14:28] acm74 commented on #1610
I will investigate next week whether I can install this directly instead.

Sent from VMware Boxer

On Jun 15, 2018 4:13 PM, Bishal Prasad <notifications@github.com> wrote:

From whatever info I could get from VM/Image team, this KB will mostly make into gallery in near future - 1 week or so. But nothing in my hand. I will update you as and when I get more info.
Unfortunately, till that time you wi

[2018-06-15 15:07] carct commented on #1625
current status:
- Fresh VM Agent shows up in the correct pool but with missing capabilities
- Set a release definition to demand one of the wrong capabilities showing up on the FreshAgent
- two tasks ("Command Line" - now supporting bash) used to be sure that env.sh has time to execute, therefore one has working directory the correct path to env.sh and it only executes one command "./env.sh"
- sec

[2018-06-15 16:42] bryanmacfarlane commented on #1625
Let's step back.  What are you trying to accomplish?  Recycle the agent running the job from inside a task?

[2018-06-16 03:30] TingluoHuang commented on #680
i am going to close this old issue. We have improved our HttpClient to be more robusted in recent agent version release.
please upgrade to latest version agent, if you still having issue, please log new issue with agent diag log.

[2018-06-16 03:30] #680 closed

[2018-06-16 03:31] TingluoHuang commented on #692
i am going to close this issue, the issue is not related to the agent itself.

[2018-06-16 03:31] #692 closed

[2018-06-16 03:33] TingluoHuang commented on #754
@plneto @nigurr is this issue still going on?

[2018-06-16 03:36] TingluoHuang commented on #810
I am going to close the issue, doesn't seems like to be a problem of the agent.
Repo for tfx-cli: https://github.com/Microsoft/tfs-cli

[2018-06-16 03:36] #810 closed

[2018-06-16 03:41] TingluoHuang commented on #866
Only [VSTest](https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/VsTestV2) task is demand "vstest" in it's task.json, and the VSTest task is [Windows Only](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/VsTestV2/runvstest.ts#L15). I don't think we need to populate `vstest` demand for Linux/Mac

[2018-06-16 03:41] #866 closed

[2018-06-16 03:43] TingluoHuang commented on #1054
i am going to close this issue, since the original problem has been solved.
we are in the process of moving the build agent to use dotnet core 2.1 which has the big benefits of getting rid of libcurl dependency on Linux/OSX.

[2018-06-16 03:43] #1054 closed

[2018-06-16 03:51] TingluoHuang commented on #898
I have read through the thread and i think folks either get their problem fixed already or opened a separate issue, i am going to close this extremely long thread.

[2018-06-16 03:51] #898 closed

[2018-06-16 03:57] TingluoHuang commented on #1159
@NickMRamirez is your original question be answered?
@RoopeshNair is the problem been fixed? i didn't see any changes to the generated config script in deployment group

[2018-06-16 04:04] TingluoHuang commented on #1406
@braingame26 i am going to close the issue since the fix should be deployed already.

[2018-06-16 04:04] #1406 closed

[2018-06-18 08:41] 199219921992 commented on #680
Thanks.

Regards,
Surendra Babu T H
surendra1992048@gmail.com <sharavan1992048@gmail.com>
9741149270

On Sat, Jun 16, 2018 at 9:00 AM, Ting <notifications@github.com> wrote:

[2018-06-18 09:54] carct commented on #1625
well yeah, because i was unable to do this from the initial provision+config of the VM agent
still unclear why it doesn't work... seems like no matter what i do, i still need to execute env.sh / svc.sh stop + start by hand

clearly i`m missing something....

[2018-06-18 21:35] TingluoHuang commented on #1607
I am going to close this issue since we can't add LFS demand at this point, it will break all existing customer who is using LFS in their build since the capability scan is done during agent process startup.
If we want to add the LFS demand, we need update all agents to latest version (with git-lfs capability scan script) to prevent not breaking existing customer.

[2018-06-18 21:35] #1607 closed

[2018-06-18 21:40] TingluoHuang commented on #1614
@carct for the docker error, if you are using the one of the inbox task, you can log issue at the task repo: https://github.com/microsoft/vsts-tasks

when you setup machine, have you follow this instruction?
https://docs.docker.com/install/linux/linux-postinstall/

BTW, is your original question got answered, are we good on closing the issue?

[2018-06-18 22:39] melezhik commented on #1604
Sorry for delay @TingluoHuang , I still suspect that culprit is Kony , let's close this ticket, if / when I found anything interspersing, I will make update

[2018-06-19 04:10] #1604 closed

[2018-06-19 13:52] TingluoHuang commented on #1585
![image](https://user-images.githubusercontent.com/1750815/41601387-5078e2aa-73a6-11e8-9611-fa670f9699df.png)

I think the problem has been fixed, i am going to close this issue. :D

[2018-06-19 13:52] #1585 closed

[2018-06-19 15:32] peckhamm commented on #1538
@TingluoHuang thank you for the help.  The Auth document is very helpful in understanding how that works and the --replace addition is perfect.  Everything is working now.  So for anyone else having an issue similar to this check the Roles on the Agent Pools.

[2018-06-19 15:57] victorperez2911 opened #1629 "VSTS Build Agents does not pick a enqueued Build"
Environment
Server - VSTS
Account Name - portalprocfit.visualstudio.com
Agent - Private:
Agent Version - 2.131.0/2.134.2
Running On Windows 10 Pro - 1709

## Issue Description

As of today, none of our agents pay build queued.

How do I diagnose this problem?

Things I've tried/checked

1) demands-although we do not make any changes regarding the demands of the build's definitions, much less in th

[2018-06-19 16:12] TingluoHuang commented on #1629
@victorperez2911 thanks for reporting this. i have asked our service team to take a look.
are those builds failed eventually (20 mins)? or it hanging there forever?

[2018-06-19 16:36] peckhamm commented on #1538
@TingluoHuang First, thank you for the help earlier today.  The --replace I think is going to be a great start.  Now the bad news, I started getting another error...  I'm wondering if you have a trick up your sleeve that might help.

##[error]System.Management.Automation.RuntimeException: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set

[2018-06-19 16:45] milbrandt commented on #1607
Would be fine for me if you could consider this demand in a nearby agent release and later on (eg with an TFS on-premise release) also in the Get Sources task. Thx.

[2018-06-19 16:51] TingluoHuang commented on #1538
@peckhamm you should be able to stop the agent windows service using `SC.exe stop <servicename>`

[2018-06-19 16:52] peckhamm commented on #1538
Perfect!  Thank you, I'll give it a shot.

[2018-06-19 17:10] peckhamm commented on #1538
@TingluoHuang that worked!  Exactly what I needed.  Thank you and I believe this issue can be closed.

[2018-06-19 17:14] TingluoHuang commented on #1538
@peckhamm cool, i am going to close this issue.

[2018-06-19 17:14] #1538 closed

[2018-06-19 17:16] TingluoHuang commented on #1520
@NickMRamirez any updates?

[2018-06-19 17:23] cmenzi opened #1630 "Run a single job and exit/unregister"
## Agent Version and Platform
Version of your agent? 2.134.2
Windows 2016 DataCenter w/ Containers

## VSTS Type and Version
https://buhlergroup.visualstudio.com

## What's not working?
We currently using Windows 2016 DataCenter w/ Containers and have another Agent (DinD) which build docker images of vsts with some additional tools on it.

After the new image is built we spin up a new docker image

[2018-06-19 17:31] victorperez2911 commented on #1629
Yes @michVSTS and @TingluoHuang

Apparently everything works now.

Tks

[2018-06-19 18:30] TingluoHuang commented on #1629
cool. i am going to close the issue.

[2018-06-19 18:30] #1629 closed

[2018-06-19 19:02] TingluoHuang commented on #1630
@bryanmacfarlane @chrisrpatterson

[2018-06-19 20:11] PaulGiletich opened #1631 "env:BUILD_SOURCEBRANCHNAME variable is populated wrong when the branch name contains slash ('/'), e.g.: feature/my-new-feature"
## Have you tried trouble shooting?
Yes

## Agent Version and Platform
Version of your agent? 2.102.0/2.100.1/...
Hosted agent
OS of the machine running the agent? OSX/Windows/Linux/...
Windows
## VSTS Type and Version
VisualStudio.com

If VisualStudio.com, what is your account name? http://account.visualstudio.com
slb1-swt
## What's not working?

env:BUILD_SOURCEBRANCHNAME envionment variable is

[2018-06-19 21:49] wsmckenz opened #1633 "Reference YAML template from another VSTS project"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
2.115

OS of the machine running the agent? Linux

## VSTS Type and Version
VisualStudio.com

If VisualStudio.com, what is your account name? http://chevron.visualstudio.com

## What's not working?

1) Repository resources. Do you have plans to al

[2018-06-19 21:55] ericsciple commented on #1633
@patrickcarnahan is variable-group-support within the yaml file rolling out with the current deployment?

[2018-06-20 00:12] vielmetti commented on #1521
Is there anything we can do to move this forward? It appears that this is a blocker for Electron development on arm64.

[2018-06-20 01:10] patrickcarnahan commented on #1633
Yes this is rolling out with our current sprint, allowing variables/variable groups both at the root level and at the phase level. The variables are an ordered list and will be applied in the order defined within the file.

[2018-06-20 02:44] NickMRamirez commented on #1520
Thank you @TingluoHuang, but this doesn't answer my questions. What I was wondering is two things (maybe it should be different issues?):

### 1. .NET Core Dependency Check
Although there *is* a dependency check for .NET Core, is there any reason not to automatically download the .NET Core installer and install it rather than only printing a message? Currently, the following message is printed:

[

[2018-06-20 03:50] bryanmacfarlane commented on #1520
@NickMRamirez - the agent is a self encapsulated net core binary (carries net core) since it updates itself.  This isn't about downloading net core dependency, it's about the OS dependencies of net core.

Yes, it installing requires sudo and config is done by the user.

That shouldn't happen.  It doesn't happen on our systems.  It's not a blocking cli.  Not sure why it's blocking on your machine.

[2018-06-20 04:00] bryanmacfarlane commented on #1520
I think the next step is to figure out why systemctl status is hanging on your machine.

[2018-06-20 04:09] NickMRamirez commented on #1520
It was happening for me (the blocking call to status) on Ubuntu Xenial. Maybe it’s different from CentOS?

[2018-06-20 13:46] tompatib opened #1634 "Build agent incorrectly selects Build Tools folder for vstest tasks when Build Tools is on the same or greater version than VS Pro"
Hi,

I'm using TFS 2017 U3 with Build Agent 2.112.1. I have installed VS Professional 15.7.4 on build servers, also I have Build Tools installed (I had to go for VS Pro due to the VsTest for 2017 was not supported in Build Tools). Lately I have updated the Build Tools to the same 15.7.4 version and since my VsTest tasks started to fail with the message:

[command]powershell -NonInteractive -Execut

[2018-06-20 14:15] TingluoHuang commented on #1634
@tompatib thanks for reporting this, i think this is task not a agent problem, can you log an issue at https://github.com/microsoft/vsts-tasks?

[2018-06-20 14:30] tompatib commented on #1634
Sure, thanks.

[2018-06-20 14:30] #1634 closed

[2018-06-20 15:26] shtratos commented on #1419
For posterity, there's uservoice item to support path filters for Github:
https://visualstudio.uservoice.com/forums/330519-team-services/suggestions/15140571-enable-continuous-integration-path-filters-for-git

[2018-06-20 15:58] wsmckenz commented on #1633
Excellent news, and yes, absolutely would like to do that.

Who do I have to bribe to get ussc up into an earlier ring?

[2018-06-20 18:39] phraustbyte commented on #1617
[Agent_20180620-183241-utc.log](https://github.com/Microsoft/vsts-agent/files/2120601/Agent_20180620-183241-utc.log)

I am having the same issue - log file is attached. I also have been through #1007 and it does not resolve.
Not sure which system log you are looking for, but I can probably post that as well.

Thanks

[2018-06-21 00:51] dakale commented on #1520
I think the SO link by @NickMRamirez covers the fix needed. @TingluoHuang to take a quick look, should be a one liner

[2018-06-21 04:00] TingluoHuang commented on #1520
#1635 i will test it before merge.

[2018-06-21 11:28] jeffrey-opdam commented on #1611
Hi Bryan,

We are making changes to our TFS environment, through a CD pipeline (TFS as well). So to be predictable and test any changes, we cannot have that our production environment updates itself.
Those change should go through DTAP as well.

[2018-06-21 17:01] wsmckenz commented on #1633
So, what about request #1? Are cross-project repository resources on the road map at all? Just trying to figure out if it is coming at some point, or really hard to do for some reason?

[2018-06-21 18:14] patrickcarnahan commented on #1633
@wsmckenz it's not that it is hard to do we just haven't implemented it yet. I will see if I can fit it in to our current sprint, which would roll out in approximately 3 weeks. If it turns out to be low risk and simple I can certainly looking at back-porting to our current rollout. I will let you know once I know more.

[2018-06-21 20:34] wsmckenz commented on #1633
Excellent, thanks for the response. Love what you guys are doing with these features.

[2018-06-22 08:59] Mertsch commented on #422
@ericsciple The Bug is back in 2.134.2

Can be "fixed" with the Map `$/Root/*` Mapping workaround, which is not really cool.

[code]

[2018-06-22 12:56] phil123456 opened #1636 "VSTS Agent - Copy Files - does chmod while "Override" option not ticked on"
## Agent Version and Platform
Where can I find the info ?

OS : Windows

## VSTS Type and Version
VisualStudio.com

## What's not working?

Using the "Copy File" task in a release, I untick "override" since I only want to update some files

but the agent does chmod on files already on the system (which is not allowed by our security team)

2018-06-19T13:03:59.9255736Z ##[section]Starting: Copy Fil

[2018-06-22 14:05] TingluoHuang commented on #1636
@phil123456 should this be an issue for the `copy files` task? i don't recall the agent did any chmod for working directory. Task Repo: https://github.com/microsoft/vsts-tasks

[2018-06-22 20:52] bryanmacfarlane commented on #1611
@jeffrey-opdam - TFS environments don't update themselves automatically - the user updates TFS.   This discussion is about VSTS which does move forward every sprint.  That's the key difference between TFS and VSTS.

[2018-06-22 21:03] bryanmacfarlane commented on #1419
@shtratos - Thanks for including

[2018-06-25 06:11] phil123456 commented on #1636
well you can see the log, it triggers an EPERM doing a chmod
is there a way to fork the copyfiles.js to use a custom one and put it on our build server ?

[2018-06-25 14:00] TingluoHuang commented on #1611
@mmajcica there is a button in UI to allow you update all agents within a pool to latest version.
Note: it will upgrade to the version your TFS server store, not the latest version from Github
![image](https://user-images.githubusercontent.com/1750815/41854551-7b535c14-785e-11e8-8cfd-9fdd9d5a79c1.png)

[2018-06-25 18:24] kannanprasad87 opened #1641 "Xcode build task fails for Subproject"
Hi Team,

I am working on VSTS builds and Hosted macOS Preview for implementing CI/CD pipeline for iOS native project.
This iOS Project is having custom frameworks added as subproject, which doesn’t require any provisioning profiles while signing, and it is mentioned in the project setting also. But while running Xcode Build task with manual provisioning profile settings, these sub projects also g

[2018-06-25 18:38] TingluoHuang commented on #1641
@kannanprasad87 please log issue to task repo for help.
https://github.com/microsoft/vsts-tasks

[2018-06-26 05:29] phil123456 commented on #1636
actualy, copying the files in the /home/vstsagent/temp/appname folder is simpler and also solves other issues

thanks, so no I know how to fork a VSTS task if needed

[2018-06-26 07:48] lqueryvg commented on #1307
So when is this likely to get fixed, and where is this being tracked ?
Also, if this is not considered to be a bug, where is this behaviour documented ?

Forcing users to *hard-code* configuration information like this is always *BAD*.

HERE IS MY USE CASE:

1. We have 2 organisations (with separate VSTS domains / projects) pointing at YAML in git in a shared repo. I.e. two VSTS, one git repo.
2.

[2018-06-26 12:03] mmajcica commented on #1611
@TingluoHuang  I am well aware of that button, but as @jeffrey-opdam explained, due to need to control the changes, I am looking to mimic that from a script so that we can deploy newer versions of the agents in predictable manner.

[2018-06-26 14:15] TingluoHuang commented on #1614
i am going to close this issue, please reopen if you need more help.

[2018-06-26 14:15] #1614 closed

[2018-06-26 14:24] #1641 closed

[2018-06-26 18:53] TingluoHuang commented on #616
have you try latest version version agent? i am wonder whether this is a limitation in dotnet core.

[2018-06-26 18:54] TingluoHuang commented on #627
I am going to close this, i think we end up with creating the work temp folder per job.

[2018-06-26 18:54] #627 closed

[2018-06-26 19:02] TingluoHuang commented on #1159
i am going to close this issue for now, please reopen if needed.

[2018-06-26 19:02] #1159 closed

[2018-06-26 19:34] TingluoHuang commented on #1259
I think this is an environment issue rather than agent issue.
the problem is in your environment, powershell is in Constrained Language Mode.

I find a doc talks about bypass the Constrained Mode in powershell, you might want to give a shut.
1. install PowerShell 2 on the machine.
2. in the Add-Capbilities.ps1, add `PowerShell -version 2` before running any statements.

https://pentestn00b.wordpre

[2018-06-26 19:34] #1259 closed

[2018-06-26 20:02] TingluoHuang commented on #1411
Steps to install agent service manually:
1. Run `bin\AgentService.exe init` from elevated commandline prompt, make sure return code is 0, this will create event log entry for the agent service.
2. Run `sc create <servicename> binPath="<youragentroot>\bin\AgentService.exe" start="delayed-auto" DisplayName="<servicedisplayname>"` from elevated commandline prompt.
3. Go to task manager find the servi

[2018-06-26 20:02] #1411 closed

[2018-06-26 20:04] TingluoHuang commented on #1437
I am going to close this issue, i think the original question has been answered. please reopen if needed.

[2018-06-26 20:04] #1437 closed

[2018-06-26 22:03] TingluoHuang commented on #1520
I am going to close this issue as the PR has been merged.
Thanks for reporting this.

[2018-06-26 22:03] #1520 closed

[2018-06-26 22:38] TingluoHuang commented on #1423
#1644

[2018-06-26 22:38] TingluoHuang commented on #1354
#1644

[2018-06-27 03:42] TingluoHuang commented on #1493
i would suggest report the problem at https://developercommunity.visualstudio.com/spaces/21/index.html since this is more like a server side improvement instead of agent issue.

[2018-06-27 03:42] #1493 closed

[2018-06-27 03:48] TingluoHuang commented on #1465
@abbottbd try set `agent.source.skip= true` in your definition see whether that works.

[2018-06-27 03:52] TingluoHuang commented on #1468
Closing this one as the issue is related to command line task.

[2018-06-27 03:52] #1468 closed

[2018-06-27 05:31] simonhaenisch opened #1645 "Why are environment variable names converted to uppercase?"
## Agent Version and Platform

Hosted macOS Preview

## VSTS Type and Version

VisualStudio.com

## What's not working?

I was trying for hours to figure out why my environment variables weren't picked up by my tests on VSTS on a hosted macOS, until I printed them out...

Setting them in the "Variables" tab of the build definition:

![image](https://user-images.githubusercontent.com/3410759/419542

[2018-06-27 05:59] lxkbest opened #1646 "VS30063: You are not authorized to access"
## VS30063: You are not authorized to access http://[tfs host]:8686. ?

 what's meaning?? did not see the required validation information?? where is wrong

[2018-06-27 06:20] angrox commented on #1423
Thanks a lot @TingluoHuang. Closing this issue with fix in #1644

[2018-06-27 06:20] #1423 closed

[2018-06-27 07:41] plang85 opened #1647 "Bad substitution error on yaml template expansion"
## Have you tried trouble shooting?
yes

## Agent Version and Platform
2.134.2, CentOS 7

## VSTS Type and Version
VisualStudio.com

## What's not working?
I have a yaml definition
[code]
referencing this template
[code]
erroring with bad substitution of the variable
[code]
Did I miss anything?

[2018-06-27 08:16] DerGary opened #1648 "Agent.JobName for Builds changed from "Build" to "Release""
## Agent Version and Platform
Version of your agent? 2.134.2

OS of the machine running the agent? Windows

## VSTS Type and Version
VisualStudio.com

If VisualStudio.com, what is your account name? http://dev-fg.visualstudio.com

## What's not working?
Agent.JobName for Builds is now somehow "Release" instead of "Build", we didn't change anything. The Problem first appeard today with agent versio

[2018-06-27 08:30] plang85 opened #1649 "Tag exclusion in yaml trigger definition"
## Have you tried trouble shooting?
yes

## Agent Version and Platform
2.134.2, CentOS 7

## VSTS Type and Version
VisualStudio.com

## What's not working?
I have a yaml definition
[code]
which runs in CI mode by default (ie leaving trigger settings in vsts ui alone). It fails to ignore the tag and try to build it

![tag error](https://ixdev.blob.core.windows.net/cache/trigger-tag-0.png)

however

[2018-06-27 11:14] bryanmacfarlane commented on #1646
Can you please add more context?  What we're you doing when that error was returned?  What log?  A task?  Configuring the agent?

[2018-06-27 14:08] TingluoHuang commented on #1645
@simonhaenisch By design, the agent replace `.` with `_` and `toUpper()` every definition variables when it run every task.
The new Commandline task allow you provide lowercase environment variables.
![image](https://user-images.githubusercontent.com/1750815/41979411-0d505a60-79f2-11e8-8d7b-dcf426a81057.png)

[2018-06-27 14:13] TingluoHuang commented on #1647
@ericsciple looks like template parameters is not get expanded?

[2018-06-27 14:20] sheldonhull commented on #691
@bryanmacfarlane @TingluoHuang  following up a while later. Hoping you can clarify if this was ever completed or any general idea of timeframe. Would like to ensure my on-prem agents are updated without all the scripted workaround I've had to use. A chocolately package or feed url for direct download of latest would simplify it a lot, vs parsing github release listing to match with regex. thanks!

[2018-06-27 14:23] TingluoHuang commented on #1648
@DerGary
why you are using ##vso[release.updatereleasename] in a build?
[code]

[2018-06-27 14:29] TingluoHuang commented on #1649
@plang85 can you make it work with a pure designer build definition?

[2018-06-27 14:29] TingluoHuang commented on #1649
i am trying to figure out whether this is YAML problem or it's a generic limitation for the build system.

[2018-06-27 15:12] HppZ commented on #461
There is no SQLite for Universal Windows Platform in VSTS so how to install it?
Check this link below:
https://marketplace.visualstudio.com/search?term=sqlite&target=VSTS&category=All%20categories&sortBy=Relevance

[2018-06-27 15:19] bryanmacfarlane commented on #691
@sheldonhull - it's schedule for the next sprint as we're targettng next major release of on prem TFS.

[2018-06-27 16:40] Ryanman commented on #1631
Not part of the team, but if you view the [build variables](https://docs.microsoft.com/en-us/vsts/pipelines/build/variables?view=vsts&tabs=batch) link you can see you don't want to use Build.SourceBranchName. You want to use Build.SourceBranch and remove the "ref/" part of the SourceBranch. This is so people can use branch folders and get the actual name.

[2018-06-27 16:50] Ryanman opened #1651 "Branch Policy Exemption for Build Agent not working"
## Have you tried trouble shooting?
Yes, a huge amount

## Agent Version and Platform
1.105.6 , OS = Windows

## VSTS Type and Version
TFS 2017 R2

## What's not working?
As part of a TFS 2017 R2 CI build definition, I'm trying to merge commits from one branch to another. If you can imagine a bugfix in a test environment being added, then as part of the build def I run some git commands to merge t

[2018-06-27 16:59] TingluoHuang commented on #1651
@Ryanman why you are using `1.105.6` agent? it would be super easy to archive your goal with 2.x agent, which is agent we released with TFS 2017 RTM.

[2018-06-27 19:29] Ryanman commented on #1651
@TingluoHuang , this is the version number specified in the Capabilities view on the Agent pool. However these agents would not be able to be connected to TFS2017 correct? I may have misrepresented the version number. Where is the correct one?

Are there any significant changes in which accounts an agent uses or how it handles AD/TFS Permissions between the versions?

[2018-06-27 21:59] simonhaenisch commented on #1645
I actually was aware that the variables were working within the command line task settings (I tried that during my debugging), however I need the same variables for multiple tasks and that is unmaintainable that way.

Would be nice if that was at least mentioned somewhere in the docs I linked. Might help other developers waste hours on debugging this (and maybe they won't hate Microsoft after all)

[2018-06-27 22:13] TingluoHuang commented on #1651
https://docs.microsoft.com/en-us/vsts/pipelines/scripts/git-commands?view=vsts

[2018-06-27 22:14] TingluoHuang commented on #1651
Auth flow for 2017 or above with 2.x agent.
https://github.com/Microsoft/vsts-agent/blob/master/docs/design/auth.md

[2018-06-27 22:55] bryanmacfarlane commented on #1645
Answered

[2018-06-27 22:55] #1645 closed

[2018-06-28 06:23] DerGary commented on #1648
I have the following code in my build task, and until now it worked as expected. And we didn't change the build definition it always used the multi config with release as Build Configuration.

[code]

[2018-06-28 08:06] plang85 commented on #1649
If I define the whole thing in the UI and have the branch filter set to master it works as expected (ignores any pushed tags)

[2018-06-28 13:22] TingluoHuang commented on #1648
@DerGary you should use `SYSTEM.HOSTTYPE` = Release/Build to branch your logic, Agent.JobName can be anything you set on the UI.

[2018-06-28 13:42] TingluoHuang commented on #1649
@plang85 do you means if your YAML looks like:
[code]
it will also trigger on tag?

[2018-06-28 14:11] DerGary commented on #1648
Ok I will use this variable now but agent.jobname worked until now.

[2018-06-28 14:11] #1648 closed

[2018-06-28 14:13] TingluoHuang commented on #1648
@DerGary are you doing multi-configuration build before?

[2018-06-28 14:58] ericsciple commented on #1647
try this:
[code]

or this:
[code]

the first example may not work yet, depending on which scale unit your account is located in.

currently the template expressions must be the whole value.

[2018-06-28 15:12] TingluoHuang commented on #1354
Close this issue, the next agent release will contains an assets.json file which contains agent download info.

[2018-06-28 15:12] #1354 closed

[2018-06-28 15:12] #572 closed

[2018-06-29 01:36] lxkbest commented on #1646
@bryanmacfarlane Yes Configuring the agent [https://coding.net/u/lxkbest/p/SexyColor_Document/git/blob/master/%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20180629092933.png](url)

[2018-06-29 01:33:57Z INFO AgentProcess] Agent is built for Windows - win7-x64.
[2018-06-29 01:33:57Z INFO AgentProcess] RuntimeInformation: Microsoft Windows 10.0.16299 .
[2018-06-29 01:33:57Z INFO AgentProcess] Version: 2.105

[2018-06-29 02:03] TingluoHuang commented on #1646
@lxkbest looks like your `Integrate` auth is not work with your TFS server, can you access your TFS website from browser on the same machine as same user?

[2018-06-29 05:22] vovikdrg opened #1655 "Yaml build fails if missing variable with wrong error message"
## VSTS Type and Version
VisualStudio.com

## What's not working?
Create new build and point to build.yml
`steps:
- task: PublishBuildArtifacts@1
  displayName: Publish ArmTemplate
  inputs:
    PathtoPublish: '$(UndefinedVariable)\net461'
    ArtifactName: Arm
`

If UndefinedVariable is not added to build variables it will fail with exception

**Could not find a queue with id ID. The queue does n

[2018-06-29 07:13] guolinke opened #1656 "Badge for Github repo, with YAML"
I cannot find the badge link for github, with YAML.
However, it seems your repo support that badge.
How do i enable it for my own repo ?

[2018-06-29 07:30] guolinke opened #1657 "error with multi-line script"
I met a strange when using multi-line script:
![image](https://user-images.githubusercontent.com/16040950/42079051-3ec4e140-7bb1-11e8-91e6-1f096e9abc79.png)

script:
[code]

line 36 is `export LGB_VER=$(head -n 1 VERSION.txt)`

[2018-06-29 07:31] lxkbest commented on #1646
@TingluoHuang I Can ，browser may auth, but agent may not

[2018-06-29 07:36] guolinke opened #1658 "freeze when calling conda install in Linux agent"
when I run ```conda install numpy nose scipy scikit-learn pandas matplotlib pytest``` in Linux agent (already set conda environment), the build stuck, and then being killed due to time-out (1 hour).

Switching to `pip` has not such a problem.

[2018-06-29 07:42] guolinke opened #1659 "freeze when calling ``sudo apt-get install libboost-all-dev``"
the same as #1658 .
![image](https://user-images.githubusercontent.com/16040950/42079696-ef02bdd8-7bb2-11e8-985f-1e833eb93053.png)

[2018-06-29 08:21] DuncanMillard opened #1660 "Any reliable supported/long-term way to take advantage of AGENT_ALLOWALLSECUREFILES?"
## Agent Version and Platform
Version of your agent? 2.134.2
OS of the machine running the agent? Windows

## VSTS Type and Version
VisualStudio.com
If VisualStudio.com, what is your account name? http://easplatform.visualstudio.com

## What's not working?
I'm trying to create a custom deployment task that will let me download an arbitrary secure file at run time, rather than having to select it f

[2018-06-29 09:53] nphmuller commented on #1547
@moswald Any info about that new feature you mentioned? Sounds like exactly what I need.

[2018-06-29 10:29] moswald commented on #1547
It's available now: you can create a variable at the definition level or in a yaml file with `$[ counter('name', seed) ]` as the expression value, and it will be incremented each build. `name` and `seed` are optional.

[2018-06-29 11:52] nphmuller commented on #1547
Cool! :)
Any official documentation available? Or is it still in the pipeline?

[2018-06-29 13:01] plang85 commented on #1647
#2 did the trick, it just needs to say `env` instead of `environment`
Thanks - as always any updates on this in the sprint blog are much appreciated

[2018-06-29 13:01] #1647 closed

[2018-06-29 13:20] TingluoHuang commented on #1659
@guolinke add  `-y` to your `apt install`, you are getting prompt for `Do you want to continue? [Y/n]`

[2018-06-29 13:22] TingluoHuang commented on #1658
similar to the other issue, try find the argument to do unattended installation.
https://stackoverflow.com/questions/34644612/conda-silently-installing-a-package

looks like also add `-y`

[2018-06-29 14:00] ericsciple commented on #1656
@moswald

[2018-06-29 14:04] TingluoHuang commented on #1646
@lxkbest you might want to capture http trace from the agent.
https://docs.microsoft.com/en-us/vsts/pipelines/troubleshooting?view=vsts#http-trace-logs

[2018-06-29 14:05] ericsciple commented on #1657
you need to indent the content, like this:
[code]

[2018-06-29 14:35] TingluoHuang commented on #1655
@vovikdrg you must have some syntax error before and you fixed it in your yaml file. However the definition is not reflect the latest change, so you get that weird error.
try make a meaningless edit to your definition and save it (like change `system.debug` to true).
this should unblock you, we are working on a fix for this issue.

[2018-06-29 14:48] vovikdrg commented on #1655
@TingluoHuang Sorry if forgot to mention that i've fixed that simply by adding variables. But I spend some time because of wrong error message which was saying nonsense.

[2018-06-29 15:09] ericsciple commented on #1655
thanks for confirmation. we're working on a fix

[2018-06-29 15:09] #1655 closed

[2018-06-29 15:14] moswald commented on #1547
[This PR](https://github.com/Microsoft/vsts-agent/pull/1489) covers the documentation, but it's a little out of date (the `prefix` parameter is no longer automatically added to the counter as a prefix, and is just the counter name, now).

[2018-06-29 15:18] moswald commented on #1656
We are adding the UX to expose the badge links in the next sprint, but for now you can generate it yourself:

`https://<your account>.visualstudio.com/<your project>/_apis/build/status/<path/to/definition>&branchName=optionalBranchName`

The path to your definition is optional, it's only necessary if you have definitions with the same name in different folders. You can also use the definition's ID

[2018-06-29 15:18] #1656 closed

[2018-06-29 16:08] Ryanman commented on #1651
Those links are helpful, and what I used as a basis for trying to get this to work.

Some notes about the solution to the problem:

- The user that powershell scripts/build agents are executing as is a fairly useless piece of information. Instead, you want to use the command "git config user.name" to see what _git credentials_ are being used.
- The reason is that regardless of what user is executi

[2018-06-29 16:08] #1651 closed

[2018-06-29 18:01] TingluoHuang commented on #1660
@DuncanMillard we won't support AGENT_ALLOWALLSECUREFILES in the future, for security reason we don't allow any task to access secret information it doesn't reference to.

[2018-06-29 20:01] nschonni opened #1661 "PowerShell task "Access is denied" from Symantec false positive"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)
Yes

## Agent Version and Platform
Version of your agent? 2.122.1

OS of the machine running the agent? Windows 7

## VSTS Type and Version
On-Prem TFS?

If On-Prem TFS, which release? TFS 2017.3.1

If VisualStudio.com, what is your account name? http://account.visualstudio.com

[2018-06-29 20:02] nschonni commented on #1661
I'm more sharing this in case someone else hits it, since the error when this happens is pretty hard to figure out. I don't even know if giving a different error message for this would even be possible.

[2018-06-29 22:32] ccollins1973 commented on #572
New sh script looks perfect, thanks for following up with this.

[2018-06-29 23:43] MattGal commented on #1661
+1, we see this regularly from  the ProcessInvoker trying to start 'C:\Windows\system32\cmd.exe' as well.

[2018-06-30 00:28] guolinke commented on #1659
Thanks very much ! I didn't notice that since `Do you want to continue? [Y/n]` is shown after cancelling.

[2018-06-30 00:28] #1659 closed

[2018-06-30 00:33] guolinke commented on #1658
Thanks, it is working now !

[2018-06-30 00:33] #1658 closed

[2018-06-30 00:56] guolinke commented on #1657
Thanks Very much!

[2018-06-30 00:56] #1657 closed

[2018-06-30 01:11] guolinke opened #1662 "Conda environment for macOS(Hosted macOS Preview) and Windows (Hosted)"
it seems both "Hosted macOS Preview" and "Hosted" agents didn't support conda:

[code]

[2018-06-30 03:30] TingluoHuang commented on #1662
@guolinke
please log an issue in the following repro.

- [Hosted Agent Image Repository](https://github.com/Microsoft/vsts-image-generation) - contains the VM image used in the VSTS Hosted Agent Pool. If you are having Build/Release failures that seems like they are related to software installed on the Hosted Agent (e.g. the DotnetSDK is missing or the AzureSDK is not on the latest version) please

[2018-06-30 03:30] #1662 closed

[2018-06-30 03:39] nschonni commented on #1661
I'll look when I'm back in the office next week, but it looks like that is the behaviour still for the 2017.3.1 agent https://github.com/Microsoft/vsts-agent/blob/v2.122.1/src/Agent.Worker/Handlers/PowerShellExeHandler.cs#L89-L92
I did also try the latest 2.136.0 agent and got the same result, but that may be a difference between the selectable version in TFS vs the agent. It does appear to have t

[2018-06-30 16:12] guolinke commented on #1656
Thanks, I can generate the badge now.
However, that is only a icon, can I get the link to the build log for that icon ?

[2018-06-30 18:19] moswald commented on #1656
Yes:
https://<your account>.visualstudio.com/<your project>/_build/latest?definitionId=<id>

Unfortunately, you have to use the definition's ID for this, but this is an oversight we'll address in a future release.

[2018-07-02 03:17] lxkbest commented on #1646
@TingluoHuang thank you，but anonymous authentication has been turned on , The same error will occur
VS30063: You are not authorized to access

[2018-07-02 04:00] TingluoHuang commented on #1646
@lxkbest You need to capture Http trace, so we can figure out why `Integrate` auth doesn't work.
https://docs.microsoft.com/en-us/vsts/pipelines/troubleshooting?view=vsts#http-trace-logs

[2018-07-02 07:34] DuncanMillard commented on #1660
Completely understandable, @TingluoHuang . It would be great if there was a way to request a specific secure file being available in the agent... not having to select from a UI at run time, but being able to specify something like SSL_$(CustomerName)_Certificate.pfx - but I guess that's not part of the Agent codebase so not an issue for this repo.

Thanks for the reply.

[2018-07-02 07:34] #1660 closed

[2018-07-02 09:12] lxkbest commented on #1646
@TingluoHuang Use fiddlet http tool, Request status code 401.  There is nothing wrong status code, Authorization does not appear.
Request the address : http://192.168.1.66:8686/tfs/_apis/connectionData?connectOptions=1&lastChangeId=-1&lastChangeId64=-1
[https://raw.githubusercontent.com/lxkbest/SexyColorCore/master/%E5%BE%AE%E4%BF%A1%E6%88%AA%E5%9B%BE_20180702165150.png](url)
[https://raw.githubus

[2018-07-02 13:56] TingluoHuang commented on #1646
@lxkbest can you save your Fiddler trace and send it to me? `tihuang @ microsoft.com`

[2018-07-02 14:26] #1590 closed, assigned to TingluoHuang

[2018-07-02 16:21] TingluoHuang commented on #1547
The scope of this issue is not related to the agent repository, the agent just make a REST api call to VSTS Build REST endpoint, i am going to close this issue.

[2018-07-02 16:21] #1547 closed

[2018-07-02 18:36] ericsciple commented on #1649
I hit an exception when attempting to repro this: `Expected a Commit, but objectId e0e48f6a41f99e979256f27a9177c791e8dabb9c resolved to a Tag`

I'll dig in more later today.

[2018-07-03 02:50] lxkbest commented on #1646
@TingluoHuang OK, No problem, This is my email lxkbest@qq.com.  Please check Email

[2018-07-03 07:02] wangfeng19890 commented on #1627
@TingluoHuang  I am very sorry to tell you that this bug is still happening even thought we already update the agent to latest version 2.134.2. Actually, we scheduled a build to run every morning, and this error happened many times.

[2018-07-03 09:29] plang85 commented on #1649
Somewhat related
https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/suggestions/13326927-trigger-build-when-pushing-tag-to-git

[2018-07-03 12:32] TingluoHuang commented on #1627
@wangfeng19890 can you run `<youragentroot>\externals\git\cmd\git version` from your agent machine and see what you get?

[2018-07-03 13:57] DerGary commented on #1648
yes i didn't change anything

[2018-07-03 14:50] nschonni commented on #1661
Confirmed that we are running the V1 PowerShell task since that is what ships with 2017

[2018-07-03 17:20] nschonni commented on #1661
Looks like the latest virus defs might have unflagged this. I'll close in a few days if it looks resolved again

[2018-07-04 03:28] wangfeng19890 commented on #1627
@TingluoHuang  Yes, just now I run this command and get **git version 2.14.1.windows.1** So, is it correct? What should we get?

[2018-07-04 03:32] TingluoHuang commented on #1627
@wangfeng19890  that is expected. Do you have access to your build machine? can you share your agent diag log with me?
the log is under `<youragentroot>\_diag`, you can zip the entire folder and send to `tihuang @ microsoft .com`

[2018-07-04 04:01] TingluoHuang commented on #1627
@wangfeng19890 also, how frequently are hitting this issue? it would be great if you have consistent repro.

[2018-07-04 08:43] drewkg opened #1664 "Powershell Task V2 : - ##[error]Container path not found: 'C:\VSO\Build1\_temp'"
## Have you tried trouble shooting?
Yes

## Agent Version and Platform
2.134.2 & 2.133.4
 Windows 10 RS3

## VSTS Type and Version
VSTS

## What's not working?
2018-07-04T00:09:21.7897558Z ##[section]Starting: Init Crash Dump processing
2018-07-04T00:09:21.7900963Z ==============================================================================
2018-07-04T00:09:21.7901158Z Task         : PowerShell

[2018-07-04 14:22] enzigma-sandip-tekule opened #1665 "vsts could not fetch submodule added in git repo."
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 2.102.0/2.100.1/...

OS of the machine running the agent? OSX/Windows/Linux/...

## VSTS Type and Version
VisualStudio.com or On-Prem TFS?

If On-Prem TFS, which release? 2015 RTM/QU1/QU2/...

If VisualStudio.com, what is yo

[2018-07-04 14:38] TingluoHuang commented on #1664
@drewkg can you share your full build log? also do you know what is that error means `Container path not found: 'C:\VSO\Build1_temp'`? it doesn't looks like a error that agent thrown.

[2018-07-04 14:40] TingluoHuang commented on #1665
@enzigma-sandip-tekule can you share more info? like definition screenshot, build log, etc.
![image](https://user-images.githubusercontent.com/1750815/42283142-91635256-7f76-11e8-858d-26aaa3f52723.png)

[2018-07-04 17:09] enzigma-sandip-tekule commented on #1665
yes, I did that and I can see on build log that vsts is fetching the submodule successfully.then why there is no folder of submodule inside the main repo containing the code of sub-repo code. The sub-module also contains the solution file.
![2018-07-04](https://user-images.githubusercontent.com/22955462/42289062-23a820e2-7fdb-11e8-9aeb-a3a57f877724.png)

[2018-07-05 02:04] TingluoHuang commented on #1665
@enzigma-sandip-tekule can you share your full build log? you can also try run those git commands that `Get Sources` step use on your own machine, see whether the out come are expected.

[2018-07-05 06:55] alexiffland commented on #1618
@TingluoHuang @bryanmacfarlane @chrisrpatterson do you have any new information about this topic?

We also thought about a possibility to decouple the build-tasks from vsts/tfs e.g. with fetching them from nuget-packages? Do you think something like that will be possible in the future?

Thanks,
Alex

[2018-07-05 12:34] fleed commented on #838
That would be really helpful to identify NuGet packages coming from features, hotfixes, etc. using semantic versioning

[2018-07-05 13:00] tomaszgawlik opened #1666 "Using YAML build definition, have the ability to set build number format"
## Agent Version and Platform
Hosted VS2017 Windows. But I suspect that this request is for every agent type.

## VSTS Type and Version
VisualStudio.com

##Issue
While creating the build definition manually, I have an option to set build number format using Option tab:
![image](https://user-images.githubusercontent.com/12712794/42324529-59a6c22c-805b-11e8-82c7-6c4fa9269060.png)

Currently, in YAML

[2018-07-05 14:12] tomaszgawlik commented on #1666
@simonvane yes that did the trick. thank you for your quick response!

[2018-07-05 14:12] #1666 closed

[2018-07-05 19:34] ericsciple commented on #1549
we're working on it now. we work in 3 week sprints, so it should start rolling out across our production environments in a few weeks

[2018-07-06 03:48] guolinke opened #1669 "Auto Release to "GitHub Release""
Both Travis and Appveory support to release back to github: https://docs.travis-ci.com/user/deployment/releases/

However, I cannot find this feature in vsts-ci, from the document.
Is this feature available ?

[2018-07-06 03:51] TingluoHuang commented on #1669
here are few github extensions i found in market place, i guess some of them can handle create github release.
https://marketplace.visualstudio.com/search?term=github&target=VSTS&category=All%20categories&sortBy=Relevance

[2018-07-06 04:05] TingluoHuang commented on #1646
@lxkbest any luck with your config?

[2018-07-06 04:09] ericsciple commented on #1649
@plang85 when you tried, did you get a similar error that I did? i'm fixing that, but want to confirm whether you are running into a different issue.

[2018-07-06 04:16] guolinke commented on #1669
Thanks so much! one more question: can yaml use these packages?

[2018-07-06 04:17] TingluoHuang commented on #1669
you can, as long as the task has installed to your VSTS account.

[2018-07-06 04:37] TingluoHuang commented on #1669
are we good on close this issue?

[2018-07-06 05:22] guolinke commented on #1669
yeah, sure.

[2018-07-06 05:22] #1669 closed

[2018-07-06 10:15] kxxt commented on #1521
Does dotnetcore support arm64 now?
I found this url , and tried it :
https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.300-linux-arm64-binaries

I can run dotnetcore apps which I complied on Windows , but when I tried to build a helloworld app , an error occured:
"error MSB6006: "csc.dll" exited with code 139"

#26505

[2018-07-06 13:06] TingluoHuang commented on #1521
https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md#linux
dotnet core haven't support ARM64 yet, but i think you can run the 32 bit app on ARM64 device.

[2018-07-06 13:33] TingluoHuang commented on #1521
@vielmetti understand, but that problem is not scope to this repo, we rely on dotnet core on OS support.
there are lot of issues at dotnet repo around ARM64, https://github.com/dotnet/core/search?q=arm64&type=Issues
From what i know, the fully ARM64 support work in dotnet core haven't finished yet.

[2018-07-06 14:31] ericsciple opened #1671 "Failure when pre-execution handler + filePath input + tfvc"
Tasks with a pre-execution handler and ‘filePath’ inputs, fail on tfvc. When the job runs, the prejobexecution tries to resolve the filepath provided and fails. For example:

[code]

 This resolution should be skipped if the sources don't exist yet when the pre-execution handler runs.

[2018-07-06 14:43] simonvane opened #1672 "YAML resources documentation is unclear"
## Have you tried trouble shooting?
yes

## Agent Version and Platform
Hosted VS2017

## VSTS Type and Version
VisualStudio.com

## What's not working?
When build definition is exported using "View YAML" the following is included:

[code]

This does not match what is described in https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-resources.md

Additional, it is unc

[2018-07-06 14:50] simonvane opened #1673 "Exported YAML not valid - "Unexpected value 'condition'""
## Have you tried trouble shooting?
yes

## Agent Version and Platform
Hosted VS2017

## VSTS Type and Version
VisualStudio.com

## What's not working?
When build definition is exported using "View YAML" the following is included:

[code]

If I try to create a build using the exported yaml this results in the following error: "Unexpected value 'condition'"

Removing "condition: succeeded()" resolv

[2018-07-06 14:56] simonvane opened #1674 "Exported YAML not valid - "Mapping values are not allowed in this context""
## Have you tried trouble shooting?
yes

## Agent Version and Platform
Hosted VS2017

## VSTS Type and Version
VisualStudio.com

## What's not working?
When build definition is exported using "View YAML" the following was included:

[code]

If I try to create a build using the exported yaml this results in the following error: "Mapping values are not allowed in this context"

Wrapping the displayN

[2018-07-06 14:57] plang85 commented on #1649
Thanks for looking into this. I get the same error, yes. However I would like to exclude any tags to be build, and I was not able to find the right yaml syntax for than.

[2018-07-06 15:17] TingluoHuang commented on #1674
@MireilleHanna is working on a fix for this.

[2018-07-06 15:17] TingluoHuang commented on #1673
@MireilleHanna is working on a fix for this.

[2018-07-06 15:22] simonvane opened #1675 "Exported YAML not valid for powershell task"
## Have you tried trouble shooting?
yes

## Agent Version and Platform
Hosted VS2017

## VSTS Type and Version
VisualStudio.com

## What's not working?
When build definition is exported using "View YAML" the following was included:

[code]

There are no arguments specified in the UI. I think it should have been:

[code]

[2018-07-06 15:24] ethomson opened #1676 "Support building from tar.gz"
## Agent Version and Platform
Agent version: 2.136.1, using the tar.gz package from https://github.com/Microsoft/vsts-agent/releases/tag/v2.136.1

Machine: Linux amd (Raspberry Pi 3+) running Raspbian.  Linux 4.14.52-v7+ armv7l

## What's not working?
Builds fail; they look for information (the version information?) in the git repository.  Since this source tree was expanded from a tarball instead

[2018-07-06 15:24] TingluoHuang commented on #1675
@mireillehanna FYI,

[2018-07-06 15:29] simonvane opened #1677 "Exported YAML not valid - "While parsing a block mapping, did not find expected key.""
## Have you tried trouble shooting?
yes

## Agent Version and Platform
Hosted VS2017

## VSTS Type and Version
VisualStudio.com

## What's not working?
When build definition is exported using "View YAML" the following was included:

[code]

Using it to create a build resulted in the error "While parsing a block mapping, did not find expected key." Changing the indenting to the following resolved t

[2018-07-06 15:29] TingluoHuang commented on #1676
@ethomson does it normal people build from source release? the pattern we used is learned from dotnet core. we try to bake the commit sha into source code, so customer can see which commit their agent package built from.

[2018-07-06 15:33] bryanmacfarlane commented on #1676
yeah, we don't support building from the tar ball.

https://github.com/Microsoft/vsts-agent/blob/master/docs/contribute.md

[2018-07-06 15:34] bryanmacfarlane commented on #1676
If the goal is to build 136 then clone the commit in this release tab:  https://github.com/Microsoft/vsts-agent/releases/tag/v2.136.1

[2018-07-06 15:35] ethomson commented on #1676
In @libgit2, we definitely have a lot of people who take a tarball instead of a git repository.

This may not be a typical use case for people who want to contribute to the vsts-agent, but starting with a release tarball is the obvious getting-started scenario for people who just want to create a build to use for themselves.  (Example: there's no binaries for their platform, like Linux ARM.)

[2018-07-06 15:35] simonvane opened #1678 "Exported YAML does not work with process parameters."
## Have you tried trouble shooting?
yes

## Agent Version and Platform
Hosted VS2017

## VSTS Type and Version
VisualStudio.com

https://1id.visualstudio.com

## What's not working?
When build definition is exported using "View YAML" and the build uses Process Parameters comments like the following are included. It is unclear what the best course of action is:

[code]

[2018-07-06 15:41] simonvane commented on #1675
Thanks @ericsciple. I have it working without the leading dot. Should I be adding that back in? What is it's purpose?

[2018-07-06 15:53] ericsciple commented on #1675
Oh sorry, I misread the syntax. Without the leading dot works in your case.

We use it to dot source the file, so we can wrap the file name in a string and avoid quoting problems.

I'm still confused where the `true` is coming from. Can you provide a screenshot of your inputs in the designer definition?

[2018-07-06 15:53] TingluoHuang commented on #1678
@mireillehanna

[2018-07-06 15:53] TingluoHuang commented on #1677
@mireillehanna

[2018-07-06 19:50] 4c74356b41 commented on #1307
@ericsciple hey, any ideas why the same issue could happen when I'm trying to use templates? when i put everything in 1 file it is working with the above mentioned hack. thanks

[2018-07-06 20:09] ericsciple commented on #1307
@ggirard07 GA is the plan. I don't have a specific date

[2018-07-06 20:10] ericsciple commented on #1307
@lqueryvg [templates](https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-templates.md) is the answer

[2018-07-06 20:13] 4c74356b41 commented on #1307
@ericsciple but they dont work with authorization :)

[2018-07-06 20:15] ericsciple commented on #1307
@4c74356b41 I would expect this to work, even when using templates:

[code]

If that doesn't work, I'll see if I can get a repro.

We have a better experience in the web landing soon to authorize resources. Sometime in the next month or so I hope it will be rolled out everywhere.

[2018-07-06 20:30] 4c74356b41 commented on #1307
@ericsciple

I'm using the Hosted Linux Preview agent
I'm using GitHub as source control
I'm doing test on develop and master, similar behavior.
My .yml file is not in the root folder
It's working fine via the Build Definition UI (so not using yaml)
It's working fine if its not using templates (so everything in 1 yaml).

Sample yaml:
[code]

[2018-07-06 21:30] ericsciple commented on #838
@gjonespf We have evaluated this in the past and made the determination not to change the existing variable. That’s not to say we won’t change it, but I imagine that likelihood to be very, very low especially given how many years this behavior has existed.

There are use cases for just the very last segment (e.g. releases/m123, and just the milestone component is required).

In your scenario it so

[2018-07-07 04:41] lqueryvg commented on #1307
@ericsciple

How can templates be the answer ?

I hope you are not suggesting that people write
a separate template for each possible service endpoint.

This goes against the whole idea of using variables.

This issue quite clearly needs to be fixed.

[2018-07-07 05:07] ericsciple commented on #1678
you will need to define the value in a different way. process parameters don't work with yaml. we have a different plan for the yaml-equivalent for process parameters

[2018-07-07 05:07] #1678 closed

[2018-07-07 05:13] ericsciple commented on #1672
I agree. We are currently working through changes around checkout and repositories.

In short, use the [checkout options](https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-checkout.md) to control whether to `clean`

[2018-07-07 05:13] #1672 closed

[2018-07-07 05:35] simonvane commented on #1678
Hi @ericsciple,

Thanks for the update but I don't think this should be closed.

My basic expectation is that exported YAML should be usable to create a working build. I should never get invalid or incomplete YAML.

It's fine that  process parameters are not supported  in YAML. An alternative to exporting broken YAML might be to create variables for each of the process parameters. They could have

[2018-07-07 05:36] ericsciple commented on #1307
@lqueryvg for the scenario you specified:

you can put the template in the shared repo, and use parameters to pass the endpoint name to the template.

[2018-07-07 05:40] ericsciple commented on #1630
@TingluoHuang it sounds like the feature to specify the container image to use would solve this scenario. Do we have docs for that?

[2018-07-07 05:47] simonvane commented on #1675
Thanks @ericsciple, here's a screenshot.

![capture](https://user-images.githubusercontent.com/1423185/42407308-8ec54378-81b1-11e8-9396-3b525415820b.PNG)

[2018-07-07 06:04] ericsciple commented on #1678
@vijayma @mireillehanna regarding process parameter feedback

[2018-07-07 06:07] ericsciple commented on #1678
I've sent an email to Vijay and Mireille also. Export to yaml is performed by the server side, so closing the issue here. I believe the current behavior is how it was intentionally designed. I'll defer to Vijay/Mireille to consider the feedback.

[2018-07-07 06:37] ericsciple commented on #1675
Thanks, I confirmed this reproduces on master. I opened a bug internally and assigned it to the appropriate team. I'm closing the work item here since the View Yaml bugs aren't tracked in this repo.

[2018-07-07 06:37] #1675 closed

[2018-07-07 06:39] ericsciple commented on #1677
this doesnt repro on master for me, so i think this might be fixed but not rolled out everywhere yet. monday i'll check with mireille

[2018-07-07 06:40] lqueryvg commented on #1307
@ericsciple

Right, so you *are* suggesting that we write a separate template for each service endpoint.
As I said, this goes against the whole idea of using variables and the problem still stands.

As as DevOps engineer I understand the importance of being able to separate code from configuration. Creating separate templates (code) for every service endpoint (configuration) is obviously not a pro

[2018-07-07 07:05] simonvane commented on #1675
Thanks @ericsciple. Which repo should I be looking at for "View YAML"

[2018-07-07 07:07] ericsciple commented on #1307
No, not a template per service endpoint. Here is the template:

[code]

Then multiple entry files can consume the resuable template, and specify the service endpoint as a parameter:

[code]

[code]

[2018-07-07 07:16] 4c74356b41 commented on #1307
@ericsciple hey, not being rude or something, but can you at least acknowledge that you saw my posts?

[2018-07-07 07:21] ericsciple commented on #1675
It's a private repo. Opening the issue here was useful, and I'm glad you did, since a bug is assigned to the correct engineer now. This repo is really for the agent, but we've blurred the lines a bit since this is the closest matching public repo for yaml communication. Technically the agent doesn't know anything about yaml. When a build is queued, the server compiles the yaml into same `plan` for

[2018-07-07 07:59] ericsciple commented on #1307
@4c74356b41 thanks I was able to reproduce the issue. I did not expect this behavior:

Thanks I was able to reproduce the issue. As a workaround I specified the guid instead of the endpoint name. I'll look into why referencing the endpoint by name isn't working.

[2018-07-07 09:44] lqueryvg commented on #1307
@ericsciple , I'm sorry my wording was incorrect. Your solution is not multiple templates, it's one. But it's still multiple yaml files - one for each service endpoint (this is what I meant). I.e. you are moving the values (i.e. the endpoint name) into code, when it should really be in variables.

My point still stands.

[2018-07-07 11:30] guolinke opened #1680 "powershell needs about 2 minutes to start"
It seems powershell needs about 2 minutes to start. Can this be speed up ?

![image](https://user-images.githubusercontent.com/16040950/42410412-d6f6c0bc-821b-11e8-92f7-4c6eb1d9bd14.png)

[2018-07-07 11:34] 4c74356b41 opened #1681 "Templated YAML build pipeline failing to authorize resources"
## Agent Version and Platform
VSTS Hosted 2017 and Linux Preview

## VSTS Type and Version
VSTS; http://duckbot.visualstudio.com

## What's not working?
![image](https://user-images.githubusercontent.com/16194643/42410450-6394d952-81f2-11e8-9272-baea7b299950.png)
Yaml templated definition cannot authorize docker container registry (Azure PaaS resource)

## Additional information

I'm using the Hos

[2018-07-07 11:34] 4c74356b41 commented on #1307
@ericsciple https://github.com/Microsoft/vsts-agent/issues/1681 this is the issue, thank you very much!

[2018-07-07 11:35] 4c74356b41 commented on #1307
@ericsciple another question, how to use a guid instead of a name? where to find that guid? I was unable to identify it anywhere in endpoint settings. thanks!

[2018-07-07 12:07] vijayma commented on #1678
Thanks for the feedback. We will look into this.

[2018-07-07 12:18] bryanmacfarlane commented on #1680
Can you replace it with echo hello world so we can discern time to run powershell and what's in your script?

If I run basic hello world on vs2017 breakdown the time it took to "run hello world":

[code]

Up to this line it's downloading the task from service.  From here on, it's the time to run the powershell script. (13 seconds)

[code]

1 second to generate script (I chose inline - if physical

[2018-07-07 12:19] bryanmacfarlane commented on #1680
Also, should probably be in the vsts-tasks repo.

[2018-07-07 12:45] guolinke commented on #1680
It was Hosted VS2017.
It seems the problem is the conda install, not the powershell.

[2018-07-07 12:45] #1680 closed

[2018-07-07 12:51] bryanmacfarlane commented on #1680
cool.  glad you found the issue.

[2018-07-07 14:01] bryanmacfarlane commented on #1676
we can update the script to set commit to none for this case.  we take PRs - want to give it a shot @ethomson ?

[2018-07-07 19:41] wsmckenz opened #1682 "Feedback on BYOS"
#design
#enhancement

Really love the idea of [managed agent pools in your own subscription](https://github.com/Microsoft/vsts-agent/blob/master/docs/design/byos.md). You may already have these in your design, but a couple of things that would be good:

- Running the agents on a private VNET.
- Allow the customer to provide a set of azure tags that are applied to all of the agents. This allows us

[2018-07-07 22:28] bryanmacfarlane commented on #1682
@wsmckenz - thanks so much for the feedback.  We will ensure we consider this feedback in the design phase.

[2018-07-08 08:47] 4c74356b41 commented on #1307
ok, I've installed vsts PowerShell module and found AzureRM endpoint guid and used that, but it didn't help. so at this point, I'm extremely skeptical about the idea that this thing works in any fashion.

[2018-07-08 11:35] heisse opened #1683 "Error on Ubuntu 18 with build agent , error code 100 on tf eula -accept"
## Have you tried trouble shooting?
Yes
## Agent Version and Platform
Version of your agent? 2.134.2

OS of the machine running the agent?Ubuntu 18

## VSTS Type and Version
VisualStudio.com or On-Prem TFS? On Prem TFS

If On-Prem TFS, which release? 2015

## What's not working?
I tried to upgrade our Build Sytem to ubuntu 18 and have the following error.
tf eula -accept
 Finished process with exi

[2018-07-09 03:32] ericsciple commented on #1681
OK here is the problem: Check your definition history in the definition editor in the web. When the definition is saved, and when the target yaml file (or compiled if using templates) has a syntax error, then previously authorized resources are getting dropped.

For example, here is what I noticed on my definition history:

![image](https://user-images.githubusercontent.com/12102068/42429153-88d7f

[2018-07-09 03:39] ericsciple commented on #1307
@4c74356b41 the best way to find the guid is save it on a designer build, then browse to the History tab, and diff the history of the designer definition. The task input will contain the guid.

I'm not surprised by your skepticism. I just left a comment on the other issue, detailing the bug that is causing a very confusing experience.

[2018-07-09 03:51] ericsciple commented on #1307
@lqueryvg thanks for bearing with me. I think we are on the same page now.

Can you help me understand your specific scenario?

Do you want to centrally manage which service endpoint is used? In other words, are you trying to avoid updating each relevant branch in your repo, if you want to change to use a different service endpoint? The service endpoint itself is centralled managed. So would updat

[2018-07-09 05:17] alexfanfred commented on #1406
Exact problem has come back. Would you provide a solution to this plz?

[2018-07-09 06:14] 4c74356b41 commented on #1681
Ok, I'm freaking furious right now :)
This is solved, but I really suggest you put this information on the documents. This is the only way to find errors. AAARgh. I thought there is no way to find errors. Thats the biggest problem.

[2018-07-09 06:15] 4c74356b41 commented on #1681
My issue was due to the build file looking for template relative to file location, not to repo root.

[2018-07-09 06:15] #1681 closed

[2018-07-09 07:42] tejasd1990 commented on #1610
@acm74 Can you check with 1-2 core VMs and let us know? I tested and did not get the error this time. Thanks.

[2018-07-09 11:07] heisse commented on #1683
I downgraded openjdk from 11 to 8 , and now everything works.
Hope this will help someone else.

[2018-07-09 11:07] #1683 closed

[2018-07-09 11:43] BiribiriJaNai opened #1686 "Question: Reuse of parameters in YAML templates"
Hi,

I'm trying to reuse parameters in a template. When using them as conditions, it works fine.
When trying to reuse them as tasks' parameters, it doesn't work so well.

**Example:** I would like to reuse `parameters.os` as an input parameter for the `PublishTestResults` task and display either **Linux Tests** or **Windows Tests** in the build summary, using the `testRunTitle` input of the task.

[2018-07-09 14:07] TingluoHuang commented on #1406
@alexfanfred can you open a new issue with your repro?

[2018-07-09 15:24] florianeidner opened #1687 ""Manage Release" Permissions for "Project Collection Build Service""
## Have you tried trouble shooting?
Yes

## Agent Version and Platform
Version of your agent? 2.136.0
Win 10, x64

## VSTS Type and Version
TFS 2018.1

## What's not working?
If I want to update the release name from within a release task using the REST API or Powershell (##vso[release.updatereleasename]$ReleaseName) I need to grant the "Project Collection Build Service" user the rights to "Manage

[2018-07-09 16:06] 4c74356b41 commented on #1647
@ericsciple ok, am i being thick again or this doesnt work? how is this supposed to work?

[code]

![image](https://user-images.githubusercontent.com/16194643/42462149-14a44b9c-83ab-11e8-9d66-e4c43b46e4e6.png)

[2018-07-09 16:19] TingluoHuang commented on #1647
@4c74356b41
[code]

[2018-07-09 16:19] 4c74356b41 commented on #1647
what is that supposed to mean? @TingluoHuang

[2018-07-09 16:20] TingluoHuang commented on #1647
the right side of `projects:` needs to be one parameter instead of a combination of multiple parameter.

[2018-07-09 16:21] 4c74356b41 commented on #1647
ok, this makes no sense, how am I supposed to reuse parameters when i cant combine them? @TingluoHuang

[2018-07-09 16:29] 4c74356b41 commented on #1647
am i supposed to do this in *every* case when i need to build a string?

[2018-07-09 16:40] TingluoHuang commented on #1647
@ericsciple for idea.

[2018-07-09 17:28] ericsciple commented on #1647
@4c74356b41 currently you will need to use the format function everywhere you need to string concat. We want to enable using template expressions within strings, without requiring the format function, but it's feature work and it just hasn't been the next priority yet. I do think it would be a nice improvement.

The format function is new. I think it has rolled out to every scale unit now.

The do

[2018-07-09 17:36] ericsciple commented on #1686
[code]

[2018-07-09 17:39] 4c74356b41 commented on #1647
ok, it appears the format function did the trick + it didnt mangle the `$(varName)` thing and that worked. at least we got that going.

@ericsciple I understand this is a preview feature, but man, when you try something thats supposed to work and it doesn't. Thats reaaaally frustrating (especially when you put 20 hours into that). Maybe I'm not good enough with VSTS.

I really suggest you mention

[2018-07-09 20:27] jabbera opened #1691 "BYOS feedback"
I subscribe to the throwaway model of build servers. I see this working one of two ways:

Point VSTS at a managed image and an arm template. When a build is queued a VM is spun up from the image used and tossed away (potentially after being unused for a time interval to reduce latency). This also allows multiple agents to be spun up and used if there is a large team working. Personally I'd build t

[2018-07-09 21:42] bryanmacfarlane commented on #1691
It will probably be very similar to the way our hosted pool works.  That is - spinning up machines ahead of demand.  It creates a buffer of machines within configuration constraints.

We build our images with packer ( https://github.com/Microsoft/vsts-image-generation ) but that's orthogonal.  There will be a config option pointing to the image and how it's built is up to the consumer.  Building t

[2018-07-10 01:37] lxkbest commented on #1646
@TingluoHuang Already configured，It's already working。Thank you

[2018-07-10 01:39] jabbera commented on #1691
Sounds amazing!

[2018-07-10 01:50] TingluoHuang commented on #1646
cool, i am going to close this issue.

[2018-07-10 01:50] #1646 closed

[2018-07-10 05:04] ericsciple commented on #1686
I added this example to the docs https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-templateexpressions.md#functions

[2018-07-10 05:04] #1686 closed

[2018-07-10 10:03] lqueryvg commented on #1307
@ericsciple, I think specific scenarios are confusing the issue.

It's as simple as this...

I want to be able to pass the service endpoint as a variable.
This is exactly what this ticket is supposed to address.

Without this, I am unable to separate code (in git) from configuration in VSTS which in turn makes it impossible to re-use my code for different configurations.

I should not have to add

[2018-07-10 21:10] cmacduff-sb opened #1695 "VSTS, agent as docker image and ACR"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Hosted Linux Preview

## VSTS Type and Version
VisualStudio.com

martech-development

## What's not working?
I'm not sure how to use  _PREVIEW_VSTS_DOCKER_IMAGE (https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/runtaskindocker.md)

[2018-07-10 21:17] melezhik opened #1696 "vsts agent queue gets stuck on and off"
## Have you tried trouble shooting?
Yes

## Agent Version and Platform
2.131.0, 2.134.0, 2.136.1

OS of the machine running the agent? Windows

## VSTS Type and Version
VisualStudio.com

## What's not working?

This is very annoying bug for me. Steps to reproduce:

1. install private agent, name agent-01, run it as service ( network service account )

2. create build definition in YAML, running fo

[2018-07-10 21:29] BiribiriJaNai commented on #1686
Thanks @TingluoHuang  and @ericsciple.
Worked like a charm!

[2018-07-10 21:32] TingluoHuang commented on #1696
@melezhik Can you grab agent diag log for me from the bug agent? the log is under `_diag` folder of your agent root directory. you can zip the entire folder and send to me `tihuang @ microsoft.com`

[2018-07-10 21:43] melezhik commented on #1696
@TingluoHuang , unfortunately I have not saved original `_diag` folder, as I have upgraded agents recently and had to remove the entire content of agent root directory to do so, once I get stuck again, I will send you required data.

[2018-07-11 00:18] ericsciple commented on #1686
@BiribiriJaNai thanks for the confirmation.

Also note, we would like to enable the more intuitive form:

[code]

...we just havent gotten to it yet.

[2018-07-11 21:51] Gold14388 commented on #1480
@gregpakes, I get an error saying that "[error]Microsoft.PowerShell.Commands.WriteErrorException: Failed to move D:\a\1\a\UDC.Framework.Core.deploy-readme.txt to D:\a\1\a\file.deploy-readme.txt.zip"
Any suggestions?

[2018-07-11 22:44] chcosta opened #1698 "The remote procedure call failed and did not execute"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 6.3.9600

OS of the machine running the agent? Windows

## VSTS Type and Version
VisualStudio.com or On-Prem TFS? Visual Studio

If On-Prem TFS, which release? 2015 RTM/QU1/QU2/...

If VisualStudio.com, what is your account

[2018-07-11 22:51] TingluoHuang commented on #1698
@chcosta where is the error coming from? from a build/release job?

[2018-07-12 00:39] guolinke opened #1699 "GitHub Pull Request status cannot be updated when manually rebuild"
Refer to https://github.com/Microsoft/LightGBM/pull/1497
The homebrew was down for a while and caused osx build failed.
After that, I rebuild the PR manually successfully, but the status is still shown failed in GitHub.
![image](https://user-images.githubusercontent.com/16040950/42606244-06946824-85af-11e8-9505-0868952eab55.png)

[2018-07-12 07:11] phgache opened #1700 "BYOS feedback"
This is a great idea because bringing customization and scalability to VSTS agent is a must have for us. Especially on the private side because we actually have networking requirements which don't allow us to use Hosted ones.
We actually have around 10 vm used to run build and maintaining them up to date is a pain.

We are currently thinking about using Docker on Kubernetes to host build agents.
W

[2018-07-12 07:18] gregpakes commented on #1480
@Gold14388
I assume you are using the Artifacts Compressor task.  I did not write this task and sadly the source is not on github.  I have asked the author to put the source on GitHub, but he doesn't want to.  If it was, I would be able to diagnose the issue easily.

I have asked him about it here:  https://marketplace.visualstudio.com/items?itemName=roshkovski.2B9619D5-7BE9-4ED7-BF10-707CB17F657A

[2018-07-12 07:41] 4c74356b41 opened #1701 "Variable number of step in templates"
## Agent Version and Platform
Own agents, can upgrade if necessary, but this question predates running builds

## VSTS Type and Version
VSTS; http://m-kopa.visualstudio.com

## What's not working?
I cannot find information (and\or understand myself) if it is possible to do iteration over input in templates

## Additional information
I want to create a templated build:

[code]
and in compile.yml i'

[2018-07-12 10:46] bryanmacfarlane commented on #1700
Agreed on containers.  We have a POC working end to end where Kubernetes is build infra.  So we are planning to do that as well.  probably after ...

We are going to achieve elasticity by implementing a new pool provider interface - the provider just implements alloc / release.  Details later but the BYOS provider will have your subscription (service endpoint), image you want to use, and config se

[2018-07-12 10:57] odministrator commented on #1480
@Gold14388 could you please try again and share results?

[2018-07-12 10:58] bryanmacfarlane commented on #1699
Hi @guolinke - this repo is for tracking issues with the agent app.  You should probably go to developer community for service issues or feedback.  I'll forward this as FYI to the team however.

[2018-07-12 10:58] #1699 closed

[2018-07-12 11:58] Malgefor commented on #1288
Hi guys, is there any documentation available on how to use this feature on the agents?

[2018-07-12 14:25] TingluoHuang commented on #1288
@Malgefor i don't think we have doc around this, but the UI should give you enough information to start with.
![image](https://user-images.githubusercontent.com/1750815/42639331-c4b4ecc6-85bd-11e8-83b0-a548d4fc5db2.png)

[2018-07-12 15:28] gregpakes commented on #1480
We suddenly have the same issue on our builds....

[2018-07-12 16:58] chcosta commented on #1698
Build job - https://dotnet.visualstudio.com/public/_build/results?buildId=5387&view=logs

[2018-07-12 17:04] TingluoHuang commented on #1698
[code]
`E:\A\_work\669\s\build\scripts\build.ps1: line 807`
The error is coming from the powershell script in the source code, you need to contact the author of that script.

[2018-07-12 17:05] Gold14388 commented on #1480
@gregpakes Thanks for acknowledging my question. You too get the same error now? That's interesting. I wonder if it matters to have $(Build.ArtifactStagingDirectory) as source and destination for the task

[2018-07-12 17:24] chcosta commented on #1698
I think that the powershell error

[code]

and the `remote procedure call` failure are unrelated.  I took a look at the script when the issue was reported to me, and all that it's doing at that point is calling `Write-Host`

[code]

[2018-07-12 18:20] odministrator commented on #1480
I guess that the problem can occur if you have file path instead of directory paths in source\destination. The idea of the task is to pack everything in zip files in build "a" directory and revert changes later during deployment. If you need something to archive file - there are Archive\Extract tasks by Microsoft which provide even better functionality and support tar\rar\7z also.
In my case every

[2018-07-12 20:00] Malgefor commented on #1288
Ah ok, thanks for your answer. I thought this feature was also about the agents used in deployment groups/pools, since they also keep a _work folder that gets bigger overtime. But I think that is already automatically being cleaned?

[2018-07-12 20:20] chrisrpatterson commented on #1700
@melcom the challenge with containers with most of the build workloads we see in VSTS is people seem to expect a VM.  For example, the current Linux pool actually runs in containers but we get regular complaints and issues from customers who are trying to build and test a container but because of the fact the agent is already in a container they are not able to understand the networking configurat

[2018-07-12 22:02] gregpakes commented on #1480
@oadministrator

I understand what you’re saying, but you have changed the functionality and broken a number of people. Could this have been released as a v2 and still allow is to use v1?

So are you saying that you’re not going to fix it?

Also the Microsoft tasks don’t work for me as they don’t support zero compression (as far as I know), which is my use case.

[2018-07-12 22:11] chcosta commented on #1698
I'm not actually certain where this issue should go.  I don't think PowerShell folks will do anything with it because it seems like a system issue.

https://technet.microsoft.com/en-us/library/2007.07.howitworks.aspx

I was kind of hoping the agent could somehow protect from this occurring but that doesn't really seem feasible either.  It's not clear to me if the "remote procedure call" error woul

[2018-07-13 03:42] TingluoHuang commented on #1698
@chcosta then you can handle the error in your script, the agent just run your script and fail the task based on return code from PowerShell.exe

[2018-07-13 04:44] odministrator commented on #1480
Looks like the easiest way to manage the issue is create new version, as I haven't seen build logs and can't reproduce it.
I moved new script and task to v2 version and rolled-back changes to previous version in v1. So, old builds should be good now.
Please check v2 and in case of issues send me build logs in debug mode or at least describe scenario to reproduce.

[2018-07-13 05:43] guolinke commented on #1699
Thanks @bryanmacfarlane so much.
Which team/repo can I report for these issues ?
I met another problem:

The VSTS doesn't check the PR from forks, like this one https://github.com/Microsoft/LightGBM/pull/1501 and this one:  https://github.com/Microsoft/LightGBM/pull/1511

Since most github contributions are from forks, I think it is a big problem.

[2018-07-13 07:29] gregpakes commented on #1480
@odministrator

Much appreciated.

[2018-07-13 07:50] chcosta commented on #1698
It would be a poor experience if everyone had to wrap every instance of powershell output to prevent this error.

As I said, I'm not convinced that it actually causes a powershell task failure.

This isn't a script I own. I'm just reporting the issue for Jared parsons (I don't seem to be able to tag him here.

[2018-07-13 08:04] gregpakes commented on #1480
@odministrator

This still isn't working for me.  The task version is:

Version      : 1.3.2

[2018-07-13 08:52] odministrator commented on #1480
Sorry, my fault. I commited minor version lower than it had been published yesterday.
Should be fixed in a minute (publish build is running).

[2018-07-13 11:09] acm74 commented on #1610
@tejasd1990 thanks for the update.  I will try to do this next week.  At the moment we are seeing some instability in West Europe region, so I am unsure if we could get a clean result if I tried this now.  I will post again when I've had a chance to try this.

[2018-07-13 12:46] rifaterdemsahin commented on #1395
I am getting a similar error

./config.sh
touch: cannot touch '.env': Permission denied
./env.sh: line 37: .path: Permission denied
./env.sh: line 32: .env: Permission denied

Unhandled Exception: System.UnauthorizedAccessException: Access to the path '/home/xxx/_diag' is denied. ---> System.IO.IOException: Permission denied
   --- End of inner exception stack trace ---
   at System.IO.UnixFileSys

[2018-07-13 13:04] rifaterdemsahin commented on #1395
I resolved it doing sudo chmod o+w ~/myagent

[2018-07-13 13:04] melcom commented on #1700
@bryanmacfarlane that is a great news because we are waiting this kind of feature. We are currently thinking how to replace our VM by containers but the next step will be elasticity.

@chrisrpatterson I understand the network complexity but I think that hosting containers will provide a more clear understanding of the underlaying infra and so mitigate this point.

[2018-07-13 15:42] bryanmacfarlane commented on #1700
@melcom - we will do both! :)

[2018-07-13 15:42] Gold14388 commented on #1480
@odministrator, @gregpakes, I used this link https://marketplace.visualstudio.com/items?itemName=roshkovski.2B9619D5-7BE9-4ED7-BF10-707CB17F657A#overview to get the latest version and I can only see version 1.2.1. Where can i find the latest version?

[2018-07-13 15:56] ethomson commented on #1676
@bryanmacfarlane If you find that #1703 is useful to the project, then I would be very interested in updating the script and will follow up with a PR.

[2018-07-13 16:17] 4c74356b41 commented on #1701
@ericsciple Hey, no pressure, but can you provide any thoughts? I'd like to work on this during the weekend :) I mean this is either possible or not (at this point in time), if its not, please let me know, I'll work around somehow.

Thanks a ton!

[2018-07-13 16:33] ericsciple commented on #1701
We dont have any looping constructs during template expansion today. The workaround today would be to break it into more granular templates (pushes the burden to the template consumer).

We discussed adding a looping construct when we initially added template expansion, but haven't finalized the decision yet.

There are other ways we are also considering solving the same problem. For example, allo

[2018-07-13 16:45] chcosta commented on #1698
As long as the RPC error isn't blocking, this isn't a big deal, I just wanted to report it in case it was something you wanted the agent to handle.  I'm Ok with closing this issue and looking at hardware / system changes on our team if these errors become prevalent.

[2018-07-13 16:45] #1698 closed

[2018-07-13 17:07] ericsciple commented on #1701
In your case it sounds like it's within a job that you want to loop.

There are also cases for looping outside the job. So I'm wondering whether we should go ahead and add a template-expansion-time looping construct. The one thing that makes me hesitant is whether we want tighter control on looping outside of the job (e.g. a job behavior that gets applied at runtime, versus a full blown looping co

[2018-07-13 17:37] 4c74356b41 commented on #1701
ok, another question, can I mix steps with steps from template? @ericsciple because right now I'm consuming phases, how would I got more granular than that?

as for the looping, i think you want to go for less control, that way you give more control to the end user and its his responsibility to produce proper resulting yaml (which is a lot less frustrating, because when you know this loop works, b

[2018-07-13 17:49] 4c74356b41 commented on #1701
Looking at this example:
[code]

this seems possible, but i probably wont be able to add steps if i try to reuse phases, so I would need reuse steps, but that doesnt allow for parameters, right?

[2018-07-13 19:46] ericsciple commented on #1701
Step templates can have parameters too. Something like this should work, if you wanted to pass a parameter through multiple layers:

[code]

[code]

[code]

[2018-07-13 20:35] 4c74356b41 commented on #1701
ok, i forgot my yaml definition calling these phases is in another repo and forgot to edit that (was editing the repo that holds all the yaml definitions). solution above works and is fine with me for the moment.

shall i close this or leave this open to track loops in yaml? @ericsciple

[2018-07-16 07:07] odministrator commented on #1480
@Gold14388 You are looking in a wrong place :) You check extension version, but we are talking about compress task version which is actually 1.5.0 for v1 and 2.0.0 for v2.

[2018-07-16 11:17] acm74 commented on #1610
@tejasd1990 I still see errors with a 2 core VM deployment.
[VMProvisionLogs_r52_id_804.zip](https://github.com/Microsoft/vsts-agent/files/2197376/VMProvisionLogs_r52_id_804.zip)

[2018-07-16 13:51] davidsk opened #1705 "VSTS Agent behind proxy cannot download build artifacts"
## Agent Version and Platform
Version of your agent? 2.136.1

OS of the machine running the agent? Windows 7 Enterprise

## VSTS Type and Version
VisualStudio.com: http://aker-dma.visualstudio.com

## What's not working?
Seems to be an issue with downloading build artifacts using the proxy, same proxy is used for build agent and it works okay.  Running release agent on non-proxied machine works fi

[2018-07-16 14:21] TingluoHuang commented on #1705
@omeshp for Download artifact problem.

[2018-07-16 14:21] TingluoHuang commented on #1705
@davidsk we might move this issue to https://github.com/microsoft/vsts-tasks once @omeshp confirm it's a task issue.

[2018-07-16 14:52] TingluoHuang commented on #1695
@cmacduff-sb the official support for running phase inside container is coming, you can check our YAML doc, it will support image from private registry.

[2018-07-16 14:53] TingluoHuang commented on #1617
@qubuss any luck or any updates?

[2018-07-16 15:00] TingluoHuang commented on #1631
@PaulGiletich the variable is set on the service side before it sends to the agent, i would suggest you post this issue to https://developercommunity.visualstudio.com/spaces/21/index.html
from what i know, the current behavior is "by design", since we can't change existing variable easily (people may rely on this weird variable), what we can do is add a new variable to have the right information,

[2018-07-16 15:01] TingluoHuang commented on #1665
@enzigma-sandip-tekule any luck?

[2018-07-16 16:16] sheldonhull commented on #691
So will this be available for TFS 2017 v2 as part of the new agent, or will it require a new TFS version? Thanks!

[2018-07-16 16:52] cmacduff-sb commented on #1695
@TingluoHuang Awesome, just wanted to make sure this use case was taken into account. Do you have an idea on the timeline for this functionality? I'm engineering around this at the moment, but it'd be nice to know how long I need to be doing it this way.

Will it also incorporate using a service endpoint for a private docker registry? Though that might get into a different feature request as it mi

[2018-07-16 16:58] TingluoHuang commented on #1695
@cmacduff-sb base on which region your VSTS account is located, the time frame might be different, we rolls out new feature ring by ring to prevent unwanted break.
For the service endpoint, i would assume you will use the docker registry endpoint to point to your ACR.
![image](https://user-images.githubusercontent.com/1750815/42772269-efb4891c-88f7-11e8-9327-fa892518691f.png)

[2018-07-16 17:07] omeshp commented on #1705
@davidsk Are you using NTLM proxy?

[2018-07-16 17:13] davidsk commented on #1705
Uh, I _think_ so.  I am running on windows and I while I do have to specify a proxy for the likes of git and npm, I don't usually have to provide credentials...does that help?

[2018-07-17 06:41] LokiMidgard commented on #789
@chrisrpatterson We original testet our client software using `Functional Tests`. Those are now depricated and so we tried to switching to the proposed replacement `Visual Studio Test`. This now requires installing the `vsts-agent` on the test machine. Unfortunalty we test on diffrent Windows versions wit different architectures. After all our client needst to run on all Windows Systems since Wind

[2018-07-17 08:19] davidsk commented on #1705
@TingluoHuang @omeshp Having reviewed the logs, I am unsure about posting them publicly, can I email them to you instead?

[2018-07-17 08:35] davidsk commented on #1705
@omeshp Ok, that seems to be working now, thanks for your help.  Is there an issue number for the NTLM proxy effort and are there any actions on my part for re-enabling downloads using tasks when appropriate?

[2018-07-17 09:01] omeshp commented on #1705
@davidsk There isn't any github issue for NTLM proxy, but we have internal workitem. No, there aren't any actions on you side that you need to do to re-enable the feature, we will take care of it once we have a solution.

[2018-07-17 12:12] bryanmacfarlane commented on #691
It will require server work so it will be available on upgrade.  The server offers the update feature for versions it knows about.

[2018-07-17 13:09] mblaschke opened #1707 "Requested registry access is not allowed"
## Have you tried trouble shooting?
Workaround possible, but not very nice

## Agent Version and Platform
Agent: 2.133.3
OS: Windows 10.0.14393

VSTS agent running inside an Azure VM

## VSTS Type and Version
VisualStudio.com

## What's not working?
If a security application (eg. qualys) is installed some registry keys (uses registry as credential storage) are not readable by `NETWORK SERVICE` use

[2018-07-17 14:14] TingluoHuang commented on #1705
@davidsk here is my email: `tihuang @microsoft.com`

[2018-07-17 14:21] TingluoHuang commented on #1707
@mblaschke `NETWORK SERVICE` is the default account we prompt during agent config, you can choose to run your agent service as a domain account, then manage permission for that domain account.

[2018-07-17 14:58] LokiMidgard commented on #789
I were also able to build it my selfe targeting x86. But in addition I also needed to change `externals.sh`.

´´´bash
# Download the external tools only for Windows.
if [[ "$PLATFORM" == "windows" ]]; then
    acquireExternalTool "$CONTAINER_URL/azcopy/1/azcopy.zip" azcopy
    acquireExternalTool "$CONTAINER_URL/pdbstr/1/pdbstr.zip" pdbstr
    acquireExternalTool "$CONTAINER_URL/mingit/2.17.1.2/Mi

[2018-07-17 15:12] IbrahimUmar opened #1708 "How to run a simpler Power Shell Script on all Build Agents i have in Single Agent Pool"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 2.102.0/2.100.1/...

OS of the machine running the agent? OSX/Windows/Linux/...

## VSTS Type and Version
VisualStudio.com or On-Prem TFS?

If On-Prem TFS, which release? 2015 RTM/QU1/QU2/...

If VisualStudio.com, what is yo

[2018-07-17 15:18] TingluoHuang commented on #1708
@IbrahimUmar what's your scenario? you want to get all machine name from an agent pool and run remote powershell? or you want your build/release job always run some script for policy needed?

[2018-07-17 15:42] sheldonhull commented on #691
@bryanmacfarlane ok, so i still need to manually update agent if I'm on an older version but want the latest minor releases applied?

[2018-07-17 15:55] sheldonhull commented on #691
If this is the case, could you consider adding some type of consistent feed url or chocolately package so it would be easy to script he update. Right now I have to parse github body text and it has changed slightly so things break. Someway to get release listing in consistent format for windows would be great

[2018-07-17 19:44] xtreampb opened #1709 "Restart of terminal causes release pipeline to fail"
## Agent Version and Platform
Agent 2.136.1
Windows 7 embedded

## VSTS Type and Version
grovergaming.VisualStudio.com

## What's not working?
As part of our release process for one of our on-premise devices deploying to, the final step is to restart the device.  On all previous versions of the deployment group agent (2.134.2 for example) this task (and the release as a whole) was successful.  Whe

[2018-07-17 20:57] IbrahimUmar commented on #1708
I have implemented Parallelism/Execution of tests on multiple agents in Visual Studio Test V2 through agent phases. I want to run a powershell script on all Agent Machines in single agent pool before execution of test cases in parallel in agent phases. Is there any workaround.?

[2018-07-17 20:59] melezhik opened #1710 "Artifactory deployer task does not work for YAML build"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
2.136.1

OS of the machine running the agent?

Windows

## VSTS Type and Version
VisualStudio.com

## What's not working?

Build does not even start with error:

[code]

Here is my build definition:

[code]

If run GUI equivalent of the same build

[2018-07-17 21:02] TingluoHuang commented on #1710
@melezhik try this:
https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-authz.md#having-trouble-with-resource-authorization

[2018-07-17 21:05] TingluoHuang commented on #1707
i don't think there is anything to with the agent for your issue, you choose the agent to run as `NetworkService`, you need to manage permission for `NetworkService` yourself.
I am going to close this issue, let me know if you need more help. :D

[2018-07-17 21:05] #1707 closed

[2018-07-17 21:10] melezhik commented on #1710
@TingluoHuang  I have read this doc, still not clear what is going on.

1. this is definition created _from_ the web UI ( corresponds to "Optionally a new YAML definition can be created from the web UI. You can choose any YAML file within your repository.")

2. Irrespectively build is triggered by  push or run manually I face the same error.

[2018-07-17 21:10] TingluoHuang commented on #1709
@xtreampb the attached log shows it runs on 2.136.1 agent, so i am not sure whether it's the newer version agent causing the problem.
[code]

Can you also share more detail on what's 'Restart the device' means? you have a step to restart the machine?

@chshrikh FYI, in case of a Deployment Group related question.

[2018-07-17 21:16] TingluoHuang commented on #1710
@melezhik we try to authorize the resource (endpoint, securefile, variablegroup, etc) you trying to use in your YAML file during definition save time. However, if you have a syntax error in your YAML file originally, then the resource authorization code won't run. After you fix the syntax error in your YMAL file, you will still get the ResourceNotFound error (the error you get).
the workaround to

[2018-07-17 21:16] xtreampb commented on #1709
@TingluoHuang correct, agent 2.136.1 which VSTS informed me to use this morning is causing the symptoms.  When i downgrade to 2.134.2, the symptoms go away.  The provided logs are from the failed release attempt (agent version 2.136.1).

By resarting the machine, i mean run the powershell inline task with the following command: `Restart-Computer -Force`

[2018-07-17 21:20] TingluoHuang commented on #1708
@IbrahimUmar what if you add a powershell task to your build definition, will it runs on all agents?

[2018-07-17 21:20] melezhik commented on #1710
👍 it is help, thank you, I have seen the issue of the same nature ( when yaml build initialization does not happen for some reasons  ) for other scenarios. It's a bit .... hacky ))))

[2018-07-17 21:22] TingluoHuang commented on #1709
@xtreampb your release failed because of following error:
[code]
have you check that error?

[2018-07-17 21:23] TingluoHuang commented on #1710
@melezhik  Sorry about this, we are working on a better experience for this. :)
i am going to close this issue.

[2018-07-17 21:23] #1710 closed

[2018-07-17 21:46] xtreampb commented on #1709
that powershell script task says to continue on error b/c i anticipated that

[2018-07-17 21:52] melezhik commented on #1710
Sure, thank you.

[2018-07-17 22:03] IbrahimUmar commented on #1708
This is what i want. Is this possible? I dont want to mention machine name. it should pick up all agents by itself.

[2018-07-17 22:05] TingluoHuang commented on #1708
![image](https://user-images.githubusercontent.com/1750815/42848030-edb9faa8-89eb-11e8-9124-3a76b3f936eb.png)
i assume if the `number of agent` match the amount of agents you have in your pool, then it should work.

[2018-07-17 22:12] IbrahimUmar commented on #1708
This is phase description. VsTEST is the that will be executed as 1st option. BUT I want to add another task which should executed before test run , POWERSHELL script which delete all DBs on these agents before execution of test runs.

[2018-07-17 22:13] TingluoHuang commented on #1708
Why don't you do that as part of your TestInitialize() in code?

[2018-07-17 22:21] camillemahaut commented on #1633
Hello everyone, any update about this issue ?
Really interesting to have Variable Groups available as a resource in the yaml.

[2018-07-17 22:22] TingluoHuang commented on #1709
there isn't a reliable way to restart the agent and grantee the running job succeed, i don't think this is changed between 2.134 and 2.136, can you share agent log from 2.134 agent that indicate everything works?

[2018-07-18 02:34] #1705 closed

[2018-07-18 02:39] GitHubSriramB commented on #1687
@florianeidner, thanks for the feedback.

Project collection Build Service identity will be allowed Manage Release permission on all the projects where release is run. We are working on a solution to scope down permission s for this identity. Will keep you posted.

[2018-07-18 05:18] deeptivanne commented on #1615
Is there a way to do this unattended? i tried doing this command .\config.cmd remove -ArgumentList "--unattended","--Auth pat",$token i get error saying unrecognised CLI arguments.

[2018-07-18 06:47] mblaschke commented on #1707
@TingluoHuang

We don't want that the VSTS agent can access the secret.
But the VSTS agent is failing due to an exception and will fails for EVERY deployment if there is a registry key which he cannot access so i would say this is a VSTS agent bug as this permission feature is a common windows feature.

The "workaround" to make a secret public to all vsts agent users is nothing that we want but as

[2018-07-18 08:19] IbrahimUmar commented on #1708
![pshelltask](https://user-images.githubusercontent.com/41017019/42869005-13163a86-8a74-11e8-8449-914d87489eed.jpg)

I have added the PowerShell task before the VsTest Task in the same Agent Phase and it showing this error:

**Error:**
Exception calling "Open" with "0" argument(s): "A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was

[2018-07-18 13:34] xtreampb commented on #1709
The second image posted shows it working, and has always worked reliably until this last version.  I think the logs will be the same, I think it is more or less an issue where the agent isn't reporting before shutting down.
Successful Worker Log:
[Worker_20180717-182534-utc.log](https://github.com/Microsoft/vsts-agent/files/2205944/Worker_20180717-182534-utc.log)
Successful Agent Log:
[Agent_20180

[2018-07-18 14:02] TingluoHuang commented on #1615
@deeptivanne `.\config.cmd remove --unattended --auth pat --token myToken` should work.

[2018-07-18 14:07] TingluoHuang commented on #1707
@mblaschke which build/release task are you using that need to access to those registry? what are failing? is the agent not able to start or your build/release failed due to some task error?

[2018-07-18 14:19] TingluoHuang commented on #1708
@IbrahimUmar is this error coming from your script?

[2018-07-18 14:39] xtreampb commented on #1709
Attached are all the agent and worker logs i have for the failed terminal:  I had cleared all the logs before starting the job.
[Agent_20180717-175639-utc.log](https://github.com/Microsoft/vsts-agent/files/2206193/Agent_20180717-175639-utc.log)
[Agent_20180717-191109-utc.log](https://github.com/Microsoft/vsts-agent/files/2206194/Agent_20180717-191109-utc.log)
[Agent_20180717-191310-utc.log](https:

[2018-07-18 14:56] TingluoHuang commented on #1709
@xtreampb believe or not, i guess your machine is restart quicker for the failed case.
in succeed case:
agent receive shutdown signal from OS at `[2018-07-17 18:25:58Z INFO Agent] Received Ctrl-Break signal from agent service host, this indicate the operating system is shutting down.`
if you check the worker log, your powershell script to call restart finished at `[2018-07-17 18:25:51Z INFO Proces

[2018-07-18 15:09] xtreampb commented on #1709
Okay i understand what your saying, however, when I use the agent version 2.134.2 and I get the same failure on that powershell task, but the status is fully reported to VSTS release manager, not giving me a connection error.  These are the logs from the same machine and release, just downgraded to agent version 2.134.2:
[Agent_20180718-141539-utc.log](https://github.com/Microsoft/vsts-agent/files

[2018-07-18 15:21] florianeidner commented on #1687
@GitHubSriramB

Thanks for clarifying,
Do you have any timeline for that?

2018-07-18 4:39 GMT+02:00 Sriram B <notifications@github.com>:

--
Florian Eidner
// 0152 54934118
// florianeidner@googlemail.com
// www.dreiklangkleidung.de
// www.binee.com

[2018-07-18 15:49] chcosta opened #1711 "Get sources: Git fetch - the remote end hung up unexpectedly"
## Agent Version and Platform
Version of your agent? 2.136.1
OS of the machine running the agent? Windows

## VSTS Type and Version
VisualStudio.com or On-Prem TFS? VisualStudio.com

If VisualStudio.com, what is your account name? http://dotnet.visualstudio.com

## What's not working?
2018-07-14T00:01:00.3572284Z ##[command]git -c http.extraheader="AUTHORIZATION: basic ***" fetch --tags --prune --

[2018-07-18 16:15] TingluoHuang commented on #1711
@chcosta
#1474 is calling VSTS git repository, in your case, you are calling github.com.
you might want to ask github.com why they are hung up.

[2018-07-18 16:29] chcosta commented on #1711
Sure, I can follow up with them.

My point in filing this issue was to highlight that network / other issues are common (particularly when depending on an external provider), and that it might be helpful to add some retry logic here depending on the error code.  We don't have much control over the "Get sources" step so we can't do anything (that I know of) on our end to improve reliability and thu

[2018-07-18 16:48] TingluoHuang commented on #1707
@mblaschke
i think that means Azure PowerShell may require its run as user have permission to those registry.
What i want to say is the vsts-agent is just a tool invoker, it runs all different tools you choose to use in your build/release definition and report return code.
The agent doesn't control what requirements each tool needs, like Azure PowerShell want permission to read your registry.

[2018-07-18 18:57] IbrahimUmar commented on #1708
Just correct me where i am wrong:
I have created a single pool with 10 Machines agents. I want to test the Unified Build Agent Functionality. What i have done, created a Build definition for the compilation of code: My Code gets compiled and published successfully. then it calls a reelase definition and It starts running Parallelsim test cases on multiple agents option selected. What is the requir

[2018-07-18 19:07] IbrahimUmar commented on #1708
I heared from someone that Unified Build Agent install required packages itself then start build and executes tests. is it?

[2018-07-18 19:11] TingluoHuang commented on #1708
what `required packages`?

[2018-07-18 19:14] IbrahimUmar commented on #1708
Visual Studio and SQL or whatever it required to run , it automatically picks up?#

[2018-07-18 19:16] TingluoHuang commented on #1708
It won't install them for you, you need to install any software or tool you need in your build/release process.

[2018-07-18 19:16] TingluoHuang commented on #1708
the agent or the task is able to find those software if it installed.

[2018-07-18 19:20] IbrahimUmar commented on #1708
Alright.

We basically have separated Agent Machines and Build Machines in our current systems.
Agent/Build Machine: Visual Studio and Build Agent is install and we just compile our code and publish.
Test Machines: These are machines which only run test cases of different kind and We have dedicated their names , like test1,test2,test3,test4 will be used for unit tests. test6,test18,test19 will be

[2018-07-18 19:25] TingluoHuang commented on #1708
how do you control your integration tests only runs on Test6/18/19 agent? so they won't landed on machine doesn't have the dependencies.

[2018-07-18 19:36] TingluoHuang commented on #1708
base on the parallelism config, it will try run on all agents within the pool that meet the demands.
you don't have to install VS and SQL to all machines in the pool as long as you can make sure your build/release landed on the agent machine has the right dependencies.
did you try use demand to control this?
![image](https://user-images.githubusercontent.com/1750815/42903613-65dd4e0e-8aa0-11e8-9cc

[2018-07-18 19:40] TingluoHuang commented on #1709
@xtreampb your entire release only runs for less than 30 seconds.

[2018-07-18 19:44] vtbassmatt commented on #1711
Fetching sources seems like it should be idempotent and thus safe to offer a retry or 2. Probably not by default, but as an option for complex builds. @TingluoHuang would that be problematic? (I'm only asking about the semantics of retrying the fetch. Scheduling work to add this feature is an entirely different question.)

[2018-07-18 19:45] IbrahimUmar commented on #1708
Never used this feature. What i understands that you never need to install VS or SQL on Any agent in the agent pool. Just mention this in demand portion and it will automatically install what packages you need to run. is it?
Can you please explain this more.

[2018-07-18 19:49] TingluoHuang commented on #1711
@vtbassmatt i think adding retry is fine, it wouldn't make the problem worst, i think we need to run `git reset --hard` before retry git fetch.

[2018-07-18 19:51] TingluoHuang commented on #1709
I am going to close this issue, the agent never support handle machine reboot, we do have a backlog work item to improve it.
#1505

[2018-07-18 19:51] #1709 closed

[2018-07-18 19:59] IbrahimUmar commented on #1708
My Agent pool looks like:
1. Build/Agent  Machine . Installed VS and SQL
2. Test Machine , SQL installed (5 Machines)

These 6 machines are under single agent pool. How does agent pool works? Should i assign one agent pool in build process the another in release process where multiple test runs will execute?#
or need to use the same pool and let the agent pool choose hwo to work with?#

How agent

[2018-07-18 20:02] TingluoHuang commented on #1708
https://docs.microsoft.com/en-us/vsts/pipelines/agents/pools-queues?view=vsts

[2018-07-18 20:03] TingluoHuang commented on #1696
I am going to close this for now, please reopen when you get the log. :D

[2018-07-18 20:03] #1696 closed

[2018-07-18 20:04] TingluoHuang commented on #616
i am going to close this issue, i can't repro myself.
please reopen if problem still existing for latest version agent.

[2018-07-18 20:04] #616 closed

[2018-07-18 20:05] melezhik commented on #1696
Ok, will do that once I get stuck again ...

[2018-07-18 20:10] mblaschke commented on #1707
@TingluoHuang
These registry keys are only accesable by an administrator for security reasons.

Who is responsible for the startup phase of eg. the "Azure Powershell" task? It's not user content, the deployment powershell script was not executed, the exception thrown before the user content was executed.

We just run the Azure VM with an VSTS agent on it using hosted VisualStudio account and we do

[2018-07-18 20:35] mblaschke commented on #1707
Thanks, will open a new ticket :)

[2018-07-18 20:55] TingluoHuang commented on #1589
@lucas-natraj try `${{ format('{0} {1}', parameters.component, parameters.configuration }}`

[2018-07-19 07:06] IbrahimUmar commented on #1708
It IS VERY USEFUL. Thanks

In Demands, i want to add that test should run only that machine where SQL Express is installed. How should i mention this there:

MS SQL  Exists
InstallSQL Exists

or something else.

Moreover, demands only detect particular installation on agent machine or it get the required package install itself as well. Kindly share your thoughts.

[2018-07-19 07:51] riezebosch opened #1714 "Using Azure Team Services Agent extension without specifying a deployment group"
With the current (version) of the Team Services Agent Extension, it is required to specify the Team Project and the Resource Group. Therefore it is not possible to use this extension as a normal/generic build agent where just only the Agent Pool should be specified.

Is that something you deliberately don't support? Because as far as I found out it worked that way before. If I'm correct the extens

[2018-07-19 13:07] TingluoHuang commented on #1714
@RoopeshNair Can you help answer this question?
BWT, is there a repository for this extension? so forks can log issue in there.

[2018-07-19 13:09] TingluoHuang commented on #1708
https://docs.microsoft.com/en-us/vsts/pipelines/agents/agents?view=vsts#capabilities

[2018-07-19 13:18] lucas-natraj commented on #1589
@TingluoHuang yeah, I saw this posted on #1686 and was able to proceed.
Not sure if this is the expected way of solving this or whether y'all are planning on a more streamlined approach in future.
Either way I'm happy to close the issue or leave it open.
Thanks again!

[2018-07-19 13:43] RoopeshNair commented on #1714
@riezebosch - Your inference is right, the extension configures only deployment group agent. It has been that way since the beginning. We never added support for build & release agent configuration via this agent.

[2018-07-19 13:44] RoopeshNair commented on #1714
@TingluoHuang - I don't think the extension code is public. @sachinma for confirmation

[2018-07-19 15:22] melezhik opened #1715 "Feature Request - keep the source code of build.yaml and application source code in separate repositories"
Hi vsts developers! I wonder if it is possible now? Keeping build.yaml in the same repository of the source code to build works fine for simple scenarios but getting tedious to maintain if we have multiple branches.

I'd like the idea of keeping  build logic   as separate repository not interfered with application source code to build ...

[2018-07-19 15:54] IbrahimUmar commented on #1708
Kindly check with these errors after enabling demands:

No agent found in pool UnifiedAgent which satisfies the specified demands:
     InstallSQL
     SqlPackage
     DotNetFramework
     Agent.Version -gtVersion 1.102

[2018-07-19 16:58] TingluoHuang commented on #1708
does the agent you trying to use has those demands?
![image](https://user-images.githubusercontent.com/1750815/42958424-7cb1a0fe-8b53-11e8-98bd-a01e134e8781.png)

[2018-07-20 06:44] vitru opened #1717 "Process cleanup not working on MacOS"
## Have you tried trouble shooting?
Yes

## Agent Version and Platform
Agent 2.131.0
MacOS 10.13.2

## VSTS Type and Version
VisualStudio.com

http://office.visualstudio.com

## What's not working?
Cancelling the build should terminate all the processes started during the build. There is process cleanup mechanism in JobRunner.cs which looks for processes that have a certain environment variable an

[2018-07-20 06:50] vitru opened #1718 "Job cancellation timeout setting is not respected"
## Have you tried trouble shooting?
Yes

## Agent Version and Platform
Agent 2.131.0

MacOS 10.13.2

## VSTS Type and Version
http://office.visualstudio.com

## What's not working?
"Build job cancel timeout in minutes" property in the build definition is not respected and agent is only given 1 minute to process cancellation.

## Agent and Worker's Diagnostic Logs
Build: https://office.visualstudio

[2018-07-20 10:40] sachinma commented on #1714
You are right @RoopeshNair, it is not public as of now. We can discuss if we should make it public

[2018-07-20 12:11] danielstocker opened #1720 "Request to https://<account>.visualstudio.com/_apis/connectionData failed. HTTP Status: NotFound"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)
Yes, we initially troubleshooted a proxy issue, which led us to download the latest agent.
The agent seems to connect successfully, but then comes up as offline in VSTS (see screenshot)

Here is the command line used:
.\config.cmd --url https://account.visualstudio.com --auth p

[2018-07-20 14:08] TingluoHuang commented on #1718
@vitru this is not an agent issue, the server control how to construct the cancellation message, look like it doesn't respect cancel timeout.

[2018-07-20 14:12] TingluoHuang commented on #1714
@sachinma @RoopeshNair it would be great if there is a place users can leave feedback or report issues for the extension, so far most customer leave their feedback or issue in the agent repository which is not really the right place. :D

[2018-07-20 14:32] TingluoHuang commented on #1720
@danielstocker where is the 404 coming from?
[code]
doesn't it coming from your proxy server `BigIP`?
can you hit that url `https://cemobiledevelopment.visualstudio.com/_apis/connectionData?connectOptions=0&lastChangeId=172793905&lastChangeId64=172793905` manually in browser (with/without proxy)?

[2018-07-20 14:39] TingluoHuang commented on #1717
@vitru thanks for report this, i will fix it in next agent release.

[2018-07-20 14:48] danielstocker commented on #1720
Hi @TingluoHuang
Just checked with the customer that is hitting this issue.

It looks like the wrong proxy was configured. It allowed only very selective access to the internet. We'll continue to investigate here locally.

Thanks for your efforts! I'll close this issue for now

[2018-07-20 14:48] #1720 closed

[2018-07-20 14:56] #1718 closed

[2018-07-20 15:06] ericsciple commented on #1715
done: https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-reusefromrepo.md

[2018-07-20 15:06] #1715 closed

[2018-07-20 15:06] ericsciple commented on #1715
@melezhik

[2018-07-20 15:43] IbrahimUmar commented on #1708
This is Good , it worked.

There is an issue now:

When i select in VsTest V2 that these tests should be run on Multiple Agents and given the number of agents in the below Box.
It creates two tabs:
 Agent 1 of 2
    Step one
    Step two
Agent 2 of two
    Step one
     Step two

Why the system using only single Build Agent/Machine as two agents? In above scenario , single machine is being used in

[2018-07-20 15:53] TingluoHuang commented on #1708
how  many agents do you have on that machine?

[2018-07-20 15:54] IbrahimUmar commented on #1708
Single Agent per machine and it is showing on agent pool tab.

[2018-07-20 15:55] IbrahimUmar commented on #1708
I am considering single machine as agent. It also means i have installed a single agent per machine.

[2018-07-20 20:17] riezebosch commented on #1714
Plus we could make our own extension based on the work you already did. 🎉

[2018-07-23 15:05] bmpcon opened #1723 "VSTS OnPrem-agent registration fails with VS30063 Company Proxy"
## Agent Version and Platform:
vsts-agent-win-x64-2.136.1

## OS of the machine running the agent?
Microsoft Windows [Version 10.0.14393]

## VSTS Type and Version
Visual Studio Team Services (Azure) visualstudio.com

## What's not working?
We are able to download and install vsts agent and to register the current system as an VSTS agent within an existing agent-pool within on-prem enterprise netw

[2018-07-23 15:30] TingluoHuang commented on #1723
@bmpcon thanks for reporting this, i will fix the regression.

[2018-07-23 15:41] melezhik commented on #1715
Hi @ericsciple , it's close, but probably not exactly what I was looking for, ideally I would like to see this hypothetical scenario:

[code]

Original Idea with [templates](https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-reusefromrepo.md) imho is kinda limited.  Course you only reusing YAML code there, while in the suggested scenario you are reusing everything

[2018-07-23 15:49] Tragetaschen opened #1724 "Support ~ in the workFolder on Linux"
## Agent Version and Platform
Version of your agent? 2.136.1

OS of the machine running the agent? Linux

## What's not working?
The config.sh script accepts a path for the `workFolder` starting with `~/`, but interprets it as an actual folder named `~` relative to the agent folder instead of the user's HOME directory. While this is certainly a valid configuration, it then broke my Yocto build and

[2018-07-24 00:15] IbrahimUmar opened #1726 "Deployment groups and Agent Phase groups"
What is difference between agent phase and deployment group phase in Release definition of TFS 2018.

[2018-07-24 01:33] TingluoHuang commented on #1726
@IbrahimUmar this is repository for VSTS builld/release agent, it's for reporting issue with the agent itself, you might want to use other channel to seek help from general VSTS question.
Like:
https://visualstudio.microsoft.com/team-services/support/
https://docs.microsoft.com/en-us/vsts/index?view=vsts
https://developercommunity.visualstudio.com/spaces/21/index.html

i am going to close this iss

[2018-07-24 01:33] #1726 closed

[2018-07-24 19:08] t3mi opened #1727 "YAML Calculate value for task input using conditions"
## Have you tried trouble shooting?
Couldn't queue the build

## Agent Version and Platform
Version of your agent?
2.136.1

OS of the machine running the agent?
CentOS 7 x64 7.5

## VSTS Type and Version
VSTS

## What's not working?
According to [templateexpressions](https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-templateexpressions.md) there is a possibility t

[2018-07-24 20:12] ericsciple commented on #1727
Thanks I was able to repro the bug. Here is a workaround:

[code]

[2018-07-24 20:13] ericsciple commented on #1727
In the expressions, all scalar parameters are interepreted as strings and `not` is truthy. So `not` will only evaluate to true if the string is empty.

[2018-07-24 20:14] ericsciple commented on #1727
...so I switched your expression to use `ne`

[2018-07-25 07:25] ed-alertedh opened #1728 "Container parameter in YAML config appears to be ignored"
## Have you tried trouble shooting?
Yes. There were no obvious error messages in the logs of our on-premises agent. Also nothing to suggest it was trying to pull down docker images.

## Agent Version and Platform
Tried both:
 * agent 2.136.1 on Ubuntu 18.04 (running on-premises)
 * Hosted Linux Preview

## VSTS Type and Version
VisualStudio.com, account name alertedh

## What's not working?

I'm t

[2018-07-25 08:39] riezebosch opened #1729 "Git checkout submodule in YAML"
It's currently not part of the [yaml options](https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-checkout.md).

[2018-07-25 11:53] t3mi commented on #1727
@ericsciple thanks. Workaround is working I've just added ':' to the end of the line.

So that means, for example with _${{ not(parameters.force) }}_:
_parameters.force_ - would be a string
output of _not(parameters.force)_ - would be a boolean
output of _${{ not(parameters.force) }}_ - would be a string converted from boolean, e.g. empty string for a True?

P.S. Should this issue remain opened or

[2018-07-25 13:37] klapantius commented on #1465
Hi,
I have the same problem as described above. The hint to ```agent.source.skip=true``` helped a lot. Thank you.
The only thing is still missing the variable with the name of the workspace. In the logs of a non-skipped Get Sources I can read, it is a somehow complex procedure to find out this value:
[code]
Is there an API or similar solution I can use instead of re-implementing that task?

[2018-07-25 14:04] TingluoHuang commented on #1465
@klapantius what's your scenario? you want to disable sync source but still have the TFVC workspace? the scenarios we target is either the agent pull source code for you, or you take over the entire get source process.

[2018-07-25 14:06] TingluoHuang commented on #1728
@ed-alertedh this feature haven't enable yet. Your build suppose to failed if you are using an un-enabled feature, however due to a bug on ourside, we didn't fail the build correctly.
the rolls out is going for this feature.

[2018-07-25 15:54] alessandromuresan opened #1730 "What would be a best practice for unregistering dynamic VSTS agents unattended?"
We have a testing process for an MSI that needs to run on fresh environments, therefore we need to dynamically provision a lot of VSTS agents, and then delete them after the process has completed. We achieve the provisioning part in a phase that runs on a Hosted 2017 agent, by executing an ARM template.
 The actual cleanup process has two steps:
1. Remove the agent from the VSTS pool
2. Destroy th

[2018-07-25 16:11] ericsciple commented on #1727
@t3mi let's leave it open for now.

Your assessment regarding `not(parameters.force)` is accurate. I realize now there is a gap in the docs. I need to add an example to describe this behavior.

I found the bug. Thanks for reporting this. When I get a fix in, and an ETA when it will be deployed, I'll update the work item here and likely close it then.

[2018-07-25 18:52] klapantius commented on #1465
hey Ting,
we have a [ticket at vsts-tasks](https://github.com/Microsoft/vsts-tasks/issues/6976) in progress to get the possibility to download the sources to the workspace either with current timestamp (as it is now) or with the timestamp of the last check-in of each file (see the ```filteime``` option to the ```tf workspace /new``` command - not documented on the web).
Until it gets realized we a

[2018-07-26 02:01] bryanmacfarlane commented on #1728
a "hosted ubuntu 1604" pool is about to roll out.  that coupled with yaml container support is a good start

[2018-07-26 10:24] carct opened #1732 "Unable to refresh agent capab without restart // ##vso[agent.capability"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 2.102.0/2.100.1/...
Agent.Version | 2.136.1

OS of the machine running the agent? OSX/Windows/Linux/...
Agent.OSVersion | 10.0.14393
Private agent.

## VSTS Type and Version
VisualStudio.com or On-Prem TFS?
VSTS
If On-Prem T

[2018-07-26 11:52] bryanmacfarlane commented on #1730
Can't unconfig while an agent is participating in a job.  it has to be outside in.

It sounds like you need this feature:  https://github.com/Microsoft/vsts-agent/blob/master/docs/design/byos.md

[2018-07-26 13:00] carct commented on #1730
we've been experimenting around the subject and actually you can do this, the only 'problem' is that the the agent remains in the Agent Pool, so for an unknown reason it does the remove only from the machine (deletes service).

the way to do this is by using:
Invoke-WmiMethod -Class Win32_Process to call up a powershell process that is not child of the job :)
if you call up a small script, with th

[2018-07-26 14:36] TingluoHuang commented on #1732
@carct
`##vso[agent.capability]` is not mean to use by user. `http://go.microsoft.com/fwlink/?LinkId=817296` shows the supported `##vso` commands.

What's your scenarios? why you want to change the agent capability while it's running a Build/Release?

I think you can also create a `.env` file even fro windows agent.

You can always make REST api call to update agent capabilities.

[2018-07-26 14:47] carct commented on #1732
yeaa i checked that webpage with the available commands, but got excited when i saw in your initial scripts the other one that you use  :))

we wanted to make a demand for a phase and make sure that once that phase is finished that specific agent will not be accepting any new build that could exist in the queue and basically we'd destroy it at some point and re-create so that each time it accepts

[2018-07-26 15:01] TingluoHuang commented on #1732
@carct you can disable the agent once it start running job. we don't have any doc around the agent, but you can figure it out in F12 tool from browser.
![image](https://user-images.githubusercontent.com/1750815/43270519-38e090ea-90c3-11e8-9e76-3534046cc564.png)

[2018-07-26 15:16] TingluoHuang commented on #1665
@enzigma-sandip-tekule Since i didn't hear back from you, i am going close this issue for now, please reopen if you need more help.

[2018-07-26 15:16] #1665 closed

[2018-07-26 15:17] TingluoHuang commented on #1661
@nschonni i am going to help you close this issue, i guess few days has passed. :D

[2018-07-26 15:17] #1661 closed

[2018-07-26 15:37] carct commented on #1732
ok, the API is indeed an option and i'll keep in on my list if not pleased with the current approach

regarding the .env file, i tried creating one but the agents' capabilities don't get refreshed automatically.. previously i was referring to the 'env.sh' script available on the linux agent that is able to refresh the capabilities, although i'm not 100% sure if it need a a stop/start to publish th

[2018-07-26 15:39] TingluoHuang commented on #1732
capabilities updates only happen during agent start up, i am pretty sure after you run `env.sh` you need restart the agent process. :)

[2018-07-26 15:43] carct commented on #1732
ah, alright, thought that it also published it or at least the agent would pick it up from the .env file

may i suggest that the .env file be scanned periodically by the agent and publish any changes ?
maybe VSTS can trigger this periodically (and also on-demand through some api call) so that it can compare for any changes

anyways, thank you ! i don't think any other options are available to hand

[2018-07-26 15:59] TingluoHuang commented on #1732
Sure, we can consider that, i think i am going to close this issue for now. let me know if you need more help.

[2018-07-26 15:59] #1732 closed

[2018-07-26 20:35] AceHack opened #1733 "YAML if conditions don't expand variables"
I have the following parameter in a yaml build and it's set to 'yes' in VSTS variables tab.
[code]

I would like to do the following
[code]

But this does not work because the variable BuildDebugPackage is not expanded to the value 'yes'.

I have to instead do the following
[code]

This is far inferior as I cannot even condition the pre and post steps.  This also shows up on the UI as a skipped st

[2018-07-26 20:55] melezhik opened #1734 "Options tab is not accessible for YAML based pipelines"
Hi! Any ideas why **options tab** is not accessible for yaml build definitions, what I normally does for GUI based build?

Build options in GUI based build definition:

![build-options](https://raw.githubusercontent.com/melezhik/images/master/build-options.png)

Build options in YAML based build definition:

![build-options](https://raw.githubusercontent.com/melezhik/images/master/build-options-ya

[2018-07-27 03:15] ericsciple commented on #1724
did you pass it on the command line or during a prompt? on the command line I would expect bash it expand it, otherwise I would not expect it to be expanded

[2018-07-27 06:10] tejasd1990 commented on #1610
@acm74 This issue has not been fixed for RS3, but RS4 should work. Can you try with RS4 SKUs and update?

[2018-07-27 07:37] Tragetaschen commented on #1724
You are correct, it was on the prompt.

[2018-07-27 17:59] TingluoHuang commented on #1481
I am going to close this issue as #1514 merged.

[2018-07-27 17:59] #1481 closed

[2018-07-27 18:01] TingluoHuang commented on #1723
I am going to close this issue as the fix has merged, we are working on the roll out.

[2018-07-27 18:01] #1723 closed

[2018-07-27 18:01] TingluoHuang commented on #1717
I am going to close this issue as the fix has merged, we are working on the roll out.

[2018-07-27 18:01] #1717 closed

[2018-07-27 18:44] jmiddour opened #1735 "VSTS Package feed not always finding upstream source"
## VSTS Type and Version
VisualStudio.com

## What's not working?
I have a package cache feed to serve as a clearing house for all packages used during builds.
I have 4 upstream sources for that feed -- NPM, Nuget.org, local NPM feed, local nuget feed.
When the local nuget feed is 4th in priority, it does not find the new version of the packages and bring them over to the cache.  When I move it up

[2018-07-27 18:52] TingluoHuang commented on #1735
@jmiddour you might want to report this problem to [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html)
this is the repository for tracking build/release agent issue.

[2018-07-27 21:03] TingluoHuang commented on #1724
@Tragetaschen i am going to close this issue, since `~` is a bash shortcut. please reopen if you need more help.

[2018-07-27 21:03] #1724 closed

[2018-07-27 21:03] TingluoHuang commented on #1735
i am going to close this issue, since it's not scope to this repository.

[2018-07-27 21:03] #1735 closed

[2018-07-31 07:32] cboulva99 opened #1737 "Loss of Deployment Agent"
## Have you tried trouble shooting?
No related information found in troubleshooting

## Agent Version and Platform
2.136.1 on Windows 2016 Version 1607

## VSTS Type and Version
VisualStudio.com

http://datagalaxy.visualstudio.com

## What's not working?
Loss of connection/files few hours after installation.

Experiences multiple times (reinstalled multiple times), after installation the deploymen

[2018-07-31 12:48] GitHubSriramB opened #1738 "Cleaning up artifacts folder failing with System.OperationCanceledException exception"
## Agent Version and Platform
Version of your agent? 2.136.1

OS of the machine running the agent? Windows

## VSTS Type and Version
VisualStudio.com

If VisualStudio.com, what is your account name? https://marketingops.vssps.visualstudio.com/

## What's not working?
Cleaning up artifacts directory is failing with "System.OperationCanceledException: The operation was canceled" exception. This exce

[2018-07-31 12:49] GitHubSriramB commented on #1738
@ericsciple / @TingluoHuang - is IOUtil.DeleteDirectory supposed to throw System.OperationCanceledException?

[2018-07-31 12:54] bryanmacfarlane commented on #1738
@GitHubSriramB - I think it can if the job is cancelled and there's a cancellation token.

https://msdn.microsoft.com/en-us/library/system.operationcanceledexception(v=vs.110).aspx

"The exception that is thrown in a thread upon cancellation of an operation that the thread was executing."

Ting can confirm.

[2018-07-31 13:39] TingluoHuang commented on #1737
@cboulva99 how was your VM/machine or agent got deployed? are you using any Azure ARM template/extension?

the 401 will happen about every 50 mins, the agent use a session token to communicate with service, the token valid for 50 mins, so every 50 mins, the agent needs to renew the token.

[2018-07-31 13:43] TingluoHuang commented on #1738
@GitHubSriramB if your build/release is canceled, we fire all cancellation tokens in the worker process tree to stop running threads/tasks ASAP, i assume that is when the OperationCancel exception will throw.

[2018-07-31 13:44] TingluoHuang commented on #1738
@GitHubSriramB i don't think we want to retry IO operation on cancellation, the worker process has a limited time to exit after receive cancellation message, if the IO operation's retry takes longer then that, the agent will just force kill the worker process.

[2018-07-31 15:08] cboulva99 commented on #1737
The VM was installed manually. I tried to install the Azure ARM for VSTS Deployment agent but the installation failed. Maybe I need to clean this from the VM? I finally installed manually the Agent on my two servers using the script provided in the VSTS Deployment Group Details tab.

[2018-07-31 18:31] asifibrahim commented on #1646
What was the resolution?  I am able to access TFS url from browser but not during configuring the agent.

[2018-07-31 20:02] asifibrahim commented on #776
I already have anonymous authentication enabled but still see errors connecting when configuring the agent.  TFS URL is working fine thru browser.

Connecting to server ...
VS30063: You are not authorized to access http://servername:8080

[2018-08-01 05:02] ManojCN opened #1739 "Enable git to use SChannel during configure with 2.136.1 is not working as expected (.gitconfig file issue)"
## Agent Version and Platform
Version of your agent - 2.136.1
Platform - Windows

OS of the machine running the agent - Windows

Version - On-Prem TFS 2017.3.1

What's not working?
Enable git to use SChannel during configuration with agent (ver. 2.136.1) is not working as expected.
command used: ./config.cmd --gituseschannel

Issue found at:  .gitconfig file (default)
[core]
	symlinks = false
	aut

[2018-08-01 07:09] lxkbest commented on #1646
@asifibrahim Do you have the same problem with me?  Refer to this address and it will help you
https://docs.microsoft.com/zh-cn/vsts/pipelines/agents/configure-tfs-authentication?view=tfs-2015

[2018-08-01 13:53] melezhik opened #1740 ""not equal" agents demands in yaml build definition"
Hi vsts devs! I have found in documentation and wonder if it possible to have a "not equal" agent demands in yaml build definitions?

[code]

Best

Alexey

[2018-08-01 14:39] TingluoHuang commented on #1739
https://github.com/git-for-windows/git/issues/1698

[2018-08-01 14:40] TingluoHuang commented on #1739
looks like an issue with git for windows, i am trying to test a workaround while waiting for a fix from git.

[2018-08-01 15:53] TingluoHuang commented on #1739
@ManojCN thanks for finding this great information, i need to package 2.18 git into the agent in order to get this fix, however the process of getting legal approval for packaging git 2.18 is still running, i am waiting on that.

[2018-08-01 16:12] TingluoHuang commented on #1740
@melezhik we don't have a `not equals` demand operator. we only have `exists` or `equals`

[code]
I am going to close this issue as by designed for now.

[2018-08-01 16:12] #1740 closed

[2018-08-01 16:31] melezhik commented on #1740
Thanks @tanvi-soni . Can I make a feature request?

[2018-08-01 17:54] asifibrahim commented on #1646
When configuring tfs agent I used Authentication type Negotiate instead of  default Integrated and that seemed to  resolve issues with configuring tfs agent in a different domain.

[2018-08-02 00:38] vitru opened #1742 "Crash on updating Mac agent to 2.138.4"
## Have you tried trouble shooting?
Yes

## Agent Version and Platform
2.131.0 updating to 2.138.4

OS of the machine running the agent? OSX

## VSTS Type and Version
office.visualstudio.com

## What's not working?
2.138.4 agent crashes when doing first boot as part of auto-update, which leaves machines without a running agent. Manually restarting agent works fine.

## Agent and Worker's Diagnosti

[2018-08-02 05:41] ManojCN commented on #1739
@TingluoHuang thanks for the quick response and identifying the fix.
Looking forward for the update further.

[2018-08-02 06:50] cboulva99 commented on #1737
Finally, the problem is solved!
It was the attempt that I made of installing the Deployment agent using the AzureRM Extension  which was left at a state of Provisioning failed. It seems this conflicted with the manually installed agent, and removed the configuration files every night around midnight. As soon as I removed the failed provisioning, the disappearing configuration files issue was gone!

[2018-08-02 06:50] #1737 closed

[2018-08-02 11:37] TingluoHuang commented on #1737
@cboulva99 cool, i will find the owner of AzureRM extension and report the problem to them.

[2018-08-02 11:44] giuliov commented on #1730
You have REST API to manage the agents: I used a similar Powershell script in the past.

[code]

[2018-08-02 12:14] jasonbert opened #1743 "Cancelled builds using task.setvariable still show as success"
## Have you tried trouble shooting?
Yes

## Agent Version and Platform
2.131.0 / Windows_NT

## VSTS Type and Version
VisualStudio.com
What is your account name? Can't provide publicly.

## What's not working?
Using the below in a PowerShell script to cancel a build from a task. The task shows as canceled and the build stops, but the build shows as success. This results in any release, with an aut

[2018-08-02 12:58] carct opened #1744 "Inconsistent behavior of 'Hosted Ubuntu 1604' Host image"
## Agent Version and Platform
Version of your agent? 2.102.0/2.100.1/...
Agent.Name | **Hosted Agent**
Agent.Version | **2.136.1**

OS of the machine running the agent? OSX/Windows/Linux/...
pool "**Hosted Ubuntu 1604**"

## VSTS Type and Version
**VSTS**

## What's not working?
Please include error messages and screenshots.
Running task 'Bash' (Run a Bash script on macOS, Linux, or Windows // Ver

[2018-08-02 17:54] TingluoHuang commented on #1742
@vitru looks like dotnet core problem to me, since the app crashed. I will log an issue for them.

[2018-08-02 18:10] TingluoHuang commented on #1744
@carct thanks for reporting this, I would suggest you report this problem to [ImageGeneration](https://github.com/Microsoft/vsts-image-generation), that is the repository about how that Ubuntu 1604 image got built.

I don't think the problem you run into is an agent issue, so I am going to close this issue for now.

[2018-08-02 18:10] #1744 closed

[2018-08-02 18:13] TingluoHuang commented on #1743
@jasonbert we don't support you cancel your task within a task, cancellation has to start from outside in, like user cancel the build/release from UI or REST api.

[2018-08-02 18:31] chcosta commented on #1466
We're continuing to see this (https://dotnet.visualstudio.com/public/_build/results?buildId=10151&view=logs).  Not stating that anything needs to be done explicitly here, but highlighting that we're looking forward to the official feature and hope that some of the reliability issues we're seeing with the preview feature are addressed.

[2018-08-03 01:57] lxkbest commented on #1646
@asifibrahim Just solve the problem

[2018-08-03 06:52] alexdrl commented on #1506
@ppejovic As Microsoft does not seem to have this marked as urgent or with priority, could you share the code of the custom build task?

Thank you in advance.

[2018-08-03 08:09] jasonbert commented on #1743
@TingluoHuang I assume you meant "cancel your build within a task", you can definitely cancel the task within a task :). Poking around other issues in this GitHub, I noted:

- https://github.com/Microsoft/vsts-tasks/issues/2163
- https://github.com/Microsoft/vsts-agent/issues/1170
- https://stackoverflow.com/questions/46329718/how-do-i-cancel-a-visual-studio-online-build-based-on-a-variable-set-in

[2018-08-03 13:07] ericsciple commented on #1649
There were bugs around tags. I checked in fixes which are rolling out with the current deployment. It will take a couple weeks to reach all accounts. The problem was annotated tags were causing failed builds to be created, whether the file excluded tags or not (error occurred while attempting to load the yaml file)

[2018-08-03 15:56] StefanKert commented on #789
We have the same requirement as some of the preposters. We have to run tests on a 32 bit Windows 7 and since the Functional Test tasks are deprecated we thought about installing the agent on each of these machines. Since it is not supported is there any other (recommended) way to run tests on these kind of machines?

[2018-08-03 17:22] olavoluissantos commented on #592
hi @bryanmacfarlane,
I've been trying to run a powershell script with the powershell vsts task. I'm on Ubuntu and I've got powershell and the vsts agent installed. My problem is very similar, output error points that there is no DotNetFramework installed. There is no DotNet Framework for linux, so how can I make this work? I've opened Task.json on [https://github.com/Microsoft/vsts-tasks/tree/mast

[2018-08-04 01:32] nexussays commented on #1649
Really appreciate the explanation @ericsciple, thanks!

[2018-08-05 16:28] lextm commented on #1743
You can cancel the whole build from a task, if you use a utility such as vstsabort,

https://github.com/lextm/vstsabort

[2018-08-05 16:47] lextm commented on #1743
@jasonbert I think that's by design.

I wrote a utility called vstsabort https://github.com/lextm/vstsabort and you can use it abort the build as cancelled. I am not sure if SuccessWithIssues can be achieved though.

[2018-08-06 06:47] AmitDaniel-wsc opened #1746 "vsts agent is running on network user instead of admin windows user"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)
Yes

## Agent Version and Platform
Version of your agent? 2.127.0

OS of the machine running the agent? OSX/Windows/Linux/...
Windows server 2016

## VSTS Type and Version
VisualStudio.com or On-Prem TFS? VisualStudio.com

If VisualStudio.com, what is your account name? http://

[2018-08-06 08:04] jasonbert commented on #1743
@lextm thanks for the utility, I will consider it :). My understand is that it just makes a REST callback and cancels the build that way?

I don't think it's unreasonable to have this ability, changing the status of a build from within a task. Primary purpose of DevOps is to automate manual tasks and reduce the need for human intervention. Build definitions should be able to make recover from situ

[2018-08-06 11:40] jasonbert commented on #1743
I disagree that having a token with write access is a high cost. I suspect the reason is because of race conditions, potentially created when build agents are running in parallel for the same build :).

[2018-08-06 13:58] TingluoHuang commented on #1746
@AmitDaniel-wsc the command line seems right, what is `VMSS extension`?
you might want to attach the log, the log should shows what arguments the agent get while config

[2018-08-06 14:00] AmitDaniel-wsc commented on #1746
@TingluoHuang Thanks .
Vmss extension is virtual machine scale set - and once you're scaling up / down the instances you can run a custom script ( Powershell script ) that will install the agent / clone repository or do whatever you want once the server is starting .

Which logs should i attach ?

[2018-08-06 14:02] TingluoHuang commented on #1746
@AmitDaniel-wsc everything under `_diag` folder of agent root directory.

[2018-08-06 14:36] TingluoHuang commented on #1746
@AmitDaniel-wsc seems like a escaping problem.
`'.\<USERNAME>'`
[2018-08-06 14:14:12Z INFO CommandSettings] Arg 'windowslogonaccount': ''.\wscadmin''
[2018-08-06 14:14:12Z INFO CommandSettings] Arg is invalid.

Can you try pass ``.\<USERNAME>`` or ``".\<USERNAME>"`` instead of using single quote?

[2018-08-06 14:37] janniksam commented on #422
We're having the same problem:

Exit code 100 returned from process: file name 'tf', arguments 'vc scorch C:\agent\_work\8\s /recursive /diff /unmapped /loginType:OAuth /login:.,******** /noprompt'.

What do we need to do exactly to get rid of the "warning"?

[2018-08-06 15:17] AmitDaniel-wsc commented on #1746
Sure . Updating the script now .
I'll send the logs again if something will fail again .

Thanks @TingluoHuang

[2018-08-06 15:50] AmitDaniel-wsc commented on #1746
@TingluoHuang King of the world !!!!
it works like a charm !!!!!!
Thank you so much !

[2018-08-06 15:50] #1746 closed

[2018-08-06 15:51] TingluoHuang commented on #1746
@AmitDaniel-wsc cool, glad you unblocked.

[2018-08-06 21:00] TingluoHuang commented on #1742
@vitru can you share your systemlog from that machine? maybe under `/var/log/system.log`

[2018-08-07 04:13] Ashwin1983 opened #1748 "Github Enterprise Repositories are not listed when i give Sources as Github Enterprise in my VSTS build definition."
## Have you tried trouble shooting?
Yes

## Agent Version and Platform
Version of your agent? 2.102.0/2.100.1/...
I am using the MS hosted agent

OS of the machine running the agent? OSX/Windows/Linux/...
Windows
## VSTS Type and Version
VisualStudio.com

If On-Prem TFS, which release? 2015 RTM/QU1/QU2/...

If VisualStudio.com, what is your account name? https://ashwin1983.visualstudio.com

## Wha

[2018-08-07 11:46] TingluoHuang commented on #1748
@madhurig for github enterprise integration question.
@Ashwin1983 i would suggest you post the question to [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html), since your question is not scope to the build/release agent.

[2018-08-07 21:51] CoolDadTx opened #1749 "YAML - Support conditions for templates"
## Have you tried trouble shooting?
Queuing a build generates an error. Unexpected value 'condition'.

## Agent Version and Platform
Version of your agent? 2.102.0/2.100.1/...

OS of the machine running the agent? Windows

## VSTS Type and Version
VSTS

If VisualStudio.com, what is your account name? https://fsmb.visualstudio.com

## What's not working?
I am trying to set up a YAML build. We have

[2018-08-07 22:50] ryanLeenay commented on #1393
Currenlty Im running into an issue wehre it seems as though nanoserver 1709 is the only image that successfully sends requests to Azure Batch. Is there any particular workaround here? Is there any image that is suffictinetly similar to nanoserve 1709

[2018-08-08 16:05] madhurig commented on #1748
@Ashwin1983: As the error indicates, VSTS is unable to reach your GHE server
**_The remote name could not be resolved: 'github.schneider-electric.com'._**

To use GHE integration in VSTS, you will need to make the server accessible to VSTS. If you want to keep everything in your private network, we recommend installing the latest version of Team Foundation Server in your network that includes GHE

[2018-08-08 17:57] CoolDadTx opened #1751 "[YAML] Support for variables is inconsistent in template expressions"
Trying to use system variables inside a template expression in a reusable step generates syntax errors in some cases but works in others. I cannot see any differences between the syntax being used.

## Have you tried trouble shooting?
Tried variations and the request keeps failing

## Agent Version and Platform
Version of your agent? 2.102.0/2.100.1/...

OS of the machine running the agent? Window

[2018-08-10 10:36] dalemyers opened #1757 "Tasks don't appear to get killed correctly"
## Agent Version and Platform
2.138.4 on OS X

## VSTS Type and Version
office.visualstudio.com

## What's not working?
Tasks do not appear to be killed correctly.

We have a situation where we are running a Python script in a task. This Python scripts uses `subprocess` to call out to a command line application. If someone cancels the build while this is running, then it appears that the command l

[2018-08-10 17:06] sondreb commented on #1647
Did not intend to link to a commit, but to follow up for anyone else who are working with YAML and VSTS, here is the proper way of combining parameters in YAML with variables in VSTS:

[code]
So basically just leave the VSTS variables as a result of the string, and run the format method and supply the parameters with YAML variables/parameters that you have available.

[2018-08-10 17:46] TingluoHuang commented on #1757
@dalemyers during cancellation, the agent will send Ctrl-C to the child process, wait for 10 sec, if the process still running send another Ctrl-Break, wait for 5 sec, if the process still running, kill the process tree.

the agent only wiped AGENT_TEMPDIRECTORY at the end of the entire build/release job, so i am not sure what is delete the file.

Can you share a link to your build?

[2018-08-10 17:48] dalemyers commented on #1757
We only see this after a build has been cancelled by pushing a new update to the branch (cancelling the old build on the PR and kicking off the new one). I'll need to wait until I see it, otherwise I don't know which builds this happened to.

[2018-08-10 18:19] barneywilliams commented on #971
@NullVoxPopuli I have the same issue. Can you share your "reasonable" workaround? Thanks!!!

[2018-08-10 18:25] ericsciple commented on #1751
`Changing to variables[''System.DefaultWorkingDirectory''] changes the error` it looks like you used two single quotes. `variables['System.DefaultWorkingDirectory']`

Also, template expressions currently cannot be embedded within a string. We do want to support ${{ }} within a string - it's on the backlog. The workaround is `${{ format('{0}\packages', coalesce(parameters.sourceFolder, '$(Build.Sou

[2018-08-10 18:28] ericsciple commented on #1749
this [is supported](https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-templateexpressions.md#example-conditionally-insert-into-a-sequence):

[code]

[2018-08-10 18:32] ericsciple commented on #1734
It is intentionally not available on yaml definitions. @melezhik which setting are you looking for on the options tab?

[2018-08-10 18:33] ericsciple commented on #1674
this in master and will roll out with the next sprint deployment

[2018-08-10 18:33] #1674 closed

[2018-08-10 18:34] ericsciple commented on #1673
@mireillehanna this in master now, correct? and will roll out with the next sprint deployment? let's close the issue here if so.

[2018-08-10 18:37] ericsciple commented on #1677
@mireillehanna can you confirm and close this issue?

[2018-08-10 18:39] ericsciple commented on #1549
This is rolling out with last sprint's deployment. It's deployed for most accounts now. The rest will roll out next week. The syntax is like this:

[code]

[2018-08-10 18:44] #1549 closed

[2018-08-10 18:46] ericsciple commented on #1649
Closing the issue here. The deployment has reached most accounts, and will roll out to the rest sometime next week.

[2018-08-10 18:46] #1649 closed

[2018-08-10 18:49] ericsciple commented on #1729
This is deployed to some accounts. The deployment will likely reach the rest of the accounts next week.

Docs haven't merged yet. The syntax will be:

[code]

[2018-08-10 18:53] ericsciple commented on #1622
@vtbassmatt

[2018-08-10 19:02] ericsciple commented on #1633
Sorry for the delay @wsmckenz we haven't forgotten about this. It's on the backlog, and we just haven't gotten to it yet.

[2018-08-10 19:08] ericsciple commented on #1498
@vtbassmatt fyi, we should make sure this is clear in the docs on microsoft.com that task groups are not supported for yaml definitions and templates are the equivalent

[2018-08-10 19:08] #1498 closed

[2018-08-10 19:12] CoolDadTx commented on #1751
"it looks like you used two single quotes."
That was a typo. I used single quotes and it doesn't work.

Here's what I want:
[code]

No variation of quotes, no quotes or anything else worked. I tried the regular approach of $(System.DefaultWorkingDirectory) and get error as well.  But in a different template, this works.

[code]

Notice here I'm using the $() syntax and I'm not using format but it

[2018-08-10 19:15] CoolDadTx commented on #1751
To clarify in the last example, if you put single quotes around the value then you get a syntax error.

[code]

[2018-08-10 19:16] MireilleHanna commented on #1673
yeah that's correct, it will go out with this sprint

[2018-08-10 19:20] ericsciple commented on #1751
try this:
[code]

[2018-08-10 19:20] vtbassmatt commented on #1622
Simple answer: in a config-as-code world, the repo is the security boundary. If someone can land code in your repository, assume they can create the first build definition.

Complete answer: build definition security is still enforced. So imagine a user without that permission manages to get a .vsts-ci.yml file into master. We won't create a build definition right away. But eventually someone *wit

[2018-08-10 19:26] CoolDadTx commented on #1749
Yes I agree a template would work but the enhancement request is that I be able to use a condition like I can for every other item I can put into a step. Conditions are far easier to write and read then template expressions and the overly complex syntax you have to use to avoid errors.

[2018-08-10 19:33] CoolDadTx commented on #1751
"try this:"

Error: Unexpected null value

Note that I tried a different variable, just in case, and it gives the same error.  For testing purposes here's the entire template I created.

[code]

And here's the test build I'm trying to use it in (elided).

[code]

[2018-08-10 19:37] melezhik commented on #1734
Hi @ericsciple , it is "Build number format".

[2018-08-10 19:37] ericsciple commented on #1751
Sorry, I forgot system.defaultworkingdirectory is defined only on the agent side. All of the template expansion stuff happens on the server when the pipeline is initialized.

This will coalesce with the string value, which contains a macro (and macros are delay-expanded)

[code]

[2018-08-10 19:46] ericsciple commented on #1734
@melezhik I was hoping you would say that one! Here is the yaml way of defining the build number: https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-name.md

[2018-08-10 20:07] melezhik commented on #1734
👍

[2018-08-10 20:08] melezhik commented on #1734
thanks @ericsciple , will try that one

[2018-08-10 20:08] #1734 closed

[2018-08-10 20:11] calebcartwright opened #1760 "***NO_CI*** commit message flag not being honored"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)
Yes, but n/a

## Agent Version and Platform
Version of your agent? 1.136.1

OS of the machine running the agent? OSX/Windows/Linux/…
All

## VSTS Type and Version
VSTS

If VisualStudio.com, what is your account name? multiple

## What's not working?
The `***NO_CI***` commit mes

[2018-08-10 20:30] TingluoHuang commented on #1760
@calebcartwright there is a regression on the server side @MireilleHanna fixed today, the deployment will deploy the fix on Monday.

sorry for the inconvenience!

[2018-08-10 20:33] CoolDadTx commented on #1751
That is working for the test scenario I gave.  I try in the other templates where I had the same issue to see if it works for them as well.

I think the two things that are resolving this is the use of double quotes and the info about the timing in which the expression/variables are evaluated.  Is this documented somewhere?

[2018-08-10 20:40] ericsciple commented on #1751
It is briefly touched on in the template docs. We need to improve the templates docs. Also we need to improve variables documentation in general to better explain when variables/expressions are evaluated.

@vtbassmatt fyi

[2018-08-12 05:13] toniellenk opened #1761 "TF14045: The identity is not a recognized identity. ##[error]Exit code 100 returned from process"
I've done the migration from TFS 2015 to TFS 2018, everything is working correctly, but the Build Agent is experiencing an error while giving Get Source

## Have you ever tried to solve problems?

- **Reinstall the agent pool;**
- **Create a new Build Definitions;**
- **Reinstall the VSTS agent service;**
- **I have identified that the identity "781ab373-f96f-457f-9f86-fbea51914f25" belongs to a p

[2018-08-12 15:08] felixfbecker commented on #1580
Could this be reopened? I just set up VSTS for the first time and was very surprised they don't work. They work in every other CI provider I've used before (Travis, Circle, Buildkite). Having to write an extra template file with parameters just to reuse simple structures/values is cumbersome, and with the parameterization it's harder to typecheck against a schema in an editor. It's also a bad firs

[2018-08-13 01:56] TingluoHuang commented on #1761
@toniellenk if you check your TFS AT's event log, Applications->TeamFoundationServer -> debug, find the time that this error happened, you might able to find some useful error on the server side.

[2018-08-13 03:47] toniellenk commented on #1761
@TingluoHuang thanks for the help, but I've already been able to solve the problem.

I have identified that there were some workspaces linked to this user in the tbl_Workspace table of the TFS_Collection database. After removing those user records in the table the problem has been resolved.

I used the following script to identify:

select * from tbl_Workspace where OwnerId = '781ab373-f96f-457f-9

[2018-08-13 03:47] #1761 closed

[2018-08-13 17:38] lifesoccult commented on #1760
@TingluoHuang I am still experiencing this issue with builds inside my team's VSTS account. Can you confirm this regression is fixed across the board? If not, when will the rollout be finished? TIA.

[2018-08-13 17:45] TingluoHuang commented on #1760
@lifesoccult the deployment that contains the fix has start rolling, it might take in total 3-4 days to hit all VSTS deployment rings (0 -> 5), what's your VSTS account name? i can help you check which ring your VSTS account belongs to. :D

[2018-08-13 17:59] calebcartwright commented on #1760
Thanks for the update @TingluoHuang . Is there an email address we can use to share account info/names with you offline to determine their ring placement?

[2018-08-13 18:04] lifesoccult commented on #1760
@TingluoHuang I will email you directly. Thanks.

[2018-08-14 04:51] victorperez2911 opened #1763 "Build Failure - ##[error]Value cannot be null. Parameter name: version"
Environment
Server - VSTS
Account Name - portalprocfit.visualstudio.com
Agent - Private:
Agent Version - 2.131.0/2.134.2
Running On Windows 10 Pro - 1709
Issue Description

Hello

One of our build definitions (Gated Checkin) has now been error in the "Get sources" process of all agents.

The mistake is.

# # [ERROR] Value cannot be null. Parameter Name: Version

![image](https://user-images.github

[2018-08-14 12:18] #1738 closed

[2018-08-14 13:26] TingluoHuang commented on #1760
Updates:
The deployment has finished on Ring 0/1/2.
Ring 3 is deploying right now.

[2018-08-14 15:29] samuel-weber commented on #1518
Any news on this one?

[2018-08-14 15:41] Kp0c commented on #1760
Thanks for the update @TingluoHuang. Could you say what're the estimates for rings 4..5?

[2018-08-14 16:29] TingluoHuang commented on #1760
Ring 3 finished.
Ring 4 will start in an hour.

[2018-08-14 19:12] jhgoodwin opened #1764 "YAML - How to test YAML locally before commit"
## Have you tried trouble shooting?
[Trouble shooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)
Yes - I tried reading the docs available, getting started guides, looking through the logs with debug enabled, but I did not see a way to run, or rerun a yaml build at the command line.

## Agent Version and Platform
Version of your agent? 2.102.0/2.100.1/...
image: microsoft/v

[2018-08-14 19:14] TingluoHuang commented on #1763
@victorperez2911 the fix has been deployed, can you try your build again and confirm whether it is fixed or not? thanks.

[2018-08-14 19:15] TingluoHuang commented on #1764
@jhgoodwin what kind of testing you are trying to do? just validate syntax or verify the function?

[2018-08-14 19:41] lifesoccult commented on #1760
@TingluoHuang has Ring 4 finished? Problem is still persistent.

[2018-08-14 19:42] TingluoHuang commented on #1760
@lifesoccult  Ring 4 is still running...

[2018-08-14 20:14] bryanmacfarlane commented on #1764
We have a few stories on our backlog to address these scenarios starting with linting, then preview what if, and then finally a private buddy build you can run before committing the yaml (run locally but cooperates with the service - not offline).

I'm going to close since this is a multi-stage set of work and it's not an issue.  rest assured it's something we want to and will solve.  It's just no

[2018-08-14 20:14] #1764 closed

[2018-08-14 20:38] jhgoodwin commented on #1764
@bryanmacfarlane what feed is most likely to have the updates related to this work announced? I'd be glad to try it when it's available.

[2018-08-14 20:48] duaneking commented on #1627
Confirmed as still an issue.  Our entire team is blocked by this atm.

[2018-08-14 21:50] duaneking opened #1766 "Binaries do not reflect real versioning."
## Have you tried trouble shooting?
Yes

## Agent Version and Platform
Version of your agent? 2.134.2

OS of the machine running the agent? Windows

## VSTS Type and Version
VisualStudio.com with on-prem build agent.

## What's not working?
The binaries that get installed do not have version data set correctly.  If you look in the properties of the binary on the file system by selecting the nstall

[2018-08-14 21:58] bryanmacfarlane commented on #1766
You can run cli with --version to get version.

[2018-08-14 22:35] TingluoHuang commented on #1760
Ring 4 is almost done, other than South India region.

[2018-08-15 02:06] TingluoHuang commented on #1760
Ring 4 has completed.

[2018-08-15 02:32] calebcartwright commented on #1760
Thanks @TingluoHuang!

[2018-08-15 09:27] wangfeng19890 opened #1767 "VSTS Nuget restore -- Error: getaddrinfo ENOTFOUND"
## Agent Version and Platform
Version is 2.102.0

OS of the machine running the agent?  **Windows**

## VSTS Type and Version
VisualStudio.com

## What's not working?
Nuget step failed:
Error Message: getaddrinfo ENOTFOUND xxxx.visualstudio.com xxxx.visualstudio.com:443

[2018-08-15 12:27] garyjohnson commented on #1760
Having the same issue, appeared to start yesterday or the day before. Was still happening early this morning. Is there any workaround while we wait for a fix?

[2018-08-15 13:14] TingluoHuang commented on #1760
Ring 5 is still deploying, but most accounts should get the fix already. if you are still seeing this issue, share your VSTS account name with me, i can help you double check.

[2018-08-15 14:14] TingluoHuang commented on #1767
@wangfeng19890 can you sure more info with about your issue, like a full build log?

[2018-08-15 15:46] TingluoHuang commented on #1760
The fix has finished deployed to all VSTS account, sorry for the break and thanks for your patience.
I am going to close this issue.  please re-open if anything still busted.

[2018-08-15 15:46] #1760 closed

[2018-08-15 16:44] pbtanna17 commented on #1454
What was the solution to this? I am facing exactly same issue.

[2018-08-15 16:51] TingluoHuang commented on #1454
@pbtanna17 you can either figure out which file is causing the permission problem and why or add an always run step at the end of your definition to run `SUDO git clean -fdx` yourself

[2018-08-16 09:58] RemiGri opened #1768 "Multiple repositories in same project do not create two build definitions"
## VSTS Type and Version
Using Visual Studio online

## What's not working?
I have a project in VSTS where I have two repositories (Lets call them repo A and B). Repo A has .vsts-ci.yml file from which a build definition is created for repo A. Once I created repo B and I pushed in .vsts-ci.yml file for that repo I expected a new build definition to be created for that repo, but no build definition

[2018-08-16 13:39] jonkyops commented on #1743
This can also cause issues when a definition has Tag sources set to "On Success". We update the version number as one of the build tasks, but if the build is cancelled before that has a chance to run, the commit is tagged with the default generated version.

[2018-08-16 14:40] victorperez2911 commented on #1763
fixed now.tks.

[2018-08-16 14:40] #1763 closed

[2018-08-16 15:14] pbtanna17 commented on #1454
The way I fixed it is by starting installing agent with root user. But if I dont do that, I would have to do something like what you have mentioned, which doesn't seem like a clean approach. I would think that such an issue shouldn't even occur in the first place. How is that even if I install svc with a non root user, the build folder is created by root user and hence gives issue while doing git

[2018-08-16 18:03] CoolDadTx opened #1770 "[YAML] Cannot set environment variable in reusable step"
In YAML you can set environment variables using scripts easily but if you try to do the same thing in a reusable step then the changes are ignored in the original YAML script. So you cannot create reusable steps that will do any sort of calculations that must be used in later (reusable) steps.

A typical YAML scenario.

[code]

Trying to clean up the build by using reusable steps.

[code]

Note th

[2018-08-16 21:39] kenkuo commented on #1770
You can try using the format function (poorly) described here: https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-templateexpressions.md
In your example it would be:
`- script: ${{ format('echo ##vso[task.setvariable variable={0}]{1}', parameters.name, parameters.value) }}`

[2018-08-16 22:03] Gold14388 opened #1771 "Hosted agent in MacOs throws error when Xamarin.iOS pipline runs"
## Agent Version and Platform
Agent Version: 2.136.1
MacOS high Sierra  version : 10.13.4

## VSTS Type and Version
VisualStudio.com

## What's not working?
I created a CI pipeline using Xamarin.iOS template.
I hosted an agent in MacOS and referenced this agent in my CI pipeline.
When I run the pipeline, it throws me an error as described below:

_##[Error 1]
No agent found in pool MacbookAir Pool

[2018-08-17 02:27] alexvy86 commented on #1614
@TingluoHuang I think I experienced the same thing, with agents in two different servers. Probably relevant to say that both VSTS agents were installed through the Azure VM extension. Apparently the VSTS Agents were updated at the same time today (08/16 04:52 UTC), which is made very clear by an empty file called `EXTENSIONUPDATE` inside the `VSTSAgent####` folders, with the same timestamp as the

[2018-08-17 02:35] alexvy86 commented on #1614
And this is what I get if I try to start the service:
[code]

[2018-08-17 02:38] bryanmacfarlane commented on #1614
Right, the PAT is used to interactively configure and unconfigure.  It is not used to communicate with VSTS.   You have a half unconfigured service - it removed it as a service but couldn't remove it from the service.

By design, we don't persist the very elevated PAT which equates to your account to register an agent.

This doesn't look like a bug in the agent - it looks like an issue with the az

[2018-08-17 02:40] bryanmacfarlane commented on #1614
Registering/unregistering requires a super elevate PAT, but that interactive process downloads a limited access key/token to listen to the queue:  https://github.com/Microsoft/vsts-agent/blob/master/docs/design/auth.md

[2018-08-17 02:50] alexvy86 commented on #1614
That was my understanding of PAT usage. It does look like an issue with the extension, the last line in the logs of the VM Agent (which manages VM extension updates) is an error.
[code]

I'm trying to find a way to report it to them but can't find where, if either of you can point me in the right direction I'd appreciate it.

Now, just so I understand... what is it that stays in the VM/Agent that

[2018-08-17 03:17] bryanmacfarlane commented on #1614
@TingluoHuang - do you know where to report issues with VM extension?

[2018-08-17 03:34] bryanmacfarlane commented on #1767
also, create on vsts-tasks repo if you get the full log

[2018-08-17 03:34] #1767 closed

[2018-08-17 03:36] bryanmacfarlane commented on #1695
@cmacduff-sb - reactivate of log another issue if this didn't address questions.

[2018-08-17 03:36] #1695 closed

[2018-08-17 03:39] bryanmacfarlane commented on #1711
closing since it's merged.

[2018-08-17 03:39] #1711 closed

[2018-08-17 03:41] bryanmacfarlane commented on #1771
And is there an agent in that pool with the Xamarion.iOS capability?  Does it have that capability if you restart the agent? (it scans on startup) . What if you manually add that capability to an agent in the admin web UI?

[2018-08-17 03:48] Gold14388 commented on #1771
Can you direct me to the link where i can learn about adding manually that capability to an agent in admin web UI?
Also can you tell me how do i confirm if there is Xamarin.iOS in my macOs because i donwloaded Visual studio for mac in MacOs i am did try to select Xamarin.iOS while installingt

[2018-08-17 03:56] bryanmacfarlane commented on #1771
If it's not installed then you wouldn't want to manually create the capability.

https://docs.microsoft.com/en-us/xamarin/ios/

Restart the agent.

The error is correct if it's not installed ...

Reactivate if it still doesn't work.  Make sure you can build a xamarin.ios app locally as a dev first on the machine.

hth

[2018-08-17 03:56] #1771 closed

[2018-08-17 05:40] alexvy86 commented on #1611
@tejasd1990, so the extension is persisting the PAT somewhere and trying to reuse it during updates to the VSTS agent? If that's the case I'm curious why it is done that way, when my current understanding is that the PAT is only needed the first time you configure an agent. Agent updates after that don't need it. I'm not entirely sure what steps are followed when a VSTS Agent update is triggered m

[2018-08-17 14:05] CoolDadTx commented on #1770
Thanks but the issue isn't that the build doesn't like the command. It executes the command and no errors occur in the output. It just doesn't have any impact on the parent YAML definition.

I'm not sure what your example code is doing that is different than the direct call I'm making. Irrelevant it fails at runtime because it doesn't like the template expression.

[2018-08-17 21:07] CoolDadTx commented on #1770
Arg!! template expressions and whatnot are flaky. I really wish the documentation and/or samples could be updated to make all the (non-intuitive) rules (e.g. template expressions, variable references, scripts, etc) clear with examples. Using single quotes seems needed in some cases but in others double quotes, sometimes expressions eval and sometimes they don't. The list goes on.

I have another (

[2018-08-17 21:47] CoolDadTx opened #1772 "[YAML] Cannot get PowerShell script to evaluate template expression"
I'm trying to get a powershell script inside a reusable step to recognize a parameter in a template expression and no combination of values seems to work.

[code]

The above results in an error in PowerShell saying variables containing { should be changed to `{.

## Have you tried trouble shooting?
Yes

## Agent Version and Platform
Version of your agent? 2.102.0/2.100.1/...

OS of the machine run

[2018-08-17 22:03] CoolDadTx commented on #1772
Also tried this.

[code]

Get same error about using `{

[2018-08-17 22:43] bryanmacfarlane commented on #1770
@CoolDadTx - agreed.  we're updating docs as we progress through the preview.  @ericsciple is back on Monday and he can take a look at this.

[2018-08-20 01:28] ngeegoh opened #1773 "Cannot create build pipelines with different branches via YML file and UI does not show pipeline steps when using YML file configuration"
I cannot change the pipeline name when using yml file to configure the build pipeline in VSTS.
The default name is always <REPO_NAME>/<REPO_NAME> CI which is not ideal if we want to have separate build pipeline for different branches of a repository. Currently, whenever I push up new changes in any branches, VSTS builds all branches under 1 build pipeline which is not very ideal because we could n

[2018-08-20 13:33] riezebosch commented on #1729
❌ .vsts-ci.yml (Line: 3, Col: 3): Unexpected value 'submodules'

[2018-08-20 14:03] TingluoHuang commented on #1729
[code]

or

[code]

[2018-08-20 14:40] ericsciple commented on #1518
@samuel-weber what issue are seeing specifically? I was not able to reproduce the issue.

@dakale fyi

[2018-08-20 19:33] melezhik commented on #1696
This is error I have when try to upgrade client (manually)

[code]

[2018-08-20 19:44] TingluoHuang commented on #1696
@melezhik looks like the agent is having trouble of download agent package from Azure CDN. the agent process is an extension of the VSTS service, VSTS service get updates every 3 weeks and there is no way for user opt-out. it's little bit weird  you allows the server moving forward but the service's extension (the agent) sit back.

[2018-08-20 20:21] melezhik commented on #1696
Why? I just don't upgrade the agent as often as every weeks, why is this strange? I hope you keep back compatibility?

[2018-08-21 03:43] littleninja commented on #1506
@alexdrl I tried writing my own script but ran into the problem of another process (the build/release?) using files in the build directory. We only just started using a free extension, Post Build Cleanup.

Helpful resources:
- [Predefined build variables](https://docs.microsoft.com/en-us/vsts/pipelines/build/variables?view=vsts), see the earlier comment by ericsciple,
- [Using build variables](htt

[2018-08-21 08:44] plang85 opened #1774 "[error]Invalid file path '/datadrive/vsts/work/5/s'."
## Have you tried trouble shooting?
yes

## Agent Version and Platform
2.138.6, CentOS 7

## VSTS Type and Version
VisualStudio.com

## What's not working?
A bash task failst to starte with `##[error]Invalid file path '/datadrive/vsts/work/5/s'`. When I ssh into the agent the path is there.

[code]

![issue](https://ixdev.blob.core.windows.net/cache/vsts-path-issu.png)

## Agent and Worker's Diagn

[2018-08-21 10:22] Olav-Adema opened #1775 "Failing to configure agent to online VSTS"
I'm trying to attach an agent via a proxy with an admin PAT key to VSTS, but it's failing to in the test phase. I do see that it's been added to the pool, but shown as offline.
When i try to run it, i get an error that's not been configured.

I read that when running a local TFS server you have to enable Anonymous Authentication, but we are using the online version so that's not possible.
What is

[2018-08-21 11:55] rbonini commented on #1775
I too have an issue in the test phase of setting up a VSTS agent.  In my case it times out. I'm not sure if it is related.

2018-08-21 11:11:56Z INFO RSAEncryptedFileKeyManager] Loading RSA key parameters from file C:\vstsagent\A1\.credentials_rsaparams
[2018-08-21 11:12:18Z WARN VisualStudioServices] Attempt 1 of POST request to https://doitsolutions.vssps.visualstudio.com/_apis/oauth2/token fail

[2018-08-21 13:18] TingluoHuang commented on #1775
@Olav-Adema does your proxy server blocked `https://X.vssps.visualstudio.com/_apis/oauth2/token`? the oauth2/token endpoint is used by the agent to exchange an oauth token from service, make sure your proxy server allows that url.

[2018-08-21 13:25] TingluoHuang commented on #1775
the oauth2/token endpoint is a public endpoint (you don't need auth header to hit it), but you are getting Forbidden, which makes me few something in your network is blocking it.
https://X.vssps.visualstudio.com/_apis/oauth2/token failed. HTTP Status: Forbidden

[2018-08-21 13:36] plang85 commented on #1774
:thumbsup: was a yaml definition, but inline was the problem

[2018-08-21 13:36] #1774 closed

[2018-08-21 13:37] TingluoHuang commented on #1774
@plang85 do you mind share the price of your yaml file that causing the problem? are you hardcode "filePath" in your yaml file?

[2018-08-21 13:41] plang85 commented on #1774
sure thing
[code]

[2018-08-21 13:43] TingluoHuang commented on #1774
@plang85 weird... you did put `inline` in your yaml file, then why the system use `filePath`

[2018-08-21 13:44] plang85 commented on #1774
the inline was after your comment

[2018-08-21 13:45] TingluoHuang commented on #1774
@plang85 so before it looks like this?
[code]

[2018-08-21 13:59] plang85 commented on #1774
@TingluoHuang yep, that's correct

[2018-08-21 14:01] TingluoHuang commented on #1774
@plang85 cool, thanks.

[2018-08-21 18:19] ggirard07 commented on #1727
@ericsciple just to be sure I follow you on what is going on here based on feedback from @t3mi :

**Does it means parameters in templates don't follow their YAML type?**
Instead, simple values are always string and complex values are always objects. Even if I declare a parameter as `force: false` it will be first evaluated as a string (ie always equivalent to declaring `force: 'false'`).
Actually

[2018-08-21 18:45] cwelde opened #1776 "Can't create/configure a Linux Build Agent with TFS"
I'm trying to follow https://docs.microsoft.com/en-us/vsts/pipelines/agents/v2-linux?view=vsts
We are using TFS2017, ubuntu linux server 16.04, but our TFS is not set with https yet due to issues.

I'm unable to configure the agent to connect to TFS
PAT - this is out of the question, we don't have https
Integrated - Not Supported for linux
Alternate - Only works with https, is there a work around?

[2018-08-21 18:58] TingluoHuang commented on #1776
@cwelde Negotiate should work for you, try pass your proxy information while configure the agent.
https://docs.microsoft.com/en-us/vsts/pipelines/agents/proxy?view=vsts&tabs=windows

[2018-08-21 22:12] cwelde commented on #1776
Sorry, I seem to have misunderstood my original issue. The ubuntu server is configured work with our proxy already. I can't connect via Negotiate to our server, all I get is a "No Such device or address error"

![issue1](https://user-images.githubusercontent.com/28943926/44431875-9a568f00-a554-11e8-989b-24c8a519e955.PNG)

[2018-08-21 22:26] cwelde commented on #1776
And then I tried it again with a different name for the server we use and receive this error:
![issue3](https://user-images.githubusercontent.com/28943926/44432361-a17e9c80-a556-11e8-8320-27ac93415183.PNG)

[2018-08-22 16:09] trevorNgo opened #1777 "Get Sources Git Submodules needs option to pull latest commits"
I have been scrounging the web for a workaround to this issue.
During the CI build "Get Sources" step, I need latest commit from remote repository from Git Submodule to be pulled; not the (potentially outdated) SHA-1 commit hash indicated by .gitmodules in the index.

In the logs, submodules are being updated through this command:
_##[command]git -c http.https://[url].visualstudio.com.extraheader=