[2019-03-08 15:13] peters commented on #2145
@TingluoHuang Ahh :crab:  The docker container is only used for building the native components and then returns to the host OS to run the actual unit tests. Docker does not impact this problem and I only mentioned it to shed some light upon why we would like a new build directory per build.

[2019-03-08 15:17] TingluoHuang commented on #2145
@peters the agent will set a special environment variable when it run a job, ex: VSTS_PROCESS_ID=GUID, then any child process launched in your job will has that environment variable. at the end of the build, the agent will try find all processes that has that environment variable and kill them.
do you happen to have the build log and agent log for the build that cause the segfault?

[2019-03-08 15:27] peters commented on #2145
@TingluoHuang I understand. I think I've found the root cause, I logged onto the build agent and the folder the `vsts-agent` was attempting to delete was open in `Windows Explorer`. So I guess my theory about orphaned child processes was probably incorrect:

![image](https://user-images.githubusercontent.com/869/54037396-59575c80-41be-11e9-9bb0-b402b5d1cafc.png)

Closing `Windows Explorer` solved

[2019-03-08 15:30] TingluoHuang commented on #2145
@peters do you happen to know how the file explorer get opened, by some UI test?

[2019-03-08 15:34] peters commented on #2145
@TingluoHuang No, it only spawns console processes. The `vsts-agent` does not run as a privileged service. I'm embarrassed to say but this was purely a PEBCAC on my end. I probably logged onto the build agent in order to investigate a few failing unit tests and forgot to close the directory.

[2019-03-08 15:37] TingluoHuang commented on #2145
@peters that's fine. glad we figure this out to unblock you. 😄
feel free to close the issue once you get everything back on track.

[2019-03-08 15:38] peters commented on #2145
@TingluoHuang Thanks for helping :)

[2019-03-08 15:38] #2145 closed

[2019-03-08 17:16] NNTin commented on #2090
+1
All the images listed [here](https://hub.docker.com/_/microsoft-azure-pipelines-vsts-agent) are for amd64 architecture. Please include other architectures as well.
The RPi has arm architecture.

[2019-03-08 17:19] ivailop opened #2148 "Unable to map secrets to global environment variable"
## Agent Version and Platform
Any

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
Unable to map secrets to global environment variables.

* example.yaml
[code]

The [documentation](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#secret-variables) provides an example of mapping per task, but does not explicitly sa

[2019-03-08 17:27] TingluoHuang commented on #2148
@ivailop
when you have a secret variable defined in your build definition, we won't expose the secret variable through environment variable by default.
you need to either map the secret variable into environment variable per task, or use the secret variable as your task input.

Ex:  assume you define a secret variable mySecret=password in your definition
[code]

[code]

[2019-03-08 17:43] ivailop commented on #2148
I understand that. I need it mapped as a global environment variable and this is why I do it on a global level (not per task).
As I stated, the documentation does not prohibit that (does not explicitly state mapping is per task only) so I assumed it was possible.

[2019-03-08 17:50] TingluoHuang commented on #2148
@ivailop i don't think we support that, secret variable requires explicit action per task.
@vtbassmatt FYI.

[2019-03-08 17:59] ivailop commented on #2148
For a pipeline with multiple jobs and multiple scripts/tasks requiring secrets mapping it is very inconvenient to repeat it everywhere.
Isn't that the purpose of having global environment variables?

[2019-03-08 18:27] vtbassmatt commented on #2148
I see why this is confusing. `variables` isn't a place for "global environment variables", although they do incidentally get promoted into the environment. The only time we'll map a secret into an environment variable is specifically in an `env` block.

I'll try to clean up the docs to make the distinction between pipeline variables and environment variables more clear.

In this case, could you ju

[2019-03-08 18:45] ivailop commented on #2148
The secret needs to mapped to an environment variable. Yes, I could do that per script/task, but as I stated it is very inconvenient if it has to be repeated number of times.

[2019-03-08 19:52] solvingj commented on #1649
@ericsciple based on your comment, I believe this document is no longer correct.  Can you confirm I'm interpreting it correctly?

https://docs.microsoft.com/en-us/azure/devops/pipelines/build/triggers?view=azure-devops&tabs=yaml#tags

[code]

[2019-03-08 20:09] ericsciple commented on #1649
The default should be `refs/heads/*`

If that is not the behavior you are seeing, then please open an issue [here](https://github.com/Microsoft/azure-pipelines-yaml)

Note, the file is read from whichever branch you push to. So for example, if you push to refs/heads/foo then the trigger specification defined in the file in that branch is used when evalating where to trigger a build.

[2019-03-08 20:09] ericsciple commented on #1649
@solvingj

[2019-03-08 20:11] ericsciple commented on #1649
@solvingj sorry I see now that you are talking about tags specifically. I believe the docs are wrong. I'll follow up with PMs and confirm, and we'll get the docs updated.

I believe everything I said in the previous reply is correct. The default is `refs/heads/*` and tags are `refs/tags/...` so they would not match the default.

[2019-03-08 20:11] ericsciple commented on #1649
@vijayma @vtbassmatt can you help confirm the expected default behavior?

[2019-03-09 03:47] olafurpg commented on #2140
I am experiencing the same issue, colors render correctly but `/` characters render as `&#x2F`. The screenshot below is from the following public build https://dev.azure.com/olafurpg/Metals/_build/results?buildId=51

<img width="528" alt="Screenshot 2019-03-09 at 04 43 54" src="https://user-images.githubusercontent.com/1408093/54065815-fef1e680-4225-11e9-89ca-5ee1efadbcce.png">

In my iTerm macOS

[2019-03-09 03:53] olafurpg commented on #1569
@yaananth Is there an open issue to fix this limitation? I searched in the Visual Studio Community but couldn't find a related discussion. Copy-paste works for in-progress builds but it stops working when the colors have rendered after the build completes. To reproduce, try copy-pasting line 4000 from the `CmdLine` entry in https://dev.azure.com/olafurpg/Metals/_build/results?buildId=51

[2019-03-09 14:59] yaananth commented on #2140
This a known limitation with escape codes, we have a replacement view that will address this and is in internal preview, will be out soon.
Sorry for the limitations here with ansii code support.

[2019-03-09 19:48] sheldonhull commented on #691
For those on TFS it's also a Choco package now. Just run `Choco upgrade azuredevopsagent` . This saved me a lot of time

[2019-03-11 05:21] OmkarPathak commented on #2120
Solved the issue. I just enabled the `Accept the OAuth` token in build option.

[2019-03-11 05:21] #2120 closed

[2019-03-11 11:16] vtbassmatt commented on #2148
If you have tasks that expect to get the secret as a variable, you do have to map it in every time. But for inline scripts, it's the difference between saying `$MY_MAPPED_SECRET` in Bash (or `%MY_MAPPED_SECRET%` in Cmd) vs `$(MySecret)` and _not_ needing to map it in.

Workarounds aside: the feedback is well-taken. This is functioning as designed but I understand the irritation it causes. We'll co

[2019-03-11 11:16] #2148 closed

[2019-03-11 11:19] vtbassmatt commented on #1649
I made a copy and paste error in the docs. I agree, the default should be to _not_ build on tags unless you specifically opt in. I'll fix it.

[2019-03-11 15:46] steven-cuthill-otm opened #2149 "Support for AWS on hosted"
would be nice if you could add the following to the default hosted images and the public docker image.

AWSPowerShell.NetCore
Python boto , boto3
AWS CLI ( Windows & Linux )

[2019-03-11 15:51] TingluoHuang commented on #2149
@steven-cuthill-otm https://github.com/Microsoft/azure-pipelines-image-generation might be a better place for this kind of request. that's the repository for control what's installed on the hosted image.

[2019-03-12 00:14] alexwiese opened #2150 "Download Artifact flakey on slow connections"
## Agent Version and Platform
Version of your agent? 2.147.1
OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server? dev.azure.com

If dev.azure.com, what is your organization name? https://pulselogistics.visualstudio.com

## What's not working?
When the agent's Internet connection is slow or l

[2019-03-12 00:22] TingluoHuang commented on #2150
@alexwiese can you share some log with me, so i can better route the issue?
you can attach the log to the issue of send me in email if you don't want to expose in internet.
`tihuang @ microsoft.com`

[2019-03-12 01:49] TingluoHuang commented on #2150
@madhurig looks like customer having issue with download/upload artifact task, i will forward customer's log to you.

[2019-03-12 09:25] hugovk commented on #1270
Here's the link, but it's been closed for voting with no comment as to why:

* https://visualstudio.uservoice.com/forums/330519-azure-devops-formerly-visual-studio-team-services/suggestions/32068780-use-ci-skip-rather-than-no-ci

Please could someone say why voting is closed?

---

AppVeyor also respect `[skip ci]` and `[ci skip]` in the commit message title, and also `[skip appveyor]`.

* https:/

[2019-03-12 10:13] lukeapage opened #2152 "git submodule checkout, false value not supported to switch it off but empty string is"
## Agent Version and Platform
2.148.0 Windows

## Azure DevOps Type and Version
dev.azure.com

## What's not working?

I didn't want to checkout sub modules and false didn't work as a value.

Thankfully your documentation has a comment explaining a bug:

https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#checkout

![image](https://user-images.githubus

[2019-03-12 11:48] krischik commented on #232
@TingluoHuang @bryanmacfarlane Does not work any more:

[code]

And probably for a good reason.

[2019-03-12 13:15] TingluoHuang commented on #2152
@lukeapage thanks for let us know, i think this is a bug, we will fix it and prepare an agent release out.

[2019-03-12 14:02] TingluoHuang commented on #2149
i am closing this issue since it's not scope to this repository.

[2019-03-12 14:02] #2149 closed

[2019-03-12 15:28] TingluoHuang commented on #2152
@lukeapage after a close look, i don't think this is a real bug, but it is something in the product that confuse customer and we should improve that.
the doc:
[code]
So, if you don't want to checkout submodule, just don't add `submodules: true|recursive` to your checkout step.
ex:
[code]

Note:
There might be a designer option get merged in, make sure you have that unchecked.
![image](https://user

[2019-03-12 18:28] lukeapage commented on #2152
Your right.

I read the documentation and wrongly interpretted `submodules: true` as a default so I instinctively added `submodules: false` which causes submodules to try and fetch.. and led me down this rabbit hole.

IMO either improve just the documentation or add false as a valid value and update documentation to add false as an option. Its nice to be able to be explicit.

[2019-03-13 00:12] nschonni commented on #1270
https://visualstudio.uservoice.com/forums/330519-azure-devops-formerly-visual-studio-team-services has the announcement about the move to developer community

[2019-03-13 12:54] dza89 opened #2154 "Agent doesn't log to console correct"
## Agent Version and Platform
2.147.1
![AzureDevopsconsoleerror](https://user-images.githubusercontent.com/20373984/54342696-74eab900-463d-11e9-9aeb-f7d1ccc00c5b.png)
![localerror](https://user-images.githubusercontent.com/20373984/54342697-75834f80-463d-11e9-8503-6ef9107efbed.png)

OS of the machine running the agent? OSX/Windows/Linux/...
Windows Server Core 2019

## Azure DevOps Type and Versio

[2019-03-13 13:00] ComicCameleo opened #2155 "Release Agent lost connection with Azure: https://dev.azure.com"
## Having issue with software on Hosted Agent?
no

## Have you tried troubleshooting?
Yes

## Agent Version and Platform
vsts-agent-win-x64-2.144.0
Windows Server 2016 Standard

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
Release agents become not available or not responsible during and before stage runs of Release Pipelines. This causes current stage failure and stops n

[2019-03-13 15:20] TingluoHuang commented on #2155
[code]
@ComicCameleo looks like the `node.exe` exits with return code 7 which should never happened.
https://github.com/nodejs/node/blob/master/doc/api/process.md#exit-codes

can you try logon the machine run `node.exe` manually see what might happen?

[2019-03-13 19:15] hugovk commented on #1270
Thanks!

I found the new issue and the good news is it's being worked on.

* https://developercommunity.visualstudio.com/idea/420289/add-support-ci-skip-and-azure-skip-to-azure-pipeli.html?childToView=443074#comment-443074

[2019-03-13 19:36] Shakevg commented on #2155
@TingluoHuang Node.js console is opening when we are running node.exe manually

[2019-03-13 19:47] eflorespalma opened #2160 "Ubuntu Agent - Can't access to pipeline variables in powershell"
Hi,
I create a build with an Ubuntu agent and I'm trying to access to my pipeline variables through powershell task, but always return me empty value and when i run the same script on windows agent i can get the value correctly, the script that I use is

Write-Host  "My Variable is $env:URLAPI"
Write-Host  "My Another Variable is $env:Build.BuildNumber"

I just want to know why this works on Windo

[2019-03-14 05:15] johnliu2016 commented on #1464
Global linguistic review implemented
Changed to "Y/N" in Chinese languages, other locales are OK as are.

[2019-03-14 07:41] martinm82 commented on #1902
Also this documentation should be updated accordingly: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/templates?view=azure-devops#using-other-repositories

[2019-03-14 09:49] vtbassmatt commented on #2032
Was playing with this today -- alpine also doesn't come with `useradd` (does have adduser) or `usermod`.

[2019-03-14 10:14] vtbassmatt opened #2163 "If container initialization fails, networks are not cleaned up"
## Agent Version and Platform
Not sure - got this from a Developer Community ticket - but it must be pretty recent

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
Customer reports that if container initialization fails after the network has been created, then we don't remove the network. Over time, on a private agent this can lead

[2019-03-14 12:51] vtbassmatt opened #2164 "Cannot register more than 2 interactive agents to auto-startup on Windows"
## Agent Version and Platform
Version of your agent? 2.122.1

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
TFS 2018 (16.122.27102.1)

## What's not working?
(From a [Developer Community ticket](https://developercommunity.visualstudio.com/content/problem/294889/interactive-agent-registration-allows-only-2-auto.html))

I'm facing issues with the registration for mor

[2019-03-15 10:06] riezebosch commented on #168
But that's shell or os specific and prevents me from creating an agent agnostic build 😢

[2019-03-15 11:00] dmossberg commented on #2138
@TingluoHuang we are still seeing the problem unfortunatelly, can you turn it off for our account?

[2019-03-15 11:06] nigurr commented on #2138
@dmossberg It's already turned off for your account. Can you share your latest build logs where you are facing this issue?

[2019-03-15 11:06] nigurr commented on #2138
@dmossberg It's turned off for your account

[2019-03-15 11:08] nigurr commented on #2164
@vtbassmatt This is by design. We allow only one interactive agent per machine.
Windows client machines don't allow more than 1 interactive user session

[2019-03-15 15:07] TingluoHuang commented on #2163
i think we already fixed this.
https://github.com/Microsoft/azure-pipelines-agent/pull/1915

[2019-03-15 16:43] vtbassmatt commented on #2163
Thanks!

[2019-03-15 16:43] #2163 closed

[2019-03-16 16:56] freebird8x opened #2167 "what feed does azuredevops-testresultparser come from?"
I cloned the repo and and tried to build but it failed with this error:
[code]
What feed does the package **azuredevops-testresultparser** come from? Google didn't help much.

[2019-03-17 00:21] TingluoHuang commented on #2167
@nigurr

[2019-03-17 00:22] TingluoHuang commented on #2167
it might coming from `myget.org`

[2019-03-17 00:24] freebird8x commented on #2167
It's not on myget.org. Myget.org only has vss-api-netcore

[2019-03-17 03:48] nigurr commented on #2167
https://www.myget.org/feed/testresultparser/package/nuget/azuredevops-testresultparser

[2019-03-18 03:55] TingluoHuang commented on #2160
@eflorespalma double check your variables casing, `A` vs `a`. Windows ignore case but linux don't.

[2019-03-18 13:59] eflorespalma commented on #2160
@TingluoHuang, yes I checked for that reason, I used a default variable **Build.BuildNumber** too, but I realized that there is a section in the powershell task called environment variables and when I define a variable there, the powershell task can retrieve the value correctly, but when I use the pipeline variables don't do it. I don't want to use in that section because I would have to repeat my

[2019-03-18 14:43] freebird8x commented on #2167
Thanks Nigurr. How did you search for the package? I was searching from [myget gallery](https://www.myget.org/gallery) earlier using azure keyword but it didn't show me the right feed.

[2019-03-18 14:43] #2167 closed

[2019-03-18 15:40] TingluoHuang commented on #2167
@freebird8x he is the one that published that package. :D

[2019-03-18 16:53] freebird8x opened #2171 "Getting HTTP Status: ProxyAuthenticationRequired when starting agent.listener"
When we deployed the azure-pipelines-agent image locally on a Windows PC using Docker CE, the deployment went fine and we were able to connect to the agent pool. However, when deployed the same image to OpenShift, we kept getting this error:
`POST request to https://<project>.vssps.visualstudio.com/_apis/oauth2/token failed. HTTP Status: ProxyAuthenticationRequired`

Looking into the debug log, th

[2019-03-18 16:58] freebird8x commented on #2167
@TingluoHuang lol OK! fair enough :joy:

btw, I just created [another issue ticket here](https://github.com/Microsoft/azure-pipelines-agent/issues/2171). Appreciate any help to resolve the problem since we have been trying to make the pipelines work during the past 7 weeks. The problem described in the ticket is probably the last one we have to face.

[2019-03-18 18:53] TingluoHuang commented on #2160
@eflorespalma when you use a pipeline variables, the system toUpper your variables name when it pass through the environment.
ex:
define`myvar`=`foo` on your definition.
when retrieve variable on linux, you should use `MYVAR`  instead.

https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch

[2019-03-18 18:56] TingluoHuang commented on #2171
@freebird8x did you configure the agent to talk through your proxy? and make sure you don't have firewall rules that block the call.
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/proxy?view=azure-devops&tabs=windows

[2019-03-18 18:58] freebird8x commented on #2171
Yup we did. Both the Windows PC and the OpenShift server are on-prem network and were configured with the same proxy settings. In fact, all environment variables, including proxy, are the same for the 2 deployments.

[2019-03-18 19:08] eflorespalma commented on #2160
@TingluoHuang Sorry, I did not understand you in your first message, I just tried and it worked perfect. thank you.

[2019-03-18 19:22] TingluoHuang commented on #2160
@eflorespalma cool, glad you unblock. :)
you can close this issue if you don't have more questions. :)

[2019-03-18 19:32] #2160 closed

[2019-03-18 19:50] TingluoHuang commented on #2171
can you share full log for agent inside `OpenShift`?
you can paste here or send me email `tihuang @ microsoft.com`

[2019-03-18 22:02] lenisha opened #2174 "Min docker version check fails for container jobs"
Agent Version and Platform:
Hosted Ubuntu 1604 Image

If dev.azure.com, what is your organization name?
https://eneros.visualstudio.com

1.Setup YAML Build with Container job
resources:
  containers:
  - container: nodejs
    image: node:8.15-jessie

jobs:
- job: RunNodeBuild
  container: nodejs
  pool:
    vmImage: 'Ubuntu 16.04'

  steps:
    - script:
        npm install
      displayName: 'Run

[2019-03-18 22:05] TingluoHuang commented on #2174
@lenisha i am in the process of releasing 2.148.2 agent that should fix this.

[2019-03-19 00:09] KarlMaynardDK opened #2175 "Tortoise SVN"
The SvnCliManager.cs adds the cli switch '--trust-server-cert' when the option _acceptUntrusted is set (true).

('Accept untrusted SSL certificates' is checked for the service connection in DevOps.)

This only handles cases where the certificate is self signed, it does not allow for cases when the certificate name does not match - which can occur if the url for the svn repository is the ip address

[2019-03-19 04:43] freebird8x commented on #2171
definitely
[code]

[2019-03-19 12:08] TingluoHuang commented on #2171
@freebird8x
when you configure the agent with proxy, did you provide proxy credential to it?

your proxy server requires different proxy credential when the agent making request to `https://<project>.vssps.visualstudio.com/_apis/oauth2/token`

when making request to `https://<project>.visualstudio.com/_apis/connectionData`, your proxy server allow it through.

[2019-03-19 12:42] TingluoHuang commented on #2175
@madhurig for SVN related question.

[2019-03-19 12:42] TingluoHuang commented on #2174
#2165

[2019-03-19 12:44] TingluoHuang commented on #2155
@Shakevg what's the return code for your manual invocation? do you get consistent repro?

[2019-03-19 18:36] danwalmsley commented on #2043
I also am unable to use this feature because im trying to use debootstrap which can only run as root.

https://unix.stackexchange.com/questions/214828/is-it-possible-to-run-debootstrap-within-a-fakeroot-environment

anyone found a workaround?

[2019-03-19 21:41] freebird8x commented on #2171
The proxy we used don't require credential. I'll check with the proxy group to see if they actually blocks that particular endpoint, but it's weird that both our local PC and the OpenShift servers sit on the corporate network. It's strange that proxy problem only happens on the server and not on local PC (with Docker CE)

[2019-03-19 22:11] bryanmacfarlane opened #2176 "test"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2019-03-19 22:13] bryanmacfarlane commented on #2176
closing

[2019-03-19 22:13] #2176 closed

[2019-03-19 23:42] bryanmacfarlane opened #2177 "ignore this"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2019-03-19 23:43] #2177 closed

[2019-03-19 23:43] bryanmacfarlane opened #2178 "ignore this too"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2019-03-19 23:45] #2178 closed

[2019-03-20 03:56] lenisha commented on #2174
would it make it to vsts-agent-docker images ?

[2019-03-20 08:29] xenalite commented on #2164
@nigurr I have the same issue. I don't need multiple interactive sessions. I need multiple agents (of the same account) in the same session. So I can run 4 Karma UI tests on Edge (since its not headless) in parallel.

[2019-03-20 08:41] nigurr commented on #2164
@xenalite Not sure about the source of information. Can you please share the link for the same?

Even with RDP, Windows client machines offer only one interactive session per machine.

Regarding parallel testing of UI tests, it might be correct for this usecase to parallelize tests and run them in same machine, it will cause issues with Windows CodedUI testing. Since your interactions with system

[2019-03-20 08:49] xenalite commented on #2164
@nigurr We used this registry change to allow multiple sessions per user:
https://www.mytecbits.com/microsoft/windows/multiple-remote-desktop-sessions-for-a-single-user

I disagree with your assessment of how to run UI tests. If I know my UI tests will not conflict with each other - as it's the case for our Karma and Selenium - then I want to run them in parallel on the same machine (and session).

[2019-03-20 17:35] madhurig commented on #2175
Thanks for notifying us of the issue and sharing the details. `Accept Untrusted SSL certificates` was meant to only help with self signed certificates. It appears for that we will need to update to `--trust-server-cert-failures=unknown-ca` for new SVN clients instead of `--trust-server-cert`.

Why are you using IP for the SVN url?

Thanks,
Madhuri

[2019-03-20 20:35] santusri commented on #1824
@TingluoHuang Hi Ting, surprisingly, my pipelines are not working with some error.
An error occurred while fetching the pipeline. Could not find the service connection associated with this pipeline. I am unable to edit the pipeline, to check for connection issues

[2019-03-20 20:39] santusri commented on #1824
@TingluoHuang  Moreover i use to add build task during build pipeline, but why i am not able to see UI format to add tasks to my pipeline?, instead its redirecting to "azure-pipelines.yml". I have to give every thing as yaml specs. Please let me know how do i get the UI format to add tasks to build pipeline.

thanks

[2019-03-20 23:17] another-guy commented on #1764
This increases the development cycle and prevents fast experimental changes to Build pipelines. :|

The issue is closed as "multi-stage set of work" but not a single related issue was linked to this one (so that users can subscribe). :(

[2019-03-21 11:44] ComicCameleo commented on #2155
Yes, issue reproducing. @TingluoHuang what do you mean by "return code for your manual invocation"? node.js?

[2019-03-21 12:08] AviateX14 commented on #2056
Hey @gitfool, would you be willing to share your pipeline & Dockerfile? I'm facing the same problem at the moment and can't get my head around it :(

[2019-03-21 15:03] dmossberg commented on #2138
@nigurr Then "turning off" is not working as expected, we still see this:

`2019-03-20T17:07:56.8083106Z ##[section]Starting: Finalize Job
2019-03-20T17:07:56.8146325Z    at Microsoft.VisualStudio.Services.Common.VssHttpMessageHandler.SendAsync(HttpRequestMessage request, CancellationToken cancellationToken)
2019-03-20T17:07:56.8146395Z    --- End of inner exception stack trace ---
2019-03-20T17:0

[2019-03-21 15:12] Vinzz opened #2179 "TFS 2018: Agent 2.136.1 wrong user account on config with powershell"
## Agent Version and Platform
Agent 2.136.1

OS of the machine running the agent? Windows Server 2016

## Azure DevOps Type and Version
on-premises TFS
If on-premises, which release? 2018.3.2.2

## What's not working?
Upon configuring the agent with the following command line:

`config.cmd --url https://mytfs.com/tfs --agent $name1 --unattended --runAsService --pool default --auth Negotiate --user

[2019-03-21 15:23] TingluoHuang commented on #2179
you need to set `windowsLogonAccount` and `windowsLogonPassword` for the windows service account.
.\config.cmd --unattended --url https://myaccount.visualstudio.com --auth Negotiate --userName $username --password $password --pool default --agent myAgent --runAsService --`windowsLogonAccount` myDomain\myUserName --`windowsLogonPassword` myPassword

[2019-03-21 15:43] Vinzz commented on #2179
Thanks @TingluoHuang ! I'll test that right away

[2019-03-21 15:56] Vinzz commented on #2179
And it works perfectly, thanks Ting! @

[2019-03-21 15:56] #2179 closed

[2019-03-22 01:20] #2140 closed

[2019-03-22 01:20] bryanmacfarlane commented on #2118
closing due to inactivity

[2019-03-22 01:20] #2118 closed

[2019-03-22 01:21] bryanmacfarlane commented on #2137
closing since answered and no activity

[2019-03-22 01:21] #2137 closed

[2019-03-22 04:41] nigurr commented on #2138
@dmossberg I checked the feature flag and it's already turned off.
Do you have any build variable `agent.disablelogplugin` in your pipeline. If so, please remove it

[2019-03-22 04:42] nigurr commented on #2164
@xenalite We appreciate your suggestions, currently we are not enhancing/supporting multiple interactive sessions per machine.

Help us by contributing to open source.

[2019-03-22 05:47] konpikwastaken commented on #2140
Thanks. For what it's worth the console output locally in vscode prints colors correctly, with ecsped characters shown as expected.

Can this issue be kept open and closed when the new view is released?

[2019-03-22 13:29] yaananth commented on #2140
this isn't agent issue, you can submit feedback https://developercommunity.visualstudio.com/topics/Azure+DevOps.html if you would like to track.

[2019-03-22 13:40] dmossberg commented on #2138
@nigurr no we don't, we never made any changes awaiting for the feature to get turned off at the account level

[2019-03-22 20:21] DavidStaheli commented on #1270
This is available now.  You can tell Azure Pipelines to skip running a pipeline that a commit would normally trigger. Just include `[skip ci]` in the commit message of the HEAD commit and Azure Pipelines will skip running CI. You can also use any of the variations below. This is supported for commits to Azure Repos Git, Bitbucket Cloud, GitHub, and GitHub Enterprise Server.

- `[skip ci]` or `[ci

[2019-03-22 20:21] DavidStaheli commented on #858
This is available now.  You can tell Azure Pipelines to skip running a pipeline that a commit would normally trigger. Just include `[skip ci]` in the commit message of the HEAD commit and Azure Pipelines will skip running CI. You can also use any of the variations below. This is supported for commits to Azure Repos Git, Bitbucket Cloud, GitHub, and GitHub Enterprise Server.

- `[skip ci]` or `[ci

[2019-03-22 22:25] KarlMaynardDK commented on #2175
@madhurig

It is a matter that is currently outside of my control.

[2019-03-23 12:34] madhurig commented on #2175
Can you please vote on this ticket? https://developercommunity.visualstudio.com/content/problem/465423/azure-devops-using-pipelines-with-svn-and-accept-u.html

We are reviewing the best way to fix this issue without breaking another set of customers.

[2019-03-25 04:53] nigurr commented on #2138
@TingluoHuang can you please help on this?

[2019-03-25 10:42] pedroneil commented on #2138
Hello, why is this closed? Our on Premise Self Hoted Agent Deployments time has increase nearly exponentially.

why should I have to add this variable to the Releases when the release definitions doe not even have a Test phase or when it was not required in 2.147 and I do not like the idea of setting the variable agent.disablelogplugin at subscription level?

There are 10s of Release definitions a

[2019-03-25 11:25] nigurr commented on #2138
@pedroneil Can you please share your account name?

[2019-03-25 14:11] pedroneil commented on #2138
@nigurr I am unable to share the account name on this thread.  You would have to provide me with an email address to PM you.

This issue occurs on both Linux and Windows hosted Agents and started occuring after the upgrade to 2.148.1

The release Definitions use Task Groups and have no Tests or Upload Tests. We do use an Upload Test Results Task but not in the Release Definitions to which I am ref

[2019-03-26 03:35] freebird8x commented on #2171
I got feedback from the proxy team and they whitelisted the endpoints to make this work now. I'll close this issue. Thank you for the support.

[2019-03-26 03:35] #2171 closed

[2019-03-26 04:57] nigurr commented on #2138
@pedroneil
please mail us at devops_tools at microsoft

[2019-03-26 05:09] scott1138 opened #2185 "Unable to add a terraform capability"
## Agent Version and Platform
Version of your agent? 2.148.2

OS of the machine running the agent? Ubuntu 18.04

## Azure DevOps Type and Version
Azure DevOps

https://freemanco.visualstudio.com

## What's not working?
It does not appear that terraform is searched for when looking for agent capabilities. I added an environment variable to /etc/environment, but the agent did not pick it up on resta

[2019-03-26 12:23] TingluoHuang commented on #2185
@scott1138 see whether this help.
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops#service-update-environment-variables

[2019-03-26 14:08] scott1138 commented on #2185
@TingluoHuang Thanks Ting!  I saw the top part but missed the "you can edit the .env file" at the bottom of that blurb.  I'll close the issue.

[2019-03-26 14:08] #2185 closed

[2019-03-26 16:04] TingluoHuang opened #2187 "Agent pool maintenance job should not throw error when repository doesn't exist"

[2019-03-26 22:54] pedroneil commented on #2138
I attempted using .com but the email bounced.
Acc is
ReAssure-dev
Visual Studio
.com

I have seen this issue using he upload test results task where the release
upload test results task is powershell and fails as it dies not correctly
use the vsts proxy utility,  the same agent can upset test results for tree
build test results task and hat task is written in node

On Tue, 26 Mar 2019, 04:57 Nitin

[2019-03-27 04:47] njsmith commented on #2043
@danwalmsley I'm guessing that any container that's full-featured enough to have `debootstrap` is also full-featured enough to have `sudo` :-). So the workaround is to run `sudo debootstrap`. This issue is specifically about containers that are missing `sudo`, and you can't install it, because to install `sudo` you need to use `sudo`...

[2019-03-27 09:29] Cheesebaron opened #2189 "Local branches not cleaned up"
## Agent Version and Platform
Version of your agent? 2.148.2

OS of the machine running the agent? macOS 10.13.6

## Azure DevOps Type and Version
dev.azure.com https://trackman.visualstudio.com

## What's not working?
Local branches are not cleaned up. It appears to me that the Agent creates a numbered folder in the _work directory for a project, then every run, it checks out a branch and ensures

[2019-03-27 12:30] TingluoHuang commented on #2189
@Cheesebaron the agent never checkout a branch, it always checkout on a detected HEAD. Do you have any definition that use script to checkout some branch?

[2019-03-27 13:40] Cheesebaron commented on #2189
We don't run any scripts for checking anything out.

If I run `git branch` to list local branches, I get a whole bunch of checked out branches, which seems strange to me.

[2019-03-27 13:50] TingluoHuang commented on #2189
@Cheesebaron what about tasks? are there any tasks you used in your definition may checkout branch?

[2019-03-27 15:51] Cheesebaron commented on #2189
Nope, my pipeline definition does:

- install iOS provisioning profile
- install iOS distribution cert
- run Cake build script
- upload to AppCenter

The Cake build script does not check any code out through git.

[2019-03-27 15:57] epvanhouten opened #2190 "PipelineArtifactPlugin generates no debug information"
## Having issue with Tasks?

Not logging on Azure-Pipelines-Tasks due to this being implemented in src/Agent.Plugins/PipelineArtifact.

## Have you tried troubleshooting?
[Troubleshooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)
This was encountered while attempting to debug a build issue.

## Agent Version and Platform
Agent Version: 2.149.1

OS of the machine running t

[2019-03-27 16:02] TingluoHuang commented on #2190
@owenhuynMSFT

[2019-03-27 20:47] TingluoHuang opened #2191 "Download pipeline artifact changed file layout"
https://github.com/dotnet/coreclr/issues/23496

https://github.com/Microsoft/azure-pipelines-agent/pull/2125/files

[2019-03-27 21:16] Pr0methean commented on #1580
@samuel-begin I worked around that by creating a job that depends on all of them, specifies `pool: server` so that it won't waste time spinning up an agent, and is depended on in place of the list.

[2019-03-28 04:50] nigurr commented on #2138
@pedroneil I have disabled this temporarily for this account.
@dmossberg Can you share your build/release logs with "debug" mode and share to devops_tools at microsoft

[2019-03-28 04:51] #754 closed

[2019-03-28 05:41] geofflamrock commented on #2133
@TingluoHuang would you have any update on this? Thanks.

[2019-03-28 07:01] RoopeshNair commented on #2133
@geofflamrock - It is the same agent for both build/release and deployment groups. i.e., the agent that you download from agent pools page can be used to register with deployment groups as well.
We hear your feedback on the script being entry point. However, we would like to keep the script minimalistic given that it can be customized to suit varied requirements. If you still feel strongly about i

[2019-03-28 12:57] TingluoHuang commented on #2191
#2192

[2019-03-29 00:01] geofflamrock commented on #2133
Ok thanks @RoopeshNair I think we can close this out, like you mentioned the script can be customized which is what we've done internally.

[2019-03-29 00:01] #2133 closed

[2019-03-29 08:09] lg2de opened #2194 "Windows agent should be configured for Windows Certificate Store by default"
## Agent Version and Platform
2.136.1

OS of the machine running the agent?
Windows

## Azure DevOps Type and Version
on-premises TFS
16.131.28226.3

## What's not working?
To get the windows agent to run completely with a TFS server using self-signed SSL certificate I need to configure manually:
[code]

The one option is required for git fetch, the other is required to (explicitly download artifa

[2019-03-29 13:03] TingluoHuang commented on #2194
@lg2de that's a little bit hard, the agent is an dotnet core application, it's already use Windows cert store. the problem is all the different tools you may use during your pipeline, i don't think there is a universal way to force everything to use windows cert store, plus some linux tool that built on old version openssl may not support windows cert store at all. :)

[2019-03-29 16:34] lg2de commented on #2194
1. The package is for window, so it "knows" it is for windows.
2. The batch file (config.cmd) is specific for windows. I could set required options internally.

[2019-03-29 16:53] TingluoHuang commented on #2194
i am talking about all the different tools you used during the build, like npm, node, python, go, etc, they may have no idea about windows certificate store. :)

[2019-03-29 20:01] ctaggart commented on #2082
How do we change the agent to run as the `devops` user? I opened up https://github.com/MicrosoftDocs/vsts-docs/issues/3815

[2019-03-30 11:38] xenalite commented on #2164
@nigurr That's OK. I got my case to work by editing the registry entries for the auto logon user.
Simply added all agents to auto start:
![image](https://user-images.githubusercontent.com/4509839/55275411-81c60880-52dd-11e9-8e59-788c8cddc085.png)

I was then able to run 4 builds in parallel on the same interactive session.
![image](https://user-images.githubusercontent.com/4509839/55275416-a621e50

[2019-03-30 15:24] szogun1987 commented on #1980
Can I configure a pipeline to check out on the actual branch? I have version file in my source control. I would like to commit this file back to branch from where it comes from. I accept the fact that my build would fail if multiple pushes would be performed at the same time.

[2019-03-30 20:50] szogun1987 commented on #1980
Once I've added
[code]
It is important to add [ci skip] to commit message to avoid infinite build loop.

[2019-04-01 01:09] TravisEz13 commented on #2062
FYI @adityapatwardhan

[2019-04-01 04:15] alexwiese commented on #2150
@TingluoHuang @madhurig any update on this? This is a major pain point for us using Azure Devops

[2019-04-01 14:34] tinytone commented on #2138
The Finalize Job step on all our pipelines is erroring and adding an additional 2 minutes 28 seconds to all our release pipelines.
[code]

Is this an error that is currently being looked into with an expected fix? It's adding hours (cumulatively) to the waiting time for each of our releases throughout our teams and is not ideal

[2019-04-01 23:28] Leon99 opened #2198 "Error installing AzAgent on an Ubuntu VM in Azure"
I'm not trying to achieve something unorthodox - just want to install an AzAgent on a Ubuntu 18.04-LTS VM in Azure (using Azure's stock image) with a little help of cloud-init. I realized that the registration script AzDO (not sure what's the proper way to abbreviate the cloud TFS now) generates is incorrect and added `./bin/installdependencies.sh` before `./config.sh`, as per https://github.com/M

[2019-04-02 00:52] TingluoHuang commented on #2198
@Leon99 what's your logon user? how did you run the `config.sh` script? run with `SUDO`?

[2019-04-02 01:41] Leon99 commented on #2198
Not sure I can add much information on top of what is in my report. First result is after the script was executed under root, second is after executing by the admin user (the one specified during VM creation).

[2019-04-02 02:24] TingluoHuang commented on #2198
@Leon99 you need to run the `installdependencies.sh` as `root` since it needs to run `apt-get install`, you need to run `config.sh` as the admin user so the file generated during configure can be used by your admin user. Hope this help. :)

[2019-04-02 02:41] Leon99 commented on #2198
Good to know, thanks @TingluoHuang. It would be good to specify it in the documentation BTW. However, it doesn't solve the problem. Let me clarify what I did: `./bin/installdependencies.sh` was run under root and worked fine. I ran `config.sh`  after that as the admin user, and it returned errors:
[code]

[2019-04-02 02:43] TingluoHuang commented on #2198
@Leon99 which you used to download and unzip the agent package? make sure it's the admin user.
if not, try download and unzip the agent package as the admin user and run through the config again. :)

[2019-04-02 02:50] Leon99 commented on #2198
Aha ok that makes sense. I'll have a problem with that though since the whole script is executed by cloud-init, but I guess it's my worry. Thanks for your prompt response.

[2019-04-02 02:52] TingluoHuang commented on #2198
Cool, you can close the issue once you unblock, or post back questions. :D

[2019-04-02 09:52] tinytone commented on #2138
Hi all,
The Finalize Job step has suddenly dropped from 2 minutes 30 to less than 1 second. I'm not sure if a change has gone in... but if one has "Thank you!". This will make a big difference on our side to the release times:

[code]

Thank you :)

[2019-04-02 15:30] gabrielfsousa commented on #1829
why binary wont run on alpine ?

[code]

[2019-04-02 15:33] vtbassmatt commented on #1829
We don't ship a musl-compatible agent implementation, just glibc.

[2019-04-03 02:25] #2198 closed

[2019-04-03 05:34] nigurr commented on #2138
@tinytone @dmossberg @pedroneil

I need more info on your usage for better solution and avoiding such breakages

1. Are you using Self hosted Agents?
2. Are they behind any proxy?
3. Are they are having issues with build pipeline/release pipeline?

Please do share this info to help us better

[2019-04-03 22:36] infogulch opened #2199 "config.sh --replace parameter not working"
## Agent Version and Platform
Agent version 2.148.2
[Update: Also tested on 2.149.2 with the same results.]
OS: Ubuntu 16.04

## Azure DevOps Type and Version
dev.azure.com/[org]

## What's not working?
I'm running the following command as part of a first-boot script in an azure scaleset.

This command *sometimes* gives the error:

I expected to not get this error because I included the `--replace

[2019-04-04 01:19] TingluoHuang commented on #2199
@infogulch the `--replace` is to let a different agent instance to take over the agent slot on server side. you need to run `config --remove` or delete the hidden `.agent` and `.credential` files under the agent root before reuse the same local agent instance.

[2019-04-04 12:49] pedroneil commented on #2138
@nigurr

1. The agents are self hosted - Linux and Windows
2. They are behind a proxy that requires Domain Account Authentication
3. It is the release pipeline Finalize

The issue does NOT occur on Windows Agents that are installed with a Domain Account so that they can publish test results through the Proxy to Azure DevOps Release Definitions using the

[2019-04-04 15:57] infogulch commented on #2199
@TingluoHuang thanks for the direction.  I thought it was installing to a clean directory, but it turns out my assumptions were wrong.  I'm using a data disk attached to the vm as the agent install/work directory.

I expected this disk to be wiped when a vmss instance is reimaged, but it turns out this is not the case!  (This behavior is quite reasonable, actually.)  Adjusting my cloud-init script

[2019-04-04 15:57] #2199 closed

[2019-04-04 20:03] danwalmsley commented on #2043
@njsmith you were right, I was able to use sudo and it worked. thanks

[2019-04-05 12:14] vtbassmatt commented on #2174
This is fixed

[2019-04-05 12:14] #2174 closed

[2019-04-05 18:47] #2187 closed

[2019-04-06 21:53] keithhodomicrosoft opened #2202 "Agent Hosted in VM Fails with "An error occurred: VS30063: You are not authorized to access https://dev.azure.com.""
## Having generic issue with Azure-Pipelines/VSTS/TFS?
Cross-link: https://developercommunity.visualstudio.com/content/problem/520839/agent-hosted-in-vm-fails-with-an-error-occurred-vs.html

## Have you tried troubleshooting?
Yes, for the last 18 hours

## Agent Version and Platform
vsts-agent-win-x64-2.149.2

OS of the machine running the agent?
Windows Server 2012

## Azure DevOps Type and Versi

[2019-04-06 21:56] keithhodomicrosoft commented on #2202
Please note that I have also tried switching back to https://mpneng.visualstudio.com and I am still seeing the error. I can clear the error logs and generate more errors if that would help.

My PAT shouldn't be randomly getting rejected by AAD. It's rather odd.

[2019-04-08 03:00] TingluoHuang commented on #2202
@keithhodomicrosoft can you ping me on skype or team 4/7? i am in EST timezone. I want to try something with you. :)

[2019-04-08 08:18] muthurathinam opened #2203 "fatal: could not read Username for 'https://github.com': terminal prompts disabled"
I am not sure where this error should be posted, direct me to the right place if this is not the one.

Org: https://o365exchange.visualstudio.com

## What's not working?
I have powershell task configured in azure build pipelines to merge changes from dev into master of my github public repo and push changes to master. I am getting

`fatal: could not read Username for 'https://github.com': terminal

[2019-04-08 10:14] omeshp commented on #2150
@alexwiese Sorry for late response, this definitely is concerning. The download should have failed if it wasn't able to download the archive. From the logs it isn't apparent why it happened, I will look at the prod traces to narrow it down.
To unblock yourself can you start using [Pipeline Artifacts](https://github.com/Microsoft/azure-pipelines-yaml/blob/master/design/pipeline-artifacts.md).

[2019-04-08 13:57] filip998 opened #2204 "Using secret variables from c# code"
I have question:

I need to use secret variables for my unit testing.
Unit tests are written in c# code and tests are executing on some databases. To be able to connect to those databases I need some credentials, so I decided to store them as secret variables.

So my question is:
Is there a way to access those secret variables from c# code?

[2019-04-08 14:09] TingluoHuang commented on #2204
@filip998 how do you run your tests?
if you are using script task, you can map secret into environment variable. [doc](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml%2Cbatch#secret-variables)
if you are using msbuild/vsbuild/vstest task, you might need to pass the secret as msbuild args, ex `/p:connection=$(SecretVariable)`

[2019-04-08 14:10] TingluoHuang commented on #2191
fix released.

[2019-04-08 14:10] #2191 closed

[2019-04-08 14:11] TingluoHuang commented on #2152
fix released.

[2019-04-08 14:11] #2152 closed

[2019-04-08 14:12] TingluoHuang commented on #2100
fix released.

[2019-04-08 14:12] #2100 closed

[2019-04-08 14:14] TingluoHuang commented on #2056
the agent has released, the user inside the container should have access to docker daemon without `sudo`, i am going to close this issue for now, please reopen if needed.

[2019-04-08 14:14] #2056 closed

[2019-04-08 14:18] TingluoHuang commented on #1795
the agent with fix has released, however since the permission setup is part of config flow, to fix existing agents you need to reconfig them with latest agent release. i am going to close this issue for now, please reopen if needed.

[2019-04-08 14:18] #1795 closed

[2019-04-08 14:30] TingluoHuang commented on #2204
@filip998
![image](https://user-images.githubusercontent.com/1750815/55731960-15d45600-59e9-11e9-90fe-633eb08bfd70.png)

Is it possible to define a place hold for the variable in your setting file and overwrite it with the value from the secret variable?

[2019-04-08 14:38] filip998 commented on #2204
@TingluoHuang
Thanks, I will try this. I will report to you when I try it.

[2019-04-08 15:30] jainataraaj1 commented on #1395
Even after running sudo chmod o+w ~/myagent. I am getting the same permission error

[2019-04-08 16:03] filip998 commented on #2204
@TingluoHuang UPDATE: It works like this, thank you so much !

[2019-04-08 16:03] #2204 closed

[2019-04-08 16:04] TingluoHuang commented on #2204
cool, glad you unblocked. :)

[2019-04-08 19:31] TingluoHuang commented on #2203
@muthurathinam how did you setup your credential in your git config? you can also debug git with setting environment variable `GIT_CURL_VERBOSE`.

[2019-04-09 04:17] muthurathinam commented on #2203
@TingluoHuang I have fixed this by using pushing my code with
`git push https:// GIT_PAT@github.com/username/reponame.git`

Thank you!

[2019-04-09 04:17] #2203 closed

[2019-04-10 00:18] bariscaglar commented on #2026
@TingluoHuang I am having the same problem. Not sure how @oceaneLonneux fixed it by changing the service connection name. I've tried modifying it and creating a new one but the problem is still there.

[2019-04-10 00:18] bariscaglar commented on #2026
In fact all of our pipelines are failing with the same problem.

[2019-04-10 00:21] TingluoHuang commented on #2026
@bariscaglar what's your yaml file looks like?

[2019-04-10 00:55] alexwiese commented on #2150
@omeshp thanks I'll take a look at Pipeline Artifacts

[2019-04-10 09:13] bendursley opened #2207 "Allow download location to be specified when selecting deployment group artifacts"
We're in a position at present where we are using the Download Pipeline Artifact to create a folder structure for our build artifacts (about 8 of them), as we have another tool which generates our patches from a specific output.

Is there any intention to give us the download option directly on the Artifact Download section of the Deployment Group and Agent jobs, rather than having to do this in t

[2019-04-10 09:23] gitfool commented on #2056
@TingluoHuang hacks removed and worked perfectly; thanks!

[2019-04-10 17:14] bariscaglar opened #2209 "The service connection name 00000000-0000-0000-0000-000000000000 is ambiguous."
This is similar to the issue #2026 but the solution from the OP does not seem to apply to my case. Filing a new one since that one is already closed.

When I try to queue a build for an Azure DevOps Pipeline that refers to a GitHub hosted azure-pipelines.yml file that refers to another such yml file, I get this error. This exact setup used to work.

We have several projects that refer to a single

[2019-04-10 17:14] bariscaglar commented on #2026
@TingluoHuang Please see the new issue #2209 since this one is already closed.

[2019-04-10 17:25] bariscaglar commented on #2209
One interesting fact, which might be relevant, is the type of the "repository" string according to the schema documentation:

resources:
  repositories:
  - repository: string  # identifier (A-Z, a-z, 0-9, and underscore)

My string has a "." in it. This means the identifier for the repository is too restrictive in the sense that it is restricting valid repo names that contain valid characters.

[2019-04-10 17:33] bariscaglar commented on #2209
Actually, that wasn't it. I realized that repository is just an identifier and I changed it to something valid with no '/' or '.' and I still get the service connection name is ambiguous error.

[2019-04-10 18:29] am11 commented on #2032
Situation of `su` command and its availability in random Unices:

* The substitute user command, `su`, is part of Unix since version 1 (wikipedia).
* one of the the slimmist docker container `busybox` (size 1.19 MB) also contains `su`, where we do not have luxury to install packages via a package manager (in fact there is no package manager, it's the slimmest container just good to execute binarie

[2019-04-10 21:21] TingluoHuang commented on #2209
@bariscaglar did you created `GitHub-IIS` endpoint?

[2019-04-10 21:25] bariscaglar commented on #2209
Yes, that is the Service connection created. I also denote it when I create the pipeline in Azure DevOps.

![image](https://user-images.githubusercontent.com/1233208/55914585-5e804080-5b9c-11e9-8584-6c78204b79a8.png)

[2019-04-11 04:58] akuryan commented on #2046
I can confirm, that using ```setx java $latestJava8Install /M``` will make agent to see java capabilities

[2019-04-11 04:59] akuryan commented on #2045
As with #2046 I can advise you to set ```java``` environment variable to point to coretto installation manually (or in script).

[2019-04-12 07:25] japj opened #2212 "VFS for git support on agent?"
## Agent Version and Platform
Version of your agent? 2.133.3
OS of the machine running the agent? Windows

## Azure DevOps Type and Version
TFS 2018 Update3

## What's not working?
We would like to start using VFS for git on the agent.

However this requires a certain version of git to be used during checkout that supports this (and the agent contains its own version of git.

Perhaps there are oth

[2019-04-12 10:09] juanperezADD opened #2213 "Git fetch fails with exit code 128 when many builds are queued concurrently"
## What's not working?
After migrating TFS 2018 to Azure DevOps Server 2019, we have seen that some builds are failing when the agents download the code from the Git repository.

The error is the following:

[code]

The error occurs when we make a commit in a pull request of a file that affects many builds. The number of builds is almost 60, and as we have 50 build agents, all the builds execute c

[2019-04-12 13:06] geepy opened #2214 "TF400813: Resource not available for anonymous access when switching to https"
I am using TFS 2017 Update 3 on premise with separate machines for DB, application tier and build system.
I have successfully registered multiple build agents (v.next) that all run as a windows service. They all run fine.
Today I installed the TFS 3.1 update and the accompanying patch. With this I enabled https access to the application server and changed the public address to https.
No I am tryin

[2019-04-12 14:51] TingluoHuang commented on #2213
@juanperezADD do you happen to know why you have so many clone instead of incremental fetch? since you migrated from TFS2018, i would expected the agent will re-use most of the existing repository on disk instead of cloning new one.

is this a newly created definition or repository?

you might also want to ask https://developercommunity.visualstudio.com/spaces/22/index.html since the error is comi

[2019-04-12 18:31] TingluoHuang commented on #2214
@geepy  can you share some log when you re-config to Https that contains the failure?

[2019-04-12 18:32] TingluoHuang commented on #2214
see the following link helps or not. :)
https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting?view=azure-devops#config-fails-while-testing-agent-connection-on-premises-tfs-only

[2019-04-12 18:34] TingluoHuang commented on #2207
@chshrikh for deployment group question.

[2019-04-13 23:00] devcrp commented on #577
@martingust what do you mean you added the app to your submodules? I'm facing a similar problem and I'm stuck here.

Here's what I got (all under the same teamproject and private repos):
1. Main repo in https://account1.visualstudio.com/TeamProject/_git/mainrepo
2. I added two submodules like this using gitExtensions:
[submodule "ext"]
	path = ext
	url = https://account1.visualstudio.com/TeamProje

[2019-04-15 06:12] geepy commented on #2214
Here is a worker log which cannot access server resource after succesfully receiving the job details (so in my opinion it must have talked successfully to the server before)
[anonymized_worker.log](https://github.com/Microsoft/azure-pipelines-agent/files/3078635/anonymized_worker.log)

[2019-04-15 06:14] geepy commented on #2214
Hi, unfortunately that didn't help because the registration of the agent works fine. It is shown as "online" in the TFS build queue summary page. It just fails when getting some resource from the server

[2019-04-15 10:37] geepy commented on #2214
I now received the event logs from my server ond can provide more detail.
When I register my service (or restart it, that has the same effect), builds work for some time. After that, I find the entry
`[2019-04-15 07:57:43Z WARN VisualStudioServices] Authentication failed with status code 401.
Date: Mon, 15 Apr 2019 07:57:42 GMT
P3P: CP="CAO DSP COR ADMa DEV CONo TELo CUR PSA PSD TAI IVDo OUR SAMi

[2019-04-15 14:25] TingluoHuang commented on #2214
@geepy how many TFS AT instances do you have for your server? ex, your TFS configuration includes a load balancer which is backed by 3 TFS AT (application tier) instances.
if that is the case, make sure you update the public url setting on all your TFS AT instances.

if that's not the case, you might need to use Fiddler to capture the network traffic from the agent/worker process and decode the JW

[2019-04-15 17:20] iambernics opened #2217 "once flag (--once) is not working"
The latest Agent (2.149.2) ignore the `--once` argument and accept more than one Job.

**Run once agent**

https://docs.microsoft.com/en-us/azure/devops/release-notes/2019/sprint-150-update#run-once-agent

Environment: Windows Server 2016 Standard

[2019-04-15 17:29] TingluoHuang commented on #2217
@iambernics can you share your agent log file?

[2019-04-15 17:40] iambernics commented on #2217
Sorry, I used this argument on the configuration instead as the run.cmd parameter (.\run.cmd –once).
I am closing the issue.

[2019-04-15 17:49] TingluoHuang commented on #2217
Cool, let me know if you need more help.

[2019-04-15 17:49] #2217 closed

[2019-04-16 08:21] iambernics commented on #2217
Thanks, can I use this parameter / function with the service (AgentService.exe) too?

[2019-04-16 10:15] geepy commented on #2214
Hi,

I did some research and came up with two approvements:
I logged in with the services' account.
1. I deleted the directory %APPDATA%\local\Microsoft\Team Foundation and it's subdirectories
2. I opened Visual Studio and deleted all (194!) workspaces the team account had created so far
3. I reregistered all agents to the https url

After a gazillion repetitions of this task I came up with a (at

[2019-04-16 12:25] dpurge commented on #2213
We had this error today. I believe at the time we did not have many clones executing simultaneously - builds were failing, most of the agents were idle. Everybody was getting the same error - we tried from several accounts. It was happening only on one particular git repository - other git repositories in the same project could be cloned with no issues at all.
We have restarted the IIS on the appl

[2019-04-16 12:57] TingluoHuang commented on #2217
no, you can not.

[2019-04-16 12:59] TingluoHuang commented on #2213
@dpurge please file issue on  https://developercommunity.visualstudio.com/spaces/22/index.html or file report ticket since this sounds like a TFS git server issue which is out of the scope of this repository.

[2019-04-16 13:02] hgran opened #2218 "Agents running in azure loses connection intermittently"
## Have you tried troubleshooting?
Yes

## Agent Version and Platform
Version of your agent? 2.136.1/2.144.1

Windows Server 2016

## Azure DevOps Type and Version
TFS On-premise
Team Foundation Server 2018 Update 3.2 Patch 3

## What's not working?
Since about a month the agents running in Azure will lose connection to server:
The agent: xxx lost communication with the server. Verify the machine

[2019-04-16 13:08] TingluoHuang commented on #2218
@hgran seems like a network problem to me since the error agent get is `WinHttp Error: ERROR_WINHTTP_TIMEOUT`, that means the agent can't reach your TFS server. Since the problem is intermittent, you might need to have some powershell script that continue monitor the network by hint your TFS http endpoint in a loop.

[2019-04-16 13:10] Starkie commented on #2213
Looking up in the developer community, [this same ticket](https://developercommunity.visualstudio.com/content/problem/489440/git-clone-fails-with-tf4000733-error-code-when-man.html) was created over there.

[2019-04-17 00:22] nathan-alden-hp commented on #2134
This seems like a persistent problem especially for .NET Core/.NET Standard projects that have tons of dependencies. I'm frequently seeing "100000" timeouts in my NuGet restore tasks for very basic .NET Core solutions.

[2019-04-17 08:20] omeshp commented on #2207
@bendursley You can set system.artifactsdirectory variable on release definition to change the download directory of artifacts

[2019-04-17 08:46] bendursley commented on #2207
@omeshp isn't that for all artifacts, however, rather than just specific ones.

My example, so there's some clarity here:
If I have four artifacts, I download them to different directories as follows:
Database: $(System.ArtifactsDirectory)
Client: $(System.ArtifactsDirectory)\Bin\Client
Service: $(System.ArtifactsDirectory)\Bin\Service\Bin
Templates: $(System.ArtifactsDirectory)\Templates

We then

[2019-04-17 18:03] Moke commented on #1480
I experienced this same issue using a Microsoft ubuntu hosted pipeline in azure devops.

I resolved my problem by altering my azure-pipelines.yml with replacing the following:

[code]

with the new PublishPipelineArtifact@0 (documentation: https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/pipeline-artifacts?view=azure-devops&tabs=yaml )

[code]

After this adjustment my build time

[2019-04-17 20:09] gregpakes commented on #1480
@moke

My understanding is that Pipeline Artifacts and Build Artifacts are two very different things.

Pipeline Artifacts are only available to you to download in the Pipeline itself.  Build Artifacts are available to you from a Release Pipleline.

This is not a solution for most people.

[2019-04-18 06:40] hgran commented on #2218
I have created a powershell script that does a GET  to the TFS rest API every ten seconds and have it running on the build servers. Had another incident yesterday but the logs from my script were unfortunately missing relevant information, but it never had any issues connecting to TFS while the build agent did.

As soon as I have better logs I'll update here.

[2019-04-18 10:47] EwanNoble opened #2220 "Offline agent stays in the pool after it's --once run"
## Agent Version and Platform
Version of your agent? 2.149.2

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

## What's not working?
With the latest agent release I am looking into using the run once flag (--once) to tear down our agent containers after they have completed a job. This is working correctly in terms of running b

[2019-04-18 11:02] geepy commented on #2214
Unfortunately, the issue is not resolved completely.
But for the sake of clearness I'll close this issue, as it was resolved through deleting caches and workspaces and reregistering the agents after switching from http to https.

[2019-04-18 11:02] #2214 closed

[2019-04-18 11:42] geepy opened #2221 "build agent 'loses connection to server'"
We have upgraded our TFS on-premise from 2017 Release 3.0 to 2017 release 3.1 + Patch 3.1.

Then we switched the public URL from http to https.
We reregistered all build agents to use https.

After each service restart the build agent can connect to the tfs server and handle builds, but only for a limited time.
After that it continues to accepts build requests (status in TFS changes to "running"),

[2019-04-18 14:03] TingluoHuang commented on #2220
@EwanNoble remove agent from pool (Unconfigure) requires admin privilege. the behavior you saw is by designed since `--once` don't have any credential from you. :)

[2019-04-18 14:13] EwanNoble commented on #2220
Hi @TingluoHuang, thanks for the response. The admin credentials would be available to the service at this point as they are used for configuration, would there be scope for a feature to provide the 'run once' agent to access those credentials if available?

[2019-04-18 14:33] TingluoHuang commented on #2220
@EwanNoble we don't have feature for that yet, but i think you can do it yourself.

Dockerfile:
`CMD "config.sh && run.sh --once && config.sh remove"`

[2019-04-18 15:16] EwanNoble commented on #2220
@TingluoHuang that makes a lot of sense and it worked perfectly! Thanks for your help. 😊

[2019-04-18 15:54] Richard-II commented on #858
As of today, ***NO_CI*** doesn't work as expected for Pull Requests in Azure Pipelines.   See attached screenshot, created today.
![noci](https://user-images.githubusercontent.com/38044303/56374248-b50b0180-61d0-11e9-8b64-63c472192ddc.png)

[2019-04-18 16:50] TingluoHuang commented on #858
@Richard-II Pull request build should still running even you have `***NO_CI***` in your commit message, only the CI build should stop running when that commit merged into master.

[2019-04-18 17:25] TingluoHuang commented on #2221
@geepy can you share a full agent/worker log from the same agent instance that had this problem? (it start the build but failed after 5 mins)

[2019-04-18 17:26] TingluoHuang commented on #2220
cool, i am going to close this issue, please reopen if you need more help. :)

[2019-04-18 17:26] #2220 closed

[2019-04-18 20:15] Richard-II commented on #858
I'm talking about exactly that...the build still runs (on master) when the
commit is merged to master.  This is what I don't want when I specify the
special string.  A pull request is just another commit and should honor the
skip instruction just like any other commit.

On Thu, Apr 18, 2019, 12:50 PM Ting <notifications@github.com> wrote:

[2019-04-18 20:20] TingluoHuang commented on #858
@Richard-II  you need to report the problem on https://developercommunity.visualstudio.com/spaces/21/index.html since the filtering is happened on server side.

[2019-04-18 20:41] lshilei commented on #2218
We are facing the similar issue for the Agent Version 2.149.2. The agent is unstable during checking out the Files.

Window Version: Windows Server 2008 R2 SP1

We have Teamcity installed on the same machine and checking out the same TFS repository as the Agent, But Teamcity would able to get all the files all the time.

The always failing file size is about 41.3 MB

The target log is
[2019-04-15

[2019-04-19 10:09] caozhiyuan commented on #2209
may be you use same name connectionname (such as nuget and github connectionname  same will error) , it's bug

[2019-04-19 12:16] MovGP0 opened #2223 "config.cmd should provide service name and description parameters"
## Current Behaviour

`config.cmd` is currently missing parameters for the service name and description. this way, it is
not trivially possible to configure multiple deployment agents on the same machine.

[code]

## Expected Behaviour

There should be additional parameters for the service name and description

[code]

## Workaround

My current workaround is to create the service with the default

[2019-04-19 13:58] TingluoHuang commented on #2223
@MovGP0 we should generate unique service name for deployment group agent, that's seems like a bug to me. i don't think you need these extra arguments if we fix this issue.

[2019-04-19 14:50] ahoereth commented on #1580
Are there any plans for enabling anchors and references in azure pipeline yaml configuration files?

[2019-04-19 16:12] geepy commented on #2221
Hi,

please find attached two logs, one ("success.log") that runs fine and another ("failure .log") that fails from the very same agent some minutes before.
Both tasks are just maintenance jobs, so the build is really short, but I believe all important information is contained.
[success.log](https://github.com/Microsoft/azure-pipelines-agent/files/3098653/success.log)
[failure.log](https://github.

[2019-04-19 16:14] geepy commented on #2221
To be precise: the problem is not that the build fails after 5 minutes. That is just the observation when yxou look at the TFS web application. The failing job immediately loses connection (see logfiles above), bit TFS does not believe that and waits another 5 minutes before calling the build dead...

[2019-04-19 17:11] TingluoHuang commented on #2221
@geepy check all your ATs' TFS debug event log around `2019-04-19 12:08`, there should be some information to tells us why the agent get 401 with it's token. you can also send the event log to me if you want, `tihuang at microsoft.com`

[2019-04-20 00:38] omeshp commented on #2207
Hi @bendursley, We currently don't support setting download location per artifact. We will support it in yaml based pipelines in future. Till then one option you can take is to move the artifacts to correct locations after download.

[2019-04-20 05:25] medmin commented on #1764
I have to say, it would be  game changing  if Azure Pipeline does provide such feature.

A use case is that sometimes it's not the ymal file that has issues, but still the CI or CD gets failed. Just like this issue on Vuejs:

https://github.com/vuejs/vue-cli/issues/2404

This issue has been bothering me and many others for a very long time, but nobody can give a proper answer because sometimes it'

[2019-04-22 01:35] jhgoodwin commented on #1764
@bryanmacfarlane Perhaps I'm just failing to do something simple, but how do I find the docs you are referring to? I checked in that folder, but after a long time, there are no changes. I tried searching for branches with `yaml` in the name, but still not seeing anything. From what you are saying, it seems like I must be missing something obvious.

[2019-04-22 02:03] bryanmacfarlane commented on #1764
Since that early post, yaml stuff was moved to here:
https://github.com/Microsoft/azure-pipelines-yaml/tree/master/design

The documentation since then was integrated into the official docs, e.g.

https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml

[2019-04-23 08:44] bendursley commented on #2207
Thanks for the info @omeshp

[2019-04-23 08:44] #2207 closed

[2019-04-23 20:21] NuvaSShih commented on #1649
I'm seeing issues with this right now. CI builds were triggering failures for new tags. I tried to add
`exclude:
      - refs/tags/*`

but still getting the build failures

[2019-04-23 20:26] jbeesonnuva commented on #1649
I'm seeing this issue right now. I have a yml build that's getting triggered with a failure on a new tag. I added the exclude block to branch triggers and still get the triggered failures.

[2019-04-23 21:13] MisinformedDNA opened #2224 "Desired artifacts will not be downloaded if other published artifacts are unchecked"
## Agent Version and Platform
Version of your agent? 2.150.0

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/lolinctest (though I reproed it on a second org as well)

## What's not working?
If multiple artifacts are uploaded in a single build and then a release pipeline is instruc

[2019-04-24 00:31] TingluoHuang commented on #2224
@owenhuynMSFT @madhurig

[2019-04-24 18:53] vutkin commented on #1270
@DavidStaheli [skip ci] is not working.
https://developercommunity.visualstudio.com/content/problem/430367/no-ci-not-being-honored-in-azure-devops.html

[2019-04-24 19:04] lmicheltorena commented on #145
Hi, how are you doing! i have the same problem. Could you solve this case?

[2019-04-25 08:24] hugovk commented on #1270
Can confirm `[ci skip]` not working.

See https://github.com/python-pillow/Pillow/pull/3805 which skipped Travis CI and AppVeyor but not Azure Pipelines.

[2019-04-25 09:58] mloskot commented on #1270
_(copying from my [comment posted to Developer Community in response to @hugovk](https://developercommunity.visualstudio.com/idea/420289/add-support-ci-skip-and-azure-skip-to-azure-pipeli.html?childToView=546628#comment-546628))_

I have been using this feature in variety of projects (e.g. Boost library) and it has worked fine.

Here are two test PRs

1. `[skip ci]` - https://github.com/mloskot/ci

[2019-04-25 10:08] juanperezADD commented on #2213
@TingluoHuang

**do you happen to know why you have so many clone instead of incremental fetch? since you migrated from TFS2018, i would expected the agent will re-use most of the existing repository on disk instead of cloning new one.
is this a newly created definition or repository?**

- This is an example of an agent that re-uses most of the existing repository on disk instead of cloning a new

[2019-04-25 11:02] ossentoo opened #2228 "Agent work prioritisation causing most pipeline processing on first agent registered into pool"
We currently have a 5 instance Azure scaleset for a pool of 5 pipeline agents.

The priority to "grab" works by these agents seems always to be in the order that instances were created and registered into the pool.  This means for example:

- **agent01** (which signifies the agent that was registered first into the pool) ends up running most of the builds/releases.  this is especially the case bec

[2019-04-25 11:03] hugovk commented on #1270
Also works in @mloskot's test repo:

3. `[ci skip]` - https://github.com/mloskot/ci-test/pull/4

But as mentioned, `[ci skip]` doesn't work in https://github.com/python-pillow/Pillow/pull/3805. Why are some repos working and others not?

[2019-04-25 11:06] DavidStaheli commented on #1270
Thanks for reporting this problem.  We're looking into it ASAP.

[2019-04-25 12:11] mloskot commented on #1270
### UPDATE to https://github.com/Microsoft/azure-pipelines-agent/issues/1270#issuecomment-486608120

I'm sorry for confusion, but that 'worked' due to issues in my own configuration. Please, forget that comment.

-----

I can confirm neither `[skip ci]` nor `[skip azp]` is working on Azure Pipelines

1. `[skip ci]` - https://github.com/mloskot/ci-test/pull/2 - Azure builds, but should NOT
2. `[ski

[2019-04-25 12:56] TingluoHuang commented on #2213
@juanperezADD you can enable/disable agent in WebUI.
![image](https://user-images.githubusercontent.com/1750815/56737217-eb4c0200-6737-11e9-97b9-08d52beeb9c0.png)

[2019-04-25 15:10] kelliejos commented on #1270
@mloskot and @hugovk , thanks for reporting the issue! Are you currently seeing CI builds running when the [skip ci] or [skip azp] commands are used or only PR builds? Azure DevOps only supports the [skip ci] command variations for CI builds. PR builds will always be run, even if the commit comment contains a [skip ci] command.

If adding an option to skip PR builds is feature you would like to se

[2019-04-25 15:26] vutkin commented on #1270
Hi, Could anyone reopen an issue?

[2019-04-25 15:34] mloskot commented on #1270
That may explain my confusion. I have seen builds skipped for non-PRs. That convinced me all eorks fine.

[2019-04-25 15:37] vutkin commented on #1270
@kelliejos We are not talking about PRs, regular builds aren't skipped.

[2019-04-25 15:46] hugovk commented on #1270
I'm talking about PR builds. On the project I mentioned, (virtually) everything is done via feature branches and PRs (as is standard practice on many projects), so I've not seen it on non-PR builds.

Travis CI and AppVeyor skip PR (and non-PR) builds when the skip tag is present, it's a command from the author not to expend CI resources on the PR.

I don't understand the difference between PR and

[2019-04-25 16:34] mloskot commented on #1270
@vishnugms

For https://github.com/boostorg/gil/ library, Azure Pipelines skip builds for any non-PR commits with `[skip azp]` in the message. For example, for commit https://github.com/boostorg/gil/commit/427956fa3f2b61a38f88ae436851ad5705df43be in `develop` branch:

[code]

AzP did not start any build at https://dev.azure.com/boostorg/gil/_build

You will see there similar commit, as on screensh

[2019-04-25 18:14] kelliejos commented on #1270
@mloskot and @hugovk Azure DevOps does not permit skipping PR builds as they are gated builds.  Allowing a user to bypass gated builds increases the chances that a breaking change could be merged into the code base. Azure DevOps honors the [skip ci] commands on CI builds as the change being built has already been merged.

[2019-04-25 18:30] vutkin commented on #1270
@kelliejos Why do you think that you know that end-users want? I want use skippers for all builds.
I confirm that AzDevOps doesn't respect skippers from official docs. My code is stored in AzRepos.

![image](https://user-images.githubusercontent.com/25753488/56759317-6269b080-67a1-11e9-9388-db1e9ec52e39.png)

[2019-04-25 19:38] juliobbv commented on #2223
@MovGP0, I have PR #2229 out that I believe should address your issue. We were not considering the pool information while generating the service name, so two agent instances targeting the same account, but different pools would generate the same service name.

As a workaround, you can provide a unique agent name per config invocation, which would transfer to the service name as well.

[2019-04-25 19:42] ihnorton commented on #1803
+1 for fixing this. As you get broader adoption from people migrating from e.g. travis, there are going to be some very unamused comments when people merge sets of "green" PRs that actually had failures 😈

(fortunately we caught this while testing azure-pipelines, after eventually noticing that azure was passing every PR that travis had correctly failed)

[2019-04-26 00:37] #2223 closed

[2019-04-26 07:36] serhit opened #2231 "Deployment pool agents: clean up artifact folder after release or on maintenance"
Currently build agent pool has an option to configure maintenance task and clean stale working folders - this is of great help keeping build machines under control.

Unfortunately, similar feature is not available for agents in deployment pools. This lead to constantly growing disk consumption - especially in case when many different releases are deployed to the same server.

Is there any plan to

[2019-04-26 12:03] hugovk commented on #1270
Thanks, but for GitHub PRs, it looks really weird when `[CI skip]` is ignored by Azure Pipelines but honoured by Travis CI and AppVeyor.

I agree it does increase the chance of a breaking change, but sometimes we really do want to skip all CI builds (like a minor or docs change).

[2019-04-26 12:23] mloskot commented on #1270
Indeed. Trying to not to waste resources (electricity) at micro-scale may turn into significant saving.
I do purposely add skippers when I know a build is unnecessary and, yes, I do it with a bit of eco-friendly mind on purpose.

[2019-04-26 16:34] vtbassmatt commented on #1649
@jbeesonnuva can you open a [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html) ticket with details including the relevant YAML snippet? Thanks.

[2019-04-29 01:13] milesizzo commented on #838
Has this issue been fixed in an upcoming version? The current behaviour is simply _incorrect_ and renders the env var completely useless (and dangerous).

[2019-04-29 12:14] hacst commented on #1700
We would definitely love the possibility to use something like a on-prem Kubernetes cluster as a backend for a dynamic agent pool. The current way the pools handle is very inflexible.

[2019-04-29 20:48] ARMAAN7139 commented on #165
I am getting a similar error  the logs of agents are as follows
System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.Http.CurlException: Failed initialization
   at System.Net.Http.CurlHandler.ThrowIfCURLEError(CURLcode error)
   at System.Net.Http.CurlHandler.EasyRequest.SetNetworkingOptions()
   at System.Net.Http.CurlHandler.EasyRequest.InitializeCu

[2019-04-29 20:52] TingluoHuang commented on #165
@ARMAAN7139 try use `CURL` to hit the service through your proxy server, the error you get might means the `libcurl` on your box is not properly installed.

[2019-04-30 10:21] Philo commented on #2154
I am experiencing a similar issue with a newly deployed self-hosted agent running Windows 2019 Data Center:

![azure-devops-agent-error](https://user-images.githubusercontent.com/432217/56955550-ac53ed00-6b39-11e9-947a-81acce86aa39.png)

Any output to the error stream is causing a build to fail.  We are executing a PowerShell script that has elements that write log information to the error stream

[2019-04-30 11:49] DJRobertson opened #2235 "Fail to download task. HTTP Status: NotFound"
Hi @TingluoHuang
## Agent Version and Platform Version of your agent?
Agent:  v2.151.0, macOS	vsts-agent-osx-x64-2.151.0.tar.gz

OS of the machine running the agent?
OSX, Mojave Version 10.14.4

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server?
On-Prem TFS, which release?
Team Foundation Server 2015 (14.0.23128.0 (Tfs2015))

## What'

[2019-04-30 14:36] TingluoHuang commented on #2154
@Philo there is a setting you can use to let powershell not failed on STDERR
![image](https://user-images.githubusercontent.com/1750815/56969730-c68acc80-6b33-11e9-8a0e-accf4aeeddc4.png)

[2019-04-30 14:40] Philo commented on #2154
@TingluoHuang,

This setting will cause a failure on standard error, the default value of False should mean that it does not fail on standard error.  This behaviour is what we see on all other agents we have that are not Windows Server 2019.

We have just completed a test using the same software set on a server 2016 vs server 2019 agent, the 2019 agent fails for the same build that succeeds on 201

[2019-04-30 14:43] TingluoHuang commented on #2154
@Philo  i am wonder there is something to do with PowerShell version, do you mind send me a build log with with `system.debug=true` set as variable.

[2019-04-30 14:46] TingluoHuang commented on #2235
@DJRobertson can you hit `http://tfs01:8080/tfs/_apis/distributedtask/tasks/0f077e3a-af59-496d-81bc-ad971b7464e0/1.0.3` from any browser and see what do you get?

[2019-04-30 14:53] DJRobertson commented on #2235
@TingluoHuang
The task is downloaded in both Safari and chrome

[2019-04-30 15:00] TingluoHuang commented on #2235
@DJRobertson i assume you are using Safari and Chrome on the same machine as the agent. :)
do you have any proxy the browser use?
you mind want to try get http trace base on https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting?view=azure-devops#use-built-in-http-tracing

and send the log to me directly, since it may contains secrets.
`tihuang @ microsoft.com`

[2019-04-30 15:39] DJRobertson commented on #2235
@TingluoHuang
Yes,  you assumed correctly that the agent was on the same machine as Chrome & Safari.
Also sent logs via email.
Thanks

[2019-04-30 15:48] TingluoHuang commented on #2235
@DJRobertson try use `export VSTS_AGENT_HTTPTRACE=true` and restart the agent process and send agent diag log to me via email, BTW, is this a regression or it never works for you?

[2019-04-30 16:22] TingluoHuang commented on #2235
@DJRobertson is your agent configured as service? if so, you might want to add `VSTS_AGENT_HTTPTRACE=true` to the `.env` file under agent's root and then restart the agent service.

the log you send me shows the environment variable is not properly propagate to the process. :D

[2019-05-01 12:54] TingluoHuang commented on #2235
@DJRobertson base on the log, looks like the request never made to TFS app, it's blocked by IIS.
I am wonder something is wrong with our REST routing. can you try use an older version agent? like

https://github.com/Microsoft/azure-pipelines-agent/releases/tag/v2.139.1
or
https://github.com/Microsoft/azure-pipelines-agent/releases/tag/v2.131.0

[2019-05-01 13:20] DJRobertson commented on #2235
@TingluoHuang
Using agent version: '2.139.1'
Error
Unable to match any source repository endpoints with any of the supported source providers.
System.Exception: Unable to match any source repository endpoints with any of the supported source providers.
I sent the logs to your email

[2019-05-01 13:54] TingluoHuang commented on #2235
@DJRobertson sorry, i forgot 139.1 may had a bug, can you try https://github.com/Microsoft/azure-pipelines-agent/releases/tag/v2.131.0

[2019-05-01 13:55] peteribbett commented on #1395
I had to run sudo chown

[2019-05-01 15:37] DJRobertson commented on #2235
@TingluoHuang

I sent you the logs using version 2.131.0

[2019-05-01 16:41] TingluoHuang commented on #2235
@DJRobertson the log still contains a weird error, can you try queue a build with `Build.SyncSources=false` variable set and send me log?

[2019-05-01 18:11] ARMAAN7139 commented on #165
@TingluoHuang  Thank you so much, after installing the new  curl version, I was able to connect to the server successfully. Cheers.

[2019-05-01 18:20] TingluoHuang commented on #165
@ARMAAN7139 cool, grad you unblocked. 🎉

[2019-05-02 07:48] DJRobertson commented on #2235
@TingluoHuang

Set the variable and sent you the logs Ting.

[2019-05-02 19:46] cadsit commented on #1826
I was just bit by this as the docs do not mention that the agent only runs node 6 even if a more recent version of node is installed on the agent (cc https://github.com/MicrosoftDocs/vsts-docs/issues/4130).

Is there any update on whether or not this landed or if there is a timeline to rolling out the new handler?

[2019-05-02 20:03] cjprecord opened #2240 "VSTest Issues with Agent 2.150.3"
## Agent Version and Platform
2.150.3

OS of the machine running the agent? OSX/Windows/Linux/...
Windows 10 (Azure hosted VM)

## Azure DevOps Type and Version
dev.azure.com - hosted

If dev.azure.com, what is your organization name? https://dev.azure.com/{organization} or https://{organization}.visualstudio.com

## What's not working?
Our self hosted agents all updated to version 2.150.3 yesterd

[2019-05-02 20:12] cadsit commented on #1826
Ah, I see from http://blog.majcica.com/2018/12/04/node10-provider-available-for-agent-v2-144-0/ that it's already been deployed. Thanks!

[2019-05-03 16:50] cjprecord commented on #2240
Found that disabling the visual studio "DotNet Extensions for Test Explorer" on the visual studio installation on each build VM resolved this issue.

[2019-05-03 16:50] #2240 closed

[2019-05-05 03:24] on99 opened #2241 "Self-hosted agent self update failed due to 30 minutes timeout"
1. Downloading agent from mainland China is too slow (< 50KBps), can you put agent on CDN so we can benefit from it.
2. Seems like 30 minutes timeout for self update is not configurable. It's better if it can be configured by us, otherwise it keeps retrying self update.

[2019-05-05 03:55] TingluoHuang commented on #2241
@on99  the agent is distributed through Azure CDN already. :(

[2019-05-05 03:56] TingluoHuang commented on #2241
@juliobbv

[2019-05-05 04:22] on99 commented on #2241
sorry to hear that. :(
Even though I setup a proxy to download agent from Hong Kong, it's also pretty slow.

Making it configurable should be a compromise solution for us.

Thank you!

[2019-05-05 13:44] on99 commented on #2241
#2183
Seems like it's configurable via environment variable `AZP_AGENT_DOWNLOAD_TIMEOUT` and defaults to 15 minutes. I will give it a shot.

[2019-05-06 09:47] starlee822 commented on #1687
Any update on this one?

[2019-05-06 16:56] esteve commented on #2043
@danwalmsley if it's of any use, I managed to install `sudo` by running `docker exec -u 0` inside the container:

https://github.com/ApexAI/performance_test/blob/master/azure-pipelines.yml#L9-L17

Containers in Azure are configured so that you can run Docker inside them, so I just exported the Docker executable as a volume and then access the running container as root via `docker exec`. The only r

[2019-05-07 08:48] Philo commented on #2154
Apologies @TingluoHuang - due operational issues we needed to quickly cycle our 2019 server agents out and replace them with 2016 images.  If it is of any help the only change we made to our image build scripts (using packer and chocolately) was to change the OS base image from 2019 to 2016.

[2019-05-07 12:29] move[bot] opened #2242 "Show script output"
When `curl` runs in a script task, if it's the last command, its stdout output appears to get eaten. If there's an `echo` after the `curl`, output ends up in the logs.

[Example build](https://dev.azure.com/mchelen-test/_git/example?path=%2Fazure-pipelines.yml&version=GBmaster), [example run](https://dev.azure.com/mchelen-test/example/_build/results?buildId=34). Only "checkpoint 3" shows any outpu

[2019-05-08 00:17] danegsta opened #2243 "Git fetch fails with exit code 1 and "would clobber existing tag" message"
## Have you tried troubleshooting?
Yes

## Agent Version and Platform
2.150.3 Windows

## Azure DevOps Type and Version
https://dev.azure.com/DevDiv

## What's not working?
The git fetch command in the pipeline checkout step is failing on agents that have cached an old tag that was subsequently updated. This seems to be related to a [change](https://github.com/git/git/commit/0bc8d71b99e91c9e90b519

[2019-05-08 17:42] kevpar commented on #1505
To pile on here, I'm also hoping for generic reboot support as part of a release agent job (not deployment group). We run some tests that mess up the machine state, and would really like to reboot afterwards so the next pipeline execution can get a clean machine to run on.

Deployment groups are also not an option for us, as we are only allowed to create custom agent pools.

[2019-05-09 07:16] ferronsw opened #2244 "Agent name with whitespace not working for svc.sh install"
I've downloaded vsts-agent-linux-x64-2.150.3.tar.gz.
I used a whitespace in my agents name, but when I ran svc.sh install I got this error.

`chmod: cannot access '/etc/systemd/system/vsts.agent.switchdevelopment.Selfhosted': No such file or directory`

I worked around it by removing the agent and reconfigure it with a hostname without a whitespace.

[2019-05-09 13:32] jjbencomo opened #2245 "Exit code 100 returned from process: file name 'tf', arguments 'eula -accept' / Exit code 100 returned from process: file name 'tf', arguments 'workspaces -format:xml "-collection:http://myserver/mycollection/" -jwt:*** -noprompt'."
## Have you tried troubleshooting?
[Troubleshooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 2.136.1 / 2.150.3
OS of the machine running the agent? OSX - macOS Mojave Version 10.14.4

## What's not working?
After starting a new build and error executing the tf command comes up.

##[section]Starting: Get Sources
Prepen

[2019-05-09 15:02] TingluoHuang commented on #2243
@danegsta thanks for reporting this.
@juliobbv we should fix this.

[2019-05-09 15:21] ladislas commented on #2018
@TingluoHuang @bryanmacfarlane It would be nice to update the documentation on this matter, I have myself spent a few hours trying to figure it out.

Both are working for me:

[code]

[2019-05-09 18:02] TingluoHuang commented on #2245
@jjbencomo try https://github.com/microsoft/azure-pipelines-agent/issues/1273#issuecomment-427464041

[2019-05-09 19:05] adityapatwardhan opened #2246 "Autologon does not work on Windows Server 2012 and 2012R2"
## Agent Version and Platform
Version of your agent? 2.150.3

OS of the machine running the agent? Windows Server 2012 and Windows Server 2012R2

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server? dev.azure.com

If dev.azure.com, what is your organization name? https://mscodehub.visualstudio.com

## What's not working?
When trying to

[2019-05-09 19:48] hzyIO commented on #2209
@bariscaglar Was there any resolution to this? I'm running into the same issue, I have two repos being built from pipelines and configuring and getting the 2nd one to work is throwing this error.

[2019-05-10 01:05] caoyangjiang commented on #2174
@vtbassmatt

I am having the exact same problem just now. Just for the sake of experiment, I ran two pipelines from two accounts using identical YAML file. One builds successfully and the other fails with
"Min required docker server version is '17.12', your docker ('/usr/bin/docker') server version is '3.0.4' ".  What could be cause?

[2019-05-10 10:48] jjbencomo commented on #2245
Hi @TingluoHuang! Thank you for your fast response. After a long search, the thread you sent me was a good hint to solve the problem. Apparently the Java version was incompatible. I uninstalled the 12 version (https://www.oracle.com/technetwork/java/javase/downloads/jdk12-downloads-5295953.html) and installed the 8 version ( https://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2

[2019-05-10 12:32] blueelvis opened #2248 "Environment Variables From Variable Groups Should be loaded as it is"
## Agent Version and Platform
2.150.3

## OS of the machine running the agent?
Linux (Ubuntu 16.04)

## What's not working?
I have a variable group which has the following environment variable names -
1. ConfigStorageAccountContainerName
2. ConfigStorageAccountName
3. DeploymentServicePrincipalAppId
4. DeploymentServicePrincipalSecret (Secret Credential)

For, 1, 2 & 3, what is happening is that t

[2019-05-10 14:27] kmscode opened #2249 "git submodule commands fail on self"
## Agent Version and Platform
Version of your agent?

2.148.1 & 2.150.3

OS of the machine running the agent?

Windows Server 2016

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

Org name:
intellicheck.visualstudio.com

## What's not working?
The pipeline's get sources task has "checkout submodules" checked:
![image](https://user-images.githubusercontent.com/16654335/5

[2019-05-10 16:57] kmscode commented on #2249
So some additional notes:

- MS Hosted build agents do not have this problems
- On self-hosted using latest with with system.prefergitfrompath does not resolve the problem
- On self-hosted using the relative path in the .gitmodules file **_appears to resolve this issue_** (reference: https://github.com/Microsoft/azure-pipelines-agent/issues/577#issuecomment-253138869 that my co-worker was able to

[2019-05-10 21:25] bariscaglar commented on #2209
Somehow, my problem went away. My conversation with the team indicated that there were multiple connections with the same name. I am not sure how that happened. I created a new connection and that had the same exact issue at first, then it started working. Sorry I realize what I'm saying doesn't make too much sense even as I type it, but right now I don't have the problem anymore.

[2019-05-11 14:54] walfie commented on #2174
I'm also having the same issue. It seems like the agent pool for my account is still on agent version `2.148.0`

[2019-05-11 16:26] TingluoHuang commented on #2174
@walfie what's your account name?

[2019-05-11 16:28] walfie commented on #2174
it's `walfie`. Here's an example of a failed build, for reference:
https://dev.azure.com/walfie/sandbox/_build/results?buildId=18&view=logs&jobId=9a26be13-2289-5111-10aa-68406177efe5

[2019-05-11 16:52] caoyangjiang commented on #2174
@TingluoHuang  The problem I had is with a organizational account. All projects fail with the same error. Can you also look into this organizational account at https://dev.azure.com/HypeVR/ ? If you need other information, please let me know. Thanks!

[2019-05-11 16:59] TingluoHuang commented on #2174
@caoyangjiang your account is in a newly created data center that missing some configuration, i will fix the config if i can find my manager to approve my production config change request during the weekends, otherwise i will get it fix first thing on Monday morning.

[2019-05-11 17:07] caoyangjiang commented on #2174
@TingluoHuang No hurry. If it can be fixed on Monday, it would be great! Have a good weekend!

[2019-05-11 19:16] caoyangjiang commented on #2174
@TingluoHuang Is there an agent that has GPU-support and able to run CUDA code?

[2019-05-13 08:43] #2245 closed

[2019-05-13 12:16] vtbassmatt commented on #2174
@caoyangjiang in hosted we offer [DS2_v2 machines](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#capabilities-and-limitations) which I don't believe have GPU / CUDA capabilities. You can always stand up your own self-hosted agent on the Azure VM of your choosing.

[2019-05-13 14:36] TingluoHuang commented on #2249
@kmscode if your submodules are in the same VSTS/AzureDevOps account, i would suggest to use relative path when register submodules to your main repository as the following doc described, then you don't have to worry about dev.azure.com vs. *.visualstudio.com
https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/pipeline-options-for-git?view=azure-devops#checkout-submodules

[2019-05-13 14:44] kmscode commented on #2249
Thanks @TingluoHuang - This is what I did to get around the problem. However, I still believe that there isa bug floating around somewhere with the build agent. The full path is valid syntax in the .gitmodules, yet authentication fails when pulling the submodules via the full path.

[2019-05-14 10:43] chshrikh commented on #1421
@alpacamybags118 we currently dont support the agent sharing with DG's in same project.

[2019-05-14 10:43] #1421 closed

[2019-05-14 12:07] omeshp commented on #2150
@alexwiese I am closing the issue since we are moving away from "Download Build Artifacts" to "Download Pipeline Artifacts". Let's us know if you are facing the issue with "Download Pipeline Artifact" too.

[2019-05-14 12:07] #2150 closed

[2019-05-14 12:08] omeshp commented on #2088
@MattDavisRM We don't limit the number of artifacts in Release.

[2019-05-14 12:08] #2088 closed

[2019-05-14 12:19] omeshp commented on #1898
We did change in march to start populating $(RELEASE.ARTIFACTS.*.REPOSITORY.NAME), due let us know if it isn't working for you.

[2019-05-14 12:19] #1898 closed

[2019-05-14 15:47] dza89 commented on #2154
Can indeed confirm that the issue lies with Windows 2019.

[2019-05-14 17:43] mloskot commented on #2174
Could anyone clarify what's the status of this issue?
I've just followed up similar issue here https://github.com/MicrosoftDocs/vsts-docs/issues/2987#issuecomment-492335691 but it is unclear to me which one is relevant?

I'm being hit by the version bug on  https://dev.azure.com/osgeo/gdal/

![image](https://user-images.githubusercontent.com/80741/57719598-b8fe3800-7645-11e9-9b9a-f8bd7e297159.png)

[2019-05-14 18:18] TingluoHuang commented on #2174
@mloskot looks like your account is in a different deployment that also miss configured on our side, i am fixing it right now, eta 10-15 min.

[2019-05-14 18:35] mloskot commented on #2174
@TingluoHuang Sounds great, thank you!

[2019-05-14 20:34] #2243 closed

[2019-05-14 20:44] TingluoHuang commented on #2246
@juliobbv auto logon should either fix the missing subkey or fail the config.
[code]

[2019-05-15 17:40] caoyangjiang commented on #2174
@TingluoHuang The problem has been resolved and now it no longer throw the error. Also, thanks for the information on the GPU VM.

[2019-05-15 19:04] vtbassmatt commented on #1911
ARM64 support in .NET Core: https://github.com/dotnet/announcements/issues/82

[2019-05-16 01:21] bryanmacfarlane commented on #2213
Closing since the git server issue is tracked on dev community.  That's the right issue and fix.

[2019-05-16 01:21] #2213 closed

[2019-05-16 09:57] DJRobertson commented on #2235
@TingluoHuang

Hi Ting, any update on the connection issue?

[2019-05-16 12:53] TingluoHuang commented on #2235
@DJRobertson sorry, i was on vacation, will take a look today.

[2019-05-16 13:42] DJRobertson commented on #2235
@TingluoHuang
No probs, hope you had a good one.

[2019-05-17 06:02] laczau opened #2257 "Creating git label from bash script is not working"
Hi!
I'm having troubles running git commands from script. What I'm trying to do is to create a new tag on each merge commit from pipelines automatically.
Since we build the sw for many platforms (AIX, hp-unix, etc...), our yml file is quite simple and everything is basically handled by a bash script (build.sh) and I'd like to create the git tag from that script.

yml snippet:
steps:
  - checkout:

[2019-05-17 10:28] tejasd1990 commented on #1611
Hi, apologies for replying late.
Commenting on some of the issues discussed here,

1.  We have made some fixes recent to the Azure Pipelines Agent(formerly TeamServicesAgent) extension. The agent installed through the extension should remain online after machine reboot, or an extension version update, even when the PAT has expired/revoked. If there are some issues related to this, please let me kn

[2019-05-17 10:46] mregni commented on #1416
Is the Powershell Core handler going to be implemented?

[2019-05-17 13:04] TingluoHuang commented on #2257
@laczau when the build running, it's not running as you, it's running as service account `Build\1a17aecc-befc-4727-832c-8b8c73d1e7c4`, you need to grant that account permission.
![image](https://user-images.githubusercontent.com/1750815/57930008-d53ae880-7882-11e9-8fd5-ebbf0bf845b0.png)

[2019-05-19 07:29] grtteja opened #2260 "Azure pipeline bash task in linux is killing grand-child process"
Hi,
We have azure pipeline with one of its task as bash task on linux agent machines. We are creating multiple processes in bash task. Surprisingly post execution of the task, all my processes are getting killed. We have tried multiple options like creating a background process, creating a process using nohup, creating a process in its own process group, session, controlling terminal.
But none of

[2019-05-19 07:33] #2260 closed

[2019-05-19 14:03] letmaik opened #2261 "Hosted agent "lost communication with the server""
## Agent Version and Platform
Version of your agent? '2.150.3' according to the "Initialize job" task

OS of the machine running the agent? OSX, Windows

## Azure DevOps Type and Version
dev.azure.com

## What's not working?

https://dev.azure.com/WRF-CMake/WRF/_build/results?buildId=324
https://dev.azure.com/WRF-CMake/WRF/_build/results?buildId=373
https://dev.azure.com/WRF-CMake/WRF/_build/resul

[2019-05-20 16:58] mitchdenny opened #2262 "Parallel upload of code coverage files."
I would like to start a conversation about improving the performance of upload of code coverage files in Azure Pipelines. The Azure SDK team has a number of mono-repos where the client libraries for each of the Azure services is present. When we do a full test pass there is a very large amount of code-coverage data collected and it can take 7-9 minutes to upload the files from a full test pass.

A

[2019-05-20 17:30] mitchdenny commented on #2262
/cc @acesiddhu

[2019-05-21 06:31] laczau commented on #2257
You are right, this option was not set! Thank you!

[2019-05-21 06:31] #2257 closed

[2019-05-21 15:21] acesiddhu commented on #2262
@TingluoHuang your thoughts on this? does Filecontainerserver supports uploading file in parallel. i assume it should

[2019-05-21 15:25] TingluoHuang commented on #2262
@mitchdenny what's the size of those code coverage files? and how many are they?
@acesiddhu the `FileContainerServer` will do parallel upload (2 thread uploading) when you request it to upload a folder.

[2019-05-21 16:04] mitchdenny commented on #2262
@TingluoHuang we have ~6500 files being uploaded per leg of the run. There are 7 legs that publish code coverage so we are uploading about 45,500 files in total, but because of parallelism its the 6500 we are trying trying to optimize. I wonder whether this could be cut over to use the same back-end as Pipeline Artifacts?

[2019-05-21 16:33] TingluoHuang commented on #2262
@mitchdenny of course we can switch to use ArtifactService, we just need someone change the agent and the service.

[2019-05-21 16:43] #2246 closed

[2019-05-21 16:45] mitchdenny commented on #2262
Do you think the service could handle greater parallelism on FCS today (quick fix?)

[2019-05-21 16:48] TingluoHuang commented on #2262
@mitchdenny FCS should be fine since lots of people are still using the old upload/down task that using FCS

[2019-05-21 16:49] mitchdenny commented on #2262
OK - I'll look at creating a PR that does more parallelism. I was thinking making it parallel to the number of cores on the agent?

[2019-05-21 17:46] kasubram commented on #1687
An update for this has been already rolled out. You don't need to grant Manage release permission for Project Collection Build Service anymore.

[2019-05-22 12:58] DJRobertson commented on #2235
@TingluoHuang
Hi Ting, had a chance to look at this yet?

[2019-05-22 15:02] WYarde opened #2267 "Bug: On Windows, Git is not invoked correctly when client certificates are used"
I believe the below is a bug description; I do not have enough knowledge how to properly fix this. Also, the workaround described below might be useful for others who run into this issue.

**Situation:**
I am running self-hosted pipeline agent, connecting to self-hosted Azure Devops server. I have configured the agent with all the certificate options as specified [here](https://github.com/microsof

[2019-05-22 15:13] TingluoHuang commented on #2267
@WYarde i noticed you set `--gituseschannel` during config, try not doing that.

[2019-05-22 15:23] WYarde commented on #2267
@TingluoHuang Thanks for your quick reply! When not setting that option, it results in the following error:
`SSL certificate problem: unable to get local issuer certificate`

2019-05-21T15:23:13.3608290Z ##[command]git -c http.extraheader="AUTHORIZATION: bearer ***" -c http.sslcainfo="C:\agent\ca.pem" -c http.sslcert="C:\agent\clientcert.pem" -c http.sslkey="C:\agent\clientcert-key-pass.pem" -c ht

[2019-05-22 18:17] TingluoHuang commented on #2267
@WYarde does your `C:\agent\ca.pem` looks right? the error means that `ca` cert is not match with your TFS server SSL cert.

[2019-05-23 06:50] WYarde commented on #2267
@TingluoHuang I believe `C:\agent\ca.pem` looks fine; it's generated with openssl and looks alright to me (has the whole CA chain in it). Also, as mentioned the agent itself is able to connect to the TFS server; it needs the same file to be able to do so.

[2019-05-23 11:19] Shortcheese opened #2270 "Using Azure agents for building .Net Framework 4.8"
We use agent version: '2.150.3' on a private build server and when we try to build a .Net application using Framework version 4.8, the build failed.

We get the following errors:
[code]
We have installed the latest version of:
- The Azure agent (2.150.3)
- Visual studio 2017
- .NET SDK

The same problem rises when using a Azure hosted agent "Hosted Windows 2019 with VS2019"

Please fix

[2019-05-23 13:06] TingluoHuang commented on #2270
@Shortcheese this it not an agent issue, the agent run you build and report failure successfully, looks like an environment issue, like missing SDK, etc.
please open ticket on  https://developercommunity.visualstudio.com/spaces/21/index.html for help

[2019-05-23 13:06] #2270 closed

[2019-05-23 17:19] fatherlinux commented on #2043
Red Hat might consider creating a custom version of Universal Base Image which comes pre configured for CI/CD pipelines with sudo installed. We are tracking it [here](https://bugzilla.redhat.com/show_bug.cgi?id=1709476), but don't have any plans yet.

Today, I would recommend people to build a small layered image (no matter which Linux distro), tuck it in quay.io or dockerhub, and pull from there.

[2019-05-23 18:12] eanders-MS commented on #1553
This would be a nice enhancement. We sometimes want to deploy to a single instance, vs the entire group. Example is when we add a new VM to the group and need to deploy services to it. We don't want to deploy to all VMs, just the new one.

[2019-05-23 21:04] njsmith commented on #2043
This is probably where we'll end up eventually if this isn't fixed, but having to create a separate repo and maintain and update custom containers is a lot of extra operational complexity for your average open source project, compared to just writing a few lines of yaml... Suddenly we have to figure out credential handling for our container repository, etc.

Azure pipelines already starts by injec

[2019-05-23 22:36] dferretti-fig opened #2271 "Remote YAML Template over HTTP"
I see you can use templates from remote git repositories with `- template: common.yml@templates` which references an entry from the `repositories` section. Is there a way I can use a similar syntax to define a template location located at an HTTP endpoint?

And this might be dipping too much into feature request territory, but would it be possible to provide parameters to this template HTTP reques

[2019-05-23 22:43] dferretti-fig commented on #2271
This would allow me to analyze the provided repo, for example count the number of C# projects inside it that fit a certain criteria, and return a YAML template that contains a certain number of server or agent tasks to correspond to each project.
I don't know if something like this is possible currently - if I reference a static git repo for templates it has no way of customizing what it provides

[2019-05-24 07:39] letmaik commented on #2261
I observe this more frequently now, also on Windows, at random points in the job. This really makes Azure Pipelines unusable for me because you can only re-run the whole build and not individual jobs, and there's currently a good chance that one of them fails randomly.

[2019-05-24 19:16] edgariscoding opened #2272 "Build fails during second lfs fetch in Checkout job if the repository uses Git LFS - Log shows Git credential and password errors"
## Having issue with Tasks?
During the Checkout job of the build process, the agent checks the Git version (2.21.0.windows.1) and the Git LFS version (2.7.1). Based on some research I've done, it seems like version 2.7.1 of Git LFS may be causing this issue. Version 2.7.2 was released a few days ago to address this but my agent still has 2.7.1 and I'm not sure how to update this specific package.

[2019-05-25 01:23] #2244 closed

[2019-05-26 04:46] dilv0055 commented on #1582
Hi, i still the same issue only with git push origin <tag_name>. Every thing else like git pull, git push, git tag, git fetch are working great. I'm using Azure DevOps Build pipeline, Powershell task(version 2.0) and git version is git version 2.17.1.windows.2.

Issue: Pipeline waiting for longtime.

[2019-05-27 04:42] chshrikh commented on #1611
closing as per @tejasd1990

[2019-05-27 04:42] #1611 closed

[2019-05-27 11:25] gnimor opened #2276 "Nuget push task self signed certificate"
The agent is running for a self hosted devops 2019 instance. I have configured a build pipeline with a NUGET push task. The devops server is using a self signed certificate. All steps in the build task work as expected until it comes to the "nuget push" task. The task fails complaining about the self signed certificate. The debug log is:

[2019-05-27 15:31] TingluoHuang commented on #2276
@gnimor https://github.com/microsoft/azure-pipelines-tasks might be a better place for this issue, that the repository for all in-the-box tasks.
how did you configure the agent with your server's self-signed certificate?
looks like the task is not follow the agent's certificate setting?

[2019-05-27 16:49] gnimor commented on #2276
So the configuration was no problem I just had to add the self signed certificate to the certificate store of the computer running the agent. Therefore I thought all tasks triggered by the agent should also work - which seems not to be the case.

[2019-05-27 17:09] TingluoHuang commented on #2276
One thing to noticed, not all the tools work with windows certificate store, during agent config there is a way to configure the agent knows about the self signed cert and then the agent can teach the tasks about your self signed cert.

I think during config you can do —sslcacert
 Sorry I am on my phone, hard to typing.

https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/certificate?vi

[2019-05-28 01:47] ahmad2x4 opened #2277 "Azure Pipelines agent in DMZ cannot ping back Azure DevOps Server"
I am working with a company who are planning to upgrade to On-premises Azure DevOps 2019 Servers and start using Azure Pipeline. For the security reasons, they want to keep Azure DevOps inside their intranet. Production servers are in DMZ network and they want to be able to utilize Azure Pipeline to release to the production servers.
According to documentation:

_Periodically, the agent checks to

[2019-05-28 05:58] #1687 closed

[2019-05-28 06:06] omeshp commented on #2231
@serhit We already clean up artifacts folders for releases older than 30 days on maintenance job run. Is it not working for you?

[2019-05-28 07:10] MrGlaurung commented on #2090
Are there any plans to include ARM building in the standard docker component soon??

[2019-05-28 11:47] vtbassmatt commented on #2090
We aren't planning to ship our own agent Docker images anymore. We've instead documented the process by which you can build your own: http://docs.microsoft.com/azure/devops/pipelines/agents/docker

(In full disclosure, we've been getting some feedback about this decision, and are open to reconsidering. It isn't clear what benefit there is in shipping an image which almost certainly won't have all

[2019-05-28 11:47] #2090 closed

[2019-05-28 11:57] MrGlaurung commented on #2090
Thank you very much for getting by to me.
Have a great day.

Mvh
Anders Lidén

Caora AB
Kronhusgatan 11
411 05 Göteborg

E-post: anders.liden@caora.se <3D"mailto:anders.liden@caora.se">
Mobil: 0735 - 34 10 11

------ Original Message ------
From: "Matt Cooper" <notifications@github.com>
To: "microsoft/azure-pipelines-agent"
<azure-pipelines-agent@noreply.github.com>
Cc: "Anders Liden" <devel@liden

[2019-05-28 12:08] serhit commented on #2231
Unfortunately, 30 days are too long for us - too much releases of feature branches. Is there any way to control the retention period? So that we may set it to shorter period?

[2019-05-28 20:53] deadlydog commented on #1207
We are using hosted Azure DevOps in the cloud with on-prem agents running version `vsts-agent-win-x64-2.144.0` and we are also seeing this problem still.

[2019-05-29 15:40] eanders-MS commented on #1421
@chshrikh Can you suggest a workaround? My use case: I have a deployment group with a set of VMs in it. When I bring up a new VM, I want to deploy to just the new one. One way I thought to do this was to have it be part of two deployment groups: the All VMs group and another group containing just the single VM itself.

I tried filtering the deployment group by machine tag, but couldn't get that wo

[2019-05-29 16:17] dferretti-fig commented on #2271
After poking around the source, I see the agent just receives individual jobs from AzDO, so its place in the system falls after any yaml generating or retrieving - so I'm going to move this over to the azure-pipelines-yaml repo.
Will just leave open for a few days out of curiosity to see if anyone knows if something like this is possible or planned.

[2019-05-29 20:26] bgoeppner commented on #1505
I totally support this request. We face the same workflow that is outlined here, and struggle with the same problems:
- install msi on a set of machines (via deployment group and tags)
- reboot
- wait for machines to come back
- finish work (e.g. check if installation was successfull, run additional tests)

As we might deploy to many machines (VMs and physical ones) which might also be located in

[2019-05-30 01:20] geofflamrock commented on #2243
If anyone is facing this issue before the fix lands in a released agent version, it seems that setting

[code]

for yaml builds works, although this will re-clone the entire repo on every build (which may not be ideal I suppose).

[2019-05-30 05:53] peterox commented on #1207
Are we able to get an update on this? It seems there is a fix but it just hasn't been released?

This problem effectively makes the logs in our pipelines useless.

[2019-05-30 06:34] WYarde commented on #2267
Could it be that a client cert on windows agent is currently broken for everyone?

[2019-05-30 08:44] omeshp commented on #2231
@serhit You can control these settings from the collection level pool settings. Look at [this blog](http://www.codewrecks.com/blog/index.php/2017/05/06/maintenance-for-build-agent-in-tfs-build/)

[2019-05-30 08:49] serhit commented on #2231
@omeshp settings for builds agents is well known and we are using it.
This issue is regarding similar settings we need for **deployment group agents**.

[2019-05-30 08:53] omeshp commented on #2231
@serhit Same settings should work for both. Is it not working for your case?

[2019-05-30 09:01] omeshp commented on #2231
@serhit Got it. @chshrikh We already have logic on agent side to handle the settings for agent pools, it looks like deployment groups are missing these settings. Can you confirm?

[2019-05-30 10:39] chshrikh commented on #1421
@eanders-MS I think [this ](https://docs.microsoft.com/en-us/azure/devops/release-notes/2018/jul-10-vsts#automatically-deploy-to-new-targets-in-a-deployment-group)should help you.

You can deploy the latest deployment on newly added targets with same tag in DG.

[2019-05-30 13:46] omeshp commented on #2084
@mgrabarz Thanks for reporting this issue. We have added a new variable with correct spelling and maintained the older one for backward compact. The fix is pending deployment.

[2019-05-30 17:45] eanders-MS commented on #1421
Oh nice! That should do the trick. Thanks.

[2019-05-31 14:14] jamers99 commented on #1043
Just ran into this with a fresh install of VS 2019 with Xamarin and more.  I'm getting this error:

Here are my capabilities:

Capability name | Capability value
-- | --
Agent.ComputerName | FARMERPICKLES
Agent.HomeDirectory | C:\A\default
Agent.Name | FarmerPickles
Agent.OS | Windows_NT
Agent.OSArchitecture | X64
Agent.OSVersion | 10.0.17763
Agent.Version | 2.150.3
ALLUSERSPROFILE | C:\ProgramDat

[2019-06-02 15:30] rgommers commented on #1270
There's still a reviewer involved. Second guessing humans isn't helpful. Example: on a repo where I'm a maintainer I made an edit to a plan text file. I want to send it via a PR so it's visible to other maintainers that I'm making a change (pushing directly to master is considered bad form). But I don't need to trigger hours of CPU time worth of CI builds. I'm 99.99% sure I'm not breaking anything

[2019-06-03 11:31] kkarakk commented on #1043
Can i get the full path for this? i understood that i need to add it to user capabilities but can't find the full path

[2019-06-03 15:10] juliobbv commented on #2248
Hi @blueelvis,

One thing to keep in mind is that 'Pipeline variables' or 'Variables' (defined at the build/release level), and 'Environment variables' (defined in your Powershell task) are two related, but fundamentally different concepts.

Pipeline variables are exposed to tasks as environment variables after undergoing a name transformation. [This article](https://docs.microsoft.com/en-us/azure

[2019-06-03 15:10] #2248 closed

[2019-06-03 15:15] madhurig commented on #1043
Just adding the capability should with a valid the path /Library/Frameworks/Xamarin.Andriod.framework should get you unblocked. Have you tried it?

[2019-06-03 15:16] juliobbv commented on #2241
Hi @on99, before I close this issue, I wanted to verify if setting the environment variable worked for you.

[2019-06-03 15:17] kkarakk commented on #1043
I got it working with an absolute path so no worries

[2019-06-03 22:16] Brain2000 commented on #783
We are running Agent 2.144.2 on Azure DevOps, but I noticed that in the maintenance logs there is nothing about a git-repack running, and the maintenance tasks run in under a minute. Is there something else we need to do in order to enable this?

[2019-06-03 22:24] TingluoHuang commented on #783
@Brain2000 can you share the maintenance log with me?

[2019-06-03 23:38] Brain2000 commented on #783
Sure:
[code]

[2019-06-04 00:25] TingluoHuang commented on #783
@Brain2000  where is your repo? the agent trying to find those repo base on tracking file under `C:\BuildAgents3\_work\SourceRootMapping` but the folder is not existing under `C:\BuildAgents3\_work\SourceRootMapping`

[2019-06-04 00:30] TingluoHuang commented on #783
@Brain2000 this is the log i have
[code]

[2019-06-04 00:55] TingluoHuang commented on #2277
@ahmad2x4
Why the agent is in the DMZ but not your Azure DevOps Server? the Azure DevOps Server holds all your source code, work item and build artifacts, it should be treated as highly secure assets.

the configuration we saw most customer has is the Azure DevOps server is in DMZ, the agent is not in the DMZ.

the agent was design to better serve that configuration.

[2019-06-04 01:11] TingluoHuang commented on #2267
@WYarde the agent is a dotnet core app, on windows it will use windows cert store to find any ssl ca cert it needed, the agent process itself doesn't use `C:\agent\ca.pem`.

however, since not all the tools using windows cert store for ssl cert resolution, we ask for your ca cert during agent config, so when the agent run your job, it will try its best to prepare the ssl cert for them,
like in thi

[2019-06-04 01:19] Brain2000 commented on #783
Aha, I have two agent pools and found that the second pool does in fact have these log entries. I thought we were building with both pools, but it appears that we are using just the one.

You'll have to forgive me, we just switched our TFS repository over to GIT, and I haven't found information yet on how Azure DevOps stores a git repository, so this is all a learning experience for me. If I have

[2019-06-04 01:23] TingluoHuang commented on #783
every agent will get it's own copy of the repository, we can't share the repo folder since you may have 2 builds that running in the same time and you don't want them fight for same local repo folder, ex one build runs on master, another try to build topic branch.

[2019-06-04 01:38] Brain2000 commented on #783
Good point. Knowing that each agent gets its own copy of the repository is a key piece of information. Thank you.

[2019-06-04 05:17] blueelvis commented on #2248
@juliobbv  -- Thanks for thee explanation! Just curious, is there a reason why transformation is done in 1 place but not the other?

[2019-06-04 05:26] RoopeshNair commented on #2231
We will add it our backlog however it will be a while before we can get to it (~5-6 months). We know this is important for you, currently we are addressing the issues that are affecting broader set of customers. We will continue to monitor this.

As a workaround, you can have a release with scheduled triggers that can periodically clean up the artifact folders on the disk using custom inline scrip

[2019-06-04 08:00] serhit commented on #2231
Thank you for taking this to backlog - I'm sure it will bring benefits to all customers.

"Good things come to those who wait"

[2019-06-04 08:03] #2231 closed

[2019-06-04 08:06] #2084 closed

[2019-06-04 10:14] mohag commented on #838
We use this variable for docker tags, and changing the behaviour of an existing variable will break our use. (e.g run docker tag on releases/*, tag using this variable to get `repo/image:RelA` for things from releases/RelA)

Adding a new variable is fine.

[2019-06-04 12:57] djsowa opened #2285 "Insufficient documentation for Linux"
I'm having issues with agents 2.150.0 running on Centos 7.

Agent is installed successfully, but it fail when trying to update itself.
It will be best if You can provide some guidance about permissions for directories and users running agent as a service ?

I'm using this script to provision agents on VM.

[code]

Update logs:

[code]

[2019-06-04 13:08] TingluoHuang commented on #2285
@djsowa it failing when it trying to overwrite the `config.sh`/`run.sh` under agent root directory, does your agent service account has permission to those file?

[2019-06-04 14:10] djsowa commented on #2285
It should. Service is running as vstsbuildagent user.
Here is output from ls -lais for root agent directory:

[code]

[2019-06-04 14:33] TingluoHuang commented on #2285
@djsowa what about your agent home path? the folder contains the agent, does the service account has permission to that folder?

[2019-06-04 14:52] balchen commented on #1506
Fully support any action on this initiative. Our repo is 9 GB after it's been built and we currently have 22 build definitions running on the same repo. Sharing the repo would be a huge boost, even if each definitions  has a separate build folder.

[2019-06-04 15:06] spashx opened #2286 "Linux agent 2.144.2 config.sh thrown exception: --> Interop+Crypto+OpenSslCryptographicException: error:0B07C065:x509 certificate routines:X509_STORE_add_cert:cert already in hash table"
Agent version and OS:
Agent version 2.144.2
OS: Ubuntu 16.04.1 LTS

OpenSSL version 1.0.2g  1 Mar 2016
Curl version is 7.47.0
dpkg -l | grep libcurl gives:
[code]

Server:
Azure Devops Server 2019.01

**Symptoms: config .sh crash after entering credentials with default auth with error:**

[code]

dotnet core dependencies are up to date (config.sh is not asking for update).

with  CURL_TRACE=1, VST

[2019-06-04 19:51] WYarde commented on #2267
@TingluoHuang I have ran the following 3; all output included ('WORKS' means it successfully passes client cert authentication and asks for my credentials):

1. Setting only http.sslcainfo as you requested (WORKS)
[code]
2. Setting http.sslcainfo and http.sslcert in expected format (WORKS)
[code]
3. Setting http.sslcainfo and http.sslcert as done by azure pipeline agent (FAILS)
[code]

### Output

[2019-06-04 20:01] TingluoHuang commented on #2267
@WYarde if the first one works why you need to configure client cert to the agent?
you didn't point to `C:\agent\clientcert.pem` in your second test case. :)

[2019-06-05 02:27] willgarcia commented on #1207
As spotted by @peterox, removing our Azure DevOps Docker tasks from pipelines seems to solve the problem.

Specific tasks types that require access to secrets may interfere and cause this issue.

[2019-06-05 12:03] 3bdNKocY commented on #1480
@Moke Your recommendation also works for on-prem builds.
My build times dropped from 14m to sub 2m builds.

[2019-06-05 12:50] stofte commented on #1480
A project with many files, who could possibly have imagined that in azure devops? I'm shocked there's still no built in fix, instead we must all juggle zip files and whatnot.

For a few of our larger projects, upping/downing the artifact dominates all other tasks, easily being 50 to 100% extra times for simply copying files (which is nothing to some numbers in this thread, thankfully, we just acce

[2019-06-05 13:27] gregpakes commented on #1480
@stofte

1. Presumably you missed the previous comments saying that new Publish Pipeline Artifact task solves this issue.
2. This issue really has nothing to do with Azure being slow.  It’s about the mechanics of the artifact upload. It would be slow on any provider.

[2019-06-05 13:33] stofte commented on #1480
@gregpakes I don't see those comments, could you highlight?

[2019-06-05 14:34] maratsarbasov commented on #838
Agree with guys above. The current behaviour is incorrect. It is bug.

[2019-06-05 14:39] mdmoura opened #2287 "Azure WebApp Deploy - The service connection name 00000000-0000-0000-0000-000000000000 is ambiguous."
I am trying to deploy an Asp.Net Core Application to Azure WebApp using Azure Devops.

I have the following YAML file:

[code]

I have other stages before this one for Build, Test, etc ...

When I remove the Deploy stage all other stages run without any error.

But when I add this last stage and try to deploy it I get the error:

    The service connection name 00000000-0000-0000-0000-000000000000

[2019-06-05 14:48] #2287 closed

[2019-06-05 17:33] aviatrix opened #2288 "Incorrect PATH variable"
## Agent Version and Platform
2.150.3 - Linux - Debian 9.7

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
When executing bash tasks the agent doesn't pickup the proper user path.
Path returned from doing `echo $PATH` in a bash task : `/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin`

**Expected** (when doing the same from a shell as the same user as the agent)

[2019-06-05 17:36] TingluoHuang commented on #2288
hope this help. :)
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops#service-
update-environment-variables

[2019-06-05 18:47] RichardBegg commented on #1997
I think this would a useful enhancement.  Being able to safely shutdown an agent without interrupting a build is crucial for server administration.

[2019-06-06 06:20] geepy commented on #2221
Together with @TingluoHuang we found the problem's root:
When upgrading from TFS 2017.3 (onprem) to TFS 2017.3.1 on a two-machine-app tier configuration, the setup does not work correctly.
What happens is:

- first app tier runs setup, detects that the configuration database is old and runs migration scripts. One of those is to register the app server as a valid OAuth2 token generator.
- second ap

[2019-06-06 06:20] #2221 closed

[2019-06-06 07:31] rafael-aero opened #2290 "Cannot edit YAML files on Azure Devops interface"
I'm hitting an issue similar to #2016, in which I cannot edit the YAML file being used by the build on Azure Devops - this happens to all the build pipelines I currently have on Azure Devops

![image](https://user-images.githubusercontent.com/8791811/59014688-822ed280-883d-11e9-93a5-359320586de5.png)

Already tried creating a new Personal Access Token as recommended in #2016, and change the settin

[2019-06-06 07:32] rafael-aero commented on #2290
Not sure if useful, but all builds are working without issues - i.e. they queue and run fine, it's just the edit interface that is broken

[2019-06-06 08:05] aviatrix commented on #2288
Ah... yes it does... not sure how i missed this.
However wouldn't it be less confusing if this was done automatically after service restart? or not store those variables on disk and instead using the current runtime values ?

[2019-06-06 12:08] RonakThakkar opened #2291 "dotnet core system capabilities not detected in self hosted agents"
## Agent Version and Platform
Version of your agent? 2.150.3

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
visualstudio.com

## What's not working?
I have created a new VM in Azure to be used as a self-hosted agent which has .NET Core installed. I run commands to register this agent as a self-hosted agent in Azure Devops project. Everything works fine and the agen

[2019-06-06 15:12] WYarde commented on #2267
@TingluoHuang In these scenario's I'm calling git directly instead of via the pipeline agent, so 'WORKS' and 'FAILS' refers only to Git behavior.

The complexity is that Git is used by the agent, so the sslclientcert parameter of config.cmd is passed on to git via the http.clientcert parameter. The problem is that the format expected by the agent and Git (on windows!) are incompatible:
- The agent

[2019-06-06 21:06] juliobbv commented on #2272
Hi @edgariscoding,

A new Windows image containing version 2.7.2 of `git lfs` will be deployed, expected to begin this week. The Checkout Job should eventually start working once the such image gets deployed to CiraConnect.

[2019-06-07 15:00] DJRobertson commented on #2235
@TingluoHuang
Hi Ting, had a chance to look at this yet?

[2019-06-08 01:16] TingluoHuang commented on #2290
The error means you are OAuth with GitHub, but the OAuth token might not have permission to that repository. you might want to report at https://developercommunity.visualstudio.com/spaces/8/index.html since this is not scoped to the pipeline agent

[2019-06-09 08:33] gigi81 commented on #1536
I have the exact same identical issue but I have no trace of libssl 1.0.0 on my system so the workaround doesn't work for me.
Any idea of what could be the problem or how I can diagnose it?

[root:/azp] # find / -name libssl*
/var/lib/dpkg/info/libssl1.1:amd64.postrm
/var/lib/dpkg/info/libssl1.0.2:amd64.postinst
/var/lib/dpkg/info/libssl1.0.2:amd64.templates
/var/lib/dpkg/info/libssl1.0.2:amd64.md

[2019-06-09 10:39] Scott-Emberson opened #2292 "Self hosted agent unable to connect to Package source"
## Agent Version and Platform
v2.150.3

OS of the machine running the agent?
Windows Server 2016

## Azure DevOps Type and Version
On-premises TFS 2017 Update 3

## What's not working?
The hosted agent is unable to connect to TFS package source when the agent has been connected to TFS via PAT over windows credentials.

When trying to connect I am presented with the following error. "Please provide

[2019-06-09 16:46] gigi81 opened #2293 "Debian 9 (stretch) segmentation fault"
## Have you tried troubleshooting?
Yes.
This is very similar if not identical to #1536, however, the work around suggested there did not work for me (there is no libssl 1.0.0 installed on the system)

## Agent Version and Platform
2.150.3
Debian 9 (Stretch) amd64

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)
https://luigigrilli.visualstudio.com

## What's not working?

[2019-06-10 00:19] TingluoHuang commented on #2293
try `bin/installdependencies.sh` from agent root directory

[2019-06-10 06:59] gigi81 commented on #2293
I tried to run the installdependencies.sh script but didn't make any difference

[2019-06-10 07:52] gigi81 commented on #2293
This is the output of that script if it is any help:

[code]

[2019-06-10 14:23] ahlinist commented on #838
I've got the same frustrating problem today

[2019-06-10 15:06] pombredanne commented on #2043
@njsmith after some trial an errors, I got a sudo installed in some containers this way:
https://dev.azure.com/nexB/license-expression/_build/results?buildId=79
https://github.com/nexB/license-expression/blob/3fe3f9359c34b6e6e31e6b3454e450ca8e9e9d6e/azure-pipelines.yml#L80

This is incredibly hackish as it involves running first a command line docker as root that runs docker in docker to install s

[2019-06-10 20:40] Scott-Emberson commented on #2292
Was able to fix this in the end by setting the credentials in the AppData NuGet config by using the NuGet Add

[2019-06-10 20:40] #2292 closed

[2019-06-11 14:43] pllim commented on #858
Re: https://github.com/Microsoft/azure-pipelines-agent/issues/858#issuecomment-475768046

@davidstaheli , can you please clarify because I have a commit message with `[skip ci]` appended at the end and Azure ran anyway. Thanks!

xref spacetelescope/synphot_refactor#194

[2019-06-11 14:45] madhurig commented on #858
@pllim - PR builds are always run, `[skip ci]` only skips CI builds.

[2019-06-11 15:04] pllim commented on #858
Thanks for the quick reply, @madhurig . That is not how Travis CI works though (from which I am transitioning). So how to I ask Azure not to run for a particular commit pushed to an unmerged PR?

[2019-06-11 18:16] pllim commented on #858
In addition, I noticed that when `[skip ci]` is in any of the commit messages of a pull request, when that PR is merged, Azure skips from running in `master`. I guess the current Azure behavior is the opposite of what is desired...

[2019-06-12 19:15] juliobbv commented on #2241
Closing this issue.

[2019-06-12 19:15] #2241 closed

[2019-06-12 19:57] juliobbv commented on #2291
@RonakThakkar, the agent doesn't register .NET Core as a system capability.

We're in an ongoing process to deprecate the capability concept, so it's now up to the pipeline scripts and code to keep track of where the .NET core SDK and runtime directories are located on disk.

You can use either run the `dotnet --list-sdks` and `dotnet --list-runtimes` commands to find out where they are located, o

[2019-06-12 20:33] juliobbv commented on #2293
@gigi81, from your comment in the other issue, it looks like you have both versions of libssl 1.0.2 and 1.1 installed on your machine. .NET Core's networking stack might accidentally be loading both, causing a similar version mismatch issue. Can you try out removing libssl 1.1 and configure the agent again?

[2019-06-13 01:03] MattGal opened #2298 "EACCESS seen on builds from certain types of PRs"
@omeshp FYI.

## Agent Version and Platform
Version of your agent? 2.152.1

OS of the machine running the agent? OSX & Linux

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? **dnceng**

## What's not working?
Random EACCESS failures in various places when the build comes from PRs:

Successful builds:
Direct master:
https://dev.azure.com/dnceng/publ

[2019-06-13 01:38] TingluoHuang commented on #2298
@MattGal why this is an agent issue? but succeed build and failed build are using the same version agent. :)

[2019-06-13 05:34] echesakovMSFT commented on #2298
@TingluoHuang Can this be an issue with DownloadBuildArtifacts task?

The [last succeeded build](https://dev.azure.com/dnceng/public/_build/results?buildId=222302) uses version **0.151.0**
The [first failing build](https://dev.azure.com/dnceng/public/_build/results?buildId=222368) uses version **0.152.2**

[2019-06-13 12:34] TingluoHuang commented on #2298
@echesakovMSFT it is highly possible since the version changed between 2 builds. :)

[2019-06-13 14:37] ndunn990 commented on #2286
We're experiencing something similar. The only recent change was that we installed a new certificate (update) on the server so it could be trusted for another tool. @spashx did you make any similar changes?

No solution or workaround yet, but I'll update if we find anything.

[2019-06-13 14:46] spashx commented on #2286
@ndunn990 : no we didn't update our cert files onto the server. Basically, we had a working 2.111.1 agent, and wanted to upgrade to  2.144.2.
I assume the issue may be in the dependencies to openssl/libopenssl the 2.144.2 agent uses in it's dotnet core version compared to the 2.111.1 agent.
I did not investigate more so far, the 2.111.1  still working against our Devops 2019 Server.

[2019-06-13 16:49] MattGal commented on #2298
@TingluoHuang I wasn't sure whether to blame Task / Agent, but it seems it got fixed overnight... so I'd bet someone in VSTS knows the root cause.

[2019-06-13 17:19] DanDude0 commented on #1043
I also had this issue when upgrading our build server from VS2017 to VS2019

[2019-06-13 17:53] TingluoHuang commented on #2298
https://github.com/microsoft/azure-pipelines-tasks/pull/10617

[2019-06-13 17:53] #2298 closed

[2019-06-13 21:31] pjcollins opened #2301 "Support recursive submodule clean and reset"
## Agent Version and Platform
Version of your agent? **Current agent version: '2.153.1'**
OS of the machine running the agent? **OSX and Windows**

## Azure DevOps Type and Version
dev.azure.com - DevDiv organization

## What's not working?
The following yaml snippet will only clean submodules of the repository which is checked out, not submodules within those submodules:

[code]

It may be worth

[2019-06-14 06:32] WYarde commented on #2267
@TingluoHuang Any thoughts on the above? Thanks!

[2019-06-14 15:29] TingluoHuang commented on #2301
@pjcollins looks good to me, you want to rais a PR? :D

[2019-06-14 18:12] pjcollins commented on #2301
@TingluoHuang Sure, I've opemned #2302 with the proposed diff.

[2019-06-15 05:23] DongXue-Trimble commented on #1007
I got the same problem. I was about to trying the link provided by TingluoHuang, but the link is invalid. Could someone help please?

[2019-06-15 11:58] RonakThakkar opened #2304 "installdependencies.sh - WARNING: apt does not have a stable CLI interface. Use with caution in scripts."
## Agent Version and Platform
Version of your agent? 2.153.1

OS of the machine running the agent?
Linux - Canonical - UbuntuServer - 16.04-LTS

## Azure DevOps Type and Version
dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/{organization}

## What's not working?
I have created a Linux VM.
I have logged into Linux VM and downloaded https://vstsagentpackage.a

[2019-06-17 11:42] markusdresch commented on #1307
any news on this? the template approach does not work, it still does not resolve variables.

variable-docker-login.yml:
[code]

in the build pipeline i add a variable group, then
[code]

the pipeline fails immediately with:

same behavior inline without templates.

[2019-06-17 12:58] 4c74356b41 commented on #1307
did you auth the connection? also, you need to pass in actual connection name. it works for about a year already for me on god knows how many different setups @markusdresch

[2019-06-17 13:02] jmaragon opened #2305 "System.IO.IOException: The file exists"
The publish task is failing with this error

##[section]Starting: Publish Artifact: Artifacts
==============================================================================
Task         : Publish Build Artifacts
Description  : Publish build artifacts to Azure Pipelines/TFS or a file share
Version      : 1.142.2
Author       : Microsoft Corporation
Help         : [More Information](https://go.micro

[2019-06-17 14:11] #2301 closed

[2019-06-17 14:20] moerketh opened #2306 "The system variable PATH is not parsed by the agent if the length is >= 1024"
## Agent Version and Platform
Agent.OS | Windows_NT
Agent.OSArchitecture | X64
Agent.OSVersion | 6.3.9600
Agent.Version | 2.144.2

OS of the machine running the agent?
Windows 2012R2 Standard

## Azure DevOps Type and Version
On-premises Azure DevOps Server 2019

## What's not working?
The system variable PATH is not parsed by the agent if the length is >= 1024
The PATH variable may therefor not b

[2019-06-17 14:47] markusdresch commented on #1307
the connection is authenticated, but the variable is not expanded. i'm trying to use the same repository in different projects and push an image to different container registries. i expected that all i'd have to do is use a different set of variables, but seems like that's not possible.

[2019-06-17 15:53] j0tt opened #2307 "Checkout/clean process can leave stale files on the file system"
## Agent Version and Platform
Version: 2.153.2
OS: Windows

## What's not working?
In the event of a submodule moving, it is possible for the clean event to not clear out the old submodule's directory.

Our example was a header only submodule, `A`, was placed in `external\A`. And the person who committed it incorrectly added `external\` to the include paths so they could `#include "A\stuff.h"`.

W

[2019-06-17 18:02] #2306 closed

[2019-06-17 19:25] bryanmacfarlane commented on #1307
He's referring to resource authorization, not authentication.

That error is coming from the service and not an agent issue.

[2019-06-18 03:52] on99 commented on #2241
It works for me, thank you!

[2019-06-18 04:49] chshrikh commented on #1714
We are updating the description to make it clear that the extension is for Deployment Groups only

[2019-06-18 04:49] #1714 closed

[2019-06-18 05:58] markusdresch commented on #1307
that error is coming from the service because the variable is not expanded, so the agent literally tries to connect to $(AZURE_SUBSCRIPTION), not to the service endpoint it would resolve to.

[2019-06-18 09:07] markusdresch commented on #1307
i worked around the issue by removing the Docker@1 task for logging in, using scripted docker login with credentials from key vault instead.

[2019-06-18 14:18] snap608 commented on #2261
This also now affect us and we are only using hosted agents. Most noticeable on macOS.

[2019-06-18 17:14] juliobbv commented on #2304
I was reading up on what the this message means.

https://askubuntu.com/questions/990823/apt-gives-unstable-cli-interface-warning

Apparently, apt is a 'porcelain' command (vs apt-get which is a 'plumbing' command), where the output is not meant to be parse-able by scripts, and the format may be subject to change with newer versions. In the case of  `installdependencies.sh`, the script is only rel

[2019-06-18 18:09] juliobbv commented on #2307
Thanks @j0tt for reporting this issue.

I was reading up on [`git submodule` documentation](https://git-scm.com/docs/git-submodule#Documentation/git-submodule.txt-deinit-f--force--all--ltpathgt82308203). The main problem with `git submodule deinit` is that the command removes the entire submodule's work tree, which is something not very desirable for i.e. the `Clean Sources` strategy (which I beli

[2019-06-18 18:51] juliobbv commented on #2305
@jmaragon, looks like your %TEMP% folder either may contain more than 65,535 files, or similarly, it has so many files that `GetTempFileName()` cannot generate a temporary file name.

https://docs.microsoft.com/en-us/dotnet/api/system.io.path.gettempfilename?view=netframework-4.8

My recommendation would be to clean your %TEMP% folder and see if that fixes the issue. Let us know if this happens in

[2019-06-18 19:13] j0tt commented on #2307
Yeah, the negatives of deinit occurred to me later in the day.

that gist looks good, but thinking further (and being nudged by the suggestion on the gist) running `git submodule sync` first _should_ update the config to point to the new module path, thus letting the top level `git clean -ffdx` clear out the old. Right?

[2019-06-19 04:40] jmaragon commented on #2305
@juliobbv , you are right, cleaning the %TEMP% folder has solved this issue (and collaterally, some others), but the tricky part was finding the **right**  %TEMP% folder, which is _not the one provided by this environment variable for your logged on user, but the one you get looking at the Build Agent Capabilities_
which, in my case was something similar to this..
![image](https://user-images.gith

[2019-06-19 04:40] #2305 closed

[2019-06-19 08:10] ethomson opened #2311 "`--once` with agent updates"
It would be nice if `--runonce` didn't consider an agent update as a "run", but instead only counted actual jobs run by the server.

Consider that you may be running builds within a temporary environment that exists only for the duration of a job run.  For example: running within a docker container inside Kubernetes.

If the docker container was built with azure-pipelines-agent version *[x]*, and

[2019-06-19 08:12] ethomson commented on #2311
Also note that for end-users, it's rather confusing that [some releases](https://github.com/microsoft/azure-pipelines-agent/releases) are marked as "pre-release", although you'll be automatically upgraded to them.  I downloaded the latest "actual" release from that page and was promptly auto-upgraded as soon as it connected to Azure Pipelines.  I may not understand the distinction between pre-rele

[2019-06-19 08:38] ethomson commented on #2311
Sorry, I missed this on stderr the first time.  I noticed in the `run.sh` that it would try to restart itself, but it's failing:

[code]

[2019-06-19 09:19] ethomson commented on #2311
Indeed, raising my delay to 15 seconds fixes this issue for me.  Alas.

[2019-06-19 15:31] #2311 closed

[2019-06-20 09:57] Mertsch opened #2315 "All maintenance log times should be in the same format (UTC)"
## Agent Version and Platform
2.153.2
OS of the machine running the agent? Windows
## Azure DevOps Type and Version
dev.azure.com

## What's not working?
All maintenance log times should be in the same format (UTC)

✔ `2019-06-19T10:31:59.7415593Z `
✔ `Current UTC: 2019-06-19T10:32:01.0262658Z`
❌ `The last time build directory '' been used is: 06/19/2019 03:03:26 +02:00`
❌ `The last time release d

[2019-06-20 10:32] DJRobertson commented on #2235
@TingluoHuang
Hi Ting, had a chance to look at this yet?
Or have you abandoned it?

[2019-06-20 12:31] moerketh commented on #2306
It appears a "PATH" variable was set in a variable group, during the build this is translated to an environment variable which overrides the system variable. Possibly overriding a system variable could have raised a warning.

The agent logging the "PATH" as skipped appears to have been no more than a distraction.

[2019-06-20 14:04] solstarz opened #2316 "Agent.PluginHost.exe is not using the .proxy config."
We are using the on premise build agent version 2.153.2.
The exe file Agent.PluginHost.exe is the only process that is not using the configuration that is set in .proxy file.

It sends traffic directly to Microsoft ip addresses.
![image](https://user-images.githubusercontent.com/13674561/59855340-19834200-9375-11e9-8fb3-b0b4379ed8e8.png)

Help on fixing this.

[2019-06-20 18:49] TingluoHuang commented on #2316
@solstarz there are several different things that run on Agent.PluginHost.exe, I might need your help to narrow this down.

can you share your build log and worker log? So I can figure out what runs in your build.

[2019-06-20 18:49] #1399 closed

[2019-06-20 19:12] #1671 closed

[2019-06-20 19:22] TingluoHuang commented on #2134
please open a ticket at the developer community since this is not scoped to the pipeline agent itself.
https://developercommunity.visualstudio.com/spaces/21/index.html

[2019-06-20 19:22] #2134 closed

[2019-06-20 19:27] TingluoHuang commented on #2154
This is an issue with a certain version of Windows 2019, I was able to repro it a while back.
Looks like they already fixed the problem, since I tried a new Azure VM with latest Windows Server 2019 image and the problem goes away.

I am going to close this issue for now since it does not look like an agent issue

[2019-06-20 19:27] #2154 closed

[2019-06-20 19:32] TingluoHuang commented on #2175
closed as tracked in the developer community.

[2019-06-20 19:32] #2175 closed

[2019-06-20 19:35] TingluoHuang commented on #2202
close as the issue resolved offline, there was an issue on the service side that causing this issue. The agent behaves correctly.

[2019-06-20 19:35] #2202 closed

[2019-06-20 19:40] TingluoHuang commented on #2209
Close this issue since it's not really an agent issue, please log an issue to https://github.com/Microsoft/azure-pipelines-yaml if need more help.

[2019-06-20 19:40] #2209 closed

[2019-06-20 20:25] TingluoHuang commented on #2242
this might be a task issue and not the agent since the agent is  waiting for node.exe to exit not curl

[2019-06-20 22:24] TingluoHuang commented on #2271
Closing since this issue is not scoped to the agent itself and you already logged an issue in the azure-pipelines-yaml repository.

[2019-06-20 22:24] #2271 closed

[2019-06-20 22:24] TingluoHuang commented on #2271
the agent doesn't deal with yaml file at all, the server pulls all templates and convert to a JSON based job message for the agent.

[2019-06-20 22:26] TingluoHuang commented on #2276
Closing since it's not an issue with the agent.

[2019-06-20 22:26] #2276 closed

[2019-06-20 22:26] TingluoHuang commented on #2277
Closing for now, please reopen if need any help.

[2019-06-20 22:26] #2277 closed

[2019-06-20 22:27] TingluoHuang commented on #2290
Closing since it's not an issue about the agent.

[2019-06-20 22:27] #2290 closed

[2019-06-20 22:30] TingluoHuang commented on #2304
Closing for now, please reopen if needed.

[2019-06-20 22:30] #2304 closed

[2019-06-21 02:03] TingluoHuang commented on #2235
Sorry, I was stuck on all different kind of busy stuff.
Here is what we already know and tested:
- You are able to download the task.zip from a browser by hitting URL http://tfs01:8080/tfs/_apis/distributedtask/tasks/0f077e3a-af59-496d-81bc-ad971b7464e0/1.0.3
- Base on the log from 2.131.0 agent, the agent is trying to hit http://tfs01:8080/tfs/_apis/distributedtask/tasks/0f077e3a-af59-496d-81bc-a

[2019-06-21 02:43] TingluoHuang commented on #2272
Closing this issue since it's not agent problem, please reopen if needed. :)

[2019-06-21 02:43] #2272 closed

[2019-06-21 02:48] TingluoHuang commented on #2267
Previously you mentened:
[code]

So my question is when you only provide `http.sslcainfo` everything already working, why you need to add `http.clientcert`?

[2019-06-21 06:48] solstarz commented on #2316
@TingluoHuang yes i can share that info with you.

This is build log:

2019-06-20T13:20:57.6879155Z ==============================================================================
2019-06-20T13:20:57.6879230Z Task         : Download Pipeline Artifact
2019-06-20T13:20:57.6879277Z Description  : Download Pipeline Artifact
2019-06-20T13:20:57.6879317Z Version      : 1.1.3
2019-06-20T13:20:57.6879356Z

[2019-06-21 06:59] WYarde commented on #2267
'WORKS' refered just go the git behaviour.

Without specifying `--sslclientcert`, the pipeline agent will fail to connect to TFS, so it will never get to the point where it would call git without `http.clientcert`.

However with `--sslclientcert clientcert.pem `, the pipeline agent connects successfully to TFS, but then git fails because of `http.clientcert` being in the wrong format.

[2019-06-21 13:02] TingluoHuang commented on #2316
@solstarz can you try the 2.* version of that task? I did try that last night with Fiddler and I think that version behaves correct, its traffic will go through the proxy.

[2019-06-21 13:08] TingluoHuang commented on #2267
when the agent connects to TFS, it doesn't use the `clientcert.pem`, it uses the `clientcert-archive.pfx` since the agent is a dotnet app and dotnet want `pfx`, not `pem`.
the `clientcert.pem` is primarily for all different kind of tools that only accept `pem` format cert.
BTW, how did you generate your `clientcert.pem`?

[2019-06-21 13:12] Shortcheese commented on #2316
@TingluoHuang Hi, @solstarz is offline at the moment, so I try to answer:
In the release pipeline we don't use a task, but binds an artificat to a pipeline and let him download it.
So we can't change a version of it. (Should the agent check automaticly for new versions of tasks?)
How can we trigger the agent using the new version
We also use build pipelines where we use the "Download pipeline arti

[2019-06-21 13:22] TingluoHuang commented on #2316
@jahsu-MSFT @owenhuynMSFT for download pipeline artifact problem

Does `DedupManifestArtifactClient` following proxy?

[2019-06-21 15:11] fourpastmidnight commented on #838
I too, a few days ago was reading about the Team Foundation Build predefined variables and came across the `Build.SourceBranchName` variable and immediately realized it's severe shortcomings. I came here today quite by accident looking for information on something else entirely.

In any event, I was also looking at automating my version numbers and during my research I came across the following [h

[2019-06-21 22:42] fadnavistanmay commented on #2316
@TingluoHuang Thanks for routing this.
@Shortcheese @solstarz - Do you have system proxy setup on the build agent? (Network and Sharing Center -> Internet Options -> Connections -> LAN settings -> Proxy server). We had a similar issue before, and the system proxy did the trick.
For the release question - we would soon be releasing V2 on RM.

[2019-06-24 01:32] tjhowse commented on #2286
I am also hitting this issue attempting to configure the Linux build agent in Debian WSL. I was not able to fix the problem by falling back to 2.111.1.

[2019-06-24 10:25] eXigentCoder commented on #1981
This auto-uppercase is causing a big headache for us, as described below.

To help keep our applications config manageable, rather than just referring to `process.env.<variable-name>` we have a base config object which may or may not have some typing info based on a TS definition. This config object is built up using a combination of files checked in to the repo, arguments passed in to the running

[2019-06-24 12:51] Shortcheese commented on #2316
HI @fadnavistanmay We have tried it, but didn't work. Even with system wide proxy settings, we get the problem.

[2019-06-24 13:00] ndunn990 commented on #2286
So, I wound up having to uninstall and reinstall the entire certificate store. There's a chance my issue was different since mine occurred around the time I installed new ca certificates on the server. However, it might be worth a try for those unable to find another solution.

[2019-06-24 14:30] DJRobertson commented on #2235
Hi @TingluoHuang
1. Yes I was Authenticating with NTLM from my MacBook Pro.
2. I tried the curl command and was getting Unauthorised (See below).
3. This is the only Mac we have in this building.

< HTTP/1.1 401 Unauthorized
< Cache-Control: private
< Content-Type: text/html
< Server: Microsoft-IIS/8.0
< X-TFS-ProcessId: 63327ad5-a9f5-4abf-a498-4cc069d17977
< X-FRAME-OPTIONS: SAMEORIGIN
< Access-C

[2019-06-24 22:44] tjhowse commented on #2286
Thanks for the suggestion! I removed ca-certificates and reinstalled it but unfortunately I'm still getting the same error when configuring.

[2019-06-25 09:19] PaulVrugt commented on #1480
Having the same issue here. I don't think it should matter how many files are part of artifacts, uploading should be fast. We now need to add a workaround by compressing it first, which shouldn't be necessary

[2019-06-25 09:20] gregpakes commented on #1480
@PaulVrugt Have you tried the new Pipeline Artifact Publish task as discussed above?

[2019-06-25 13:22] PaulVrugt commented on #1480
@gregpakes
Yes I have, and it does speed up the process, but I believe it should not be necessary to do this. This should be handled correctly by azure devops itself. Now we are forced to create a workaround in each pipeline.

[2019-06-25 17:38] fadnavistanmay commented on #2316
Weird. Hi @Shortcheese , can you try disabling http proxy, enabling just the system proxy, running the release with system.debug = true, and share the logs please. Thanks.

[2019-06-25 20:36] gregpakes commented on #1480
@PaulVrugt

How is it a workaround? This new task replaces the old one.  I think this task does exactly what you’re saying. Azure Devops have fixed the issue by creating a new publish task.

Am I missing something?

[2019-06-25 21:06] Moke commented on #1480
@PaulVrugt I am sorry you feel computer's should function like magic. Unfortunately they do not.

[2019-06-26 00:37] gregpakes commented on #1480
I am going to close this issue as I feel the new `Publish Pipeline Artifact` task resolves this issue.

**Summary**

The `Publish Build Artifact` has been replaced with the 'Publish Pipeline Artifact` which does not exhibit this issue.

[code]

[2019-06-26 00:37] #1480 closed

[2019-06-26 03:18] derrix060 opened #2321 "Unable to find attachment on `GetAttachmentRequestModel` when running on Linux and attachment is windows-based path"
## Agent Version and Platform
2.150.3

## OS of the machine running the agent? OSX/Windows/Linux/...
Linux (Ubuntu)

## Azure DevOps Type and Version
dev.azure.com

## What is your organization name?
https://dev.azure.com/henryscheinone

## What's not working?
Unable to publish artefacts from a .trx because the job ran on Windows Machine and my agent runs on a Linux machine.

Logs:
[code]

It shou

[2019-06-26 03:42] TingluoHuang commented on #2321
i think the root issue should be which code generate the full path that contains the wrong slash

`/azp/agent/_work/r2/a/TestResults/vagrant_TAU-8368-NZ-1_2019-06-26_14_16_18/In/4bf1fae2-8c27-45a9-b4b6-bd3703ffcaec/TAU-8368-NZ-1\error_NZPayorsInsuranceTestSuite_NZAddPayor_14-16-07.jpeg`

@nigurr

[2019-06-26 03:46] derrix060 commented on #2321
That's part of my .trx file:

[code]

As you can see, it uses the windows path, because the test was executed on a windows machine.

[2019-06-26 03:50] TingluoHuang commented on #2321
sorry, I am a little bit confused, if you test is run on a windows machine, why the test result is upload by a Linux agent? I would expect you have a windows agent that runs the test and upload the test result file.

[2019-06-26 03:58] derrix060 commented on #2321
So I have a Linux machine to be only the agent, the one that communicates to the Azure and send the commands.  My windows machine is a VM with a bare minimum configuration to run some UI tests.

I can't execute an agent on that windows VM because it gets reverted to a snapshot very often.

[2019-06-26 05:48] PaulVrugt commented on #1480
@gregpakes
@moke

I completely misread the last part of this thread. I thought you were talking about the compress/decompress tasks. If the new publish task fixes this, then I agree that fixes the issue. I'll try it later today.

Sorry for the confusion

[2019-06-26 11:40] darrenferguson commented on #145
I'm getting very confused....

In my build pipeline I have a keyvault task:

- task: AzureKeyVault@1
  inputs:
    azureSubscription: '**** redacted ******'
    KeyVaultName: ''**** redacted ******'
    SecretsFilter: 'MoriyamaTest'

And in the debug output of this task I see:

##[debug]set MoriyamaTest=********
##[debug]Processed: ##vso[task.setvariable variable=MoriyamaTest;issecret=true;]***
##

[2019-06-26 11:58] lmicheltorena commented on #145
Remember that when you pass the secret, you must do it outside of yaml. also you must have joined in the variable options with your keyvault.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Darren Ferguson <notifications@github.com>
Sent: Wednesday, June 26, 2019 8:41 AM
To: microsoft/azure-pipelines-agent
Cc: Leandro Oscar Micheltorena; Comment
Subject: Re: [mic

[2019-06-26 12:00] darrenferguson commented on #145
Thanks, I'm not sure what you mean by "must have joined in the variable options with your keyvault"?

[2019-06-26 12:13] lmicheltorena commented on #145
You must link the key value in the pipeline library options.

https://docs.microsoft.com/en-us/azure/devops/pipelines/library/_img/save-variable-group.png?view=azure-devops

anything that can help you, tell me

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Darren Ferguson <notifications@github.com>
Sent: Wednesday, June 26, 2019 9:00:32 AM
To: microsoft/azure-pi

[2019-06-26 12:27] darrenferguson commented on #145
![image](https://user-images.githubusercontent.com/2164132/60179199-0bba3a80-9815-11e9-98bc-b1bc1eddb56c.png)

I have a variable group with my KeyVault secret linked - but the value is still passed as ***

I'm also not sure what you mean by " you must do it outside of yaml".

So I have  -

- variable group called Devops

![image](https://user-images.githubusercontent.com/2164132/60179439-93a04480-

[2019-06-26 12:52] lmicheltorena commented on #145
Darren,

First: the value out is valid because is a secret and should not show the value of the variable by that sample the asterisks.

Second: I had then create one file without to the yaml with the echo to (Variable) ej:

[cid:image002.png@01D52C04.54522AA0]

And then in the yaml pipeline call the variable as $ (USERNAME). The USERNAME variable it has to be the same then is defined into the Libr

[2019-06-26 13:13] darrenferguson commented on #145
I'm afraid your screenshot is missing :(

I think the screenshot would help me to understand this!

Are you able to post it.

Thanks for the help.

[2019-06-26 13:25] lmicheltorena commented on #145
Darren,

The screenshot it was attach.

I had create a file (example: test.sh) outside the yaml than contain the echo:

[cid:image001.png@01D52C09.706DCEB0]

From: Darren Ferguson [mailto:notifications@github.com]
Sent: miércoles, 26 de junio de 2019 10:14
To: microsoft/azure-pipelines-agent <azure-pipelines-agent@noreply.github.com>
Cc: Leandro Oscar Micheltorena <lmicheltorena@baufest.com>; Comm

[2019-06-26 13:44] darrenferguson commented on #145
Hmm, I still can't see the image here....

When you say "Outside the YAML"? How do you mean? How can i call a build task outside of the YAML defnition?

Thanks!

[2019-06-26 15:36] darrenferguson commented on #145
Thanks, in the end i have it working, Devops is masking the value in the logs using ***

So all is good, thanks for the help!

[2019-06-26 19:36] polamarasetti opened #2325 "Not able to run configuration of vsts-agent-linux-x64-2.144.2.tar.gz in ubuntu 16.04"
## Have you tried troubleshooting?
[Troubleshooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)

## Agent Version and Platform
Version of your agent? 2.144.0/2.144.1/...

OS of the machine running the agent? OSX/Windows/Linux/...

## Azure DevOps Type and Version

## What's not working?
Configuration is failing with SSL error.

## Agent and Worker's Diagnostic Logs
[2019-06

[2019-06-27 07:48] JKennedy24 opened #2327 "Build Fails could not find capabilities"
I am running a Xamarin.Android automated build on a Locally hosted agent.

This has been working fine for over a year but recently after updating began to break with the following error:

My agent capabilities are:

Now from what I can see - all the capabilities exist (they aren't the same case (could be the bug?)
and the agent.Version is higher on my machine to what it is looking for. Why it's lo

[2019-06-27 08:50] dschuermans opened #2328 "Question: Sharing _tool folder amongst agents"
## Agent Version and Platform
2.136.1

OS of the machine running the agent? OSX/Windows/Linux/...
Windows Server 2016

## Azure DevOps Type and Version
on-premises TFS/Azure DevOps Server?
Version 16.131.28226.3

## Question
So we got our own little on-premise VM for our team, that we use as a build server.
It's all good and dandy, wasn't it for the fact that IT had to frequently increase the disk

[2019-06-27 12:36] Theelepel commented on #145
Hi,

I'm having a similar issue. I'm trying to pass a KeyVault secret to a PythonScriptStep. However within this step the secret becomes None. I have done the same steps as Darren, but I can't open the screenshots of Imicheltorena to see what must be done.
Any help is appreciated

[2019-06-27 13:17] darrenferguson commented on #145
OK, so in the end it is working for me....

![image](https://user-images.githubusercontent.com/2164132/60269310-1f81a180-98e6-11e9-93a6-c455e7e8cb80.png)

I was getting really confused, because when you output the variable to the console it is masked as ***

If you take a substring of the variable and output that you will see  the value.

devops is searching for all secret variables in output and

[2019-06-27 13:18] fraserdarwent commented on #1307
Issue still exists

Input
[code]
Expected:
Task `AzureResourceGroupDeployment@2` uses service connection name `My Service Connection`

Actual:
Task `AzureResourceGroupDeployment@2` fails as variable is not expanded
[code]

[2019-06-28 02:50] rparsonsbb opened #2329 "Unable to locate executable file: 'bash' and others missing that are in PATH (packer, ansible, any.)"
## Have you tried troubleshooting?
[Troubleshooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting)
**Yup.**

## Agent Version and Platform
Version of your agent?
**2.153.2**

OS of the machine running the agent? OSX/Windows/Linux/...
**Ubuntu 16.04**

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server?
**dev.azure.

[2019-06-28 03:53] rparsonsbb commented on #2329
:/ someone added a path variable that overwrote the _actual_ path, and I didn't see it

[2019-06-28 03:53] #2329 closed

[2019-06-28 12:13] djsowa commented on #2285
@TingluoHuang It seems to be fine too.
`ls -lais /var/cache/vstsbuildagent`

[code]

[2019-06-28 16:09] JKennedy24 commented on #2327
decided to work after a reboot

[2019-06-28 16:09] #2327 closed

[2019-06-28 20:22] pjcollins opened #2330 "Pull request build sequential stage and stage re-run checkout behaviors are not constant"
The pull request "revision" that is checked out can "drift" in between stages in a multi-stage pipeline, or when a partial rebuild is triggered. If the target branch of a pull request (e.g. `master`) changes in between stages, the merge commit which is checked out in subsequent stages will not match the commit from the first stage. As an example:

Stage 1:
[code]
Stage 2 (30 minutes later, or hour

[2019-06-30 01:52] #2315 closed

[2019-07-02 03:02] TingluoHuang opened #2331 "Service container doesn't expand $(variable) in env"

[2019-07-02 03:07] patrickcarnahan commented on #2331
Hit this trying to bind a secret variable into the environment block of a container. Instead of binding the value the literal $(VariableName) string is set into the container.

[2019-07-02 08:36] WYarde commented on #2267
I don't think that is correct. The agent does load `clientcert.pem`. Logging shows:
[code]

If I don't pass `clientcert.pem`, I can configure the agent, but when I execute `run.cmd`, it fails:
[code]

So it looks like the agent does need the clientcert.pem file to connect.

To answer your question - The `clientcert.pem` file is generated with openssl:
[code]

[2019-07-02 11:57] andyfisher100 opened #2332 "Run once agent sometimes accepts second job"
## Agent Version and Platform
Agent: 2.153.2
OS: Windows Server core 2019

## Azure DevOps Type and Version
dev.azure.com
Can provide organisation name if required

## What's not working?
I have been creating containers that recycle themselves by using the --once flag on the agent that was implemented in the last few months.

I have noticed when there are jobs waiting for an available agent in the

[2019-07-02 12:56] spashx commented on #2267
@WYarde: don't know if  this can help you, but we have a self hosted agent running builds against our Azure Devops Server instance with GIT over HTTPS on Windows.

We simply modify the gitconfig file of the "externals" subfolder of the agent (agent\externals\git\mingw64\etc) and add a sslcaInfo key and the value with a .pem file containing all our self signed certificates.

[http]
	sslcaInfo = D:/

[2019-07-02 14:00] myermian opened #2334 "Guidance on testing azure-pipelines.yml and YAML template files?"
Currently, I don't know of any way of testing our **azure-pipelines.yml** files or our YAML templates other than simply checking in the changes and running a build in Azure DevOps.

I downloaded this repository and I was attempting to utilize the `PipelineParser` class to parse my **azure-pipelines.yml** file. It seems that the `PipelineParser` does not actually parse the azure-pipelines.yml file,

[2019-07-02 14:43] WYarde commented on #2267
@spashx Thanks for your reply - glad to hear that I'm not the only one struggling.

It seems what you are suggesting is also a workaround of the issue (sorry if I misunderstood); thanks for sharing. Note that I already found a workaround by setting the `GIT_SSL_CERT` environment variable (see my initial post).

[2019-07-02 15:56] mtrobbin commented on #1506
We too are running into the same problems.  If each build job would just reuse the same working dir and git repo then that would solve it.  Instead we end up with a 10 min checkout on every new branch and we have to clean up old jobs too aggressively such every build is a new checkout.

I believe this is a standard feature in jenkins too...which makes this even more annoying.

[2019-07-02 18:19] bgoeppner opened #2336 "BYOS Feedback"
This is actually exactly what we are looking for: Using an elastic pool with our own images.
Unfortunately, we cannot use the hosted images because
1. Our workspace/repo is about 100GB and therefore too big for the hosted agents (I think they have 20GB?)
2. We need some 3rd party software installed that is not available on hosted pools.

Currently we have a fixed size pool, but agents are ideling

[2019-07-03 12:40] alepauly commented on #2261
@letmaik Are you still seeing this issue? We'll look into it, sorry for the delay.

[2019-07-03 12:45] alepauly commented on #2261
@snap608 Can you send me an email to alpauly@microsoft.com with your Azure DevOps organization name so I can dig into it? Thanks!

[2019-07-03 15:23] letmaik commented on #2261
@alepauly Yes, see the job named "macOS CMake: Debug, serial" at https://dev.azure.com/wrf-cmake/WRF/_build/results?buildId=483. Please ignore any other jobs.

[2019-07-03 15:35] alepauly commented on #2261
Thanks @letmaik, actually found that earlier and engaged the Mac team to look into it. I'll let you know as soon as I have info. I'm still trying to figure out what might have been happening with the Windows side but didn't find a recent example of a job on a Windows machine failing for that reason. I might be able to dig earlier failures but if you see a recent one please let me know.

[2019-07-03 16:20] ryanspletzer opened #2337 "Agent version 2.154.1 (Pre-Release) randomly stops during releases"
## Agent Version and Platform
Version of your agent? 2.154.1 (Pre-Release)

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server? dev.azure.com

If on-premises, which release? N/A

If dev.azure.com, what is your organization name? https://dev.azure.com/adsk-des-dpe-paas or https://adsk-des-dp

[2019-07-03 16:24] calebcartwright commented on #1850
It's not entirely clear to me from this thread if it is possible for a task author to create the task with code that requires something higher than Node 6.x. We've tried the steps outlined above, but even with our pipelines executing these custom tasks on v2.153.2, the tasks still seem to be running with Node 6.x

This is rather frustrating, especially considering that [Node 6.x has been end-of-li

[2019-07-03 16:26] TingluoHuang commented on #2337
@ryanspletzer can you check the event log to see why the service gets stopped?

[2019-07-03 16:26] #2331 closed

[2019-07-03 16:50] ryanspletzer commented on #2337
@TingluoHuang Yes, so I see:

![image](https://user-images.githubusercontent.com/1481108/60609411-9c51c700-9d8f-11e9-90f7-fbf4730375ee.png)

Followed immediately by:

![image](https://user-images.githubusercontent.com/1481108/60609457-b1c6f100-9d8f-11e9-9d1d-25a13fbdf7ae.png)

Followed immediately by:

![image](https://user-images.githubusercontent.com/1481108/60609476-bc818600-9d8f-11e9-99b3-3c54

[2019-07-03 18:09] jmmclean commented on #1850
In addition to @calebcartwright comment, changing the `execution` configuration within task.json to **Node10** did not change the symptom.

Please see https://github.com/microsoft/azure-pipelines-task-lib/blob/master/tasks.schema.json#L267

The symptom:
Error thrown - `##[error]Unhandled: Unexpected token function`

[2019-07-05 08:15] Shortcheese commented on #2316
Hi @fadnavistanmay We need the proxy setting in the agent, otherwise nothing else will work. The agent can't connect to azure because he doesn't uses the proxy.

[2019-07-05 17:27] fadnavistanmay commented on #2316
@Shortcheese - Could you please share your email. Let's take this 'offline' . I would like to look at the logs/understand the errors more.

Thanks.

[2019-07-05 19:25] thboop opened #2338 "Powershell Agent does not subscribe to force completed events"
## Agent Version and Platform
Version of your agent? 2.152.0

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
https://dev.azure.com/mseng

## What's not working?
The Powershell Agent does not subscribe to force completed events. This can result in agents running powershell builds that do not terminate the powershell instance for whatever reason continuing to run unti

[2019-07-08 03:33] #2337 closed

[2019-07-08 08:05] Selvaraj1989 opened #2341 "Unable to change the Build Sources Directory in Azure Pipeline Agent"
Hi,

As per my build definition, I need to map the "build_sourcesdirectory" to a custom folder (like "D:\BuildSourceDirectory") instead of default build source directory (like "2\\s") and I am trying to update the Build Sources Directory in project.json (from SourceRootMapping folder) file of the Azure Pipeline Agent.

I am able to update the same in the project.json file, however the issue is tha

[2019-07-08 09:16] solstarz commented on #2316
Hi @fadnavistanmay i will be the one sharing my emai add for the offline troubleshooting.
This is my email add jsolognier@hetcak.nl.

[2019-07-08 16:26] TingluoHuang commented on #2341
@Selvaraj1989 you can't modify the mapping json file, that's internal to the agent. :)
we don't support you to put the folder into arbitrary location, it has to under a namespace folder, this is trying to prevent accidental collision with another build folder since those folders are reusable.

[2019-07-08 17:23] dkalbertson opened #2342 "Powershell script containing pipe causes failure"
## Agent Version and Platform
2.153.2

Windows 7

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

https://lms-bioptigen.visualstudio.com

## What's not working?
I have a custom build script (Powershell) that pulls down a perforce repository containing our org's signing certificates. The script builds a temporary workspace spec and outputs it to standard output with the

[2019-07-08 17:49] TingluoHuang commented on #2342
@dkalbertson you are using a customized task, you might need to find the owner of that task and report the error.
[code]

[2019-07-08 17:53] dkalbertson commented on #2342
@TingluoHuang I am the owner of the customized task. If I switch my build agent back to version 2.141.1 this task works correctly. When I update the agent to the newest (which is currently 2.153.2). The task errors out.

[2019-07-08 17:56] TingluoHuang commented on #2342
can you share a build log?

[2019-07-08 18:08] dkalbertson commented on #2342
Sure! see attached...
[logs_8902.zip](https://github.com/microsoft/azure-pipelines-agent/files/3369691/logs_8902.zip)

[2019-07-08 19:02] dkalbertson commented on #2342
@TingluoHuang I'm attaching a second build log from agent 2.141.1 that works as expected
[logs_8921.zip](https://github.com/microsoft/azure-pipelines-agent/files/3369852/logs_8921.zip)

[2019-07-08 19:51] Selvaraj1989 commented on #2341
Thanks @TingluoHuang for the confirmation. You mean to say modifying the "project.json" file inside SourceRootMapping folder is not supported since you mentioned that "can't modify mapping.json file", I am asking this again to reconfirm my understanding.

Also, I would like to know whether modifying the "project.json" is not supported starting from Azure DevOps Services because I was able to modif

[2019-07-08 19:55] TingluoHuang commented on #2341
Yes, you should not modify that, anything we haven't publicly documented might change and we never hold compat on them. :)

[2019-07-09 03:32] madblkman commented on #145
I have my variable group set-up with a secret (lock), the group name is being passed into the global variables, I'm setting up the `env:` with the secret name and every time I try to call the env variable in my script it keeps giving me this in the build logs then the agent will hang for an hour:

<img width="804" alt="image" src="https://user-images.githubusercontent.com/15950896/60857423-1b03958

[2019-07-09 11:09] Selvaraj1989 commented on #2341
Thanks, @TingluoHuang for the confirmation once again.

[2019-07-09 11:09] #2341 closed

[2019-07-09 12:12] alucardu opened #2343 "Can't use function to set variable value."
In my azure cli task I can run:

`call az storage account keys list -g CustomersV2 -n $(prSourceBranchName) --query [0].value -o tsv`

This outputs a string with the key value. I want to call this function in another azure function:

`call az storage blob upload-batch --source "$(System.DefaultWorkingDirectory)/_ClientWeb-Build-CI/ShellArtifact/out/build" --destination "$web" --account-key call az

[2019-07-09 14:42] TingluoHuang commented on #2342
@dkalbertson I can't find any obvious change might cause this, do you might help me narrow down to which version of the agent introduces the regression? Pick a version between 141.1 and 153.2 binary search which version has the problem.
Also, are those two build runs on agents on the same machine?

[2019-07-10 06:48] WeihanLi opened #2345 "custom build agent sometimes failed to restore packages or push packages"
## Agent Version and Platform

Version of your agent? 2.148.1

Custom Linux Build Agent

## Azure DevOps Type and Version

https://mvn11.visualstudio.com

## What's not working?

get error when try to restore packages or push packages, error as as follows:

[code]

dotnet restore error:

[code]

dotnet push error:

[code]

[2019-07-10 08:50] duncanp-sonar commented on #2046
What's the status of this bug please? We've had several customers complaining that our SonarQube/SonarCloud extensions don't work correctly on their self-hosted Windows agents because they use a non-Oracle version of Java. We've pointed them to the manual workaround described in this thread, but I think it's fair to say they aren't happy about having to implement workarounds when setting up their

[2019-07-10 12:59] equidevium opened #2346 "Strange issue with docker."
So hello guys.

I am running into a strange issue which i am not really sure this is the right place to post.
So please excuse my missing intel since i am quite new to azure functions and azure pipelines.

So i am having a python project ( DELTA detected to throw this post somewhere else i know ) that i wanted to publish. That is fine. Though i fell into the need to use

func azure functionapp pub

[2019-07-10 16:28] TingluoHuang commented on #2345
@WeihanLi looks like a task issue, can you open issue at https://github.com/microsoft/azure-pipelines-tasks

[2019-07-10 21:50] kichalla opened #2347 "Question: How to run a build definition on every agent in an agent pool"
**My team's scenario:**
We have around 15 build agents in which we build docker images etc. We do not aggressively clean up docker images after every build since we want to use the cache as much as possible for good user experience. But since we consume disk space over time because of this we are planning to have a job like thing which runs let's say every 2 weeks(ex: 3.00 A.M on Saturday) on **ev

[2019-07-11 01:32] WeihanLi commented on #2345
Hi @TingluoHuang, I'm not sure whether it's a task issue or not, the same task differ in Microsoft build agent and custom build agent, it happened only when use custom build agent. It works great with Microsoft build agent, so I'm wondering if there some difference caused that

[2019-07-11 01:49] TingluoHuang commented on #2345
@WeihanLi have you try using the same version of the agent that works great in the Hosted pool?

[2019-07-11 02:07] WeihanLi commented on #2345
can not find the microsoft build agent agent version, is there a guide for that?

There're the two Microsoft build agent I use

![image](https://user-images.githubusercontent.com/7604648/61016671-089d7d80-a3c3-11e9-909b-ebd373640e59.png)
![image](https://user-images.githubusercontent.com/7604648/61016747-51553680-a3c3-11e9-9d73-667ea49912e5.png)

[2019-07-11 02:10] TingluoHuang commented on #2345
@WeihanLi if you run a build, the version get print out in the `initialize job` log

[2019-07-11 02:38] WeihanLi commented on #2345
Thanks @TingluoHuang , microsoft build agent version is `2.153.2`

[2019-07-11 08:16] riveryc commented on #1451
Hi @TingluoHuang ,

Actually I don't see any documentation to describe how to do this... I saw the release notes, but still don't know how to ...
Is there any doc I can follow?

I'm located in China and the access to MS's VS Agent download is super slow, I have to use local install...

Thanks
River

[2019-07-11 09:40] AndyLysenko commented on #1418
Any updates? When is it expected?

[2019-07-12 16:02] bigpod98 opened #2349 "Ubuntu 19.04 no usable libssl"
Hello

I want to install a self hosted agent onto a ubuntu 19.04(non lts) but after entering PAT i get error no usable libssl i installed everything that has libssl from 19.04 repos.

[2019-07-15 01:50] WeihanLi commented on #2345
tried with the latest version `2.153.2` same version with Microsoft Build Agent, this problem still exists @TingluoHuang

[2019-07-15 02:30] bryanmacfarlane commented on #2345
That error is coming from the task which is calling the tools installed on the image.  Please log an issue in azure-pipelines-task repo and I can route to the packaging team.

[2019-07-15 02:30] #2345 closed

[2019-07-15 09:10] hgran commented on #2218
The problem no longer occurs. May have been issues with the connection site-to-site VPN to Azure as suggested by @TingluoHuang
Closing.

[2019-07-15 09:10] #2218 closed

[2019-07-15 19:52] juliobbv commented on #2249
Hi @kmscode,

I'm following up on this issue. One question for you: when you mentioned that authentication didn't work with submodules with full paths, were you using the same base URL (either dev.azure.com/<orgname> or <orgname>.visualstudio.com) between the parent repository, and each of the submodule references?

The reason I ask is that currently we don't support mix-and-matching old and new s

[2019-07-15 20:27] kmscode commented on #2249
Hi @juliobbv,

Thanks for the follow up...

The URLS for the submodules were using *.visualstudio.com.

Our org accesses everything via *.visualstudio.com - is that URL effectively deprecated?

Thanks again!

[2019-07-16 15:23] paule96 opened #2352 "Possible to run something after every build"
Hi,
I have a very easy questions regarding the Pipelines agent.

I would like to configure the Agent in way  that he is able to execute a custom local action after every build. Like a Post Job Command.
Is something like this possible?

Currently I have the problem regarding a Linux Agent which mainly executes Docked tasks. The agent itself has about 20G storage.

The problem is that the storage is

[2019-07-16 18:20] letmaik commented on #2261
@alepauly Windows seems fine, I haven't seen one recently. I still see a lot of macOS failures. Nearly all my builds fail because at least one of the macOS jobs looses connection. Could someone figure out a cause for this?

[2019-07-16 18:27] alepauly commented on #2261
@letmaik Thanks for confirming, I did engage the proper team to look into the MacOS disconnects. I'll follow up with them, apologies for the delay.

[2019-07-16 18:55] juliobbv commented on #2249
I see, thanks for the clarification.

\*.visualstudio.com URLs are deprecated in the sense that users are encouraged to switch to the newer dev.azure.com\*. However, \*.visualstudio.com URLs in submodules are still supported, even as full paths. I'll take a look and see if I can repro the issue on my end.

[2019-07-18 18:34] juliobbv commented on #2249
BTW @kmscode, I tried the scenario with my local account. Both the top-level and submodule repos were checked out successfully with full *.visualstudio.com paths, so I don't believe there's a bug here.

[code]

[code]

Given the results above (and also because relative paths is the preferred approach to specify submodules), I'll close this issue.

[2019-07-18 18:34] #2249 closed

[2019-07-19 20:05] juliobbv commented on #2346
Hi @equidevium,

This repository is to talk about issues related to the Azure Pipelines Agent. Looks like your particular question might better be directed to the Docker for Windows team: https://github.com/docker/for-win.

I'll close this issue.

Thanks,
Julio

[2019-07-19 20:05] #2346 closed

[2019-07-19 20:29] juliobbv commented on #2328
Hi @dschuermans,

From what I'm able to read, you have three agents configured within the same VM. Is there a reason why you can't just go by using one agent? One agent per machine is the usual configuration -- multiple agents per machine configurations are usually reserved for workloads that individually, are very light on CPU/RAM/disk resources, in order to gain meaningful benefits from running

[2019-07-19 21:26] juliobbv commented on #2334
Hi @myermian,

The YAML parser included with the agent is actually an earlier version of the current [YAML schema](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema) as used by Azure Pipelines. This earlier schema is currently not in use anymore, and it has since significantly diverged so parsing Azure Pipelines YAML files won't work.

The current Az

[2019-07-19 21:32] juliobbv commented on #2325
Hi @polamarasetti,

Is the agent trying to connect to a TFS server that uses a self-signed certificate? Try following these instructions: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/certificate

[2019-07-19 22:19] juliobbv commented on #2343
Hi @alucardu,

This repository is to talk about issues related to the Azure Pipelines Agent, which is a different product than Azure CLI. Looks like your question has already been answered at [StackOverflow](https://stackoverflow.com/questions/56952078/how-to-use-azure-cli-function-in-function).

I'll close this issue.

Thanks,
Julio

[2019-07-19 22:20] #2343 closed

[2019-07-19 22:40] petrparik opened #2355 "Cannot install on Debian 10 (buster)"
## Agent Version and Platform
vsts-agent-linux-x64-2.154.3.tar.gz

OS of the machine running the agent?
Linux Debian 10 (buster)

## Azure DevOps Type and Version
dev.azure.com
https://dev.azure.com/petrparik

## What's not working?
Cannot install the agent.

I tried to follow these steps: https://dotnet.microsoft.com/download/linux-package-manager/debian9/sdk-current
There is no version for Debia

[2019-07-20 15:36] kichalla commented on #2352
Seems like both of our use cases are similar: https://github.com/microsoft/azure-pipelines-agent/issues/2347

[2019-07-21 20:18] flashdog commented on #2349
Hello,

I had the same problem after upgrading from unbuntu 18.xx to unbuntu 19.04.
The problem is in the dotnet SDK 2.1 and it is fixed in SDK 2.2.

I made a local clone for testing and upgrade from dotnet sdk2.1 to sdk2.2. That works for me.
Should I make a pull request?

[2019-07-22 01:07] bigpod98 commented on #2349
I dont realy know, maybe

On Sun, 21 Jul 2019, 22:18 flashdog <notifications@github.com> wrote:

[2019-07-22 12:25] DeroSavage commented on #1307
Update on this? I got the same issue.

[2019-07-22 13:10] vtbassmatt commented on #2334
We recommend using the [Azure Pipelines extension for VS Code](https://marketplace.visualstudio.com/items?itemName=ms-azure-devops.azure-pipelines) to validate YAML.

[2019-07-22 14:45] satano opened #2356 "NuGet restore is very slow on self-hosted agent run as service"
## Agent Version and Platform
Current agent version: '2.154.3'
OS: Windows
Platform: x64

## Azure DevOps Type and Version
dev.azure.com, just build agent is self-hosted.
https://dev.azure.com/krossk/

## What's not working?
NuGet restore task is very slow. I have already tried [Developer Community](https://developercommunity.visualstudio.com/content/problem/632309/devops-build-pipeline-nuget-rest

[2019-07-22 17:05] astlock commented on #2048
Hey @TingluoHuang, Do I understand correctly, that there is no possibility to run containers jobs in agents on a kubernetes cluster?

[2019-07-22 17:57] chrispat commented on #2048
@astlock not with the current implementation based on docker.  The only way to replicate what a container job does in combination with service containers in kubernetes is really a pod so we would need some other process to create Pods and PVC’s in order to get the same behavior.

[2019-07-23 08:58] dschuermans commented on #2328
Hey @juliobbv

Thanks for your response.
The reason why we have 3 agents is that we have integration tests that could potentially run longer than average and we've also set up build validation in PR's
So to avoid being blocked by a longer then usual build by the agent when trying to complete a PR, we decided to have 2 extra agents just in case.

And since the agents all build the same build, we do

[2019-07-23 08:58] #2328 closed

[2019-07-23 20:01] briman0094 commented on #1506
I'm running into the same problem with the build server at my employer. We have 5 agents running on the same machine, and upwards of 20 build definitions for various subprojects/environments/etc, but only one repository. Our repo is more than 2 GB on a fresh clone, so our build server filled up very fast. I found out I was able to use directory junctions to temporarily alleviate this issue while a

[2019-07-25 20:33] MattDavisRM opened #2361 "Increasing Max Attachment Size for Build Attachments"
## Agent Version and Platform
2.141.1

## Azure DevOps Type and Version
Azure DevOps Server 2019.0.1

## What's not working?
Is there a way to increase the max attachment size for the builds?  We are receiving the follow error message when attempting to enable code coverage.  It is creating a 117MB file, but we get the following warning message:

Skipping attachment as it exceeded the maximum allo

[2019-07-25 20:33] kichalla commented on #2347
cc @arroyc

[2019-07-25 21:43] fadnavistanmay commented on #2316
We have a fix in place which will be released in the next agent version.

[2019-07-26 09:58] SimonWoessner opened #2363 "vstsom missing in 2.155 for x86?"
## Agent Version and Platform
Version of your agent? 2.155.0

Win10

## Azure DevOps Type and Version
on-premises Azure DevOps Server 2019 RC2

## What's not working?
X86 seems to be having a problem with the checkout. The message is:
File not found  "E:\agents\EPCMNE\externals\vstsom\Microsoft.TeamFoundation.VersionControl.Controls.dll".

I also have an x64 agent on the same machine where the sam

[2019-07-26 17:27] oising opened #2365 "Sha256Managed is IDisposable"
These types of instances require disposal.

example:

https://github.com/microsoft/azure-pipelines-agent/blob/184544d202802a81f7628a898047b0f73c10bb86/src/Agent.Plugins/PipelineCache/FingerprintCreator.cs#L162

[2019-07-26 22:42] MLoughry opened #2366 "Issue when trying to "pre-cache" docker image"
## Agent Version and Platform
Version of your agent? 2.149.2

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server? dev.azure.com

If dev.azure.com, what is your organization name? https://outlookweb.visualstudio.com

## What's not working?
We currently run our builds on self-hosted docker agen

[2019-07-28 11:28] astlock commented on #2048
@chrispat thank you for the answer. Do you guys have a plan to extend/develop some kubernetes native agent in the near future?

[2019-07-28 20:54] arroyc opened #2367 "No predefined variables to know if a build agent is enabled or disabled/offline"
we are using yaml builds where we want to run clean up task in every agent we have. Right now  the build goes to infinite loop as some of the agents become disabled/offline. Is there any predefined variables/workaround to this problem?

[2019-07-28 20:58] arroyc commented on #2261
I'm using self hosted Linux pool and I see this often times. Additionally it will be nice if you support predefined agent variables (e.g agent.name, agent.jobstatus) using which we can place demands if the agent is enabled or disabled  (like agent.status). Refer to #2367

[2019-07-29 01:47] #2363 closed

[2019-07-29 09:39] AlberTajuelo commented on #1506
@bergmeister any time estimation about this? We are thinking to move back to Jenkins again if this problem still persists.

[2019-07-29 09:42] bergmeister commented on #1506
I do not work for Microsoft or this repository. Maybe @ericsiple can give some timeline about this issue, which is the most upvoted one in this repo.

[2019-07-29 09:57] AlberTajuelo commented on #1506
Thanks @bergmeister ! :)

Do you have any idea about when this issue could be resolved? @ericsciple

Thanks a lot!

[2019-07-30 04:45] karanjitsingh commented on #2262
Hi @mitchdenny, did you get around to creating a PR for this?
PS: You can keep parallelism = cores on agent / 2

[2019-07-30 14:01] peckhamm opened #2368 "Agent Update is not working 2.155.1"
I have a Azure DevOps Server 2019 box and I placed the .ZIP file for 2.155.1 in the _%ProgramData%\Microsoft\Azure DevOps\Agents_ directory.  I then went to the agent pool and told it to update all agents.

4 agents reside on a seperate build server and 1 agent resides on the DevOps Server 2019 application server.  They all went offline and came back online but they are still running 2.144.2.

I t

[2019-07-30 15:52] TingluoHuang commented on #2368
@peckhamm you should keep them in zip/tar.gz format.
what's your local folder structure looks like under `%ProgramData%\Microsoft\Azure DevOps\Agents`, do you mind sharing a screenshot?

also, can you post the agent log zip to us?

[2019-07-30 15:52] greektreat commented on #1341
You know that is also not acceptable to asked someone to send by email personal info. Email is not secure

[2019-07-30 16:01] peckhamm commented on #2368
![2019-07-30_115934](https://user-images.githubusercontent.com/26437284/62145540-a3ea8a00-b2c1-11e9-9c07-3dea7cd412b4.png)

@TingluoHuang Here is the screen shot.

[2019-07-30 17:00] TingluoHuang commented on #2368
@peckhamm
from your log
`[2019-07-30 13:37:11Z ERR  VisualStudioServices] GET request to https://xxxxxxxxxxxxxx/_apis/distributedtask/packages/agent/win-x86/2.155.1 failed. HTTP Status: NotFound`

You might want to copy all agent release packages to your local folder (x64/x86/linux/mac), the agent is x86, the package you downloaded is only x64

[2019-07-30 17:03] peckhamm commented on #2368
Ahhhh, that explains it.

[2019-07-30 17:03] #2368 closed

[2019-07-31 12:19] dkalbertson commented on #2342
@TingluoHuang I apologize for the radio silence. I've been working on getting a release out. I'll try to make some time to binary search the different versions within the next week.

To answer your question, yes, the two builds were run on the same build machine. They were actually run on the same agent. I just changed versions on that agent in between runs.