[2017-11-13 12:41] GuofuZhong commented on #592
Hi @bryanmacfarlane  do you have any plan to support linux powershell?

[2017-11-13 12:44] bryanmacfarlane commented on #592
@GuofuZhong - to run in your build / release or to write tasks?

[2017-11-13 12:55] GuofuZhong commented on #592
@bryanmacfarlane we use linux vsts agent, but we find it cannot work with powershell vsts task. although our linux installed powershell

[2017-11-13 12:57] bryanmacfarlane commented on #592
@GuofuZhong - are you using the latest major version of the powershell task?  Version is 2.x

https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/powerShell/task.json#L5

[2017-11-13 12:58] GuofuZhong commented on #592
Oh!! Thanks

[2017-11-13 12:58] GuofuZhong commented on #592
@bryanmacfarlane Thanks!

[2017-11-14 04:09] nigurr commented on #1287
@EdwinVW Thanks for reaching out. We will be investigating into this issue. Can you please try using RS2 build to unblock temporarily?

[2017-11-14 09:53] EdwinVW commented on #1287
Yes, I'm not blocked at the moment. Thanks for looking into this issue!

[2017-11-14 15:03] MireilleHanna commented on #1290
it is on our backlog

[2017-11-14 17:19] mkrivacek commented on #1007
@TingluoHuang Thank you, worked for me on High Sierra 10.13.1.

[2017-11-14 18:07] madhurig commented on #1281
Thanks @tinoji!

We are building better support for GitHub Enterprise. Would you be willing to try out the feature and give us feedback? Please send us your VSTS account name if you would like to participate in the early preview. You can email me at madhurig at microsoft.com.

Thanks,
Madhuri

[2017-11-14 20:33] TingluoHuang commented on #754
@nigurr can you take look this issue?

[2017-11-14 20:39] TingluoHuang commented on #1007
thanks for everyone.

[2017-11-14 20:39] #1007 closed

[2017-11-14 20:39] TingluoHuang commented on #1038
https://github.com/Microsoft/vsts-agent/releases/tag/v2.125.1

[2017-11-14 20:39] #1038 closed

[2017-11-14 20:41] TingluoHuang commented on #1240
@Zaniarr any updates?

[2017-11-14 20:42] TingluoHuang commented on #1269
https://github.com/Microsoft/vsts-agent/releases/tag/v2.125.1

[2017-11-15 00:55] tinoji commented on #1281
So cool!! Of course I want!
I'll email you soon!

[2017-11-15 03:43] chshrikh commented on #1284
this is has been fixed.

[2017-11-15 03:43] #1284 closed

[2017-11-15 17:30] pete-thompson opened #1297 "Git-lfs support missing"
## Agent version and platform
2.124.0
Windows

## VSTS type and version
VisualStudio.com

## What's not working?
git-lfs isn't installed with the agent, so a pulling from a repository enabled with lfs fails.

I had an older version of the agent running which used to work just fine with lfs, but I had to reinstall it. My builds started failing after the reinstall. I've worked around the problem by

[2017-11-15 17:52] TingluoHuang commented on #1297
@pete-thompson the agent has never packaged git-lfs with it. you always need to install git-lfs yourself.

[2017-11-15 18:43] Vladis466 commented on #1043
Hello. I have a very similar issue. When trying to manually add the path of Xamarin.Android to the environment variables I get a host of other issues identifying targets, MAndroid, etc.

My question is how can I get the newer version of the build agent? I tried reinstalling/manually updating and it seems I am still stuck on 2.112.0

[2017-11-15 18:45] bergmeister commented on #1043
@Vladis466 You can grab the latest installer from [here](https://github.com/Microsoft/vsts-agent/releases)

[2017-11-15 19:13] Vladis466 commented on #1043
Thank you, that added the Xamarin.Android to the capabilities.
Unfortunately now I am still receiving the following, the build seems to require a specific Agent version. However it was attempting to build with Agent version 2112 so I am not sure why I am getting this message.

No agent found in pool Default which satisfies the specified demands:
AndroidSDK
MSBuild
Xamarin.Android
AndroidSDK
MSBuil

[2017-11-15 19:14] TingluoHuang commented on #1043
@Vladis466 `Agent.Version -gtVersion 1.98.1` means agent version greater than 1.98.1, you must missing something else, AndroidSDK/MSBuild

[2017-11-15 19:36] Vladis466 commented on #1043
I see. You are correct. This leads to the same core issue however. It seems manually setting the path versus updating the agent did not have an effect on where the build agent is searching for targets.

error MSB4019: The imported project "C:\Program Files (x86)\MSBuild\Xamarin\Android\Xamarin.Android.CSharp.targets" was not found.
If I update the path in the csproj file I get an error searching f

[2017-11-15 22:37] sheldonhull commented on #1286
Thank you, this was a big help to point me in the right direction. I've found trying to track down details on differences for powershell execution hard to find.

I had to switch over to Get-VstsInput . All my param(var) bindings were failing at that point. Is there any article or help on all the differences to I can better prepare?

I also couldn't figure out if I could just install the latest vst

[2017-11-15 22:47] ericsciple commented on #1286
The module must be bundled with the task.

[2017-11-16 03:41] #1297 closed

[2017-11-16 03:42] bryanmacfarlane commented on #1290
Yeah, the issue is the task group editor isn't using the new editor which supports conditions.  Being worked on.  Closing since it's not an agent issue.

[2017-11-16 03:42] #1290 closed

[2017-11-16 03:43] bryanmacfarlane commented on #1286
@sheldonhull - all good?  ok to close or do you need anything else?

[2017-11-16 03:44] bryanmacfarlane commented on #1279
@alxdean - any updates?

[2017-11-16 03:44] bryanmacfarlane commented on #1269
@mohjache - had a chance to try it out?

[2017-11-16 03:46] bryanmacfarlane commented on #915
Closing since I don't think there's any action item for the agent application here.

[2017-11-16 03:46] #915 closed

[2017-11-16 11:09] Zaniarr commented on #1240
Hey, Im still waiting to hear back from my networking team. Im going to go with it's a internal proxy issue for now. You can mark this as resolved. I will open a new issue if/once my networking team come back to me and if i still have the issue. Thanks!!!

[2017-11-16 12:57] #1240 closed

[2017-11-17 02:13] cameronattard opened #1298 "Unable to queue builds via API using YAML definitions"
## Agent version and platform
Version of your agent?
2.124.0

OS of the machine running the agent?
Linux

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name?
https://origin-energy.visualstudio.com

## What's not working?
When I try to trigger a build using https://origin-energy.visualstudio.com/DefaultCollection/CloudServices/_apis/build/builds?api-version=2.

[2017-11-17 06:47] ericsciple commented on #1298
@cameronattard did you queue the build against a branch, tag, or commit? My guess is you queued against a commit, but did not use the full 40 char sha (queue against short hash not impl yet)

[2017-11-17 07:31] cameronattard commented on #1298
Just managed to get it working by explicitly specifying sourceBranch: "/refs/heads/master". Previously I was omitting that field as the documentation states: "The branch to build. This is optional. If not specified, the default branch for the definition will be used."

Is there any way to specify the default branch in the YAML build definition?

[2017-11-17 11:38] jessehouwing opened #1299 "tl.command("build.updatebuildnumber") yields an error on latest Windows Agent"
Reported here: https://github.com/jessehouwing/vsts-variable-tasks/issues/28

[2017-11-17 11:44] bryanmacfarlane commented on #1298
Also, you might want to use a later api version ?? not sure if needed.  Anyways, I would recommend you try it in the browser and then use browser dev tools or fiddler to see what our app does (we use the public api)

closing since I think you figured it out

[2017-11-17 11:44] #1298 closed

[2017-11-17 16:58] lavahot commented on #147
So it's `launchctl` that is emitting the `Could not find domain for`. The error code returned is 112. `launchctl error 112` reveals `112: Could not find specified domain`. I have no idea what this means. AFAIK, the plist generated by `./svc.sh install` doesn't specify a domain, but this might just be my ignorance of how launchd works. I went through and verified that all permissions were correct.

[2017-11-18 00:19] fiveshotsofespresso commented on #898
We also experience this issue -- TFS 2017 U2 w/ TFS Agent 2.124.0.

Interestingly, the collisions only occur cross-collection, so far as we can tell. Still grasping at straws for how to fix this or help our devs who experience this issue.

[2017-11-20 02:33] jamesbannan opened #1300 "PowerShell 2.* preview step fails on Linux"
## Agent version and platform
2.120.2

OS of the machine running the agent? OSX/Windows/Linux...
Ubuntu 16.04 LTS

## VSTS type and version
VisualStudio.com

## What's not working?
I have a VSTS Build using the native PowerShell step (preview version 2.*) to run an Inline Script PowerShell script on an Ubuntu-based worker agent.

This was working, but PowerShell on Linux has recently changed the e

[2017-11-20 02:47] MarcusFelling opened #1301 "YAML definitions unable to find Service Endpoints."
## Agent version and platform
Version of your agent? 2.102.0/2.100.1...
**2.124.0**

OS of the machine running the agent? OSX/Windows/Linux...
**Windows Server 2012 R2**

## VSTS type and version
**VisualStudio.com**

If VisualStudio.com, what is your account name? http://account.visualstudio.com
**https://outselldev.visualstudio.com**

## What's not working?
New YAML definition is unable to find

[2017-11-20 02:54] jamesbannan commented on #1300
These are the details of the step:

`Task         : PowerShell
Description  : This is an early preview. Run a PowerShell script on Windows, macOS, or Linux.
Version      : 2.125.0
Author       : Microsoft Corporation
Help         : [More Information](https://go.microsoft.com/fwlink/?LinkID=613736)`

[2017-11-20 03:09] ericsciple commented on #1301
@MarcusFelling can you try making a trivial edit in the definition editor in the web UI and saving the definition? if you have use permission on the endpoin, clicking save should load the file, discover you use the endpoint in the file, and then authorize it's use based on your permissions.

is your yaml file in a VSTS repo or a GitHub repo?

[2017-11-20 03:19] MarcusFelling commented on #1301
Thanks for the quick reply! I have made an edit to a variable in the build definition, saved, and get the same error. The yaml file is at the root of my VSTS repo. The build definition is in a folder called YAML.

[2017-11-20 03:24] MarcusFelling commented on #1301
Turns out it was because I was using a topic branch to test. I merged the yaml file into the master branch and changed the default branch in the definition to master. Sounds like this is still a bug? I should be able to test yaml changes in a topic branch.

[2017-11-20 03:37] ericsciple commented on #1300
Closing the issue on this repo and [opening here](https://github.com/Microsoft/vsts-tasks/issues/5894)

[2017-11-20 03:37] #1300 closed

[2017-11-20 03:56] ericsciple commented on #1301
It's a limitation of how [resource authorization for yaml](https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-authz.md#resources) works today. In the future we are planning to have a way to manage in the web UI. Today we don't apply resource authorization on-push for every branch. I'm not sure whether we will totally relax that constraint in the future, or whether

[2017-11-20 03:56] #1301 closed

[2017-11-20 06:40] RoyRosenberg opened #1302 "Build artifacts are not being deleted"
Hi guys,

TFS 2017 (without updates)
Build Agent version: 2.105.7 on Win Server 2012 R2

We have a build with publish artifacts task to a file share:
![build3](https://user-images.githubusercontent.com/18610554/33005185-6b40aa66-cdcd-11e7-9345-cd1323d0dfbf.png)

The build has this retention policy:
![build1](https://user-images.githubusercontent.com/18610554/33005232-935986b2-cdcd-11e7-8298-4862d0

[2017-11-20 13:50] alexdegroot opened #1303 "Updating a Release Name"
I'm trying to update my Release-name based on a version I read from my artifact folder. In this way I can visually relate the artifact number to the release.
When I on incident used the Build-update step, it did update the associated build:
Write-Host "##vso[build.updatebuildnumber]$($Env:BUILD_BUILDNUMBER)-($version)"
Is this expected behavior?
Most important, how do I update my Releasename, as t

[2017-11-20 15:20] bryanmacfarlane commented on #1303
@GitHubSriramB can comment on the enhancement request.

[2017-11-20 15:49] TingluoHuang commented on #1299
@jessehouwing the agent code for handle ##vso[build.updatebuildnumber] haven't change for long long time.
base on the conversation on https://github.com/jessehouwing/vsts-variable-tasks/issues/28, it sounds you had a bug in your PS implementation at one point, when customer use your task on windows, that is causing the failure.

[2017-11-20 15:49] #1299 closed

[2017-11-20 16:03] saranad commented on #1302
Few things to check
What happens if you queue a test build which publishes a drop to the same share and if you delete it manually? I am just trying to make sure that there is some agent which can access this share and delete the drop.
Can you attach the snapshot of your entire retention settings? Are these drops related to Pull Requests? If yes, then please add an explicit policy for PR branches a

[2017-11-21 02:35] devandanger opened #1304 "CCMenu Support"
Curious if you guys plan to or have any current support for CCMenu.  Like the [following](https://github.com/erikdoe/ccmenu/wiki/Server-Implementor-Notes)

Understandably this is probably not the most appropriate place to look for a feature request, figured I'd give it a shot though.

[2017-11-21 03:40] ericsciple commented on #1304
User voice would be a better place for this type of feature request (server side). This repo is for the agent itself.

[2017-11-21 04:58] #1304 closed

[2017-11-21 16:42] anilsantoIbs opened #1305 "Xcode 9.x Build Failure."
2017-11-16T14:56:07.0637860Z     DSTROOT = /Users/vso113533/vsts-agent/_work/1/a/build.dst
2017-11-16T14:56:07.0653500Z     OBJROOT = /Users/vso113533/vsts-agent/_work/1/a/build.obj
2017-11-16T14:56:07.0669370Z     OTHER_CODE_SIGN_FLAGS = --keychain=/Users/vso113533/vsts-agent/_work/1/s/_xcodetasktmp.keychain
2017-11-16T14:56:07.0685510Z     PROVISIONING_PROFILE = *********************
2017-11-16T

[2017-11-21 17:58] Lexcess commented on #871
@PBoraMSFT Will there be any alternative for private agents, so that vstest can be added as a capability rather than installed on demand? i.e. by installing Test Agent.

[2017-11-21 18:01] Stefan75 commented on #1259
Hello,

thanks for the answer.

It took me some time to get my fingers on a simulation system.
I checked the changed Add-Capabilities.ps1 version, but sadly it does not help.

It seems for me that the problem is the Import-Module or the the "&" operator -  I am not quite sure.
Maybe I have some time to perform some additional research at the system.

[2017-11-22 03:20] sheldonhull commented on #1286
@bryanmacfarlane  thank you for the followup. I've been swamped.
I still was a bit confused on the handling of parameters, and couldn't find clarity on that. See question above.

I migrated over to Powershell3 handler, but am finding the parameter handling confusing as [cmdletbinding()]param() wasn't working, and had to use get-vstsinput instead.

[2017-11-22 07:15] RoyRosenberg commented on #1302
saranad,
I just checked another builds that run on different agents\machines and it behaves the same.. the drops are not being deleted....
The build is TFVC and not git.
here are the full retention settings:
![build4](https://user-images.githubusercontent.com/18610554/33114468-a79220be-cf65-11e7-9c80-615324f9dc08.png)

[2017-11-23 12:11] Burbert commented on #677
I still have the issue, I have an TFS 2018 RC2 and currently one agent, both running on differend servers with 2012 R2 as OS. The Root- and Sub CA Cert is installad within the git store and it worked until today, I don't really get it, because the only issue that seems to be present is the one where the cert is not installed. Even 'git config --system http.sslVerify false' did nothing :( any sugge

[2017-11-23 16:26] TingluoHuang commented on #677
@Burbert the agent carries its own copy of `MinGit`. `git config --system` will only affect git installed in your  `%PATH%`, you can use `git config --global` as long as you run the `git config` as same user your agent run as.

[2017-11-24 13:14] jessehouwing commented on #1299
The cause was that the original tasks were using `##vso[build.updatebuildnumber;]` note the `;` and that doesn't seem to be supported (anymore?), these tasks shipped with the 1.80 agent originally. It does indeed seem that the tasks did not get updated on their end, after updating the tasks again, the new version got downloaded.

I think I originally included the `;` based on the docs here: https:

[2017-11-24 16:29] ToddThomson opened #1306 "TFS 2018 Event Log Debug"
I have a local TFS 2018 server. I also upgrade from 2018 RC to the latest release.

I have noticed that the Microsoft-Team Foundation Server 2018 event log is logging hundreds of informational debug entries, most with: TFS ProductTrace Entry. Every minute there are 3 or 4 event log entries generated which quickly add up.

Is this normal logging behavoir? Can I turn this off?

[2017-11-26 19:34] nschonni commented on #1306
https://developercommunity.visualstudio.com/spaces/22/index.html might be a better place for this one. This issue tracker is just for the build agent

[2017-11-26 21:47] mohjache commented on #1269
Hi, just tried to run the config using v2.125.1. No luck, same error. Next step will be to upgrade the agent. Just for clarification, it doesn't seem to matter whether I hit the download agent button from tfs or download it straight from github? All that matters is the version that is downloaded? Again, thank you for the help.

[2017-11-27 10:35] A141133 opened #1307 "Azure subscription endpoint ID cannot be provided through a variable in build definition YAML file"
## Agent version and platform
Version of your agent? 2.120.1

OS of the machine running the agent? Linux and Windows

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name? https://aglthundercats.visualstudio.com

## What's not working?
When using the new build definition YAML format with the `AzureCLI@1` and `Docker@0` tasks, we cannot specify an Azure subscrip

[2017-11-27 14:08] stephenmichaelf commented on #1307
@A141133 Could you try updating to the latest Agent?

[2017-11-27 15:15] TingluoHuang commented on #1299
Sure, we can improve that.

But i do give a sample for `build.updatebuildnumber` which has the correct syntax.

https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md#build-logging-commands
[code]

[2017-11-27 15:21] TingluoHuang commented on #1269
@mohjache yes, download from TFS will get the version we packaged with the release of that TFS version.
we continue release agent every month on github for new feature and bug fix.
Can you access your TFS web page from your mac's browser like: Safari?

[2017-11-27 20:48] A141133 commented on #1307
@stephenmichaelf I am using a hosted agent pool, so I don't think I can update the agents? Whenever I try, I get an error saying `Access Denied. Hosted Agent Pools cannot be modified.`

[2017-11-28 00:25] mohjache commented on #1269
@TingluoHuang yep I can, I talked through this with another dev and the likely cause is incorrect installation of the certificate chain on the mac's keychain. I'll try do a follow-up soon.

[2017-11-28 13:00] stephenmichaelf commented on #1307
@A141133 Thanks for the clarification. Let me see if I can recreate the issue.

[2017-11-28 17:29] mathieu-benoit commented on #1307
Hi there, on my side with `task: Docker@0` when setting the endpoint's name or id, I got this message while trying to queue a new build:

[2017-11-28 18:41] stephenmichaelf commented on #1307
@ericsciple Any idea why these two issues could be happening?

[2017-11-28 18:46] ericsciple commented on #1307
[Endpoint authorization for yaml definitions](https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-authz.md) is performed on-push of the file and on-edit of the definition. It will not work if you use a variable.

If you want to be variable, you could add two tasks, and use conditions to drive the runtime-decision which one is executed. You can use queue-time variabl

[2017-11-28 18:54] mathieu-benoit commented on #1307
Thank you @stephenmichaelf and @ericsciple, for your prompt follow up.
@ericsciple, just to make sure, I'm not using variables in my case. After reading [the documentation you referenced](https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-authz.md), could you confirm it's not working for me (see above) because I'm using GitHub? And/or a `.yml` file not in the root

[2017-11-28 19:07] ericsciple commented on #1307
@mathieu-benoit if you make a trivial edit to the web definition and save, the act of saving the web definition will trigger resource authorization to run again (loads file from master)

[2017-11-29 03:05] mathieu-benoit commented on #1307
Thanks @ericsciple, by doing the trivial edit it worked. Thx!

[2017-11-29 03:29] awentzel opened #1310 "Unable to connect to server using private build agent for OS X High Sierra"
## Agent version and platform
Version of your agent?  2.124.0 / OS X 10.11-x64 which seems to be the only one available.

## OS of the machine running the agent?
OS X 10.13.1 (17B48)

## VSTS type and version
Visual Studio.com
fluentweb.visualstudio.com - MS Internal Account

## What's not working?
Also, posted on SO: https://stackoverflow.microsoft.com/questions/75328/unable-to-connect-to-server-

[2017-11-29 03:37] bryanmacfarlane commented on #1310
Duplicate of https://github.com/Microsoft/vsts-agent/issues/1007

[2017-11-29 03:37] #1310 closed

[2017-11-29 03:48] bryanmacfarlane commented on #1305
It looks like the CI server, agent and the task did it's job correctly.  It ran xcode, correctly outputted the result of the build and correctly failed when xcode build failed.

[2017-11-29 03:48] #1305 closed

[2017-11-29 03:49] #1306 closed

[2017-11-29 04:02] awentzel commented on #1007
This also resolved my issue.  Thanks

[2017-11-29 04:02] bryanmacfarlane commented on #1007
Great to hear!  Thanks for following up

[2017-11-29 04:13] A141133 commented on #1307
Hi all, I think there are two separate issues here. It's great @mathieu-benoit's issue has been worked around though.

@ericsciple - your suggestion of using a condition to switch between two versions of the same task, but with different Azure service ID references, isn't really a long-term solution. It'll get us through for now, but ultimately we'd surely want the build.yaml file to be agnostic t

[2017-11-29 04:36] #285 closed

[2017-11-29 04:36] #313 closed

[2017-11-29 04:44] bryanmacfarlane commented on #571
Our agent docker approach is going to be the agent/worker running in the host which executes tasks in the container.  So, I don't think we are going to do this.  Let us know if you still think it's needed.

[2017-11-29 20:35] Prachiti9 commented on #898
@jmsvl Good to hear that error count has been gone down for you. Can you share logs for error 100 you are still getting?
@fiveshotsofespresso The fixes we have made so far are suppose to work cross-collection as well. Are you getting exact same error? If yes, it would be great if you can share logs.

[2017-11-29 20:39] fiveshotsofespresso commented on #898
@Prachiti9 Sure.

Quick overview: TFS 2017 Update 2, Running vsts-agent version 2.124.0 on Windows 2012 R2 machines. 4 agents per machine, separate service names. Happens on both VS2015 and VS2017 agents.

2017-11-27T16:12:42.4031263Z ##[section]Starting: Get Sources
2017-11-27T16:12:42.4500063Z Prepending Path environment variable with directory containing 'tf.exe'.
2017-11-27T16:12:42.4500063Z S

[2017-11-29 21:02] Prachiti9 commented on #898
@fiveshotsofespress looking at your log snippet (line - The path F:\tfs\1_work\5\s is already mapped in workspace) this issue seems different than one we are tracing with @jmsvl . It might be confusing as error looks  same on surface but can you please open a new issue and share full logs? Thank you!

[2017-11-29 22:29] ericsciple commented on #1307
I agree. We are thinking about multiple types of process-reuse scenarios and ways to pass inputs to a re-usable process.

[2017-11-29 23:29] fiveshotsofespresso opened #1311 "Colliding Workspaces from Different Collections prevent TFVC Builds from Getting Sources"
## Have you tried trouble shooting doc?
Yes.

## Agent version and platform
2.124.0 on Windows 2012 R2

## VSTS type and version
TFS 2017 U2

## What's not working?
Various TFVC builds will occasionally fail on the 'Get Sources' step, as a result of a workspace mapping already existing.

[code]
The collision only seems to happen with mappings that spawned from a different collection (since we only

[2017-11-29 23:30] fiveshotsofespresso commented on #898
@Prachiti9 Sure. #1311 Created.

[2017-11-30 13:01] nicolasesprit commented on #1269
@TingluoHuang Same problem on MacBook PRO. I have a self-signed certificate installed on mac's KeyChain. A simple curl to TFS is ok. I can access, without certificate security warning, on Chrome & Safari. But when configure the agent i get this error : "Peer certificate cannot be authenticated with given CA certificates"

After removing actual agent (2.117.2) and installing the pre-release 2.125.1

[2017-11-30 15:05] TingluoHuang commented on #1269
@nicolasesprit can you share the output of `curl --version` from your box?

[2017-11-30 15:34] TingluoHuang commented on #1269
@mohjache  can you share the output of `curl --version` from your box?

[2017-11-30 16:27] mike10010100 commented on #1307
@ericsciple Have been working with a MS rep on this for a few days now with the same issue as @mathieu-benoit , and the trivial update solution worked! I'd definitely suggest putting this into the Authentication documentation as a possible troubleshooting step, as it wasn't clear why the endpoint wasn't authorized.

[2017-12-01 02:20] devandanger commented on #1304
Done thanks.
https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/suggestions/32444444-vsts-support-for-ccmenu

[2017-12-01 07:34] schenkjan commented on #789
Same here, we also have the need to run the build agent on a x86 machine.
Was anyone able to compile it for x86 and can give directions?

[2017-12-04 15:05] kristoferreierson opened #1313 "xcode test does not upload results to TFS"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

YES

## Agent version and platform
Version of your agent? 2.102.0/2.100.1...

[2017-11-18 14:45:13Z INFO AgentProcess] Agent is built for OSX - osx.10.11-x64.
[2017-11-18 14:45:13Z INFO AgentProcess] RuntimeInformation: Darwin 16.7.0 Darwin Kernel Version 16.7.0: Wed O

[2017-12-04 15:14] stephenmichaelf commented on #1313
@kristoferreierson This seems to be an issue with the Xcode task. Please file a bug in the [vsts-tasks](https://github.com/Microsoft/vsts-tasks) repository. Thanks!

[2017-12-04 15:14] #1313 closed

[2017-12-04 15:17] bryanmacfarlane commented on #1313
I think it's a really old agent that can't process the results.publish command.

Update the agent to latest before logging an xcode issue.

[2017-12-04 15:30] kristoferreierson commented on #1313
Thanks - I upgraded to osx.10.11-x64-2.124.0 and that didn't help, I will log an issue with vsts-tasks.

[2017-12-04 15:37] kristoferreierson commented on #1313
Closing this, I've submitted a bug to the right repo.

[2017-12-04 15:42] bryanmacfarlane commented on #1313
Can you add the log from when it didn't work with 2.124.0?  The error above was that command was not recognized but it was added after 2.108.0

[2017-12-04 15:43] bryanmacfarlane commented on #1313
nm - I see it in the task issue

[2017-12-04 16:09] ChadEQ commented on #789
Built a working x86 version using the dev.cmd but first changed the win7-x64 target to win10-x68 in dev.sh and the csproj files.

[2017-12-05 00:39] erendrake opened #1314 "request for upgrade to nodejs v8.9.0 lts"
## Agent version and platform
Version of your agent? 2.1.124

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name? http://iusdev.visualstudio.com

## What's not working?
I cannot use newer versions of autorest https://github.com/Azure/autorest as they require "v7.10.0 or greater"

## Agent and Worker's diag log
2017-12-05T00:26:57.2618933Z ##[section]Starting:

[2017-12-05 02:57] bryanmacfarlane commented on #1314
Running npm in your build doesn't use the one the agent carries - it uses the one in the path.  What node version is in the path on your agent?  Or are you using the hosted queue / pool?

[2017-12-05 03:02] aljones15 commented on #232
brew link --force openssl
Warning: Refusing to link: openssl
Linking keg-only openssl means you may end up linking against the insecure,
deprecated system OpenSSL while using the headers from Homebrew's openssl.
Instead, pass the full include/library paths to your compiler e.g.:
  -I/usr/local/opt/openssl/include -L/usr/local/opt/openssl/lib

[2017-12-05 03:05] bryanmacfarlane commented on #232
@aljones15 - did you try the latest version of the agent in releases?  It doesn't need the os update of openssl

[2017-12-05 03:05] aljones15 commented on #232
ok will try and thanks for the speedy response

[2017-12-05 03:06] bryanmacfarlane commented on #232
https://github.com/Microsoft/vsts-agent/blob/master/docs/start/envosx.md

[2017-12-05 03:15] aljones15 commented on #232
that worked have a new one:

Enter personal access token > ****************************************************
Connecting to server ...
./config.sh: line 29:  3096 Segmentation fault: 11  ./bin/Agent.Listener configure "$@"

[2017-12-05 05:14] erendrake commented on #1314
@bryanmacfarlane hosted agent. I guess it was an assumption that this would be a good place for making requests for hosted features.

[2017-12-05 05:21] TingluoHuang commented on #232
@aljones15 which agent version you tried? is it 2.126.0?
also, you might want to undo the `brew link --force openssl`

[2017-12-05 11:47] pete-thompson commented on #1297
Older versions of the agent included git-lfs - my build server was working fine until I had to uninstall/reinstall the agent at which point builds that relied on git-lfs failed. I hadn't installed git-lfs previously. Sadly I don't recall exactly which version I was using previously (it would have been installed early in 2017).

[2017-12-05 12:35] bryanmacfarlane commented on #1297
@pete-thompson - can you point me to the version that contained git-lfs?  We never did that.  But I would be interested in unzipping the version you're referring to and taking a look.  The releases tab has all the versions.

[2017-12-05 12:37] bryanmacfarlane commented on #1314
You can create an issue / request here: https://github.com/Microsoft/vsts-image-generation

[2017-12-05 13:22] omeshp opened #1315 "Failure in logging telemetry is failing the task"
## Have you try trouble shooting doc?
Release https://mseng.visualstudio.com/96a62c4a-58c2-4dbb-94b6-5979ebc7f2af/_release?releaseId=29465&_a=release-logs

I had a look at code to see where the below exception can come from, it looks like the below exception might happen while doing GetClient call in the initialize method of CustomerIntelligenceService if it fails to get location data to get the c

[2017-12-05 14:31] schenkjan commented on #789
Thank you @ChadEQ, your hint helped me to create a x86 build agent.

Unfortunately it still didn't run on my Windows Server 2008 box since .Net Core only supports Windows Server 2008 from **R2** onwards :cry:.

[2017-12-05 18:54] erendrake commented on #1314
and it appears its already there! thanks
https://github.com/Microsoft/vsts-image-generation/issues/13

[2017-12-05 18:54] #1314 closed

[2017-12-05 19:02] bryanmacfarlane commented on #1314
yeah - that's in the image that's about to go out soon

[2017-12-06 13:45] kacperryniec opened #1317 "Xamarin.Android capability missing on OS X on-prem build agent"
## Agent version and platform
Agent.Version | 2.126.0

OS of the machine running the agent? OSX

## VSTS type and version
VisualStudio.com + OnPrem Agent hosted on OS X

If VisualStudio.com, what is your account name? http://solidbraincom.visualstudio.com

## What's not working?
Xamarin.Android capability is missing. There's no /Library/Frameworks/Xamarin.Android.framework/Commands/generator file

[2017-12-06 13:49] kacperryniec commented on #1317
The solution mentioned in one of the old comments: https://github.com/Microsoft/vsts-tasks/issues/2889#issuecomment-254662620 seems to do the trick, however, it would be nice to know why it stopped working.

Quick fix: "Manually add the Xamarin.Android capability to each of my eight agent instances by entering the key Xamarin.Android and the value."

[2017-12-07 00:43] MarkIannucci opened #1318 "Receive API resource location <guid> is not registered on <server> when attempting to use the agent as a deployment agent"
## Agent version and platform
Agent version: 2.126.0
OS: Windows Server 2012 R2

## VSTS type and version
On Prem TFS 2018 RTW

## What's not working?
When attempting to use the registration script for the deployment agent that TFS produces, we receive the following error:
`API resource location <guid> is not registered on https://<server>//<projectcollection>`

## Agent and Worker's diag log
I'm

[2017-12-07 01:34] andrewtechhelp commented on #1317
I think this might be related (if not the same) as an issue I raised in the VSTS Tasks repository a month or so ago: https://github.com/Microsoft/vsts-tasks/issues/5660

[2017-12-07 01:47] bryanmacfarlane commented on #1317
Yeah, the agent itself (this repo) has no knowledge of xamarin, etc...  That's a task concern.  Agent just knows how to exec tasks.

[2017-12-07 01:47] #1317 closed

[2017-12-07 03:25] BrendanThompson opened #1319 "VSTS Agent Installation on Alpine Linux"
Hi there,

Trying to get some automation done with building VSTS Agents, and am having a few issues. Below are the details. (**Not TFS On-Prem**)

|Operating System|Agent Version|
|---|---|
|Alpine Linux|v2.124.0|

## What's not working?
After downloading and extracting the latest version of the `vsts-agent-*` agent (_I have tried both Ubuntu and Rhel_) and then attempting to execute
[code]
I get

[2017-12-07 08:38] kacperryniec commented on #1317
@bryanmacfarlane well it seems that the line that's causing this issue - exact check for the capability "Xamarin.Android, is in this repo...
https://github.com/Microsoft/vsts-agent/blob/2b1051a2f934f6e25e422715108993117f562598/src/Microsoft.VisualStudio.Services.Agent/Capabilities/NixCapabilitiesProvider.cs#L76

[2017-12-07 17:42] MarkIannucci commented on #1318
On developer community, we worked through the problem.  I had the wrong version of the agent.  Closing issue.

[2017-12-07 17:42] #1318 closed

[2017-12-08 00:32] bryanmacfarlane commented on #1319
alpine linux is not yet supported by net core

https://github.com/dotnet/core/issues/226

when they support it, we will

[2017-12-08 00:32] bryanmacfarlane commented on #1319
reactivate if that doesn't answer your question

[2017-12-08 00:32] #1319 closed

[2017-12-08 00:35] bryanmacfarlane commented on #1302
agent doesn't do retention.  so not an issue here.   The service does retention

[2017-12-08 00:35] #1302 closed

[2017-12-08 00:37] bryanmacfarlane commented on #1307
Closing this specific issue.  The re-use scenarios are on our backlog.

[2017-12-08 00:37] #1307 closed

[2017-12-08 00:37] bryanmacfarlane commented on #1303
@GitHubSriramB ?

[2017-12-08 00:39] bryanmacfarlane commented on #1294
The agent uses OAuth tokens per build to access resources.  Is there a specific reason you need the service to run as a gMSA account instead of network service or local system?  Our goal is the account the agent runs as is mostly irrelevant.  I'm interested in your scenario.

[2017-12-08 08:55] GitHubSriramB commented on #1303
@alexdegroot - we don't support ##vso[release.updatereleasenumber] command. We will be adding this support.

What is the value of $version variable you have used in the script? Would you be able to achieve what you want by setting relevant release name mask on the release definition?

[2017-12-08 16:20] EP01 opened #1322 "Deploy Agent: API resource location is not registered"
## Agent version and platform
2.124.0 onwards ...

## OS of the machine running the agent? OSX/Windows/Linux...
Windows Server 2008 R2

## VSTS type and version
On-Prem TFS

## If On-Prem TFS, which release, 2015 RTM/QU1/QU2?
2018 (Version 16.122.27102.1)

## What's not working?
When I try to register an agent as part of a deployment group with any version of the agent from 2.124.0 onwards I get t

[2017-12-08 19:30] lavahot commented on #455
@TingluoHuang What script is that?

[2017-12-10 09:00] michael-baker commented on #1294
Our build has many integration points. In some of these points we need login to various services or access resources a valid Windows user account (not machine like Network Service), so for us the agent needs to run as a Windows user.
gMSA lets us achieve this without having to worry about passwords in scripts which setup the agents on the machines in the build farm.

[2017-12-11 02:28] bryanmacfarlane commented on #1294
Thanks.  We will add to our backlog and leave this open so you can track progress

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Michael Baker <notifications@github.com>
Sent: Sunday, December 10, 2017 3:00:03 AM
To: Microsoft/vsts-agent
Cc: Bryan MacFarlane; Comment
Subject: Re: [Microsoft/vsts-agent] Agent installer does not support group managed service accou

[2017-12-11 05:06] omeshp commented on #1315
Another release that failed because of this issue: https://mseng.visualstudio.com/b924d696-3eae-4116-8443-9a18392d8544/_release?definitionId=1198&releaseId=2303410&_a=release-logs

[2017-12-11 06:22] nigurr commented on #1315
Addressed here: https://github.com/Microsoft/vsts-agent/pull/1324

[2017-12-11 07:16] lavahot commented on #455
Hmm. Seems like that wouldn't work on macOS then?

On Sun, Dec 10, 2017 at 8:20 PM, Ting <notifications@github.com> wrote:

[2017-12-11 08:32] nigurr commented on #1287
@EdwinVW sorry for the delayed response. Can you please share the template which you are using to spin up the agent?
or Sample build definition?

[2017-12-11 10:09] bryanmacfarlane commented on #455
Do you have a repro of a problem on Mac OS or is that a general question?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Taylor Mansfield <notifications@github.com>
Sent: Monday, December 11, 2017 1:16:43 AM
To: Microsoft/vsts-agent
Cc: Bryan MacFarlane; Comment
Subject: Re: [Microsoft/vsts-agent] Redhat: Error "Failed to initialize CoreCLR" during the installat

[2017-12-11 13:27] erikrenberg opened #1325 "Each TFS NPM build task has unnecessary delays of 2 * 3 minutes"
We're using TFS 2017 Update 2 on premises, and we have builds that use NPM tasks. We've noticed a two 3 minute+ delays in each NPM task in our builds. The builds do work, but of course take unnecessarily long.

_What is causing these delays? Is it a bug in vsts-agent? Or in Node that is causing node to not terminate correctly?_

More info:
* We've tried updating the vsts-agent on the build server

[2017-12-11 15:59] lavahot commented on #455
Not a very brief one. I need to try to isolate the issue in my cookbook. I'll make a new issue for macOS when I get closer to understanding the problem.

[2017-12-11 16:03] TingluoHuang commented on #455
@lavahot https://github.com/Microsoft/vsts-agent/releases/tag/v2.126.0 is built on netcore 2.0, which means there is no requirements for macOS 10.12
https://docs.microsoft.com/en-us/dotnet/core/macos-prerequisites?tabs=netcore2x

[2017-12-11 17:07] lavahot commented on #455
... isn't 2.125.0 also built on netcore 2.0?

[2017-12-11 17:09] TingluoHuang commented on #455
it is, but 2.125.0 has a little bug that may broken on macOS. you can use 2.125.1 or 2.126.0
the error you get on 2.125.0 is something about "not support exception, the SSL backend is not support for setup customized SSL validation handler."

[2017-12-11 18:36] slandsaw commented on #759
@slautebach was there a check to confirm TFS did not register an OAuth token?

[2017-12-11 19:07] TingluoHuang commented on #759
TFS 2018 contains a fix to address this problem.

[2017-12-11 19:53] lavahot commented on #455
Okay, I'm going to try a run on 2.126.0. I'll let you know the results.

[2017-12-11 23:38] Allann commented on #898
I just received this error.  We run on VSTS but build on a local agent.  This was straight after a successful build/deploy.  We ran the exact same build again (with clean set to true).  And received the error, except it doesn't appear to be a login error:

Happy to supply more details if needed.

[2017-12-12 07:12] #1315 closed

[2017-12-12 10:33] alexdegroot commented on #1303
@GitHubSriramB $version is resolved from some artifacts. I use the release to publish NuGet-nupkg files. I do extract the version out of it and execute some quality measurements. Then I do a NuGet publish and tag the source code. I'd like to have visual tractability for successful releases which did indeed publish something.

[2017-12-12 11:30] GitHubSriramB commented on #1303
Thanks for clarifying. We have added this to our backlog.

[2017-12-12 11:30] #1303 closed

[2017-12-12 12:32] EdwinVW commented on #1287
@nigurr I don't use a template or build definition. I use a DevTestLabs artifact (which is in fact a Powershell script) to install the agent. I've included the PowerShell script I used as attachment.

[install-buildagent.zip](https://github.com/Microsoft/vsts-agent/files/1551546/install-buildagent.zip)

[2017-12-12 17:24] lsprado commented on #1043
Hi All,
I'm using agent version 2.124.0 and I have the same issue with the capability AndroidSDK

[2017-12-12 18:39] TingluoHuang commented on #1043
@lsprado can you provide more detail about it? can you share your agent diag log?

[2017-12-13 01:33] jbaumbach opened #1326 "Microsoft.NETCore.Targets 1.0.2 is not compatible with UAP,Version=v10.0.14393"
## Have you try trouble shooting doc?
YES

## Agent version and platform
2.126.0 running on VSTS server

### OS of the machine running the agent? OSX/Windows/Linux...
Appears to be windows

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name? http://nliven-webpurchasing.visualstudio.com

## What's not working?
I upgraded our UWP app to use Microsoft.NETCore.Un

[2017-12-13 08:39] guanzhongpeng opened #1327 "Agent pre-requisites problem ./config.sh"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
Ubuntu 16.04 LTS

## VSTS type and version
TFS 2018

If On-Prem TFS, which release, 2015 RTM/QU1/QU2?

If VisualStudio.com, what is your account name? http://account.visualstudio.com

## What's not working?
agent  insall

## Agent and Work

[2017-12-13 11:44] creampie commented on #688
Same here, it is really annoying. Any plans to fix it?

[2017-12-13 12:37] bryanmacfarlane commented on #1327
Pre-reqs are not installed correctly.  Covered here
https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/v2-linux#check-prerequisites

You can also install the latest agent from github releases - v2.126.0 or greater (VSTS in the docs).  It works fine.  What's good about that version is it now carries a script to install the pre-reqs for you.

https://github.com/Microsoft/vsts-agent/b

[2017-12-13 12:37] #1327 closed

[2017-12-13 12:39] bryanmacfarlane commented on #1326
Please open an issue in the vsts-tasks repo.  The agent is an engine.  Note however I don't believe it's an issue with the task either (it just invokes msbuild).  This is likely an msbuild/nuget issue.  But we can route from there.

[2017-12-13 12:39] #1326 closed

[2017-12-13 12:41] bryanmacfarlane commented on #1325
This is not an agent issue.  Create an issue in the vsts-tasks repo (however I believe it's something to do with npm)  But we can route from there.

[2017-12-13 12:41] #1325 closed

[2017-12-13 17:58] jbaumbach commented on #1326
Done, thanks.

On Wed, Dec 13, 2017 at 4:39 AM, Bryan MacFarlane <notifications@github.com>
wrote:

--
John Baumbach

[2017-12-13 18:33] lambdakris opened #1328 "Cannot determine or control .NET CLI/SDK version for the .NET Core task"
## Agent version and platform
vsts-agent-win7-x64-2.112.0

Windows Server 2012 R2

## VSTS type and version
TFS 2017.3 (Version 15.117.27024.0)

## What's not working?
I have no way of determining what version of the .NET CLI is being used. Assuming that the .NET CLI version is the same as the .NET Core task version, then I suppose that it is 1.0.1 as that is what is printed out each time the task

[2017-12-13 22:10] bryanmacfarlane commented on #1328
That is the version of the task.  It's part of the task header.

The version of .net cli used is the one you choose to install on your agent machine (in the path).  If you are using the hosted build pool (image created by us), then you slide along as we update the image.  Outside of that, there is a tool installer task for .net core cli where you can pick the version to pull JIT.

That task should

[2017-12-13 22:10] #1328 closed

[2017-12-13 22:11] #1279 closed

[2017-12-14 09:56] nigurr commented on #1287
@EdwinVW from the DevTestlabs repo, there's no official support for interactive agent - https://github.com/Azure/azure-devtestlab/blob/master/Artifacts/windows-vsts-build-agent/vsts-agent-install.ps1#L248
Can you please check once?

[2017-12-14 13:35] joricteixeira opened #1330 "Multiple Agents via ARM template"
## Agent version and platform
Azure VM Extension 1.0 with minor auto upgrade

OS of the machine running the agent?
2012-R2-Datacenter
and
2016-Datacenter

## VSTS type and version
VisualStudio.com

joricteixeira.visualstudio.com
and
braspag.visualstudio.com

## What's not working?
I've provisioned a VM from template:
https://github.com/Azure/azure-quickstart-templates/tree/master/101-vm-with-rdp-p

[2017-12-14 22:35] EdwinVW commented on #1287
@nigurr I know. The artifact I mentioned in my last comment was created by me. I took the standard artifact you're referring to and changed the command-line in this script so it uses uses the autologon feature. I've attached the script in my last comment.

[2017-12-15 09:39] Vinzz opened #1332 "Release cannot download Server drop artifact, and tries for 37hours"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
Version of your agent? 2.117.2
OS of the machine running the agent? Windows 10
Windows_NT / 10.0.10240

## VSTS type and version
On-Prem TFS?

If On-Prem TFS, which release, 2017.3

## What's not working?
A release on multiple environment

[2017-12-15 16:02] TingluoHuang commented on #1332
@GitHubSriramB

[2017-12-18 07:40] americanhanko opened #1333 "Change in Agent Download Location Breaks GitHub API Parsing"
I noticed that in version `2.126.0`, the builds are now being hosted in Azure as opposed to previously being hosted on GitHub:

[code]

Prior to this, I was able to get the latest version of macOS agent using Ruby using a method like this:

[code]

I'm opening this issue to get a few questions answered so that I can adjust the [macOS vsts-agent Chef cookbook](https://github.com/americanhanko/vsts-

[2017-12-18 16:03] TingluoHuang commented on #1333
- Is this change permanent? `YES`

Here is the way i would suggest to get latest agent version.
`https://account.visualstudio.com/_apis/distributedtask/packages/agent?%24top=1` (top 1 of all agents)
`https://account.visualstudio.com/_apis/distributedtask/packages/agent/osx-x64?%24top=1` (top 1 of osx agent)

You will get a JSON response like this:
[code]

Then you can get the download Url.

[2017-12-18 16:53] ppanyukov opened #1334 "Artifact downloads: broken file permission mask"
I'm not sure if this is the agent issue or the changed they've just made to VSTS Release on the server somewhere.  The agent version before/after things broke is the same.

Basically, today there was a change how artifacts get downloaded during our release pipeline. Before the change the "executable" permissions were ratained. After the changes all downloaded files no longer hanve the "executable"

[2017-12-18 17:01] TingluoHuang commented on #1334
@ppanyukov have you check the source artifact? anything changed in the source build?

[2017-12-18 17:18] ppanyukov commented on #1334
Nothing changed in the source artifact. The release uses the same artifact from the same build.

<img width="765" alt="screen shot 2017-12-18 at 17 11 50" src="https://user-images.githubusercontent.com/300031/34118447-b08bfb48-e416-11e7-88f5-e073506d1f23.png">

You can see there are differences how artifacts are being downloaded though. So I'd say it's something they've done on the server side, it

[2017-12-18 17:21] TingluoHuang commented on #1334
has the task version changed between those 2 releases, you should be able to check the task version info from your release log for that step?

[2017-12-18 17:22] omeshp commented on #1334
@ppanyukov We did enable then feature of downloading artifact using task. Can you share your vsts-account name? I will disable this feature until wen get it fixed.

[2017-12-19 03:14] tstooke commented on #1334
We are experiencing issues related to the new "download using task" feature.  It has broken all of our Releases across our entire VSTS account - and we didn't change anything.  Our Agents are still running 2.116.1, and we are not able to update them (for various other reasons).  What is the best way to get the new "download using task" feature turned off for our account?
![image](https://user-imag

[2017-12-19 04:15] omeshp commented on #1334
@tstooke what is your vsts account name?

[2017-12-19 04:18] tstooke commented on #1334
nestle-nppc

[2017-12-19 04:23] omeshp commented on #1334
ok, i have turned off the feature for your account till we investigate why you are seeing these errors.

[2017-12-19 04:24] tstooke commented on #1334
Thank you so much!  That was super easy!
If there's any further information that you'd like to have, just let me know.  We have some extensive logs from our internal troubleshooting sessions on this.

[2017-12-19 05:31] omeshp commented on #1334
@tstooke that would be great, can you share the debugging info and logs at omeshp@microsoft.com. I will take a look the issue today.

[2017-12-19 14:09] balfa666 opened #1335 "Special characters in password while using unattended"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
Version of your agent? 2.126

OS of the machine running the agent? Windows Server 2012 R2

## VSTS type and version
On-Prem TFS 2017 update 2

## What's not working?
Are special characters in password while using unattended installation fo

[2017-12-19 15:06] ericsciple commented on #1335
the escaping rules depend on the shell you are using

[2017-12-19 15:08] ericsciple commented on #1335
on windows `cmd /?` for cmd escaping rules, or for powershell using the single quoted string might be the easiest route, since single quote is the only character you need to handle. for example: `'this string has an escaped '' single quote'`

[2017-12-19 15:08] #1335 closed

[2017-12-19 15:34] balfa666 commented on #1335
I'm using powershell.

I've tried
"$password = "&67^98jhuHyg"
"$password = '&67^98jhuHyg'
"$password = ConvertTo-SecureString "&67^98jhuHyg" -AsPlainText -Force"
"$password = ConvertTo-SecureString '&67^98jhuHyg' -AsPlainText -Force"

First 2 fail with: Unrecognized command-line input arguments: 'windowsLogonPassword'
2 other fail with ""Invalid windows credentials entered.""

& $agentExecutablePa

[2017-12-19 15:38] ericsciple commented on #1335
it would be better to use the env var `VSTS_AGENT_INPUT_<ARGUMENT_NAME>`, check `.\config.cmd --help`

[2017-12-19 15:39] ericsciple commented on #1335
also you cannot pass a secure string from powershell to a command line application

[2017-12-19 15:41] balfa666 commented on #1335
Anywhere i can find more info for environment variables? Config --help does not list much

[2017-12-19 15:44] ericsciple commented on #1335
[code]

[2017-12-19 15:47] balfa666 commented on #1335
Many thanks. Everything works great. Last question, should i always use those variables for all arguments?

[2017-12-19 15:57] ericsciple commented on #1335
Typically I prefer passing arguments on the command line, since that is the common pattern.

However, I prefer passing arguments as environment variables when either of the following are true:
1. The argument contains hard to escape sequences. Not only does the shell you are using come into play, but also how the downstream application is parsing the command line. Generally it's not too much of a

[2017-12-19 16:03] balfa666 commented on #1335
Thanks for all your help. Have a nice day

[2017-12-19 17:01] ppanyukov commented on #1334
@omeshp our account is `talktalktv`, probably worth disabling this new feature for us, in case it breaks other releases in this busy pre-christmas time! :)

[2017-12-19 20:07] jmelosegui opened #1336 "Allow to expand inline expressions on task parameters"
Using TFS I want to deploy the same web application to two different locations (West, Central). For this, I am trying to run phases concurrently to both locations using the `Run on multiple agents in parallel` option.
![image](https://user-images.githubusercontent.com/450246/34176456-e7e670b6-e4cd-11e7-906a-acf3c26cde45.png)

The following sample contains only one step `Deploy Website files`

![im

[2017-12-19 23:19] IAMtheIAM commented on #979
The agent is way behind, were on node v9.0 now and its using 6.11, please update asap

[2017-12-19 23:20] IAMtheIAM opened #1337 "node version is way behind official"
The agent is way behind, were on node v9.0 now and its using `user-agent = "npm/3.10.10 node/v6.11.5 win32 x64"`, please update asap

This is for `VSTS hosted` and `VSTS Hosted 2017` build agents

[2017-12-19 23:44] TingluoHuang commented on #1337
@IAMtheIAM can you share more detail about the problem you hit? are you a task author that writing customize vsts task? or you just want to use node.exe to run some script?

[2017-12-20 00:05] IAMtheIAM commented on #1337
I am just using vsts as a build agent for my node npm tasks.

It ships with
[code]
However I just realized I can upgrade it with the [Node Tool Installer](https://docs.microsoft.com/en-us/vsts/build-release/tasks/tool/node-js) and set the version I want. However I just think it would be good if by default, it used the latest version, maybe getting updated once a month.

[2017-12-20 00:07] ericsciple commented on #1337
this is the repo for the build agent itself, not the hosted image. we will pass along this feedback to the folks who manage the software on the hosted image

[2017-12-20 00:07] #1337 closed

[2017-12-20 00:07] IAMtheIAM commented on #1337
Oh ok, great. Thanks!

[2017-12-20 02:32] ericsciple commented on #1337
Fyi, this has been updated in the repo that is now used to manage the hosted vs 2017 image. Here is the commit https://github.com/Microsoft/vsts-image-generation/commit/9a7fd1c311fc08eefff2dfb078a92c9b910d6ee1

I am told the change will roll out with the next image update, but a few things are still pending before that release is ready. My guess is within the next few weeks or so.

It looks like i

[2017-12-20 07:34] omeshp commented on #1334
@ppanyukov I have disabled the feature for you account till we fix this issue.

[2017-12-20 16:14] Tarig0 commented on #1159
By sharing of deployment group targets, do you mean being able to have

- 1 Agent -> multiple projects with only 1 group in each
- 1 Agent -> 1 project multiple groups
- 1 Agent -> multiple projects and multiple groups

[2017-12-20 16:48] RoopeshNair commented on #1159
@Tarig0, It is the first one: 1 agent --> multiple projects with 1 group in each

[2017-12-21 01:17] scottstout commented on #1043
It sounds like Xamarin.Andriod capability is not fixed. I would like to manually add this capability. Can you tell me what path I should be using? Would it it be /Library/Frameworks/Xamarin.Andriod.framework

Do I need to keep drilling down past this level to a specific version?

[2017-12-21 01:22] madhurig commented on #1043
@scottstout: What you have should be fine? You don't need a drill down to the version.

[2017-12-21 10:10] prashantvc commented on #1043
I am hitting similar issue since I updated Xamarin tools on my build-agent

![image](https://user-images.githubusercontent.com/328076/34251161-278f983a-e665-11e7-9737-9dd4737b9194.png)

As you can see VSTS still complaining :(

[2017-12-21 17:47] ShadySQL opened #1341 "Certificate error"
Agent Version: 2.119.1

2017-12-21T18:27:41.2150717Z ##[error]Failed in getBuild with error: Error: unable to get local issuer certificate
2017-12-21T18:27:41.2306911Z ##[error]{"stack":"Error: unable to get local issuer certificate\n    at Error (native)\n    at TLSSocket.<anonymous> (_tls_wrap.js:1092:38)\n    at emitNone (events.js:86:13)\n    at TLSSocket.emit (events.js:185:7)\n    at TLSSock

[2017-12-21 18:10] madhurig commented on #1043
@prashantvc: Can you please open a new bug for Xamarin capabilities on macOS? This issue is tracking capability not being detected on Windows. To unblock yourself you can add "Xamarin.Android" capability on your agent manually, the value can be set to anything say  /Library/Frameworks/Xamarin.Andriod.framework.

[2017-12-21 18:25] madhurig commented on #1043
@Vladis466: The issue you are seeing is not related to capabilities published by the agent. The build agent invokes msbuild and relies on msbuild to find the right dependencies based on the targets defined by the Xamarin team. Please verify what version of msbuild you are targeting and if you continue to have issues, please open a bug here: https://github.com/Microsoft/vsts-tasks/issues

Thanks,
M

[2017-12-21 19:16] TingluoHuang commented on #1341
@ShadySQL does your agents connect to VSTS or TFS? if connect to TFS, have you check with your TFS admin to see whether they changed the TFS SSL certificate recently?

[2017-12-21 19:17] ShadySQL commented on #1341
I'am using VSTS.

[2017-12-21 19:19] TingluoHuang commented on #1341
@ShadySQL what's your VSTS account? do you have any http proxy or load balancer between your build agent machine and VSTS?

[2017-12-21 19:19] ShadySQL commented on #1341
I followed this guide:

https://blogs.msdn.microsoft.com/phkelley/2014/01/20/adding-a-corporate-or-self-signed-certificate-authority-to-git-exes-store/

I have three agents running on one machine and they all have the same ca bundle so I created a new directory and moved it there and then ran a git config to point to it, such as:

git config --global http.sslCAInfo D:\test\cert\ca-bundle.crt

[2017-12-21 19:21] TingluoHuang commented on #1341
@ShadySQL I think that blog post is for On-Prem TFS

[2017-12-21 19:21] ShadySQL commented on #1341
network team placed a proxy and now I am using a .proxy file for the agent with the name of the proxy.

[2017-12-21 19:23] ShadySQL commented on #1341
DO I even need to do that? Adding that:

git config --global http.sslCAInfo D:\test\cert\ca-bundle.crt

I appended the root cert from our VSTS server

[2017-12-21 19:27] TingluoHuang commented on #1341
@ShadySQL
base on what you described, you are using TFS not VSTS.
VSTS is the cloud version of TFS, and the instance is hosted in Azure

On-Prem TFS is the one that you are using and the server is hosted on your private network.

Can you access your TFS site from IE on those build machine without hitting certificate error?

Check with your network team see whether the proxy they added will try to

[2017-12-21 19:47] ShadySQL commented on #1341
<img width="197" alt="screen shot 2017-12-21 at 22 47 14" src="https://user-images.githubusercontent.com/7299059/34272330-ec5a7276-e6a0-11e7-8454-88e2d1644570.png">

[2017-12-21 19:47] ShadySQL commented on #1341
I can 1000% guarantee is VSTS

[2017-12-21 19:49] TingluoHuang commented on #1341
OK,
Can you access your VSTS account from IE/Chrome on those build machine without hitting certificate error?

Check with your network team see whether the proxy they added will try to decrypt the https traffic, like Fiddler does? if so, you need to install the proxy's root certificate into your build machine's cert store.

[2017-12-21 19:49] TingluoHuang commented on #1341
what's your full VSTS account name?

[2017-12-21 19:50] ShadySQL commented on #1341
Its sensitive - are you an MS employee?

[2017-12-21 19:51] ShadySQL commented on #1341
Check with your network team see whether the proxy they added will try to decrypt the https traffic, like Fiddler does? if so, you need to install the proxy's root certificate into your build machine's cert store.

**_Yes this is what they are trying to do!_**

[2017-12-21 19:52] TingluoHuang commented on #1341
did you install the proxy root cert into machine store?

[2017-12-21 19:53] ShadySQL commented on #1341
no I havent...I need to try it tomorrow and get back at this to see if I have made any progress or if the issues persists.

[2017-12-21 19:53] TingluoHuang commented on #1341
i am a MS employee. you can send any information that you think is sensitive to `tihuang@microsoft.com`

[2017-12-21 19:56] TingluoHuang commented on #1341
if the agent is working fine before they add the proxy, and now all agents start hitting the security error, plus the proxy is trying to decrypt HTTPS traffic.
Then install the proxy root cert into the machine's certificate store should fix the agent itself, but you might still need extra step to make git.exe work.
[code]
https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting#

[2017-12-21 19:58] ShadySQL commented on #1341
OK I will try that once the folks give me the cert and proceed investigating.

[2017-12-21 20:01] TingluoHuang commented on #1341
BTW, is there a really good reason to have a proxy that decrypt HTTPS traffic in your environment?
it may cause extra problem to some tools you used during your build, like Nuget, Npm, etc.

[2017-12-21 20:25] madhurig commented on #1043
Fix for new versions of Xamarin.Android (i.e. VS for Mac) on macOS: https://github.com/Microsoft/vsts-agent/pull/1342

[2017-12-22 04:39] americanhanko commented on #1333
Thanks @TingluoHuang !

[2017-12-22 04:39] #1333 closed

[2017-12-22 08:17] ShadySQL commented on #1341
I installed all the proxy certificates in the machine and the error persists. I also installed Google Chrome on the machine and I am not able to reach my VSTS subscription.

Its much more involved than this and I think the network team needs to get busy however any other advice would be helpful.

[2017-12-22 15:30] TingluoHuang commented on #1341
@ShadySQL what cert error you get when you try to access your VSTS account in browser?

[2017-12-23 14:55] mayuki opened #1344 ".NET Core task outputs garbled characters in build log on non EN-US environments."
## Agent version and platform
- Agent: 2.126.0
- OS: Windows Server 2016 (Japanese)

## VSTS type and version
- VSTS

## What's not working?
.NET Core task outputs garbled characters in build log on non EN-US environments.

![image](https://user-images.githubusercontent.com/9012/34320280-ea8e4f9a-e839-11e7-8052-376657676aed.png)

`.NET Core` Task runs `dotnet` command with stdout encoding as UTF-8

[2017-12-23 15:00] scyentyfyc commented on #1225
I know this is closed, but it is the only thread I found talking about ARM / Raspberry Pi... which makes me wonder, how does everybody else automate deployment to ARMv7 / aarch64 machines?

[2017-12-25 07:25] ShadySQL commented on #1341
OK so installing the FW/Proxy certificates in the machine did not fix this. @TingluoHuang for some servers I'am getting an SSL error when I open up a browser but on some others I dont - in both cases I am still not able to get this to work.

[2017-12-25 19:22] serhit commented on #1341
Interesting note: one agent is configured to connect VSTS through the proxy.
This agent may run build and publish build artifact (i.e. no problems with SSL while doing git fetch, and call to API that publishes build result).
However, the same agent fails to download artifact it has just uploaded with "unable to get local issuer certificate"

Is processes of upload artifact and download artifact ha

[2017-12-26 05:07] TingluoHuang commented on #1341
@serhit what's your agent version? can you share the error log for download artifact?

[2017-12-26 07:24] serhit commented on #1341
Agent version: 2.119.1;
Download Build Artifacts task version: 0.127.5

Log for download of artifact is attached (release name, account, and proxy server details are removed)
[4_Download artifact - release_name.log](https://github.com/Microsoft/vsts-agent/files/1586846/4_Download.artifact.-.release_name.log)

[2017-12-26 15:35] serhit commented on #1341
@TingluoHuang, additional details.
Agents are also capible to execute simple release scenario with inline powershell scripts - script definition is downloaded successfully through the proxy. Still issue is only with downloading the build artifacts.

[2017-12-26 20:35] StingyJack commented on #1186
@bryanmacfarlane  - I think I get what you mean. The source of this v2/Tfs14 complaint is that I have a problem with built artifact download speed on the LAN being really slow compared to windows file copy from the same machines.

I'm only here because I'm trying to see if the v2 agent addresses this problem. The MSFT advice [over here](https://developercommunity.visualstudio.com/content/problem/7

[2017-12-27 07:29] bartdkmediahuis commented on #1043
@madhurig : There is a minor typo in your post. Mind fixing the "Andriod" to "Android" ? Just in case someone does a copy paste. Thanks.
Any idea on a release date for the above fix ? #1342 ?

[2017-12-27 10:34] ShreyasRmsft commented on #1287
Could you try a few things:

1) Have you tried re-running the artifact after say manually running the script on the vm once via rdp
2) Manually check if the subkey exists (the one the script claims doesn't)
3) Try out a simple powershell script that just tries to read this subkey and run it as an artifact or extension

It is a possibility that when running scripts via an atifact they may not have

[2017-12-27 18:17] raghusrikanth opened #1345 "TFS 2017 build agent setup failing with timeout while testing connection."
While setting up TFS 2017 build agent I am getting below error

[2017-12-27 18:02:04Z WARN VisualStudioServices] Authentication failed with status code 401.
Date: Wed, 27 Dec 2017 18:02:03 GMT
P3P: CP="CAO DSP COR ADMa DEV CONo TELo CUR PSA PSD TAI IVDo OUR SAMi BUS DEM NAV STA UNI COM INT PHY ONL FIN PUR LOC CNT"
Server: Microsoft-IIS/7.5
WWW-Authenticate: Bearer, Basic realm="http://tfsserver.co

[2017-12-27 21:16] eorengo commented on #1043
Hi there,
I am having the same problem. Actually, I have 3 of the 4 capabilities that mention here:

![image](https://user-images.githubusercontent.com/5365475/34393451-42d2c48e-eb31-11e7-996e-7bd89fcd3ce5.png)

But then, when the build failed I got some more:

![image](https://user-images.githubusercontent.com/5365475/34393484-8ffb08a2-eb31-11e7-8ccc-579ff90af101.png)

My agent.version is 2.112.0

[2017-12-27 21:34] yacaovsnc commented on #1043
@eorengo your agent is missing one of the required capabilities.  Since you are using a private agent, you can define "user capabilities" and workaround this issue.

From the "Gear icon" -> Agent Queues -> Select your queue and on the right most panel, select "Capabilities".  Add a user capability there and you should pass this validation.  You can also check which capability you are missing from

[2017-12-27 21:50] tolgabalci opened #1346 "Configure an agent for both build and deployment"
**Have you try trouble shooting doc?**
Yes

**Agent version and platform**
Version of your agent? 2.126.0

OS of the machine running the agent? OSX/Windows/Linux...
Windows Server 2012 R2 standard

**VSTS type and version**
VisualStudio.com

## Issue
I would like configure an agent for both build and deployment.  Is this possible?  If so how?  **What would the config.cmd look like to accomplish th

[2017-12-28 13:06] madhurig commented on #1043
@bartdkmediahuis: Thanks, I fixed the typo. The fix will start deploying in mid January due to the holidays.

@scottstout: Please check if you have the same type "Andriod" in your capability.

Thanks,
Madhuri

[2017-12-28 14:17] rudidlo opened #1347 "Setting Clean = True gives a TFS error"
## Agent version and platform
Version of your agent? 2.122.1

Windows Server 2016 Standard

## VSTS type and version
On Premise TFS 2018

## What's not working?
Setting Clean = True gives a TFS error

We migrated from TFS 2015 and installed new agent to communicate with new TFS. We have *.dg file created for **dotnet restore** command just under working folder **s** subdirectory. We had in previou

[2017-12-28 14:58] SympaHannuPiki commented on #871
@PBoraMSFT: Could you say if this is related to following VSTS release note item: "Make test platform bits xcopyable to remove VS dependency in CI/CD workflows"?  Just trying to figure what item to follow.

[2017-12-28 15:11] PBoraMSFT commented on #871
@Lexcess, @SympaHannuPiki - this has already shipped with Sprint 126.
https://docs.microsoft.com/en-us/vsts/release-notes/2017/nov-28-vsts#test

[2017-12-28 15:13] serhit commented on #1341
I think we may close this topic. We sorted things with our networking team (agreed to disable SSL inspection).
@TingluoHuang, thank you for support.

[2017-12-28 16:41] TingluoHuang commented on #1341
another way might be set env variable `NODE_TLS_REJECT_UNAUTHORIZED=0` on the agent machine and restart the agent. the environment variable should allow node.js skip SSL validation error.
but, i am not sure whether that is what you want.

[2017-12-28 19:33] vvikram05 opened #1348 "deployment agent installation error"
We aere facing error while deployment on 2088 R2 SP1 servers.

[2017-12-28 01:02:42Z INFO RSAEncryptedFileKeyManager] Creating new RSA key using 2048-bit key length
[2017-12-28 01:02:42Z ERR  Agent] Internal.Cryptography.CryptoThrowHelper+WindowsCryptographicException: Object was not found
   at System.Security.Cryptography.CngKeyLite.GenerateNewExportableKey(String algorithm, Int32 keySize)
   at

[2017-12-28 20:06] ShadySQL commented on #1341
and what could be the env variable name so the agent gets it?

[2017-12-29 17:38] reinaldoarrosi opened #1349 "Wrong SourceBranch and SourceVersion with variables in workspace mapping (sever path)"
## Agent version and platform
Agent version: 2.117.2
OS: Windows

## VSTS type and version
On-premise TFS 2017 Update 2 RTM (15.117.26714.0)

## What's not working?
When using TFVC repository and using variables in workspace mapping (Sever Path) both Build.SourceBranch and Build.SourceVersion do not have the expected values.

Given the following scenario:
- 2 branches called "$/MyTeamProject/branc

[2018-01-02 15:49] TingluoHuang commented on #1348
@vvikram05 during configuration, what is your run as user? which user run the `config.cmd`?

[2018-01-02 21:42] hamptont commented on #838
+1 would also like to see support for BUILD_SOURCEBRANCHFULLNAME

[2018-01-03 18:08] dagrooms52 commented on #1225
I have a Mac machine running a VSTS task to ssh into a ras pi, all using the services provided by resin.io

[2018-01-04 09:41] ShreyasRmsft commented on #1287
@EdwinVW Hi any progress?

[2018-01-04 10:47] ophintor opened #1353 "Installing dependencies in Linux should allow for --allow-unauthenticated"
## Have you try trouble shooting doc?
Yes

## Agent version and platform
2.126

OS of the machine running the agent? ubuntu 16.04

## What's not working?
Installing dependencies in Linux should allow for --allow-unauthenticated:
[code]

[2018-01-04 10:52] ophintor commented on #1353
Fixed by running the above - apologies. Not sure if this is documented though.
[code]

[2018-01-04 11:20] EdwinVW commented on #1287
@ShreyasRmsft

1. This works. Also when logging in using RDP first and then running the artifact on this machine from DevTestLabs, it works.
2. If I log in using RDP and check the key it exists.
3. No time to execute this (I'm not actively working on the project I needed this for).

[2018-01-04 16:43] jdholbrook81 opened #1354 "Assets is empty in API feed for latest release?"
https://api.github.com/repos/Microsoft/vsts-agent/releases/latest

assets shows as:
  "assets": [

  ],

Assets are shown in the release notes: https://github.com/Microsoft/vsts-agent/releases/latest

Was using this to pull down latest agent as part of an agent build.

[2018-01-04 18:27] ppanyukov commented on #1354
Yes, this has completely broken our agent auto-update on restart feature, effectively rendering all our agents dead.

In fact, the whole URL scheme has changed for downloads.

**v2.124.0 and earlier** we'd use this URL:

[code]

**AFTER v2.124.0** the URL scheme becomes very different:

[code]

The host is different, the path is different, the name of the tar is different.

Basically, completely n

[2018-01-04 18:33] TingluoHuang commented on #1354
@jdholbrook81 @ppanyukov we used github as a storage for the agent package before, and now we start using Azure Blob Storage for the agent package, the back compat is built-in to VSTS. Your script should query VSTS to get the latest agent package location.

https://github.com/Microsoft/vsts-agent/issues/1333

[2018-01-04 18:34] TingluoHuang commented on #1354
@ppanyukov can you provide more detail about your `agent auto-update on restart feature`?

[2018-01-04 18:59] ppanyukov commented on #1354
@TingluoHuang we have agent startup bash script which goes along these lines:

[code]

We implemented this to primarily resolve the following issue:

- VSTS (visualstudio.com) would occasionally tell the agent that it is too old, and tell it to shutdown. Since we use docker with `autorestart=always` policy, docker would restart the container, but then the agent would be told that it's too old and

[2018-01-04 19:08] jdholbrook81 commented on #1354
The unfortunate side of querying VSTS is we have to manage another PAT.

[2018-01-04 19:10] TingluoHuang commented on #1354
@jdholbrook81 I assume your already have to manage a PAT for agent config, right? that PAT should work.

[2018-01-04 19:44] jdholbrook81 commented on #1354
@TingluoHuang currently we do the config during release. Build pulls the agent and then config happens on a per environment basis during release. We could refactor this of needed. but would like to avoid.

[2018-01-05 05:47] ShreyasRmsft commented on #1287
@EdwinVW, this artifact is in our backlog. We will look into the issue more closely when we pick it up. I am closing this issue out now.

[2018-01-05 05:53] #1287 closed

[2018-01-05 09:45] Scott-Emberson opened #1356 "Agent's bypass TFS Proxy Server"
So in our company, we have multiple global sites, all with their own build servers and proxy servers, to help decrease build time. We have started to move over to vsts-agents now and I am finding that the vsts agent bypasses the TFS proxy server.

##Setup Details

## Agent version and platform
2.124.0 x64

OS of the machine running the agent
Windows Server 2016

## VSTS type and version
On-Prem TF

[2018-01-05 13:56] ivandjordjevic opened #1357 "Private agent gets error when running build: Exit code 100 returned from process: file name 'tf', arguments 'vc workspaces /format:xml /collection:https://oursite.visualstudio.com/ /loginType:OAuth /login:.,******** /noprompt'."
Private agent (version vsts-agent-win-x64-2.126.0) running on local machine gets error when trying to build online VSTS with error:

[code]
This happend during **Get Sources**. Log i have is this one:

[code]

[2018-01-05 14:00] bryanmacfarlane commented on #1356
What user is the agent running as?  Is the proxy configured for that user?  I would log on as that user and configure the proxy, ensure it's working from the cli.

[2018-01-05 14:07] bryanmacfarlane commented on #1346
No, each instance of the agent is configured build or deployment agent.  That's why we allow SxS instances on a machine.  They are xcopy, unzip, configure in two SxS directories.

[2018-01-05 14:07] #1346 closed

[2018-01-05 14:11] bryanmacfarlane commented on #1354
The backend of VSTS of where the agent is located is the definitive truth.  That was intentional so we could change locations in the future (we always knew we would move assets to a CDN).  If you query the VSTS backend, you'll notice a list of versions - some pointing to GH release urls and some pointing to the new CDN.

Ting, is there a way to set the assets collection pointing to the CDN locatio

[2018-01-05 14:14] bryanmacfarlane commented on #1269
Closing since no activity or answers to questions.

[2018-01-05 14:14] #1269 closed

[2018-01-05 15:20] TingluoHuang commented on #1356
@Scott-Emberson can you share your agent diag log? or build log that indicate it bypass your http proxy server?  For `TFS proxy server`, do you mean the TFVC proxy server TFS provided for download TFVC source content?

[2018-01-05 15:22] vinaykalasannavar opened #1358 "tf.exe fails with invalid uri"
## Agent version and platform
Version of your agent? 2.126.0

OS of the machine running the agent?
Windows 7

## VSTS type and version
https://<our-site>.VisualStudio.com

## What's not working?
**vsts-agent-win-x64-2.126.0** doesn't work when installed as a service.. on a Win7 machine for a VSTS environment

The build fails at the step "Get Services":
with the error message:

2018-01-05T12:13:08.

[2018-01-05 15:24] TingluoHuang commented on #1354
@bryanmacfarlane no you can't, the only way to set the assets collection for github release is to upload a file.
Should we upload the agent package to both location? github and CDN
So, folks from github can still query github release assets, and users from VSTS/TFS/AgentUpdate will use Azure CDN.

[2018-01-05 15:41] TingluoHuang commented on #1357
@ivandjordjevic where did you get your private agent? can you zip up your agent's `externals\vstsom` folder and share with us? i am wonder there is a assembly mismatch.

[2018-01-05 15:55] shtratos opened #1359 "VSTS agent service is not started after reboot"
## Have you try trouble shooting doc?
yes

## Agent version and platform
Version of your agent? 2.126.0
OS of the machine running the agent?
Windows Server 2016 on Azure

## VSTS type and version
VisualStudio.com
If VisualStudio.com, what is your account name? http://msresearch.visualstudio.com

## What's not working?

We install VSTS agents to run as a Windows service.
The Windows Azure VM that h

[2018-01-05 16:03] shtratos commented on #1357
Related? #1358

[2018-01-05 16:21] TingluoHuang commented on #1357
@shtratos they are 2 different error.
[code]
VS
[code]

[2018-01-05 16:40] TingluoHuang commented on #1358
@vinaykalasannavar when you run as service, which account it's running as?
can you check registry for that account?
search `TeamFoundation\Instances` under `HK_Current_User`

[2018-01-05 17:05] vinaykalasannavar commented on #1358
I've tried the two options:
When installing using
config.cmd --unattended...
it's under NT AUTHORITY\NETWORKSERVICE
I've also tried installing it to run under a domain account, by just config.cmd , and doing the interactive installation:
![image](https://user-images.githubusercontent.com/7059125/34619583-83bc92b2-f23a-11e7-9006-a75c5fb320aa.png)
Enter User account to use for the service (press ent

[2018-01-05 17:08] TingluoHuang commented on #1358
@vinaykalasannavar have you try config as service with a domain account instead of `network service`?

[2018-01-05 17:13] TingluoHuang commented on #1358
@vinaykalasannavar also, can you disable sync source, and add a PowerShell task to search you registry, looking for `TeamFoundation` under `HK_Current_User`

[2018-01-05 17:26] vinaykalasannavar commented on #1358
How do I disable sync source?
What do you intend the powershell task to achieve, after searching for `TeamFoundation `under `HK_Current_User`?

Also, earlier when I said it's running under NETWIRK SERVICE, I say that because the command prompt tells me this:
![image](https://user-images.githubusercontent.com/7059125/34620486-89826e30-f23d-11e7-8d90-a63e6cdf3cfa.png)

I can't physically find a regi

[2018-01-05 17:30] vinaykalasannavar commented on #1358
Also, why are you digging into what service it's running under, the error log seems to say:

[code]

[2018-01-05 17:33] TingluoHuang commented on #1358
set machine level env `agent.source.skip=true` will disable sync source.
check the Uri value of your registry, is that a valid url?

the error `Invalid URI: The hostname could not be parsed` seems like coming from Tf.exe itself, it haven't hit the service yet.

Which means in tf.exe's code there should be a place, we try to do New Uri("invaliduri") which cause the problem.

after check the source

[2018-01-05 21:56] TingluoHuang commented on #1356
@Scott-Emberson if you are using `TFS proxy server` for your tfvc content, you want to run `%AgentRoot%\externals\vstsom\tf.exe settings proxy /configure http://tfvcproxyserver:8081`

[2018-01-06 03:08] bryanmacfarlane commented on #1354
@TingluoHuang - maybe we can upload a json file with location info where to get from CDN.  That at least avoids the pain mentioned above of maintaining a PAT to query VSTS.  They just do a get on that file and then follow it.

[2018-01-06 10:56] Scott-Emberson commented on #1356
@bryanmacfarlane
The agents connect to TFS as local accounts and run as a windows service as Network Service
@TingluoHuang
Apologies yes I am talking about TFVC proxy server (I have updated my original issue)
I have run the command you suggested and it completes fine but I see no change.
I can confirm the proxy is working correct due to testing it with Visual Studio

[2018-01-06 15:12] bryanmacfarlane commented on #1356
@Scott-Emberson - as a troubleshooting step (at a minimum), try to configure an agent running as a user account (agents can be sxs on the same machine, use a different name).  Log onto the machine as that user and configure the tf proxy.  From the cli, ensure it's using the proxy.  Run builds using that agent.

[2018-01-07 15:56] ivandjordjevic commented on #1357
@TingluoHuang Try this [link](https://drive.google.com/file/d/1UFjrAbpz-rn_EalEYXospBNThCn5MTEg/view?usp=sharing).

[2018-01-08 15:01] TingluoHuang commented on #1356
@Scott-Emberson base on source code of tf.exe, the tfvc proxy setting is stored at User Registry, so please try run the agent as the same user you run `tf settings proxy /configure`

[2018-01-08 15:54] TingluoHuang commented on #1359
@shtratos thanks for reporting this, i will take a look.

[2018-01-08 16:13] TingluoHuang commented on #1341
@ShadySQL agent gets what?

[2018-01-09 12:01] vinaykalasannavar commented on #1358
@TingluoHuang

I tried `agent.source.skip=true`:
The build skipped the `Get Sources` step
[code]
But then the build failed failed at the next step - (`NuGet restore`) saying it couldn't find the required file:

[code]

I also had reinstalled the agent (because earlier, I had set it to run manually with autologon configured).
So here's what I did before running the build:
- `config.cmd remove` (sin

[2018-01-09 21:52] bwillis416 opened #1363 "Agent waits to drain console loglines to the web console before completing build which can lead to build timeouts when console log is huge."
## Have you try trouble shooting doc? Yes
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
Latest

OS of the machine running the agent? Windows
## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name? http://microsoft.visualstudio.com

## What's not working?
Builds are timing out while waiti

[2018-01-10 12:20] mhgamework commented on #1359
I have a similar issue. When i restart the vm, the vsts agent wont start and dissapears from the windows startup services in services.msc. it seems to lost configuration/unconfigured, because i have to run ./config again.

I got this error in the log:

[code]

[2018-01-10 14:12] omeshp commented on #1334
@ppanyukov Hi, I was trying to repro this issue, I publish a build server drop artifact having file with execute permissions, but when I downloaded it using both new and old flow the file it is downloaded with 644 permissions. I used hosted linux agent to repro, below are the snapshots:-

![image](https://user-images.githubusercontent.com/11783897/34776700-c5ce7466-f63d-11e7-99ba-ca13e455d0fe.png)

[2018-01-10 15:18] TingluoHuang commented on #1359
@mhgamework looks like you have different problem, can you share the log that indicate the agent lost it's config?

[2018-01-10 16:26] mhgamework commented on #1359
I dont have a log file for that. After a VM restart, when i run "./run" it says the agent is not configured yet. When i then try "./config" it proceeds with prompting for config information and setting up, instead of saying it is configured already and should call "./config remove"

[2018-01-10 16:31] TingluoHuang commented on #1359
@mhgamework what kind of VM you have? does it has any restore point? will restart remove any file from disk?

[2018-01-10 16:52] thecontrarycat commented on #688
Why has this taken nearly a year to get fixed?  Every time the TFS agent updates we have to go through this rigmarole on *every* *single* *build agent*.  Tedious, and extremely annoying when we all know there's a solution but it's just not been integrated yet.

[2018-01-10 17:20] TingluoHuang commented on #688
@thecontrarycat why you need to touch every single build agent on updates? you should be able to set user level git config once, then you should be good.

[2018-01-10 17:28] TingluoHuang commented on #688
i will try to switch git to use `schannel` for ssl backend in next agent release after testing, i checked we already has the version of git that support this feature.

[2018-01-10 19:31] #1363 closed

[2018-01-10 23:51] TingluoHuang commented on #688
@thechrisjohnson i did some testing, looks like `Schannel` has requirements on your certificate, ex, you cert needs to have CRL distribution point set properly.
do you have that in your cert today?

[2018-01-11 08:27] creampie commented on #688
@TingluoHuang I change ssl backend to schannel manually on each build agent. So if you set this as default, the problem is solved for me. I use an AD domain certificate generated on my own CA and pushed to all clients via schannel. I believe this is what most people do.

[2018-01-11 09:04] mhgamework commented on #1359
Im running a windows 10 OS on a Standard B2s (2 vcpus, 4 GB memory) VM.
Yesterday, i put the VSTS service on "automatic (delayed start)" as suggested above. The instance shuts down in the evening and starts up in the morning. The configuration seems to again have dissapeared. Calling run gives me "An error occurred: Not configured"

Now i have 2 logs in the morning instead of one (see below).

=8:

[2018-01-11 10:06] thecontrarycat commented on #688
@TingluoHuang We've had problems with the system and global configs being lost every time a new Agent version is released.  We didn't use a user level config because the agents are running as Network Service.

[2018-01-11 12:05] oliverchristen commented on #1317
Since version 8.1.0 of Xamarin.Android there is no such file '/Library/Frameworks/Xamarin.Android.framework/Commands/generator' any more and I had to add the Xamarin.Android capability manually.

[2018-01-11 13:21] giuliov commented on #1217
I was able to install it on an Azure VM running Windows Server 1709 using these
[code]

[2018-01-11 17:21] creoman opened #1365 "Agent is stuck at tf.exe Get Sources step"
The last thing I see in a log:
Matching workspace found.
tf vc status /workspace:ws_1_6 /recursive /nodetect /format:xml /collection:http://***/ /loginType:OAuth /login:.,******** /noprompt

I tried to run tf.exe without parameters from externals\vstsom\ (on the buid machine)
It displays help message and then waits for about minute or two before returning me to console prompt.

TFS 2018 on premise

[2018-01-11 17:30] bryanmacfarlane commented on #1356
@Scott-Emberson - any update on the troubleshooting steps above?

[2018-01-11 18:01] Scott-Emberson commented on #1356
@bryanmacfarlane - So setting the build agent to run as the local user and logging in and setting the TFVC proxy address against the build agent and the user's registry. it works fine. I have then also run the same commands against the build agent running as Network Service and this fails to get from the TFVC proxy server.

[2018-01-11 19:14] TingluoHuang commented on #1356
@Scott-Emberson did you run `tf settings proxy /configure` as network service?

[2018-01-11 21:07] Scott-Emberson commented on #1356
@TingluoHuang I have now, I ran psexec -i -u "nt authority\network service" cmd.exe and then run both of the commands one against the agent and the other for the user registry

[2018-01-12 03:03] bryanmacfarlane commented on #1359
If a config file is disappearing, it sounds like some sort of corruption etc going on.  You will need to figure out why files are disappearing.

[2018-01-12 03:07] bryanmacfarlane commented on #1358
He's saying tf.exe is failing before it makes a network call.  The agent runs get sources which calls tf.exe which looks up the uri.  For some reason, it's failing parsing the uri which means it doesn't call the vsts service.  Perhaps it's failing to read the registry (permissions, etc...), getting null and not handling.

[2018-01-12 03:08] bryanmacfarlane commented on #1358
Updating title and marking to build since failing in tf.exe get sources.  Another thing to prove the point would be to create a sample git project - it would work.  it's not running as a svc that's failing.

[2018-01-12 08:37] Scott-Emberson commented on #1356
@TingluoHuang - I have done some more testing on this it looks like even if you set the TFVC proxy server against the agent (%AgentRoot%\externals\vstsom\tf.exe settings proxy /configure http://tfvcproxyserver:8081) doesn't work. it only works if you set it for the user's registry.

[2018-01-12 08:45] prawalagarwal opened #1368 "Need the ability to know if agent is interactive from task environment"
As part of VsTest task, we provide the ability to run UI tests on agent machines. For UI tests it is necessary that the agent should run in Interactive mode.

We need to be able to determine this from the task so that the users can be warned if their agents are not running in interactive mode. Currently the environment does not contain this information (though I can see this information in the age

[2018-01-12 09:03] RubenDelange opened #1369 "Upgrade to the latest .NET Core runtime/sdk"
## Agent version and platform
Version of your agent? 2.126.0
OS of the machine running the agent? Windows

## VSTS type and version
VisualStudio.com

## What's not working?
The .NET Core runtime/sdk version on our build agent is currently 2.0.3 (dotnet --info). Is there a way to upgrade to the latest 2.1.4 SDK ~ 2.0.5 runtime version (cfr. security fixes)?
Or do we have to wait until the build age

[2018-01-12 13:56] ivandjordjevic commented on #1357
@TingluoHuang Does this dll looks good to you?

[2018-01-12 14:43] ttolley commented on #759
I am seeing this issue on my TFS 2017 server. I have tried running agent on a Windows 10 workstation and from a Windows Server 2012 R2 box both with a designated service account and with the TFS admin account. My XAML builds are working fine and I can't risk moving to 2018 and having no builds. I tried the stored procedure, but it didn't help. If I run the stored procedure with the server's FQDN,

[2018-01-12 14:46] daveVSTS commented on #759
The warning from "EXEC prc_SetRegistryValue" is expected.  That's just SQL being SQL.

[2018-01-12 15:11] ttolley commented on #759
Setting it to the FQDN and rebooting didn't seem to help either. Everything works fine in a browser for the account, but I can't get this Agent to work since I rebuilt the server.

[2018-01-12 20:25] TingluoHuang commented on #1357
@ivandjordjevic can you check your GAC on that box? see whether this is an assembly like `Microsoft.VisualStudio.Services.Common`

[2018-01-12 20:26] TingluoHuang commented on #1357
`gacutil /l | findstr /I Microsoft.VisualStudio.*`

check #956 as reference.

[2018-01-12 20:34] TingluoHuang commented on #1357
@ivandjordjevic the binary looks fine, i guess there is an "evil" assembly in your GAC.

[2018-01-13 16:37] Scott-Emberson commented on #1356
@TingluoHuang - I have finished my testing now. It looks like to make the agent's use the TFVC Proxy Server you have to do two steps.
1. Set the proxy for the user's registry
2. Set the proxy for every agent.
Doing this does make the agent's call the TFVC first before going to the main TFS Server.

[2018-01-15 07:10] dadream opened #1370 "why vsts Host VS2017 agent have no aspnetcore:2.0 and aspnetcore-build:2.0 image,and not cache them after build?"
below is build step:
Step 1/17 : FROM microsoft/aspnetcore:2.0 AS base
2.0: Pulling from microsoft/aspnetcore
Digest: sha256:9a2eeddfde6da6e26196885a8146bd3339b4b929f3bb623c883997a80a19e576
Status: Downloaded newer image for microsoft/aspnetcore:2.0
 ---> 9132983c48eb
Step 2/17 : WORKDIR /app
 ---> 546179902768
Removing intermediate container 0074470d4f5a
Step 3/17 : EXPOSE 80
 ---> Running in e90

[2018-01-15 11:16] ppanyukov commented on #1334
@omeshp we are uisng Linux hosted agent to build our stuff. Then we use "Publish Artifacts" task.

The files resulted from the build all have executable bit set:

[code]

The publish artifacts tasks just publishes everythign in `_built` directory.

During the release, when the artifact is downloaded, the `_build/bin/epg` file no longer had executable bit set.:

[code]

We use our own Linux-based a

[2018-01-16 01:43] sarah-j-smith commented on #1007
I had this crash issue with the following: https://vstsagentpackage.azureedge.net/agent/2.126.0/vsts-agent-osx-x64-2.126.0.tar.gz

Using the workaround `TingluoHuang commented on 20 Jun 2017` fixed the issue for me.  Have not tried to update the OpenSSL.

The issue occurred after upgrading from Sierra to High Sierra.

[2018-01-16 02:32] TingluoHuang commented on #1370
@dadream please log an issue at https://github.com/Microsoft/vsts-image-generation
that's the repo for all image related question.

[2018-01-16 20:34] TingluoHuang commented on #1356
@Scott-Emberson which user's registry? Network Service?
what i initially thought is your run `tf settings proxy /configure` as your agent's run as user, in your case which is Network Service.
is this the approach you are taking and make it work?

[2018-01-16 20:38] TingluoHuang commented on #1369
@RubenDelange are you taking about the hosted agent? if so, please log an issue at https://github.com/Microsoft/vsts-image-generation
that's the repo for all image related question.

[2018-01-17 06:48] RubenDelange commented on #1369
Ok, will do, thx for the input!

[2018-01-17 06:48] #1369 closed

[2018-01-17 14:39] Scott-Emberson commented on #1356
@TingluoHuang Yes so I have to set the user's registry value for the network service and then run the `tf settings proxy /configure` against each build agent while running the CMD as Network Service.

Steps I ran:

1. Downloaded psexec from Windows Sysinternals
2. Ran CMD as Administrator, pointed it at the location of psexec
3. Ran the following command `psexec -i -u "nt authority\network service

[2018-01-17 15:39] TingluoHuang commented on #1356
@Scott-Emberson cool, thanks for sharing detail steps.
I am wonder whether step 4 is not necessary, since any version of tf.exe should use the same registry entry.
Instead of using `psexec`, i think you can also use the agent itself to run `tf.exe settings proxy /configure`, add a CommandLine task to your build definition to run `tf.exe settings proxy /configure`, then queue build for that definit

[2018-01-17 15:53] Scott-Emberson commented on #1356
@TingluoHuang So it tried just running set 3 & 4, didn't work. Tried setup 3 & 5 didn't work. I could only get it to run by doing all the steps

[2018-01-17 16:04] PaulVrugt opened #1373 "Cannot build Xamarin.IOS project on Mac -> missing parameterless constructor?"
## Agent version and platform

Version of your agent?
2.122.1

OS of the machine running the agent?
OSX

## VSTS type and version
On-Prem TFS

If On-Prem TFS, which release
2017 Update 3

## What's not working?
I'm setting up a build environment for build our xamarin.forms apps via tfs builds. I've successfully set up the android build on a windows build machine, now I'm trying to build the IOS ap

[2018-01-17 16:21] TingluoHuang commented on #1373
@PaulVrugt can you build your solution in Visual Studio for Mac? I guess you didn't install dotnet 2.x SDK on your Mac. Can you run `dotnet --version`?

[2018-01-17 16:28] PaulVrugt commented on #1373
Running dotnet --version returns 2.1.4

I cannot build the solution in visual studio for mac, because it starts complaining about a missing packages.config file, which I indeed don't have. I've googled this, and this seems to be a problem with visual studio for mac not understanding projects without a packages.config. However, when having the solution open in visual studio for mac, it does recogni

[2018-01-17 16:31] TingluoHuang commented on #1373
@PaulVrugt can you share a full build log?
https://docs.microsoft.com/en-us/dotnet/api/system.version.-ctor?view=netcore-1.1#System_Version__ctor
you definitely hit a wrong dotnet sdk version, since `New Version()`  is introduced in netstandard 2.0

[2018-01-18 07:49] VeryCrazyDog commented on #688
@thecontrarycat My agents are running as `Network Service` too but that wasn't really a problem to use user level config. Here is what I did:

1. Save all the necessary certificates in folder `%systemroot%\ServiceProfiles\NetworkService\.gitcerts\`.
2. Create a file at `%systemroot%\ServiceProfiles\NetworkService\.gitconfig` with the following content
[code]

[2018-01-18 07:58] PaulVrugt commented on #1373
@TingluoHuang

I've created the log for 2 builds. One containing a failed build via the build agent that uses the wrong sdk, the other is a successful build of the same project using visual studio for mac. The sources used are identical.

Failed build:
[FailedBuild.zip](https://github.com/Microsoft/vsts-agent/files/1642019/FailedBuild.zip)

Successful build:
[SuccessfulBuild.zip](https://github.co

[2018-01-18 10:37] omeshp opened #1374 "Agent 2.126.0 not working with system level proxy"
## Agent version and platform
Version of your agent? 2.126.0, 2.119.1

OS of the machine running the agent? Windows

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name? http://nestle-nppc.visualstudio.com

## What's not working?
Agent version 2.116.1 is able to work with system level proxy, but agent version 2.119.1 or 2.126.0 is not honoring system level pro

[2018-01-18 12:38] venkat-prasadh opened #1375 ""Windows agent version 2.112.0" deletes tf workspace every build even when "Clean" set to 'False' and "Clean options" set to 'Source'"
TFS 2017
Windows Agent Version: 2.112.0

During every build, the source code workspace in the agent gets deleted even when "Clean" set to 'False' and "Clean options" set to 'Source' in Build Definition.

This option works correctly in Mac agent and so it looks like an issue with Windows Slave.
![image](https://user-images.githubusercontent.com/35565629/35098532-9698d4a0-fc7a-11e7-9499-354bacc8ef63

[2018-01-18 13:24] vimudda opened #1376 "Configuring agent for deployment group- error during final connection test from agent"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting
Yes, nothing helped
## Agent version and platform
Version of your agent? 2.126.0 on Windows

OS of the machine running the agent? OSX/Windows/Linux...
Windows 2008 R2 with PowerShell V3
## VSTS type and version
VisualStudio.com

If On-Prem TFS, which release, 2015 RTM/Q

[2018-01-18 14:22] bryanmacfarlane commented on #1374
This is as designed.

The docs have always dictated that the agent needs to be configured for the proxy.  The agent instructions have never stated we respect (and can't) the system level proxy.

https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/proxy?tabs=windows
https://github.com/Microsoft/vsts-agent/blob/master/docs/start/proxyconfig.md

2.116.1 had a bug where some of the core

[2018-01-18 14:22] #1374 closed

[2018-01-18 14:26] bryanmacfarlane commented on #1375
I think it might be an issue with the service / ux.  Clean options should not be allowed to be set if clean is false.  That's leading to the service sending a message to the agent to clean the sources.

[2018-01-18 14:37] omeshp commented on #1374
Thanks @bryanmacfarlane for the update, adding @tstooke who is the customer facing this issue while upgrade so that they can unblock themselves by using agent proxy.

[2018-01-18 15:07] tstooke commented on #1374
Thank you so much for investigating this!  When we initially configured our first agents, a consultant had indicated that the system-level proxy was the only way.  I've just set up a new Agent using version 2.126.0 and the .proxy file.  With this Agent, I ran a test Release that just downloads artifacts using the new Download Artifacts Task (0.127.7).  It all worked perfectly!

We will be configur

[2018-01-18 15:23] bryanmacfarlane commented on #1374
@tstooke - Thanks for confirming!

[2018-01-18 15:25] bryanmacfarlane commented on #1368
this isn't an issue since it's not a current capability of the agent.   since you're in vsts, have your PM send a feature request to our team

[2018-01-18 15:25] #1368 closed

[2018-01-18 15:25] #1370 closed

[2018-01-18 15:30] TingluoHuang commented on #1368
@bryanmacfarlane There is a `InteractiveSession=true/false` capability to indicate whether the agent is running as service or interactive. That capability is added as part of the agent AutoLogon feature.

[2018-01-18 15:33] TingluoHuang commented on #1376
@vimudda do you have any proxy/firewall between the agent machine and VSTS that may block the traffic?

[2018-01-18 15:36] omeshp commented on #1374
Hi, @tstooke Just to confirm, I thought you were using NTLM authentication for proxy which isn't supported in current "Download Build Artifacts" task. Are you using some other type of authentication for proxy?

[2018-01-18 16:24] tstooke commented on #1374
@omeshp It turns out that the proxy has no special authentication required.  The Agents run as domain accounts, and that's good enough.  I believe the proxy is configured to allow traffic based on source IP, so our server is allowed to use the proxy regardless of the current account.

We do have a few other Agents that are not under my control that have not been switched to per-Agent proxy, so we'

[2018-01-18 16:31] TingluoHuang commented on #1373
@madhurig for Xamarin.IOS task question.

[2018-01-18 17:09] zinov commented on #422
ericsciple I am having the same error, with build.clean = all I solved the issue, now the version of the agent I am using is greater than the one you posted with the fixes =>  vsts-agent-win7-x64-2.112.0
Does mine include those changes or not?

[2018-01-18 19:30] marcelbeeker commented on #1043
Adding the user capabilites AndroidSDK,, Xamarin.Android, JDK did solve the problem. Version v2.124.0 of the build agent didn't solve this problem.

[2018-01-18 19:42] tstooke commented on #1334
For anyone coming along to find this multi-topic thread, we fixed our issue by properly configuring the Agent with proxy settings (instead of using a system-level proxy).  We were not affected by the file permissions flags.  As soon as we configured the proxy properly, the new Download Artifacts Task started working correctly.

[2018-01-18 19:45] madhurig commented on #1043
We have a part of the fix on the VSTS service that will deploy in the next couple of weeks.

[2018-01-18 21:16] madhurig commented on #1373
It seems like an issue with the version of "nuget" on your agent. Please try:
1. dotnet restore
2. Nuget restore with latest version (4.5). We have a nuget tool installer task but that is only for vsts: https://docs.microsoft.com/en-us/vsts/build-release/tasks/tool/nuget
3. Run xamarin.ios but choose the option to skip restoring packages

Thanks,
Madhuri

[2018-01-18 23:50] Davilink commented on #1227
Is there a Bitbucket YAML Support Roadmap ?

[2018-01-19 02:16] bryanmacfarlane commented on #1227
@Davilink - have you tried to create a new definition of type yaml from the web UI and thenspecify BitBucket as the source provider?  You should then be able to specify or browse to the yaml file.  Auto creating the definition via checking in a yaml file will only be done for VSTS git repos.

[2018-01-19 09:24] PaulVrugt commented on #1373
@madhurig

I think I understand what you mean. And if so, I'm afraid it didn't help. What i did:

1. I performed a dotnet restore on the build agent server of the project failing to build
2. I disabled the nuget restore options in the xamarin.ios build task
3. I added the nuget tool installer to the build definition to install nuget 4.5
4. I tried 2 things:
4a. Manually use the installed nuget 4.5

[2018-01-19 10:43] PaulVrugt commented on #1373
@madhurig

I did another try:

- I cleaned all package cache from the agent machine
- performed a dotnet restore
- manually restored all packages of the solution i'm trying to build
- disabled package restore in the xamarin.ios task
- run a build

This causes the build to fail with loads of errors, about the all kinds of basic classes and namespaces not being found like System.String or System.Ref

[2018-01-19 14:58] Davilink commented on #1227
@bryanmacfarlane No i didn't tried, because i only read the documentation https://docs.microsoft.com/en-us/vsts/build-release/actions/build-yaml and it's said that wasn't support yet in Bitbucket.

[2018-01-19 15:05] ericsciple commented on #1227
it requires some work on the server side to enable, i'm not sure where that work is on the backlog. i'll ask some folks internally.

[2018-01-19 15:57] Davilink opened #1378 "Support Crome Headless"
I don't know if i should post it here or elsewhere but here the problem, i want to use the Hosted Agent for our Pipeline, but we can't run any Karma test or Integration test (We use Angular in our project with .Net Core) because there not installed browser in the hosted Agent. I was going to use PhantomJS but i get 2 problem :
1. PhantomJS take a lot memory compare to Chrome in Headless mode
2. Ph

[2018-01-19 16:07] TingluoHuang commented on #1378
@Davilink i would like to redirect to https://github.com/Microsoft/vsts-image-generation
The hosted agent is running as Admin, so you should be able to install chrome as part of your build as long as chrome has unattended installation mode.

[2018-01-19 16:11] Davilink commented on #1378
@TingluoHuang Thx i will post in the other repo, but i would prefer a native installation.

[2018-01-19 16:11] #1378 closed

[2018-01-19 20:08] calebcartwright opened #1379 "Gated Build Shelveset-Checkin Failure + Fix"
Not sure where the underlying issue is, but creating this issue here for awareness

When a VSTS account has the **Build with multiple queues** preview feature enabled, Gated Build definitions will fail on the final step of committing the shelveset. The details of this can be found here: https://developercommunity.visualstudio.com/content/problem/167134/gated-build-checkin-fails-cannot-find-shelves

[2018-01-19 23:32] TingluoHuang commented on #1379
@calebcartwright this is a known issue, and waiting for a fix on the VSTS server side.

[2018-01-19 23:51] calebcartwright commented on #1379
Thanks @TingluoHuang . Is it documented or being tracked elsewhere (so that we can follow the status), or is it something the VSTS team is tracking internally?

[2018-01-20 21:28] TingluoHuang commented on #688
#1377

[2018-01-21 22:36] bhaidar opened #1380 "ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
Agent version: 2.126

I am trying to build an Angular 4 app online with VSTS. Locally, things work fine.
The only difference I can see is that locally I am using latest Nodejs v 8.X.

The errors I am getting online from Build process are:

[code]

Any idea why I would get such errors?

[2018-01-22 03:07] TingluoHuang commented on #1380
@bhaidar are you using Hosted agent provided by VSTS? if so you can try install node.js 8 during your build, doc: https://docs.microsoft.com/en-us/vsts/build-release/concepts/process/tasks#tool-installers
also, you can check this repos if you think node 8 is required on the image. https://github.com/Microsoft/vsts-image-generation

[2018-01-22 08:35] bhaidar commented on #1380
Thanks, @TingluoHuang. It works :-) I installed the version of Node I need.

Question, I am not that familiar with the VSTS agents. Where can I find in depth information about VSTS and how builds or tasks run in which environment, etc.

Thanks

[2018-01-22 12:15] jeckerbom commented on #688
How do the Git agent use client certificate and where are that located?
Should the certificate.pem file even contain clientcert or only the CA cert chains?

Does anyone knows when MS ships the new VS version with an updated Git agent (2.14 or newer..) with schannel possibilities.

[2018-01-22 12:29] vimudda commented on #1376
@TingluoHuang Thanks for the response.

Before starting the configuration, firewall port has been opened from the source server to destination. Have tested via telnet and communication opens up fine over 443.

The setup of proxy ( and firewall rules) are same for this server and another already working one.

What i don't understand is the agent gets partially configured (visible in VSTS) but fails

[2018-01-22 15:17] TingluoHuang commented on #1376
@vimudda the final step calls the different endpoint.
https://deloittebsg.vssps.visualstudio.com/ VS https://deloittebsg.visualstudio.com/

Can you test your setup with a PowerShell script see whether you can hit that endpoint?

[2018-01-22 15:37] TingluoHuang commented on #688
@jeckerbom check the following doc see whether that is what you needed https://github.com/Microsoft/vsts-agent/blob/master/docs/design/clientcert.md

the latest version of VS should contains the latest version git.

[2018-01-22 16:26] Davilink commented on #1227
Any news ?

[2018-01-22 16:27] #444 closed

[2018-01-22 16:29] TingluoHuang commented on #754
@nigurr

[2018-01-22 16:29] TingluoHuang commented on #778
close as customer unblocked.

[2018-01-22 16:29] #778 closed

[2018-01-22 16:30] ericsciple commented on #1227
I checked. It's not on the immediate backlog (next couple months).

It's not a bug. And we typically don't track feature requests in this repo. I believe User Voice is what we are currently using to track feature requests.

[2018-01-22 16:32] TingluoHuang commented on #877
please reopen if this issue still happen.

[2018-01-22 16:32] #877 closed

[2018-01-22 16:59] Davilink commented on #1227
I created a UserVoice Post : https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/suggestions/33037504-yaml-bitbucket-task

[2018-01-22 17:01] bryanmacfarlane commented on #1227
Thanks.  I've forward this to the folks doing the work.

[2018-01-22 19:17] Davilink opened #1381 "Branch Filter Exclude not Working with Pull-Request Trigger"
## Agent version and platform
Version of your agent: 2.120.2
Repository: Bitbucket

OS of the machine running the agent? Windows

## VSTS type and version
VisualStudio.com

## What's not working?
I  tried to add a exclude filter for Pull-Request validation, but sadly the CI still trigger the build, i had to cancel these build manually.
![image](https://user-images.githubusercontent.com/1498932/352

[2018-01-22 20:53] ivandjordjevic commented on #1357
I was able to get pass this issue when installing on different VM. Not sure the dll's were conflicting here.

I definitely had Microsoft.VisualStudio.Services.Common in GAC already.

[2018-01-22 20:53] #1357 closed

[2018-01-22 20:59] TingluoHuang commented on #1357
@ivandjordjevic do you have idea why you have that assembly in GAC? did you put in yourself, or it installed by some software?
I want to find the source of that assembly since it should never be added into GAC.

[2018-01-22 21:06] TingluoHuang commented on #1231
doesn't looks like an agent problem. please log an issue at https://github.com/Microsoft/vsts-image-generation if you need more help.

[2018-01-22 21:06] #1231 closed

[2018-01-22 21:08] #908 closed

[2018-01-22 21:11] scottwojan commented on #1231
@TingluoHuang how can you close this if you don't know what the issue is?

[2018-01-22 21:15] TingluoHuang commented on #1231
@scottwojan the problem you run into seems like an environment problem to me not a build agent bug, that's why i want to redirect you to the image-generation repo, since that is the repository the hosted agent VM image got built. BTW, are you still running into this issue? i notice the hosted agent is now running as interactive user with admin privilege, the change happened for about a month.

[2018-01-22 21:32] jabbera commented on #1294
gMSA are also great for on prem release agents that are in deployment groups. No one need to know the password of the deployment account then.

[2018-01-22 21:53] TingluoHuang commented on #1232
the bug should be fixed on the server side, please reopen the issue if problem still happen.

[2018-01-22 21:53] #1232 closed

[2018-01-22 21:57] TingluoHuang commented on #1251
I will close this issue since the problem customer ran into is more like an environment problem that cause by the user doesn't have permission to location in the user's PATH.

[2018-01-22 21:57] #1251 closed

[2018-01-22 22:00] TingluoHuang commented on #1322
@EP01 what server URL did you typed? make sure it doesn't contains `/yourcollection`, ex. `http://myTFS:8080/tfs` instead of `http://myTFS:8080/tfs/DefaultCollection`.
if you still have the issue, please send me your Agent diag log to `tihuang @ microsoft.com`

[2018-01-22 22:08] TingluoHuang commented on #1332
@Vinzz are you still seeing this issue?
@GitHubSriramB @omeshp Can you guys help customer to take a look?
Thanks.

[2018-01-22 22:11] TingluoHuang commented on #1334
@omeshp is this issue been fixed? is there an issue in tasks repo i can link to?

[2018-01-22 22:19] TingluoHuang commented on #1336
@jmelosegui i don't think we support nested variable expansion `$($(Location).WebsiteServer))` today.

[2018-01-22 22:21] TingluoHuang commented on #1341
I am closing this issue as the original issue has been mitigated by disable SSL inspection for agent connect to VSTS. please let me know if more help is needed.

[2018-01-22 22:21] #1341 closed

[2018-01-22 22:33] TingluoHuang commented on #1345
@raghusrikanth do you have anything in the middle that might block the traffic? proxy/firewall

[2018-01-22 22:33] TingluoHuang commented on #1348
@vvikram05 any news?

[2018-01-22 22:34] TingluoHuang commented on #1353
@ophintor thanks for reporting this, i will update the doc with what you find.

[2018-01-22 22:35] TingluoHuang commented on #1356
@Scott-Emberson thanks for all your testing, i will update the official doc with what you discovered

[2018-01-22 22:37] TingluoHuang commented on #1379
@calebcartwright it is tracking internally, the fix should deploy in about 3 weeks.

[2018-01-22 22:38] ericsciple commented on #1336
We do support recursive macro expansion (for example, foo=$(bar), bar=baz

But we not support building up the macro name itself.

We have a plan to add expressions to the agent side. So you could do something like `$[ variables[concat(variables.location, '.WebsiteServer' ]` but we do not support that syntax on the agent side today.

As a workaround you could add a script at the beginning of the ph

[2018-01-22 22:38] #1336 closed

[2018-01-22 22:38] ericsciple commented on #1336
you could also do separate environments with variables specific to the environment

[2018-01-22 22:40] TingluoHuang commented on #1380
cool, i will close the issue.

https://docs.microsoft.com/en-us/vsts/build-release/concepts/agents/agents
might be a good start point, https://github.com/Microsoft/vsts-agent/tree/master/docs also cover some topic, can you always check the code since the agent is open sourced. :)

[2018-01-22 22:40] #1380 closed

[2018-01-23 03:05] chazguerrero commented on #979
you can use the nodejs tool installer to specify a version of node to use in your builds. heres a link to the docs https://docs.microsoft.com/en-us/vsts/build-release/tasks/tool/node-js

[2018-01-23 03:57] BrendanThompson opened #1382 "git-lfs fails to checkout repo"
## General Information

**Agent Version:** `2.126.0`
**Operating System:** `CentOS 7` (_From Azure marketplace_)
**VSTS Type:** `Online`
**git Version:** `2.15.1`
**git-lfs Version:** `git-lfs/2.3.4 (GitHub; linux amd64; go 1.8.3; git d2f6752)`

## What's not working?
When attempting to do a build it fails when it tries to do the `git-lfs` fetch, the normal checkout of the git repo works fine.

##

[2018-01-23 04:02] bryanmacfarlane commented on #1373
Please move this issue to the vsts-tasks repo.  It's not an issue with the agent application.  Should be investigated under the xamarin.ios task.  Link it from there

[2018-01-23 04:02] #1373 closed

[2018-01-23 04:04] bryanmacfarlane commented on #1344
please log this issue in the vsts-tasks repo.  the .net core task should set the code page

[2018-01-23 04:04] #1344 closed

[2018-01-23 04:06] bryanmacfarlane commented on #1286
@sheldonhull - please ask this as an issue in the vsts-task-lib repo.  Closing this one for now.

[2018-01-23 04:06] #1286 closed

[2018-01-23 04:07] TingluoHuang commented on #1382
@BrendanThompson please try the latest version agent 2.127.0 https://github.com/Microsoft/vsts-agent/releases/tag/v2.127.0
where was a behavior change on how github implement their LFS object storage that cause this failure.

[2018-01-23 04:10] bryanmacfarlane commented on #1330
This seems to be an issue with that template (in that other repo) and not the agent itself.  Seems like you should log an issue in that repo.

[2018-01-23 04:11] BrendanThompson commented on #1382
@TingluoHuang that version didn't even show up in my VSTS portal earlier! 😆

[2018-01-23 04:13] TingluoHuang commented on #1382
@BrendanThompson it's in a release process right now, it may take about 5 days to hit all VSTS account. (safe deployment)

[2018-01-23 04:14] #955 closed

[2018-01-23 04:15] TingluoHuang commented on #955
@bryanmacfarlane i think i should fix this for back compat.

[2018-01-23 04:16] BrendanThompson commented on #1382
@TingluoHuang amazing haha! So warning, it's `pre-release`

[2018-01-23 04:17] bryanmacfarlane commented on #461
The agent in hosted now runs as admin.  You can install whatever you want.

[2018-01-23 04:17] #461 closed

[2018-01-23 04:25] BrendanThompson commented on #1382
Thank you very much @TingluoHuang that has worked perfectly!!

![image](https://user-images.githubusercontent.com/2595712/35258137-9baa33a0-0051-11e8-913c-d3db9f5b8b43.png)

Have been looking at this for hours! Have to say MS support via GH is far superior to regular support channels!!

[2018-01-23 04:25] #1382 closed

[2018-01-23 04:27] TingluoHuang commented on #1382
@BrendanThompson we will flip the `pre-release` flag when the deployment finish for all VSTS account.

[2018-01-23 05:10] bishal-pdMSFT commented on #1267
Apologies for the delay - somehow I missed mail notification.
Looking at the logs, it seems two instances of enable.cmd start running in parallel causing this error - first one is actually successful and hence you can see that VM has been added to deployment group, but second one fails.
We will investigate this more to find why two instances are running.
@tedeshpa

[2018-01-23 05:18] TingluoHuang commented on #1353
close the issue after the doc been updated. https://github.com/Microsoft/vsts-agent/commit/aeeb9be01b7a0ea932de39ba47935094550c22d0

[2018-01-23 05:18] #1353 closed

[2018-01-23 05:39] bishal-pdMSFT commented on #1330
@joricteixeira Microsoft.VisualStudio.Services.TeamServicesAgent is azure VM extension which internally configures VSTS agent on VM. Although VSTS allows mutiple agents to be configured on a VM, azure does not allow multiple VM extension of same type on a VM. And hence you see the error: `"Multiple VMExtensions per handler not supported for OS type 'Windows'. VMExtension 'TeamServicesAgentPartyRen

[2018-01-23 06:01] mayuki commented on #1344
I'm sorry for my mistake.

[2018-01-23 06:32] bryanmacfarlane commented on #1344
No problem.  All the repos can be confusing.  I’ll make sure the right contact gets on the issue on the other side

[2018-01-23 07:24] bishal-pdMSFT commented on #1330
@bryanmacfarlane @joricteixeira please close this issue.

[2018-01-23 09:01] omeshp commented on #1332
@Vinzz We have seen this issue before were threads pool threads blocked and the pool is unable to spawn more threads. There is an open issue in core-clr for the same: https://github.com/dotnet/coreclr/issues/10292

A small fix is to increase the thread count by setting ComPlus_ThreadPool_ForceMinWorkerThreads environment variable to a large value like 1000. You can set this on variable globally on

[2018-01-23 09:54] EP01 commented on #1322
@TingluoHuang The server URL is definitely in the correct format. I've just emailed you the log file. Thanks!

[2018-01-23 09:57] plneto commented on #754
@nigurr I can't see the milliseconds on your test results.

[2018-01-23 12:47] #1330 closed

[2018-01-23 15:09] TingluoHuang commented on #1322
@EP01 thanks for sharing the log, i checked the code, looks like API resource location 2f0aa599-c121-4256-a5fd-ba370e0ae7b6 is not there for TFS2018 RTM.
@chshrikh can you help customer about his deployment group agent configure?
he is getting error during agent config.
[code]

[2018-01-23 15:43] TingluoHuang commented on #1381
@Davilink i have reported the issue to our product team, and i will post back when i get an update from them.

[2018-01-23 15:44] TingluoHuang commented on #1365
@creoman can you share your agent/worker diag log?

[2018-01-23 16:48] EP01 commented on #1322
Thanks @TingluoHuang! Configuring an agent version 2.123.0 works fine on TFS2018 RTM, so this must be because of a change made between 2.123.0 and 2.124.0.

[2018-01-23 18:52] madhurig commented on #1381
@Davilink: Do you have the same exclusion setup in the CI trigger as well or just the PR trigger?

Thanks,
Madhuri

[2018-01-23 20:00] Davilink commented on #1381
Same in both.

[2018-01-24 03:56] chshrikh commented on #1322
@EP01 yes there are few additional changes present with latest agent version for deployment group which are not supported with TFS 2018 RTM. You need to use agent of version 2.123.0 which is compatible with TFS 2018 RTM.

[2018-01-24 03:56] #1322 closed

[2018-01-24 07:09] TingluoHuang commented on #1294
@michael-baker @jabbera any of you would like to can help me testing some private bits about gMSA support, since i don't have an environment for testing? :D

[2018-01-24 08:27] Vinzz commented on #1332
@omeshp Thanks for this tip, I'll apply it if ever the issue arises again, as I didn't see it since.
So we'll close this issue, if it's related to another on coreclr, and since there is a workaround.
Thanks

[2018-01-24 08:27] #1332 closed

[2018-01-24 09:02] omeshp commented on #1334
@TingluoHuang No this isn't fixed yet, we are investigating the issue. There isn't any corresponding issue in task repo currently maybe we should log in task repo and close this one?

[2018-01-24 11:17] jabbera commented on #1294
Sure but it would have to be compantible with TFS 2018z

[2018-01-24 15:08] TingluoHuang commented on #1334
@omeshp i thinks so, since the issue now is scope to the download artifact task. :D

[2018-01-24 16:35] TingluoHuang commented on #688
Hi all, I release 2.129.0 agent on github which contains git SChannel support.
https://github.com/Microsoft/vsts-agent/releases/tag/v2.129.0

To enable git to use SChannel, you need to pass `--gituseschannel` during agent config.
ex:
[code]

Please try out if you are interested in the feature.

[2018-01-25 12:10] jeckerbom commented on #688
But I'm little confused about this... VS has a built in Git agent and that **agent** can not be upgraded...? Reference from Microsoft.

[2018-01-25 13:03] bryanmacfarlane commented on #688
@jeckerbom - yes, the agent can be upgraded.  You can download 2.129.0 from GH releases.  We also support in place updates via the admin web UI but since this is config option, you will need to configure a new agent or stop existing one after updating and reconfigure.  Agent supports SxS on a machine.

@creampie - thanks for validating!

[2018-01-25 13:03] #688 closed

[2018-01-25 17:06] rorpage commented on #1217
Just for posterity's sake, I had to restart my VM agent after doing this. My VM reported that it had `AzurePS` as a capability with version 5.1.1 installed, and I can now run my Azure PS tasks.

[2018-01-25 19:12] TingluoHuang commented on #1294
I have create a branch with my changes that might enable GMSA support. :)
https://github.com/Microsoft/vsts-agent/tree/users/tihuang/gmsa

Steps to test:
1. git clone the repository
2. git checkout users/tihuang/gmsa
3. run `cd src/`
4. run `./dev.cmd layout`
5. run `cd ../_layout`
6. run `config.cmd` to configure the agent.

the `_layout` folder is the agent folder, if needed, you can zip it and

[2018-01-26 12:51] daveVSTS commented on #1381
Can you try to add "refs/head/feature-no-ci/*" and see if that works?

[2018-01-26 13:10] daveVSTS commented on #1237
If the workspace can't be found the agent attempts to "make it work" by recreating the mapping. One option may be to update the agent name to match what tf.exe is returning "ip-172-27-42-8.mgmt-internal-aw"

[2018-01-26 15:44] Davilink commented on #1381
It still trigger the build ?

Am i suppose to put all the Include rule before the exclude rules  ?

What i'm expect is when a branch name match an exclude rule, it should ignore the pull-request.

It should try all Include Rule, if no one match, the PR is ignore otherwise if it match a include Rule, it should check if an exclude rule match, if it's the case, it should ignore the PR otherwise it sh

[2018-01-26 15:46] tarunaroraonline commented on #1044
@bryanmacfarlane When is this expected to release?

[2018-01-26 15:51] TingluoHuang commented on #1044
@tarunaroraonline the agent release is already on Azure Blob Storage since https://github.com/Microsoft/vsts-agent/releases/tag/v2.126.0

[2018-01-26 17:31] TingluoHuang commented on #1356
@Scott-Emberson after read through the code, i find a way more easy way to configure the agent to use tfvc proxy server.
`Setx TFSPROXY=http://tfvcproxy:8081` then restart the agent service.

[2018-01-26 17:32] kellyatsaic commented on #1237
The workaround is to use a hostname that does not contain a "." and is less than 32 characters long. That is okay for a small environment, but any enterprise network using FQDN will have issues, which, is my case. The hostname in Linux is the FQDN of the machine unless changed through the hostname functions (hostnamectl for systemd). The short name analogous to a computer name in windows is the st

[2018-01-26 20:19] yaananth commented on #1349
Thanks for the report!
We have identified a bug, and we will be fixing it in VSTS next sprint.
TFS 2018 Update 2 will have the fix.

[2018-01-29 10:47] ppanyukov opened #1386 "Azure Container Registry artifact versions are in random order"
I'm not 100% sure this is the right place to raise this. If not could someone please direct me, that would be great. This directly affects our operations with VSTS though, so we'd ceratainly like to get this fixed in VSTS (don't care too much for Azure Portal).

## VSTS type and version
VisualStudio.com

## What's not working?

We have our Release Definition, and ther we have artifact coming from

[2018-01-29 15:13] TingluoHuang commented on #1386
@GitHubSriramB Can you help customer with this?
@ppanyukov i think https://developercommunity.visualstudio.com/spaces/21/index.html is the official place to report this kind of issues. :D

[2018-01-29 15:59] scottboehmer commented on #1375
Could you run a build with the system.debug variable set to true? That might provide more information in the log for the Get Sources step that could clarify why the clean is happening.

Could you also look at the agent worker log in the build agent's _diag directory and check the value of the clean variable being passed to the agent along with the repository information? For example, you should se

[2018-01-29 18:16] ppanyukov opened #1387 "Can't remove artifact linked to ACR from Release Definition"
## VSTS type and version
VisualStudio.com

## What's not working?
We have one release definition which has artifact linked to Azure Container Registry.  And we have Continuous Devliver optioned switched on.

Now when we try to switch off CD, or remove the artifact from the release definition and then try to save it, we get an error "Object reference not set to an instance of an object.".  Same hap

[2018-01-29 18:18] TingluoHuang commented on #1387
@GitHubSriramB

[2018-01-29 18:19] TingluoHuang commented on #1387
@ppanyukov please use https://developercommunity.visualstudio.com/spaces/21/index.html to report this kind of issue, since the issue you reported is out of the scope for this repository.
It's not an issue with the build/release agent.

[2018-01-29 18:20] TingluoHuang commented on #1387
I am going to close this issue after @GitHubSriramB acknowledged the problem in Release.

[2018-01-29 19:43] GarimaSi commented on #1347
@rudidlo From the logs it looks like you have the mappings set up this way:
![image](https://user-images.githubusercontent.com/30442776/35530575-80069bd8-0502-11e8-8e01-908b9dbdc2d3.png)

If that is the case, please fix your mappings to be:
![image](https://user-images.githubusercontent.com/30442776/35530623-a1d47c8a-0502-11e8-8e97-4f38318b441c.png)
This should fix the issues you are seeing.

If t

[2018-01-29 21:37] madhurig commented on #1381
The branch filter is applied to the "target" branch of the PR and not the source branch (which the build summary UI shows). For the PRs where you are seeing the builds getting triggered, can you verify what the target branch is?

[2018-01-30 16:02] tarunaroraonline commented on #1044
Ace! @TingluoHuang can this extension be used to simply deploy a VSTS agent for build (or does it only support deployment group)?

If it supports agent only, should i pass empty values for tags and deployment group? How do I specify the agent queue this should be assigned to?

Is there a schema available for this extension somewhere so i can find out the settings that can be configured?

[2018-01-30 16:20] RoopeshNair commented on #1044
@tarunaroraonline  agent extension supports only deployment group agents.

[2018-01-30 19:58] Davilink commented on #1381
The target branch is develop. I didn't thought the filter was on the target branch (The UI wasn't very clear about that). I thought it was on the source branch, but it make sense that that the filter work on the target branch.

![image](https://user-images.githubusercontent.com/1498932/35588242-fb41038a-05cd-11e8-8742-4920e4474609.png)

Can it's be possible to have a filter on the source branch to

[2018-01-30 20:07] madhurig commented on #1381
@Davilink: I agree the UI is confusing, it is not clear it is the target branch. Can you just exclude "develop" to achieve what you want? Any PRs that target "develop" branch won't get triggered.

[2018-01-30 20:20] madhurig commented on #1381
@Davilink : I understand now, you don't want any changes in source */no-ci/* to target "develop" to trigger builds. Is that accurate? A better way might be to add a "path filter" so you can exclude the readme from triggering a PR build. That way users don't have to worry about how they name their source branches. We will review and add it to our backlog.

Thanks,
Madhuri

[2018-01-30 20:40] Davilink commented on #1381
a exclude the develop branch, we will gonna need a integration branch and set the branch filter ton that branch, but the develop branch is our integration branch (but an integration branch for each sprint could work).

Yes it's exactly that, i don't want to trigger useless build on file that doesn't affect the code.
Where is the "path filter" option that you're talking about ? It could work, but a

[2018-01-30 20:51] madhurig commented on #1381
@Davilink: The path filter option is not available for BitBucket repositories. Providing that and/or allowing exclusion of source branch would be new features. We will review and prioritize based on other feature requests we have.

[2018-01-30 21:11] bryanmacfarlane commented on #1381
@madhurig - can we create a user voice or feedback item and close out the agent issue?

[2018-01-30 21:35] madhurig commented on #1381
@Davilink: Please create a user voice suggestion here: https://visualstudio.uservoice.com/forums/330519-team-services?category_id=145254 to help us prioritize the features.

Thanks,
Madhuri

[2018-01-30 21:35] #1381 closed

[2018-01-30 23:27] Davilink commented on #1381
@madhurig Done.
https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/suggestions/33143251-add-filtering-by-source-branch-for-pull-request

[2018-01-31 03:03] chaveen commented on #1262
I found this article suggesting to use quiet mode in git commands. This suggestion worked for me!

http://donovanbrown.com/post/How-to-git-push-from-VSTS-build

[2018-01-31 08:21] tarunaroraonline commented on #1044
So how do i benefit from the work you've done to serve up the agent from Microsoft blob rather than git? Here is the scenario I am working with,
1. I need to install Build agent as part of provisioing, i can access microsoft blob but can't access github during provisioing as our proxy blocks it. How can i directly access the vsts agent from the microsoft blob rather than having to upload my own th

[2018-01-31 08:30] eriawan opened #1392 "Please reconsider build agent support for Windows 7, Windows Server 2008R2"
## Background
Current agent (from v2.112.x to latest 2.x) still support Windows 7 for agent deployment on Windows.
As far as I know, Windows 7's mainstream support is ended on January 13, 2015.
This brings many questions/challenges from the perspective of IT pro maintenance, because Windows 7 itself is not having mainstream support anymore:
https://support.microsoft.com/en-us/help/13853/windows-li

[2018-01-31 09:25] rudidlo commented on #1347
I don't want to map whole repository, because under root folder we have multiple branches and it doesn't make sense to retrieve sources from all branches for compiling just few megabytes of code.

[2018-01-31 12:26] AceHack opened #1393 "Windows nanoserver 1709 docker containers not supported"
I'm assuming the OS used of the windows agents is older than 1709.  Please upgrade the OS to at least 1709 so windows nanoserver docker container builds will be supported.

Thanks.

[2018-01-31 13:18] GitHubSriramB commented on #1387
@ppanyukov - Apologies for the inconvenience. We will investigate and give an update.

[2018-01-31 13:26] GitHubSriramB commented on #1386
@ppanyukov - We will investigate this issue.

[2018-01-31 13:50] jikuma commented on #1387
Is your account name talktalktv.visualstudio.com? This is a known issue and it happens when the endpoint used in the artifact is deleted. Have you deleted the endpoint used in the ACR artifact.

[2018-01-31 15:09] ppanyukov commented on #1387
@jikuma @GitHubSriramB Yes, account is `talktalktv.visualstudio.com`.

I've also raised this issue here (as per advice): https://developercommunity.visualstudio.com/content/problem/190983/cant-remove-artifact-linked-to-acr-from-release-de.html

Some additional detail from there:

Sorry for all this double-posting! The boundaries of support are a bit confusing when it comes to VSTS.

[2018-01-31 15:14] ppanyukov commented on #1387
@jikuma It's a bit more complicated than just deleting the endpoint.

All endpoints were there when I first tried deleting the release definition and if failed. I then noticed there as a "web hooks" resource in Azure Portal, in the same resource group as the ACR. There were quite a few hooks there.

I then tried to delete this resource, and the portal wouldn't let me saying "There is a lock on the

[2018-01-31 15:20] TingluoHuang commented on #1392
@eriawan the agent is written in dotnet core, i think we will just follow what dotnet core has.
https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites?tabs=netcore2x

[2018-01-31 15:22] TingluoHuang commented on #1393
@AceHack what is this for?  can you provide more detail?

[2018-01-31 15:29] AceHack commented on #1393
I have a .NET core project with windows docker support.  Nanoserver 1709 is the default when you do File -> new project and select ASP.NET with windows docker support.  This simple hello world project will not build using hosted build agents and the docker or docker compose vsts build tasks.  Thanks.

[2018-01-31 16:25] AceHack commented on #1393
Here is a super simple project that will not work using VSTS hosted build agents.

[HelloWorld.zip](https://github.com/Microsoft/vsts-agent/files/1682389/HelloWorld.zip)

Here is someone else having the same issue but posted the issue in the wrong GitHub repo so it got closed.

https://github.com/Microsoft/vsts-tasks/issues/5697

Also, these are the "official" VSTS Microsoft build tasks I'm using

[2018-01-31 16:30] AceHack commented on #1393
For what it's worth, here is how I created the "Hello World" application, I made no other changes after hitting File -> New Project.

![image](https://user-images.githubusercontent.com/578953/35634608-159cd324-067a-11e8-98c4-bdd07f3f5eac.png)

[2018-01-31 17:51] ccanuel opened #1395 "Fresh VM -> config.sh -> Permission denied"
## Agent version and platform
Version of your agent? 2.102.0/2.100.1...
Linux...
https://vstsagentpackage.azureedge.net/agent/2.127.0/vsts-agent-linux-x64-2.127.0.tar.gz

## VSTS type and version
visualstudio.com

## What's not working?
Fresh linux vm in Azure
Ubuntu 16.04

Ubuntu System Prerequisites [Check] OK
./bin/installdependencies.sh [Check] OK

$ ~/vsoagents/imn/1$ ./config.sh
touch: canno

[2018-01-31 18:44] plk opened #1396 "Certificate error during artefact download when behind SSL proxy"
## Agent version and platform
Version of your agent? 2.126.0 on Windows 2016

## VSTS type and version
VSTS online, local agent

## What's not working?
During artefact download stage of release task, error is "Failed in getBuild with error: Error: unable to get local issuer certificate"

This is a new issue, seemingly caused by VSTS upgrade recently as it used to work fine. It is not clear from th

[2018-01-31 19:20] shaynemarriage opened #1397 "Exit code 100 from 'tf' on OSX when using HTTPS"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting
**Yes**

## Agent version and platform
Version of your agent? 2.102.0/2.100.1...
**2.122.1**

OS of the machine running the agent? OSX/Windows/Linux...
**OSX**

## VSTS type and version
**On-Prem TFS**

If On-Prem TFS, which release, 2015 RTM/QU1/QU2?
**2018 RTM**

If V

[2018-01-31 21:08] TingluoHuang commented on #1397
@shaynemarriage can you share your full build log? the last few lines before `tf` exit should provide more info about the error.

[2018-01-31 21:12] TingluoHuang commented on #1396
@plk i don't think the cert issue is about git.
i think ReleaseManagement start using node.js script to download build artifact. i think the problem is node.exe doesn't follows windows certificate store.
@omeshp

[2018-01-31 21:14] TingluoHuang commented on #1395
@ccanuel can you check your folder permission on that folder? seems like during config, the agent can't write to disk. can you `echo foo >.log` on that folder?

[2018-01-31 21:18] plk commented on #1396
Hmm, there are env variables in node 7.3+ (https://nodejs.org/api/cli.html#cli_node_extra_ca_certs_file) to point to something but this really needs documenting as many large companies proxy SSL and so need the own CA certs for just about anything.

[2018-01-31 23:05] shaynemarriage commented on #1397
Sorry about that, here's the complete file.
[Agent_20180131-171010-utc.log](https://github.com/Microsoft/vsts-agent/files/1683618/Agent_20180131-171010-utc.log)

[2018-01-31 23:08] TingluoHuang commented on #1397
@shaynemarriage not the agent log. :D share the log where i can see the `Exit code 100 returned from process: file name 'tf', arguments 'workspaces -format:xml "-collection:https://tfsservername.com/tfs/Project/" -jwt:****** -noprompt'. ` :D

[2018-01-31 23:16] shaynemarriage commented on #1397
Isn't that the attached worker log line 386?

[2018-01-31 23:20] TingluoHuang commented on #1397
I need the build log from your TFS Web UI for that build. :D

[2018-01-31 23:21] TingluoHuang commented on #1397
like this:
![image](https://user-images.githubusercontent.com/1750815/35652875-906f4472-06b3-11e8-9440-6d6899b32d37.png)

[2018-01-31 23:28] shaynemarriage commented on #1397
I'm having one of those days. Here it is.
[1_Build.txt](https://github.com/Microsoft/vsts-agent/files/1683685/1_Build.txt)

[2018-01-31 23:30] TingluoHuang commented on #1397
2018-01-31T17:12:52.7398280Z ##[debug]An error occurred: Connection reset
2018-01-31T17:12:55.0743840Z An error occurred: Connection reset
2018-01-31T17:12:55.1308280Z ##[error]Exit code 100 returned from process: file name 'tf', arguments 'workspaces -format:xml "-collection:https://tfs.servername.com/tfs/Legacy/" -jwt:******** -noprompt'.

did you install your CA cert into JAVA cert store on tha

[2018-01-31 23:32] shaynemarriage commented on #1397
No, it's only loaded in IIS.

[2018-01-31 23:33] TingluoHuang commented on #1397
i mean the java store on your OSX

[2018-01-31 23:33] TingluoHuang commented on #1397
also, can you access your TFS site from browser on that OSX machine?

[2018-01-31 23:34] shaynemarriage commented on #1397
Not there either; didn't know this was necessary

[2018-01-31 23:35] shaynemarriage commented on #1397
Maybe I need to add our internal CA to the cert store?

[2018-01-31 23:36] shaynemarriage commented on #1397
Oh wait, that one is comodo.

[2018-01-31 23:36] TingluoHuang commented on #1397
i assume you are using self-signed server cert right?
in order to let any client successfully talk to the server, you need to install that cert's CA cert into any client machine's proper cert store.
otherwise client will throw error since it can't finish SSL handshake.

[2018-01-31 23:44] shaynemarriage commented on #1397
No, it's a wildcard cert. The OSX browser works fine with it, because Apple includes the Comodo CA cert in the OSX cert store. The agent is able to download the tasks, but it fails getting the sources from TFVC.

[2018-01-31 23:49] shaynemarriage commented on #1397
I think I know what to do. Let me give it a shot and get back to you. Thanks for the help.

[2018-02-01 03:35] eriawan commented on #1392
@TingluoHuang

Thanks for the reply! Ok, I'll post my suggestion on dotnet/coreclr and dotnet/sdk too.

[2018-02-01 11:28] ccanuel commented on #1395
OK I found it.

I though i was being smart by organizing these agent services under the /usr/bin.
When that failed (same result) i just re-ran the same commands under the /home/[UserName] folder like the example but forgot to remove the sudo from trying to set these up under the /usr/bin.

[2018-02-01 15:06] jrgcubano opened #1398 "Do not sign the assemblies using tfs and agent"
## Context
Agent: v2.129.0
OS: Windows Server 2012 R2 Standard
VSTS type and version: On-Prem TFS (2018) Version 16.122.27102.1
TFS Build Definition: Use a single PowerShell Task
MSBuild Version: '15.5.180.51428'

## What's not working?
A simple project build with net 4.6.1
[code]

If I do the same process from the console of the agent machine, it works perfectly.

I checked the public key from th

[2018-02-01 16:11] Prachiti9 commented on #1379
This issue is fixed and will be deployed in next 10-12 days.

[2018-02-01 16:16] TingluoHuang commented on #1398
@jrgcubano how is the agent configure? run as service or run interactively. if running as service will the service run as user matter?

[2018-02-01 16:16] stephenmichaelf opened #1399 "Log more details to diagnostic logs"
1. Perfmon values
2. Other visibility options?

Check with Bryan before implementing.

[2018-02-01 16:19] TingluoHuang commented on #1396
@plk not sure whether will work, but can you try the following thing.
1. download a new copy of the agent
2. put your CA cert chain under the root of the agent folder, the cert better be .pem
3. configure agent with `config.cmd --sslcacert ./locationtoyourcert.pem`

see whether it help.

[2018-02-01 16:29] jrgcubano commented on #1398
@TingluoHuang  Running as windows service

[2018-02-01 16:31] connorposke commented on #1030
Has this been fixed? We are currently experiencing a timeout when trying to download build artifacts of large sizes. The release process times out after about 20 seconds every time, which is a very short timeout. This is while using the TeamCity Artifacts for VSTS extension https://marketplace.visualstudio.com/items?itemName=ms-devlabs.vss-services-teamcity

[2018-02-01 16:48] TingluoHuang commented on #1030
@connorposke  can you share a sample log about the timeout?

[2018-02-01 16:50] jrgcubano commented on #1398
@TingluoHuang Was that...I was using the wrong user from an old agent.. my mistake. Thank you very much!

[2018-02-01 16:50] #1398 closed

[2018-02-01 16:56] connorposke commented on #1030
2018-02-01T16:49:48.6457077Z ##[debug]Evaluating condition for step: 'Download Artifacts'
2018-02-01T16:49:48.6485919Z ##[debug]Evaluating: succeeded()
2018-02-01T16:49:48.6494757Z ##[debug]Evaluating succeeded:
2018-02-01T16:49:48.6527264Z ##[debug]=> (Boolean) True
2018-02-01T16:49:48.6555101Z ##[debug]Expanded: True
2018-02-01T16:49:48.6555519Z ##[debug]Result: True
2018-02-01T16:49:48.6612830Z

[2018-02-01 17:06] connorposke commented on #1030
Note the timestamp difference between the log line where the download begins and when the timeout error is thrown. About 21 seconds.

2018-02-01T16:49:48.6962456Z Downloading linked artifact PRISM Server of type Custom...
..................................
..................................
2018-02-01T16:50:09.8364400Z An error occurred during download: System.AggregateException: One or more error

[2018-02-01 17:08] TingluoHuang commented on #1030
@connorposke what's your agent version and where is it?
the 20 seconds timeout might indicate a TCP handshake failure, which might caused by socket exhausted on some network infrastructure.

[2018-02-01 17:12] calebcartwright commented on #1379
Great thank you! @TingluoHuang should I go ahead and close this?

[2018-02-01 17:24] TingluoHuang commented on #1395
@ccanuel cool, i think you are unblocked, so i am going to close the issue.

[2018-02-01 17:24] #1395 closed

[2018-02-01 17:43] sheldonhull commented on #691
I have found that the _update agents_ will not work on premise, with TFS 2017 Update 2. For instance, if an agent is  `2.117.2` and I choose to run update agents, it will not update them to `2.124.0`

I can do this manually with a powershell script using post/etc, but was hoping that the update process would have removed the need to update individual agents with bug fixes

[2018-02-01 17:51] TingluoHuang commented on #691
@sheldonhull `2.117.2` is the latest version of the agent at the time we shipped with 2017 QU2
https://github.com/Microsoft/vsts-agent/releases/tag/v2.117.2
I think we can add a feature to allow on-prem customer keep updating their agent to latest.
@chrisrpatterson @bryanmacfarlane  for thoughts.

[2018-02-01 18:13] plk commented on #1396
Many thanks - this now works for artefact download.

[2018-02-01 18:22] TingluoHuang commented on #1396
@plk cool, glad you unblock, i will close the issue and update the doc.

[2018-02-01 18:22] #1396 closed

[2018-02-01 18:25] TingluoHuang commented on #1393
@vijayma @chrisrpatterson for idea.

[2018-02-01 18:29] chrisrpatterson commented on #1393
Yes they are older than 1709 but we can't just upgrade them as that will break container and potentially other builds that are currently running fine.

Window Server 1709 and future versions will only ship as the server core sku so when we setup those pools the will not have any tooling installed on them aside from Docker and the agent as VS is not supported on the server core sku.  In alignment w

[2018-02-01 18:32] bryanmacfarlane commented on #691
I agree.  This is on our backlog along.  Right now you can download latest from github but that's a manual update. (download, unzip, config).

[2018-02-01 18:45] AceHack commented on #1393
@chrisrpatterson I’m not sure what you mean that 1709 only ships as windows server sku.  I’m running windows 10 1709 right now and have custom windows 10 desktop 1709 VMs no server sku involved with Visual Studio installed.  Also I’ve installed visual studio on windows server without any issues in the past.  Thanks.

[2018-02-01 19:00] chrisrpatterson commented on #1393
The Server version of 1709 only ships with Windows Server Core not full Windows Server.  Full Windows Server includes the full desktop experience and a bunch of other components.  Windows Server Core does not include the desktop experience and is a more stripped down version of Windows Server.

Yes you can install Windows 10 1709 and run the containers along with Visual Studio but we do not run ou

[2018-02-01 19:32] connorposke commented on #1030
For all our builds we're using hosted agents. This is a "Release" in VSTS however. I'm not sure how that correlates to the build agent being used. I see agent versions of 1.98.1 and 2.0.0 in the logs in VSTS.

I don't believe this is a TCP handshake issue since we are able to verify with the logs in TeamCity that the REST API request to pull the artifacts from TC is making it through to the server

[2018-02-02 02:16] bryanmacfarlane commented on #1392
Closing here since it's a dotnet coreclr issue

[2018-02-02 02:16] #1392 closed

[2018-02-02 02:17] bryanmacfarlane commented on #1393
Closing this out since this is not an issue with the agent application.  As Chris noted the service will create another docker pool soon.

Until then, a private agent on your own VM unblocks you

[2018-02-02 02:17] #1393 closed

[2018-02-05 18:25] omeshp commented on #1334
Opened new issue on vsts-tasks repo https://github.com/Microsoft/vsts-tasks/issues/6364 , closing this one.

[2018-02-05 18:36] omeshp commented on #1396
Thanks @TingluoHuang for taking care of this.

[2018-02-06 16:26] fifthgearonline commented on #1375
I have been having this issue as well with TFS 2018. I'll try this on a test machine and can update as well if you want.

[2018-02-06 16:50] fifthgearonline commented on #1375
This is from my worker log.
[code]

The one thing i have noticed is that when its trying to find the workspace, it's showing that the expected number of mappings is 24, but in reality there are only 23 mappings for that build. I overly scrubbed this for security reasons.

[code]

[2018-02-06 17:31] scottboehmer commented on #1375
@fifthgearonline is the ps1 file also included by another less-specific mapping? If so, removing the unnecessary mapping should fix your issue.

[2018-02-06 17:35] fifthgearonline commented on #1375
possibly, im testing that now.

[2018-02-06 17:50] fifthgearonline commented on #1375
Yep that was it. Sorry!

[2018-02-06 17:52] scottboehmer commented on #1375
@fifthgearonline good to hear that fixed things for you!

[2018-02-06 17:54] bryanmacfarlane commented on #1375
Is there an opportunity for docs or extending our troubleshooting section for the agent?

[2018-02-06 17:54] bryanmacfarlane commented on #1375
https://docs.microsoft.com/en-us/vsts/build-release/actions/troubleshooting

[2018-02-06 18:04] scottboehmer commented on #1375
I can add something to the TFVC section of the troubleshooting doc covering it.

[2018-02-07 08:32] RoopeshNair commented on #1159
Sharing of deployment group targets is now live on VSTS. Do let us know your feedback.
More info [here](https://blogs.msdn.microsoft.com/devops/2018/01/11/sharing-of-deployment-groups-across-projects/)

[2018-02-07 17:27] kfrajtak opened #1404 "Build does not use VS2017 despite the fact the agent has the capabilities"
## Agent version and platform
2.129.0

## OS of the machine running the agent?
Windows

## VSTS type and version
On-Prem TFS
Version 15.112.26307.0

## What's not working?
Build fails because MSBuild 14.0 (c:\Program Files (x86)\MSBuild\14.0\bin\msbuild) is used and the source code contains C# language elements only Roslyn compiler can understand. The agent can detect VS2017 and show it in the cap

[2018-02-08 14:42] MarcusFelling opened #1405 "Unable to set build number in YAML build that uses phases"
[Platform.txt](https://github.com/Microsoft/vsts-agent/files/1707464/Platform.txt)

## Agent version and platform
Version of your agent? 2.127.0

OS of the machine running the agent? Windows

## VSTS type and version
VisualStudio.com

If VisualStudio.com, what is your account name? http://outselldev.visualstudio.com

## What's not working?
Unable to set Build number format for YAML build that uses

[2018-02-08 19:14] braingame26 opened #1406 "Build.SourceBranchName does not work in workspace mapping"
## VSTS type and version
VisualStudio.com
https://lsfirst.visualstudio.com

## What's not working?
Using `$(Build.SourceBranchName)` in the workspace mappings results in the below error.
[code]
Workspace mapping is $/D365 Upgrade/Trunk/$(Build.SourceBranchName)
Full output for get sources step:
[code]
We want to set up a job that is triggered by any commit to any of the branches in our TFS reposit

[2018-02-09 11:53] RobPurcellUK opened #1408 "VSTS YAML build supporting GitHub Enterprise"
Hi,

I'm trying out the YAML build definition preview, and just noticed that 'VSTS or GitHub' really does mean GitHub only and not GitHub Enterprise.

I can create a new build, say it's a YAML build, choose my GHE repo and the .yml file. But then I get the error message below.

`Unable to get the file content from the GitHub repository '<org>/<repo>' for the source version '6f1afd6cc9e59294b0e03dc

[2018-02-09 15:12] MarcusFelling commented on #1405
This issue can be closed. It's now working.

[2018-02-09 15:12] #1405 closed

[2018-02-09 16:01] ericsciple commented on #759
@ttolley can you verify it matches the values in the server url configured in the admin console?

[2018-02-10 19:34] DeluxZ commented on #838
Supporting GitFlow it can be useful to have the full branch name including the "prefix" feature/, hotfix/ and release/

+1

[2018-02-12 13:17] ttolley commented on #759
Yes, the URL that I use in the stored procedure matches the admin console public URL. It's also the same URL I use when trying to run config.cmd. If I try a different account that shouldn't have permissions, it connects enough to know that that account does not have permissions to configure the agent.  The users can connect via visual studio and in the browser. The user that I'm trying to configur

[2018-02-12 15:38] cschuff opened #1409 "Start VSTS Agent with custom environment variables"
## Agent version and platform
Version of your agent? vsts-agent-win7-x64-2.112.0

OS of the machine running the agent? Windows

## VSTS type and version
VisualStudio.com or On-Prem TFS? on-Prem TFS

If On-Prem TFS, which release, 2015 RTM/QU1/QU2?
Microsoft Visual Studio Team Foundation Server
Version 15.117.27024.0

## What's missing?
I want to spawn multiple Agents from the same machine with dif

[2018-02-12 18:25] michVSTS commented on #1406
We are currently looking into this issue.

[2018-02-12 20:43] michVSTS commented on #1406
A change that should fix this issue, was submitted today, and should get deployed following the deployment process in 3-5 weeks.

[2018-02-12 21:24] braingame26 commented on #1406
Okay great! Please let me know when this fix is deployed.

[2018-02-12 21:33] MCollins434 opened #1410 "Custom Task Execution on Node.JS from Path instead of /externals/"
## Agent version and platform
Agent version: 2.114.0
OS:  Windows Server 2012 R2

## VSTS type and version
On-Prem TFS
2017 Update 1

## What's not working?
We are creating custom release tasks using Node.JS

We have installed a more recent version on Node.JS on the Agent Server and added it to the Path.
When running the "npm" task in our build definitions, that is the version used, as expected.

[2018-02-12 21:47] bryanmacfarlane commented on #1410
That's by design.

There's two decoupled concepts:
1.  node/npm tasks which run the npm installed on the box (or in the task)
2. node as a javascript engine to run tasks.

Since task authors release tasks to the market place we need to guarentee which version of node is the javascript runtime (and it's the node 6 LTS path with 5.1 was part of at that time).

Your task in the market place can't run

[2018-02-12 21:47] #1410 closed

[2018-02-12 21:54] bryanmacfarlane commented on #1409
Write a cmd script to set the variables and launch the agent?

In the OSX / Linux side, we support an env.sh.  Just checked and not in windows:  https://github.com/Microsoft/vsts-agent/blob/master/docs/start/svcsystemd.md#setting-the-environment

Can you elaborate on the specific scenario?  There might be another way to achieve what you're after ...  An example of the variables would be great.

[2018-02-12 21:56] bryanmacfarlane commented on #1408
This is on the backlog.  Actually will be service side code (backlog not managed here).  GHE work is in progress.

[2018-02-12 21:56] #1408 closed

[2018-02-12 21:58] bryanmacfarlane commented on #1404
This is fixed in a later version of the agent.  It's fine to use later versions against your TFS2017 server.  VS2017 installer and how to detect changed.

[2018-02-12 21:58] bryanmacfarlane commented on #1404
Actually the issue is in the task - not an agent issue.  I'll add link ...

[2018-02-12 22:00] bryanmacfarlane commented on #1404
https://github.com/Microsoft/vsts-tasks/releases/tag/VSBuild_dev15tfsu2rtw

[2018-02-12 22:01] bryanmacfarlane commented on #1404
re-open in the vsts-tasks repo if that doesn't solve your issue

[2018-02-12 22:01] #1404 closed

[2018-02-12 22:12] MCollins434 commented on #1410
Understood. That all makes sense.
Thanks a lot for the quick response!

[2018-02-12 22:15] bryanmacfarlane commented on #1410
np - this was one of the things that even confused us in the early days of design :)

[2018-02-13 07:39] kfrajtak commented on #1404
Cool, thanks. I'll let you know.

[2018-02-13 09:48] JanFelixReuter opened #1411 "Register as Windows service not possible: Elevated account cannot access internet"
I cannot both configure the agent and register it as a Windows service, because elevated accounts cannot access the internet in my corporate network. Running the agent interactively is working fine as a non-elevated user, but running `config.cmd` as an elevated user does not work because it cannot register the agent with VSO.

Is there are a way to run only the service registration as an elevated

[2018-02-13 16:25] VarunkumarManohar opened #1412 "vsts docker agent fails with exit code 127 while launching task in a docker container"
Visualstudio.com
https://varungb.visualstudio.com

I run a private vsts agent inside a docker container

[code]

With the invocation of this docker command, I see a successful agent registration inside vsts online agent queue.

I am trying to use this preview feature to start a task inside a docker container from this vsts agent (which itself is a docker container in this case)

[RunTaskInDocker](

[2018-02-13 19:11] FBNitro commented on #1386
(subscribed) This is also affecting my project.  The "What we would like" above also satisfies my concerns.

[2018-02-13 21:56] VarunkumarManohar commented on #1412
seems like the issue with volume mounting. The task container is unable to use the mounted volume.

I have checked the logs and the task container was created with volume mounting on /var/vsts/1/s and
/var/agent/externals

[2018-02-13 21:59] bryanmacfarlane commented on #1412
Correct.  This isn't a supported feature yet (it's in POC stage) and only works on Linux.  We're waiting for a bug fix in an upcoming windows release (soon).

[2018-02-13 21:59] #1412 closed

[2018-02-14 08:04] cschuff commented on #1409
Hi Brian,

I have multiple Agents running on one physical machine. They are installed as windows services since they e.g. need to restart after a reboot. Each of this agents needs to run under the same windows user.

The agents need different environment variables set. I currently see no way to achieve this with the VSTS installer.

It would be great to see this as a feature.

I don't see how to s

[2018-02-14 13:57] ericsciple commented on #759
@ttolley can you confirm you ran the SQL command against the config db and not the collection db?

[2018-02-14 14:40] cschuff commented on #1409
Simple example: Different Node.js versions per Agent. Could be JAVA_HOME as well.

In my specific case a build also checks source into a SAP-specific versioning system which makes use of local workspaces. These workspaces are 'locked' as soon as one Client is operating on them. Therefore I need to have separate workspaces per Agent -> that is what I try to configure. If there is an easier way I'm

[2018-02-14 18:29] chrispat opened #1413 "Build logs not fully persisted when build fails due to timeout"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
Version of your agent? 11.120

OS of the machine running the agent? Linux

## VSTS type and version
VSTS

If On-Prem TFS, which release, 2015 RTM/QU1/QU2?

If VisualStudio.com, what is your account name? http://devdiv.visualstudio.com

##

[2018-02-14 18:36] chrisrpatterson commented on #1411
You could should be able to create a service for the agent using sc create.  Just make sure the user you pick as the user running the service has all of the necessary permissions to the agent files on disk.

[2018-02-14 19:37] bryanmacfarlane opened #1414 "Layout of our command doc is bad"
it makes you scroll.

this should be a vertical web layout:  https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md

[2018-02-14 20:35] Djvacto commented on #1413
Hey @chrisrpatterson

Just to clarify, is the timeout the same as the kind described [here](https://github.com/Microsoft/vsts-agent/blob/47875bd0ec301de77373fd26f78273d889c91a1a/docs/troubleshooting.md#workaround-httptimeoutexception)?

[2018-02-14 20:47] Djvacto commented on #1414
@bryanmacfarlane When you say vertical web layout, do you mean something like [this?](https://css-tricks.com/responsive-data-tables/)

Main downside I would see is the table could get potentially kinda long vertically, but at least there is only scrolling in one dimension, and maybe it could be helped by expanding the content of the row the user is looking for?

[2018-02-15 10:06] Kreism opened #1415 "Use system git instead of agent git version"
## Have you try trouble shooting doc?
Link to trouble shooting doc: https://www.visualstudio.com/en-us/docs/build/troubleshooting

## Agent version and platform
Version of your agent? 2.117.2

OS of the machine running the agent? Windows

## VSTS type and version
On-Prem TFS

If On-Prem TFS, which release, 2015 RTM/QU1/QU2?
TFS 2017 Update 3

## What's not working?
How can we tell the agent to use

[2018-02-15 10:22] jsalado opened #1416 "VSTS build task extension based on PowerShell Script not runnung on Linux/MacOS hosted agents"
## Agent version and platform
Version of your agent? VSTS latest linux and OSX hosted agents

OS of the machine running the agent? OSX/Linux

## VSTS type and version
VisualStudio.com

VisualStudio.com account name: http://javiersalado.visualstudio.com

## What's not working?
I have seen that hosted Linux and OSX agents in VSTS have Powershell installed, and in fact, running builds with a PowerShe

[2018-02-15 19:52] bryanmacfarlane commented on #1416
The powershell handler in the task model is for windows powershell.  Even though powershell core is now available (it wasn't when our tasks started), many tasks written in powershell have windows assumptions.

We will add a new handler type for powershell core.

If you want, you can create an enhancement issue in the vsts-task-lib repo.

[2018-02-15 19:52] #1416 closed

[2018-02-15 20:02] bryanmacfarlane commented on #1415
We don't have a way to set per agent or pool.  We do have a feature request on the backlog to set variables on the pools which would get merged but it's not very high on the backlog.  For right now, you need to set in the definition.

The only other option would be to add an environment variable override here:  https://github.com/Microsoft/vsts-agent/blob/65856f3e7335739948b61711d0ebe0c54a2b6806/s

[2018-02-15 20:08] bryanmacfarlane opened #1417 "Support large uploads of ##vso upload log (page, chunk etc...)"

[2018-02-16 07:25] jsalado commented on #1416
Hi Bryan,

thanks for the answer. I will open the enhancement to add the powershell
handler: I don't think it will hurt to have it, it will give everyone more
options to implement tasks. I guess we will just have to code our ps
scripts without any windows assumption or make the OS aware ;-)

Cheers,
J.

On Thu, Feb 15, 2018 at 8:52 PM, Bryan MacFarlane <notifications@github.com>
wrote:

[2018-02-16 19:54] calebcartwright commented on #1379
Seems this issue is still ongoing, despite the recent VSTS release for sprint 130. https://docs.microsoft.com/en-us/vsts/release-notes/2018/feb-14-vsts

[2018-02-16 19:58] bryanmacfarlane commented on #1379
130 has not gone to most public scale units.  It's just started and it's on internal rings right now.  This is also a service bug, not an agent issue so closing.

[2018-02-16 19:58] #1379 closed

[2018-02-16 20:15] Prachiti9 commented on #1379
@calebcartwright, Can you send me email with your account name at prachis (at) microsoft (dot) com so that I can confirm if fix is applied or not to your account.

[2018-02-16 20:52] calebcartwright commented on #1379
Thanks @Prachiti9. I don't have an urgent need for this preview feature. I just didn't know that the latest release with the fix wouldn't be fully rolled out until early next week, and was worried the server side issue still existed.

[2018-02-17 10:27] tarunaroraonline commented on #1044
@RoopeshNair @bryanmacfarlane @TingluoHuang... Please can i confirm that the `update all agents` option in VSTS uses the new Microsoft Edge URL (Microsoft Blob) rather than GitHub to download the agent?

[2018-02-17 15:41] bryanmacfarlane commented on #1044
@tarunaroraonline - yes it does.  Actually, the backend just has an url by platform in the DB so it's up to us where it points.  But, as of the last couple of releases, we have started pointing VSTS at the azure CDN.

[2018-02-18 20:13] TerrapinStation opened #1418 "Add a setting to name build definition in .vsts-ci.yml"
It would be nice to be able to name these definitions within the yml file instead of being limited to the default (<REPO_NAME>/<REPO_NAME> CI)

[2018-02-18 20:16] TerrapinStation opened #1419 "Allow trigger options with path filtering to be defined in the .vsts-ci.yml"

[2018-02-18 22:46] bryanmacfarlane commented on #1419
It's coming in the next sprint.  Already coded.

Here's the design: https://github.com/Microsoft/vsts-agent/pull/1383/files

[2018-02-18 22:55] bryanmacfarlane commented on #1409
In the SAP example, is it the same build definition which can be served by four agents on all the same machine but need affinity to an SAP workspace?  (just making sure I understand)

[2018-02-18 23:32] ericsciple commented on #1409
For node specifically, we have a Node Tool task that downloads, caches, and adds a specific version of node to your PATH. You can add the task as a step on your build definition. You can also add specific folders to your PATH at runtime. In a step during your build/release, `echo ##vso[task.prependpath]C:\my\folder` - [see here](https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/co

[2018-02-18 23:50] ericsciple commented on #1419
@TerrapinStation is your repo in VSTS or GitHub. Right now we only have path filtering for repositories in VSTS.

[2018-02-18 23:57] ericsciple commented on #1418
@TerrapinStation We are planning to have a folder layout convention for multiple definitions. Something like
[code]

So in the above example, `.vsts-ci/definitions` is a specific folder that we watch on-push. If you add a yaml file to that folder, then we will create the definition if it doesn't exist and infer the definition name from the file name.

Will that work? Thoughts?

[2018-02-19 01:17] TerrapinStation commented on #1418
@ericsciple That would be perfect! It would also solve one of the other problems we have, which is managing multiple yml definitions in one repo.

[2018-02-19 13:21] bzuu opened #1420 "Docker task in yaml based build cannot find Azure Resource Manager Endpoint"
I created a .vsts-ci.yml file with the following contents:

[code]

However when I run the build it fails immediately with the following error:

`Step input azureSubscription references endpoint My Azure Subscription which could not be found. The service endpoint does not exist or has not been authorized for use.`

I am using VSTS as well as the latest build agent (2.129.1), although it seems the

[2018-02-19 15:57] alpacamybags118 opened #1421 "Deployment Groups - Cannot Add Agent To Multiple Deployment Groups"
I'm working through configuring agents on our various servers and adding them to deployment groups. I noticed as I was going through configuration that you cannot add an agent to multiple deployment groups.  It seems that if you want to have a machine to be part of multiple deployment groups, you have to install multiple agents on the server.

This doesn't necessarily scale very well as that's mor

[2018-02-19 18:35] wes566 commented on #483
@ericsciple any update on this?

[2018-02-19 19:32] ericsciple commented on #1420
check this https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-authz.md

[2018-02-19 20:29] ericsciple commented on #483
Nope, user voice might be a good place to gain traction on this

Note, the work involved isn't just about making the agent startup. It's about making the capability scripts work, making the source providers work, making tasks work, proxy settings, run as service/autologon, etc. Many of the implementations for tasks on Windows leverage the powershell task execution handler. Today we don't have a po

[2018-02-19 21:45] ericsciple commented on #1418
Thanks for confirming.

Right now we are wrapping up CI triggers and we are hoping to complete yaml templates next (pull in separate files for reuse), and then probably templates from a separate repo. I would guess a specific folder layout would be sometime after that, but I don't know when. User voice sometimes also helps us prioritize features.

I'm going to go ahead and close this issue, since

[2018-02-19 21:45] #1418 closed

[2018-02-19 21:47] ericsciple commented on #1419
@TerrapinStation thanks for confirming

[2018-02-19 21:47] #1419 closed

[2018-02-19 23:24] jabbera commented on #483
See the following issue for why this would be a gr at idea: https://github.com/Microsoft/vsts-agent-docker/issues/33

[2018-02-20 02:45] jabbera commented on #483
Thanks @bryanmacfarlane! This will be excellent. Yaml only? I’m really looking for my teams to be able to manage their own image/build deps off our base image with all the basics. They still will want the ui for managing their pipelines though.

[2018-02-20 03:48] kmkumaran commented on #1421
If you are interested in sharing the agent across multiple DGs, you can follow the guidance here. https://blogs.msdn.microsoft.com/devops/2018/01/11/sharing-of-deployment-groups-across-projects/

[2018-02-20 08:10] cschuff commented on #1409
@bryanmacfarlane

Exactly. The build agents just need to use different SAP workspaces. A single workspace used by one agent gets locked. When the 2nd agent tries to access it the build will fail. Therefore I need one workspace per agent.

This would be a perfectly easy thing to do via environment vars per agent...

[2018-02-20 08:24] bryanmacfarlane commented on #483
It will start in yaml then make it's way to the UI.  yaml might still end up with more controls and flexibility.  But the UI will at a minimum offer run this phase in a container.

[2018-02-20 08:58] bzuu commented on #1420
@ericsciple I saved the build definition again and after fiddling a bit with the azureContainerRegistry parameter, it works just fine. Completely missed that bit of documentation. Thanks!

[2018-02-20 08:58] #1420 closed

[2018-02-20 11:54] jabbera commented on #483
That’s fine. Most of my teams want 4 things: an ephemeral build environment, the ability to maintain their own build image, the ability to use the same build steps on their desktop for compilation/testing, and a simple way to layout their task sequence. This covers most of those it looks like.

[2018-02-20 15:40] chuckabadg3r opened #1422 "Agent Pool Maintenance queued but does not start"
Agent Version : 2.129.1
OS: Windows Server 2008 R2 Enterprise SP1, Windows 10.0.16299 Build 16299
VisualStudio.com: http://absvsts.visualstudio.com

We have 5 agents set up on this box and all are working perfectly in terms of performing builds and releases, however we noticed that space was getting quite low on the Build Server and discovered that the Agent Pool Maintenance  plans are not executi

[2018-02-20 17:28] angrox opened #1423 "Parseable download URL via api.github.com"
It is not possible anymore to find the download url in an parsable form via api.github.com:

<pre>
 # curl -s https://api.github.com/repos/Microsoft/vsts-agent/releases/latest

[...]
  "assets": [
 ],
 "tarball_url": "https://api.github.com/repos/Microsoft/vsts-agent/tarball/v2.129.0",
 "zipball_url": "https://api.github.com/repos/Microsoft/vsts-agent/zipball/v2.129.0",
 "body": "## Features\r\n

[2018-02-20 17:56] ericsciple commented on #1420
@bzuu thanks for comfirmation. I have struggled with presenting the content in that page in a clear manner. Let me know if you have any suggestions.

We also have an item on the backlog to have a resource authorization experience in the web editor. Something that would enable to customers to click a button to add an endpoint, and choose available endpoints from a dropdown.

Also we are also discus

[2018-02-21 05:48] jikuma commented on #1386
@ppanyukov We are working on this. Can you please help me understand your scenario better. Why are you using schedule release? Is the purpose of it is testing, in that case, I will suggest you to use continuous deployment (auto trigger) instead of schedule release. If the purpose is to do update your deployment automatically without manual intervention, you can use continuous deployment. I underst

[2018-02-21 08:47] Kreism commented on #1415
@bryanmacfarlane Thanks for your Feedback. Flyingdot done that for my in  #1424
Is there a way to build this so that we can test / use it? Unfortunately, it has become somewhat urgent for us in the meantime. Thank you very much

[2018-02-21 13:37] madhuv-msft opened #1425 "line bigger than 1024 chars are truncated, can we split the line in to sublines and send in livelogs"
in this file
https://raw.githubusercontent.com/Microsoft/vsts-agent/573c9699eb478b41deda0195dcae24cc5be2128d/src/Microsoft.VisualStudio.Services.Agent/JobServerQueue.cs

if line length is bigger than 1024 we are truncating it, rather can we split the line in to 1024 length lines?

if (!string.IsNullOrEmpty(line) && line.Length > 1024)
                    {
                        Trace.Verbose("We

[2018-02-21 14:00] bryanmacfarlane commented on #1425
It's only truncated in the live console log which flies by.  The persisted log does not truncate anything.

[2018-02-21 14:00] #1425 closed

[2018-02-21 14:05] bryanmacfarlane commented on #1423
There's plenty of libraries to parse an url.  Can you explain why you need to parse the url?  The point of the url is it's an opaque url to do a get against.

[2018-02-21 14:56] ericsciple commented on #1415
`.\dev.cmd layout`

Can you confirm that adding the variable on each definition works for you?

[2018-02-21 14:57] ericsciple commented on #1415
https://github.com/Microsoft/vsts-agent/blob/master/docs/contribute.md

[2018-02-21 14:58] ericsciple commented on #1415
...has instructions for building the source code.

[2018-02-21 15:34] FBNitro commented on #1386
Yes, this is a blocker.

We have 20+ artifacts on the release job, if any one of them changes VSTS will trigger a release.  If we DO NOT change the ACR artifact (ie: I change some library elsewhere), VSTS does not select the most recently built version, instead it picks a random version in the list.  The version it picks happens to also be the one at the top in the UI if you were to attempt a manu

[2018-02-21 16:29] angrox commented on #1423
I do not want to parse the url, I want to get the download URL for the vsts-agent tgz file. In the past that was easy using the following command against the API of github:
`curl -s https://api.github.com/repos/Microsoft/vsts-agent/releases/latest | jq -r .assets[].browser_download_url`

Now you changed something in the releases so the download url is not in the assets[] in the returned JSON objec

[2018-02-21 21:28] masters3d commented on #858
Come Vote [here](https://visualstudio.uservoice.com/forums/330519-visual-studio-team-services/suggestions/32068780-use-ci-skip-rather-than-no-ci) for additional spellings.

[2018-02-22 02:01] lovettchris commented on #680
I'm getting the same problem from Windows Server 2016 running Linux vsts-agent in a MobyLinuxVM Docker image.

[2018-02-22 02:08] bryanmacfarlane commented on #680
@lovettchris - do you know what version of the agent was running on the builds that timed out?

[2018-02-22 04:36] SteveLasker commented on #1386
Hi @jikuma
We are working to add more rich meta-data to registry images. Including the last push date, last tag date, as well as other features like policy to delete images that were built, but not deployed, but keep images that have a policy of "release" for a pre-determined period of time.
To help us understand your need:
Is this a production release? Generally, grabbing the latest, by build ver

[2018-02-22 05:51] jikuma commented on #1387
@ppanyukov The fix for the issue has reached your ring can you please try deleting the RD again.

[2018-02-22 11:52] Kreism commented on #1415
Hi @ericsciple Thanks fount it and I was able to create a build an test it.
Yes. I can confirm this is working with a system evn. variable for all build agent on that server.

[2018-02-22 12:16] ppanyukov commented on #1387
@jikuma Yes this worked.  Thanks for the fix! :)

[2018-02-22 12:16] #1387 closed

[2018-02-22 12:50] chuckabadg3r commented on #1422
I've had a look at the logs in the _diag folder but can't seen anything relevant and suggest that there is no activity at all at the time the maintenance plan is queued.

Is there any other place I can look for log information?  I have looked in the event logs on the server and can't see anything.

[2018-02-22 16:25] FBNitro commented on #1386
Hi @SteveLasker
Our release job in VSTS handles our versioning for us.  So we have a large chain setup that does integration, integrationTesting, staging, stagingTesting, preprod, preprod testing, then we approve pushes off to production manually when we're happy with a release, which continues the pipeline.

Having it grab the latest version at release time, and then tagging that version number a

[2018-02-22 16:42] SteveLasker commented on #1386
Thanks @FBNitro
First, thanks for the detail. This really does help. We are working to get the ordering fixed, so bear with us while this gets fixed, tested and rolled out. Since ACR is in all public Azure regions, (~27 I believe) with sovereign clouds coming, it will take a bit.
In the meantime, I've been trying to get a blog post about this complete, so I'll work on it today.
What you're trying

[2018-02-22 16:46] FBNitro commented on #1386
Every release we do is auto-triggered.  We rarely (2% of the time) ever manually perform releases, we have a large number of devs and if there's a change it is auto built and deployed immediately. If it fails, it's on the devs to fix, after which it will be deployed again.  So yes, in my current scenario, the most recent version at release time is assumed to be correct.

[2018-02-22 16:50] SteveLasker commented on #1386
Great. So, do you stash off that release number? if it's automated, can you pull that release number and use it for deployment? What I'm seeing in the post is the UI (and the underlying API), used by humans, is flawed. I get that from a troubleshooting point, it's more difficult. (fix in progress). But, how would the ordering of the list fix the underlying automation?

[2018-02-22 16:52] FBNitro commented on #1386
The ordering in the UI won't fix the issue.  My note here would:

[2018-02-22 17:00] SteveLasker commented on #1386
Ok, this makes sense. So, it's not the ordering in the API. You want the "newest" - latest is too overloaded. Newest, or even a stable tag will cause instability in your deployment. You want to deploy a very specific tag. You want VSTS to figure out what the newest version of that tag at the time you deploy. The deployment artifact would have 0.1.45-1.0.27. If the cluster needs to re-pull that ima

[2018-02-22 22:13] gravufo commented on #1397
@shaynemarriage Update to the latest Java (the first version that worked for me was 1.8.0_152-b16).
I had the same issue and it seems to be related to Java and how it handles Server Name Indication (SNI) when SSL is enforced.

Make sure the java that's in your path is the correct version by typing `java -version`.

@bryanmacfarlane @TingluoHuang I suggest you update the documentation to reflect th

[2018-02-22 23:20] alpacamybags118 commented on #1421
Thanks for getting back to me! I don't think this is quite what I'm looking for unfortunately. I actually don't even have the options listed there. To be clear, we are using on-prem TFS and not VSTS.

Our setup currently uses one big team project for most items. What I want to accomplish is while using one team project, being able to associate one agent on a server to multiple deployment groups, a

[2018-02-23 16:09] DiedB opened #1427 "Running electron-builder with NSIS on a VSTS Agent fails"
## Agent version and platform
2.129.1, Hosted VS 2017 (Windows)

## VSTS type and version
VisualStudio.com

## What's not working?
Running electron-builder through a VSTS task (both using the NPM task or a PowerShell script) fails. Making an NSIS installer for the Electron package does not work because the command line input is not given correctly.

This is not an issue with electron-builder itsel

[2018-02-23 18:21] ericsciple commented on #1427
are you passing anything to stdin of the tool?

[2018-02-23 21:08] DiedB commented on #1427
Debugged it with Procmon and discovered that the environment variable Build.BuildNumber gets injected by VSTS, which in turn is used by Electron Builder in the product version number. It expects a number there and crashes, since our build number format does not consist of only digits.

[2018-02-23 21:08] #1427 closed

[2018-02-25 04:52] ericsciple commented on #1418
linking to PR https://github.com/Microsoft/vsts-agent/pull/1430

[2018-02-27 06:23] 199219921992 commented on #1240
Hello guys, Is the above mentioned issue is resolved? if yes, could you share me the resolution steps ot any workaround for this issue.

[2018-02-27 13:16] bryanmacfarlane commented on #1240
@199219921992 - in the issue above, an auto update was never invoked and the logged 401 mentioned was a natural part of auth negotiation.  If you have an agent log when this occured, please supply details

[2018-02-27 13:44] Ingo-Siegel opened #1433 "assets list does not contain binary packages"
VSTS-Team,

we are using the Github Rest API to automate the Installation of vsts-agent Software. Up to release v.2.124.0 you always added the rest assets list data of the packages containers (tar.gz/zip) but it is no longer included except than in the pre-releases.

**We are missing:**
Browser: https://api.github.com/repos/Microsoft/vsts-agent/releases/latest
{
  "url": "https://api.github.com/re

[2018-02-27 18:15] jonlanceley commented on #1422
Hi im also experiencing this problem.  All our agents running as a windows service or not produce a no security token found error when starting the maintenance manually from the menu in vsts.  And all agents have the maintenance queued for every day but never start.

Is there any more logging we can turn on? Its like the vsts agent doesnt even try to start running maintenance.

I looked in the sou

[2018-02-27 18:33] bryanmacfarlane commented on #1422
I have someone looking into it.

[2018-02-27 23:03] ppanyukov commented on #1386
@jikuma Additional info as requested.

We sometimes use VSTS and release definitions as a glorified cron to run jobs. For some of these, the "jobs" are packaged into docker containers and pushed to ACR.  The release definitions pull these images and run whatever they have in them.

We were hoping to have ACR as the artifact source for these release definitions, with semantics similar to how builds

[2018-02-28 09:16] chuckabadg3r commented on #1422
Thanks Bryan

[2018-02-28 16:10] stephenmichaelf commented on #1422
@chuckabadg3r @jonlanceley thanks for your patience I am looking in to this.

I think it may be happening on the server side, not the agent. Will update you when I know more.

[2018-02-28 18:15] stephenmichaelf commented on #1422
We have found the source of the issue and we are working on a fix. I will update you both here when the fix has gone out.

[2018-02-28 18:33] RoopeshNair commented on #1159
Sharing of deployment group targets will be available in TFS 2018 Update 2 onward.

[2018-02-28 18:47] Tarig0 commented on #1159
@RoopeshNair The current implementation is 1 agent group\queue multiple projects.
1 agent -> multiple projects sounds like you can re-group agents in each project.

agentWebA -> queue/group app1 -> project app1
agentWebB -> queue/group app2 -> project app2
agentDB -> queue/group app1 in project app1
               ->queue/group app2 in project app2

[2018-02-28 19:16] RoopeshNair commented on #1159
Agents are registered against the pool and are at collection/deployment level. Queues/Deployment Groups are proxy for the pool in a team project. So you have the DB agent registered with the pool and use it in one or more projects via. deployment group/queue in respective projects

[2018-02-28 19:36] jonlanceley commented on #1422
Thanks @stephenmichaelf good to know, your quick response is much appreciated

[2018-02-28 21:51] redshiftz opened #1434 "VSO Log items not shown in step tree or logs."
## Have you try trouble shooting doc?
Yes.

## Agent version and platform
Version of your agent?
TFS 2015 - 1.95.3/14.102.25423.0
TFS 2017 - 2.122.1/15.117.27024.0

OS of the machine running the agent?
Windows

## VSTS type and version
On-Prem TFS

If On-Prem TFS, which release?
2015 U3
2017 U3 RTM

## What's not working?
When running the following code in a powershell file, the log items coded as

[2018-02-28 23:39] search8 commented on #1159
@RoopeshNair Ok, thank you. We'll wait for that then.

[2018-03-01 04:00] SteveLasker commented on #1386
Hi @ppanyukov
This is an evolving space, and there are lots of ways to use things. To try and put some context on tagging, we've finally pushed out this post on image tagging. Hope it helps and always interested in the feedback:  https://blogs.msdn.microsoft.com/stevelasker/2018/03/01/best-practices-for-tagging-and-versioning-docker-images/

[2018-03-01 04:11] bryanmacfarlane commented on #1433
The VSTS backend for your account has the url where to download the agent (that API drives the download agent button in our web UI).  Open up fiddler or browser dev tools to see the rest api requests.

We did it that way so we could change the actual url where it's stored at anytime.  We always had plans to move it to our own CDN (which we did).

A more durable automation would query the rest api

[2018-03-01 10:00] jiberan commented on #1043
there is same problem with TFS 2018.1 RTM. Adding user capabilities is working as workaround.

[2018-03-01 10:49] bryanmacfarlane commented on #1043
Note that you can use the latest agent released on github with any 2017 or 2018+ on prem server.  So once the fix is in here ok to pickup

[2018-03-01 12:08] Ingo-Siegel commented on #1433
thanks for your Support!

[2018-03-01 15:03] stephenmichaelf commented on #1422
@jonlanceley Glad I can help! The change has gone in and is starting to roll out (this process can take a a day or so depending on some internal factors). If you send me your account name I can let you know once it's rolled out to your account.

If you don't want to type it here you can email it to me: stfrance at microsoft dot com

Thanks!

@chuckabadg3r I am checking on your account for ETA on w

[2018-03-01 15:45] chuckabadg3r commented on #1422
Thanks @stephenmichaelf .  Great news!

[2018-03-02 10:51] Amethi opened #1435 "sudo: ./svc.sh: command not found"
Hi, I've just executed the command given by the VSTS deployment group page  to execute the agent on my Ubuntu 16.04.4 LTS server (via su root) and received the following error at the end. Is this a problem?

[code]

The command given by VSTS on the https://tenant.visualstudio.com/project_name/_machinegroup?view=MachineGroupView&mgid=47&tab=Details URL was:

[code]

Looks like `svc.sh ` script does

[2018-03-02 11:43] Amethi commented on #1435
**Update:** it didn't like root. I added my normal user to sudo group and it's happier, but still failing on `sudo: ./svc.sh: command not found`

[2018-03-02 11:47] Amethi commented on #1435
**Update:** okay, after running the `vstsagent/installdependencies.sh` script and nuking the agent folder and re-running it worked.

So the commands given on visualstudio.com might need updating to include the dependencies script?

[2018-03-04 09:23] jonlanceley commented on #1422
Thanks i can confirm that the maintenance jobs are running now.

[2018-03-04 20:54] scottnasello opened #1437 "is vsts-agent ignoring my onPrem agent when autocreating a build definition?"
Hello

Whenever I create a new repo and specify an OnPrem agent in my .vsts-ci.yml (see below), it assigns the build to the Hosted VS2017 queue.  It does appear that it is running on an OnPrem build server even though the gui says otherwise.

[code]
 This article implies that the automatic build definition creation can only be hosted (see this snippet)
[code]

<img width="593" alt="screen shot 201

[2018-03-05 04:06] ericsciple commented on #1437
the queue shown in the web is the fallback for any phases in yaml where the queue is not specified

here is a better example: https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-queues.md

[2018-03-05 04:09] ericsciple commented on #1437
sorry i misread this a little bit the first time.

the UI is confusing because if your case, you specified one phase in the file and explicitly specified the queue on the phase. it would probably be less confusing in this case, if the fallback in the UI was the explicit one that was specified in the file.

[2018-03-05 09:22] jespersh commented on #1435
Did you run the commands here: https://github.com/Microsoft/vsts-agent/blob/master/docs/start/envubuntu.md ?

I initially missed these instructions and got the same errors as you. I rm -rf'd the vstsagent folder and redid the lengthy command and it succeeded.

I am however on 16.04.3 LTS instead of .4

[2018-03-05 09:52] Amethi commented on #1435
No, because the user journey is you start from Azure Portal, run the command it tells you to, and that fails. That script needs fixing and then the pre-reqs here are irrelevant. You shouldn't have to know to come here and find the pre-reqs that you don't know you need.

[2018-03-05 10:02] jespersh commented on #1435
Ah, okay. We're using TFS and the deployment groups page has this link: https://aka.ms/vstsagentubuntusystem I am unfamiliar with what VSTS has here.

![TFS](https://user-images.githubusercontent.com/1004198/36968975-6a2bce64-2064-11e8-8ed0-e5ac11dd37d5.png)

[2018-03-05 10:02] Ingo-Siegel commented on #1433
Hi @bryanmacfarlane, we wish to use the filename attribute within the VSTS backend REST API - currently the field is empty.

What we get:
Browser: https://<account>/_apis/distributedtask/packages/agent?$top=1&%24top=1
[packages_agent_top1.txt](https://github.com/Microsoft/vsts-agent/files/1780338/packages_agent_top1.txt)

What we want:
...
{
         "type":"agent",
         "platform":"osx-x64",

[2018-03-05 14:05] stephenmichaelf commented on #1422
Awesome! Thanks @jonlanceley.

@chuckabadg3r  Yours should be working too, can you confirm?

[2018-03-05 15:58] chuckabadg3r commented on #1422
hi @stephenmichaelf .  Yep evI can also confirm that the issue has been resolved.   Thanks very much for your help

[2018-03-05 16:45] #1422 closed

[2018-03-05 18:46] Amethi commented on #1435
Ah, I'm an idiot. I didn't see that. I got too eager with the big command :)

[2018-03-06 09:30] jespersh opened #1439 "Windows registration script fails to github certificate error"
## Agent version and platform
Trying to download the agent on Windows

## VSTS type and version
On-Prem TFS 2018

## What's not working?
Downloading https://go.microsoft.com/fwlink/?linkid=858950 using the powershell script

[code]

Powershell script with sensitive data removed
[code]

The testcase can be reduced to this essentially:
[code]

Or even with the github redirected page instead:
[code]

[2018-03-06 11:52] alexwiese commented on #1439
May be related to GitHub deprecating TLS 1.0 and 1.1? Can you try to force/use TLS 1.2?

https://www.thesslstore.com/blog/deprecation-tls-1-0-1-1-underway/

[2018-03-06 11:56] hpbieker opened #1440 ""CurlException: SSL connect error" when connecting with self-signed certificate"
## Agent version and platform
[code]

## VSTS type and version
On-Prem TFS 2017 15.117.26714.0

## What's not working?
The tsts-agent is not able to connect to the tfs server. The tfs server is using a self signed certificate.

[code]

The exception reported in the log is:
[code]

My Dockerfile looks like:
[code]

running curl within the containers works without ssl issues:
[code]

## Agent and Wo

[2018-03-06 13:24] bownie opened #1441 "Subversion using Agent-configured proxy"
## Agent version and platform
Windows 7/10 64bit
Agent version 2.129.1

## VSTS type and version
https://nn-solaris.visualstudio.com

## What's not working?
We've configured an on-premise agent to run behind a proxy using  command line args to config.cmd and then configured a build to connect to on-prem SVN repo.  The agent connects to VSTS ok, we can queue the build on the agent but when the svn

[2018-03-06 13:26] bryanmacfarlane commented on #1441
See the docs
https://docs.microsoft.com/en-us/vsts/build-release/actions/agents/proxy?tabs=windows#specify-proxy-bypass-urls

[2018-03-06 16:03] bownie commented on #1441
Perfect, thanks!

[2018-03-06 16:03] #1441 closed

[2018-03-07 21:39] TingluoHuang commented on #1440
@hpbieker base on the agent log, you are on really old version agent.
can you confirm whether this is still a problem in latest version agent?
[code]

[2018-03-07 21:46] TingluoHuang commented on #1439
@jespersh we are moving away from github release, the recent agent releases are located in AzureCDN.
for now, you can change your script as @alexwiese suggest.
[code]

[2018-03-07 21:48] TingluoHuang commented on #1435
looks like everyone is happy now, i am going to close the issue, please reopen if more help needed. :D

[2018-03-07 21:48] #1435 closed

[2018-03-07 21:50] TingluoHuang commented on #1434
##vso[task.logdetail] suppose create detail timeline record on the `timeline` tab of your task
like this:

![image](https://user-images.githubusercontent.com/1750815/37120131-8699d2ca-2227-11e8-8a3b-48ef70ad1537.png)

[2018-03-07 22:00] TingluoHuang commented on #1415
@Kreism thanks for your contribution, i left some feedback on the PR.

[2018-03-08 07:27] hpbieker commented on #1440
Thank you @TingluoHuang . It is the same result with agent 2.122.1 provided by the microsoft/vsts-agent:ubuntu-16.04-tfs-2018 docker image. See log below. I notice that i get two different exception messages for some reason.
[code]
and
[code]

[agent-2018.log](https://github.com/Microsoft/vsts-agent/files/1792158/agent-2018.log)

Is this the correct way to add a self signed sertificate? And is my

[2018-03-08 07:41] jespersh commented on #1439
Thanks @TingluoHuang and @alexwiese!
While I'll close this for now I'd like to ask if you know if future versions of powershell will automatically set this for us?

[2018-03-08 07:41] #1439 closed

[2018-03-08 08:00] hpbieker commented on #1440
It got it working after changing the certificate file to the root certificate. It looks like multiple certificates are involved here.

[2018-03-08 08:00] #1440 closed

[2018-03-08 14:33] TingluoHuang commented on #1439
it should as old TLS version will be deprecated eventually, but i have no idea about when that will happen. :D

[2018-03-08 19:36] bhaidar commented on #1380
Hello again @TingluoHuang
I am facing the same issue again! I have Node 8.10.0. Locally I can build my Angular 4 app, while on the Hosted Agent, I am not able to build it.

[code]