[2022-02-28 05:46] EzzhevNikita commented on #3757
@arquitecturatic We fixed this issue, the fix will be delivered with the next agent release.

[2022-02-28 09:13] Keki91 commented on #3737
Seems to still be an issue in MacOS on 2.200.0.

[2022-02-28 11:02] #3514 closed

[2022-02-28 21:51] Cpcrook opened #3769 "Improve Agent Capabilities Check: Output Info When No Online/Enabled Agents Satisfy Capabilities"
## Agent Version and Platform
2.200.2 / 2.193.0 Windows self-hosted agents in an Azure VM

## Azure DevOps Type and Version
dev.azure.com

https://dev.azure.com/kcic

## What's not working?

**Expected**

- Given I add new build agents to an existing pool,
- And those build agents are not in parity with the capabilities of existing agents
- And I disable the existing agents in order to test the ne

[2022-02-28 22:40] BillyONeal opened #3770 "v2.200.2 appears to break running msiexec from a script"
## Having issue with YAML?
It's a YAML build pipeline but the issue isn't about YAML.

## Having issue with Tasks?
It doesn't look like an issue with a specific task; rather, it is more likely something related to the environment created by the agent to run builds, so I'm filing here.

## Having issue with software on Hosted Agent?
No.

## Having generic issue with Azure-Pipelines/VSTS/TFS?
I don'

[2022-02-28 22:45] BillyONeal commented on #3770
I don't see anything in the history between the previous release and now suggesting that which user etc. are used has changed; but I also don't know if the script used by Scale Set Agents to deploy the agent into the VMs is here. If there's another repo I should be looking at for that please feel free to close here and point me :)

[2022-03-01 12:20] alexander-smolyakov commented on #3770
@BillyONeal this repo is specific for the ADO agent itself, for the "Azure Virtual Machine Scale Sets" related questions and its configuration scripts please open an issue in [Developer Community](https://developercommunity.visualstudio.com/search?space=21).

[2022-03-01 13:16] alexander-smolyakov commented on #3769
@Cpcrook, the agent capabilities checking is handled by the Azure DevOps itself. Could you please create a ticket on https://developercommunity.visualstudio.com/search?space=21 to get the right eyes on it?

[2022-03-01 18:25] BillyONeal commented on #3770
You're confirming that decisions like this aren't made on behalf of the agent?

[2022-03-01 20:10] chengyu-liu-cs commented on #3688
Hi, is this problem already solved ? As I am also getting error.

In my case there was not error if I only use one cmd like this
`Write-Host "##vso[build.addbuildtag]XXX"`

But I got error if I add two tags in the same script task like this
[code]

Here is agent information
[code]

[2022-03-01 20:36] Cpcrook commented on #3769
@alexander-smolyakov Done: https://developercommunity.visualstudio.com/t/improve-agent-capabilities-check-output-info-when/1680059

[2022-03-02 09:20] KlemenDanfoss commented on #858
Confirming it doesn't work.

[2022-03-02 18:35] Sl1ckR1ck commented on #3422
@DaRosenberg : im getting the same issue here. Did you create a ticket on the dotnet repo? If so do you have a link to it so that i can follow it?  Thank you!

[2022-03-02 20:38] Sl1ckR1ck opened #3773 "Agent tries to downgrade itself but fails due to missing hash"
Hi,

I am facing an issue on 2 of my build agents which are running V2.198.3.

For some reason, my agent is trying to downgrade itself to V2.181.2 but fails saying that it is not able to validate the package since there is no hash.

So I have 2 questions:

1. Why does it try to downgrade itselft. The message explains that it could be due to a rollback but if i look at the versions here V2.198.3 do

[2022-03-02 22:11] BillyONeal commented on #3770
We're seeing this issue gradually get better over time so I suspect it was one of the security things pushed to that pool or something :/. Sorry for the noise!

[2022-03-02 22:11] #3770 closed

[2022-03-03 08:18] alexander-smolyakov commented on #3769
@Cpcrook thanks! Let me close this issue then.

[2022-03-03 08:18] #3769 closed

[2022-03-03 08:27] Cronkan commented on #3273
The problem is the `Security & Privacy -> Privacy -> Full Disk Access`
You need to add `/bin/bash` to allow accessing data. (Use mac-button+shift+g in finder to go to `/bin` and select `bash`)

Run `./svc.sh stop` then `./svc.sh start` after that and it should work.

It probably works interactivly because Terminal is already in `Full Disk Access`

[2022-03-03 11:24] SiulOgait opened #3774 "Windows: Registration script does not work behind proxy"
## Have you tried troubleshooting?
[Troubleshooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting) Yes

## Agent Version and Platform
Version of your agent? N/A as issue is prior to agent running

OS of the machine running the agent? Windows

## Azure DevOps Type and Version

If dev.azure.com, what is your organization name? https://dev.azure.com/LiberataUK

## What's not work

[2022-03-03 14:30] byteknacker commented on #3514
Is there any progress on this?

[2022-03-03 21:41] dpurge commented on #3273
Thank you for your comment, @Cronkan . Unfortunately I cannot confirm whether your solution works - in my current job I do not have MacOS build agents to maintain.

[2022-03-04 06:37] DaniilShmelev commented on #3761
We've merged a fix for this issue and are going to release it in the next few weeks.

[2022-03-04 06:37] #3761 closed

[2022-03-04 08:05] alexander-smolyakov commented on #3773
Hi @Sl1ckR1ck could you please share the following information?
- Are you using Azure DevOps Services (Cloud) or Azure DevOps Server (On-prem solution)?
- If you are using Azure DevOps Services would you mind sharing organization name?
- If you are using Azure DevOps Server please share the version of the sever

[2022-03-04 08:13] alexander-smolyakov commented on #3774
Hey @SiulOgait, could you please clarify which PowerShell script you are using to register the pipeline agent? Would you mind sharing an example of this script?

[2022-03-04 14:58] Sl1ckR1ck commented on #3773
Hi @alexander-smolyakov, thank you for you reply.

 Azure DevOps Server - On-Premise

18.181.31626.1 (Azure DevOps Server 2020 Update 1.1)

[2022-03-04 22:07] mstrent commented on #3273
@Cronkan initial reports suggest this may have solved it for us. Thanks!

[2022-03-05 08:23] alexander-smolyakov commented on #3658
Hi all, since we have rolled out the agent with temporary fix let me close this ticket and open a new one for long term solution.

[2022-03-05 08:23] #3658 closed

[2022-03-07 04:09] rswarnka-cg commented on #1548
Facing this issue #4901 ... still unable to get a fix for this.

[2022-03-07 07:45] MarRich1 commented on #3658
Can you provide a link to the new ticket?

[2022-03-07 13:29] sebastianrogers commented on #1749
Useful formulation for suppressing things, for example when you know that part of the environment isn't ready is:

[code]

[2022-03-08 07:02] #3521 closed

[2022-03-08 11:38] michalrom089 opened #3776 "How to make the agent's process to fail whenever the job fails? - using KEDA ScaledJob to run the workload."
## Have you tried troubleshooting?
[Troubleshooting doc](https://www.visualstudio.com/en-us/docs/build/troubleshooting) - N/A

## Agent Version and Platform
Version of your agent? 2.200.2

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server?

If on-premises, which release? 2015.0, 2017.1, 2019

[2022-03-08 16:19] ataraxia89 commented on #3001
And just like that, a trail gone cold...

[2022-03-08 21:38] michha opened #3777 "java capability not detected properly with Eclipse Adoptium"
Once again a java detection issue.
The Adopt OpenJDK moved to the eclipse platform (see https://blog.adoptopenjdk.net/2021/03/transition-to-eclipse-an-update/) and  also got new registry keys for the installer.

We need again something like #3533

Sidenote:
https://github.com/microsoft/azure-pipelines-agent/blob/master/src/Misc/layoutbin/powershell/Add-JavaCapabilities.ps1#L24-L25 already has some

[2022-03-09 06:27] denis-tikhomirov commented on #3742
@kirkpabk, do you have any updates here? Please let me know if full reinstalling of agent solved the issue.
Also would be great if you can share additional info about the occurred issue:
- how agent was unpacked/installed (new install with unpacking by command line like `[System.IO.Compression.ZipFile]::ExtractToDirectory` | new install with manual unpacking | automatic update)?
- do logs of used

[2022-03-09 06:28] denis-tikhomirov commented on #3755
@tknerr, did you have any chance to try suggested ways to solve issues with using negative patterns?

[2022-03-09 19:38] tomasfejfar commented on #3294
Haha, it died there :) https://developercommunity.visualstudio.com/content/problem/1095986/azure-pipelines-checkout-fetches-all-tags.html

[2022-03-10 00:47] toddwalstad-eaton commented on #3468
We ran into this same issue with a new deployment of ADO agents last month.  It turned out to be our Virus scanner (Trend) causing the issues.  I created a simple script of 100 powershell commands and it would lock up about every other run.  As soon as we disabled the virus scanner, we could run it 20 times in a row without an issue.   I have also seen issues with deployments while using Norton.

[2022-03-10 08:22] MarRich1 commented on #3658
Is the new issue already created? Can you provide the link?

[2022-03-10 15:03] MohamedElyaman-Eaton opened #3778 "Unable to point working directory to a different VM partition with sufficient space"
I am having a problem trying to redirect my working directory to a larger partition on a created Azure VM. As part of image creation, I edited the crontab as follows to create a directory and give all users permissions. Then I set the environment variable "VSTS_AGENT_INPUT_WORK" to point to the created directory.

[code]

    # Create work folder and provide full executable permissions to this fol

[2022-03-10 17:50] anatolybolshakov commented on #1207
Hi @GitHubSriramB closing this one since changes has been rolled out - feel free to ask any other questions.

[2022-03-11 07:18] alexander-smolyakov commented on #3774
@SiulOgait, is this issue still actual to you?

[2022-03-11 09:39] DenisRumyantsev commented on #3776
Hi @michalrom089, we can not start working on your question right now, but we will be back as soon as we can.

[2022-03-11 09:40] DenisRumyantsev commented on #3777
Hi @michha, we can not start working on this issue right now, but we will be back as soon as we can.

[2022-03-11 11:19] SiulOgait commented on #3774
Hi, Sorry for the late response.
I'm using the pre-filled PowerShell script with PAT enabled that is
generated when you create a deployment group.

[image: image.png]

Thanks for your help. Regards

On Fri, Mar 4, 2022 at 8:13 AM Alexander Smolyakov ***@***.***>
wrote:

[2022-03-11 14:39] arquitecturatic commented on #3757
The hosted agents installed on Windows throw the same exception.

[2022-03-11 15:01] alexander-smolyakov commented on #3774
@SiulOgait, thanks for clarification! This question is more relevant for the Azure DevOps side, although this repo is mostly for the pipeline agent itself - could you please open a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?

[2022-03-11 16:23] DenisRumyantsev commented on #3778
Hi @MohamedElyaman-Eaton, we can not start working on this issue right now, but we will be back as soon as we can.

[2022-03-13 04:32] StingyJack commented on #1207
@anatolybolshakov - The engineer assigned to a support case we have open for this asked me to check our build logs now, and we are still having the problem (and he is on leave for the next week or so).  Are you sure this is not still awaiting deployment?  It is the presence of an Azure Key Vault task that triggers this for us.

Its actually kind of bad because some of the things its masking are th

[2022-03-14 12:51] anatolybolshakov commented on #3737
Hi @Keki91 the error above indicates that there are some issues with connection to server. Were there any changes in your environment?
Have you tried to run it with 2.196.2 now (you can disable automate agent upgrade in the pool settings)?

[2022-03-14 12:55] anatolybolshakov commented on #3759
Hi @fblix this question is more about scale set/image generation, although this repo is mostly for agent-related questions - I would suggest to open a ticket in https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it.

[2022-03-14 13:25] anatolybolshakov commented on #3776
Hi @michalrom089 as I know there is no such ability at the moment.

[2022-03-14 13:29] michalromanowskiap commented on #3776
Ok, thanks for the answer. I assume that there's no space for introducing this feature?

[2022-03-14 13:29] michalrom089 commented on #3776
Thanks a lot. I assume that there's no space for introducing this feature?

[2022-03-14 13:50] shs-marcobrettschneider opened #3779 "Azure Pipelines Agent - Downgrade to a lower version with V2.200.2"
## Agent Version and Platform
Version of your agent? 2.200.2 (latest to date)

OS of the machine running the agent? Windows 10

## Azure DevOps Type and Version
Azure DevOps Server on-premise

If on-premises, which release? 2020.1

## What's not working?
Hello,

we are currently providing Azure Pipelines agents to VMs independent from the version added to Azure DevOps Server. Beforehand, we used t

[2022-03-14 18:23] alphaleonis commented on #3352
We are currently encoutering throttling due to too much TSTU usage due to the large amount of data it unnecessarily fetches during  the fetch operation. I really think you should reconsider adding this feature!

[2022-03-14 19:47] kitsushadow opened #3780 "Docker Build Container fails for exec containerHandlerInvoker.js and node/bin/node"
##[debug]Using node path: /opt/myagent/externals/node10/bin/node
module.js:478
    throw err;
    ^

Error: Cannot find module '/__w/_temp/containerHandlerInvoker.js'
    at Function.Module._resolveFilename (module.js:476:15)
    at Function.Module._load (module.js:424:25)
    at Module.runMain (module.js:611:10)
    at run (bootstrap_node.js:394:7)
    at startup (bootstrap_node.js:160:9)
    at

[2022-03-15 05:03] AndreyIvanov42 commented on #3778
Hi @MohamedElyaman-Eaton, sorry for the delay with answer.
I think your task can be resolved in another way. Please look here - https://azure.microsoft.com/nl-nl/blog/automate-linux-vm-customization-tasks-using-customscript-extension/. Also you can ask for help here - https://developercommunity.visualstudio.com/.

Because your question is not directly related to the agent himself, I will close thi

[2022-03-15 07:14] EzzhevNikita commented on #3756
Hey @stephajn, do you still experiencing this issue? I have tried the version of the agent that you have mentioned (v2.198.3) and the latest one (v2.200.2) and didn't see such behavior. Could you please attach logs from _diag folder to this ticket, if you still experience this problem?

[2022-03-15 08:11] Keki91 commented on #3737
Hi, @anatolybolshakov

Tried it on each version which has released up to now (currently 2.200.2) and it still seems to suffer the same issue.

It could be something environmental, however, I have a Windows build on the same network which is not suffering this issue.

[2022-03-15 08:47] fblix commented on #3759
Is there a way to get more diagnostic information about the startup procedure of the extension?

The reason why I opened the ticket here is that I am able to install the Azure DevOps Pipeline Agent manually without any issues. That would exclude a networking issue or missing software on the Scale Set for me.

I just want to be able to troubleshoot the extension behavior, so I am able to see if it'

[2022-03-15 08:53] anatolybolshakov commented on #3737
@Keki91 yes, seems that there was some environmental change not related to the agent itself... Please note that there was some [change](https://devblogs.microsoft.com/visualstudio/azure-devops-requires-tls-1-2-on-all-connections-including-visual-studio/) regarding TLS 1.0/1.1 deprecation.
I would suggest to open a ticket on https://developercommunity.visualstudio.com/search?space=21 to double-chec

[2022-03-15 09:26] anatolybolshakov commented on #3779
Hi @hez2010 yes, you can use this environment variable to disable automatic downgrade to agent version originally shipped with on-prem server.
Please be aware that there could be some incompatibility issues while using newer agent versions with on-prem server.

[2022-03-15 10:59] anatolybolshakov commented on #3776
@michalrom089 yes, there is no capacity to pick it up at the moment as I know unfortunately - we are going to leave it in the backlog till we'll be able to pick it up.

[2022-03-15 15:22] anatolybolshakov commented on #3780
Hi @kitsushadow could you please share your agent/worker logs (please make sure that you masked all the relevant secrets)?

[2022-03-16 08:35] alexander-smolyakov commented on #3773
@Sl1ckR1ck,

Regarding the agent downgrade:

The on-prem solution ships with the default version of the pipelines agent and the Azure DevOps itself downgrades the pipelines agent back to the default version. There are two ways how to prevent such a behavior:
1. Set the environment variable `AZP_AGENT_DOWNGRADE_DISABLED` to `true`. It will force the pipeline agent to skip downgrade.
2. Update the a

[2022-03-16 09:11] anatolybolshakov commented on #3564
Hi @Bhodges94 what does run_qa_emulator.sh script do? Is it possible to share it?

[2022-03-17 08:58] EzzhevNikita commented on #3583
@Rudi81 Is it still an actual issue for you? I don't see any changes between those two agent versions that could affect proxy authorization, so my guess is that there were some changes in your environment like proxy settings that caused this issue.
Could you please share agent and worker logs if the issue is still actual?

[2022-03-17 09:44] EzzhevNikita commented on #2824
@petrus0x13 Could you please attach logs for the stuck run, if the problem is still actual for you? Also, am I understand correctly that the issue that you seeing for now in v2.193.1 is different from the one that you have seen on v2.165.0?

[2022-03-17 13:03] geralexgr opened #3782 "Shared volume artifacts between container (vsts agent) and host are not getting deleted"
In private agent pools that have couple of agents registered inside them, I have configured the retention policies based on the organizations needs and its works only on the web and not on the OS. In more details, retention policies seem to work on the https://dev.azure.com/Project/pipeline and only 30 days of running jobs are kept. However the artifacts are not getting deleted from the OS drive o

[2022-03-17 15:26] anatolybolshakov commented on #3782
Hi @geralexgr retention settings are mostly for pipeline artifacts (stored on a server) - you can schedule maintenance job to clean up stale working directories and repositories - see more details in [docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/pools-queues?view=azure-devops&tabs=yaml%2Cbrowser#what-is-a-maintenance-job).

[2022-03-17 19:36] SamWhitby opened #3783 "nuget version going backwards from windows 2019 to windows 2022"
## Agent Version and Platform
Version of your agent? 2.200.2

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
**Situation**
We are using a windows-latest vm image for our pipelines that makes use of the NuGetCommand@2 task. The latest windows os version has recently been changed from windows-2019 to windows-2022.

**Problem**
The

[2022-03-17 20:29] miguelperedo commented on #3599
Hi,
I‘m having exact same error with https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops
Any news how to fix this?
Thanks!

[2022-03-17 20:40] joel-rieke commented on #1559
I followed all the steps to connect azure to github enterprise repo to create a build pipeline and the first time I ran this, I got the exact same message.  It found my repo and my azure-pipelines yml file... even lets me edit it.  But when I try to run it, crash...

Maybe it is an additional permission I need to add to the access token, but I don't really see one.  So, this is very confusing.

[2022-03-18 05:02] arsdragonfly commented on #3540
Our team is working on Windows updates validation scenarios and would also need this feature.

[2022-03-18 07:14] StuiterSlurf commented on #3599
@miguelperedo I also posted my problem at the developer community. I hope this helps for you as well :-)

https://developercommunity.visualstudio.com/t/Azure-DevOps-deployment-agent-cant-conn/1659981?space=21&entry=myfeedback

[2022-03-18 08:07] geralexgr commented on #3782
@anatolybolshakov as I understand from your answer, the retention policies apply only to the below artifacts and not the ones that are saved on the container agent or the filesystem. Is that correct? As a result I should define my own cleaning procedure right?

![image](https://user-images.githubusercontent.com/3514710/158961203-6d4eab3b-b29a-42fd-9083-73f37e8a52ee.png)

[2022-03-18 10:13] anatolybolshakov commented on #3782
@geralexgr yes, you can set up maintenance job separately to make clean up on a agent machine. Feel free to open a ticket no https://developercommunity.visualstudio.com/search?space=21 to ask about more details - since this is more related to Azure DevOps infrastructure.

[2022-03-18 10:38] anatolybolshakov commented on #3783
Hi @SamWhitby since this is relate to the tool versions preinstalled on hosted agent machine image - could you please open a ticket on https://github.com/actions/virtual-environments/issues to get right eyes on it?

[2022-03-18 11:03] geralexgr commented on #3782
@anatolybolshakov Let me understand something.

Using the below documentation https://docs.microsoft.com/en-us/azure/devops/pipelines/policies/retention?view=azure-devops&tabs=yaml

it is stated that

`The Copy Files task is preferable to the [Publish Build Artifacts task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/publish-build-artifacts?view=azure-devops) because data

[2022-03-18 12:09] SiulOgait commented on #2133
Hi can you let us know where on the deployment group config script you add the "$WebClient.Proxy.Credentials =[System.Net.CredentialCache]::DefaultNetworkCredentials" that seems to make it work?

Thanks

[2022-03-20 09:30] XzaR90 commented on #2249
@joeax How can I change that setting, it is disabled for me.
![image](https://user-images.githubusercontent.com/5103382/159156255-28d89bfd-bba4-44de-acc3-6b9c7e81e67d.png)

[2022-03-21 08:36] SamWhitby commented on #3783
Sure @anatolybolshakov, new issue referenced below, I'll close this one.
#https://github.com/actions/virtual-environments/issues/5258

[2022-03-21 08:36] #3783 closed

[2022-03-21 10:30] geralexgr commented on #3782
I created the relevant bug on below location. Closing the bug and if needed I will reopen.

https://developercommunity.visualstudio.com/t/Azure-devops-self-hosted-container-agent/1696567?space=21&entry=problem

[2022-03-21 10:30] #3782 closed

[2022-03-21 15:49] rkieslinger commented on #1294
Is it necessary to grant the gMSA "Log on as a service" rights?

[2022-03-22 15:49] SiulOgait commented on #3774
Hi,

I read that the script can be customized to suit varied requirements but I haven't found any info on it. Can you please let me know how to customize the script to bypass the proxy issue or how to add the proxy credentials to the script.

Cheers,

[2022-03-23 11:03] couling commented on #3276
I've just bumped into this via AWS ECS.  I have much less control over the networking and to the best of my knowledge creating a network for the "ECS Task" isn't an option.  It uses `bridge`.  I can set it to `host` but I'd prefer not to for security reasons.

It looks like, by default, many linux distributions have an `/etc/hosts` entry:
[code]
So any call to `bind()` to `localhost` is going to f

[2022-03-24 00:41] rajeshaz09 commented on #1911
It's surprise to me as well.

[2022-03-24 00:42] rajeshaz09 commented on #1911
It's surprise to me as well

[2022-03-24 01:19] xiaoyu-work opened #3787 "Got permission related issue in Get sources task"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2022-03-24 12:04] couling commented on #3276
@anatolybolshakov

### This is a bug not an enhancement

As far as I can tell docker is supplying `/etc/hosts` which, for example looks like this:
[code]

This isn't supplied by the host running docker and it's not supplied by the image... it must be coming from docker (somehow).

Notice that it contains the entry for `::1 localhost`.  So docker is supplying the hostname `localhost` pointing to th

[2022-03-24 19:20] mswilson4040 commented on #2043
Still an issue. Would be great if this got some attention.

[2022-03-25 07:14] max-zaytsev commented on #3787
Hi @xiaoyu-work, What version of the agent was ued in the successful pipeline and in the failed one?

[2022-03-25 07:20] xiaoyu-work commented on #3787
Hi @max-zaytsev, they are both 2.192.0

[2022-03-25 07:23] xiaoyu-work commented on #3787
I've reached out to the host owner. He helped me to fix it manually. I'll keep updating this issue if this error happens again in next 2 days. Thanks.

[2022-03-25 18:23] xiaoyu-work commented on #3787
@max-zaytsev I got this permission error again.

The host owner said someone probably ran something as root. You can see a subset of files are all owned by root and hence ciagent (pipeline user) cannot remove those.

(base) REDMOND.gokuma@GCR-OPENPAI-35:/home/ciagent/gpu2/_work/5/s/test/downloads/test_babel_tnlr_training/babel/src/babel/azure/ml/babel/dependencies/transformers210$ ls -l
total 2784

[2022-03-26 05:51] Ali-YousefiTelori opened #3789 "How to prevent creating a new _work folder at each stage?"
Hi everyone.
I have a problem with the azure pipeline stages.
the problem is azure pipeline stages will create a new folder for each stage and I will lose every source that I checkout before.

For example, I have these stages:
1. Checkout
2. Build
3. Tests
4. Deploy
5. etc

the problem is I checkout everything in stage 1 then when I want to build them in stage 2 it's getting the error because stag

[2022-03-26 09:25] evakili commented on #3641
@tatyana-kostromskaya Could you provide VSTestV2 update? Or tell us how to compile other tasks ourselves?

[2022-03-28 00:47] sphanley commented on #3353
This is not stale, it's still an active enhancement request.

[2022-03-28 09:31] HofmeisterAn opened #3790 "Can not override `NO_PROXY` (`*` not mapped to ECMAScript syntax)"
## Agent Version and Platform

- 2.200.2
- Windows

## Azure DevOps Type and Version

- https://dev.azure.com/ZEISSgroup-SMT

## What's not working?

The proxy configuration through `.proxybypass` is not exclusive. The Azure Pipelines Agent uses the proxy configuration from different sources. **It's not possible to override the configuration from `NO_PROXY` (env variable)**.

https://github.com/mi

[2022-03-28 14:24] anatolybolshakov commented on #1294
Hi everyone! We are currently working on this issue - created [PR](https://github.com/microsoft/azure-pipelines-agent/pull/3791)

[2022-03-28 14:43] anatolybolshakov commented on #3564
Hi @Bhodges94 do you have any updates?

[2022-03-28 14:43] anatolybolshakov commented on #3779
Hi @hez2010 please ping if you have any other questions.

[2022-03-28 14:45] anatolybolshakov commented on #3780
Hi @kitsushadow do you have any updates?

[2022-03-28 21:09] KonstantinTyukalov commented on #3789
Hi, Ali. Thank you for providing information. We will take a look at it soon.

[2022-03-29 00:25] ApolonTorq opened #3792 "20 minute pause in the Finalize Job section on a self hosted agent for no apparent reason"
## Agent Version and Platform
Version of your agent: 2.200.2

OS of the machine running the agent? Windows 10

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
I'm using my own dev PC as a pipeline agent that can be run on demand to assist in debugging pipeline functionality. The intended benefit is a more rapid iteration cycle than the microsoft-hosted equivalent. It does ru

[2022-03-29 12:21] KonstantinTyukalov commented on #3792
Hi @ApolonTorq! As we see in provided logs, some process started before the delay, and finishes after it:

![image](https://user-images.githubusercontent.com/52399739/160608696-64e9c987-11fd-4d5e-99d2-09204908b706.png)

Could you provide logs of the pipeline itself - maybe this delay is related with some running task.

Also, could you please share the complete logs of the agent task process?

Than

[2022-03-29 12:28] KonstantinTyukalov commented on #3792
And, could you share the system specs of your dev PC?

Thanks

[2022-03-29 12:31] anatolybolshakov commented on #2967
Just as a quick update - there are plans to introduce Node 14 execution handler and start updating tasks to this, but it could take some time due to wide and significant changes.

[2022-03-29 21:29] adstep commented on #3540
My team also does work around interactive testing for applications on Windows that requires reboots to be applied to the device. Am also interested in getting support for this feature.

[2022-03-30 01:03] ApolonTorq commented on #3792
Thanks @KonstantinTyukalov for the noting of the Process start/finish surrounding the 20 minute task time. Using procexp, it showed that it was waiting on the execution of this powershell code:
[code]

I think the problem is that the -FilterHashtable StartTime and EndTime parameters are defined as US date formatted strings M/D/Y. My PC uses the Australian date format D/M/Y. When I run the pipeline

[2022-03-30 10:42] SimonAlling commented on #2967
Nice! Perhaps even Node 16, since ["Active Support" for Node 14 ended last October](https://github.com/microsoft/azure-pipelines-agent/issues/2967#issuecomment-946840470)?

[2022-03-30 16:44] JamieMagee commented on #2967
GitHub Action's equivalent change skipped Node 14 and went directly to Node 16: https://github.com/actions/runner/pull/1439

[2022-03-30 16:57] anatolybolshakov commented on #1506
Hi everyone! As a quick update - we are planning to review PRs above soon, thanks for contribution!
@mjthurlkill agent re-uses already existing repo for the same build definition, devops collection and repo - could you please share logs for the pipeline there checkout does not re-use existing large repository (in debug mode)? Please also make sure that you masked sensitive data if there is some.

[2022-03-30 17:32] anatolybolshakov commented on #3787
Hi @xiaoyu-work yes, seems like there is some lack of permissions for user which runs agent - to remove these files.
If ciagent is set up as agent user - it should not do anything as root... Do you know maybe if there are some other programs running as root - which could change permissions for these files?
Is it possible to share some minimal sample to reproduce this issue on our side - if you sus

[2022-03-30 18:36] anatolybolshakov commented on #3787
@xiaoyu-work btw do you use containers in your pipeline?

[2022-03-30 19:55] johnynfulleffect commented on #3599
Also having this issue when I upgraded to Ubuntu 22.04 in preparation for that release on 4/21/2022.  I am running agents self hosted in docker, managed by kubernetes: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops

When i added the environment variable

It works now.

[2022-03-31 08:25] EzzhevNikita commented on #2824
@petrus0x13 Is it still an actual issue?

[2022-03-31 08:26] EzzhevNikita commented on #3583
@Rudi81 Do you still experience this issue?

[2022-03-31 08:27] EzzhevNikita commented on #3756
@stephajn Is this issue still actual for you?

[2022-03-31 08:42] xiaoyu-work commented on #3787
@anatolybolshakov

- Yes seems those files were run by root user, which changes the file permission. But I've checked the host login history, there is no one log in to the host as root to run it. So it might come from agent user?
- I don't think this can be reproduced. Even for our pipeline, we saw this error occasionally. Now it works, but we got this error twice before.
- Yes we use containers i

[2022-03-31 11:24] denis-tikhomirov commented on #3789
Hello @Ali-YousefiTelori,
Jobs and stages in pipelines are isolated instances, each new started job uses new one agent. Key concepts of pipelines are provided in this [article](https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/key-pipelines-concepts?view=azure-devops). Only steps in one jobs are allowed to be started on the same agent and have common work directory.
Sometimes the

[2022-03-31 11:52] Ali-YousefiTelori commented on #3789
Hello @denis-tikhomirov Thanks for your reply.
every job in this example happens in the same folder when I make stages every job in each stage will run in a new folder, it's not random happens, is this scenario ok or something is wrong?

[2022-03-31 16:30] anatolybolshakov commented on #2043
Hi everyone! We are currently working on more prioritizing issues, but will get back to this one once be able to. This possible enhancement would require additional testing to avoid any possible regressions around it.

[2022-03-31 17:07] anatolybolshakov commented on #2814
Hi @avivanoff! Let us take a look at it.

[2022-03-31 17:41] anatolybolshakov commented on #3273
Hi everyone, seems like there is some issue with bash permissions not related to the agent itself - thanks @Cronkan for a solution!
Please let us know if you still have any questions.

[2022-03-31 17:50] anatolybolshakov commented on #3412
Hi @beerai as I know for the current architecture job is the atomic unit of execution, which is executed by one agent. I would suggest to split up the problematic test case into separate jobs/probably use some parallel execution in code to speed it up, and allow other agents to pick up remaining tasks in separate jobs.
For more questions regarding other execution strategies available in pipelines

[2022-03-31 17:57] anatolybolshakov commented on #3639
Hi @iambernics per the error message it seems to be related to some permissions issue - could it be related to the difference in permissions for user running agent interactively and user on whose behalf the service is launched?

[2022-03-31 19:58] Jeej commented on #3792
Please fix this issue as soon as possible! ⏫

At the moment we are building our solution in a new Azure environment, every time we have diagnostics on we have to wait 15 to 20 minutes before the build is finished. This takes so much time and it is hindering us 😢

I see that the dumping of the event logs is introduced in #3653. Maybe this is not the place, but I find it strange that something like

[2022-03-31 22:12] gbmarc1 commented on #3308
I have exactly the same issue

Worked installing.  30 seconds later cannot remove.

[2022-03-31 23:37] copdips commented on #1307
My case is that sending a compile time variable is OK, but sending a run-time variable is KO:

I have some service conenction variables pointed to different service connections, base on git trigger event: pullrequest to dev, or main, or on merge, etc. I will use appropriate service connection. And of course, I'm using templates.

As `System.PullRequest.TargetBranch` is not available for template,

[2022-04-01 07:43] MalteFries commented on #3412
Hi @anatolybolshakov,
we are running automated UI tests which can't be split up.

[2022-04-01 12:18] #3566 closed

[2022-04-01 15:45] anatolybolshakov commented on #3277
Hi @directhex we are working on more prioritized issues at the moment, but will get back to this one once be able to.

[2022-04-04 09:20] adamency opened #3798 "VSTS Agent Extension in ARM template: windowsLogonAccount and windowsLogonPassword ?"
In ARM templates we can install an Azure DeploymentGroup agent on a VM this way:

[code]

and with a Dev Test Lab VM we can do it this way:

[code]

I am dependent upon the two last parameters in the dev test lab version, namely *windowsLogonAccount* and *windowsLogonPassword* as I need to be authenticated as a specific user with my agent for my pipeline to work. These parameters do not seem to ex

[2022-04-04 10:01] anatolybolshakov commented on #3798
Hi @adamency this seems to be relevant to  TeamServicesAgent extension, not the pipeline agent itself - I would suggest to open a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it.

[2022-04-04 15:21] sohailADev commented on #1855
Awesome i used a variable with counter expression, and it works thank you :)

[2022-04-05 06:34] adamency opened #3799 "Is the documentation accessible on a website front-end ?"
I can't find any information about the documentation, except the `documentation` folder in the git repo. Are these markdown files designed to be read only on Github or is there a documentation website for the project ?

PS: I'm asking because Microsoft Docs information for azure pipelines agents is scarce and incomplete. These are the two only links from the official docs I could find => [MS Docs:

[2022-04-05 06:55] adamency commented on #3799
Nevermind, some markdown files redirect to the MS Docs and I found what I was looking for. So I understand the docs are transitioning to MS Docs, but the corresponding code is not on this repo anymore. Where is it ?

[2022-04-05 08:32] adamency commented on #3798
I found the way to do it with the `config.cmd`, but I didn't find the configuration file you mention in the agent directory nor any mention of it in the documentation. Could you tell me its location ? Alternatively, is there a way to print the current config with `config.cmd` ? I didn't find one with the help.

[2022-04-05 09:09] anatolybolshakov commented on #3799
Hi @adamency there is a https://github.com/MicrosoftDocs/azure-devops-docs repo for Microsoft Docs - you can open a question there or contribute and create PR.

[2022-04-05 09:21] anatolybolshakov commented on #3798
@adamency the recommended way is to use `config.cmd` (to re-configure you would probably need to remove existing configuration first by 'config.cmd remove'), but since the agent saves configuration settings in ".agent" file (this is a hidden file in the root agent directory) - I believe you can just change it directly also.

[2022-04-05 11:38] joakimnordling opened #3800 "installdependencies.sh interactively confirms installation of debsums"
The pull request https://github.com/microsoft/azure-pipelines-agent/pull/3712 added debsums installation in `installdependencies.sh` using `apt install debsums`. All other dependencies are installed with `apt install -y`. Since `debsums` is not installed with `-y` we can no longer as-is let our non-interactive deployment solution install all the dependencies by just running `installdependencies.sh

[2022-04-05 15:06] #3549 closed

[2022-04-05 16:16] lanneshoa opened #3801 "Broken link to the requirements documentation on RHEL 6"
Hello,

Please note, that there is a broken link here

https://github.com/microsoft/azure-pipelines-agent/blob/837815b819b7178b2d8fd014b44a7c920a211f4d/src/Misc/layoutbin/installdependencies.sh#L44

[2022-04-05 16:40] anatolybolshakov commented on #3800
Hi @joakimnordling thanks for reporting! Let us take a look

[2022-04-05 23:28] adamency commented on #3086
@anatolybolshakov These options are still not documented in the `--help`. Would it be possible to add it ?

Otherwise (cc @thozook) , these options are documented in a page a buried bit deep in MS Docs about [installing an Azure Pipelines Agent on a Windows host](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops). However they don't have changed anything t

[2022-04-06 06:42] lanneshoa commented on #3801
I found this link which seems more relevant on RHEL 6 :
https://github.com/dotnet/core/blob/main/Documentation/build-and-install-rhel6-prerequisites.md

[2022-04-06 10:55] rkieslinger commented on #1294
@anatolybolshakov Thank you very much for putting the time and effort in. Can I kindly ask you, when we can expect the feature to be released? I have to set up a bunch of new build servers and that change would come in very handy 😊

[2022-04-06 11:44] dbabineau-vr opened #3805 "Maintenance on repositories does not run if keeping working directories forever"
## Agent Version and Platform
Version of your agent? 2.193.0-2.195.2

OS of the machine running the agent? Windows 10

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server? dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/transfrvr

## What's not working?

Maintenance on repositories does not run if

[2022-04-06 12:12] dbabineau-vr opened #3806 "Source provider maintenance does not run on all repositories"
## Agent Version and Platform
Version of your agent? 2.193.0-2.195.2

OS of the machine running the agent? Windows 10

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server? dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/transfrvr

## What's not working?

Source provider maintenance does not run on

[2022-04-06 13:25] ArthurBrum opened #3807 "Authenticate against a git repository in self-hosted agent (and avoid extraHeader warnings)"
## Description
Hi there!

I'm unsure about how to authenticate and use git operations in my **self-hosted agent**.
I've read a few discussions like this one: https://github.com/microsoft/azure-pipelines-agent/issues/1601 which came to the solution of using extraHeaders... and I'm using it, but I still get:
`##[warning]Git config still contains extraheader keys. It may cause errors.  To remove the

[2022-04-06 13:37] anatolybolshakov commented on #3086
Hi @adamency sure, let us take a look at update for `--help` option - as I see there are no OS conditions for this logic, so it should work for Windows as well.

[2022-04-06 14:23] anatolybolshakov commented on #3805
Hi @dbabineau-vr thanks for reporting! Let us take a look

[2022-04-06 15:58] xiaoyu-work commented on #3787
@anatolybolshakov, I got this error again. Do you know how can I identify if the files were run by root user? Like, any log particular indicates this?

[2022-04-06 16:08] anatolybolshakov commented on #3806
Hi @dbabineau-vr thanks for reporting! We are working on more prioritized items at the moment, but will get back to this one once be able to.

[2022-04-06 16:11] tanglebones commented on #2803
I used
[code]
to get the IPAddress, which does work.

[2022-04-07 08:12] alexander-smolyakov commented on #3773
@Sl1ckR1ck is this issue still actual to you?

[2022-04-07 10:11] rklec opened #3809 "Agent fails to start Docker container with mount as long as _work/X dir exists/uses wrong mount path"
## Agent Version and Platform
Version of your agent? 2.196.2

OS of the machine running the agent? Linux / Ubuntu 20.04

## Azure DevOps Type and Version
on-premises Azure DevOps Server

Azure DevOps Server 2020 Update 1.1

## What's not working?
I use a YAML pipeline that starts a container like this:
[code]

`variables.docker_dotnet` is set to `mcr.microsoft.com/dotnet/sdk:6.0`.

The path `/var/

[2022-04-07 14:51] anatolybolshakov commented on #3787
@xiaoyu-work it would probably make sense to check whole pipelines logs for modifications of this file - to understand if there is some change made by agent and not something else in system.

[2022-04-07 14:56] stephajn commented on #3756
@anatolybolshakov and @EzzhevNikita
My apologies for the late response. This wasn't an issue once we downgraded the agent version to 2.193.0.
For the time being, we are holding fast on that version since it hasn't had any troubles.  When I looked at the logs back when the jobs would intermittently hang, the diagnostic log had a zero byte length and so I couldn't actually ship you anything to revie

[2022-04-07 15:15] rklec commented on #3809
Okay, teh issue appears because the CI accidentialyl did a `mkdir -p "/var/cache/AzureDevOpsServerPipelineCache"` inside of the source directory, so it creates this `/path_to_agent/_work/1/s/"/var/cache/AzureDevOpsServerPipelineCache"` dir and that is indeed there.
The problem of the agent stil remains that the next run does not mount the absolute path `/var/cache/AzureDevOpsServerPipelineCache`,

[2022-04-07 15:27] #3757 closed

[2022-04-07 15:37] rklec commented on #3809
And yes, one directory was named `"` (so the mkdir command it executed was propbably rather `mkdir -p '"/var/cache/AzureDevOpsServerPipelineCache"'`.

[2022-04-07 19:46] ArthurBrum commented on #3807
Ok, this works when I'm using a single repository and checkout task will check self repository. The problem is that during my tasks I have to work with different repositories..
So, as I see, I have to either add all the repositories one by one on the checkout task or I can do as I'm currently doing already: adding the extraHeader manually.

[2022-04-07 19:54] ArthurBrum commented on #3807
I've been doing some tests and I noticed that I was getting this warning because I wasn't cleaning the extra headers before calling the Checkout task later in the script...
Now I'm trying to setup my jobs to remove the headers after doing all the git operations

I think I'll try to implement some postJob execution... but I don't quite get how to do it.. only found examples in json files =/
https:/

[2022-04-07 20:18] craigeaw opened #3812 "Node version (6.17.1.0) flagged as vulnerability"
The latest version of the pipeline agent comes with Node v6.17.1.0 in the externals/node directory. This is getting flagged by our vulnerability reporting tool. Are there plans to update the node version to the latest version? Is there any harm in removing the externals/node folder?

[2022-04-08 09:42] anatolybolshakov commented on #3812
Hi @craigeaw there are plans to gradually migrate node version, but it could take some time since it depends on tasks migration https://github.com/microsoft/azure-pipelines-tasks/issues/15183
If you are not using tasks which are still not migrated to Node 10 - I believe it's fine to remove this node version from externals, probably the better option would be just use 'Alternate Agent Downloads' fr

[2022-04-08 11:27] anatolybolshakov commented on #3809
@rklec per agent/worker logs - seems like agent is trying to remove build directory (due to clean up settings) before job execution, but there is a new folder created inside (/path_to_agent/_work/1/s/"/var/cache/AzureDevOpsServerPipelineCache") and seems like user running agent don't have access to this one (and hence fails with deletion).
Could you please clarify how this folder is being created?

[2022-04-08 11:33] rklec commented on #3809
Yes, it is created.

Actually, it's the same build pipeline, which explains why it does only fail when I run it again.

So what you said makes total sense, so what happens is:
1. first build pipeline runs successfully and accidentally creates that "wrong" folder in the source dir (`_work/1/s/`). (which itself, is not problematic though ugly/broken of course)
2. the second pipeline with the same se

[2022-04-08 12:06] anatolybolshakov commented on #3756
@stephajn got it thanks! Any additional logs for this issue would help of cource, we will continue investigate changes between  2.193.0 - 2.198.3 for possible issues.

[2022-04-08 14:11] craigeaw commented on #3812
@anatolybolshakov this is good info, thank you! I didn't see the alternate agent downloads before. I think that should satisfy our needs for now.

[2022-04-08 15:14] adamency opened #3813 "Is it possible to see the windowsLogonAccount set for the Agent somewhere ?"
I use an unattended configuration for my azure pipelines agent, however while the configuration and registering of the agent doesn't fail, I see in my pipeline that the actual user account used in not the one I had set. For troubleshooting purposes, is it possible to see the windows logon account actually set somewhere within the agent root directory ?

[2022-04-08 15:50] anatolybolshakov commented on #3813
Hi @adamency yes, you can check this configuration parameter in the '.agent' file in the agent root directory (this is a hidden file usually).

[2022-04-08 16:34] anatolybolshakov commented on #3813
@adamency sorry, just re-checked it - `windowsLogonAccount/windowsLogonPassword` parameters are not being stored in this file. They are used once during agent configuration to set up relevant registry keys (see info [here](https://docs.microsoft.com/en-us/sysinternals/downloads/autologon#introduction)), so I don't think that it's possible.

[2022-04-10 18:47] irfanaslam-me opened #3815 "ERR Runner] System.NullReferenceException: Object reference not set to an instance of an object"
I am having issue in installing self hosted runner error which I received is

I was installing on ubuntu 18, 20 but result is the same

`cat Runner_20220410-175123-utc.log
[2022-04-10 17:51:23Z INFO HostContext] No proxy settings were found based on environmental variables (http_proxy/https_proxy/HTTP_PROXY/HTTPS_PROXY)
[2022-04-10 17:51:23Z INFO HostContext] Well known directory 'Bin': '/home/nod

[2022-04-11 21:21] joemmett commented on #3755
I'm having the same issue with exclusion patterns seeming to be ignored. I get the same results with a pattern of `**` (or no pattern specified at all) as with a pattern such as:

`
**
!foo/**
`

In my case the `foo` folder has about 700MB of files. The task log seems to show the patterns are being interpreted as I expect:
`Minimatch patterns: [**,!foo/**]` but there is no impact on the files actu

[2022-04-12 09:19] #3812 closed

[2022-04-12 09:58] AndreyIvanov42 commented on #3815
Hi @irfanaslam-me
Based on the message ```022-04-10 17:51:23Z INFO ConfigurationStore] IsConfigured: False [2022-04-10 17:51:23Z INFO ConfigurationManager] Is configured: False [2022-04-10 17:51:23Z INFO CommandSettings] Arg 'url': 'https://github.com/thousandsofraccoons/rememo'```, the agent is configured incorrectly. Please look again at the [documentation](https://docs.microsoft.com/en-us/azure

[2022-04-12 10:15] #3799 closed

[2022-04-12 10:16] #3779 closed

[2022-04-12 10:17] #3798 closed

[2022-04-12 10:21] jinweili1 opened #3818 "How can I access variable group value which is linked key vault in serverless job?"
Now I want to use variable group value in a serverless job, but it doesn't work.
The variable group has been linked with an azure key vault service, just like this:
![image](https://user-images.githubusercontent.com/88314516/162935360-bb5beab9-7554-4545-a5b0-0807f4954210.png)
I try many ways to use those value, but it never works.
![image](https://user-images.githubusercontent.com/88314516/1629357

[2022-04-12 10:48] irfanaslam-me commented on #3815
@AndreyIvanov42 Thanks for the support. Resolved the issue. actually token was expired and runner was not picking the tag. But now all are okay.

[2022-04-12 10:48] #3815 closed

[2022-04-12 10:51] mattiaskagstrom commented on #3641
The latest version of Azure DevOps Servies still doesn't seemt to have updated tasks. Why is this issue closed?

[2022-04-12 11:24] AndreyIvanov42 commented on #3818
Hi @jinweili1,
You'd better ask a question on this [portal](https://developercommunity.visualstudio.com/search?space=21). This repository is for working on new functionality and fixing bugs in the agent codebase.

[2022-04-12 11:24] #3818 closed

[2022-04-12 19:24] max-zaytsev commented on #3789
@Ali-YousefiTelori Yes, this is expected behavior since the working folder depends on the sources you are going to use in your job (i.e. depends on the checkout steps). Please see this article about source mappings: https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/jobdirectories.md#source-mappings

You could probably resolve your issue by adding  the same checkout steps to Tests

[2022-04-12 19:34] anatolybolshakov commented on #3639
Hi @iambernics do you have any updates? Is this issue still actual for you?

[2022-04-13 06:31] cristobal commented on #3294
So sad that so many good suggestions just go to die in the devloper community whenever they have to be suggested as ideas for azure pipeline 😞.

This should have been prioritised option in the spirit of the ongoing effort for a greener environment where we spend less un-waisted energy (irony kidding not kidding 😂 ),  since a git checkout with no tags means less bandwidth used when fetching a repo

[2022-04-13 08:06] alexander-smolyakov commented on #3773
Hey @Sl1ckR1ck, let me close this issue due to inactivity, feel free to request a reopening if you have any further questions.

[2022-04-13 11:54] anatolybolshakov commented on #3138
Hi everyone! Thanks for reporting, we are currently working on more prioritized issues, but will get back to this one once be able to.

[2022-04-13 12:05] anatolybolshakov commented on #3212
Hi @thomasdgx thanks for reporting! Let us take a look

[2022-04-13 15:50] yene commented on #3294
We do checkout manually, now it takes 6 seconds instead of 6 minutes.

[code]

[2022-04-13 17:51] timblaktu commented on #2048
@hez2010 I'm looking over [your solution](https://github.com/hez2010/docker-azure-pipelines-agent) but I don't see anywhere you using `--volumes-from` to pass host paths into the nested docker container. Would you explain the magic piece(s) that work around the docker-in-docker issue? Thanks.

[2022-04-13 18:45] StingyJack commented on #1207
@anatolybolshakov  - Should this fix have made it to ring M201.1 by now?

[2022-04-13 18:58] hez2010 commented on #2048
No. I run a dedicated docker daemon insider the container instead.

[2022-04-13 19:56] anatolybolshakov commented on #3353
@sphanley thanks for reporting! @MaximMalygin could you please take a look?
Is it possible/would it make sense to adjust configuration on ADO side?
We could probably invoke `git config http.version HTTP/1.` after checkout, but not sure if it's fully supported now.

[2022-04-13 20:02] anatolybolshakov commented on #3362
Hi @hommeabeil thanks for reporting! Let us take a look - probably it could make sense at least try to create group with the same gid as for host user.

[2022-04-13 20:10] anatolybolshakov commented on #3522
Hi @NorseGaud thanks for reporting! We are working on more prioritized items, but will get back to this one once be able to.

[2022-04-13 21:55] cristobal commented on #3294
Thanks for sharing 👍🏽

[2022-04-13 23:31] roryprimrose commented on #3792
I believe this is also a security breach as sucking all the event log data from the machine and publishing it outside the machine can involve a scenario where there is loss of control of sensitive information.

I'd like to know what is the use case for logging information from the OS event log.

[2022-04-14 10:44] max-zaytsev commented on #3789
@Ali-YousefiTelori closing this. Please reopen if you still have any questions.

[2022-04-14 10:46] #3789 closed

[2022-04-14 12:44] #3773 closed

[2022-04-14 16:29] JScott2002 commented on #2637
We are seeing a similar issue when running certain pipelines with our self-hosted Linux agent.  We have found that by splitting the pipeline into 2 jobs each using its own agent that the issue resolves but this is not ideal and creates more complexity into the pipeline. We also noticed that by removing Dynatrace from the AKS cluster hosting the self hosted agent it appears to resolve as well, but

[2022-04-14 20:18] ajaco56 opened #3820 "Pipeline on private MacOS agent SVN Checkout fails with xml error (1,1)"
Checking out SVN code from known good svn repo

2022-04-14T19:40:54.7296160Z ##[debug]<?xml version="1.0" encoding="UTF-8"?>
2022-04-14T19:40:54.7297280Z ##[debug]<info>
2022-04-14T19:40:54.7298280Z ##[debug]<entry
2022-04-14T19:40:54.7299290Z ##[debug]   kind="dir"
2022-04-14T19:40:54.7300410Z ##[debug]   path="raop"
2022-04-14T19:40:54.7301560Z ##[debug]   revision="496">
2022-04-14T19:40:54.730

[2022-04-15 10:09] AndreyIvanov42 commented on #3820
Hi @ajaco56  thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-04-15 11:32] ajaco56 commented on #3820
HI, for the curious I found out what happened:

on the self hosted agent when you run env.sh **without!** first setting your LANG environment (in my case : export LANG=en_US.UTF-8), the error will appear bc the job does not know the locale to be used and just fails with mentioned error.

When setting the LANG env before! to the proper value , it works as expected.

I would suggest to have a more i

[2022-04-15 11:32] #3820 closed

[2022-04-16 21:02] #3457 closed

[2022-04-17 11:43] max-zaytsev commented on #3756
@stephajn Was the`system.debug` enabled in your pipelines?

[2022-04-18 17:18] AndreyIvanov42 commented on #3800
Fixed script released

[2022-04-18 17:18] #3800 closed

[2022-04-18 17:18] AndreyIvanov42 commented on #3800
Fixed script released

[2022-04-19 13:49] cbernth commented on #3641
This bug hasn't been fixed!
For an enterprise organization it's hardly feasible with a workaround that requires manual fiddling.
Can this bug please be reopened?

[2022-04-19 20:10] jonlorusso commented on #3658
@alexander-smolyakov can you share a link to  the ticket please 🙏

[2022-04-19 23:37] mswilson4040 commented on #2043
@anatolybolshakov Out of curiosity, what is a more prioritizing issue than a deployed feature that doesn't work? If there isn't going to be any support around the feature, I would suggest removing it or making it a beta feature.

[2022-04-21 01:17] himalpatel81 commented on #1307
Thanks @Christoba . This works fine with the template which you shared. However, if I try to do the same using stages, it doesn't work.

`trigger: none

stages:
  - stage: DeployToDev
    displayName: 'Deploy to Development Environment'
    variables:
     - template: variablegroup.yml
     - name: suffix
       value: '00'
     - name: connection
       value: "$[variables[format('{0}{1}', 'TestC

[2022-04-21 06:32] HofmeisterAn commented on #1207
@anatolybolshakov We still have the issue with the agent `2.202.1`. How does #3661 cover **not confidential** inputs? It looks like the change does only fix the problem for some `EndpointAuthorizationParameters` parameters, but what about custom extensions (`inputDescriptors`)?

[2022-04-21 10:58] max-zaytsev commented on #3787
@xiaoyu-work is this issue still actual for you?

[2022-04-21 13:03] alexander-smolyakov commented on #1207
Hey @HofmeisterAn, let us take another look at this issue.

[2022-04-21 13:30] M0ns1gn0r commented on #2681
I just had the same issue. It turned out that this checkbox was enabled for this task:

![image](https://user-images.githubusercontent.com/5908454/164468660-a9c3e61e-c4e9-4788-bc18-ae57c748f2fb.png)

[2022-04-21 15:37] StingyJack commented on #1207
@alexander-smolyakov  also see [this](https://github.com/microsoft/azure-pipelines-agent/issues/1207#issuecomment-1066023954), it's affecting hundreds of pipelines my org has, and we have a support case open for this.

[2022-04-23 14:14] tonyskidmore commented on #3461
I have been working on a three part blog series on [Azure DevOps Self-Hosted VMSS Agents](https://www.skidmore.co.uk/series/ado-vmss-agents/).  I looked at this issue again while working through that and came up with a workaround that seems to work for me, based on various comments in the history of this issue. Specifically, in the [PATH issue](https://www.skidmore.co.uk/post/2022_04_20_azure_devo

[2022-04-25 14:13] ColeSiegelTR commented on #3584
Seems like the ADO agent isn't supported anymore, for anyone else having problems you might find some help in this stack overflow post: https://stackoverflow.com/questions/69122052/mounting-docker-run-in-azure-pipeline-job/69237696#69237696

Would be great to have some clearer official recommendation, though

[2022-04-27 07:28] pdevaguptapu opened #3824 "Update Agent to Latest Git Version 2.36.0 #CVE-2022-24765"
When could we expect to see the agent get bundled with the latest git version 2.36.0 addressing the issues listed in #CVE-2022-24765

[2022-04-27 09:37] gspyrka commented on #3308
I had the same issue but I change PAT "Organization" to "All accessible organizations" and it's work.

[2022-04-27 13:10] RylandDeGregory opened #3825 "Azure Pipelines Environments Linux VM agent - SSL remote certificate validation failed"
## Agent Version and Platform
Version of your agent? 2.202.1

## OS of the machine running the agent?
Linux (RHEL 7.9)

## Azure DevOps Type and Version
https://dev.azure.com/TrellanceUS

## What's not working?
When trying to configure a RHEL 7 VM as an Azure Pipelines Environment Resource, we are given an SSL validation error.
![screenshot_2022-04-27_09-01-14](https://user-images.githubuserconten

[2022-04-27 19:02] Kozlov-Igor commented on #3824
Hi @pdevaguptapu, Thanks for reporting this! We going to update it in the next sprint.

[2022-04-28 08:34] phenixita commented on #3688
same problem here!
![image](https://user-images.githubusercontent.com/17789308/165712030-19b02e16-f5b2-4111-99da-7098dbd4dbc8.png)
Build log:
[33.txt](https://github.com/microsoft/azure-pipelines-agent/files/8580994/33.txt)

[2022-04-28 09:24] phenixita commented on #3688
[Found the solutions here](# https://developercommunity.visualstudio.com/t/Build-tag-XXXXX-was-not-added-successf/1633307#T-N1638741)

[2022-04-29 09:00] anatolybolshakov commented on #3809
@rklec yes, per stack trace this error message comes from dir cleanup stage (which happens during job initializing) - and hence failing due to permission error.

[2022-04-29 09:47] max-zaytsev commented on #3824
Hi @pdevaguptapu, thanks for reporting!
We are going to work on it in the near time

[2022-04-29 13:46] max-zaytsev commented on #3756
@stephajn is this issue still actual for you?

[2022-05-01 14:38] BillyONeal commented on #3541
We see the problem on all operating systems when building something that heavily uses the machine, not just Linux. It looks starved for CPU rather than RAM. The screenshot in my original post is from a MacOS machine, for instance.

However, we have seen this happen much less frequently recently. I don't know if that's something that changed in the Agent or something we changed. (And most of the ca

[2022-05-02 07:39] PallabPandaOwn commented on #2985
We are facing same issue today also

[2022-05-02 14:47] zioalex opened #3829 "Self Hosted VMSS tooks hours to be reconfigured by ADO on recreation"
## Agent Version and Platform
TeamServicesAgentLinux version: 1.22
Agent version: 2.202.1
OS of the machine running the agent? Linux

## Azure DevOps Type and Version
https://dev.azure.com/swissre

## What's not working?
The VMSS is configured to be controlled by Azure DevOps. When the VMSS needs to be recreated the extension can take till 2 hours to be reconfigured leaving the Pool without availa

[2022-05-02 15:14] tintin10q commented on #2454
There is none

[2022-05-03 07:09] Nika-89 commented on #2985
@PallabPandaOwn As a workaround, the download artifact can be added as a task into the job directly.

[2022-05-04 17:33] dmccolloughOneGas opened #3832 "VSTS Agents Self Hosted on a Mac"
Question, I would like to run my self hosted Mac build agents as a daemon on my Mac mini so that I don't have to login to the Mac using the service account.

I have them running as launchd services, they work perfectly if I login to the Mac mini using our service account. This presents a problem if the server reboots for something, we are mostly working from home, so if it reboots and the build ag

[2022-05-04 17:58] Kozlov-Igor commented on #3829
Hi @zioalex! This seems to be a scale set question - since this repo is mostly for the pipeline agent itself - could you please open a ticket on https://developercommunity.visualstudio.com/search?space=21 to get right eyes on it?

[2022-05-05 04:01] #3829 closed

[2022-05-05 06:50] max-zaytsev commented on #3756
@stephajn I'm closing this due to inactivity. Please re-open if you still have any problems.

[2022-05-05 06:57] max-zaytsev commented on #3787
@xiaoyu-work I'm closing this for now. Please reopen if you still have any questions.

[2022-05-05 13:35] al-cheb opened #3834 "[VSTS Agent] Unable to install vsts agent on Ubuntu Server 22.04 LTS"
## Having issue with Azure-Pipelines/VSTS/TFS?
Ubuntu Server 22.04 LTS has openssl 3.0 on board by default which causes issue with connecting a vsts-agent to Azure DevOps.

## Agent Version and Platform
Version of your agent? `v2.202.1`

OS of the machine running the agent? `Ubuntu Server 22.04 LTS`

## Azure DevOps Type and Version
https://dev.azure.com/buildcanary/

## What's not working?
![imag

[2022-05-05 16:58] max-zaytsev commented on #3834
@al-cheb does it fail all the time?

[2022-05-05 17:08] al-cheb commented on #3834
Yep, always - https://github.com/dotnet/runtime/issues/27792

[2022-05-06 07:58] #3756 closed

[2022-05-06 07:59] #3787 closed

[2022-05-06 08:30] itsme112358 commented on #3359
Hi!
I think I'm getting the same issue. Can you reopen?
But I get it on multiple runs a day. I'm uploading ~60MB of artifacts. They start uploading, then get stuck at a certain amount uploaded. I've even seen cases, where the amount of transmitted bytes was exactly the same before freezing up during two different runs.
On normal runs it completes in ~3 minutes, which is already pretty slow. I late

[2022-05-06 08:40] IIStevowII commented on #3834
Having the same issue here. A clean install of Ubuntu Server 22.04 LTS, when I try to run the ./config.sh it fails after inserting the personal access token with the message:
[code]

When I try to run /bin/installdependencies.sh I get the following errors:
[code]
I took a look at the dependencies myself, it seems Ubuntu 22.04 uses the following versions:
- libicu70 instead of libicu67
- liblttng-u

[2022-05-06 15:38] max-zaytsev commented on #3834
@al-cheb Azure DevOps Agent still uses .NET Core 3.1.

We have [plans](https://github.com/microsoft/azure-pipelines-agent/pull/3758) to upgrade the agent to .NET Core 6.0, but we need to check if there are any breaking changes.

[2022-05-09 04:14] SudeshSharma opened #3835 "Got Error "Unable to deploy to the target 'abc' as the target is offline""
Hey Guys,

Got error during deployment of the pipeline on azure VM(server 2016)

“Unable to deploy to the target ‘abc’ as the target is offline.”

I have restarted the VSTS agent on VM but got again same error.

whenever I tried to install a new agent got the below error.

System.Net.Http.HttpRequestException: The SSL connection could not be established, see inner exception.
—> System.IO.IOExcepti

[2022-05-09 08:41] zioalex commented on #3829
Hi @Kozlov-Igor, this is not a VMSS question. When the VMSS is controlled by ADO, the ADO's backend is responsible of all the operations.
Even pushing the new extension installation.
In every case I will open also a thread there.

[2022-05-09 08:50] zioalex commented on #3829
New thread created here https://developercommunity.visualstudio.com/t/Self-Hosted-VMSS-tooks-hours-to-be-recon/10034758?space=21&q=ado+extension+delayed&entry=problem

[2022-05-09 09:35] wertzui commented on #3124
Up

[2022-05-09 11:34] Kozlov-Igor commented on #3835
Got Error "Unable to deploy to the target 'abc' as the target is offline" [#3835](https://git.akvelon.net:9443/git.anatoly.bolshakov/build-tasks-team-board/-/issues/263)

[2022-05-09 16:26] ceilingfish opened #3836 "SSL issue registering Azure DevOps agent"
## Agent Version and Platform
2.202.1 & v2.204.0

OS of the machine running the agent? Windows Server 2019

## Azure DevOps Type and Version
dev.azure.com

organization name: https://dev.azure.com/AxiCore

## What's not working?
I am trying to register a VM as a DevOps environment from the command line using:

    c:\AzureDevOpsAgent\config.cmd --environment --environmentname redacted-environment

[2022-05-09 18:12] neoswallow commented on #3832
I haven't actually tried it myself but https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-osx?view=azure-devops#alternative-service-mechanisms has an Apple site link (https://developer.apple.com/library/content/documentation/macOSX/Conceptual/BPSystemStartup/Chapters/CreatingLaunchdJobs.html) to setup Launch Deamon/Agent.

In my case, I setup port forwarding of ssh along with screen

[2022-05-10 11:34] dmccolloughOneGas commented on #3832
@neoswallow I appreciate the response, I gave the apple document a try and couldn't get it to work. Hoping that Microsoft will review and respond.

Thanks

[2022-05-11 14:32] ceilingfish commented on #3836
This appears to be because dev.azure.com only supports TLS 1.2 (I thought you folks had rolled back deprecation of TLS 1.1 & 1.0?), with the following cipher suites:

TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
TLS_DHE_RSA_WITH_AES_128_GCM_SHA256

I'm _guessing_ this is a mistake, as those cipher suites don't appear to be on Windo

[2022-05-11 15:04] BastianZim commented on #3184
Not stale

[2022-05-11 17:24] kirill-ivlev commented on #3836
@ceilingfish could you please also check that there are no network issues on this machine? (For example, try to fetch some ADO url from PowerShell e.g:

`Invoke-WebRequest -Uri "https://dev.azure.com/REDACTED/_apis/connectionData?connectOptions=1&lastChangeId=-1&lastChangeId64=-1"`

Azure DevOps still support TLS 1.0 / 1.1 / 1.2 (https://devblogs.microsoft.com/visualstudio/azure-devops-requires-tl

[2022-05-12 05:59] xkszltl commented on #2043
Hi @anatolybolshakov
Could you provides more insights regarding "possible regressions"?
What does the solution looks like, an auto-injected sudo?

[2022-05-12 08:47] anatolybolshakov commented on #3574
Hi @greektreat do you have any updates?

[2022-05-12 12:57] anatolybolshakov commented on #1207
@StingyJack @HofmeisterAn all service connection parameters are being masked by default for security reasons - there is no generic mechanism at the moment to distinguish between secret/non secret fields of service connection - hence it's not recommended to use fields with short values for custom service connections currently.
Since service connection definitions is the part of ADO itself - I would

[2022-05-12 13:47] HofmeisterAn commented on #1207
The `inputDescriptor` has a specific field for that: `isConfidential`.

Where is that?

[2022-05-12 16:03] anatolybolshakov commented on #3832
Hi @dmccolloughOneGas as I know there is no other supported ways to run it - have you checked the links below as well (mentioned in docs)?
https://www.engadget.com/2011/03/07/terminally-geeky-use-automatic-login-more-securely/
https://lifehacker.com/5779922/make-os-x-load-your-desktop-before-you-log-in

I would suggest to reach out to the Apple support for the best practices for your case.

[2022-05-12 16:14] anatolybolshakov commented on #3835
Hi @SudeshSharma please see [similar ticket ](https://developercommunity.visualstudio.com/t/unable-to-deploy-to-the-target-the-target-is-offli/697018) for reference.
Could you please share the agent logs to take a look?

[2022-05-13 03:05] #3778 closed

[2022-05-13 04:43] frankfuu commented on #3722
Thanks, this was a life saver for us ;)

[2022-05-13 10:52] anatolybolshakov commented on #1207
This is the schema of custom endpoint, but agent relies on `ServiceEndpoint` definition while working with service connections data (coming from external assembly - containing some generic interfaces and classes for interaction with Azure DevOps). This assembly is not the part of the agent, but is more related to Azure DevOps side - updating this would probably require other changes on ADO side as

[2022-05-13 10:58] kirill-ivlev commented on #3362
@hommeabeil I performed an investigation with ubuntu:18.04 as a container and found that all files created inside a container were matched valid UID/GID. I can assume that behavior might be different for other containers.

Could you please provide information about the image which you are using to execute the build procedure and the name & version of the host Linux distro?

[2022-05-13 13:03] ToniA commented on #3078
This issue still seems valid. We started to use the KEDA Azure Pipelines scaler. Every time it scales down, it leaves 'offline' agents behind.

To me it seems that the agent indeed tries to remove itself from the pool, but doesn't have rights to do so (/azp/.token file exists and seems valid):
[code]

This is the first error in the log file
[code]

[2022-05-16 04:16] StingyJack commented on #1207
Sorry, @anatolybolshakov  - I didnt say _anything_ about service connections. We use service connections for pipelines because my org's repos are hosted on GitHub, and those dont cause this. The inappropriate masking of values in the logs is affecting pipelines that have an `Azure Key Vault` task that is enabled. If the task is disabled this problem goes away.

If you think that this is just a pro

[2022-05-16 05:06] StingyJack commented on #1207
I would also like to point out that all of the reports of this issue on the developer community site are getting closed as duplicates and are referring to this issue as the place where we should be tracking, so please do not ask us to "open another issue" or anything like that because we have reported the issue correctly already.

[2022-05-16 05:23] SudeshSharma commented on #3835
@anatolybolshakov
[Agent_20220515-154612-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/8697347/Agent_20220515-154612-utc.log)

[2022-05-16 05:29] HofmeisterAn commented on #1207
It also happens for custom extensions.

[2022-05-16 11:01] AndreyIvanov42 commented on #3824
Solved with this [PR](https://github.com/microsoft/azure-pipelines-agent/pull/3839)

[2022-05-16 11:19] pdevaguptapu commented on #3824
Good to know. But which agent version will have this new git 2.36.0? the current latest has only 2.30.1 git version

[2022-05-16 11:42] #3832 closed

[2022-05-16 13:59] johnynfulleffect commented on #3834
I worked around the libssl issue, and was able to build my docker image.  However, this is my error when running the start.sh from https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#create-and-build-the-dockerfile-1

[code]

[2022-05-16 17:00] anatolybolshakov commented on #3560
Hi @lonevvolf @aok-foss thanks for reporting! We are currently working on more prioritized issues, but will get back to this one once be able to.

[2022-05-16 17:19] anatolybolshakov commented on #3579
Hi @strtdusty do you still see this issue with the latest agent version? There have been some fixes related to race conditions for job execution some time ago.

[2022-05-16 17:35] anatolybolshakov commented on #3584
Hi @ColeSiegelTR yes, as I see docker in docker scenario is relevant for your case, so please make sure that you use one of the ways described in sources above or in [docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#mounting-volumes-using-docker-within-a-docker-container).

[2022-05-16 17:59] anatolybolshakov commented on #3585
Hi @WanielDeiss could it be related to this one - https://askubuntu.com/questions/1087576/version-curl-openssl-3-not-found?
Do you have any other libssl versions installed on your environment?

@rockrilvas this seems to be some other not related to this one.. Could you please open a separate ticket to take a look?

[2022-05-16 18:08] anatolybolshakov commented on #3629
Hi @PaulVrugt thanks for reporting! This looks similar to https://github.com/microsoft/azure-pipelines-agent/issues/1506 and related PRs which we are planning to review.

[2022-05-16 18:13] strtdusty commented on #3579
@anatolybolshakov  I will upgrade and do some testing

[2022-05-16 18:16] PaulVrugt commented on #1506
We would love to have this feature too. Please don't forget support for scaleset agents. It might be tricky to set agent settings in this scenario since the agent is automatically installed by azure devops when provisioning instances

[2022-05-17 09:40] anatolybolshakov commented on #3656
Hi! Agent does not support scanning of AzurePS capability on Linux environment at the moment - let me leave this as possible enhancement. We are working on more prioritized tickets currently, but will get back to this one once be able to.

[2022-05-17 09:42] anatolybolshakov commented on #3668
Hi everyone! We've updated git to 2.36.1 in https://github.com/microsoft/azure-pipelines-agent/pull/3839 - this will be available in the next agent release.

[2022-05-17 13:09] anatolybolshakov commented on #3708
Hi @cheesi could you please share more details about your request? Would you like agent name (specified during configuration) to be printed in the error message - when there is a name conflict?

[2022-05-18 10:39] cheesi commented on #3708
Hey @anatolybolshakov !

I can hardly remember.

The thing was, I tried to install the agent on a server, where it was already installed (with that exact name, as I was using the server name). And the message was just like "Enter replacement". It was no where clear that, 1) the name was already used and 2) that the agent was already installed on the server.

And it would have been good, to get tha

[2022-05-18 11:42] anatolybolshakov commented on #3705
Hi @Ezak91 thanks for reporting! Seems like the issue is resolved here, although it probably make sense to include info to the related docs about it - let us take a look.

[2022-05-18 14:36] seanvanwyk41 commented on #2479
I also really want to see this feature, as a devops engineer it is incredibly difficult to test ci/cd changes other than pushing these changes and hoping nothing goes down, or building a full redundant environments which for heavy compute services like AI is expensive. A tool that allows us to get insight into how the different stages execute without needed to wait for an agent and relying on the

[2022-05-19 14:49] crh225 commented on #3668
@anatolybolshakov do you know timeframe of when that will be?

[2022-05-19 20:41] hommeabeil commented on #3362
The image we are using is currently debian:10 and the host is also debian 10.

[2022-05-20 11:17] onkobu commented on #1307
This hasn't changed in years. Gets even funkier when using $Environment.Name of a so called deployment job (in a stage). See above.

[2022-05-20 14:46] nlasok1 opened #3841 "Errors when starting up Docker image of the agent."
## Having issue with software on Hosted Agent?
Log an issue at [Hosted Agent Image Repository](https://github.com/Microsoft/vsts-image-generation).  <- There is no such repo, so submitting it here.

## Agent Version and Platform
agent v 2.202.1

OS of the machine running the agent? OSX/Windows/Linux/...
Linux

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
Errors when start

[2022-05-20 18:00] antsok commented on #3841
Agent built according to this [ms docs article](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#create-and-build-the-dockerfile-1). Building with ACR.

Errors happen in start.sh when unpacking tar file that this script obtains from https://vstsagentpackage.azureedge.net/agent/

[2022-05-21 15:02] #3323 closed

[2022-05-21 16:26] NeroJz commented on #3566
Hi @DenisRumyantsev, can I know how to specify the AZP_AGENT_DOCKER_NETWORK_CREATE_DRIVER environment or the agent.DockerNetworkCreateDriver?

[2022-05-22 06:46] shohagcsediu opened #3842 "Azure Build Failed is any new update?"
Regularly our project build is completed less than 30 minutes, we can say 21 to 24 minutes. But recently from 19 May 2022 its not successfully build, its giving build failed and saying that it took more than 1 hour. As from documentation public repo get 6 hours limit and private repo 1 hour limit.

##[error]The job running on agent Hosted Agent ran longer than the maximum time of 60 minutes. For m

[2022-05-22 17:35] StingyJack commented on #1207
@anatolybolshakov - We only have a few builds that require us to host an agent. The rest are all AzDo hosted agents which are running the pipelines that have the inappropriate masking, so I'm only looking into these hosted agents. From a recent log...
[code]
I ran a pipeline with debug = true and System Diagnostics enabled and attached the logs to the support case we have open. I believe the suppo

[2022-05-23 06:55] alexander-smolyakov commented on #3842
Hey @shohagcsediu, could you please share the following info?

- Do you use Azure DevOps Services or an On-prem solution?
- Which type of agent pool is used in your pipeline? (Self-hosted / MS-hosted)
- Could you please share full pipeline logs from the last successful run and failed run? ([Related doc](https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting/review-logs?view=azure-

[2022-05-23 09:06] nlasok1 commented on #3841
Update:

As a workaround, I've built an agent in a different way than provided in previous mentioned MS docs article, by placing the agent tar download into the Dockerfile itself and it starts fine now. You can find the source code here [https://github.com/antsok/ado-aca/tree/agent-2.202.1/src/agent](https://github.com/antsok/ado-aca/tree/agent-2.202.1/src/agent)

[2022-05-23 10:21] alexander-smolyakov commented on #3836
@ceilingfish let me close this ticket due to inactivity. Feel free to request a reopening if the issue is still actual.

[2022-05-23 10:21] #3836 closed

[2022-05-23 10:49] alexander-smolyakov commented on #2598
Reopening this, since the issue is still actual.

We have merged the related pull request:
- https://github.com/microsoft/azure-pipelines-agent/pull/3785

We will update the ticket once related changes will be deployed.

[2022-05-23 10:51] anatolybolshakov commented on #3708
@cheesi got it, thanks! Let us take a look - we can probably just update the message here for more relevant.

[2022-05-23 11:02] alexander-smolyakov commented on #3824
@pdevaguptapu we plan to include these changes in next agent release. We will update this ticket once related changes were deployed for all ADO customers.

[2022-05-23 14:26] NeroJz opened #3846 "Failed to start the custom Linux container in self hosted Windows Server 2019 due to volume mounting on .taskkey"
## Docker Issue
The agent could not start the docker container (custom Linux Image) due to volume mounting.

## Issue on Starting the Docker in Self Hosted Agent
The agent could not start the docker container (custom Linux Image) on Window Self Hosted machine (Windows Server 2019). It could not mount the \\_work\\.taskkey.

## Agent Version and Platform
Version agent: 2.204.0
OS Machine: Windows S

[2022-05-24 08:28] microsoft-github-policy-service[bot] opened #3848 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-24 19:33] kirill-ivlev commented on #3362
@hommeabeil
currently, the Azure DevOps agent creating user and group with the same UID/GID that it has on the host machine,
for example:
if you have a user with ID 1000 (but the primary group of this user is 1002 for example), inside the container Agent will create a user & group with ID 1000:1000, I assume that it can be an issue in this case.
Could you please tell me, if your user on the host m

[2022-05-25 20:54] ugurgural commented on #3834
@johnynfulleffect When I tried your suggestion [here ](https://github.com/microsoft/azure-pipelines-agent/issues/3599#issuecomment-1083564092) it worked for me for now, but obviously without the ssl. Could you find out any workaround for ssl ?

[2022-05-25 21:57] johnynfulleffect commented on #3834
I have yet to get this working.  I’m stuck waiting on a release of azure pipelines agents that work on Ubuntu 22.04.  That exec failure here has me working on other projects:

[2022-05-26 02:18] alphanse82 commented on #3755
I am also facing the same issue.

[2022-05-27 12:58] #3809 closed

[2022-05-27 14:02] rklec opened #3850 ""Value cannot be null. (Parameter 'ContainerId')" and auto-updating agends causes disruption/cancel jobs"
## Have you tried troubleshooting?
Yes

## Agent Version and Platform
Version of your agent? 2.204.0

OS of the machine running the agent? Linux

## Azure DevOps Type and Version
on-premises

Azure DevOps Server 2020 Update 1.1

## Setup

We have multiple agents on the same server, but for this test I offline'd all of them and only have one running:

![grafik](https://user-images.githubusercontent

[2022-05-28 12:17] #3801 closed

[2022-05-29 18:08] nsinghal99 commented on #3385
Hello, using an agent without Node 6 did not resolved all the vulnerabilities. Can you please let us know when will this ticket be resolved?

[2022-05-29 18:40] MirKml opened #3851 "Run task in docker preview doesn't work"
## Have you tried troubleshooting?
according https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/preview/runtaskindocker.md#request-for-feedback

## Agent Version and Platform
Version of your agent? 2.200.2

OS of the machine running the agent?
Linux, self hosted with docker in docker ubuntu 18.04

## Azure DevOps Type and Version
dev.azure.com
organization: protank

## What's not

[2022-05-30 11:41] hommeabeil commented on #3362
Yes this is exactly what is happening. Our agent UID is 112 and his group is 117. Is this is planned to be fixed ? It is obviously not the expected behavior. Thanks for investigating.

[2022-05-30 13:22] KonstantinTyukalov commented on #3851
Hi @MirKml  we are not able to reproduce this issue at the moment.
Could you please describe some questions:

- Which version of image have you tried? As I know, the node:18-bullseye uses debian-11 as base. Have you tried ubuntu 18.04 and node:18 both?
- Have you tried the hosted agent images?
- Could you share the full Agent/Worker diagnostic logs?

Thank you

[2022-05-30 14:31] KonstantinTyukalov commented on #3851
To prevent cequrity risks, you can share the logs at this email: v-ktyukalov@microsoft.com

[2022-05-30 14:32] KonstantinTyukalov commented on #3850
You can send this logs to my email: v-ktyukalov@microsoft.com

[2022-05-30 14:38] rklec commented on #3850
The sanitized logs are linked as GitHub Gists under "Agent and Worker's Diagnostic Logs" in the original issue.

[2022-05-30 15:01] MirKml commented on #3851
Our setup
We have on premise agent in k8s cluster, which uses docker in docker setup.
I don't know much about OS for linux cluster with main docker, but I think it doesn't matter. It's some linux distro with docker which runs k8s cluster. In one of containers runs azure agent.
Agent itself - docker in docker - is based on ubuntu 18.04 according this guide https://docs.microsoft.com/en-us/azure/dev

[2022-05-30 15:02] MirKml commented on #3851
I will send you logs tomorrow.

[2022-05-30 15:36] a1exstr opened #3852 ""Add-SqlPackageCapabilities.ps1" is not capable of adding SqlPackage capability from Visual Studio 2022 SSDT"
## Agent Version and Platform
2.195.2 - 2.204.0

## OS of the machine running the agent? Windows Server 2019 Standard (1809; 17763.2686 build)

## Azure DevOps Type and Version
Azure DevOps Server 2020.1.1 Patch 4

## What's not working?
"Add-SqlPackageCapabilities.ps1" is not capable of adding SqlPackage capability from Visual Studio 2022 SSDT.
Max supported version of Visual Studio is 2019
Scrip

[2022-05-31 08:44] dylansitblog commented on #3624
How can nobody comment on this?

[2022-05-31 13:41] KonstantinTyukalov commented on #3852
Hi @a1exstr  Thank you for the provided information.

Let us take a look

[2022-06-02 12:38] cookbr opened #3854 "Hosted Agent Image Repository hyperlink in issue template is broken"
Looks like the _Hosted Agent Image Repository_ hyperlink under the _Having issue with software on Hosted Agent?_ section of the issue template is broken ...

[2022-06-02 12:48] MaximMalygin commented on #3353
Probably we should tested it, because i'm not sure if it works correctly for all repositories

[2022-06-02 15:29] jbreadner commented on #3086
I am using `--addvirtualmachineresourcetags --virtualmachineresourcetags tag1=val1,tag2=val2` kind of syntax, and I also do not see the capabiliities added to the agent once it's in the pool.  This is on Ubuntu 22.04 using agent 2.204.0.

[2022-06-02 17:05] getvivekv opened #3855 "Releases failing randomly with agent error "Unhandled exception happened in worker""
Our pipelines are failing randomly with this error message produced by the ADO Agent

Agent package linux-x64.
Running on Linux (X64).
RuntimeInformation: Linux 5.4.0-1078-azure 81~18.04.1-Ubuntu SMP Mon Apr 25 23:16:13 UTC 2022.
Running as container on Kubernetes (AKS)
Azure DevOps Type and Version: dev.azure.com

[code]

File: /azp/_diag/Worker_20220602-113138-utc.log

[code]

It is not clear fr

[2022-06-02 20:23] pdevaguptapu commented on #3824
Its been a month and 5 days this CVE request is pending, New Agent 2.204.0 is also release with old version of git (2.30.2)
Please do the needful Quickly.

[2022-06-03 07:14] KonstantinTyukalov commented on #3854
Hi @cookbr thanks for the information provided!

We've prepared a PR with a fix for this problem, please take a look: https://github.com/microsoft/azure-pipelines-agent/pull/3856

[2022-06-03 09:46] KonstantinTyukalov commented on #3854
The related changes has been merged. Let me close this issue then

[2022-06-03 09:46] #3854 closed

[2022-06-03 12:08] andrey-parkhomets commented on #3780
I have similar issue, running agent within a POD on AKS (v1.21.7, with containerd), as sidecar these also docker:20.10-dind container which allows to start custom containers in pipelines, but feature "container jobs" getting failed while using self hosted agents:
[code]

What is the logic behind containerHandlerInvoker.js.template to be copied to containerHandlerInvoker.js ?

I see that is present

[2022-06-04 01:49] son3ofSatan opened #3858 "I am using `--addvirtualmachineresourcetags --virtualmachineresourcetags tag1=val1,tag2=val2` kind of syntax, and I also do not see the capabiliities added to the agent once it's in the pool. This is on Ubuntu 22.04 using agent 2.204.0."
I am using `--addvirtualmachineresourcetags --virtualmachineresourcetags tag1=val1,tag2=val2` kind of syntax, and I also do not see the capabiliities added to the agent once it's in the pool.  This is on Ubuntu 22.04 using agent 2.204.0.

_Originally posted by @jbreadner in https://github.com/microsoft/azure-pipelines-agent/issues/3086#issuecomment-1144999527_

[2022-06-04 15:45] Luiz-Monad commented on #858
Does work !
Now I don't need to grab a coffee every time, saves on coffee beans.

![image](https://user-images.githubusercontent.com/4574729/172013326-25da771c-b0fd-441a-ad63-e1b184668213.png)

[2022-06-04 19:21] andrey-parkhomets commented on #3780
I was able find workaround by sharing few folders between agent container and DinD container with few hacks, after that container jobs start working.

[2022-06-06 05:58] KonstantinTyukalov commented on #3855
Hi @getvivekv thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-06-06 21:27] DenisRumyantsev commented on #3846
Hi @NeroJz, do you have any updates? Could you use my email instead? — v-denisr@microsoft.com

[2022-06-07 01:04] NeroJz commented on #3846
Hi @KonstantinTyukalov @DenisRumyantsev, sorry for late reply. I had uninstalled the docker and run the pipeline jobs within the self hosted machine. Let me re-install the docker engine on the machine and try again. Will share these details to you all after the installation.

[2022-06-07 16:00] DanielBMann9000 opened #3860 "Eq() function does not evaluate boolean parameters and variables transitively"
The Azure Pipelines YAML engine does not evaluate comparisons between boolean parameters and variables containing boolean values in a transitive fashion.

Observe:
[code]

The output of this script will be

[code]

So essentially,

[code]

This makes using the `boolean` type for parameters **completely useless** for any reasonably complex scenario. I'm expecting it won't be fixed because fixing it

[2022-06-07 19:01] max-zaytsev commented on #3858
@son3ofSatan Thanks for reporting! We are working on more prioritized issues now but will get back to this one soon

[2022-06-07 20:53] max-zaytsev commented on #3860
Hi @DanielBMann9000, this issue is more related to ADO and not the pipelines agent. Please open a ticket on https://developercommunity.visualstudio.com/search?space=21 to get the right eyes on it.

[2022-06-07 20:53] #3860 closed

[2022-06-08 12:21] sumit84mca commented on #3624
I used task JavaToolInstaller (https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/java-tool-installer?view=azure-devops)
Now its working.
![image](https://user-images.githubusercontent.com/18229166/172614761-a74a10c3-cee2-4fc4-8b4e-000befb6db51.png)

[2022-06-08 15:22] rklec commented on #3850
@KonstantinTyukalov Any news regarding this here?

[2022-06-09 12:14] tlrh314 commented on #3834
Also encountered the issue. Any updates on a fix?

[2022-06-09 12:37] KlemenDanfoss commented on #858
I don't know, maybe I'm doing something wrong, but the pipeline was triggered for this :
![image](https://user-images.githubusercontent.com/93664973/172848467-e3291f44-8029-4861-972c-1525dd070dd4.png)

[2022-06-09 15:50] isc30 commented on #858
Still doesn't work 😩

[2022-06-09 19:48] shiitake commented on #858
Confirmed.  `[skip-ci]` doesn't work.

[2022-06-09 20:21] raven-wing commented on #2043
Whoah. I'm impressed that there are issues which are more important that pipeline not working at all :)
(just bumping thread up to show that it's not stale)

[2022-06-10 03:00] francisrpereira commented on #3834
This is probably due to the OpenSSL config.
Try this:
sudo sed -i 's/openssl_conf = openssl_init/#openssl_conf = openssl_init/g' /etc/ssl/openssl.cnf

[2022-06-10 07:24] JamesDLD commented on #1749
Thanks! I confirm that the following code is working as expected.
[code]

[2022-06-10 09:52] tomaustin700 commented on #2454
I don't understand why this was closed, the issue still remains. Just tried installing the agent on Ubuntu 22.04 and ran into the exact same issue, I had to use 20.04 to get it to work. Either the prerequisites need changing to install whats needed or the agent needs changing to work with newer OS's.

[2022-06-10 10:29] Akhil1666 commented on #3015
@Adithi-Azure Have you found any solution for this issue?

[2022-06-10 14:15] caspChristian opened #3862 "Feature request: Dynamic Capabilities checked before each run"
The only supported way to provide capabilities is to add ".capabilities" file(?)

We need to have a capabilites check that runs before a job is assigned to an agent.
This could be a powershell script that runs when a specific capability is requested.
It could be that a service needs to be running to be able to run a job, but we can't control the service, so before agent is determined we want said

[2022-06-10 14:30] WilliamWatterson86 opened #3863 "Toolchain utility 'arm-linux-androideabi-as.exe' for target Arm was not found."
## Agent Version and Platform
Version of your agent? 2.204.0

OS of the machine running the agent? OSX/Windows/Linux/...
Windows

## What's not working?
Getting this error on my Xamarin Android pipelines today.  The same pipelines were working yesterday afternoon. Has something been updated?

[error]C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Xamarin\Android\Xamarin.Andr

[2022-06-10 14:51] alfredo-milani commented on #1749
I need to set a variable using the statement:
`echo "##vso[task.setvariable variable=environment]${some_value_for_environment}"`

And then insert or not a template.
Using the following expression does not works:
`- ${{if ne(vparameters.some_parameter, variables.source_container_registry)}}:
      - script: |
          echo "diff"`
`- ${{if ne(parameters.some_parameter, variables['environment'])}}:

[2022-06-12 13:32] Sen-Gupta commented on #3834
Hello MS Team,

If it helps, we are able to reproduce the same issue on Fedora 36 as well as of 12-Jun-2022.
Is there any time timeline for solution or we just downgrade our new install?

[2022-06-13 13:07] Abdulthetechguy opened #3866 "making containerized agents restart after every pipeline run and not after a job"
Using the --once flag for self hosted build agents restarts the container after every job which could be time wasting in instances where you have multiple jobs in a pipeline. How can the container be made to restart after each pipeline and not Job. I am running the build agents on AKS clusters as statefulsets

[2022-06-13 13:25] vmapetr commented on #3862
@caspChristian Thanks for reporting! We are working on more prioritized issues now but will get back to this one soon

[2022-06-13 21:30] vmapetr commented on #3866
Hi @Abdulthetechguy! As far as I know at the moment there is no ability to restart the container specifically after the pipeline completion.

[2022-06-13 21:36] vmapetr commented on #3863
Hi @WilliamWatterson86! Could you please provide some additional details about your pipeline - what type of agent do you use (hosted/self-hosted), an example of your YAML template, or some repro steps?

[2022-06-14 06:58] Abdulthetechguy commented on #2745
Did you by any chance find a solution to this? I am facing the same issue too.

[2022-06-14 07:16] Abdulthetechguy commented on #2745
Did you by any chance find a solution to this? I am facing the same issue too.

[2022-06-14 10:40] WilliamWatterson86 commented on #3863
Hi @vmapetr - thanks for getting back to me.

The agent I was trying to use was the windows-2019 from the hosted Azure Pipelines pool.

I have changed the agent to Windows-latest and it seems to work ok for me.  Maybe something has changed on the windows-2019 one?

[2022-06-14 10:54] a1exstr commented on #3852
Hi, how is it going?

[2022-06-14 16:15] Nighteyez07 commented on #3662
- It's been **7 months** since this issue was initially opened
- **5 months** since an advocate created a custom workaround
- **10 months** since the [Pipeline tasks project](https://github.com/microsoft/azure-pipelines-tasks) were originally updated to add support

Visual Studio is a Microsoft platform, Azure DevOps is a Microsoft platform. It is concerning as an advocate myself that there is suc

[2022-06-14 16:32] Blinchik91 commented on #3662
yes, it's crap.
Our workaround was it to update the agent manually and set the enviroment variable as @jessehouwing descriped.
Further we run msbuild via Powershell as a Task in the pipeline because the default VS Build Task does not support VS22.

[2022-06-14 18:03] #3835 closed

[2022-06-14 18:04] alexander-smolyakov commented on #3644
I'm closing this due to inactivity, feel free to request a reopening if you have further questions.

[2022-06-14 18:04] #3644 closed

[2022-06-14 18:04] alexander-smolyakov commented on #3585
I'm closing this due to inactivity, feel free to request a reopening if you have further questions.

[2022-06-14 18:04] #3585 closed, assigned to alexander-smolyakov

[2022-06-14 18:05] #3584 closed, assigned to alexander-smolyakov

[2022-06-14 19:19] g-campbell commented on #3658
@llyons I have 2.204.0 installed on my agents and I am still seeing the issue.

[2022-06-15 14:26] JeanRessouche commented on #3834
Starting to be urgent, i'm taking any .net 6 test/unstable version that you can share !

[2022-06-16 00:32] eric-gonzalez-tfs opened #3869 "Unable to switch `npm` versions inside container build"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2022-06-16 06:44] DenisRumyantsev commented on #3846
Hi @NeroJz, any updates? Did you manage to reinstall the Docker engine and get these details?

[2022-06-16 16:19] pboko commented on #2454
same here with ubuntu 22.04

[2022-06-17 09:45] andy-mishechkin opened #3872 "Azure DevOps self-hosted agent can't install Windows RT application correctly"
## Having issue with YAML?
No

## Having issue with Tasks?
Indirectly. Task: PowerShell@2, but it works

## Having issue with software on Hosted Agent?
No

## Having generic issue with Azure-Pipelines/VSTS/TFS?
No

## Agent Version and Platform
2.195.0

OS of the machine running the agent?
Windows 2019

If dev.azure.com, what is your organization name?
https://fairetaildev.visualstudio.com

## Wha

[2022-06-17 19:01] alexandrejulien commented on #3834
Hello,

Same problem for me.

[2022-06-17 21:44] Peweez commented on #3834
yep same here :(

[2022-06-18 23:39] icnocop opened #3877 "Error NU1102 Unable to find package vss-api-netcore with version (>= 0.5.179-private)"
Hi.

Thank you for azure-pipelines-agent.

When trying to build the latest code on the master branch, I get the following error:
[code]

I have the following NuGet Package Manager Sources configured in Visual Studio:
1. Name: nuget.org
Source: https://api.nuget.org/v3/index.json
2. Name: Azure DevOps Test Result Parser MyGet Feed
Source: https://www.myget.org/F/testresultparser/api/v3/index.json
3

[2022-06-19 04:11] FrankHeimes commented on #2415
This issue persists with agent version 2.196.2.

[2022-06-19 22:06] karambawow commented on #2415
Hi Frank, yes  because there is a breaking change in  i mention
please update your on premise version
the function is not there with the old Dev Ops Server
regards
Dominik

[2022-06-20 11:03] NeroJz commented on #3846
Hi @DenisRumyantsev, sorry for late reply. Can we revisit this issue later? Recently, we have other issues on our project and we are working on the deadline for these issues.

[2022-06-20 15:19] alexandrejulien commented on #3834
Hello,

This hack works fine on Ubuntu 22.04.

The problem is linked with OpenSSL 3.0 but you can add OpenSSL 1.1 on Ubuntu 22.04. Azure Pipelines uses .NET 3.1 which is not compatible with OpenSSL 3.0 (Only .NET 5-6 I think)

For adding OpenSSL 1.1 librairies on Ubuntu

[code]

or more simple

[code]

After you can reload the installer and it works fine for me.

[2022-06-21 08:31] Peweez commented on #3834
well the issue is pretty clear @alexandrejulien and installing openssl 1.1 is what I've also tried before without any luck... now i tried it eben with the .deb package like you provided and still no luck. I hope the agent will be patched to .NET 6 soon.

[2022-06-21 11:41] astlock opened #3878 "Random freezes of the agent"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.
No
## Having issue wit

[2022-06-21 11:48] astlock commented on #3878
`Agent_log_2`
[code]
`Worker_log`
[code]

[2022-06-21 11:49] alexandrejulien commented on #3834
It's a temporary workaround and not a permanent fix, we agree !
I dare hope there will be .NET 6 support soon given that .Net 3.1 is out of support at the end of the year.
This is the only solution I found.

[2022-06-21 11:53] alexandrejulien commented on #3834
It tested the workaround with latest Ubuntu 22.04 and the latest Azure DevOps Pipeline Agent 2.205 (prerelease) https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.205.0

[2022-06-21 11:56] DenisRumyantsev commented on #3846
@NeroJz, in that case, let me close this issue for now. Please reopen it again when you get back to this issue.

[2022-06-21 11:56] #3846 closed

[2022-06-21 20:01] SuperJC710e commented on #2454
Just hit this issue as well, just testing it now, but I think what is described here might solve it: [https://dev.to/n3wt0n/no-usable-version-of-the-libssl-was-found-solved-2ffa#install-the-older-version](https://dev.to/n3wt0n/no-usable-version-of-the-libssl-was-found-solved-2ffa#install-the-older-version)

`sudo apt-get update && sudo DEBIAN_FRONTEND=noninteractive apt-get --assume-yes install li

[2022-06-22 07:59] Ravio1i commented on #3834
The combination of what @alexandrejulien and @francisrpereira suggested did the trick for me:

For the one interested: the workarounds written in ansible:

[code]

[2022-06-22 09:19] SvetlanaMaliugina commented on #3877
Hi @icnocop, thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-06-22 17:20] shamith234 commented on #3834
This

This worked for me

[2022-06-23 10:17] BenWibking opened #3884 "agent hangs while "scanning for tool capabilities""
## Agent Version and Platform
Version of your agent? v2.204.0

OS of the machine running the agent? Linux (Rocky Linux 8.5)

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server? dev.azure.com

If on-premises, which release? N/A

If dev.azure.com, what is your organization name? https://dev.azure.com/quokka-code

## What's not working?
W

[2022-06-23 14:26] SvetlanaMaliugina commented on #3878
Hi @astlock!
Did this issue start appearing in agent version 2.204.0, or did it also happen in previous versions?
Could you try to reproduce it on the previous version of the agent and share logs?

[2022-06-23 14:26] SvetlanaMaliugina commented on #3884
Hi @BenWibking! Could you try to reproduce it on the previous version of the agent and share logs?

[2022-06-23 20:36] arvindgorur opened #3885 "Agent registration fails if pool name contains a space"
## Agent Version and Platform
v2.204.0

OS of the machine running the agent? Windows 2016

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
When running config.cmd in unattended mode, the registration fails if the pool name contains a space. For example. if the pool name is "Test Pool", it errors out with the message:
[code]
Encountered this behaviour with both the current ve

[2022-06-23 20:52] SuperJC710e commented on #3834
@francisrpereira?

**Thank you! Thank you!! Thank you!!! That works! Finally a work around.**

Finally we can use our Ubuntu 22.04 build agent in ADO!

As far as I can tell on the the `openssl_conf = openssl_init` tells openssl to read the `[openssl_init]` and that cascades to the next referenced sections, and so on. So I guess commenting it out is basically not running the specified initializatio

[2022-06-23 21:35] astlock commented on #3878
Hi @SvetlanaMaliugina!
Unfortunately, there is no data on the previous version, because we used to use ms-hosted agents. To which version do you think it is better to downgrade in order to better diagnose the problem? 2.202.1?

[2022-06-23 22:42] BenWibking commented on #3884
Yes, I've run it and the same thing happens. Here's the log from v2.202.1:

[code]

[2022-06-24 10:31] rfbeiboer opened #3886 "BatchScript@1 task may create additional environment variables when modifyEnvironment is set to true"
**Situation**
In certain conditions, running the BatchScript@1 task with modifyEnvironment set to true may lead to additional environment variables to be created that were not there before the task was run, and are also not created by the batch script itself. This occurs when an environment variable exists with a value containing multiple lines and the second (or later) line containing an equal ch

[2022-06-24 12:39] AndreyIvanov42 commented on #3885
Thank you for the report. When we have enough resources, we will be able to take a closer look at this issue. As a workaround, you can use names without spaces for now

[2022-06-24 15:18] AndreyIvanov42 commented on #3886
Thank you, we will look into this issue

[2022-06-24 15:46] copdips commented on #1749
@JamesDLD
are you sure ? `variables` in the `if` clause is not evaluated in run time, in this case it should always be evaluated to null or the default value, but not the case for `condition` clause where from the need of this issue I think.

[2022-06-24 15:47] copdips commented on #1749
this is a pipeline limitation, the `variables` in the `if` clause is evaluated from the beginning of the pipeline, not in real time.

[2022-06-25 00:26] jmarolf opened #3887 "Add ability to not fetch tags in checkout"
## What's not working?

The default `checkout` task that ships from this repo fetches all tags by default and is not configurable.

https://github.com/microsoft/azure-pipelines-agent/blob/98fc095611f9af644eb7440a42d0acd48ec9936b/src/Agent.Plugins/GitCliManager.cs#L189-L191

furthermore, because it manually specifies `--tags` on the commandline it overrides any `remote.origin.tagOpt==--no-tags` tha

[2022-06-25 02:48] BenWibking commented on #3884
We had one of the filesystem mounts go down on this machine due to a network problem. Once it came back up, the agent no longer hangs. However, the filesystem that went down is not the filesystem that the agent is running on, or should be using in any way, so I don't know exactly _how_ this caused the problem, but inducing an artificial failure causes the hang to happen again, so it is definitely

[2022-06-26 16:14] DmitriiBobreshev commented on #3362
the results of buddy testing are here: https://github.com/microsoft/azure-pipelines-agent/pull/3837#pullrequestreview-1019453104

[2022-06-27 11:49] alexandrejulien commented on #3834
@OvervCW

Thanks I forgot this one :)
I didn't disabled TLS Certificate validation and it works for me.

I use it on a Docker build VM with ADO Agent and there is no mistakes since I made the workaround.

[2022-06-27 13:59] dmccolloughOneGas opened #3889 "On Prem OSX Agent Update"
## Agent Version and Platform
Version of your agent? 2.205.0

OS of the machine running the agent? OSX, macOS Monterey 12.4

## Azure DevOps Type and Version
on-premises TFS/Azure DevOps Server

If on-premises, which release? Azure DevOPS server 2020 Update 1.1

## What's not working?
We have 3 OSx agents running on a Mac Mini. All are running as a service.
When I got to the Agent Pool and click o

[2022-06-28 13:57] AndreyIvanov42 commented on #3889
Hi, thanks for reporting.
We will take a look at this issue

[2022-06-29 11:01] astlock commented on #3878
Hi @SvetlanaMaliugina. Any updates on this?

[2022-06-29 15:56] eric-gonzalez-tfs commented on #3869
Bump! 🆙

[2022-06-30 08:29] ahmedsza opened #3891 "Clarity on AKS support for self hosted agents"
This github issue - #3447  and associated article https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#use-azure-kubernetes-service-cluster mentions that the self hosted agent is only "supported" on AKS 1.18 or below. This is due to "docker in docker". It would be good to get additional clarification as to whether the self hosted agent is supported in AKS as long

[2022-06-30 23:36] robert-sperse commented on #3834
@alexandrejulien 404 on the deb now.

We really need .net 6 preview @kirill-ivlev

[2022-07-01 11:03] DmitriiBobreshev commented on #3891
Hi @ahmedsza  thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-07-02 12:12] alexandrejulien commented on #3834
You can find all versions here : http://nz2.archive.ubuntu.com/ubuntu/pool/main/o/openssl/
Or here --> http://security.ubuntu.com/ubuntu/pool/main/o/openssl

Yes they must work on .net 6 agent.

[2022-07-03 22:21] oviliz commented on #3834
Usual M$ crap... :(

[2022-07-03 22:28] oviliz commented on #2454
Essentially we need to install an older OpenSSL version.

`wget http://security.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1l-1ubuntu1.5_amd64.deb && sudo dpkg -i libssl1.1_1.1.1l-1ubuntu1.5_amd64.deb && rm libssl1.1_1.1.1l-1ubuntu1.5_amd64.deb`
And then do:
`sed -i 's/openssl_conf = openssl_init/#openssl_conf = openssl_init/g' /etc/ssl/openssl.cnf`

Usual M$ crap...

[2022-07-04 04:57] JamieMagee commented on #2967
There are currently 2 PRs open to add support for new versions of Node.js

- #3861
- #3849

[2022-07-04 06:56] LiliaSabitova opened #3894 "Update install-dotnet scripts to latest version"
Update the following scripts

src/Misc/dotnet-install.ps1 (Take from https://dot.net/v1/dotnet-install.ps1)
src/Misc/dotnet-install.ps1 (Take from https://dot.net/v1/dotnet-install.sh)

[2022-07-04 09:07] sassonyaniv opened #3896 "configure self-hosted agent on Jetson NX (ARM64) fails"
hey ,

i am trying to configure my self host agent running on Jetson NX (arm64) with ubuntu 18.04 .
i get a permissions error , but neither a sudo chmod 777 or running as root helped.

i am using an agent version 2.204.0 for arm64.

also, running ./bin/installdependencies.sh didn't resolved the libcurl3 not found issue.

thanks for your help.
yaniv

nvidia@nvidia-desktop:/myagent$ . config.sh
./bi

[2022-07-04 09:45] DmitriiBobreshev commented on #3896
Hello @sassonyaniv, thank you for your question, make sure that you have at least executed access to all directories in your case it will be /, /home, /home/nvidia also /home/nvidia/myagent should have full access for user.
Also, you could try apt-get install libcurl3 [manually](https://www.howtoinstall.me/ubuntu/18-04/libcurl3/), and to be sure maybe it's related to this one - https://askubuntu.c

[2022-07-04 10:13] a1exstr commented on #3824
Hi, is there any updates on this issue ?

[2022-07-04 10:22] mc0re commented on #3824
Hi, any news on this update?

[2022-07-04 10:42] pdevaguptapu commented on #3824
Hi, Is there any update ? We are waiting and keeping our fingers crossed. The threat is still open

[2022-07-04 14:41] SvetlanaMaliugina commented on #3878
Hi @astlock, thanks for reporting. We are currently working on more prioritized issues but will get back to this one soon.
Yes, could you please try to reproduce it on the 2.202.1 version?

[2022-07-04 15:13] sassonyaniv commented on #3896
hey,

you were right , my os permissions were very weird, had to reset them.
i could install libcurl3 but it has some conflict with other packages (ros-melodic, i had to reinstall it), now everything is working

thank you very much

[2022-07-04 16:13] #3896 closed

[2022-07-04 21:43] IvanDonoso commented on #2734
hi jweyer8
I did not find the origin, but something that worked for me was to delete everything and reinstall the runner with this link
https://docs.github.com/actions/hosting-your-own-runners/adding-self-hosted-runners#adding-a-self-hosted-runner-to-a-repository

[2022-07-06 19:12] JamieMagee commented on #2967
@anatolybolshakov I think this can be closed now that #3861 is merged

[2022-07-10 11:16] No1e commented on #3641
Hi. Can we get support here?

[2022-07-11 07:30] alexander-smolyakov commented on #3579
@strtdusty do you have any updates?

[2022-07-11 08:06] #3894 closed

[2022-07-11 08:35] BenH-Puregym opened #3898 "self-hosted agents not removing after job finishes"
I have a self-hosted agent setup as per the documentation [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops).
I've added `run once` to the script as per documentation [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops) however sometimes it removes the agent and sometimes it doesn't which results in lots of r

[2022-07-11 12:04] strtdusty commented on #3579
We still see the same behavior with the deployment stuck running forever
after upgrading to the latest agent version.

On Mon, Jul 11, 2022, 12:30 AM Alexander Smolyakov ***@***.***>
wrote:

[2022-07-11 15:07] RemcoDEV commented on #3863
We experience this issue too. Any ETA when this will be fixed?

[2022-07-12 06:43] TedaLIEz commented on #3176
This issue is 100% reproducible even in 2.204.0! It took me hours to find this issue and try to work around it with AZP_AGENT_USE_LEGACY_HTTP=true. Is there an ETA for a fix for this?

[2022-07-12 19:30] parvski opened #3901 "Self Hosted Agent registers and Immediately goes Offline w/error Error 12175 calling WINHTTP_CALLBACK_STATUS_REQUEST_ERROR, A security error occurred"
## Agent Version and Platform
2.153.1

OS of the machine running the agent? OSX/Windows/Linux/...
Windows 2019 Standard

## Azure DevOps Type and Version
Azure DevOps Server release
17.153.29207.5 (AzureDevOps2019.Update1)

## What's not working?
Agent registers without issue using either negotiate or PAT with full access scope. Diagnostic logs show the service starting. Once the agent makes the f

[2022-07-13 12:11] astlock commented on #3878
Hi @SvetlanaMaliugina, unfortunately, the same situation on the 2.201.1 version. See attached logs
[Agent_20220713-111128-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/9101889/Agent_20220713-111128-utc.log)
[Agent_20220713-111152-utc.log](https://github.com/microsoft/azure-pipelines-agent/files/9101890/Agent_20220713-111152-utc.log)
[Worker_20220713-111214-utc.log](https://gith

[2022-07-13 13:03] jeffpatton1971 commented on #2985
Hi,

The issue had to do with connecting to multiple repos with the same service connection. The workaround was to create a service connection for each repo that we needed to connect to.

_It's awkward and stupid, and I really don't understand why it's a thing, but this is where we are._

I think perhaps that the GitHub service connecting thing needs to be updated to accommodate maybe more than on

[2022-07-13 18:23] eric-gonzalez-tfs commented on #3869
Hi @SvetlanaMaliugina has there been any updates on this? Any advice would be appreciated.

[2022-07-13 20:30] lamoboos223 commented on #3825
Dear @alexander-smolyakov kindly reopen the issue as I'm facing the same thing and still without solution how to tackle this.

Microsoft eng team your crucial support is needed.

Thank you.

[2022-07-14 00:05] lamoboos223 opened #3905 "agent v2.204.0 invalid SSL"
This is a summary about my machine and OS

[code]

[code]

when I attempt to install the agent

[code]

I get the following screenshot

<img width="711" alt="image" src="https://user-images.githubusercontent.com/35597031/178856918-28f99d5e-41eb-4be9-b84c-b4a2a0c0d050.png">

this is the output of `/home/ubuntu/azagent/_diag/Agent_20220713-235125-utc.log`

[code]

[2022-07-14 06:30] sahin52 opened #3906 "Individual CI doesn't work, while manual trigger works fine - Azure Devops Server - Self Signed Certificate"
I am using an Azure DevOps Server 2020 on my Windows 2019 server. And I use a git server (Bonobo) to have my repository (Selected other git, when configuring repository source). I use self signed certificate for this repository.
In my Azure Devops Server, I set this config:
[code]
since cert is self signed. Now, *when I run the pipeline manually, I can start the pipeline and it works like a charm*

[2022-07-14 07:21] alexander-smolyakov commented on #3905
Closing as duplicate of #3834

[2022-07-14 07:21] #3905 closed

[2022-07-14 11:23] Bidthedog commented on #3792
This was on agent v2.200.2. I just updated to 2.204.0 and it seems to be running quickly again, FYI. I shall continue to monitor and report back if it reverts.

[2022-07-14 12:05] AndreyIvanov42 commented on #3824
@pdevaguptapu @a1exstr @mc0re
Sorry guys for the late reply.
At the moment, the updated agent deploys to all rings. I'll let you know when the agent is fully rolled out.

For now, you can use the pre-release agent - https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.206.1.

[2022-07-14 12:58] lamoboos223 commented on #3834
Dear @alexandrejulien I still can’t install the agent on ubuntu 22.04. I shared with you the _diag folder. Please advise on what should I do next?

[2022-07-14 13:08] astlock commented on #3878
This problem occurs at least 1 time out of 5-10 runs, which greatly affects our CI/CD and the business as a whole.

[2022-07-14 13:12] astlock commented on #3898
The documentation says that the agent will be stopped, not removed. Some script from the outside should handle the removal from the pool. We do it like this.
[code]

[2022-07-14 14:22] BenH-Puregym commented on #3898
I don't see where it says it will be just be stopped? it says it will "spin down gracefully":
`Agents in this mode will accept only one job and then spin down gracefully (useful for running in [Docker](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops) on a service like Azure Container Instances).`
they should be removed every time and like I said they sometim

[2022-07-14 19:02] victorsarmi commented on #3448
how i do this? in powershell or windows 10?

[2022-07-14 19:26] lamoboos223 commented on #3834
@alexandrejulien

This is a summary about my machine and OS

[code]

[code]

when I attempt to install the agent

[code]

I get the following screenshot

<img width="711" alt="image" src="https://user-images.githubusercontent.com/35597031/178856918-28f99d5e-41eb-4be9-b84c-b4a2a0c0d050.png">

this is the output of `/home/ubuntu/azagent/_diag/Agent_20220713-235125-utc.log`

[code]

[2022-07-15 21:26] lamoboos223 commented on #3834
guys your support is crucial 💔

[2022-07-17 10:02] #3602 closed

[2022-07-17 10:02] #3093 closed

[2022-07-18 01:42] BenWibking opened #3909 "agent config.sh crashes on AlmaLinux 9 aarch64"
## Agent Version and Platform
Version of your agent? v2.204.0

OS of the machine running the agent? Linux (AlmaLinux 9.0)

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server? dev.azure.com

If dev.azure.com, what is your organization name? https://dev.azure.com/quokka-code

## What's not working?
Crashes with the error: `No usable vers

[2022-07-18 08:15] #3805 closed

[2022-07-18 16:36] KonstantinTyukalov commented on #3906
Hi @sahin52 thank you for reporting!
We are currently working on higher priority tickets, let us come back soon.

[2022-07-18 22:50] BenWibking commented on #3909
Well, no. RHEL 9 (and derivatives) ship with OpenSSL 3: https://www.redhat.com/en/blog/experience-bringing-openssl-30-rhel-and-fedora

[2022-07-18 22:54] BenWibking commented on #3909
This link says .NET 3.1 is compatible with RHEL 7+, which is just incorrect w.r.t. RHEL 9: https://github.com/dotnet/core/blob/main/release-notes/3.1/3.1-supported-os.md#linux

[2022-07-18 23:37] dgokeeffe commented on #2043
@anatolybolshakov

I think this is a feature that certainly needs to be prioritized ASAP

[2022-07-19 14:54] colta95 opened #3911 "ADO Agent Going Offline Intermittently"
I have a bunch of self-hosted ADO agents running on windows 11 machines. They're running in a command prompt (not as a service) because we sometimes want to turn off the agent while we test something on the machine.

Occasionally, an agent would show up as offline on the "Agent pool" page, even though the machine is still running and after I've set the machines to high performance mode - so they s

[2022-07-19 18:58] deal0f49-21 opened #3912 "Azure Devops - Unable to update hosted agent from v2.202.0 to v2.204.0"
Updating the agent though DevOps page in the Agent Pool section does not update the agent to the latest version. It results in following error during the update and settles on the current version without any update.

**C:\agent\_work\_update\bin\Agent.Listener.dll does not have a valid MS signature.
   at Microsoft.VisualStudio.Services.Agent.Listener.InstallerVerifier.VerifyFileSignedByMicrosoft(

[2022-07-20 08:44] anatolybolshakov commented on #2043
Hey @dgokeeffe I'm no longer working on project - cc @alexander-smolyakov @kirill-ivlev for visibility

[2022-07-21 06:46] KonstantinTyukalov commented on #3911
Hi @colta95, thank you for reporting. At this moment we are working on higher priority tickets, but will get back to this one soon.

Are you referring to replacing an agent for a job already in progress? This is not possible because the agent stores the context of the running job locally.
You can skip the desired agent when executing a pipeline only if the job has not yet been started.
For pipelin

[2022-07-21 08:41] Ravio1i commented on #3825
I'm facing the exact issue with v2.204.0, aswell. Please reopen!

[2022-07-22 07:30] AndreyIvanov42 commented on #3824
Hi @pdevaguptapu @a1exstr @mc0re
Updated [agent](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.206.1) released

[2022-07-22 07:30] #3824 closed

[2022-07-22 13:35] scottdallamura opened #3913 "Support for using `--no-tags` instead of always `--tags`"
Currently checkout steps always use `--tags`.  Azure DevOps is adding support to the UX and yaml to control this behavior, in order to help customers more easily have quicker checkouts.

For old designer builds, the server will augment the repository properties with a `fetchTags` property with a value of `false` if the user opts-out of fetching tags
For yaml pipelines, the checkout task will suppo

[2022-07-22 14:57] GeorgeFoxRazor opened #3914 "Azure Devops pipelines failing since Current agent version changed from '2.204.0' to '2.206.1'."
I have an Azure devops pipeline that is running on ubuntu-latest. It uses a Docker image to run DBT commands. It uses a Hosted Agent and was working fine until the Current agent version changed from '2.204.0' to '2.206.1'. Since the updgrade it has been throwing the error ##[error]Bash exited with code '139'. The step that is throwing the error is docker run docker-image:latest dbt source freshnes

[2022-07-22 15:20] colta95 commented on #3911
Hey @KonstantinTyukalov! Thanks for the reply!

In our case, we're running the pipeline on every machine in the test lab for each run, because each machine has different hardware configurations.

We specify the agents to run in the yml script with this line:  `demands: Agent.name -equals $(agentName)`. And under the `strategy` field we have a `matrix` that lists each machine and their `agentName`.

[2022-07-22 16:35] DenisRumyantsev commented on #3914
Hi @GeorgeFoxRazor, could you provide pipeline debug logs, agent diagnostic logs, and worker diagnostic logs for successful and failed runs to compare? To get these logs, could you run both pipelines with `System.Debug` and `agent.diagnostic` pipeline variables enabled (set to `true`)?
[code]
Could you also provide the Docker image and repro-steps to help us to reproduce this issue?

To prevent se

[2022-07-22 17:17] KarstenB opened #3915 "vso[artifact.upload] performance is ridiculously slow"
## Agent Version and Platform
Version of your agent? 2.204

OS of the machine running the agent? Linux Debian Bullseye

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com)

If dev.azure.com, what is your organization name?
https://dev.azure.com/siemens-energy-siprotec

## What's not working?
We are building our software and want to upload artifacts. The name and amount of ar

[2022-07-22 19:03] KarstenB commented on #3915
When I manually use `PublishPipelineArtifact@1` it only takes 18s, which I would consider fair given that the data is uncompressed.

[2022-07-22 21:19] KonstantinTyukalov commented on #3912
Hi @deal0f49-21!
We support Windows Server starting from version [2012](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-windows?view=azure-devops#check-prerequisites)
We are not supporting Windows Server 2008.
This problem is not reproduced on newer operating systems.

Is it possible in your case to upgrade to a newer version of Windows Server to meet our requirements?

Thank you

[2022-07-24 08:09] mohammad-yousuf commented on #3184
any updates?

[2022-07-24 08:27] mohammad-yousuf opened #3916 "Unable to run .NET MAUI Mac catalyst built with MS hosted macOS agent x64 on MacBook arm64 (m1) chip."
**Issue Description:**

My Azure DevOps pipeline running on MS hosted macOS agent is unable to run .pkg app after installation on macOS arm64, whereas it runs fine on intel processor mac.

[2022-07-25 08:55] rui-tsg-je opened #3919 "The bearer is not valid until"
I have created a release pipeline in the Azure DevOps and I have installed Azure Agent in a Windows 2019.
The Azure Pipeline Agent service fails to start.

Agent Version and Platform
Installed version of hosted agent ? v2.202.1

OS of the machine running the agent? Windows Server 2019

Azure DevOps Type and Version : dev.azure.com

Agent and Worker's Diagnostic Logs
[code]

These are server Date a

[2022-07-25 10:35] DenisRumyantsev commented on #3916
Hi, @mohammad-yousuf, currently the agent is not supported for `macOS M1` as the agent still uses `.NET 3.1`.
However, we are going to migrate the agent to `.NET 6` in the nearest future, and this issue will be resolved after migration.

[2022-07-25 10:44] mohammad-yousuf commented on #3916
Hi @DenisRumyantsev, thanks for getting back, do we have a timeframe for this?

[2022-07-25 12:08] michielvanderros-tomtom commented on #838
Such a simple fix (`Build.SourceBranchFullName`) for something that was clearly overlooked initially, and 5 years later the complaints keep coming and the bug just keeps on getting closed without a fix.

[2022-07-25 12:26] maxgio92 commented on #838
It's not a but @michielvanderros-tomtom, it's a feature :-)

[2022-07-25 15:55] DenisRumyantsev commented on #3919
Hi, @rui-tsg-je, thanks for reporting this issue. We will take a look at it when we finish working on more prioritized issues.

[2022-07-25 19:02] #2931 closed

[2022-07-25 19:11] SymbioticKilla commented on #2931
No Plan to support alpine?

[2022-07-26 17:07] DenisRumyantsev commented on #3914
@GeorgeFoxRazor, I have got logs, thanks.
As far as I can tell, the agent itself is doing its job well, and versions of tasks used in the pipeline are the same.
But the agent uses a different environment in the working case ([20220626.1](https://github.com/actions/virtual-environments/releases/tag/ubuntu20%2F20220626.1)) and in the case with the error ([20220717.1](https://github.com/actions/virtu

[2022-07-27 08:53] alexander-smolyakov opened #3922 "Migration to `.NET 6` (`OpenSSL 3.0` and `M1` architecture support)"
## Description

At the moment Azure Pipelines Agent targets the `.NET Core` v.`3.1`. We need to migrate it to `.NET 6` to provide support for:
- OpenSSL 3.0
- Native support for `M1` architecture

## Current progress

- [x] Update codebase to target `.Net 6`
- [x] Update release pipeline to provide a native build for the `M1` platform
- [x] Update CI checks to test new platforms (In progress)
- [x

[2022-07-27 12:00] williamoconnorme commented on #3719
As this PR has not been merged yet, in case anyone is looking for a workaround in the interim it is possible to set an environment variable for `java` and `jdk` so that your build agent has those capabilities

Here's some powershell that I use in my build agent build scripts that will do just that:

`choco install microsoft-openjdk -y --params="/ADDLOCAL=FeatureMain,FeatureEnvironment,FeatureJarFi

[2022-07-27 13:08] DenisRumyantsev commented on #3916
@mohammad-yousuf, we do not have the exact date, but we have created a public ticket about the `.NET 6` migration — [link](https://github.com/microsoft/azure-pipelines-agent/issues/3922).

So, feel free to track the progress of the migration in the public ticket, and let me close this issue.

[2022-07-27 13:08] #3916 closed

[2022-07-27 14:14] KonstantinTyukalov commented on #3909
Hi @BenWibking
we created a public ticket about status of agent migration to `.net 6` - https://github.com/microsoft/azure-pipelines-agent/issues/3922

Let me close this issue then.
If you have any concerns, feel free to ask and we will reopen it.

[2022-07-27 18:37] anatolybolshakov commented on #3668
Hey @crh225 I'm no longer working on project, but I believe it should be already rolled out 😃
cc @alexander-smolyakov @kirill-ivlev for confirmation maybe

[2022-07-27 19:09] alexander-smolyakov commented on #3668
Hey @crh225, we have updated git to version 2.36.1 in agent v2.206.1.

Related release notes: https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.206.1

So let me close this issue since agent v2.206.1 is now available to all ADO users.

[2022-07-27 19:09] #3668 closed

[2022-07-28 08:27] alexander-smolyakov commented on #3692
Closing it in a favour of this ticket:
- #3922

[2022-07-28 08:27] #3692 closed

[2022-07-28 09:16] ckraenzel commented on #3600
As a workaround, try setting:

msbuildLocationMethod: 'location'
msbuildLocation: 'c:\YourInstallationPath'

for the MSBuild task. That way you can circumvent the vswhere localization. Not the most elegant way but it worked for us.

[2022-07-28 11:40] markatky46 commented on #3855
Any resolution or idea why this is happening. Same problem here. Self Hosted agent  via self hosted kubernetes

[2022-07-28 11:41] markatky46 commented on #3855
##[error]Newtonsoft.Json.JsonReaderException: Invalid character after parsing property name. Expected ':' but got: m. Path 'jobContainer', line 1, position 30728.
   at Newtonsoft.Json.JsonTextReader.ParseProperty()
   at Newtonsoft.Json.Serialization.JsonSerializerInternalReader.PopulateObject(Object newObject, JsonReader reader, JsonObjectContract contract, JsonProperty member, String id)
   at

[2022-08-01 08:40] echalone commented on #3482
Not actually stale, right? ^^

[2022-08-01 09:24] sahin52 commented on #3906
I now understand, Individual CI is polling the repository in order to understand if there is a change, while manual trigger works when we click on run. The polling process is the cause of the error.

[2022-08-01 13:30] GeorgeFoxRazor commented on #3914
Thank you for getting back to me @DenisRumyantsev ,

I have run the pipeline on the two self hosted agent versions (2.204.0 and 2.206.1) but I am getting the same bash 139 error as before on both of these agents as well as on the hosted agent. I don't think the issue can be with the environment as when I run the docker container locally and run the same commands it works fine without errors.

[2022-08-02 09:24] max-zaytsev commented on #3792
Hi @Bidthedog

What version of the agent was used in this stage?

[2022-08-03 06:38] DenisRumyantsev commented on #3362
The related pull request is ready — [link](https://github.com/microsoft/azure-pipelines-agent/pull/3837)

[2022-08-03 16:38] alexander-smolyakov commented on #3913
@scottdallamura thanks for your contribution!

The related PR was completed:
- #3907

We will update this issue as soon as the related changes are rolled out to all ADO customers.

[2022-08-03 17:49] drazkiewicz commented on #3825
This issue is still present. agent v2.206.1
Ubuntu 20.04

[2022-08-03 19:39] KonstantinTyukalov commented on #3912
@deal0f49-21 let me close this issue as we are not supporting Windows Server 2008.
Please let us know if you have any questions.
Thanks

[2022-08-03 19:39] #3912 closed

[2022-08-04 06:46] siprbaum commented on #3735
Hm, the above pull request is still not merged ...

[2022-08-04 08:55] deyupopp commented on #3863
In case anyone still has this issue, this happens if you use NDK 23 or higher, with a Xamarin.Android version older than 12.2. We solved our issue by updating Xamarin.Android.

[2022-08-04 09:20] JTOne123 commented on #3863
@deyupopp  what do you mean by this? Do we need to update the target framework to 12 or 12-S, 13? How can I achieve this?

[2022-08-04 14:42] vijayarohinipendyala opened #3930 "After upgrading the self hosted agents to 2.206.1, ADS pipelines are failing, as not all system capabilities are scanned by the Agent."
After upgrading the self hosted agents to 2.206.1, ADS pipelines are failing, as not all system capabilities are scanned by the Agent.
It does not read for system capabilities like: Java, VisualStudio, DotNetFramework, SqlPackage, VSTest, Maven.

Worked fine when the agent version was 2.200.2.

This is breaking majority of our Build and Release pipelines that are using tasks like VSBuild, SQL, Mav

[2022-08-04 15:37] LiliaSabitova commented on #3930
Hi @vijayarohinipendyala, could you provide pipeline debug logs, agent diagnostic logs, and worker diagnostic logs for successful and failed runs to compare? To get these logs, could you run those pipelines with System.Debug and agent.diagnostic pipeline variables enabled (set to true)?

variables:
  System.Debug: true
  agent.diagnostic: true

To prevent security issues, you can send these logs t

[2022-08-04 16:10] LiliaSabitova commented on #3930
@vijayarohinipendyala could you please also advise the operating system and version your agent runs on?

[2022-08-05 16:18] LiliaSabitova commented on #3930
@vijayarohinipendyala thank you for providing the current log file.
Could you please also provide some old logs from the previous version of agent?

[2022-08-06 09:12] cyberluke opened #3931 "Retrocomputing question"
Hi, I just acquired Unisys Aquanta 6x6 server that cost half milion dollars 20 years ago. It is 6x Pentium Pro server with SMP support (I can get Windows XP / Windows Server 2003 running with some hacks from Longhorn to disable ACPI, which this BIOS does not have).

I just want to have some fun.

Can I compile this Azure Pipelines Agent for x86 Linux? It can be even older version before .NET Core

[2022-08-06 09:19] cyberluke commented on #2479
The Azure syntax is often misleading. It is worse than XSLT. Expressions / variables / input parameters / quotes / no quotes.

Therefore someone should write some tool to evaluate expressions and check them against predefined Azure variables, at least.

Last time, in a company, my development pipeline hog the agent and whole team was stuck and could not run any deployment because of this online Az

[2022-08-06 13:07] #3720 closed

[2022-08-06 17:03] #3481 closed

[2022-08-07 07:02] #3724 closed

[2022-08-07 16:04] asottile opened #3932 "git version does not match the agent documentation"
details here: https://github.com/actions/virtual-environments/issues/6010

[2022-08-08 06:48] deyupopp commented on #3863
It's not the target version of Android that matters here, but the version of Xamarin.Android that you use. This really depends on how you configured CI to use it. We have a script that installs a specific version.

[2022-08-08 06:50] deyupopp commented on #3863
On your local machine, it will come along by updating Visual Studio. If you want to install it without visual studio, you can find it here, under downloads:
https://github.com/xamarin/xamarin-android

[2022-08-08 10:59] azurevivekgarg commented on #2082
Hi
I have a VM in azure as a hosted agent and I have done the same configuration as you have mentioned but still getting the same error. Would you please suggest any fix?

[2022-08-08 14:04] #3483 closed

[2022-08-08 14:13] LiliaSabitova commented on #3932
Hi @asottile!
In virtual environment there is a pre-installed git version 2.37.
But we also ship git with Agent to ensure performance. And its current version is 2.36.1.
That is done by design.

[2022-08-08 14:57] asottile commented on #3932
the version that's on PATH should match the documentation is all I'm asking for

[2022-08-08 14:58] ar-ekta-account commented on #2048
@hez2010 using your Dockerfile i wasn't able to run docker-in-docker. Also gave a try with the docker-image you linked.
Getting the same default error - "Container feature is not supported ..."

[2022-08-08 18:21] LiliaSabitova commented on #3931
Hi @cyberluke, you may face some issues, i.e. with SSL that is deprecated.
But agent is open source, so you can find some old version and feel free to try it.
However, we cannot guarantee that it will work fine and we do not support it.

[2022-08-08 22:02] jessehouwing commented on #3641
See:
https://github.com/jessehouwing/azure-pipelines-tasks-zips

And for background:
https://jessehouwing.net/adding-visual-studio-2022-to-azure-devops-server-2020/

[2022-08-09 10:12] blueww opened #3935 "How to get a ARM64 based agent in Azure pipeline"
## Agent Version and Platform
Version of your agent? 2.144.0/2.144.1/...
OS of the machine running the agent? OSX/Windows/Linux/...

Platform  of your agent: ARM64

I see ARM64 based agent is support in https://github.com/microsoft/azure-pipelines-agent/blob/614efcb60ce620196ee83d417d37cb7a452c97d8/.azure-pipelines/pipeline.yml#L140
We need ARM64 machine for our pipeline, so I try to use the above

[2022-08-09 11:24] #3792 closed

[2022-08-09 14:37] LiliaSabitova commented on #3932
HI @asottile, the [documentation to which you're referring to](https://github.com/actions/runner-images/pull/5957) contains the version of git in the OS image and it's correct.
Agent runs with it's own version of git which is shipped along with Agent. So in your run, agent uses the version which is shipped with Agent itself.

[2022-08-09 14:38] asottile commented on #3932
my tests should use what's documented in the documentation -- otherwise what's the point in documenting that version

[2022-08-09 14:40] asottile commented on #3932
put yourself in the customer's shoes -- all the docs point to git 2.37 and I know that a bug is fixed in 2.37 and yet my tests are showing 2.36 behaviour.  the docs should match reality not some implementation detail that's never communicated

I think the actual bug is that the agent's tools are prepended to the PATH so they override what's documented.

[2022-08-09 15:28] LiliaSabitova commented on #3932
When **agent** clones repo - it uses it's **own git** version, which is shipped with agent.
But **on the virtual machine** itself - the 37 version is installed. [This documentation](https://github.com/actions/runner-images/pull/5957) specifies only the version which is installed on the VM. It's not about the Аgent.

[Here](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.206.1) y

[2022-08-09 15:37] asottile commented on #3932
ok I'll try and put it in a simplified example that you can understand because I feel like you're talking past me and not listening.

here's:

[code]

and the output:

[code]

https://asottile.visualstudio.com/asottile/_build/results?buildId=14089&view=logs&j=94d9d3b4-8e3d-5cdc-d6c7-40ce0e4fea69&t=7ebc23c2-0370-58cc-84d2-d538462b0cd3

[2022-08-09 15:40] asottile commented on #3932
and if you google "software versions azure pipelines" it drops you on this page: https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml

that page says the windows 2022 installed software is listed here https://github.com/actions/runner-images/blob/main/images/win/Windows2022-Readme.md

and that says that git is version 2.37.1.windows.1 https://github.com

[2022-08-09 16:21] LiliaSabitova commented on #3932
Got your point, @asottile
The fact is that Agent overrides the git installed on VM.
Please try the solution described [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/pipeline-options-for-git?view=azure-devops&tabs=yaml#prefer-git-from-path).

And we will consider updating the documentation in a way to make it more obvious.

[2022-08-09 16:29] asottile commented on #3932
this should be the default -- anything else is confusing and surprising

[2022-08-09 16:32] LiliaSabitova commented on #3935
HI @blueww!
You can use any of the [available](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#software) virtual machines in Microsoft-hosted pools.
**1ES_ARM_Agent_Pool** - this is an internal pool, so that's why it's not available.

If you need ARM64 machine to run jobs on - you should set up your own Virtual Machine with this architecture.

[2022-08-10 01:10] blueww commented on #3935
@LiliaSabitova

Thanks for the reply!

When will Azure pipeline has available machine on ARM64?

[2022-08-10 15:07] fcancela commented on #3184
Hey! Could you please provide some updates?

Based on this comment I understand there is a WA:

Is it possible to build with arm64 architecture from the current existing macOS VMs available?

Thanks in advance!

[2022-08-11 06:43] Dimigergo opened #3938 "Agent randomly cancel the build operation"
## Agent Version and Platform
vsts-agent-win-x64-2.206.1

## Azure DevOps Type and Version
Azure DevOps Server 2020 update 1.2 (18.181.32404.7)

## What's not working?
Since the new version of the agent (2.206.1) has been installed, sometimes (random) the builds are cancelled. It seems like the user cancel the build, but it's not the user. (We have two developer who can cancel the build, and I saw

[2022-08-11 10:54] LiliaSabitova commented on #3938
Hi @Dimigergo thanks for your request, we've added this issue to our backlog. We'll take a look at it once we have enough capacity.

[2022-08-11 12:45] LiliaSabitova commented on #3574
Hi @greektreat closing this issue. Feel free to reopen it if it's still relevant for you.

[2022-08-11 12:45] #3574 closed

[2022-08-11 17:21] LiliaSabitova commented on #3935
@blueww

Currently ARM64 machines are [in preview](https://azure.microsoft.com/en-us/blog/now-in-preview-azure-virtual-machines-with-ampere-altra-armbased-processors/).
If you have your own machine on ARM64, you can run agent on it.

Also you can address your question to the [team who is responsible for the VM images](https://github.com/actions/runner-images).

[2022-08-11 20:59] asottile commented on #3932
hmmm it's also inconsistent -- for `script` and `powershell` I get `2.36.1.windows.1` -- for `bash` I get `2.37.1.windows.1`

https://asottile.visualstudio.com/asottile/_build/results?buildId=14094&view=logs&j=94d9d3b4-8e3d-5cdc-d6c7-40ce0e4fea69&t=7ebc23c2-0370-58cc-84d2-d538462b0cd3

[2022-08-12 10:07] blueww commented on #3935
@LiliaSabitova

We don't have a physical ARM64 machine in hand, in this case, is there anyway to validate PR with ARM64 platform by azure pipeline ?

Besides that, if we plan to buy an ARM64 machine (it will take time), do you any recommendation for the module of the machine to buy？ And any guild to add the ARM64 machine to azure pipeline?

[2022-08-12 15:11] tomasopye commented on #3938
My team is also seeing this on the linux agent 2.206.1. Do I need to open a separate issue?

[2022-08-12 16:12] CyberLuke-GBG commented on #3931
Thank you, SSL is not an issue at all because you can set up a proxy server on Windows 10 machine and browse internet securely even on 30 years old machine.

[2022-08-12 16:22] cyberluke commented on #3931
Thank you, SSL is not an issue at all because you can set up a proxy server on Windows 10 machine and browse internet securely even on 30 years old machine.

You know it is a typical business answer: "we do not support it". People like me do not care about it. Because it is often only small technical laziness and more of a business decision to support something or not. Mostly it is a business effo

[2022-08-12 20:46] BillyONeal commented on #3834
Pretty sure this manifests with Scale Set Agents too like this:

<img width="1039" alt="image" src="https://user-images.githubusercontent.com/1544943/184442480-23927e8b-a62a-4ea0-bcb8-5a1841d52b60.png">

with the exit code 100 matching apt's:

https://github.com/microsoft/azure-pipelines-agent/blob/318f22bf7b9a440b394223d775eaddbaafa59bf0/src/Misc/layoutbin/installdependencies.sh#L66

<img width="

[2022-08-12 21:08] BillyONeal commented on #3834
Sorry, just saying this so that maybe Google finds this. The error message there is:

[2022-08-13 08:02] #3671 closed

[2022-08-14 09:02] #3728 closed

[2022-08-15 10:48] Dimigergo commented on #3938
2.198.3 also cancel the builds. :(
Is there any plan to investigate for it, because sometimes every second build has cancelled. :(
I can't downgrade before 2.198.3 because the new net6 msbuild tasks required this agent.

Thanks!

[2022-08-16 13:16] towerbe commented on #2931
Can we reopen this issue? There is full support for .NET Core - at least 3.1 - for Alpine now. Not being able to use Alpine for containerized agents forces us to have huge, bloated containers due to use of other less streamlined OS images.

Related story is #1319

[2022-08-16 17:42] alexandrejulien commented on #3834
Hi dude,
I didn't check on ARM64 architecture but I think you have the same problem.
You have to download and install the openssl 1.1 from this source http://security.ubuntu.com/ubuntu/pool/main/o/openssl/.
I checked quickly but you don't have ARM64 packages on this repository.
I'm not sure if this solution can respond to your problem on ARM64 arch.

[2022-08-17 05:07] mrlioncub commented on #3672
Waiting for a solution...

[2022-08-17 10:55] pimjansen commented on #3834
Got the similar problem with connecting ArgoCD to Azure DEVOPS. Seems that MS still requires ssh-rsa SHA-1 key signature algorithm where this is dropped at OpenSSH 8.8 (part of ubuntu 22.04).

Its just a matter of time since other distro's also do this.

[2022-08-17 12:17] ismayilov-ismayil commented on #3708
@cheesi PR was merged. We'll update the thread when the fix is deployed

[2022-08-17 12:42] johnynfulleffect commented on #3834
Does this mean things are progressing?

https://devblogs.microsoft.com/dotnet/dotnet-6-is-now-in-ubuntu-2204/

[2022-08-18 11:59] echalone commented on #3483
can we reopen this feature request since it's still open?

[2022-08-18 12:03] echalone commented on #3481
Also not really stale, sorry only saw it now, can we please reopen this?

[2022-08-19 16:08] MadGwire commented on #3938
Same issue with 2.204.0. :(
That occur when we queue more than one build to an agent.

[2022-08-20 23:30] dude0001 commented on #2803
Has anyone found a solution?

[2022-08-21 14:03] echalone commented on #3484
no really stale

[2022-08-23 17:59] steven-hyland commented on #1601
I came across this issue when I was searching for a solution to my problem, so I'm going to leave my solution here in case it helps someone else someday.

The above solution from TingluoHuang did not work for me. After adding that config setting, I continued to get errors like this. I also tried several variations with different `http.xyz` and `credential.xyz` config settings and nothing worked.
[

[2022-08-24 08:03] #3752 closed

[2022-08-24 12:03] #3416 closed

[2022-08-24 15:23] GaTechThomas commented on #1601
Be careful setting global git configs on agent machines, since global can cause side effects in other processes. Specifically, it injects the token of the current job at a level accessible by other processes (current and later), and that token is short lived - this means that its both a security issue and a breaking change for the other processes the moment the token is invalidated. Additionally,

[2022-08-24 16:10] steven-hyland commented on #1601
Well either way, your comment got me thinking again, and after some experimentation I just discovered that the previous solution posted with the `extraHeader` options does seem work if I include the `--global` option. Without that it just continues prompting for a username/password, which it can't do because this is running in CI.

I guess these two methods are essentially equivalent, but after th

[2022-08-25 00:39] shikhargiri commented on #838
is this feature to get Branch full name ever going to be released?

[2022-08-25 23:02] cyberluke commented on #3931
Today I spoke with Microsoft developer, there is some .NET build by a community for Linux x86.

I guess it is this one: https://github.com/Servarr/dotnet-linux-x86/releases

Includes .NET 6.0 and .NET 7.0 and it works on x86 Linux. So that could work!

[2022-08-27 12:41] sam-crisp commented on #3176
Running Ubuntu 20.04 and could never get service to go past the 'Connecting to the server' error to Azure DevOps Server. Thought it might be SSL related but no logs to indicate. I installed 7 different versions of the agent including the prerelease 2.209.0 to see if anything could help. No dice; same connecting standoff.

Took the suggestion here and installed v2.165.0 and finally got it to connec

[2022-08-27 12:46] sam-crisp opened #3948 "Connecting to the server' error for v.2.181.2>"
Running Ubuntu 20.04 and could never get service to go past the 'Connecting to the server' error to Azure DevOps Server. Thought it might be SSL related but no logs to indicate. I installed 7 different versions of the agent including the prerelease 2.209.0 to see if anything could help. No dice; same connecting standoff.

[Took the suggestion here](https://github.com/microsoft/azure-pipelines-agen

[2022-08-27 13:27] emi662002 commented on #3948
I'm experiencing the same, but I get sporadicly some further, sometimes even connection, (though it hangs when receiving a job)

it's exactly whats described here:
https://github.com/microsoft/azure-pipelines-agent/issues/3093#issuecomment-726202183

i'm using Ubuntu 20.04.

[2022-08-29 12:01] DmitriiBobreshev commented on #3948
Hi @sam-crisp!
Thanks for your request, we've added this issue to our backlog. We'll take a look at it once we have enough capacity.

[2022-08-29 23:29] Jonathon52306 commented on #3935
You can use oracle cloud. Their ARM64 server is really cheap

[2022-08-30 08:04] eqinox76 commented on #3834
The issue still persists with `vsts-agent-linux-x64-2.209.0.tar.gz` on Ubuntu 22.04 LTS. The workaround described by @oviliz works fine.

[2022-08-30 11:36] leandromsft commented on #3891
Hi @DmitriiBobreshev , I have the same question from my client. Please anyone clarify this issue? Thanks.

[2022-08-30 14:24] SuperJC710e commented on #3834
Yes, still need to do the work-around. I've updated our [above script](https://github.com/microsoft/azure-pipelines-agent/issues/3834#issuecomment-1164862377) to "auto-detect" the latest `libssl1.1` if you pass `LIBSSLVERSION="latest"` to it. Thought this might be of use to someone, you should be able to adapt it as necessary:

[code]

Hopefully we'll see an updated agent soon and not need to jump

[2022-08-30 16:59] alexandrejulien commented on #3834
No, .Net 6 was already available on Ubuntu with the Microsoft aptitude repository for Ubuntu since the .Net 6 release date.
Now it's just available directly from official Ubuntu packages without adding Microsoft repository.
It's a good news for the .net runtime, because all mainstream runtimes for Python, Perl, PHP, Java can be installed on Ubuntu by this way.

But I'm sure they are in progress in

[2022-09-01 08:24] blueww commented on #3935
@Jonathon52306

I find a guild for ARM64 Azure VM onboard. https://microsoft.sharepoint.com/teams/SantaClara/SitePages/Onboarding.aspx

As Azure VM already support ARM64 by following this guild, would you please add the ARM64 support to Azure piepline?

[2022-09-01 08:46] echalone opened #3950 "UnitTest localization bugs"
# UnitTest localization problems
Five UnitTests have problems on some non-english systems (at least in German, French, Italian and Spanish) and will fail although they shouldn't. This is due to differently named system accounts in different languages and different decimal separators in different language cultures.

**I would have already fixed the problem in those UnitTests and have already create

[2022-09-01 08:48] echalone opened #3951 "[Feature request] Add new agent capability that allows repositories to be checked out below work directory level on self hosted agents"
This is a feature request for a new agent capability that would allow self hosted agents to check out repositories below the work directory level (so for example below "/_work", instead of just below the build pipeline directory level for example "/_work/1"), so large repositories can be shared between build pipelines without taking up space for each and every pipeline.
This feature should be disa

[2022-09-01 09:04] DmitriiBobreshev commented on #3951
Hi @echalone!

Thank you for your request and for the PR, we will test & review it, once we will have capacity.

[2022-09-01 09:08] DmitriiBobreshev commented on #3950
Hi @echalone!

Thank you again for noticing it, if you know how to fix it, please, fill free to create pr, we will test & review it, otherwise, we will fix unit tests for this cases once we will have a little bit more time.

[2022-09-01 09:09] DmitriiBobreshev commented on #3950
Hi @echalone

Thank you again for noticing that and thanks a lot for the PR, we will test & review it when we will have a little bit more time.

[2022-09-01 13:23] mohammad-yousuf opened #3953 "pipeline failing with An error occurred while provisioning resources (Error Type: Failure). The remote provider was unable to process the request."
**Description:** Azure pipelines fails to provide agent.

Target agent machine: **MS-Hosted macos-12**

**Region**: Southeast Asia and Central US.

I checked service health and everything looks fine.

![image](https://user-images.githubusercontent.com/46201508/187924594-6e1db24f-bcd9-44df-96bc-9130d9747cb6.png)

[2022-09-01 14:33] #3878 closed

[2022-09-01 15:05] rajeshsys commented on #2757
None of the above worked for me. In my case the issue was due to an & as special character.
$password = "b**&**d9oVyEY1SJRJog8j"
.\config.cmd --unattended --url $url --auth pat --token $token --pool $pool --agent $agent --runAsService --windowsLogonAccount $user --windowsLogonPassword """$password""" --replace

For me what worked is above. triple quote your variable as shown above

[2022-09-01 15:05] rajeshsys commented on #1796
None of the above worked for me. In my case the issue was due to an **&** as special character.

$password = "b**&**d9oVyEY1SJRJog8j"
.\config.cmd --unattended --url $url --auth pat --token $token --pool $pool --agent $agent --runAsService --windowsLogonAccount $user --windowsLogonPassword **"""$password"""** --replace

For me what worked is above. triple quote your password variable as shown abov

[2022-09-02 13:02] dstretch opened #3956 "Update Git in Windows agent"
Hi,

The bundled version of Git included in the DevOps agent is still 2.36.1.1 which has a [fairly serious security vulnerability](https://www.cvedetails.com/cve/CVE-2022-29187/).

Any chance we could get it updated to the latest build please?

Thanks!

[2022-09-02 15:39] speedpacer commented on #3599
I couldn't get this working on Ubuntu but was able to on Fedora 36 Server with just the following:

sudo dnf install dotnet-sdk-3.1
export AZP_AGENT_USE_LEGACY_HTTP=true

[2022-09-02 15:42] speedpacer commented on #3834
I couldn't get this working on Ubuntu but did on Fedora 36 Server with just the following:

sudo dnf install dotnet-sdk-3.1
export AZP_AGENT_USE_LEGACY_HTTP=true

[2022-09-04 22:56] flutterfromscratch commented on #3834
I had to install libssl1.1 from here: https://ubuntu.pkgs.org/18.04/ubuntu-main-arm64/libssl1.1_1.1.0g-2ubuntu4_arm64.deb.html, and then the azure agent started working.

[2022-09-05 02:25] kamronbatman commented on #2043
This was an issue with Fedora (35/36) and it was ok since I wasn't using sudo. But something changed recently and now errors are fatal on initialize the containers to all of my pipeline builds are broken. Not sure what to do.

https://dev.azure.com/modernuo/modernuo/_build/results?buildId=3501&view=logs&j=5a725d0b-2de3-5d5a-cd56-05b5afe52cda&t=d0e9459a-a89b-48bf-9f9d-66d4b268d541&l=52

[2022-09-05 05:40] Jeremiad commented on #3834
Just a friendly reminder that when you install stuff out of your configured repositories you won't be getting any automatic updates to these packages.

[2022-09-05 06:41] KonstantinTyukalov commented on #3956
Hi, @dstretch, thank you for providing the information! Let us take a look at it.

For security issues, please next time use Microsoft Security Response Center, or [secure@microsoft.com](mailto:secure@microsoft.com) as described [here](https://github.com/microsoft/azure-pipelines-agent/blob/master/SECURITY.md#reporting-security-issues).

Thanks!

[2022-09-05 06:59] dstretch commented on #3956
Thank you. I thought that was only if I'd discovered a security problem
myself though, rather than requesting that out of date tools are updated.

I will do so in future.

On Mon, 5 Sept 2022, 07:41 Konstantin Tyukalov, ***@***.***>
wrote:

[2022-09-07 19:00] drwill-ms commented on #1501
@ericsciple Is there any update on support for conditional matrix elements using the '${{ if **condition** }}` notation?

[2022-09-08 07:21] sumit84mca commented on #3540
This is very required request. I also need to install application and then reboot on deployment group agents.

[2022-09-09 10:15] Dimigergo commented on #3938
New release 2.210.0 has the same issue. :(

[2022-09-09 12:47] theolivenbaum commented on #3184
Anything Microsoft?

[2022-09-09 15:20] askshaik commented on #3532
I am also getting the same error and I followed the above-suggested step but error is still prevailing

For switch syntax, type "MSBuild -help"
##[error]Error: The process '/usr/bin/dotnet' failed with exit code 1
##[warning].NET 5 has some compatibility issues with older Nuget versions(<=5.7), so if you are using an older Nuget version(and not dotnet cli) to restore, then the dotnet cli commands

[2022-09-10 04:33] vf-doctor commented on #3385
Is there any update on when these vulnerabilities will be addressed?  Both the main and the alternative agent still have numerous high and critical vulnerabilities.  This is currently a blocker on our SOC 2 audit.

[2022-09-11 09:34] tuckstarrydell opened #3964 "dont match pipes"
## Having issue with YAML?
Please log an issue at [Azure-Pipelines-YAML](https://github.com/Microsoft/azure-pipelines-yaml). Over there we discuss YAML templates, samples for Azure Pipelines, and designs for upcoming YAML features. Also a place for the community to share best practices, ideas, and so on. File suggestions and issues here if they're specific to YAML pipelines.

## Having issue with

[2022-09-12 07:15] #3742 closed

[2022-09-12 08:22] BriceLag commented on #3935
Hi @LiliaSabitova ,
Have you got any news about that ticket ?
On our side, we have created an ARM64 custom image, create a VMSS, based on our custom image, add it into Azure Devops, but when we want to use it we have that error message:
VM has reported a failure when processing extension 'Microsoft.Azure.DevOps.Pipelines.Agent'. Error message: "The Extension failed to execute: The current CPU arch

[2022-09-12 10:44] #3964 closed

[2022-09-12 16:10] BenH-Puregym commented on #3855
I'm also running self-hosted agents on AKS and getting the exact same thing reported here: sometimes it succeeds first time and other times you need to run 2-3 times for it to succeed because you keep getting the dreaded `We stopped hearing from agent`. It seems to appear randomly on unrelated stages doing a whole range of different tasks.

[2022-09-13 01:32] #3468 closed

[2022-09-13 10:16] rlopezgit commented on #1416
still not planning to work on a powershell core handler?

[2022-09-13 18:59] JimSuplizio commented on #3932
I have a similar issue to @asottile because of the git versions. I'm also running into a similar problem because of the git version. I'm expecting the default git version to be [what's documented](https://github.com/actions/runner-images/blob/main/images/win/Windows2019-Readme.md) for the runner image which is supposed to be 2.37.3.windows.1. There were some default changes in git behavior with sp

[2022-09-14 07:59] LiliaSabitova commented on #3930
Hi @vijayarohinipendyala, please advise whether this issue is still relevant for you?

[2022-09-14 17:32] murcek commented on #3938
Hi,
we are facing same issue.
In builds and in releases. While you trigger new build/release after previous job is still running, even when another agent is available, the first job is cancelled without reason.
This issue we get after upgrading TFS to version 2020
Tested agents are 2.186.1; 2.204.0; 2.206.1; 2.210.1 for Windows X64
Operating system for self-hosted agents is Windows Server 2016.

[2022-09-14 20:37] KonstantinTyukalov commented on #3855
Hi @getvivekv @BenH-Puregym @markatky46 could you please share more information on this approach:
- Agent version in which the problem occurred
- minimal YAML definition and AKS configuration which can help us reproduce the problem

If you have any private information, please send it to akvelon-build-tasks@microsoft.com.

Thanks

[2022-09-15 10:28] BenH-Puregym commented on #3855
@KonstantinTyukalov, always pulls the latest, it just uses this [script](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#linux) at the time of writing it's using **2.210.1**

unsure what i can provide on your second point because the agent is just built on linux using the script i mentioned above with some added extras and then that's deployed to AKS as a Ke

[2022-09-15 12:27] let-thomas commented on #3938
We have same issue.

[2022-09-15 14:53] promicroNL opened #3965 "##vso[task.setvariable has varying results with the same variables in different builds"
## Agent Version and Platform
Version of your agent? 2.206.1

OS of the machine running the agent? Windows

## Azure DevOps Type and Version
dev.azure.com

https://dev.azure.com/ATS-Global-Products/

## What's not working?
Issue was first posted on https://github.com/microsoft/azure-pipelines-task-lib/issues/866
The results of using Powershell to Write-Host ##vso[task.setvariable is varying when u

[2022-09-15 15:38] vmapetr commented on #3965
Hi @promicroNL,
Thank you for your report!
We will close the previous https://github.com/microsoft/azure-pipelines-task-lib/issues/866 and proceed with this one when we'll have the capacity.

[2022-09-15 18:05] Jenp commented on #3855
Hi all,
@mmrazik and the team are working on debugging this issue however we are having difficulty reproducing. We believe there is a truncation of the JSON payload which is causing the error based on what we can see from the Azure DevOps Pipeline side. Anyone able to work with us on a shared debugging effort?

[2022-09-16 07:20] Etele85 opened #3966 "VSTS agent on Windows 11 not started automatically after boot"
## Have you tried troubleshooting?
yes

## Agent Version and Platform
2.210.1 and Azure

OS of the machine running the agent? OSX/Windows/Linux/...
Windows Enterprise N (win11-21h2-entn)

## What's not working?
Agent stays offline until loggin into the machine. If I login to the machine agent started and gets online in ADO org without any problem.
We install VSTS agent via some automation to the m

[2022-09-16 11:21] Rahkola opened #3967 "Pipeline execution transforms %3 away from string literals"
Not sure if this belongs to the YAML repository or here:

When having the following YAML pipeline:

[code]

The output reported in Azure DevOps pipeline run is following:

[code]
If I run same echo on my local PC, the cmd correctly echoes test%3D instead of testD. This becomes a bigger problem when trying to set such strings, which include '%3D' into secret variables with` ##vso[task.setvariable v

[2022-09-16 11:44] dbzowkakpmguk opened #3968 "update azure PowerShell modules to latest versions"
az modules are outdated.

should be:
Az.Account module 2.10.1
az.eventgrid  module 1.4.0

[2022-09-16 15:19] vmapetr commented on #3966
Hi @Etele85
Thank you for your report! We will check this issue once we will have capacity.

[2022-09-16 16:55] vmapetr commented on #3968
Hi @dbzowkakpmguk,
Thank you for your report! The following modules are populated from the machine environment - could you please specify what type of agent you use - hosted / self-hosted.

[2022-09-17 18:12] HoLengZai commented on #3461
Thanks @ChristopheLav, @marcuslopes, @Jean-FrancoisBeaudet
Your investigation saved me a bunch of time.

I think i found the workaround (by using the command `chattr` in the custom script). I know this issue is closed (even i don't think it should be closed) and a bit old.
It will be great and easier if Microsoft dev team can publish the git repo of this extension. It would be much easier to figur

[2022-09-17 18:42] HoLengZai commented on #3461
Here is my final script without comments and (finally) unused commands:

[code]

[2022-09-18 05:07] HoLengZai commented on #3461
Additional investigation:
In all the case, as mentioned on my previous comment.
The main difference between the VM pipeline agent extension and the Microsoft hosted agent is that the first one does not run the agent as a service.
- VM pipeline agent extension use './run.sh' and put the process in the background
- Microsoft hosted use './runsvc.sh' (not to say install the agent as a service in syst

[2022-09-18 10:02] #3759 closed

[2022-09-18 10:02] #3737 closed

[2022-09-18 11:02] #3776 closed

[2022-09-19 06:54] Rahkola commented on #3967
Further findings. I made a simple test to set see how `cmd + echo` work when compared to `powershell + Write-Host`

`script: echo test%1%2%3%4%5%6%7%8%9%a%b%cendtest` will output `testbcendtest`
`powershell: Write-Host test%1%2%3%4%5%6%7%8%9%a%b%cendtest` will output `test%1%2%3%4%5%6%7%8%9%a%b%cendtest`

Interesting enough, the echo will sometimes remove only the % char, sometimes % and the trail

[2022-09-19 09:13] dbzowkakpmguk commented on #3968
Hello,

Thank you for coming back to me.

Here is a screen scrape:

***@***.***

Agent spec is:
Windows-latest.

From: Maksim Petrov ***@***.***>
Sent: 16 September 2022 17:56
To: microsoft/azure-pipelines-agent ***@***.***>
Cc: Bzowka, Dariusz ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [microsoft/azure-pipelines-agent] update azure PowerShell modules to latest versions (Issue #396

[2022-09-20 09:32] dstretch commented on #3956
Hi, any news on plans to update this?  Our security team are chasing us for having a vulnerable version of Git installed on our servers... Thanks!

[2022-09-20 12:03] Xiphereal opened #3971 "Appium UI tests fails after ~15 minutes of Agent inactivity"
## Agent Version and Platform
Version of your agent? 2.198.3/2.210.1

OS of the machine running the agent? Windows NT 10.0.19044

## Azure DevOps Type and Version
dev.azure.com (formerly visualstudio.com) or on-premises TFS/Azure DevOps Server? On-premise Azure DevOps Server

If on-premises, which release? 2020 Update 1.2

## What's not working?
Some context: we're implementing UI tests with Appiu

[2022-09-20 13:14] mmrazik commented on #3855
@BenH-Puregym, @getvivekv We will need some help here from you on your specific setup as we can't reproduce the issue despite trying for several days. Looking at the code we are using standard and very widely used library to serialize/deserialize the json and I don't expect the issue be there. More likely there is something in your environment that triggers this and we would need more info (e.g. a

[2022-09-20 13:49] getvivekv commented on #3855
@mmrazik My team reports that they are no longer seeing this error after we had the [outage on Azure](https://www.bleepingcomputer.com/news/microsoft/microsoft-azure-outage-knocks-ubuntu-vms-offline-after-buggy-update/) which forced us to reboot all the nodes on the Kubernetes cluster. The team also moved several of the critical pipeline to use a VM based agent as this was a blocker for us for sev

[2022-09-20 14:20] mmrazik commented on #3855
Ok. I am closing this for now.

[2022-09-20 14:21] #3855 closed

[2022-09-20 15:49] max-zaytsev commented on #3914
Hi @GeorgeFoxRazor, is this still actual for you?

[2022-09-21 05:38] ismayilov-ismayil commented on #3956
Hi @dstretch, we are working on it. We will notify you once we have updated version

[2022-09-21 08:57] dstretch commented on #3956
Brilliant, thanks

[2022-09-22 08:00] max-zaytsev commented on #3971
Hi @Xiphereal,
We are working on more prioritized issues at the moment but will get back to this one soon.
At this moment could you please post your question here https://developercommunity.visualstudio.com/search?space=21&entry=problem

[2022-09-22 17:47] Eldarrin commented on #3891
Hi @Alexlofern , @leandromsft ,

I’ve added some new functionality to Keda using ado agents. Take a look here https://keda.sh/docs/2.8/scalers/azure-pipelines/ at the updated docs. This is a simple container calling the start.sh script from the MS self hosted agent page.

cheers, Eld

[2022-09-22 21:18] akiaei01 opened #3972 "Parallel stages stuck in queue despite available agent"
## Agent Version and Platform
Version of your agent? 2.144.0/2.144.1/...
working agent (ADPTRTSTWIN02): 2.202.0
broken agent (ADPTRTSTWIN05): 2.202.2, and then upgraded to 2.210.1 where it still does not work

OS of the machine running the agent? OSX/Windows/Linux/...
Windows

## Azure DevOps Type and Version
https://dev.azure.com/osieng

## What's not working?

In one of our multistage pipelines,

[2022-09-22 23:08] #3972 closed

[2022-09-22 23:34] Alexlofern commented on #3891
Hi @Eldarrin, the major problem is the agent need docker in docker, after release 1.19, aks user containerd without support

https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#use-azure-kubernetes-service-cluster

[2022-09-22 23:41] Alexlofern commented on #3891
Hi @Eldarrin, how do you run azure devops agente withou DinD? https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#use-azure-kubernetes-service-cluster

[2022-09-23 07:58] Xiphereal commented on #3971
Done, [here](https://developercommunity.visualstudio.com/t/Appium-UI-tests-fails-after-15-minutes/10156083?space=21&entry=problem&q=Appium+UI+tests+fails+after+%7E15+minutes+of+Agent+inactivity) it is.

[2022-09-23 08:02] Eldarrin commented on #3891
Hi @Alexlofern, you can run docker-in-docker without binding to the docker sock. You setup a PVC that will be the dind container disk, this caches and persists reboots, then a dind service to connect to it from another pod, then a dind container that is privileged but not socket bound. Then you access that via a docker network.

I have put my sample code here: https://github.com/Eldarrin/aks-docke

[2022-09-23 11:40] lsprado commented on #3891
Hi @Eldarrin
I'm still confused 😢
self-hosted agent is supported on a kubernetes cluster above 1.18?

[2022-09-23 11:43] Eldarrin commented on #3891
HI @lsprado , yes. I am not sure if its official MSFT support but I am running the self-hosted agents on AKS 1.22.11

[2022-09-23 11:58] leandromsft commented on #3891
@DmitriiBobreshev do you have any update about this issue?

[2022-09-23 12:03] leandromsft commented on #3891
Hi @Eldarrin
the question that in the documentation is saying that it's only supported on AKS versions 1.18 or below.
If I use AKS 1.22.11 like you, and I have a problem, will we ever get support from the product team?

@DmitriiBobreshev  any update about this question?

[2022-09-23 12:04] ahmedsza commented on #3891
@Eldarrin . You have this working with the docker in docker - i,e I can run docker build and use container jobs.. I looked at your repo - but was not sure on the steps to do this by myself. There seems to be 2 docker containers - one for the agent and then something else?

and importantly  - is this supported?

[2022-09-23 12:09] Eldarrin commented on #3891
This is what I have done to work around the removal of docker as the container system in AKS. My first solution was as detailed above. An independent docker in docker container using docker's own image and mounting a pvc to cache (pvc isn't required) and using a docker-network so that the agent uses docker's swarm network tech rather than trying to connect to the incluster docker.
I very much doub

[2022-09-23 12:23] Eldarrin commented on #3891
Just realised there is another way I had it working in development. Create a linux VM that has docker installed and set DOCKER_HOST in the agent and let the VM worry about the docker side of it

[2022-09-23 20:48] luumarodrigues commented on #3891
Hi @DmitriiBobreshev , do you already have a date to work in this question? I have the same question from my client and I would like to give him a more specific feedback. Please anyone to clarify this issue?

Regards

[2022-09-25 17:06] #3774 closed

[2022-09-26 09:18] dbzowkakpmguk commented on #3968
any update ?

[2022-09-26 11:34] xorinzor commented on #1359
The windows service recovery settings don't work either, after the same error as OP it just quits. Doesn't make any attempt at restarting the service despite it being configured to keep trying to restart the service.

[2022-09-26 16:17] HofmeisterAn commented on #3790
The issue still exists.

[2022-09-26 19:20] palladia opened #3974 ""No usable version of libssl" on RHEL 9"
Using v2.210.1 on a RHEL 9 VM, I get following error when executing config.sh:

Enter personal access token > ****************************************************
No usable version of libssl was found
./config.sh: line 86: 61342 Aborted                 (core dumped) ./bin/Agent.Listener configure "$@"

[2022-09-27 05:03] DenisRumyantsev commented on #3974
Hi, @palladia, thanks for reporting the issue, we will investigate it

[2022-09-28 13:28] rasmuseeg commented on #2814
I think this has been deployed. The prompt asked if I would like to set SERVICE_SID_TYPE_UNRESTRICTED when deploying a new environment agent on a virtual machine.

[2022-09-29 05:29] ruaan commented on #3599
Worked for me on Ubuntu 22.04  - export AZP_AGENT_USE_LEGACY_HTTP=true

[2022-09-29 08:57] akoeplinger commented on #3277
This is still an issue.

[2022-09-29 10:14] stefanes opened #3976 "Add support for generating warnings from .setup_info"
## Agent Version and Platform
Version of your agent? **2.210.1**

OS of the machine running the agent? **Linux**

## Use case
We are currently generating custom Ubuntu 18.04 images based on the [runner-images](https://github.com/actions/runner-images) repo, for use with [scale set agents](https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops). These are

[2022-10-01 15:02] #3564 closed

[2022-10-01 19:01] danishskyhive commented on #3459
I did export COMPlus_EnableDiagnostics=0 but still the agent startup failed with error Failed to create CoreCLR, HRESULT: 0x80004005

[2022-10-02 14:03] #3045 closed

[2022-10-03 06:42] vishnuprakash9845 opened #3977 "Unable to connect to https://dev.azure.com/{organization}. A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond."
### Agent Version and Platform
v.2.210.1 and Windows 10 OS and 8 GB RAM

### Azure DevOps Type and Version
On-premises Azure DevOps Server

### What's not working?
We are unable to configure self hosted agents (tested with the three VM's mentioned above with same configurations), they fail with "Unable to connect to https://dev.azure.com/{organization}. A connection attempt failed because the conn

[2022-10-03 07:53] ruaan commented on #3599
I would also recommend adding it to the runsvc.sh

#!/bin/bash

# convert SIGTERM signal to SIGINT
# for more info on how to propagate SIGTERM to a child process see: http://veithen.github.io/2014/11/16/sigterm-propagation.html
trap 'kill -INT $PID' TERM INT

if [ -f ".path" ]; then
    # configure
    export PATH=`cat .path`
    echo ".path=${PATH}"
fi

# insert anything to setup env when running

[2022-10-03 11:36] #3971 closed

[2022-10-03 16:30] lukemaslany-next commented on #2877
Hello, all.

I've just tripped over the same issue when trying to set a build tag in a pipeline using an inline bash task, where the tag contains a semi-colon.

My command is:
[code]

The error is:
[code]

Does anyone have an example of this working in a pipeline?  I'd happily take either Bash or PowerShell at this stage...

I'm currently running agent version `2.210.1` on a runner image using `ub

[2022-10-04 08:42] yene commented on #3294
Azure pipeline has now an option `fetchTags: false`

[code]

[2022-10-04 10:02] #3583 closed

[2022-10-04 10:02] #2824 closed

[2022-10-04 13:43] sergey-koryshev opened #3980 "Update image RHEL6 to RHEL7.2"
Need to update image `RHEL6` to `RHEL7.2` since `RHEL6` has issues with `node16`

Affected build: [buildId=18450988](https://dev.azure.com/mseng/PipelineTools/_build/results?buildId=18450988&view=logs&j=58d1366a-3ab9-50c3-03b2-47e3af106e05&t=96e5c86a-3f7e-5016-a589-7d0d225fc186)

Error:

[code]

[2022-10-04 14:29] cristobal commented on #1580
Is this one the plan anywhere in the future?

Would be nice to use it in the pipeline template.
I know that one can use the `- template: filename.yaml` for stages, but would be nice to have this feature e.g. reuse of variables references across stages.

Also would be handy in cases where one needs to set the same values for the `include.paths` in the `pr` and `trigger` sections of the azure pipeli

[2022-10-05 09:05] #3412 closed

[2022-10-05 12:56] leeh14 opened #3982 "MSB1009 Project file does not exist with agent version 2.211.0"
Once the agent version went from 2.210 to 2.2111 my scheduled builds without changing anything suddenly kept throwing the MSB1009 error.
Version 2.210:
![image](https://user-images.githubusercontent.com/6685053/194064210-59567e1d-5737-42f7-9929-2cf423b5bdc0.png)
Then later in the day it updated to 2.211
![image](https://user-images.githubusercontent.com/6685053/194064357-508e2ae2-20d8-4367-a5b2-a5

[2022-10-05 12:57] tejas-nagchandi commented on #3858
I am able to create tags using ```--addvirtualmachineresourcetags --virtualmachineresourcetags tag1,tag2``` syntax.

I am not sure if tags here are key-value pairs or just tags, but with "tag1,tag2" comma separated keywords, I am able to achieve the requirement.

[2022-10-05 13:08] tejas-nagchandi commented on #3858
But, the point raised in #3086 is still valid that ```--addvirtualmachineresourcetags --virtualmachineresourcetags``` arguments are missing from the help documentation.
[code]

@max-zaytsev : Help documentation should be updated for these arguments.

[2022-10-05 13:41] LiliaSabitova commented on #3930
Hi @vijayarohinipendyala , could you please advise whether this issue is still relevant for you?

[2022-10-05 14:44] max-zaytsev commented on #3982
@leeh14 was the version of the visual studio build task changed?

[2022-10-05 15:06] leeh14 commented on #3982
@max-zaytsev  nope the version was not changed. It has been at 1.x the entire time
![image](https://user-images.githubusercontent.com/6685053/194094860-1541bd62-37a6-4deb-9b77-c93ed551f6bf.png)
I believe it shows in the 3rd and fourth screen shot as 1.208.0 both times Let me know if that's not the build version you're looking for

[2022-10-05 15:54] leeh14 commented on #3982
@max-zaytsev That looks like it did the trick if you don't mind me asking am I correct to assume because the default value was true it wasn't correctly resolving the path?
I appreciate your quick assistance in this matter.

[2022-10-05 16:09] #3285 closed

[2022-10-06 06:15] vishnuprakash9845 commented on #3977
Yes, we tried on the VM's. We are able to access URL.

[2022-10-06 07:35] max-zaytsev commented on #3982
@leeh14 There was a change in tf vc command manager which caused this problem. Setting `agent.TfVCUseSecureParameterPassing` to `false` helps to fall back to the previous logic.
We are going to investigate the issue and prepare a hotfix.  Thank you for reporting!

[2022-10-06 08:14] LiliaSabitova commented on #3935
Hi @BriceLag, could you please advise which OS and version of agent do you use? Did you tried to use the latest version of agent?  Could you please try it and provide the logs in case if issue still reproduces.
To get these logs, could you run the pipeline with System.Debug and agent.diagnostic pipeline variables enabled (set to true)?

variables:
System.Debug: true
agent.diagnostic: true

To prev

[2022-10-06 08:22] max-zaytsev commented on #3982
@leeh14 could you please provide us with[ pipeline json](https://learn.microsoft.com/en-us/azure/devops/pipelines/get-started/clone-import-pipeline?view=azure-devops&tabs=classic#build-pipeline) file for investigation?
You can send it to v-mazayt@microsoft.com

[2022-10-06 08:31] LiliaSabitova commented on #3931
Hi @cyberluke, did I get you right, that you need a tool to validate pipelines?
Currently, we don't have such a tool. Pipeline scheme is being validated by Azure DevOps itself, and only when you try to run it.
We don't have api for the validation at the moment, but you may find existing ones useful - https://github.com/microsoft/azure-devops-node-api. There is a method that triggers build, and you

[2022-10-06 13:47] CyberLuke-GBG commented on #3931
Hi, no, that is not helpful and I did this research before posting it here. Scheme validation only is not enough, mainly due to expression syntax. Development of Azure pipelines is now worse than XSLT.

In XSLT editor it will check also the expressions. So with this in mind, there is 90's technology that is more advanced and have that capability of checking and validating something.

I also look i

[2022-10-06 17:15] leeh14 commented on #3982
@max-zaytsev I have sent the email

[2022-10-07 09:40] axelgenus commented on #3602
I am also experiencing this issue with Debian 11 running in an LXC unpriviledged container (with options keyctl=1, nesting=1).

Last line of the log (tracing enabled) shows:

``
[2022-10-07 09:34:09Z INFO VisualStudioServices] Finished operation Location.GetConnectionData
``

The it gets stuck.

[2022-10-08 03:00] vsalvino commented on #2043
I am also facing this issue. I simply need to add an external deb repo - which is impossible to do in the hosted agent, and subsequently impossible to do in a docker container due to this behavior. Thanks to the many suggestions above, this is the solution that worked for me:

[code]

[2022-10-08 10:57] xkszltl commented on #2043
@vsalvino Love that approach, that's a nice and clean way of online escalation. You may want to set env DEBIAN_FRONTEND=noninteractive to avoid waiting for user input.

[2022-10-08 11:09] xkszltl commented on #2043
@vsalvino Love that approach, that's a nice and clean way of online escalation. You may want to set env DEBIAN_FRONTEND=noninteractive to avoid waiting for user input.

[2022-10-10 09:56] #3980 closed

[2022-10-10 18:33] SebastianSchuetze commented on #3138
Still interesting for me as well!

[2022-10-10 22:56] IbrahimUmar commented on #3294
How to run this for UI Pipeline? Thank You

[2022-10-11 06:48] Quixotical commented on #3834
FWIW I had to use this package to get it to work

[code]

[2022-10-12 06:21] tomtom1992 commented on #1359
I have the same issue with Error 1068

[2022-10-12 10:19] mikeblakeuk commented on #2479
@vtbassmatt any news on this?

[2022-10-12 12:25] vtbassmatt commented on #2479
I haven't worked on Azure Pipelines in almost 2 years, so I have no insight into the status of anything.

[2022-10-12 13:38] george-lloyd-nbs commented on #3167
Hi,
Is there a way to bypass this control?
Thanks

[2022-10-12 14:04] cyberluke commented on #3931
@LiliaSabitova linked issue: https://github.com/microsoft/azure-pipelines-agent/issues/2479

[2022-10-12 14:27] dbzowkakpmguk commented on #3968
this is what I have on agent:

agent:
2022-10-12T14:19:54.4424718Z Agent name: 'Hosted Agent'
2022-10-12T14:19:54.4425350Z Agent machine name: 'WIN-1G03HQFUVT5'
2022-10-12T14:19:54.4425656Z Current agent version: '2.211.0'
2022-10-12T14:19:54.4558061Z ##[group]Operating System
2022-10-12T14:19:54.4558727Z Microsoft Windows Server 2022
2022-10-12T14:19:54.4559151Z 10.0.20348
2022-10-12T14:19:54.455

[2022-10-13 06:03] smjltd commented on #3977
same thing happening on Azyre DevOps Server with self hosted Agents.

[2022-10-13 07:22] johnwc opened #3991 "Archive task failing with ENOBUFS"
## Agent Version and Platform
Version of your agent? 2.211.0

OS of the machine running the agent? RHEL 8

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
On-prem agent started getting the below error on archive task.
##[error]Error: Archive creation failed for archive file: /var/devops/agent1/_work/25/a/uat.zip
[code]

[2022-10-13 11:31] tbergstedt commented on #3938
Same issue here. Using agent 2.209.1 together with Azure DevOps Server 2020 1.2 patch 3 (since we needed to use a newer agent version in order to build using Visual Studio  2022). Windows Server 2019.

For us, it seems builds can become cancelled as soon as _any_ other build gets queued within the same pool.

[2022-10-13 14:01] aagoldingay commented on #3991
Exact same stack trace encountered on Ubuntu 20.04.5 on 2.211.0

[2022-10-13 14:40] JPardinas commented on #1749
This is it! I think I got an exactly example of what people is asking for:

1. Template `condition-example.yml`
[code]

2. Pipeline call `test.yml`
[code]
3. Result
![image](https://user-images.githubusercontent.com/32940813/195627493-f1b05628-cf69-41ed-9581-75e1cb7dafc1.png)

[2022-10-13 18:41] johnwc commented on #3991
Verified also fails in azure hosted `ubuntu-latest` agents with same stack.

[2022-10-13 20:03] murcek commented on #3938
We have found kind of workaround. Disable automatic agent updates in DevOps Collection settings.
Follow this: https://crushonme.github.io/2021/09/07/How-To-Disable-Agent-Downgrade-In-AzureDevOps/#how-to-disable-agent-downgrade

[2022-10-14 09:42] adovy commented on #3991
Extract files fails as well with ENOBUFS

[2022-10-14 16:57] justinconnell-vallen commented on #3825
This is still present.

VstsAgentCore-linux-x64/2.211.1
Ubuntu 22.04.1 LTS

[2022-10-14 18:44] surlypants commented on #2510
any chance this code can be re-shared?

better yet, any chance this extension will be modularized to support "environment" (as well as the requested "pool"?

2022 and this is still relevant.

[2022-10-14 18:50] brwilkinson commented on #2510
@surlypants sure I moved it here.

https://github.com/brwilkinson/msdn-scriptcenter-repo/blob/main/artifacts/481820/%5B226535%5D%20setDevOpsAgentPool.ps1

I also turned this into a DSC Module:

https://github.com/brwilkinson/DevOpsAgentDSC

[2022-10-14 19:40] amasolini opened #3993 "Linux Agent: "free(): corrupted unsorted chunks" error after starting job"
## Agent Version and Platform
Version of your agent? v2.211.1 (commit 09f0f48)

OS of the machine running the agent? AlmaLinux 8.6 (Sky Tiger)

## Azure DevOps Type and Version
dev.azure.com

## What's not working?
After triggering a release pipeline (with a small, almost empty script that does nothing inside), the agent is crashing with the following error:

Connecting to the server.
2022-10-14 1

[2022-10-16 11:02] #3813 closed

[2022-10-16 11:02] #3807 closed

[2022-10-16 20:03] #3639 closed

[2022-10-17 11:13] alexisatkinson commented on #3922
Given that .NET Core is EOL on 13th December 2022 and the .NET 6 move appears to be a pre-requisite for Ubuntu 22.04 support, is there a view on the likely ETA for .NET 6 support to drop?

[2022-10-17 13:20] #3212 closed

[2022-10-17 15:32] BenH-Puregym opened #3994 "Releases failing randomly with agent error "We stopped hearing from agent""
As per this issue which is now closed. https://github.com/microsoft/azure-pipelines-agent/issues/3855

This is still happening I'm afraid. Didn't happen for a couple weeks and now we've had multiple instances of it happen in the last week. I've been able to capture some more information this time.

So when a job finishes devops should delete the agent so that we have short lived agents... By the l

[2022-10-17 16:11] LiliaSabitova commented on #3993
Hi @amasolini, thank you for reporting the issue. I'm sorry, but we don't support AlmaLinux 8.6.
You can find list of supported operating systems [here](https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops#check-prerequisites).
By the way, have you had previous versions of agent working fine on your system before?

[2022-10-17 19:46] ida-greuelr commented on #3935
We are facing the same problem when using a private agent pool based on the new ARM64  machines offered by Azure, i.e. Instance name: *D8plds v5*.

We use the same configuration, like we use for our AMD64 based pools in relation to scaling configurations and installed OS packages. When starting a pipeline in azure devops and set the pool to our ARM64 based agent pool, the pipeline auto-scales an i

[2022-10-17 21:41] v1adev opened #3995 "Unable to use Azure virtual machine scale set agents - Azure Pipelines Extension error"
Azure VMSS scale set agents stopped working today. Getting the errors below when the Azure Pipelines Extension attempts to scale the VMSS out from 0 to 1.

**Ubuntu 20.04**
Extension type: `TeamServicesAgentLinux`
Extension version: `1.22`
Extension settings (managed by Azure DevOps):
[code]
Error message: `Azure Pipelines Extension failed with message: The Extension failed to execute: HTTP Error

[2022-10-17 23:58] vmapetr commented on #3994
Hi @BenH-Puregym!
Could you please confirm - is it correct, that agents which don't get purged after the job execution, are stuck despite the job outcome, or initially they have the jobs with the same `Invalid character after parsing property name` error from the parent issue?

[2022-10-18 07:21] simonbuerger commented on #3184
Unclear why they didn't post or mention this issue from there, but https://github.com/microsoft/azure-pipelines-agent/issues/3922 seems to be in progress to address this?

[2022-10-18 08:24] BenH-Puregym commented on #3994
Hi @vmapetr , Yes that's right, I haven't seen this `Invalid character after parsing property name` error.

[2022-10-18 11:21] LiliaSabitova commented on #3930
Hi @vijayarohinipendyala, please let me know if this issue is still relevant for you?

[2022-10-18 11:25] LiliaSabitova commented on #3995
Hi @v1adev this is not the issue with agent itself, but with VMSS.
Please create an issue [here](https://developercommunity.visualstudio.com/search?space=21&q=elastic).

[2022-10-18 13:39] #3995 closed, assigned to nobody

[2022-10-18 16:27] mrlioncub commented on #3671
this is relevant for arm64

[2022-10-18 18:23] vmapetr commented on #3994
@BenH-Puregym so it seems the issue is not coming from the communication between the agent and AzDO this time. Could you please clarify - where the cleanup logs that you mentioned in the issue description are coming from? AFAIK, the AzureDevops itself is not managing the agent orchestration in the scope of complete agent deletion, so seems like you got this from the AKS scaler or KEDA, right?
And

[2022-10-19 07:48] BenH-Puregym commented on #3994
We have enrolled the cluster into new relic to get these logs.
We use Keda to watch the queue and deploy/delete the jobs when devops mark them as completion but ofc it's not down to keda to delete the agent from devops, this is what happens in the [script ](https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops#linux)MS provide

I have added the `--once` flag to t

[2022-10-20 08:08] Nicwalle opened #3997 "Powershell ExecutionPolicy Unrestricted blocked by antivirus"
## Agent Version and Platform
Not related to specific version
Windows

## Azure DevOps Type and Version
dev.azure.com Azure DevOps Services (cloud)

If dev.azure.com, what is your organization name? https://dev.azure.com/{organization} or https://{organization}.visualstudio.com

## What's not working?
The execution of the agent is blocked by the McAfee antivirus because the agent runs powershell s

[2022-10-20 08:13] #1294 closed

[2022-10-21 09:47] dstretch commented on #3956
Hi,

I appreciate this is going to keep happening, but Git is now up to v2.38.1 as both 2.37.3 and 2.38.0 have vulnerabilities also :(

Thanks!

[2022-10-21 10:24] CraigCraig-jpeg opened #3998 "./svc.sh: command not found"
The command failed with exit code 1
  0. Determining if Azure Pipelines agent is configured...
  1. Determining matching Azure Pipelines agent...
  2. Downloading and installing Azure Pipelines agent...
  3. Configuring Azure Pipelines agent...
  [sudo] password for ***: sudo: ./svc.sh: command not found

tried this fix https://github.com/Microsoft/azure-pipelines-agent/issues/1435

but it fails w

[2022-10-21 10:25] CraigCraig-jpeg commented on #3998
tried to get logs but none avalable

[2022-10-21 11:45] Roman-Shchukin commented on #3998
Is the link to the agent in your comment correct? This is Window version but you are talking about Ubuntu.

Did you follow this recommendation to run installdependencies.sh?
https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops#:~:text=The%20agent%20installer%20knows%20how%20to%20check%20for%20other%20dependencies.%20You%20can%20install%20those%20dependencies%2

[2022-10-21 16:10] palladia commented on #3974
Could you provide an estimate on when .NET 6 support will be available?  If it's not soon, could you provide specific packages that must be installed for RHEL 9 to work?

[2022-10-23 11:39] vivuu1989 opened #3999 "Build agent in AKS is faling to deploy"
We are using AzureDevops Server(2020) and trying to install ADO buildagents in AKS service(1.23.8) Which is having Istio (1.13.5
)enabled.

We were refering the Microsoft Document and below are the options tried.

First used Docker file

[code]

Deployment File

[code]

Getting Below error

[code]

[2022-10-24 07:28] Roman-Shchukin commented on #3999
It looks like a network problem. Could you check by pinging this address or something like that?

[2022-10-24 08:00] vivuu1989 commented on #3999
Tried telnet to the given address on port 443 from the aks node and it's
getting connected.

On Mon, 24 Oct, 2022, 10:28 am Roman-Shchukin, ***@***.***>
wrote:

[2022-10-24 08:53] Roman-Shchukin commented on #3999
You did it from inside docker container?

[2022-10-24 09:07] #3982 closed

[2022-10-24 09:30] vivuu1989 commented on #3999
It's running on aks cni based network concept. So telnet is tried from the
node itself as containers and nodes in same network in azure cni network
model.

On Mon, 24 Oct, 2022, 11:53 am Roman-Shchukin, ***@***.***>
wrote:

[2022-10-25 07:32] alenros opened #4004 "Release version"
Latest pre-release version is 3.212.0
The release before that was 2.211.1
Shouldn't the pre-release version be 2.212?

https://github.com/microsoft/azure-pipelines-agent/releases/tag/v3.212.0

[2022-10-25 07:56] Roman-Shchukin commented on #4004
It's pre-release of agent version on .net 6.
2.211.1 version on .net 3.1
3.xxx and 2.xxx version will supported simultaneously. We will add a description to this release

[2022-10-25 07:58] #4004 closed

[2022-10-25 13:08] vivuu1989 commented on #3999
when I tried to run the above built image as a docker conatiner agent from one of the buildagent machine itself, getting below error

docker run -e AZP_URL=<Azure DevOps instance> -e AZP_TOKEN=<PAT token> -e AZP_AGENT_NAME=mydockeragent dockeragent:latest

[code]

Here I am using same MS provided start.sh and Dockerfile to build the image.  Why its failing when its running as a standalone containe